Repository openvinotoolkit/openvino, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ci-maintainers, @openvinotoolkit/openvino-admins, @openvinotoolkit/openvino-legal-maintainers, @openvinotoolkit/openvino-scripts-maintainers, @openvinotoolkit/openvino-configuration-mgmt, @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-c-api-maintainers, @openvinotoolkit/openvino-js-api-maintainers, @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-lpt-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-gna-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-auto-batch-maintainers, @openvinotoolkit/openvino-hetero-maintainers, @openvinotoolkit/openvino-ie-template-maintainers, @openvinotoolkit/openvino-common-frontend-maintainers, @openvinotoolkit/openvino-ir-frontend-maintainers, @openvinotoolkit/openvino-ie-paddle-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers, @openvinotoolkit/openvino-pytorch-frontend-maintainers, @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers, @openvinotoolkit/openvino-tools-maintainers, @openvinotoolkit/openvino-pot-maintainers, @openvinotoolkit/omz-maintainers, @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino_contrib-arm_plugin-maintainers

.github/CODEOWNERS:

# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino-maintainers

# CI
/Jenkinsfile  @openvinotoolkit/openvino-ci-maintainers
/.github/  @openvinotoolkit/openvino-ci-maintainers
/.ci/  @openvinotoolkit/openvino-ci-maintainers
/.github/CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# Licensing:
/licensing/ @openvinotoolkit/openvino-legal-maintainers
/LICENSE @openvinotoolkit/openvino-legal-maintainers

# OpenVINO Scripts:
/scripts/  @openvinotoolkit/openvino-scripts-maintainers
/scripts/install_dependencies/  @openvinotoolkit/openvino-configuration-mgmt @openvinotoolkit/openvino-scripts-maintainers
/install_build_dependencies.sh @openvinotoolkit/openvino-scripts-maintainers @openvinotoolkit/openvino-ie-maintainers

# OpenVINO Core:
/src/inference/  @openvinotoolkit/openvino-ie-maintainers
/src/common/conditional_compilation/ @openvinotoolkit/openvino-ie-maintainers
/src/common/itt/ @openvinotoolkit/openvino-ie-maintainers
/src/common/preprocessing/ @openvinotoolkit/openvino-ie-maintainers
/src/common/util/ @openvinotoolkit/openvino-ie-maintainers
/thirdparty/ @openvinotoolkit/openvino-ie-maintainers
/.gitmodules @openvinotoolkit/openvino-ie-maintainers

/src/bindings/python/ @openvinotoolkit/openvino-ie-python-api-maintainers
/src/bindings/c/ @openvinotoolkit/openvino-c-api-maintainers
/src/bindings/js/ @openvinotoolkit/openvino-js-api-maintainers
/src/common/*transformations/  @openvinotoolkit/openvino-ie-transformations-maintainers
/src/core/  @openvinotoolkit/openvino-ngraph-maintainers

# OpenVINO Samples:
/samples/c/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-c-api-maintainers
/samples/cpp/  @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-maintainers
/samples/python/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/samples/js/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-js-api-maintainers
/thirdparty/zlib/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/json/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/gflags/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/cnpy/ @openvinotoolkit/openvino-samples-maintainers

# OpenVINO Func Tests:
/src/tests/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/frontends/tests/frontend/shared/ @openvinotoolkit/openvino-ie-tests-maintainers
/thirdparty/gtest/ @openvinotoolkit/openvino-ie-tests-maintainers

# OpenVINO CPU:
/src/plugins/intel_cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/common/snippets/ @openvinotoolkit/openvino-ie-cpu-maintainers
/thirdparty/xbyak/ @openvinotoolkit/openvino-ie-cpu-maintainers

# OpenVINO LPT
/src/common/low_precision_transformations/  @openvinotoolkit/openvino-ie-lpt-maintainers

# OpenVINO GPU:
/src/plugins/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/tests/**/gpu/ @openvinotoolkit/openvino-ie-gpu-maintainers
/thirdparty/ocl/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers

# OpenVINO GNA:
/src/plugins/intel_gna/  @openvinotoolkit/openvino-ie-gna-maintainers

# OpenVINO Auto (MULTI) plugin:
/src/plugins/auto/  @openvinotoolkit/openvino-ie-auto-multi-maintainers

# OpenVINO Auto (Batch) plugin:
/src/plugins/auto_batch/ @openvinotoolkit/openvino-auto-batch-maintainers

# OpenVINO Hetero plugin:
/src/plugins/hetero/ @openvinotoolkit/openvino-hetero-maintainers

# OpenVINO Template plugin:
/src/plugins/template/ @openvinotoolkit/openvino-ie-template-maintainers

# OpenVINO Frontends:
/src/frontends/common/ @openvinotoolkit/openvino-common-frontend-maintainers
/src/frontends/ir/ @openvinotoolkit/openvino-ir-frontend-maintainers
/src/frontends/paddle/  @openvinotoolkit/openvino-ie-paddle-maintainers
/src/frontends/tensorflow/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_common/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_lite/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/pytorch/ @openvinotoolkit/openvino-pytorch-frontend-maintainers

# OpenVINO ONNX Frontend:
/src/frontends/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/thirdparty/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers
/thirdparty/protobuf/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-tf-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers
/tests/layer_tests/ @openvinotoolkit/openvino-tests-maintainers @openvinotoolkit/openvino-mo-maintainers
/tests/layer_tests/pytorch_tests/ @openvinotoolkit/openvino-pytorch-frontend-maintainers
/tests/layer_tests/tensorflow_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/layer_tests/jax_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests/torch_tests @openvinotoolkit/openvino-pytorch-frontend-maintainers

# Tools:
/tools/  @openvinotoolkit/openvino-tools-maintainers
/tools/benchmark_tool/ @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/legacy/ @openvinotoolkit/openvino-samples-maintainers
/tools/openvino_dev/ @openvinotoolkit/openvino-tools-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/mo/  @openvinotoolkit/openvino-mo-maintainers
/tools/ovc/  @openvinotoolkit/openvino-mo-maintainers
/tools/pot/  @openvinotoolkit/openvino-pot-maintainers
/thirdparty/open_model_zoo/ @openvinotoolkit/omz-maintainers @openvinotoolkit/openvino-pot-maintainers

# Documentation
/docs/  @openvinotoolkit/openvino-docs-maintainers
/docs/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers
/**/*.md  @openvinotoolkit/openvino-docs-maintainers
/**/*.svg  @openvinotoolkit/openvino-docs-maintainers
/docs/MO_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-mo-maintainers
/docs/OV_Runtime_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/IE_PLUGIN_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/Extensibility_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/snippets/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino_contrib-arm_plugin-maintainers
/docs/OV_Runtime_UG/supported_plugins/CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-cpu-maintainers
/docs/OV_Runtime_UG/supported_plugins/GNA.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gna-maintainers
/docs/OV_Runtime_UG/supported_plugins/GPU*.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gpu-maintainers

# Configuration management
/**/setup.py  @openvinotoolkit/openvino-configuration-mgmt
/**/requirements*.*  @openvinotoolkit/openvino-configuration-mgmt
/docs/requirements.txt @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-configuration-mgmt

# CMake scripts
/**/cmake/ @openvinotoolkit/openvino-ie-maintainers
/**/*.cmake @openvinotoolkit/openvino-ie-maintainers
/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers

Arange translation 1D end value check
  src/frontends/pytorch/src/op/arange.cpp
Owners: @openvinotoolkit/openvino-pytorch-frontend-maintainers

Code formating
  src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/utils.cpp
Owners: @openvinotoolkit/openvino-pytorch-frontend-maintainers

Typo fix for 1D end check in arange
  src/frontends/pytorch/src/op/arange.cpp
Owners: @openvinotoolkit/openvino-pytorch-frontend-maintainers

Code formating for expand translation
  src/frontends/pytorch/src/op/expand.cpp
Owners: @openvinotoolkit/openvino-pytorch-frontend-maintainers

fix conflict
  cmake/dependencies.cmake
Owners: @openvinotoolkit/openvino-ie-maintainers

Updated input check for slice translation
  src/frontends/pytorch/src/op/slice_scatter.cpp
Owners: @openvinotoolkit/openvino-pytorch-frontend-maintainers

Fix test error
  src/common/util/include/openvino/util/file_util.hpp
  src/inference/src/model_reader.cpp
  src/inference/tests/functional/ov_core_test.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

handle dynamic_quantization_group_size hint
  src/plugins/intel_gpu/include/intel_gpu/op/dynamic_quantize.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/transformations/dynamic_quantize_fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations/dynamic_quantize_fully_connected.hpp
  src/plugins/intel_gpu/src/plugin/transformations/op/dynamic_quantize.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Support without bias
  src/common/transformations/src/transformations/common_optimizations/matmul_split_decomposition.cpp
Owners: @openvinotoolkit/openvino-ie-transformations-maintainers

Comments weight compressed code to pass compiling.
  src/plugins/intel_cpu/src/dnnl_extension_utils.cpp
  src/plugins/intel_cpu/src/dnnl_postops_composer.cpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected_primitive.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

brgemm_t -> brgemm_desc_t, jit_generator constructor changes.
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/jit_kernel_base.cpp
  src/plugins/intel_cpu/src/nodes/mha.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fix format issue
  src/plugins/intel_cpu/tests/functional/utils/cpu_test_utils.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

B=1,L=1 can't match pattern, why?
  src/common/transformations/src/transformations/common_optimizations/matmul_split_decomposition.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/matmul_split_decompose.cpp
Owners: @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Check for dynamic quantization group size limitation
  src/plugins/intel_gpu/src/plugin/transformations/dynamic_quantize_fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

pass group size to gpu primitive
  src/plugins/intel_gpu/include/intel_gpu/primitives/dynamic_quantize.hpp
  src/plugins/intel_gpu/src/plugin/ops/dynamic_quantize.cpp
  src/plugins/intel_gpu/src/plugin/transformations/dynamic_quantize_fully_connected.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

[GPU] Fix twin network failure on dGPU. (#25093)
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

[GPU] Fix twin network failure on dGPU. (#25093)
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

[OV JS] Support string tensors (#25055)
  src/bindings/js/node/include/helper.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/src/preprocess/input_tensor_info.cpp
  src/bindings/js/node/src/preprocess/output_tensor_info.cpp
  src/bindings/js/node/src/tensor.cpp
  src/bindings/js/node/tests/tensor.test.js
Owners: @openvinotoolkit/openvino-js-api-maintainers

[OV JS] Support string tensors (#25055)
  src/bindings/js/node/include/helper.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/src/preprocess/input_tensor_info.cpp
  src/bindings/js/node/src/preprocess/output_tensor_info.cpp
  src/bindings/js/node/src/tensor.cpp
  src/bindings/js/node/tests/tensor.test.js
Owners: @openvinotoolkit/openvino-js-api-maintainers

Update src/core/src/op/constant.cpp
  src/core/src/op/constant.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

Apply suggestions from code review
  src/core/tests/constant.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

Skip weight decompression test.
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Fixing formatting issues
  docs/notebooks/3D-pose-estimation-with-output.rst
  docs/notebooks/animate-anyone-with-output.rst
  docs/notebooks/blip-visual-language-processing-with-output.rst
  docs/notebooks/clip-zero-shot-classification-with-output.rst
  docs/notebooks/cross-lingual-books-alignment-with-output.rst
  docs/notebooks/dolly-2-instruction-following-with-output.rst
  docs/notebooks/hello-npu-with-output.rst
  docs/notebooks/hunyuan-dit-image-generation-with-output.rst
  docs/notebooks/image-bind-with-output.rst
  docs/notebooks/instant-id-with-output.rst
  docs/notebooks/llava-multimodal-chatbot-with-output.rst
  docs/notebooks/llava-next-multimodal-chatbot-with-output.rst
  docs/notebooks/llm-chatbot-generate-api-with-output.rst
  docs/notebooks/llm-chatbot-with-output.rst
  docs/notebooks/magika-content-type-recognition-with-output.rst
  docs/notebooks/mobileclip-video-search-with-output.rst
  docs/notebooks/person-tracking-with-output.rst
  docs/notebooks/stable-diffusion-torchdynamo-backend-with-output.rst
  docs/notebooks/tensorflow-quantization-aware-training-with-output.rst
  docs/notebooks/typo-detector-with-output.rst
  docs/notebooks/videollava-multimodal-chatbot-with-output.rst
  docs/notebooks/vision-background-removal-with-output.rst
  docs/notebooks/wuerstchen-image-generation-with-output.rst
  docs/notebooks/yolov8-obb-with-output.rst
  docs/notebooks/yolov8-object-detection-with-output.rst
  docs/notebooks/yolov8-quantization-with-accuracy-control-with-output.rst
  docs/notebooks/yolov9-optimization-with-output.rst
  docs/notebooks/zeroscope-text2video-with-output.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

resolve review comments
  src/core/src/pass/manager.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

[PY API] Add get_cmake_path help method (#25131)
  src/bindings/python/src/openvino/utils.py
  src/bindings/python/tests/test_utils/test_utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

[PY API] Add get_cmake_path help method (#25131)
  src/bindings/python/src/openvino/utils.py
  src/bindings/python/tests/test_utils/test_utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

[ONNX] Added translation for string constants/inputs (#24189)
  src/frontends/onnx/frontend/src/core/tensor.cpp
  src/frontends/onnx/frontend/src/core/tensor.hpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/onnx_common/src/utils.cpp
  src/frontends/onnx/tests/models/string_constant.prototxt
  src/frontends/onnx/tests/models/string_input.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/tests/test_utils/common_test_utils/src/test_case.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

[ONNX] Added translation for string constants/inputs (#24189)
  src/frontends/onnx/frontend/src/core/tensor.cpp
  src/frontends/onnx/frontend/src/core/tensor.hpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/onnx_common/src/utils.cpp
  src/frontends/onnx/tests/models/string_constant.prototxt
  src/frontends/onnx/tests/models/string_input.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/tests/test_utils/common_test_utils/src/test_case.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

[intel-npu] Adding npu4000 string to zero device (#25142)
  src/plugins/intel_npu/README.md
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
Owners: @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino-maintainers

[intel-npu] Adding npu4000 string to zero device (#25142)
  src/plugins/intel_npu/README.md
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
Owners: @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino-maintainers

install only Python in Docker
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

scalar input test pass. Fix "TransposeToReshape" trigger's new problem.
  src/common/transformations/src/transformations/common_optimizations/matmul_split_decomposition.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/matmul_split_decompose.cpp
Owners: @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

[CPU] Apply int32 instructions directly for ReduceProd-int32 (#25021)
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/reduce.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/reduce.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

[CPU] Apply int32 instructions directly for ReduceProd-int32 (#25021)
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/reduce.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/reduce.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Removes double execution of SymbolicOptimizations from compile_model step (#24920)
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
Owners: @openvinotoolkit/openvino-ie-transformations-maintainers

Removes double execution of SymbolicOptimizations from compile_model step (#24920)
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
Owners: @openvinotoolkit/openvino-ie-transformations-maintainers

Remove explicity set for compiler type
  src/plugins/intel_npu/tests/functional/internal/overload/compiled_model/property.cpp
Owners: @openvinotoolkit/openvino-maintainers

Fix conv, deconv tests and debug log.
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/matmul.cpp
  src/plugins/intel_cpu/src/nodes/pooling.cpp
  src/plugins/intel_cpu/src/onednn/iml_type_mapper.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

try with symlink
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

image
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
Owners: @openvinotoolkit/openvino-ci-maintainers
