Repository openvinotoolkit/openvino, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ci-maintainers, @openvinotoolkit/openvino-admins, @openvinotoolkit/openvino-legal-maintainers, @openvinotoolkit/openvino-scripts-maintainers, @openvinotoolkit/openvino-configuration-mgmt, @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-c-api-maintainers, @openvinotoolkit/openvino-js-api-maintainers, @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-lpt-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-gna-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-auto-batch-maintainers, @openvinotoolkit/openvino-hetero-maintainers, @openvinotoolkit/openvino-ie-template-maintainers, @openvinotoolkit/openvino-common-frontend-maintainers, @openvinotoolkit/openvino-ir-frontend-maintainers, @openvinotoolkit/openvino-ie-paddle-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers, @openvinotoolkit/openvino-pytorch-frontend-maintainers, @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers, @openvinotoolkit/openvino-tools-maintainers, @openvinotoolkit/openvino-pot-maintainers, @openvinotoolkit/omz-maintainers, @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino_contrib-arm_plugin-maintainers

.github/CODEOWNERS:

# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino-maintainers

# CI
/Jenkinsfile  @openvinotoolkit/openvino-ci-maintainers
/.github/  @openvinotoolkit/openvino-ci-maintainers
/.ci/  @openvinotoolkit/openvino-ci-maintainers
/.github/CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# Licensing:
/licensing/ @openvinotoolkit/openvino-legal-maintainers
/LICENSE @openvinotoolkit/openvino-legal-maintainers

# OpenVINO Scripts:
/scripts/  @openvinotoolkit/openvino-scripts-maintainers
/scripts/install_dependencies/  @openvinotoolkit/openvino-configuration-mgmt @openvinotoolkit/openvino-scripts-maintainers
/install_build_dependencies.sh @openvinotoolkit/openvino-scripts-maintainers @openvinotoolkit/openvino-ie-maintainers

# OpenVINO Core:
/src/inference/  @openvinotoolkit/openvino-ie-maintainers
/src/common/conditional_compilation/ @openvinotoolkit/openvino-ie-maintainers
/src/common/itt/ @openvinotoolkit/openvino-ie-maintainers
/src/common/preprocessing/ @openvinotoolkit/openvino-ie-maintainers
/src/common/util/ @openvinotoolkit/openvino-ie-maintainers
/thirdparty/ @openvinotoolkit/openvino-ie-maintainers
/.gitmodules @openvinotoolkit/openvino-ie-maintainers

/src/bindings/python/ @openvinotoolkit/openvino-ie-python-api-maintainers
/src/bindings/c/ @openvinotoolkit/openvino-c-api-maintainers
/src/bindings/js/ @openvinotoolkit/openvino-js-api-maintainers
/src/common/*transformations/  @openvinotoolkit/openvino-ie-transformations-maintainers
/src/core/  @openvinotoolkit/openvino-ngraph-maintainers

# OpenVINO Samples:
/samples/c/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-c-api-maintainers
/samples/cpp/  @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-maintainers
/samples/python/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/samples/js/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-js-api-maintainers
/thirdparty/zlib/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/json/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/gflags/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/cnpy/ @openvinotoolkit/openvino-samples-maintainers

# OpenVINO Func Tests:
/src/tests/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/frontends/tests/frontend/shared/ @openvinotoolkit/openvino-ie-tests-maintainers
/thirdparty/gtest/ @openvinotoolkit/openvino-ie-tests-maintainers

# OpenVINO CPU:
/src/plugins/intel_cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/common/snippets/ @openvinotoolkit/openvino-ie-cpu-maintainers
/thirdparty/xbyak/ @openvinotoolkit/openvino-ie-cpu-maintainers

# OpenVINO LPT
/src/common/low_precision_transformations/  @openvinotoolkit/openvino-ie-lpt-maintainers

# OpenVINO GPU:
/src/plugins/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/tests/**/gpu/ @openvinotoolkit/openvino-ie-gpu-maintainers
/thirdparty/ocl/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers

# OpenVINO GNA:
/src/plugins/intel_gna/  @openvinotoolkit/openvino-ie-gna-maintainers

# OpenVINO Auto (MULTI) plugin:
/src/plugins/auto/  @openvinotoolkit/openvino-ie-auto-multi-maintainers

# OpenVINO Auto (Batch) plugin:
/src/plugins/auto_batch/ @openvinotoolkit/openvino-auto-batch-maintainers

# OpenVINO Hetero plugin:
/src/plugins/hetero/ @openvinotoolkit/openvino-hetero-maintainers

# OpenVINO Template plugin:
/src/plugins/template/ @openvinotoolkit/openvino-ie-template-maintainers

# OpenVINO Frontends:
/src/frontends/common/ @openvinotoolkit/openvino-common-frontend-maintainers
/src/frontends/ir/ @openvinotoolkit/openvino-ir-frontend-maintainers
/src/frontends/paddle/  @openvinotoolkit/openvino-ie-paddle-maintainers
/src/frontends/tensorflow/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_common/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_lite/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/pytorch/ @openvinotoolkit/openvino-pytorch-frontend-maintainers

# OpenVINO ONNX Frontend:
/src/frontends/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/thirdparty/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers
/thirdparty/protobuf/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-tf-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers
/tests/layer_tests/ @openvinotoolkit/openvino-tests-maintainers @openvinotoolkit/openvino-mo-maintainers
/tests/layer_tests/pytorch_tests/ @openvinotoolkit/openvino-pytorch-frontend-maintainers
/tests/layer_tests/tensorflow_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/layer_tests/jax_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests/torch_tests @openvinotoolkit/openvino-pytorch-frontend-maintainers

# Tools:
/tools/  @openvinotoolkit/openvino-tools-maintainers
/tools/benchmark_tool/ @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/legacy/ @openvinotoolkit/openvino-samples-maintainers
/tools/openvino_dev/ @openvinotoolkit/openvino-tools-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/mo/  @openvinotoolkit/openvino-mo-maintainers
/tools/ovc/  @openvinotoolkit/openvino-mo-maintainers
/tools/pot/  @openvinotoolkit/openvino-pot-maintainers
/thirdparty/open_model_zoo/ @openvinotoolkit/omz-maintainers @openvinotoolkit/openvino-pot-maintainers

# Documentation
/docs/  @openvinotoolkit/openvino-docs-maintainers
/docs/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers
/**/*.md  @openvinotoolkit/openvino-docs-maintainers
/**/*.svg  @openvinotoolkit/openvino-docs-maintainers
/docs/MO_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-mo-maintainers
/docs/OV_Runtime_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/IE_PLUGIN_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/Extensibility_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/snippets/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino_contrib-arm_plugin-maintainers
/docs/OV_Runtime_UG/supported_plugins/CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-cpu-maintainers
/docs/OV_Runtime_UG/supported_plugins/GNA.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gna-maintainers
/docs/OV_Runtime_UG/supported_plugins/GPU*.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gpu-maintainers

# Configuration management
/**/setup.py  @openvinotoolkit/openvino-configuration-mgmt
/**/requirements*.*  @openvinotoolkit/openvino-configuration-mgmt
/docs/requirements.txt @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-configuration-mgmt

# CMake scripts
/**/cmake/ @openvinotoolkit/openvino-ie-maintainers
/**/*.cmake @openvinotoolkit/openvino-ie-maintainers
/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers

[CPU] Revert changes in KeepConstAndDecompression callback
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

[DOCS] Update nodejs_api docs (#25155)
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

[DOCS] Update nodejs_api docs (#25155)
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

align paths
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

added overload in python api : get_result_index
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/tests/test_runtime/test_model.py
  src/core/include/openvino/core/model.hpp
  src/core/src/model.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-ngraph-maintainers

unwanted change - reverted
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

Add test case.
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Use custom streambuf for weights and stringstream for xml
  src/plugins/intel_npu/src/compiler/include/custom_stream_buffer.hpp
  src/plugins/intel_npu/src/compiler/include/graph_transformations.hpp
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
  src/plugins/intel_npu/tests/functional/behavior/npu_driver_compiler_adapter/custom_stream.cpp
Owners: @openvinotoolkit/openvino-maintainers

[core] Constant strides can be get from bounds tensor (#24992)
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/common.hpp
  src/core/include/openvino/op/constant.hpp
  src/core/src/op/constant.cpp
  src/core/tests/constant.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-ngraph-maintainers

[core] Constant strides can be get from bounds tensor (#24992)
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/common.hpp
  src/core/include/openvino/op/constant.hpp
  src/core/src/op/constant.cpp
  src/core/tests/constant.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-ngraph-maintainers

use full paths
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

[CPU] Always enable weights caching, avoid useless constants repacking
  src/inference/dev_api/openvino/runtime/threading/cpu_streams_executor.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_utils.cpp
  src/plugins/intel_cpu/src/nodes/executors/mlas/mlas_gemm.cpp
  src/plugins/intel_cpu/src/nodes/input.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

rm unused
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
Owners: @openvinotoolkit/openvino-ci-maintainers

Add update_log_level
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Owners: @openvinotoolkit/openvino-maintainers

explicetly set vars
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

Fix unit-test failure
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Update src/bindings/python/tests/test_runtime/test_model.py
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

Update src/bindings/python/tests/test_runtime/test_model.py
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

try with gh output
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

parametrization added
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

joined valid and invalid test functions for get_result_index method
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

joined test_parameter_index functions with parametrization
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

corrected dylib pathcing pattern
  src/bindings/python/wheel/setup.py
Owners: @openvinotoolkit/openvino-configuration-mgmt

fixed win build
  src/bindings/python/wheel/setup.py
Owners: @openvinotoolkit/openvino-configuration-mgmt

benchmark_app: fix npy batch
  samples/cpp/benchmark_app/inputs_filling.cpp
  tests/samples_tests/smoke_tests/test_benchmark_app.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
Owners: @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers

tool - specific substitutions moved to config
  src/plugins/intel_cpu/tools/commit_slider/tests/commit_slider_test.py
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_samples/AC_for_CI.json
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fixed source lib dir
  src/bindings/python/wheel/setup.py
Owners: @openvinotoolkit/openvino-configuration-mgmt

e2e + functional templates added
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_manager.py
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_samples/bm_output.json
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_samples/e2e_for_CI.json
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

linter fix
  src/bindings/python/wheel/setup.py
Owners: @openvinotoolkit/openvino-configuration-mgmt

Minor fix of the time message
  src/plugins/intel_cpu/src/graph.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

[GSOC][CPU][ARM] Activate SDPA Fusion on ARM
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/concat_multiple_query_sdp.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/concat_transpose_sdp_transpose.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/sdpa_group_beam_search.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

feat: Add support for initializing Shape and PartialShape with lists and tuples
  src/bindings/python/src/pyopenvino/graph/partial_shape.cpp
  src/bindings/python/src/pyopenvino/graph/shape.cpp
  src/bindings/python/tests/test_graph/test_core.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

it runs through onednn. accuracy is wrong
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/plugin/transformations/dynamic_quantize_fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/fully_connected_compressed.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Test pass, ready to review.
  src/common/transformations/src/transformations/common_optimizations/matmul_split_decomposition.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/matmul_split_decompose.cpp
Owners: @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fc is re-created. it is handled properly
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/plugin/ops/fully_connected.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Add tbb to OPENVINO_LIB_PATHS
  docs/dev/build_windows.md
Owners: @openvinotoolkit/openvino-docs-maintainers

proper connection for scale port
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/fully_connected.hpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

[GPU] Show duplicated connection properly
  src/plugins/intel_gpu/src/graph/program_dump_graph.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

[TF FE][MOC] Fuse Keras LSTM to LSTMSequence and Optimize TF While with TensorList ops
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow_common/include/helper_transforms/tensor_list_ops_resolver.hpp
  src/frontends/tensorflow_common/src/helper_transforms/tensor_list_ops_resolver.cpp
Owners: @openvinotoolkit/openvino-tf-frontend-maintainers

common line removed from if else block
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers
