Repository openvinotoolkit/openvino, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ci-maintainers, @openvinotoolkit/openvino-admins, @openvinotoolkit/openvino-legal-maintainers, @openvinotoolkit/openvino-scripts-maintainers, @openvinotoolkit/openvino-configuration-mgmt, @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-c-api-maintainers, @openvinotoolkit/openvino-js-api-maintainers, @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-lpt-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-gna-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-auto-batch-maintainers, @openvinotoolkit/openvino-hetero-maintainers, @openvinotoolkit/openvino-ie-template-maintainers, @openvinotoolkit/openvino-common-frontend-maintainers, @openvinotoolkit/openvino-ir-frontend-maintainers, @openvinotoolkit/openvino-ie-paddle-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers, @openvinotoolkit/openvino-pytorch-frontend-maintainers, @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers, @openvinotoolkit/openvino-tools-maintainers, @openvinotoolkit/openvino-pot-maintainers, @openvinotoolkit/omz-maintainers, @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino_contrib-arm_plugin-maintainers

.github/CODEOWNERS:

# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino-maintainers

# CI
/Jenkinsfile  @openvinotoolkit/openvino-ci-maintainers
/.github/  @openvinotoolkit/openvino-ci-maintainers
/.ci/  @openvinotoolkit/openvino-ci-maintainers
/.github/CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# Licensing:
/licensing/ @openvinotoolkit/openvino-legal-maintainers
/LICENSE @openvinotoolkit/openvino-legal-maintainers

# OpenVINO Scripts:
/scripts/  @openvinotoolkit/openvino-scripts-maintainers
/scripts/install_dependencies/  @openvinotoolkit/openvino-configuration-mgmt @openvinotoolkit/openvino-scripts-maintainers
/install_build_dependencies.sh @openvinotoolkit/openvino-scripts-maintainers @openvinotoolkit/openvino-ie-maintainers

# OpenVINO Core:
/src/inference/  @openvinotoolkit/openvino-ie-maintainers
/src/common/conditional_compilation/ @openvinotoolkit/openvino-ie-maintainers
/src/common/itt/ @openvinotoolkit/openvino-ie-maintainers
/src/common/preprocessing/ @openvinotoolkit/openvino-ie-maintainers
/src/common/util/ @openvinotoolkit/openvino-ie-maintainers
/thirdparty/ @openvinotoolkit/openvino-ie-maintainers
/.gitmodules @openvinotoolkit/openvino-ie-maintainers

/src/bindings/python/ @openvinotoolkit/openvino-ie-python-api-maintainers
/src/bindings/c/ @openvinotoolkit/openvino-c-api-maintainers
/src/bindings/js/ @openvinotoolkit/openvino-js-api-maintainers
/src/common/*transformations/  @openvinotoolkit/openvino-ie-transformations-maintainers
/src/core/  @openvinotoolkit/openvino-ngraph-maintainers

# OpenVINO Samples:
/samples/c/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-c-api-maintainers
/samples/cpp/  @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-maintainers
/samples/python/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/samples/js/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-js-api-maintainers
/thirdparty/zlib/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/json/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/gflags/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/cnpy/ @openvinotoolkit/openvino-samples-maintainers

# OpenVINO Func Tests:
/src/tests/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/frontends/tests/frontend/shared/ @openvinotoolkit/openvino-ie-tests-maintainers
/thirdparty/gtest/ @openvinotoolkit/openvino-ie-tests-maintainers

# OpenVINO CPU:
/src/plugins/intel_cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/common/snippets/ @openvinotoolkit/openvino-ie-cpu-maintainers
/thirdparty/xbyak/ @openvinotoolkit/openvino-ie-cpu-maintainers

# OpenVINO LPT
/src/common/low_precision_transformations/  @openvinotoolkit/openvino-ie-lpt-maintainers

# OpenVINO GPU:
/src/plugins/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/tests/**/gpu/ @openvinotoolkit/openvino-ie-gpu-maintainers
/thirdparty/ocl/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers

# OpenVINO GNA:
/src/plugins/intel_gna/  @openvinotoolkit/openvino-ie-gna-maintainers

# OpenVINO Auto (MULTI) plugin:
/src/plugins/auto/  @openvinotoolkit/openvino-ie-auto-multi-maintainers

# OpenVINO Auto (Batch) plugin:
/src/plugins/auto_batch/ @openvinotoolkit/openvino-auto-batch-maintainers

# OpenVINO Hetero plugin:
/src/plugins/hetero/ @openvinotoolkit/openvino-hetero-maintainers

# OpenVINO Template plugin:
/src/plugins/template/ @openvinotoolkit/openvino-ie-template-maintainers

# OpenVINO Frontends:
/src/frontends/common/ @openvinotoolkit/openvino-common-frontend-maintainers
/src/frontends/ir/ @openvinotoolkit/openvino-ir-frontend-maintainers
/src/frontends/paddle/  @openvinotoolkit/openvino-ie-paddle-maintainers
/src/frontends/tensorflow/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_common/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_lite/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/pytorch/ @openvinotoolkit/openvino-pytorch-frontend-maintainers

# OpenVINO ONNX Frontend:
/src/frontends/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/thirdparty/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers
/thirdparty/protobuf/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-tf-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers
/tests/layer_tests/ @openvinotoolkit/openvino-tests-maintainers @openvinotoolkit/openvino-mo-maintainers
/tests/layer_tests/pytorch_tests/ @openvinotoolkit/openvino-pytorch-frontend-maintainers
/tests/layer_tests/tensorflow_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/layer_tests/jax_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests/torch_tests @openvinotoolkit/openvino-pytorch-frontend-maintainers

# Tools:
/tools/  @openvinotoolkit/openvino-tools-maintainers
/tools/benchmark_tool/ @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/legacy/ @openvinotoolkit/openvino-samples-maintainers
/tools/openvino_dev/ @openvinotoolkit/openvino-tools-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/mo/  @openvinotoolkit/openvino-mo-maintainers
/tools/ovc/  @openvinotoolkit/openvino-mo-maintainers
/tools/pot/  @openvinotoolkit/openvino-pot-maintainers
/thirdparty/open_model_zoo/ @openvinotoolkit/omz-maintainers @openvinotoolkit/openvino-pot-maintainers

# Documentation
/docs/  @openvinotoolkit/openvino-docs-maintainers
/docs/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers
/**/*.md  @openvinotoolkit/openvino-docs-maintainers
/**/*.svg  @openvinotoolkit/openvino-docs-maintainers
/docs/MO_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-mo-maintainers
/docs/OV_Runtime_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/IE_PLUGIN_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/Extensibility_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/snippets/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino_contrib-arm_plugin-maintainers
/docs/OV_Runtime_UG/supported_plugins/CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-cpu-maintainers
/docs/OV_Runtime_UG/supported_plugins/GNA.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gna-maintainers
/docs/OV_Runtime_UG/supported_plugins/GPU*.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gpu-maintainers

# Configuration management
/**/setup.py  @openvinotoolkit/openvino-configuration-mgmt
/**/requirements*.*  @openvinotoolkit/openvino-configuration-mgmt
/docs/requirements.txt @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-configuration-mgmt

# CMake scripts
/**/cmake/ @openvinotoolkit/openvino-ie-maintainers
/**/*.cmake @openvinotoolkit/openvino-ie-maintainers
/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers

rm unused
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

Progress
  src/core/shape_inference/include/string_tensor_pack_shape_inference.hpp
  src/core/src/op/string_tensor_pack.cpp
  src/core/tests/type_prop/string_tensor_pack.cpp
  src/core/tests/type_prop/string_tensor_unpack.cpp
  src/core/tests/visitors/op/string_tensor_pack.cpp
  src/core/tests/visitors/op/string_tensor_unpack.cpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/string_tensor_pack_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/string_tensor_unpack_shape_inference_test.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

review suggestions
  src/core/src/op/convert.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

extended reshape to list of Partial shape, list, tuple and str. removed unnecessary check
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

provide path to ninja
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

removed not required check -> since it'll never go in that condition
  src/bindings/python/src/pyopenvino/graph/model.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

install cmake via apt
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
Owners: @openvinotoolkit/openvino-ci-maintainers

Add test
  src/plugins/intel_npu/src/compiler/include/custom_stream_buffer.hpp
  src/plugins/intel_npu/src/compiler/include/graph_transformations.hpp
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
  src/plugins/intel_npu/tests/functional/CMakeLists.txt
  src/plugins/intel_npu/tests/functional/behavior/npu_driver_compiler_adapter/custom_stream.cpp
Owners: @openvinotoolkit/openvino-maintainers

Use custom stream buffer
  src/plugins/intel_npu/src/compiler/include/custom_stream_buffer.hpp
  src/plugins/intel_npu/src/compiler/include/graph_transformations.hpp
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
Owners: @openvinotoolkit/openvino-maintainers

Add MAX_WIN_STREAMBUF_SIZE
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
Owners: @openvinotoolkit/openvino-maintainers

Use fstream instead of stringstream to do serialization
  src/plugins/intel_npu/src/compiler/include/iexternal_compiler.hpp
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
  src/plugins/intel_npu/src/compiler/src/zero_compiler_in_driver.cpp
Owners: @openvinotoolkit/openvino-maintainers

Serialize model during buffer init
  src/plugins/intel_npu/src/compiler/include/graph_transformations.hpp
  src/plugins/intel_npu/src/compiler/include/iexternal_compiler.hpp
  src/plugins/intel_npu/src/compiler/include/zero_compiler_in_driver.hpp
  src/plugins/intel_npu/src/compiler/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
  src/plugins/intel_npu/src/compiler/src/zero_compiler_in_driver.cpp
Owners: @openvinotoolkit/openvino-maintainers

Clean codes
  src/plugins/intel_npu/src/compiler/include/custom_stream_buffer.hpp
  src/plugins/intel_npu/src/compiler/include/graph_transformations.hpp
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Owners: @openvinotoolkit/openvino-maintainers

Fix remove issue
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
  src/plugins/intel_npu/tests/functional/behavior/npu_driver_compiler_adapter/custom_stream.cpp
Owners: @openvinotoolkit/openvino-maintainers

Use istream to pass serialization result
  src/plugins/intel_npu/src/compiler/include/graph_transformations.hpp
  src/plugins/intel_npu/src/compiler/include/iexternal_compiler.hpp
  src/plugins/intel_npu/src/compiler/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
  src/plugins/intel_npu/src/compiler/src/zero_compiler_in_driver.cpp
Owners: @openvinotoolkit/openvino-maintainers

Remove getSerializedIR and change API for IR class
  src/plugins/intel_npu/src/compiler/include/custom_stream_buffer.hpp
  src/plugins/intel_npu/src/compiler/include/graph_transformations.hpp
  src/plugins/intel_npu/src/compiler/include/zero_compiler_in_driver.hpp
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
  src/plugins/intel_npu/src/compiler/src/zero_compiler_in_driver.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/functional/CMakeLists.txt
  src/plugins/intel_npu/tests/functional/behavior/npu_driver_compiler_adapter/custom_stream.cpp
Owners: @openvinotoolkit/openvino-maintainers

Integrate recompilation infrastructure into RuntimeConfigurator (#24955)
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/common/snippets/include/snippets/lowered/linear_ir_builder.hpp
  src/common/snippets/include/snippets/op/brgemm.hpp
  src/common/snippets/include/snippets/runtime_configurator.hpp
  src/common/snippets/include/snippets/target_machine.hpp
  src/common/snippets/include/snippets/utils.hpp
  src/common/snippets/src/kernel_executor_table.cpp
  src/common/snippets/src/lowered/linear_ir_builder.cpp
  src/common/snippets/src/op/brgemm.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/matmul_to_brgemm.cpp
  src/common/snippets/src/runtime_configurator.cpp
  src/common/snippets/src/utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_kernel_executor_table.hpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/verbose.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/brgemm_to_brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/set_brgemm_cpu_blocking_params.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/lowered/brgemm_blocking.cpp
  src/tests/functional/plugin/shared/include/snippets/matmul.hpp
  src/tests/functional/plugin/shared/src/snippets/matmul.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

Integrate recompilation infrastructure into RuntimeConfigurator (#24955)
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/common/snippets/include/snippets/lowered/linear_ir_builder.hpp
  src/common/snippets/include/snippets/op/brgemm.hpp
  src/common/snippets/include/snippets/runtime_configurator.hpp
  src/common/snippets/include/snippets/target_machine.hpp
  src/common/snippets/include/snippets/utils.hpp
  src/common/snippets/src/kernel_executor_table.cpp
  src/common/snippets/src/lowered/linear_ir_builder.cpp
  src/common/snippets/src/op/brgemm.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/matmul_to_brgemm.cpp
  src/common/snippets/src/runtime_configurator.cpp
  src/common/snippets/src/utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_kernel_executor_table.hpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/verbose.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/brgemm_to_brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/set_brgemm_cpu_blocking_params.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/lowered/brgemm_blocking.cpp
  src/tests/functional/plugin/shared/include/snippets/matmul.hpp
  src/tests/functional/plugin/shared/src/snippets/matmul.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

Fix style
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Owners: @openvinotoolkit/openvino-maintainers

mac supported
  src/bindings/python/wheel/setup.py
Owners: @openvinotoolkit/openvino-configuration-mgmt

NPU/W I/O Optimizations - step 0
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Owners: @openvinotoolkit/openvino-maintainers

NPU/W I/O Optimizations - step 1
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Owners: @openvinotoolkit/openvino-maintainers

NPU/W I/O Optimizations - step 2
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Owners: @openvinotoolkit/openvino-maintainers

NPU/W I/O Optimization - step 3.5
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Owners: @openvinotoolkit/openvino-maintainers

NPU/W I/O Optimization - step 5
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Owners: @openvinotoolkit/openvino-maintainers

NPU/W I/O Optimization - step 4
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Owners: @openvinotoolkit/openvino-maintainers

NPU/W: I/O Optimization - step 3
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Owners: @openvinotoolkit/openvino-maintainers

Address review comments
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
Owners: @openvinotoolkit/openvino-maintainers

Add tensor names if they are empty before the dump
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
Owners: @openvinotoolkit/openvino-maintainers

NPU/W I/O Optimization - final cleanup
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
Owners: @openvinotoolkit/openvino-maintainers

NPU/W I/O Optimization - step 5.5
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
Owners: @openvinotoolkit/openvino-maintainers

NPU/W I/O Optimization - Step 6
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Owners: @openvinotoolkit/openvino-maintainers

Update TensorConstructor in nodejs_api docs
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

Update TensorConstructor in nodejs_api docs
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

added static libs
  src/bindings/python/wheel/setup.py
Owners: @openvinotoolkit/openvino-configuration-mgmt

fixed syntax
  src/bindings/python/wheel/setup.py
Owners: @openvinotoolkit/openvino-configuration-mgmt

Fix range for IndexAddTest (#24682)
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/index_add_scatter_elements_update.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Fix range for IndexAddTest (#24682)
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/index_add_scatter_elements_update.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fix build error for several ci systems
  src/plugins/intel_gpu/tests/unit/passes/post_optimize_weights.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

linter fixes
  src/bindings/python/wheel/setup.py
Owners: @openvinotoolkit/openvino-configuration-mgmt
