Repository openvinotoolkit/openvino, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ci-maintainers, @openvinotoolkit/openvino-admins, @openvinotoolkit/openvino-legal-maintainers, @openvinotoolkit/openvino-scripts-maintainers, @openvinotoolkit/openvino-configuration-mgmt, @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-c-api-maintainers, @openvinotoolkit/openvino-js-api-maintainers, @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-lpt-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-gna-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-auto-batch-maintainers, @openvinotoolkit/openvino-hetero-maintainers, @openvinotoolkit/openvino-ie-template-maintainers, @openvinotoolkit/openvino-common-frontend-maintainers, @openvinotoolkit/openvino-ir-frontend-maintainers, @openvinotoolkit/openvino-ie-paddle-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers, @openvinotoolkit/openvino-pytorch-frontend-maintainers, @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers, @openvinotoolkit/openvino-tools-maintainers, @openvinotoolkit/openvino-pot-maintainers, @openvinotoolkit/omz-maintainers, @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino_contrib-arm_plugin-maintainers

.github/CODEOWNERS:

# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino-maintainers

# CI
/Jenkinsfile  @openvinotoolkit/openvino-ci-maintainers
/.github/  @openvinotoolkit/openvino-ci-maintainers
/.ci/  @openvinotoolkit/openvino-ci-maintainers
/.github/CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# Licensing:
/licensing/ @openvinotoolkit/openvino-legal-maintainers
/LICENSE @openvinotoolkit/openvino-legal-maintainers

# OpenVINO Scripts:
/scripts/  @openvinotoolkit/openvino-scripts-maintainers
/scripts/install_dependencies/  @openvinotoolkit/openvino-configuration-mgmt @openvinotoolkit/openvino-scripts-maintainers
/install_build_dependencies.sh @openvinotoolkit/openvino-scripts-maintainers @openvinotoolkit/openvino-ie-maintainers

# OpenVINO Core:
/src/inference/  @openvinotoolkit/openvino-ie-maintainers
/src/common/conditional_compilation/ @openvinotoolkit/openvino-ie-maintainers
/src/common/itt/ @openvinotoolkit/openvino-ie-maintainers
/src/common/preprocessing/ @openvinotoolkit/openvino-ie-maintainers
/src/common/util/ @openvinotoolkit/openvino-ie-maintainers
/thirdparty/ @openvinotoolkit/openvino-ie-maintainers
/.gitmodules @openvinotoolkit/openvino-ie-maintainers

/src/bindings/python/ @openvinotoolkit/openvino-ie-python-api-maintainers
/src/bindings/c/ @openvinotoolkit/openvino-c-api-maintainers
/src/bindings/js/ @openvinotoolkit/openvino-js-api-maintainers
/src/common/*transformations/  @openvinotoolkit/openvino-ie-transformations-maintainers
/src/core/  @openvinotoolkit/openvino-ngraph-maintainers

# OpenVINO Samples:
/samples/c/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-c-api-maintainers
/samples/cpp/  @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-maintainers
/samples/python/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/samples/js/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-js-api-maintainers
/thirdparty/zlib/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/json/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/gflags/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/cnpy/ @openvinotoolkit/openvino-samples-maintainers

# OpenVINO Func Tests:
/src/tests/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/frontends/tests/frontend/shared/ @openvinotoolkit/openvino-ie-tests-maintainers
/thirdparty/gtest/ @openvinotoolkit/openvino-ie-tests-maintainers

# OpenVINO CPU:
/src/plugins/intel_cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/common/snippets/ @openvinotoolkit/openvino-ie-cpu-maintainers
/thirdparty/xbyak/ @openvinotoolkit/openvino-ie-cpu-maintainers

# OpenVINO LPT
/src/common/low_precision_transformations/  @openvinotoolkit/openvino-ie-lpt-maintainers

# OpenVINO GPU:
/src/plugins/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/tests/**/gpu/ @openvinotoolkit/openvino-ie-gpu-maintainers
/thirdparty/ocl/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers

# OpenVINO GNA:
/src/plugins/intel_gna/  @openvinotoolkit/openvino-ie-gna-maintainers

# OpenVINO Auto (MULTI) plugin:
/src/plugins/auto/  @openvinotoolkit/openvino-ie-auto-multi-maintainers

# OpenVINO Auto (Batch) plugin:
/src/plugins/auto_batch/ @openvinotoolkit/openvino-auto-batch-maintainers

# OpenVINO Hetero plugin:
/src/plugins/hetero/ @openvinotoolkit/openvino-hetero-maintainers

# OpenVINO Template plugin:
/src/plugins/template/ @openvinotoolkit/openvino-ie-template-maintainers

# OpenVINO Frontends:
/src/frontends/common/ @openvinotoolkit/openvino-common-frontend-maintainers
/src/frontends/ir/ @openvinotoolkit/openvino-ir-frontend-maintainers
/src/frontends/paddle/  @openvinotoolkit/openvino-ie-paddle-maintainers
/src/frontends/tensorflow/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_common/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_lite/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/pytorch/ @openvinotoolkit/openvino-pytorch-frontend-maintainers

# OpenVINO ONNX Frontend:
/src/frontends/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/thirdparty/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers
/thirdparty/protobuf/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-tf-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers
/tests/layer_tests/ @openvinotoolkit/openvino-tests-maintainers @openvinotoolkit/openvino-mo-maintainers
/tests/layer_tests/pytorch_tests/ @openvinotoolkit/openvino-pytorch-frontend-maintainers
/tests/layer_tests/tensorflow_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/layer_tests/jax_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests/torch_tests @openvinotoolkit/openvino-pytorch-frontend-maintainers

# Tools:
/tools/  @openvinotoolkit/openvino-tools-maintainers
/tools/benchmark_tool/ @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/legacy/ @openvinotoolkit/openvino-samples-maintainers
/tools/openvino_dev/ @openvinotoolkit/openvino-tools-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/mo/  @openvinotoolkit/openvino-mo-maintainers
/tools/ovc/  @openvinotoolkit/openvino-mo-maintainers
/tools/pot/  @openvinotoolkit/openvino-pot-maintainers
/thirdparty/open_model_zoo/ @openvinotoolkit/omz-maintainers @openvinotoolkit/openvino-pot-maintainers

# Documentation
/docs/  @openvinotoolkit/openvino-docs-maintainers
/docs/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers
/**/*.md  @openvinotoolkit/openvino-docs-maintainers
/**/*.svg  @openvinotoolkit/openvino-docs-maintainers
/docs/MO_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-mo-maintainers
/docs/OV_Runtime_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/IE_PLUGIN_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/Extensibility_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/snippets/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino_contrib-arm_plugin-maintainers
/docs/OV_Runtime_UG/supported_plugins/CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-cpu-maintainers
/docs/OV_Runtime_UG/supported_plugins/GNA.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gna-maintainers
/docs/OV_Runtime_UG/supported_plugins/GPU*.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gpu-maintainers

# Configuration management
/**/setup.py  @openvinotoolkit/openvino-configuration-mgmt
/**/requirements*.*  @openvinotoolkit/openvino-configuration-mgmt
/docs/requirements.txt @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-configuration-mgmt

# CMake scripts
/**/cmake/ @openvinotoolkit/openvino-ie-maintainers
/**/*.cmake @openvinotoolkit/openvino-ie-maintainers
/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers

Remove input_is_none method.
  src/bindings/python/src/openvino/frontend/jax/jaxpr_decoder.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

Working version of StatefulToStateless but without restoring the original order of KV parameters and results, and without original names for them.
  src/bindings/python/src/openvino/_offline_transformations/__init__.py
  src/bindings/python/src/pyopenvino/core/offline_transformations.cpp
  src/core/src/pass/stateful_to_stateless.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-ngraph-maintainers

Add new members in Constant: - get_strides - get_tensor_view
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/core/include/openvino/op/constant.hpp
  src/core/src/op/constant.cpp
  src/core/tests/constant.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-ngraph-maintainers

Revert "No bound evaluation for Constant"
  src/core/src/bound_evaluate.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

[properties] fixing copy-paste mistake at member name
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

Adjust code lyout.
  src/bindings/python/src/openvino/frontend/jax/utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

cleanup & refactoring
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/arm/activation.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Update tensor.cpp: rebase artifact
  src/frontends/onnx/frontend/src/core/tensor.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers

[ONNX] Added support for strings as inputs and constants
  src/frontends/onnx/frontend/src/core/tensor.cpp
  src/frontends/onnx/frontend/src/core/tensor.hpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/onnx_common/src/utils.cpp
  src/frontends/onnx/tests/models/string_constant.prototxt
  src/frontends/onnx/tests/models/string_input.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers

Added a string result verification
  src/frontends/onnx/tests/models/string_constant.prototxt
  src/frontends/onnx/tests/models/string_input.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/tests/test_utils/common_test_utils/src/test_case.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

Update common.cpp: lost header
  src/frontends/onnx/frontend/src/utils/common.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers

Update tensor.cpp
  src/frontends/onnx/frontend/src/core/tensor.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers

Remove unnecessary APIs about named params.
  src/bindings/python/src/openvino/frontend/jax/jaxpr_decoder.py
  src/bindings/python/src/openvino/frontend/jax/utils.py
  src/bindings/python/src/pyopenvino/frontend/jax/decoder.hpp
  src/frontends/jax/include/openvino/frontend/jax/decoder.hpp
  src/frontends/jax/src/input_model.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-maintainers

Remove unneeded descriptors and set_tensor_value.
  src/frontends/jax/src/input_model.cpp
  src/frontends/jax/src/input_model.hpp
  src/frontends/jax/src/translate_session.cpp
Owners: @openvinotoolkit/openvino-maintainers

Update src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/src/pyopenvino/graph/model.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

use pytest only
  src/bindings/python/tests/test_utils/test_utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

linter fixes
  src/bindings/python/tests/test_utils/test_utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

fix lint and ARM32 failed tests issues
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fix issue of _in_layout update from onednn weights param when reorder fusing happens during post optimzie weights
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_optimize_weights.cpp
  src/plugins/intel_gpu/tests/unit/passes/post_optimize_weights.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

[PYPI] Add cmake and headers (without wheel cpack generator) (#25036)
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/packaging/archive.cmake
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/npm.cmake
  cmake/developer_package/packaging/nsis.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
  src/bindings/c/src/CMakeLists.txt
  src/bindings/python/wheel/CMakeLists.txt
  src/bindings/python/wheel/setup.py
  src/cmake/openvino.cmake
Owners: @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-c-api-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-configuration-mgmt

[PYPI] Add cmake and headers (without wheel cpack generator) (#25036)
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/packaging/archive.cmake
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/npm.cmake
  cmake/developer_package/packaging/nsis.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
  src/bindings/c/src/CMakeLists.txt
  src/bindings/python/wheel/CMakeLists.txt
  src/bindings/python/wheel/setup.py
  src/cmake/openvino.cmake
Owners: @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-c-api-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-configuration-mgmt

Expand range of float testing.
  tests/layer_tests/jax_tests/test_add.py
Owners: @openvinotoolkit/openvino-tf-frontend-maintainers

Update cmake/features.cmake
  cmake/features.cmake
Owners: @openvinotoolkit/openvino-ie-maintainers

Fixed incorrect replacement of Assign that kept deleted nodes conneted to the model.
  src/core/src/pass/stateful_to_stateless.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

[Snippets] Integrate recompilation infrastructure into RuntimeConfigurator. Enable dynamic MatMul tests.
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/common/snippets/include/snippets/lowered/linear_ir_builder.hpp
  src/common/snippets/include/snippets/op/brgemm.hpp
  src/common/snippets/include/snippets/runtime_configurator.hpp
  src/common/snippets/include/snippets/target_machine.hpp
  src/common/snippets/include/snippets/utils.hpp
  src/common/snippets/src/lowered/linear_ir_builder.cpp
  src/common/snippets/src/op/brgemm.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/matmul_to_brgemm.cpp
  src/common/snippets/src/runtime_configurator.cpp
  src/common/snippets/src/utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_kernel_executor_table.hpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/verbose.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/brgemm_to_brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/set_brgemm_cpu_blocking_params.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/lowered/brgemm_blocking.cpp
  src/tests/functional/plugin/shared/include/snippets/matmul.hpp
  src/tests/functional/plugin/shared/src/snippets/matmul.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

Temporary remove KernelExecutor cache hits
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Align caching of kernel primitives with executores cache (test)
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/common/snippets/include/snippets/runtime_configurator.hpp
  src/common/snippets/include/snippets/target_machine.hpp
  src/common/snippets/src/op/subgraph.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Simplified interfaces
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/common/snippets/include/snippets/runtime_configurator.hpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Move state_reset to executor table + fix debug print
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/common/snippets/src/kernel_executor_table.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fix time config reset
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Isolate executor config interface
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

clone in update by expression
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Review comments 1
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/common/snippets/include/snippets/runtime_configurator.hpp
  src/common/snippets/src/kernel_executor_table.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_kernel_executor_table.hpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
  src/tests/functional/plugin/shared/src/snippets/matmul.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

Update src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op/full.cpp
Owners: @openvinotoolkit/openvino-pytorch-frontend-maintainers

Update src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op/full.cpp
Owners: @openvinotoolkit/openvino-pytorch-frontend-maintainers

added check for mismatched shapes, parametrized tests
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

fix indent
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_optimize_weights.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Create helper function to create shape from individual dimensions
  src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op/reshape.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
Owners: @openvinotoolkit/openvino-pytorch-frontend-maintainers

Moved is inf emitter
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Update code style from code review comment.
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers
