Repository openvinotoolkit/openvino, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ci-maintainers, @openvinotoolkit/openvino-admins, @openvinotoolkit/openvino-legal-maintainers, @openvinotoolkit/openvino-scripts-maintainers, @openvinotoolkit/openvino-configuration-mgmt, @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-c-api-maintainers, @openvinotoolkit/openvino-js-api-maintainers, @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-lpt-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-gna-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-auto-batch-maintainers, @openvinotoolkit/openvino-hetero-maintainers, @openvinotoolkit/openvino-ie-template-maintainers, @openvinotoolkit/openvino-common-frontend-maintainers, @openvinotoolkit/openvino-ir-frontend-maintainers, @openvinotoolkit/openvino-ie-paddle-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers, @openvinotoolkit/openvino-pytorch-frontend-maintainers, @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers, @openvinotoolkit/openvino-tools-maintainers, @openvinotoolkit/openvino-pot-maintainers, @openvinotoolkit/omz-maintainers, @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino_contrib-arm_plugin-maintainers

.github/CODEOWNERS:

# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino-maintainers

# CI
/Jenkinsfile  @openvinotoolkit/openvino-ci-maintainers
/.github/  @openvinotoolkit/openvino-ci-maintainers
/.ci/  @openvinotoolkit/openvino-ci-maintainers
/.github/CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# Licensing:
/licensing/ @openvinotoolkit/openvino-legal-maintainers
/LICENSE @openvinotoolkit/openvino-legal-maintainers

# OpenVINO Scripts:
/scripts/  @openvinotoolkit/openvino-scripts-maintainers
/scripts/install_dependencies/  @openvinotoolkit/openvino-configuration-mgmt @openvinotoolkit/openvino-scripts-maintainers
/install_build_dependencies.sh @openvinotoolkit/openvino-scripts-maintainers @openvinotoolkit/openvino-ie-maintainers

# OpenVINO Core:
/src/inference/  @openvinotoolkit/openvino-ie-maintainers
/src/common/conditional_compilation/ @openvinotoolkit/openvino-ie-maintainers
/src/common/itt/ @openvinotoolkit/openvino-ie-maintainers
/src/common/preprocessing/ @openvinotoolkit/openvino-ie-maintainers
/src/common/util/ @openvinotoolkit/openvino-ie-maintainers
/thirdparty/ @openvinotoolkit/openvino-ie-maintainers
/.gitmodules @openvinotoolkit/openvino-ie-maintainers

/src/bindings/python/ @openvinotoolkit/openvino-ie-python-api-maintainers
/src/bindings/c/ @openvinotoolkit/openvino-c-api-maintainers
/src/bindings/js/ @openvinotoolkit/openvino-js-api-maintainers
/src/common/*transformations/  @openvinotoolkit/openvino-ie-transformations-maintainers
/src/core/  @openvinotoolkit/openvino-ngraph-maintainers

# OpenVINO Samples:
/samples/c/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-c-api-maintainers
/samples/cpp/  @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-maintainers
/samples/python/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/samples/js/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-js-api-maintainers
/thirdparty/zlib/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/json/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/gflags/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/cnpy/ @openvinotoolkit/openvino-samples-maintainers

# OpenVINO Func Tests:
/src/tests/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/frontends/tests/frontend/shared/ @openvinotoolkit/openvino-ie-tests-maintainers
/thirdparty/gtest/ @openvinotoolkit/openvino-ie-tests-maintainers

# OpenVINO CPU:
/src/plugins/intel_cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/common/snippets/ @openvinotoolkit/openvino-ie-cpu-maintainers
/thirdparty/xbyak/ @openvinotoolkit/openvino-ie-cpu-maintainers

# OpenVINO LPT
/src/common/low_precision_transformations/  @openvinotoolkit/openvino-ie-lpt-maintainers

# OpenVINO GPU:
/src/plugins/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/tests/**/gpu/ @openvinotoolkit/openvino-ie-gpu-maintainers
/thirdparty/ocl/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers

# OpenVINO GNA:
/src/plugins/intel_gna/  @openvinotoolkit/openvino-ie-gna-maintainers

# OpenVINO Auto (MULTI) plugin:
/src/plugins/auto/  @openvinotoolkit/openvino-ie-auto-multi-maintainers

# OpenVINO Auto (Batch) plugin:
/src/plugins/auto_batch/ @openvinotoolkit/openvino-auto-batch-maintainers

# OpenVINO Hetero plugin:
/src/plugins/hetero/ @openvinotoolkit/openvino-hetero-maintainers

# OpenVINO Template plugin:
/src/plugins/template/ @openvinotoolkit/openvino-ie-template-maintainers

# OpenVINO Frontends:
/src/frontends/common/ @openvinotoolkit/openvino-common-frontend-maintainers
/src/frontends/ir/ @openvinotoolkit/openvino-ir-frontend-maintainers
/src/frontends/paddle/  @openvinotoolkit/openvino-ie-paddle-maintainers
/src/frontends/tensorflow/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_common/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_lite/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/pytorch/ @openvinotoolkit/openvino-pytorch-frontend-maintainers

# OpenVINO ONNX Frontend:
/src/frontends/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/thirdparty/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers
/thirdparty/protobuf/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-tf-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers
/tests/layer_tests/ @openvinotoolkit/openvino-tests-maintainers @openvinotoolkit/openvino-mo-maintainers
/tests/layer_tests/pytorch_tests/ @openvinotoolkit/openvino-pytorch-frontend-maintainers
/tests/layer_tests/tensorflow_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/layer_tests/jax_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests/torch_tests @openvinotoolkit/openvino-pytorch-frontend-maintainers

# Tools:
/tools/  @openvinotoolkit/openvino-tools-maintainers
/tools/benchmark_tool/ @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/legacy/ @openvinotoolkit/openvino-samples-maintainers
/tools/openvino_dev/ @openvinotoolkit/openvino-tools-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/mo/  @openvinotoolkit/openvino-mo-maintainers
/tools/ovc/  @openvinotoolkit/openvino-mo-maintainers
/tools/pot/  @openvinotoolkit/openvino-pot-maintainers
/thirdparty/open_model_zoo/ @openvinotoolkit/omz-maintainers @openvinotoolkit/openvino-pot-maintainers

# Documentation
/docs/  @openvinotoolkit/openvino-docs-maintainers
/docs/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers
/**/*.md  @openvinotoolkit/openvino-docs-maintainers
/**/*.svg  @openvinotoolkit/openvino-docs-maintainers
/docs/MO_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-mo-maintainers
/docs/OV_Runtime_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/IE_PLUGIN_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/Extensibility_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/snippets/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino_contrib-arm_plugin-maintainers
/docs/OV_Runtime_UG/supported_plugins/CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-cpu-maintainers
/docs/OV_Runtime_UG/supported_plugins/GNA.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gna-maintainers
/docs/OV_Runtime_UG/supported_plugins/GPU*.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gpu-maintainers

# Configuration management
/**/setup.py  @openvinotoolkit/openvino-configuration-mgmt
/**/requirements*.*  @openvinotoolkit/openvino-configuration-mgmt
/docs/requirements.txt @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-configuration-mgmt

# CMake scripts
/**/cmake/ @openvinotoolkit/openvino-ie-maintainers
/**/*.cmake @openvinotoolkit/openvino-ie-maintainers
/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers

Update.
  src/common/util/include/openvino/util/monitors/cpu_performance_counter.hpp
  src/common/util/include/openvino/util/monitors/gpu_performance_counter.hpp
Owners: @openvinotoolkit/openvino-ie-maintainers

Fix compareTensors for u4/i4 failure (#24802)
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/io_tensor.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

Fix compareTensors for u4/i4 failure (#24802)
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/io_tensor.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

Code style.
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/src/pyopenvino/frontend/manager.cpp
  src/frontends/common/src/frontend.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-common-frontend-maintainers

Fix test error
  src/common/util/include/openvino/util/file_util.hpp
  src/inference/src/model_reader.cpp
  src/inference/tests/functional/ov_core_test.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

Update.
  src/common/util/src/monitors/cpu_performance_counter.cpp
  src/common/util/src/monitors/gpu_performance_counter.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

Update.
  src/common/util/src/monitors/gpu_performance_counter.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

Fix test error
  src/inference/src/model_reader.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

Error fix.
  src/bindings/python/src/pyopenvino/frontend/manager.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

[intel-npu] Adding npu4000 string to zero device, until PR #24607 gets resolved
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
Owners: @openvinotoolkit/openvino-maintainers

fix build
  src/core/src/pass/manager.cpp
  src/core/tests/pass_manager.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

added debug log
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
Owners: @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

update onetbb to 2021.2.5 (#25030)
  cmake/dependencies.cmake
Owners: @openvinotoolkit/openvino-ie-maintainers

update onetbb to 2021.2.5 (#25030)
  cmake/dependencies.cmake
Owners: @openvinotoolkit/openvino-ie-maintainers

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

[ONNX] update trilu.cpp (#25132)
  src/frontends/onnx/frontend/src/op/trilu.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers

[ONNX] update trilu.cpp (#25132)
  src/frontends/onnx/frontend/src/op/trilu.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers

fix build
  src/core/src/pass/manager.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

[DOCS] ITT Performance Analysis update for 24.2 (#25126)
  src/docs/performance_analysis_ITT_counters.md
Owners: @openvinotoolkit/openvino-docs-maintainers

Apply review comments
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/reduce.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/reduce.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Native int32 coverage on gather based reduce cases
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/reduce.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

[CPU] Apply int32 instructions directly for ReduceProd-int32
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/reduce.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Move convert_i32_to_f32 and convert_f32_to_i32 to be member functions
  src/plugins/intel_cpu/src/nodes/reduce.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Removed not needed changes.
  src/core/tests/frontend/CMakeLists.txt
  src/core/tests/frontend/mock_frontend.cpp
  tests/layer_tests/ovc_python_api_tests/test_tf.py
Owners: @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers

codestyle
  src/core/src/pass/manager.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

Changed compiler type
  src/plugins/intel_npu/tests/functional/internal/overload/compiled_model/property.cpp
Owners: @openvinotoolkit/openvino-maintainers

added file with dependencies
  docs/dev/ov_dependencies_24_2.txt
Owners: @openvinotoolkit/openvino-docs-maintainers

add python constant, convert tests
  src/bindings/python/tests/test_graph/test_constant.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

[intel-npu] Adding private properties tests (#24867)
  src/plugins/intel_npu/tests/functional/behavior/ov_plugin/internal_properties_tests.cpp
  src/plugins/intel_npu/tests/functional/internal/overload/ov_plugin/internal_properties_tests.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Owners: @openvinotoolkit/openvino-maintainers

[intel-npu] Adding private properties tests (#24867)
  src/plugins/intel_npu/tests/functional/behavior/ov_plugin/internal_properties_tests.cpp
  src/plugins/intel_npu/tests/functional/internal/overload/ov_plugin/internal_properties_tests.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Owners: @openvinotoolkit/openvino-maintainers

python lint
  src/bindings/python/tests/test_graph/test_constant.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

Update
  src/common/util/include/openvino/util/monitors/cpu_performance_counter.hpp
  src/common/util/include/openvino/util/monitors/gpu_performance_counter.hpp
Owners: @openvinotoolkit/openvino-ie-maintainers

ShapeOf reconnection from Concat axis dimension (#25120)
  src/common/transformations/src/transformations/symbolic_transformations/symbol_optimization.cpp
  src/common/transformations/tests/symbolic_transformations/symbol_optimization.cpp
Owners: @openvinotoolkit/openvino-ie-transformations-maintainers

ShapeOf reconnection from Concat axis dimension (#25120)
  src/common/transformations/src/transformations/symbolic_transformations/symbol_optimization.cpp
  src/common/transformations/tests/symbolic_transformations/symbol_optimization.cpp
Owners: @openvinotoolkit/openvino-ie-transformations-maintainers

Apply CR
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

use U22
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

[intel-npu] publishing npu4000 in README.md
  src/plugins/intel_npu/README.md
Owners: @openvinotoolkit/openvino-docs-maintainers

added disclaimer
  docs/dev/ov_dependencies_24_2.txt
Owners: @openvinotoolkit/openvino-docs-maintainers

install cmake in docker
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

[GSOC][CPU][ARM] Support Rotary positional embedding for arm with float16 (#24830)
  src/plugins/intel_cpu/src/nodes/rope.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers
