Repository openvinotoolkit/openvino, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ci-maintainers, @openvinotoolkit/openvino-admins, @openvinotoolkit/openvino-legal-maintainers, @openvinotoolkit/openvino-scripts-maintainers, @openvinotoolkit/openvino-configuration-mgmt, @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-c-api-maintainers, @openvinotoolkit/openvino-js-api-maintainers, @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-lpt-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-gna-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-auto-batch-maintainers, @openvinotoolkit/openvino-hetero-maintainers, @openvinotoolkit/openvino-ie-template-maintainers, @openvinotoolkit/openvino-common-frontend-maintainers, @openvinotoolkit/openvino-ir-frontend-maintainers, @openvinotoolkit/openvino-ie-paddle-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers, @openvinotoolkit/openvino-pytorch-frontend-maintainers, @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers, @openvinotoolkit/openvino-tools-maintainers, @openvinotoolkit/openvino-pot-maintainers, @openvinotoolkit/omz-maintainers, @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino_contrib-arm_plugin-maintainers

.github/CODEOWNERS:

# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino-maintainers

# CI
/Jenkinsfile  @openvinotoolkit/openvino-ci-maintainers
/.github/  @openvinotoolkit/openvino-ci-maintainers
/.ci/  @openvinotoolkit/openvino-ci-maintainers
/.github/CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# Licensing:
/licensing/ @openvinotoolkit/openvino-legal-maintainers
/LICENSE @openvinotoolkit/openvino-legal-maintainers

# OpenVINO Scripts:
/scripts/  @openvinotoolkit/openvino-scripts-maintainers
/scripts/install_dependencies/  @openvinotoolkit/openvino-configuration-mgmt @openvinotoolkit/openvino-scripts-maintainers
/install_build_dependencies.sh @openvinotoolkit/openvino-scripts-maintainers @openvinotoolkit/openvino-ie-maintainers

# OpenVINO Core:
/src/inference/  @openvinotoolkit/openvino-ie-maintainers
/src/common/conditional_compilation/ @openvinotoolkit/openvino-ie-maintainers
/src/common/itt/ @openvinotoolkit/openvino-ie-maintainers
/src/common/preprocessing/ @openvinotoolkit/openvino-ie-maintainers
/src/common/util/ @openvinotoolkit/openvino-ie-maintainers
/thirdparty/ @openvinotoolkit/openvino-ie-maintainers
/.gitmodules @openvinotoolkit/openvino-ie-maintainers

/src/bindings/python/ @openvinotoolkit/openvino-ie-python-api-maintainers
/src/bindings/c/ @openvinotoolkit/openvino-c-api-maintainers
/src/bindings/js/ @openvinotoolkit/openvino-js-api-maintainers
/src/common/*transformations/  @openvinotoolkit/openvino-ie-transformations-maintainers
/src/core/  @openvinotoolkit/openvino-ngraph-maintainers

# OpenVINO Samples:
/samples/c/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-c-api-maintainers
/samples/cpp/  @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-maintainers
/samples/python/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/samples/js/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-js-api-maintainers
/thirdparty/zlib/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/json/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/gflags/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/cnpy/ @openvinotoolkit/openvino-samples-maintainers

# OpenVINO Func Tests:
/src/tests/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/frontends/tests/frontend/shared/ @openvinotoolkit/openvino-ie-tests-maintainers
/thirdparty/gtest/ @openvinotoolkit/openvino-ie-tests-maintainers

# OpenVINO CPU:
/src/plugins/intel_cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/common/snippets/ @openvinotoolkit/openvino-ie-cpu-maintainers
/thirdparty/xbyak/ @openvinotoolkit/openvino-ie-cpu-maintainers

# OpenVINO LPT
/src/common/low_precision_transformations/  @openvinotoolkit/openvino-ie-lpt-maintainers

# OpenVINO GPU:
/src/plugins/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/tests/**/gpu/ @openvinotoolkit/openvino-ie-gpu-maintainers
/thirdparty/ocl/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers

# OpenVINO GNA:
/src/plugins/intel_gna/  @openvinotoolkit/openvino-ie-gna-maintainers

# OpenVINO Auto (MULTI) plugin:
/src/plugins/auto/  @openvinotoolkit/openvino-ie-auto-multi-maintainers

# OpenVINO Auto (Batch) plugin:
/src/plugins/auto_batch/ @openvinotoolkit/openvino-auto-batch-maintainers

# OpenVINO Hetero plugin:
/src/plugins/hetero/ @openvinotoolkit/openvino-hetero-maintainers

# OpenVINO Template plugin:
/src/plugins/template/ @openvinotoolkit/openvino-ie-template-maintainers

# OpenVINO Frontends:
/src/frontends/common/ @openvinotoolkit/openvino-common-frontend-maintainers
/src/frontends/ir/ @openvinotoolkit/openvino-ir-frontend-maintainers
/src/frontends/paddle/  @openvinotoolkit/openvino-ie-paddle-maintainers
/src/frontends/tensorflow/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_common/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_lite/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/pytorch/ @openvinotoolkit/openvino-pytorch-frontend-maintainers

# OpenVINO ONNX Frontend:
/src/frontends/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/thirdparty/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers
/thirdparty/protobuf/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-tf-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers
/tests/layer_tests/ @openvinotoolkit/openvino-tests-maintainers @openvinotoolkit/openvino-mo-maintainers
/tests/layer_tests/pytorch_tests/ @openvinotoolkit/openvino-pytorch-frontend-maintainers
/tests/layer_tests/tensorflow_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/layer_tests/jax_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests/torch_tests @openvinotoolkit/openvino-pytorch-frontend-maintainers

# Tools:
/tools/  @openvinotoolkit/openvino-tools-maintainers
/tools/benchmark_tool/ @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/legacy/ @openvinotoolkit/openvino-samples-maintainers
/tools/openvino_dev/ @openvinotoolkit/openvino-tools-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/mo/  @openvinotoolkit/openvino-mo-maintainers
/tools/ovc/  @openvinotoolkit/openvino-mo-maintainers
/tools/pot/  @openvinotoolkit/openvino-pot-maintainers
/thirdparty/open_model_zoo/ @openvinotoolkit/omz-maintainers @openvinotoolkit/openvino-pot-maintainers

# Documentation
/docs/  @openvinotoolkit/openvino-docs-maintainers
/docs/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers
/**/*.md  @openvinotoolkit/openvino-docs-maintainers
/**/*.svg  @openvinotoolkit/openvino-docs-maintainers
/docs/MO_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-mo-maintainers
/docs/OV_Runtime_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/IE_PLUGIN_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/Extensibility_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/snippets/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino_contrib-arm_plugin-maintainers
/docs/OV_Runtime_UG/supported_plugins/CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-cpu-maintainers
/docs/OV_Runtime_UG/supported_plugins/GNA.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gna-maintainers
/docs/OV_Runtime_UG/supported_plugins/GPU*.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gpu-maintainers

# Configuration management
/**/setup.py  @openvinotoolkit/openvino-configuration-mgmt
/**/requirements*.*  @openvinotoolkit/openvino-configuration-mgmt
/docs/requirements.txt @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-configuration-mgmt

# CMake scripts
/**/cmake/ @openvinotoolkit/openvino-ie-maintainers
/**/*.cmake @openvinotoolkit/openvino-ie-maintainers
/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers

[GPU] Enable bf16 weights (#24972)
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/bf16_utils.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_weights_kernel.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_weights_kernel.h
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/convert_bf16_fp32_fp16.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

[GPU] Enable bf16 weights (#24972)
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/bf16_utils.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_weights_kernel.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_weights_kernel.h
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/convert_bf16_fp32_fp16.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

add vars to gha env
  .github/dockerfiles/ov_build/ubuntu_20_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

rm unused
  .github/dockerfiles/ov_build/ubuntu_20_04_android_arm64/Dockerfile
Owners: @openvinotoolkit/openvino-ci-maintainers

refine
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/include/fully_connected_inst.h
  src/plugins/intel_gpu/src/graph/program.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Moved conversion to wstring to bindings.
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/src/pyopenvino/frontend/manager.cpp
  src/frontends/common/src/frontend.cpp
  src/frontends/common/src/manager.cpp
  src/frontends/common/src/utils.cpp
  src/frontends/common/src/utils.hpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-common-frontend-maintainers

add get_cmake_path
  src/bindings/python/src/openvino/utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

add description
  src/bindings/python/src/openvino/utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

[ONNX] update trilu.cpp
  src/frontends/onnx/frontend/src/op/trilu.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers

simplified function
  src/bindings/python/src/openvino/utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

[OV JS] Update openvino-node package version to 2024.2.0 port #25067 (#25068)
  samples/js/node/package-lock.json
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
Owners: @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-js-api-maintainers

Out of order support for dGPUs
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.hpp
  src/plugins/intel_gpu/tests/unit/passes/test_module_fusing_reorder.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/barriers_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/command_queue_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/test_device_mem_usage_estimation.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

extended python api with new model.reshape() overload
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

unneeded change reverted
  src/bindings/python/src/pyopenvino/graph/model.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

Initial version of StatefulToStateless transformation (not tested, wrong names of new Parameter/Result pairs).
  src/core/include/openvino/pass/stateful_to_stateless.hpp
  src/core/src/pass/stateful_to_stateless.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

Fixed Validate handling in pass::Manager
  src/core/include/openvino/pass/manager.hpp
  src/core/src/pass/manager.cpp
  src/core/tests/pass_manager.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

[PyOV] bindings for ReadValue op
  src/bindings/python/src/openvino/runtime/op/__init__.py
  src/bindings/python/src/pyopenvino/graph/ops/assign.cpp
  src/bindings/python/src/pyopenvino/graph/ops/read_value.cpp
  src/bindings/python/src/pyopenvino/graph/ops/read_value.hpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_graph/test_create_op.py
  src/bindings/python/tests/test_runtime/test_model.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

[CPU] [ARM] fp16 support
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_emitter.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_fill_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/arm/activation.cpp
  src/tests/functional/shared_test_classes/src/single_op/eltwise.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

feat: Add MyTensor tests for creation, values, shape, and dtype
  src/bindings/python/tests/test_graph/test_core.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

fix LinuxCpuReserveTests issue
  src/inference/src/dev/threading/cpu_streams_executor_internal.cpp
  src/inference/tests/unit/cpu_reserve_test.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

Update to parameterize for hardcoding.
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16_depthwise.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_depthwise.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Fixing accuracy issue
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

Temporaily enable fusions, SA Conv fsv16_1x1 and add debugging env.
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

[GPU] Support fsv16 Shape agnostic convolution.
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16_1x1.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16_depthwise.cl
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_depthwise.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

fix build error.
  src/common/util/include/openvino/util/monitors/device_monitor.hpp
  src/common/util/src/monitors/cpu_performance_counter.cpp
  src/common/util/src/monitors/gpu_performance_counter.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

rm TENSOR_PARALLEL in cpu config
  src/plugins/intel_cpu/src/config.h
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fix LinuxCpuReserveTests issue
  src/inference/src/dev/threading/cpu_streams_executor_internal.cpp
  src/inference/tests/unit/cpu_reserve_test.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

fix code style issue.
  src/common/util/include/openvino/util/monitors/cpu_performance_counter.hpp
  src/common/util/include/openvino/util/monitors/device_monitor.hpp
  src/common/util/include/openvino/util/monitors/gpu_performance_counter.hpp
  src/common/util/include/openvino/util/monitors/performance_counter.hpp
  src/common/util/src/monitors/cpu_performance_counter.cpp
  src/common/util/src/monitors/device_monitor.cpp
  src/common/util/src/monitors/gpu_performance_counter.cpp
  src/plugins/auto/src/plugin.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers

preparation for dynamic quantization
  src/plugins/intel_gpu/include/intel_gpu/op/indirect_sdpa.hpp
  src/plugins/intel_gpu/include/intel_gpu/op/kv_cache.hpp
  src/plugins/intel_gpu/include/intel_gpu/op/sdpa.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/multi_tensor_variable_state.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/kv_cache.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/scaled_dot_product_attention.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/graph/include/kv_cache_inst.h
  src/plugins/intel_gpu/src/graph/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/concatenation_gpu_simple_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/multi_tensor_variable_state.cpp
  src/plugins/intel_gpu/src/plugin/ops/kv_cache.cpp
  src/plugins/intel_gpu/src/plugin/ops/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/src/plugin/transformations/indirect_kv_cache.cpp
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_compression.cpp
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_compression.hpp
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/indirect_sdpa.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/kv_cache.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/sdpa.cpp
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/unsqueeze_broadcast_reshape_sdpa_fusion.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

fix code style.
  src/common/util/include/openvino/util/monitors/cpu_performance_counter.hpp
  src/common/util/include/openvino/util/monitors/device_monitor.hpp
  src/common/util/include/openvino/util/monitors/gpu_performance_counter.hpp
  src/common/util/src/monitors/cpu_performance_counter.cpp
  src/common/util/src/monitors/device_monitor.cpp
  src/common/util/src/monitors/gpu_performance_counter.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

Update model_reader.cpp
  src/inference/src/model_reader.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

[core] Support build OpenVino with gcc 14.1 (#25096)
  src/common/snippets/src/lowered/pass/insert_load_store.cpp
  src/core/include/openvino/core/node_input.hpp
  src/core/include/openvino/core/node_output.hpp
  src/core/include/openvino/core/visibility.hpp
  src/core/tests/type_prop/interpolate.cpp
  src/frontends/tensorflow/src/variables_index.cpp
  src/plugins/intel_gpu/src/plugin/transformations/swiglu_fusion.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration_sw.hpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

[core] Support build OpenVino with gcc 14.1 (#25096)
  src/common/snippets/src/lowered/pass/insert_load_store.cpp
  src/core/include/openvino/core/node_input.hpp
  src/core/include/openvino/core/node_output.hpp
  src/core/include/openvino/core/visibility.hpp
  src/core/tests/type_prop/interpolate.cpp
  src/frontends/tensorflow/src/variables_index.cpp
  src/plugins/intel_gpu/src/plugin/transformations/swiglu_fusion.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration_sw.hpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

[PyAPI][Opset15] Add EmbeddingBagPacked and EmbeddingBagOffsets to PyAPI (#25101)
  src/bindings/python/src/openvino/runtime/opset15/__init__.py
  src/bindings/python/src/openvino/runtime/opset15/ops.py
  src/bindings/python/tests/test_graph/test_ops_embedding.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

[PyAPI][Opset15] Add EmbeddingBagPacked and EmbeddingBagOffsets to PyAPI (#25101)
  src/bindings/python/src/openvino/runtime/opset15/__init__.py
  src/bindings/python/src/openvino/runtime/opset15/ops.py
  src/bindings/python/tests/test_graph/test_ops_embedding.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

ngraph transformation for dynamic quantization
  src/plugins/intel_gpu/include/intel_gpu/op/fully_connected_compressed.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/fully_connected.hpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/dynamic_quantize/dynamic_quantize_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/ops/fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations/dynamic_quantize_fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations/dynamic_quantize_fully_connected.hpp
  src/plugins/intel_gpu/src/plugin/transformations/op/dynamic_quantize.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/fully_connected_compressed.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

update.
  src/common/util/src/monitors/cpu_performance_counter.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

fix comment
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/matmul.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/pooling.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/softmax.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/pad.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/remove_convert.cpp
  src/plugins/intel_cpu/tests/functional/utils/cpu_test_utils.cpp
  src/plugins/intel_cpu/tests/functional/utils/cpu_test_utils.hpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Fix test error
  src/inference/src/model_reader.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

Remove using regex for path not working correctly on win
  src/frontends/onnx/tests/load_from.cpp
  src/frontends/tests/frontend/shared/src/basic_api.cpp
Owners: @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers
