Repository openvinotoolkit/openvino, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-ci-maintainers, @openvinotoolkit/openvino-admins, @openvinotoolkit/openvino-legal-maintainers, @openvinotoolkit/openvino-scripts-maintainers, @openvinotoolkit/openvino-configuration-mgmt, @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-c-api-maintainers, @openvinotoolkit/openvino-js-api-maintainers, @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-lpt-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-gna-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-auto-batch-maintainers, @openvinotoolkit/openvino-hetero-maintainers, @openvinotoolkit/openvino-ie-template-maintainers, @openvinotoolkit/openvino-common-frontend-maintainers, @openvinotoolkit/openvino-ir-frontend-maintainers, @openvinotoolkit/openvino-ie-paddle-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers, @openvinotoolkit/openvino-pytorch-frontend-maintainers, @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers, @openvinotoolkit/openvino-tools-maintainers, @openvinotoolkit/openvino-pot-maintainers, @openvinotoolkit/omz-maintainers, @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino_contrib-arm_plugin-maintainers

[GSOC][CPU][ARM] Support Rotary positional embedding for arm with float16 (#24830)
  src/plugins/intel_cpu/src/nodes/rope.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Support Conv1D from transformers
  src/bindings/python/src/openvino/frontend/pytorch/patch_model.py
  src/frontends/pytorch/src/op/addmm.cpp
  src/frontends/pytorch/src/op/embedding.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-pytorch-frontend-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers

fix build
  src/core/tests/pass_manager.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

Minor fix
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

Minor fix
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

resolve review comments
  src/core/src/pass/manager.cpp
  thirdparty/itt_collector/sea_itt_lib/IttNotifyStdSrc.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-ie-maintainers

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

Minor fix
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

Itermediate, may not work as expected
  src/core/include/openvino/core/symbol.hpp
  src/core/include/openvino/core/symbol_utils.hpp
  src/core/src/symbol.cpp
  src/core/tests/symbol.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

resovle review comments
  src/common/transformations/src/transformations/common_optimizations/simplify_shape_of_sub_graph.cpp
Owners: @openvinotoolkit/openvino-ie-transformations-maintainers

install android stuff in runtime
  .github/dockerfiles/ov_build/ubuntu_22_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Owners: @openvinotoolkit/openvino-ci-maintainers

Minor fix
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
Owners: @openvinotoolkit/openvino-docs-maintainers

Added onnx test.
  tests/layer_tests/ovc_python_api_tests/test_onnx.py
  tests/layer_tests/ovc_python_api_tests/test_tf.py
Owners: @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers

fix warning
  src/core/tests/pass_manager.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

use CamelCase instead of s_n_a_k_e in function
  src/plugins/intel_cpu/tests/functional/utils/cpu_test_utils.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

Update exception throw logic for MO
  src/frontends/paddle/src/frontend.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/graph_iterator_meta.hpp
  src/frontends/tensorflow/src/graph_iterator_proto.hpp
  src/frontends/tensorflow/src/graph_iterator_proto_txt.hpp
  src/frontends/tensorflow/src/graph_iterator_saved_model.cpp
Owners: @openvinotoolkit/openvino-ie-paddle-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers

[properties] PCIInfo: extending structure to include product ID
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/inference/include/openvino/runtime/properties.hpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-ie-maintainers

[intel-npu] Adding product ID to pciinfo struct
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
Owners: @openvinotoolkit/openvino-maintainers

review changes
  src/bindings/python/src/openvino/utils.py
  src/bindings/python/tests/test_utils/test_utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

lint fix
  src/bindings/python/src/openvino/utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

test lint fixes
  src/bindings/python/tests/test_utils/test_utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

use regular asserts
  src/bindings/python/tests/test_utils/test_utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

removed doubled dependency
  docs/dev/ov_dependencies_24_2.txt
Owners: @openvinotoolkit/openvino-docs-maintainers

Update src/bindings/python/src/openvino/utils.py
  src/bindings/python/src/openvino/utils.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

checkpoint
  src/core/include/openvino/op/string_tensor_pack.hpp
  src/core/shape_inference/include/string_tensor_pack_shape_inference.hpp
  src/core/shape_inference/include/string_tensor_unpack_shape_inference.hpp
  src/core/src/op/string_tensor_pack.cpp
  src/core/src/op/string_tensor_unpack.cpp
  src/core/tests/type_prop/string_tensor_pack.cpp
  src/core/tests/type_prop/string_tensor_unpack.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers

Added paddle test.
  tests/layer_tests/ovc_python_api_tests/test_onnx.py
  tests/layer_tests/ovc_python_api_tests/test_paddle.py
Owners: @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers

added a check if it's not empty list
  src/bindings/python/src/pyopenvino/graph/model.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

support all archive generators
  src/bindings/python/wheel/setup.py
Owners: @openvinotoolkit/openvino-configuration-mgmt

Update cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/packaging.cmake
Owners: @openvinotoolkit/openvino-ie-maintainers

Update cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/packaging.cmake
Owners: @openvinotoolkit/openvino-ie-maintainers

Change size_t to uint32_t
  src/bindings/js/node/src/helper.cpp
Owners: @openvinotoolkit/openvino-js-api-maintainers

Updating library path for ze_loader
  src/plugins/intel_npu/src/utils/src/zero/zero_api.cpp
Owners: @openvinotoolkit/openvino-maintainers

ov_cpack_add_components
  src/cmake/openvino.cmake
Owners: @openvinotoolkit/openvino-ie-maintainers

merge links and pkgcfg with dev
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/npm.cmake
  cmake/developer_package/packaging/nsis.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
Owners: @openvinotoolkit/openvino-ie-maintainers

Corrected paddle test.
  tests/layer_tests/ovc_python_api_tests/test_paddle.py
Owners: @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-mo-maintainers

Remove the duplicated code.
  src/frontends/jax/src/translate_session.cpp
Owners: @openvinotoolkit/openvino-maintainers

Optimize the description of the jax decoder.
  src/bindings/python/src/openvino/frontend/jax/jaxpr_decoder.py
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers

Improve test.
  src/common/transformations/include/transformations/common_optimizations/matmul_split_decomposition.hpp
  src/common/transformations/src/transformations/common_optimizations/matmul_split_decomposition.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/matmul_split_decompose.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/matmul_split_decompose.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/matmul_split_decompose.hpp
  src/tests/functional/shared_test_classes/src/subgraph/matmul_split_decompose.cpp
Owners: @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

added patching comments
  src/bindings/python/wheel/setup.py
Owners: @openvinotoolkit/openvino-configuration-mgmt

.github/CODEOWNERS:

# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino-maintainers

# CI
/Jenkinsfile  @openvinotoolkit/openvino-ci-maintainers
/.github/  @openvinotoolkit/openvino-ci-maintainers
/.ci/  @openvinotoolkit/openvino-ci-maintainers
/.github/CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# Licensing:
/licensing/ @openvinotoolkit/openvino-legal-maintainers
/LICENSE @openvinotoolkit/openvino-legal-maintainers

# OpenVINO Scripts:
/scripts/  @openvinotoolkit/openvino-scripts-maintainers
/scripts/install_dependencies/  @openvinotoolkit/openvino-configuration-mgmt @openvinotoolkit/openvino-scripts-maintainers
/install_build_dependencies.sh @openvinotoolkit/openvino-scripts-maintainers @openvinotoolkit/openvino-ie-maintainers

# OpenVINO Core:
/src/inference/  @openvinotoolkit/openvino-ie-maintainers
/src/common/conditional_compilation/ @openvinotoolkit/openvino-ie-maintainers
/src/common/itt/ @openvinotoolkit/openvino-ie-maintainers
/src/common/preprocessing/ @openvinotoolkit/openvino-ie-maintainers
/src/common/util/ @openvinotoolkit/openvino-ie-maintainers
/thirdparty/ @openvinotoolkit/openvino-ie-maintainers
/.gitmodules @openvinotoolkit/openvino-ie-maintainers

/src/bindings/python/ @openvinotoolkit/openvino-ie-python-api-maintainers
/src/bindings/c/ @openvinotoolkit/openvino-c-api-maintainers
/src/bindings/js/ @openvinotoolkit/openvino-js-api-maintainers
/src/common/*transformations/  @openvinotoolkit/openvino-ie-transformations-maintainers
/src/core/  @openvinotoolkit/openvino-ngraph-maintainers

# OpenVINO Samples:
/samples/c/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-c-api-maintainers
/samples/cpp/  @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-maintainers
/samples/python/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/samples/js/ @openvinotoolkit/openvino-samples-maintainers @openvinotoolkit/openvino-js-api-maintainers
/thirdparty/zlib/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/json/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/gflags/ @openvinotoolkit/openvino-samples-maintainers
/thirdparty/cnpy/ @openvinotoolkit/openvino-samples-maintainers

# OpenVINO Func Tests:
/src/tests/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/frontends/tests/frontend/shared/ @openvinotoolkit/openvino-ie-tests-maintainers
/thirdparty/gtest/ @openvinotoolkit/openvino-ie-tests-maintainers

# OpenVINO CPU:
/src/plugins/intel_cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/common/snippets/ @openvinotoolkit/openvino-ie-cpu-maintainers
/thirdparty/xbyak/ @openvinotoolkit/openvino-ie-cpu-maintainers

# OpenVINO LPT
/src/common/low_precision_transformations/  @openvinotoolkit/openvino-ie-lpt-maintainers

# OpenVINO GPU:
/src/plugins/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/tests/**/gpu/ @openvinotoolkit/openvino-ie-gpu-maintainers
/thirdparty/ocl/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers

# OpenVINO GNA:
/src/plugins/intel_gna/  @openvinotoolkit/openvino-ie-gna-maintainers

# OpenVINO Auto (MULTI) plugin:
/src/plugins/auto/  @openvinotoolkit/openvino-ie-auto-multi-maintainers

# OpenVINO Auto (Batch) plugin:
/src/plugins/auto_batch/ @openvinotoolkit/openvino-auto-batch-maintainers

# OpenVINO Hetero plugin:
/src/plugins/hetero/ @openvinotoolkit/openvino-hetero-maintainers

# OpenVINO Template plugin:
/src/plugins/template/ @openvinotoolkit/openvino-ie-template-maintainers

# OpenVINO Frontends:
/src/frontends/common/ @openvinotoolkit/openvino-common-frontend-maintainers
/src/frontends/ir/ @openvinotoolkit/openvino-ir-frontend-maintainers
/src/frontends/paddle/  @openvinotoolkit/openvino-ie-paddle-maintainers
/src/frontends/tensorflow/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_common/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/tensorflow_lite/  @openvinotoolkit/openvino-tf-frontend-maintainers
/src/frontends/pytorch/ @openvinotoolkit/openvino-pytorch-frontend-maintainers

# OpenVINO ONNX Frontend:
/src/frontends/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/thirdparty/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers
/thirdparty/protobuf/ @openvinotoolkit/openvino-onnx-frontend-maintainers @openvinotoolkit/openvino-tf-frontend-maintainers @openvinotoolkit/openvino-ie-maintainers

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers
/tests/layer_tests/ @openvinotoolkit/openvino-tests-maintainers @openvinotoolkit/openvino-mo-maintainers
/tests/layer_tests/pytorch_tests/ @openvinotoolkit/openvino-pytorch-frontend-maintainers
/tests/layer_tests/tensorflow_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/layer_tests/jax_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests @openvinotoolkit/openvino-tf-frontend-maintainers
/tests/model_hub_tests/torch_tests @openvinotoolkit/openvino-pytorch-frontend-maintainers

# Tools:
/tools/  @openvinotoolkit/openvino-tools-maintainers
/tools/benchmark_tool/ @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/legacy/ @openvinotoolkit/openvino-samples-maintainers
/tools/openvino_dev/ @openvinotoolkit/openvino-tools-maintainers @openvinotoolkit/openvino-ie-python-api-maintainers
/tools/mo/  @openvinotoolkit/openvino-mo-maintainers
/tools/ovc/  @openvinotoolkit/openvino-mo-maintainers
/tools/pot/  @openvinotoolkit/openvino-pot-maintainers
/thirdparty/open_model_zoo/ @openvinotoolkit/omz-maintainers @openvinotoolkit/openvino-pot-maintainers

# Documentation
/docs/  @openvinotoolkit/openvino-docs-maintainers
/docs/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers
/**/*.md  @openvinotoolkit/openvino-docs-maintainers
/**/*.svg  @openvinotoolkit/openvino-docs-maintainers
/docs/MO_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-mo-maintainers
/docs/OV_Runtime_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/IE_PLUGIN_DG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/Extensibility_UG/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/snippets/ @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-maintainers
/docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino_contrib-arm_plugin-maintainers
/docs/OV_Runtime_UG/supported_plugins/CPU.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-cpu-maintainers
/docs/OV_Runtime_UG/supported_plugins/GNA.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gna-maintainers
/docs/OV_Runtime_UG/supported_plugins/GPU*.md @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-ie-gpu-maintainers

# Configuration management
/**/setup.py  @openvinotoolkit/openvino-configuration-mgmt
/**/requirements*.*  @openvinotoolkit/openvino-configuration-mgmt
/docs/requirements.txt @openvinotoolkit/openvino-docs-maintainers @openvinotoolkit/openvino-configuration-mgmt

# CMake scripts
/**/cmake/ @openvinotoolkit/openvino-ie-maintainers
/**/*.cmake @openvinotoolkit/openvino-ie-maintainers
/CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers
