Repository openvinotoolkit/openvino, changes with the labels that .github/labeler.yml gives for each.
All labels: category: AUTO BATCH, category: AUTO, category: build, category: C API, category: CI, github_actions, category: Core, category: CPP API, category: CPU, category: dependency_changes, category: docs, category: docs_snippets, category: extensions, category: GPU, category: NPU, category: NPUW, category: HETERO, category: PROXY, category: IE Tests, category: inference, category: IR FE, category: LP transformations, category: OVC, category: ONNX FE, category: packaging, category: PDPD FE, category: preprocessing, category: Python API, category: JS API, category: samples, category: TEMPLATE, category: TF FE, category: TFL FE, category: PyTorch FE, category: JAX FE, category: tools, category: transformations, category: licensing, category: docker_env, category: dockerfiles

.github/labeler.yml:

'category: AUTO BATCH':
- 'src/plugins/auto_batch/**/*'

'category: AUTO':
- 'src/plugins/auto/**/*'

'category: build':
- 'cmake/**/*'
- '**/CMakeLists.txt'
- '**/*.cmake'

'category: C API':
- 'src/bindings/c/**/*'

'category: CI':
- '.github/**/*'
- '.ci/**/*'
- 'Jenkinsfile'

'github_actions':
- '.github/workflows/*'

'category: Core':
- 'src/core/**/*'
- 'src/common/itt/**/*'
- 'src/common/util/**/*'
- 'src/frontends/common/**/*'
- 'src/common/conditional_compilation/**/*'

'category: CPP API':
- 'src/inference/include/**/*'
- 'src/core/include/**/*'
- 'src/frontends/common/include/**/*'
- 'src/frontends/onnx/frontend/include/**/*'
- 'src/frontends/tensorflow/include/**/*'
- 'src/frontends/tensorflow_lite/include/**/*'
- 'src/frontends/pytorch/include/**/*'
- 'src/frontends/paddle/include/**/*'

'category: CPU':
- 'src/plugins/intel_cpu/**/*'
- 'src/common/snippets/**/*'
- 'thirdparty/xbyak/**/*'

'category: dependency_changes':
- '**/requirement*.txt'
- '**/constraints*.txt'
- 'scripts/**/*'
- '.gitmodules'
- '**/setup.py'
- 'conan.lock'
- 'conanfile.txt'
- 'vcpkg.json'
- any: ['thirdparty/**/*',
        '!thirdparty/**/CMakeLists.txt']

'category: docs':
- '**/*.md'
- any: ['docs/**/*',
        '!docs/snippets/**/*']

'category: docs_snippets':
- 'docs/snippets/**/*'

'category: extensions':
- 'src/core/include/openvino/core/extension.hpp'
- 'src/frontends/common/include/openvino/frontend/extension.hpp'
- 'src/frontends/common/include/openvino/frontend/extension/**/*'

'category: GPU':
- 'src/plugins/intel_gpu/**/*'
- 'thirdparty/ocl/**/*'

'category: NPU':
- 'src/plugins/intel_npu/**/*'

'category: NPUW':
- 'src/plugins/intel_npu/src/plugin/npuw/**/*'
- 'src/plugins/intel_npu/tests/functional/behavior/npuw/**/*'
- 'src/plugins/intel_npu/tests/unit/behavior/npuw/**/*'

'category: HETERO':
- 'src/plugins/hetero/**/*'

'category: PROXY':
- 'src/plugins/proxy/**/*'

'category: IE Tests':
- 'thirdparty/gtest/**/*'
- 'src/frontends/tests/frontend/shared/**/*'
- 'src/tests/**/*'

'category: inference':
- 'src/inference/**/*'
- 'src/cmake/**/*'

'category: IR FE':
- 'src/frontends/ir/**/*'

'category: LP transformations':
- 'src/common/low_precision_transformations/**/*'

'category: OVC':
- 'tools/ovc/**/*'
- 'tests/layer_tests/ovc_python_api_tests/**/*'

'category: ONNX FE':
- 'src/frontends/onnx/**/*'
- 'thirdparty/onnx/**/*'
- 'tests/layer_tests/onnx_tests/**/*'

'category: packaging':
- 'cmake/**/packaging/**/*'
- 'src/bindings/python/wheel/**/*'
- any: ['src/bindings/js/node/CMakeLists.txt',
        'src/bindings/js/node/package.json',
        'src/bindings/js/node/package-lock.json']

'category: PDPD FE':
- 'src/frontends/paddle/**/*'
- 'tests/layer_tests/py_frontend_tests/test_paddle_frontend.py'

'category: preprocessing':
- 'src/common/preprocessing/**/*'

'category: Python API':
- 'src/bindings/python/**/*'

'category: JS API':
- 'src/bindings/js/**/*'

'category: samples':
- 'samples/**/*'
- 'thirdparty/zlib/**/*'
- 'thirdparty/gflags/**/*'
- 'thirdparty/json/**/*'
- 'thirdparty/cnpy/**/*'
- 'tests/samples_tests/smoke_tests/**/*'

'category: TEMPLATE':
- 'src/plugins/template/**/*'

'category: TF FE':
- 'src/frontends/tensorflow/**/*'
- 'src/frontends/tensorflow_common/**/*'
- 'src/bindings/python/src/openvino/frontend/tensorflow/**/*'
- 'tests/layer_tests/tensorflow_tests/**/*'
- 'tests/layer_tests/tensorflow2_keras_tests/**/*'
- 'tests/layer_tests/jax_tests/**/*'
- 'tests/requirements_tensorflow'
- any: ['tests/model_hub_tests/**',
        '!tests/model_hub_tests/pytorch/**/*',
        '!tests/model_hub_tests/jax/**/*']

'category: TFL FE':
- 'src/frontends/tensorflow_lite/**/*'
- 'src/frontends/tensorflow_common/**/*'
- 'tests/layer_tests/tensorflow_lite_tests/**/*'

'category: PyTorch FE':
- 'src/frontends/pytorch/**/*'
- 'tests/layer_tests/pytorch_tests/**/*'
- 'src/bindings/python/src/openvino/frontend/pytorch/**/*'
- 'tests/layer_tests/py_frontend_tests/test_torch_decoder.py'
- 'tests/layer_tests/py_frontend_tests/test_torch_frontend.py'
- 'tests/requirements_pytorch'
- any: ['tests/model_hub_tests/**',
        '!tests/model_hub_tests/tensorflow/**/*',
        '!tests/model_hub_tests/jax/**/*']

'category: JAX FE':
- 'src/frontends/jax/**/*'
- 'src/bindings/python/src/openvino/frontend/jax/**/*'
- 'tests/layer_tests/jax_tests/**/*'
- any: ['tests/model_hub_tests/**',
        '!tests/model_hub_tests/tensorflow/**/*',
        '!tests/model_hub_tests/pytorch/**/*']

'category: tools':
- any: ['tools/**',
        '!tools/ovc/**/*']

'category: transformations':
- 'src/common/transformations/**/*'
- 'src/common/offline_transformations/**/*'
- 'src/core/pattern/**/*'
- 'src/core/pass/**/*'
- 'src/core/include/openvino/pass/**/*'

'category: licensing':
- 'licensing/**/*'
- 'LICENSE'

'category: docker_env':
- '.dockerignore'
- 'install_build_dependencies.sh'
- '**/install_openvino_dependencies.sh'
- '.github/actions/handle_docker/**/*'

'category: dockerfiles':
- '.github/dockerfiles/**/*'

Use move for the out shape
  src/core/shape_inference/include/glu_shape_inference.hpp
Labels: category: Core

Add kleidiai types
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/nodes/executors/kleidiai/kleidiai_mm.cpp
  src/plugins/intel_cpu/src/onednn/iml_type_mapper.cpp
  src/plugins/intel_cpu/src/onednn/iml_type_mapper.h
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/arm/matmul.cpp
  src/plugins/intel_cpu/tests/functional/utils/arm/filter_cpu_info.cpp
  src/plugins/intel_cpu/tests/functional/utils/cpu_test_utils.cpp
  src/plugins/intel_cpu/tests/functional/utils/x64/filter_cpu_info.cpp
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/plugins/intel_cpu/thirdparty/kleidiai_include_directories_patch.diff
Labels: category: build, category: CPU

[PT FE] Support AWQ models with GEMM module (#27624)
  src/bindings/python/src/openvino/frontend/pytorch/gptq.py
  src/bindings/python/src/openvino/frontend/pytorch/quantized.py
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/frontends/pytorch/src/op/linear.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.cpp
  tests/model_hub_tests/pytorch/detectron2_precommit
  tests/model_hub_tests/pytorch/test_llm.py
  tests/requirements_pytorch
Labels: category: Python API, category: PyTorch FE

[PT FE] Support AWQ models with GEMM module (#27624)
  src/bindings/python/src/openvino/frontend/pytorch/gptq.py
  src/bindings/python/src/openvino/frontend/pytorch/quantized.py
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/frontends/pytorch/src/op/linear.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.cpp
  tests/model_hub_tests/pytorch/detectron2_precommit
  tests/model_hub_tests/pytorch/test_llm.py
  tests/requirements_pytorch
Labels: category: Python API, category: PyTorch FE

Enable CM kernels for GPU
  src/plugins/intel_gpu/include/intel_gpu/primitives/implementation_desc.hpp
  src/plugins/intel_gpu/src/graph/impls/cm/impl_example.cpp
  src/plugins/intel_gpu/src/graph/impls/cm/impl_example.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernels_cache.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernels_cache.hpp
  src/plugins/intel_gpu/src/graph/impls/registry/fully_connected_impls.cpp
  src/plugins/intel_gpu/src/graph/impls/registry/registry.hpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
  src/plugins/intel_gpu/src/kernel_selector/cm_kernels/example.cpp
  src/plugins/intel_gpu/src/kernel_selector/cm_kernels/include/batch_headers/exmaple_batch_header.h
  src/plugins/intel_gpu/src/kernel_selector/cm_kernels/include/example_header.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_base_cm.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/cm/fully_connected_cm_example.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/cm/fully_connected_cm_example.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/cm/fully_connected_cm_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/cm/fully_connected_cm_kernel_selector.h
  src/plugins/intel_gpu/src/kernel_selector/primitive_db.cpp
  src/plugins/intel_gpu/src/kernel_selector/primitive_db.h
  src/plugins/intel_gpu/src/kernel_selector/primitive_db_gen.py
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: build, category: GPU

Avoid exceptions from dtors
  src/core/reference/include/openvino/reference/utils/registers_pool.hpp
  src/core/reference/src/utils/registers_pool.cpp
Labels: category: Core

[GHA][ov-provider] Use github.workspace for upload-artifact (#27820)
  .github/actions/openvino_provider/action.yml
Labels: category: CI

[GHA][ov-provider] Use github.workspace for upload-artifact (#27820)
  .github/actions/openvino_provider/action.yml
Labels: category: CI

set output from variable's memory if kv-cache
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
Labels: category: GPU

Added proper function
  src/bindings/js/node/src/tensor.cpp
Labels: category: JS API

[GPU] set output from variable's memory if kv-cache (#27658)
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
Labels: category: GPU

[GPU] set output from variable's memory if kv-cache (#27658)
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
Labels: category: GPU

Fixed OVC logger. (#27837)
  tools/ovc/openvino/tools/ovc/convert.py
  tools/ovc/openvino/tools/ovc/convert_impl.py
  tools/ovc/openvino/tools/ovc/help.py
  tools/ovc/openvino/tools/ovc/logger.py
Labels: category: OVC

Fixed OVC logger. (#27837)
  tools/ovc/openvino/tools/ovc/convert.py
  tools/ovc/openvino/tools/ovc/convert_impl.py
  tools/ovc/openvino/tools/ovc/help.py
  tools/ovc/openvino/tools/ovc/logger.py
Labels: category: OVC

small fixes
  .gitignore
  src/plugins/intel_cpu/thirdparty/ACLConfig.cmake
Labels: category: build, category: CPU

Fix bad formatting
  src/plugins/intel_gpu/src/kernel_selector/primitive_db.cpp
Labels: category: GPU

change comparison for num proc
  src/plugins/intel_cpu/thirdparty/ACLConfig.cmake
Labels: category: build, category: CPU

[PT FE] Support AWQ models with GEMM module (#27624)
  src/bindings/python/src/openvino/frontend/pytorch/gptq.py
  src/bindings/python/src/openvino/frontend/pytorch/quantized.py
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/frontends/pytorch/src/op/linear.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.cpp
  tests/model_hub_tests/pytorch/detectron2_precommit
  tests/model_hub_tests/pytorch/test_llm.py
  tests/requirements_pytorch
Labels: category: Python API, category: PyTorch FE

Add `char` to (un)signed list depends on actual implementation
  src/core/include/openvino/core/any.hpp
  src/core/src/any.cpp
  src/core/tests/any.cpp
Labels: category: Core, category: CPP API

[tools] [sit] Add feature to skip layers in SIT
  src/plugins/intel_npu/tools/single-image-test/main.cpp
Labels: category: NPU

revert processes
  src/plugins/intel_cpu/thirdparty/ACLConfig.cmake
Labels: category: build, category: CPU

comments
  .github/workflows/job_python_api_tests.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/mac.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
Labels: category: CI, github_actions

_minor_
  src/core/reference/src/utils/registers_pool.cpp
Labels: category: Core

[DOCS] genai tweaks pass 2 mstr
  docs/articles_en/assets/images/genai_main_diagram.svg
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

[DOCS] genai tweaks pass 2 mstr
  docs/articles_en/assets/images/genai_main_diagram.svg
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

[DOCS] genai tweaks pass 2 (#27856)
  docs/articles_en/assets/images/genai_main_diagram.svg
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

[DOCS] genai tweaks pass 2 (#27856)
  docs/articles_en/assets/images/genai_main_diagram.svg
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/index.rst
Labels: category: docs
