Repository openvinotoolkit/openvino, changes with the labels that .github/labeler.yml gives for each.
All labels: category: AUTO BATCH, category: AUTO, category: build, category: C API, category: CI, github_actions, category: Core, category: CPP API, category: CPU, category: dependency_changes, category: docs, category: docs_snippets, category: extensions, category: GNA, category: GPU, category: HETERO, category: PROXY, category: IE Tests, category: inference, category: IR FE, category: LP transformations, category: MO, category: ONNX FE, category: packaging, category: PDPD FE, category: POT, category: preprocessing, category: Python API, category: JS API, category: samples, category: TEMPLATE, category: TF FE, category: TFL FE, category: PyTorch FE, category: tools, category: transformations, category: licensing

.github/labeler.yml:

'category: AUTO BATCH':
- 'src/plugins/auto_batch/**/*'

'category: AUTO':
- 'src/plugins/auto/**/*'

'category: build':
- 'cmake/**/*'
- '**/CMakeLists.txt'
- '**/*.cmake'

'category: C API':
- 'src/bindings/c/**/*'

'category: CI':
- '.github/**/*'
- '.ci/**/*'
- 'Jenkinsfile'

'github_actions':
- '.github/workflows/*'

'category: Core':
- 'src/core/**/*'
- 'src/common/itt/**/*'
- 'src/common/util/**/*'
- 'src/frontends/common/**/*'
- 'src/common/conditional_compilation/**/*'

'category: CPP API':
- 'src/inference/include/**/*'
- 'src/core/include/**/*'
- 'src/frontends/common/include/**/*'
- 'src/frontends/onnx/frontend/include/**/*'
- 'src/frontends/tensorflow/include/**/*'
- 'src/frontends/tensorflow_lite/include/**/*'
- 'src/frontends/pytorch/include/**/*'
- 'src/frontends/paddle/include/**/*'

'category: CPU':
- 'src/plugins/intel_cpu/**/*'
- 'src/common/snippets/**/*'
- 'thirdparty/xbyak/**/*'

'category: dependency_changes':
- '**/requirement*.txt'
- '**/constraints*.txt'
- 'scripts/**/*'
- '.gitmodules'
- '**/setup.py'
- 'conan.lock'
- 'conanfile.txt'
- 'vcpkg.json'
- any: ['thirdparty/**/*',
        '!thirdparty/**/CMakeLists.txt']

'category: docs':
- '**/*.md'
- any: ['docs/**/*',
        '!docs/snippets/**/*']

'category: docs_snippets':
- 'docs/snippets/**/*'

'category: extensions':
- 'src/core/include/openvino/core/extension.hpp'
- 'src/frontends/common/include/openvino/frontend/extension.hpp'
- 'src/frontends/common/include/openvino/frontend/extension/**/*'

'category: GNA':
- 'src/plugins/intel_gna/**/*'

'category: GPU':
- 'src/plugins/intel_gpu/**/*'
- 'thirdparty/ocl/**/*'

'category: HETERO':
- 'src/plugins/hetero/**/*'

'category: PROXY':
- 'src/plugins/proxy/**/*'

'category: IE Tests':
- 'thirdparty/gtest/**/*'
- 'src/frontends/tests/frontend/shared/**/*'
- 'src/tests/**/*'

'category: inference':
- 'src/inference/**/*'
- 'src/cmake/**/*'

'category: IR FE':
- 'src/frontends/ir/**/*'

'category: LP transformations':
- 'src/common/low_precision_transformations/**/*'

'category: MO':
- 'tools/mo/**/*'
- 'tools/ovc/**/*'
- 'tests/layer_tests/mo_python_api_tests/**/*'
- 'tests/layer_tests/ovc_python_api_tests/**/*'

'category: ONNX FE':
- 'src/frontends/onnx/**/*'
- 'thirdparty/onnx/**/*'
- 'tests/layer_tests/onnx_tests/**/*'

'category: packaging':
- 'cmake/**/packaging/**/*'
- 'src/bindings/python/wheel/**/*'
- any: ['src/bindings/js/node/CMakeLists.txt',
        'src/bindings/js/node/package.json',
        'src/bindings/js/node/package-lock.json']
- 'tools/openvino_dev/**/*'

'category: PDPD FE':
- 'src/frontends/paddle/**/*'
- 'tests/layer_tests/py_frontend_tests/test_paddle_frontend.py'

'category: POT':
- 'tools/pot/**/*'

'category: preprocessing':
- 'src/common/preprocessing/**/*'

'category: Python API':
- 'src/bindings/python/**/*'

'category: JS API':
- 'src/bindings/js/**/*'

'category: samples':
- 'samples/**/*'
- 'thirdparty/zlib/**/*'
- 'thirdparty/gflags/**/*'
- 'thirdparty/json/**/*'
- 'thirdparty/cnpy/**/*'
- 'tests/samples_tests/smoke_tests/**/*'

'category: TEMPLATE':
- 'src/plugins/template/**/*'

'category: TF FE':
- 'src/frontends/tensorflow/**/*'
- 'src/frontends/tensorflow_common/**/*'
- 'tests/layer_tests/tensorflow_tests/**/*'
- 'tests/layer_tests/tensorflow2_keras_tests/**/*'
- 'tests/layer_tests/jax_tests/**/*'
- any: ['tests/model_hub_tests/**',
        '!tests/model_hub_tests/torch_tests/**/*']

'category: TFL FE':
- 'src/frontends/tensorflow_lite/**/*'
- 'src/frontends/tensorflow_common/**/*'
- 'tests/layer_tests/tensorflow_lite_tests/**/*'

'category: PyTorch FE':
- 'src/frontends/pytorch/**/*'
- 'tests/layer_tests/pytorch_tests/**/*'
- 'src/bindings/python/src/openvino/frontend/pytorch/**/*'
- 'tests/layer_tests/py_frontend_tests/test_torch_decoder.py'
- 'tests/layer_tests/py_frontend_tests/test_torch_frontend.py'
- any: ['tests/model_hub_tests/**',
        '!tests/model_hub_tests/tf_hub_tests/**/*']

'category: tools':
- any: ['tools/**',
        '!tools/pot/**/*',
        '!tools/mo/**/*',
        '!tools/ovc/**/*']

'category: transformations':
- 'src/common/transformations/**/*'
- 'src/common/offline_transformations/**/*'

'category: licensing':
- 'licensing/**/*'
- 'LICENSE'

[GPU] Enable bf16 weights (#24972)
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/bf16_utils.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_weights_kernel.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_weights_kernel.h
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/convert_bf16_fp32_fp16.cpp
Labels: category: GPU

[GPU] Enable bf16 weights (#24972)
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/bf16_utils.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_weights_kernel.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_weights_kernel.h
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/convert_bf16_fp32_fp16.cpp
Labels: category: GPU

add vars to gha env
  .github/dockerfiles/ov_build/ubuntu_20_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Labels: category: CI, github_actions

rm unused
  .github/dockerfiles/ov_build/ubuntu_20_04_android_arm64/Dockerfile
Labels: category: CI

refine
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/include/fully_connected_inst.h
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

Moved conversion to wstring to bindings.
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/src/pyopenvino/frontend/manager.cpp
  src/frontends/common/src/frontend.cpp
  src/frontends/common/src/manager.cpp
  src/frontends/common/src/utils.cpp
  src/frontends/common/src/utils.hpp
Labels: category: Core, category: Python API

add get_cmake_path
  src/bindings/python/src/openvino/utils.py
Labels: category: Python API

add description
  src/bindings/python/src/openvino/utils.py
Labels: category: Python API

[ONNX] update trilu.cpp
  src/frontends/onnx/frontend/src/op/trilu.cpp
Labels: category: ONNX FE

simplified function
  src/bindings/python/src/openvino/utils.py
Labels: category: Python API

[OV JS] Update openvino-node package version to 2024.2.0 port #25067 (#25068)
  samples/js/node/package-lock.json
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
Labels: category: JS API, category: samples

Out of order support for dGPUs
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.hpp
  src/plugins/intel_gpu/tests/unit/passes/test_module_fusing_reorder.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/barriers_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/command_queue_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/test_device_mem_usage_estimation.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.cpp
Labels: category: GPU

extended python api with new model.reshape() overload
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/tests/test_runtime/test_model.py
Labels: category: Python API

unneeded change reverted
  src/bindings/python/src/pyopenvino/graph/model.cpp
Labels: category: Python API

Initial version of StatefulToStateless transformation (not tested, wrong names of new Parameter/Result pairs).
  src/core/include/openvino/pass/stateful_to_stateless.hpp
  src/core/src/pass/stateful_to_stateless.cpp
Labels: category: Core, category: CPP API

Fixed Validate handling in pass::Manager
  src/core/include/openvino/pass/manager.hpp
  src/core/src/pass/manager.cpp
  src/core/tests/pass_manager.cpp
Labels: category: Core, category: CPP API

[PyOV] bindings for ReadValue op
  src/bindings/python/src/openvino/runtime/op/__init__.py
  src/bindings/python/src/pyopenvino/graph/ops/assign.cpp
  src/bindings/python/src/pyopenvino/graph/ops/read_value.cpp
  src/bindings/python/src/pyopenvino/graph/ops/read_value.hpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_graph/test_create_op.py
  src/bindings/python/tests/test_runtime/test_model.py
Labels: category: Python API

[CPU] [ARM] fp16 support
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_emitter.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_fill_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/arm/activation.cpp
  src/tests/functional/shared_test_classes/src/single_op/eltwise.cpp
Labels: category: CPU, category: IE Tests

feat: Add MyTensor tests for creation, values, shape, and dtype
  src/bindings/python/tests/test_graph/test_core.py
Labels: category: Python API

fix LinuxCpuReserveTests issue
  src/inference/src/dev/threading/cpu_streams_executor_internal.cpp
  src/inference/tests/unit/cpu_reserve_test.cpp
Labels: category: inference

Update to parameterize for hardcoding.
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16_depthwise.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_depthwise.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.cpp
Labels: category: GPU

Fixing accuracy issue
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.cpp
Labels: category: GPU

Temporaily enable fusions, SA Conv fsv16_1x1 and add debugging env.
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
Labels: category: GPU

[GPU] Support fsv16 Shape agnostic convolution.
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16_1x1.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16_depthwise.cl
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_depthwise.cpp
Labels: category: GPU

fix build error.
  src/common/util/include/openvino/util/monitors/device_monitor.hpp
  src/common/util/src/monitors/cpu_performance_counter.cpp
  src/common/util/src/monitors/gpu_performance_counter.cpp
Labels: category: Core

rm TENSOR_PARALLEL in cpu config
  src/plugins/intel_cpu/src/config.h
Labels: category: CPU

fix LinuxCpuReserveTests issue
  src/inference/src/dev/threading/cpu_streams_executor_internal.cpp
  src/inference/tests/unit/cpu_reserve_test.cpp
Labels: category: inference

fix code style issue.
  src/common/util/include/openvino/util/monitors/cpu_performance_counter.hpp
  src/common/util/include/openvino/util/monitors/device_monitor.hpp
  src/common/util/include/openvino/util/monitors/gpu_performance_counter.hpp
  src/common/util/include/openvino/util/monitors/performance_counter.hpp
  src/common/util/src/monitors/cpu_performance_counter.cpp
  src/common/util/src/monitors/device_monitor.cpp
  src/common/util/src/monitors/gpu_performance_counter.cpp
  src/plugins/auto/src/plugin.cpp
Labels: category: AUTO, category: Core

preparation for dynamic quantization
  src/plugins/intel_gpu/include/intel_gpu/op/indirect_sdpa.hpp
  src/plugins/intel_gpu/include/intel_gpu/op/kv_cache.hpp
  src/plugins/intel_gpu/include/intel_gpu/op/sdpa.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/multi_tensor_variable_state.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/kv_cache.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/scaled_dot_product_attention.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/graph/include/kv_cache_inst.h
  src/plugins/intel_gpu/src/graph/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/concatenation_gpu_simple_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/multi_tensor_variable_state.cpp
  src/plugins/intel_gpu/src/plugin/ops/kv_cache.cpp
  src/plugins/intel_gpu/src/plugin/ops/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/src/plugin/transformations/indirect_kv_cache.cpp
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_compression.cpp
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_compression.hpp
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/indirect_sdpa.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/kv_cache.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/sdpa.cpp
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/unsqueeze_broadcast_reshape_sdpa_fusion.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
Labels: category: GPU

fix code style.
  src/common/util/include/openvino/util/monitors/cpu_performance_counter.hpp
  src/common/util/include/openvino/util/monitors/device_monitor.hpp
  src/common/util/include/openvino/util/monitors/gpu_performance_counter.hpp
  src/common/util/src/monitors/cpu_performance_counter.cpp
  src/common/util/src/monitors/device_monitor.cpp
  src/common/util/src/monitors/gpu_performance_counter.cpp
Labels: category: Core

Update model_reader.cpp
  src/inference/src/model_reader.cpp
Labels: category: inference

[core] Support build OpenVino with gcc 14.1 (#25096)
  src/common/snippets/src/lowered/pass/insert_load_store.cpp
  src/core/include/openvino/core/node_input.hpp
  src/core/include/openvino/core/node_output.hpp
  src/core/include/openvino/core/visibility.hpp
  src/core/tests/type_prop/interpolate.cpp
  src/frontends/tensorflow/src/variables_index.cpp
  src/plugins/intel_gpu/src/plugin/transformations/swiglu_fusion.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration_sw.hpp
Labels: category: Core, category: CPP API, category: CPU, category: GPU, category: IE Tests, category: TF FE

[core] Support build OpenVino with gcc 14.1 (#25096)
  src/common/snippets/src/lowered/pass/insert_load_store.cpp
  src/core/include/openvino/core/node_input.hpp
  src/core/include/openvino/core/node_output.hpp
  src/core/include/openvino/core/visibility.hpp
  src/core/tests/type_prop/interpolate.cpp
  src/frontends/tensorflow/src/variables_index.cpp
  src/plugins/intel_gpu/src/plugin/transformations/swiglu_fusion.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration_sw.hpp
Labels: category: Core, category: CPP API, category: CPU, category: GPU, category: IE Tests, category: TF FE

[PyAPI][Opset15] Add EmbeddingBagPacked and EmbeddingBagOffsets to PyAPI (#25101)
  src/bindings/python/src/openvino/runtime/opset15/__init__.py
  src/bindings/python/src/openvino/runtime/opset15/ops.py
  src/bindings/python/tests/test_graph/test_ops_embedding.py
Labels: category: Python API

[PyAPI][Opset15] Add EmbeddingBagPacked and EmbeddingBagOffsets to PyAPI (#25101)
  src/bindings/python/src/openvino/runtime/opset15/__init__.py
  src/bindings/python/src/openvino/runtime/opset15/ops.py
  src/bindings/python/tests/test_graph/test_ops_embedding.py
Labels: category: Python API

ngraph transformation for dynamic quantization
  src/plugins/intel_gpu/include/intel_gpu/op/fully_connected_compressed.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/fully_connected.hpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/dynamic_quantize/dynamic_quantize_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/ops/fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations/dynamic_quantize_fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations/dynamic_quantize_fully_connected.hpp
  src/plugins/intel_gpu/src/plugin/transformations/op/dynamic_quantize.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/fully_connected_compressed.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU

update.
  src/common/util/src/monitors/cpu_performance_counter.cpp
Labels: category: Core

fix comment
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/matmul.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/pooling.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/softmax.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/pad.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/remove_convert.cpp
  src/plugins/intel_cpu/tests/functional/utils/cpu_test_utils.cpp
  src/plugins/intel_cpu/tests/functional/utils/cpu_test_utils.hpp
Labels: category: CPU

Fix test error
  src/inference/src/model_reader.cpp
Labels: category: inference

Remove using regex for path not working correctly on win
  src/frontends/onnx/tests/load_from.cpp
  src/frontends/tests/frontend/shared/src/basic_api.cpp
Labels: category: IE Tests, category: ONNX FE
