Repository openvinotoolkit/openvino, changes with the labels that .github/labeler.yml gives for each.
All labels: category: AUTO BATCH, category: AUTO, category: build, category: C API, category: CI, github_actions, category: Core, category: CPP API, category: CPU, category: dependency_changes, category: docs, category: docs_snippets, category: extensions, category: GNA, category: GPU, category: HETERO, category: PROXY, category: IE Tests, category: inference, category: IR FE, category: LP transformations, category: MO, category: ONNX FE, category: packaging, category: PDPD FE, category: POT, category: preprocessing, category: Python API, category: JS API, category: samples, category: TEMPLATE, category: TF FE, category: TFL FE, category: PyTorch FE, category: tools, category: transformations, category: licensing

[DOCS] ITT Performance Analysis update for master (#24925)
  src/docs/performance_analysis_ITT_counters.md
Labels: category: docs

[DOCS] ITT Performance Analysis update for master (#24925)
  src/docs/performance_analysis_ITT_counters.md
Labels: category: docs

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-pack-15.rst
Labels: category: docs

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-unpack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-unpack-15.rst
Labels: category: docs

Apply CR
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-unpack-15.rst
Labels: category: docs

revert test
  src/common/transformations/tests/common_optimizations/compress_float_constants_test.cpp
Labels: category: transformations

Fix indentation
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sparse/embedding-bag-packed-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sparse/embedding-bag-packed-sum-3.rst
Labels: category: docs

port 24925
  src/docs/performance_analysis_ITT_counters.md
Labels: category: docs

optimal memory
  src/plugins/intel_cpu/src/graph.cpp
Labels: category: CPU

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-pack-15.rst
Labels: category: docs

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-pack-15.rst
Labels: category: docs

CR
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-unpack-15.rst
Labels: category: docs

Test fix.
  tests/layer_tests/ovc_python_api_tests/test_tf.py
Labels: category: MO

CR
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
Labels: category: docs

init
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/op/string_tensor_pack.hpp
  src/core/include/openvino/op/string_tensor_unpack.hpp
  src/core/shape_inference/include/string_tensor_pack_shape_inference.hpp
  src/core/shape_inference/include/string_tensor_unpack_shape_inference.hpp
  src/core/src/op/string_tensor_pack.cpp
  src/core/src/op/string_tensor_unpack.cpp
Labels: category: Core, category: CPP API

Remove skipped tests
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: none

unsigned short instead ushort
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/convert_bf16_fp32_fp16.cpp
Labels: category: GPU

Minor change
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
Labels: category: docs

Revert "fix to_string and tile configure"
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
Labels: category: CPU

Revert "Isolate executor config interface"
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
Labels: category: CPU

[OV JS] Parameters validation, templates approach (#24921)
  src/bindings/js/node/CMakeLists.txt
  src/bindings/js/node/include/helper.hpp
  src/bindings/js/node/include/type_validation.hpp
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/src/type_validation.cpp
  src/bindings/js/node/tests/basic.test.js
Labels: category: build, category: JS API

[OV JS] Parameters validation, templates approach (#24921)
  src/bindings/js/node/CMakeLists.txt
  src/bindings/js/node/include/helper.hpp
  src/bindings/js/node/include/type_validation.hpp
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/src/type_validation.cpp
  src/bindings/js/node/tests/basic.test.js
Labels: category: build, category: JS API

Fix condition
  src/bindings/js/node/src/tensor.cpp
Labels: category: JS API

Add assert for array element type
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/tests/tensor.test.js
Labels: category: JS API

update oneTBB 2021.13.0-rc1 for linux arm64 and macos (#25031)
  cmake/dependencies.cmake
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_plugin/properties.cpp
Labels: category: build, category: CPU

update oneTBB 2021.13.0-rc1 for linux arm64 and macos (#25031)
  cmake/dependencies.cmake
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_plugin/properties.cpp
Labels: category: build, category: CPU

add dockerfile, use it in workflow
  .github/dockerfiles/ov_build/ubuntu_20_04_android_arm64/Dockerfile
  .github/workflows/android_arm64.yml
Labels: category: CI, github_actions

update dockertag
  .github/dockerfiles/docker_tag
Labels: category: CI

add missing dep
  .github/workflows/android_arm64.yml
Labels: category: CI, github_actions

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
Labels: category: docs

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
Labels: category: docs

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
Labels: category: docs

Update docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
Labels: category: docs

CR
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/string-tensor-pack-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-unpack-15.rst
Labels: category: docs

[PyOV] visit_attributes for custom python operations. (#25058)
  src/bindings/python/src/pyopenvino/graph/attribute_visitor.cpp
  src/bindings/python/src/pyopenvino/graph/attribute_visitor.hpp
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/src/pyopenvino/graph/node_output.hpp
  src/bindings/python/src/pyopenvino/graph/op.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/bindings/python/tests/test_graph/test_custom_op.py
  src/bindings/python/tests/test_runtime/test_model.py
  src/bindings/python/tests/test_runtime/test_output_const_node.py
  src/bindings/python/tests/test_runtime/test_sync_infer_request.py
Labels: category: Python API

[PyOV] visit_attributes for custom python operations. (#25058)
  src/bindings/python/src/pyopenvino/graph/attribute_visitor.cpp
  src/bindings/python/src/pyopenvino/graph/attribute_visitor.hpp
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/src/pyopenvino/graph/node_output.hpp
  src/bindings/python/src/pyopenvino/graph/op.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/bindings/python/tests/test_graph/test_custom_op.py
  src/bindings/python/tests/test_runtime/test_model.py
  src/bindings/python/tests/test_runtime/test_output_const_node.py
  src/bindings/python/tests/test_runtime/test_sync_infer_request.py
Labels: category: Python API

[GPU] Optimize small batch and bugfix
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bf_tiled.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/fully_connected_gpu_bf_tiled_common.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
Labels: category: GPU

Formatting
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sparse/embedding-bag-packed-15.rst
Labels: category: docs

install gcc
  .github/dockerfiles/ov_build/ubuntu_20_04_android_arm64/Dockerfile
Labels: category: CI

debug vars
  .github/workflows/android_arm64.yml
Labels: category: CI, github_actions

.github/labeler.yml:

'category: AUTO BATCH':
- 'src/plugins/auto_batch/**/*'

'category: AUTO':
- 'src/plugins/auto/**/*'

'category: build':
- 'cmake/**/*'
- '**/CMakeLists.txt'
- '**/*.cmake'

'category: C API':
- 'src/bindings/c/**/*'

'category: CI':
- '.github/**/*'
- '.ci/**/*'
- 'Jenkinsfile'

'github_actions':
- '.github/workflows/*'

'category: Core':
- 'src/core/**/*'
- 'src/common/itt/**/*'
- 'src/common/util/**/*'
- 'src/frontends/common/**/*'
- 'src/common/conditional_compilation/**/*'

'category: CPP API':
- 'src/inference/include/**/*'
- 'src/core/include/**/*'
- 'src/frontends/common/include/**/*'
- 'src/frontends/onnx/frontend/include/**/*'
- 'src/frontends/tensorflow/include/**/*'
- 'src/frontends/tensorflow_lite/include/**/*'
- 'src/frontends/pytorch/include/**/*'
- 'src/frontends/paddle/include/**/*'

'category: CPU':
- 'src/plugins/intel_cpu/**/*'
- 'src/common/snippets/**/*'
- 'thirdparty/xbyak/**/*'

'category: dependency_changes':
- '**/requirement*.txt'
- '**/constraints*.txt'
- 'scripts/**/*'
- '.gitmodules'
- '**/setup.py'
- 'conan.lock'
- 'conanfile.txt'
- 'vcpkg.json'
- any: ['thirdparty/**/*',
        '!thirdparty/**/CMakeLists.txt']

'category: docs':
- '**/*.md'
- any: ['docs/**/*',
        '!docs/snippets/**/*']

'category: docs_snippets':
- 'docs/snippets/**/*'

'category: extensions':
- 'src/core/include/openvino/core/extension.hpp'
- 'src/frontends/common/include/openvino/frontend/extension.hpp'
- 'src/frontends/common/include/openvino/frontend/extension/**/*'

'category: GNA':
- 'src/plugins/intel_gna/**/*'

'category: GPU':
- 'src/plugins/intel_gpu/**/*'
- 'thirdparty/ocl/**/*'

'category: HETERO':
- 'src/plugins/hetero/**/*'

'category: PROXY':
- 'src/plugins/proxy/**/*'

'category: IE Tests':
- 'thirdparty/gtest/**/*'
- 'src/frontends/tests/frontend/shared/**/*'
- 'src/tests/**/*'

'category: inference':
- 'src/inference/**/*'
- 'src/cmake/**/*'

'category: IR FE':
- 'src/frontends/ir/**/*'

'category: LP transformations':
- 'src/common/low_precision_transformations/**/*'

'category: MO':
- 'tools/mo/**/*'
- 'tools/ovc/**/*'
- 'tests/layer_tests/mo_python_api_tests/**/*'
- 'tests/layer_tests/ovc_python_api_tests/**/*'

'category: ONNX FE':
- 'src/frontends/onnx/**/*'
- 'thirdparty/onnx/**/*'
- 'tests/layer_tests/onnx_tests/**/*'

'category: packaging':
- 'cmake/**/packaging/**/*'
- 'src/bindings/python/wheel/**/*'
- any: ['src/bindings/js/node/CMakeLists.txt',
        'src/bindings/js/node/package.json',
        'src/bindings/js/node/package-lock.json']
- 'tools/openvino_dev/**/*'

'category: PDPD FE':
- 'src/frontends/paddle/**/*'
- 'tests/layer_tests/py_frontend_tests/test_paddle_frontend.py'

'category: POT':
- 'tools/pot/**/*'

'category: preprocessing':
- 'src/common/preprocessing/**/*'

'category: Python API':
- 'src/bindings/python/**/*'

'category: JS API':
- 'src/bindings/js/**/*'

'category: samples':
- 'samples/**/*'
- 'thirdparty/zlib/**/*'
- 'thirdparty/gflags/**/*'
- 'thirdparty/json/**/*'
- 'thirdparty/cnpy/**/*'
- 'tests/samples_tests/smoke_tests/**/*'

'category: TEMPLATE':
- 'src/plugins/template/**/*'

'category: TF FE':
- 'src/frontends/tensorflow/**/*'
- 'src/frontends/tensorflow_common/**/*'
- 'tests/layer_tests/tensorflow_tests/**/*'
- 'tests/layer_tests/tensorflow2_keras_tests/**/*'
- 'tests/layer_tests/jax_tests/**/*'
- any: ['tests/model_hub_tests/**',
        '!tests/model_hub_tests/torch_tests/**/*']

'category: TFL FE':
- 'src/frontends/tensorflow_lite/**/*'
- 'src/frontends/tensorflow_common/**/*'
- 'tests/layer_tests/tensorflow_lite_tests/**/*'

'category: PyTorch FE':
- 'src/frontends/pytorch/**/*'
- 'tests/layer_tests/pytorch_tests/**/*'
- 'src/bindings/python/src/openvino/frontend/pytorch/**/*'
- 'tests/layer_tests/py_frontend_tests/test_torch_decoder.py'
- 'tests/layer_tests/py_frontend_tests/test_torch_frontend.py'
- any: ['tests/model_hub_tests/**',
        '!tests/model_hub_tests/tf_hub_tests/**/*']

'category: tools':
- any: ['tools/**',
        '!tools/pot/**/*',
        '!tools/mo/**/*',
        '!tools/ovc/**/*']

'category: transformations':
- 'src/common/transformations/**/*'
- 'src/common/offline_transformations/**/*'

'category: licensing':
- 'licensing/**/*'
- 'LICENSE'
