Repository openvinotoolkit/openvino, pull requests merged in 2020-08, with the labels that each got.

#1553 [IE CLDNN] Gather 5d/6d support
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/gather.cpp
  inference-engine/tests_deprecated/functional/cldnn/shared_tests_instance/single_layer_tests/gather_ftests.cpp
  inference-engine/thirdparty/clDNN/api/gather.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/gather_ref.cl
  inference-engine/thirdparty/clDNN/src/gather.cpp
  inference-engine/thirdparty/clDNN/src/gpu/gather_gpu.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/gather_gpu_test.cpp
Labels: category: GPU

#1585 [IE CLDNN] Added HSwish-4 operation
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/cldnn_engine/cldnn_program.h
  inference-engine/thirdparty/clDNN/api/activation.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_common.cpp
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/activation_simple_gpu_test.cpp
Labels: category: GPU

#1588 Removed ie_parallel include from task executors
  inference-engine/src/plugin_api/threading/ie_cpu_streams_executor.hpp
  inference-engine/src/plugin_api/threading/ie_executor_manager.hpp
  inference-engine/src/plugin_api/threading/ie_istreams_executor.hpp
  inference-engine/src/plugin_api/threading/ie_thread_affinity.hpp
  inference-engine/tests/functional/inference_engine/task_executor_tests.cpp
Labels: category: IE common

#1591 Removed dirty skip from tests definitions
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
Labels: category: IE Tests

#1599 Disabled JSON library
  CMakeLists.txt
Labels: category: nGraph

#1556 Hide implementation of SharedObjectLoader to cpp files
  cmake/os_flags.cmake
  inference-engine/cmake/ie_parallel.cmake
  inference-engine/include/details/ie_so_loader.h
  inference-engine/include/gpu/gpu_context_api_ocl.hpp
  inference-engine/include/ie_parallel.hpp
  inference-engine/samples/CMakeLists.txt
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_executable_network.cpp
  inference-engine/src/cldnn_engine/cldnn_graph.h
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.h
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/file_utils.cpp
  inference-engine/src/inference_engine/os/lin/lin_shared_object_loader.cpp
  inference-engine/src/inference_engine/os/win/win_shared_object_loader.cpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_layers_internal.cpp
  inference-engine/src/mkldnn_plugin/config.cpp
  inference-engine/src/multi_device/multi_device.hpp
  inference-engine/src/plugin_api/threading/ie_thread_local.hpp
  inference-engine/src/preprocessing/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/plugin/gpu/CMakeLists.txt
  inference-engine/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  inference-engine/tests/functional/plugin/gpu/remote_blob_tests/remote_blob_helpers.hpp
  inference-engine/tests_deprecated/functional/cldnn/CMakeLists.txt
Labels: category: IE common

#1602 [ MO GroupNorm ] Covered float Multiplication with Converts
  model-optimizer/extensions/middle/GroupNorm.py
Labels: bug, category: MO

#1381 [IE CLDNN] Added fsv16 and int8 support in BatchToSpace and SpaceToBatch
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  inference-engine/thirdparty/clDNN/api/batch_to_space.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/space_to_batch/space_to_batch_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/space_to_batch/space_to_batch_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/space_to_batch/space_to_batch_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/batch_to_space_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/space_to_batch_ref.cl
  inference-engine/thirdparty/clDNN/src/batch_to_space.cpp
  inference-engine/thirdparty/clDNN/src/gpu/batch_to_space_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/space_to_batch_gpu.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/space_to_batch.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/batch_to_space_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/space_to_batch_gpu_test.cpp
Labels: category: GPU

#1523 Use clone_function instead of specialize_function
  docs/template_plugin/src/template_plugin.cpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.hpp
  inference-engine/src/legacy_api/src/cnn_network_impl.cpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_threading_tests.hpp
  inference-engine/tests/ngraph_functions/src/utils/ngraph_helpers.cpp
  ngraph/src/ngraph/function.cpp
  ngraph/src/ngraph/function.hpp
  ngraph/src/ngraph/graph_util.cpp
  ngraph/src/ngraph/op/constant.cpp
  ngraph/src/ngraph/op/tensor_iterator.cpp
  ngraph/src/ngraph/specialize_function.cpp
  ngraph/src/ngraph/specialize_function.hpp
  ngraph/test/constant_folding.cpp
  ngraph/test/specialize_function.cpp
Labels: category: nGraph

#1606 [ nG ] Allowed to create GRUCell with dynamic input shape
  ngraph/src/ngraph/op/fused/gru_cell.cpp
Labels: bug, category: nGraph

#1598 Removed reshape and transpose constant folding passes
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/op/reshape.cpp
  ngraph/src/ngraph/op/transpose.cpp
  ngraph/src/ngraph/pass/constant_folding.hpp
  ngraph/src/ngraph/pass/constant_folding_dyn_reshape.cpp
  ngraph/src/ngraph/pass/constant_folding_transpose.cpp
  ngraph/src/ngraph/runtime/opt_kernel/reshape.cpp
  ngraph/src/ngraph/runtime/opt_kernel/reshape.hpp
  ngraph/src/ngraph/runtime/reference/matmul.hpp
  ngraph/src/ngraph/runtime/reference/reshape.cpp
  ngraph/src/ngraph/runtime/reference/reshape.hpp
  ngraph/src/ngraph/runtime/reference/strided_slice.hpp
Labels: category: nGraph

#1245 Hierarchical extension to nGraph RTTI
  inference-engine/src/transformations/include/ngraph_ops/gru_cell_ie.hpp
  inference-engine/src/transformations/include/ngraph_ops/lstm_cell_ie.hpp
  inference-engine/src/transformations/include/ngraph_ops/rnn_cell_ie.hpp
  ngraph/src/ngraph/node.cpp
  ngraph/src/ngraph/node.hpp
  ngraph/src/ngraph/op/add.cpp
  ngraph/src/ngraph/op/add.hpp
  ngraph/src/ngraph/op/and.cpp
  ngraph/src/ngraph/op/and.hpp
  ngraph/src/ngraph/op/avg_pool.cpp
  ngraph/src/ngraph/op/avg_pool.hpp
  ngraph/src/ngraph/op/binary_convolution.hpp
  ngraph/src/ngraph/op/concat.cpp
  ngraph/src/ngraph/op/concat.hpp
  ngraph/src/ngraph/op/convolution.cpp
  ngraph/src/ngraph/op/convolution.hpp
  ngraph/src/ngraph/op/divide.cpp
  ngraph/src/ngraph/op/divide.hpp
  ngraph/src/ngraph/op/fused/depth_to_space.hpp
  ngraph/src/ngraph/op/fused/fake_quantize.cpp
  ngraph/src/ngraph/op/fused/fake_quantize.hpp
  ngraph/src/ngraph/op/fused/matmul.cpp
  ngraph/src/ngraph/op/fused/matmul.hpp
  ngraph/src/ngraph/op/fused/space_to_depth.hpp
  ngraph/src/ngraph/op/group_conv.cpp
  ngraph/src/ngraph/op/group_conv.hpp
  ngraph/src/ngraph/op/interpolate.hpp
  ngraph/src/ngraph/op/max_pool.cpp
  ngraph/src/ngraph/op/max_pool.hpp
  ngraph/src/ngraph/op/multiply.cpp
  ngraph/src/ngraph/op/multiply.hpp
  ngraph/src/ngraph/op/relu.cpp
  ngraph/src/ngraph/op/relu.hpp
  ngraph/src/ngraph/op/reshape.cpp
  ngraph/src/ngraph/op/reshape.hpp
  ngraph/src/ngraph/op/roi_align.hpp
  ngraph/src/ngraph/op/subtract.cpp
  ngraph/src/ngraph/op/subtract.hpp
  ngraph/src/ngraph/op/util/binary_elementwise_arithmetic.cpp
  ngraph/src/ngraph/op/util/binary_elementwise_arithmetic.hpp
  ngraph/src/ngraph/op/util/binary_elementwise_logical.cpp
  ngraph/src/ngraph/op/util/binary_elementwise_logical.hpp
  ngraph/src/ngraph/op/util/scatter_nd_base.hpp
  ngraph/src/ngraph/pass/algebraic_simplification.cpp
  ngraph/src/ngraph/pass/graph_rewrite.cpp
  ngraph/src/ngraph/pass/nop_elimination.cpp
  ngraph/src/ngraph/type.cpp
  ngraph/src/ngraph/type.hpp
  ngraph/test/graph_rewrite.cpp
Labels: category: nGraph

#1595 Removed constant folding for Tile op
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/op/tile.cpp
  ngraph/src/ngraph/op/tile.hpp
  ngraph/src/ngraph/pass/constant_folding.hpp
  ngraph/src/ngraph/pass/constant_folding_tile.cpp
  ngraph/src/ngraph/runtime/reference/tile.cpp
  ngraph/src/ngraph/runtime/reference/tile.hpp
  ngraph/src/ngraph/serializer.cpp
  ngraph/test/backend/tile.in.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/tile.cpp
Labels: category: nGraph

#1567 [nGraph] Public Py API to get function from cnnnetwork
  inference-engine/ie_bridges/python/tests/test_NGraph.py
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/helpers.py
  ngraph/python/tests/test_onnx/test_onnx_import.py
  ngraph/python/tests/test_onnx/utils/onnx_helpers.py
Labels: category: nGraph

#1614 [GNA] Bump GNA2 version to 1047
  inference-engine/cmake/dependencies.cmake
Labels: category: GNA

#1208 Feature/ar24 int8 optimizations
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv4_int8.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv4_int8.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_b_fs_yx_fsv4_int8.cl
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_buffer_fusing.cpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#1140 Align with the specification SpaceToBatch, BatchToSpace ops
  inference-engine/src/transformations/include/transformations/convert_batch_to_space.hpp
  inference-engine/src/transformations/include/transformations/convert_space_to_batch.hpp
  inference-engine/src/transformations/src/transformations/convert_batch_to_space.cpp
  inference-engine/src/transformations/src/transformations/convert_space_to_batch.cpp
  inference-engine/tests/functional/inference_engine/transformations/batch_to_space_decomposition_test.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/batch_to_space.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/space_to_batch.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.hpp
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/op/batch_to_space.cpp
  ngraph/src/ngraph/op/batch_to_space.hpp
  ngraph/src/ngraph/op/space_to_batch.cpp
  ngraph/src/ngraph/op/space_to_batch.hpp
  ngraph/src/ngraph/ops.hpp
  ngraph/test/backend/fused_op.in.cpp
Labels: category: IE transformations, category: nGraph

#1518 Ngraph unit tests refactoring: part 2
  ngraph/test/backend/log.in.cpp
  ngraph/test/backend/logical_or.in.cpp
  ngraph/test/backend/logical_xor.in.cpp
  ngraph/test/backend/lrn.in.cpp
  ngraph/test/backend/multiply.in.cpp
  ngraph/test/backend/negative.in.cpp
  ngraph/test/backend/not.in.cpp
  ngraph/test/backend/power.in.cpp
  ngraph/test/util/engine/ie_engines.cpp
Labels: category: nGraph

#1513 [PYTHON][nGraph] add get_type_name for element type
  ngraph/python/src/pyngraph/types/element_type.cpp
Labels: category: nGraph, category: python api

#1626 Added conversion of execution graph to old representation
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/num_inputs_fusing_bin_conv.cpp
Labels: category: IE common

#1633 Removed public dependency on CMAKE_DL_LIBS
  inference-engine/cmake/share/InferenceEngineConfig.cmake.in
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/tests_deprecated/unit/CMakeLists.txt
Labels: category: IE common, category: build

#1637 Removed CMAKE_DL_LIBS from OpenVINO ITT wrapper
  inference-engine/src/legacy_api/CMakeLists.txt
  openvino/itt/CMakeLists.txt
  openvino/itt/cmake/FindITT.cmake
Labels: category: build

#1640 Azure CI: Install monitoring
  azure-pipelines.yml
Labels: category: CI

#1468 [IE TESTS] Add VariadicSplit in SingleLayerTest
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/variadic_split.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/variadic_split.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/variadic_split.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/variadic_split.cpp
Labels: category: IE Tests

#1641 [VPU] Optimizations for Broadcast & ROIAlign
  inference-engine/cmake/vpu_dependencies.cmake
Labels: category: VPU

#1623 Refactored ngraph operator tests to use TestCase class, part 10
  ngraph/test/backend/fused_op.in.cpp
Labels: category: nGraph

#1643 Updated documentation for HETERO plugin
  docs/IE_DG/API_Changes.md
  docs/IE_DG/supported_plugins/HETERO.md
Labels: category: docs

#1601 [IE CLDNN] Implement nGraph function support in QueryNetwork()
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.h
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/hetero/query_network.cpp
Labels: category: GPU, category: HETERO, category: IE Tests

#1612 Added support for SoftPlus & Swish layers
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/softplus.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/swish.cpp
Labels: category: VPU

#1583 [IE CLDNN] Support IC={1,2,4} in the first convolution kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_to_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_bfyx_to_bfyx_f16.cl
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: GPU

#1652 Azure CI: Update metadata API version
  azure-pipelines.yml
Labels: category: CI

#1390 Build windows binaries with INTEGRITYCHECK flag
  cmake/features.cmake
  cmake/sdl.cmake
Labels: category: build

#1645 Add push / pop macro for OpenCL header
  inference-engine/include/gpu/gpu_ocl_wrapper.hpp
Labels: category: IE common

#1638 Remove JSON serializer
  CMakeLists.txt
  build-instruction.md
  docs/IE_DG/Graph_debug_capabilities.md
  ngraph/CMakeLists.txt
  ngraph/cmake/external_json.cmake
  ngraph/environment_variables.md
  ngraph/licenses/json-license.txt
  ngraph/python/setup.py
  ngraph/python/src/ngraph/impl/__init__.py
  ngraph/python/src/pyngraph/pyngraph.cpp
  ngraph/python/src/pyngraph/serializer.cpp
  ngraph/python/src/pyngraph/serializer.hpp
  ngraph/python/tests/runtime.py
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/serializer.cpp
  ngraph/src/ngraph/serializer.hpp
  ngraph/src/ngraph/serializer_stub.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/algebraic_simplification.cpp
  ngraph/test/backend/broadcast.in.cpp
  ngraph/test/backend/comparison.in.cpp
  ngraph/test/backend_api.cpp
  ngraph/test/build_graph.cpp
  ngraph/test/control_dependencies.cpp
  ngraph/test/core.cpp
  ngraph/test/pattern.cpp
  ngraph/test/runtime/interpreter/int_backend.cpp
  ngraph/test/runtime/interpreter/int_backend.hpp
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/serialize.cpp
  ngraph/test/util.cpp
  ngraph/test/util/test_tools.cpp
  ngraph/test/util/test_tools.hpp
Labels: category: nGraph

#1648 Moved QueryNetworkResult to ie_common.h
  inference-engine/include/ie_common.h
  inference-engine/include/ie_core.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_plugin.hpp
  inference-engine/src/plugin_api/ie_icore.hpp
Labels: category: IE common

#1644 Removed not-used file utils
  inference-engine/src/inference_engine/file_utils.cpp
  inference-engine/src/plugin_api/file_utils.h
  inference-engine/src/readers/ir_reader_v7/ie_cnn_net_reader_impl.cpp
Labels: category: IE common

#1298 [PP GAPI] - U16toF32 conversion kernel
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.hpp
  inference-engine/tests_deprecated/fluid_preproc/common/fluid_tests.cpp
  inference-engine/tests_deprecated/fluid_preproc/common/fluid_tests.hpp
  inference-engine/tests_deprecated/fluid_preproc/cpu/fluid_tests_cpu.cpp
  inference-engine/tests_deprecated/fluid_preproc/fluid_test_computations/fluid_test_computations.cpp
  inference-engine/tests_deprecated/fluid_preproc/fluid_test_computations/fluid_test_computations.hpp
Labels: category: preprocessing

#1650 Minimized ie_parallel.hpp include in plugin api
  inference-engine/src/plugin_api/threading/ie_cpu_streams_executor.hpp
  inference-engine/tests/functional/inference_engine/task_executor_tests.cpp
Labels: category: IE common

#1651 Removed legacy include from plugin api
  docs/template_plugin/src/template_plugin.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/gna_plugin/gna_plugin_entry_points.cpp
  inference-engine/src/hetero_plugin/hetero_executable_network.hpp
  inference-engine/src/hetero_plugin/hetero_plugin.cpp
  inference-engine/src/hetero_plugin/hetero_plugin.hpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/multi_device/multi_device.cpp
  inference-engine/src/multi_device/multi_device.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_plugin_internal.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
Labels: category: IE common

#1590 Implement unicode conversion using Windows native functions
  inference-engine/include/details/ie_so_pointer.hpp
  inference-engine/include/details/os/os_filesystem.hpp
  inference-engine/include/ie_api.h
  inference-engine/include/ie_core.hpp
  inference-engine/include/ie_extension.h
  inference-engine/include/ie_unicode.hpp
  inference-engine/samples/hello_classification/main.cpp
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/file_utils.cpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/src/inference_engine/ie_network_reader.cpp
  inference-engine/src/inference_engine/ie_unicode.cpp
  inference-engine/src/inference_engine/os/lin/lin_shared_object_loader.cpp
  inference-engine/src/inference_engine/os/win/win_shared_object_loader.cpp
  inference-engine/src/legacy_api/include/ie_util_internal.hpp
  inference-engine/src/legacy_api/src/ie_util_internal.cpp
  inference-engine/src/plugin_api/file_utils.h
  inference-engine/src/plugin_api/xml_parse_utils.h
  inference-engine/src/readers/ir_reader_v7/ie_cnn_net_reader_impl.cpp
  inference-engine/tests/functional/inference_engine/net_reader_test.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/unicode_utils.hpp
Labels: category: IE common

#1569 Reduce number of ops generated by ngraph::pass::BatchNormDecomposition
  inference-engine/src/transformations/src/transformations/batch_norm_decomposition.cpp
  ngraph/test/backend/batch_norm.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: IE transformations, enhancement

#1653 Fixed extractor for MVN from ONNX
  model-optimizer/extensions/front/onnx/mean_variance_normalization_ext.py
Labels: category: MO

#1577 [CPU] Add check to reduce for scalar dims
  inference-engine/src/mkldnn_plugin/nodes/reduce.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/eltwise.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/reduce_ops.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/reduce_ops.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/common_layers_params.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/common_layers_params.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/reduce.cpp
Labels: category: CPU

#1399 Add mish fusion transformation
  inference-engine/src/transformations/include/transformations/mish_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/mish_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/mish_fusion_test.cpp
  model-optimizer/extensions/front/tf/activation_ext.py
  model-optimizer/extensions/ops/activation_ops.py
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset4/__init__.py
  ngraph/python/src/ngraph/opset4/ops.py
  ngraph/test/op_eval/mish.cpp
Labels: category: IE transformations

#1663 Link CMAKE_DL_LIBS to IE
  inference-engine/src/inference_engine/CMakeLists.txt
Labels: category: build

#1664 Moved caseless to Plugin API
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.cpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/layers/gna_layer_type.hpp
  inference-engine/src/gna_plugin/layers/layers_builder.hpp
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
  inference-engine/src/legacy_api/include/graph_transformer.h
  inference-engine/src/legacy_api/include/shape_infer/built-in/ie_built_in_holder.hpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_layer_validators.hpp
  inference-engine/src/legacy_api/src/ie_util_internal.cpp
  inference-engine/src/legacy_api/src/shape_infer/const_infer/ie_const_infer_holder.hpp
  inference-engine/src/legacy_api/src/shape_infer/ie_reshaper.hpp
  inference-engine/src/low_precision_transformations/src/activation.cpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/src/low_precision_transformations/src/const.cpp
  inference-engine/src/low_precision_transformations/src/convolution.cpp
  inference-engine/src/low_precision_transformations/src/depth_to_space.cpp
  inference-engine/src/low_precision_transformations/src/eltwise.cpp
  inference-engine/src/low_precision_transformations/src/fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/fully_connected.cpp
  inference-engine/src/low_precision_transformations/src/fuse_fake_quantize_and_scale_shift.cpp
  inference-engine/src/low_precision_transformations/src/gemm.cpp
  inference-engine/src/low_precision_transformations/src/mvn.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/normalize.cpp
  inference-engine/src/low_precision_transformations/src/permute.cpp
  inference-engine/src/low_precision_transformations/src/pooling.cpp
  inference-engine/src/low_precision_transformations/src/power.cpp
  inference-engine/src/low_precision_transformations/src/reshape.cpp
  inference-engine/src/low_precision_transformations/src/scaleshift_to_convolution.cpp
  inference-engine/src/low_precision_transformations/src/squeeze.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/src/low_precision_transformations/src/weightable_layer_transformation.cpp
  inference-engine/src/mkldnn_plugin/bf16transformer.h
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/extract_image_patches.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_activation_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_depthwise_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_input_node.cpp
  inference-engine/src/plugin_api/caseless.hpp
  inference-engine/src/plugin_api/details/caseless.hpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader_v7/ie_format_parser.h
  inference-engine/src/readers/ir_reader_v7/ie_layer_validators.hpp
  inference-engine/src/vpu/common/include/vpu/utils/string.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/custom_layer.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/graph_transformer.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/custom_kernel.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/custom_layer.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/ie_parsed_network.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/proposal.cpp
  inference-engine/tests/functional/inference_engine/caseless_tests.cpp
  inference-engine/tests_deprecated/functional/shared_tests/transformations/common/validation.hpp
  inference-engine/tools/compile_tool/CMakeLists.txt
Labels: category: IE common

#1290 [CPU] Add support 4th and 5th input DetectionOutput
  inference-engine/src/mkldnn_plugin/nodes/detectionoutput.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/detection_output.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/activation.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/detection_output.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/range.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/detection_output.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/detection_output.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/runtime/interpreter/reference/detection_output.hpp
Labels: category: CPU, category: IE Tests

#1603 Enable ngraph python tests in OpenVINO-ONNX CI
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_ngraph/test_basic.py
  ngraph/python/tests/test_ngraph/test_convolution.py
  ngraph/python/tests/test_ngraph/test_data_movement.py
  ngraph/python/tests/test_ngraph/test_normalization.py
  ngraph/python/tests/test_ngraph/test_ops.py
  ngraph/python/tests/test_ngraph/test_ops_binary.py
  ngraph/python/tests/test_ngraph/test_ops_fused.py
  ngraph/python/tests/test_ngraph/test_ops_matmul.py
  ngraph/python/tests/test_ngraph/test_ops_multioutput.py
  ngraph/python/tests/test_ngraph/test_ops_reshape.py
  ngraph/python/tests/test_ngraph/test_ops_unary.py
  ngraph/python/tests/test_ngraph/test_reduction.py
  ngraph/python/tests/test_ngraph/test_sequence_processing.py
  ngraph/python/tests/test_onnx/test_ops_batchnorm.py
  ngraph/python/tests/test_onnx/test_ops_binary.py
  ngraph/python/tests/test_onnx/test_ops_convpool.py
  ngraph/python/tests/test_onnx/test_ops_logical.py
  ngraph/python/tests/test_onnx/test_ops_matmul.py
  ngraph/python/tests/test_onnx/test_ops_nonlinear.py
  ngraph/python/tests/test_onnx/test_ops_reduction.py
  ngraph/python/tests/test_onnx/test_ops_reshape.py
  ngraph/python/tests/test_onnx/test_ops_unary.py
  ngraph/python/tests/test_onnx/test_ops_variadic.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
  ngraph/python/tests/test_onnx/utils/__init__.py
  ngraph/python/tox.ini
Labels: category: CI

#1654 Added compilation of Plugin API headers with strict flags
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/gna_plugin/connection_details.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.hpp
  inference-engine/src/gna_plugin/layers/gna_concat_layer.hpp
  inference-engine/src/gna_plugin/layers/gna_crop_layer.hpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/layers/gna_memory_layer.hpp
  inference-engine/src/gna_plugin/layers/gna_split_layer.hpp
  inference-engine/src/inference_engine/network_serializer.cpp
  inference-engine/src/mkldnn_plugin/bf16transformer.h
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/plugin_itt.hpp
  inference-engine/src/plugin_api/exec_graph_info.hpp
  inference-engine/src/plugin_api/generic_ie.hpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests_deprecated/unit/engines/gna/I8_quantisation_test.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_matcher.cpp
  ngraph/src/ngraph/node.hpp
Labels: category: IE common

#1413 Add convert GluonCV docs
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md
  docs/doxygen/ie_docs.xml
Labels: category: docs

#1662 [IE CLDNN] Extend resample int8 packing optimization
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/resample_gpu_test.cpp
Labels: category: GPU

#1494 [NGraph] Add scatterNDUpdate and scatterUpdate reference implementations
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/src/mkldnn_plugin/nodes/scatter.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/scatter_ND_update.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/scatter_update.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/scatter_ND_update.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/runtime/interpreter/reference/scatter_nd_update.hpp
  ngraph/test/runtime/interpreter/reference/scatter_update.hpp
Labels: category: IE Tests, category: nGraph

#1675 Move downgrade passes to pass folder
  ngraph/test/dyn_elimination.cpp
  ngraph/test/onnx/onnx_import_provenance.in.cpp
  ngraph/test/provenance.cpp
  ngraph/test/runtime/CMakeLists.txt
  ngraph/test/runtime/dynamic/dynamic_backend.cpp
  ngraph/test/runtime/ie/ie_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/pass/opset0_downgrade.cpp
  ngraph/test/runtime/pass/opset0_downgrade.hpp
  ngraph/test/runtime/pass/opset1_downgrade.cpp
  ngraph/test/runtime/pass/opset1_downgrade.hpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
  ngraph/test/runtime/pass/opset1_upgrade.hpp
  ngraph/test/util/engine/ie_engines.cpp
Labels: category: nGraph

#1697 Remove TestMode restriction for BatchNorm in Kaldi
  model-optimizer/mo/front/kaldi/extractors/batchnorm_component_ext.py
Labels: category: MO

#1689 [ KALDI ] Disable KSO
  model-optimizer/mo/main.py
Labels: category: MO

#1686 [GNA] Remove old GNA1 library from Cmake scripts
  inference-engine/cmake/FindlibGNA.cmake
  inference-engine/cmake/check_features_ie.cmake
  inference-engine/cmake/dependencies.cmake
  inference-engine/cmake/features_ie.cmake
Labels: category: GNA, category: IE common

#1247 Test calculation output shape for Broadcast op, relax restrictions for partially dynamic input data
  ngraph/src/ngraph/op/broadcast.cpp
  ngraph/src/ngraph/op/util/broadcast_base.cpp
  ngraph/src/ngraph/op/util/broadcast_base.hpp
  ngraph/test/eval.cpp
  ngraph/test/type_prop/broadcast.cpp
Labels: category: nGraph

#1622 Check if input of Unsqueeze is parameter during NopElimination
  ngraph/src/ngraph/pass/nop_elimination.cpp
  ngraph/test/nop_elimination.cpp
Labels: category: IE transformations

#1432 Extend dynamic shape support for ops which use auto padding mode
  ngraph/src/ngraph/op/avg_pool.cpp
  ngraph/src/ngraph/op/binary_convolution.cpp
  ngraph/src/ngraph/op/deformable_convolution.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/avg_pool.cpp
  ngraph/test/type_prop/binary_convolution.cpp
  ngraph/test/type_prop/deformable_convolution.cpp
Labels: category: nGraph

#1255 [GNA] Fix cases when Gna2ModelGetLastError() returns unknown error
  inference-engine/src/gna_plugin/gna_device.cpp
Labels: category: GNA

#1688 [ MO ] Extended Const->Result replacer
  model-optimizer/extensions/back/SpecialNodesFinalization.py
  model-optimizer/extensions/back/SpecialNodesFinalization_test.py
Labels: bug, category: MO

#1702 Fixed CPU performance
  inference-engine/src/inference_engine/threading/ie_thread_affinity.cpp
Labels: category: CPU, category: IE common

#1682 Enable swish
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/transformations/include/ngraph_ops/swish_ie.hpp
  inference-engine/src/transformations/include/transformations/convert_opset1_to_legacy/convert_swish_to_swish_ie.hpp
  inference-engine/src/transformations/include/transformations/swish_fusion.hpp
  inference-engine/src/transformations/src/ngraph_ops/swish_ie.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_opset1_to_legacy.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_swish_to_swish_ie.cpp
  inference-engine/src/transformations/src/transformations/swish_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/mish_fusion_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/swish_fusion_test.cpp
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/tf/swish.py
  model-optimizer/extensions/front/tf/swish_ext.py
  model-optimizer/extensions/front/tf/swish_test.py
  model-optimizer/extensions/ops/activation_ops.py
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset4/__init__.py
  ngraph/python/src/ngraph/opset4/ops.py
  ngraph/python/tests/test_ngraph/test_swish.py
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/op/swish.cpp
  ngraph/src/ngraph/op/swish.hpp
  ngraph/src/ngraph/ops.hpp
  ngraph/src/ngraph/opsets/opset4_tbl.hpp
  ngraph/src/ngraph/runtime/reference/swish.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/op_eval/swish.cpp
  ngraph/test/type_prop/swish.cpp
Labels: category: IE common, category: MO, category: python api

#1695 Fixed input/output shape initialization
  docs/template_extension/cpu_kernel.cpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/core_threading_tests.cpp
  inference-engine/tests/functional/inference_engine/extension_lib/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/extension_lib/include/extension.hpp
  inference-engine/tests/functional/inference_engine/extension_lib/src/extension.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_threading_tests.hpp
  inference-engine/tests/unit/inference_engine/CMakeLists.txt
  inference-engine/tests/unit/inference_engine/ie_extension_test.cpp
Labels: category: docs

#1704 Changed ICNNNetwork to CNNNetwork in QueryNetwork
  inference-engine/include/ie_core.hpp
  inference-engine/src/inference_engine/ie_core.cpp
Labels: category: IE common

#1710 Moved plugin-specific utils from blob_factory.hpp
  inference-engine/src/gna_plugin/frontend/layer_quantizer.hpp
  inference-engine/src/inference_engine/blob_factory.cpp
  inference-engine/src/inference_engine/ie_data.cpp
  inference-engine/src/plugin_api/blob_factory.hpp
Labels: category: IE common

#1707 [nGraph] Access to the data of FP16 IRs with nGraph Python API
  ngraph/python/src/pyngraph/ops/constant.cpp
Labels: category: nGraph

#1634 [ MO ] Layout interpretation for 4/5D tensors calculated from ShapeOfs
  model-optimizer/extensions/middle/LayoutChangeForConstantShapePaths.py
  model-optimizer/mo/ops/broadcast.py
Labels: bug, category: MO

#1646 [IE CLDNN] Gemm fp16/fp32 optimized kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_tiled_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_tiled_opt.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/gemm_tiled_opt.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#1708 HSwish operation specification
  docs/ops/activation/HSwish_4.md
  docs/ops/opset4.md
Labels: category: docs

#903 [GNA] Fixes in checks, asserts, etc.
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/gna2_model_debug_log.cpp
  inference-engine/src/gna_plugin/gna2_model_helper.cpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_model_serial.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.cpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/layers/gna_permute.hpp
Labels: category: GNA

#1709 Removed CNNNetwork BlobTransformer
  inference-engine/src/gna_plugin/CMakeLists.txt
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/low_precision_transformations/include/low_precision_transformations/blob_transformation.hpp
  inference-engine/src/low_precision_transformations/src/blob_transformation.cpp
  inference-engine/src/vpu/graph_transformer/CMakeLists.txt
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/move_const_inputs_to_blobs.cpp
Labels: category: CPU, category: GNA, category: LP transformations, category: VPU

#805 [GNA] Add Basic_LSTM_S test
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/basic_lstm.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/basic_lstm.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/basic_lstm.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/fully_connected.cpp
Labels: category: GNA

#1224 [GNA] Remove empty PWL
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_graph_aot_test.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_matcher.cpp
Labels: category: GNA, category: IE Tests

#1629 [GNA] Bump GNA2 version to 1047
  inference-engine/cmake/dependencies.cmake
Labels: category: GNA, category: IE common

#1632 Fix reshape for yxfb layout
  inference-engine/thirdparty/clDNN/src/graph_optimizer/handle_reshape.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/reshape_gpu_test.cpp
Labels: category: GPU

#1209 [GNA] Support of NHWC conv2d with N=1 H=1 and 1xk Kernel
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/backend/am_intel_dnn.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_compiler.hpp
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/gna_model_serial.cpp
  inference-engine/src/gna_plugin/gna_model_serial.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/gna_plugin_policy.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.hpp
  inference-engine/src/gna_plugin/runtime/cnn.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/remove_permutations_NHWC_to_NCHW_pass.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/core_integration.cpp
Labels: category: GNA, category: IE Tests

#1604 Remove GetOutputElement op
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/tests/functional/plugin/cpu/bfloat16/topk_inputs_i32.cpp
  inference-engine/tests/unit/frontends/onnx_import/onnx_importer_test.cpp
  ngraph/core/include/ngraph/ngraph.hpp
  ngraph/core/include/ngraph/node.hpp
  ngraph/core/include/ngraph/node_output.hpp
  ngraph/core/include/ngraph/op/get_output_element.hpp
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/include/ngraph/pass/get_output_element_elimination.hpp
  ngraph/core/include/ngraph/pattern/matcher.hpp
  ngraph/core/include/ngraph/pattern/op/any_of.hpp
  ngraph/core/src/builder/autobroadcast.cpp
  ngraph/core/src/builder/split.cpp
  ngraph/core/src/node.cpp
  ngraph/core/src/node_output.cpp
  ngraph/core/src/op/batch_norm.cpp
  ngraph/core/src/op/get_output_element.cpp
  ngraph/core/src/op/tensor_iterator.cpp
  ngraph/core/src/op/util/rnn_cell_base.cpp
  ngraph/core/src/pass/get_output_element_elimination.cpp
  ngraph/core/src/pass/visualize_tree.cpp
  ngraph/core/src/pattern/matcher.cpp
  ngraph/frontend/onnx_import/include/onnx_import/op/identity.hpp
  ngraph/frontend/onnx_import/src/op/loop.cpp
  ngraph/frontend/onnx_import/src/op/lstm.cpp
  ngraph/frontend/onnx_import/src/op/onehot.cpp
  ngraph/frontend/onnx_import/src/utils/arg_min_max_factory.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/algebraic_simplification.cpp
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/backend/topk.in.cpp
  ngraph/test/control_dependencies.cpp
  ngraph/test/op_is.cpp
  ngraph/test/replace_node.cpp
  ngraph/test/runtime/ie/ie_backend.cpp
  ngraph/test/runtime/ie/ie_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/pass/fused_op_decomposition.cpp
  ngraph/test/type_prop/get_output_element.cpp
  ngraph/test/util/engine/ie_engines.cpp
Labels: category: IE Tests, category: IE common, category: nGraph

#1372 [IE CLDNN] Enabled fsv16 asymmetric first conv
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: GPU

#1696 [nGraph] Create Python API support for rt_info
  ngraph/python/setup.py
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/impl/__init__.py
  ngraph/python/src/ngraph/utils/rt_map.py
  ngraph/python/src/pyngraph/node.cpp
  ngraph/python/src/pyngraph/pyngraph.cpp
  ngraph/python/src/pyngraph/variant.cpp
  ngraph/python/src/pyngraph/variant.hpp
  ngraph/python/tests/test_ngraph/test_basic.py
Labels: category: nGraph

#1649 [Tools] Install compile tool to tool directory
  inference-engine/tools/CMakeLists.txt
  inference-engine/tools/compile_tool/CMakeLists.txt
  inference-engine/tools/package_BOM.txt
Labels: category: build, category: tools

#1259 Unroll transformation for TensorIterator
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/legacy_api/src/cnn_network_impl.cpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/transformations/include/transformations/tensor_iterator_transformations/apply_transformations_to_ti_body.hpp
  inference-engine/src/transformations/include/transformations/tensor_iterator_transformations/unroll_tensor_iterator.hpp
  inference-engine/src/transformations/include/transformations/utils/utils.hpp
  inference-engine/src/transformations/src/transformations/tensor_iterator_transformations/apply_transformations_to_ti_body.cpp
  inference-engine/src/transformations/src/transformations/tensor_iterator_transformations/unroll_tensor_iterator.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/functional/inference_engine/transformations/unroll_tensor_iterator_test.cpp
  ngraph/core/include/ngraph/descriptor/tensor.hpp
  ngraph/core/src/descriptor/tensor.cpp
  ngraph/core/src/graph_util.cpp
  ngraph/core/src/op/util/fused_op.cpp
Labels: category: CPU, category: GPU, category: IE Tests, category: IE transformations, category: VPU

#1718 [ MO ] Turning GNMT KSO OFF
  model-optimizer/extensions/front/tf/GNMT_DynamicSequenceLengths.py
Labels: category: MO

#1729 Additional documentation updates from 2020.4 to merge into 2020.4.1
  docs/IE_DG/Integrate_with_customer_application_new_API.md
  docs/IE_DG/Samples_Overview.md
  docs/IE_DG/supported_plugins/FPGA.md
  docs/Legal_Information.md
  docs/doxygen/ie_docs.xml
  docs/install_guides/installing-openvino-linux-fpga.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-raspbian.md
  docs/install_guides/installing-openvino-windows-fpga.md
  docs/install_guides/installing-openvino-windows.md
Labels: category: IE common

#1726 Merging Documentation updates for 2020.4 (#1672)
  docs/IE_DG/Integrate_with_customer_application_new_API.md
  docs/IE_DG/Samples_Overview.md
  docs/IE_DG/supported_plugins/FPGA.md
  docs/Legal_Information.md
  docs/doxygen/ie_docs.xml
  docs/install_guides/installing-openvino-linux-fpga.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-raspbian.md
  docs/install_guides/installing-openvino-windows-fpga.md
  docs/install_guides/installing-openvino-windows.md
Labels: category: docs

#1716 Removed constant folding pass for reverse
  ngraph/core/include/ngraph/op/reverse.hpp
  ngraph/core/include/ngraph/pass/constant_folding.hpp
  ngraph/core/include/ngraph/runtime/reference/convolution.hpp
  ngraph/core/include/ngraph/runtime/reference/reverse.hpp
  ngraph/core/include/ngraph/runtime/reference/strided_slice.hpp
  ngraph/core/src/op/binary_convolution.cpp
  ngraph/core/src/op/convolution.cpp
  ngraph/core/src/op/deformable_convolution.cpp
  ngraph/core/src/op/reverse.cpp
  ngraph/core/src/op/strided_slice.cpp
  ngraph/core/src/pass/constant_folding_reverse.cpp
  ngraph/core/src/runtime/reference/reverse.cpp
  ngraph/core/src/runtime/reference/strided_slice.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/op/convolution.cpp
  ngraph/test/runtime/pass/dyn_elimination.cpp
Labels: category: nGraph

#1251 [IE CLDNN] Add asymmetric dw convolution improvements
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv_16_32_imad_dw.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv_16_32_imad_dw.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_b_fs_yx_fsv_16_32_imad_dw.cl
Labels: category: GPU

#1727 Define a macro to define plugin creation function
  docs/IE_PLUGIN_DG/Plugin.md
  docs/template_plugin/src/template_plugin.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/gna_plugin/gna_plugin_entry_points.cpp
  inference-engine/src/hetero_plugin/hetero_plugin.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/multi_device/multi_device.cpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_plugin.hpp
  inference-engine/src/vpu/myriad_plugin/api/myriad_api.cpp
Labels: category: CPU, category: GNA, category: GPU, category: IE common, category: MULTI, category: VPU, category: docs

#1735 Removed cpio
  ngraph/core/include/ngraph/cpio.hpp
  ngraph/core/src/cpio.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/cpio.cpp
  ngraph/test/runtime/interpreter/int_backend.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
Labels: category: nGraph

#1719 Removed ngraph assertion
  ngraph/core/include/ngraph/assertion.hpp
  ngraph/core/src/assertion.cpp
  ngraph/frontend/onnx_import/include/onnx_import/exceptions.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/assertion.cpp
  ngraph/test/util/test_case.hpp
Labels: category: nGraph

#1740 [GNA] Fix scale factor issue in remove permutation test
  inference-engine/tests/functional/plugin/gna/pass_tests/remove_permutations_NHWC_to_NCHW_pass.cpp
Labels: category: GNA, category: IE Tests

#1282 Azure CI: Add Windows job with IncrediBuild
  azure-pipelines.yml
Labels: category: CI

#1749 Changed anchors for FAQ page headings
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
Labels: category: docs

#1742 nGraph passes clean up
  docs/IE_DG/Graph_debug_capabilities.md
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.hpp
  ngraph/core/include/ngraph/pass/manager.hpp
  ngraph/core/include/ngraph/pass/manager_state.hpp
  ngraph/core/include/ngraph/pass/pass.hpp
  ngraph/core/include/ngraph/pass/pass_util.hpp
  ngraph/core/include/ngraph/pass/visualize_tree.hpp
  ngraph/core/src/pass/manager.cpp
  ngraph/core/src/pass/pass.cpp
  ngraph/core/src/pass/pass_util.cpp
  ngraph/core/src/pass/visualize_tree.cpp
Labels: category: IE Tests, category: docs, category: nGraph

#1736 Remove some builders for old operations
  ngraph/core/include/ngraph/builder/quantization_utils.hpp
  ngraph/core/include/ngraph/builder/quantized_concat_builder.hpp
  ngraph/core/include/ngraph/builder/reduce_ops.hpp
  ngraph/core/include/ngraph/builder/reshape.hpp
  ngraph/core/src/builder/autobroadcast.cpp
  ngraph/core/src/builder/matmul_factory.cpp
  ngraph/core/src/builder/quantization_utils.cpp
  ngraph/core/src/builder/quantized_concat_builder.cpp
  ngraph/core/src/builder/reduce_ops.cpp
  ngraph/core/src/builder/reshape.cpp
  ngraph/core/src/op/fused/grn.cpp
  ngraph/core/src/op/fused/gru_cell.cpp
  ngraph/core/src/op/fused/lstm_cell.cpp
  ngraph/core/src/op/fused/matmul.cpp
  ngraph/core/src/op/fused/mvn.cpp
  ngraph/core/src/op/fused/rnn_cell.cpp
  ngraph/core/src/op/fused/shuffle_channels.cpp
  ngraph/test/builder.cpp
  ngraph/test/runtime/pass/opset0_downgrade.cpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
Labels: category: nGraph

#1720 [CPU] Disabled quantize ranges validation in order to avoid regressions
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_quantize_node.cpp
Labels: category: CPU

#1761 Azure CI: Add Windows job with IncrediBuild
  azure-pipelines.yml
Labels: category: CI

#1753 Update Model_Optimizer_FAQ.md
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
Labels: category: docs

#1750 Updated a link to MO FAQ
  model-optimizer/mo/utils/utils.py
Labels: category: MO

#1738 [VPU][GT] Fix different blobs for the same network
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/ie_parsed_network.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/ie_parsed_network.cpp
Labels: category: VPU

#1561 TypeRelaxed implementation
  inference-engine/src/transformations/include/ngraph_ops/type_relaxed.hpp
  inference-engine/src/transformations/src/ngraph_ops/type_relaxed.cpp
  inference-engine/tests/functional/inference_engine/transformations/type_relaxed_tests.cpp
  ngraph/core/include/ngraph/node.hpp
  ngraph/core/include/ngraph/type/element_type.hpp
  ngraph/core/src/node.cpp
  ngraph/core/src/pattern/op/wrap_type.cpp
  ngraph/core/src/type/element_type.cpp
Labels: category: IE Tests, category: nGraph

#1767 Fixes links for DL Streamer samples
  docs/index.md
  docs/resources/introduction.md
  scripts/demo/car.png
Labels: category: IE common, category: docs

#895 [CPU] Add explicit storage for MemoryNode
  inference-engine/src/mkldnn_plugin/bf16transformer.cpp
  inference-engine/src/mkldnn_plugin/bf16transformer.h
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph_dumper.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_memory_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_memory_node.hpp
  inference-engine/tests/functional/inference_engine/transformations/convert_precision.cpp
  inference-engine/tests/functional/plugin/cpu/bfloat16/bfloat16_helpers.hpp
  inference-engine/tests/functional/plugin/cpu/bfloat16/memory_conv.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/execution_graph_tests/keep_assign.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/split_concat_memory.cpp
  inference-engine/tests/functional/plugin/shared/include/execution_graph_tests/keep_assing.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/split_concat_memory.hpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/keep_assing.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/split_concat_memory.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.hpp
  inference-engine/tests/unit/cpu/CMakeLists.txt
  inference-engine/tests/unit/cpu/bf16_transformer_test.cpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/eltwise_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/quantize_tests.hpp
  ngraph/core/src/op/read_value.cpp
Labels: category: CPU, category: IE Tests

#1533 [nGraph] Add Manager to Py API
  ngraph/core/include/ngraph/pass/manager.hpp
  ngraph/core/src/pass/manager.cpp
  ngraph/python/src/pyngraph/ops/constant.cpp
  ngraph/python/src/pyngraph/passes/manager.cpp
  ngraph/python/tests/test_ngraph/test_manager.py
  ngraph/python/tests/test_ngraph/util.py
Labels: category: nGraph

#1762 Updated mock interfaces in tests
  inference-engine/tests/functional/plugin/shared/CMakeLists.txt
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_executable_network_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_executable_thread_safe_async_only.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_executable_thread_safe_default.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iexecutable_network_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_icnn_network.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_iexecutable_network.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_not_empty_icnn_network.hpp
  inference-engine/tests_deprecated/unit/graph_tools/graph_copy_tests.cpp
Labels: category: IE Tests

#1779 Azure CI: Add IncrediBuild option: /MaxCPUS=40
  azure-pipelines.yml
Labels: category: CI

#1745 Simplified plugin interfaces
  cmake/os_flags.cmake
  docs/template_plugin/src/template_plugin.cpp
  inference-engine/include/details/ie_exception_conversion.hpp
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.h
  inference-engine/src/gna_plugin/gna_graph_compiler.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/gna_plugin_entry_points.cpp
  inference-engine/src/gna_plugin/layers/gna_split_layer.hpp
  inference-engine/src/hetero_plugin/hetero_plugin.cpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/src/inference_engine/ie_plugin_cpp.hpp
  inference-engine/src/inference_engine/ie_plugin_ptr.hpp
  inference-engine/src/mkldnn_plugin/config.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/multi_device/multi_device.cpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_plugin_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_executable_network_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_plugin_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_plugin.hpp
  inference-engine/src/vpu/myriad_plugin/api/myriad_api.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/functional/inference_engine/executable_network.cpp
  inference-engine/tests/functional/inference_engine/so_pointer_tests.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/empty.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iinference_plugin.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/mock_plugin_impl.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.hpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_plugin_base_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_plugin_test.cpp
  inference-engine/tests/unit/inference_engine/ie_plugin_ptr.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/vpu_watchdog_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/extensions_tests/extensions_test.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_matcher.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/vpu/mvnc/pthread_semaphore_tests.cpp
Labels: category: IE common

#1764 Merge 2020.4.0.1
  inference-engine/cmake/dependencies.cmake
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/src/gna_plugin/gna_infer_request.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
Labels: category: GNA, category: IE common

#1754 opset4 Convolution/GroupConvolution -> Multiply fusion
  inference-engine/src/transformations/include/transformations/common_optimizations/conv_mul_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/conv_mul_fusion.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_opset1_to_legacy.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/conv_mul_fusion.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/conv_mul_fusion.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/conv_mul_fusion.cpp
  ngraph/core/include/ngraph/pattern/op/label.hpp
  ngraph/core/include/ngraph/pattern/op/pattern.hpp
  ngraph/core/src/pattern/op/label.cpp
  ngraph/core/src/pattern/op/pattern.cpp
Labels: category: IE Tests, category: IE transformations, category: nGraph

#1766 [IE CLDNN] dp4a check that works both with old and new drivers
  inference-engine/thirdparty/clDNN/src/gpu/device_info.cpp
Labels: category: GPU

#1768 [IE CLDNN] dp4a check that works both with old and new drivers (2020.4)
  inference-engine/thirdparty/clDNN/src/gpu/device_info.cpp
Labels: category: GPU

#1737 [IE CLDNN] Fix for a few fp32 regressions after int8 batch 16 changes
  inference-engine/thirdparty/clDNN/src/gpu/fully_connected_gpu.cpp
Labels: category: GPU

#1579 [VPU][GT] Add pass for marking fast stages
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/pass_manager.hpp
  inference-engine/src/vpu/graph_transformer/src/middleend/pass_manager.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/mark_fast_stages.cpp
  inference-engine/tests/unit/vpu/middleend_tests/passes_tests/mark_fast_stages.cpp
Labels: category: IE Tests, category: VPU

#1631 Added OpenVINO Get Started Guide for Windows
  docs/get_started/get_started_windows.md
Labels: category: docs

#1795 fixed unit tests to accommodate auto-reshaping graphs, to unlock full …
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_leaks_test.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/structure/graph_structure_test.cpp
Labels: category: IE Tests

#1790 Azure CI: Pipeline improvements
  azure-pipelines.yml
Labels: category: CI

#1669 Added split test into template plugin
  docs/template_plugin/tests/functional/shared_tests_instances/single_layer_tests/split.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/split.cpp
Labels: category: docs

#1448 Add support of Proposal-4 in nGraph and MO
  docs/ops/detection/Proposal_4.md
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/mkldnn_plugin/nodes/proposal.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/transformations/include/ngraph_ops/proposal_ie.hpp
  inference-engine/src/transformations/include/transformations/convert_opset1_to_legacy/convert_proposal_to_proposal_ie.hpp
  inference-engine/src/transformations/src/ngraph_ops/proposal_ie.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_opset1_to_legacy.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_proposal_to_proposal_ie.cpp
  model-optimizer/extensions/back/ProposalMutation.py
  model-optimizer/extensions/front/mxnet/custom_rpn_proposal.py
  model-optimizer/extensions/ops/proposal.py
  ngraph/core/include/ngraph/attribute_visitor.hpp
  ngraph/core/include/ngraph/op/proposal.hpp
  ngraph/core/include/ngraph/opsets/opset4_tbl.hpp
  ngraph/core/src/op/proposal.cpp
  ngraph/python/src/ngraph/opset1/ops.py
  ngraph/python/src/ngraph/opset4/__init__.py
  ngraph/python/src/ngraph/opset4/ops.py
  ngraph/python/tests/test_ngraph/test_create_op.py
  ngraph/python/tests/test_ngraph/test_dyn_attributes.py
  ngraph/python/tests/test_ngraph/test_proposal.py
  ngraph/test/attributes.cpp
  ngraph/test/type_prop/proposal.cpp
  ngraph/test/type_prop_layers.cpp
Labels: category: CPU, category: nGraph

#1763 Remove nGraph layout
  ngraph/core/include/ngraph/descriptor/layout/dense_tensor_layout.hpp
  ngraph/core/include/ngraph/descriptor/layout/tensor_layout.hpp
  ngraph/core/include/ngraph/descriptor/tensor.hpp
  ngraph/core/include/ngraph/ngraph.hpp
  ngraph/core/include/ngraph/runtime/tensor.hpp
  ngraph/core/src/descriptor/layout/dense_tensor_layout.cpp
  ngraph/core/src/descriptor/layout/tensor_layout.cpp
  ngraph/core/src/descriptor/tensor.cpp
  ngraph/core/src/node.cpp
  ngraph/core/src/runtime/host_tensor.cpp
  ngraph/core/src/runtime/tensor.cpp
  ngraph/core/src/util.cpp
  ngraph/test/runtime/dynamic/dynamic_backend.cpp
  ngraph/test/runtime/dynamic/dynamic_backend.hpp
  ngraph/test/runtime/ie/ie_tensor.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/util/all_close.hpp
  ngraph/test/util/all_close_f.cpp
  ngraph/test/util/test_tools.hpp
Labels: category: nGraph

#1724 [IE CLDNN] Fix for DepthToSpace fusing into convolution
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU

#1797 [IE CLDNN] Gemm floating point unit-tests fix
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/gemm_tiled_opt.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/gemm_gpu_test.cpp
Labels: bug, category: GPU

#1760 Myriad: fix pool 3d to 2d reduction
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/split_pool3d_into_2d.cpp
Labels: category: MYRIAD, category: VPU

#1698 Add reference implementation to VariadicSplit
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/variadic_split.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/variadic_split.cpp
  ngraph/core/include/ngraph/op/variadic_split.hpp
  ngraph/core/include/ngraph/pass/constant_folding.hpp
  ngraph/core/src/op/split.cpp
  ngraph/core/src/op/variadic_split.cpp
  ngraph/core/src/pass/constant_folding_variadic_split.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/op_eval/variadic_split.cpp
Labels: category: nGraph

#1699 [IE CLDNN] Set arguments once when possible
  inference-engine/thirdparty/clDNN/common/khronos_ocl_clhpp/cl2_ext.hpp
  inference-engine/thirdparty/clDNN/src/gpu/custom_gpu_primitive_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/generic_layer_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/kernel.cpp
  inference-engine/thirdparty/clDNN/src/gpu/kernel.h
  inference-engine/thirdparty/clDNN/src/gpu/kernel_runner.cpp
  inference-engine/thirdparty/clDNN/src/gpu/primitive_gpu_base.h
  inference-engine/thirdparty/clDNN/src/gpu/wait_for_events_gpu.cpp
  inference-engine/thirdparty/clDNN/src/include/network_impl.h
  inference-engine/thirdparty/clDNN/src/include/primitive_inst.h
  inference-engine/thirdparty/clDNN/src/network.cpp
  inference-engine/thirdparty/clDNN/src/primitive_inst.cpp
Labels: category: GPU

#1731 [Python API] Deprecate IENetLayer class
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/tests/test_DataPtr.py
  inference-engine/ie_bridges/python/tests/test_IECore.py
  inference-engine/ie_bridges/python/tests/test_IENetLayer.py
  inference-engine/ie_bridges/python/tests/test_IENetwork.py
  inference-engine/ie_bridges/python/tests/test_NGraph.py
Labels: category: python api

#1780 Removed template headers for Fused Ops
  ngraph/core/include/ngraph/op/fused/clamp.hpp
  ngraph/core/include/ngraph/op/fused/depth_to_space.hpp
  ngraph/core/include/ngraph/op/fused/fake_quantize.hpp
  ngraph/core/include/ngraph/op/fused/gelu.hpp
  ngraph/core/include/ngraph/op/fused/grn.hpp
  ngraph/core/include/ngraph/op/fused/gru_cell.hpp
  ngraph/core/include/ngraph/op/fused/hard_sigmoid.hpp
  ngraph/core/include/ngraph/op/fused/lstm_cell.hpp
  ngraph/core/include/ngraph/op/fused/lstm_sequence.hpp
  ngraph/core/include/ngraph/op/fused/matmul.hpp
  ngraph/core/include/ngraph/op/fused/mod.hpp
  ngraph/core/include/ngraph/op/fused/mvn.hpp
  ngraph/core/include/ngraph/op/fused/normalize_l2.hpp
  ngraph/core/include/ngraph/op/fused/prelu.hpp
  ngraph/core/include/ngraph/op/fused/rnn_cell.hpp
  ngraph/core/include/ngraph/op/fused/selu.hpp
  ngraph/core/include/ngraph/op/fused/shuffle_channels.hpp
  ngraph/core/include/ngraph/op/fused/space_to_depth.hpp
  ngraph/core/include/ngraph/op/fused/squared_difference.hpp
  ngraph/core/include/ngraph/op/fused/squeeze.hpp
  ngraph/core/include/ngraph/op/fused/unsqueeze.hpp
Labels: category: nGraph

#1782 [IE CLDNN] All input layouts support in ref pooling
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv16_imad.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_b_fs_yx_fsv16_imad.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/pooling_gpu.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/pooling_gpu_test.cpp
Labels: category: GPU

#1546 Fix problem with renaming outputs from network
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/FakeOutputResolver.py
  model-optimizer/extensions/front/FakeOutputResolver_test.py
  model-optimizer/extensions/ops/fake_output.py
  model-optimizer/mo/front/onnx/loader.py
Labels: category: MO

#1792 FGTT for CF
  ngraph/core/include/ngraph/pass/constant_folding.hpp
  ngraph/core/src/node.cpp
  ngraph/core/src/pass/constant_folding.cpp
  ngraph/core/src/pass/constant_folding_arithmetic_reduction.cpp
  ngraph/core/src/pass/constant_folding_convert.cpp
  ngraph/core/src/pass/constant_folding_dequantize.cpp
  ngraph/core/src/pass/constant_folding_gather.cpp
  ngraph/core/src/pass/constant_folding_logical_reduction.cpp
  ngraph/core/src/pass/constant_folding_one_hot.cpp
  ngraph/core/src/pass/constant_folding_pad.cpp
  ngraph/core/src/pass/constant_folding_quantize.cpp
  ngraph/core/src/pass/constant_folding_scatter.cpp
  ngraph/core/src/pass/constant_folding_select.cpp
  ngraph/test/constant_folding.cpp
Labels: category: nGraph

#1684 [IE CLDNN] Export runtime graph as nGraph function
  inference-engine/src/cldnn_engine/cldnn_graph.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/execution_graph_tests/unique_node_names.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/unique_node_names.cpp
  inference-engine/tests/functional/plugin/shared/src/ngraph_conversion_tests/plugin_specific_ngraph_conversion.cpp
Labels: category: GPU, category: IE Tests

#588 Extend MO for operation CTCLoss and partly refactor CTCGreedyDecoder
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/caffe/ctcgreedydecoder_ext_test.py
  model-optimizer/extensions/front/tf/CTCGreedyDecoderReplacement.py
  model-optimizer/extensions/front/tf/CTCLossReplacement.py
  model-optimizer/extensions/front/tf/CTCLossReplacement_test.py
  model-optimizer/extensions/front/tf/CTCLoss_ext.py
  model-optimizer/extensions/front/tf/sparse_to_dense_replacer.py
  model-optimizer/extensions/ops/ctc_greedy_decoder.py
  model-optimizer/extensions/ops/ctc_greedy_decoder_test.py
  model-optimizer/extensions/ops/ctc_loss.py
  model-optimizer/extensions/ops/ctc_loss_test.py
Labels: category: MO

#1748 [FIX] Fix data layout for reshaped network
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reshape_tests.cpp
Labels: bug, category: IE common

#1821 Removed NGRAPH_API from reference library
  ngraph/core/reference/include/ngraph/coordinate_transform.hpp
Labels: category: nGraph

#506 Java bindings
  inference-engine/CMakeLists.txt
  inference-engine/cmake/features_ie.cmake
  inference-engine/ie_bridges/java/CMakeLists.txt
  inference-engine/ie_bridges/java/README.md
  inference-engine/ie_bridges/java/cpp/blob.cpp
  inference-engine/ie_bridges/java/cpp/cnn_network.cpp
  inference-engine/ie_bridges/java/cpp/enum_mapping.hpp
  inference-engine/ie_bridges/java/cpp/executable_network.cpp
  inference-engine/ie_bridges/java/cpp/ie_core.cpp
  inference-engine/ie_bridges/java/cpp/infer_request.cpp
  inference-engine/ie_bridges/java/cpp/input_info.cpp
  inference-engine/ie_bridges/java/cpp/jni_common.hpp
  inference-engine/ie_bridges/java/cpp/locked_memory.cpp
  inference-engine/ie_bridges/java/cpp/openvino_java.hpp
  inference-engine/ie_bridges/java/cpp/parameter.cpp
  inference-engine/ie_bridges/java/cpp/pre_process_info.cpp
  inference-engine/ie_bridges/java/cpp/tensor_desc.cpp
  inference-engine/ie_bridges/java/org/intel/openvino/Blob.java
  inference-engine/ie_bridges/java/org/intel/openvino/CNNNetwork.java
  inference-engine/ie_bridges/java/org/intel/openvino/Data.java
  inference-engine/ie_bridges/java/org/intel/openvino/ExecutableNetwork.java
  inference-engine/ie_bridges/java/org/intel/openvino/IECore.java
  inference-engine/ie_bridges/java/org/intel/openvino/IEWrapper.java
  inference-engine/ie_bridges/java/org/intel/openvino/InferRequest.java
  inference-engine/ie_bridges/java/org/intel/openvino/InferenceEngineProfileInfo.java
  inference-engine/ie_bridges/java/org/intel/openvino/InputInfo.java
  inference-engine/ie_bridges/java/org/intel/openvino/Layout.java
  inference-engine/ie_bridges/java/org/intel/openvino/LockedMemory.java
  inference-engine/ie_bridges/java/org/intel/openvino/Parameter.java
  inference-engine/ie_bridges/java/org/intel/openvino/PreProcessInfo.java
  inference-engine/ie_bridges/java/org/intel/openvino/Precision.java
  inference-engine/ie_bridges/java/org/intel/openvino/ResizeAlgorithm.java
  inference-engine/ie_bridges/java/org/intel/openvino/StatusCode.java
  inference-engine/ie_bridges/java/org/intel/openvino/TensorDesc.java
  inference-engine/ie_bridges/java/org/intel/openvino/WaitMode.java
  inference-engine/ie_bridges/java/samples/ArgumentParser.java
  inference-engine/ie_bridges/java/samples/README.md
  inference-engine/ie_bridges/java/samples/benchmark_app/InferReqWrap.java
  inference-engine/ie_bridges/java/samples/benchmark_app/InferRequestsQueue.java
  inference-engine/ie_bridges/java/samples/benchmark_app/Main.java
  inference-engine/ie_bridges/java/samples/face_detection_java_sample/Main.java
  inference-engine/ie_bridges/java/samples/face_detection_sample_async/Main.java
  inference-engine/ie_bridges/java/tests/BlobTests.java
  inference-engine/ie_bridges/java/tests/CNNNetworkTests.java
  inference-engine/ie_bridges/java/tests/IECoreTests.java
  inference-engine/ie_bridges/java/tests/IETest.java
  inference-engine/ie_bridges/java/tests/InferRequestTests.java
  inference-engine/ie_bridges/java/tests/InputInfoTests.java
  inference-engine/ie_bridges/java/tests/OpenVinoTestRunner.java
  inference-engine/ie_bridges/java/tests/README.md
  inference-engine/ie_bridges/java/tests/TestsSuite.java
Labels: category: GPU, category: docs, category: java, feature

#1772 ConvertPrecision for element::boolean
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/transformations/include/ngraph_ops/type_relaxed.hpp
  inference-engine/src/transformations/include/transformations/convert_precision.hpp
  inference-engine/src/transformations/src/transformations/convert_precision.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_precision.cpp
  inference-engine/tests/functional/inference_engine/transformations/type_relaxed_tests.cpp
  ngraph/core/include/ngraph/op/equal.hpp
  ngraph/core/include/ngraph/op/greater.hpp
  ngraph/core/include/ngraph/op/greater_eq.hpp
  ngraph/core/include/ngraph/op/less.hpp
  ngraph/core/include/ngraph/op/less_eq.hpp
  ngraph/core/include/ngraph/op/not.hpp
  ngraph/core/include/ngraph/op/not_equal.hpp
  ngraph/core/include/ngraph/op/or.hpp
  ngraph/core/include/ngraph/op/reduce_logical_and.hpp
  ngraph/core/include/ngraph/op/reduce_logical_or.hpp
  ngraph/core/include/ngraph/op/select.hpp
  ngraph/core/include/ngraph/op/shape_of.hpp
  ngraph/core/include/ngraph/op/xor.hpp
  ngraph/core/src/op/equal.cpp
  ngraph/core/src/op/greater.cpp
  ngraph/core/src/op/greater_eq.cpp
  ngraph/core/src/op/less.cpp
  ngraph/core/src/op/less_eq.cpp
  ngraph/core/src/op/not.cpp
  ngraph/core/src/op/not_equal.cpp
  ngraph/core/src/op/or.cpp
  ngraph/core/src/op/reduce_logical_and.cpp
  ngraph/core/src/op/reduce_logical_or.cpp
  ngraph/core/src/op/select.cpp
  ngraph/core/src/op/shape_of.cpp
  ngraph/core/src/op/xor.cpp
Labels: category: CPU, category: IE Tests, category: nGraph

#1825 [VPU] Fixed MX firmware memory type patching
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/tests_deprecated/functional/vpu/myriad_tests/myriad_multiple_graph_tests.cpp
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_data.c
Labels: bug, category: IE Tests, category: IE common, category: MYRIAD, category: VPU

#1824 [IE][VPU]: Reverts nGraph TI Unrolling for VPU
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
Labels: category: VPU

#1771 v1::Pad evaluator
  ngraph/core/include/ngraph/op/pad.hpp
  ngraph/core/include/ngraph/pass/constant_folding.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/pad.hpp
  ngraph/core/src/op/pad.cpp
  ngraph/core/src/pass/constant_folding_pad.cpp
  ngraph/core/src/runtime/reference/pad.cpp
  ngraph/test/backend/pad.in.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/pass/opset0_downgrade.cpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
Labels: category: nGraph

#1786 Fix a specification for CTCLoss operation
  docs/ops/sequence/CTCLoss_4.md
Labels: category: docs

#1831 Add arithmetic operators for bfloat16
  ngraph/core/include/ngraph/type/bfloat16.hpp
  ngraph/core/src/type/bfloat16.cpp
  ngraph/test/bfloat16.cpp
Labels: bug, category: nGraph

#1809 Merge changes from 2020.4.0.1
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/src/gna_plugin/gna_infer_request.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
Labels: category: GNA

#1743 [GNA] Implement ImportNetwork from stream
  inference-engine/src/gna_plugin/gna_executable_network.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/gna_plugin_internal.hpp
  inference-engine/tests/functional/plugin/gna/import_export_network.cpp
Labels: category: GNA

#1826 Convert Pad to GroupConvolution transformation
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/transformations/include/transformations/convert_pad_to_group_conv.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/convert_pad_to_group_conv.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_pad_to_group_conv.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/convert_pad_to_group_conv.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/convert_pad_to_group_conv.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/convert_pad_to_group_conv.cpp
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/middle/NasNet.py
Labels: category: CPU, category: IE Tests, category: MO, category: nGraph

#1837 Fixed set/get batch size logic for scalar inputs
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/legacy_api/src/cnn_network_impl.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
Labels: bug, category: IE Tests, category: IE common, category: nGraph

#1820 Return serialization to IR v7 under conditional compilation
  inference-engine/cmake/features_ie.cmake
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/network_serializer.cpp
  inference-engine/src/inference_engine/network_serializer.hpp
  inference-engine/src/legacy_api/CMakeLists.txt
  inference-engine/src/legacy_api/src/cnn_network_impl.cpp
  inference-engine/src/legacy_api/src/network_serializer_v7.cpp
  inference-engine/src/legacy_api/src/network_serializer_v7.hpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/num_inputs_fusing_bin_conv.cpp
Labels: category: IE common, category: nGraph

#1830 Remove ngraph::Lambda class, replace TensorIterator body with ngraph::Function
  inference-engine/src/inference_engine/generic_ie.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/plugin_api/generic_ie.hpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/transformations/src/transformations/convert_precision.cpp
  inference-engine/src/transformations/src/transformations/tensor_iterator_transformations/apply_transformations_to_ti_body.cpp
  inference-engine/src/transformations/src/transformations/tensor_iterator_transformations/unroll_tensor_iterator.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_precision.cpp
  inference-engine/tests/functional/inference_engine/transformations/unroll_tensor_iterator_test.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/basic_lstm.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
  ngraph/core/include/ngraph/function.hpp
  ngraph/core/include/ngraph/lambda.hpp
  ngraph/core/include/ngraph/ngraph.hpp
  ngraph/core/include/ngraph/node.hpp
  ngraph/core/include/ngraph/op/tensor_iterator.hpp
  ngraph/core/src/function.cpp
  ngraph/core/src/lambda.cpp
  ngraph/core/src/op/tensor_iterator.cpp
  ngraph/frontend/onnx_import/include/onnx_import/core/graph.hpp
  ngraph/frontend/onnx_import/src/core/graph.cpp
  ngraph/frontend/onnx_import/src/op/loop.cpp
  ngraph/python/src/pyngraph/tensor_iterator_builder.cpp
  ngraph/python/src/pyngraph/tensor_iterator_builder.hpp
Labels: category: IE Tests, category: IE common, category: nGraph

#1770 Enable HSwish - ngraph op, fusion/decomposition and reference implementation
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/transformations/include/transformations/hswish_decomposition.hpp
  inference-engine/src/transformations/include/transformations/hswish_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_opset1_to_legacy.cpp
  inference-engine/src/transformations/src/transformations/hswish_decomposition.cpp
  inference-engine/src/transformations/src/transformations/hswish_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/hswish_decomposition_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/hswish_fusion_test.cpp
  ngraph/core/include/ngraph/op/hswish.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/include/ngraph/opsets/opset4_tbl.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/hswish.hpp
  ngraph/core/src/op/hswish.cpp
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset4/__init__.py
  ngraph/python/src/ngraph/opset4/ops.py
  ngraph/python/tests/test_ngraph/test_ops_unary.py
  ngraph/test/CMakeLists.txt
  ngraph/test/op_eval/hswish.cpp
  ngraph/test/type_prop/hswish.cpp
Labels: category: nGraph

#1692 [IE CLDNN] Eltwise + quantize fusing for ref and fsv16 kernels
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/eltwise_b_fs_yx_fsv16.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/generic_eltwise_ref.cl
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#1846 Fixed path for pad reference impl
  ngraph/core/reference/src/runtime/reference/pad.cpp
Labels: category: nGraph

#1784 [IE CLDNN] Use fsv4 instead of af32 layout for imad case
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/fetch.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: GPU
