Repository openvinotoolkit/openvino, pull requests merged in 2020-06, with the labels that each got.

#548 [ONNX] Add Range op to ONNX importer
  ngraph/src/ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/src/ngraph/frontend/onnx_import/op/range.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/range.hpp
  ngraph/src/ngraph/frontend/onnx_import/ops_bridge.cpp
  ngraph/test/models/onnx/range.prototxt
  ngraph/test/onnx/onnx_import_dyn_shapes.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#601 Reshape-Permute-Reshape pattern to DepthToSpace layer transformation
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/transformations/include/transformations/common_optimizations/common_optimizations_tbl.hpp
  inference-engine/src/transformations/include/transformations/convert_depth_to_space.hpp
  inference-engine/src/transformations/include/transformations/convert_opset3_to_opset2/convert_opset3_to_opset2_tbl.hpp
  inference-engine/src/transformations/include/transformations/convert_space_to_depth.hpp
  inference-engine/src/transformations/include/transformations/depth_to_space_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/convert_depth_to_space.cpp
  inference-engine/src/transformations/src/transformations/convert_space_to_depth.cpp
  inference-engine/src/transformations/src/transformations/depth_to_space_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/depth_to_space_fusion_test.cpp
Labels: category: IE transformations

#691 [IE CLDNN] Prefer bf(wz)yx format for reshape
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: GPU

#561 [IE CLDNN] Fix some memory usage degradations against 2019 R3
  inference-engine/thirdparty/clDNN/api/memory.hpp
  inference-engine/thirdparty/clDNN/src/include/memory_pool.h
  inference-engine/thirdparty/clDNN/src/memory.cpp
  inference-engine/thirdparty/clDNN/src/memory_pool.cpp
  inference-engine/thirdparty/clDNN/src/network.cpp
  inference-engine/thirdparty/clDNN/src/program.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/memory_test.cpp
Labels: category: GPU

#703 [IE] Fix build error
  inference-engine/src/transformations/include/transformations/depth_to_space_fusion.hpp
Labels: bug, category: IE transformations, category: build, priority: high

#631 [IE VPU] OutShapeOfReshape per-layer tests
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/out_shape_of_reshape.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/out_shape_of_reshape.cpp
  inference-engine/tests/functional/plugin/myriad/single_layer_tests/out_shape_of_reshape.cpp
Labels: category: VPU

#701 [IE Python API] fix TensorDesc test file name
  inference-engine/ie_bridges/python/tests/test_TensorDesc.py
Labels: category: IE Tests, category: python api

#658 [VPU][NGraph] Reuse NonZero evaluate in StaticShapeNonZero
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_nonzero.cpp
  inference-engine/tests_deprecated/functional/vpu/vpu_base/myriad_layers_reference_functions.cpp
Labels: category: VPU

#646 [IE CLDNN] Quantized deeplabv3 optimizations
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv_16_32_imad_dw.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/quantize/quantize_kernel_scale_shift_opt.cpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/src/program.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#699 [IE VPU] Enable s32->u8 conversion
  inference-engine/src/vpu/graph_transformer/src/stages/convert.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_convert_test.hpp
  inference-engine/tests_deprecated/functional/vpu/vpu_base/myriad_layers_reference_functions.cpp
  inference-engine/tests_deprecated/helpers/single_layer_common.cpp
  inference-engine/tests_deprecated/helpers/single_layer_common.hpp
Labels: category: VPU

#590 Remove TopKnormalizer from MO IR Reader transformation_list
  model-optimizer/extensions/back/TopKNormalizer.py
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
  model-optimizer/mo/utils/ir_reader/restore_graph.py
Labels: category: MO

#714 Build security options required for win drivers
  cmake/sdl.cmake
Labels: category: build, enhancement

#599 [IE CLDNN] Fixed names mapping chain in runtime graph
  inference-engine/src/cldnn_engine/cldnn_graph.cpp
  inference-engine/src/cldnn_engine/cldnn_graph.h
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/cldnn_engine/cldnn_program.h
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/ngraph_conversion_tests/conv_bias_fusion.cpp
  inference-engine/tests/functional/plugin/shared/include/ngraph_conversion_tests/conv_bias_fusion.hpp
  inference-engine/tests/functional/plugin/shared/src/ngraph_conversion_tests/conv_bias_fusion.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/remove_redundant_reorders.cpp
Labels: category: GPU

#644 [IE][Myriad] Gather: add test case
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_gather_test.cpp
Labels: category: VPU

#563 WIP: Add PassManagerSettings to GNA Pass Manager
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/concat_quantization.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/concat_quantization.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/concat_qunatization.cpp
Labels: category: GNA

#576 [CPU] EmbeddingBagOffsetsSum, EmbeddingBagPackedSum, EmbeddingSegmentsSum operations.
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/nodes/embedding_bag_offset_sum.cpp
  inference-engine/src/mkldnn_plugin/nodes/embedding_bag_packed_sum.cpp
  inference-engine/src/mkldnn_plugin/nodes/embedding_bag_sum.cpp
  inference-engine/src/mkldnn_plugin/nodes/embedding_bag_sum.hpp
  inference-engine/src/mkldnn_plugin/nodes/embedding_segments_sum.cpp
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/embedding_bag_offsets_sum.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/embedding_bag_packed_sum.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/embedding_segments_sum.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/embedding_bag_offsets_sum.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/embedding_bag_packed_sum.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/embedding_segments_sum.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/embedding_bag_offsets_sum.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/embedding_bag_packed_sum.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/embedding_segments_sum.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/embedding_bag_offsets_sum.cpp
  inference-engine/tests/ngraph_functions/src/embedding_bag_packed_sum.cpp
  inference-engine/tests/ngraph_functions/src/embedding_segments_sum.cpp
  ngraph/src/ngraph/runtime/reference/embedding_bag_offsets_sum.hpp
  ngraph/src/ngraph/runtime/reference/embedding_bag_packed_sum.hpp
  ngraph/src/ngraph/runtime/reference/embedding_segments_sum.hpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
Labels: category: CPU, category: IE Tests

#717 Enabled thread tests
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_threading_tests.hpp
Labels: bug

#677 [LPT] Output layers fix
  inference-engine/src/low_precision_transformations/include/low_precision_transformations/layer_transformation.hpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/convolution.cpp
  inference-engine/src/low_precision_transformations/src/eltwise.cpp
  inference-engine/src/low_precision_transformations/src/fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/fully_connected.cpp
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/src/low_precision_transformations/src/mvn.cpp
  inference-engine/src/low_precision_transformations/src/resample.cpp
  inference-engine/src/low_precision_transformations/src/reshape.cpp
  inference-engine/src/low_precision_transformations/src/scaleshift_to_convolution.cpp
  inference-engine/src/low_precision_transformations/src/transparent_base_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/output_layers_handling_in_transformations.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/output_layers_handling_in_transformations.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/output_layers_handling_in_transformations.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/concat_neighboring_graph_transformation.cpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_handling_in_transformations.cpp
Labels: category: LP transformations

#715 Updated deprecated messages
  inference-engine/include/cpp/ie_cnn_net_reader.h
  inference-engine/include/cpp/ie_cnn_network.h
  inference-engine/include/cpp/ie_executable_network.hpp
  inference-engine/include/ie_api.h
  inference-engine/include/ie_core.hpp
  inference-engine/include/ie_data.h
  inference-engine/include/ie_error.hpp
  inference-engine/include/ie_extension.h
  inference-engine/include/ie_icnn_net_reader.h
  inference-engine/include/ie_icnn_network.hpp
  inference-engine/include/ie_iexecutable_network.hpp
  inference-engine/include/ie_iextension.h
  inference-engine/include/ie_layers.h
  inference-engine/include/ie_plugin.hpp
  inference-engine/include/ie_plugin_dispatcher.hpp
  inference-engine/include/ie_plugin_ptr.hpp
  inference-engine/include/ie_primitive_info.hpp
  inference-engine/include/ie_tensor_info.hpp
Labels: category: IE common

#613 [IE CLDNN] Activation with fused quantize bug fix
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/activation/activation_kernel_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/activation/activation_kernel_opt.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/activation/activation_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/activation_opt.cl
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#610 Remove deprecated layer test class
  inference-engine/tests/functional/plugin/cpu/bfloat16/bfloat16_helpers.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/shared/include/execution_graph_tests/unique_node_names.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/activation.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/activation.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests_deprecated/functional/shared_tests/inference_engine_regression_tests/common_dyn_batch_regression.hpp
Labels: category: IE Tests

#711 [IE][VPU]: Faster-RCNN fixes on myriad plugin side
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/pass_manager.hpp
  inference-engine/src/vpu/graph_transformer/src/middleend/pass_manager.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/propagate_dynamism_to_outputs.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/dynamic_shape_resolver.cpp
Labels: category: VPU

#607 [ONNX] GRU and RNN operators.
  ngraph/src/ngraph/builder/reshape.hpp
  ngraph/src/ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/src/ngraph/frontend/onnx_import/op/gru.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/gru.hpp
  ngraph/src/ngraph/frontend/onnx_import/op/lstm.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/rnn.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/rnn.hpp
  ngraph/src/ngraph/frontend/onnx_import/ops_bridge.cpp
  ngraph/src/ngraph/frontend/onnx_import/utils/recurrent.cpp
  ngraph/src/ngraph/frontend/onnx_import/utils/recurrent.hpp
  ngraph/src/ngraph/op/fused/lstm_sequence.cpp
  ngraph/src/ngraph/op/fused/lstm_sequence.hpp
  ngraph/src/ngraph/op/fused/rnn_cell.hpp
  ngraph/src/ngraph/op/util/attr_types.cpp
  ngraph/src/ngraph/op/util/attr_types.hpp
  ngraph/src/ngraph/op/util/rnn_cell_base.cpp
  ngraph/test/attributes.cpp
  ngraph/test/models/onnx/gru_bidirectional.prototxt
  ngraph/test/models/onnx/gru_defaults_fwd.prototxt
  ngraph/test/models/onnx/gru_fwd_activations.prototxt
  ngraph/test/models/onnx/gru_fwd_bias_initial_h.prototxt
  ngraph/test/models/onnx/gru_fwd_linear_before_reset.prototxt
  ngraph/test/models/onnx/gru_fwd_mixed_seq_len.prototxt
  ngraph/test/models/onnx/gru_rev_clip.prototxt
  ngraph/test/models/onnx/gru_reverse.prototxt
  ngraph/test/models/onnx/rnn_bidirectional.prototxt
  ngraph/test/models/onnx/rnn_bidirectional_const.prototxt
  ngraph/test/models/onnx/rnn_defaults_fwd.prototxt
  ngraph/test/models/onnx/rnn_fwd_activations.prototxt
  ngraph/test/models/onnx/rnn_fwd_bias_initial_h.prototxt
  ngraph/test/models/onnx/rnn_fwd_mixed_seq_len.prototxt
  ngraph/test/models/onnx/rnn_rev_clip.prototxt
  ngraph/test/models/onnx/rnn_reverse.prototxt
  ngraph/test/onnx/onnx_import_rnn.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/type_prop/lstm_sequence.cpp
Labels: ONNX

#568 Skip some VPU tests on Windows
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests, category: VPU

#730 [IE CLDNN] Improve kernel selection for b_fs_yx_fsv16 layout and optimize Convolution kernels
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_bfyx_f16.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_bfyx_f16_1x1.cl
Labels: category: GPU

#722 [ nGraph ] FP16 for evaluate
  ngraph/src/ngraph/op/acosh.cpp
  ngraph/src/ngraph/op/add.cpp
  ngraph/src/ngraph/op/and.cpp
  ngraph/src/ngraph/op/asinh.cpp
  ngraph/src/ngraph/op/atanh.cpp
  ngraph/src/ngraph/op/convert.cpp
  ngraph/src/ngraph/op/divide.cpp
  ngraph/src/ngraph/op/equal.cpp
  ngraph/src/ngraph/op/fused/matmul.cpp
  ngraph/src/ngraph/op/fused/squeeze.cpp
  ngraph/src/ngraph/op/fused/unsqueeze.cpp
  ngraph/src/ngraph/op/gather.cpp
  ngraph/src/ngraph/op/greater.cpp
  ngraph/src/ngraph/op/greater_eq.cpp
  ngraph/src/ngraph/op/less.cpp
  ngraph/src/ngraph/op/less_eq.cpp
  ngraph/src/ngraph/op/max.cpp
  ngraph/src/ngraph/op/max_pool.cpp
  ngraph/src/ngraph/op/maximum.cpp
  ngraph/src/ngraph/op/min.cpp
  ngraph/src/ngraph/op/minimum.cpp
  ngraph/src/ngraph/op/multiply.cpp
  ngraph/src/ngraph/op/non_zero.cpp
  ngraph/src/ngraph/op/not_equal.cpp
  ngraph/src/ngraph/op/or.cpp
  ngraph/src/ngraph/op/power.cpp
  ngraph/src/ngraph/op/product.cpp
  ngraph/src/ngraph/op/reduce_mean.cpp
  ngraph/src/ngraph/op/reduce_prod.cpp
  ngraph/src/ngraph/op/reduce_sum.cpp
  ngraph/src/ngraph/op/scatter_elements_update.cpp
  ngraph/src/ngraph/op/softmax.cpp
  ngraph/src/ngraph/op/strided_slice.cpp
  ngraph/src/ngraph/op/subtract.cpp
  ngraph/src/ngraph/op/sum.cpp
  ngraph/src/ngraph/op/xor.cpp
  ngraph/src/ngraph/type/float16.cpp
  ngraph/src/ngraph/type/float16.hpp
Labels: category: nGraph

#742 [LPT] [TEST] Sporadic test fail fix (workaround)
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_handling_in_transformations.cpp
Labels: category: IE Tests, category: LP transformations

#729 mkldnn_memory_solver.hpp: include stdint.h to avoid build error
  inference-engine/src/mkldnn_plugin/mkldnn_memory_solver.hpp
Labels: bug, category: CPU, category: build

#719 Python API for Assign, ReadValue and ExtractImagePatches
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/ops.py
  ngraph/python/test/ngraph/test_create_op.py
  ngraph/src/ngraph/op/read_value.cpp
  ngraph/src/ngraph/op/read_value.hpp
Labels: category: nGraph

#747 [IE CLDNN] Fixed benchmark_app fails with 3221225725
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#689 [IE CLDNN] Added fusing suport to all pooling kernels
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/pooling.cpp
  inference-engine/thirdparty/clDNN/api/pooling.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_average_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_average_opt.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv4.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv4.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_bfyx_block_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_bfyx_block_opt.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_bsv16_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_bsv16_fsv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_byxf_af32.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_byxf_af32.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_byxf_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_byxf_opt.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_byxf_padding_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_byxf_padding_opt.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_fs_b_yx_fsv32.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_fs_b_yx_fsv32.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_fs_bs_yx_bsv4_fsv32.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_fs_bs_yx_bsv4_fsv32.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_fs_bs_yx_bsv4_fsv32_simd32.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_fs_bs_yx_bsv4_fsv32_simd32.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_int8_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_int8_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_average_opt.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_b_fs_yx_fsv4.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_bfyx_block_opt.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_blocked.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_bsv16_fsv16.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_byxf_af32.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_byxf_opt.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_byxf_padding_opt.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_fs_b_yx_fsv32.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_fs_bs_yx_bsv4_fsv32.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_fs_bs_yx_bsv4_fsv32_simd32.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_int8_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/pooling_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/quantize_gpu.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/pooling_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_utils/float16.h
Labels: category: GPU

#672 [MKLDNN_PLUGIN] Convolution node: skip initializing of primitive desc…
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_conv_node.h
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_conv_test.cpp
Labels: category: CPU

#623 [IE CLDNN] Implement EmbeddingBag operations
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/cldnn_engine/cldnn_program.h
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/embedding_bag_offsets_sum.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/embedding_bag_packed_sum.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/embedding_segments_sum.cpp
  inference-engine/thirdparty/clDNN/api/embedding_bag.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/embedding_bag/embedding_bag_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/embedding_bag/embedding_bag_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/embedding_bag/embedding_bag_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/embedding_bag/embedding_bag_kernel_selector.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/embedding_bag_ref.cl
  inference-engine/thirdparty/clDNN/src/embedding_bag.cpp
  inference-engine/thirdparty/clDNN/src/gpu/embedding_bag_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.hpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/include/embedding_bag_inst.h
  inference-engine/thirdparty/clDNN/tests/test_cases/embedding_bag_gpu_test.cpp
Labels: category: GPU

#712 [IE CLDNN] Remove unused fused deps for FQ
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/quantize/quantize_kernel_params.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#740 [IE CLDNN] Disabled sporadic detection output tests
  inference-engine/thirdparty/clDNN/tests/test_cases/detection_output_test.cpp
Labels: category: GPU

#764 [ MO ] InterpolateConcat empty sources fix
  model-optimizer/extensions/back/InterpolateReshape.py
Labels: bug, category: MO

#706 DepthToSpace, SpaceToDepth layers optimizations
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/legacy_api/src/ie_layer_validators.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/depth_to_space.cpp
  inference-engine/src/mkldnn_plugin/nodes/space_to_depth.cpp
  inference-engine/src/transformations/include/transformations/common_optimizations/common_optimizations.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/depth_to_space_fusion.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/depth_to_space.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/space_to_depth.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/depth_to_space.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/space_to_depth.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/depth_to_space.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/space_to_depth.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/depth_to_space.cpp
  inference-engine/tests/ngraph_functions/src/space_to_depth.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/extensions/depth_to_space_tests.cpp
Labels: category: CPU

#744 Add support for ONNX Pad-11
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/onnx/pad_converter.py
  model-optimizer/extensions/front/onnx/pad_converter_test.py
  model-optimizer/extensions/front/onnx/pad_ext.py
  model-optimizer/mo/ops/pad.py
Labels: category: MO

#647 [CPU][BF16] Default Optimisation Capability of BF16 was enabled on CPX
  inference-engine/include/ie_plugin_config.hpp
  inference-engine/src/mkldnn_plugin/config.cpp
  inference-engine/src/mkldnn_plugin/config.h
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
Labels: category: CPU

#642 [IE CLDNN] Permute fused ops support
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/permute_ref.cl
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/permute.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#773 Fix Proposal for the case of 2 outputs
  model-optimizer/extensions/back/ProposalMutation.py
Labels: category: MO

#758 Avoid loading of reader if it doesn't exist
  inference-engine/src/inference_engine/ie_network_reader.cpp
Labels: category: IE common, category: IE reader, enhancement

#720 [IE CLDNN] Implement NormalizeL2 int8 kernels
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/normalize/normalize_kernel_across_spatial_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/normalize/normalize_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/normalize/normalize_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/normalize/normalize_kernel_within_spatial_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/normalize_gpu_across_spatial_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/normalize_gpu_within_spatial_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/normalize_gpu.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/normalize.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/normalizel2_gpu_test.cpp
Labels: category: GPU

#736 [IE CLDNN] Improve Gather performance and add fusing support
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/gather_ref.cl
  inference-engine/thirdparty/clDNN/src/gather.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#754 [LPT] Output layers update fix
  inference-engine/src/low_precision_transformations/include/low_precision_transformations/concat.hpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/output_layers_handling_in_transformations_for_concat.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/output_layers_handling_in_transformations_for_concat_multi_channel.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/output_layers_handling_in_transformations_for_concat.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/output_layers_handling_in_transformations_for_concat_multi_channel.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/output_layers_handling_in_transformations_for_concat.hpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/output_layers_handling_in_transformations_for_concat_multi_channel.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_handling_in_transformations.cpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_handling_in_transformations_for_concat.cpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_handling_in_transformations_for_concat_multi_channel.cpp
Labels: category: LP transformations

#734 [IE][VPU][nGraph]: Fixes DTS transformations to properly keep outputs names
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_broadcast.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_concat.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_gather.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_nonzero.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_nonzero.cpp
Labels: category: VPU

#788 [SAMPLES] Use defined constant instead of string
  inference-engine/samples/hello_reshape_ssd/reshape_ssd_extension.hpp
Labels: category: samples

#786 Fix hetero mode in speech sample - set config when loading network
  inference-engine/samples/speech_sample/main.cpp
Labels: category: samples

#733 Add ReduceL2 decomposition
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/ReduceL2Decomposition.py
  model-optimizer/extensions/front/ReduceL2Decomposition_test.py
  model-optimizer/extensions/front/onnx/reduce_l2_ext.py
  model-optimizer/extensions/ops/ReduceOps.py
  model-optimizer/extensions/ops/ReduceOps_test.py
Labels: category: MO

#776 [CPU] DepthToSpace review leftovers
  inference-engine/src/mkldnn_plugin/nodes/depth_to_space.cpp
  inference-engine/src/mkldnn_plugin/nodes/space_to_depth.cpp
Labels: category: CPU

#771 [GNA] Set default GNA library to GNA2
  inference-engine/cmake/features_ie.cmake
Labels: category: GNA

#760 Save the name of output data if we remove previous layer
  inference-engine/src/legacy_api/src/net_pass.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
Labels: bug, category: IE common, category: IE reader

#636 [CPU] supported ShuffleChannels
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/shuffle_channels.cpp
  inference-engine/src/transformations/include/transformations/convert_opset3_to_opset2/convert_shuffle_channels3.hpp
  inference-engine/src/transformations/src/transformations/convert_opset3_to_opset2/convert_shuffle_channels3.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/shuffle_channels.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/shuffle_channels.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/shuffle_channels.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/shuffle_channels.cpp
Labels: category: CPU

#635 [IE CLDNN] GEMM int8 optimization using MMAD macro
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_mmad_int8.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_mmad_int8.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/gemm_mmad_int8.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/mmad.cl
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#748 Fix itt include dir detection
  inference-engine/cmake/FindITT.cmake
Labels: category: build

#789 Enable public CI
  .github/workflows/mo.yml
  azure-pipelines.yml
Labels: category: CI

#767 add /wd4819 to disable C4819 warning, which is treated as error in win32
  CMakeLists.txt
  inference-engine/samples/CMakeLists.txt
Labels: bug, category: build, platform: win32

#772 [IE VPU] Disable Hw Avg Pooling for small output tensors if excludePad=true
  inference-engine/src/vpu/graph_transformer/src/stages/pooling.cpp
Labels: category: VPU

#794 [IE VPU] Support 3 outputs for LSTMSequence
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/rnn.cpp
Labels: category: VPU

#780 [IE CLDNN] Enable DepthToSpace
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/depth_to_space.cpp
  inference-engine/tests_deprecated/functional/cldnn/shared_tests_instance/single_layer_tests/depth_to_space_tests.cpp
  inference-engine/thirdparty/clDNN/api/depth_to_space.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/depth_to_space/depth_to_space_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/depth_to_space/depth_to_space_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/depth_to_space/depth_to_space_kernel_block2_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/depth_to_space/depth_to_space_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/depth_to_space/depth_to_space_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/depth_to_space_ref.cl
  inference-engine/thirdparty/clDNN/src/depth_to_space.cpp
  inference-engine/thirdparty/clDNN/src/gpu/depth_to_space_gpu.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/graph_initializations.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/pre_replace_deconv.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/include/kernel_selector_helper.h
  inference-engine/thirdparty/clDNN/tests/test_cases/depth_to_space_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fused_conv_eltwise_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#803 Azure: Add Ninja
  azure-pipelines.yml
Labels: category: CI

#787 [IE CLDNN] Enable ShuffleChannels op
  inference-engine/src/transformations/include/transformations/convert_opset3_to_opset2/convert_shuffle_channels3.hpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/shuffle_channels.cpp
  inference-engine/tests_deprecated/functional/cldnn/single_layer_tests/shuffle_channels_tests.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/shuffle_channels/shuffle_channels_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/shuffle_channels/shuffle_channels_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/shuffle_channels_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/shuffle_channels_gpu.cpp
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#815 [LPT] [Test] DepthToSpace sporadic fail fix
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/depth_to_space_transformation.cpp
Labels: category: IE Tests

#797 [ MO ] Groupped conv fusion
  model-optimizer/mo/middle/passes/fusing/fuse_grouped_conv.py
Labels: bug

#757 [IE CLDNN] Optimize 1x1 imad convolution kernel
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16_imad_1x1.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16_imad_1x1.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_b_fs_yx_fsv16_imad_1x1.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/fetch.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/reorder_weights.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_common.cpp
Labels: category: GPU

#546 Implement support for opset3 EmbeddingBag ops
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/SpecialNodesFinalization.py
  model-optimizer/extensions/front/ATenToEmbeddingBag.py
  model-optimizer/extensions/front/ATenToEmbeddingBag_test.py
  model-optimizer/extensions/front/onnx/aten_ext.py
  model-optimizer/extensions/front/tf/WhereDecomposition.py
  model-optimizer/extensions/front/tf/embedding_segments_sum.py
  model-optimizer/extensions/front/tf/embedding_segments_sum_test.py
  model-optimizer/extensions/front/tf/sparse_weighted_sum_test.py
  model-optimizer/extensions/middle/EmbeddingBagResolver.py
  model-optimizer/extensions/middle/EmbeddingBagResolver_test.py
  model-optimizer/extensions/middle/sparse_reshape.py
  model-optimizer/extensions/ops/aten.py
  model-optimizer/extensions/ops/embedding_bag.py
  model-optimizer/extensions/ops/embedding_bag_test.py
  model-optimizer/extensions/ops/sparse_reshape.py
  model-optimizer/extensions/ops/sparse_weighted_sum.py
  model-optimizer/extensions/ops/sparse_weighted_sum_test.py
Labels: category: MO

#801 [GNA] Support changing the execution mode in runtime
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/src/gna_plugin/gna_executable_network.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin_query_api.cpp
  inference-engine/tests_deprecated/functional/gna/shared_tests_instance/ie_class/ie_class.cpp
  inference-engine/tests_deprecated/functional/shared_tests/ie_class/ie_class.hpp
Labels: category: GNA

#554 [ICV] Watchdog switch + ddr initialization
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/include/vpu/myriad_plugin_config.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_config.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_config.h
  inference-engine/src/vpu/myriad_plugin/myriad_executor.cpp
  inference-engine/tests_deprecated/behavior/vpu/shared_tests_instances/plugin_tests/vpu_test_data.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_convolution3x3.hpp
  inference-engine/tests_deprecated/functional/vpu/myriad_tests/myriad_configs_tests.cpp
  inference-engine/tests_deprecated/unit/engines/vpu/myriad_tests/myriad_engine_tests.cpp
  inference-engine/thirdparty/movidius/XLink/pc/PlatformDeviceControl.c
  inference-engine/thirdparty/movidius/XLink/pc/protocols/pcie_host.c
  inference-engine/thirdparty/movidius/XLink/pc/protocols/pcie_host.h
  inference-engine/thirdparty/movidius/XLink/pc/protocols/usb_boot.c
  inference-engine/thirdparty/movidius/XLink/shared/include/XLink.h
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkPlatform.h
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkData.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDevice.c
  inference-engine/thirdparty/movidius/mvnc/include/mvnc.h
  inference-engine/thirdparty/movidius/mvnc/include/mvnc_data.h
  inference-engine/thirdparty/movidius/mvnc/include/ncPrivateTypes.h
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_api.c
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_data.c
  inference-engine/thirdparty/movidius/mvnc/src/watchdog/watchdog.cpp
  inference-engine/thirdparty/movidius/mvnc/tests/cases/mvnc_common_test_cases.cpp
  inference-engine/thirdparty/movidius/mvnc/tests/cases/mvnc_common_test_cases.h
  inference-engine/thirdparty/movidius/mvnc/tests/mvnc_tests_common.cpp
  inference-engine/thirdparty/movidius/tests/XLink/XLink_common_tests.cpp
  inference-engine/thirdparty/movidius/tests/XLink/helpers/XLink_tests_helpers.cpp
Labels: category: VPU

#816 [IE CLDNN] Fix variable initialization issues for GPU plugin
  inference-engine/thirdparty/clDNN/api/prior_box.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/cum_sum/cum_sum_kernel_base.h
Labels: category: GPU

#812 [Python API] Fix deprecation warnings
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/tests/test_ExecutableNetwork.py
  inference-engine/ie_bridges/python/tests/test_IENetwork.py
Labels: bug, category: python api

#830 [Python API] Fixate requirements versions
  inference-engine/ie_bridges/python/sample/requirements.txt
  inference-engine/ie_bridges/python/src/requirements-dev.txt
Labels: category: python api

#608 [CPU] fix set up config for bin conv fused
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_bin_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_bin_conv_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/execution_graph_tests/num_inputs_fusing_bin_conv.cpp
  inference-engine/tests/functional/plugin/shared/include/execution_graph_tests/num_inputs_fusing_bin_conv.hpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/num_inputs_fusing_bin_conv.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/binary_convolution.cpp
Labels: category: CPU

#828 [LPT] [TEST] LayerTransformation test threshold was updated
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/depth_to_space_transformation.cpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_handling_in_transformations.cpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_handling_in_transformations_for_concat.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/low_precision_transformations/layer_transformation.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/low_precision_transformations/layer_transformation.hpp
Labels: category: LP transformations

#824 [IE CLDNN] Better error message when output is not found
  inference-engine/src/cldnn_engine/cldnn_program.cpp
Labels: category: GPU

#804 [Common] Static analyzed issues.
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/legacy_api/src/cnn_network_int8_normalizer.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/embedding_bag_offset_sum.cpp
  inference-engine/src/mkldnn_plugin/nodes/extract_image_patches.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_conv_node.cpp
  inference-engine/src/readers/ir_reader/ie_ir_reader.cpp
  inference-engine/src/readers/onnx_reader/ie_onnx_reader.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_interpolate_to_interp_or_resample.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_tile_to_ie_tile.cpp
Labels: category: CPU, category: IE common, category: IE transformations

#783 [IE MKLDNN] Add Precision U16 in MKLDNN
  inference-engine/src/legacy_api/src/net_pass.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
Labels: category: CPU

#826 [IE CLDNN] Added 6d tensor support in eltwise/scale primitives
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/generic_eltwise_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/eltwise_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/scale_gpu.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/eltwise_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/scale_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_utils/test_utils.h
Labels: category: GPU

#802 [IE VPU] Update firmware
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_convolution3x3.hpp
Labels: category: VPU

#835 add support for multiple scale factors in speech sample
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/samples/speech_sample/speech_sample.hpp
Labels: category: GNA

#785 Const folding and reference implementation for PriorBox(Clustered) ops
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/transformations/include/ngraph_ops/prior_box_clustered_ie.hpp
  inference-engine/src/transformations/include/ngraph_ops/prior_box_ie.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/common_optimizations_tbl.hpp
  inference-engine/src/transformations/include/transformations/convert_opset1_to_legacy/convert_prior_to_ie_prior.hpp
  inference-engine/src/transformations/src/ngraph_ops/prior_box_clustered_ie.cpp
  inference-engine/src/transformations/src/ngraph_ops/prior_box_ie.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_prior_to_ie_prior.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/prior_box_tests.cpp
  inference-engine/tests/functional/inference_engine/transformations/const_folding_prior_box.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/prior_box_clustered.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/prior_box_clustered.cpp
  ngraph/src/ngraph/enum_names.hpp
  ngraph/src/ngraph/frontend/onnx_import/op/gru.cpp
  ngraph/src/ngraph/frontend/onnx_import/utils/recurrent.cpp
  ngraph/src/ngraph/op/elu.cpp
  ngraph/src/ngraph/op/non_max_suppression.cpp
  ngraph/src/ngraph/op/prior_box.cpp
  ngraph/src/ngraph/op/prior_box.hpp
  ngraph/src/ngraph/op/prior_box_clustered.cpp
  ngraph/src/ngraph/op/prior_box_clustered.hpp
  ngraph/src/ngraph/pass/constant_folding.hpp
  ngraph/src/ngraph/runtime/reference/embedding_bag_offsets_sum.hpp
  ngraph/src/ngraph/runtime/reference/embedding_bag_packed_sum.hpp
  ngraph/src/ngraph/runtime/reference/embedding_segments_sum.hpp
  ngraph/src/ngraph/runtime/reference/extract_image_patches.hpp
  ngraph/src/ngraph/runtime/reference/prior_box.hpp
  ngraph/src/ngraph/runtime/reference/prior_box_clustered.hpp
  ngraph/src/ngraph/type/float16.hpp
  ngraph/test/runtime/interpreter/int_executable.hpp
Labels: category: IE transformations, category: nGraph

#737 [IE VPU] Dynamic Broadcast tests
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_broadcast.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_broadcast.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/src/stages/broadcast.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/dynamic_shape_resolver.cpp
  inference-engine/tests/functional/plugin/myriad/common/myriad_common_test_utils.hpp
  inference-engine/tests/functional/plugin/myriad/single_layer_tests/static_shape_broadcast.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/nonzero_broadcast.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/nonzero_transpose.cpp
Labels: category: VPU

#723 [GNA] Added support permute layer
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/backend/am_intel_dnn.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/layers/gna_permute.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/reshapre_permute_reshape.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/reshape_permute_reshape.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/reshape_permute_reshape.cpp
  inference-engine/tests/unit/gna/gna_permute_sequence_test.cpp
  inference-engine/tests_deprecated/unit/engines/gna/layers/gna_permute_test.cpp
Labels: category: GNA

#603 Fix onnx slice by clipping "ends" to int32 domain
  model-optimizer/extensions/middle/SliceConverter.py
Labels: category: MO

#827 Fixed default args for Android build
  CMakeLists.txt
  inference-engine/tests_deprecated/functional/cldnn/CMakeLists.txt
  ngraph/test/CMakeLists.txt
Labels: category: build, platform: android

#841 Fix divide conversion for integer input type
  inference-engine/src/transformations/src/transformations/convert_divide.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_divide.cpp
Labels: bug

#753 [IE CLDNN] Added batch_to_space operation
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/cldnn_engine/cldnn_program.h
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  inference-engine/thirdparty/clDNN/api/batch_to_space.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_selector.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/batch_to_space_ref.cl
  inference-engine/thirdparty/clDNN/src/batch_to_space.cpp
  inference-engine/thirdparty/clDNN/src/gpu/batch_to_space_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.hpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/include/batch_to_space_inst.h
  inference-engine/thirdparty/clDNN/tests/test_cases/batch_to_space_gpu_test.cpp
Labels: category: GPU

#833 Use default thread sanitizer linkage
  cmake/sanitizer.cmake
  inference-engine/CMakeLists.txt
Labels: category: build

#779 Show error message if output file is not writable
  inference-engine/tools/compile_tool/main.cpp
Labels: category: samples, enhancement

#555 [IE CLDNN] Add support for I64 data type in clDNN plugin
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_executable_network.cpp
  inference-engine/src/cldnn_engine/cldnn_graph.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/readers/ir_reader/ie_format_parser.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/concat.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/reshape.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/split.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/strided_slice.cpp
  inference-engine/thirdparty/clDNN/src/gpu/strided_slice_gpu.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/add_required_reorders.cpp
  inference-engine/thirdparty/clDNN/src/include/pass_manager.h
  inference-engine/thirdparty/clDNN/src/strided_slice.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/broadcast_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/concatenation_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/contract_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/crop_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/one_hot_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/split_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/strided_slice_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_utils/test_utils.h
Labels: category: GPU

#761 [IE VPU TESTS] Rewrite tests with deprecated API
  inference-engine/tests_deprecated/unit/engines/vpu/get_vpu_scale_from_ir_tests.cpp
Labels: category: IE Tests, category: VPU

#829 [IE CLDNN] Always use FP32 as intermediate type for fused quantize
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#877 [IE CLDNN] Always use FP32 as intermediate type for fused quantize
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#889 [LPT] Static code analysis issues fix
  inference-engine/src/low_precision_transformations/src/concat.cpp
Labels: category: LP transformations

#868 [Common] Static analyzed issues. Part II.
  inference-engine/samples/ngraph_function_creation_sample/main.cpp
  inference-engine/src/inference_engine/generic_ie.cpp
  inference-engine/src/inference_engine/ie_network_reader.cpp
  inference-engine/src/mkldnn_plugin/nodes/argmax_imp.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_normalize_node.cpp
Labels: category: CPU, category: IE common, category: IE reader

#867 [GNA] Fixes in checks, asserts, etc.
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/gna2_model_debug_log.cpp
  inference-engine/src/gna_plugin/gna2_model_helper.cpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_model_serial.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.cpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/layers/gna_permute.hpp
Labels: category: GNA

#898 [VPU] Update firmware
  inference-engine/cmake/vpu_dependencies.cmake
Labels: category: VPU

#666 [IE CLDNN] Perf improvements for global avg pooling in fsv16 format
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_blocked.cl
Labels: category: GPU

#878 [IE CLDNN] Perf improvements for global avg pooling in fsv16 format
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_blocked.cl
Labels: category: GPU

#894 [IE][Myriad] fix HW tiling for 2020.4
  inference-engine/src/vpu/graph_transformer/src/middleend/hw/tiling.cpp
Labels: category: VPU

#866 [IE][Myriad] fix HW tiling
  inference-engine/src/vpu/graph_transformer/src/middleend/hw/tiling.cpp
Labels: category: VPU

#858 TESTS: Added test for parallel LoadNetwork with accuracy check
  inference-engine/tests/functional/plugin/shared/include/behavior/core_threading_tests.hpp
Labels: category: IE Tests

#873 [IE CLDNN] Fix fsv16 -> bfyx reorder removal
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/fetch.cl
  inference-engine/thirdparty/clDNN/src/graph_optimizer/remove_redundant_reorders.cpp
  inference-engine/thirdparty/clDNN/src/reorder.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#872 [IE CLDNN] Fix fsv16 -> bfyx reorder removal
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/fetch.cl
  inference-engine/thirdparty/clDNN/src/graph_optimizer/remove_redundant_reorders.cpp
  inference-engine/thirdparty/clDNN/src/reorder.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#870 [IE CLDNN] Fixed clone network logic to keep original CNNNetwork unchanged
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
Labels: category: GPU

#876 [IE CLDNN] Fixed clone network logic to keep original CNNNetwork unchanged
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
Labels: category: GPU

#871 [CLDNN] Fix std::runtime_error missing
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.h
Labels: category: GPU

#891 Fix NopElimination (cherry pick #869 to master)
  ngraph/src/ngraph/pass/nop_elimination.cpp
  ngraph/test/nop_elimination.cpp
Labels: category: nGraph

#901 Docs 2021 1
  docs/IE_PLUGIN_DG/AsyncInferRequest.md
  docs/IE_PLUGIN_DG/Building.md
  docs/IE_PLUGIN_DG/Doxyfile
  docs/IE_PLUGIN_DG/ExecutableNetwork.md
  docs/IE_PLUGIN_DG/InferRequest.md
  docs/IE_PLUGIN_DG/Intro.md
  docs/IE_PLUGIN_DG/LowPrecisionModelRepresentation.md
  docs/IE_PLUGIN_DG/NewTransformation.md
  docs/IE_PLUGIN_DG/Plugin.md
  docs/IE_PLUGIN_DG/PluginTesting.md
  docs/IE_PLUGIN_DG/QuantizedNetworks.md
  docs/IE_PLUGIN_DG/images/qdq_propagation.png
  docs/IE_PLUGIN_DG/images/quantized_convolution.png
  docs/IE_PLUGIN_DG/images/quantized_model_example.png
  docs/IE_PLUGIN_DG/layout.xml
  inference-engine/src/transformations/include/transformations/init_node_info.hpp
  inference-engine/src/transformations/include/transformations/rt_info/fused_names_attribute.hpp
Labels: category: docs

#910 TESTS: Added test for parallel LoadNetwork with accuracy check
  inference-engine/tests/functional/plugin/shared/include/behavior/core_threading_tests.hpp
Labels: category: IE Tests

#911 Updated dates of removal for deprecated API
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/include/cpp/ie_plugin_cpp.hpp
  inference-engine/include/details/ie_cnn_network_iterator.hpp
  inference-engine/include/details/ie_cnn_network_tools.h
  inference-engine/include/ie_data.h
  inference-engine/include/ie_layers.h
  inference-engine/tests/functional/inference_engine/net_reader_test.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/exec_graph_info.hpp
Labels: category: IE common

#912 Updated dates of removal for deprecated API
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/include/cpp/ie_plugin_cpp.hpp
  inference-engine/include/details/ie_cnn_network_iterator.hpp
  inference-engine/include/details/ie_cnn_network_tools.h
  inference-engine/include/ie_data.h
  inference-engine/include/ie_layers.h
  inference-engine/tests/functional/inference_engine/net_reader_test.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/exec_graph_info.hpp
Labels: category: IE common

#861 CMAKE: removed conditional compilation for C API
  inference-engine/CMakeLists.txt
  inference-engine/cmake/features_ie.cmake
Labels: category: build

#855 [IE VPU] Enable variable number of inputs for ExpPriorGridGenerator
  inference-engine/src/vpu/graph_transformer/src/stages/exp_priorgridgenerator.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_exp_priorgridgenerator_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_exp_priorgridgenerator_test.hpp
Labels: category: VPU

#842 [IE VPU] Dynamic Concat fixes
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/concat.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/eltwise.cpp
Labels: category: VPU

#811 [IE CLDNN] Fix inserting input reorders in bwd direction
  inference-engine/thirdparty/clDNN/src/graph_optimizer/reorder_inputs.cpp
Labels: category: GPU

#897 [Python API] Fix long inference
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
Labels: bug, category: python api

#922 [GNA] Added test for ScaleShift and fixed power layer with non-zero shift
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/scale_shift.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/scaleshift.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/scale_shift.cpp
Labels: category: GNA

#938 [Python API] Fix long inference
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
Labels: bug, category: python api

#933 [IE CLDNN] Add resample improvements
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/resample_opt.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/resample_ref.cl
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_buffer_fusing.cpp
  inference-engine/thirdparty/clDNN/src/resample.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/resample_gpu_test.cpp
Labels: category: GPU

#936 Support fp16 networks
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.hpp
  inference-engine/src/legacy_api/include/convert_function_to_cnn_network.hpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
Labels: category: IE common

#752 Support fp16 networks
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.hpp
  inference-engine/src/legacy_api/include/convert_function_to_cnn_network.hpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
Labels: category: IE common

#915 Removed deprecated error listener, getmappedtopology; network::precision
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/include/cpp/ie_cnn_network.h
  inference-engine/include/cpp/ie_executable_network.hpp
  inference-engine/include/ie_core.hpp
  inference-engine/include/ie_error.hpp
  inference-engine/include/ie_extension.h
  inference-engine/include/ie_iexecutable_network.hpp
  inference-engine/include/ie_iextension.h
  inference-engine/include/ie_plugin.hpp
  inference-engine/include/ie_primitive_info.hpp
  inference-engine/include/ie_tensor_info.hpp
  inference-engine/include/inference_engine.hpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/src/legacy_api/src/ie_deprecated.cpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_executable_network_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_plugin_base.hpp
  inference-engine/tests/functional/inference_engine/cnn_network_test.cpp
  inference-engine/tests/functional/inference_engine/extension_lib/include/extension.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/empty.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_executable_network_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_executable_thread_safe_async_only.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_executable_thread_safe_default.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iexecutable_network_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/mock_plugin_impl.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_error_listener.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_iexecutable_network.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_iinference_plugin.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/shape_infer/mock_shape_infer_extension.hpp
  inference-engine/tests/unit/inference_engine/ie_executable_network_test.cpp
  inference-engine/tests/unit/inference_engine/ie_plugin_ptr.cpp
  inference-engine/tests_deprecated/functional/mkldnn/extensions_tests/extensions_test.cpp
  inference-engine/tests_deprecated/functional/shared_tests/ie_class/ie_class.hpp
  inference-engine/tests_deprecated/functional/shared_tests/transformations/low_precision_transformer_single_layer_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/transformations/pooling_test.cpp
  inference-engine/tests_deprecated/functional/shared_tests/transformations/power_test.cpp
  inference-engine/tests_deprecated/functional/shared_tests/transformations/single_layer_transformations_test.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/constant_propagation_test.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/extensions/graph_generic_test.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_reorder_test.cpp
Labels: category: IE Tests, category: IE common

#774 [GNA] Added test ScaleShift and fixed power layer with non zero shift
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/scale_shift.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/scaleshift.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/scale_shift.cpp
Labels: category: GNA

#930 [IE][VPU]: Enables dynamic output from middle of network support
  inference-engine/src/vpu/graph_transformer/src/middleend/pass_manager.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/add_copy_for_outputs_inside_network.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/convert_shape_notation.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/propagate_dynamism_to_outputs.cpp
Labels: category: VPU

#888 [GNA] Fix the case when one of the layer outputs is connected to memory
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/multioutput_eltwise_squeeze_eltwise.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/multioutput_eltwise_squeeze_eltwise.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/multioutput_eltwise_squeeze_eltwise.cpp
Labels: category: GNA

#763 [IE TESTS] disable Some myriad tests on Win
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests_deprecated/functional/shared_tests/ie_class/ie_class.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_CTCDecoder_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_proposal_test.cpp
  inference-engine/tests_deprecated/functional/vpu/myriad_tests/vpu_tests_config.cpp
Labels: category: IE Tests

#965 Pass SizeVector by const reference in ie_layout.hpp
  inference-engine/include/ie_layouts.h
  inference-engine/src/inference_engine/ie_layouts.cpp
Labels: category: IE common, enhancement

#890 CMAKE: fixed path for bin artifacts for 32bits
  cmake/developer_package.cmake
Labels: category: build

#510 Execution graph via ngraph for CPU plugin
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/ie_rtti.cpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/network_serializer.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_graph_dumper.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph_dumper.h
  inference-engine/src/plugin_api/exec_graph_info.hpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/cpu_test_utils.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/exec_graph_info.hpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/num_inputs_fusing_bin_conv.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/unique_node_names.cpp
  inference-engine/tests/functional/plugin/shared/src/ngraph_conversion_tests/conv_bias_fusion.cpp
  inference-engine/tests_deprecated/behavior/shared_tests/plugin_tests/behavior_test_plugin_infer_request_fixture.cpp
Labels: category: CPU, feature

#959 [IE CLDNN] Fix gather dimensions calculation
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/gather_gpu_test.cpp
Labels: category: GPU

#958 FIX - instance-segmentation-security-0050 compilation fails - for release
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/adjust_data_batch.cpp
Labels: category: VPU

#978 [IE Myriad] Remove Myriad 2 from supported devices in XLink
  inference-engine/thirdparty/movidius/XLink/pc/protocols/usb_boot.c
Labels: category: VPU

#926 [ DTS ] Exp, Softmax, Greater
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_binary_elementwise.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_unary_elementwise.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_binary_elementwise.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_unary_elementwise.cpp
  ngraph/src/ngraph/op/equal.hpp
  ngraph/src/ngraph/op/greater.hpp
  ngraph/src/ngraph/op/greater_eq.hpp
  ngraph/src/ngraph/op/less.hpp
  ngraph/src/ngraph/op/less_eq.hpp
  ngraph/src/ngraph/op/not_equal.hpp
  ngraph/src/ngraph/op/util/binary_elementwise_comparison.cpp
  ngraph/src/ngraph/op/util/binary_elementwise_comparison.hpp
Labels: category: VPU

#884 [ DYN NMS ] Static & Dynamic ops; DTS transformation; VPU tests
  inference-engine/src/transformations/include/transformations/common_optimizations/common_optimizations_tbl.hpp
  inference-engine/src/transformations/include/transformations/convert_nms_3_to_nms_v4.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/convert_nms_3_to_nms_4.cpp
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_non_maximum_suppression.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_non_maximum_suppression.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_non_max_suppression.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_reshape.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_non_max_suppression.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_non_max_suppression.cpp
  ngraph/src/ngraph/op/non_max_suppression.cpp
  ngraph/src/ngraph/op/non_max_suppression.hpp
Labels: category: VPU

#960 [IE CLDNN] Fix gather dimensions calculation
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/gather_gpu_test.cpp
Labels: category: GPU

#982 [ICV] Fixes for IE windows build
  inference-engine/samples/common/format_reader/bmp.h
  inference-engine/tests_deprecated/functional/vpu/shared_tests_instance/ie_class/ie_class.cpp
  inference-engine/thirdparty/movidius/mvnc/tests/cases/mvnc_common_test_cases.cpp
  inference-engine/thirdparty/movidius/mvnc/tests/mvnc_tests_usb.cpp
  ngraph/src/ngraph/type/element_type.cpp
Labels: category: VPU, category: build, category: nGraph, platform: win32

#988 [IE TESTS] disable Some myriad tests on Win
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests_deprecated/functional/shared_tests/ie_class/ie_class.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_CTCDecoder_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_proposal_test.cpp
  inference-engine/tests_deprecated/functional/vpu/myriad_tests/vpu_tests_config.cpp
Labels: category: IE Tests

#881 [Common] Static analysed issues. Part II.
  inference-engine/samples/ngraph_function_creation_sample/main.cpp
  inference-engine/src/inference_engine/generic_ie.cpp
  inference-engine/src/inference_engine/ie_network_reader.cpp
  inference-engine/src/mkldnn_plugin/nodes/argmax_imp.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_normalize_node.cpp
Labels: category: CPU, category: IE common, category: samples

#983 [CPU] fix one dims scale shift
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_depthwise_node.cpp
Labels: category: CPU

#989 [CPU] fix one dims scale shift
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_depthwise_node.cpp
Labels: category: CPU

#848 Adding new layer tests to validation
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/gather.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/softmax.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/transpose.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/gather.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/reduce_ops.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/transpose.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/gather.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/reduce_ops.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/transpose.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/common_utils.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_functions/src/reduce.cpp
  inference-engine/tests/ngraph_functions/src/utils/ngraph_helpers.cpp
Labels: category: IE Tests

#565 [IE CLDNN] Add pooling b_fs_yx_fsv16 int8
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv16_imad.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv16_imad.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_b_fs_yx_fsv16_imad.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/pooling_gpu_test.cpp
Labels: category: GPU

#950 [IE CLDNN] Fix strided slice
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/strided_slice.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/strided_slice.cpp
  inference-engine/tests/ngraph_functions/src/strided_slice.cpp
  inference-engine/thirdparty/clDNN/api/strided_slice.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/strided_slice/strided_slice_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/strided_slice/strided_slice_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/strided_slice_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/strided_slice_gpu.cpp
  inference-engine/thirdparty/clDNN/src/strided_slice.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/removing_output_node_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/strided_slice_gpu_test.cpp
Labels: category: GPU

#1002 [IE Common][WA] Skipped const folding for Convolution layer
  inference-engine/src/legacy_api/src/graph_transformer.cpp
Labels: category: IE common

#953 [IE CLDNN] Fix strided slice
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/strided_slice.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/strided_slice.cpp
  inference-engine/tests/ngraph_functions/src/strided_slice.cpp
  inference-engine/thirdparty/clDNN/api/strided_slice.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/strided_slice/strided_slice_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/strided_slice/strided_slice_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/strided_slice_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/strided_slice_gpu.cpp
  inference-engine/thirdparty/clDNN/src/strided_slice.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/removing_output_node_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/strided_slice_gpu_test.cpp
Labels: category: GPU

#993 [GNA] fix permute 0_2_1
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/reshapre_permute_reshape.cpp
Labels: category: GNA

#991 [GNA] fix permute 0_2_1
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/reshapre_permute_reshape.cpp
Labels: category: GNA

#1005 [IE Common][WA] Skipped const folding for Convolution layer
  inference-engine/src/legacy_api/src/graph_transformer.cpp
Labels: category: IE common

#968 [LPT] BERT with specific biases support & improvement
  inference-engine/src/low_precision_transformations/include/low_precision_transformations/gemm.hpp
  inference-engine/src/low_precision_transformations/include/low_precision_transformations/weightable_layer_transformation.hpp
  inference-engine/src/low_precision_transformations/src/fully_connected.cpp
  inference-engine/src/low_precision_transformations/src/gemm.cpp
  inference-engine/src/low_precision_transformations/src/weightable_layer_transformation.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_fullyconnected_node.cpp
Labels: category: CPU, category: LP transformations

#770 [IE VPU] Evaluate DSR
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/dynamic_shape_resolver.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/dynamic_shape_resolver.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/pass_manager.hpp
  inference-engine/src/vpu/graph_transformer/src/backend/serialize.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/allocator/allocator.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/pass_manager.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/allocate_resources.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/convert_shape_notation.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/propagate_dynamism.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/propagate_dynamism_to_outputs.cpp
  inference-engine/src/vpu/graph_transformer/src/model/model.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/dynamic_shape_resolver.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_infer_request.cpp
  inference-engine/tests/functional/plugin/myriad/common/myriad_common_test_utils.cpp
  inference-engine/tests/functional/plugin/myriad/common/myriad_common_test_utils.hpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_reshape.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_tests_common.hpp
Labels: category: VPU
