Repository openvinotoolkit/openvino, pull requests merged in 2020-10, with the labels that each got.

#2359 Support DB reporting for test_timetest.py
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/test_timetest.py
  tests/time_tests/test_runner/utils.py
Labels: category: IE Tests

#2431 Support references in test_timetest.py
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/test_timetest.py
Labels: category: IE Tests

#2434 Downgrade cmake for samples (#2372)
  build-instruction.md
  inference-engine/samples/CMakeLists.txt
Labels: category: IE common, category: docs

#2479 Added closing braсket (#2466)
  model-optimizer/install_prerequisites/install_prerequisites.bat
Labels: category: MO

#2473 Hide input redirection error
  scripts/demo/demo_benchmark_app.bat
  scripts/demo/demo_security_barrier_camera.bat
  scripts/demo/demo_squeezenet_download_convert_run.bat
Labels: category: CI, category: samples

#2441 Remove checks for output precision
  inference-engine/tools/compile_tool/main.cpp
Labels: category: IE common

#2483 doc: add docker ci link to README.md
  README.md
Labels: category: CI, category: docs

#2472 Fix virtual class inheritance for single layer test detection output
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/detection_output.hpp
Labels: category: IE Tests

#2117 [GNA]specific execution order for delayer copy layer
  inference-engine/src/gna_plugin/backend/dnn_components.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/delayed_copy_layer.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/delayed_copy_layer.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/delayed_copy_layer.cpp
Labels: category: GNA

#2481 [Docs] Update MO What's new description
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
Labels: category: docs

#1611 IECore.read_network: accept arbitrary PathLike objects and not just Path
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pxd
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/tests/test_IECore.py
Labels: category: python api

#2501 Feature/azaytsev/benchmarks 2021 1
  docs/benchmarks/performance_benchmarks.md
  docs/benchmarks/performance_benchmarks_faq.md
  docs/benchmarks/performance_int8_vs_fp32.md
  docs/doxygen/ie_docs.xml
  docs/img/int8vsfp32.png
Labels: category: docs

#2457 Update build-instruction.md for MacOsX
  build-instruction.md
Labels: category: docs

#2493 [IE CLDNN] Remove debug code from reference_convolve
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#2415 [IE CLDNN] fix a perf regression in the eltwise ref kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/generic_eltwise_ref.cl
Labels: category: GPU

#2492 [IE Tests] Added test filters for gnaFuncTests target
  inference-engine/tests/functional/plugin/gna/import_export_network.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/4d_eltwise.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/eltwise_split_over_channels_pass.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/remove_permutations_NHWC_to_NCHW_pass.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/add_output.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/memory_states.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/concat.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/convolution.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/fake_quantize.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/pooling.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/power.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/split.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/basic_lstm.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/cascade_concat.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/concat_multi_input.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/handling_orientation_conv.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/matmul_squeeze_add.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/memory_LSTMCell.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/multioutput_eltwise_squeeze_eltwise.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/reshape_permute_conv_permute_reshape_act.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/reshape_squeeze_reshape_relu.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/reshapre_permute_reshape.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/scale_shift.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/split_conv_concat.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/split_relu.cpp
Labels: category: GNA, category: IE Tests

#2496 [IE Tests] Added test filters for gpuFuncTests target
  inference-engine/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/execution_graph_tests/unique_node_names.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/concat_neighboring_graph_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/concat_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/concat_with_intermediate_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/depth_to_space_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/fully_connected_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/fuse_fake_quantize_and_scale_shift_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/gemm_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/mat_mul_with_optimized_constant_fake_quantize_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/multiply_with_one_parent_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/normalize_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/output_layers_handling_in_transformations.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/output_layers_handling_in_transformations_for_concat.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/output_layers_handling_in_transformations_for_concat_multi_channel.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/permute_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/reshape_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/ngraph_conversion_tests/conv_bias_fusion.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/ngraph_conversion_tests/plugin_specific_ngraph_conversion.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/comparison.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/concat.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/convolution.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/ctc_greedy_decoder.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/cum_sum.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/depth_to_space.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/extract_image_patches.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/gather.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/grn.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/group_convolution.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/interpolate.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/logical.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/lrn.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/pooling.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/prior_box_clustered.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/proposal.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/reshape.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/split.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/reshape_permute_conv_permute_reshape_act.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/reshape_squeeze_reshape_relu.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/scale_shift.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/split_conv_concat.cpp
Labels: category: GPU, category: IE Tests

#2469 Feature/azaytsev/cvs-38240
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#2448 Updated according to the comments from the ticket CVS-37827
  docs/install_guides/installing-openvino-windows.md
Labels: category: VPU, category: docs

#2453 [IE CLDNN] Fix unsupported dims number error
  inference-engine/src/cldnn_engine/cldnn_common_utils.h
  inference-engine/thirdparty/clDNN/src/gpu/scale_gpu.cpp
  inference-engine/thirdparty/clDNN/src/select.cpp
Labels: category: GPU

#2454 [IE CLDNN] Fix for Eltwise fused ops
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/generic_eltwise_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/kernel_selector_utils.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#2518 Update docs for speech libs and demos
  inference-engine/samples/speech_libs_and_demos/Speech_libs_and_demos.md
Labels: category: docs

#2499 Update get_ov_update_message.py
  model-optimizer/mo/utils/get_ov_update_message.py
Labels: ExternalIntelPR, category: MO

#2515 Feature/azaytsev/cherry pick pr2448 2469 2457 to master
  build-instruction.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-windows.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#2273 [DOCS] Added an evaluate method for custom operation
  docs/IE_DG/Extensibility_DG/AddingNGraphOps.md
  docs/template_extension/op.cpp
  docs/template_extension/op.hpp
Labels: category: docs, category: nGraph

#2512 [IE TESTS] move MultipleAllocations test to nightly
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/stress_tests.cpp
Labels: category: IE Tests

#2514 [IE][TESTS][CMAKE] Add -Wno-deprecated-copy compile flag for GTest
  inference-engine/tests/ie_test_utils/common_test_utils/CMakeLists.txt
Labels: category: IE Tests, category: build, platform: linux

#2528 Removed similar behavior tests
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request_callback.hpp
Labels: category: IE Tests

#2435 Sync GNA lib calls to avoid multi threads and plugins crash
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/tests/functional/inference_engine/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/core_threading_tests.cpp
Labels: category: GNA, category: IE Tests

#2419 [MO] Fix: add PermuteInputs to shape broadcasting
  model-optimizer/mo/ops/broadcast.py
  model-optimizer/mo/utils/broadcasting.py
Labels: category: MO

#2513 add test results publishing
  .ci/azure/windows.yml
Labels: category: CI

#2523 Remove `--collect_results_only`
  tests/stress_tests/README.md
  tests/stress_tests/common/tests_utils.cpp
  tests/stress_tests/common/tests_utils.h
  tests/stress_tests/memcheck_tests/flags.h
  tests/stress_tests/memcheck_tests/main.cpp
  tests/stress_tests/memcheck_tests/tests.cpp
  tests/stress_tests/memcheck_tests/tests_pipelines/tests_pipelines.cpp
Labels: category: IE Tests, category: docs

#2529 [DO NOT REVIEW] fp32 outputs fixup to better handle possibly negative values
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
Labels: category: CPU

#2437 [VPU][IE] Disable ConvertMinimum transformation for Myriad Plugin
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/transformations/src/transformations/convert_minimum_to_power_and_max.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
Labels: category: IE common, category: VPU

#2509 Remove `--collect_results_only`
  tests/stress_tests/README.md
  tests/stress_tests/common/tests_utils.cpp
  tests/stress_tests/common/tests_utils.h
  tests/stress_tests/memcheck_tests/flags.h
  tests/stress_tests/memcheck_tests/main.cpp
  tests/stress_tests/memcheck_tests/tests.cpp
  tests/stress_tests/memcheck_tests/tests_pipelines/tests_pipelines.cpp
Labels: category: IE Tests, category: docs

#2538 Revert "Sync GNA lib calls to avoid multi threads and plugins crash"
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/tests/functional/inference_engine/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/core_threading_tests.cpp
Labels: category: GNA, category: IE Tests

#2546 [Jenkinsfile] Bump infra
  Jenkinsfile
Labels: category: CI

#2545 [Jenkinsfile] Bump infra
  Jenkinsfile
Labels: category: CI

#2532 Shellcheck tests for bash scripts
  CMakeLists.txt
  cmake/coverage/coverage_clean.cmake
  cmake/developer_package.cmake
  cmake/shellcheck/shellcheck.cmake
  cmake/shellcheck/shellcheck_process.cmake
  inference-engine/scripts/dependencies.sh
  install_dependencies.sh
  model-optimizer/install_prerequisites/install_prerequisites.sh
  scripts/setupvars/setupvars.sh
Labels: category: CI, category: IE common, category: MO, category: build

#2460 [GNA] Documentation updates for 2021.1
  docs/IE_DG/supported_plugins/GNA.md
  docs/IE_DG/supported_plugins/Supported_Devices.md
Labels: category: docs

#1174 [GNA] Fix LSTM Cell channel C being 0 on output
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/get_output_before_activation.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/get_output_before_activation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/get_output_before_activation.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/get_output_before_activation.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/get_output_before_activation.cpp
  inference-engine/tests_deprecated/functional/gna/shared_tests_instance/lstm/lstm_cell_test.cpp
Labels: category: GNA, category: IE Tests, category: nGraph

#2485 [GNA] FIX CopyLayerPass for concat parent cases
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/multiple_LSTMCell.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/multiple_LSTMCell.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/multiple_LSTMCell.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/multiple_LSTMCell.cpp
Labels: category: GNA

#2486 [GNA] Issue 39975 - cascade concat fix
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/multiple_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/multiple_concat.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/multiple_concat.cpp
Labels: category: GNA

#2331 Re-enable more unit tests (Resize & Interpolate)
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#2551 Azure CI: Add --gtest_filter=*smoke*
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#2554 GitHub CI: Add ShellCheck
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .github/workflows/code_style.yml
Labels: category: CI

#2490 Add `"cl_cache"` preparation in test_timetest.py
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/test_timetest.py
Labels: category: IE Tests

#2324 Added ONNX Resize-11 to supported layers in documentation
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
Labels: category: docs

#1712 Moved WA for legacy includes to dev package
  inference-engine/cmake/developer_package_config.cmake.in
  inference-engine/src/cldnn_engine/cldnn_executable_network.cpp
  inference-engine/src/cldnn_engine/cldnn_graph.cpp
  inference-engine/src/gna_plugin/backend/dnn_components.cpp
  inference-engine/src/gna_plugin/connection_details.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.hpp
  inference-engine/src/gna_plugin/layers/gna_concat_layer.hpp
  inference-engine/src/gna_plugin/layers/gna_crop_layer.hpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/layers/gna_memory_layer.hpp
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/shape_infer/ie_priorgridgenerator_onnx_shape_infer.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_interpolate_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reduce_node.cpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/details/caseless.hpp
  inference-engine/tests/unit/cpu/bf16_transformer_test.cpp
Labels: category: GNA, category: IE common, category: build

#2500 nGraph Python API tutorial
  docs/nGraph_DG/nGraph_Python_API.md
Labels: category: docs

#2414 Specify GatherND-5 operation
  docs/doxygen/ie_docs.xml
  docs/ops/movement/GatherND_5.md
  docs/ops/opset5.md
Labels: category: docs

#2271 First draft of nGraph documentation
  docs/IE_DG/Deep_Learning_Inference_Engine_DevGuide.md
  docs/IE_DG/Graph_debug_capabilities.md
  docs/IE_DG/Integrate_with_customer_application_new_API.md
  docs/IE_DG/Introduction.md
  docs/IE_DG/OnnxImporterTutorial.md
  docs/IE_DG/ShapeInference.md
  docs/IE_DG/nGraphTutorial.md
  docs/IE_DG/nGraph_Flow.md
  docs/IE_PLUGIN_DG/Intro.md
  docs/IE_PLUGIN_DG/NewTransformation.md
  docs/IE_PLUGIN_DG/Plugin.md
  docs/IE_PLUGIN_DG/PluginTesting.md
  docs/IE_PLUGIN_DG/layout.xml
  docs/doxygen/ie_docs.xml
  docs/index.md
  docs/nGraph_DG/build_function.md
  docs/nGraph_DG/img/TopLevelNGraphFlow.png
  docs/nGraph_DG/img/graph_rewrite_efficient_search.png
  docs/nGraph_DG/img/graph_rewrite_execution.png
  docs/nGraph_DG/img/register_new_node.png
  docs/nGraph_DG/img/transformations_structure.png
  docs/nGraph_DG/intro.md
  docs/nGraph_DG/nGraphTransformation.md
  docs/nGraph_DG/nGraph_basic_concepts.md
  docs/nGraph_DG/nGraph_debug_capabilities.md
  docs/nGraph_DG/nGraph_dg.md
Labels: category: docs, category: nGraph, priority: high

#2560 Feature/azaytsev/docs 2021 1
  build-instruction.md
  docs/IE_DG/Deep_Learning_Inference_Engine_DevGuide.md
  docs/IE_DG/Glossary.md
  docs/IE_DG/Intro_to_Performance.md
  docs/IE_DG/Samples_Overview.md
  docs/IE_DG/inference_engine_intro.md
  docs/IE_DG/supported_plugins/CPU.md
  docs/IE_DG/supported_plugins/FPGA.md
  docs/IE_DG/supported_plugins/Supported_Devices.md
  docs/Inference_Engine_Development_Procedure/CONTRIBUTING.md
  docs/Inference_Engine_Development_Procedure/IE_Dev_Procedure.md
  docs/Legal_Information.md
  docs/get_started/get_started_linux.md
  docs/get_started/get_started_macos.md
  docs/get_started/get_started_windows.md
  docs/how_tos/how-to-links.md
  docs/img/OV-diagram-step2.png
  docs/img/OV-diagram-step3.png
  docs/img/OpenVINO-diagram.png
  docs/index.md
  docs/install_guides/PAC_Configure.md
  docs/install_guides/VisionAcceleratorFPGA_Configure.md
  docs/install_guides/VisionAcceleratorFPGA_Configure_Windows.md
  docs/install_guides/deployment-manager-tool.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-linux-fpga.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-raspbian.md
  docs/install_guides/installing-openvino-windows-fpga.md
  docs/install_guides/installing-openvino-windows.md
  docs/install_guides/installing-openvino-yocto.md
  docs/nGraph_DG/nGraph_Python_API.md
Labels: category: docs

#2569 Fixed links to images
  docs/IE_PLUGIN_DG/images/graph_rewrite_efficient_search.png
  docs/IE_PLUGIN_DG/images/graph_rewrite_execution.png
  docs/IE_PLUGIN_DG/images/register_new_node.png
  docs/IE_PLUGIN_DG/images/transformations_structure.png
  docs/nGraph_DG/img/ngraph_insert_node.png
  docs/nGraph_DG/img/ngraph_replace_node.png
  docs/nGraph_DG/nGraphTransformation.md
Labels: category: docs

#2284 CTCGreedyDecoder reference implementation
  ngraph/core/include/ngraph/op/ctc_greedy_decoder.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/ctc_greedy_decoder.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/ctc_greedy_decoder.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: nGraph

#2568 ngraph docs to master
  docs/IE_DG/Deep_Learning_Inference_Engine_DevGuide.md
  docs/IE_DG/Integrate_with_customer_application_new_API.md
  docs/IE_DG/Introduction.md
  docs/IE_DG/OnnxImporterTutorial.md
  docs/IE_DG/ShapeInference.md
  docs/IE_PLUGIN_DG/Intro.md
  docs/IE_PLUGIN_DG/NewTransformation.md
  docs/IE_PLUGIN_DG/Plugin.md
  docs/IE_PLUGIN_DG/PluginTesting.md
  docs/IE_PLUGIN_DG/layout.xml
  docs/doxygen/ie_docs.xml
  docs/index.md
  docs/nGraph_DG/build_function.md
  docs/nGraph_DG/img/TopLevelNGraphFlow.png
  docs/nGraph_DG/img/graph_rewrite_efficient_search.png
  docs/nGraph_DG/img/graph_rewrite_execution.png
  docs/nGraph_DG/img/ngraph_insert_node.png
  docs/nGraph_DG/img/ngraph_replace_node.png
  docs/nGraph_DG/img/register_new_node.png
  docs/nGraph_DG/img/transformations_structure.png
  docs/nGraph_DG/intro.md
  docs/nGraph_DG/nGraphTransformation.md
  docs/nGraph_DG/nGraph_basic_concepts.md
  docs/nGraph_DG/nGraph_debug_capabilities.md
  docs/nGraph_DG/nGraph_dg.md
Labels: category: docs

#2555 [IE][TOOLS] Improvements for compile_tool
  inference-engine/tools/compile_tool/README.md
  inference-engine/tools/compile_tool/main.cpp
Labels: category: docs, category: tools

#2564 Port 2021.1 documentation updates for GNA plugin and speech libs and demos.
  docs/IE_DG/supported_plugins/GNA.md
  docs/IE_DG/supported_plugins/Supported_Devices.md
  inference-engine/samples/speech_libs_and_demos/Speech_libs_and_demos.md
Labels: category: docs

#2552 Timetests test_runner improvements
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/test_timetest.py
Labels: category: IE Tests

#2412 Add HSigmoid spec
  docs/doxygen/ie_docs.xml
  docs/ops/activation/HSigmoid_5.md
  docs/ops/opset5.md
Labels: category: docs

#2238 Add specification for Round operation
  docs/doxygen/ie_docs.xml
  docs/ops/arithmetic/Round_5.md
  docs/ops/opset5.md
Labels: category: docs

#2327 [IE Tests] Added NormalizeL2 tests
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/normalize_l2.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/normalize_l2.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/normalize_l2.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/normalize_l2.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/normalize_l2.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/backend/normalize_l2.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
Labels: category: IE Tests

#2571 Increase http timeout for artifacts uploading
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#2572 Updated ConstantFolding pass to propagate friendly name
  inference-engine/src/inference_engine/ie_core.cpp
  ngraph/core/include/ngraph/pass/constant_folding.hpp
  ngraph/core/src/pass/constant_folding.cpp
  ngraph/core/src/pass/constant_folding_arithmetic_reduction.cpp
  ngraph/core/src/pass/constant_folding_convert.cpp
  ngraph/core/src/pass/constant_folding_dequantize.cpp
  ngraph/core/src/pass/constant_folding_gather.cpp
  ngraph/core/src/pass/constant_folding_logical_reduction.cpp
  ngraph/core/src/pass/constant_folding_one_hot.cpp
  ngraph/core/src/pass/constant_folding_quantize.cpp
  ngraph/core/src/pass/constant_folding_scatter.cpp
  ngraph/core/src/pass/constant_folding_select.cpp
  ngraph/core/src/rt_info.cpp
  ngraph/test/constant_folding.cpp
Labels: category: nGraph

#2536 [IE CLDNN] Refreshment of convolution_gpu_fs_byx_fsv32 kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_fs_byx_fsv32.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_fs_byx_fsv32.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_fs_byx_fsv32.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU, feature

#2219 [IE CLDNN] Fix profiling of multiple kernel implementations
  inference-engine/thirdparty/clDNN/src/gpu/ocl_base_event.cpp
  inference-engine/thirdparty/clDNN/src/gpu/ocl_base_event.h
  inference-engine/thirdparty/clDNN/src/gpu/ocl_queue_wrapper.cpp
  inference-engine/thirdparty/clDNN/src/gpu/ocl_toolkit.cpp
  inference-engine/thirdparty/clDNN/src/gpu/primitive_gpu_base.h
Labels: category: GPU

#2561 Prepare new test configuration for test_timetest.py
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/test_runner/.automation/tgl_test_config.yml
  tests/time_tests/test_runner/conftest.py
Labels: category: IE Tests

#2471 nGraph Python API tweaks and tutorial
  docs/nGraph_DG/nGraph_Python_API.md
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/helpers.py
Labels: category: docs, category: nGraph

#2585 doc: add openvino tag link on StackOverflow
  README.md
Labels: category: IE common, category: docs

#2593 Added deprecation note for PassConfig class
  docs/nGraph_DG/nGraphTransformation.md
Labels: category: docs

#2382 Specify LogSoftmax-5 operation
  docs/doxygen/ie_docs.xml
  docs/ops/activation/LogSoftmax_5.md
  docs/ops/opset5.md
Labels: category: docs

#2562 [IE Myriad] Fix for parsing LogicalNot layer
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/activation.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/logical.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests, category: VPU

#2543 [MO] Fix many spelling and grammar errors
  model-optimizer/extensions/analysis/tf_yolo.py
  model-optimizer/extensions/back/ShuffleChannelPatternOptimization.py
  model-optimizer/extensions/back/SpecialNodesFinalization.py
  model-optimizer/extensions/front/kaldi/memory_offset_adjustment.py
  model-optimizer/extensions/front/mxnet/ssd_anchor_reshape.py
  model-optimizer/extensions/front/onnx/upsample_ext.py
  model-optimizer/extensions/front/onnx/upsample_ext_test.py
  model-optimizer/extensions/front/tf/FlattenToReshape.py
  model-optimizer/extensions/middle/BinarizeWeightsM1P1.py
  model-optimizer/extensions/middle/BlockLSTMtoLSTMSequence.py
  model-optimizer/extensions/middle/ONNXRNNSequenceNormalize.py
  model-optimizer/extensions/middle/ReluQuantizeFuse.py
  model-optimizer/extensions/middle/TensorIteratorInput.py
  model-optimizer/extensions/middle/permute_tensor_iterator.py
  model-optimizer/extensions/middle/reverse_tensor_iterator.py
  model-optimizer/extensions/ops/fakequantize.py
  model-optimizer/extensions/ops/sparse_reshape.py
  model-optimizer/extensions/ops/sparse_segment_sqrtn.py
  model-optimizer/extensions/ops/sparse_segment_sum.py
  model-optimizer/extensions/ops/split.py
  model-optimizer/extensions/ops/tensor_iterator.py
  model-optimizer/extensions/ops/unique.py
  model-optimizer/mo/back/ie_ir_ver_2/emitter.py
  model-optimizer/mo/front/caffe/loader.py
  model-optimizer/mo/front/common/partial_infer/concat.py
  model-optimizer/mo/graph/graph.py
  model-optimizer/mo/middle/passes/conv.py
  model-optimizer/mo/middle/passes/fusing/fuse_grouped_conv.py
  model-optimizer/mo/middle/passes/leaky_relu.py
  model-optimizer/mo/middle/pattern_match.py
  model-optimizer/mo/ops/convolution.py
  model-optimizer/mo/ops/memoryoffset.py
  model-optimizer/mo/pipeline/common.py
  model-optimizer/mo/utils/ir_engine/ir_engine_test.py
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
Labels: category: MO

#2465 Added pip install documentation
  docs/install_guides/installing-openvino-pip.md
Labels: category: docs

#2574 ngraph python sample
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/README.md
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/lenet.bin
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/ngraph_function_creation_sample.py
Labels: category: docs, category: python api, category: samples

#2598 Add strict timeout for test execution
  .ci/openvino-onnx/Jenkinsfile
Labels: category: CI

#2557 Shellcheck update
  cmake/shellcheck/shellcheck.cmake
  cmake/shellcheck/shellcheck_process.cmake
  inference-engine/samples/build_samples.sh
  inference-engine/scripts/dependencies.sh
  inference-engine/scripts/run_code_checks.sh
  inference-engine/scripts/run_tests_myriad_multistick.sh
  ngraph/python/tests/test_onnx/model_zoo_preprocess.sh
  scripts/demo/demo_benchmark_app.sh
  scripts/demo/demo_security_barrier_camera.sh
  scripts/demo/demo_squeezenet_download_convert_run.sh
  scripts/install_dependencies/install_NCS_udev_rules.sh
  scripts/install_dependencies/install_NEO_OCL_driver.sh
  scripts/setupvars/setupvars.sh
Labels: category: CI, category: IE common, category: VPU, category: build, category: nGraph

#2599 Update OpenVino ONNX CI check
  .ci/openvino-onnx/Jenkinsfile
  ngraph/python/tox.ini
Labels: category: CI, category: nGraph

#2547 Fine-Grain Transformation pipeline tuning
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/convert_depth_to_space.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_opset1_to_legacy.cpp
  inference-engine/src/transformations/src/transformations/convert_opset2_to_opset1/convert_opset2_to_opset1.cpp
  inference-engine/src/transformations/src/transformations/convert_opset3_to_opset2/convert_opset3_to_opset2.cpp
  inference-engine/src/transformations/src/transformations/convert_pad_to_group_conv.cpp
  inference-engine/src/transformations/src/transformations/depth_to_space_fusion.cpp
  ngraph/core/include/ngraph/pass/graph_rewrite.hpp
  ngraph/core/include/ngraph/pass/manager.hpp
  ngraph/core/include/ngraph/pass/pass.hpp
  ngraph/core/include/ngraph/pass/pass_config.hpp
  ngraph/core/src/pass/graph_rewrite.cpp
  ngraph/core/src/pass/manager.cpp
  ngraph/core/src/pass/pass.cpp
  ngraph/core/src/pass/pass_config.cpp
  ngraph/test/graph_rewrite.cpp
  ngraph/test/runtime/CMakeLists.txt
  ngraph/test/runtime/backend.cpp
  ngraph/test/runtime/backend.hpp
Labels: category: CPU, category: nGraph

#2511 Update ONNX importer LSTM to use v5 LSTMSequence
  ngraph/core/include/ngraph/op/util/rnn_cell_base.hpp
  ngraph/core/src/op/util/rnn_cell_base.cpp
  ngraph/frontend/onnx_import/src/op/lstm.cpp
  ngraph/test/models/onnx/lstm_bidir_const.prototxt
  ngraph/test/models/onnx/lstm_fwd_clip_const.prototxt
  ngraph/test/models/onnx/lstm_fwd_default_const.prototxt
  ngraph/test/models/onnx/lstm_fwd_mixed_seq_const.prototxt
  ngraph/test/models/onnx/lstm_fwd_with_clip_peepholes.prototxt
  ngraph/test/models/onnx/lstm_reverse_const.prototxt
  ngraph/test/models/onnx/lstm_reverse_mixed_seq_const.prototxt
  ngraph/test/onnx/onnx_import_rnn.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: onnx importer

#2606 DOCS: added code snippets compilation and fixes
  docs/CMakeLists.txt
  docs/IE_PLUGIN_DG/Doxyfile
  docs/examples/CMakeLists.txt
  docs/snippets/Bfloat16Inference0.cpp
  docs/snippets/Bfloat16Inference1.cpp
  docs/snippets/Bfloat16Inference2.cpp
  docs/snippets/CMakeLists.txt
  docs/snippets/DynamicBatching.cpp
  docs/snippets/GPU_RemoteBlob_API0.cpp
  docs/snippets/HETERO0.cpp
  docs/snippets/Integrate_with_customer_application_new_API.cpp
  docs/snippets/MULTI3.cpp
  docs/snippets/MULTI4.cpp
  docs/snippets/MULTI5.cpp
  docs/snippets/Migration_CoreAPI.cpp
  docs/snippets/OnnxImporterTutorial0.cpp
  docs/snippets/OnnxImporterTutorial1.cpp
  docs/snippets/OnnxImporterTutorial2.cpp
  docs/snippets/OnnxImporterTutorial3.cpp
  docs/snippets/ShapeInference.cpp
  docs/snippets/dldt_optimization_guide3.cpp
  docs/snippets/dldt_optimization_guide4.cpp
  docs/snippets/dldt_optimization_guide5.cpp
  docs/snippets/dldt_optimization_guide6.cpp
  docs/snippets/dldt_optimization_guide7.cpp
  docs/snippets/dldt_optimization_guide8.cpp
  docs/snippets/dldt_optimization_guide9.cpp
  docs/snippets/example_async_infer_request.cpp
  docs/snippets/example_itask_executor.cpp
  docs/snippets/example_ngraph_utils.cpp
  docs/snippets/movidius-programming-guide.cpp
  docs/snippets/nGraphTutorial.cpp
  docs/snippets/protecting_model_guide.cpp
Labels: bug, category: build, category: docs

#2616 Fixed LTO for gcc-9 (ubuntu 20.04)
  cmake/os_flags.cmake
  docs/template_plugin/tests/functional/CMakeLists.txt
  inference-engine/cmake/dependencies.cmake
  inference-engine/src/legacy_api/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/preprocessing/CMakeLists.txt
  inference-engine/tests/CMakeLists.txt
  inference-engine/tests/ie_test_utils/CMakeLists.txt
  inference-engine/tests/unit/cpu/CMakeLists.txt
  inference-engine/tests_deprecated/CMakeLists.txt
  inference-engine/tests_deprecated/functional/mkldnn/single_layer_tests/conv_tests_int8.cpp
  inference-engine/tests_deprecated/functional/vpu/CMakeLists.txt
  inference-engine/tests_deprecated/unit/CMakeLists.txt
Labels: category: CPU, category: IE Tests, category: IE common, category: build, category: docs, category: nGraph, platform: linux

#2608 Skip hanging test case of OpenVino ONNX CI
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
Labels: category: nGraph

#2416 Tests and docs for registering custom ONNX operators
  docs/CMakeLists.txt
  docs/IE_DG/Extensibility_DG/Building.md
  docs/IE_DG/Extensibility_DG/Custom_ONNX_Ops.md
  docs/IE_DG/Extensibility_DG/Extension.md
  docs/doxygen/ie_docs.xml
  docs/onnx_custom_op/CMakeLists.txt
  docs/onnx_custom_op/onnx_custom_op.cpp
  docs/onnx_custom_op/onnx_custom_op.hpp
  docs/template_extension/CMakeLists.txt
  docs/template_extension/extension.cpp
  docs/template_extension/extension.hpp
  inference-engine/cmake/add_ie_target.cmake
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/extension.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/CMakeLists.txt
  ngraph/CMakeLists.txt
  ngraph/cmake/share/ngraphConfig.cmake.in
  ngraph/core/CMakeLists.txt
  ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/frontend/onnx_import/include/onnx_import/core/node.hpp
  ngraph/frontend/onnx_import/include/onnx_import/onnx_utils.hpp
  ngraph/frontend/onnx_import/include/onnx_import/ops_bridge.hpp
  ngraph/frontend/onnx_import/src/onnx_utils.cpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/test/onnx/onnx_import.in.cpp
Labels: category: IE Tests, category: docs, category: nGraph

#2590 [IE CLDNN] TopK optimizations for sorting of big arrays in value mode
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/arg_max_min/arg_max_min_kernel_axis.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/arg_max_min_axis.cl
Labels: category: GPU, performance

#2603 [MO] Fix ONNX Clip-11 or higher without min/max inputs
  model-optimizer/extensions/back/ClampNormalizer.py
  model-optimizer/extensions/back/ClampNormalizer_test.py
  model-optimizer/mo/ops/clamp.py
Labels: bug, category: MO

#2594 [IE TOOLS] Support of models with output port in names
  inference-engine/tools/cross_check_tool/cross_check_tool.py
Labels: category: tools

#2615 Fixed ODR for LTO with gcc5
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_default.hpp
Labels: category: IE common, category: build, platform: linux

#2622 [IE Myriad] Fix tests for LogicalAnd
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/logical.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/logical.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/logical.cpp
Labels: category: IE Tests, category: VPU

#2502 add build option USE_SYSTEM_PUGIXML
  inference-engine/cmake/features_ie.cmake
  inference-engine/thirdparty/CMakeLists.txt
Labels: ExternalPR, category: IE common, category: build

#2628 [IE][BUILD] Fix C5208 warning under Windows
  inference-engine/src/transformations/include/ngraph_ops/interp.hpp
Labels: category: nGraph

#2570 GitHub CI: Add files_size.yml
  .github/workflows/files_size.yml
Labels: category: CI

#2595 [IE CLDNN] Revert fix for profiling of multiple kernel implementations
  inference-engine/thirdparty/clDNN/src/gpu/ocl_base_event.cpp
  inference-engine/thirdparty/clDNN/src/gpu/ocl_base_event.h
  inference-engine/thirdparty/clDNN/src/gpu/ocl_queue_wrapper.cpp
  inference-engine/thirdparty/clDNN/src/gpu/ocl_toolkit.cpp
  inference-engine/thirdparty/clDNN/src/gpu/primitive_gpu_base.h
Labels: category: GPU

#2646 [IE TESTS] Remove some deprecated single layer tests
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/gather_tree.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/reverse_sequence.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/variadic_split.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests_deprecated/functional/cldnn/shared_tests_instance/single_layer_tests/activation_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/shared_tests_instance/single_layer_tests/arg_max_min_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/shared_tests_instance/single_layer_tests/conv_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/shared_tests_instance/single_layer_tests/eltwise_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/shared_tests_instance/single_layer_tests/gather_ftests.cpp
  inference-engine/tests_deprecated/functional/cldnn/shared_tests_instance/single_layer_tests/pad_ftests.cpp
  inference-engine/tests_deprecated/functional/cldnn/shared_tests_instance/single_layer_tests/softmax_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/shared_tests_instance/single_layer_tests/topk_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/single_layer_tests/gather_tree_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/single_layer_tests/power_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/single_layer_tests/reverse_sequence_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/single_layer_tests/select_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/single_layer_tests/squeeze_unsqueeze_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/single_layer_tests/strided_slice_tests.cpp
  inference-engine/tests_deprecated/functional/cldnn/single_layer_tests/variadic_split_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/activation_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/arg_max_min_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/bin_conv_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/deformable_psroi_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/depth_to_space_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/eltwise_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/gather_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/gemm_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/pad_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/permute_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/quantize_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/reduce_ftests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/resample_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/softmax_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/ti_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/single_layer_tests/tile_tests.cpp
  inference-engine/tests_deprecated/functional/mkldnn/single_layer_tests/gather_tree_tests.cpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/activation_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/arg_max_min_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/conv_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/depth_to_space_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/eltwise_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/gather_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/gather_tree_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/pad_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/select_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/softmax_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/space_to_depth_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/tile_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/topk_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/variadic_split_tests.hpp
Labels: category: IE Tests

#2609 General code fixes
  inference-engine/ie_bridges/c/samples/hello_classification/main.c
  inference-engine/ie_bridges/c/samples/hello_nv12_input_classification/main.c
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/main.c
Labels: category: IE common, category: c api, category: samples

#2652 Round-5 nGraph implementation
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/round.hpp
  ngraph/core/include/ngraph/opsets/opset5_tbl.hpp
  ngraph/core/src/op/round.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/round.cpp
Labels: category: nGraph

#2632 Do reshape only if input shapes will be changed
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.hpp
Labels: category: nGraph

#2625 used native LTO support from cmake 3.9.6
  CMakeLists.txt
  cmake/developer_package.cmake
  cmake/features.cmake
  cmake/os_flags.cmake
  docs/template_plugin/CMakeLists.txt
  docs/template_plugin/src/CMakeLists.txt
  docs/template_plugin/tests/functional/CMakeLists.txt
  inference-engine/cmake/developer_package_config.cmake.in
  inference-engine/ie_bridges/c/src/CMakeLists.txt
  inference-engine/src/cldnn_engine/CMakeLists.txt
  inference-engine/src/gna_plugin/CMakeLists.txt
  inference-engine/src/hetero_plugin/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/legacy_api/CMakeLists.txt
  inference-engine/src/low_precision_transformations/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/multi_device/CMakeLists.txt
  inference-engine/src/preprocessing/CMakeLists.txt
  inference-engine/src/readers/ir_reader/CMakeLists.txt
  inference-engine/src/readers/ir_reader_v7/CMakeLists.txt
  inference-engine/src/readers/onnx_reader/CMakeLists.txt
  inference-engine/src/transformations/CMakeLists.txt
  inference-engine/src/vpu/CMakeLists.txt
  inference-engine/src/vpu/common/CMakeLists.txt
  inference-engine/src/vpu/graph_transformer/CMakeLists.txt
  inference-engine/src/vpu/myriad_plugin/CMakeLists.txt
  inference-engine/tests/CMakeLists.txt
  inference-engine/tests/functional/plugin/myriad/CMakeLists.txt
  inference-engine/tests/unit/CMakeLists.txt
  inference-engine/tests/unit/vpu/CMakeLists.txt
  inference-engine/tests_deprecated/CMakeLists.txt
  inference-engine/tests_deprecated/unit/CMakeLists.txt
  inference-engine/thirdparty/CMakeLists.txt
  inference-engine/thirdparty/movidius/CMakeLists.txt
  ngraph/cmake/external_protobuf.cmake
Labels: category: build

#2576 [VPU] Support DTS for Split
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/dynamic_to_static_shape_split.hpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_split.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_split.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_split.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.hpp
Labels: category: IE Tests, category: VPU

#2520 Fix using numpy scalars in Python API
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/tests/test_Blob.py
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/python/tests/test_onnx/test_ops_logical.py
Labels: category: nGraph, category: python api

#2587 Extend nGraph for operation GatherND-5 and implement reference
  inference-engine/tests/functional/inference_engine/ngraph_reader/gather_nd_tests.cpp
  ngraph/core/include/ngraph/op/gather_nd.hpp
  ngraph/core/include/ngraph/opsets/opset5_tbl.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/gather_nd.hpp
  ngraph/core/src/op/gather_nd.cpp
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset5/__init__.py
  ngraph/python/src/ngraph/opset5/ops.py
  ngraph/python/src/pyngraph/node_factory.cpp
  ngraph/python/tests/test_ngraph/test_data_movement.py
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/gather.in.cpp
  ngraph/test/backend/gather_nd.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/type_prop/gather_nd.cpp
Labels: category: nGraph

#2588 Provide ONNX external data mechanism to ReadNetwork
  inference-engine/include/ie_core.hpp
  inference-engine/src/inference_engine/ie_network_reader.cpp
  inference-engine/src/inference_engine/ie_network_reader.hpp
  inference-engine/src/readers/onnx_reader/ie_onnx_reader.cpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/onnx_reader/models/data/tensor.data
  inference-engine/tests/functional/inference_engine/onnx_reader/models/onnx_external_data.prototxt
  inference-engine/tests/functional/inference_engine/onnx_reader/models/АБВГДЕЁЖЗИЙ/ひらがな日本語.prototxt
  inference-engine/tests/functional/inference_engine/onnx_reader/onnx_reader_external_data.cpp
  ngraph/core/include/ngraph/file_util.hpp
  ngraph/core/include/ngraph/ngraph_visibility.hpp
  ngraph/core/src/file_util.cpp
  ngraph/frontend/onnx_import/include/onnx_import/utils/tensor_external_data.hpp
  ngraph/frontend/onnx_import/src/onnx.cpp
  ngraph/frontend/onnx_import/src/utils/tensor_external_data.cpp
  ngraph/python/tests/test_onnx/models/data/tensor.data
  ngraph/python/tests/test_onnx/models/external_data.prototxt
  ngraph/python/tests/test_onnx/test_onnx_external_data.py
Labels: category: IE Tests, category: IE common, category: nGraph

#2577 Use ittnotify built from sources
  cmake/features.cmake
  openvino/itt/CMakeLists.txt
Labels: category: IE common

#2653 [VPU] TopK: Relax requirement for supporting Sort::None mode if K==1
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/topk.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
Labels: category: VPU

#2607 [IE][VPU]: Added DSR_Reshape tests with dynamic output shape descriptor
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_reshape.cpp
Labels: category: IE Tests, category: VPU

#2640 Leaky relu transformation refactor
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/ConvolutionNormalizer_test.py
  model-optimizer/extensions/back/FakeOutputResolver_test.py
  model-optimizer/extensions/back/MatMulNormalizer_test.py
  model-optimizer/extensions/middle/LeakyReluPattern.py
  model-optimizer/extensions/middle/LeakyReluPattern_test.py
  model-optimizer/extensions/middle/preprocessing.py
  model-optimizer/extensions/ops/one_hot_test.py
  model-optimizer/mo/middle/passes/eliminate.py
  model-optimizer/mo/middle/passes/fusing/fuse_linear_ops_test.py
  model-optimizer/mo/middle/passes/leaky_relu.py
  model-optimizer/mo/utils/unittest/graph.py
Labels: category: MO

#2662 Fix itt build
  openvino/itt/CMakeLists.txt
Labels: bug, category: build

#2072 Fixed CVS-35316
  docs/install_guides/deployment-manager-tool.md
Labels: category: docs

#2540 Extend MO for operation GatherND
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/onnx/gathernd_ext.py
  model-optimizer/extensions/front/tf/gathernd_ext.py
  model-optimizer/extensions/middle/GatherNdNormalizer.py
  model-optimizer/extensions/ops/GatherNd.py
  model-optimizer/extensions/ops/gathernd.py
  model-optimizer/extensions/ops/gathernd_test.py
Labels: category: MO, category: docs

#2647 Add hsigmoid op to ngraph
  ngraph/core/include/ngraph/op/hsigmoid.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/include/ngraph/opsets/opset5_tbl.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/hsigmoid.hpp
  ngraph/core/src/op/hsigmoid.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/op_eval/hsigmoid.cpp
Labels: category: nGraph

#2660 [IE CLDNN] Fixes for GatherTree and ReverseSequence
  inference-engine/src/cldnn_engine/cldnn_common_utils.h
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/reverse_sequence.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather_tree/gather_tree_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather_tree/gather_tree_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reverse_sequence/reverse_sequence_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/gather_tree_gpu_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/reverse_sequence_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/gather_tree_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/reverse_sequence_gpu.cpp
Labels: category: GPU

#2670 Fixed CVS-35316 (#2072)
  docs/install_guides/deployment-manager-tool.md
Labels: category: docs

#2650 [ONNX] Replace global poolings with reduce operations
  ngraph/frontend/onnx_import/include/onnx_import/utils/pooling_factory.hpp
  ngraph/frontend/onnx_import/src/op/global_average_pool.cpp
  ngraph/frontend/onnx_import/src/op/global_max_pool.cpp
  ngraph/frontend/onnx_import/src/utils/pooling_factory.cpp
Labels: category: onnx importer

#2649 Broadcast visit_attributes fix
  ngraph/core/src/op/broadcast.cpp
  ngraph/python/src/ngraph/opset3/ops.py
Labels: category: nGraph

#2610 Update nGraph Python API build instructions
  ngraph/python/BUILDING.md
Labels: category: docs

#2684 Workaround for Cython issue on Python 3.8
  inference-engine/ie_bridges/python/src/openvino/inference_engine/CMakeLists.txt
Labels: category: python api

#2681 Add FP16 axes precision to Interpolate-4
  inference-engine/src/cldnn_engine/cldnn_program.cpp
Labels: category: GPU

#2657 Added apiValidator post-build checks for WCOS compliance
  cmake/api_validator.cmake
  cmake/developer_package.cmake
  cmake/uwp.toolchain.cmake
  inference-engine/src/CMakeLists.txt
  inference-engine/src/gna_plugin/CMakeLists.txt
  inference-engine/src/hetero_plugin/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/legacy_api/CMakeLists.txt
  inference-engine/src/low_precision_transformations/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/multi_device/CMakeLists.txt
  inference-engine/src/preprocessing/CMakeLists.txt
  inference-engine/src/readers/ir_reader/CMakeLists.txt
  inference-engine/src/readers/ir_reader_v7/CMakeLists.txt
  inference-engine/src/readers/onnx_reader/CMakeLists.txt
  inference-engine/src/transformations/CMakeLists.txt
  ngraph/core/CMakeLists.txt
Labels: category: build

#2686 Avoid unnecessary Reshape in ONNX Softmax impl
  ngraph/frontend/onnx_import/src/op/softmax.cpp
Labels: category: nGraph

#2692 Remove segfault marks form test_unary_op_scalar and test_range
  ngraph/python/tests/test_ngraph/test_ops_unary.py
  ngraph/python/tests/test_ngraph/test_sequence_processing.py
Labels: category: nGraph

#2626 [GNA] Fix remove layer + identity layer insertion
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/perm_conv_perm_concat.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/perm_conv_perm_concat.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/perm_conv_perm_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/perm_conv_perm_concat.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/perm_conv_perm_concat.cpp
Labels: category: GNA

#1529 [GNA][Speech sample] Add option to specify blob names
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/samples/speech_sample/speech_sample.hpp
Labels: category: GNA, category: IE common

#2696 Small fix for python doc
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
Labels: category: docs, category: python api

#2507 Updating broken link on getting started linux doc
  get-started-linux.md
Labels: category: docs

#2695 [install_dependencies.sh] install latest cmake if current version is lower 3.13
  build-instruction.md
  install_build_dependencies.sh
Labels: category: IE common, category: docs

#2688 Improve python_wheel CMake target
  ngraph/python/CMakeLists.txt
  ngraph/python/build_wheel.py.in
  ngraph/python/build_wheel.sh.in
Labels: category: nGraph

#2700 [IE CLDNN] Added HSigmoid-5 operation
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/cldnn_engine/cldnn_program.h
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/activation.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_functions/src/activation.cpp
  inference-engine/thirdparty/clDNN/api/activation.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_common.cpp
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/activation_simple_gpu_test.cpp
Labels: category: GPU, category: IE Tests

#2583 [opset5] ngraph implementation of Loop op
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/loop.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/loop.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/loop.cpp
  ngraph/core/include/ngraph/op/loop.hpp
  ngraph/core/include/ngraph/op/lstm_cell.hpp
  ngraph/core/include/ngraph/op/tensor_iterator.hpp
  ngraph/core/include/ngraph/op/util/sub_graph_base.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/include/ngraph/opsets/opset5_tbl.hpp
  ngraph/core/src/graph_util.cpp
  ngraph/core/src/op/loop.cpp
  ngraph/core/src/op/tensor_iterator.cpp
  ngraph/core/src/op/util/sub_graph_base.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/copy.cpp
  ngraph/test/type_prop/loop.cpp
  ngraph/test/type_prop/ti.cpp
Labels: category: IE common, category: nGraph

#2693 Remove `memcheck_pregen_irs_tests` MemCheck configs due obsolescence
  tests/stress_tests/.automation/memcheck_pregen_irs_tests/nightly_configs/desktop_references_config.xml
  tests/stress_tests/.automation/memcheck_pregen_irs_tests/nightly_configs/desktop_test_config.xml
  tests/stress_tests/.automation/memcheck_pregen_irs_tests/weekly_configs/desktop_references_config.xml
  tests/stress_tests/.automation/memcheck_pregen_irs_tests/weekly_configs/desktop_test_config.xml
Labels: category: IE Tests

#2553 Improve GNA MT sychronization
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/tests/functional/inference_engine/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/core_threading_tests.cpp
Labels: category: GNA, category: IE Tests

#2677 [PP GAPI] Extended plug-ins shared precision conversion tests to use `GetBlob()` as well
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/preprocessing.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/preprocessing.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/preprocessing.hpp
Labels: category: IE Tests, category: preprocessing

#2533 [CPU] CTCLoss performance improvement.
  inference-engine/src/mkldnn_plugin/nodes/ctc_loss.cpp
Labels: category: CPU

#2685 [JAVA] Fixed IECore constructor
  inference-engine/ie_bridges/java/cpp/ie_core.cpp
  inference-engine/ie_bridges/java/cpp/openvino_java.hpp
  inference-engine/ie_bridges/java/org/intel/openvino/IECore.java
  inference-engine/ie_bridges/java/samples/README.md
Labels: category: IE common, category: docs, category: java

#2348 Implement LookupTableInsert shape inference
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/tf/LookupTableInsert_ext.py
  model-optimizer/extensions/ops/LookupTableInsert.py
  model-optimizer/extensions/ops/LookupTableInsert_test.py
Labels: category: MO

#2589 [ONNX] Add type conversion for Pow op inputs
  ngraph/frontend/onnx_import/include/onnx_import/op/pow.hpp
  ngraph/frontend/onnx_import/src/op/pow.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/test/models/onnx/pow_float32_float32.prototxt
  ngraph/test/models/onnx/pow_float32_int32.prototxt
  ngraph/test/models/onnx/pow_int32_float32.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
Labels: category: nGraph, category: onnx importer

#2719 Remove deprecated Any op from nGraph
  ngraph/core/include/ngraph/op/any.hpp
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/any.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/logical_reduction.hpp
  ngraph/core/src/op/any.cpp
  ngraph/core/src/pass/constant_folding_logical_reduction.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/any.in.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/any.cpp
Labels: category: nGraph

#2716 Cleanup single_layer_tests
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/equal.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/greater.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/equal.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/greater.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/equal.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/greater.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_functions/src/eltwise.cpp
Labels: category: IE Tests

#2328 Add Round-5 operation
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  inference-engine/tests/functional/inference_engine/ngraph_reader/round_test.cpp
  model-optimizer/extensions/front/mxnet/elementwise_ext.py
  model-optimizer/extensions/front/onnx/elementwise_ext.py
  model-optimizer/extensions/front/tf/elementwise_ext.py
  model-optimizer/extensions/ops/elementwise.py
  model-optimizer/extensions/ops/elementwise_test.py
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
  ngraph/core/include/ngraph/op/round.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/round.hpp
  ngraph/core/src/op/round.cpp
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset5/__init__.py
  ngraph/python/src/ngraph/opset5/ops.py
  ngraph/python/tests/test_ngraph/test_ops_unary.py
  ngraph/test/CMakeLists.txt
  ngraph/test/op_eval/round.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/type_prop/round.cpp
Labels: category: MO, category: nGraph

#2732 [NGRAPH] Fix UNITY build
  ngraph/core/include/ngraph/op/gather.hpp
  ngraph/core/include/ngraph/op/gather_nd.hpp
  ngraph/core/src/op/gather.cpp
  ngraph/core/src/op/gather_nd.cpp
Labels: category: nGraph

#2725 Supported threading command line options for other devices
  inference-engine/samples/benchmark_app/main.cpp
  tools/benchmark/main.py
Labels: category: IE common

#2630 [IE CLDNN] Another try to fix multiple-kernel implementations profiling
  inference-engine/thirdparty/clDNN/src/gpu/ocl_base_event.cpp
  inference-engine/thirdparty/clDNN/src/gpu/ocl_base_event.h
  inference-engine/thirdparty/clDNN/src/gpu/ocl_queue_wrapper.cpp
  inference-engine/thirdparty/clDNN/src/gpu/ocl_toolkit.cpp
  inference-engine/thirdparty/clDNN/src/gpu/primitive_gpu_base.h
Labels: category: GPU

#2711 Use MVN in GroupNorm/InstanceNorm in ONNX importer
  ngraph/core/src/op/mvn.cpp
  ngraph/frontend/onnx_import/src/op/instance_norm.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/group_norm.cpp
  ngraph/python/tests/test_onnx/test_zoo_models.py
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/type_prop/mvn.cpp
Labels: category: nGraph

#1960 [IE CLDNN] Extend supported fusing cases for scale and eltwise
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/eltwise_simple_vload8.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/generic_eltwise_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.h
  inference-engine/thirdparty/clDNN/src/gpu/eltwise_gpu.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/include/scale_inst.h
  inference-engine/thirdparty/clDNN/src/scale.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#2728 Added new version of BatchNormInference
  docs/doxygen/ie_docs.xml
  docs/ops/normalization/BatchNormInference_5.md
  docs/ops/opset5.md
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/transformations/include/transformations/op_conversions/batch_norm_decomposition.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/batch_norm_decomposition.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/batch_norm_inference_tests.cpp
  inference-engine/tests/ngraph_functions/src/batch_norm.cpp
  ngraph/core/include/ngraph/op/batch_norm.hpp
  ngraph/core/include/ngraph/opsets/opset5_tbl.hpp
  ngraph/core/src/op/batch_norm.cpp
  ngraph/python/src/ngraph/opset5/__init__.py
  ngraph/python/src/ngraph/opset5/ops.py
  ngraph/test/backend/batch_norm.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/batch_norm.cpp
Labels: category: nGraph

#2639 Constant->Result networks
  inference-engine/src/legacy_api/include/legacy/details/ie_cnn_network_iterator.hpp
  inference-engine/src/legacy_api/src/ie_util_internal.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/constant_tests.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/constant_result.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/constant_result.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/constant_result.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/subgraph_tests/constant_result.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/constant_result.hpp
  inference-engine/tests/functional/plugin/shared/src/behavior/add_output.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/constant_result.cpp
  inference-engine/tests_deprecated/unit/graph_tools/graph_tools_test.cpp
  inference-engine/tests_deprecated/unit/inference_engine_tests/util_test.cpp
Labels: category: IE common

#2758 [IE CLDNN] Base kernels refactoring
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/activation/activation_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/arg_max_min/arg_max_min_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/average_unpooling/average_unpooling_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/border/border_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/broadcast/broadcast_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/concatenation/concatenation_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/deformable_convolution_kernel_bfyx_interp.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/ctc_greedy_decoder/ctc_greedy_decoder_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/cum_sum/cum_sum_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/depth_to_space/depth_to_space_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/detection_output/detection_output_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/embedding_bag/embedding_bag_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/extract_image_patches/extract_image_patches_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather_tree/gather_tree_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/grn/grn_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/lrn/lrn_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/lrn/lrn_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/lstm/lstm_elt_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/lstm/lstm_gemm_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/lstm_dynamic/lstm_dynamic_input_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/lstm_dynamic/lstm_dynamic_timeloop_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/max_unpooling/max_unpooling_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/mvn/mvn_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/normalize/normalize_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/one_hot/one_hot_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pooling/pooling_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/pyramid_roi_align/pyramid_roi_align_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/quantize/quantize_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/quantize/quantize_kernel_params.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reduce/reduce_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/region_yolo/region_yolo_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reorder/reorder_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reorg_yolo/reorg_yolo_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reshape/reshape_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reshape/reshape_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reverse_sequence/reverse_sequence_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/roi_pooling/roi_pooling_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_update_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/select/select_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/shuffle_channels/shuffle_channels_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/softmax/softmax_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/space_to_batch/space_to_batch_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/space_to_depth/space_to_depth_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/strided_slice/strided_slice_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/tile/tile_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/kernel_base_opencl.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/kernel_base_opencl.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/weight_bias_kernel_base.h
Labels: category: GPU

#2666 [VPU][GT][Tests] Make gemmTranspose pass layout agnostic
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/gemm_transpose.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/gemm.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/mat_mul.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/mat_mul.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/mat_mul.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/mat_mul.cpp
Labels: category: IE Tests, category: VPU

#2411 [ONNX] WA for I64 images
  ngraph/python/tests/__init__.py
  ngraph/python/tests/runtime.py
  ngraph/python/tests/test_ngraph/test_basic.py
  ngraph/python/tests/test_ngraph/test_sequence_processing.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
Labels: category: nGraph, category: onnx importer

#2748 Removed obsolete comments from cmake
  CMakeLists.txt
Labels: category: IE common, category: build

#2754 Openvino extra module adding - refactored
  cmake/os_flags.cmake
  inference-engine/CMakeLists.txt
  inference-engine/cmake/features_ie.cmake
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/src/preprocessing/CMakeLists.txt
Labels: category: IE common, category: build
