Repository openvinotoolkit/openvino, pull requests merged in 2020-12, with the labels that each got.

#3410 Revise of reshape operator after documentation update (new tests, remove unused code)
  ngraph/core/src/op/reshape.cpp
  ngraph/test/eval.cpp
  ngraph/test/type_prop/reshape.cpp
Labels: category: nGraph

#3419 API changes updates for 2021.2
  docs/IE_DG/API_Changes.md
Labels: category: docs

#3420 API changes updates for 2021.2
  docs/IE_DG/API_Changes.md
Labels: category: docs

#3418 Documentation fixes
  cmake/features.cmake
  docs/CMakeLists.txt
  docs/doxygen/ie_c_api.config
  docs/doxygen/ie_docs.config
  docs/doxygen/ie_plugin_api.config
  docs/doxygen/ie_py_api.config
  docs/doxygen/ngraph_cpp_api.config
  docs/doxygen/ngraph_py_api.config
  docs/ops/activation/HSwish_4.md
  docs/ops/activation/SoftPlus_4.md
  docs/ops/pooling/AvgPool_1.md
  docs/ops/pooling/MaxPool_1.md
  inference-engine/include/ie_version.hpp
Labels: category: docs

#3007 Restore compilaltion with tbb 2017u7
  inference-engine/cmake/ie_parallel.cmake
  inference-engine/include/ie_parallel.hpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
Labels: category: IE Tests, category: IE common

#3348 Fix shape inference for Transpose nodes inserted by ApplyPermutes
  model-optimizer/mo/graph/perm_inputs.py
Labels: category: MO

#3001 Visitor API deserialization for ops from opset1
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/gather_tree_ie.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/hard_sigmoid_ie.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/interp.hpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/gather_tree_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/hard_sigmoid_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/interp.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/elu_tests.cpp
Labels: category: IE reader, category: nGraph

#3198 Reshape-able SliceConverter
  model-optimizer/extensions/front/tf/TFSliceToSlice.py
  model-optimizer/extensions/front/tf/TFSliceToSlice_test.py
  model-optimizer/extensions/middle/SliceConverter.py
  model-optimizer/extensions/middle/SliceConverter_test.py
Labels: category: MO

#2897 faster implementation of gather_nd operator for reference implementations
  ngraph/core/reference/include/ngraph/runtime/reference/gather.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/gather_nd.hpp
  ngraph/test/backend/gather_nd.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#3337 [MO] Aligned MatMul-1 with spec
  model-optimizer/extensions/ops/MatMul.py
  model-optimizer/extensions/ops/MatMul_test.py
  model-optimizer/extensions/ops/MatMul_value_propagation_test.py
Labels: bug, category: MO

#3407 [IE CLDNN] Improve network outputs detection in quantized FP16+INT8 IR to avoid converting them to FP16 precision
  inference-engine/src/cldnn_engine/cldnn_program.cpp
Labels: bug, category: GPU

#3396 [GNA] Flatten trivial concatenations
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin_policy.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/trivial_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/trivial_concat.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/concat_4D.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/trivial_concat.cpp
Labels: category: GNA, category: IE Tests

#2563 [nGraph][IE] Enable FP64 data type in IE and review nGraph Python tests
  inference-engine/ie_bridges/c/docs/api_overview.md
  inference-engine/ie_bridges/c/include/c_api/ie_c_api.h
  inference-engine/ie_bridges/c/src/ie_c_api.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/constants.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/tests/test_Blob.py
  inference-engine/include/ie_precision.hpp
  inference-engine/samples/common/samples/classification_results.h
  inference-engine/src/inference_engine/ie_rtti.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/legacy_api/src/net_pass.cpp
  inference-engine/src/plugin_api/blob_factory.hpp
  inference-engine/src/plugin_api/ie_ngraph_utils.hpp
  inference-engine/tests/functional/inference_engine/blob_copy_test.cpp
  inference-engine/tests/functional/inference_engine/ie_precision_test.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_ngraph/test_basic.py
  ngraph/python/tests/test_ngraph/test_normalization.py
  ngraph/python/tests/test_ngraph/test_ops_reshape.py
  ngraph/python/tests/test_ngraph/test_ops_unary.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/python/tests/test_onnx/test_ops_unary.py
  ngraph/test/runtime/ie/ie_executable.cpp
  ngraph/test/util/engine/ie_engines.cpp
Labels: category: IE common, category: nGraph, category: onnx importer

#3443 Meaningful warning when nGraph Constant for initializer couldn't be created
  ngraph/frontend/onnx_import/src/core/graph.cpp
Labels: category: nGraph

#3434 setupvars should export TBB_DIR (44241)
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.sh
Labels: category: CI, category: build

#3426 Restore compilaltion with tbb 2017u7 (#3007)
  inference-engine/cmake/ie_parallel.cmake
  inference-engine/include/ie_parallel.hpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
Labels: category: IE Tests, category: IE common

#3447 Improved find_package for docs
  docs/CMakeLists.txt
Labels: category: build, category: docs

#3453 cmake install fixes
  inference-engine/cmake/plugins/plugins.cmake
  inference-engine/src/readers/ir_reader/CMakeLists.txt
  inference-engine/src/readers/onnx_reader/CMakeLists.txt
  inference-engine/src/vpu/myriad_plugin/CMakeLists.txt
Labels: category: IE common, category: VPU, category: build, category: nGraph

#3397 Maxpool revise
  docs/ops/pooling/MaxPool_1.md
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/pooling.cpp
  ngraph/core/include/ngraph/op/max_pool.hpp
  ngraph/core/include/ngraph/op/util/attr_types.hpp
  ngraph/core/src/op/max_pool.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/max_pool.in.cpp
  ngraph/test/type_prop/max_pool.cpp
Labels: category: nGraph

#3436 Fix issue with np.expand_dims for numpy<18.x
  model-optimizer/mo/utils/broadcasting.py
Labels: category: MO

#3437 doc updates
  docs/CMakeLists.txt
  docs/doxygen/doxygen-ignore.txt
  docs/doxygen/ie_c_api.config
  docs/doxygen/ie_docs.config
  docs/doxygen/ie_plugin_api.config
  docs/doxygen/ie_py_api.config
  docs/doxygen/linkchecker_filter.yaml
  docs/doxygen/log.py
  docs/doxygen/ngraph_cpp_api.config
  docs/doxygen/ngraph_py_api.config
Labels: category: docs

#3139 [LPT] LPT public methods: handling unexpected layers
  inference-engine/src/low_precision_transformations/src/add.cpp
  inference-engine/src/low_precision_transformations/src/mvn.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/lpt_public_methods_test.cpp
Labels: category: LP transformations

#3451 Removed global using namespace from Plugin API
  docs/template_plugin/src/template_executable_network.cpp
  docs/template_plugin/src/template_plugin.cpp
  docs/template_plugin/src/template_plugin.hpp
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/gna_plugin/gna_plugin_internal.hpp
  inference-engine/src/hetero_plugin/hetero_infer_request.cpp
  inference-engine/src/hetero_plugin/hetero_plugin.cpp
  inference-engine/src/hetero_plugin/hetero_plugin.hpp
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/multi_device/multi_device_plugin.cpp
  inference-engine/src/multi_device/multi_device_plugin.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_plugin_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/ie_algorithm.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.hpp
  inference-engine/tests_deprecated/unit/inference_engine_tests/util_test.cpp
Labels: category: CPU, category: GNA, category: GPU, category: IE Tests, category: IE common, category: MULTI, category: VPU, category: docs

#3450 Added cloneNetwork method into plugins api
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin_internal.hpp
  inference-engine/src/inference_engine/ie_ngraph_utils.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/plugin_api/ie_ngraph_utils.hpp
Labels: category: CPU, category: GNA, category: IE common

#3463 Changed extern to constexpr for global element type
  ngraph/core/include/ngraph/type/element_type.hpp
  ngraph/core/src/type/element_type.cpp
Labels: category: nGraph

#3315 Interpolate nearest 2x upscale optimization
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/interpolate.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/interpolate.cpp
Labels: category: IE Tests, category: IE common, category: VPU

#3466 Fix mode attribute values in DepthToSpace ONNX operation extractor
  model-optimizer/extensions/front/onnx/depth_to_space_ext.py
Labels: category: MO

#3164 [CPU]disable and cleanup interp and resample that are covered by interpolate
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/bf16transformer.h
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.h
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/interp.cpp
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_interpolate_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_resample_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_resample_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/interpolate.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/extensions/interp_tests.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/extensions/resample_tests.cpp
  ngraph/core/src/op/interpolate.cpp
Labels: category: CPU, category: IE Tests

#3457 [tests|layer_tests_summary] Add requirements.txt
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/requirements.txt
Labels: category: IE Tests

#3452 Fixed ReduceL2Decomposition
  inference-engine/src/transformations/src/transformations/op_conversions/reduce_l2_decomposition.cpp
  inference-engine/tests/functional/inference_engine/transformations/reduce_l2_decomposition_test.cpp
Labels: category: IE transformations

#3472 Restored gtk-3 installation
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI

#3226 Remove ops from Layer Creator/ Node Converter - part 2
  inference-engine/src/legacy_api/include/legacy/ie_layers.h
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/prior_box_clustered_ie.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/prior_box_ie.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/proposal_ie.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/selu_ie.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/tile_ie.hpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/legacy_api/src/ie_layers.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/prior_box_clustered_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/prior_box_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/proposal_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/selu_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/tile_ie.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/network_utils.cpp
  ngraph/core/include/ngraph/op/prior_box.hpp
  ngraph/core/include/ngraph/op/prior_box_clustered.hpp
  ngraph/core/include/ngraph/op/relu.hpp
  ngraph/core/include/ngraph/op/reverse_sequence.hpp
  ngraph/core/include/ngraph/op/roi_pooling.hpp
  ngraph/core/include/ngraph/opsets/opset.hpp
  ngraph/core/src/op/prior_box_clustered.cpp
  ngraph/core/src/op/relu.cpp
  ngraph/core/src/op/roi_pooling.cpp
  ngraph/python/tests/test_ngraph/test_create_op.py
  ngraph/test/type_prop_layers.cpp
Labels: category: IE Tests, category: nGraph

#3482 update OpenCV to 4.5.1
  .ci/azure/windows.yml
  inference-engine/cmake/dependencies.cmake
Labels: category: IE common

#3475 Fix serialization dynamic shapes
  inference-engine/src/transformations/src/transformations/serialize.cpp
  ngraph/core/src/op/util/attr_types.cpp
Labels: category: nGraph

#3476 Make the Python tools directly executable
  inference-engine/tools/benchmark_tool/benchmark_app.py
  inference-engine/tools/cross_check_tool/cross_check_tool.py
Labels: category: IE common

#3484 Build time_tests with OpenVINO install
  tests/time_tests/CMakeLists.txt
  tests/time_tests/README.md
  tests/time_tests/src/timetests_helper/CMakeLists.txt
Labels: category: IE Tests, category: docs

#3473 [CPU][IE TESTS] Covered Round .5 cases with tests
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/activation.cpp
Labels: category: CPU, category: IE Tests

#3478 Refactor boolean attribute type
  docs/ops/condition/Bucketize_3.md
  docs/ops/detection/DetectionOutput_1.md
  docs/ops/detection/PriorBoxClustered_1.md
  docs/ops/detection/PriorBox_1.md
  docs/ops/detection/Proposal_1.md
  docs/ops/detection/Proposal_4.md
  docs/ops/image/Interpolate_1.md
  docs/ops/image/Interpolate_4.md
  docs/ops/matrix/MatMul_1.md
  docs/ops/movement/Reverse_1.md
  docs/ops/pooling/AvgPool_1.md
  docs/ops/reduction/ReduceL1_4.md
  docs/ops/reduction/ReduceL2_4.md
  docs/ops/reduction/ReduceLogicalAnd_1.md
  docs/ops/reduction/ReduceLogicalOr_1.md
  docs/ops/reduction/ReduceMax_1.md
  docs/ops/reduction/ReduceMean_1.md
  docs/ops/reduction/ReduceMin_1.md
  docs/ops/reduction/ReduceProd_1.md
  docs/ops/reduction/ReduceSum_1.md
  docs/ops/sequence/CTCGreedyDecoder_1.md
  docs/ops/sequence/CTCLoss_4.md
  docs/ops/sequence/GRUCell_3.md
  docs/ops/sort/NonMaxSuppression_1.md
  docs/ops/sort/NonMaxSuppression_3.md
  docs/ops/sort/NonMaxSuppression_4.md
  docs/ops/sort/NonMaxSuppression_5.md
Labels: category: docs, category: nGraph

#3490 [MULTI] Fixed data race introduced in the https://github.com/openvinotoolkit/openvino/pull/3300
  inference-engine/src/multi_device/multi_device_exec_network.cpp
Labels: category: MULTI

#3495 Cherry-pick #2922 into releases/2021/2
  docs/IE_DG/supported_plugins/GNA.md
Labels: category: docs

#3494 Cherry-pick #2922 into master
  docs/IE_DG/supported_plugins/GNA.md
Labels: category: docs

#3360 CPU plugin selective build
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/mkldnn_selective_build.h
  inference-engine/src/mkldnn_plugin/nodes/base.hpp
  inference-engine/src/mkldnn_plugin/nodes/common/cpu_convert.cpp
  inference-engine/src/mkldnn_plugin/nodes/list.cpp
  inference-engine/src/mkldnn_plugin/nodes/list.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_def_conv_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_eltwise_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_memory_node.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_normalize_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_normalize_node.h
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/extensions/mvn_tests.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/extensions/normalize_tests.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_permute_test.cpp
  openvino/conditional_compilation/CMakeLists.txt
  openvino/conditional_compilation/include/openvino/cc/factory.h
Labels: category: CPU, category: IE Tests, category: IE common, category: build

#2922 GNA Plugin doc review
  docs/IE_DG/supported_plugins/GNA.md
Labels: category: docs

#3488 [Cherry-pick] DL Workbench cross-linking
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/doxygen/openvino_docs.xml
  docs/get_started/dl_workbench_img/DL_Workbench.jpg
  docs/get_started/dl_workbench_img/Get_Started_Page-b.png
  docs/get_started/dl_workbench_img/convert_model.png
  docs/get_started/dl_workbench_img/create_configuration.png
  docs/get_started/dl_workbench_img/dataset_loading.png
  docs/get_started/dl_workbench_img/generate_dataset.png
  docs/get_started/dl_workbench_img/import_model_01.png
  docs/get_started/dl_workbench_img/import_model_02.png
  docs/get_started/dl_workbench_img/inference_banner.png
  docs/get_started/dl_workbench_img/inference_complete.png
  docs/get_started/dl_workbench_img/model_loading.png
  docs/get_started/dl_workbench_img/selected.png
  docs/get_started/dl_workbench_img/validation_dataset.png
  docs/get_started/get_started_dl_workbench.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-windows.md
  inference-engine/samples/benchmark_app/README.md
  inference-engine/tools/benchmark_tool/README.md
Labels: category: docs

#3245 Add reference implementation for PSROIPooling operator
  docs/ops/detection/PSROIPooling_1.md
  inference-engine/src/mkldnn_plugin/nodes/psroi.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/psroi_pooling.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/psroi_pooling.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/psroi_pooling.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/psroi_pooling.hpp
  ngraph/core/src/op/psroi_pooling.cpp
  ngraph/python/tests/test_ngraph/test_create_op.py
  ngraph/test/CMakeLists.txt
  ngraph/test/attributes.cpp
  ngraph/test/backend/psroi_pooling.in.cpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/type_prop/psroi_pooling.cpp
  ngraph/test/type_prop_layers.cpp
Labels: category: CPU, category: IE Tests, category: docs, category: nGraph

#3356 Remove ops from Layer Creator/ Node Converter - part 3
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/normalize_ie.hpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/normalize_ie.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  ngraph/core/include/ngraph/op/not_equal.hpp
  ngraph/core/src/op/mvn.cpp
  ngraph/core/src/op/normalize_l2.cpp
  ngraph/core/src/op/not_equal.cpp
Labels: category: IE Tests, category: nGraph

#3427 [VPU][TESTS][GNA] Fix dynamic models import on VPU
  inference-engine/src/vpu/graph_transformer/include/vpu/utils/shape_io.hpp
  inference-engine/src/vpu/graph_transformer/src/blob_reader.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/propagate_dynamism.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/dynamic_shape_resolver.cpp
  inference-engine/src/vpu/graph_transformer/src/utils/shape_io.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_infer_request.cpp
  inference-engine/tests/functional/plugin/gna/import_export_network.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/import_export_tests/import_reshape_permute_conv.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/import_export_tests/import_nonzero.cpp
  inference-engine/tests/functional/plugin/shared/include/import_export_tests/import_nonzero.hpp
  inference-engine/tests/functional/plugin/shared/include/import_export_tests/import_reshape_permute_conv.hpp
  inference-engine/tests/functional/plugin/shared/src/import_export_tests/import_nonzero.cpp
  inference-engine/tests/functional/plugin/shared/src/import_export_tests/import_reshape_permute_conv.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/import_export_base/import_export_base.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/import_export_base/import_export_base.hpp
Labels: category: GNA, category: IE Tests, category: VPU

#3409 Revise Reference Implementation of Range op
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/range_add.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/range.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/range_add.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/range.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/range_add.cpp
  ngraph/core/include/ngraph/op/range.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/range.hpp
  ngraph/core/src/op/range.cpp
  ngraph/test/backend/range.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/pass/dyn_elimination.cpp
  ngraph/test/type_prop/range.cpp
Labels: category: nGraph

#3491 [ONNX] Set defaults in LSTMSequence even if dimensions are dynamic
  ngraph/frontend/onnx_import/src/op/lstm.cpp
  ngraph/test/models/onnx/dynamic_shapes/lstm_dyn_batch_seq_3_inputs.prototxt
  ngraph/test/models/onnx/lstm_dynamic_batch_size_and_seq_len.prototxt
  ngraph/test/onnx/onnx_import_rnn.in.cpp
Labels: category: nGraph

#3518 Fixes for Object Detection SSD Python sample
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
Labels: bug, category: samples

#3477 [IE CLDNN] Fixed bias/scales data type in ScaleShift layer
  inference-engine/src/cldnn_engine/cldnn_program.cpp
Labels: category: GPU

#3342 [MULTI]Data affinity remote context and blobs
  inference-engine/include/cpp/ie_infer_request.hpp
  inference-engine/src/multi_device/multi_device_async_infer_request.cpp
  inference-engine/src/multi_device/multi_device_exec_network.cpp
  inference-engine/src/multi_device/multi_device_exec_network.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_executable_network_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_request_internal.hpp
  inference-engine/tests/functional/plugin/CMakeLists.txt
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/multi/cpu_remote_blob_tests.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/multi/gpu_remote_blob_tests.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/myriad_remote_blobs_tests.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/exec_graph_info.hpp
  inference-engine/tests/functional/plugin/shared/include/multi/multi_remote_blob_tests.hpp
  inference-engine/tests/ie_test_utils/multi/multi_helpers.hpp
Labels: category: IE Tests, category: IE common, category: MULTI

#3497 [ICV][VPU] Eltwise: 'person-detection-retail-0013' performance fix - firmware update
  inference-engine/cmake/vpu_dependencies.cmake
Labels: category: IE common, category: VPU

#3492 [DOC] add Docker on Windows GPU infer instruction
  docs/install_guides/installing-openvino-docker-windows.md
Labels: category: docs

#3515 [IE VPU] Performance fix for efficientnet-b0
  inference-engine/src/vpu/graph_transformer/src/stages/swish.cpp
Labels: category: VPU

#3509 Added uninstallation instructions
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-windows.md
Labels: category: docs

#3507 [DOC] Add Description for DDR type option for MyriadX device
  docs/IE_DG/supported_plugins/MYRIAD.md
Labels: category: docs

#3531 [DOC] add Docker on Windows GPU infer instruction (#3492)
  docs/install_guides/installing-openvino-docker-windows.md
Labels: category: docs

#3446 Added uninstallation instructions for macOS, Windows, Linux
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-windows.md
Labels: category: docs

#3512 math formula fixes
  docs/MO_DG/prepare_model/convert_model/Legacy_IR_Layers_Catalog_Spec.md
  docs/ops/activation/Mish_4.md
  docs/ops/activation/Sigmoid_1.md
  docs/ops/activation/Swish_4.md
Labels: category: docs

#3514 math formula fixes 2021.2
  docs/MO_DG/prepare_model/convert_model/Legacy_IR_Layers_Catalog_Spec.md
  docs/ops/activation/HSwish_4.md
  docs/ops/activation/Mish_4.md
  docs/ops/activation/Sigmoid_1.md
  docs/ops/activation/SoftPlus_4.md
  docs/ops/activation/Swish_4.md
  docs/ops/pooling/AvgPool_1.md
  docs/ops/pooling/MaxPool_1.md
Labels: category: docs

#3521 Template device testing
  .ci/azure/linux.yml
  .ci/azure/windows.yml
  CMakeLists.txt
  cmake/features.cmake
  docs/CMakeLists.txt
  docs/template_plugin/src/CMakeLists.txt
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/config.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/core_integration.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/cpp_holders.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/exec_graph_info.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/infer_request.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/infer_request_callback.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/infer_request_config.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/infer_request_input.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/infer_request_output.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/layout.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/preprocessing.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/set_preprocess.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/test_plugin.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/version.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/hetero/query_network.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/single_layer_tests/softmax.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/single_layer_tests/split.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/exec_graph_info.hpp
  inference-engine/tests/functional/plugin/shared/src/hetero/query_network.cpp
  inference-engine/tests/functional/plugin/shared/src/hetero/synthetic.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/test_constants.hpp
Labels: category: CI, category: IE Tests, category: IE common, category: docs

#3372 added draft version of doc for networks with state
  docs/IE_DG/img/applying_low_latency.png
  docs/IE_DG/img/low_latency_limitation_1.png
  docs/IE_DG/img/low_latency_limitation_2.png
  docs/IE_DG/img/state_network_example.png
  docs/IE_DG/network_state_intro.md
  docs/doxygen/ie_docs.xml
  docs/snippets/InferenceEngine_network_with_state_infer.cpp
Labels: category: docs

#3528 Added workaround instructions to fix the issue described in CVS-35873
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
Labels: category: docs

#3532 Fixed CVS-36087
  docs/install_guides/installing-openvino-raspbian.md
Labels: category: docs

#3459 Re-implement onnx old-style extractors with extractor extensions
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/caffe/bn.py
  model-optimizer/extensions/front/caffe/bn_test.py
  model-optimizer/extensions/front/onnx/concat_ext.py
  model-optimizer/extensions/front/onnx/fused_bn_ext.py
  model-optimizer/extensions/front/onnx/identity_ext.py
  model-optimizer/extensions/front/onnx/reshape_ext.py
  model-optimizer/extensions/middle/fusings.py
  model-optimizer/extensions/ops/BatchNormInference.py
  model-optimizer/mo/front/onnx/extractor.py
  model-optimizer/mo/middle/passes/fusing/decomposition.py
Labels: category: MO

#3534 [Regression] Fix constant folding for sub graph ops
  ngraph/core/src/pass/constant_folding.cpp
  ngraph/test/constant_folding.cpp
Labels: category: nGraph

#3541 Removed reference implementations from tests
  ngraph/core/reference/include/ngraph/runtime/reference/elu.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/gelu.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/grn.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/mod.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/selu.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/transpose.hpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/reference/elu.hpp
Labels: category: nGraph

#3503 [Jenkinsfile] Disable failFast & enable propagateStatus
  Jenkinsfile
Labels: category: CI

#3539 cmake build all docs
  docs/CMakeLists.txt
  docs/doxygen/build_main_layout.py
  docs/doxygen/ie_docs.config
  docs/doxygen/log.py
  docs/doxygen/openvino_docs.xml
Labels: category: docs

#3502 [IE][VPU]: Enables native gather support
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_layer_validators.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/gather.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/convert_ngraph_to_cnn_network_tests.cpp
  inference-engine/tests/functional/plugin/myriad/single_layer_tests/gather.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/gather.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/gather.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/common_utils.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_gather_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_gather_test.hpp
Labels: category: IE Tests, category: IE common, category: VPU, category: nGraph

#3480 Fix NMS5 outputs naming
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/legacy_api/include/legacy/transformations/convert_opset1_to_legacy/convert_nms_5_to_legacy.hpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_nms_5_to_legacy.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
Labels: category: IE Tests, category: IE common, category: nGraph

#3314 Specify MVN-6 operation
  docs/doxygen/ie_docs.xml
  docs/ops/normalization/MVN_6.md
Labels: category: docs

#3304 Spec for GatherElements-6
  docs/doxygen/ie_docs.xml
  docs/ops/movement/GatherElements_6.md
Labels: category: docs

#3485 Remove ops from Layer Creator/ Node Converter - part 4
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/gather_ie.hpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/gather_ie.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  ngraph/core/include/ngraph/op/floor_mod.hpp
  ngraph/core/include/ngraph/op/not_equal.hpp
  ngraph/core/src/op/floor_mod.cpp
Labels: category: nGraph

#3522 [ONNX] Use kernel shape in MaxPool to create its default attributes
  ngraph/frontend/onnx_import/include/onnx_import/utils/pooling_factory.hpp
  ngraph/frontend/onnx_import/src/op/average_pool.cpp
  ngraph/frontend/onnx_import/src/op/max_pool.cpp
  ngraph/frontend/onnx_import/src/utils/pooling_factory.cpp
  ngraph/test/models/onnx/dynamic_shapes/max_pool_dyn_rank_without_default_attrs.prototxt
  ngraph/test/onnx/onnx_import_dyn_shapes.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#3445 [IE CLDNN] Suppress fsv16 layout if topology has many crop layers
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#3551 Fixed Plugin API compilation with /WX
  inference-engine/include/ie_locked_memory.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_plugin_internal.hpp
  inference-engine/src/plugin_api/debug.h
  inference-engine/src/plugin_api/exec_graph_info.hpp
  inference-engine/src/plugin_api/generic_ie.hpp
  inference-engine/src/plugin_api/xml_parse_utils.h
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  ngraph/core/include/ngraph/attribute_adapter.hpp
  ngraph/core/include/ngraph/descriptor/output.hpp
  ngraph/core/include/ngraph/enum_names.hpp
Labels: category: IE Tests, category: IE common, category: build, category: nGraph, platform: win32

#3552 fixed compilation of MYRIAD/GPU only (no MKL_DNN)
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/multi/gpu_remote_blob_tests.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/myriad_remote_blobs_tests.cpp
Labels: category: IE Tests

#3517 Added Get Started Guide for Raspbian
  docs/doxygen/openvino_docs.xml
  docs/get_started/get_started_raspbian.md
Labels: category: docs

#3533 Added missing headers to MVN ref
  ngraph/core/reference/include/ngraph/runtime/reference/mvn.hpp
Labels: category: nGraph

#3188 StridedSlice : slice and reverse new ref implementations
  ngraph/core/reference/include/ngraph/coordinate_index.hpp
  ngraph/core/reference/include/ngraph/coordinate_range.hpp
  ngraph/core/reference/include/ngraph/coordinate_transform.hpp
  ngraph/core/reference/src/coordinate_index.cpp
  ngraph/core/reference/src/coordinate_range.cpp
  ngraph/core/reference/src/coordinate_transform.cpp
  ngraph/core/reference/src/runtime/reference/reverse.cpp
  ngraph/core/reference/src/runtime/reference/slice.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/reverse.in.cpp
  ngraph/test/coordinate_range.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#3504 Fetch gflags for time_tests
  tests/time_tests/CMakeLists.txt
  tests/time_tests/src/timetests_helper/CMakeLists.txt
Labels: category: IE Tests

#3394 [IE CLDNN] Fully connected MMAD kernel simd16 improvements
  inference-engine/thirdparty/clDNN/api/layout.hpp
  inference-engine/thirdparty/clDNN/api/tensor.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_mmad.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_mmad.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/fully_connected_gpu_MMAD.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/fetch.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/mmad.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/reorder_weights.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_common.cpp
  inference-engine/thirdparty/clDNN/src/include/to_string_utils.h
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
Labels: category: GPU

#3548 [VPU] Support dynamic data in Broadcast DTS
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_broadcast.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_broadcast.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_tests_common.hpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/nonzero_broadcast.cpp
Labels: category: IE Tests, category: VPU

#3561 [VPU] Extend StaticShapeBroadcast target shape evaluator
  inference-engine/src/vpu/common/src/ngraph/utilities.cpp
Labels: category: VPU

#3559 [VPU][Tests] Support DTS for ScatterElementsUpdate
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_scatter.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_scatter.cpp
Labels: category: IE Tests, category: VPU

#3554 [PP] Altered preprocessing tests to use existin posprocessing as well
  docs/template_plugin/src/template_plugin.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/preprocessing.hpp
Labels: category: IE Tests, category: docs, category: preprocessing

#3530 [DOC] Update PIP package name
  docs/install_guides/installing-openvino-pip.md
Labels: category: docs

#3557 [ONNX][Python][Tests] Update ONNX to onnx 1.8
  ngraph/frontend/onnx_import/include/onnx_import/op/split.hpp
  ngraph/frontend/onnx_import/include/onnx_import/op/squeeze.hpp
  ngraph/frontend/onnx_import/include/onnx_import/op/unsqueeze.hpp
  ngraph/frontend/onnx_import/src/op/split.cpp
  ngraph/frontend/onnx_import/src/op/squeeze.cpp
  ngraph/frontend/onnx_import/src/op/unsqueeze.cpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/python/requirements_test.txt
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_ngraph/test_data_movement.py
  ngraph/python/tests/test_ngraph/test_ops_fused.py
  ngraph/python/tests/test_ngraph/test_ops_unary.py
  ngraph/python/tests/test_ngraph/test_sequence_processing.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/python/tests/test_onnx/test_ops_binary.py
  ngraph/python/tests/test_onnx/test_ops_reduction.py
  ngraph/python/tests/test_onnx/test_ops_reshape.py
  ngraph/python/tests/test_onnx/test_ops_unary.py
Labels: category: nGraph, category: onnx importer

#3566 [DOC] Added NOTE in samples overview doc
  docs/IE_DG/Samples_Overview.md
Labels: category: docs

#3577 [DOC] Update PIP package name in master
  docs/install_guides/installing-openvino-pip.md
Labels: category: docs

#3523 Added Intel® Iris® Xe Dedicated Graphics, naming convention info
  docs/IE_DG/InferenceEngine_QueryAPI.md
  docs/IE_DG/supported_plugins/CL_DNN.md
  docs/IE_DG/supported_plugins/MULTI.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-windows.md
Labels: category: GPU, category: docs

#3558 [IE VPUX][cherry pick #3001] Visitor API deserialization for ops from opset1
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/gather_tree_ie.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/hard_sigmoid_ie.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/interp.hpp
  inference-engine/src/legacy_api/src/ngraph_ops/gather_tree_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/hard_sigmoid_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/interp.cpp
Labels: category: VPU, category: nGraph

#857 - [PP] Addded ability to preprocess inputs into plugin desired format
  docs/template_plugin/src/template_infer_request.cpp
  docs/template_plugin/src/template_infer_request.hpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/preprocessing.cpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_request_internal.hpp
  inference-engine/src/preprocessing/ie_preprocess_data.cpp
  inference-engine/src/preprocessing/ie_preprocess_data.hpp
  inference-engine/src/preprocessing/ie_preprocess_gapi.cpp
  inference-engine/tests_deprecated/fluid_preproc/common/fluid_tests.cpp
  inference-engine/tests_deprecated/fluid_preproc/cpu/fluid_tests_cpu.cpp
Labels: category: IE common, category: preprocessing

#3585 docs: update what's new in MO in 2021.2
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
Labels: category: docs

#3537 Attempt to put some order to the single general (that differs only by messages) and typed exception, on the example of NOT_IMPLEMENTED
  inference-engine/include/details/ie_exception.hpp
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
  inference-engine/src/multi_device/multi_device_exec_network.cpp
  inference-engine/src/plugin_api/cpp_interfaces/exception2status.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_executable_network_internal.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
Labels: category: IE Tests, category: IE common, category: MULTI

#3266 Release mo dev guide refactoring
  docs/HOWTO/Custom_Layers_Guide.md
  docs/HOWTO/ie_cpu_extension/CMakeLists.txt
  docs/HOWTO/ie_cpu_extension/extension.cpp
  docs/HOWTO/ie_cpu_extension/extension.hpp
  docs/HOWTO/ie_cpu_extension/fft_kernel.cpp
  docs/HOWTO/ie_cpu_extension/fft_kernel.hpp
  docs/HOWTO/ie_cpu_extension/fft_op.cpp
  docs/HOWTO/ie_cpu_extension/fft_op.hpp
  docs/HOWTO/img/IE_extensions_flow.png
  docs/HOWTO/img/MEG_generic_flow.png
  docs/HOWTO/img/MO_extensions_flow.png
  docs/HOWTO/img/converted_subgraph.png
  docs/HOWTO/img/mo_caffe_priorities.png
  docs/HOWTO/img/unsupported_subgraph.png
  docs/HOWTO/mo_extensions/front/tf/Complex.py
  docs/HOWTO/mo_extensions/front/tf/ComplexAbs.py
  docs/HOWTO/mo_extensions/front/tf/FFT_ext.py
  docs/HOWTO/mo_extensions/ops/FFT.py
  docs/IE_DG/Extensibility_DG/AddingNGraphOps.md
  docs/IE_DG/Extensibility_DG/CPU_Kernel.md
  docs/IE_DG/Extensibility_DG/GPU_Kernel.md
  docs/IE_DG/Extensibility_DG/Intro.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/Cutting_Model.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_MXNet_Model_Optimizer_with_New_Primitives.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_Model_Optimizer_with_Caffe_Python_Layers.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_Model_Optimizer_with_New_Primitives.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Legacy_Mode_for_Caffe_Custom_Layers.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Subgraph_Replacement_Model_Optimizer.md
  docs/MO_DG/prepare_model/customize_model_optimizer/TensorFlow_Faster_RCNN_ObjectDetection_API.md
  docs/MO_DG/prepare_model/customize_model_optimizer/TensorFlow_SSD_ObjectDetection_API.md
  docs/doxygen/ie_docs.xml
  docs/how_tos/how-to-links.md
  docs/img/MO_connection_example_1.png
  docs/img/MO_conversion_pipeline.png
  docs/img/MO_graph_after_extractors.png
  docs/img/MO_graph_after_loader.png
  docs/img/MO_graph_before_partial_inference.png
  docs/img/MO_ports_example_1.png
  docs/img/MO_ports_example_2.png
  docs/img/MO_transformations_graph.png
  model-optimizer/README.md
Labels: category: docs

#3596 Fixes in the spec of Interpolate-4.
  docs/ops/image/Interpolate_4.md
Labels: category: docs

#3483 Add GatherElements layer
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/stage_builder.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/gather_elements.cpp
Labels: category: VPU

#2584 Possible fix for GroupConvolution unit test
  model-optimizer/extensions/front/tf/conv_ext.py
Labels: category: MO

#3609 Feature/azaytsev/transition s3 bucket
  docs/IE_DG/Extensibility_DG/Custom_ONNX_Ops.md
  docs/IE_DG/Samples_Overview.md
  docs/get_started/get_started_raspbian.md
  docs/install_guides/installing-openvino-raspbian.md
  inference-engine/ie_bridges/c/samples/hello_classification/README.md
  inference-engine/ie_bridges/c/samples/hello_nv12_input_classification/README.md
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/java/samples/README.md
  inference-engine/ie_bridges/python/sample/classification_sample_async/README.md
  inference-engine/ie_bridges/python/sample/hello_classification/README.md
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/README.md
  inference-engine/samples/benchmark_app/README.md
  inference-engine/samples/classification_sample_async/README.md
  inference-engine/samples/hello_classification/README.md
  inference-engine/samples/hello_nv12_input_classification/README.md
  inference-engine/samples/hello_reshape_ssd/README.md
  inference-engine/samples/object_detection_sample_ssd/README.md
  inference-engine/tools/benchmark_tool/README.md
  tools/benchmark/README.md
Labels: category: docs

#3549 Rename AvgPool to attribute exclude-pad to align with MO and layer creator
  docs/ops/pooling/AvgPool_1.md
  ngraph/core/src/op/avg_pool.cpp
  ngraph/python/src/ngraph/opset1/ops.py
Labels: bug, category: docs, category: nGraph

#3611 [IE TESTS] Disable sporadic issue 45163
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests

#3591 Rename KMB to VPUX
  inference-engine/tests/ie_test_utils/common_test_utils/test_constants.hpp
Labels: category: IE Tests

#3593 [IE][CMAKE] Fix for in-tree generated InferenceEngineConfig.cmake
  inference-engine/cmake/config.cmake.in
Labels: category: IE common, category: build

#3587 Restored gtk-3 installation
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI

#3572 Fixed tests compilation for Android ARM
  inference-engine/tests/functional/inference_engine/transformations/convert_scatter_elements_to_scatter_test.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/basic_lstm.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/basic_lstm.cpp
Labels: category: IE Tests, category: nGraph

#3562 support DTS for Ceiling
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_unary_elementwise.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_unary_elementwise.cpp
Labels: category: IE Tests, category: VPU

#3590 Benchmarks 2021 2
  docs/Legal_Information.md
  docs/benchmarks/performance_benchmarks.md
  docs/benchmarks/performance_benchmarks_faq.md
  docs/benchmarks/performance_int8_vs_fp32.md
  docs/doxygen/openvino_docs.xml
  docs/img/int8vsfp32.png
Labels: category: docs

#3627 Feature/azaytsev/ovsa docs
  docs/doxygen/openvino_docs.xml
  docs/ovsa/ovsa_diagram.png
  docs/ovsa/ovsa_example.png
  docs/ovsa/ovsa_get_started.md
Labels: category: docs

#3626 doc fixes
  docs/IE_DG/Extensibility_DG/Custom_ONNX_Ops.md
  docs/IE_DG/network_state_intro.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
  docs/doxygen/ie_docs.xml
  docs/install_guides/installing-openvino-windows.md
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/README.md
Labels: category: docs

#3612 [cmake] retry after hash mismatch error
  cmake/download/download_and_check.cmake
Labels: category: build

#3464 Add MVN-6 support to ngraph
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  ngraph/core/include/ngraph/op/mvn.hpp
  ngraph/core/include/ngraph/opsets/opset.hpp
  ngraph/core/include/ngraph/opsets/opset6.hpp
  ngraph/core/include/ngraph/opsets/opset6_tbl.hpp
  ngraph/core/src/op/mvn.cpp
  ngraph/core/src/op/util/attr_types.cpp
  ngraph/core/src/opsets/opset.cpp
  ngraph/test/type_prop/mvn.cpp
Labels: category: IE Tests, category: nGraph

#3578 Update port renumbering logic for constants
  model-optimizer/mo/back/ie_ir_ver_2/emitter.py
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
Labels: category: MO

#3630 fix latex formula
  docs/ops/sequence/CTCLoss_4.md
Labels: category: docs

#3448 Revise DetectionOutput reference implementation
  docs/ops/detection/DetectionOutput_1.md
  inference-engine/src/legacy_api/src/ie_layer_validators.cpp
  inference-engine/src/mkldnn_plugin/nodes/detectionoutput.cpp
  ngraph/core/include/ngraph/op/detection_output.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/detection_output.hpp
  ngraph/core/src/op/detection_output.cpp
  ngraph/python/tests/test_ngraph/test_create_op.py
  ngraph/python/tests/test_ngraph/test_dyn_attributes.py
  ngraph/test/CMakeLists.txt
  ngraph/test/attributes.cpp
  ngraph/test/backend/detection_output.in.cpp
  ngraph/test/models/onnx/detection_output.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/type_prop/detection_output.cpp
  ngraph/test/type_prop_layers.cpp
Labels: category: CPU, category: docs, category: nGraph

#3580 Fixed HETERO + Template cases
  docs/template_plugin/src/template_plugin.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/gna_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
Labels: bug, category: CPU, category: GNA, category: HETERO, category: IE Tests, category: IE common, category: docs, category: nGraph

#3623 [IE TESTS] Move multi base class
  inference-engine/tests/functional/plugin/shared/include/base/multi/multi_helpers.hpp
  inference-engine/tests/functional/plugin/shared/include/multi/multi_remote_blob_tests.hpp
Labels: category: IE Tests

#3553 [ONNX] Dynamic version of ONNX Size op
  ngraph/frontend/onnx_import/src/op/size.cpp
  ngraph/test/models/onnx/dynamic_shapes/size_op_dyn.prototxt
  ngraph/test/models/onnx/size_op_graph_end.prototxt
  ngraph/test/models/onnx/size_op_graph_middle.prototxt
  ngraph/test/models/onnx/size_op_on_input_graph_middle.prototxt
  ngraph/test/models/onnx/size_op_single.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/onnx/onnx_import_dyn_shapes.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: ONNX, category: onnx importer

#3603 Fixes for external ITT API library (CVS-44714)
  openvino/itt/CMakeLists.txt
Labels: category: IE common

#3520 fix comments ngraph api 2021.2
  docs/doxygen/ngraph_py_api.xml
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/exceptions.py
  ngraph/python/src/ngraph/helpers.py
  ngraph/python/src/ngraph/impl/op/__init__.py
  ngraph/python/src/ngraph/opset1/ops.py
  ngraph/python/src/ngraph/opset2/ops.py
  ngraph/python/src/ngraph/opset3/ops.py
  ngraph/python/src/ngraph/opset4/ops.py
  ngraph/python/src/ngraph/opset_utils.py
  ngraph/python/src/ngraph/utils/__init__.py
  ngraph/python/src/ngraph/utils/broadcasting.py
  ngraph/python/src/ngraph/utils/decorators.py
  ngraph/python/src/ngraph/utils/input_validation.py
  ngraph/python/src/ngraph/utils/node_factory.py
  ngraph/python/src/ngraph/utils/reduction.py
  ngraph/python/src/ngraph/utils/tensor_iterator_types.py
  ngraph/python/src/ngraph/utils/types.py
Labels: category: nGraph

#3571 [IE][VPU]: Enables check on split by dynamic dimension for VariadicSplit
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
Labels: category: VPU

#3449 [CPU] Improved Split layer
  inference-engine/src/mkldnn_plugin/bf16transformer.cpp
  inference-engine/src/mkldnn_plugin/bf16transformer.h
  inference-engine/src/mkldnn_plugin/mkldnn_edge.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_memory.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_split_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_split_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/region_yolo.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/split.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_split_test.cpp
Labels: category: CPU

#1804 [Python API] requirements
  inference-engine/ie_bridges/python/requirements.txt
  inference-engine/ie_bridges/python/sample/requirements.txt
  inference-engine/ie_bridges/python/src/requirements-dev.txt
Labels: category: python api

#3645 [IE TESTS] Disable CancellationTests.*canResetAfterCancelAsyncRequest…
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: IE Tests

#3622 gna_plugin: include cmath library to avoid call of overloaded ‘abs(float)’ is ambiguous error
  inference-engine/src/gna_plugin/gna_plugin_config.cpp
Labels: ExternalPR, category: GNA

#3493 Remove ops from Layer Creator/ Node Converter - part 5
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.hpp
  ngraph/core/src/op/broadcast.cpp
  ngraph/core/src/op/strided_slice.cpp
Labels: category: nGraph

#3604 [VPU][Tests] Support DTS for Select
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_binary_elementwise.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_binary_elementwise.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_binary_elementwise.cpp
Labels: category: IE Tests, category: VPU

#2709 [IE CLDNN] Fully Connected layer 3d support
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/thirdparty/clDNN/api/fully_connected.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_bfyx_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_mmad.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/fully_connected_gpu_MMAD.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/fully_connected_gpu_bf_tiled.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/fully_connected_gpu_bfyx_ref.cl
  inference-engine/thirdparty/clDNN/src/fully_connected.cpp
  inference-engine/thirdparty/clDNN/src/gpu/fully_connected_gpu.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fully_connected_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_utils/network_test.h
Labels: category: GPU

#3250 Add spec for CTCGreedyDecoderSecLen
  docs/doxygen/ie_docs.xml
  docs/ops/sequence/CTCGreedyDecoderSeqLen_6.md
Labels: category: docs

#3647 [IE COMMON] Fix FP32 to FP16 positive infinity conversion
  inference-engine/src/inference_engine/precision_utils.cpp
  inference-engine/tests/unit/inference_engine/precision_utils_test.cpp
  inference-engine/tools/vpu/vpu_perfcheck/CMakeLists.txt
  inference-engine/tools/vpu/vpu_perfcheck/main.cpp
Labels: category: IE Tests, category: IE common

#3636 Fix checking input/output size in hello_reshape_ssd
  inference-engine/samples/hello_reshape_ssd/main.cpp
Labels: category: samples

#3511 Enable automatic update of ONNX Model Zoo for ONNX CI
  .ci/openvino-onnx/Jenkinsfile
  ngraph/python/tests/test_onnx/model_zoo_preprocess.sh
Labels: category: CI, category: nGraph

#3635 [ONNX][Model tests] Remove LSTM_Seq_lens model xfail declaration
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
Labels: category: nGraph

#3642 Remove doubled Reshape operator tests and revise unittest.manifest
  ngraph/test/backend/reshape.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#3613 Actualize operations attributes
  docs/ops/convolution/ConvolutionBackpropData_1.md
  docs/ops/convolution/Convolution_1.md
  docs/ops/convolution/DeformableConvolution_1.md
  docs/ops/convolution/GroupConvolutionBackpropData_1.md
  docs/ops/convolution/GroupConvolution_1.md
  docs/ops/pooling/AvgPool_1.md
  docs/ops/pooling/MaxPool_1.md
  model-optimizer/extensions/ops/elementwise.py
  model-optimizer/extensions/ops/fakequantize.py
  model-optimizer/extensions/ops/select.py
  model-optimizer/mo/ops/convolution.py
  model-optimizer/mo/ops/pooling.py
Labels: category: MO, category: docs

#3662 Fix for updated port renumbering logic for constants
  model-optimizer/mo/back/ie_ir_ver_2/emitter.py
Labels: category: MO

#3556 Enable TF 2.0 Object Detection API models
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/div.py
  model-optimizer/extensions/front/div_test.py
  model-optimizer/extensions/front/tf/ObjectDetectionAPI.py
  model-optimizer/extensions/front/tf/efficient_det_support_api_v2.0.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v2.0.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.11.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.13.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.14.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.15.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.7.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v2.0.json
  model-optimizer/extensions/front/tf/ssd_support_api_v2.0.json
  model-optimizer/mo/front/subgraph_matcher.py
  model-optimizer/mo/utils/custom_replacement_config.py
  model-optimizer/mo/utils/graph.py
  model-optimizer/mo/utils/graph_test.py
  model-optimizer/mo/utils/pipeline_config.py
  model-optimizer/mo/utils/pipeline_config_test.py
  model-optimizer/mo/utils/version_test.py
Labels: category: MO

#3487 Resolved problems with ssd_resnet34_mlperf_opset10
  inference-engine/tests/functional/inference_engine/transformations/sr_sub_graph_ops.cpp
  ngraph/core/src/op/loop.cpp
  ngraph/frontend/onnx_import/include/onnx_import/core/graph.hpp
  ngraph/frontend/onnx_import/include/onnx_import/core/graph_cache.hpp
  ngraph/frontend/onnx_import/src/core/graph.cpp
  ngraph/frontend/onnx_import/src/core/graph_cache.cpp
  ngraph/frontend/onnx_import/src/op/loop.cpp
  ngraph/frontend/onnx_import/src/op/topk.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
  ngraph/test/models/onnx/loop/loop_2d_add_input_from_parent_graph.prototxt
  ngraph/test/models/onnx/loop/loop_2d_add_trip_count_max_int.prototxt
  ngraph/test/models/onnx/loop/loop_add_node_from_parent_scope_used_in_parent_and_in_body.prototxt
  ngraph/test/models/onnx/top_k_opset_11_const_k_smallest_negative_axis.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/onnx/onnx_import_controlflow.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/type_prop/loop.cpp
Labels: category: IE Tests, category: IE common, category: nGraph

#3500 [VPU] Shape compression
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/allocator/allocator.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/data_desc.hpp
  inference-engine/src/vpu/graph_transformer/src/middleend/allocator/allocator.cpp
Labels: category: VPU

#3467 nGraph 'shell' implementation for GatherElements-6 and MO 'shell' implementation
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  docs/ops/movement/GatherElements_6.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/onnx/gatherelements_ext.py
  model-optimizer/extensions/ops/gatherelements.py
  model-optimizer/extensions/ops/gatherelements_test.py
  ngraph/core/include/ngraph/op/gather_elements.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/include/ngraph/opsets/opset6_tbl.hpp
  ngraph/core/src/op/gather_elements.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/gather_elements.cpp
Labels: category: MO, category: docs, category: nGraph

#3297 Gna fix mt with iterations
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.hpp
  inference-engine/src/gna_plugin/gna_plugin_internal.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_threading_tests.hpp
  inference-engine/tests/unit/gna/gna_plugin_config_test.cpp
Labels: category: GNA, category: IE Tests

#3038 [IE][VPU][GT] Add pass to reshape convolution by parameter from IR
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/graph_transformer.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/pass_manager.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/private_plugin_config.hpp
  inference-engine/src/vpu/graph_transformer/src/middleend/pass_manager.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/reshape_conv.cpp
  inference-engine/src/vpu/graph_transformer/src/parsed_config.cpp
Labels: category: VPU, category: nGraph

#3664 [PP] Removed old (non GAPI) preprocessing code
  inference-engine/src/preprocessing/cpu_x86_sse42/ie_preprocess_data_sse42.cpp
  inference-engine/src/preprocessing/cpu_x86_sse42/ie_preprocess_data_sse42.hpp
  inference-engine/src/preprocessing/ie_preprocess_data.cpp
  inference-engine/src/preprocessing/ie_preprocess_data.hpp
  inference-engine/src/preprocessing/ie_preprocess_gapi.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi.hpp
Labels: category: preprocessing

#3574 Remove broadcasting
  inference-engine/src/transformations/include/transformations/common_optimizations/broadcast_elementwise_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/broadcast_elementwise_fusion.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/tests/functional/inference_engine/transformations/broadcast_elementwise_fusion_test.cpp
  ngraph/core/include/ngraph/op/util/binary_elementwise_arithmetic.hpp
Labels: category: nGraph

#3641 [IE][nGraph]: Fixes Loop shape inference
  ngraph/core/src/op/loop.cpp
  ngraph/test/type_prop/loop.cpp
Labels: category: nGraph

#3668 Regenerate MO models with current MO version.
  inference-engine/tests/functional/inference_engine/ir_serialization/models/add_abc.xml
  inference-engine/tests/functional/inference_engine/ir_serialization/models/add_abc_initializers.xml
  inference-engine/tests/functional/inference_engine/ir_serialization/models/addmul_abc.xml
  inference-engine/tests/functional/inference_engine/ir_serialization/models/split_equal_parts_2d.xml
Labels: category: nGraph

#3691 Disable tests which read prototxt files if protobuf-lite is used
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/unit/frontends/onnx_import/CMakeLists.txt
Labels: category: IE Tests

#3639 [IE CORE] enable plugins & dependent libs loading using absolute path
  inference-engine/src/inference_engine/os/win/win_shared_object_loader.cpp
Labels: category: IE common, platform: win32
