Repository openvinotoolkit/openvino, pull requests merged in 2020-11, with the labels that each got.

#2921 Temporarily skip ExecGraphTests.CheckExecGraphInfoSerialization on GPU
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/keep_assing.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/num_inputs_fusing_bin_conv.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/unique_node_names.cpp
Labels: category: IE Tests

#2899 Remove deprecated v0::Reverse op
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/reverse.hpp
  ngraph/core/src/op/reverse.cpp
  ngraph/test/backend/broadcast.in.cpp
  ngraph/test/backend/dynamic.in.cpp
  ngraph/test/backend/reverse.in.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/op_is.cpp
  ngraph/test/pass_shape_relevance.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/pass/opset0_downgrade.cpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
  ngraph/test/type_prop/reverse.cpp
Labels: category: nGraph

#2905 Remove deprecated v0::Round op
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/round.hpp
  ngraph/core/src/op/round.cpp
  ngraph/test/backend/round.in.cpp
  ngraph/test/eval.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
Labels: category: nGraph

#2857 Remove obsoleted v0::Or operator
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/or.hpp
  ngraph/core/src/op/or.cpp
  ngraph/core/src/op/util/op_types.cpp
  ngraph/core/src/pattern/op/label.cpp
  ngraph/test/backend/logical_or.in.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/pass/opset0_downgrade.cpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
  ngraph/test/type_prop/binary_elementwise.cpp
Labels: category: nGraph

#2929 Fixed compilation errors / warnings with clang
  inference-engine/src/gna_plugin/backend/make_pwl.cpp
  inference-engine/src/gna_plugin/round_float_define.hpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_matcher.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reduce/reduce_kernel_b_fs_yx_fsv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reduce/reduce_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/space_to_depth/space_to_depth_kernel_ref.h
  inference-engine/thirdparty/clDNN/src/gpu/ocl_base_event.h
Labels: category: GNA, category: GPU, category: IE Tests, category: build

#2367 nGraph backend tests refactor: gather, numeric
  ngraph/test/backend/gather.in.cpp
  ngraph/test/backend/numeric.in.cpp
Labels: category: nGraph

#2420 Avoid verbose return-type warnings
  ngraph/core/src/pass/constant_folding_scatter.cpp
Labels: category: nGraph

#2578 nGraph backend tests refactor: onehot
  ngraph/test/backend/one_hot.in.cpp
Labels: category: nGraph

#2935 Remove obsoleted v0::StopGradient op
  inference-engine/src/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  inference-engine/tests/functional/inference_engine/transformations/nop_elimination.cpp
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/stop_gradient.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/src/op/stop_gradient.cpp
  ngraph/test/eval.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
Labels: category: IE Tests, category: nGraph

#2923 [IE CLDNN] Fixed uninitialized parameters in resample primitive
  inference-engine/thirdparty/clDNN/api/resample.hpp
  inference-engine/thirdparty/clDNN/src/gpu/resample_gpu.cpp
  inference-engine/thirdparty/clDNN/src/resample.cpp
Labels: category: GPU

#2889 Visitor API deserialization - create models for ops
  inference-engine/tests/functional/inference_engine/ngraph_reader/convert_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/depth_to_space_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/floor_mod_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/gather_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/minimum_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/multiply_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/normalize_l2_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/not_equal_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/reduce_min_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/reduce_prod_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/space_to_depth_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/subtract_tests.cpp
Labels: ExternalIntelPR, category: IE Tests, category: nGraph

#2884 Change pip install documentation
  docs/install_guides/installing-openvino-pip.md
Labels: category: docs

#2853 Remove remaining Myriad-2 references
  build-instruction.md
  docs/IE_DG/Deep_Learning_Inference_Engine_DevGuide.md
  docs/IE_DG/supported_plugins/MYRIAD.md
  docs/install_guides/VisionAcceleratorFPGA_Configure_2018R5.md
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/scripts/dependencies.bat
  inference-engine/scripts/dependencies.sh
Labels: category: IE common, category: docs

#2915 [IE TESTS] Split Layer Test refactoring
  docs/template_plugin/tests/functional/shared_tests_instances/single_layer_tests/split.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/split.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/split.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/split.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/split.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/split.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/split.cpp
Labels: category: IE Tests, category: docs

#2926 Fixed FAST build mode
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/vpu/common/CMakeLists.txt
Labels: category: IE common, category: VPU, category: build

#2894 Added transformation config to support automl efficientdet models
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_EfficientDet_Models.md
  docs/doxygen/ie_docs.xml
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/Pack.py
  model-optimizer/extensions/front/Pack_test.py
  model-optimizer/extensions/front/tf/AutomlEfficientDet.py
  model-optimizer/extensions/front/tf/automl_efficientdet.json
  model-optimizer/mo/ops/unsqueeze.py
Labels: category: MO, category: docs

#2928 Compilation with MSVC for ARM
  CMakeLists.txt
  cmake/check_features.cmake
  cmake/developer_package.cmake
  cmake/features.cmake
  cmake/os_flags.cmake
  cmake/target_flags.cmake
  cmake/vs_version/vs_version.cmake
  cmake/vs_version/vs_version.rc.in
  inference-engine/cmake/dependencies.cmake
  inference-engine/cmake/features_ie.cmake
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/c_w_dirent.h
  inference-engine/samples/CMakeLists.txt
  inference-engine/samples/common/os/windows/w_dirent.h
Labels: category: IE common, category: build, platform: win32

#2896 Added check in hello sample
  inference-engine/samples/classification_sample_async/main.cpp
  inference-engine/samples/hello_classification/main.cpp
Labels: category: samples

#2878 Remove obsoleted v0::Reshape operator
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  ngraph/core/builder/include/ngraph/builder/reshape.hpp
  ngraph/core/builder/src/builder/autobroadcast.cpp
  ngraph/core/builder/src/builder/matmul_factory.cpp
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/reshape.hpp
  ngraph/core/src/op/dot.cpp
  ngraph/core/src/op/reshape.cpp
  ngraph/core/src/op/squeeze.cpp
  ngraph/core/src/op/unsqueeze.cpp
  ngraph/test/backend/dynamic.in.cpp
  ngraph/test/backend/reshape.in.cpp
  ngraph/test/backend/slice.in.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/copy.cpp
  ngraph/test/dyn_elimination.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/dynamic/dynamic_backend.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/runtime/op/group_conv.cpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/pass/dyn_elimination.cpp
  ngraph/test/runtime/pass/dyn_elimination.hpp
  ngraph/test/runtime/pass/opset0_downgrade.cpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
  ngraph/test/type_prop/reshape.cpp
  ngraph/test/type_prop/ti.cpp
Labels: category: nGraph

#2601 [GNA] Added export input/output names
  inference-engine/src/gna_plugin/gna_model_serial.cpp
  inference-engine/src/gna_plugin/gna_model_serial.hpp
  inference-engine/src/gna_plugin/serial/headers/2dot3/gna_model_header.hpp
  inference-engine/src/gna_plugin/serial/headers/latest/gna_model_header.hpp
  inference-engine/tests/functional/plugin/gna/import_export_network.cpp
Labels: category: GNA

#2771 [GNA] Fix cases when identities inserted identites are separated by nonFunctional layers
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/memory_eltwise_reshape_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/memory_eltwise_reshape_concat.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/memory_eltwise_reshape_concat.cpp
Labels: category: GNA, category: IE Tests

#2948 Fixed README
  inference-engine/ie_bridges/python/README.md
Labels: category: docs

#2932 support Interpolate layer for some cases
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/stage_builder.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/interp.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/interpolate.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/resample.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/interpolate.cpp
Labels: category: VPU

#2873 [VPU] Support for Bidirectional mode in Broadcast DTS
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_broadcast.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_broadcast.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/nonzero_broadcast.cpp
Labels: category: IE Tests, category: VPU

#2877 Abort previous builds on PR update
  .ci/openvino-onnx/Jenkinsfile
Labels: category: CI, category: onnx importer

#2949 [IE CLDNN] Fix X/Y swap in NV12 shared surface input layout
  inference-engine/src/cldnn_engine/cldnn_program.cpp
Labels: category: GPU

#2825 Add IR reader test for hsigmoid op
  inference-engine/src/transformations/src/transformations/op_conversions/hsigmoid_decomposition.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/hsigmoid_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/hsigmoid_decomposition_test.cpp
Labels: category: IE Tests, category: nGraph

#2895 [GNA] Set default compact mode
  docs/IE_DG/supported_plugins/GNA.md
  inference-engine/src/gna_plugin/descriptions/gna_flags.hpp
  inference-engine/tests/unit/gna/gna_plugin_config_test.cpp
Labels: category: GNA, category: docs

#2918 Added info on DockerHub CI Framework
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
Labels: category: docs

#2919 Added info on DockerHub CI Framework
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
Labels: category: docs

#2916 Aligned python read_network() with C/C++ behaviour
  inference-engine/ie_bridges/python/sample/classification_sample_async/classification_sample_async.py
  inference-engine/ie_bridges/python/sample/hello_classification/hello_classification.py
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/tests/test_IECore.py
Labels: category: python api, category: samples

#2957 [IE TESTS] Fix reg exp for issue 42029
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests

#2942 Sigmoid revise
  docs/ops/activation/Sigmoid_1.md
  ngraph/core/reference/include/ngraph/runtime/reference/sigmoid.hpp
Labels: category: docs, category: nGraph

#2950 Updated requirements dependency
  model-optimizer/requirements.txt
  model-optimizer/requirements_tf.txt
Labels: category: MO

#2203 [IE] Add batched blob support
  inference-engine/include/ie_compound_blob.h
  inference-engine/include/ie_plugin_config.hpp
  inference-engine/samples/hello_nv12_input_classification/main.cpp
  inference-engine/src/inference_engine/ie_compound_blob.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/set_blob_of_kind.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/set_blob_of_kind.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/set_blob_of_kind.hpp
  inference-engine/tests/functional/plugin/shared/src/behavior/set_blob_of_kind.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/blob_utils.hpp
Labels: category: IE common, category: c api, enhancement, pr: needs tests

#2951 Azure CL: Improve yaml
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#2960 Feature/azaytsev/cherry pick pr2541 to 2021 1
  docs/doxygen/openvino_docs.xml
  docs/model_server/README.md
Labels: category: docs

#2733 Expand ONNX functions to sub-graphs before import
  ngraph/CMakeLists.txt
  ngraph/cmake/external_onnx.cmake
  ngraph/frontend/onnx_import/include/onnx_import/core/model.hpp
  ngraph/frontend/onnx_import/include/onnx_import/core/transform.hpp
  ngraph/frontend/onnx_import/src/core/model.cpp
  ngraph/frontend/onnx_import/src/core/transform.cpp
  ngraph/frontend/onnx_import/src/onnx.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/test/models/onnx/quantization/dynamicquantizelinear.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/onnx/onnx_import_library.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: ONNX, category: nGraph, category: onnx importer

#2596 [ONNX][PyTests] Fix result datatype missmatch
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  ngraph/frontend/onnx_import/src/op/non_max_suppression.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/runtime.py
  ngraph/python/tests/test_ngraph/test_basic.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/logical_and.in.cpp
Labels: category: CPU, category: nGraph, category: onnx importer

#2849 [IE CLDNN] Convolutition optimizations for small channels count
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_mmad_bfyx_to_b_fs_yx_fsv32.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_mmad_bfyx_to_b_fs_yx_fsv32.cl
Labels: category: GPU

#2778 [IE CLDNN] Add asymmetric quantization support to fsv16 imad general convolution kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_zyx_fsv16_imad.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_b_fs_zyx_fsv16_imad.cl
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU, feature

#2934 [CPU] CTCLoss sporadic issue.
  inference-engine/src/mkldnn_plugin/nodes/ctc_loss.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: IE Tests

#2913 [IE CLDNN] Added inference precision into execution graph
  inference-engine/src/cldnn_engine/cldnn_graph.cpp
  inference-engine/thirdparty/clDNN/api/layout.hpp
  inference-engine/thirdparty/clDNN/api/primitive.hpp
  inference-engine/thirdparty/clDNN/src/program.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/spatial_concatenate_gpu_test.cpp
Labels: category: GPU

#2901 Fix serialization of execution graph.
  inference-engine/src/plugin_api/exec_graph_info.hpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/exec_graph.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/models/addmul_abc_execution.xml
Labels: category: IE common

#2964 Update Custom_Layers_Guide.md
  docs/HOWTO/Custom_Layers_Guide.md
Labels: category: docs

#2973 Fix testcase CheckExecGraphInfoSerialization
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/exec_graph_info.hpp
Labels: category: IE Tests

#2958 Remove obsoleted v0::QuantizedConvolution op
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/quantized_convolution.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/src/op/quantized_convolution.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/quantized_convolution.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/quantized_convolution.cpp
Labels: category: nGraph

#2908 Remove obsoleted v0::Slice and v0::Split ops
  inference-engine/src/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  inference-engine/tests/functional/inference_engine/transformations/algebraic_simplification.cpp
  inference-engine/tests/functional/inference_engine/transformations/nop_elimination.cpp
  ngraph/core/builder/src/builder/matmul_factory.cpp
  ngraph/core/builder/src/builder/split.cpp
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/slice.hpp
  ngraph/core/include/ngraph/op/split.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/src/op/concat.cpp
  ngraph/core/src/op/group_conv.cpp
  ngraph/core/src/op/slice.cpp
  ngraph/core/src/op/split.cpp
  ngraph/frontend/onnx_import/src/op/conv.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/backend/split.in.cpp
  ngraph/test/build_graph.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/copy.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/runtime/op/group_conv.cpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/pass/dyn_elimination.cpp
  ngraph/test/runtime/pass/opset0_downgrade.cpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
  ngraph/test/type_prop/slice.cpp
  ngraph/test/type_prop/split.cpp
Labels: category: IE Tests, category: nGraph

#2938 Remove obsoleted v0::Sum op
  inference-engine/src/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  inference-engine/tests/functional/inference_engine/transformations/algebraic_simplification.cpp
  inference-engine/tests/functional/inference_engine/transformations/nop_elimination.cpp
  ngraph/core/builder/src/builder/norm.cpp
  ngraph/core/builder/src/builder/reduce_ops.cpp
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/sum.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/src/op/broadcast.cpp
  ngraph/core/src/op/softmax.cpp
  ngraph/core/src/op/sum.cpp
  ngraph/core/src/op/util/broadcast_base.cpp
  ngraph/core/src/pass/constant_folding_arithmetic_reduction.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/sum.in.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/copy.cpp
  ngraph/test/op_is.cpp
  ngraph/test/pattern.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/pass/opset0_downgrade.cpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
  ngraph/test/type_prop/sum.cpp
Labels: category: IE Tests, category: nGraph

#2979 Update onnx python tests
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
Labels: category: nGraph

#2974 Multi process build for MSVC
  cmake/os_flags.cmake
Labels: category: IE common, category: build

#2968 Enable LTO only for Release
  docs/template_plugin/src/CMakeLists.txt
  inference-engine/ie_bridges/c/src/CMakeLists.txt
  inference-engine/src/cldnn_engine/CMakeLists.txt
  inference-engine/src/gna_plugin/CMakeLists.txt
  inference-engine/src/hetero_plugin/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/legacy_api/CMakeLists.txt
  inference-engine/src/low_precision_transformations/CMakeLists.txt
  inference-engine/src/low_precision_transformations_legacy/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/multi_device/CMakeLists.txt
  inference-engine/src/preprocessing/CMakeLists.txt
  inference-engine/src/readers/ir_reader/CMakeLists.txt
  inference-engine/src/readers/ir_reader_v7/CMakeLists.txt
  inference-engine/src/readers/onnx_reader/CMakeLists.txt
  inference-engine/src/transformations/CMakeLists.txt
  inference-engine/src/vpu/common/CMakeLists.txt
  inference-engine/src/vpu/graph_transformer/CMakeLists.txt
  inference-engine/src/vpu/myriad_plugin/CMakeLists.txt
  inference-engine/tests/functional/plugin/myriad/CMakeLists.txt
  inference-engine/tests_deprecated/unit/CMakeLists.txt
Labels: category: CPU, category: GNA, category: GPU, category: IE Tests, category: IE common, category: MULTI, category: VPU, category: build, category: docs, category: nGraph

#2966 Moved find_package(TBB) inside set_ie_threading_interface_for
  inference-engine/cmake/ie_parallel.cmake
Labels: category: IE common, category: build

#2936 Update ONNX models preprocessing script
  .ci/openvino-onnx/Jenkinsfile
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/model_zoo_preprocess.sh
  ngraph/python/tests/test_onnx/test_zoo_models.py
Labels: category: CI, category: nGraph

#2880 [VPU] Change StaticShapeNMS constructor to fix absent NMS-5 inputs
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_non_maximum_suppression.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_non_maximum_suppression.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_non_max_suppression.cpp
Labels: category: VPU

#2961 Fix ngraph core opset createinsensitive
  ngraph/core/src/opsets/opset.cpp
Labels: ExternalPR, bug, category: nGraph

#2969 [install_prerequisites.sh] remove libgfortran5, add framework to venv folder name
  model-optimizer/install_prerequisites/install_prerequisites.sh
Labels: category: MO

#2980 [ICV][VPU] Proposal stage: fixed check for optional 2nd output
  inference-engine/src/vpu/graph_transformer/src/stages/proposal.cpp
Labels: category: VPU

#2893 [GNA] support for 3D [1,1,X] import/output
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/eltwise.cpp
Labels: category: GNA

#2971 Added support for the Loop operation in the MO IR Reader
  model-optimizer/automation/package_BOM.txt
  model-optimizer/mo/utils/ir_reader/extenders/loop_extender.py
  model-optimizer/mo/utils/ir_reader/extenders/parameter_extender.py
Labels: category: MO

#2988 ovms doc fix
  docs/model_server/README.md
Labels: category: docs

#2871 [IE CLDNN] Plugin-side kernels caching
  inference-engine/include/ie_plugin_config.hpp
  inference-engine/src/cldnn_engine/cldnn_config.cpp
  inference-engine/src/cldnn_engine/cldnn_config.h
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.cpp
  inference-engine/tests/functional/plugin/gpu/behavior/cache.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/core_threading_tests.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/file_utils.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/unicode_utils.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/w_dirent.h
  inference-engine/thirdparty/clDNN/api/engine.hpp
  inference-engine/thirdparty/clDNN/api/program.hpp
  inference-engine/thirdparty/clDNN/src/engine.cpp
  inference-engine/thirdparty/clDNN/src/gpu/configuration.cpp
  inference-engine/thirdparty/clDNN/src/gpu/configuration.h
  inference-engine/thirdparty/clDNN/src/gpu/kernels_cache.cpp
  inference-engine/thirdparty/clDNN/src/gpu/kernels_cache.h
Labels: category: GPU

#2768 [CPU] Added support NMS-5
  inference-engine/src/mkldnn_plugin/nodes/non_max_suppression.cpp
Labels: category: CPU

#2985 Feature/azaytsev/layout updates
  docs/doxygen/ie_docs.xml
  docs/doxygen/openvino_docs.xml
  docs/model_server/README.md
Labels: category: docs

#2917 Remove deprecated v0::Softmax
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/softmax.hpp
  ngraph/core/src/op/softmax.cpp
  ngraph/test/backend/softmax.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
Labels: category: nGraph

#2947 Remove deprecated v0::TopK
  inference-engine/tests/functional/inference_engine/transformations/algebraic_simplification.cpp
  inference-engine/tests/functional/inference_engine/transformations/nop_elimination.cpp
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/op/topk.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/topk.hpp
  ngraph/core/src/op/topk.cpp
  ngraph/test/backend/topk.in.cpp
  ngraph/test/eval.cpp
  ngraph/test/onnx/onnx_import_provenance.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/provenance.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/pass/opset0_downgrade.cpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
  ngraph/test/type_prop/top_k.cpp
Labels: category: IE Tests, category: nGraph

#2912 [OpenCL] movi-cltools-20.09.2
  inference-engine/cmake/vpu_dependencies.cmake
Labels: category: IE common

#2869 Low Latency transformation
  inference-engine/include/ie_transformations.hpp
  inference-engine/include/inference_engine.hpp
  inference-engine/src/gna_plugin/CMakeLists.txt
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/inference_engine/ie_transformations.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/transformations/include/transformations/common_optimizations/low_latency.hpp
  inference-engine/src/transformations/include/transformations/control_flow/unroll_tensor_iterator.hpp
  inference-engine/src/transformations/src/transformations/control_flow/unroll_tensor_iterator.cpp
  inference-engine/tests/functional/inference_engine/transformations/low_latency_test.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/basic_lstm.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/memory_LSTMCell.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/multiple_LSTMCell.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/basic_lstm.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/memory_LSTMCell.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/multiple_LSTMCell.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  ngraph/core/include/ngraph/function.hpp
  ngraph/core/include/ngraph/op/sink.hpp
  ngraph/core/include/ngraph/pass/low_latency.hpp
  ngraph/core/src/op/loop.cpp
  ngraph/core/src/op/tensor_iterator.cpp
  ngraph/core/src/pass/low_latency.cpp
Labels: category: GNA, category: IE Tests, category: IE common, category: IE transformations

#2930 [LPT] integration branch: Reshape fix, Concat generalization, runtime info usage extending
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/src/common/add.cpp
  inference-engine/src/low_precision_transformations/src/common/concat.cpp
  inference-engine/src/low_precision_transformations/src/common/convolution.cpp
  inference-engine/src/low_precision_transformations/src/common/fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/common/fuse_convert.cpp
  inference-engine/src/low_precision_transformations/src/common/mat_mul.cpp
  inference-engine/src/low_precision_transformations/src/common/mvn.cpp
  inference-engine/src/low_precision_transformations/src/common/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/common/normalize_l2.cpp
  inference-engine/src/low_precision_transformations/src/common/reshape.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/max_pool_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/move_dequantization_after_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/normalize_l2_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/relu_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/reshape_transformation.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/common/builders.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/common/fake_quantize_on_data.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/concat_function.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/move_dequantization_after_function.hpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/add_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/common/builders.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/concat_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/convert_mul_or_add_finally_with_dequantization_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/convolution_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/fake_quantize_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/mat_mul_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/max_pool_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/move_dequantization_after_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/mul_add_to_scaleshift_or_power_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/multiply_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/mvn_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/normalize_l2_function.cpp
Labels: category: LP transformations

#2770 See Also sections in MO Guide
  docs/MO_DG/IR_and_opsets.md
  docs/MO_DG/Known_Issues_Limitations.md
  docs/MO_DG/prepare_model/Config_Model_Optimizer.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model_General.md
  docs/MO_DG/prepare_model/convert_model/Cutting_Model.md
  docs/MO_DG/prepare_model/convert_model/IR_suitable_for_INT8_inference.md
  docs/MO_DG/prepare_model/convert_model/kaldi_specific/Aspire_Tdnn_Model.md
Labels: WIP, category: docs, category: nGraph

#2848 Fix the NHWC->NCHW transformation for dynamic weights
  model-optimizer/extensions/middle/MarkSubgraphsWithCorrectLayout.py
  model-optimizer/mo/graph/perm_inputs.py
Labels: category: MO

#2356 Extend MO for the operation NonMaxSuppression-5
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/non_max_suppression_normalize.py
  model-optimizer/extensions/front/tf/non_max_suppression_normalize.py
  model-optimizer/extensions/ops/non_max_suppression.py
Labels: category: MO

#2952 Remove legacy files (licenses and some scripts)
  ngraph/CMakeLists.txt
  ngraph/LICENSE
  ngraph/licenses/googletest-license.txt
  ngraph/licenses/numpy-license.txt
  ngraph/licenses/protobuf-license.txt
  ngraph/licenses/pybind11-license.txt
  ngraph/maint/create_release.py
  ngraph/maint/external-prereq-packages.ubuntu-16.04.txt
  ngraph/python/setup.py
Labels: category: nGraph

#2910 [CPU] Refactored pushInput
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.h
  inference-engine/src/mkldnn_plugin/mkldnn_memory.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_memory.h
  inference-engine/src/mkldnn_plugin/nodes/common/cpu_convert.cpp
Labels: category: CPU

#3027 Fix versions for ONNX tests
  ngraph/python/requirements.txt
  ngraph/python/requirements_test.txt
Labels: category: nGraph

#2982 DOC: fix for hetero example (https://jira.devtools.intel.com/browse/CVS-33836)
  docs/optimization_guide/dldt_optimization_guide.md
Labels: category: docs

#2789 [GNA] Add support for SubstituteSoftSign for pattern with addition
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/softsign.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/softsign.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/softsign.cpp
Labels: category: GNA, category: IE Tests

#3012 [Jenkinsfile] Get rid of dldtPipelineEntrypoint
  Jenkinsfile
Labels: category: CI

#3026 Removed legacy dependency in template_extensions
  docs/template_extension/CMakeLists.txt
  ngraph/core/src/op/non_max_suppression.cpp
Labels: category: build, category: docs, category: nGraph

#3037 Apply rest of the comments for NMS-5 review
  ngraph/core/reference/include/ngraph/runtime/reference/non_max_suppression.hpp
  ngraph/core/reference/src/runtime/reference/non_max_suppression.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
Labels: category: nGraph

#3034 Updated MO requirements for numpy
  model-optimizer/requirements.txt
  model-optimizer/requirements_caffe.txt
  model-optimizer/requirements_kaldi.txt
  model-optimizer/requirements_mxnet.txt
  model-optimizer/requirements_onnx.txt
  model-optimizer/requirements_tf.txt
  model-optimizer/requirements_tf2.txt
Labels: category: MO

#3003 [ONNX] Return NMS-5 generation
  ngraph/frontend/onnx_import/src/op/non_max_suppression.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
Labels: category: nGraph, category: onnx importer

#3008 [CPU] Fixed Eltwise node endless loop in case nthreads = 1
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_eltwise_node.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/eltwise.cpp
Labels: category: CPU, category: IE Tests

#3016 Update get started Linux instructions
  get-started-linux.md
Labels: category: docs

#2353 [CPU] fixed strides filling in blocking desc
  inference-engine/src/mkldnn_plugin/mkldnn_memory.cpp
Labels: category: CPU, pr: needs tests

#2699 [IE TESTS] Replaced size_t with int64_t
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/tile.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/tile.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/batch_to_space.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/space_to_batch.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/split.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/tile.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/batch_to_space.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/space_to_batch.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/split.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/batch_to_space.cpp
  inference-engine/tests/ngraph_functions/src/space_to_batch.cpp
  inference-engine/tests/ngraph_functions/src/split.cpp
  inference-engine/tests/ngraph_functions/src/tile.cpp
Labels: category: IE Tests

#2959 [ONNX Importer] Resolved problem with incorrect opset version set in subgraph
  ngraph/frontend/onnx_import/include/onnx_import/core/graph.hpp
  ngraph/frontend/onnx_import/include/onnx_import/core/model.hpp
  ngraph/frontend/onnx_import/src/core/attribute.cpp
  ngraph/frontend/onnx_import/src/core/graph.cpp
  ngraph/frontend/onnx_import/src/core/model.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
  ngraph/test/models/onnx/loop/loop_2d_mul_opset1.prototxt
  ngraph/test/onnx/onnx_import_controlflow.in.cpp
Labels: category: nGraph, category: onnx importer

#3048 Set friendly name in order to operate with it on visit attributes and validate stages
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
Labels: category: nGraph

#3024 [IE Myriad] Fixing global_lock_fd locking in mvnc
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_api.c
Labels: category: VPU

#3044 OneCore toolchain
  cmake/api_validator/api_validator.cmake
  cmake/api_validator/api_validator_run.cmake
  cmake/onecoreuap.toolchain.cmake
  cmake/os_flags.cmake
  cmake/uwp.toolchain.cmake
  inference-engine/src/cldnn_engine/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/readers/CMakeLists.txt
  inference-engine/src/readers/reader_api/ie_blob_stream.cpp
  inference-engine/src/readers/reader_api/ie_blob_stream.hpp
  inference-engine/src/vpu/myriad_plugin/CMakeLists.txt
  ngraph/CMakeLists.txt
  ngraph/cmake/external_protobuf.cmake
Labels: category: GPU, category: IE common, category: VPU, category: build, category: nGraph, platform: win32

#3009 [GNA] Added fix for export scores
  inference-engine/samples/speech_sample/main.cpp
Labels: category: GNA

#2874 [GNA] fixed case when input connected to concat from left and const from right
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_compiler.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/first_connect_input_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/first_connect_input_concat.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/first_connect_input_concat.cpp
Labels: category: GNA

#3002 Provide GatherND with original layout for inputs and output
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/LayoutChangeForGatherND.py
  model-optimizer/extensions/back/LayoutChangeForGatherND_test.py
Labels: category: MO

#2954 Reshape-able SliceConverter
  model-optimizer/extensions/front/tf/TFSliceToSlice.py
  model-optimizer/extensions/front/tf/TFSliceToSlice_test.py
  model-optimizer/extensions/middle/SliceConverter.py
  model-optimizer/extensions/middle/SliceConverter_test.py
Labels: bug, category: MO

#3004 Support new activation layer "ceil" for VPU
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/ceiling.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/activation.cpp
Labels: category: IE Tests, category: VPU

#2470 [GNA] Added Multiplication 1x1x1
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/broadcast_power.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/broadcast_power.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/broadcast_power.cpp
Labels: category: GNA

#2456 [CPU] Proposal layer. Check zero dims with normalization.
  inference-engine/src/mkldnn_plugin/nodes/proposal.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/invalid_cases/proposal.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/invalid_cases/proposal.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/proposal.hpp
  inference-engine/tests/functional/plugin/shared/src/behavior/invalid_cases/proposal.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/proposal.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/proposal.cpp
Labels: category: CPU, category: IE Tests

#3056 Fix wrong statement in ConvertConvolutions transformation
  inference-engine/src/transformations/src/transformations/op_conversions/convert_convolutions.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_convolution_test.cpp
Labels: category: IE Tests, category: nGraph

#2945 [IE CLDNN] Added LogSoftmax-5 operation
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/cldnn_engine/cldnn_program.h
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/log_softmax.cpp
Labels: category: GPU

#3063 Added support for a new version of the TF OD API pre-processing part
  model-optimizer/extensions/front/tf/ObjectDetectionAPI.py
Labels: category: MO

#2994 [IE CLDNN] Add asymmetric quantization support to reference convolution imad kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_imad.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/fused_conv_eltwise_gpu_imad.cl
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#3040 [VPU][Tests] Fix NMS DTS outputs naming + tests
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_non_max_suppression.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_non_max_suppression.cpp
  inference-engine/tests/ngraph_functions/src/utils/ngraph_helpers.cpp
Labels: category: IE Tests, category: VPU

#3073 Fix GatherND to output dynamic rank tensor
  ngraph/core/src/op/gather_nd.cpp
  ngraph/test/type_prop/gather_nd.cpp
Labels: category: nGraph

#2795 Fix spelling errors in samples and documentation
  docs/HOWTO/add_regression_test_vpu.md
  docs/IE_DG/Extensibility_DG/VPU_Kernel.md
  docs/IE_DG/Int8Inference.md
  docs/IE_DG/supported_plugins/GNA.md
  docs/IE_DG/supported_plugins/HDDL.md
  docs/IE_PLUGIN_DG/Plugin.md
  docs/IE_PLUGIN_DG/PluginTesting.md
  docs/Inference_Engine_Development_Procedure/IE_Dev_Procedure.md
  docs/MO_DG/prepare_model/convert_model/Legacy_IR_Layers_Catalog_Spec.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_Model_Optimizer_with_New_Primitives.md
  docs/MO_DG/prepare_model/customize_model_optimizer/TensorFlow_Faster_RCNN_ObjectDetection_API.md
  docs/install_guides/VisionAcceleratorFPGA_Configure_2018R5.md
  docs/nGraph_DG/nGraphTransformation.md
  docs/ops/arithmetic/Round_5.md
  docs/ops/arithmetic/Subtract_1.md
  docs/ops/infrastructure/Parameter_1.md
  docs/ops/movement/VariadicSplit_1.md
  docs/ops/sequence/CTCLoss_4.md
  docs/ops/sequence/GRUSequence_5.md
  docs/ops/sequence/LSTMSequence_1.md
  docs/ops/sequence/RNNSequence_5.md
  docs/template_plugin/src/template_executable_network.cpp
  inference-engine/ie_bridges/c/docs/api_overview.md
  inference-engine/ie_bridges/c/samples/common/opencv_c_wraper/opencv_c_wraper.h
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/main.c
  inference-engine/ie_bridges/java/samples/README.md
  inference-engine/ie_bridges/java/samples/benchmark_app/Main.java
  inference-engine/ie_bridges/python/sample/style_transfer_sample/README.md
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
  inference-engine/samples/benchmark_app/README.md
  inference-engine/samples/benchmark_app/main.cpp
  inference-engine/samples/benchmark_app/statistics_report.cpp
  inference-engine/samples/common/format_reader/opencv_wraper.h
  inference-engine/samples/common/samples/classification_results.h
  inference-engine/samples/speech_sample/README.md
Labels: category: IE common, category: docs, category: python api

#2902 Removal of obsolete constant folding passes
  ngraph/core/include/ngraph/op/gather.hpp
  ngraph/core/include/ngraph/op/one_hot.hpp
  ngraph/core/include/ngraph/op/quantize.hpp
  ngraph/core/include/ngraph/op/select.hpp
  ngraph/core/include/ngraph/pass/constant_folding.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/min.hpp
  ngraph/core/reference/src/runtime/reference/eval_helpers.cpp
  ngraph/core/src/op/gather.cpp
  ngraph/core/src/op/min.cpp
  ngraph/core/src/op/one_hot.cpp
  ngraph/core/src/op/quantize.cpp
  ngraph/core/src/op/reduce_logical_and.cpp
  ngraph/core/src/op/reduce_logical_or.cpp
  ngraph/core/src/op/scatter_elements_update.cpp
  ngraph/core/src/op/select.cpp
  ngraph/core/src/pass/constant_folding.cpp
  ngraph/core/src/pass/constant_folding_arithmetic_reduction.cpp
  ngraph/core/src/pass/constant_folding_convert.cpp
  ngraph/core/src/pass/constant_folding_gather.cpp
  ngraph/core/src/pass/constant_folding_logical_reduction.cpp
  ngraph/core/src/pass/constant_folding_one_hot.cpp
  ngraph/core/src/pass/constant_folding_quantize.cpp
  ngraph/core/src/pass/constant_folding_scatter.cpp
  ngraph/core/src/pass/constant_folding_select.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/models/onnx/tile.prototxt
  ngraph/test/onnx/onnx_import_dyn_shapes.in.cpp
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: nGraph

#3052 retinanet onnx model has Upsample error
  model-optimizer/extensions/middle/ONNXResize11ToInterpolateV4.py
  model-optimizer/extensions/ops/ONNXResize11.py
  model-optimizer/extensions/ops/ONNXResize11_test.py
Labels: category: MO

#2993 [IE][VPU] Optimize swish layer and remove swish replacement pass
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/pass_manager.hpp
  inference-engine/src/vpu/graph_transformer/src/middleend/pass_manager.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/decompose_swish.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/swish.cpp
Labels: category: IE common, category: VPU

#2987 [LPT] Dequantization constant output precision handling extending
  inference-engine/src/low_precision_transformations/include/low_precision/common/subgraph.hpp
  inference-engine/src/low_precision_transformations/src/common/concat.cpp
  inference-engine/src/low_precision_transformations/src/common/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/common/subgraph.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_with_different_precision_on_childs.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_with_reshape_at_the_end_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/move_dequantization_after_with_int_constant_transformation.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/common/dequantization_operations.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/concat_function.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/move_dequantization_after_with_int_constant_function.hpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/common/builders.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/common/dequantization_operations.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/concat_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/move_dequantization_after_with_int_constant_function.cpp
Labels: category: LP transformations

#3074 Don't build extra module if it doesn't have cmake files
  inference-engine/CMakeLists.txt
Labels: category: IE common, category: build

#3066 [IE][VPU]: Implement VPU Ngraph EIP->ReorgYolo transformation
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/convert_extract_image_patches_to_reorg_yolo.hpp
  inference-engine/src/vpu/common/src/ngraph/transformations/convert_extract_image_patches_to_reorg_yolo.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/convert_extract_image_patches_to_reorg_yolo_vpu.cpp
Labels: category: IE Tests, category: VPU

#3078 Fixed transformations looking for FusedBatchNorm operation to look for FBNV2 and FBNV3 also
  model-optimizer/extensions/front/tf/mvn.py
  model-optimizer/extensions/middle/FusedBatchNormNonConstant.py
  model-optimizer/extensions/middle/FusedBatchNormTraining.py
  model-optimizer/extensions/middle/FusedBatchNormTraining_test.py
Labels: category: MO

#2707 Summary report generator for layer and subgraph tests
  inference-engine/tests/functional/plugin/cpu/main.cpp
  inference-engine/tests/functional/plugin/gna/main.cpp
  inference-engine/tests/functional/plugin/gpu/main.cpp
  inference-engine/tests/functional/plugin/myriad/main.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
  inference-engine/tests/ie_test_utils/functional_test_utils/skip_tests_config.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/skip_tests_config.hpp
Labels: category: IE Tests

#3089 Fixed KW for Windows
  ngraph/core/include/ngraph/op/interpolate.hpp
  ngraph/core/include/ngraph/shape.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/gather_nd.hpp
  ngraph/core/reference/src/runtime/reference/loop.cpp
Labels: category: nGraph

#2963 [IE] support different modes for Interpolate
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/stage_builder.hpp
  inference-engine/src/vpu/graph_transformer/src/stages/interpolate.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/resample.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/interpolate.cpp
Labels: category: IE Tests, category: VPU

#2586 [CPU] Converted Pad Layer to MKLDNNNode and added optimized implementations cases
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pad_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pad_node.h
  inference-engine/src/mkldnn_plugin/nodes/pad.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/pad.cpp
  ngraph/core/reference/src/runtime/reference/pad.cpp
Labels: category: CPU

#3091 Removed const_cast from addOutput method
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
Labels: category: IE common

#3075 add getting nms_threshold / iou_threshold from RetinaNet
  model-optimizer/extensions/front/tf/RetinaNetFilteredDetectionsReplacement.py
  model-optimizer/extensions/front/tf/non_max_suppression_ext.py
  model-optimizer/extensions/front/tf/retinanet.json
  model-optimizer/extensions/ops/non_max_suppression.py
Labels: category: MO

#2989 [GNA] Added tests for negative memory layer offset and split - trivial permute - concat scenario
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/negative_memory_layer_offset.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/split_trivial_permute_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/negative_memory_layer_offset.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/split_trivial_permute_concat.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/negative_memory_layer_offset.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/split_trivial_permute_concat.cpp
Labels: category: IE Tests

#3025 [VPU] GatherND DTS transformation
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/dynamic_to_static_shape_gather_nd.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/utilities.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_broadcast.cpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_reshape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_binary_elementwise.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_concat.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_gather.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_gather_nd.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_matmul.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_roialign.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_strided_slice.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_topk.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_variadic_split.cpp
  inference-engine/src/vpu/common/src/ngraph/utilities.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_gather.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_gather_nd.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_topk.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_variadic_split.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_gather_nd.cpp
Labels: category: IE Tests, category: VPU

#3099 [Scripts] install_NEO_OCL_driver: Added user to render group
  scripts/install_dependencies/install_NEO_OCL_driver.sh
Labels: category: CI

#3097 Disable test ExecGraphSerializationTest.ExecutionGraph_CPU
  inference-engine/ie_bridges/c/tests/ie_c_api_test.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/exec_graph.cpp
Labels: category: IE Tests

#2943 [VPU][NGraph] Extend TopK K propagation
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_topk.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_topk.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/topk_k_propagation.cpp
  ngraph/core/src/validation_util.cpp
Labels: category: VPU, category: nGraph

#3088 [IE CLDNN] Fixed fmt traits map
  inference-engine/thirdparty/clDNN/api/tensor.hpp
Labels: category: GPU

#3043 [IE CLDNN] Cleanup cldnn source tree and README
  inference-engine/thirdparty/clDNN/.clang-format
  inference-engine/thirdparty/clDNN/.gitignore
  inference-engine/thirdparty/clDNN/CMakeLists.txt
  inference-engine/thirdparty/clDNN/README.md
  inference-engine/thirdparty/clDNN/api/cldnn.hpp
  inference-engine/thirdparty/clDNN/create_msvc_mscc.bat
  inference-engine/thirdparty/clDNN/create_msvc_mscc_vs17.bat
  inference-engine/thirdparty/clDNN/create_unixmake_gcc.sh
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_params.h
  inference-engine/thirdparty/clDNN/src/cldnn.cpp
  inference-engine/thirdparty/clDNN/src/gpu/cache/cache_types.h
  inference-engine/thirdparty/clDNN/src/gpu/cache/common_types.h
  inference-engine/thirdparty/clDNN/src/gpu/cache/kernels/pooling_gpu_bfyx_average_opt.cl
  inference-engine/thirdparty/clDNN/src/gpu/cache/manager_types.h
  inference-engine/thirdparty/clDNN/src/include/kernel_selector_helper.h
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
  inference-engine/thirdparty/clDNN/utils/build/cmake/modules/BuildExternalProject.cmake
  inference-engine/thirdparty/clDNN/utils/codegen/generate_api_wrappers.py
  inference-engine/thirdparty/clDNN/version.json
Labels: category: GPU

#3067 [LPT] POT support: absent convert fix & element-wise empty dequantization data
  inference-engine/src/low_precision_transformations/src/common/eltwise_base_transformation.cpp
  inference-engine/src/low_precision_transformations/src/common/network_helper.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/elementwise_with_multi_parent_dequantization_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/max_pool_transformation.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/elementwise_with_multi_parent_dequantization_function.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/max_pool_function.hpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/elementwise_with_multi_parent_dequantization_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/max_pool_function.cpp
Labels: category: LP transformations

#3107 Hetero KW warning fix
  inference-engine/src/hetero_plugin/hetero_plugin.cpp
Labels: category: HETERO

#3029 Add Dependabot configuration
  .github/dependabot.yml
Labels: category: CI, category: IE common

#2997 [IE CLDNN] Eltwise fusings fix
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU

#3096 [OpenVino ONNX CI watchdog] Small improvements
  .ci/openvino-onnx/watchdog/Jenkinsfile
  .ci/openvino-onnx/watchdog/src/git_wrapper.py
  .ci/openvino-onnx/watchdog/src/watchdog.py
Labels: category: CI

#3113 Improve ConvertBroadcast3 pass to avoid extra Multiply operations for BIDIRECTIONAL mode
  inference-engine/src/transformations/include/transformations/op_conversions/convert_broadcast3.hpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_broadcast3.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_broadcast3_test.cpp
Labels: category: IE Tests, category: nGraph

#2866 [nGraph] MatMul - Remove fused op and align output shape inference
  ngraph/core/include/ngraph/op/matmul.hpp
  ngraph/core/src/op/matmul.cpp
  ngraph/test/backend/matmul.in.cpp
  ngraph/test/type_prop/matmul.cpp
Labels: category: nGraph

#3042 Enable CPU and Interpreter Loop tests
  ngraph/frontend/onnx_import/src/op/loop.cpp
  ngraph/test/models/onnx/loop/loop_2d_add_cond_and_trip_count_as_inputs_static_shapes.prototxt
  ngraph/test/models/onnx/loop/loop_2d_add_const_no_identity_termination_cond_static_shapes.prototxt
  ngraph/test/models/onnx/loop/loop_2d_add_no_identity_termination_cond_static_shapes.prototxt
  ngraph/test/onnx/onnx_import_controlflow.in.cpp
  ngraph/test/runtime/dynamic/dynamic_backend.cpp
  ngraph/test/runtime/dynamic/dynamic_backend.hpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
  ngraph/test/util/engine/ie_engines.hpp
Labels: category: nGraph

#3118 Revert "Reshape-able SliceConverter (#2954)"
  model-optimizer/extensions/front/tf/TFSliceToSlice.py
  model-optimizer/extensions/front/tf/TFSliceToSlice_test.py
  model-optimizer/extensions/middle/SliceConverter.py
  model-optimizer/extensions/middle/SliceConverter_test.py
Labels: category: MO

#2967 nGraph: fix TopK output shape inference
  ngraph/core/src/op/topk.cpp
  ngraph/test/type_prop/top_k.cpp
Labels: category: nGraph

#3081 [IE CLDNN] Fixed pad value used for input coords calculation in fsv16 imad conv
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_b_fs_zyx_fsv16_imad.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/fused_conv_eltwise_gpu_imad.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#3033 ONNX LSTM fix get_shape error
  ngraph/frontend/onnx_import/src/op/lstm.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
  ngraph/test/models/onnx/dynamic_shapes/lstm_dyn_batch_seq.prototxt
  ngraph/test/onnx/onnx_import_rnn.in.cpp
Labels: category: nGraph, category: onnx importer

#3083 [CPU] fix NMS-5 CentOS7 error
  inference-engine/src/mkldnn_plugin/nodes/non_max_suppression.cpp
Labels: category: CPU

#2970 [GNA] 4D concat align pass
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin_policy.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/concat_4D.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/concat_4D.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/concat_4D.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/matmul_squeeze_add.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/memory_LSTMCell.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/multiple_LSTMCell.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/multiple_concat.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/perm_conv_perm_concat.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
Labels: category: GNA, category: IE Tests

#3124 Enable tests
  inference-engine/ie_bridges/c/tests/ie_c_api_test.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/exec_graph.cpp
Labels: category: IE Tests, category: IE common

#3127 [GNA] Fix 4d batch size eltwise issue
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/fake_quantize.cpp
Labels: category: GNA, category: IE Tests

#3109 Propogate DEVICE_ID for functions working with RemoteContext
  inference-engine/include/gpu/gpu_ocl_wrapper.hpp
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.h
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/src/inference_engine/ie_plugin_cpp.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_plugin_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/basic_lstm.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/memory_LSTMCell.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/memory_eltwise_reshape_concat.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/multiple_LSTMCell.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/negative_memory_layer_offset.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iinference_plugin.hpp
Labels: category: IE common

#3079 [IE][VPU][XLink]: XLink semaphore wrappers impl
  inference-engine/thirdparty/movidius/XLink/pc/Win/include/win_synchapi.h
  inference-engine/thirdparty/movidius/XLink/pc/Win/src/win_synchapi.c
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkPrivateDefines.h
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkSemaphore.h
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkStream.h
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDevice.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDispatcher.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDispatcherImpl.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkPrivateFields.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkSemaphore.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkStream.c
Labels: category: VPU

#2767 Improve reshapeability of models with eltwise nodes influencing shapes
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_nms_to_nms_ie.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/matmul_squeeze_add.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/memory_LSTMCell.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/multiple_LSTMCell.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/unsqueeze_function.cpp
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/middle/EltwiseInputNormalization.py
  model-optimizer/extensions/middle/EltwiseInputNormalization_test.py
  model-optimizer/extensions/middle/EltwiseInputReshape.py
  model-optimizer/extensions/middle/EltwiseInputReshape_test.py
  model-optimizer/extensions/middle/fusings.py
  model-optimizer/mo/front/common/partial_infer/eltwise.py
  model-optimizer/mo/utils/shape.py
  ngraph/core/include/ngraph/op/unsqueeze.hpp
  ngraph/core/src/op/unsqueeze.cpp
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/unsqueeze.cpp
Labels: category: MO

#3135 [BugFix] Fix compilation error caused by typo in #3109
  inference-engine/include/gpu/gpu_ocl_wrapper.hpp
Labels: bug, category: GPU

#3105 [DOCS][41222] Missing words in HDDL documentation
  docs/IE_DG/supported_plugins/HDDL.md
Labels: category: docs

#3032 Renamed Benchmark App into Benchmark Tool in the menu
  docs/doxygen/openvino_docs.xml
Labels: category: docs

#3115 Alignment samples arguments
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/main.c
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/object_detection_sample_ssd.h
  inference-engine/samples/benchmark_app/README.md
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  inference-engine/samples/classification_sample_async/README.md
  inference-engine/samples/classification_sample_async/classification_sample_async.h
  inference-engine/samples/classification_sample_async/main.cpp
  inference-engine/samples/common/samples/common.hpp
  inference-engine/samples/hello_classification/main.cpp
  inference-engine/samples/hello_query_device/main.cpp
  inference-engine/samples/hello_reshape_ssd/main.cpp
  inference-engine/samples/ngraph_function_creation_sample/README.md
  inference-engine/samples/ngraph_function_creation_sample/main.cpp
  inference-engine/samples/ngraph_function_creation_sample/ngraph_function_creation_sample.hpp
  inference-engine/samples/object_detection_sample_ssd/README.md
  inference-engine/samples/object_detection_sample_ssd/main.cpp
  inference-engine/samples/object_detection_sample_ssd/object_detection_sample_ssd.h
  inference-engine/samples/style_transfer_sample/main.cpp
Labels: category: IE common, category: docs, category: samples

#3119 Legacy klockwork
  inference-engine/src/legacy_api/include/legacy/details/ie_cnn_network_iterator.hpp
  inference-engine/src/readers/ir_reader_v7/ie_layer_validators.cpp
Labels: category: IE common, category: nGraph

#3013 Enablement of GatherND tests (nG & ONNX)
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: nGraph

#3125 Erase from unwaited requests container on QoS abort
  inference-engine/src/gna_plugin/gna_device.cpp
Labels: category: GNA
