Repository openvinotoolkit/openvino, pull requests merged in 2020-09, with the labels that each got.

#2003 Removed NGRAPH_IE_ENABLE
  .ci/openvino-onnx/Dockerfile
  CMakeLists.txt
  ngraph/CMakeLists.txt
  ngraph/test/CMakeLists.txt
  ngraph/test/runtime/CMakeLists.txt
Labels: bug, category: nGraph

#2004 Added documentation about supported ONNX operations
  docs/IE_DG/Integrate_with_customer_application_new_API.md
  docs/IE_DG/Introduction.md
  docs/IE_DG/Migration_CoreAPI.md
  docs/IE_DG/ONNX_Supported_Ops.md
  docs/doxygen/ie_docs.xml
Labels: category: docs, category: onnx importer

#1985 Print friendly name instead of name to stream
  ngraph/core/src/node.cpp
Labels: category: nGraph

#1412 Intepolate-4 nGraph operation
  docs/ops/image/Interpolate_4.md
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_interpolate_to_interp_or_resample.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/convert_ngraph_to_cnn_network_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reshape_tests.cpp
  inference-engine/tests/functional/plugin/cpu/bfloat16/interpolation.cpp
  inference-engine/tests/functional/plugin/cpu/bfloat16/resample.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/interpolate.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/interpolate.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/concat_transformation.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/interpolate.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_functions/src/utils/ngraph_helpers.cpp
  ngraph/core/include/ngraph/op/interpolate.hpp
  ngraph/core/include/ngraph/op/op_version_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset4_tbl.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/interpolate.hpp
  ngraph/core/reference/src/runtime/reference/interpolate.cpp
  ngraph/core/src/op/interpolate.cpp
  ngraph/frontend/onnx_import/src/op/resize.cpp
  ngraph/frontend/onnx_import/src/op/upsample.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/attributes.cpp
  ngraph/test/backend/interpolate.in.cpp
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/onnx/onnx_import_dyn_shapes.in.cpp
  ngraph/test/op_eval/interpolate.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/interpolate.cpp
  ngraph/test/type_prop_layers.cpp
  ngraph/test/util/engine/ie_engines.cpp
  ngraph/test/util/engine/ie_engines.hpp
  ngraph/test/util/engine/interpreter_engine.cpp
  ngraph/test/util/engine/interpreter_engine.hpp
  ngraph/test/util/engine/test_case_engine.hpp
  ngraph/test/util/test_case.hpp
Labels: category: IE Tests, category: nGraph

#1683 Dynamic shape cell
  ngraph/core/include/ngraph/op/gru_cell.hpp
  ngraph/core/include/ngraph/op/lstm_cell.hpp
  ngraph/core/include/ngraph/op/lstm_sequence.hpp
  ngraph/core/include/ngraph/op/rnn_cell.hpp
  ngraph/core/include/ngraph/op/util/recurrent_sequence.hpp
  ngraph/core/include/ngraph/op/util/rnn_cell_base.hpp
  ngraph/core/src/op/gru_cell.cpp
  ngraph/core/src/op/lstm_cell.cpp
  ngraph/core/src/op/lstm_sequence.cpp
  ngraph/core/src/op/rnn_cell.cpp
  ngraph/core/src/op/util/recurrent_sequence.cpp
  ngraph/core/src/op/util/rnn_cell_base.cpp
  ngraph/test/type_prop/gru_cell.cpp
  ngraph/test/type_prop/lstm_cell.cpp
  ngraph/test/type_prop/lstm_sequence.cpp
  ngraph/test/type_prop/rnn_cell.cpp
Labels: category: nGraph

#1987 [ONNX] Enable ScatterND operator in ONNX importer
  ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/frontend/onnx_import/src/op/scatter_nd.cpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/test/models/onnx/scatter_nd_const_i32_indices.prototxt
  ngraph/test/models/onnx/scatter_nd_param_i64_indices.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: ONNX, category: onnx importer

#1482 [CPU] CTCLoss operation implementation.
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/nodes/ctc_loss.cpp
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/ctc_loss.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/4d_eltwise.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/eltwise_split_over_channels_pass.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/ctc_loss.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/ctc_loss.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/basic_lstm.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/concat_qunatization.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/conv_mul_fusion.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/data_utils.hpp
  inference-engine/tests/ngraph_functions/src/constant.cpp
  inference-engine/tests/ngraph_functions/src/ctc_loss.cpp
  inference-engine/tests/ngraph_functions/src/embedding_bag_offsets_sum.cpp
  inference-engine/tests/ngraph_functions/src/embedding_bag_packed_sum.cpp
  inference-engine/tests/ngraph_functions/src/embedding_segments_sum.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/ctc_loss.hpp
Labels: category: CPU, category: IE Tests, category: nGraph

#1901 Customer model compilation error - fix
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/adjust_data_layout.cpp
Labels: category: VPU

#1367 Added Conda CentOS documentation 2020.4
  docs/install_guides/installing-openvino-conda.md
Labels: category: IE common, category: docs

#1950 Do not remove convert after the topK
  inference-engine/src/transformations/src/transformations/convert_precision.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/convert_ngraph_to_cnn_network_tests.cpp
  ngraph/python/tests/test_onnx/test_ops_reduction.py
Labels: bug, category: nGraph

#1989 [IE CLDNN] Disabled choose_impl call for generic nodes in some cases
  inference-engine/thirdparty/clDNN/src/graph_optimizer/post_optimize_weights.cpp
Labels: category: GPU

#1744 [IE CLDNN] Loosen restrictions on channels in 3d fsv16 convolution kernel
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/convolution.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_zyx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_zyx_fsv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/gen9_common_conv_fwd_data_f16.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/gen9_common_conv_fwd_data_f32.cl
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU, category: IE Tests

#1839 [IE CLDNN] Scatter update implementation
  inference-engine/thirdparty/clDNN/api/scatter_update.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_update_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_update_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_update_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_update_kernel_selector.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/scatter_update_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_common.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_common.h
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.hpp
  inference-engine/thirdparty/clDNN/src/gpu/scatter_update_gpu.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/include/kernel_selector_helper.h
  inference-engine/thirdparty/clDNN/src/include/scatter_update_inst.h
  inference-engine/thirdparty/clDNN/src/scatter_update.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/scatter_update_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_utils/test_utils.h
Labels: ExternalPR, category: GPU

#1966 [nGraph] Revision of Python tests
  ngraph/python/tests/test_ngraph/test_basic.py
  ngraph/python/tests/test_ngraph/test_data_movement.py
  ngraph/python/tests/test_ngraph/test_normalization.py
  ngraph/python/tests/test_ngraph/test_ops_binary.py
  ngraph/python/tests/test_ngraph/test_ops_reshape.py
  ngraph/python/tests/test_ngraph/test_ops_unary.py
  ngraph/python/tests/test_ngraph/test_reduction.py
  ngraph/python/tests/test_onnx/test_ops_reshape.py
  ngraph/python/tests/test_onnx/test_ops_unary.py
  ngraph/python/tests/test_onnx/test_ops_variadic.py
Labels: category: nGraph

#1843 [GNA] Improve ReadHeader
  inference-engine/src/gna_plugin/gna_model_serial.cpp
  inference-engine/src/gna_plugin/gna_model_serial.hpp
  inference-engine/src/gna_plugin/serial/headers/2dot1/gna_model_header.hpp
  inference-engine/src/gna_plugin/serial/headers/2dot2/gna_model_header.hpp
  inference-engine/src/gna_plugin/serial/headers/latest/gna_model_header.hpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_graph_aot_test.cpp
Labels: category: GNA

#1935 [IE CLDNN] First conv 3d imad
  inference-engine/thirdparty/clDNN/api/tensor.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_mmad_bfyx_to_b_fs_yx_fsv32.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_mmad_bfyx_to_b_fs_yx_fsv32.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_mmad_bfyx_to_b_fs_yx_fsv32.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/fetch.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/reorder_weights.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_common.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/remove_redundant_reorders.cpp
  inference-engine/thirdparty/clDNN/src/include/to_string_utils.h
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#1947 [IE CLDNN] Add verbose macros for reorder_inputs
  inference-engine/thirdparty/clDNN/src/graph_optimizer/reorder_inputs.cpp
Labels: category: GPU

#1946 [IE CLDNN] Add fc kernel for bfyx with batches
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_bf_tiled.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/fully_connected_gpu_bf_tiled.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.h
  inference-engine/thirdparty/clDNN/tests/test_cases/fully_connected_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_utils/network_test.h
Labels: category: GPU

#2017 [IE CLDNN] Fixing eltwise input sizes
  inference-engine/src/cldnn_engine/cldnn_program.cpp
Labels: category: GPU

#2012 Updated ConcatOptimization to support Concat with 0D input of one dimension
  model-optimizer/extensions/middle/ConcatOptimization.py
  model-optimizer/extensions/middle/ConcatOptimization_test.py
  model-optimizer/mo/graph/graph.py
Labels: category: MO

#2010 Added Conda CentOS documentation master branch
  docs/install_guides/installing-openvino-conda.md
Labels: category: docs

#2021 MO docs update reshape and deprecate
  docs/IE_DG/nGraph_Flow.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model_General.md
  docs/ops/shape/Reshape_1.md
  docs/ops/shape/Squeeze_1.md
  docs/ops/shape/Unsqueeze_1.md
Labels: category: docs

#2047 38009: InterpolateReshape fix for TensorFlow style Concat
  model-optimizer/extensions/front/interpolate_reshape.py
  model-optimizer/extensions/front/interpolate_reshape_test.py
Labels: category: MO

#2037 Removed attrs prefix for some layers
  ngraph/core/include/ngraph/op/detection_output.hpp
  ngraph/core/include/ngraph/op/interpolate.hpp
  ngraph/core/include/ngraph/op/prior_box.hpp
  ngraph/core/include/ngraph/op/prior_box_clustered.hpp
  ngraph/core/src/op/detection_output.cpp
  ngraph/core/src/op/interpolate.cpp
  ngraph/core/src/op/prior_box.cpp
  ngraph/core/src/op/prior_box_clustered.cpp
  ngraph/python/src/ngraph/opset1/ops.py
  ngraph/python/tests/test_ngraph/test_create_op.py
  ngraph/python/tests/test_ngraph/test_dyn_attributes.py
Labels: bug, category: nGraph

#2032 Fix ConvBiasFusion pass for some rare cases
  inference-engine/src/transformations/include/transformations/utils/utils.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/conv_mul_fusion.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/conv_bias_fusion.cpp
  inference-engine/src/transformations/src/transformations/utils/utils.cpp
  inference-engine/tests/functional/inference_engine/transformations/conv_fusion_test.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/conv_eltwise_fusion.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/conv_eltwise_fusion.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/conv_eltwise_fusion.cpp
Labels: category: IE Tests, category: IE transformations

#1344 [GNA] Fixed case of unconnected output of split layer
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/split_relu.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/split_relu.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/split_relu.cpp
Labels: category: GNA, category: IE Tests

#2002 [GNA] Move old headers
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/backend/am_intel_dnn.hpp
  inference-engine/src/gna_plugin/backend/dnn_types.h
  inference-engine/src/gna_plugin/backend/gna_types.h
  inference-engine/src/gna_plugin/backend/make_pwl.cpp
  inference-engine/src/gna_plugin/backend/make_pwl.hpp
  inference-engine/src/gna_plugin/frontend/layer_quantizer.hpp
  inference-engine/src/gna_plugin/frontend/quantization.cpp
  inference-engine/src/gna_plugin/frontend/quantization.h
  inference-engine/src/gna_plugin/gna_api_wrapper.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_helper.cpp
  inference-engine/src/gna_plugin/gna_lib_ver_selector.hpp
  inference-engine/src/gna_plugin/gna_model_serial.hpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/memory/gna_memory.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/runtime/pwl.cpp
  inference-engine/src/gna_plugin/runtime/pwl.h
  inference-engine/tests_deprecated/unit/engines/gna/gna_graph_aot_test.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_hardware_precision_test.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_matcher.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/gna/i16_quantisation_test.cpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/conv_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/copy_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/diag_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/fill_with_data.hpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/input_data_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/nnet_base_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/pool_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/precision_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/pwl_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/pwl_quantization_metrics_matcher.hpp
  inference-engine/tests_deprecated/unit/engines/gna/matchers/weights_matcher.hpp
Labels: category: GNA

#2043 Fixed a case with empty order in transpose op
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_permute_node.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/algebraic_simplification.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/transpose.cpp
  ngraph/core/src/op/transpose.cpp
  ngraph/test/type_prop/transpose.cpp
Labels: bug, category: nGraph

#2057 [install_openvino_dependencies.sh ] fixed python & glib vers differences
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: ExternalPR, category: IE common

#2022 Fix version print
  model-optimizer/mo/utils/version.py
  model-optimizer/mo/utils/version_test.py
Labels: category: MO

#2051 Fixed visitor for Interpolate-1 and Interpolate-4
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.hpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/interpolate_tests.cpp
  ngraph/core/include/ngraph/axis_set.hpp
  ngraph/core/src/op/interpolate.cpp
Labels: bug, category: nGraph

#1788 AVX2/AVX512 32FC1 Resize
  inference-engine/src/preprocessing/cpu_x86_avx2/ie_preprocess_gapi_kernels_avx2.cpp
  inference-engine/src/preprocessing/cpu_x86_avx512/ie_preprocess_gapi_kernels_avx512.cpp
  inference-engine/src/preprocessing/cpu_x86_sse42/ie_preprocess_gapi_kernels_sse42.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels_simd_impl.hpp
  inference-engine/thirdparty/ocv/opencv_hal_avx.hpp
  inference-engine/thirdparty/ocv/opencv_hal_avx512.hpp
  inference-engine/thirdparty/ocv/opencv_hal_sse.hpp
Labels: category: IE common, category: preprocessing

#2030 Reduce CPU usage for idle VPU
  inference-engine/thirdparty/movidius/mvnc/src/watchdog/watchdog.cpp
Labels: bug, category: VPU

#2050 [IE CLDNN] Fix driver problem in softmax kernel with invalid map <K, T> message
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/softmax/softmax_kernel_items_class_optimized.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/softmax_gpu_items_class_optimized.cl
Labels: bug, category: GPU

#1995 allocate maximum shaves for mish activation
  inference-engine/src/vpu/graph_transformer/src/stages/mish.cpp
Labels: category: MYRIAD

#2048 Reverted conversion of Resize-10 to Interpolate-4 in ONNX Importer.
  ngraph/frontend/onnx_import/src/op/resize.cpp
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: nGraph

#2059 Removed builders from public API
  inference-engine/src/transformations/CMakeLists.txt
  inference-engine/src/transformations/include/transformations/convert_opset1_to_legacy/fc_bias_fusion.hpp
  inference-engine/src/transformations/include/transformations/convert_opset1_to_legacy/reshape_fc_fusion.hpp
  inference-engine/src/transformations/src/ngraph_ops/fully_connected.cpp
  ngraph/core/CMakeLists.txt
  ngraph/core/builder/CMakeLists.txt
  ngraph/core/builder/include/ngraph/builder/autobroadcast.hpp
  ngraph/core/builder/include/ngraph/builder/make_constant.hpp
  ngraph/core/builder/include/ngraph/builder/matmul_factory.hpp
  ngraph/core/builder/include/ngraph/builder/norm.hpp
  ngraph/core/builder/include/ngraph/builder/reduce_ops.hpp
  ngraph/core/builder/include/ngraph/builder/reshape.hpp
  ngraph/core/builder/include/ngraph/builder/split.hpp
  ngraph/core/builder/src/builder/autobroadcast.cpp
  ngraph/core/builder/src/builder/matmul_factory.cpp
  ngraph/core/builder/src/builder/norm.cpp
  ngraph/core/builder/src/builder/reduce_ops.cpp
  ngraph/core/builder/src/builder/reshape.cpp
  ngraph/core/builder/src/builder/split.cpp
  ngraph/core/include/ngraph/ngraph.hpp
  ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/builder_reduce_ops_opset1.in.cpp
  ngraph/test/backend/reshape.in.cpp
  ngraph/test/builder_autobroadcast.cpp
  ngraph/test/runtime/CMakeLists.txt
Labels: category: nGraph

#1990 [IE CLDNN] Fix i8 regression on single-image-super-resolution-1032
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: GPU, performance

#1465 [CPU] generic interpolate implementation
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.h
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_interpolate_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_interpolate_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/interpolate.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/cpu_test_utils.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/cpu_test_utils.hpp
Labels: category: CPU

#2042 Hetero plugin dump dot file using ngraph pass
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
Labels: category: IE common

#1815 Add Mish with SoftPlus transformation
  inference-engine/src/transformations/include/transformations/softplus_to_mish_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/softplus_to_mish_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/mish_fusion_test.cpp
Labels: category: IE Tests, category: nGraph

#2034 [IE Myriad] Fix for Swish layer
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/swish.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/activation.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_functions/src/activation.cpp
Labels: category: IE Tests, category: VPU

#2038 [IE CLDNN] Fix performance degradation for brain-tumor-segmentation-0002
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_padding.cpp
Labels: category: GPU

#2044 [IE Myriad] Reduce XLink log level in AOTBehaviorTests
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/aot_behavior_tests.cpp
Labels: category: IE Tests, category: VPU

#2029 Fixed speech demo compilation issue on 2021.1 + models updated to IRv10
  inference-engine/cmake/dependencies.cmake
Labels: category: IE common

#1991 [IE][VPU]: Introduces annotations of stages memory types
  inference-engine/src/vpu/graph_transformer/include/vpu/graph_transformer.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/pass_manager.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/private_plugin_config.hpp
  inference-engine/src/vpu/graph_transformer/src/middleend/pass_manager.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/annotate_memory_types.cpp
  inference-engine/src/vpu/graph_transformer/src/parsed_config.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/dynamic_shape_resolver.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/common_utils.hpp
  inference-engine/tests/unit/vpu/base/graph_transformer_tests.cpp
  inference-engine/tests/unit/vpu/base/graph_transformer_tests.hpp
  inference-engine/tests/unit/vpu/middleend_tests/passes_tests/annotate_memory_types.cpp
  inference-engine/tests/unit/vpu/middleend_tests/passes_tests/split_large_kernel_conv_tests.cpp
Labels: category: VPU

#1988 fix for typo in inference_engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
Labels: category: IE common

#2069 Fix RNNSeqNormilize transformation in MO
  model-optimizer/extensions/middle/RNNSequenceNormalizeToIE.py
Labels: category: MO

#1897 [PP GAPI] - Generic precision conversion kernel
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.hpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels_impl.hpp
  inference-engine/tests_deprecated/fluid_preproc/common/fluid_tests.cpp
  inference-engine/tests_deprecated/fluid_preproc/common/fluid_tests.hpp
  inference-engine/tests_deprecated/fluid_preproc/cpu/fluid_tests_cpu.cpp
  inference-engine/tests_deprecated/fluid_preproc/fluid_test_computations/fluid_test_computations.cpp
  inference-engine/tests_deprecated/fluid_preproc/fluid_test_computations/fluid_test_computations.hpp
Labels: category: IE Tests, category: IE common, category: preprocessing

#2027 HostTensor2Vector
  ngraph/core/include/ngraph/util.hpp
  ngraph/core/src/op/scatter_update.cpp
  ngraph/test/util.cpp
Labels: category: nGraph

#2045 Make pybind more verbose in debug on windows
  ngraph/python/setup.py
Labels: category: nGraph

#1882 Fix fusing Multiply node with Convolution in case group != 1
  model-optimizer/mo/middle/passes/fusing/fuse_linear_ops.py
  model-optimizer/mo/middle/passes/fusing/fuse_linear_ops_test.py
Labels: bug, category: MO

#1996 [IE CLDNN] Enable bfyx fully_connected for large batches
  inference-engine/thirdparty/clDNN/src/fully_connected.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/permute_gpu_test.cpp
Labels: category: GPU

#2065 [IE CLDNN] Reduce performance drop fix
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
Labels: category: GPU

#2049 [IE CLDNN] Disable unsupported blocked formats for softmax
  inference-engine/thirdparty/clDNN/src/gpu/softmax_gpu.cpp
Labels: category: GPU

#2073 [IE CLDNN] Fixing blocked format opting for strided_slice
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#2079 Handle Split axes as i64
  ngraph/core/builder/include/ngraph/builder/split.hpp
  ngraph/core/builder/src/builder/split.cpp
Labels: category: nGraph

#2086 [IE CLDNN] Fixed fsv16 lrn kernel with fp16 input
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/lrn_gpu_across_channel_multiple_features_fsv16.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/lrn_gpu_test.cpp
Labels: category: GPU

#2033 Move FakeOutput resolving to back phase
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/FakeOutputResolver.py
  model-optimizer/extensions/back/FakeOutputResolver_test.py
  model-optimizer/extensions/front/FakeOutputResolver_test.py
  model-optimizer/extensions/ops/fake_output.py
Labels: category: MO

#1879 [IE Myriad] Fix behavior tests for MXpcie
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/helpers/myriad_devices.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/helpers/myriad_devices.hpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/helpers/myriad_load_network_case.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/vpu_get_metric_tests.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/vpu_protocol_tests.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/vpu_watchdog_tests.cpp
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_data.c
Labels: category: IE Tests, category: VPU

#1936 Refactored legacy code for mean_scale_values transformations
  docs/MO_DG/prepare_model/convert_model/Converting_Model_General.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/middle/preprocessing.py
  model-optimizer/mo/middle/passes/mean_scale_values.py
  model-optimizer/mo/middle/passes/mean_scale_values_test.py
  model-optimizer/mo/utils/cli_parser.py
Labels: category: MO

#2087 VPU: update firmware version to 1354
  inference-engine/cmake/vpu_dependencies.cmake
Labels: category: IE common, category: MYRIAD

#2082 [IE CLDNN] Fix the order of dimensions in reshapes inserted by Select primitive
  inference-engine/src/cldnn_engine/cldnn_program.cpp
Labels: category: GPU

#2061 Remove list of the supported ops by ONNX Importer
  docs/IE_DG/Integrate_with_customer_application_new_API.md
  docs/IE_DG/Introduction.md
  docs/IE_DG/Migration_CoreAPI.md
  docs/IE_DG/ONNX_Support.md
  docs/IE_DG/ONNX_Supported_Ops.md
  docs/doxygen/ie_docs.xml
Labels: category: docs

#2063 [IE CLDNN] Grouped convolution kernel improvement
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_imad.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/fused_conv_eltwise_gpu_imad.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU, feature

#2062 [CPU] fix: supported Tile with more than 5 dims
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_tile_node.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/tile.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/tile.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/tile.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/tile.cpp
Labels: category: CPU, category: IE Tests

#2013 v1::AvgPooling type prop unit tests
  ngraph/test/type_prop/avg_pool.cpp
Labels: category: nGraph

#2006 [IE TESTS] GatherTree single layer test has been created.
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/gather_tree.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/gather_tree.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/gather_tree.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/data_utils.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/gather_tree.hpp
  ngraph/core/reference/src/runtime/reference/gather_tree.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
Labels: category: IE Tests

#2112 Refactoring: install_openvino_dependencies.sh script
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: ExternalIntelPR, category: IE common

#2066 [LPT] Multiinput with one parent and FQ with three Constant
  inference-engine/src/low_precision_transformations/include/low_precision_transformations/network_helper.hpp
  inference-engine/src/low_precision_transformations/src/activation.cpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/mat_mul_with_optimized_constant_fake_quantize_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/multiply_with_one_parent_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/mat_mul_with_optimized_constant_fake_quantize_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/multiply_with_one_parent_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/mat_mul_with_optimized_constant_fake_quantize_transformation.hpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/multiply_with_one_parent_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_with_optimized_constant_fake_quantize_transformation.cpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/multiply_with_one_parent_transformaion.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/mat_mul_with_optimized_constant_fake_quantize_function.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/multiply_with_one_parent_function.hpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/mat_mul_with_optimized_constant_fake_quantize_function.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/multiply_with_one_parent_function.cpp
Labels: category: CPU, category: IE Tests

#2041 [VPU][GT][IE Transformations] Fixes for post processing model
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_strided_slice_to_crop.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/stages/nms.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/nms.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/static_shape_nms.cpp
  inference-engine/tests/functional/plugin/myriad/single_layer_tests/static_shape_nms.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_strided_slice.cpp
Labels: category: IE transformations, category: VPU

#2103 ONNX Resize fix
  ngraph/frontend/onnx_import/src/op/resize.cpp
Labels: category: nGraph, priority: high

#2089 [IE CLDNN] Added is_discrete flag into device info and FULL_DEVICE_NAME flag
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/thirdparty/clDNN/api/device.hpp
  inference-engine/thirdparty/clDNN/src/gpu/device_info.cpp
  inference-engine/thirdparty/clDNN/src/gpu/device_info.h
  inference-engine/thirdparty/clDNN/src/gpu/ocl_toolkit.cpp
Labels: category: GPU

#1851 [GNA] Handling of input orientation
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/handling_orientation_conv.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/handling_orientation_conv.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/handling_orientation_conv.cpp
Labels: category: GNA, category: IE Tests

#2031 [GNA] add support for NCHW & NHWC layouts for exporting output
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/remove_permutations_NHWC_to_NCHW_pass.cpp
Labels: category: GNA

#2054 [IE][VPU] - myriad_compile doesn't work without device - fix
  inference-engine/tools/compile_tool/main.cpp
  inference-engine/tools/vpu/vpu_compile/main.cpp
Labels: category: VPU

#2096 [IE CLDNN] Switch back to old TI unroller to restore correct matching of TensorIterator output names
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
Labels: category: GPU

#2107 Decompose Swish to Sigmoid + Prod
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/pass_manager.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/stage_builder.hpp
  inference-engine/src/vpu/graph_transformer/src/middleend/pass_manager.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/decompose_swish.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/eltwise.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/sigmoid.cpp
Labels: category: IE Tests, category: VPU

#2084 [nGraph] Enable u1 data type in Constant PyAPI
  ngraph/core/src/type/element_type.cpp
  ngraph/python/src/pyngraph/ops/constant.cpp
  ngraph/python/src/pyngraph/types/element_type.cpp
Labels: category: nGraph

#2130 Added code owners for scripts folder
  CODEOWNERS
Labels: category: CI, category: IE common

#2100 Add `runPipeline` wrapper to mandatory track full run
  tests/time_tests/common/main.cpp
Labels: category: IE Tests

#2131 [VPU][OpenCL] Update custom kernels
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/common/src/utils/simple_math.cpp
  inference-engine/src/vpu/custom_kernels/binarization.cl
  inference-engine/src/vpu/custom_kernels/binary_convolution.cl
  inference-engine/src/vpu/custom_kernels/binary_convolution1x1.cl
  inference-engine/src/vpu/custom_kernels/binary_convolution3x3.cl
  inference-engine/src/vpu/custom_kernels/binary_layers.cl
  inference-engine/src/vpu/custom_kernels/convolution1x1.cl
  inference-engine/src/vpu/custom_kernels/convolution1x1_chw.cl
  inference-engine/src/vpu/custom_kernels/convolution1x1_hwc.cl
  inference-engine/src/vpu/custom_kernels/convolution3x3.cl
  inference-engine/src/vpu/custom_kernels/correlate.cl
  inference-engine/src/vpu/custom_kernels/ctc.cl
  inference-engine/src/vpu/custom_kernels/customLayerBindings.xml
  inference-engine/src/vpu/custom_kernels/cvtu8f16.cl
  inference-engine/src/vpu/custom_kernels/detectron_prior_grid_gen.cl
  inference-engine/src/vpu/custom_kernels/fakequantize.cl
  inference-engine/src/vpu/custom_kernels/grn.cl
  inference-engine/src/vpu/custom_kernels/mvn.cl
  inference-engine/src/vpu/custom_kernels/mvn_reduction.cl
  inference-engine/src/vpu/custom_kernels/mvn_scale.cl
  inference-engine/src/vpu/custom_kernels/quantize.cl
  inference-engine/src/vpu/custom_kernels/region.cl
  inference-engine/src/vpu/custom_kernels/region_chw.cl
  inference-engine/src/vpu/custom_kernels/region_chw_m7_branch0.cl
  inference-engine/src/vpu/custom_kernels/region_chw_m7_branch1.cl
  inference-engine/src/vpu/custom_kernels/region_hwc.cl
  inference-engine/src/vpu/custom_kernels/reorg_chw.cl
  inference-engine/src/vpu/custom_kernels/reorg_chw_local.cl
  inference-engine/src/vpu/custom_kernels/reorg_chw_stack.cl
  inference-engine/src/vpu/custom_kernels/reorg_hwc.cl
  inference-engine/src/vpu/custom_kernels/reorg_hwc_naive.cl
  inference-engine/src/vpu/custom_kernels/resample_AA.cl
  inference-engine/src/vpu/custom_kernels/resample_nn.cl
  inference-engine/src/vpu/custom_kernels/resample_noAA.cl
  inference-engine/src/vpu/custom_kernels/resample_with_antialias.cl
  inference-engine/src/vpu/custom_kernels/shuffle_channels.cl
  inference-engine/src/vpu/custom_kernels/st.cl
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/ShaveElfMetadata.h
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/ShaveElfMetadataParser.h
  inference-engine/src/vpu/graph_transformer/src/frontend/ShaveElfMetadataParser.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/custom_kernel.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/custom.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_custom_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_custom_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_region_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_reorg_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_reorg_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_resample_test.cpp
Labels: category: IE Tests, category: IE common, category: VPU

#2078 Support python 3.8 by the Model Optimizer tool in default configuration
  model-optimizer/mo/utils/versions_checker.py
  model-optimizer/mo/utils/versions_checker_test.py
  model-optimizer/requirements.txt
  model-optimizer/requirements_tf.txt
Labels: category: MO

#2090 [IE CLDNN] Fix eltwise activation types mismatch
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/generic_eltwise_ref.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#2088 Sort memcheck timeline report for failures
  tests/stress_tests/scripts/memcheck-template/timeline_report.html
  tests/stress_tests/scripts/memcheck_upload.py
Labels: category: IE Tests

#2111 [IE TESTS] Use metadata from executable network
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.cpp
Labels: category: IE Tests

#2091 Hide itt.hpp to src folders
  inference-engine/src/low_precision_transformations/src/itt.hpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/src/transformations/CMakeLists.txt
  inference-engine/src/transformations/src/transformations/itt.hpp
Labels: category: CPU, category: IE common, category: IE transformations, category: LP transformations

#2126 Clang compilation error fix for Linux
  inference-engine/tests/functional/plugin/cpu/bfloat16/bfloat16_helpers.hpp
  inference-engine/tests_deprecated/helpers/tests_common_func.cpp
Labels: category: IE Tests

#2110 Temporarily disable ONNX Loop operator for the 2021.1 release
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: nGraph, category: onnx importer

#2098 [IE TESTS] Remove normilizer tests
  inference-engine/tests_deprecated/unit/CMakeLists.txt
  inference-engine/tests_deprecated/unit/engines/mkldnn/normalizer/supported_fusions_test.cpp
Labels: category: IE Tests

#2105 [IE][Tests]: Fixes dangling reference access in nGraph function c…
  inference-engine/tests/ngraph_functions/src/utils/ngraph_helpers.cpp
Labels: category: IE Tests

#2124 [IE CLDNN] fs_b_yx_fsv32 addition in quantize_scale_shift kernel and reorders removal fix
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/quantize/quantize_kernel_scale_shift_opt.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/remove_redundant_reorders.cpp
Labels: category: GPU

#2122 Fixed AddressSanitizer issue
  ngraph/core/src/op/variadic_split.cpp
Labels: bug, category: nGraph

#1475 [GNA] Fix for concat layer with >2 inputs
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/concat_multi_input.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/concat_multi_input.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/concat_multi_input.cpp
Labels: category: GNA

#2076 [PP GAPI] - U8 support for Generic precision conversion kernel;
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.hpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels_impl.hpp
  inference-engine/tests_deprecated/fluid_preproc/cpu/fluid_tests_cpu.cpp
Labels: category: IE Tests, category: IE common, category: preprocessing

#2129 [ONNX] Relaxed tolerance for fp16_inception_v1 model in additional models tests
  ngraph/python/tests/test_onnx/test_additional_models.py
Labels: category: nGraph

#2140 [IE][TOOLS] compile_tool improvements
  inference-engine/tools/compile_tool/main.cpp
Labels: bug, category: IE common, category: tools, enhancement

#2141 [IE CLDNN] Fix problems with loop iterator and parameter check in clDNN
  inference-engine/thirdparty/clDNN/src/gpu/device_info.cpp
  inference-engine/thirdparty/clDNN/src/scatter_update.cpp
Labels: category: GPU

#1984 [JAVA] Code style check
  .github/workflows/code_style.yml
  inference-engine/ie_bridges/java/org/intel/openvino/Blob.java
  inference-engine/ie_bridges/java/org/intel/openvino/CNNNetwork.java
  inference-engine/ie_bridges/java/org/intel/openvino/Data.java
  inference-engine/ie_bridges/java/org/intel/openvino/IECore.java
  inference-engine/ie_bridges/java/org/intel/openvino/IEWrapper.java
  inference-engine/ie_bridges/java/org/intel/openvino/InferRequest.java
  inference-engine/ie_bridges/java/org/intel/openvino/InferenceEngineProfileInfo.java
  inference-engine/ie_bridges/java/org/intel/openvino/InputInfo.java
  inference-engine/ie_bridges/java/org/intel/openvino/Parameter.java
  inference-engine/ie_bridges/java/org/intel/openvino/PreProcessInfo.java
  inference-engine/ie_bridges/java/org/intel/openvino/Precision.java
  inference-engine/ie_bridges/java/org/intel/openvino/ResizeAlgorithm.java
  inference-engine/ie_bridges/java/org/intel/openvino/StatusCode.java
  inference-engine/ie_bridges/java/org/intel/openvino/TensorDesc.java
  inference-engine/ie_bridges/java/org/intel/openvino/WaitMode.java
  inference-engine/ie_bridges/java/samples/ArgumentParser.java
  inference-engine/ie_bridges/java/samples/README.md
  inference-engine/ie_bridges/java/samples/benchmark_app/InferReqWrap.java
  inference-engine/ie_bridges/java/samples/benchmark_app/InferRequestsQueue.java
  inference-engine/ie_bridges/java/samples/benchmark_app/Main.java
  inference-engine/ie_bridges/java/samples/face_detection_java_sample/Main.java
  inference-engine/ie_bridges/java/samples/face_detection_sample_async/Main.java
  inference-engine/ie_bridges/java/tests/BlobTests.java
  inference-engine/ie_bridges/java/tests/CNNNetworkTests.java
  inference-engine/ie_bridges/java/tests/IECoreTests.java
  inference-engine/ie_bridges/java/tests/IETest.java
  inference-engine/ie_bridges/java/tests/InferRequestTests.java
  inference-engine/ie_bridges/java/tests/InputInfoTests.java
  inference-engine/ie_bridges/java/tests/OpenVinoTestRunner.java
  inference-engine/ie_bridges/java/tests/TestsSuite.java
Labels: category: java

#2143 [ IE ] ExperimentalDetectron shape infer fix
  inference-engine/src/legacy_api/src/shape_infer/built-in/ie_proposal_onnx_shape_infer.hpp
  inference-engine/src/legacy_api/src/shape_infer/built-in/ie_topkrois_onnx_shape_infer.hpp
Labels: bug, category: IE common, category: nGraph

#2074 [CPU] add const and precision check quantize ranges
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_quantize_node.cpp
Labels: category: CPU

#2138 Fixed addOutput behavior for experimental ops
  inference-engine/src/inference_engine/generic_ie.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
Labels: bug, category: IE Tests, category: IE common, category: nGraph

#971 [CPU] Supported depthwise 6d, 7d, ..., added test
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_depthwise_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_depthwise_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/multiply_add.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/multiply_add.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/multiply_add.cpp
Labels: category: CPU, category: IE Tests

#2139 [CPU] statically analyzed issues.
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_eltwise_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_input_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_normalize_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_scatter_update_node.cpp
Labels: category: CPU

#2115 [IE CLDNN] Fully connected MMAD kernel optimizations
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_mmad.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_mmad.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/fully_connected_gpu_MMAD.cl
Labels: category: GPU

#2144 [IE][VPU][Custom CL] Fix Binary Convolution 3x3 3D transaction
  inference-engine/src/vpu/custom_kernels/binary_convolution3x3.cl
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_custom_test.hpp
Labels: bug, category: IE Tests, category: VPU

#2064 Add support for custom onnx operators: DetectionOutput, Normalize and…
  ngraph/frontend/onnx_import/include/onnx_import/core/model.hpp
  ngraph/frontend/onnx_import/include/onnx_import/op/org.openvinotoolkit/detection_output.hpp
  ngraph/frontend/onnx_import/include/onnx_import/op/org.openvinotoolkit/fake_quantize.hpp
  ngraph/frontend/onnx_import/include/onnx_import/op/org.openvinotoolkit/normalize.hpp
  ngraph/frontend/onnx_import/include/onnx_import/op/org.openvinotoolkit/prior_box.hpp
  ngraph/frontend/onnx_import/include/onnx_import/ops_bridge.hpp
  ngraph/frontend/onnx_import/src/core/graph.cpp
  ngraph/frontend/onnx_import/src/core/model.cpp
  ngraph/frontend/onnx_import/src/core/node.cpp
  ngraph/frontend/onnx_import/src/onnx.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/detection_output.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/fake_quantize.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/normalize.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/prior_box.cpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/frontend/onnx_import/src/utils/convpool.cpp
  ngraph/test/models/onnx/conv2d_dilation_assym_pads_strides.prototxt
  ngraph/test/models/onnx/conv3d_bias.prototxt
  ngraph/test/models/onnx/detection_output.prototxt
  ngraph/test/models/onnx/normalize.prototxt
  ngraph/test/models/onnx/prior_box.prototxt
  ngraph/test/models/onnx/quantization/fake_quantize_const_inputs.prototxt
  ngraph/test/models/onnx/quantization/fake_quantize_nonconst_inputs.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
Labels: category: nGraph

#2145 fix #38545 remove CPU network layer check for py samples
  inference-engine/ie_bridges/python/sample/classification_sample/classification_sample.py
  inference-engine/ie_bridges/python/sample/classification_sample_async/classification_sample_async.py
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
Labels: bug, category: python api, category: samples

#2071 [IE Myriad][IE Tests] Activation layer's constants parametrization.
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/comparison.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/comparison.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/activation.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/activation.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/common_utils.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/activation.cpp
Labels: category: IE Tests

#1929 [IE VPU] Support ngraph::Function in VPU QueryNetwork
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/query_network.cpp
Labels: category: IE Tests, category: VPU

#2153 Fixed differences between glib versions
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI

#2163 [IE Myriad] Reduce test scope for Swish layer
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/activation.cpp
Labels: category: IE Tests, category: VPU

#2156 [samples] remove unused ngraph
  inference-engine/ie_bridges/python/sample/classification_sample/classification_sample.py
  inference-engine/ie_bridges/python/sample/classification_sample_async/classification_sample_async.py
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
Labels: category: samples

#2108 Updated ConvertPrecision pass not to make extra copy of Constant data
  inference-engine/src/transformations/src/transformations/convert_precision.cpp
Labels: category: IE transformations

#2150 [IE CLDNN] Fix stack-use-after-scope issue
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU

#2125 Implement `run_executable.py` to run `TimeTests` several times
  tests/time_tests/run_executable.py
Labels: category: IE Tests

#2007 [IE CLDNN] Memory allocation optimization
  inference-engine/thirdparty/clDNN/api/layout.hpp
  inference-engine/thirdparty/clDNN/api/tensor.hpp
  inference-engine/thirdparty/clDNN/src/gpu/memory_gpu.cpp
  inference-engine/thirdparty/clDNN/src/include/memory_impl.h
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/src/lstm_dynamic_input.cpp
Labels: category: GPU

#2159 Added callback to disable PriorBox to PriorBoxIE transformation
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_prior_to_ie_prior.cpp
Labels: bug

#2106 Fix for static PartialShape detection algorithm
  ngraph/core/include/ngraph/partial_shape.hpp
  ngraph/core/src/partial_shape.cpp
  ngraph/test/partial_shape.cpp
Labels: category: nGraph

#2132 [PYTHON API TESTS] Add ngraph tests
  inference-engine/ie_bridges/python/tests/test_NGraph.py
Labels: category: python api

#2120 Fix Mish and SoftPlus value propagation functions
  model-optimizer/extensions/ops/activation_ops.py
  model-optimizer/extensions/ops/activation_test.py
Labels: category: MO

#2178 [IE CLDNN] Memory allocation optimizations
  inference-engine/thirdparty/clDNN/api/layout.hpp
  inference-engine/thirdparty/clDNN/api/tensor.hpp
  inference-engine/thirdparty/clDNN/src/gpu/memory_gpu.cpp
  inference-engine/thirdparty/clDNN/src/include/memory_impl.h
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/src/lstm_dynamic_input.cpp
Labels: category: GPU

#2023 [DOC] Reshape feature
  docs/IE_DG/ShapeInference.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model_General.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  model-optimizer/mo/utils/cli_parser.py
Labels: category: MO, category: docs

#2173 Split time-tests common library
  tests/time_tests/CMakeLists.txt
  tests/time_tests/README.md
  tests/time_tests/common/CMakeLists.txt
  tests/time_tests/common/cli.h
  tests/time_tests/common/main.cpp
  tests/time_tests/common/statistics_writer.h
  tests/time_tests/common/timer.h
  tests/time_tests/ftti_pipeline/ftti_pipeline.h
  tests/time_tests/run_executable.py
  tests/time_tests/src/CMakeLists.txt
  tests/time_tests/src/timetest_infer.cpp
  tests/time_tests/time-testhelper/CMakeLists.txt
  tests/time_tests/time-testhelper/cli.h
  tests/time_tests/time-testhelper/include/time-testhelper/timer.h
  tests/time_tests/time-testhelper/main.cpp
  tests/time_tests/time-testhelper/statistics_writer.h
  tests/time_tests/time-testhelper/timer.cpp
Labels: category: IE Tests, category: docs

#2193 [GNA] Safety fixes
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/gna_slope_scale.h
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
Labels: category: GNA

#2183 Super smart reshape: HC Reshape to 2D followed by MatMul
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/transformations/include/transformations/smart_reshape/reshape_with_hc_output.hpp
  inference-engine/src/transformations/include/transformations/smart_reshape/smart_reshape.hpp
  inference-engine/src/transformations/include/transformations/smart_reshape/utils.hpp
  inference-engine/src/transformations/src/transformations/smart_reshape/reshape_with_hc_output.cpp
  inference-engine/src/transformations/src/transformations/smart_reshape/smart_reshape.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/smart_reshape_tests.cpp
Labels: category: IE common

#2170 [Python Tools] Fix several problems in cross-check-tool
  inference-engine/tools/cross_check_tool/cross_check_tool.py
  inference-engine/tools/cross_check_tool/utils.py
Labels: category: tools

#2215 Define security policy
  SECURITY.md
Labels: category: docs

#2190 [CPU] add check on equality of values IL and IH ranges
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_quantize_node.cpp
Labels: category: CPU

#2216 [GNA] LSTMCell fixes - release
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/backend/dnn.cpp
  inference-engine/src/gna_plugin/backend/dnn.hpp
  inference-engine/src/gna_plugin/backend/dnn_components.cpp
  inference-engine/src/gna_plugin/backend/dnn_components.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/layers/gna_copy_layer.hpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.hpp
  inference-engine/src/legacy_api/src/net_pass.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/memory_LSTMCell.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/memory_LSTMCell.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/memory_LSTMCell.cpp
Labels: category: GNA, category: IE Tests, category: nGraph

#2195 [GNA] fix scale factor calculation for unfused bias after fc (2021.1)
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/matmul_squeeze_add.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/matmul_squeeze_add.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/matmul_squeeze_add.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/matmul_squeeze_add.hpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/matmul_squeeze_add.cpp
Labels: category: GNA, category: IE Tests

#2167 GatherTree description was extended and outdated link fixed
  docs/ops/movement/GatherTree_1.md
Labels: category: docs

#2164 [Scripts] Fixing issue with exporting path-like env when it undef
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.sh
Labels: category: CI

#2229 [Scripts] Fixing issue with exporting path-like env when it undef on master branch
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.sh
Labels: category: CI

#2146 TensorIterator to RNN/GRU/LSTM Sequence transformation
  inference-engine/src/transformations/include/transformations/tensor_iterator_transformations/convert_ti_to_sequences.h
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_sequences_to_sequences_ie.cpp
  inference-engine/src/transformations/src/transformations/tensor_iterator_transformations/convert_ti_to_sequences.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_ti_to_sequences_test.cpp
Labels: category: IE Tests, category: nGraph

#2149 [IE][VPU][Tests]: Enables tests on MergeSubsequentDSROperations
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/merge_subsequent_dsr_operations.cpp
Labels: category: IE Tests, category: VPU

#2158 [GNA] Safety fixes
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/gna_slope_scale.h
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
Labels: category: GNA

#2133 FakeQuantize + Mul fusion
  inference-engine/src/transformations/include/transformations/common_optimizations/fq_mul_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/fq_mul_fusion.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_opset1_to_legacy.cpp
  inference-engine/tests/functional/inference_engine/transformations/fq_mul_fusion_test.cpp
Labels: priority: high

#2142 [IE][VPU]: Some KW fixes
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/dynamic_to_static_shape.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/utilities.hpp
  inference-engine/src/vpu/common/include/vpu/utils/simple_math.hpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_binary_elementwise.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_broadcast.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_concat.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_gather.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_matmul.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_non_max_suppression.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_nonzero.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_reduce.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_reshape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_roialign.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_squeeze.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_strided_slice.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_topk.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_transpose.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_unary_elementwise.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_unsqueeze.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_variadic_split.cpp
  inference-engine/src/vpu/common/src/ngraph/utilities.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/custom_layer.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/custom.cpp
Labels: category: VPU

#2174 Extend error message
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
Labels: bug, category: nGraph

#2176 some nGraph KW fixes
  ngraph/core/include/ngraph/file_util.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/detection_output.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/gather_nd.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/interpolate.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/matmul.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/replace_slice.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/scatter_update.hpp
  ngraph/core/reference/src/runtime/reference/pad.cpp
  ngraph/core/reference/src/runtime/reference/reshape.cpp
  ngraph/core/reference/src/runtime/reference/slice.cpp
  ngraph/core/src/env_util.cpp
  ngraph/core/src/file_util.cpp
  ngraph/core/src/op/shape_of.cpp
  ngraph/core/src/op/tensor_iterator.cpp
  ngraph/core/src/op/util/scatter_base.cpp
  ngraph/core/src/runtime/aligned_buffer.cpp
  ngraph/core/src/runtime/host_tensor.cpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/test/file_util.cpp
  ngraph/test/runtime/ie/ie_backend.cpp
  ngraph/test/runtime/ie/ie_executable.cpp
Labels: bug, category: nGraph

#2202 Fix QueryNetwork for networks with KSO
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
Labels: bug, category: IE Tests, category: IE common, category: nGraph

#2209 Fixed output names for case with redundant ops before result
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
  ngraph/core/src/graph_util.cpp
Labels: bug, category: IE Tests, category: nGraph

#2210 Fixed output names for case with redundant ops before result
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
  ngraph/core/src/graph_util.cpp
Labels: bug, category: IE Tests, category: nGraph

#2201 Fixed query network for networks with KSO
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
Labels: bug, category: IE Tests, category: IE common, category: nGraph

#2175 Extend error message
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
Labels: bug, category: nGraph

#2102 nGraph some KW fixes
  ngraph/core/include/ngraph/file_util.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/detection_output.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/gather_nd.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/interpolate.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/matmul.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/replace_slice.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/scatter_update.hpp
  ngraph/core/reference/src/runtime/reference/pad.cpp
  ngraph/core/reference/src/runtime/reference/reshape.cpp
  ngraph/core/reference/src/runtime/reference/slice.cpp
  ngraph/core/src/env_util.cpp
  ngraph/core/src/file_util.cpp
  ngraph/core/src/op/shape_of.cpp
  ngraph/core/src/op/tensor_iterator.cpp
  ngraph/core/src/op/util/scatter_base.cpp
  ngraph/core/src/runtime/aligned_buffer.cpp
  ngraph/core/src/runtime/host_tensor.cpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/test/file_util.cpp
  ngraph/test/runtime/ie/ie_backend.cpp
  ngraph/test/runtime/ie/ie_executable.cpp
Labels: bug, category: nGraph

#2196 Eliminated invalid sub-graphs with constant, parameter and result layers
  docs/template_plugin/src/template_plugin.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
Labels: category: CPU, category: docs

#2222 [IE][TESTS] Fix compareRawBuffers and compareBlobData methods
  inference-engine/tests/ie_test_utils/functional_test_utils/blob_utils.hpp
Labels: category: IE Tests

#2205 [IE VPU] Workaround to support parameter Beta for layer Swish
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/decompose_swish.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/activation.cpp
Labels: category: IE Tests, category: VPU
