Repository openvinotoolkit/openvino, pull requests merged in 2020-07, with the labels that each got.

#1172 Removed disable_tests.hpp
  inference-engine/tests_deprecated/helpers/disable_tests.hpp
Labels: category: IE Tests

#1173 Clean-up files in tests helpers
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/network_tests/network_test.cpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/bin_conv_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/transformations/single_layer_transformations_test.cpp
  inference-engine/tests_deprecated/helpers/single_layer_common.hpp
  inference-engine/tests_deprecated/helpers/tests_common.cpp
  inference-engine/tests_deprecated/helpers/tests_common.hpp
  inference-engine/tests_deprecated/helpers/tests_common_func.hpp
  inference-engine/tests_deprecated/unit/cnn_network/layer_builder.cpp
  inference-engine/tests_deprecated/unit/cnn_network/layer_builder.h
Labels: category: IE Tests

#743 [IE TEST] LRN tests fixed params
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/lrn.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/lrn.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/lrn.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/lrn.cpp
Labels: category: IE Tests

#1152 [IE CLDNN] Autoremove comments from processed cl files
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/primitive_db_gen.py
Labels: category: GPU

#1088 [IE CLDNN] Don't force expected reorder layout & improve i64->i32 fallback
  inference-engine/thirdparty/clDNN/src/graph_optimizer/add_required_reorders.cpp
Labels: category: GPU

#1057 [VPU] StaticShapeNMS support
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_non_maximum_suppression.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_non_maximum_suppression.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/static_shape_nms.cpp
  inference-engine/tests/functional/plugin/myriad/single_layer_tests/static_shape_nms.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/nms_nonzero.cpp
Labels: category: VPU

#1136 [IE TESTS] ie_class migration to the new test infrastructure
  docs/template_plugin/CMakeLists.txt
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/core_integration.cpp
  docs/template_plugin/tests_deprecated/functional/CMakeLists.txt
  docs/template_plugin/tests_deprecated/functional/test_model_repo.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/CMakeLists.txt
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/file_utils.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/skip_tests_config.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
  inference-engine/tests_deprecated/functional/gna/shared_tests_instance/ie_class/ie_class.cpp
  inference-engine/tests_deprecated/functional/shared_tests/CMakeLists.txt
  inference-engine/tests_deprecated/functional/shared_tests/inference_engine_regression_tests/common_dyn_batch_regression.hpp
  inference-engine/tests_deprecated/functional/vpu/myriad_tests/vpu_tests_config.cpp
Labels: category: IE Tests

#1144 Remove opset0 from public API
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/builder/reshape.hpp
  ngraph/src/ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/src/ngraph/frontend/onnx_import/op/batch_norm.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/conv.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/hardmax.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/mean_variance_normalization.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/topk.cpp
  ngraph/src/ngraph/frontend/onnx_import/ops_bridge.cpp
  ngraph/src/ngraph/frontend/onnx_import/utils/arg_min_max_factory.cpp
  ngraph/src/ngraph/opsets/opset.cpp
  ngraph/test/onnx/onnx_import_provenance.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/opset_pass/binary_elementwise_opset_pass.cpp
  ngraph/test/opset_pass/broadcast_opset_pass.cpp
  ngraph/test/opset_pass/convolution_opset_pass.cpp
  ngraph/test/opset_pass/gather_opset_pass.cpp
  ngraph/test/opset_pass/logical_and_opset_pass.cpp
  ngraph/test/opset_pass/logical_not_opset_pass.cpp
  ngraph/test/opset_pass/logical_or_opset_pass.cpp
  ngraph/test/opset_pass/logical_xor_opset_pass.cpp
  ngraph/test/opset_pass/one_hot_opset_pass.cpp
  ngraph/test/opset_pass/pad_opset_pass.cpp
  ngraph/test/opset_pass/poolings_opset_pass.cpp
  ngraph/test/opset_pass/reduction_opset_pass.cpp
  ngraph/test/opset_pass/reverse_opset_pass.cpp
  ngraph/test/opset_pass/select_opset_pass.cpp
  ngraph/test/opset_pass/slice_opset_pass.cpp
  ngraph/test/opset_pass/softmax_opset_pass.cpp
  ngraph/test/opset_pass/topk_opset_pass.cpp
  ngraph/test/provenance.cpp
  ngraph/test/runtime/CMakeLists.txt
  ngraph/test/runtime/dynamic/dynamic_backend.cpp
  ngraph/test/runtime/ie/ie_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/runtime/interpreter/unit_test.manifest
  ngraph/test/runtime/opset0.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/opset1_downgrade.cpp
  ngraph/test/runtime/opset1_downgrade.hpp
  ngraph/test/runtime/opset1_upgrade.cpp
  ngraph/test/runtime/opset1_upgrade.hpp
  ngraph/test/util/engine/ie_engines.cpp
Labels: category: build, category: nGraph

#1176 Removed WA for C API compilation
  inference-engine/ie_bridges/c/src/CMakeLists.txt
Labels: category: build

#1154 [IE CLDNN] Add some auto-tuning improvements
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_params.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/weight_bias_params.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/weight_bias_params.h
  inference-engine/thirdparty/clDNN/src/gpu/kernel.cpp
  inference-engine/thirdparty/clDNN/src/gpu/kernel_runner.cpp
Labels: category: GPU

#1041 [IE VPU] Enable DSR_* tests: part 1
  inference-engine/src/vpu/common/src/ngraph/operations/dynamic_shape_resolver.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_binary_elementwise.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_gather.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/gather.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_binary_elementwise.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_clamp.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_concat.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_convert.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_gather.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_squeeze.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_tests_common.hpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_unary_elementwise.cpp
  ngraph/src/ngraph/op/softmax.cpp
Labels: category: VPU, category: nGraph

#1192 Fix Py API building.
  ngraph/python/src/pyngraph/node_factory.cpp
Labels: bug, category: nGraph

#1170 Resolve build failure due to warning C5208
  ngraph/src/ngraph/op/detection_output.hpp
Labels: category: build, category: nGraph

#1178 Updated Core::ReadNetwork documentation
  inference-engine/include/ie_core.hpp
Labels: category: docs

#1129 [VPU] Enable DSR_MatMul tests
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_matmul.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/gemm_transpose.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_matmul.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_tests_common.hpp
Labels: category: VPU

#1201 Fixed typo in docs
  docs/ops/quantization/FakeQuantize_1.md
Labels: category: docs

#1164 Removed const transformer usage in graph transformer
  inference-engine/src/legacy_api/include/graph_transformer.h
  inference-engine/src/legacy_api/src/graph_transformer.cpp
  inference-engine/tests_deprecated/unit/inference_engine_tests/util_const_infer_test.cpp
Labels: category: IE common

#1202 CMAKE: Added IR reader dependency to dev_targets
  inference-engine/CMakeLists.txt
  inference-engine/cmake/plugins/plugins.cmake
  inference-engine/src/inference_engine/ie_network_reader.cpp
  inference-engine/src/readers/ir_reader_v7/CMakeLists.txt
  inference-engine/tests/unit/inference_engine/CMakeLists.txt
  inference-engine/tests_deprecated/unit/CMakeLists.txt
Labels: category: IE reader, category: build

#1026 [ONNX importer] Add more Resize-10 tests
  ngraph/test/models/onnx/resize10_down_scales_const_linear.prototxt
  ngraph/test/models/onnx/resize10_down_scales_const_nearest.prototxt
  ngraph/test/models/onnx/resize10_up_scales_const_linear.prototxt
  ngraph/test/models/onnx/resize10_up_scales_const_nearest.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: ONNX

#1168 Enable read onnx model tensor FLOAT16 no raw data
  ngraph/src/ngraph/frontend/onnx_import/core/tensor.hpp
Labels: ONNX

#1190 [IE TESTS] Fixed type of reduction axes
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/lrn.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/lrn.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/lrn.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/lrn.cpp
Labels: category: IE Tests

#1204 [IE][VPU] exclude test: conv_3x3s1p1_vgg (issue: 34466)
  inference-engine/tests_deprecated/functional/vpu/common/myriad_hw_conv_tests.hpp
Labels: bug, category: IE Tests, category: VPU

#1207 [ MO ] Clamp value inference
  model-optimizer/mo/ops/clamp.py
  model-optimizer/mo/ops/clamp_test.py
Labels: category: MO

#1095 Enable nGraph Python API unit tests using Inference Engine APIs
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  ngraph/python/requirements.txt
  ngraph/python/setup.py
  ngraph/python/src/ngraph/ops.py
  ngraph/python/src/ngraph/runtime.py
  ngraph/python/src/ngraph/utils/input_validation.py
  ngraph/python/src/ngraph/utils/node_factory.py
  ngraph/python/test/ngraph/__init__.py
  ngraph/python/test/ngraph/models/add_abc.onnx
  ngraph/python/test/ngraph/test_onnx_import.py
  ngraph/python/tests/__init__.py
  ngraph/python/tests/conftest.py
  ngraph/python/tests/runtime.py
  ngraph/python/tests/test_ngraph/__init__.py
  ngraph/python/tests/test_ngraph/test_basic.py
  ngraph/python/tests/test_ngraph/test_convolution.py
  ngraph/python/tests/test_ngraph/test_core.py
  ngraph/python/tests/test_ngraph/test_create_op.py
  ngraph/python/tests/test_ngraph/test_data_movement.py
  ngraph/python/tests/test_ngraph/test_dyn_attributes.py
  ngraph/python/tests/test_ngraph/test_input_validation.py
  ngraph/python/tests/test_ngraph/test_node_factory.py
  ngraph/python/tests/test_ngraph/test_normalization.py
  ngraph/python/tests/test_ngraph/test_ops.py
  ngraph/python/tests/test_ngraph/test_ops_binary.py
  ngraph/python/tests/test_ngraph/test_ops_fused.py
  ngraph/python/tests/test_ngraph/test_ops_matmul.py
  ngraph/python/tests/test_ngraph/test_ops_multioutput.py
  ngraph/python/tests/test_ngraph/test_ops_reshape.py
  ngraph/python/tests/test_ngraph/test_ops_scatter.py
  ngraph/python/tests/test_ngraph/test_ops_unary.py
  ngraph/python/tests/test_ngraph/test_pooling.py
  ngraph/python/tests/test_ngraph/test_reduction.py
  ngraph/python/tests/test_ngraph/test_sequence_processing.py
  ngraph/python/tests/test_ngraph/util.py
  ngraph/python/tox.ini
Labels: category: nGraph

#1099 Add FakeQuantize op to ONNX importer
  ngraph/src/ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/src/ngraph/frontend/onnx_import/op/fake_quantize.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/fake_quantize.hpp
  ngraph/src/ngraph/frontend/onnx_import/ops_bridge.cpp
  ngraph/test/models/onnx/quantization/fake_quantize_const_inputs.prototxt
  ngraph/test/models/onnx/quantization/fake_quantize_nonconst_inputs.prototxt
  ngraph/test/onnx/onnx_import_quant.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: ONNX, category: nGraph

#874 [ BTS & STB ] Fixing transformations
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.hpp
  model-optimizer/extensions/front/tf/space_to_batch.py
  model-optimizer/mo/ops/pad.py
Labels: bug, category: MO

#1216 Use include headers in unit tests
  inference-engine/tests/unit/inference_engine/CMakeLists.txt
Labels: category: IE Tests, category: build

#1211 [IE CLDNN] Add additional check for local block io support
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/mmad.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/common_kernel_base.cpp
  inference-engine/thirdparty/clDNN/src/gpu/device_info.cpp
Labels: category: GPU

#1217 [IE CLDNN] Fix input feature padding handling in dw conv fsv16 kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_bfyx_f16_depthwise.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#1184 Remove atan2
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/op/op_version_tbl.hpp
  ngraph/src/ngraph/ops.hpp
  ngraph/src/ngraph/pass/cse.cpp
  ngraph/src/ngraph/serializer.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/atan2.in.cpp
  ngraph/test/backend/autodiff.in.cpp
  ngraph/test/copy.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/CMakeLists.txt
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/op/atan2.cpp
  ngraph/test/runtime/op/atan2.hpp
  ngraph/test/runtime/opset0.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/opset1_upgrade.cpp
Labels: category: nGraph

#1185 Removed BatchNotmTraining
  ngraph/src/ngraph/frontend/onnx_import/op/batch_norm.cpp
  ngraph/src/ngraph/op/batch_norm.cpp
  ngraph/src/ngraph/op/batch_norm.hpp
  ngraph/src/ngraph/op/op_version_tbl.hpp
  ngraph/src/ngraph/serializer.cpp
  ngraph/test/backend/batch_norm.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/batch_norm.cpp
Labels: category: nGraph

#640 [IE CLDNN] Addition of eltwise support for different input sizes.
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#1227 [CPU][TESTS] Disabled sporadically failed Core treading test on Windows
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: IE Tests, platform: win32

#1223 Stick to isort==4.3.21
  model-optimizer/requirements_dev.txt
Labels: category: MO

#795 Add assert for Clip-11 in case of unexpected attributes
  model-optimizer/extensions/front/onnx/clip_ext.py
Labels: category: MO

#1059 [GNA] Added support configuration of nthreads and quantization bits for python benchmark
  tools/benchmark/main.py
  tools/benchmark/parameters.py
  tools/benchmark/utils/constants.py
Labels: category: GNA

#1238 Added IR v7 reader dependency for functional tests
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
Labels: category: build

#1181 Removed ArgMax ArgMin
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/op/argmax.cpp
  ngraph/src/ngraph/op/argmax.hpp
  ngraph/src/ngraph/op/argmin.cpp
  ngraph/src/ngraph/op/argmin.hpp
  ngraph/src/ngraph/op/op_version_tbl.hpp
  ngraph/src/ngraph/ops.hpp
  ngraph/src/ngraph/runtime/reference/argmax.hpp
  ngraph/src/ngraph/runtime/reference/argmin.hpp
  ngraph/src/ngraph/serializer.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/arg_reduce.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/index_reduction.cpp
  ngraph/test/zero_dim_tensor_elimination.cpp
Labels: category: nGraph

#942 Preprocessing(GAPI): Universal intrinsics (AVX2) implementation of U8C1 linear Resize.
  inference-engine/src/preprocessing/cpu_x86_avx2/ie_preprocess_gapi_kernels_avx2.cpp
  inference-engine/src/preprocessing/cpu_x86_avx2/ie_preprocess_gapi_kernels_avx2.hpp
  inference-engine/src/preprocessing/cpu_x86_sse42/ie_preprocess_gapi_kernels_sse42.cpp
  inference-engine/src/preprocessing/cpu_x86_sse42/ie_preprocess_gapi_kernels_sse42.hpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/thirdparty/ocv/opencv_hal_avx.hpp
Labels: category: IE common

#1234 [IE TESTS] Add Cpu plugin as dependecies to the functional tests
  inference-engine/tests/functional/plugin/shared/CMakeLists.txt
Labels: category: IE Tests, category: build

#1212 [IE TESTS] Add Convert, ConvertLike single layer tests. Refactoring ` Range`
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/convert.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/convert_like.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/range_add.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/convert.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/convert_like.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/range.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/range_add.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/convert.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/convert_like.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/range.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/range_add.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.hpp
Labels: category: IE Tests

#1123 ONNX DequantizeLinear op
  ngraph/src/ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/src/ngraph/frontend/onnx_import/op/dequantize_linear.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/dequantize_linear.hpp
  ngraph/src/ngraph/frontend/onnx_import/ops_bridge.cpp
  ngraph/src/ngraph/frontend/onnx_import/utils/common.cpp
  ngraph/src/ngraph/frontend/onnx_import/utils/common.hpp
  ngraph/test/models/onnx/dequantize_linear_2.prototxt
  ngraph/test/models/onnx/dequantize_linear_3.prototxt
  ngraph/test/models/onnx/dequantize_linear_4.prototxt
  ngraph/test/models/onnx/dequantize_linear_5.prototxt
  ngraph/test/onnx/onnx_import_quant.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: nGraph

#1182 Removed all and allreduce layers
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/op/all.cpp
  ngraph/src/ngraph/op/all.hpp
  ngraph/src/ngraph/op/allreduce.cpp
  ngraph/src/ngraph/op/allreduce.hpp
  ngraph/src/ngraph/op/op_version_tbl.hpp
  ngraph/src/ngraph/ops.hpp
  ngraph/src/ngraph/pass/constant_folding_logical_reduction.cpp
  ngraph/src/ngraph/runtime/reference/all.hpp
  ngraph/src/ngraph/runtime/reference/allreduce.hpp
  ngraph/src/ngraph/serializer.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/all.in.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/serialize.cpp
  ngraph/test/type_prop/all.cpp
Labels: category: nGraph

#1231 Refactoring: remove unneeded typedef from DetectionOutputAttrs struct.
  ngraph/src/ngraph/op/detection_output.hpp
Labels: category: nGraph

#1009 [Python API] setting and getting preprocessing info through InferRequest
  inference-engine/ie_bridges/python/src/openvino/inference_engine/__init__.py
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pxd
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_Blob.py
  inference-engine/ie_bridges/python/tests/test_InferRequest.py
  inference-engine/ie_bridges/python/tests/test_PreProcessInfo.py
Labels: category: python api

#1235 The supported models detection improvement
  inference-engine/src/readers/ir_reader/ie_ir_reader.cpp
  inference-engine/tests/functional/inference_engine/net_reader_test.cpp
Labels: category: IE reader, enhancement

#944 [IE Tools] Update tools with new Python API
  inference-engine/tools/cross_check_tool/cross_check_tool.py
  inference-engine/tools/cross_check_tool/utils.py
  tools/.gitignore
  tools/README.md
  tools/__init__.py
  tools/python_api_reproducer.py
Labels: category: tools

#1222 Conversion via CNNNetworkImpl ctor
  inference-engine/src/hetero_plugin/hetero_plugin.cpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.hpp
  inference-engine/src/legacy_api/include/cnn_network_impl.hpp
  inference-engine/src/legacy_api/include/convert_function_to_cnn_network.hpp
  inference-engine/src/legacy_api/include/graph_transformer.h
  inference-engine/src/legacy_api/src/cnn_network_impl.cpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/graph_transformer.cpp
  inference-engine/src/readers/ir_reader_v7/ie_cnn_net_reader_impl.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/remove_const_layers.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/convert_ngraph_to_cnn_network_tests.cpp
  inference-engine/tests/functional/inference_engine/transformations/primitives_priority_test.cpp
  inference-engine/tests_deprecated/functional/shared_tests/network_tests/network_i8.hpp
Labels: category: HETERO, category: IE Tests, category: IE common

#1010 [IE TESTS] dynavic batch for mvn layer
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/mvn.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/mvn.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/mvn.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/mvn.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_test_utils.hpp
Labels: category: CPU, category: IE Tests

#1240 Use ngraph.hpp in samples and plugins
  docs/examples/example_ngraph_utils.cpp
  docs/template_extension/extension.cpp
  docs/template_plugin/src/template_executable_network.cpp
  docs/template_plugin/src/template_executable_network.hpp
  docs/template_plugin/src/template_function_transformation.cpp
  docs/template_plugin/src/template_function_transformation.hpp
  docs/template_plugin/src/template_pattern_transformation.cpp
  docs/template_plugin/src/template_pattern_transformation.hpp
  docs/template_plugin/tests/functional/transformations/template_transformations_test.cpp
  inference-engine/samples/hello_reshape_ssd/main.cpp
  inference-engine/samples/hello_reshape_ssd/reshape_ssd_extension.hpp
  ngraph/src/ngraph/ngraph.hpp
Labels: category: nGraph

#1258 Fixed RTTI issues for ngraph::Variant
  inference-engine/src/inference_engine/ie_parameter.cpp
  inference-engine/src/transformations/include/transformations/rt_info/fused_names_attribute.hpp
  inference-engine/src/transformations/include/transformations/rt_info/primitives_priority_attribute.hpp
  inference-engine/src/transformations/src/transformations/rt_info/fused_names_attribute.cpp
  inference-engine/src/transformations/src/transformations/rt_info/primitives_priority_attribute.cpp
  ngraph/src/ngraph/variant.cpp
  ngraph/src/ngraph/variant.hpp
  ngraph/test/op.cpp
Labels: category: IE transformations, category: nGraph

#1135 [LPT] Eltwise Prod transformation fix
  inference-engine/src/low_precision_transformations/src/eltwise.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/multiply_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/multiply_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/multiply_transformation.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/common/fake_quantize_on_data.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/multiply_function.hpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/common/fake_quantize_on_data.cpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/multiply_function.cpp
Labels: category: IE Tests, category: LP transformations

#1137 [IE TESTS] Added single layer tests
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/activation.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/activation.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_functions/src/activation.cpp
Labels: category: GPU, category: IE Tests

#1230 Move arithmetics spec from v1 to v4 spec docs
  docs/ops/arithmetic/Acosh_3.md
  docs/ops/arithmetic/Asinh_3.md
  docs/ops/arithmetic/Atanh_3.md
  docs/ops/opset3.md
  docs/ops/opset4.md
Labels: category: MO, category: docs

#687 [nGraph] Allow to use protobuf lite in onnx importer
  CMakeLists.txt
  ngraph/CMakeLists.txt
  ngraph/cmake/external_onnx.cmake
  ngraph/cmake/external_protobuf.cmake
  ngraph/src/ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/src/ngraph/frontend/onnx_import/core/attribute.hpp
  ngraph/src/ngraph/frontend/onnx_import/core/tensor.hpp
  ngraph/src/ngraph/frontend/onnx_import/onnx.cpp
  ngraph/src/ngraph/frontend/onnx_import/utils/common.cpp
  ngraph/test/CMakeLists.txt
Labels: category: nGraph

#1206 [nGraph] Fix reshape builder if target shape is scalar
  ngraph/src/ngraph/builder/reshape.cpp
  ngraph/src/ngraph/frontend/onnx_import/utils/reshape.cpp
  ngraph/src/ngraph/op/reshape.cpp
  ngraph/src/ngraph/pass/nop_elimination.cpp
  ngraph/src/ngraph/runtime/opt_kernel/broadcast.hpp
  ngraph/test/backend/reshape.in.cpp
Labels: category: nGraph

#1128 SoftPlus operation specification
  docs/ops/activation/SoftPlus_4.md
  docs/ops/opset4.md
Labels: category: docs

#1200 Swish operation specification
  docs/ops/activation/Swish_4.md
  docs/ops/opset4.md
Labels: category: docs

#1210 Fix the __repr__ function for dynamic shapes
  ngraph/python/src/pyngraph/function.cpp
  ngraph/python/src/pyngraph/node.cpp
  ngraph/python/src/pyngraph/ops/parameter.cpp
  ngraph/python/tests/test_ngraph/models/ab_plus_c_dynamic.prototxt
  ngraph/python/tests/test_ngraph/test_core.py
Labels: category: nGraph

#1125 [IE CLDNN] Added Mish operation
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/cldnn_engine/cldnn_program.h
  inference-engine/thirdparty/clDNN/api/activation.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_common.cpp
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/activation_simple_gpu_test.cpp
Labels: category: GPU

#1254 Add python API codeowners
  CODEOWNERS
Labels: category: CI

#1213 [IE VPU] Remove dataToShape edges from unsued data
  inference-engine/src/vpu/graph_transformer/include/vpu/model/model.hpp
  inference-engine/src/vpu/graph_transformer/src/model/model.cpp
  inference-engine/tests/unit/vpu/middleend_tests/edges_tests/stage_dependency_edge.cpp
Labels: category: VPU

#1271 [IE TESTS] Added single layer test "Ceiling"
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/cldnn_engine/cldnn_program.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/activation.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_functions/src/activation.cpp
Labels: category: GPU, category: IE Tests

#909 [CPU] ScatterUpdate ScatterElementsUpdate and ScatterNDUpdate support
  docs/ops/movement/ScatterUpdate_3.md
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_scatter_update_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_scatter_update_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/scatter_ND_update.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/scatter_elements_update.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/scatter_update.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/scatter_ND_update.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/scatter_elements_update.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/scatter_update.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/scatter_ND_update.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/scatter_elements_update.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/scatter_update.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/scatter_ND_update.cpp
  inference-engine/tests/ngraph_functions/src/scatter_elements_update.cpp
  inference-engine/tests/ngraph_functions/src/scatter_update.cpp
Labels: category: CPU, category: IE Tests

#1257 [IE Common] Replace static_cast with saturated one
  inference-engine/src/legacy_api/src/net_pass.cpp
Labels: category: IE common

#1260 Simplified usage of CNNNetworkIterator
  inference-engine/src/legacy_api/include/details/ie_cnn_network_iterator.hpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/ngraph_reader_tests.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/network_utils.hpp
  inference-engine/tests_deprecated/functional/mkldnn/single_layer_tests/conv_tests.cpp
  inference-engine/tests_deprecated/functional/shared_tests/common_single_layer_tests/single_layer_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/single_layer_tests/conv_tests.hpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_matcher.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/structure/graph_conv_concat_tests.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/structure/graph_structure_test.cpp
  inference-engine/tests_deprecated/unit/graph_tools/graph_tools_test.cpp
Labels: category: IE common

#584 Implement ScatterND operation in MO and transform SparseToDense for W&D model
  docs/ops/opset3.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/tf/sparse_to_dense_ext.py
  model-optimizer/extensions/front/tf/sparse_to_dense_replacer.py
  model-optimizer/extensions/front/tf/sparse_to_dense_replacer_test.py
  model-optimizer/extensions/ops/scatternd.py
  model-optimizer/extensions/ops/scatternd_test.py
  model-optimizer/extensions/ops/sparse_to_dense.py
  model-optimizer/extensions/ops/sparse_to_dense_test.py
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
  ngraph/src/ngraph/opsets/opset4_tbl.hpp
Labels: category: MO

#1215 Add nGraph-ONNX tests
  .ci/openvino-onnx/Dockerfile
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/thirdparty/CMakeLists.txt
  ngraph/python/examples/basic.py
  ngraph/python/requirements_test.txt
  ngraph/python/setup.py
  ngraph/python/src/ngraph/impl/onnx_import/__init__.py
  ngraph/python/src/ngraph/ops.py
  ngraph/python/src/ngraph/utils/node_factory.py
  ngraph/python/src/ngraph/utils/tensor_iterator_types.py
  ngraph/python/src/pyngraph/function.cpp
  ngraph/python/src/pyngraph/onnx_import/onnx_import.cpp
  ngraph/python/src/pyngraph/onnx_import/onnx_import.hpp
  ngraph/python/tests/conftest.py
  ngraph/python/tests/runtime.py
  ngraph/python/tests/test_ngraph/test_basic.py
  ngraph/python/tests/test_ngraph/test_dyn_attributes.py
  ngraph/python/tests/test_ngraph/test_normalization.py
  ngraph/python/tests/test_ngraph/test_ops.py
  ngraph/python/tests/test_ngraph/test_ops_binary.py
  ngraph/python/tests/test_ngraph/test_ops_fused.py
  ngraph/python/tests/test_ngraph/test_ops_matmul.py
  ngraph/python/tests/test_ngraph/test_pooling.py
  ngraph/python/tests/test_onnx/models/add_abc.onnx
  ngraph/python/tests/test_onnx/test_onnx_import.py
  ngraph/python/tests/test_onnx/test_ops_batchnorm.py
  ngraph/python/tests/test_onnx/test_ops_binary.py
  ngraph/python/tests/test_onnx/test_ops_convpool.py
  ngraph/python/tests/test_onnx/test_ops_logical.py
  ngraph/python/tests/test_onnx/test_ops_matmul.py
  ngraph/python/tests/test_onnx/test_ops_nonlinear.py
  ngraph/python/tests/test_onnx/test_ops_reduction.py
  ngraph/python/tests/test_onnx/test_ops_reshape.py
  ngraph/python/tests/test_onnx/test_ops_unary.py
  ngraph/python/tests/test_onnx/test_ops_variadic.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
  ngraph/python/tests/test_onnx/utils/__init__.py
  ngraph/python/tests/test_onnx/utils/model_zoo_tester.py
  ngraph/python/tests/test_onnx/utils/onnx_backend.py
  ngraph/python/tests/test_onnx/utils/onnx_helpers.py
  ngraph/python/tox.ini
Labels: ONNX, category: nGraph

#839 [GNA] MemoryStateImpl
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/layers/gna_memory_layer.hpp
  inference-engine/src/gna_plugin/memory/gna_memory_state.cpp
  inference-engine/src/gna_plugin/memory/gna_memory_state.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/memory_states.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/memory_states.hpp
  inference-engine/tests/functional/plugin/shared/src/behavior/memory_states.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/test_model/test_model.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/test_model/test_model.hpp
  inference-engine/tests_deprecated/functional/ie_tests/src/custom_matcher.cpp
Labels: category: GNA

#997 [GNA] Support in GNA plugin for power layer with non-1 exponents
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/backend/dnn_types.h
  inference-engine/src/gna_plugin/backend/make_pwl.cpp
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/runtime/pwl.cpp
  inference-engine/src/gna_plugin/runtime/pwl.h
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/power.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/power.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/power.cpp
Labels: category: GNA

#1242 [TESTS] Added Comparison and Logical single layer tests
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/comparison.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/logical.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/comparison.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/logical.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/comparison.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/logical.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/comparison.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/logical.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_functions/src/comparison.cpp
  inference-engine/tests/ngraph_functions/src/constant.cpp
  inference-engine/tests/ngraph_functions/src/logical.cpp
  inference-engine/tests/ngraph_functions/src/utils/ngraph_helpers.cpp
Labels: category: IE Tests

#1244 [VPU][GT] Process StridedSlice stage on device as one kernel
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/src/middleend/pass_manager.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/strided_slice.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/strided_slice.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/strided_slice.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/strided_slice.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_strided_slice.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/strided_slice.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/strided_slice.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_strided_slice_test.h
  inference-engine/tests_deprecated/functional/vpu/vpu_base/myriad_layers_reference_functions.cpp
Labels: category: VPU

#1188 [GNA] Update GNA lib + propagate QoS timeout to the calling app
  inference-engine/cmake/dependencies.cmake
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/src/gna_plugin/gna_infer_request.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
Labels: category: GNA

#1265 Remove old Scatter operations
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/op/fused/scatter_nd.cpp
  ngraph/src/ngraph/op/fused/scatter_nd.hpp
  ngraph/src/ngraph/op/op_version_tbl.hpp
  ngraph/src/ngraph/op/scatter_add.cpp
  ngraph/src/ngraph/op/scatter_nd_add.cpp
  ngraph/src/ngraph/op/scatter_nd_add.hpp
  ngraph/src/ngraph/ops.hpp
  ngraph/src/ngraph/runtime/reference/scatter_add.hpp
  ngraph/src/ngraph/runtime/reference/scatter_nd_add.hpp
  ngraph/src/ngraph/serializer.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/scatter.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/scatter_add.cpp
  ngraph/test/type_prop/scatter_nd.cpp
Labels: category: nGraph

#1293 Throw special exception if IR v7 is passed, but no IR v7 reader
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/ie_network_reader.cpp
  inference-engine/src/readers/ir_reader/ie_ir_reader.cpp
  inference-engine/src/readers/ir_reader/ie_ir_version.hpp
Labels: category: IE common, category: IE reader

#1114 adjustBatch: support dynamic number of iterations
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/adjust_data_batch.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/loop_end.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/loop_start.cpp
  inference-engine/tests/unit/vpu/middleend_tests/passes_tests/adjust_dynamic_batch.cpp
Labels: category: VPU

#1159 [IE][VPU][nGraph]: Enables dynamic Reshape with non-const pattern support in myriad plugin
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_reshape.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/eliminate_shapeof_after_dsr.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/utilities.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_broadcast.cpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_reshape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_reshape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/eliminate_shapeof_after_dsr.cpp
  inference-engine/src/vpu/common/src/ngraph/utilities.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/reshape.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_reshape.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/eliminate_shapeof_after_dsr.cpp
  ngraph/src/ngraph/op/reshape.hpp
  ngraph/src/ngraph/partial_shape.cpp
  ngraph/src/ngraph/partial_shape.hpp
Labels: category: VPU

#1297 Added U32 precision
  inference-engine/ie_bridges/c/docs/api_overview.md
  inference-engine/ie_bridges/c/include/c_api/ie_c_api.h
  inference-engine/ie_bridges/c/src/ie_c_api.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/constants.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/include/ie_blob.h
  inference-engine/include/ie_precision.hpp
  inference-engine/samples/common/samples/classification_results.h
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/gna_plugin/gna_executable_network.hpp
  inference-engine/src/inference_engine/blob_transform.cpp
  inference-engine/src/inference_engine/ie_rtti.cpp
  inference-engine/src/legacy_api/include/ie_ngraph_utils.hpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/legacy_api/src/net_pass.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/plugin_api/blob_factory.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/tests/functional/inference_engine/blob_copy_test.cpp
  inference-engine/tests/functional/inference_engine/ie_precision_test.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/layer_transformation.cpp
  inference-engine/tests_deprecated/unit/inference_engine_tests/util_const_infer_test.cpp
  ngraph/test/runtime/ie/ie_executable.cpp
  ngraph/test/util/engine/ie_engines.cpp
Labels: category: IE common

#1277 Removed max pool v0
  ngraph/src/ngraph/op/max_pool.cpp
  ngraph/src/ngraph/op/max_pool.hpp
  ngraph/src/ngraph/op/op_version_tbl.hpp
  ngraph/src/ngraph/pass/core_fusion.cpp
  ngraph/src/ngraph/pass/core_fusion.hpp
  ngraph/src/ngraph/serializer.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/pool.in.cpp
  ngraph/test/eval.cpp
  ngraph/test/onnx/onnx_import_provenance.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/opset_pass/poolings_opset_pass.cpp
  ngraph/test/runtime/CMakeLists.txt
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/op/and.cpp
  ngraph/test/runtime/op/and.hpp
  ngraph/test/runtime/opset0.hpp
  ngraph/test/runtime/opset0_downgrade.cpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/opset1_upgrade.cpp
  ngraph/test/type_prop/max_pool.cpp
Labels: category: nGraph

#1252 Enable importing of TF_NASNet_Mobile
  ngraph/src/ngraph/frontend/onnx_import/op/slice.cpp
  ngraph/src/ngraph/op/group_conv.cpp
  ngraph/src/ngraph/op/group_conv.hpp
  ngraph/test/models/onnx/dynamic_shapes/slice_2d_clamp_neg_ends_opset1.prototxt
  ngraph/test/models/onnx/dynamic_shapes/slice_2d_input_opset1.prototxt
  ngraph/test/models/onnx/dynamic_shapes/slice_3d_input_21_axes_ends_max_opset1.prototxt
  ngraph/test/onnx/onnx_import_dyn_shapes.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/type_prop/group_convolution.cpp
Labels: ONNX, bug, category: nGraph

#1300 [VPU][Tests] Fix M2 on deprecated tests for StridedSlice
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_strided_slice_test.h
Labels: category: VPU

#688 Add OpenVINO-ONNX CI check
  .ci/openvino-onnx/Dockerfile
  .ci/openvino-onnx/Jenkinsfile
  ngraph/python/src/ngraph/ops.py
  ngraph/python/src/pyngraph/ops/parameter.cpp
  ngraph/python/src/pyngraph/partial_shape.cpp
  ngraph/python/tests/test_ngraph/models/ab_plus_c_dynamic.prototxt
  ngraph/python/tests/test_ngraph/test_core.py
  ngraph/python/tests/test_ngraph/test_dyn_attributes.py
Labels: ONNX, category: CI, category: onnx importer

#1023 [IE CLDNN] Don't insert reorders if primitive and its user have formats with different no. of dims
  inference-engine/thirdparty/clDNN/src/graph_optimizer/add_required_reorders.cpp
Labels: category: GPU

#1056 [IE CLDNN] WA to use bfyx format if applicable for bf(w)zyx Gather input
  inference-engine/src/cldnn_engine/cldnn_program.cpp
Labels: category: GPU

#1291 [LPT] FuseFakeQuantizeAndScaleShift transformation for last layer fix
  inference-engine/src/low_precision_transformations/src/fuse_fake_quantize_and_scale_shift.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/fuse_fake_quantize_and_scale_shift_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/fuse_fake_quantize_and_scale_shift_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/fuse_fake_quantize_and_scale_shift_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/fuse_fake_quantize_and_scale_shift_transformation.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/low_precision_transformations/fuse_fake_quantize_and_scale_shift_function.hpp
  inference-engine/tests/ngraph_functions/src/low_precision_transformations/fuse_fake_quantize_and_scale_shift_function.cpp
Labels: category: LP transformations

#1309 Fix that brings back the MULTI's ability to add/remove devices on the fly
  inference-engine/src/multi_device/multi_device.cpp
Labels: bug, category: MULTI

#1285 [IE TESTS] Add ShapeOf SingleLayerTest
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/shape_of.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/relu_shape_of.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/shape_of.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/relu_shape_of.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/shape_of.cpp
  inference-engine/tests/functional/plugin/shared/src/subgraph_tests/relu_shape_of.cpp
Labels: category: IE Tests

#1149 Added mish layer doc opset
  docs/ops/activation/GELU_2.md
  docs/ops/activation/Mish_4.md
  docs/ops/opset4.md
Labels: category: docs

#1303 Reverse Sequence code clean up
  ngraph/src/ngraph/op/reverse_sequence.cpp
Labels: category: nGraph

#1304 [IE Common][Tests] saturated_cast: refactoring & tests
  inference-engine/src/legacy_api/src/net_pass.cpp
  inference-engine/src/plugin_api/precision_utils.h
  inference-engine/tests/unit/inference_engine/CMakeLists.txt
  inference-engine/tests/unit/inference_engine/saturated_cast_test.cpp
Labels: category: IE common

#1266 [ONNX] Exception handling refinements.
  ngraph/src/ngraph/frontend/onnx_import/core/graph.cpp
  ngraph/src/ngraph/frontend/onnx_import/exceptions.hpp
  ngraph/src/ngraph/frontend/onnx_import/op/batch_norm.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/conv_integer.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/eye_like.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/leaky_relu.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/lp_norm.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/lp_pool.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/mod.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/non_max_suppression.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/pad.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/quant_conv.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/shrink.cpp
  ngraph/src/ngraph/frontend/onnx_import/utils/reduction.cpp
  ngraph/src/ngraph/op/pad.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/models/onnx/dynamic_shapes/add_opset6_dyn_shape.prototxt
  ngraph/test/models/onnx/instance_norm_bad_scale_type.prototxt
  ngraph/test/onnx/onnx_import_exceptions.cpp
Labels: ONNX, category: nGraph, category: onnx importer

#1284 Add Input and Output class to Py API
  ngraph/python/setup.py
  ngraph/python/src/ngraph/impl/__init__.py
  ngraph/python/src/pyngraph/node.cpp
  ngraph/python/src/pyngraph/node_input.cpp
  ngraph/python/src/pyngraph/node_input.hpp
  ngraph/python/src/pyngraph/node_output.cpp
  ngraph/python/src/pyngraph/node_output.hpp
  ngraph/python/src/pyngraph/pyngraph.cpp
  ngraph/python/tests/test_ngraph/test_basic.py
Labels: category: nGraph

#1328 [IE][VPU][nGraph]: Fixes StridedSlice DTS
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_strided_slice.cpp
Labels: category: VPU

#1327 [IE][VPU][nGraph]: Fixes Reshape shape infer method
  ngraph/src/ngraph/op/reshape.cpp
Labels: category: VPU, category: nGraph

#1326 [IE][VPU][nGraph]: Enables merging subsequent DSR operations
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/merge_subsequent_dsr_operations.hpp
  inference-engine/src/vpu/common/src/ngraph/transformations/merge_subsequent_dsr_operations.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
Labels: category: VPU

#1314 remove nGraph deprecated methods
  inference-engine/src/legacy_api/include/ie_ngraph_utils.hpp
  inference-engine/src/plugin_api/generic_ie.hpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_nonzero.cpp
  ngraph/src/ngraph/dimension.hpp
  ngraph/src/ngraph/graph_util.cpp
  ngraph/src/ngraph/graph_util.hpp
  ngraph/src/ngraph/node.hpp
  ngraph/src/ngraph/node_output.cpp
  ngraph/src/ngraph/op/batch_norm.cpp
  ngraph/src/ngraph/op/batch_norm.hpp
  ngraph/src/ngraph/op/op.hpp
  ngraph/src/ngraph/pass/core_fusion.cpp
  ngraph/src/ngraph/pass/manager_state.hpp
  ngraph/src/ngraph/pass/nop_elimination.cpp
  ngraph/src/ngraph/runtime/tensor.cpp
  ngraph/src/ngraph/runtime/tensor.hpp
  ngraph/src/ngraph/type/element_type.hpp
  ngraph/src/ngraph/validation_util.cpp
  ngraph/test/backend/api.in.cpp
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/runtime/dynamic/dynamic_backend.cpp
  ngraph/test/runtime/dynamic/dynamic_backend.hpp
  ngraph/test/util.cpp
  ngraph/test/util/test_tools.hpp
Labels: category: nGraph

#1331 [IE Myriad] Remove Myriad 2 from supported devices in XLink
  inference-engine/thirdparty/movidius/XLink/pc/protocols/usb_boot.c
Labels: category: VPU

#1340 Header length for supported model detection is increased
  inference-engine/src/readers/ir_reader/ie_ir_version.hpp
  inference-engine/tests/functional/inference_engine/net_reader_test.cpp
Labels: category: IE reader

#781 [IE CLDNN] Adjustment of layouts to choose optimal deconvolution
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#1189 Specify operation CTCLoss-4
  docs/ops/opset4.md
  docs/ops/sequence/CTCLoss_4.md
Labels: category: docs

#1283 Allow python benchmark_app load onnx model
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/tests/conftest.py
  inference-engine/ie_bridges/python/tests/test_IECore.py
  inference-engine/samples/benchmark_app/README.md
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  inference-engine/samples/benchmark_app/main.cpp
  inference-engine/tools/benchmark_tool/README.md
  tools/benchmark/benchmark.py
  tools/benchmark/main.py
  tools/benchmark/parameters.py
  tools/benchmark/utils/constants.py
  tools/benchmark/utils/utils.py
Labels: category: tools

#1332 [IE TESTS] Small refactoring of test infrastructure
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/comparison.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/comparison.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/comparison.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/squeeze_unsqueeze.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/comparison.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/range.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/squeeze_unsqueeze.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/common_utils.hpp
Labels: category: IE Tests

#1274 Remove implicit conversion from getInputTo, getLayerCreator
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pxd
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_DataPtr.py
  inference-engine/ie_bridges/python/tests/test_IENetLayer.py
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/gna_plugin/gna_executable_network.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin_internal.hpp
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
  inference-engine/src/hetero_plugin/hetero_plugin.cpp
  inference-engine/src/inference_engine/ie_data.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/multi_device/multi_device.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
  inference-engine/tests/functional/inference_engine/net_reader_test.cpp
  inference-engine/tests/functional/inference_engine/network_serializer_test.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/fake_quantize_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/ngraph_reader_tests.hpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/relu_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reshape_tests.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/layer_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/layer_transformation.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/conversions/dynamic_shape_resolver.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/network_utils.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/network_utils.hpp
  inference-engine/tests_deprecated/functional/shared_tests/network_tests/network_i8.hpp
  inference-engine/tests_deprecated/functional/shared_tests/transformations/single_layer_transformations_test.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/test_graph.hpp
Labels: category: GNA, category: GPU, category: IE Tests, category: IE common, category: VPU

#1268 [IE Myriad] CMX limit compile option
  inference-engine/src/vpu/common/include/vpu/parsed_config_base.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/compile_env.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/graph_transformer.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/hw/utility.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/model.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/private_plugin_config.hpp
  inference-engine/src/vpu/graph_transformer/src/graph_transformer.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/hw/conv_tiling/hw_convolution_tiler.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/hw/pooling_tiling/hw_pooling_tiler.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/hw/utility.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/hw_fc_tiling.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/split_hw_conv_and_pool.cpp
  inference-engine/src/vpu/graph_transformer/src/model/model.cpp
  inference-engine/src/vpu/graph_transformer/src/parsed_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/infer_request_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request_config.hpp
  inference-engine/tools/compile_tool/README.md
  inference-engine/tools/compile_tool/main.cpp
  inference-engine/tools/vpu/vpu_compile/README.md
  inference-engine/tools/vpu/vpu_compile/main.cpp
Labels: category: VPU

#1323 Remove get_arguments
  inference-engine/src/transformations/src/transformations/convert_broadcast_to_tiles.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_one_hot_to_one_hot_ie.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_strided_slice_to_crop.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_tile_to_ie_tile.cpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_reshape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_reduce.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_reshape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_transpose.cpp
  ngraph/src/ngraph/node.cpp
  ngraph/src/ngraph/node.hpp
  ngraph/src/ngraph/op/get_output_element.cpp
  ngraph/src/ngraph/op/get_output_element.hpp
  ngraph/src/ngraph/op/group_conv.cpp
  ngraph/src/ngraph/op/quantized_convolution.hpp
  ngraph/src/ngraph/op/quantized_dot.hpp
  ngraph/src/ngraph/op/util/fused_op.cpp
  ngraph/src/ngraph/pass/algebraic_simplification.cpp
  ngraph/src/ngraph/pass/batch_fusion.cpp
  ngraph/src/ngraph/pass/concat_fusion.cpp
  ngraph/src/ngraph/pass/constant_folding_quantize.cpp
  ngraph/src/ngraph/pass/core_fusion.cpp
  ngraph/src/ngraph/pass/fused_op_decomposition.cpp
  ngraph/src/ngraph/pass/implicit_broadcast_elimination.cpp
  ngraph/src/ngraph/pass/like_replacement.cpp
  ngraph/src/ngraph/pass/reshape_elimination.cpp
  ngraph/src/ngraph/pass/reshape_sinking.cpp
  ngraph/src/ngraph/pass/zero_dim_tensor_elimination.cpp
  ngraph/src/ngraph/pattern/matcher.hpp
  ngraph/test/algebraic_simplification.cpp
  ngraph/test/build_graph.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/control_dependencies.cpp
  ngraph/test/copy.cpp
  ngraph/test/cse.cpp
  ngraph/test/dyn_elimination.cpp
  ngraph/test/input_output_assign.cpp
  ngraph/test/pattern.cpp
  ngraph/test/reshape_elimination.cpp
  ngraph/test/reshape_sinking.cpp
  ngraph/test/specialize_function.cpp
  ngraph/test/type_prop/binary_elementwise.cpp
  ngraph/test/util/test_tools.cpp
Labels: category: nGraph

#1357 Fix unsafe use of CPU_ISSET_S macro.
  inference-engine/src/inference_engine/threading/ie_thread_affinity.cpp
Labels: category: IE common

#1281 [VPU][GT] Use topological order in shape allocation
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/allocator/allocator.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/data.hpp
  inference-engine/src/vpu/graph_transformer/src/middleend/allocator/allocator.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/allocate_resources.cpp
  inference-engine/src/vpu/graph_transformer/src/model/data.cpp
Labels: category: VPU

#1349 [nGraph][Py][Tests] Remove backup of old models
  ngraph/python/tests/test_onnx/utils/model_zoo_tester.py
Labels: ONNX, category: nGraph

#1205 ReduceLp operation specification
  docs/ops/opset4.md
  docs/ops/reduction/ReduceLp_4.md
Labels: category: docs

#1263 Removed v0 fused operations
  inference-engine/src/transformations/include/transformations/convert_opset1_to_legacy/conv_bias_fusion.hpp
  inference-engine/src/transformations/include/transformations/mul_add_verification.hpp
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/builder/quantized_conv_builder.cpp
  ngraph/src/ngraph/builder/quantized_conv_builder.hpp
  ngraph/src/ngraph/frontend/onnx_import/op/conv.cpp
  ngraph/src/ngraph/ngraph.hpp
  ngraph/src/ngraph/op/fused/conv_fused.cpp
  ngraph/src/ngraph/op/fused/conv_fused.hpp
  ngraph/src/ngraph/op/fused/crossentropy.cpp
  ngraph/src/ngraph/op/fused/crossentropy.hpp
  ngraph/src/ngraph/op/fused/gemm.cpp
  ngraph/src/ngraph/op/fused/gemm.hpp
  ngraph/src/ngraph/op/fused/group_conv.hpp
  ngraph/src/ngraph/op/fused/layer_norm.cpp
  ngraph/src/ngraph/op/fused/layer_norm.hpp
  ngraph/src/ngraph/op/fused/mod.hpp
  ngraph/src/ngraph/op/fused/partial_slice.cpp
  ngraph/src/ngraph/op/fused/partial_slice.hpp
  ngraph/src/ngraph/op/fused/scale_shift.cpp
  ngraph/src/ngraph/op/fused/scale_shift.hpp
  ngraph/src/ngraph/op/fused/softmax_crossentropy.cpp
  ngraph/src/ngraph/op/fused/softmax_crossentropy.hpp
  ngraph/src/ngraph/op/fused/split.hpp
  ngraph/src/ngraph/op/op_version_tbl.hpp
  ngraph/src/ngraph/ops.hpp
  ngraph/src/ngraph/pass/core_fusion.cpp
  ngraph/src/ngraph/pass/core_fusion.hpp
  ngraph/src/ngraph/serializer.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/backend/quantized_convolution.in.cpp
  ngraph/test/op_is.cpp
  ngraph/test/opset1.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/convolution_bias.cpp
  ngraph/test/type_prop/gemm.cpp
  ngraph/test/type_prop/layer_norm.cpp
  ngraph/test/type_prop/scale_shift.cpp
Labels: category: nGraph

#1368 Removed tests for old IR reader
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/comparison.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/eltwise.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/logical.hpp
  inference-engine/tests_deprecated/unit/CMakeLists.txt
  inference-engine/tests_deprecated/unit/cnn_network/cnn_net_reader_impl_test.cpp
  inference-engine/tests_deprecated/unit/cnn_network/layer_builder.cpp
  inference-engine/tests_deprecated/unit/cnn_network/layer_builder.h
  inference-engine/tests_deprecated/unit/cnn_network/mean_image.cpp
  inference-engine/tests_deprecated/unit/cnn_network/mean_image.h
  inference-engine/tests_deprecated/unit/cnn_network/parameters.h
  inference-engine/tests_deprecated/unit/cnn_network/parser_tests_base.hpp
  inference-engine/tests_deprecated/unit/cnn_network/shapes.h
  inference-engine/tests_deprecated/unit/cnn_network/v2_format_parser_test.cpp
  inference-engine/tests_deprecated/unit/cnn_network/v3_format_parser_test.cpp
  inference-engine/tests_deprecated/unit/topology_verification_tests/v2_topology_verification_test.cpp
  inference-engine/tests_deprecated/unit/topology_verification_tests/xml_helper.cpp
  inference-engine/tests_deprecated/unit/topology_verification_tests/xml_helper.hpp
Labels: category: IE Tests

#1378 Update VisionAcceleratorFPGA_Configure.md
  docs/install_guides/VisionAcceleratorFPGA_Configure.md
Labels: category: docs

#1351 Add acosh operator to ONNX importer opset4
  ngraph/src/ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/src/ngraph/frontend/onnx_import/default_opset.hpp
  ngraph/src/ngraph/frontend/onnx_import/op/acosh.cpp
  ngraph/src/ngraph/frontend/onnx_import/op/acosh.hpp
  ngraph/src/ngraph/opsets/opset4_tbl.hpp
  ngraph/test/util/engine/ie_engines.cpp
Labels: category: nGraph, category: onnx importer

#1286 Add getting/setting friendly name for Node wrapper Py API
  ngraph/python/src/ngraph/utils/decorators.py
  ngraph/python/src/pyngraph/node.cpp
  ngraph/python/tests/test_ngraph/test_basic.py
Labels: category: nGraph

#1187 Add mish op to ngraph
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/op/mish.cpp
  ngraph/src/ngraph/op/mish.hpp
  ngraph/src/ngraph/ops.hpp
  ngraph/src/ngraph/opsets/opset4_tbl.hpp
  ngraph/src/ngraph/runtime/reference/mish.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/op_eval/mish.cpp
  ngraph/test/type_prop/mish.cpp
Labels: category: nGraph

#1363 Header length for supported model detection is increased
  inference-engine/src/readers/ir_reader/ie_ir_version.hpp
  inference-engine/tests/functional/inference_engine/net_reader_test.cpp
Labels: category: IE reader

#1400 Removed addLayer implementation from ngraph impl
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.hpp
  inference-engine/src/legacy_api/src/net_pass.cpp
Labels: category: IE common

#1195 [IE Myriad] Added Gelu layer
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/gelu.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/activation.cpp
Labels: category: VPU

#1403 Split CNNlayer validators
  inference-engine/src/legacy_api/include/ie_layers.h
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_layer_validators.cpp
  inference-engine/src/legacy_api/src/ie_layer_validators.hpp
  inference-engine/src/legacy_api/src/shape_infer/built-in/ie_built_in_impl.hpp
  inference-engine/src/legacy_api/src/shape_infer/const_infer/ie_onehot_const_infer.hpp
  inference-engine/src/readers/ir_reader_v7/ie_format_parser.cpp
  inference-engine/src/readers/ir_reader_v7/ie_layer_validators.cpp
  inference-engine/src/readers/ir_reader_v7/ie_layer_validators.hpp
Labels: category: IE common

#1315 Pre-processing(GAPI): ARM(NEON) integration + Split, Merge, Color conversion kernels on NEON
  inference-engine/src/preprocessing/arm_neon/ie_preprocess_gapi_kernels_neon.hpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/tests_deprecated/fluid_preproc/common/fluid_tests.cpp
  inference-engine/tests_deprecated/fluid_preproc/cpu/fluid_tests_cpu.cpp
  inference-engine/thirdparty/ocv/opencv_hal_intrin.hpp
  inference-engine/thirdparty/ocv/opencv_hal_neon.hpp
Labels: category: preprocessing

#1401 [IE TESTS] Added single layer test "Mish"
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/activation.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_functions/src/activation.cpp
Labels: category: GPU, category: IE Tests

#1411 CMAKE: added helper ie_libraries target
  inference-engine/src/CMakeLists.txt
Labels: category: build

#1392 Removed redundant licenses
  ngraph/licenses/Apache-2.0-license.txt
  ngraph/licenses/OFL-license.txt
  ngraph/licenses/caffe2-license.txt
  ngraph/licenses/eigen-license.txt
  ngraph/licenses/fontawesome-license.txt
  ngraph/licenses/jquery-license.txt
  ngraph/licenses/llvm-license.txt
  ngraph/licenses/mkl-dnn-license.txt
  ngraph/licenses/mklml-license.txt
  ngraph/licenses/mlir-license.txt
  ngraph/licenses/notifications.txt
  ngraph/licenses/protobuf-license.txt
  ngraph/licenses/sphinx-license.txt
  ngraph/licenses/sphinx_rtd_theme-license.txt
  ngraph/licenses/swagger-ui-license.txt
  ngraph/licenses/tbb-license.txt
  ngraph/licenses/tensorflow-license.txt
Labels: category: nGraph

#1408 Removed is_parameter, is_constant and is_output
  ngraph/src/ngraph/node.hpp
  ngraph/src/ngraph/op/constant.hpp
  ngraph/src/ngraph/op/parameter.hpp
  ngraph/src/ngraph/op/result.hpp
Labels: category: nGraph

#1420 Removed CNNLayer entries from ie_common.h
  inference-engine/include/ie_common.h
  inference-engine/src/legacy_api/include/details/ie_cnn_network_tools.h
  inference-engine/src/legacy_api/include/ie_layers.h
  inference-engine/src/legacy_api/include/network_serializer.h
  inference-engine/src/legacy_api/src/graph_transformer.cpp
  inference-engine/src/legacy_api/src/network_serializer.cpp
  inference-engine/src/low_precision_transformations/include/low_precision_transformations/activation.hpp
  inference-engine/src/low_precision_transformations/include/low_precision_transformations/quantization_details.hpp
  inference-engine/src/low_precision_transformations/include/low_precision_transformations/transformation_context.hpp
  inference-engine/src/low_precision_transformations/include/low_precision_transformations/transparent_base_transformation.hpp
  inference-engine/src/low_precision_transformations/src/blob_transformation.cpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/src/low_precision_transformations/src/const.cpp
  inference-engine/src/low_precision_transformations/src/dequantization_info.cpp
  inference-engine/src/low_precision_transformations/src/eltwise.cpp
  inference-engine/src/low_precision_transformations/src/fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/fully_connected.cpp
  inference-engine/src/low_precision_transformations/src/gemm.cpp
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/src/low_precision_transformations/src/quantization_details.cpp
  inference-engine/src/low_precision_transformations/src/transformation_context.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_plugin_internal.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/ie_parsed_network.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/data_contents/priorbox_contents.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests_deprecated/functional/mkldnn/shared_tests_instance/graph_tools/graph_tools_functional_tests.cpp
  inference-engine/tests_deprecated/functional/shared_tests/graph_tools/graph_tools_functional_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/transformations/low_precision_transformer_single_layer_tests.hpp
  inference-engine/tests_deprecated/unit/graph_tools/graph_tools_test.cpp
  inference-engine/tests_deprecated/unit/inference_engine_tests/util_const_infer_test.hpp
Labels: category: IE common

#1419 Removed ie_deprecated.cpp from legacy library
  inference-engine/src/legacy_api/src/ie_deprecated.cpp
  inference-engine/src/legacy_api/src/ie_layers.cpp
Labels: category: IE common

#1302 [Stress] Small improvement of scripts
  tests/stress_tests/scripts/compare_memcheck_2_runs.py
  tests/stress_tests/scripts/requirements.txt
Labels: category: IE Tests

#1161 Update list of tests passing/failing using TestCase on IE backend
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: IE Tests, category: nGraph

#1236 Extend nGraph for operation CTCLoss
  ngraph/src/ngraph/CMakeLists.txt
  ngraph/src/ngraph/op/ctc_loss.cpp
  ngraph/src/ngraph/op/ctc_loss.hpp
  ngraph/src/ngraph/ops.hpp
  ngraph/src/ngraph/opsets/opset4_tbl.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/ctc_loss.cpp
Labels: category: nGraph

#1393 [IE Myriad] Remove vpu_profile
  inference-engine/tools/vpu/CMakeLists.txt
  inference-engine/tools/vpu/vpu_profile/CMakeLists.txt
  inference-engine/tools/vpu/vpu_profile/README.md
  inference-engine/tools/vpu/vpu_profile/main.cpp
Labels: category: VPU, category: tools

#1362 [IE CLDNN] Shrink reshape chains
  inference-engine/thirdparty/clDNN/src/graph_optimizer/remove_redundant_reorders.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/reshape_gpu_test.cpp
Labels: category: GPU

#1417 [VPU][GT] Change begin and end masks serialization for StridedSlice
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/strided_slice.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/strided_slice.cpp
Labels: category: VPU

#1122 Add ONNX SpaceToDepth and DepthToSpace extractor
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/onnx/depth_to_space_ext.py
  model-optimizer/extensions/front/onnx/space_to_depth_ext.py
Labels: category: MO

#1438 Corrected message about deprecated IR version
  inference-engine/src/inference_engine/ie_network_reader.cpp
Labels: category: IE common

#1433 Documentation updates
  docs/IE_DG/API_Changes.md
  docs/IE_DG/Extensibility_DG/Intro.md
  docs/IE_DG/Extensibility_DG/deprecated/Factory.md
  docs/IE_DG/Extensibility_DG/deprecated/ShapeInfer.md
  docs/IE_DG/Glossary.md
  docs/IE_DG/inference_engine_intro.md
  docs/IE_DG/nGraph_Flow.md
  docs/IE_DG/supported_plugins/GNA.md
  docs/IE_DG/supported_plugins/MULTI.md
  docs/doxygen/ie_docs.xml
  docs/optimization_guide/dldt_optimization_guide.md
  docs/template_plugin/src/template_plugin.cpp
Labels: category: docs

#1406 Update ShapeOf extender
  model-optimizer/mo/utils/ir_reader/extenders/shape_of_extender.py
Labels: category: MO

#1434 Updated documentation for 2020.4
  docs/IE_DG/API_Changes.md
  docs/IE_DG/OnnxImporterTutorial.md
  docs/IE_DG/inference_engine_intro.md
  docs/IE_DG/supported_plugins/GNA.md
  docs/IE_DG/supported_plugins/MULTI.md
  docs/optimization_guide/dldt_optimization_guide.md
  inference-engine/include/ie_core.hpp
Labels: category: docs

#1369 Remove deprecated methods from node
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/transformations/src/transformations/constant_eltwise_reduction.cpp
  inference-engine/src/transformations/src/transformations/convert_opset1_to_legacy/convert_one_hot_to_one_hot_ie.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/detect_network_batch.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/network_utils.cpp
  ngraph/src/ngraph/node.cpp
  ngraph/src/ngraph/node.hpp
  ngraph/src/ngraph/op/convolution.cpp
  ngraph/src/ngraph/op/group_conv.cpp
  ngraph/src/ngraph/op/non_max_suppression.cpp
  ngraph/src/ngraph/pass/fused_op_decomposition.cpp
Labels: category: nGraph

#1446 Update Reduction operations specification
  docs/ops/reduction/ReduceLogicalAnd_1.md
  docs/ops/reduction/ReduceLogicalOr_1.md
  docs/ops/reduction/ReduceLp_4.md
  docs/ops/reduction/ReduceMax_1.md
  docs/ops/reduction/ReduceMean_1.md
  docs/ops/reduction/ReduceMin_1.md
  docs/ops/reduction/ReduceProd_1.md
  docs/ops/reduction/ReduceSum_1.md
Labels: category: docs

#1194 support parallel nested nnet for Kaldi
  model-optimizer/automation/package_BOM.txt
  model-optimizer/mo/front/kaldi/extractors/slice_ext.py
  model-optimizer/mo/front/kaldi/extractors/slice_ext_test.py
  model-optimizer/mo/front/kaldi/loader/loader.py
Labels: category: MO

#1414 Network serializer for v7 is removed
  docs/template_plugin/src/template_executable_network.cpp
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/network_serializer.cpp
  inference-engine/src/inference_engine/network_serializer.hpp
  inference-engine/src/legacy_api/include/network_serializer.h
  inference-engine/src/legacy_api/src/cnn_network_impl.cpp
  inference-engine/src/legacy_api/src/network_serializer.cpp
  inference-engine/src/legacy_api/src/network_serializer_v7.cpp
  inference-engine/src/legacy_api/src/network_serializer_v7.hpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/tests/functional/inference_engine/local_test.cpp
  inference-engine/tests/functional/inference_engine/network_serializer_test.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/cpu_test_utils.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/test_plugin.hpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/network_serializer.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/num_inputs_fusing_bin_conv.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/unique_node_names.cpp
Labels: category: IE common

#1158 [IE Myriad] Added Mish layer
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/mish.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/activation.cpp
Labels: category: VPU

#1437 GitHub CI: Add Python scripts for controlling organization
  .github/org_control/__init__.py
  .github/org_control/check_org.py
  .github/org_control/check_pr.py
  .github/org_control/config.json
  .github/org_control/configs.py
  .github/org_control/dev_emails-test.txt
  .github/org_control/github_api.py
  .github/org_control/requirements.txt
  .github/org_control/requirements_dev.txt
Labels: category: CI

#1278 Add acosh asinh atanh to opset3 ngraph
  ngraph/src/ngraph/opsets/opset4_tbl.hpp
Labels: category: nGraph

#1180 Specify operation Range-4
  docs/ops/generation/Range_1.md
  docs/ops/generation/Range_4.md
  docs/ops/opset4.md
Labels: category: docs

#1462 [IE TESTS] Add input transposing for MatMul
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/mat_mul.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/mat_mul.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/mat_mul.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/src/mat_mul.cpp
Labels: category: IE Tests

#1443 [DL Workbench] Move files to another guide
  docs/doxygen/ie_docs.xml
Labels: category: docs

#1470 [IE TESTS] Add Minimum tests
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/minimum_maximum.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/maximum.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/minimum_maximum.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/minimum_maximum.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/maximum.cpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/minimum_maximum.cpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_functions/src/minimum_maximum.cpp
Labels: category: IE Tests

#1250 Add ONNX DequantizeLinear to MO
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/onnx/dequantize_linear_ext.py
  model-optimizer/extensions/front/onnx/dequantize_linear_resolver.py
  model-optimizer/extensions/front/onnx/dequantize_linear_resolver_test.py
  model-optimizer/extensions/ops/dequantize_linear.py
Labels: category: MO

#1089 Fix the case with nodes containing ":" in names
  model-optimizer/mo/front/extractor.py
  model-optimizer/mo/front/extractor_test.py
  model-optimizer/mo/utils/unittest/graph.py
Labels: category: MO
