Repository openvinotoolkit/openvino, pull requests merged in 2021-08, with the labels that each got.

#5847 New approach for Proposal sub-graph conversion for TF OD API models
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  model-optimizer/extensions/front/tf/ObjectDetectionAPI.py
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v1.10.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v1.13.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v1.14.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v1.15.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v1.7.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v2.0.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v2.4.json
  model-optimizer/extensions/front/tf/mask_rcnn_support.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.11.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.13.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.14.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.15.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.7.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v2.0.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v2.4.json
  model-optimizer/extensions/front/tf/rfcn_support_api_v1.10.json
  model-optimizer/extensions/front/tf/rfcn_support_api_v1.13.json
  model-optimizer/extensions/front/tf/rfcn_support_api_v1.14.json
Labels: category: MO

#6877 Fixed unity build for Windows
  inference-engine/tests/ie_test_utils/common_test_utils/file_utils.cpp
Labels: platform: win32

#6590 [MO] Range output_type correction for FP16
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/ChangeCastOutputType.py
  model-optimizer/extensions/back/ChangeOutputTypeAttributes.py
  model-optimizer/extensions/back/MarkNodesWithShapeValues.py
  model-optimizer/extensions/ops/range.py
  model-optimizer/unit_tests/extensions/back/ChangeOutputTypeAttributes_test.py
Labels: category: MO

#6866 fixed crash related to loading model with fq and sigmoid
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/fq_fusion_with_sigmoid.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/multiple_input_fq.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/multiple_input_fq.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/multiple_input_fq.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/multiple_input_fq.cpp
Labels: category: GNA, category: IE Tests

#6872 Fix Pruning for case with INT8 GroupConvolution operation
  inference-engine/src/offline_transformations/src/pruning/propagate_masks.cpp
Labels: category: IE common

#6740 Update to speech demo python dependencies:
  cmake/dependencies.cmake
Labels: category: IE common

#6071 Added nGraph as a public dependency
  inference-engine/include/cpp/ie_cnn_network.h
  inference-engine/include/ie_extension.h
  inference-engine/include/ie_icnn_network.hpp
  inference-engine/include/ie_iextension.h
  inference-engine/include/ie_parameter.hpp
  inference-engine/samples/hello_reshape_ssd/reshape_ssd_extension.hpp
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/ngraph_reader/abs_tests.cpp
  inference-engine/tests/functional/plugin/cpu/extension/extension.cpp
  ngraph/core/include/ngraph/op/abs.hpp
  ngraph/core/include/ngraph/op/acos.hpp
  ngraph/core/include/ngraph/op/acosh.hpp
  ngraph/core/include/ngraph/op/asin.hpp
  ngraph/core/include/ngraph/op/asinh.hpp
  ngraph/core/include/ngraph/op/atan.hpp
  ngraph/core/include/ngraph/op/atanh.hpp
  ngraph/core/include/ngraph/op/bucketize.hpp
  ngraph/core/include/ngraph/op/ceiling.hpp
  ngraph/core/include/ngraph/op/constant.hpp
  ngraph/core/include/ngraph/op/detection_output.hpp
  ngraph/core/include/ngraph/op/embedding_segments_sum.hpp
  ngraph/core/include/ngraph/op/mvn.hpp
  ngraph/core/include/ngraph/op/prior_box.hpp
  ngraph/core/include/ngraph/op/prior_box_clustered.hpp
  ngraph/core/include/ngraph/op/proposal.hpp
  ngraph/core/include/ngraph/op/reorg_yolo.hpp
  ngraph/core/include/ngraph/op/roi_align.hpp
  ngraph/core/include/ngraph/op/scatter_elements_update.hpp
  ngraph/core/include/ngraph/op/util/scatter_base.hpp
  ngraph/core/include/ngraph/op/util/scatter_nd_base.hpp
Labels: category: IE common, category: nGraph

#6789 [59449][DOCS] GPU table layout change
  docs/IE_DG/supported_plugins/GPU.md
Labels: category: docs

#6893 Fixing cmake command removing temp data for ie_wheel
  inference-engine/ie_bridges/python/wheel/CMakeLists.txt
Labels: category: build, category: python api

#6889 Workaround for "Use protobuf-lite for ONNX FE by default"
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  cmake/features.cmake
  cmake/test_model_zoo.cmake
Labels: category: CI, category: IE common

#6332 Maxpool-8 shell
  ngraph/core/include/ngraph/op/max_pool.hpp
  ngraph/core/include/ngraph/op/util/max_pool_base.hpp
  ngraph/core/include/ngraph/opsets/opset8_tbl.hpp
  ngraph/core/include/ngraph/validation_util.hpp
  ngraph/core/src/op/avg_pool.cpp
  ngraph/core/src/op/max_pool.cpp
  ngraph/core/src/op/util/max_pool_base.cpp
  ngraph/core/src/validation_util.cpp
  ngraph/test/type_prop/max_pool.cpp
  ngraph/test/visitors/op/max_pool.cpp
Labels: category: nGraph

#6735 Moved current IE API to separate folder
  .ci/azure/ci_utils/onnxruntime/version
  .ci/azure/linux_onnxruntime.yml
  cmake/developer_package/version.cmake
  docs/doxygen/doxygen-ignore.txt
  inference-engine/ie_bridges/c/src/CMakeLists.txt
  inference-engine/include/ie/cldnn/cldnn_config.hpp
  inference-engine/include/ie/cpp/ie_cnn_network.h
  inference-engine/include/ie/cpp/ie_executable_network.hpp
  inference-engine/include/ie/cpp/ie_infer_request.hpp
  inference-engine/include/ie/cpp/ie_memory_state.hpp
  inference-engine/include/ie/details/ie_blob_iterator.hpp
  inference-engine/include/ie/details/ie_exception.hpp
  inference-engine/include/ie/details/ie_pre_allocator.hpp
  inference-engine/include/ie/details/ie_so_loader.h
  inference-engine/include/ie/details/ie_so_pointer.hpp
  inference-engine/include/ie/gna/gna_config.hpp
  inference-engine/include/ie/gpu/details/gpu_context_helpers.hpp
  inference-engine/include/ie/gpu/gpu_config.hpp
  inference-engine/include/ie/gpu/gpu_context_api_dx.hpp
  inference-engine/include/ie/gpu/gpu_context_api_ocl.hpp
  inference-engine/include/ie/gpu/gpu_context_api_va.hpp
  inference-engine/include/ie/gpu/gpu_ocl_wrapper.hpp
  inference-engine/include/ie/gpu/gpu_params.hpp
  inference-engine/include/ie/hetero/hetero_plugin_config.hpp
  inference-engine/include/ie/ie_allocator.hpp
  inference-engine/include/ie/ie_api.h
  inference-engine/include/ie/ie_blob.h
  inference-engine/include/ie/ie_common.h
  inference-engine/include/ie/ie_compound_blob.h
  inference-engine/include/ie/ie_core.hpp
  inference-engine/include/ie/ie_data.h
  inference-engine/include/ie/ie_extension.h
  inference-engine/include/ie/ie_icnn_network.hpp
  inference-engine/include/ie/ie_iexecutable_network.hpp
  inference-engine/include/ie/ie_iextension.h
  inference-engine/include/ie/ie_iinfer_request.hpp
  inference-engine/include/ie/ie_input_info.hpp
  inference-engine/include/ie/ie_layouts.h
  inference-engine/include/ie/ie_locked_memory.hpp
  inference-engine/include/ie/ie_parallel.hpp
  inference-engine/include/ie/ie_parameter.hpp
  inference-engine/include/ie/ie_plugin_config.hpp
  inference-engine/include/ie/ie_precision.hpp
  inference-engine/include/ie/ie_preprocess.hpp
  inference-engine/include/ie/ie_remote_context.hpp
  inference-engine/include/ie/ie_transformations.hpp
  inference-engine/include/ie/ie_version.hpp
  inference-engine/include/ie/inference_engine.hpp
  inference-engine/include/ie/multi-device/multi_device_config.hpp
  inference-engine/include/ie/vpu/hddl_config.hpp
  inference-engine/include/ie/vpu/hddl_plugin_config.hpp
  inference-engine/include/ie/vpu/myriad_config.hpp
  inference-engine/include/ie/vpu/myriad_plugin_config.hpp
  inference-engine/include/ie/vpu/vpu_config.hpp
  inference-engine/include/ie/vpu/vpu_plugin_config.hpp
  inference-engine/src/inference_engine/CMakeLists.txt
Labels: category: IE common

#6898 Azure CI: Move openvino-lin to Ubuntu 20.04
  .ci/azure/linux.yml
  install_build_dependencies.sh
Labels: category: CI, category: IE common

#6446 Removed name from ngraph tensors
  ngraph/core/include/ngraph/runtime/host_tensor.hpp
  ngraph/core/include/ngraph/runtime/tensor.hpp
  ngraph/core/src/runtime/host_tensor.cpp
  ngraph/core/src/runtime/tensor.cpp
Labels: category: nGraph

#6833 [FrontEnd]enable pdpd ops conversion part4: deformable_convolution, multiclass_nms and matrix_nms.
  ngraph/frontend/paddlepaddle/src/op/deformable_conv.cpp
  ngraph/frontend/paddlepaddle/src/op/matrix_nms.cpp
  ngraph/frontend/paddlepaddle/src/op/multiclass_nms.cpp
  ngraph/frontend/paddlepaddle/src/op_table.cpp
Labels: category: nGraph

#6731 Revise logical and
  docs/ops/logical/LogicalAnd_1.md
  docs/template_plugin/tests/functional/op_reference/logical_and.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/logical.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/core/src/op/and.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/logical_and.in.cpp
  ngraph/test/type_prop/logical_and.cpp
  ngraph/test/visitors/op/logical_and.cpp
Labels: category: nGraph

#6907 Azure CI: Move Linux check to Ubuntu 20.04
  .ci/azure/linux.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#6720 Revise less equal
  docs/ops/comparison/LessEqual_1.md
  docs/template_plugin/tests/functional/op_reference/less_eq.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/test/backend/comparison.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#6917 Fixed compilation with clang
  cmake/developer_package/compile_flags/os_flags.cmake
  inference-engine/src/gna_plugin/transformations/decompose_2d_conv.cpp
  ngraph/frontend/paddlepaddle/src/op/matrix_nms.cpp
  ngraph/frontend/paddlepaddle/src/op/multiclass_nms.cpp
Labels: category: GNA, category: IE common, category: build, category: nGraph, platform: osx

#6862 Separate executable for paddlepaddle unit tests
  .ci/azure/linux.yml
  .ci/azure/windows.yml
  cmake/test_model_zoo.cmake
  ngraph/test/CMakeLists.txt
  ngraph/test/frontend/CMakeLists.txt
  ngraph/test/frontend/paddlepaddle/CMakeLists.txt
  ngraph/test/frontend/paddlepaddle/incorrect_cut_model.cpp
  ngraph/test/frontend/paddlepaddle/main.cpp
  ngraph/test/frontend/paddlepaddle/paddle_utils.hpp
  ngraph/test/frontend/paddlepaddle/places.cpp
  ngraph/test/frontend/paddlepaddle/requirements_dev.txt
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_2in_2out.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_2in_2out_dynbatch.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_argmax.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_assign_value.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_batch_norm.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_clip.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_conv2d.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_conv2d_relu.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_conv2d_s.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_multi_tensor_split.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_place_test_model.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_relu.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_unsupported_relu.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/save_model.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_wrapper.py
  ngraph/test/frontend/shared/CMakeLists.txt
  ngraph/test/frontend/shared/include/utils.hpp
  ngraph/test/frontend/shared/src/basic_api.cpp
  ngraph/test/frontend/shared/src/cut_specific_model.cpp
  ngraph/test/frontend/shared/src/main.cpp
  ngraph/test/frontend/shared/src/op_fuzzy.cpp
  ngraph/test/frontend/shared/src/partial_shape.cpp
  ngraph/test/frontend/shared/src/set_element_type.cpp
Labels: category: build

#6778 [VPU] Added support for 2 axis for MVN layer - duplicate (#6748)
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/mvn.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/mvn.cpp
Labels: category: IE Tests, category: IE common, category: VPU

#6919 Add missed benchmark tool __init__.py files
  tools/benchmark_tool/openvino/__init__.py
  tools/benchmark_tool/openvino/tools/__init__.py
Labels: category: tools

#6839 [GPU] Handle negative axis in concat op
  inference-engine/src/cldnn_engine/ops/concat.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/concat.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/concat.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/concat.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/concat.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/concat.hpp
Labels: ONNX, category: GPU

#6827 [CMake] disable debug postfix on mac
  cmake/developer_package/IEDevScriptsConfig.cmake
Labels: category: IE common

#6636 [FrontEnd]enable pdpd ops conversion part3
  ngraph/frontend/paddlepaddle/src/op/expand_v2.cpp
  ngraph/frontend/paddlepaddle/src/op/mul.cpp
  ngraph/frontend/paddlepaddle/src/op/pad3d.cpp
  ngraph/frontend/paddlepaddle/src/op/pool2d.cpp
  ngraph/frontend/paddlepaddle/src/op/pow.cpp
  ngraph/frontend/paddlepaddle/src/op/range.cpp
  ngraph/frontend/paddlepaddle/src/op/relu6.cpp
  ngraph/frontend/paddlepaddle/src/op/reshape2.cpp
  ngraph/frontend/paddlepaddle/src/op/shape.cpp
  ngraph/frontend/paddlepaddle/src/op/sigmoid.cpp
  ngraph/frontend/paddlepaddle/src/op/slice.cpp
  ngraph/frontend/paddlepaddle/src/op/softmax.cpp
  ngraph/frontend/paddlepaddle/src/op/squeeze.cpp
  ngraph/frontend/paddlepaddle/src/op/unsqueeze.cpp
  ngraph/frontend/paddlepaddle/src/op/yolo_box.cpp
  ngraph/frontend/paddlepaddle/src/op_table.cpp
Labels: category: nGraph

#6830 Stream executor config returns strings
  inference-engine/src/inference_engine/threading/ie_istreams_executor.cpp
  inference-engine/tests/functional/inference_engine/task_executor_tests.cpp
Labels: category: IE common

#6282 [Python API] removal of deprecated python api
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_ExecutableNetwork.py
  inference-engine/ie_bridges/python/tests/test_IENetwork.py
  inference-engine/ie_bridges/python/tests/test_InferRequest.py
Labels: category: python api

#6909 Update weights size in sample
  inference-engine/samples/ngraph_function_creation_sample/main.cpp
Labels: category: IE common

#6922 [GPU] Replace internal TBlobs with mappable ClBlobs
  inference-engine/samples/common/utils/include/samples/classification_results.h
  inference-engine/src/cldnn_engine/cldnn_graph.h
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.h
  inference-engine/src/cldnn_engine/cldnn_remote_context.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.h
  inference-engine/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  inference-engine/thirdparty/clDNN/api/cldnn/graph/network.hpp
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/memory_caps.hpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_memory.cpp
  inference-engine/thirdparty/clDNN/src/include/loop_inst.h
  inference-engine/thirdparty/clDNN/src/include/mutable_data_inst.h
  inference-engine/thirdparty/clDNN/src/include/primitive_inst.h
  inference-engine/thirdparty/clDNN/src/loop.cpp
  inference-engine/thirdparty/clDNN/src/mutable_data.cpp
  inference-engine/thirdparty/clDNN/src/network.cpp
  inference-engine/thirdparty/clDNN/src/primitive_inst.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/loop_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/set_output_memory_gpu_test.cpp
Labels: category: GPU, category: IE Tests, category: IE common

#6687 supported Paddle Op list
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
Labels: category: docs

#6840 Define armv7 instruction set for IE samples built natively on ARM
  inference-engine/samples/CMakeLists.txt
Labels: category: IE common, category: samples, platform: arm

#6928 [IE Python API] fix test query state write buffer
  inference-engine/ie_bridges/python/tests/test_InferRequest.py
Labels: category: python api

#5848 Add input image scale option in benchmark App
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  inference-engine/samples/benchmark_app/inputs_filling.cpp
  inference-engine/samples/benchmark_app/inputs_filling.hpp
  inference-engine/samples/benchmark_app/main.cpp
  inference-engine/samples/benchmark_app/utils.cpp
  inference-engine/samples/benchmark_app/utils.hpp
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: category: GPU, category: IE common

#6927 Pyngraph tests: Install & run on Azure-Linux CI
  .ci/azure/linux.yml
  ngraph/python/CMakeLists.txt
  ngraph/python/tests/mock/mock_py_ngraph_frontend/CMakeLists.txt
  ngraph/python/tests/mock/pyngraph_fe_mock_api/CMakeLists.txt
Labels: category: CI, category: nGraph

#6923 Small api changes
  inference-engine/src/transformations/include/transformations/rt_info/strides_property.hpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_ti_to_sequences.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/utils/ngraph_helpers.cpp
  ngraph/core/include/ngraph/descriptor/input.hpp
  ngraph/core/include/ngraph/descriptor/output.hpp
  ngraph/core/include/ngraph/node.hpp
  ngraph/core/include/ngraph/node_input.hpp
  ngraph/core/include/ngraph/node_output.hpp
  ngraph/core/include/ngraph/specialize_function.hpp
  ngraph/core/include/ngraph/variant.hpp
  ngraph/core/src/node_input.cpp
  ngraph/core/src/node_output.cpp
  ngraph/core/src/op/loop.cpp
  ngraph/core/src/op/tensor_iterator.cpp
  ngraph/core/src/specialize_function.cpp
  ngraph/python/src/pyngraph/variant.hpp
  ngraph/test/runtime/dynamic/dynamic_backend.cpp
  ngraph/test/specialize_function.cpp
Labels: category: IE Tests, category: nGraph

#6567 revise tan op
  docs/ops/arithmetic/Tan_1.md
  docs/template_plugin/tests/functional/op_reference/tan.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  ngraph/core/include/ngraph/op/tan.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/tan.hpp
  ngraph/core/src/op/tan.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/tan.in.cpp
  ngraph/test/type_prop/tan.cpp
  ngraph/test/visitors/op/tan.cpp
Labels: category: nGraph

#6513 [CPU] Update batch limit right after setting it
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
Labels: category: CPU

#6904 Fix for summarize_graph.py.
  model-optimizer/mo/utils/summarize_graph.py
Labels: category: MO

#6884 Add support for Affine operator
  ngraph/frontend/onnx/onnx_import/src/op/affine.cpp
  ngraph/frontend/onnx/onnx_import/src/op/affine.hpp
  ngraph/frontend/onnx/onnx_import/src/ops_bridge.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/models/onnx/affine.prototxt
  ngraph/test/onnx/onnx_import_deprecated.in.cpp
Labels: ONNX, category: nGraph

#6936 [GPU] Fix incorrect fusions indexes for eltwise ref kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#6871 Apply moc transformations on FE API path
  model-optimizer/mo/back/offline_transformations.py
  model-optimizer/mo/moc_frontend/serialize.py
Labels: ONNX

#6808 [LPT] Optimize quantization scheme for SPR/ATS
  inference-engine/src/low_precision_transformations/include/low_precision/multiply.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/src/add.cpp
  inference-engine/src/low_precision_transformations/src/eltwise_base_transformation.cpp
  inference-engine/src/low_precision_transformations/src/multiply.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/add_transformation.cpp
Labels: category: LP transformations

#6905 [GNA] Added support of FQ layers for outputs
  inference-engine/src/gna_plugin/backend/dnn.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/fq_outputs_activation_.cpp
Labels: category: IE Tests, category: GNA

#6906 [GPU] Fix invalid memory access in replace_all_usage fucntion
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#6890 Enable low precision types in ConvertLike operation reference implementation
  docs/template_plugin/tests/functional/op_reference/conversion.cpp
  docs/template_plugin/tests/functional/op_reference/conversion.hpp
  docs/template_plugin/tests/functional/op_reference/convert.cpp
  docs/template_plugin/tests/functional/op_reference/convert_like.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/conversion.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/convert_like.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
Labels: category: nGraph

#6911 doc: fix 58710 issue docker install guide
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
Labels: category: docs

#6933 [CPU] Get/Set Blob overhead has been eliminated.
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
Labels: category: CPU

#6965 Define armv7 instruction set for IE samples built natively on x32 ARM
  inference-engine/samples/CMakeLists.txt
Labels: category: build, category: samples, platform: arm

#6959 Fixed cycle dependency
  ngraph/core/include/ngraph/op/util/variable.hpp
  ngraph/core/include/ngraph/op/util/variable_context.hpp
  ngraph/core/include/ngraph/runtime/host_tensor.hpp
Labels: category: nGraph

#6916 Enable ConstantFolding inside MO Backend
  inference-engine/src/offline_transformations/include/disable_shapeof_constant_folding.hpp
  inference-engine/src/offline_transformations/src/disable_shapeof_constant_folding.cpp
  inference-engine/src/offline_transformations/src/moc_transformations.cpp
  inference-engine/src/transformations/include/transformations/low_precision/disable_convert_constant_folding_on_const_path.hpp
  inference-engine/src/transformations/include/transformations/rt_info/disable_constant_folding.hpp
  inference-engine/src/transformations/src/transformations/low_precision/disable_convert_constant_folding_on_const_path.cpp
  inference-engine/src/transformations/src/transformations/rt_info/disable_constant_folding.cpp
  inference-engine/tests/functional/inference_engine/transformations/disable_shapeof_constant_folding_tests.cpp
  ngraph/core/include/ngraph/validation_util.hpp
  ngraph/core/include/ngraph/variant.hpp
  ngraph/core/src/pass/constant_folding.cpp
  ngraph/core/src/rt_info.cpp
  ngraph/core/src/validation_util.cpp
  ngraph/core/src/variant.cpp
Labels: ONNX

#6910 Remove leaky relu alpha check
  ngraph/frontend/onnx/onnx_import/src/op/leaky_relu.cpp
Labels: category: nGraph

#6948 Avoid comparison template plugin tests from executing multiple times
  docs/template_plugin/tests/functional/op_reference/comparison.cpp
  docs/template_plugin/tests/functional/op_reference/comparison.hpp
  docs/template_plugin/tests/functional/op_reference/equal.cpp
  docs/template_plugin/tests/functional/op_reference/less.cpp
  docs/template_plugin/tests/functional/op_reference/less_eq.cpp
Labels: category: nGraph

#6859 add itt_collector build
  tests/conditional_compilation/conftest.py
  tests/conditional_compilation/test_utils.py
Labels: category: IE Tests

#6517 Resolve python build issue on Windows
  inference-engine/ie_bridges/python/cmake/CythonConfig.cmake
Labels: category: python api

#6852 Update spec for LogicalOr operation
  docs/ops/logical/LogicalAnd_1.md
  docs/ops/logical/LogicalOr_1.md
Labels: category: nGraph

#6988 doc: refactor docker install guide
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
Labels: category: docs

#6908 [VPU] Removes MYRIAD specific tools
  inference-engine/tools/CMakeLists.txt
  inference-engine/tools/vpu/CMakeLists.txt
  inference-engine/tools/vpu/vpu_compile/CMakeLists.txt
  inference-engine/tools/vpu/vpu_compile/README.md
  inference-engine/tools/vpu/vpu_compile/main.cpp
  inference-engine/tools/vpu/vpu_compile/vpu_tools_common.cpp
  inference-engine/tools/vpu/vpu_compile/vpu_tools_common.hpp
  inference-engine/tools/vpu/vpu_perfcheck/CMakeLists.txt
  inference-engine/tools/vpu/vpu_perfcheck/main.cpp
  scripts/deployment_manager/configs/darwin.json
  scripts/deployment_manager/configs/linux.json
  scripts/deployment_manager/configs/windows.json
Labels: category: IE common, category: VPU, category: CI, category: docs

#6968 [IE PYTHON] release GIL
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_IECore.py
Labels: category: python api

#6250 [CPU] Interpolate handles inplace child layout
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/concat_resize_concat.cpp
Labels: category: CPU

#6912 [CPU] Add reorder if the constant memory is not aligned, and isa is SSE
  inference-engine/src/mkldnn_plugin/mkldnn_edge.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_memory.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reorder_node.cpp
Labels: category: CPU

#6962 remove InsertIdentityToLSTMCellPass and fix InsertIdentity
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
Labels: category: GNA

#6803 Convolution to matmul
  inference-engine/src/gna_plugin/backend/gna_limitations.hpp
  inference-engine/src/gna_plugin/backend/make_pwl.cpp
  inference-engine/src/gna_plugin/frontend/model_quantizer.hpp
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/transformations/handle_transposes_around_matmul.cpp
  inference-engine/src/gna_plugin/transformations/handle_transposes_around_matmul.hpp
  inference-engine/src/gna_plugin/transformations/insert_transpose_before_matmul.cpp
  inference-engine/src/gna_plugin/transformations/insert_transpose_before_matmul.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/memory_fq_concat_prelu.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/relu_split_reshape.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/memory_fq_concat_prelu.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/relu_split_reshape.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/memory_fq_concat_prelu.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/relu_split_reshape.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/memory_fq_concat_prelu.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/relu_split_reshape.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_insert_transpose_before_matmul.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/handle_transposes_around_matmul.cpp
Labels: category: IE Tests, category: GNA

#6634 [GPU] Add optimized cldnn detection output GPU implementation
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/detection_output/detection_output_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/detection_output/detection_output_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/detection_output/detection_output_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/detection_output/detection_output_kernel_selector.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/detection_output_gpu_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/detection_output_common.cl
  inference-engine/thirdparty/clDNN/src/impls/cpu/detection_output.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/detection_output.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/register.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/register.hpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/detection_output_test.cpp
Labels: category: GPU

#6964 Add StressMemLeak test with 2 streams
  tests/stress_tests/common/ie_pipelines/pipelines.cpp
  tests/stress_tests/common/ie_pipelines/pipelines.h
  tests/stress_tests/memleaks_tests/tests.cpp
  tests/stress_tests/memleaks_tests/tests_pipelines/tests_pipelines.cpp
  tests/stress_tests/memleaks_tests/tests_pipelines/tests_pipelines.h
Labels: category: IE Tests

#7001 Update itt collector style
  thirdparty/itt_collector/.clang-format
  thirdparty/itt_collector/sea_itt_lib/IttNotifyStdSrc.cpp
  thirdparty/itt_collector/sea_itt_lib/IttNotifyStdSrc.h
  thirdparty/itt_collector/sea_itt_lib/Recorder.cpp
  thirdparty/itt_collector/sea_itt_lib/Recorder.h
  thirdparty/itt_collector/sea_itt_lib/TraceEventFormat.h
  thirdparty/itt_collector/sea_itt_lib/Utils.cpp
  thirdparty/itt_collector/sea_itt_lib/Utils.h
  thirdparty/itt_collector/sea_itt_lib/sea_itt_lib.cpp
Labels: category: IE common

#7004 doc: fix Docker install guide
  docs/IE_DG/Model_caching_overview.md
  docs/IE_DG/inference_engine_intro.md
  docs/doxygen/ie_docs.xml
  docs/doxygen/openvino_docs.xml
  docs/get_started/get_started_linux.md
  docs/get_started/get_started_macos.md
  docs/get_started/get_started_windows.md
  docs/index.md
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
  docs/security_guide/workbench.md
  inference-engine/ie_bridges/c/samples/hello_classification/README.md
  inference-engine/ie_bridges/c/samples/hello_nv12_input_classification/README.md
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/python/sample/classification_sample_async/README.md
  inference-engine/ie_bridges/python/sample/hello_classification/README.md
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/README.md
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/README.md
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/python/sample/speech_sample/README.md
  inference-engine/ie_bridges/python/sample/style_transfer_sample/README.md
  inference-engine/samples/classification_sample_async/README.md
  inference-engine/samples/hello_classification/README.md
  inference-engine/samples/hello_nv12_input_classification/README.md
  inference-engine/samples/hello_reshape_ssd/README.md
  inference-engine/samples/object_detection_sample_ssd/README.md
  inference-engine/samples/speech_sample/README.md
  inference-engine/samples/style_transfer_sample/README.md
Labels: category: docs

#7007 Align python style with IE
  inference-engine/ie_bridges/python/src/.clang-format
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/test_utils/test_utils_api_impl.cpp
Labels: category: python api

#7008 Fixed documentation code style
  docs/.clang-format
  docs/template_extension/cpu_kernel.cpp
  docs/template_extension/cpu_kernel.hpp
  docs/template_extension/extension.cpp
  docs/template_extension/extension.hpp
  docs/template_extension/fft_kernel.cpp
  docs/template_extension/fft_kernel.hpp
  docs/template_extension/fft_op.cpp
  docs/template_extension/fft_op.hpp
  docs/template_extension/op.cpp
  docs/template_plugin/src/template_async_infer_request.cpp
  docs/template_plugin/src/template_async_infer_request.hpp
  docs/template_plugin/src/template_config.cpp
  docs/template_plugin/src/template_config.hpp
  docs/template_plugin/src/template_executable_network.cpp
  docs/template_plugin/src/template_executable_network.hpp
  docs/template_plugin/src/template_infer_request.cpp
  docs/template_plugin/src/template_infer_request.hpp
  docs/template_plugin/src/template_plugin.cpp
  docs/template_plugin/src/template_plugin.hpp
  docs/template_plugin/src/transformations/preprocessing/mean_image_or_value.cpp
  docs/template_plugin/src/transformations/preprocessing/preprocessing.cpp
  docs/template_plugin/src/transformations/preprocessing/std_scale.cpp
  docs/template_plugin/src/transformations/template_function_transformation.cpp
  docs/template_plugin/src/transformations/template_pattern_transformation.cpp
Labels: category: docs

#6996 [GNA] Support bias and FQ in SwapInputMatMul transformation
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/transformations/swap_input_matmul_gna.cpp
  inference-engine/src/gna_plugin/transformations/swap_input_matmul_gna.hpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_swap_input_matmul.cpp
Labels: category: IE Tests, category: GNA

#6605 Revise equal
  docs/ops/comparison/Equal_1.md
  docs/template_plugin/tests/functional/op_reference/equal.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/comparison_ops.hpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/equal.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/greater.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/greater_eq.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/less.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/less_eq.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/not_equal.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/comparison.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/numeric.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#6759 [GNA] Transpose bias
  inference-engine/src/gna_plugin/transformations/convert_matmul_to_pointwise_convolution.cpp
  inference-engine/tests/unit/gna/CMakeLists.txt
  inference-engine/tests/unit/gna/ngraph/transformations/gna_convert_matmul_to_pointwise_convolution.cpp
Labels: category: IE Tests, category: GNA

#6998 Update samples style
  inference-engine/ie_bridges/c/samples/.clang-format
  inference-engine/ie_bridges/c/samples/common/opencv_c_wrapper/opencv_c_wrapper.cpp
  inference-engine/ie_bridges/c/samples/common/opencv_c_wrapper/opencv_c_wrapper.h
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/c_w_dirent.h
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/main.c
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/object_detection_sample_ssd.h
  inference-engine/samples/.clang-format
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  inference-engine/samples/benchmark_app/infer_request_wrap.hpp
  inference-engine/samples/benchmark_app/inputs_filling.cpp
  inference-engine/samples/benchmark_app/inputs_filling.hpp
  inference-engine/samples/benchmark_app/main.cpp
  inference-engine/samples/benchmark_app/statistics_report.hpp
  inference-engine/samples/benchmark_app/utils.cpp
  inference-engine/samples/benchmark_app/utils.hpp
  inference-engine/samples/classification_sample_async/classification_sample_async.h
  inference-engine/samples/classification_sample_async/main.cpp
  inference-engine/samples/common/format_reader/MnistUbyte.cpp
  inference-engine/samples/common/format_reader/format_reader.h
  inference-engine/samples/common/format_reader/format_reader_ptr.h
  inference-engine/samples/common/format_reader/opencv_wrapper.cpp
  inference-engine/samples/common/format_reader/opencv_wrapper.h
  inference-engine/samples/common/utils/include/samples/args_helper.hpp
  inference-engine/samples/common/utils/include/samples/classification_results.h
  inference-engine/samples/common/utils/include/samples/common.hpp
  inference-engine/samples/common/utils/include/samples/console_progress.hpp
  inference-engine/samples/common/utils/include/samples/csv_dumper.hpp
  inference-engine/samples/common/utils/include/samples/ocv_common.hpp
  inference-engine/samples/common/utils/include/samples/os/windows/w_dirent.h
  inference-engine/samples/common/utils/src/args_helper.cpp
  inference-engine/samples/common/utils/src/slog.cpp
  inference-engine/samples/hello_classification/main.cpp
  inference-engine/samples/hello_nv12_input_classification/main.cpp
  inference-engine/samples/hello_query_device/main.cpp
  inference-engine/samples/hello_reshape_ssd/main.cpp
  inference-engine/samples/hello_reshape_ssd/reshape_ssd_extension.hpp
  inference-engine/samples/ngraph_function_creation_sample/main.cpp
  inference-engine/samples/ngraph_function_creation_sample/ngraph_function_creation_sample.hpp
  inference-engine/samples/object_detection_sample_ssd/main.cpp
  inference-engine/samples/object_detection_sample_ssd/object_detection_sample_ssd.h
  inference-engine/samples/speech_sample/fileutils.cpp
  inference-engine/samples/speech_sample/fileutils.hpp
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/samples/speech_sample/speech_sample.hpp
  inference-engine/samples/style_transfer_sample/main.cpp
  inference-engine/samples/style_transfer_sample/style_transfer_sample.h
Labels: category: IE common, category: samples

#7020 Remove nolint comments
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/include/ie/details/ie_pre_allocator.hpp
  inference-engine/src/inference_engine/include/ie/ie_api.h
  inference-engine/src/inference_engine/include/ie/ie_common.h
  inference-engine/src/inference_engine/include/ie/ie_parallel.hpp
  inference-engine/src/inference_engine/include/ie/ie_parameter.hpp
  inference-engine/src/inference_engine/include/ie/ie_precision.hpp
  inference-engine/src/inference_engine/src/file_utils.cpp
Labels: category: IE common

#6997 Fix code style artifacts
  .github/workflows/code_style.yml
Labels: bug, category: nGraph, category: CI

#7034 Feature/azaytsev/docs fix layout
  docs/doxygen/ie_docs.xml
Labels: category: docs

#6975 [CPU] fixed conv + dw conv fusing
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
Labels: category: CPU

#6960 Merge benchmark tools dirs
  docs/CMakeLists.txt
  docs/IE_DG/Samples_Overview.md
  docs/benchmarks/performance_benchmarks_faq.md
  inference-engine/samples/benchmark_app/README.md
  inference-engine/tools/package_BOM.txt
  tools/CMakeLists.txt
  tools/benchmark_tool/README.md
  tools/benchmark_tool/benchmark_app.py
  tools/benchmark_tool/openvino/tools/benchmark/README.md
  tools/benchmark_tool/openvino/tools/benchmark/requirements.txt
  tools/benchmark_tool/requirements.txt
  tools/benchmark_tool/setup.py
Labels: category: IE common, category: docs, category: tools

#7033 Enabled NCC check for frontends
  ngraph/frontend/onnx/frontend/CMakeLists.txt
  ngraph/frontend/paddlepaddle/CMakeLists.txt
  ngraph/frontend/paddlepaddle/include/paddlepaddle_frontend/model.hpp
  ngraph/frontend/paddlepaddle/include/paddlepaddle_frontend/utility.hpp
  ngraph/frontend/paddlepaddle/src/frontend.cpp
  ngraph/frontend/paddlepaddle/src/model.cpp
Labels: category: nGraph, ONNX, category: onnx importer, category: ONNX FE, category: PDPD FE

#6986 Corrected formulas rendering in RandomUniform specification.
  docs/ops/generation/RandomUniform_8.md
Labels: category: docs

#6999 [GNA] Added support of FQ layers for outputs
  inference-engine/src/gna_plugin/backend/dnn.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/fq_outputs_activation_.cpp
Labels: category: IE Tests, category: GNA

#7038 Enabled NCC for enums
  cmake/developer_package/ncc_naming_style/openvino.style
  inference-engine/src/cldnn_engine/ops/interpolate.cpp
  inference-engine/src/low_precision_transformations/src/interpolate.cpp
  inference-engine/src/low_precision_transformations/src/markup_precisions.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_interpolate1_to_interpolate4.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/interpolate_transformation.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_interpolate1_to_interpolate4_test.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/interpolate.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/concat_resize_concat.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/interpolate.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/interpolate.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/interpolate.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/utils/ngraph_helpers.cpp
  ngraph/core/include/ngraph/deprecated.hpp
  ngraph/core/include/ngraph/op/interpolate.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/interpolate.hpp
  ngraph/core/src/op/interpolate.cpp
  ngraph/frontend/onnx/frontend/src/op/resize.cpp
  ngraph/frontend/onnx/frontend/src/op/upsample.cpp
  ngraph/frontend/paddlepaddle/src/op/interp.cpp
  ngraph/test/op_eval/interpolate.cpp
  ngraph/test/type_prop/interpolate.cpp
Labels: category: IE common, category: nGraph

#7003 [GPU] Fix FP16 to FP32 data types converting
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
Labels: category: GPU

#7052 update configuration mgmt owner files
  CODEOWNERS
Labels: category: IE common, category: CI

#7027 [GNA] Support bias and FQ in SwapInputMatMul transformation
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/transformations/swap_input_matmul_gna.cpp
  inference-engine/src/gna_plugin/transformations/swap_input_matmul_gna.hpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_swap_input_matmul.cpp
Labels: category: IE Tests, category: GNA

#6985 [GNA] Fixed issue for concat connection to memory layer
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/concat_multi_input.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/concat_multi_input.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/concat_multi_input.cpp
Labels: category: IE Tests, category: GNA

#5982 [Doc] Add doc for Auto-Device Plugin 2021.4
  docs/IE_DG/supported_plugins/AUTO.md
  docs/IE_DG/supported_plugins/Supported_Devices.md
  docs/doxygen/ie_docs.xml
  docs/snippets/AUTO0.cpp
  docs/snippets/AUTO1.cpp
  docs/snippets/AUTO2.cpp
  docs/snippets/AUTO3.cpp
  docs/snippets/AUTO4.cpp
  docs/snippets/AUTO5.cpp
Labels: category: docs

#6990 CumSum ng op shell revision
  ngraph/core/include/ngraph/op/cum_sum.hpp
  ngraph/core/src/op/cum_sum.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/cum_sum.cpp
  ngraph/test/visitors/op/cum_sum.cpp
Labels: category: nGraph

#6924 [GNA] FQ accuracy fixes
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/fc_bias_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/fc_bias_fusion_test.cpp
Labels: category: nGraph, category: GNA

#7011 [GNA] Disabled TransposeReduction
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/transpose_conv_transpose_squeeze.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/transpose_conv_transpose_squeeze.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/transpose_conv_transpose_squeeze.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/transpose_conv_transpose_squeeze.cpp
Labels: category: IE Tests, category: GNA

#7051 Try to enable deprecation warnings for Windows
  ngraph/core/include/ngraph/deprecated.hpp
  ngraph/core/include/ngraph/op/interpolate.hpp
Labels: category: nGraph

#6987 Pruning for 2021.4 release
  inference-engine/src/offline_transformations/src/pruning/propagate_masks.cpp
  ngraph/core/src/op/util/gather_base.cpp
Labels: category: IE common

#7024 [TEST] Add cache tests
  inference-engine/tests/functional/plugin/shared/include/behavior/config.hpp
Labels: category: IE Tests, category: VPU

#6777 If. nGraph implementation + reference
  ngraph/core/include/ngraph/op/if.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/include/ngraph/opsets/opset8_tbl.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/if.hpp
  ngraph/core/reference/src/runtime/reference/if.cpp
  ngraph/core/src/op/if.cpp
  ngraph/test/op_eval/if_eval.cpp
  ngraph/test/type_prop/if.cpp
Labels: category: nGraph

#5316 [LPT] PadTransformation
  inference-engine/src/low_precision_transformations/include/low_precision/pad.hpp
  inference-engine/src/low_precision_transformations/src/low_precision.cpp
  inference-engine/src/low_precision_transformations/src/markup_precisions.cpp
  inference-engine/src/low_precision_transformations/src/pad.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/add_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/elementwise_with_multi_parent_dequantization_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/fuse_convert_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/interpolate_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/layer_transformation.hpp
  inference-engine/tests/functional/inference_engine/lp_transformations/multiply_to_group_convolution_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/mvn_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/pad_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/pad_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/pad_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/pad_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/pad_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/pad_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/pad_function.cpp
Labels: category: LP transformations

#7061 [GNA] FQ accuracy fixes (#6924)
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/fc_bias_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/fc_bias_fusion_test.cpp
Labels: category: nGraph, category: IE Tests, category: GNA

#7057 Remove class FakeQuantizeLayerTestRevise.
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/fake_quantize.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/fake_quantize.cpp
Labels: category: nGraph

#6929 Revise LogicalXor operation reference implementation
  docs/template_plugin/tests/functional/op_reference/logical_xor.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/core/include/ngraph/op/xor.hpp
  ngraph/core/src/op/xor.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/logical_xor.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/type_prop/logical_xor.cpp
Labels: category: nGraph

#7066 Removed Protobuf_lite CI
  .ci/azure/linux_ngraph_onnx.yml
  .ci/openvino-onnx/Dockerfile
Labels: ONNX, category: onnx importer, category: ONNX FE

#7049 [GPU] Set TBB affinity in clDNN
  inference-engine/thirdparty/clDNN/src/CMakeLists.txt
  inference-engine/thirdparty/clDNN/src/engine.cpp
  inference-engine/thirdparty/clDNN/src/gpu/configuration.cpp
  inference-engine/thirdparty/clDNN/src/gpu/configuration.h
  inference-engine/thirdparty/clDNN/src/gpu/custom_task_arena.cpp
  inference-engine/thirdparty/clDNN/src/gpu/custom_task_arena.h
  inference-engine/thirdparty/clDNN/src/gpu/kernels_cache.cpp
  inference-engine/thirdparty/clDNN/src/gpu/kernels_cache.h
Labels: category: GPU

#7058 [GNA] Fixed issue for concat connection to memory layer (#6985)
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/concat_multi_input.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/concat_multi_input.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/concat_multi_input.cpp
Labels: category: IE Tests, category: GNA

#557 TBB stream executor
  inference-engine/src/inference_engine/src/threading/ie_tbb_streams_executor.cpp
  inference-engine/src/mkldnn_plugin/config.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.h
  inference-engine/src/plugin_api/threading/ie_tbb_streams_executor.hpp
  inference-engine/tests/functional/plugin/cpu/CMakeLists.txt
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/configuration_tests/configuration_tests.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  ngraph/python/tox.ini
Labels: category: IE common, category: IE Tests, category: CPU

#7062 [GNA] Disabled TransposeReduction (#7011)
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/transpose_conv_transpose_squeeze.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/transpose_conv_transpose_squeeze.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/transpose_conv_transpose_squeeze.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/transpose_conv_transpose_squeeze.cpp
Labels: category: IE Tests, category: GNA

#6913 Update spec for LogicalXor operation
  docs/ops/logical/LogicalXor_1.md
Labels: category: nGraph

#7094 Azure CI: Remove IB on Windows CC
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#7077 Deprecated graph utils
  ngraph/core/include/ngraph/graph_util.hpp
  ngraph/core/include/ngraph/node.hpp
  ngraph/core/include/ngraph/op/util/op_annotations.hpp
  ngraph/core/src/graph_util.cpp
  ngraph/core/src/node.cpp
  ngraph/core/src/op/convolution.cpp
  ngraph/core/src/op/cum_sum.cpp
  ngraph/core/src/op/reduce_l1.cpp
  ngraph/core/src/op/reduce_l2.cpp
  ngraph/core/src/op/reduce_prod.cpp
  ngraph/core/src/op/reduce_sum.cpp
  ngraph/core/src/pattern/matcher.cpp
  ngraph/test/provenance.cpp
  ngraph/test/util.cpp
Labels: category: nGraph

#7042 [GNA] Fixed Eltwise split and batch size selection during 2d reshape
  inference-engine/src/gna_plugin/backend/gna_limitations.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_groups.hpp
  inference-engine/src/gna_plugin/layers/gna_split_layer.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/transformations/split_convolution_with_large_buffer_size.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/eltwise_split_over_channels_pass.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/unit/gna/gna_get_2d_reshaped_data.cpp
  inference-engine/tests/unit/gna/gna_get_aligned_split_sizes.cpp
Labels: category: IE Tests, category: GNA

#7029 [GNA] Convolution to matmul
  inference-engine/src/gna_plugin/backend/gna_limitations.hpp
  inference-engine/src/gna_plugin/backend/make_pwl.cpp
  inference-engine/src/gna_plugin/frontend/model_quantizer.hpp
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/transformations/handle_transposes_around_matmul.cpp
  inference-engine/src/gna_plugin/transformations/handle_transposes_around_matmul.hpp
  inference-engine/src/gna_plugin/transformations/insert_transpose_before_matmul.cpp
  inference-engine/src/gna_plugin/transformations/insert_transpose_before_matmul.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/memory_fq_concat_prelu.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/relu_split_reshape.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/memory_fq_concat_prelu.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/relu_split_reshape.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/memory_fq_concat_prelu.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/relu_split_reshape.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/memory_fq_concat_prelu.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/relu_split_reshape.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/handle_transposes_around_matmul.cpp
Labels: category: IE Tests, category: GNA

#7041 fix mo module version check
  model-optimizer/mo/utils/versions_checker.py
Labels: category: MO

#7097 Azure CI: Remove IB on Windows
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#7095 [CPU] Add reorder if the constant memory is not aligned, and isa is SSE
  inference-engine/src/mkldnn_plugin/mkldnn_edge.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_memory.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reorder_node.cpp
Labels: category: CPU

#7036 [LPT] optimizeMultiplierAfter refactorinig & Reshape fix
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/reshape.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/align_concat_quantization_parameters_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/avg_pool_with_child_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_with_neighbors_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_backprop_data_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_qdq_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_with_incorrect_weights.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/fake_quantize_and_two_output_branches_with_convolution.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/fake_quantize_with_dq_not_optimal_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/group_convolution_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/reshape_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/fake_quantize_precision_selection_function.cpp
Labels: category: LP transformations

#6976 add document Convert_Model_From_Paddle.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Paddle.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
Labels: category: docs

#7099 Fixed Eltwise split and batch size selection during 2d reshape, transpose bias
  inference-engine/src/gna_plugin/backend/gna_limitations.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_groups.hpp
  inference-engine/src/gna_plugin/layers/gna_split_layer.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/transformations/convert_matmul_to_pointwise_convolution.cpp
  inference-engine/src/gna_plugin/transformations/split_convolution_with_large_buffer_size.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/eltwise_split_over_channels_pass.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/unit/gna/CMakeLists.txt
  inference-engine/tests/unit/gna/gna_get_2d_reshaped_data.cpp
  inference-engine/tests/unit/gna/gna_get_aligned_split_sizes.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_convert_matmul_to_pointwise_convolution.cpp
Labels: category: IE Tests, category: GNA

#7083 [Merge] Gna split align convert to conv filter and dependent (#6347 and #5946)
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/backend/am_intel_dnn.hpp
  inference-engine/src/gna_plugin/backend/dnn_types.h
  inference-engine/src/gna_plugin/backend/gna_limitations.hpp
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna2_model_debug_log.cpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_compiler.hpp
  inference-engine/src/gna_plugin/layers/gna_convolution_layer.cpp
  inference-engine/src/gna_plugin/layers/gna_convolution_layer.hpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/runtime/cnn.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/convolution_relu_sequence.cpp
Labels: category: IE Tests, category: GNA

#6991 Add support for is_equal_data, get_source_tensor, get_target_tensor methods in ONNX FE API
  ngraph/frontend/onnx/frontend/src/edge_mapper.cpp
  ngraph/frontend/onnx/frontend/src/edge_mapper.hpp
  ngraph/frontend/onnx/frontend/src/editor.cpp
  ngraph/frontend/onnx/frontend/src/editor.hpp
  ngraph/frontend/onnx/frontend/src/place.cpp
  ngraph/frontend/onnx/frontend/src/place.hpp
  ngraph/python/tests/test_frontend/test_frontend_onnx_editor.py
  ngraph/test/onnx/onnx_editor.cpp
Labels: category: nGraph, category: ONNX FE

#7087 Enable SplitSqueezeConcatFusion + TransposeSinking in MOC
  inference-engine/src/offline_transformations/src/moc_transformations.cpp
Labels: category: IE common

#6920 Change ngraph public api
  inference-engine/src/inference_engine/include/openvino/runtime/core.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/rt_info/avg_pool_precision_preserved_attribute.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/rt_info/intervals_alignment_attribute.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/rt_info/per_tensor_quantization_attribute.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/rt_info/precision_preserved_attribute.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/rt_info/precisions_attribute.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/rt_info/quantization_alignment_attribute.hpp
  inference-engine/src/low_precision_transformations/src/rt_info/avg_pool_precision_preserved_attribute.cpp
  inference-engine/src/low_precision_transformations/src/rt_info/intervals_alignment_attribute.cpp
  inference-engine/src/low_precision_transformations/src/rt_info/per_tensor_quantization_attribute.cpp
  inference-engine/src/low_precision_transformations/src/rt_info/precision_preserved_attribute.cpp
  inference-engine/src/low_precision_transformations/src/rt_info/precisions_attribute.cpp
  inference-engine/src/low_precision_transformations/src/rt_info/quantization_alignment_attribute.cpp
  inference-engine/src/mkldnn_plugin/utils/rt_info/memory_formats_attribute.cpp
  inference-engine/src/mkldnn_plugin/utils/rt_info/memory_formats_attribute.hpp
  inference-engine/src/offline_transformations/include/mask_attribute.hpp
  inference-engine/src/offline_transformations/src/pruning/mask_attribute.cpp
  inference-engine/src/readers/ir_reader/ie_ir_reader.hpp
  inference-engine/src/snippets/include/snippets/register_info.hpp
  inference-engine/src/transformations/include/transformations/rt_info/dequantization_attribute.hpp
  inference-engine/src/transformations/include/transformations/rt_info/disable_constant_folding.hpp
  inference-engine/src/transformations/include/transformations/rt_info/fused_names_attribute.hpp
  inference-engine/src/transformations/include/transformations/rt_info/primitives_priority_attribute.hpp
  inference-engine/src/transformations/include/transformations/rt_info/strides_property.hpp
  inference-engine/src/transformations/src/transformations/rt_info/dequantization_attribute.cpp
  inference-engine/src/transformations/src/transformations/rt_info/disable_constant_folding.cpp
  inference-engine/src/transformations/src/transformations/rt_info/fused_names_attribute.cpp
  inference-engine/src/transformations/src/transformations/rt_info/primitives_priority_attribute.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/fusing_test_utils.cpp
  ngraph/core/include/ngraph/attribute_visitor.hpp
  ngraph/core/include/ngraph/function.hpp
  ngraph/core/include/ngraph/ngraph_visibility.hpp
  ngraph/core/include/ngraph/node.hpp
  ngraph/core/include/ngraph/op/parameter.hpp
  ngraph/core/include/ngraph/op/util/multi_subgraph_base.hpp
  ngraph/core/include/ngraph/op/util/variable_context.hpp
  ngraph/core/include/ngraph/util.hpp
  ngraph/core/include/ngraph/variant.hpp
  ngraph/core/include/ngraph/visibility.hpp
  ngraph/core/include/openvino/core/core_visibility.hpp
  ngraph/core/include/openvino/core/function.hpp
  ngraph/core/include/openvino/core/variant.hpp
  ngraph/core/include/openvino/core/visibility.hpp
  ngraph/core/src/attribute_visitor.cpp
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend_manager.hpp
  ngraph/frontend/onnx/frontend/src/core/graph.hpp
  ngraph/frontend/paddlepaddle/src/node_context.cpp
  ngraph/frontend/paddlepaddle/src/node_context.hpp
  ngraph/python/src/pyngraph/dict_attribute_visitor.hpp
  ngraph/test/op.cpp
  ngraph/test/util/test_tools.hpp
Labels: category: nGraph

#6950 [LPT] LP Transformations refactoring after dynamic shapes support
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/src/convolution.cpp
  inference-engine/src/low_precision_transformations/src/convolution_backprop_data.cpp
  inference-engine/src/low_precision_transformations/src/fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/fake_quantize_dequantization.cpp
  inference-engine/src/low_precision_transformations/src/fuse_fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/mat_mul.cpp
  inference-engine/src/low_precision_transformations/src/multiply_to_group_convolution.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/normalize_l2.cpp
  inference-engine/src/low_precision_transformations/src/transpose.cpp
  inference-engine/src/low_precision_transformations/src/weightable_layer_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/fuse_fake_quantize_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/fuse_multiply_to_fake_quantize_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/fuse_subtract_to_fake_quantize_transformation.cpp
Labels: category: LP transformations

#7103 [GPU] Fix ScatterNDUpdate unit tests
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#6961 [CPU][Release 2021.4.1] Interpolate handles inplace child layout
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_interpolate_node.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/concat_resize_concat.cpp
Labels: category: IE Tests, category: CPU

#7116 [CPU][Release 2021.4.1] Fix roipooling border proposal computation for 2021.4
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roi_pooling_node.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/roi_pooling.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/roi_pooling.hpp
  ngraph/test/backend/roi_pooling.in.cpp
Labels: category: nGraph, category: IE Tests, category: CPU

#7105 Deprecate ngraph file utils. Need to have common functions
  inference-engine/tests/ie_test_utils/common_test_utils/file_utils.cpp
  inference-engine/tests/unit/frontends/onnx_import/onnx_importer_test.cpp
  ngraph/core/include/ngraph/file_util.hpp
  ngraph/core/src/file_util.cpp
  ngraph/core/src/pass/visualize_tree.cpp
  ngraph/frontend/frontend_manager/src/plugin_loader.cpp
  ngraph/frontend/onnx/frontend/src/core/transform.cpp
  ngraph/frontend/onnx/frontend/src/utils/tensor_external_data.cpp
  ngraph/test/file_util.cpp
  ngraph/test/frontend/frontend_manager.cpp
  ngraph/test/frontend/shared/include/utils.hpp
  ngraph/test/onnx/onnx_import_const_folding.in.cpp
  ngraph/test/onnx/onnx_import_exceptions.cpp
  ngraph/test/onnx/onnx_import_provenance.in.cpp
  ngraph/test/runtime/backend.cpp
  ngraph/test/runtime/backend_manager.cpp
  ngraph/test/util/test_case.hpp
Labels: category: nGraph

#6897 [GPU] Disabled default mem allocation for input_layout
  inference-engine/thirdparty/clDNN/src/input_layout.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/memory_test.cpp
Labels: category: GPU

#7110 Renamed component name for installation sea_itt_lib
  thirdparty/itt_collector/sea_itt_lib/CMakeLists.txt
Labels: category: build

#5359 Propose new MaxPool-8 operation
  docs/ops/pooling/MaxPool_1.md
  docs/ops/pooling/MaxPool_8.md
Labels: ONNX

#7119 MaxPool-8: pads_value attribute removal from the operator definition
  ngraph/core/include/ngraph/op/max_pool.hpp
  ngraph/core/src/op/max_pool.cpp
Labels: category: nGraph

#6022 Remove VPU_MYRIAD_PLATFORM from compile tools
  docs/IE_DG/supported_plugins/MYRIAD.md
  inference-engine/src/inference_engine/include/ie/vpu/myriad_plugin_config.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/compile_env.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/configuration/options/platform.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/graph_transformer.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/graph_transformer_internal.hpp
  inference-engine/src/vpu/graph_transformer/src/configuration/options/platform.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/graph_transformer.cpp
  inference-engine/src/vpu/graph_transformer/src/model/stage.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.h
  inference-engine/src/vpu/myriad_plugin/myriad_executor.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_executor.h
  inference-engine/src/vpu/myriad_plugin/myriad_metrics.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/config.cpp
  inference-engine/tests/unit/vpu/base/graph_transformer_tests.cpp
  inference-engine/tests/unit/vpu/base/graph_transformer_tests.hpp
  inference-engine/tests/unit/vpu/blob_reader_tests.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/aot_behavior_tests.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/helpers/myriad_devices.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/helpers/myriad_devices.hpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/helpers/myriad_load_network_case.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/vpu_boot_tests.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/vpu_watchdog_tests.cpp
  inference-engine/tests_deprecated/behavior/vpu/shared_tests_instances/plugin_tests/vpu_test_data.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_blob_test.cpp
  inference-engine/tests_deprecated/functional/vpu/graph_transformer/gt_functional_tests.cpp
  inference-engine/tests_deprecated/functional/vpu/graph_transformer/gt_functional_tests.hpp
  inference-engine/tests_deprecated/functional/vpu/myriad_tests/myriad_configs_tests.cpp
  inference-engine/tests_deprecated/helpers/tests_vpu_common.hpp
  inference-engine/tests_deprecated/unit/engines/vpu/graph_transformer_tests.cpp
  inference-engine/tests_deprecated/unit/engines/vpu/graph_transformer_tests.hpp
  inference-engine/tests_deprecated/unit/engines/vpu/myriad_tests/myriad_engine_tests.cpp
  inference-engine/thirdparty/movidius/mvnc/include/mvnc.h
  inference-engine/thirdparty/movidius/mvnc/include/mvnc_data.h
  inference-engine/thirdparty/movidius/mvnc/include/mvnc_ext.h
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_api.c
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_data.c
  inference-engine/thirdparty/movidius/mvnc/tests/cases/mvnc_common_test_cases.cpp
  inference-engine/thirdparty/movidius/mvnc/tests/cases/mvnc_common_test_cases.h
  inference-engine/thirdparty/movidius/mvnc/tests/cases/mvnc_usb_test_cases.cpp
  inference-engine/thirdparty/movidius/mvnc/tests/cases/mvnc_usb_test_cases.h
  inference-engine/thirdparty/movidius/mvnc/tests/helpers/mvnc_test_helper.cpp
  inference-engine/thirdparty/movidius/mvnc/tests/helpers/mvnc_test_helper.h
  inference-engine/thirdparty/movidius/mvnc/tests/mvnc_no_boot_tests.cpp
  inference-engine/thirdparty/movidius/mvnc/tests/mvnc_stress_tests.cpp
  inference-engine/thirdparty/movidius/mvnc/tests/mvnc_tests_common.cpp
  inference-engine/thirdparty/movidius/mvnc/tests/mvnc_tests_usb.cpp
  inference-engine/tools/compile_tool/main.cpp
Labels: category: IE common, category: VPU

#6837 Support unregistered operations in MO IR Reader
  model-optimizer/mo/utils/ir_engine/compare_graphs.py
  model-optimizer/mo/utils/ir_engine/ir_engine.py
  model-optimizer/mo/utils/ir_reader/extender.py
  model-optimizer/mo/utils/ir_reader/extenders/LSTMCell_extender.py
  model-optimizer/mo/utils/ir_reader/extenders/deconvolution_extender.py
  model-optimizer/mo/utils/ir_reader/extenders/tensoriterator_extender.py
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
Labels: category: MO

#6945 [CPU] Deform. conv. - reference enforced
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_def_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_def_conv_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: IE Tests, category: CPU

#7059 fixed several issues in time tests
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/test_runner/requirements.txt
  tests/time_tests/test_runner/test_timetest.py
Labels: category: IE Tests

#7125 OpenVINO ONNX CI Azure - update onnx/models on demand only
  .ci/azure/linux_ngraph_onnx.yml
  ngraph/python/tests/test_onnx/model_zoo_preprocess.sh
Labels: category: CI

#7102 Accuracy fixes - Firmware update
  inference-engine/cmake/vpu_dependencies.cmake
Labels: category: IE common

#7026 [GPU] Fix incorrect fusions indexes for eltwise ref kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#6658 [CPU] Added improvements for StridedSlice
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_strided_slice_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_strided_slice_node.h
Labels: category: CPU

#7113 Removal of FusedOp inheritance leftovers
  ngraph/core/include/ngraph/op/gelu.hpp
  ngraph/core/include/ngraph/op/hard_sigmoid.hpp
  ngraph/core/include/ngraph/op/lstm_sequence.hpp
  ngraph/core/include/ngraph/op/mvn.hpp
  ngraph/core/src/op/gelu.cpp
  ngraph/core/src/op/hard_sigmoid.cpp
  ngraph/core/src/op/lstm_sequence.cpp
  ngraph/core/src/op/mvn.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/gelu.cpp
  ngraph/test/type_prop/lstm_sequence.cpp
Labels: category: nGraph

#7124 Move ngraph::element::Type to ov namespace
  ngraph/core/include/ngraph/type/bfloat16.hpp
  ngraph/core/include/ngraph/type/element_type.hpp
  ngraph/core/include/ngraph/type/element_type_traits.hpp
  ngraph/core/include/ngraph/type/float16.hpp
  ngraph/core/include/openvino/core/type/bfloat16.hpp
  ngraph/core/include/openvino/core/type/element_type.hpp
  ngraph/core/include/openvino/core/type/element_type_traits.hpp
  ngraph/core/include/openvino/core/type/float16.hpp
  ngraph/core/src/type/element_type.cpp
Labels: category: nGraph

#7137 [GNA] Fix order of SwapMatMulInput transformations
  inference-engine/src/gna_plugin/gna_plugin.cpp
Labels: category: GNA

#7136 Moved Dimension, PartialShape, Interval, Rank to ov namespace
  inference-engine/src/transformations/src/transformations/smart_reshape/strided_slice_squeeze.cpp
  ngraph/core/include/ngraph/dimension.hpp
  ngraph/core/include/ngraph/interval.hpp
  ngraph/core/include/ngraph/partial_shape.hpp
  ngraph/core/include/ngraph/rank.hpp
  ngraph/core/include/openvino/core/dimension.hpp
  ngraph/core/include/openvino/core/interval.hpp
  ngraph/core/include/openvino/core/partial_shape.hpp
  ngraph/core/include/openvino/core/rank.hpp
  ngraph/core/src/dimension.cpp
  ngraph/core/src/interval.cpp
  ngraph/core/src/partial_shape.cpp
Labels: category: nGraph

#7138 [GNA] Fix order of SwapMatMulInput transformations
  inference-engine/src/gna_plugin/gna_plugin.cpp
Labels: category: GNA

#6662 Mo implementation for If with tf extractor
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/tf/if_ext.py
  model-optimizer/extensions/front/tf/while_ext.py
  model-optimizer/extensions/load/tf/loader.py
  model-optimizer/extensions/ops/If.py
  model-optimizer/mo/front/tf/extractors/subgraph_utils.py
  model-optimizer/mo/pipeline/common.py
  model-optimizer/mo/utils/ir_engine/ir_engine.py
  model-optimizer/mo/utils/ir_reader/extenders/if_extender.py
  model-optimizer/unit_tests/extensions/load/tf/loader_test.py
  model-optimizer/unit_tests/extensions/ops/If_test.py
Labels: category: MO

#7126 [GPU] Fix Klockwork issue in loop_inst.h
  inference-engine/thirdparty/clDNN/src/include/loop_inst.h
Labels: category: GPU

#7142 [GPU] Fix GPU plugin build for gcc 10
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/utils.hpp
Labels: category: GPU

#7139 [GNA] Set input scale factors for imported model
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/import_export_tests/import_reshape_permute_conv.cpp
  inference-engine/tests/functional/plugin/shared/include/base/import_export_base/import_export_base.hpp
  inference-engine/tests/functional/plugin/shared/src/base/import_export_base/import_export_base.cpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
Labels: category: IE common, category: IE Tests, category: GNA

#7122 add doc:'Paddle_Support.md'
  docs/IE_DG/Paddle_Support.md
Labels: category: docs

#7131 Remove local configs and it's copying to bin/ for stress tests
  tests/stress_tests/README.md
  tests/stress_tests/memcheck_tests/CMakeLists.txt
  tests/stress_tests/memcheck_tests/local_configs/references_config.xml
  tests/stress_tests/memcheck_tests/local_configs/test_config.xml
  tests/stress_tests/memleaks_tests/CMakeLists.txt
  tests/stress_tests/memleaks_tests/local_configs/test_config.xml
  tests/stress_tests/unittests/CMakeLists.txt
  tests/stress_tests/unittests/local_configs/test_config.xml
Labels: category: IE Tests

#7153 Moved DEPRECATION macro and ITT domains to ov namespace
  ngraph/core/include/ngraph/deprecated.hpp
  ngraph/core/include/openvino/core/deprecated.hpp
  ngraph/core/src/function.cpp
  ngraph/core/src/itt.hpp
  ngraph/core/src/node.cpp
  ngraph/core/src/op/convert_like.cpp
  ngraph/core/src/op/shape_of.cpp
  ngraph/core/src/pass/graph_rewrite.cpp
  ngraph/core/src/pass/manager.cpp
  ngraph/core/src/specialize_function.cpp
Labels: category: nGraph

#7047 [GNA] Plugin preparation for transition to the library v3
  inference-engine/src/gna_plugin/gna2_model_export_helper.cpp
  inference-engine/src/gna_plugin/gna2_model_export_helper.hpp
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
Labels: category: IE common, category: IE Tests, category: GNA

#7140 [GNA] Set input scale factors for imported model (#7139)
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/import_export_tests/import_reshape_permute_conv.cpp
  inference-engine/tests/functional/plugin/shared/include/base/import_export_base/import_export_base.hpp
  inference-engine/tests/functional/plugin/shared/src/base/import_export_base/import_export_base.cpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
Labels: category: IE common, category: IE Tests, category: GNA

#6956 Add support for ONNX Crop operator
  ngraph/frontend/onnx/frontend/src/op/crop.cpp
  ngraph/frontend/onnx/frontend/src/op/crop.hpp
  ngraph/frontend/onnx/frontend/src/ops_bridge.cpp
  ngraph/test/models/onnx/crop.prototxt
  ngraph/test/models/onnx/crop_with_scale.prototxt
  ngraph/test/onnx/onnx_import_deprecated.in.cpp
Labels: category: nGraph, ONNX

#6797 Review/update spec for NotEqual operation
  docs/ops/comparison/NotEqual_1.md
Labels: category: IE Tests, category: docs
