Repository openvinotoolkit/openvino, pull requests merged in 2021-03, with the labels that each got.

#4514 Removed getOVNameForOperation
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_IENetwork.py
  inference-engine/include/cpp/ie_cnn_network.h
  inference-engine/include/ie_icnn_network.hpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.hpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/tensor_names.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/tensor_names.hpp
Labels: category: IE Tests, category: IE common, category: nGraph, category: python api

#4522 Remove a duplicate XFAIL marker for ONNX Dropout tests
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
Labels: category: nGraph

#4515 Test Assign-ReadValue shape propagation while function reshape
  ngraph/test/type_prop/assign.cpp
Labels: category: IE Tests

#4407 [IE PYTHON] update license
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/cmake/CythonConfig.cmake
  inference-engine/ie_bridges/python/cmake/UseCython.cmake
  inference-engine/ie_bridges/python/sample/classification_sample_async/classification_sample_async.py
  inference-engine/ie_bridges/python/sample/hello_classification/hello_classification.py
  inference-engine/ie_bridges/python/sample/hello_query_device/hello_query_device.py
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/hello_reshape_ssd.py
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/ngraph_function_creation_sample.py
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
  inference-engine/ie_bridges/python/src/openvino/inference_engine/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/inference_engine/__init__.py
  inference-engine/ie_bridges/python/src/openvino/inference_engine/constants.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pxd
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl_defs.pxd
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/__init__.py
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl_defs.pxd
  inference-engine/ie_bridges/python/src/openvino/test_utils/__init__.py
  inference-engine/ie_bridges/python/src/openvino/test_utils/test_utils_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/conftest.py
  inference-engine/ie_bridges/python/tests/test_Blob.py
  inference-engine/ie_bridges/python/tests/test_CDataPtr.py
  inference-engine/ie_bridges/python/tests/test_DataPtr.py
  inference-engine/ie_bridges/python/tests/test_ExecutableNetwork.py
  inference-engine/ie_bridges/python/tests/test_IECore.py
  inference-engine/ie_bridges/python/tests/test_IENetwork.py
  inference-engine/ie_bridges/python/tests/test_InferRequest.py
  inference-engine/ie_bridges/python/tests/test_InputInfoCPtr.py
  inference-engine/ie_bridges/python/tests/test_InputInfoPtr.py
  inference-engine/ie_bridges/python/tests/test_NGraph.py
  inference-engine/ie_bridges/python/tests/test_PreProcessInfo.py
  inference-engine/ie_bridges/python/tests/test_TensorDesc.py
  inference-engine/ie_bridges/python/tests/test_offline_api.py
  inference-engine/ie_bridges/python/tests/test_utils.py
  inference-engine/tools/benchmark_tool/benchmark_app.py
  inference-engine/tools/cross_check_tool/__init__.py
  inference-engine/tools/cross_check_tool/cross_check_tool.py
  inference-engine/tools/cross_check_tool/utils.py
  tools/benchmark/__init__.py
  tools/benchmark/benchmark.py
  tools/benchmark/main.py
  tools/benchmark/parameters.py
  tools/benchmark/utils/__init__.py
  tools/benchmark/utils/constants.py
  tools/benchmark/utils/logging.py
  tools/benchmark/utils/progress_bar.py
  tools/benchmark/utils/statistics_report.py
Labels: category: IE common, category: docs, category: python api

#4363 [GNA] Tests for clamp layer
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/clamp_fq.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/clamp_fq.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/clamp_fq.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/clamp_fq.cpp
Labels: category: GNA, category: IE Tests

#4529 Fixed conversion of the TF OD API 2.0 SSD models
  model-optimizer/extensions/front/tf/ObjectDetectionAPI.py
Labels: category: MO

#4526 Fixed L2NormFusing transformation
  model-optimizer/extensions/middle/L2NormFusing.py
  model-optimizer/extensions/middle/L2NormFusing_test.py
  model-optimizer/extensions/ops/normalize_l2.py
Labels: category: MO

#4120 [IE TESTS] Update ConstantResultSubgraphTest
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/constant_result.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/constant_result.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/constant_result.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/subgraph_tests/constant_result.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/constant_result.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/constant_result.cpp
Labels: category: IE Tests

#4523 [IE CLDNN] Fixed MVN-6 with negative axes decomposition
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/ops/mvn.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/mvn.cpp
Labels: category: GPU, category: IE Tests

#4518 install_deps_scripts: remove RHEL minor version check
  scripts/install_dependencies/install_NEO_OCL_driver.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI

#4406 Fix NonZero output shape inference for static inputs.
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/nonzero.cpp
  ngraph/core/src/op/non_zero.cpp
Labels: DO NOT MERGE, category: IE transformations

#4501 Revert non-forward-compatible changes for PriorBox & PriorBoxClustered operations
  docs/ops/detection/PriorBoxClustered_1.md
  docs/ops/detection/PriorBox_1.md
  model-optimizer/extensions/ops/priorbox.py
  model-optimizer/extensions/ops/priorbox_clustered.py
Labels: category: MO

#4513 Added specific for Python3.8 way how to find libs
  inference-engine/ie_bridges/python/src/openvino/inference_engine/__init__.py
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/__init__.py
  ngraph/python/src/ngraph/impl/__init__.py
Labels: category: nGraph, category: python api

#4530 Fixed KW for reference impls
  ngraph/core/reference/src/runtime/reference/loop.cpp
  ngraph/core/reference/src/runtime/reference/tensor_iterator.cpp
Labels: category: nGraph

#4426 Extend spec for CTCGreedyDecoderSeqLen
  docs/ops/sequence/CTCGreedyDecoderSeqLen_6.md
  docs/ops/sequence/CTCGreedyDecoder_1.md
Labels: category: docs

#4504 Update pooling extender for 3D cases
  model-optimizer/mo/utils/ir_reader/extenders/pooling_extender.py
Labels: category: MO

#4462 [ONNX] Fix unidirectional broadcast Add, Div, Mul, Sub v6
  ngraph/core/builder/include/ngraph/builder/autobroadcast.hpp
  ngraph/core/builder/src/builder/autobroadcast.cpp
  ngraph/frontend/onnx_import/src/op/add.cpp
  ngraph/frontend/onnx_import/src/op/div.hpp
  ngraph/frontend/onnx_import/src/op/mul.hpp
  ngraph/frontend/onnx_import/src/op/sub.hpp
  ngraph/test/models/onnx/add_v6_broadcast_axes_1_2.prototxt
  ngraph/test/models/onnx/div_v6_broadcast_axes_1_2.prototxt
  ngraph/test/models/onnx/mul_v6_broadcast_axes_1_2.prototxt
  ngraph/test/models/onnx/sub_v6_broadcast_axes_1_2.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
Labels: category: nGraph, category: onnx importer

#4443 Replaced getInputs method with common ngraph API method to handle multi-output case
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/subgraph.cpp
Labels: bug, category: CPU

#4117 Allow the framework to generate input data without infer request object
  inference-engine/tests/functional/plugin/gna/Import_export_tests/import_export_memory_layer.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/fake_quantize.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/loop.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/basic_lstm.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/eltwise_conv_eltwise.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/scaleshift_conv_scaleshift.hpp
  inference-engine/tests/functional/plugin/shared/src/base/import_export_base/import_export_base.cpp
  inference-engine/tests/functional/plugin/shared/src/behavior/invalid_cases/proposal.cpp
  inference-engine/tests/functional/plugin/shared/src/behavior/set_blob_of_kind.cpp
  inference-engine/tests/functional/plugin/shared/src/behavior/stress_tests.cpp
  inference-engine/tests/functional/plugin/shared/src/configuration_tests/dynamic_batch.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/detection_output.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/gru_sequence.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/lstm_sequence.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/non_max_suppression.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/psroi_pooling.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/rnn_sequence.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/roi_align.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/roi_pooling.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/activation.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/detection_output.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/gru_sequence.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/lstm_sequence.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/non_max_suppression.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/psroi_pooling.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/rnn_sequence.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/roi_align.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/roi_pooling.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/basic_lstm.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/concat_quantization_during_memory_requantization.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/delayed_copy_layer.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/memory_LSTMCell.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/memory_eltwise_reshape_concat.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/multiple_LSTMCell.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/negative_memory_layer_offset.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/softsign.cpp
Labels: category: IE Tests

#4539 doc: add link to RHEL Docker repo
  docs/install_guides/installing-openvino-docker-linux.md
Labels: category: docs

#4288 [Wheel] Added configuration for openvono-dev
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.requirements.txt
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.setup.cfg
  inference-engine/ie_bridges/python/wheel/setup.cfg
Labels: category: python api

#4519 doc: configure docker container for GPU
  docs/install_guides/installing-openvino-docker-linux.md
Labels: category: docs

#4512 Added gstreamer1.0-x pkg for dlstreamer
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI

#4502 Failed MO shape infer after SplitConcatPairToInterpolate transformation, when Concat has more than one producer
  model-optimizer/extensions/middle/SplitConcatPairToInterpolate.py
  model-optimizer/extensions/middle/SplitConcatPairToInterpolate_test.py
Labels: category: MO

#4558 doc: add link to RHEL docker repo and GPU configuration guide
  docs/install_guides/installing-openvino-docker-linux.md
Labels: category: docs

#4538 [GNA] Security fixes for 2021.3
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.hpp
  inference-engine/src/gna_plugin/memory/gna_memory.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
Labels: category: GNA

#4489 [GNA] Fix issues with compilation and quantization of input-split-concat pattern
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/input_split_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/input_split_concat.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/input_split_concat.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/input_split_concat.cpp
Labels: category: GNA

#4552 Partial revert of changes in the Pad transformations caused POT regression
  model-optimizer/extensions/front/AttributedPadToPad.py
  model-optimizer/extensions/front/AttributedPadToPad_test.py
  model-optimizer/extensions/front/tf/pad_tf_to_pad.py
  model-optimizer/extensions/front/tf/pad_tf_to_pad_test.py
Labels: category: MO

#4516 Added check that new name is unique.
  model-optimizer/extensions/back/ResultRename.py
  model-optimizer/extensions/back/ResultRename_test.py
Labels: category: MO

#4531 Removing unnecessary order checking in Loop/TI operations
  inference-engine/tests/functional/inference_engine/ngraph_reader/loop.cpp
  ngraph/core/src/op/loop.cpp
  ngraph/core/src/op/tensor_iterator.cpp
Labels: bug, category: nGraph

#4553 Fixed fuzzer issues
  inference-engine/src/inference_engine/ie_network_reader.cpp
  inference-engine/src/readers/CMakeLists.txt
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader/ie_ir_version.hpp
  inference-engine/src/readers/ir_reader_v7/ie_cnn_net_reader_impl.cpp
  inference-engine/src/readers/ir_reader_v7/ie_ir_parser.cpp
  inference-engine/src/readers/reader_api/ie_blob_stream.cpp
  inference-engine/src/readers/reader_api/ie_blob_stream.hpp
  ngraph/core/include/ngraph/op/constant.hpp
  ngraph/core/src/op/squeeze.cpp
Labels: bug, category: IE common, category: IE reader, category: nGraph

#4547 [VS2017] QueryState build error C4996 was fixed
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_executable_network_base.hpp
Labels: category: IE common

#4560 [PYTHON API] Add bin, bool, bf16 precisions
  inference-engine/ie_bridges/python/src/openvino/inference_engine/constants.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/tests/test_Blob.py
Labels: bug, category: python api

#4408 [IE Python] update python api readme
  inference-engine/ie_bridges/python/README.md
  inference-engine/ie_bridges/python/docs/api_overview.md
Labels: category: docs

#4482 [IE VPU] update the condition for tiling for HWops
  inference-engine/src/vpu/graph_transformer/src/middleend/hw/tiling.cpp
Labels: category: VPU

#4557 Fix LowLatency transformation for Loop
  inference-engine/src/transformations/src/transformations/control_flow/unroll_tensor_iterator.cpp
  inference-engine/tests/functional/inference_engine/transformations/low_latency_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/unroll_loop_test.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/loop.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/loop.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/loop.cpp
  ngraph/core/include/ngraph/op/loop.hpp
  ngraph/core/include/ngraph/op/tensor_iterator.hpp
  ngraph/core/include/ngraph/op/util/sub_graph_base.hpp
  ngraph/core/src/pass/low_latency.cpp
Labels: bug, category: IE Tests, category: nGraph

#4564 Fixed getting InputInfo name for empty object
  inference-engine/include/ie_input_info.hpp
Labels: category: IE common

#4554 Fixed gtest build / usage in case of RelWithDebInfo
  inference-engine/tests_deprecated/fluid_preproc/CMakeLists.txt
  ngraph/cmake/external_gtest.cmake
Labels: category: build, category: nGraph

#4555 Disable the randomly failing ExperimentalDetectron test
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#4556 [CPU] Fixed strides for Pad after optimized Split
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pad_node.cpp
Labels: category: CPU

#4485 [IE CLDNN] Restored optional conversion of quantized model to fp32
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
Labels: category: GPU

#4545 [MO] Fix StridedSlice replacer order and input permutation without strides
  model-optimizer/extensions/middle/StridedSliceNormalizer.py
  model-optimizer/extensions/middle/StridedSliceNormalizer_test.py
  model-optimizer/mo/front/common/partial_infer/utils.py
Labels: bug, category: MO

#4570 Fix FakeQuantizeMulFusion for cases with NUMPY broadcasting
  inference-engine/src/transformations/src/transformations/common_optimizations/fq_mul_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/fq_mul_fusion_test.cpp
Labels: category: IE Tests, category: IE transformations, category: nGraph

#4544 [LPT] Integration branch with fixes for release 2021.3
  inference-engine/src/low_precision_transformations/src/clamp.cpp
  inference-engine/src/low_precision_transformations/src/mvn.cpp
  inference-engine/src/low_precision_transformations/src/strided_slice.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/clamp_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/mvn_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/strided_slice_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/clamp_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/mvn_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/clamp_function.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/mvn_function.cpp
Labels: category: CPU, category: IE Tests, category: LP transformations

#4283 [LPT] Matmul with Dq on weights tests
  inference-engine/tests/functional/inference_engine/lp_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/mat_mul_with_constant_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/mat_mul_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/mat_mul_function.cpp
Labels: category: IE Tests, category: LP transformations

#4423 Updated PyPi documentation
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#3953 [GNA] Fixed issue with multiple connections between pair of nodes (Split=>Concat)
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/legacy_api/src/network_serializer_v7.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/connect_split_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/connect_split_concat_concat.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/multiple_connect_split_concat.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/connect_split_concat_concat.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/multiple_connect_split_concat.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/connect_split_concat_concat.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/multiple_connect_split_concat.cpp
  inference-engine/tests_deprecated/unit/engines/gna/fp32_non_quantized_tests.cpp
Labels: category: GNA, category: nGraph

#4562 [LPT] GPU Support 3D tensor on activations
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/low_precision_transformations/include/low_precision/layer_transformation.hpp
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/src/low_precision_transformations/src/mat_mul.cpp
Labels: category: LP transformations

#4517 [VPU] Fixes for Yolo-V3
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_broadcast.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_loop.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_reshape.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_topk.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_broadcast.cpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_loop.cpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_reshape.cpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_topk.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/merge_subsequent_dsr_operations.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/topk.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/topk.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_topk.cpp
Labels: category: IE Tests, category: VPU

#4561 Constant nodes outputs sharing between streams
  inference-engine/src/mkldnn_plugin/mkldnn_edge.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_edge.h
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_weights_cache.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_weights_cache.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_input_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reorder_node.h
Labels: category: CPU

#4590 Feature/azaytsev/gna model link fixes
  README.md
  docs/IE_DG/supported_plugins/GNA.md
  docs/ovsa/ovsa_get_started.md
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/README.md
  inference-engine/samples/speech_libs_and_demos/Speech_libs_and_demos.md
  inference-engine/samples/speech_sample/README.md
Labels: category: docs

#4593 Feature/azaytsev/cldnn doc fixes
  inference-engine/thirdparty/clDNN/README.md
Labels: category: docs

#4486 Fixed unsafe macro
  openvino/conditional_compilation/include/openvino/cc/selective_build.h
Labels: category: IE common

#4598 Corrected PyYAML dependency
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.requirements.txt
Labels: category: python api

#4601 Feature/azaytsev/formula fixes
  docs/ops/activation/HSigmoid_5.md
  docs/ops/activation/HardSigmoid_1.md
Labels: category: docs

#4600 Feature/azaytsev/cldnn doc fixes
  inference-engine/thirdparty/clDNN/README.md
Labels: category: docs

#4599 Feature/azaytsev/gna model link fixes
  README.md
  docs/IE_DG/supported_plugins/GNA.md
  docs/ovsa/ovsa_get_started.md
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/README.md
  inference-engine/samples/speech_libs_and_demos/Speech_libs_and_demos.md
  inference-engine/samples/speech_sample/README.md
Labels: category: docs

#4107 Subgraph extraction in ONNX models
  ngraph/frontend/onnx_import/include/onnx_import/editor/detail/subgraph_extraction.hpp
  ngraph/frontend/onnx_import/include/onnx_import/editor/editor.hpp
  ngraph/frontend/onnx_import/src/editor/detail/subgraph_extraction.cpp
  ngraph/frontend/onnx_import/src/editor/editor.cpp
  ngraph/frontend/onnx_import/src/onnx.cpp
  ngraph/test/models/onnx/model_editor/reference/subgraph__existing_inputs_and_outputs_based_extraction.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__existing_inputs_and_outputs_based_extraction.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__initializer_to_input_replacement.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__initializer_to_input_replacement.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__initializer_without_matching_input_tail_cut.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__initializer_without_matching_input_tail_cut.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__input_edge_from_tensor_with_multiple_consumers.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__input_edge_from_tensor_with_multiple_consumers.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__input_edge_from_tensor_with_multiple_consumers_2.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__input_edge_from_tensor_with_multiple_consumers_2.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__input_edge_from_tensor_with_multiple_consumers_3.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__input_edge_from_tensor_with_multiple_consumers_3.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_deeper_head_cut.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_deeper_head_cut.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_deeper_tail_cut.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_deeper_tail_cut.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_head_cut.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_head_cut.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_tail_cut.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_tail_cut.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_with_initializer_tail_cut.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_with_initializer_tail_cut.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__multiout_op_output_edge.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__multiout_op_output_edge.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__multiple_consumers_of_graph_initializer.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__multiple_consumers_of_graph_initializer.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__multiple_consumers_of_graph_initializer_relu2_and_init.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__multiple_consumers_of_graph_initializer_relu2_and_init.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__multiple_consumers_of_graph_input_relu2.onnx
  ngraph/test/models/onnx/model_editor/reference/subgraph__multiple_consumers_of_graph_input_relu2.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__no_input_params.onnx
  ngraph/test/models/onnx/model_editor/subgraph__inception_head.prototxt
  ngraph/test/models/onnx/model_editor/subgraph__inception_head_with_initializer.prototxt
  ngraph/test/models/onnx/model_editor/subgraph__initializer_without_matching_input.prototxt
  ngraph/test/models/onnx/model_editor/subgraph_extraction_tests.prototxt
  ngraph/test/models/onnx/model_editor/subgraph_extraction_tests_2.prototxt
  ngraph/test/onnx/onnx_editor.cpp
  ngraph/test/util/onnx_test_util.cpp
  ngraph/test/util/onnx_test_util.hpp
Labels: ONNX, category: onnx importer

#4595 Fix for broken CC in CPU plugin
  openvino/conditional_compilation/include/openvino/cc/selective_build.h
Labels: category: IE common

#4594 Fix for broken CC in CPU plugin
  openvino/conditional_compilation/include/openvino/cc/selective_build.h
Labels: category: IE common

#4578 [IE Tools]: benchmark_app(s) supports BOOL input
  inference-engine/samples/benchmark_app/inputs_filling.cpp
  tools/benchmark/utils/inputs_filling.py
Labels: category: IE common, category: tools

#4577 Fix clone affinity
  ngraph/core/src/validation_util.cpp
  ngraph/test/util.cpp
Labels: bug, category: nGraph

#4597 Fixed clone rt info
  ngraph/core/src/validation_util.cpp
  ngraph/test/util.cpp
Labels: bug, category: nGraph

#4619 [.ci/azure] Enable CC build
  .ci/azure/linux_conditional_compilation.yml
Labels: category: CI

#4587 Fix reference config
  tests/stress_tests/.automation/memcheck_tests/nightly_configs/desktop_references_config.xml
Labels: category: IE Tests

#4576 [LPT] GPU Support 3D tensor on activations - tests
  inference-engine/tests/functional/inference_engine/lp_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/mat_mul_function.cpp
Labels: category: LP transformations

#4622 Feature/azaytsev/formula fixes
  docs/ops/activation/HSigmoid_5.md
Labels: category: docs

#4624 Formula fix
  docs/ops/activation/HSigmoid_5.md
Labels: category: docs

#4551 [BF16] Instantiation params for bf16-tests fitted to original task
  inference-engine/tests/functional/plugin/cpu/bfloat16/conv_add.cpp
  inference-engine/tests/functional/plugin/cpu/bfloat16/elt_x3.cpp
  inference-engine/tests/functional/plugin/cpu/bfloat16/gather_multiply.cpp
Labels: category: IE Tests

#4607 Fixed transformation to pull constants into Loop body (cherry-pick of PR 4591)
  model-optimizer/extensions/ops/loop.py
  model-optimizer/mo/middle/passes/fusing/helpers.py
  model-optimizer/mo/middle/passes/fusing/helpers_test.py
Labels: category: MO

#4591 Fixed transformation to pull constants into Loop body
  model-optimizer/extensions/ops/loop.py
  model-optimizer/mo/middle/passes/fusing/helpers.py
  model-optimizer/mo/middle/passes/fusing/helpers_test.py
Labels: bug, category: MO

#4639 Fixed KW hits
  ngraph/core/reference/src/runtime/reference/loop.cpp
  ngraph/core/reference/src/runtime/reference/tensor_iterator.cpp
Labels: category: nGraph

#4638 2021.3kw
  ngraph/core/reference/src/runtime/reference/loop.cpp
  ngraph/core/reference/src/runtime/reference/tensor_iterator.cpp
Labels: category: nGraph

#4628 [CPU] Supported ANY layout for inputs in inferRequest
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
Labels: category: CPU

#4621 [CPU] Supported ANY layout for inputs in inferRequest
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
Labels: category: CPU

#4648 [.ci/azure] Add windows_conditional_compilation.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#4643 [doc] Updated PyPI support OSes
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#4650 [.ci/azure] Fix WinCC job name
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#4422 Add documentation on how to convert QuartzNet model
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_QuartzNet.md
Labels: category: docs

#4642 Fix for MKLDNN constant layers execution
  inference-engine/src/mkldnn_plugin/mkldnn_edge.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_tensoriterator_node.cpp
Labels: category: CPU

#4632 Fix for MKLDNN constant layers execution
  inference-engine/src/mkldnn_plugin/mkldnn_edge.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_tensoriterator_node.cpp
Labels: category: CPU

#4633 Add workaround for control edges to support TF 2.4 Keras RNN layers
  model-optimizer/extensions/front/tf/while_ext.py
Labels: category: MO

#4634 Add workaround for control edges to support TF 2.4 Keras RNN layers
  model-optimizer/extensions/front/tf/while_ext.py
Labels: category: MO

#4620 Corrected PyYAML dependency (#4598)
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.requirements.txt
Labels: category: python api

#4331 SIMD optimization of 8U3C/4C Resize for ARM via universal intrinsics.
  inference-engine/src/preprocessing/arm_neon/ie_preprocess_gapi_kernels_neon.cpp
  inference-engine/src/preprocessing/cpu_x86_sse42/ie_preprocess_gapi_kernels_sse42.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/thirdparty/ocv/opencv_hal_intrin.hpp
  inference-engine/thirdparty/ocv/opencv_hal_neon.hpp
Labels: category: IE common

#4582 Fix incorrect edge removal in the disconnect() method
  model-optimizer/mo/graph/port.py
  model-optimizer/mo/graph/port_test.py
Labels: bug, category: MO

#4610 Catch std::except in fuzz tests
  tests/fuzz/src/read_network-fuzzer.cc
Labels: category: IE Tests

#4549 [IE CLDNN] Fuse reorder to permute.
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_tile_8x8_4x4.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/remove_redundant_reorders.cpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/permute_gpu_test.cpp
Labels: category: GPU

#4665 Don't allow to create 2 plugin with the same device name
  cmake/developer_package/plugins/plugins.cmake
  cmake/features.cmake
  inference-engine/src/hetero_plugin/CMakeLists.txt
Labels: category: IE common, category: build

#4366 Update spec for ADD operation.
  docs/ops/arithmetic/Add_1.md
  docs/ops/broadcast_rules.md
  docs/ops/movement/Broadcast_1.md
  docs/ops/movement/Broadcast_3.md
Labels: category: docs

#4637 [CPU] Statically analyzed issues.
  inference-engine/src/mkldnn_plugin/nodes/common/tensor_desc_creator.cpp
  inference-engine/src/mkldnn_plugin/nodes/cum_sum.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_bin_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_def_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pad_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pad_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_quantize_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roi_pooling_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_split_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/non_max_suppression.cpp
  inference-engine/src/mkldnn_plugin/nodes/region_yolo.cpp
Labels: category: CPU

#4657 Docs api
  docs/IE_DG/API_Changes.md
  inference-engine/include/ie_core.hpp
Labels: category: IE common, category: docs

#4636 [CPU] Statically analyzed issues.
  inference-engine/src/mkldnn_plugin/nodes/common/tensor_desc_creator.cpp
  inference-engine/src/mkldnn_plugin/nodes/cum_sum.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_bin_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_def_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pad_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pad_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_quantize_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roi_pooling_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_split_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/non_max_suppression.cpp
  inference-engine/src/mkldnn_plugin/nodes/region_yolo.cpp
Labels: category: CPU

#4652 [IE][VPU]: Fix empty output of CTCGreedyDecoderSeqLen
  inference-engine/src/vpu/graph_transformer/src/stages/ctc_greedy_decoder_seq_len.cpp
Labels: category: VPU

#4664 Add documentation on how to convert QuartzNet model
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_QuartzNet.md
  docs/doxygen/ie_docs.xml
Labels: category: docs

#4451 Add a byxf format for RegionYolo op.
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/region_yolo/region_yolo_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/region_yolo/region_yolo_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/region_yolo_gpu_ref.cl
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/gemm_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/region_yolo_gpu_test.cpp
Labels: category: GPU

#4644 Fixed bug in assign elimination transformation.
  model-optimizer/extensions/front/tf/assign_elimination.py
Labels: category: MO

#4613 Add support for input dynamic shape in ONNX LpNorm operator
  ngraph/frontend/onnx_import/src/op/lp_norm.cpp
  ngraph/test/models/onnx/lp_norm_default_dynamic.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#4095 Align builds locations for ngraph and ie python bindings
  .ci/openvino-onnx/Dockerfile
  ngraph/python/CMakeLists.txt
Labels: category: nGraph

#4701 Feature/cherry pick 4662 to master
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#528 Synchronous inference using stream executor affinity and parallelism constraints
  inference-engine/src/mkldnn_plugin/mkldnn_async_infer_request.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_async_infer_request.h
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.h
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_leaks_test.cpp
Labels: category: CPU, category: IE Tests, category: IE common, enhancement, pr: needs tests

#4703 Mod operation specification refactoring.
  docs/ops/arithmetic/Mod_1.md
Labels: category: docs

#4458 [IE clDNN] Implement ScatterNDUpdate op
  inference-engine/src/cldnn_engine/cldnn_primitives_list.hpp
  inference-engine/src/cldnn_engine/ops/scatter_nd_update.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/scatter_nd_update.cpp
  inference-engine/thirdparty/clDNN/api/scatter_nd_update.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_nd_update_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_nd_update_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_nd_update_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_nd_update_kernel_selector.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/scatter_nd_update_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.hpp
  inference-engine/thirdparty/clDNN/src/gpu/scatter_nd_update_gpu.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/include/scatter_nd_update_inst.h
  inference-engine/thirdparty/clDNN/src/scatter_nd_update.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/scatter_nd_update_gpu_test.cpp
Labels: category: GPU, category: IE Tests

#4566 Power operation specification refactoring.
  docs/ops/arithmetic/Power_1.md
Labels: category: docs

#4571 Minimum operation specification refactoring.
  docs/ops/arithmetic/Minimum_1.md
Labels: category: docs

#4572 Maximum operation specification refactoring.
  docs/ops/arithmetic/Maximum_1.md
Labels: category: docs

#4569 FloorMod operation specification refactoring.
  docs/ops/arithmetic/FloorMod_1.md
Labels: category: docs

#4683 Change is to == to avoid warning
  model-optimizer/mo/main.py
Labels: ExternalPR

#4653 [IE][VPU]: Fix empty output of CTCGreedyDecoderSeqLen
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/ctc_greedy_decoder_seq_len.cpp
Labels: category: IE common, category: VPU

#4707 [VPU] WA for Segmentation fault on dlclose() issue
  inference-engine/src/vpu/myriad_plugin/CMakeLists.txt
Labels: category: VPU

#4645 [VPU] WA for Segmentation fault on dlclose() issue
  inference-engine/src/vpu/myriad_plugin/CMakeLists.txt
Labels: category: VPU

#4474 Document TensorFlow 2* Update: Layers Support and Remove Beta Status
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
Labels: category: docs

#4711 Document TensorFlow 2* Update: Layers Support and Remove Beta Status
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
Labels: category: docs

#4605 Updated nGraph custom op documentation
  docs/IE_DG/Extensibility_DG/AddingNGraphOps.md
  docs/template_extension/op.cpp
  docs/template_extension/op.hpp
Labels: category: docs

#4669 [IE CLDNN] Fix missing variable initializations and types
  inference-engine/src/cldnn_engine/cldnn_remote_context.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/ctc_greedy_decoder/ctc_greedy_decoder_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/mvn/mvn_kernel_base.h
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: GPU

#4693 Update spec for multiply operation
  docs/ops/arithmetic/Multiply_1.md
Labels: category: docs

#4612 subtract ref impl: add backend tests
  ngraph/test/backend/subtract.in.cpp
Labels: category: nGraph

#4715 add spec - cleanup
  docs/ops/arithmetic/Add_1.md
Labels: category: docs

#4692 Update spec for subtract
  docs/ops/arithmetic/Subtract_1.md
Labels: category: docs

#4722 Updated documentation about the supported YOLOv3 model from ONNX
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
Labels: category: docs

#4708 Add STN to list of supported models
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
Labels: category: docs

#4686 Restored folded Operations for QueryNetwork
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
Labels: bug, category: IE Tests, category: IE common, category: nGraph

#4685 Restored folded Operations for QueryNetwork
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
Labels: bug, category: IE Tests, category: IE common, category: nGraph

#4072 cherrypick from 2021.2 release branch: added draft version of doc for networks with state (PR #3372)
  docs/IE_DG/img/applying_low_latency.png
  docs/IE_DG/img/low_latency_limitation_1.png
  docs/IE_DG/img/low_latency_limitation_2.png
  docs/IE_DG/img/state_network_example.png
  docs/IE_DG/network_state_intro.md
  docs/doxygen/ie_docs.xml
  docs/snippets/InferenceEngine_network_with_state_infer.cpp
Labels: category: docs

#4723 Added mo.py to wheel packages
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.setup.cfg
  model-optimizer/setup.py
Labels: category: MO, category: python api

#4469 Added specification for Roll operation.
  docs/doxygen/ie_docs.xml
  docs/ops/movement/Roll_7.md
  docs/ops/opset7.md
Labels: category: docs

#4728 Add STN to list of supported models
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
Labels: category: docs

#4704 Chromeos enabling
  inference-engine/CMakeLists.txt
  inference-engine/cmake/FindlibGNA.cmake
  inference-engine/cmake/dependencies.cmake
  inference-engine/cmake/linux_name.cmake
  inference-engine/include/builders/ie_divbyn_layer.hpp
  inference-engine/include/builders/ie_exp_layer.hpp
  inference-engine/include/builders/ie_identity_layer.hpp
  inference-engine/include/builders/ie_log_layer.hpp
  inference-engine/include/builders/ie_neghalf_log_layer.hpp
  inference-engine/include/gna/gna_config.hpp
  inference-engine/include/ie_builders.hpp
  inference-engine/include/ie_layers.h
  inference-engine/include/ie_plugin_config.hpp
  inference-engine/samples/common/format_reader/bmp.h
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/backend/am_intel_dnn.hpp
  inference-engine/src/gna_plugin/backend/dnn_types.h
  inference-engine/src/gna_plugin/backend/make_pwl.cpp
  inference-engine/src/gna_plugin/backend/make_pwl.hpp
  inference-engine/src/gna_plugin/frontend/quantization.cpp
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_compiler.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/gna_plugin_log.hpp
  inference-engine/src/gna_plugin/gna_plugin_query_api.cpp
  inference-engine/src/gna_plugin/gna_slope_scale.h
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/layers/gna_layer_type.hpp
  inference-engine/src/gna_plugin/layers/gna_permute.hpp
  inference-engine/src/gna_plugin/memory/gna_memory_state.hpp
  inference-engine/src/gna_plugin/runtime/pwl.cpp
  inference-engine/src/gna_plugin/runtime/pwl.h
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/builders/ie_divbyn_layer.cpp
  inference-engine/src/inference_engine/builders/ie_exp_layer.cpp
  inference-engine/src/inference_engine/builders/ie_identity_layer.cpp
  inference-engine/src/inference_engine/builders/ie_log_layer.cpp
  inference-engine/src/inference_engine/builders/ie_neghalf_log_layer.cpp
  inference-engine/src/inference_engine/builders/ie_network_builder.cpp
  inference-engine/src/inference_engine/builders/ie_network_builder_converter.cpp
  inference-engine/src/inference_engine/ie_cnn_net_reader_impl.cpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/src/inference_engine/ie_layer_parsers.cpp
  inference-engine/src/inference_engine/ie_rtti.cpp
  inference-engine/src/inference_engine/ie_util_internal.cpp
  inference-engine/src/inference_engine/layer_transform.hpp
  inference-engine/src/inference_engine/shape_infer/built-in/ie_built_in_holder.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/other_tests/add_output.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/other_tests/add_output.cpp
  inference-engine/tests/functional/plugin/shared/include/other/add_output.hpp
  inference-engine/tests/functional/plugin/shared/src/other/add_output.cpp
  inference-engine/thirdparty/pugixml/CMakeLists.txt
Labels: ExternalIntelPR

#4717 Fix for compilation issue for ARM 32-bit
  inference-engine/src/preprocessing/arm_neon/ie_preprocess_gapi_kernels_neon.cpp
  inference-engine/thirdparty/ocv/opencv_hal_neon.hpp
Labels: category: IE common

#4720 Added support for attribute 'pad_to_max_dimension' for TF OD API models
  model-optimizer/extensions/front/tf/ObjectDetectionAPI.py
  model-optimizer/extensions/front/tf/ObjectDetectionAPI_test.py
  model-optimizer/mo/utils/pipeline_config.py
  model-optimizer/mo/utils/pipeline_config_test.py
Labels: category: MO

#3275 Fix python API for Loop/TensorIterator/Assign/ReadValue operations
  ngraph/python/src/ngraph/opset1/ops.py
  ngraph/python/src/ngraph/opset5/ops.py
  ngraph/python/src/ngraph/opset6/__init__.py
  ngraph/python/src/ngraph/opset6/ops.py
  ngraph/python/src/pyngraph/dict_attribute_visitor.cpp
  ngraph/python/src/pyngraph/dict_attribute_visitor.hpp
  ngraph/python/src/pyngraph/node.cpp
  ngraph/python/src/pyngraph/node_factory.cpp
  ngraph/python/src/pyngraph/tensor_iterator_builder.cpp
  ngraph/python/src/pyngraph/tensor_iterator_builder.hpp
  ngraph/python/tests/test_ngraph/test_create_op.py
Labels: bug

#4714 Fix python API for Loop/TensorIterator/Assign/ReadValue operations (cherry-picked)
  ngraph/python/src/ngraph/opset1/ops.py
  ngraph/python/src/ngraph/opset5/ops.py
  ngraph/python/src/ngraph/opset6/__init__.py
  ngraph/python/src/ngraph/opset6/ops.py
  ngraph/python/src/pyngraph/dict_attribute_visitor.cpp
  ngraph/python/src/pyngraph/dict_attribute_visitor.hpp
  ngraph/python/src/pyngraph/node.cpp
  ngraph/python/src/pyngraph/node_factory.cpp
  ngraph/python/src/pyngraph/tensor_iterator_builder.cpp
  ngraph/python/src/pyngraph/tensor_iterator_builder.hpp
  ngraph/python/tests/test_ngraph/test_create_op.py
Labels: bug, category: nGraph

#4471 [GNA] Map 2d convolution to 1d if it's possible
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_patterns.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/convolution.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/stridedslice_conv.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/stridedslice_conv.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/stridedslice_conv.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/stridedslice_conv.cpp
Labels: category: GNA, category: IE Tests

#4626 Docs update
  docs/IE_DG/supported_plugins/CPU.md
  docs/optimization_guide/dldt_optimization_guide.md
Labels: category: docs

#4729 Blocked dims hwc 2021/3
  inference-engine/src/inference_engine/ie_layouts.cpp
  inference-engine/tests/functional/inference_engine/tensor_desc_test.cpp
Labels: bug, category: IE Tests, category: IE common

#4718 Fix for BlockedDims
  inference-engine/src/inference_engine/ie_layouts.cpp
  inference-engine/tests/functional/inference_engine/tensor_desc_test.cpp
Labels: bug, category: IE common

#4398 [IE CLDNN] Use fsv4 when feature-depth is shallow
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#4736 Docs update master
  docs/IE_DG/supported_plugins/CPU.md
  docs/optimization_guide/dldt_optimization_guide.md
Labels: category: docs

#4503 [Stress] MemCheck add INT8 and FP16 models to configs
  tests/stress_tests/.automation/memcheck_tests/nightly_configs/desktop_references_config.xml
  tests/stress_tests/.automation/memcheck_tests/nightly_configs/desktop_test_config.xml
  tests/stress_tests/.automation/memcheck_tests/precommit_configs/desktop_references_config.xml
  tests/stress_tests/.automation/memcheck_tests/precommit_configs/desktop_test_config.xml
  tests/stress_tests/.automation/memcheck_tests/weekly_configs/desktop_test_config.xml
  tests/stress_tests/memcheck_tests/local_configs/test_config.xml
  tests/stress_tests/scripts/get_testdata.py
Labels: category: IE Tests

#4734 Deprecated IE::Parameter <-> ngraph::Variant
  docs/IE_DG/API_Changes.md
  inference-engine/include/ie_parameter.hpp
Labels: category: IE common, category: docs

#4536 Update spec for divide
  docs/ops/arithmetic/Divide_1.md
Labels: category: docs

#4588 Propagate input rank for dynamic output shape in BatchToSpace,DepthTo…
  ngraph/core/src/op/batch_to_space.cpp
  ngraph/core/src/op/depth_to_space.cpp
  ngraph/core/src/op/pad.cpp
  ngraph/core/src/op/space_to_batch.cpp
  ngraph/core/src/op/space_to_depth.cpp
  ngraph/frontend/onnx_import/src/op/depth_to_space.cpp
  ngraph/frontend/onnx_import/src/op/space_to_depth.cpp
  ngraph/test/models/onnx/dynamic_shapes/depth_to_space.prototxt
  ngraph/test/models/onnx/dynamic_shapes/space_to_depth.prototxt
  ngraph/test/onnx/onnx_import_dyn_shapes.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/type_prop/batch_to_space.cpp
  ngraph/test/type_prop/depth_to_space.cpp
  ngraph/test/type_prop/pad.cpp
  ngraph/test/type_prop/space_to_batch.cpp
  ngraph/test/type_prop/space_to_depth.cpp
Labels: category: nGraph

#4310 [IE CLDNN] Fix NormalizeL2 creation in QueryNetwork
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.h
  inference-engine/src/cldnn_engine/cldnn_program.h
Labels: category: GPU

#4738 Added check for shared library to ie_add_vs_version_file
  cmake/developer_package/vs_version/vs_version.cmake
  inference-engine/src/snippets/CMakeLists.txt
Labels: category: IE common, category: build, platform: win32

#4614 [GNA] Move weights transposition from NCHW to NHWC to GNA pass after FQ passes
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/gna_tensor_tools.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/fq_conv_fq_affine.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/fq_conv_fq_affine.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/fq_conv_fq_affine.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/fq_conv_fq_affine.cpp
Labels: category: GNA, category: IE Tests

#4741 Fix handling of the QuantizeLinear op connected to multiout ops
  ngraph/frontend/onnx_import/src/op/quantize_linear.cpp
Labels: category: nGraph

#4754 Reflected that plugin on OSX are also .so
  docs/HOWTO/Custom_Layers_Guide.md
  docs/IE_DG/inference_engine_intro.md
Labels: category: docs

#4731 Added mo.py to wheel packages
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.setup.cfg
  model-optimizer/setup.py
Labels: category: MO, category: python api

#4748 [IE CLDNN] Updated ocl build error message
  inference-engine/thirdparty/clDNN/src/gpu/kernels_cache.cpp
Labels: category: GPU

#3742 Unique Subgraphs\Operations extractor
  inference-engine/tests/CMakeLists.txt
  inference-engine/tests/functional/plugin/CMakeLists.txt
  inference-engine/tests/functional/plugin/conformance/CMakeLists.txt
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/CMakeLists.txt
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/README.md
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/gflag_config.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/base_matcher.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/matchers_manager.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/single_op.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/op_cloner.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/ops_cache.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/base_matcher.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/matchers_manager.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/single_op.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/op_cloner.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/ops_cache.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/precomp.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/tests/CMakeLists.txt
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/tests/matchers/generic_single_op.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/tests/matchers/matchers_config.cpp
  inference-engine/tests/functional/plugin/shared/CMakeLists.txt
  inference-engine/tests/functional/plugin/shared/include/configuration_tests/dynamic_batch.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/file_utils.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.hpp
Labels: category: IE Tests
