Repository openvinotoolkit/openvino, pull requests merged in 2021-06, with the labels that each got.

#5916 [CPU] Add workaround for Ngraph OPs friendly name initialization
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
Labels: category: CPU

#5117 Removing incorrect specification for RNNCell-1
  docs/ops/sequence/RNNCell_1.md
Labels: bug, category: docs

#5867 [VPU]Temporary fix for conformance tests
  inference-engine/cmake/vpu_dependencies.cmake
Labels: category: IE common, category: VPU

#5782 Reduce node fix illegal instruction on sse41
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reduce_node.cpp
Labels: category: CPU

#5929 Moved CC macros to public API
  docs/template_plugin/src/CMakeLists.txt
  docs/template_plugin/src/transformations/template_function_transformation.cpp
  docs/template_plugin/src/transformations/template_pattern_transformation.cpp
  inference-engine/src/snippets/src/itt.hpp
  inference-engine/src/transformations/src/itt.hpp
  openvino/conditional_compilation/CMakeLists.txt
  openvino/conditional_compilation/include/openvino/cc/ngraph/itt.hpp
Labels: category: nGraph

#5934 [CPU] Fix eltwise precision fusing on non-zero ports
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_eltwise_node.cpp
Labels: category: CPU

#5901 Fixed templatePlugin tests on IA32
  inference-engine/tests/functional/inference_engine/ngraph_reshape_tests.cpp
  inference-engine/tests/functional/inference_engine/shared_object_loader_test.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
Labels: category: IE Tests

#5931 [docs] corrected link in one billion convert doc, added DEPRECATED to dlrm
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_DLRM.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_lm_1b_From_Tensorflow.md
  docs/doxygen/ie_docs.xml
Labels: category: docs

#5890 LRN operation specification refactoring
  docs/ops/normalization/LRN_1.md
Labels: category: docs

#5322 Python speech sample
  docs/IE_DG/Samples_Overview.md
  docs/doxygen/openvino_docs.xml
  inference-engine/ie_bridges/python/sample/speech_sample/README.md
  inference-engine/ie_bridges/python/sample/speech_sample/arg_parser.py
  inference-engine/ie_bridges/python/sample/speech_sample/file_options.py
  inference-engine/ie_bridges/python/sample/speech_sample/speech_sample.py
  inference-engine/samples/speech_sample/README.md
  inference-engine/samples/speech_sample/main.cpp
Labels: category: samples

#5833 [LPT] SplitTransformation WA for unsupported concat
  inference-engine/src/low_precision_transformations/src/split.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/split_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/split_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/split_function.cpp
Labels: bug, category: LP transformations

#5885 CTCGreedyDecoder operation specification refactoring
  docs/ops/sequence/CTCGreedyDecoder_1.md
Labels: category: docs

#5910 Fix for data race in MKLDNNSharedMemory::valid
  inference-engine/src/mkldnn_plugin/mkldnn_weights_cache.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_weights_cache.hpp
Labels: category: CPU, category: IE Tests

#5933 [CPU] Fix mem leak in ParameterResultCustomBlobTest
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/param_result_custom_blob.cpp
Labels: category: CPU

#5895 [LPT] ConvolutionTransformation with Split fix
  inference-engine/src/low_precision_transformations/src/convolution.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/transformations_after_split_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/transformations_after_split_function.cpp
Labels: bug, category: CPU, category: GPU, category: IE Tests, category: LP transformations

#5954 Azure CI: Add "Build samples" check
  .ci/azure/linux.yml
  .ci/azure/windows.yml
Labels: category: CI

#5750 [CPU] Extended preprocessing for CPU
  docs/template_plugin/src/transformations/preprocessing/preprocessing.hpp
  docs/template_plugin/src/transformations/preprocessing/std_scale.cpp
  docs/template_plugin/tests/functional/transformations/preprocessing.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/normalize_preprocess.cpp
  inference-engine/src/mkldnn_plugin/normalize_preprocess.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/set_preprocess.hpp
Labels: category: CPU, category: IE Tests

#5924 [LPT] ConvolutionBackpropData Transformation fix
  inference-engine/src/low_precision_transformations/src/weightable_layer_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_backprop_data_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/convolution_backprop_data_transformation.cpp
Labels: bug, category: CPU, category: IE Tests, category: LP transformations

#5906 [GNA] Fix PWL segment creation condition
  inference-engine/src/gna_plugin/backend/make_pwl.cpp
Labels: category: GNA

#5957 Windows build fix against prebuilt package
  inference-engine/src/transformations/CMakeLists.txt
  ngraph/cmake/external_onnx.cmake
  ngraph/cmake/external_protobuf.cmake
Labels: category: build

#5956 scripts: remove pot dependencies
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI, category: dependencies

#5470 NGraph FrontEnd Manager - Basic API
  ngraph/CMakeLists.txt
  ngraph/frontend/CMakeLists.txt
  ngraph/frontend/frontend_manager/CMakeLists.txt
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend.hpp
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend_manager.hpp
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend_manager_defs.hpp
  ngraph/frontend/frontend_manager/include/frontend_manager/input_model.hpp
  ngraph/frontend/frontend_manager/include/frontend_manager/place.hpp
  ngraph/frontend/frontend_manager/src/frontend_manager.cpp
  ngraph/frontend/frontend_manager/src/plugin_loader.cpp
  ngraph/frontend/frontend_manager/src/plugin_loader.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/frontend/CMakeLists.txt
  ngraph/test/frontend/frontend_manager.cpp
  ngraph/test/frontend/mock_frontend.cpp
  ngraph/test/frontend/shared/include/basic_api.hpp
  ngraph/test/frontend/shared/include/cut_specific_model.hpp
  ngraph/test/frontend/shared/include/partial_shape.hpp
  ngraph/test/frontend/shared/include/utils.hpp
  ngraph/test/frontend/shared/src/basic_api.cpp
  ngraph/test/frontend/shared/src/cut_specific_model.cpp
  ngraph/test/frontend/shared/src/partial_shape.cpp
Labels: category: nGraph

#5973 [IE Caching] fix klocwork warnings
  inference-engine/src/inference_engine/compilation_context.cpp
  inference-engine/src/inference_engine/ie_cache_guard.hpp
Labels: category: IE common

#5928 Interpolate operation specification refactoring.
  docs/ops/image/Interpolate_4.md
Labels: category: docs

#5914 Fix 'operands of different size in bitwise operation' klockwork issue.
  ngraph/core/reference/include/ngraph/runtime/reference/convert.hpp
Labels: category: nGraph

#5932 [MO] Add extractor for ONNX *OrEqual operations
  model-optimizer/extensions/front/onnx/elementwise_ext.py
Labels: category: MO

#5757 Get AUTO-plugin capabilities from config
  inference-engine/src/auto_plugin/auto_plugin.cpp
  inference-engine/src/auto_plugin/auto_plugin.hpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/set_blob_of_kind.cpp
Labels: category: IE common

#5873 Fixed get_all_data_elements_bitwise_identical() method
  ngraph/core/src/op/constant.cpp
  ngraph/test/visitors/op/constant.cpp
Labels: bug, category: nGraph

#5977 Fixed KW issues
  ngraph/core/reference/include/ngraph/runtime/reference/erf.hpp
Labels: category: nGraph

#5778 Fix of some nGraph python tests
  ngraph/python/tests/__init__.py
  ngraph/python/tests/runtime.py
  ngraph/python/tests/test_ngraph/test_ops_unary.py
  ngraph/python/tests/test_onnx/test_ops_binary.py
  ngraph/python/tests/test_onnx/test_ops_reduction.py
Labels: category: nGraph

#5942 [IE CLDNN][loop] Fix klocwork issue
  inference-engine/thirdparty/clDNN/src/gpu/loop_gpu.cpp
  inference-engine/thirdparty/clDNN/src/include/loop_inst.h
Labels: category: GPU

#5951 [Spec] Prelu - Remove 1D slope restriction and update broadcast info
  docs/ops/activation/PReLU_1.md
Labels: category: docs

#5714 [IE TESTS] Add missing inputs for ActivationParamLayerTest.
  inference-engine/tests/functional/shared_test_classes/src/single_layer/activation.cpp
Labels: ExternalIntelPR, category: IE Tests

#5882 [GNA] Insert AffineFilter after split when padding is needed.
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/basic_lstm.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/basic_lstm.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/basic_lstm.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/basic_lstm.cpp
Labels: category: GNA, category: IE Tests

#5922 [IE TESTS] Incorrect calculation for 'Convert' number of test crashes
  inference-engine/tests/functional/plugin/shared/include/behavior/preprocessing.hpp
Labels: category: IE Tests

#5962 [ONNX Editor] Do not move temporary object
  ngraph/frontend/onnx_editor/src/editor.cpp
Labels: category: nGraph

#5999 Azure CI: Change IB install url to a static web
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#5984 [Python speech sample] Fix adding dummy data for models with multiple inputs
  inference-engine/ie_bridges/python/sample/speech_sample/speech_sample.py
Labels: category: python api

#5952 [Python speech sample] loop refactoring
  inference-engine/ie_bridges/python/sample/speech_sample/file_options.py
  inference-engine/ie_bridges/python/sample/speech_sample/speech_sample.py
Labels: category: python api

#5990 Fix YOLACT documentation
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_YOLACT.md
Labels: category: docs

#5987 Fix QuartzNet documentation
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_QuartzNet.md
Labels: category: docs

#6003 Fix python benchmark_app hanging on faster rcnn
  tools/benchmark/benchmark.py
  tools/benchmark/parameters.py
  tools/benchmark/utils/utils.py
Labels: category: tools

#5828 Reshape should support reshape to zero shapes
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/topk_k_propagation.cpp
  ngraph/core/include/ngraph/op/reshape.hpp
  ngraph/core/src/op/reshape.cpp
  ngraph/test/backend/reshape.in.cpp
  ngraph/test/type_prop/reshape.cpp
Labels: bug, category: nGraph

#5997 Exposing 'PartialShape::get_dimension' method to Python nGraph API
  ngraph/python/src/pyngraph/partial_shape.cpp
  ngraph/python/tests/test_ngraph/test_core.py
Labels: category: nGraph

#5989 [IE CLDNN] Correction of the binary fsv16 convolution bug
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_1x1.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_1x1_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_generic.cpp
Labels: bug, category: GPU

#5960 doc: add link to docker tutorials
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
Labels: category: docs

#6007 Fix weights compression
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/const_compression.cpp
Labels: bug, category: IE Tests

#5970 Developer package update
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/clang_format/clang_format.cmake
  cmake/developer_package/cpplint/cpplint.cmake
  inference-engine/CMakeLists.txt
  inference-engine/cmake/templates/InferenceEngineConfig-version.cmake.in
  inference-engine/cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  inference-engine/samples/benchmark_app/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  ngraph/CMakeLists.txt
Labels: category: IE common, category: build, category: nGraph

#6008 Negate, Divide and Subtract conversion adopted for scalar input case
  inference-engine/src/transformations/src/transformations/op_conversions/convert_divide.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_negative.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_subtract.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_divide.cpp
Labels: category: IE Tests, category: nGraph

#6006 Gather->ShapeOf optimization fix
  inference-engine/src/transformations/src/transformations/common_optimizations/algebraic_simplification.cpp
Labels: category: nGraph

#5961 Enable make clean to remove ie_wheel artifacts
  inference-engine/ie_bridges/python/wheel/CMakeLists.txt
  inference-engine/ie_bridges/python/wheel/setup.py
Labels: category: python api

#5804 Revise NonZero op - specification
  docs/ops/condition/NonZero_3.md
Labels: category: docs, category: nGraph

#5937 Fix of RollWithEmptyAxesReplacer transformation.
  model-optimizer/extensions/front/RollWithEmptyAxesReplacer.py
  model-optimizer/unit_tests/extensions/front/RollWithEmptyAxesReplacer_test.py
Labels: category: MO

#5878 [CPU] Enable GroupDeconvolution tests back
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#6021 [Doc] Update the GNA linux driver link to storage.openvinotoolkit.org
  docs/IE_DG/supported_plugins/GNA.md
Labels: category: docs

#6017 ConvertMinimum adjusted to handle scalar input correctly
  inference-engine/src/transformations/src/transformations/op_conversions/convert_minimum_to_power_and_max.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/hsigmoid_test.cpp
Labels: category: nGraph

#5883 Make stress and time tests build dependent from gflags from samples
  tests/stress_tests/CMakeLists.txt
  tests/stress_tests/memcheck_tests/CMakeLists.txt
  tests/stress_tests/memleaks_tests/CMakeLists.txt
  tests/stress_tests/unittests/CMakeLists.txt
  tests/time_tests/CMakeLists.txt
  tests/time_tests/README.md
  tests/time_tests/src/timetests_helper/CMakeLists.txt
Labels: category: IE Tests

#5854 Add transformations to optimize SR model
  inference-engine/src/transformations/include/transformations/common_optimizations/split_squeeze_concat_fusion.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/transpose_sinking.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/transpose_to_reshape.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/split_squeeze_concat_fusion.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/transpose_sinking.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/transpose_to_reshape.cpp
  inference-engine/tests/functional/inference_engine/transformations/algebraic_simplification.cpp
  inference-engine/tests/functional/inference_engine/transformations/split_squeeze_concat_fusion_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/transpose_sinking_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/transpose_to_reshape_test.cpp
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/fuse_transpose_reorder.cpp
Labels: category: docs, category: nGraph

#5876 [IE CLDNN] Fix performance degradation
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#5958 [CPU] fix load time for several models
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
Labels: category: CPU

#5385 Decreasing cpuFuncTests execution time
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/batch_to_space.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/space_to_batch.cpp
Labels: category: CPU, category: IE Tests

#6016 Deprecated warnings fix in MO
  model-optimizer/mo/front/tf/loader.py
  model-optimizer/mo/front/tf/partial_infer/tf.py
  model-optimizer/mo/utils/guess_framework.py
  model-optimizer/unit_tests/mo/bom_test.py
  model-optimizer/unit_tests/mo/front/tf/loader_test.py
  model-optimizer/unit_tests/mo/graph/graph_test.py
  model-optimizer/unit_tests/mo/utils/ir_reader/layer_to_class_test.py
  model-optimizer/unit_tests/mo/utils/simple_proto_parser_test.py
Labels: category: MO

#6031 Added extractor for ONNX operation Size
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/SizeReplacer.py
  model-optimizer/extensions/front/onnx/size_ext.py
  model-optimizer/extensions/ops/size.py
  model-optimizer/unit_tests/extensions/front/size_replacer_test.py
Labels: category: MO, category: docs

#6033 Dynamic shape support for MKLDNNMVNNode::isSupportedOperation
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.cpp
Labels: category: CPU

#5981 [LPT] Klocwork fixes
  inference-engine/src/low_precision_transformations/include/low_precision/transformer.hpp
  inference-engine/src/low_precision_transformations/src/convert.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
Labels: category: CPU, category: LP transformations

#5808 [MO] fix MarkNodesWithShapeValues
  model-optimizer/extensions/back/MarkNodesWithShapeValues.py
  model-optimizer/extensions/ops/elementwise.py
  model-optimizer/unit_tests/extensions/back/MarkNodesWithShapeValues_test.py
  model-optimizer/unit_tests/extensions/ops/elementwise_test.py
  model-optimizer/unit_tests/utils/graph.py
Labels: bug, category: MO

#6044 GitHub CI: Disable doc build on forks and upload on PR
  .github/workflows/build_doc.yml
Labels: category: CI

#6039 Set wider requirements for numpy
  inference-engine/ie_bridges/python/requirements.txt
  inference-engine/ie_bridges/python/sample/requirements.txt
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.requirements.txt
  inference-engine/ie_bridges/python/wheel/meta/openvino.requirements.txt
  inference-engine/tools/benchmark_tool/requirements.txt
  inference-engine/tools/cross_check_tool/requirements.txt
  model-optimizer/requirements.txt
  model-optimizer/requirements_caffe.txt
  model-optimizer/requirements_kaldi.txt
  model-optimizer/requirements_mxnet.txt
  model-optimizer/requirements_onnx.txt
  model-optimizer/requirements_tf.txt
  model-optimizer/requirements_tf2.txt
  tools/benchmark/requirements.txt
Labels: category: IE common, category: MO, category: python api, category: tools

#6041 Fix ConvertPrecision for Constants
  inference-engine/tests/functional/inference_engine/transformations/convert_precision.cpp
  ngraph/core/src/pass/convert_precision.cpp
Labels: category: IE Tests, category: IE transformations, category: nGraph

#6029 [IE CLDNN] force loop unrolling when iteration count is 1
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
Labels: category: GPU

#6050 [IE CLDNN] fix klocwork issue
  inference-engine/thirdparty/clDNN/src/gpu/loop_gpu.cpp
Labels: category: GPU

#6043 GitHub CI: Add check of PR commits
  .github/org_control/check_pr.py
  .github/workflows/check_pr_commits.yml
Labels: category: CI

#6048 [IE CLDNN] Restore DetectionOutput performance
  inference-engine/thirdparty/clDNN/src/gpu/detection_output_cpu.cpp
Labels: category: GPU

#6047 Removed WA in versions.cmake for DLB
  cmake/developer_package/version.cmake
Labels: category: IE common, category: build

#5971 [IE][VPU][TESTS] Check that output blob is not nullptr for deprecated rfcn tests
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_rfcn_test.cpp
Labels: category: IE Tests

#6027 Python in OpenVINO: improvements
  .ci/azure/linux.yml
  .ci/azure/linux_onnxruntime.yml
  CMakeLists.txt
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/cpplint/cpplint.cmake
  cmake/developer_package/cpplint/cpplint_run.cmake
  cmake/features.cmake
  docs/CMakeLists.txt
  inference-engine/cmake/features.cmake
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/cmake/CythonConfig.cmake
  inference-engine/ie_bridges/python/cmake/UseCython.cmake
  inference-engine/ie_bridges/python/src/openvino/inference_engine/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/test_utils/CMakeLists.txt
  inference-engine/ie_bridges/python/wheel/.env.in
  inference-engine/ie_bridges/python/wheel/CMakeLists.txt
  inference-engine/thirdparty/clDNN/CMakeLists.txt
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/primitive_db_gen.py
  inference-engine/tools/vpu/vpu_compile/CMakeLists.txt
  ngraph/CMakeLists.txt
  ngraph/python/CMakeLists.txt
  openvino/conditional_compilation/CMakeLists.txt
  tools/CMakeLists.txt
Labels: category: build, category: python api

#6023 [VPU][TEST] turns back on CTCGreedyDecoderSeqLen tests
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests, category: VPU

#6005 [clDNN] Convert permutation order in MatMul
  inference-engine/src/cldnn_engine/ops/matmul.cpp
Labels: category: GPU

#6024 [nGraph] Enable 'clang' for frontend-related unit tests
  ngraph/test/CMakeLists.txt
  ngraph/test/frontend/frontend_manager.cpp
  ngraph/test/frontend/shared/include/basic_api.hpp
  ngraph/test/frontend/shared/include/partial_shape.hpp
  ngraph/test/frontend/shared/include/utils.hpp
  ngraph/test/frontend/shared/src/basic_api.cpp
  ngraph/test/frontend/shared/src/cut_specific_model.cpp
  ngraph/test/frontend/shared/src/partial_shape.cpp
Labels: category: nGraph

#5959 [ONNX] 🛠️🕸️ Fix softmax opsets
  ngraph/frontend/onnx_import/src/op/softmax.cpp
  ngraph/frontend/onnx_import/src/op/softmax.hpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
Labels: ONNX, category: nGraph, category: onnx importer

#5651 [MO] Implementation of names uniqueness check
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/names_uniqueness_check.py
  model-optimizer/unit_tests/extensions/back/names_uniqueness_check_test.py
Labels: bug, category: MO

#6018 Add get_constant_from_source capability to pyngraph
  ngraph/python/src/pyngraph/util.cpp
  ngraph/python/tests/test_ngraph/test_utils.py
Labels: category: nGraph

#5986 [IE CLDNN] 54304 fix reduce ops
  inference-engine/src/cldnn_engine/ops/reduce.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/reduce_eltwise.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/reduce_eltwise.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/reduce_eltwise.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/reduce_eltwise.cpp
Labels: category: GPU

#5926 RegionYolo operation specification refactoring.
  docs/ops/detection/RegionYolo_1.md
Labels: category: docs

#5528 [MO] ConvolutionWithGroupResolver update to enable TF DepthwiseConv2dNative with in_channels=1
  model-optimizer/extensions/back/ConvolutionNormalizer.py
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
  model-optimizer/unit_tests/extensions/back/ConvolutionNormalizer_test.py
Labels: bug, category: MO

#5915 PRelu reference implementation and ReshapePRelu transformation alignment
  inference-engine/src/mkldnn_plugin/ngraph_transformations/reshape_prelu.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/activation.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/activation.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/prelu.hpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/backend/prelu.in.cpp
  ngraph/test/models/onnx/prelu_1d.prototxt
  ngraph/test/models/onnx/prelu_batch_nd.prototxt
  ngraph/test/models/onnx/prelu_c_1_1.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: CPU, category: nGraph

#5925 Pruning with FQ support
  inference-engine/src/offline_transformations/include/mask_attribute.hpp
  inference-engine/src/offline_transformations/include/pruning.hpp
  inference-engine/src/offline_transformations/src/pruning/init_const_mask.cpp
  inference-engine/src/offline_transformations/src/pruning/init_masks.cpp
  inference-engine/src/offline_transformations/src/pruning/propagate_masks.cpp
  inference-engine/src/offline_transformations/src/pruning/pruning.cpp
  inference-engine/src/offline_transformations/src/pruning/shrink_weights.cpp
  inference-engine/tests/functional/inference_engine/transformations/pruning_test.cpp
Labels: category: IE transformations

#6032 fix strided_slice_to_crop
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_strided_slice_to_crop.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_strided_slice_to_crop_test.cpp
Labels: category: IE transformations

#6066 Fixed klocwork issues
  inference-engine/samples/speech_sample/fileutils.cpp
  thirdparty/cnpy/cnpy.cpp
Labels: category: IE common

#6019 ConvertInterpolate1ToInterpolate4 fixes
  inference-engine/src/transformations/src/transformations/op_conversions/convert_interpolate1_to_interpolate4.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_interpolate1_to_interpolate4_test.cpp
Labels: category: CPU, category: GPU

#6067 Python tools
  cmake/features.cmake
  openvino/conditional_compilation/CMakeLists.txt
  tools/CMakeLists.txt
Labels: category: IE common, category: build, category: tools

#5861 Perf Intro page brushing
  docs/IE_DG/Intro_to_Performance.md
Labels: category: docs

#6042 klocwork 2021.4
  docs/snippets/InferenceEngine_network_with_state_infer.cpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/mkldnn_plugin/ngraph_transformations/reshape_fc_fusion.cpp
  inference-engine/src/mkldnn_plugin/ngraph_transformations/reshape_fully_connected.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_dft_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_gather_elements_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_strided_slice_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_tensoriterator_node.cpp
Labels: category: CPU, category: IE common

#6055 Fix filling input blob for benchmark_app
  inference-engine/samples/benchmark_app/inputs_filling.cpp
Labels: bug, category: IE common

#5979 [AUTO plugin] AUTO plugin will ignore other plugins' configuration
  inference-engine/src/auto_plugin/auto_exec_network.cpp
  inference-engine/src/auto_plugin/auto_exec_network.hpp
  inference-engine/src/auto_plugin/auto_infer_request.cpp
  inference-engine/src/auto_plugin/auto_infer_request.hpp
  inference-engine/src/auto_plugin/auto_plugin.cpp
  inference-engine/src/auto_plugin/auto_plugin.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/config.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request_config.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request_input.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request_output.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/perf_counters.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/test_plugin.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/infer_request_input.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/infer_request_output.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/perf_counters.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/test_plugin.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/config.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request_config.hpp
Labels: category: IE Tests, category: IE common

#6060 Update speech recognition package number
  inference-engine/cmake/dependencies.cmake
Labels: category: IE common

#5945 OpenVINO ONNX CI - set more stable proxy
  .ci/openvino-onnx/Jenkinsfile
Labels: category: CI

#6026 Enable MYRIAD in stress tests
  tests/stress_tests/.automation/memcheck_tests/nightly_configs/myriad_references_config.xml
  tests/stress_tests/.automation/memcheck_tests/nightly_configs/myriad_test_config.xml
  tests/stress_tests/.automation/memleaks_tests/nightly_configs/myriad_test_config.xml
  tests/stress_tests/.automation/unittests/nightly_configs/myriad_test_config.xml
Labels: category: IE Tests

#5927 Add support resize with 2 inputs
  model-optimizer/extensions/middle/ONNXResize11ToInterpolate.py
  model-optimizer/extensions/ops/ONNXResize11.py
  model-optimizer/unit_tests/extensions/ops/ONNXResize11_test.py
Labels: category: MO

#6068 Feature/azaytsev/update license aggrements link
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#6062 Feature/azaytsev/update gpu driver link
  docs/install_guides/installing-openvino-windows.md
Labels: category: docs

#6063 [IE TESTS] Add local_cache arg to the subgraphDumper
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/README.md
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/gflag_config.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
Labels: category: IE Tests, category: docs

#6069 [LPT] Concat precision selection fix
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_with_intermediate_precision_selection_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/simple_low_precision_transformer.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/simple_low_precision_transformer.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/concat_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/concat_function.cpp
Labels: category: CPU, category: IE Tests

#6056 Error during Caffe model conversion with Python3.8
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  model-optimizer/mo/front/caffe/loader.py
Labels: category: MO, category: docs

#6076 Used setMeanImageForChannel
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/set_preprocess.hpp
Labels: category: IE Tests, category: IE reader, category: nGraph

#6081 Removed version.in.hpp from nGraph package
  ngraph/core/CMakeLists.txt
Labels: bug, category: nGraph

#6086 GitHub CI: Enable Python for Code style
  .github/org_control/check_pr.py
  .github/workflows/code_style.yml
  inference-engine/ie_bridges/python/src/openvino/inference_engine/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/test_utils/CMakeLists.txt
  ngraph/python/src/pyngraph/util.cpp
Labels: category: CI, category: build, category: nGraph, category: python api

#5967 [CPU] Allow exec graph serialization to cout or xml via env variable
  inference-engine/src/mkldnn_plugin/config.h
  inference-engine/src/mkldnn_plugin/mkldnn_edge.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_edge.h
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_graph_dumper.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph_dumper.h
  inference-engine/src/mkldnn_plugin/utils/README.md
  inference-engine/src/mkldnn_plugin/utils/debug_capabilities.h
  inference-engine/src/mkldnn_plugin/utils/node_dumper.cpp
  inference-engine/src/mkldnn_plugin/utils/node_dumper.h
Labels: category: CPU

#6085 Use int64 for TopK indices output
  model-optimizer/extensions/front/onnx/top_k_ext.py
Labels: category: MO

#5689 ImportNetwork with explicit device name only
  docs/IE_PLUGIN_DG/ExecutableNetwork.md
  docs/IE_PLUGIN_DG/Plugin.md
  docs/template_plugin/src/template_executable_network.cpp
  docs/template_plugin/src/template_executable_network.hpp
  docs/template_plugin/src/template_plugin.cpp
  docs/template_plugin/src/template_plugin.hpp
  inference-engine/include/ie_core.hpp
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
  inference-engine/src/hetero_plugin/hetero_executable_network.hpp
  inference-engine/src/hetero_plugin/hetero_plugin.cpp
  inference-engine/src/hetero_plugin/hetero_plugin.hpp
  inference-engine/src/inference_engine/cpp_interfaces/interface/ie_iexecutable_network_internal.cpp
  inference-engine/src/inference_engine/cpp_interfaces/interface/ie_iplugin_internal.cpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iexecutable_network_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/ie_icore.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.h
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.h
  inference-engine/tests/functional/inference_engine/caching_test.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_inference_plugin_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iexecutable_network_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.hpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_plugin_test.cpp
Labels: category: IE common

#6075 [CPU] Statically found issues on Windows.
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_convert_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_depth_to_space_node.cpp
Labels: category: CPU

#5858 Add ShapeOfConstFolding transform
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/ShapeOfConstFolding.py
  model-optimizer/unit_tests/extensions/back/ShapeOfConstFolding_test.py
Labels: category: MO

#6079 Update for Python API to create networks with Memory layers
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pxd
  inference-engine/ie_bridges/python/tests/test_InferRequest.py
  ngraph/python/src/pyngraph/function.cpp
  ngraph/python/tests/test_ngraph/test_basic.py
Labels: bug, category: nGraph, category: python api

#6098 Pin mypy dependency
  ngraph/python/tox.ini
Labels: category: nGraph

#5976 Yolo-v5 support
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/weights_analysis.cpp
Labels: category: VPU

#6028 Add transformation to normalize negative indices in Gather
  inference-engine/src/transformations/include/transformations/op_conversions/gather_normalize_negative_indices.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/gather_normalize_negative_indices.cpp
  inference-engine/tests/functional/inference_engine/transformations/gather_normalize_negative_indices_test.cpp
Labels: category: IE transformations

#5991 [GNA] Convert Matmul with batch size > 8 to pointwise convolution
  inference-engine/src/gna_plugin/backend/gna_limitations.hpp
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/gna_groups.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/transformations/convert_matmul_to_pointwise_convolution.cpp
  inference-engine/src/gna_plugin/transformations/convert_matmul_to_pointwise_convolution.hpp
  inference-engine/src/gna_plugin/transformations/split_convolution_with_large_buffer_size.cpp
  inference-engine/src/gna_plugin/transformations/split_convolution_with_large_buffer_size.hpp
  inference-engine/tests/functional/plugin/gna/pass_tests/convert_matmul_to_pointwise_conv.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/eltwise_split_over_channels_pass.cpp
Labels: category: GNA, category: IE Tests

#6107 Align logic and feature flag name
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  cmake/features.cmake
  ngraph/test/CMakeLists.txt
Labels: category: CI, category: nGraph

#6090 Fix networks with Memory layers in Hetero plugin
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/memory.cpp
  ngraph/core/include/ngraph/op/util/op_types.hpp
  ngraph/core/src/op/util/op_types.cpp
Labels: bug, category: IE Tests, category: IE common, category: nGraph

#5963 [GNA] Fixed export/import functionality
  inference-engine/src/gna_plugin/gna_model_serial.cpp
  inference-engine/src/gna_plugin/gna_model_serial.hpp
  inference-engine/src/gna_plugin/serial/headers/2dot7/gna_model_header.hpp
  inference-engine/src/gna_plugin/serial/headers/latest/gna_model_header.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/src/base/import_export_base/import_export_base.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
Labels: category: GNA, pr: needs tests

#6108 fixing the wording in the perf intro page
  docs/IE_DG/Intro_to_Performance.md
Labels: category: docs

#6103 Revert "[IE CLDNN] Use fsv4 when feature-depth is shallow (#4398)"
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#5043 [ONNX Importer] Remove quantized matmuls
  ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/frontend/onnx_import/src/op/matmul_integer.cpp
  ngraph/frontend/onnx_import/src/op/matmul_integer.hpp
  ngraph/frontend/onnx_import/src/op/qlinear_matmul.cpp
  ngraph/frontend/onnx_import/src/op/qlinear_matmul.hpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
Labels: category: nGraph, category: onnx importer

#6101 Fix for the paddings attribute handling for ONNX Pad@1
  ngraph/frontend/onnx_import/src/utils/convpool.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_ops_convpool.py
Labels: category: nGraph

#5773 Specify AdaptiveAvgPool-8 and AdaptiveMaxPool-8
  docs/doxygen/ie_docs.xml
  docs/ops/opset8.md
  docs/ops/pooling/AdaptiveAvgPool_8.md
  docs/ops/pooling/AdaptiveMaxPool_8.md
Labels: category: docs

#5614 Axes input handling in ReduceSum evaluator
  ngraph/core/src/op/reduce_sum.cpp
  ngraph/core/src/op/util/evaluate_helpers.hpp
  ngraph/test/models/onnx/reduce_sum_13_axes_as_input.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/util/engine/interpreter_engine.cpp
Labels: category: nGraph

#6061 Revise log
  docs/ops/arithmetic/Log_1.md
  ngraph/core/include/ngraph/op/log.hpp
  ngraph/core/src/op/log.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/unary_ops.cpp
  ngraph/test/visitors/op/log.cpp
Labels: category: docs, category: nGraph

#6121 Freeze summary header while scrolling
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
Labels: category: IE Tests

#6111 ONNX MVN test fix
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_ngraph/test_ops_fused.py
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#5993 [NG Frontend] Frontend exceptions
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend_exceptions.hpp
  ngraph/frontend/frontend_manager/src/frontend_manager.cpp
  ngraph/test/frontend/frontend_manager.cpp
Labels: category: nGraph

#5728 Revise reference implementation for ReduceSum operation
  ngraph/core/reference/include/ngraph/runtime/reference/log_softmax.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/normalize_l2.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/softmax.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/sum.hpp
  ngraph/core/reference/src/runtime/reference/einsum.cpp
  ngraph/core/src/op/reduce_sum.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/reduce_sum.in.cpp
  ngraph/test/op_eval/reduce_sum.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: nGraph

#5609 Revise reduction operations base classes
  inference-engine/src/low_precision_transformations/src/normalize_l2.cpp
  inference-engine/tests/functional/inference_engine/transformations/mvn_fusion_test.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/normalize_l2_function.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/transformations_after_split_function.cpp
  ngraph/core/include/ngraph/op/util/arithmetic_reduction.hpp
  ngraph/core/include/ngraph/op/util/logical_reduction.hpp
  ngraph/core/include/ngraph/op/util/reduction_base.hpp
  ngraph/core/src/op/util/arithmetic_reduction.cpp
  ngraph/core/src/op/util/arithmetic_reductions_keep_dims.cpp
  ngraph/core/src/op/util/logical_reduction.cpp
  ngraph/core/src/op/util/logical_reduction_keep_dims.cpp
  ngraph/core/src/op/util/reduction_base.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/reduce_l1.cpp
  ngraph/test/type_prop/reduce_l2.cpp
  ngraph/test/type_prop/reduce_logical_and.cpp
  ngraph/test/type_prop/reduce_logical_or.cpp
  ngraph/test/type_prop/reduce_max.cpp
  ngraph/test/type_prop/reduce_mean.cpp
  ngraph/test/type_prop/reduce_min.cpp
  ngraph/test/type_prop/reduce_ops.hpp
  ngraph/test/type_prop/reduce_prod.cpp
  ngraph/test/type_prop/reduce_sum.cpp
  ngraph/test/visitors/op/reduce_ops.hpp
Labels: category: nGraph

#6122 [ONNX Importer] 🕸️ Make global pools more dynamic
  ngraph/frontend/onnx_import/src/op/global_average_pool.cpp
  ngraph/frontend/onnx_import/src/op/global_max_pool.cpp
Labels: category: nGraph

#6073 MemCheckTests/TimeTests add current branch field to DB record
  tests/stress_tests/scripts/memcheck_upload.py
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/utils.py
Labels: category: IE Tests

#6136 Fixed InferenceEngineConfig.cmake usage in include()
  inference-engine/cmake/templates/InferenceEngineConfig.cmake.in
Labels: category: IE common, category: build, port to master

#5513 Revise selu
  ngraph/core/include/ngraph/op/selu.hpp
  ngraph/core/src/op/selu.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/selu.in.cpp
  ngraph/test/type_prop/selu.cpp
  ngraph/test/visitors/op/selu.cpp
Labels: category: nGraph

#6140 Fix InferRequest::operator!()
  inference-engine/src/inference_engine/cpp/ie_infer_request.cpp
Labels: category: IE common, port to master

#6133 Add test for Interpolate-1 layer
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/interpolate.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/interpolate.cpp
Labels: category: IE Tests, category: VPU, port to master

#5774 Revise reference implementation for ReduceProd operation
  ngraph/core/include/ngraph/op/util/evaluate_helpers.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/product.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/sum.hpp
  ngraph/core/src/op/reduce_prod.cpp
  ngraph/core/src/op/reduce_sum.cpp
  ngraph/core/src/op/util/evaluate_helpers.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/reduce_prod.in.cpp
  ngraph/test/op_eval/reduce_prod.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#6034 Revise space_to_batch
  inference-engine/tests/functional/inference_engine/serialization/single_layer/space_to_batch.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  ngraph/core/include/ngraph/op/space_to_batch.hpp
  ngraph/core/src/op/space_to_batch.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/space_to_batch.in.cpp
  ngraph/test/type_prop/space_to_batch.cpp
  ngraph/test/visitors/op/space_to_batch.cpp
Labels: category: nGraph

#6144 Typo fix
  inference-engine/samples/benchmark_app/main.cpp
  tools/benchmark/main.py
Labels: category: IE common, category: tools

#6109 Add cnpy fuzz test
  tests/fuzz/README.md
  tests/fuzz/fuzz-testhelper/CMakeLists.txt
  tests/fuzz/fuzz-testhelper/fuzz-utils.cc
  tests/fuzz/fuzz-testhelper/fuzz-utils.h
  tests/fuzz/src/CMakeLists.txt
  tests/fuzz/src/cnpy_npy_load-fuzzer.cc
  thirdparty/cnpy/cnpy.cpp
  thirdparty/cnpy/cnpy.h
Labels: category: IE Tests, category: IE common, category: docs

#6104 Revise ExtractImagePatches op
  inference-engine/tests/functional/inference_engine/serialization/single_layer/extractimagepatches.cpp
  ngraph/core/include/ngraph/op/extractimagepatches.hpp
  ngraph/core/src/op/extractimagepatches.cpp
  ngraph/test/visitors/op/extractimagepatches.cpp
Labels: category: nGraph

#5764 ShuffleChannels ng op and reference implementation revision
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/shuffle_channels.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/shuffle_channels.cpp
  ngraph/core/include/ngraph/op/shuffle_channels.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/shuffle_channels.hpp
  ngraph/core/reference/src/runtime/reference/shuffle_channels.cpp
  ngraph/core/src/op/shuffle_channels.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/backend/shuffle_channels.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/type_prop/shuffle_channels.cpp
  ngraph/test/visitors/op/shuffle_channels.cpp
Labels: category: nGraph

#5648 Reshape OP: add SLT for special `-1` value in new shape dimensions
  docs/template_plugin/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/reshape.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/reshape.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/reshape.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/reshape.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/reshape.cpp
Labels: category: IE Tests, category: docs

#6065 Revise Reference Implementations ReduceLp operations
  ngraph/core/reference/include/ngraph/runtime/reference/reduce_l1.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/reduce_l2.hpp
  ngraph/core/src/op/reduce_l1.cpp
  ngraph/core/src/op/reduce_l2.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/reduce_l1.in.cpp
  ngraph/test/backend/reduce_l2.in.cpp
  ngraph/test/op_eval/reduce_l1.cpp
  ngraph/test/op_eval/reduce_l2.cpp
Labels: category: nGraph

#6004 Reference Implementation of Logical Reduce Operations
  ngraph/core/reference/include/ngraph/runtime/reference/eval_helpers.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/logical_reduction.hpp
  ngraph/core/reference/src/runtime/reference/eval_helpers.cpp
  ngraph/core/src/op/reduce_logical_and.cpp
  ngraph/core/src/op/reduce_logical_or.cpp
  ngraph/test/eval.cpp
Labels: category: nGraph

#6118 [LPT] FakeQuantize folding fix to support ConvolutionBackpropData with FQ on weights
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/convolution_backprop_data_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/convolution_backprop_data_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/convolution_backprop_data_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/convolution_backprop_data_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/convolution_backprop_data_function.cpp
Labels: category: CPU, category: IE Tests, port to master

#6155 Added copyrights note into CMakeLists
  thirdparty/zlib/CMakeLists.txt
Labels: category: IE common

#6159 Add cnpy fuzz test and fix issues (#6109)
  tests/fuzz/README.md
  tests/fuzz/fuzz-testhelper/CMakeLists.txt
  tests/fuzz/fuzz-testhelper/fuzz-utils.cc
  tests/fuzz/fuzz-testhelper/fuzz-utils.h
  tests/fuzz/src/CMakeLists.txt
  tests/fuzz/src/cnpy_npy_load-fuzzer.cc
  thirdparty/cnpy/cnpy.cpp
  thirdparty/cnpy/cnpy.h
Labels: category: IE Tests, category: IE common, category: docs
