Repository openvinotoolkit/openvino, pull requests merged in 2021-07, with the labels that each got.

#6379 [MO] Fix showing graceful error message when no ngraph case
  model-optimizer/mo/subprocess_main.py
  model-optimizer/requirements_dev.txt
  model-optimizer/unit_tests/mo/frontend_ngraph_test.py
Labels: category: MO

#5964 Avoid OpenCL linkage for app using make_shared_blob_nv12
  inference-engine/include/gpu/gpu_context_api_dx.hpp
  inference-engine/include/gpu/gpu_context_api_va.hpp
Labels: category: GPU

#6400 [GNA] Passed functional tests removed from the skip list
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
Labels: category: GNA, category: IE Tests

#6364 Revise PriorBox Spec
  docs/ops/detection/PriorBox_1.md
Labels: category: docs

#5665 Add HSigmoidFusionWithClampDiv fusion and remove duplicated patterns …
  inference-engine/src/transformations/include/transformations/common_optimizations/hsigmoid_fusion.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/hswish_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/hsigmoid_fusion.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/hswish_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/hsigmoid_fusion_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/hswish_fusion_test.cpp
Labels: category: IE Tests, category: nGraph

#6381 Сheck all symbols in dload, not lazy
  inference-engine/src/inference_engine/os/lin/lin_shared_object_loader.cpp
Labels: category: IE common

#6481 Fixed several issues in time_tests
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/test_runner/test_timetest.py
Labels: category: IE Tests

#6293 Skip test_lstm_simple_precommit on gpu
  tests/layer_tests/common/layer_test_class.py
  tests/layer_tests/common/layer_utils.py
  tests/layer_tests/onnx_tests/test_lstm.py
Labels: category: IE Tests

#6491 Revert "[GNA] Passed functional tests removed from the skip list"
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests

#6490 Move getHandle() from Blob to MemoryBlob
  inference-engine/include/ie_blob.h
  inference-engine/include/ie_compound_blob.h
  inference-engine/src/inference_engine/blob_transform.cpp
  inference-engine/src/inference_engine/ie_compound_blob.cpp
  inference-engine/src/readers/ir_reader_v7/ie_blob_proxy.hpp
Labels: category: IE common, category: nGraph

#6494 Updated path of the executable binary for the Python interpreter
  tests/conditional_compilation/test_utils.py
Labels: category: IE Tests

#6319 [IE Python Samples] Add a check for existence of output images
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/hello_reshape_ssd.py
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
Labels: category: python api

#6258 Kaldi priors
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  model-optimizer/extensions/front/kaldi/apply_counts.py
  model-optimizer/extensions/middle/InsertSelect.py
  model-optimizer/extensions/middle/ReplaceMemoryOffsetWithSplice.py
  model-optimizer/mo/front/kaldi/loader/loader.py
  model-optimizer/mo/utils/cli_parser.py
  model-optimizer/unit_tests/extensions/middle/InsertSelect_test.py
  model-optimizer/unit_tests/extensions/middle/ReplaceMemoryOffsetWithSplice_test.py
Labels: category: MO

#6266 Update LowLatency2 documentation
  docs/IE_DG/img/applying_low_latency_2.png
  docs/IE_DG/img/llt2_use_const_initializer.png
  docs/IE_DG/network_state_intro.md
  inference-engine/include/ie_transformations.hpp
Labels: category: docs

#6502 Removed EXPORT_DEPENDENCIES from addIeTarget
  cmake/developer_package/add_ie_target.cmake
  docs/template_plugin/src/CMakeLists.txt
  inference-engine/samples/common/format_reader/CMakeLists.txt
  inference-engine/samples/common/utils/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/offline_transformations/CMakeLists.txt
  inference-engine/src/preprocessing/CMakeLists.txt
  inference-engine/src/readers/ir_reader_v7/CMakeLists.txt
  inference-engine/src/vpu/common/CMakeLists.txt
  inference-engine/src/vpu/graph_transformer/CMakeLists.txt
  inference-engine/tests/functional/plugin/shared/CMakeLists.txt
  inference-engine/tests/functional/shared_test_classes/CMakeLists.txt
  inference-engine/tests/ie_test_utils/common_test_utils/CMakeLists.txt
  inference-engine/tests/ie_test_utils/functional_test_utils/CMakeLists.txt
  inference-engine/tests/ie_test_utils/unit_test_utils/CMakeLists.txt
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/CMakeLists.txt
  inference-engine/tests/ngraph_helpers/ngraph_functions/CMakeLists.txt
  inference-engine/tests/unit/vpu/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: IE Tests, category: IE common, category: VPU, category: build, category: docs, category: nGraph

#6473 Updated conversion of TF OD API 2.4 SSD models
  model-optimizer/extensions/front/tf/ObjectDetectionAPI.py
  model-optimizer/extensions/front/tf/ssd_support_api_v2.4.json
  model-optimizer/mo/utils/graph.py
  model-optimizer/unit_tests/mo/utils/graph_test.py
Labels: category: MO

#6417 SLTs for BatchToSpace operation
  inference-engine/tests/functional/inference_engine/serialization/single_layer/batch_to_space.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
Labels: category: IE Tests, category: nGraph

#6443 Deformable convolution v8: ngraph part
  docs/ops/convolution/DeformableConvolution_8.md
  ngraph/core/include/ngraph/op/deformable_convolution.hpp
  ngraph/core/include/ngraph/op/util/deformable_convolution_base.hpp
  ngraph/core/include/ngraph/opsets/opset8_tbl.hpp
  ngraph/core/src/op/deformable_convolution.cpp
  ngraph/core/src/op/util/deformable_convolution_base.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/deformable_convolution_opset8.cpp
  ngraph/test/visitors/op/deformable_convolution.cpp
Labels: category: docs, category: nGraph

#6507 [MO] exclude build artifacts and add unit_tests to cpack
  model-optimizer/CMakeLists.txt
Labels: category: MO

#6425 Deprecate coordinate transform
  inference-engine/src/offline_transformations/src/pruning/init_const_mask.cpp
  inference-engine/tests/functional/inference_engine/transformations/pruning_test.cpp
  ngraph/core/reference/include/ngraph/coordinate_transform.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/autobroadcast_binop.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/avg_pool.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/batch_norm.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/ctc_greedy_decoder.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/cum_sum.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/interpolate.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/log_softmax.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/lrn.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/max_pool.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/reverse_sequence.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/roi_align.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/scatter_elements_update.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/scatter_update.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/softmax.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/topk.hpp
  ngraph/core/reference/src/coordinate_transform.cpp
  ngraph/core/reference/src/runtime/reference/gather_tree.cpp
  ngraph/core/reference/src/runtime/reference/interpolate.cpp
  ngraph/core/reference/src/runtime/reference/slice.cpp
  ngraph/core/src/op/interpolate.cpp
  ngraph/test/coordinate.cpp
Labels: category: nGraph

#6508 Allow aliased targets for apiValidator check
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/api_validator/api_validator.cmake
  cmake/developer_package/features.cmake
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  docs/CMakeLists.txt
  docs/doxygen/doxygen-ignore.txt
  docs/doxygen/ie_docs.config
  inference-engine/include/cpp/ie_executable_network.hpp
  inference-engine/include/cpp/ie_infer_request.hpp
  inference-engine/include/gpu/gpu_context_api_dx.hpp
  inference-engine/include/gpu/gpu_context_api_ocl.hpp
  inference-engine/include/gpu/gpu_context_api_va.hpp
  inference-engine/include/ie_blob.h
  inference-engine/include/ie_compound_blob.h
  inference-engine/include/ie_data.h
  inference-engine/include/ie_plugin_config.hpp
  inference-engine/include/ie_precision.hpp
  inference-engine/include/ie_remote_context.hpp
  inference-engine/samples/common/format_reader/CMakeLists.txt
  inference-engine/src/readers/ir_reader_v7/CMakeLists.txt
  ngraph/test/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: build

#6185 [VPU] support for constant networks
  inference-engine/src/vpu/graph_transformer/src/frontend/ie_parsed_network.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.h
  inference-engine/src/vpu/myriad_plugin/myriad_infer_request.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_infer_request.h
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/subgraph_tests/constant_result.cpp
Labels: category: VPU

#6117 Provide `keep_output_port` attribute to `add_opoutput` function
  model-optimizer/extensions/middle/ConvertGroupedStridedSlice.py
  model-optimizer/mo/graph/graph.py
  model-optimizer/unit_tests/extensions/middle/ConvertGroupedStridedSlice_test.py
Labels: bug, category: MO

#6078 Update demo .sh scripts
  scripts/demo/demo_benchmark_app.sh
  scripts/demo/demo_security_barrier_camera.sh
  scripts/demo/demo_squeezenet_download_convert_run.sh
Labels: category: CI

#6096 Update demo .bat scripts
  scripts/demo/demo_benchmark_app.bat
  scripts/demo/demo_security_barrier_camera.bat
  scripts/demo/demo_squeezenet_download_convert_run.bat
Labels: category: CI

#6497 Update openvino-ngraph-onnx Azure check
  .ci/azure/linux_ngraph_onnx.yml
Labels: category: CI

#6363 Revise PriorBox op
  inference-engine/tests/functional/inference_engine/serialization/single_layer/prior_box.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/prior_box.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/prior_box.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/prior_box.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/prior_box.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/core/src/op/prior_box.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/prior_box.in.cpp
  ngraph/test/type_prop/prior_box.cpp
  ngraph/test/type_prop_layers.cpp
  ngraph/test/visitors/op/prior_box.cpp
Labels: category: nGraph

#6461 GNA add RemoveExtraReshapes tranformation tests
  inference-engine/tests/unit/gna/ngraph/transformations/gna_remove_extra_reshapes.cpp
Labels: category: GNA, category: IE Tests

#6522 Added yocto toolchain
  cmake/toolchains/oecore.arm64.toolchain.cmake
Labels: category: IE common, category: build

#6519 Cherry-pick'ed fix for CVS-58871 from master
  docs/IE_DG/Integrate_with_customer_application_new_API.md
Labels: category: docs

#6489 Fix an initialization issue in `ie_core_create`
  inference-engine/ie_bridges/c/src/ie_c_api.cpp
Labels: ExternalPR, category: IE common

#6527 Hot fix for yocto toolchain
  cmake/toolchains/oecore.arm64.toolchain.cmake
Labels: category: build

#6385 Add ENABLE_UNDEFINED_BEHAVIOR_SANITIZER option
  cmake/developer_package/compile_flags/sanitizer.cmake
  cmake/developer_package/features.cmake
Labels: category: build

#6504 Removed debug print
  inference-engine/src/auto_plugin/auto_infer_request.cpp
  inference-engine/src/auto_plugin/auto_plugin.cpp
Labels: category: IE common

#6518 Fixed CVS-58871
  docs/IE_DG/Integrate_with_customer_application_new_API.md
Labels: category: docs

#6430 [IE CLDNN] Gather8
  inference-engine/src/cldnn_engine/cldnn_primitives_list.hpp
  inference-engine/src/cldnn_engine/ops/gather.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/gather.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/gather.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/gather.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/gather.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/thirdparty/clDNN/api/cldnn/primitives/gather.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/gather_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/gather_gpu.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/gather_gpu_test.cpp
Labels: category: GPU, category: IE Tests

#6495 [IE CLDNN] New debug_config: ShowOclBuildError
  inference-engine/thirdparty/clDNN/runtime/debug_configuration.cpp
  inference-engine/thirdparty/clDNN/runtime/kernels_cache.cpp
Labels: category: GPU

#6288 revise atan op
  docs/ops/arithmetic/Atan_1.md
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  ngraph/core/include/ngraph/op/atan.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/atan.hpp
  ngraph/core/src/op/atan.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/atan.in.cpp
  ngraph/test/type_prop/atan.cpp
  ngraph/test/visitors/op/atan.cpp
Labels: category: docs, category: nGraph

#6243 [IE CLDNN] Fixed code gen with custom locale
  inference-engine/tests/functional/plugin/gpu/behavior/locale.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_1x1.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_1x1_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_generic.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_zyx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv4.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_tiled_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_tile_8x8_4x4.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_tile_8x8_4x4_fsv.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reduce/reduce_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/select/select_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/kernel_base_opencl.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_base.cpp
Labels: category: GPU

#6542 Update jobs names for Azure OpenVINO ONNX CI check
  .ci/azure/linux_ngraph_onnx.yml
Labels: category: CI

#6393 Fix deformable_convolution
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/deformable_convolution.hpp
Labels: ExternalIntelPR, category: nGraph, pr: needs tests

#6533 Deformable Convolution v8: transformations
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/transformations/include/transformations/op_conversions/convert_deformable_conv_v8_to_v1.hpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_deformable_conv_v8_to_v1.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_deformable_conv_v8_to_v1_test.cpp
Labels: category: GPU, category: IE Tests, category: IE transformations, category: nGraph

#6439 Remove resnet model for running CC test
  tests/conditional_compilation/test_config.yml
Labels: category: IE Tests

#6547 Leftover of PR #6508 - change PDPD_PYTHON_OK to paddlepaddle_FOUND
  ngraph/test/CMakeLists.txt
Labels: category: build, category: nGraph

#6526 Make DB query for MemCheckTests optional in precommit
  tests/stress_tests/scripts/run_memcheck.py
Labels: category: IE Tests

#6492 [GNA] Functional test returned to the skip list due to instability
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
Labels: category: GNA, category: IE Tests

#6556 Removed NGRAPH_PYTHON_BUILD_ENABLE
  CMakeLists.txt
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/README.md
  model-optimizer/CMakeLists.txt
  ngraph/CMakeLists.txt
  ngraph/python/BUILDING.md
  ngraph/python/setup.py
Labels: category: IE common, category: MO, category: build, category: docs, category: nGraph, category: python api

#6498 Tq/revise asinh
  docs/ops/arithmetic/Asinh_3.md
  inference-engine/tests/functional/inference_engine/serialization/single_layer/activation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/activation.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/activation.cpp
  ngraph/core/include/ngraph/op/asinh.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/asinh.hpp
  ngraph/core/src/op/asinh.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/asinh.in.cpp
  ngraph/test/type_prop/asinh.cpp
  ngraph/test/visitors/op/asinh.cpp
Labels: category: IE Tests, category: docs, category: nGraph

#6553 Enable lower input rank for BatchToSpace operation by fallback
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  ngraph/core/src/op/batch_to_space.cpp
  ngraph/test/backend/batch_to_space.in.cpp
  ngraph/test/type_prop/batch_to_space.cpp
  ngraph/test/visitors/op/batch_to_space.cpp
Labels: category: nGraph

#6528 BatchToSpace specification refactoring
  docs/ops/movement/BatchToSpace_2.md
Labels: category: docs, category: nGraph

#6558 Removed legacy tests
  ngraph/core/include/ngraph/slice_plan.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/dyn_elimination.cpp
  ngraph/test/op_is.cpp
  ngraph/test/pass_liveness.cpp
  ngraph/test/pass_shape_relevance.cpp
  ngraph/test/provenance.cpp
  ngraph/test/runtime/CMakeLists.txt
  ngraph/test/runtime/dynamic/dynamic_backend.cpp
  ngraph/test/runtime/ie/ie_executable.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
  ngraph/test/runtime/op/atan2.cpp
  ngraph/test/runtime/op/atan2.hpp
  ngraph/test/runtime/op/avg_pool.cpp
  ngraph/test/runtime/op/avg_pool.hpp
  ngraph/test/runtime/op/convolution.cpp
  ngraph/test/runtime/op/convolution.hpp
  ngraph/test/runtime/op/group_conv.cpp
  ngraph/test/runtime/op/group_conv.hpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/pass/fused_op_decomposition.cpp
  ngraph/test/runtime/pass/fused_op_decomposition.hpp
  ngraph/test/runtime/pass/implicit_broadcast_elimination.cpp
  ngraph/test/runtime/pass/implicit_broadcast_elimination.hpp
  ngraph/test/runtime/pass/liveness.cpp
  ngraph/test/runtime/pass/liveness.hpp
  ngraph/test/runtime/pass/opset0_downgrade.cpp
  ngraph/test/runtime/pass/opset0_downgrade.hpp
  ngraph/test/runtime/pass/opset1_downgrade.cpp
  ngraph/test/runtime/pass/opset1_downgrade.hpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
  ngraph/test/runtime/pass/opset1_upgrade.hpp
  ngraph/test/tensor.cpp
  ngraph/test/type_prop/convolution.cpp
  ngraph/test/type_prop/convolution_backprop_data.cpp
  ngraph/test/util/engine/ie_engines.cpp
  ngraph/test/util/engine/ie_engines.hpp
Labels: category: nGraph

#6516 Cosh revise.
  docs/ops/arithmetic/Cosh_1.md
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/core/include/ngraph/op/cosh.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/cosh.hpp
  ngraph/core/src/op/cosh.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/cosh.in.cpp
  ngraph/test/type_prop/cosh.cpp
  ngraph/test/visitors/op/cosh.cpp
Labels: category: nGraph

#6399 [IE CLDNN] Improve bfyx convolution performance for shallow output ch
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_bfyx_os_iyx_osv16.cl
Labels: category: GPU

#6555 Extract OpenVINO version from header, if CI one is not defined
  cmake/developer_package/version.cmake
  model-optimizer/unit_tests/mock_mo_frontend/mock_mo_python_api/CMakeLists.txt
  ngraph/frontend/CMakeLists.txt
  ngraph/frontend/paddlepaddle/CMakeLists.txt
  ngraph/python/CMakeLists.txt
Labels: category: IE common, category: MO, category: build, category: nGraph

#6557 Used generator expression for CONFIG
  cmake/developer_package/packaging.cmake
Labels: category: build

#6322 [MO] Updating condition in TF Const value extracting
  model-optimizer/mo/front/tf/extractors/utils.py
  model-optimizer/unit_tests/mo/front/tf/extractors/utils_test.py
Labels: bug, category: MO

#6378 Remove sudo from mo install_prerequisites.sh
  model-optimizer/install_prerequisites/install_prerequisites.bat
  model-optimizer/install_prerequisites/install_prerequisites.sh
Labels: category: MO

#6520 DeformableConvolution v8: ngraph python API
  ngraph/python/src/ngraph/opset8/__init__.py
  ngraph/python/src/ngraph/opset8/ops.py
  ngraph/python/tests/test_ngraph/test_create_op.py
Labels: category: nGraph

#6485 Serialization to memory
  inference-engine/include/cpp/ie_cnn_network.h
  inference-engine/include/ie_icnn_network.hpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.hpp
  inference-engine/src/inference_engine/cpp/ie_cnn_network.cpp
  inference-engine/src/legacy_api/include/legacy/cnn_network_impl.hpp
  inference-engine/src/legacy_api/src/cnn_network_impl.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/deterministicity.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_icnn_network.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_not_empty_icnn_network.hpp
Labels: category: IE Tests, category: IE common, category: nGraph

#6575 [CLDNN] Debug config improvement
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/debug_configuration.hpp
  inference-engine/thirdparty/clDNN/runtime/debug_configuration.cpp
  inference-engine/thirdparty/clDNN/runtime/engine.cpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_event.cpp
  inference-engine/thirdparty/clDNN/src/network.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/debug_config_gpu_test.cpp
Labels: category: GPU

#6515 Pre-processing: Resize area kernels dispatching refactoring.
  inference-engine/src/preprocessing/arm_neon/ie_preprocess_gapi_kernels_neon.cpp
  inference-engine/src/preprocessing/arm_neon/ie_preprocess_gapi_kernels_neon.hpp
  inference-engine/src/preprocessing/cpu_x86_avx2/ie_preprocess_gapi_kernels_avx2.cpp
  inference-engine/src/preprocessing/cpu_x86_avx2/ie_preprocess_gapi_kernels_avx2.hpp
  inference-engine/src/preprocessing/cpu_x86_avx512/ie_preprocess_gapi_kernels_avx512.cpp
  inference-engine/src/preprocessing/cpu_x86_avx512/ie_preprocess_gapi_kernels_avx512.hpp
  inference-engine/src/preprocessing/cpu_x86_sse42/ie_preprocess_gapi_kernels_sse42.cpp
  inference-engine/src/preprocessing/cpu_x86_sse42/ie_preprocess_gapi_kernels_sse42.hpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels_simd_impl.hpp
Labels: category: IE common, category: preprocessing

#6549 Moved element_type() to MemoryBlob
  inference-engine/include/gpu/gpu_context_api_va.hpp
  inference-engine/include/gpu/gpu_ocl_wrapper.hpp
  inference-engine/include/gpu/gpu_params.hpp
  inference-engine/include/ie_blob.h
  inference-engine/include/ie_icnn_network.hpp
  inference-engine/include/ie_precision.hpp
  inference-engine/include/ie_remote_context.hpp
  inference-engine/src/gna_plugin/frontend/precision_ex.hpp
Labels: category: IE common

#6568 Fix for missed OMZ public models in openvino-dev package
  inference-engine/ie_bridges/python/wheel/setup.py
Labels: category: build, category: python api

#6343 [OV-DOC] Issues with pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#6532 DeformableConvolution v8: MO and IR reader
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/blob_normalizer.py
  model-optimizer/extensions/back/op_versioning.py
  model-optimizer/extensions/front/mxnet/modulated_deformable_conv_ext.py
  model-optimizer/extensions/front/mxnet/modulated_deformable_conv_replacer.py
  model-optimizer/mo/ops/convolution.py
  model-optimizer/mo/ops/deformable_convolution.py
  ngraph/core/include/ngraph/op/deformable_convolution.hpp
Labels: category: IE Tests, category: IE reader, category: MO, category: nGraph

#6501 PaddlePaddle frontend - OP Conversion Part1
  ngraph/frontend/paddlepaddle/src/op/argmax.cpp
  ngraph/frontend/paddlepaddle/src/op/argmax.hpp
  ngraph/frontend/paddlepaddle/src/op/assign_value.cpp
  ngraph/frontend/paddlepaddle/src/op/assign_value.hpp
  ngraph/frontend/paddlepaddle/src/op/batch_norm.cpp
  ngraph/frontend/paddlepaddle/src/op/batch_norm.hpp
  ngraph/frontend/paddlepaddle/src/op/cast.cpp
  ngraph/frontend/paddlepaddle/src/op/cast.hpp
  ngraph/frontend/paddlepaddle/src/op/clip.cpp
  ngraph/frontend/paddlepaddle/src/op/clip.hpp
  ngraph/frontend/paddlepaddle/src/op/concat.cpp
  ngraph/frontend/paddlepaddle/src/op/concat.hpp
  ngraph/frontend/paddlepaddle/src/op_table.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/files/paddlepaddle/gen_scripts/generate_argmax.py
  ngraph/test/files/paddlepaddle/gen_scripts/generate_assign_value.py
  ngraph/test/files/paddlepaddle/gen_scripts/generate_batch_norm.py
  ngraph/test/files/paddlepaddle/gen_scripts/generate_clip.py
  ngraph/test/frontend/paddlepaddle/op_fuzzy.cpp
  ngraph/test/frontend/shared/include/op_fuzzy.hpp
  ngraph/test/frontend/shared/src/op_fuzzy.cpp
Labels: category: nGraph

#6326 [ONNX] Split importing model to two phases: decode and convert
  inference-engine/src/plugin_api/ie_ngraph_utils.hpp
  inference-engine/src/transformations/include/ngraph_ops/framework_node.hpp
  inference-engine/src/transformations/src/ngraph_ops/framework_node.cpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  ngraph/frontend/onnx_import/CMakeLists.txt
  ngraph/frontend/onnx_import/include/onnx_import/core/node.hpp
  ngraph/frontend/onnx_import/include/onnx_import/onnx_framework_node.hpp
  ngraph/frontend/onnx_import/src/core/attribute.cpp
  ngraph/frontend/onnx_import/src/core/attribute.hpp
  ngraph/frontend/onnx_import/src/core/graph.cpp
  ngraph/frontend/onnx_import/src/core/graph.hpp
  ngraph/frontend/onnx_import/src/core/graph_cache.cpp
  ngraph/frontend/onnx_import/src/core/graph_cache.hpp
  ngraph/frontend/onnx_import/src/core/model.cpp
  ngraph/frontend/onnx_import/src/core/node.cpp
  ngraph/frontend/onnx_import/src/core/null_node.hpp
  ngraph/frontend/onnx_import/src/core/value_info.hpp
  ngraph/frontend/onnx_import/src/onnx_framework_node.cpp
  ngraph/frontend/onnx_import/src/op/loop.cpp
  ngraph/frontend/onnx_import/src/utils/onnx_internal.cpp
  ngraph/python/tests/test_onnx/test_ops_unary.py
  ngraph/test/models/onnx/constant_fill_shape_attribute.prototxt
Labels: category: IE common, category: nGraph

#6456 Template reference tests
  .ci/azure/linux.yml
  cmake/features.cmake
  docs/template_plugin/src/CMakeLists.txt
  docs/template_plugin/src/template_plugin.cpp
  docs/template_plugin/tests/functional/op_reference/base_reference_test.cpp
  docs/template_plugin/tests/functional/op_reference/base_reference_test.hpp
  docs/template_plugin/tests/functional/op_reference/convert.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/convert.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/functional/plugin/shared/src/behavior/cpp_holders.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/src/plugin_cache.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/convert.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: IE Tests, category: docs, category: nGraph

#6548 [58825][58829][DOCS] Installation docs changes
  docs/IE_DG/Samples_Overview.md
  docs/IE_DG/supported_plugins/CPU.md
  docs/IE_DG/supported_plugins/GPU.md
  docs/get_started/get_started_dl_workbench.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-windows.md
Labels: category: docs

#6349 NormalizeL2 - reference implementation revision
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/normalize_l2.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/normalize_l2.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/normalize_l2.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/core/reference/include/ngraph/runtime/reference/normalize_l2.hpp
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/backend/normalize_l2.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: CPU, category: nGraph

#6606 [GPU] Simplified cldnn cmake
  inference-engine/thirdparty/clDNN/CMakeLists.txt
  inference-engine/thirdparty/clDNN/kernel_selector/CMakeLists.txt
  inference-engine/thirdparty/clDNN/src/CMakeLists.txt
Labels: category: GPU

#6612 Fix FasterRCNN conversion documentation
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_Faster_RCNN.md
Labels: category: docs

#6419 [Runtime] INT8 inference documentation update
  docs/IE_DG/Int8Inference.md
  docs/IE_DG/img/cpu_int8_flow.png
Labels: category: LP transformations, category: docs

#6278 Add iSeeBetter to supported PyTorch models list (#6177)
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
Labels: category: docs

#6512 NormalizeL2 spec revision
  docs/ops/normalization/NormalizeL2_1.md
Labels: category: docs

#6571 Azure CI: Add install and run tests from a pkg
  .ci/azure/linux.yml
  .ci/azure/windows.yml
Labels: category: CI

#6530 [GPU][CPU] Add common comparator for ngraph reference and cldnn detection output primitive
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_detection_output_node.cpp
  inference-engine/thirdparty/clDNN/src/gpu/detection_output_cpu.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/detection_output.hpp
Labels: category: CPU, category: GPU, category: nGraph

#6617 Zero point optimization
  model-optimizer/extensions/back/compress_quantized_weights.py
  model-optimizer/unit_tests/extensions/back/compress_quantized_weights_test.py
Labels: category: MO

#6610 add a new label to track 3d party changes
  .github/org_control/config.json
  CODEOWNERS
Labels: category: CI, category: IE common

#6458 GNA add SwapInputMatMul transformation unit tests
  inference-engine/src/gna_plugin/transformations/swap_input_matmul_gna.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_swap_input_matmul.cpp
Labels: category: GNA, category: IE Tests

#6627 Optimize ShapeOf sub-graphs
  inference-engine/src/offline_transformations/src/moc_transformations.cpp
  inference-engine/src/transformations/include/transformations/common_optimizations/simplify_shape_of_sub_graph.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/simplify_shape_of_sub_graph.cpp
  inference-engine/tests/functional/inference_engine/transformations/simplify_shape_of_sub_graph.cpp
Labels: category: IE Tests, category: IE common, category: nGraph

#6284 [doc] corrections for Yolo V1 and V2 coversion
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
Labels: category: docs

#6573 MulticlassNms/MatrixNms: ngraph python api
  ngraph/python/setup.py
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset8/__init__.py
  ngraph/python/src/ngraph/opset8/ops.py
  ngraph/python/src/pyngraph/node_factory.cpp
  ngraph/python/tests/test_ngraph/test_create_op.py
  ngraph/test/util/engine/ie_engines.cpp
Labels: category: nGraph

#6626 [IE Samples Docs] Add rows with model download and conversion
  inference-engine/ie_bridges/c/samples/hello_classification/README.md
  inference-engine/ie_bridges/c/samples/hello_nv12_input_classification/README.md
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/python/sample/classification_sample_async/README.md
  inference-engine/ie_bridges/python/sample/hello_classification/README.md
  inference-engine/ie_bridges/python/sample/hello_query_device/README.md
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/README.md
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/README.md
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/python/sample/speech_sample/README.md
  inference-engine/ie_bridges/python/sample/style_transfer_sample/README.md
  inference-engine/samples/classification_sample_async/README.md
  inference-engine/samples/hello_classification/README.md
  inference-engine/samples/hello_nv12_input_classification/README.md
  inference-engine/samples/hello_query_device/README.md
  inference-engine/samples/hello_reshape_ssd/README.md
  inference-engine/samples/ngraph_function_creation_sample/README.md
  inference-engine/samples/object_detection_sample_ssd/README.md
  inference-engine/samples/speech_sample/README.md
  inference-engine/samples/style_transfer_sample/README.md
Labels: category: docs

#6640 [IE Python Samples] Add a check for existence of output images
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/hello_reshape_ssd.py
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
Labels: category: python api

#6599 [GPU] Moved memory pool to network
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/engine.hpp
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/memory_caps.hpp
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/memory_pool.hpp
  inference-engine/thirdparty/clDNN/runtime/engine.cpp
  inference-engine/thirdparty/clDNN/runtime/memory.cpp
  inference-engine/thirdparty/clDNN/runtime/memory_pool.cpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_engine.cpp
  inference-engine/thirdparty/clDNN/src/include/network_impl.h
  inference-engine/thirdparty/clDNN/src/network.cpp
  inference-engine/thirdparty/clDNN/src/primitive_inst.cpp
Labels: category: GPU

#6638 remove `**Default value**: None` when `**Required**: *yes*`
  docs/ops/activation/Clamp_1.md
  docs/ops/activation/Elu_1.md
  docs/ops/convolution/BinaryConvolution_1.md
  docs/ops/convolution/ConvolutionBackpropData_1.md
  docs/ops/convolution/Convolution_1.md
  docs/ops/convolution/DeformableConvolution_1.md
  docs/ops/convolution/DeformableConvolution_8.md
  docs/ops/convolution/GroupConvolutionBackpropData_1.md
  docs/ops/convolution/GroupConvolution_1.md
  docs/ops/detection/DeformablePSROIPooling_1.md
  docs/ops/detection/DetectionOutput_1.md
  docs/ops/detection/PSROIPooling_1.md
  docs/ops/detection/PriorBoxClustered_1.md
  docs/ops/detection/PriorBox_1.md
  docs/ops/detection/Proposal_1.md
  docs/ops/detection/Proposal_4.md
  docs/ops/detection/ROIAlign_3.md
  docs/ops/detection/ROIPooling_1.md
  docs/ops/detection/RegionYolo_1.md
  docs/ops/detection/ReorgYolo_1.md
  docs/ops/generation/Range_4.md
  docs/ops/image/Interpolate_1.md
  docs/ops/image/Interpolate_4.md
  docs/ops/infrastructure/Assign_3.md
  docs/ops/infrastructure/Constant_1.md
  docs/ops/infrastructure/Parameter_1.md
  docs/ops/infrastructure/ReadValue_3.md
  docs/ops/movement/Concat_1.md
  docs/ops/movement/DepthToSpace_1.md
  docs/ops/movement/ExtractImagePatches_3.md
  docs/ops/movement/Pad_1.md
  docs/ops/movement/Reverse_1.md
  docs/ops/movement/SpaceToDepth_1.md
  docs/ops/movement/Split_1.md
  docs/ops/normalization/BatchNormInference_1.md
  docs/ops/normalization/BatchNormInference_5.md
  docs/ops/normalization/GRN_1.md
  docs/ops/normalization/LRN_1.md
  docs/ops/normalization/MVN_1.md
  docs/ops/normalization/MVN_6.md
  docs/ops/pooling/AvgPool_1.md
  docs/ops/pooling/MaxPool_1.md
  docs/ops/quantization/FakeQuantize_1.md
  docs/ops/sequence/GRUCell_3.md
  docs/ops/sequence/GRUSequence_5.md
  docs/ops/sequence/LSTMCell_1.md
  docs/ops/sequence/LSTMSequence_1.md
  docs/ops/sequence/OneHot_1.md
  docs/ops/sequence/RNNCell_3.md
  docs/ops/sequence/RNNSequence_5.md
  docs/ops/shape/Reshape_1.md
  docs/ops/sort/TopK_1.md
  docs/ops/sort/TopK_3.md
  docs/ops/type/Convert_1.md
Labels: category: docs

#6418 Install guides improvements
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#6604 [GNA] Introduce an option to invoke the QoS feature, cherry picked (#5827)
  inference-engine/include/gna/gna_config.hpp
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/samples/speech_sample/speech_sample.hpp
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/src/gna_plugin/gna_plugin_config.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/convolution_negative.cpp
  inference-engine/tests/unit/gna/gna_plugin_config_test.cpp
Labels: category: GNA, category: IE Tests, category: IE common

#6221 [CPU] Graph's RemoveEdge refactoring
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.h
Labels: category: CPU

#6225 [CPU][IE TESTS] Added Gather-7 I8 test support
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: IE Tests

#6648 Install guides improvements (#6418)
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#6608 update FakeQuantize spec
  docs/ops/quantization/FakeQuantize_1.md
Labels: category: nGraph

#6611 GRN ngraph op revision
  ngraph/core/include/ngraph/op/grn.hpp
  ngraph/core/src/op/grn.cpp
  ngraph/test/type_prop/grn.cpp
  ngraph/test/visitors/op/grn.cpp
Labels: category: nGraph

#6643 [IE][VPU]: Fix for VPUX DLDT build failed on release\master branch
  inference-engine/src/vpu/common/CMakeLists.txt
  inference-engine/src/vpu/graph_transformer/include/vpu/configuration/options/platform.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/configuration/options/protocol.hpp
  inference-engine/src/vpu/graph_transformer/src/configuration/options/platform.cpp
  inference-engine/src/vpu/graph_transformer/src/configuration/options/protocol.cpp
Labels: category: VPU

#6661 [IE Sample Docs] Add information about model preparation
  inference-engine/ie_bridges/c/samples/hello_classification/README.md
  inference-engine/ie_bridges/c/samples/hello_nv12_input_classification/README.md
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/python/sample/classification_sample_async/README.md
  inference-engine/ie_bridges/python/sample/hello_classification/README.md
  inference-engine/ie_bridges/python/sample/hello_query_device/README.md
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/README.md
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/README.md
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/python/sample/speech_sample/README.md
  inference-engine/ie_bridges/python/sample/style_transfer_sample/README.md
  inference-engine/samples/classification_sample_async/README.md
  inference-engine/samples/hello_classification/README.md
  inference-engine/samples/hello_nv12_input_classification/README.md
  inference-engine/samples/hello_query_device/README.md
  inference-engine/samples/hello_reshape_ssd/README.md
  inference-engine/samples/ngraph_function_creation_sample/README.md
  inference-engine/samples/object_detection_sample_ssd/README.md
  inference-engine/samples/speech_sample/README.md
  inference-engine/samples/style_transfer_sample/README.md
Labels: category: docs

#6460 GNA add SplitConvolution transformation unit tests
  inference-engine/src/gna_plugin/transformations/split_convolution_with_large_buffer_size.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_split_convolution_with_large_buffer_size.cpp
Labels: category: GNA, category: IE Tests

#6579 Add AdaptivePool to ngraph python API
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset8/__init__.py
  ngraph/python/src/ngraph/opset8/ops.py
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_ngraph/test_adaptive_pool.py
  ngraph/python/tests/test_ngraph/test_create_op.py
Labels: category: nGraph

#6521 Imironov/add missing descriptions for transformations configs releases
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_RetinaNet_From_Tensorflow.md
  docs/doxygen/ie_docs.xml
Labels: category: docs

#6655 add DepthToSpace to VERIFIED_OP_REFERENCES
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
Labels: category: IE Tests

#6659 use `floating-point` in docs
  docs/ops/activation/Clamp_1.md
  docs/ops/activation/HSigmoid_5.md
  docs/ops/activation/HSwish_4.md
  docs/ops/activation/HardSigmoid_1.md
  docs/ops/activation/LogSoftmax_5.md
  docs/ops/activation/Sigmoid_1.md
  docs/ops/arithmetic/Acosh_3.md
  docs/ops/arithmetic/Atanh_3.md
  docs/ops/arithmetic/Erf_1.md
  docs/ops/detection/DeformablePSROIPooling_1.md
  docs/ops/detection/DetectionOutput_1.md
  docs/ops/detection/ExperimentalDetectronDetectionOutput_6.md
  docs/ops/detection/ExperimentalDetectronGenerateProposalsSingleImage_6.md
  docs/ops/detection/ExperimentalDetectronPriorGridGenerator_6.md
  docs/ops/detection/ExperimentalDetectronROIFeatureExtractor_6.md
  docs/ops/detection/PSROIPooling_1.md
  docs/ops/detection/PriorBoxClustered_1.md
  docs/ops/detection/PriorBox_1.md
  docs/ops/detection/Proposal_1.md
  docs/ops/detection/Proposal_4.md
  docs/ops/detection/ROIAlign_3.md
  docs/ops/detection/ROIPooling_1.md
  docs/ops/detection/RegionYolo_1.md
  docs/ops/generation/Range_4.md
  docs/ops/image/Interpolate_1.md
  docs/ops/image/Interpolate_4.md
  docs/ops/matrix/MatMul_1.md
  docs/ops/normalization/GRN_1.md
  docs/ops/normalization/LRN_1.md
  docs/ops/normalization/MVN_1.md
  docs/ops/normalization/MVN_6.md
  docs/ops/pooling/MaxPool_1.md
  docs/ops/sequence/CTCGreedyDecoderSeqLen_6.md
  docs/ops/sequence/CTCGreedyDecoder_1.md
  docs/ops/sequence/CTCLoss_4.md
  docs/ops/sequence/GRUCell_3.md
  docs/ops/sequence/GRUSequence_5.md
  docs/ops/sequence/LSTMCell_1.md
  docs/ops/sequence/LSTMSequence_1.md
  docs/ops/sequence/RNNCell_3.md
  docs/ops/sequence/RNNSequence_5.md
  docs/ops/sort/ExperimentalDetectronTopKROIs_6.md
  docs/ops/sort/MatrixNMS_8.md
  docs/ops/sort/MulticlassNMS_8.md
  docs/ops/sort/NonMaxSuppression_1.md
  docs/ops/sort/NonMaxSuppression_3.md
  docs/ops/sort/NonMaxSuppression_4.md
  docs/ops/sort/NonMaxSuppression_5.md
Labels: category: docs

#6469 GNA add ReorderActivationAndPooling transformation unit tests
  inference-engine/src/gna_plugin/transformations/reorder_activation_and_pooling.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_reorder_activation_and_pooling.cpp
Labels: category: GNA, category: IE Tests

#6524 GNA convert matmul to pointwise convolution transformation unit tests
  inference-engine/src/gna_plugin/transformations/convert_matmul_to_pointwise_convolution.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_convert_matmul_to_pointwise_convolution.cpp
Labels: category: GNA, category: IE Tests

#6651 Feature/azaytsev/changes from baychub revise demos samples
  docs/IE_DG/Deep_Learning_Inference_Engine_DevGuide.md
  docs/IE_DG/Extensibility_DG/AddingNGraphOps.md
  docs/IE_DG/Extensibility_DG/Extension.md
  docs/IE_DG/Int8Inference.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model_General.md
  docs/MO_DG/prepare_model/convert_model/Cutting_Model.md
  docs/MO_DG/prepare_model/convert_model/IR_suitable_for_INT8_inference.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_Style_Transfer_From_MXNet.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_F3Net.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_YOLACT.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_XLNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
  docs/doxygen/ie_docs.xml
  docs/img/OpenVINO-diagram.png
  docs/index.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
  docs/optimization_guide/dldt_optimization_guide.md
  inference-engine/ie_bridges/c/samples/hello_classification/README.md
  inference-engine/ie_bridges/c/samples/hello_nv12_input_classification/README.md
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/python/sample/classification_sample_async/README.md
  inference-engine/ie_bridges/python/sample/hello_classification/README.md
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/README.md
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/python/sample/style_transfer_sample/README.md
  inference-engine/samples/classification_sample_async/README.md
  inference-engine/samples/hello_classification/README.md
  inference-engine/samples/hello_nv12_input_classification/README.md
  inference-engine/samples/hello_reshape_ssd/README.md
  inference-engine/samples/object_detection_sample_ssd/README.md
  inference-engine/samples/style_transfer_sample/README.md
Labels: category: docs

#6629 GRN - reference revision and tests
  docs/template_plugin/tests/functional/op_reference/grn.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/grn.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/grn.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/test/backend/fused_op.in.cpp
Labels: category: nGraph

#6666 GRN spec revision
  docs/ops/normalization/GRN_1.md
Labels: category: docs

#6649 Develop installation rules for time and stress tests
  tests/stress_tests/CMakeLists.txt
  tests/stress_tests/common/CMakeLists.txt
  tests/stress_tests/memcheck_tests/CMakeLists.txt
  tests/stress_tests/memleaks_tests/CMakeLists.txt
  tests/stress_tests/unittests/CMakeLists.txt
  tests/time_tests/CMakeLists.txt
  tests/time_tests/src/timetests/CMakeLists.txt
Labels: category: IE Tests

#6642 [GPU] Fixed matmul handling for some shapes
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/ops/matmul.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/mat_mul.cpp
Labels: category: GPU

#6514 DeformableConv v8: reference implementation
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/deformable_convolution.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/deformable_convolution.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/deformable_convolution.cpp
  ngraph/core/include/ngraph/op/deformable_convolution.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/deformable_convolution.hpp
  ngraph/core/src/op/deformable_convolution.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/deformable_convolution_opset8.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
Labels: category: nGraph

#6539 Revise PriorBoxClustered Spec
  docs/ops/detection/PriorBoxClustered_1.md
Labels: category: docs

#6625 Align folder structure for Benchmark Tool
  tools/.gitignore
  tools/CMakeLists.txt
  tools/README.md
  tools/benchmark_tool/openvino/tools/benchmark/README.md
  tools/benchmark_tool/openvino/tools/benchmark/__init__.py
  tools/benchmark_tool/openvino/tools/benchmark/benchmark.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/benchmark_tool/openvino/tools/benchmark/requirements.txt
  tools/benchmark_tool/openvino/tools/benchmark/utils/__init__.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/constants.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/logging.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/progress_bar.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/statistics_report.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
  tools/benchmark_tool/setup.py
Labels: category: docs, category: tools

#6678 [GNA] KSOFunction test fix
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/eltwise_reshape_activation.cpp
Labels: category: GNA, category: IE Tests

#6692 Migrate Deployment Manager tool to Open Source
  scripts/CMakeLists.txt
  scripts/deployment_manager/configs/darwin.json
  scripts/deployment_manager/configs/linux.json
  scripts/deployment_manager/configs/windows.json
  scripts/deployment_manager/deployman/config.py
  scripts/deployment_manager/deployman/logger.py
  scripts/deployment_manager/deployman/main.py
  scripts/deployment_manager/deployman/ui.py
  scripts/deployment_manager/deployment_manager.py
Labels: category: CI

#6358 Rework model loading in FE manager, implement PDPD probing
  cmake/templates/InferenceEngineConfig.cmake.in
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/ie_network_reader.cpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/pdpd_reader/models/relu.pdmodel
  inference-engine/tests/functional/inference_engine/pdpd_reader/models/ひらがな日本語.pdmodel
  inference-engine/tests/functional/inference_engine/pdpd_reader/read_pdpd_model_test.cpp
  model-optimizer/mo/moc_frontend/pipeline.py
  model-optimizer/unit_tests/mock_mo_frontend/mock_mo_ngraph_frontend/mock_mo_frontend.cpp
  model-optimizer/unit_tests/mock_mo_frontend/mock_mo_ngraph_frontend/mock_mo_frontend.hpp
  model-optimizer/unit_tests/mock_mo_frontend/mock_mo_python_api/mock_mo_python_api.cpp
  ngraph/core/include/ngraph/variant.hpp
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend.hpp
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend_manager.hpp
  ngraph/frontend/frontend_manager/src/frontend_manager.cpp
  ngraph/frontend/frontend_manager/src/utils.cpp
  ngraph/frontend/frontend_manager/src/utils.hpp
  ngraph/frontend/paddlepaddle/include/paddlepaddle_frontend/frontend.hpp
  ngraph/frontend/paddlepaddle/include/paddlepaddle_frontend/model.hpp
  ngraph/frontend/paddlepaddle/src/frontend.cpp
  ngraph/frontend/paddlepaddle/src/model.cpp
  ngraph/frontend/paddlepaddle/src/op/scale.cpp
  ngraph/frontend/paddlepaddle/src/pdpd_utils.hpp
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/frontend/__init__.py
  ngraph/python/src/pyngraph/frontend/frontend.cpp
  ngraph/python/src/pyngraph/frontend/frontend_manager.cpp
  ngraph/python/src/pyngraph/frontend/frontend_manager.hpp
  ngraph/python/src/pyngraph/pyngraph.cpp
  ngraph/python/tests/mock/mock_py_ngraph_frontend/mock_py_frontend.cpp
  ngraph/python/tests/mock/mock_py_ngraph_frontend/mock_py_frontend.hpp
  ngraph/python/tests/mock/pyngraph_fe_mock_api/pyngraph_mock_frontend_api.cpp
  ngraph/python/tests/test_ngraph/test_frontendmanager.py
  ngraph/test/CMakeLists.txt
  ngraph/test/frontend/frontend_manager.cpp
  ngraph/test/frontend/mock_frontend.cpp
  ngraph/test/frontend/paddlepaddle/basic_api.cpp
  ngraph/test/frontend/paddlepaddle/cut_specific_model.cpp
  ngraph/test/frontend/paddlepaddle/load_from.cpp
  ngraph/test/frontend/paddlepaddle/partial_shape.cpp
  ngraph/test/frontend/paddlepaddle/set_element_type.cpp
  ngraph/test/frontend/shared/src/basic_api.cpp
  ngraph/test/frontend/shared/src/cut_specific_model.cpp
  ngraph/test/frontend/shared/src/load_from.cpp
  ngraph/test/frontend/shared/src/op_fuzzy.cpp
  ngraph/test/frontend/shared/src/partial_shape.cpp
  ngraph/test/frontend/shared/src/set_element_type.cpp
  ngraph/test/op.cpp
Labels: category: IE common

#6581 Revise sign
  docs/ops/arithmetic/Sign_1.md
  docs/template_plugin/tests/functional/op_reference/sign.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/core/include/ngraph/op/sign.hpp
  ngraph/core/src/op/sign.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/sign.in.cpp
  ngraph/test/type_prop/sign.cpp
  ngraph/test/visitors/op/sign.cpp
Labels: category: IE Tests, category: docs, category: nGraph

#6701 Use different cpack name for conda Python API build
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/inference_engine/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/CMakeLists.txt
Labels: category: python api

#6721 Update AZURE - OpenVINO ONNX CI check
  ngraph/python/tests/test_onnx/model_zoo_preprocess.sh
Labels: category: CI, category: nGraph

#6644 fixed crash related to loading model with fq and sigmoid
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/fq_fusion_with_sigmoid.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/multiple_input_fq.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/multiple_input_fq.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/multiple_input_fq.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/multiple_input_fq.cpp
Labels: category: GNA, category: IE Tests

#6712 Allow configuring cpack strip from the command line
  cmake/developer_package/packaging.cmake
Labels: category: IE common

#6707 Updated DM configs; added exec rights
  scripts/CMakeLists.txt
  scripts/deployment_manager/configs/darwin.json
  scripts/deployment_manager/configs/linux.json
  scripts/deployment_manager/configs/windows.json
  scripts/deployment_manager/deployment_manager.py
Labels: category: CI, category: IE common

#6716 Fixed usage of system protobuf
  cmake/features.cmake
  ngraph/frontend/paddlepaddle/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/protobuf/CMakeLists.txt
Labels: category: IE common, category: build, category: nGraph

#6724 Enabled code style check for tests
  .github/workflows/code_style.yml
  model-optimizer/unit_tests/mock_mo_frontend/mock_mo_ngraph_frontend/mock_mo_frontend.hpp
  ngraph/python/tests/mock/mock_py_ngraph_frontend/mock_py_frontend.hpp
  ngraph/test/frontend/frontend_manager.cpp
  ngraph/test/frontend/shared/src/cut_specific_model.cpp
  ngraph/test/frontend/shared/src/load_from.cpp
Labels: category: build

#6475 Abs layer support
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/legacy_api/include/legacy/ie_layers.h
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/merge_eltwise_and_relu.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/activation.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/eltwise.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/activation.cpp
Labels: category: IE Tests, category: VPU, category: nGraph

#6677 update Acosh spec
  docs/ops/arithmetic/Acosh_3.md
Labels: category: docs

#6483 Select operation revision
  docs/template_plugin/tests/functional/op_reference/select.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/select.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/core/reference/include/ngraph/runtime/reference/autobroadcast_binop.hpp
  ngraph/core/src/op/select.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/select.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/type_prop/select.cpp
  ngraph/test/visitors/op/select.cpp
Labels: category: nGraph

#6725 Port extension fix
  inference-engine/include/ie_iextension.h
Labels: category: IE common

#6722 Fix for cmake 3.21.x
  cmake/developer_package/compile_flags/sanitizer.cmake
  cmake/developer_package/compile_flags/sdl.cmake
  cmake/developer_package/features.cmake
  cmake/developer_package/target_flags.cmake
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  ngraph/frontend/onnx/onnx_import/CMakeLists.txt
  ngraph/test/CMakeLists.txt
  openvino/conditional_compilation/CMakeLists.txt
  thirdparty/onnx/CMakeLists.txt
  thirdparty/protobuf/CMakeLists.txt
Labels: category: CPU, category: IE common, category: build, category: nGraph

#6715 [GNA] Fix Reshape-Conv-Transpose pattern recognition for 2d convolution
  inference-engine/src/gna_plugin/gna_graph_patterns.hpp
  inference-engine/tests/functional/plugin/gna/pass_tests/remove_permutations_NHWC_to_NCHW_pass.cpp
Labels: category: GNA, category: IE Tests

#6727 Fixed sanitizer
  cmake/developer_package/compile_flags/os_flags.cmake
  inference-engine/include/gpu/gpu_ocl_wrapper.hpp
Labels: category: GPU, category: IE common, category: build

#6730 Fixed build with protobuf-lite
  thirdparty/CMakeLists.txt
  thirdparty/protobuf/CMakeLists.txt
Labels: category: IE common, category: build

#6698 MO: ensure ngraph.frontend is installed
  model-optimizer/mo/utils/check_ie_bindings.py
  model-optimizer/mo/utils/find_ie_version.py
Labels: category: MO

#6488 Revise specification for Select operation
  docs/ops/condition/Select_1.md
Labels: category: docs

#6342 Add retinanet convert doc
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_RetinaNet_From_Tensorflow.md
  docs/doxygen/ie_docs.xml
Labels: category: docs

#6683 Zero point optimization
  model-optimizer/extensions/back/compress_quantized_weights.py
  model-optimizer/unit_tests/extensions/back/compress_quantized_weights_test.py
Labels: category: MO

#6746 DeformableConv: decrease input_shape and kernal in CPU functional tests
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
Labels: category: IE Tests

#6719 Static library for ngraph::frontend_manager
  inference-engine/src/inference_engine/CMakeLists.txt
  model-optimizer/unit_tests/mock_mo_frontend/mock_mo_python_api/CMakeLists.txt
  ngraph/frontend/frontend_manager/CMakeLists.txt
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend_manager_defs.hpp
  ngraph/frontend/paddlepaddle/CMakeLists.txt
  ngraph/python/tests/mock/mock_py_ngraph_frontend/CMakeLists.txt
  ngraph/python/tests/mock/pyngraph_fe_mock_api/CMakeLists.txt
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.sh
Labels: category: nGraph

#5664 Fix NormalizeL2Fusion and allow LpNormalization to be fused to Normal…
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_normalize_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_normalize_node.h
  inference-engine/src/transformations/src/transformations/common_optimizations/normalize_l2_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/normalize_l2_fusion_test.cpp
  ngraph/core/builder/include/ngraph/builder/norm.hpp
  ngraph/core/builder/src/builder/norm.cpp
  ngraph/frontend/onnx/onnx_import/src/op/lp_norm.cpp
Labels: category: CPU, category: IE Tests, category: nGraph

#6738 Develop installation rules for time and stress tests (#6649)
  tests/stress_tests/CMakeLists.txt
  tests/stress_tests/common/CMakeLists.txt
  tests/stress_tests/memcheck_tests/CMakeLists.txt
  tests/stress_tests/memleaks_tests/CMakeLists.txt
  tests/stress_tests/unittests/CMakeLists.txt
  tests/time_tests/CMakeLists.txt
  tests/time_tests/src/timetests/CMakeLists.txt
Labels: category: IE Tests

#6734 Fixed ngraph unit-test compilation with protobuf-lite
  ngraph/test/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/protobuf/CMakeLists.txt
Labels: category: IE common, category: build, category: nGraph, category: onnx importer, category: onnx_editor

#6713 [54908] Update MemCheckTests references in nightly config
  tests/stress_tests/.automation/memcheck_tests/nightly_configs/desktop_references_config.xml
Labels: category: IE Tests

#6664 Acosh ref impl
  docs/template_plugin/tests/functional/op_reference/acosh.cpp
  docs/template_plugin/tests/functional/op_reference/base_reference_test.cpp
  docs/template_plugin/tests/functional/op_reference/base_reference_test.hpp
  docs/template_plugin/tests/functional/op_reference/convert.cpp
  docs/template_plugin/tests/functional/op_reference/grn.cpp
  docs/template_plugin/tests/functional/op_reference/select.cpp
  docs/template_plugin/tests/functional/op_reference/sign.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/activation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/activation.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/activation.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/activation.cpp
  ngraph/core/include/ngraph/op/acosh.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/acosh.hpp
  ngraph/core/src/op/acosh.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/acosh.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/type_prop/acosh.cpp
  ngraph/test/visitors/op/acosh.cpp
Labels: category: nGraph

#6682 [GPU] Allowed more complex syntax for debug config options.
  cmake/features.cmake
  inference-engine/src/cldnn_engine/CMakeLists.txt
  inference-engine/thirdparty/CMakeLists.txt
  inference-engine/thirdparty/clDNN/CMakeLists.txt
  inference-engine/thirdparty/clDNN/runtime/debug_configuration.cpp
Labels: category: GPU, category: IE common

#6726 summarize_graph show framework error when input saved_model is selected
  model-optimizer/mo/utils/summarize_graph.py
Labels: category: MO

#6427 [GPU] Enable loop5
  inference-engine/src/cldnn_engine/cldnn_primitives_list.hpp
  inference-engine/src/cldnn_engine/ops/loop.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/loop.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/single_layer_tests/loop.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/loop.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/loop.cpp
  inference-engine/thirdparty/clDNN/src/impls/common/loop.cpp
  inference-engine/thirdparty/clDNN/src/include/loop_inst.h
  inference-engine/thirdparty/clDNN/src/loop.cpp
  inference-engine/thirdparty/clDNN/src/program.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/loop_gpu_test.cpp
Labels: category: GPU, category: IE Tests

#6747 PDPD frontend - support of protobuf_lite
  ngraph/frontend/paddlepaddle/src/proto/framework.proto
Labels: category: nGraph

#6755 Fix reading constants in paddlepaddle frontend
  ngraph/frontend/paddlepaddle/src/model.cpp
Labels: category: nGraph

#6757 Fixed build with cmake 3.21
  CMakeLists.txt
  cmake/developer_package/compile_flags/sanitizer.cmake
  cmake/developer_package/compile_flags/sdl.cmake
  cmake/developer_package/features.cmake
  cmake/developer_package/target_flags.cmake
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  ngraph/cmake/external_onnx.cmake
  ngraph/frontend/onnx_import/CMakeLists.txt
  openvino/conditional_compilation/CMakeLists.txt
Labels: category: CPU, category: IE common, category: build, category: nGraph

#6748 [VPU] Added support for 2 axis for MVN layer - duplicate
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/mvn.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/mvn.cpp
Labels: bug, category: IE Tests, category: IE common, category: VPU

#6708 [LPT] FakeQuantize folding extending
  inference-engine/src/low_precision_transformations/include/low_precision/multiply_to_group_convolution.hpp
  inference-engine/src/low_precision_transformations/src/convolution_backprop_data.cpp
  inference-engine/src/low_precision_transformations/src/fold_fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/multiply_to_group_convolution.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_backprop_data_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/group_convolution_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/simple_low_precision_transformer.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/simple_low_precision_transformer.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/multiply_to_group_convolution_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/multiply_to_group_convolution_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/multiply_to_group_convolution_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/multiply_to_group_convolution_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/multiply_to_group_convolution_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/multiply_to_group_convolution_function.cpp
Labels: category: LP transformations

#6766 [cpack] Install compiled vpu custom kernels
  inference-engine/src/vpu/CMakeLists.txt
Labels: category: VPU
