Repository openvinotoolkit/openvino, pull requests merged in 2021-09, with the labels that each got.

#7171 Deprecate nGraph API to don't include it to public API
  ngraph/core/include/ngraph/distributed.hpp
  ngraph/core/include/ngraph/evaluator.hpp
  ngraph/core/include/ngraph/factory_adapter.hpp
  ngraph/core/include/ngraph/ngraph.hpp
  ngraph/core/include/ngraph/op/util/slice_plan.hpp
  ngraph/core/include/ngraph/slice_plan.hpp
  ngraph/core/include/ngraph/util.hpp
  ngraph/core/reference/src/coordinate_transform.cpp
  ngraph/core/src/distributed.cpp
  ngraph/core/src/ngraph.cpp
  ngraph/core/src/op/constant.cpp
  ngraph/core/src/op/transpose.cpp
  ngraph/core/src/op/util/slice_plan.cpp
  ngraph/core/src/pass/manager.cpp
  ngraph/core/src/runtime/aligned_buffer.cpp
  ngraph/core/src/runtime/host_tensor.cpp
  ngraph/core/src/type.cpp
  ngraph/core/src/util.cpp
  ngraph/core/src/validation_util.cpp
  ngraph/test/bfloat16.cpp
  ngraph/test/runtime/interpreter/int_executable.hpp
Labels: category: nGraph

#7280 Removed template functions from legacy headers
  ngraph/core/include/ngraph/enum_names.hpp
Labels: category: nGraph

#6969 Dynamic plugin reshape blob
  docs/template_plugin/src/template_infer_request.cpp
  docs/template_plugin/src/template_infer_request.hpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/infer_request_dynamic.cpp
  inference-engine/src/inference_engine/include/ie/cpp/ie_cnn_network.h
  inference-engine/src/inference_engine/include/ie/ie_blob.h
  inference-engine/src/inference_engine/include/ie/ie_data.h
  inference-engine/src/inference_engine/include/ie/ie_icnn_network.hpp
  inference-engine/src/inference_engine/include/ie/ie_input_info.hpp
  inference-engine/src/inference_engine/src/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/src/cnn_network_ngraph_impl.hpp
  inference-engine/src/inference_engine/src/cpp/ie_cnn_network.cpp
  inference-engine/src/inference_engine/src/cpp_interfaces/interface/ie_iinfer_request_internal.cpp
  inference-engine/src/inference_engine/src/ie_data.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels_simd_impl.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_infer_request.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reshape_tests.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request_dynamic.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
  inference-engine/tests/unit/inference_engine/ie_blob_test.cpp
  ngraph/core/src/node.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
Labels: category: IE common, category: TEMPLATE

#6930 Refactor backend test suite of Reduction ops into template plugin tests
  docs/template_plugin/tests/functional/op_reference/reduce_l1.cpp
  docs/template_plugin/tests/functional/op_reference/reduce_l2.cpp
  docs/template_plugin/tests/functional/op_reference/reduce_max.cpp
  docs/template_plugin/tests/functional/op_reference/reduce_mean.cpp
  docs/template_plugin/tests/functional/op_reference/reduce_min.cpp
  docs/template_plugin/tests/functional/op_reference/reduce_prod.cpp
  docs/template_plugin/tests/functional/op_reference/reduce_sum.cpp
  docs/template_plugin/tests/functional/op_reference/reduction.cpp
  docs/template_plugin/tests/functional/op_reference/reduction.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/reduce_l1.in.cpp
  ngraph/test/backend/reduce_l2.in.cpp
  ngraph/test/backend/reduce_max.in.cpp
  ngraph/test/backend/reduce_mean.in.cpp
  ngraph/test/backend/reduce_min.in.cpp
  ngraph/test/backend/reduce_prod.in.cpp
  ngraph/test/backend/reduce_sum.in.cpp
  ngraph/test/op_eval/reduce_max.cpp
  ngraph/test/op_eval/reduce_min.cpp
  ngraph/test/op_eval/reduce_prod.cpp
  ngraph/test/op_eval/reduce_sum.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
  ngraph/test/visitors/op/reduce_l1.cpp
  ngraph/test/visitors/op/reduce_l2.cpp
  ngraph/test/visitors/op/reduce_logical_and.cpp
  ngraph/test/visitors/op/reduce_logical_or.cpp
  ngraph/test/visitors/op/reduce_max.cpp
  ngraph/test/visitors/op/reduce_mean.cpp
  ngraph/test/visitors/op/reduce_min.cpp
  ngraph/test/visitors/op/reduce_ops.hpp
  ngraph/test/visitors/op/reduce_prod.cpp
  ngraph/test/visitors/op/reduce_sum.cpp
Labels: category: nGraph

#7316 Operation details dumping while reshaping
  inference-engine/src/inference_engine/src/cnn_network_ngraph_impl.cpp
Labels: category: IE common

#7129 Unify SLTs classes of Convert and ConvertLike operations
  docs/template_plugin/tests/functional/op_reference/conversion.hpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/conversion.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/conversion.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/convert.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/convert_like.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/conversion.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/conversion.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/convert.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/conversion.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/convert.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/comparison.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/conversion.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/convert.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/convert_like.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/comparison.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/conversion.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/convert.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/convert_like.cpp
Labels: category: nGraph

#7322 [Scripts] Detecting newest drivers on ubu20
  scripts/install_dependencies/install_NEO_OCL_driver.sh
Labels: category: CI

#7320 Remove redundant header aftter PR #6969
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request.hpp
Labels: category: IE Tests

#7063 update references for memcheck pre-commit (refs from 2021.4)
  tests/stress_tests/.automation/memcheck_tests/precommit_configs/desktop_references_config.xml
Labels: category: IE Tests, do not merge

#7298 Removed speech demo
  .ci/azure/linux_onnxruntime.yml
  .ci/openvino-onnx/Dockerfile
  cmake/dependencies.cmake
  cmake/features.cmake
  inference-engine/CMakeLists.txt
Labels: category: IE common, category: samples, category: CI

#7324 Fix for missed OMZ public models in openvino-dev package (#6568)
  inference-engine/ie_bridges/python/wheel/setup.py
Labels: category: python api

#7285 [IE TESTS] Remove verified refs highlighting from report
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
Labels: category: IE Tests

#7258 [GNA] Fixed accuracy degradation caused by the input quantization restriction
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/fq_maxpool_reordering.cpp
Labels: category: GNA

#7291 use 1D convolution in split_convolution_with_large_buffer_size unit test
  inference-engine/tests/unit/gna/ngraph/transformations/gna_split_convolution_with_large_buffer_size.cpp
Labels: category: IE Tests, category: GNA

#7277 [GNA] Fixed import of model with several inputs
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/import_export_tests/import_export_multi_inputs.cpp
Labels: category: GNA

#6396 [GPU] Fuse reorder to convolution
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reorder/reorder_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_bfyx_f16.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_params.h
  inference-engine/thirdparty/clDNN/src/graph_optimizer/remove_redundant_reorders.cpp
  inference-engine/thirdparty/clDNN/src/include/program_node.h
  inference-engine/thirdparty/clDNN/src/include/reorder_inst.h
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#7350 Speech demo: docs removed
  docs/doxygen/openvino_docs.xml
  inference-engine/samples/speech_libs_and_demos/Kaldi_SLM_conversion_tool.md
  inference-engine/samples/speech_libs_and_demos/Live_speech_recognition_demo.md
  inference-engine/samples/speech_libs_and_demos/Offline_speech_recognition_demo.md
  inference-engine/samples/speech_libs_and_demos/Speech_library.md
  inference-engine/samples/speech_libs_and_demos/Speech_libs_and_demos.md
  inference-engine/samples/speech_libs_and_demos/img/asr_pipeline.png
  inference-engine/samples/speech_libs_and_demos/img/icon_1.png
  inference-engine/samples/speech_libs_and_demos/img/icon_10.png
  inference-engine/samples/speech_libs_and_demos/img/icon_11.png
  inference-engine/samples/speech_libs_and_demos/img/icon_12.png
  inference-engine/samples/speech_libs_and_demos/img/icon_2.png
  inference-engine/samples/speech_libs_and_demos/img/icon_3.png
  inference-engine/samples/speech_libs_and_demos/img/icon_4.png
  inference-engine/samples/speech_libs_and_demos/img/icon_5.png
  inference-engine/samples/speech_libs_and_demos/img/icon_6.png
  inference-engine/samples/speech_libs_and_demos/img/icon_7.png
  inference-engine/samples/speech_libs_and_demos/img/icon_8.png
  inference-engine/samples/speech_libs_and_demos/img/icon_9.png
  inference-engine/samples/speech_libs_and_demos/img/live_speech_recognition_demo_annotated.jpg
  inference-engine/samples/speech_libs_and_demos/img/new_speech_demos.png
  inference-engine/samples/speech_libs_and_demos/img/speech_library_api.png
  inference-engine/samples/speech_libs_and_demos/img/speech_sample.png
  inference-engine/samples/speech_libs_and_demos/img/sw_components.png
Labels: category: IE common, category: docs

#7346 Remove references to prototxt from documentation and docstrings
  docs/IE_DG/Integrate_with_customer_application_new_API.md
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  inference-engine/src/inference_engine/include/ie/ie_core.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/core.hpp
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/src/timetests_helper/cli.h
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Labels: category: IE common, category: IE Tests, category: python api, category: tools

#7336 Move all a ops to ov
  ngraph/core/include/ngraph/op/abs.hpp
  ngraph/core/include/ngraph/op/acos.hpp
  ngraph/core/include/ngraph/op/acosh.hpp
  ngraph/core/include/ngraph/op/adaptive_avg_pool.hpp
  ngraph/core/include/ngraph/op/adaptive_max_pool.hpp
  ngraph/core/include/ngraph/op/add.hpp
  ngraph/core/include/ngraph/op/and.hpp
  ngraph/core/include/ngraph/op/asin.hpp
  ngraph/core/include/ngraph/op/asinh.hpp
  ngraph/core/include/ngraph/op/assign.hpp
  ngraph/core/include/ngraph/op/atan.hpp
  ngraph/core/include/ngraph/op/atanh.hpp
  ngraph/core/include/ngraph/op/avg_pool.hpp
  ngraph/core/include/ngraph/op/constant.hpp
  ngraph/core/include/ngraph/op/read_value.hpp
  ngraph/core/include/ngraph/op/sink.hpp
  ngraph/core/include/ngraph/runtime/host_tensor.hpp
  ngraph/core/include/openvino/op/abs.hpp
  ngraph/core/include/openvino/op/acos.hpp
  ngraph/core/include/openvino/op/acosh.hpp
  ngraph/core/include/openvino/op/adaptive_avg_pool.hpp
  ngraph/core/include/openvino/op/adaptive_max_pool.hpp
  ngraph/core/include/openvino/op/add.hpp
  ngraph/core/include/openvino/op/asin.hpp
  ngraph/core/include/openvino/op/asinh.hpp
  ngraph/core/include/openvino/op/assign.hpp
  ngraph/core/include/openvino/op/atan.hpp
  ngraph/core/include/openvino/op/atanh.hpp
  ngraph/core/include/openvino/op/avg_pool.hpp
  ngraph/core/include/openvino/op/constant.hpp
  ngraph/core/include/openvino/op/logical_and.hpp
  ngraph/core/include/openvino/op/read_value.hpp
  ngraph/core/include/openvino/op/sink.hpp
  ngraph/core/include/openvino/op/util/assign_base.hpp
  ngraph/core/include/openvino/op/util/read_value_base.hpp
  ngraph/core/src/op/abs.cpp
  ngraph/core/src/op/acos.cpp
  ngraph/core/src/op/acosh.cpp
  ngraph/core/src/op/adaptive_avg_pool.cpp
  ngraph/core/src/op/adaptive_max_pool.cpp
  ngraph/core/src/op/add.cpp
  ngraph/core/src/op/asin.cpp
  ngraph/core/src/op/asinh.cpp
  ngraph/core/src/op/assign.cpp
  ngraph/core/src/op/atan.cpp
  ngraph/core/src/op/atanh.cpp
  ngraph/core/src/op/avg_pool.cpp
  ngraph/core/src/op/constant.cpp
  ngraph/core/src/op/logical_and.cpp
  ngraph/core/src/op/read_value.cpp
  ngraph/core/src/op/util/assign_base.cpp
  ngraph/core/src/op/util/read_value_base.cpp
Labels: category: nGraph

#7261 [CPU] Fix graph serialization, use ngraph serialization directly
  inference-engine/src/mkldnn_plugin/mkldnn_graph_dumper.cpp
Labels: category: CPU

#7349 [Paddle] Combine all PDPD test models generation scripts into one cmake command
  ngraph/test/frontend/paddlepaddle/CMakeLists.txt
  ngraph/test/frontend/paddlepaddle/test_models/gen_wrapper.py
Labels: category: nGraph

#7236 [GNA] Fixes for GNA 3.0 library
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/backend/am_intel_dnn.hpp
  inference-engine/src/gna_plugin/backend/gna_limitations.cpp
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/transformations/split_convolution_with_large_buffer_size.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_check.hpp
Labels: category: IE Tests, category: GNA

#7358 Revert "Azure CI: Remove IncrediBuild on Windows (#7085)"
  .ci/azure/windows.yml
Labels: category: CI

#7355 Fixed leftovers after PR 7336
  ngraph/core/src/op/abs.cpp
  ngraph/core/src/op/acos.cpp
Labels: category: nGraph

#7338 All operations from B and C symbols moved to ov namespace
  ngraph/core/include/ngraph/op/batch_norm.hpp
  ngraph/core/include/ngraph/op/batch_to_space.hpp
  ngraph/core/include/ngraph/op/binary_convolution.hpp
  ngraph/core/include/ngraph/op/broadcast.hpp
  ngraph/core/include/ngraph/op/bucketize.hpp
  ngraph/core/include/ngraph/op/ceiling.hpp
  ngraph/core/include/ngraph/op/clamp.hpp
  ngraph/core/include/ngraph/op/concat.hpp
  ngraph/core/include/ngraph/op/convert.hpp
  ngraph/core/include/ngraph/op/convert_like.hpp
  ngraph/core/include/ngraph/op/convolution.hpp
  ngraph/core/include/ngraph/op/cos.hpp
  ngraph/core/include/ngraph/op/cosh.hpp
  ngraph/core/include/ngraph/op/ctc_greedy_decoder.hpp
  ngraph/core/include/ngraph/op/ctc_greedy_decoder_seq_len.hpp
  ngraph/core/include/ngraph/op/ctc_loss.hpp
  ngraph/core/include/ngraph/op/cum_sum.hpp
  ngraph/core/include/openvino/op/batch_norm.hpp
  ngraph/core/include/openvino/op/batch_to_space.hpp
  ngraph/core/include/openvino/op/binary_convolution.hpp
  ngraph/core/include/openvino/op/broadcast.hpp
  ngraph/core/include/openvino/op/bucketize.hpp
  ngraph/core/include/openvino/op/ceiling.hpp
  ngraph/core/include/openvino/op/clamp.hpp
  ngraph/core/include/openvino/op/concat.hpp
  ngraph/core/include/openvino/op/convert.hpp
  ngraph/core/include/openvino/op/convert_like.hpp
  ngraph/core/include/openvino/op/convolution.hpp
  ngraph/core/include/openvino/op/cos.hpp
  ngraph/core/include/openvino/op/cosh.hpp
  ngraph/core/include/openvino/op/ctc_greedy_decoder.hpp
  ngraph/core/include/openvino/op/ctc_greedy_decoder_seq_len.hpp
  ngraph/core/include/openvino/op/ctc_loss.hpp
  ngraph/core/include/openvino/op/cum_sum.hpp
  ngraph/core/src/op/batch_norm.cpp
  ngraph/core/src/op/batch_to_space.cpp
  ngraph/core/src/op/binary_convolution.cpp
  ngraph/core/src/op/broadcast.cpp
  ngraph/core/src/op/bucketize.cpp
  ngraph/core/src/op/ceiling.cpp
  ngraph/core/src/op/clamp.cpp
  ngraph/core/src/op/concat.cpp
  ngraph/core/src/op/convert.cpp
  ngraph/core/src/op/convert_like.cpp
  ngraph/core/src/op/convolution.cpp
  ngraph/core/src/op/cos.cpp
  ngraph/core/src/op/cosh.cpp
  ngraph/core/src/op/ctc_greedy_decoder.cpp
  ngraph/core/src/op/ctc_greedy_decoder_seq_len.cpp
  ngraph/core/src/op/ctc_loss.cpp
  ngraph/core/src/op/cum_sum.cpp
Labels: category: nGraph

#7254 [IE Python Speech Sample] Enable `-oname` for a imported model (`-rg` option)
  inference-engine/ie_bridges/python/sample/speech_sample/speech_sample.py
Labels: bug, category: python api, category: samples

#7356 Azure CI: Run tests on Mac from install dir
  .ci/azure/linux.yml
  .ci/azure/mac.yml
Labels: category: CI

#7363 MaxPool-8 evaluate()
  ngraph/core/include/ngraph/op/max_pool.hpp
  ngraph/core/src/itt.hpp
  ngraph/core/src/op/max_pool.cpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
Labels: category: nGraph, priority: high

#7310 Removed auto plugin
  cmake/developer_package/plugins/create_plugin_file.cmake
  cmake/developer_package/plugins/plugins.cmake
  inference-engine/ie_bridges/python/wheel/setup.py
  inference-engine/src/CMakeLists.txt
  inference-engine/src/auto_plugin/CMakeLists.txt
  inference-engine/src/auto_plugin/auto_plugin.cpp
  inference-engine/src/auto_plugin/auto_plugin.hpp
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/multi_device/CMakeLists.txt
  inference-engine/src/multi_device/multi_device_exec_network.cpp
  inference-engine/src/multi_device/multi_device_plugin.cpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_internal_plugin_config.hpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/plugin/cpu/CMakeLists.txt
  inference-engine/tests/functional/plugin/gpu/CMakeLists.txt
  scripts/deployment_manager/configs/darwin.json
  scripts/deployment_manager/configs/linux.json
  scripts/deployment_manager/configs/windows.json
Labels: category: AUTO

#6663 [IE Python Speech Sample] Add `--scale_factor` and `--performance_counter` options
  inference-engine/ie_bridges/python/sample/speech_sample/README.md
  inference-engine/ie_bridges/python/sample/speech_sample/arg_parser.py
  inference-engine/ie_bridges/python/sample/speech_sample/speech_sample.py
Labels: category: python api, category: docs

#7345 Fix setup.py paths
  inference-engine/ie_bridges/python/wheel/setup.py
Labels: category: python api

#7340 Remove deprecated MVNLayerTest class for SLTs
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/mvn.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/mvn.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/mvn.cpp
Labels: category: nGraph, category: IE Tests

#7257 Propose new Slice-8 operation - update
  docs/ops/movement/Slice_8.md
Labels: category: docs

#7214 [FrontEnd][PaddlePaddle] fix fill_constant_batch_size_like when attri…
  ngraph/frontend/paddlepaddle/src/op/fill_constant_batch_size_like.cpp
Labels: category: PDPD FE

#7208 [GNA] Rewrite RemoveSingleInputConcatPass using ngraph
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/transformations/remove_single_input_concat.cpp
  inference-engine/src/gna_plugin/transformations/remove_single_input_concat.hpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_remove_single_input_concat.cpp
Labels: category: IE Tests, category: GNA

#7394 Assertion message when blob precisions don't match
  ngraph/test/util/engine/ie_engines.cpp
Labels: category: nGraph

#7289 [XXX-55386] Change nets version to v10
  inference-engine/tests/functional/inference_engine/local_test.cpp
Labels: category: IE Tests

#7359 Merge tools and inference_engine/tools folders
  CODEOWNERS
  docs/IE_DG/Intro_to_Performance.md
  docs/IE_DG/Model_caching_overview.md
  docs/IE_DG/Tools_Overview.md
  docs/index.md
  inference-engine/CMakeLists.txt
  inference-engine/tools/CMakeLists.txt
  inference-engine/tools/package_BOM.txt
  scripts/CMakeLists.txt
  tools/CMakeLists.txt
  tools/compile_tool/CMakeLists.txt
  tools/compile_tool/README.md
  tools/compile_tool/main.cpp
  tools/cross_check_tool/README.md
  tools/cross_check_tool/__init__.py
  tools/cross_check_tool/cross_check_tool.py
  tools/cross_check_tool/requirements.txt
  tools/cross_check_tool/utils.py
  tools/deployment_manager/configs/darwin.json
  tools/deployment_manager/configs/linux.json
  tools/deployment_manager/configs/windows.json
  tools/deployment_manager/deployman/config.py
  tools/deployment_manager/deployman/logger.py
  tools/deployment_manager/deployman/main.py
  tools/deployment_manager/deployman/ui.py
  tools/deployment_manager/deployment_manager.py
Labels: category: IE common, category: CI, category: tools

#7369 [IE TESTS] Enable Opset8 in Conformance report
  inference-engine/tests/ie_test_utils/functional_test_utils/src/layer_test_utils/summary.cpp
Labels: category: IE Tests

#7402 doc: fix docker win links
  docs/install_guides/installing-openvino-docker-windows.md
Labels: category: docs

#7388 Move opset to ov
  ngraph/core/include/ngraph/opsets/opset.hpp
  ngraph/core/include/ngraph/opsets/opset1_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset2_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset3_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset4_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset5_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset6_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset7_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset8_tbl.hpp
  ngraph/core/include/openvino/op/ops.hpp
  ngraph/core/include/openvino/opsets/opset.hpp
  ngraph/core/include/openvino/opsets/opset1.hpp
  ngraph/core/include/openvino/opsets/opset1_tbl.hpp
  ngraph/core/include/openvino/opsets/opset2.hpp
  ngraph/core/include/openvino/opsets/opset2_tbl.hpp
  ngraph/core/include/openvino/opsets/opset3.hpp
  ngraph/core/include/openvino/opsets/opset3_tbl.hpp
  ngraph/core/include/openvino/opsets/opset4.hpp
  ngraph/core/include/openvino/opsets/opset4_tbl.hpp
  ngraph/core/include/openvino/opsets/opset5.hpp
  ngraph/core/include/openvino/opsets/opset5_tbl.hpp
  ngraph/core/include/openvino/opsets/opset6.hpp
  ngraph/core/include/openvino/opsets/opset6_tbl.hpp
  ngraph/core/include/openvino/opsets/opset7.hpp
  ngraph/core/include/openvino/opsets/opset7_tbl.hpp
  ngraph/core/include/openvino/opsets/opset8.hpp
  ngraph/core/include/openvino/opsets/opset8_tbl.hpp
  ngraph/core/src/opsets/opset.cpp
  ngraph/frontend/ir/src/model.cpp
  ngraph/test/opset1.cpp
Labels: category: nGraph

#7392 [IE PYTHON] mark ngraph dependent tests
  inference-engine/ie_bridges/python/tests/conftest.py
  inference-engine/ie_bridges/python/tests/test_Blob.py
  inference-engine/ie_bridges/python/tests/test_IECore.py
  inference-engine/ie_bridges/python/tests/test_IENetwork.py
  inference-engine/ie_bridges/python/tests/test_InferRequest.py
Labels: category: python api

#7303 Move all utils to common folder
  tests/conditional_compilation/conftest.py
  tests/stress_tests/scripts/compare_memcheck_2_runs.py
  tests/stress_tests/scripts/get_testdata.py
  tests/stress_tests/scripts/memcheck_upload.py
  tests/time_tests/.automation/desktop_test_config.yml
  tests/time_tests/.automation/desktop_test_config_cache.yml
  tests/time_tests/CMakeLists.txt
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/test_runner/__init__.py
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/test_timetest.py
  tests/time_tests/test_runner/utils.py
  tests/utils/__init__.py
  tests/utils/install_pkg.py
  tests/utils/path_utils.py
  tests/utils/platform_utils.py
  tests/utils/proc_utils.py
  tests/utils/utils.py
Labels: category: IE Tests

#7377 Move TF OD API docs to code + several fixes for TF OD API models conversion
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  model-optimizer/extensions/front/tf/ObjectDetectionAPI.py
  model-optimizer/extensions/front/tf/faster_rcnn_support.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v1.10.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v1.13.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v1.14.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v1.15.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v1.7.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v2.0.json
  model-optimizer/extensions/front/tf/faster_rcnn_support_api_v2.4.json
  model-optimizer/extensions/front/tf/mask_rcnn_support.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.11.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.13.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.14.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.15.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v1.7.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v2.0.json
  model-optimizer/extensions/front/tf/mask_rcnn_support_api_v2.4.json
  model-optimizer/extensions/front/tf/rfcn_support.json
  model-optimizer/extensions/front/tf/rfcn_support_api_v1.10.json
  model-optimizer/extensions/front/tf/rfcn_support_api_v1.13.json
  model-optimizer/extensions/front/tf/rfcn_support_api_v1.14.json
  model-optimizer/mo/front/tf/graph_utils.py
  model-optimizer/unit_tests/extensions/front/tf/ObjectDetectionAPI_test.py
  model-optimizer/unit_tests/mo/utils/pipeline_config_test.py
Labels: category: MO

#7370 Revert "[IE CLDNN] Fixed code gen with custom locale (#6243)"
  inference-engine/tests/functional/plugin/gpu/behavior/locale.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_1x1.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_1x1_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_generic.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_zyx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv4.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gemm/gemm_kernel_tiled_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_tile_8x8_4x4.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_tile_8x8_4x4_fsv.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reduce/reduce_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/select/select_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/kernel_base_opencl.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_base.cpp
Labels: category: IE Tests, category: GPU

#7305 [GNA] Fixed scale factors propagation for Eltwise with very different inputs ranges
  inference-engine/src/gna_plugin/frontend/layer_quantizer.hpp
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/tests/functional/plugin/gna/scale_factors_tests/const_input_add.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/caching/caching_tests.cpp
  inference-engine/tests/unit/gna/gna_get_scale_factor.cpp
Labels: category: IE Tests, category: GNA

#7347 [MO] MulFakeQuantizeFuse - don't fuse if mul constant has zero or neg…
  model-optimizer/extensions/middle/MulFakeQuantizeFuse.py
  model-optimizer/unit_tests/extensions/middle/MulQuantizeFuse_test.py
Labels: category: MO

#7415 Fixed compilation with ov::opsetN:op
  ngraph/core/include/openvino/op/ops.hpp
  ngraph/core/include/openvino/opsets/opset1_tbl.hpp
  ngraph/core/include/openvino/opsets/opset2_tbl.hpp
  ngraph/core/include/openvino/opsets/opset3_tbl.hpp
  ngraph/core/include/openvino/opsets/opset4_tbl.hpp
  ngraph/core/include/openvino/opsets/opset5_tbl.hpp
  ngraph/core/include/openvino/opsets/opset6_tbl.hpp
  ngraph/core/include/openvino/opsets/opset7_tbl.hpp
  ngraph/core/include/openvino/opsets/opset8_tbl.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/opset.cpp
Labels: category: nGraph

#7323 Fix return values for lift_up_through func
  model-optimizer/extensions/back/ReverseInputChannels.py
  model-optimizer/unit_tests/extensions/back/ReverseInputChannels_test.py
Labels: category: MO

#7391 [OV20 Preprocessing] Preprocessing API - basic preprocessing functionality
  ngraph/core/include/openvino/core/preprocess/input_info.hpp
  ngraph/core/include/openvino/core/preprocess/input_tensor_info.hpp
  ngraph/core/include/openvino/core/preprocess/pre_post_process.hpp
  ngraph/core/include/openvino/core/preprocess/preprocess_steps.hpp
  ngraph/core/src/preprocess/pre_post_process.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/preprocess.cpp
Labels: category: nGraph

#7423 Fix build failure
  ngraph/test/preprocess.cpp
Labels: bug, category: IE common

#7426 Use dpkg-info to check installed driver
  scripts/install_dependencies/install_NEO_OCL_driver.sh
Labels: bug

#7427 Check installed intel-opencl-icd to find version
  scripts/install_dependencies/install_NEO_OCL_driver.sh
Labels: bug, category: CI

#7400 Aligned macro name OV_CHECK->OPENVINO_ASSERT
  ngraph/core/include/ngraph/check.hpp
  ngraph/core/include/openvino/core/check.hpp
  ngraph/core/include/openvino/core/except.hpp
  ngraph/core/include/openvino/core/node.hpp
  ngraph/test/check.cpp
Labels: category: nGraph

#7429 Hot fix: rename OV_CHECK to OPENVINO_ASSERT
  ngraph/core/src/preprocess/pre_post_process.cpp
Labels: bug, category: nGraph, priority: high

#7422 Add support of pkgutil-style namespace packages
  inference-engine/ie_bridges/python/src/openvino/__init__.py
Labels: category: python api

#7282 [IE PYTHON] dynamic shape api for python
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pxd
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/conftest.py
  inference-engine/ie_bridges/python/tests/test_Blob.py
  inference-engine/ie_bridges/python/tests/test_CDataPtr.py
  inference-engine/ie_bridges/python/tests/test_DataPtr.py
  inference-engine/ie_bridges/python/tests/test_IENetwork.py
  inference-engine/ie_bridges/python/tests/test_InferRequest.py
  inference-engine/ie_bridges/python/tests/test_NGraph.py
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/helpers.py
  ngraph/python/src/pyngraph/partial_shape.cpp
Labels: category: python api

#7406 [regression] Fix clone_function for Assign/ReadValue v3
  ngraph/core/src/graph_util.cpp
  ngraph/test/util.cpp
Labels: bug, category: nGraph

#7352 Added default executable graph result
  inference-engine/src/inference_engine/src/cpp_interfaces/interface/ie_iexecutable_network_internal.cpp
  inference-engine/src/inference_engine/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  inference-engine/src/multi_device/multi_device_plugin.cpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iexecutable_network_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/tests/functional/inference_engine/caching_test.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/exec_graph_info.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mock.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_not_empty_icnn_network.hpp
Labels: category: IE common, category: IE Tests, category: MULTI

#7318 [GPU] Improve memory usage management to distinguish allocation type
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/engine.hpp
  inference-engine/thirdparty/clDNN/runtime/engine.cpp
  inference-engine/thirdparty/clDNN/runtime/memory.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/memory_test.cpp
Labels: category: GPU

#7428 Unused transformations deleted
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/ReduceMerge.py
  model-optimizer/extensions/back/ScalarConstNormalize.py
  model-optimizer/extensions/back/ShufflenetReLUReorder.py
  model-optimizer/extensions/back/TopKNormalizer.py
  model-optimizer/unit_tests/extensions/back/ShufflenetReLUReorder_test.py
Labels: category: MO

#7170 MaxPool-8 python API
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/ngraph_function_creation_sample.py
  ngraph/python/src/ngraph/opset8/__init__.py
  ngraph/python/src/ngraph/opset8/ops.py
  ngraph/python/tests/test_ngraph/test_ops.py
  ngraph/python/tests/test_ngraph/test_pooling.py
Labels: category: nGraph

#7159 [LPT][Transformations] Dynamic shapes support: functional issues fixes
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/fake_quantize_dequantization.cpp
  inference-engine/src/low_precision_transformations/src/multiply.cpp
  inference-engine/src/low_precision_transformations/src/mvn.cpp
  inference-engine/src/low_precision_transformations/src/reshape.cpp
  inference-engine/src/transformations/include/ngraph_ops/type_relaxed.hpp
  inference-engine/tests/functional/inference_engine/lp_transformations/add_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/reshape_transformation.cpp
  inference-engine/tests/functional/inference_engine/transformations/type_relaxed_tests.cpp
  ngraph/core/src/interval.cpp
  ngraph/core/src/op/tile.cpp
  ngraph/test/intervals.cpp
Labels: category: nGraph, category: LP transformations

#6812 Fixed sort port bug in SortTopologically
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
Labels: category: CPU

#7424 [MO] add uint32/uint8 into list of supported data types
  model-optimizer/mo/middle/passes/convert_data_type.py
Labels: bug, category: MO

#7326 GatherTree specification refactored
  docs/ops/movement/GatherTree_1.md
Labels: category: nGraph, category: docs

#7230 Moved executable network into ov::runtime namespace
  inference-engine/src/inference_engine/include/openvino/runtime/common.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/executable_network.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/infer_request.hpp
  inference-engine/src/inference_engine/src/cpp/ie_executable_network.cpp
  inference-engine/tests/functional/inference_engine/ov_executable_network_test.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/ov_core_integration.hpp
Labels: category: IE common, category: IE Tests, category: GPU, category: CPU, category: VPU

#7348 Removed FPGA related deprecated documentation
  docs/doxygen/openvino_docs.xml
  docs/install_guides/PAC_Configure.md
  docs/install_guides/PAC_Configure_2018R5.md
  docs/install_guides/PAC_Configure_2019RX.md
  docs/install_guides/VisionAcceleratorFPGA_Configure.md
  docs/install_guides/VisionAcceleratorFPGA_Configure_2018R5.md
  docs/install_guides/VisionAcceleratorFPGA_Configure_2019R1.md
  docs/install_guides/VisionAcceleratorFPGA_Configure_2019R3.md
  docs/install_guides/VisionAcceleratorFPGA_Configure_Windows.md
Labels: category: docs

#7442 [IE][VPU] Fix execTimeMcs for VPU
  inference-engine/src/vpu/graph_transformer/src/utils/runtime_graph.cpp
Labels: category: VPU

#7419 Openvino cmake config
  .ci/openvino-onnx/Dockerfile
  CMakeLists.txt
  cmake/templates/InferenceEngineConfig.cmake.in
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  cmake/templates/OpenVINOConfig-version.cmake.in
  cmake/templates/OpenVINOConfig.cmake.in
  cmake/templates/ngraphConfig.cmake.in
  docs/CMakeLists.txt
  docs/IE_DG/Extensibility_DG/Building.md
  docs/IE_DG/Extensibility_DG/Custom_ONNX_Ops.md
  docs/IE_DG/Integrate_with_customer_application_new_API.md
  docs/doxygen/ngraph_cpp_api.config
  docs/onnx_custom_op/CMakeLists.txt
  docs/template_extension/CMakeLists.txt
  docs/template_extension/extension.cpp
  inference-engine/ie_bridges/c/src/CMakeLists.txt
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/inference_engine/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/test_utils/CMakeLists.txt
  inference-engine/samples/CMakeLists.txt
  inference-engine/samples/common/utils/CMakeLists.txt
  inference-engine/samples/hello_reshape_ssd/CMakeLists.txt
  inference-engine/samples/ngraph_function_creation_sample/CMakeLists.txt
  inference-engine/samples/object_detection_sample_ssd/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/legacy_api/CMakeLists.txt
  inference-engine/src/transformations/CMakeLists.txt
  model-optimizer/unit_tests/mock_mo_frontend/mock_mo_ngraph_frontend/CMakeLists.txt
  model-optimizer/unit_tests/mock_mo_frontend/mock_mo_python_api/CMakeLists.txt
  ngraph/core/CMakeLists.txt
  ngraph/frontend/frontend_manager/CMakeLists.txt
  ngraph/frontend/ir/CMakeLists.txt
  ngraph/frontend/onnx/frontend/CMakeLists.txt
  ngraph/frontend/onnx/onnx_common/CMakeLists.txt
  ngraph/frontend/paddlepaddle/CMakeLists.txt
  runtime/CMakeLists.txt
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/setup.py
  runtime/bindings/python/src/compatibility/CMakeLists.txt
  runtime/bindings/python/src/compatibility/pyngraph/CMakeLists.txt
  runtime/bindings/python/tests/mock/mock_py_ngraph_frontend/CMakeLists.txt
  runtime/bindings/python/tests/mock/pyngraph_fe_mock_api/CMakeLists.txt
  runtime/bindings/python/tox.ini
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.sh
  tests/fuzz/CMakeLists.txt
  tests/fuzz/src/CMakeLists.txt
  tests/lib/src/CMakeLists.txt
Labels: category: IE common, category: build

#7269 Add PlaceOpONNX and some missing Place's methods
  ngraph/frontend/onnx/frontend/src/edge_mapper.cpp
  ngraph/frontend/onnx/frontend/src/edge_mapper.hpp
  ngraph/frontend/onnx/frontend/src/editor.cpp
  ngraph/frontend/onnx/frontend/src/editor.hpp
  ngraph/frontend/onnx/frontend/src/input_model.cpp
  ngraph/frontend/onnx/frontend/src/input_model.hpp
  ngraph/frontend/onnx/frontend/src/place.cpp
  ngraph/frontend/onnx/frontend/src/place.hpp
  ngraph/test/onnx/onnx_editor.cpp
  runtime/bindings/python/tests/test_frontend/test_frontend_onnx_editor.py
Labels: category: ONNX FE

#7439 Change PowerIE to ops chain
  inference-engine/tests/functional/shared_test_classes/src/subgraph/softsign.cpp
Labels: category: IE Tests

#6983 [MO] Updating MO to detect TF 2.X OD API models
  model-optimizer/extensions/analysis/tf_od_api.py
  model-optimizer/mo/utils/model_analysis.py
Labels: category: MO

#7463 Remove optimization for sea_itt_lib
  thirdparty/itt_collector/sea_itt_lib/CMakeLists.txt
Labels: category: IE common, category: build

#7086 udpate scatter spec
  docs/ops/movement/ScatterUpdate_3.md
Labels: category: docs

#7467 Trying to re-use OpenVINOConfig.cmake
  CMakeLists.txt
  cmake/templates/InferenceEngineConfig.cmake.in
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  cmake/templates/ngraphConfig.cmake.in
  inference-engine/ie_bridges/c/src/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/transformations/CMakeLists.txt
  ngraph/core/CMakeLists.txt
  ngraph/frontend/frontend_manager/CMakeLists.txt
  ngraph/frontend/onnx/frontend/CMakeLists.txt
  ngraph/frontend/paddlepaddle/CMakeLists.txt
Labels: category: build

#7296 [Frontend][Paddle]Handle Exception in Op Conversion.
  ngraph/frontend/paddlepaddle/src/frontend.cpp
  ngraph/frontend/paddlepaddle/src/model.cpp
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_lower_version.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_pad3d.py
  ngraph/test/frontend/paddlepaddle/throw_in_conversion.cpp
Labels: category: nGraph, category: PDPD FE

#7397 Updated requirements for tests
  tests/conditional_compilation/requirements.txt
  tests/stress_tests/scripts/requirements.txt
  tests/time_tests/test_runner/requirements.txt
Labels: category: IE Tests, category: dependencies

#7299 [IE TESTS] Move SKIP macro from test bodies to SetUp() in InferRequestCancelation & Move Infer_Request_dynamic tests to the correct folder
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/infer_request/infer_request_dynamic.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request/infer_requset_dynamic.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request/cancellation.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request/infer_request_dynamic.hpp
Labels: category: IE Tests

#6864 [CPU] Added inplace support for concat with axis != 1
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_concat_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_concat_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/concat.cpp
Labels: category: IE Tests, category: CPU

#7420 [Time tests] Add new exec with VPU compiler option (set config with MLIR compiler)
  tests/time_tests/src/timetests/timetest_infer_vpu_mlir_compiler.cpp
Labels: category: IE Tests

#6360 DO optimization
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_detection_output_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_detection_output_node.h
Labels: category: CPU

#7242 [CPU] Disable NotImpelmented exceptions mechanism for generic node.
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_generic_node.cpp
  inference-engine/src/mkldnn_plugin/utils/general_utils.h
Labels: category: CPU

#7396 Paddle 'slice' should set correct beg_mask and end_mask paramters
  ngraph/frontend/paddlepaddle/src/op/slice.cpp
Labels: category: PDPD FE

#7472 Removed some ticket number which are already fixed
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/shared_test_classes/CMakeLists.txt
Labels: category: IE common, category: IE Tests, category: build

#7445 [GNA] Fixed scale factors propagation for Eltwise with very different inputs ranges (#7305)
  inference-engine/src/gna_plugin/frontend/layer_quantizer.hpp
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/tests/functional/plugin/gna/scale_factors_tests/const_input_add.cpp
  inference-engine/tests/unit/gna/gna_get_scale_factor.cpp
Labels: category: IE Tests, category: GNA

#7483 Add apt update
  .github/workflows/build_doc.yml
  .github/workflows/code_style.yml
  .github/workflows/mo.yml
Labels: category: CI

#7484 Add apt update
  .github/workflows/build_doc.yml
  .github/workflows/code_style.yml
  .github/workflows/mo.yml
Labels: category: CI

#7413 Use one set of parentheses around gcc attribute deprecated arg
  inference-engine/src/inference_engine/include/ie/ie_api.h
  ngraph/core/include/openvino/core/deprecated.hpp
Labels: category: IE common, category: nGraph, ExternalPR

#7474 Removed information about FPGA plugin
  docs/IE_DG/Glossary.md
  docs/IE_DG/InferenceEngine_QueryAPI.md
  docs/IE_DG/supported_plugins/HETERO.md
  docs/doxygen/openvino_docs.xml
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-linux-fpga.md
  docs/install_guides/installing-openvino-windows-fpga.md
  docs/optimization_guide/dldt_optimization_guide.md
  docs/snippets/HETERO1.cpp
  docs/snippets/HETERO2.cpp
  docs/snippets/dldt_optimization_guide0.cpp
  inference-engine/ie_bridges/c/include/c_api/ie_c_api.h
  inference-engine/ie_bridges/python/src/openvino/inference_engine/constants.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/wheel/meta/pypi_overview.md
  inference-engine/samples/benchmark_app/README.md
  inference-engine/samples/benchmark_app/utils.cpp
  inference-engine/src/inference_engine/include/ie/ie_core.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/core.hpp
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/plugin_api/ie_icore.hpp
  inference-engine/src/plugin_api/threading/ie_executor_manager.hpp
  inference-engine/tests_deprecated/behavior/shared_tests/plugin_tests/behavior_test_plugin.h
  runtime/bindings/python/tests/conftest.py
  scripts/demo/README.txt
  tests/layer_tests/common/constants.py
  tools/benchmark_tool/README.md
  tools/benchmark_tool/openvino/tools/benchmark/utils/constants.py
  tools/compile_tool/README.md
  tools/compile_tool/main.cpp
Labels: category: IE common, category: IE Tests, category: python api, category: CI, category: docs, category: tools

#7259 Created openvino plugin c++ wrapper
  inference-engine/src/inference_engine/include/ie/details/ie_so_loader.h
  inference-engine/src/inference_engine/include/openvino/runtime/core.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/executable_network.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/infer_request.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/remote_context.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/variable_state.hpp
  inference-engine/src/inference_engine/src/cpp/ie_executable_network.cpp
  inference-engine/src/inference_engine/src/cpp/ie_infer_request.cpp
  inference-engine/src/inference_engine/src/cpp/ie_plugin.hpp
  inference-engine/src/inference_engine/src/cpp/ie_variable_state.cpp
  inference-engine/src/inference_engine/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/inference_engine/src/os/lin/lin_shared_object_loader.cpp
  inference-engine/src/inference_engine/src/os/win/win_shared_object_loader.cpp
  inference-engine/src/inference_engine/src/remote_context.cpp
  inference-engine/src/multi_device/multi_device_async_infer_request.cpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/shared_object.hpp
  inference-engine/src/plugin_api/so_ptr.hpp
  inference-engine/tests/functional/inference_engine/ov_shared_object_test.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/ov_core_integration.hpp
Labels: category: IE common, category: IE Tests

#6993 OV Performance Hints (CPU and GPU logic for selecting the actual configs), while AUTO/MULTI are passing them thru)
  inference-engine/samples/benchmark_app/README.md
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  inference-engine/samples/benchmark_app/main.cpp
  inference-engine/src/cldnn_engine/cldnn_config.cpp
  inference-engine/src/cldnn_engine/cldnn_config.h
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.h
  inference-engine/src/cldnn_engine/cldnn_executable_network.cpp
  inference-engine/src/inference_engine/include/ie/ie_plugin_config.hpp
  inference-engine/src/inference_engine/src/threading/ie_istreams_executor.cpp
  inference-engine/src/mkldnn_plugin/config.cpp
  inference-engine/src/mkldnn_plugin/config.h
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.h
  inference-engine/src/multi_device/multi_device_exec_network.cpp
  inference-engine/src/multi_device/multi_device_plugin.cpp
  inference-engine/src/plugin_api/ie_performance_hints.hpp
  inference-engine/src/plugin_api/performance_heuristics.hpp
  inference-engine/src/plugin_api/threading/ie_istreams_executor.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/config.cpp
  tools/benchmark_tool/README.md
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: category: IE common, category: IE Tests, category: GPU, category: CPU, category: MULTI

#7452 [OV20] Layout class implementation - basic API
  ngraph/core/include/openvino/core/layout.hpp
  ngraph/core/include/openvino/core/preprocess/input_tensor_info.hpp
  ngraph/core/include/openvino/core/preprocess/preprocess_steps.hpp
  ngraph/core/src/layout.cpp
  ngraph/core/src/preprocess/pre_post_process.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/layout.cpp
  ngraph/test/preprocess.cpp
Labels: category: nGraph

#7498 Fixed test runner
  tests/stress_tests/common/utils.cpp
Labels: category: IE Tests

#7470 fix build issue due to implicit-const-int-float-conversion and remove unused lambda function
  inference-engine/src/gna_plugin/frontend/layer_quantizer.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/runtime/pwl.cpp
Labels: category: GNA, ExternalPR

#7466 [GNA] Fix permute precision handling
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/transpose_add.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/transpose_add.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/transpose_add.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/transpose_add.cpp
Labels: category: IE Tests, category: GNA

#7453 Reverted to Remote Context
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.h
  inference-engine/src/cldnn_engine/cldnn_executable_network.cpp
  inference-engine/src/cldnn_engine/cldnn_executable_network.h
  inference-engine/src/cldnn_engine/cldnn_remote_context.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.h
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/inference_engine/include/ie/gpu/gpu_context_api_ocl.hpp
  inference-engine/src/inference_engine/include/ie/ie_remote_context.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/remote_context.hpp
  inference-engine/src/inference_engine/src/cpp/ie_executable_network.cpp
  inference-engine/src/inference_engine/src/cpp/ie_executable_network_base.hpp
  inference-engine/src/inference_engine/src/cpp/ie_plugin.hpp
  inference-engine/src/inference_engine/src/cpp_interfaces/interface/ie_iexecutable_network_internal.cpp
  inference-engine/src/inference_engine/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  inference-engine/src/inference_engine/src/cpp_interfaces/interface/ie_iremote_context.cpp
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/inference_engine/src/remote_context.cpp
  inference-engine/src/multi_device/multi_device_exec_network.cpp
  inference-engine/src/multi_device/multi_device_exec_network.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iexecutable_network_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iremote_context.hpp
  inference-engine/tests/functional/inference_engine/caching_test.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_icore.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iexecutable_network_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iinference_plugin.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.hpp
Labels: category: IE common, category: IE Tests, category: GPU, category: GNA, category: MULTI

#6951 Add MulConvFusion transformation
  inference-engine/src/offline_transformations/src/moc_transformations.cpp
  inference-engine/src/transformations/include/transformations/common_optimizations/mul_conv_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/mul_conv_fusion.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/mul_conv_fusion.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/mul_conv_fusion.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/mul_conv_fusion.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/mul_conv_fusion.cpp
Labels: category: IE Tests

#7333 [GNA] Expanding transformations: swap_input_matmul and handle_transposes_around_matmul
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/transformations/handle_transposes_around_matmul.cpp
  inference-engine/src/gna_plugin/transformations/handle_transposes_around_matmul.hpp
  inference-engine/src/gna_plugin/transformations/insert_reshape_around_matmul.cpp
  inference-engine/src/gna_plugin/transformations/insert_reshape_around_matmul.hpp
  inference-engine/src/gna_plugin/transformations/swap_input_matmul_gna.cpp
  inference-engine/src/gna_plugin/transformations/swap_input_matmul_gna.hpp
  inference-engine/tests/functional/plugin/gna/pass_tests/convert_matmul_to_fullyconnected.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_insert_reshape_around_matmul.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_swap_input_matmul.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/handle_transposes_around_matmul.cpp
Labels: category: IE Tests, category: GNA

#7480 Add support for com.microsoft.BiasGelu operator
  ngraph/frontend/onnx/frontend/src/op/com.microsoft/bias_gelu.cpp
  ngraph/frontend/onnx/frontend/src/op/com.microsoft/bias_gelu.hpp
  ngraph/frontend/onnx/frontend/src/ops_bridge.cpp
  ngraph/test/models/onnx/bias_gelu.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
Labels: category: nGraph

#6403 Models cache for CPU plugin
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/low_precision_transformations/src/convolution.cpp
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.h
  inference-engine/src/mkldnn_plugin/mkldnn_extension.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_extension.h
  inference-engine/src/mkldnn_plugin/mkldnn_extension_mngr.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_extension_mngr.h
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.h
  inference-engine/src/mkldnn_plugin/mkldnn_serialize.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_serialize.h
  inference-engine/src/mkldnn_plugin/ngraph_transformations/op/fully_connected.cpp
  inference-engine/src/mkldnn_plugin/ngraph_transformations/op/leaky_relu.hpp
  inference-engine/src/mkldnn_plugin/ngraph_transformations/op/power_static.hpp
  inference-engine/src/mkldnn_plugin/ngraph_transformations/op/swish_cpu.hpp
  inference-engine/src/transformations/include/ngraph_ops/type_relaxed.hpp
  inference-engine/src/transformations/include/transformations/serialize.hpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  ngraph/core/include/openvino/core/type/element_type.hpp
  ngraph/core/src/rt_info.cpp
  ngraph/core/src/type/element_type.cpp
  ngraph/frontend/ir/src/model.cpp
Labels: category: IE common, category: nGraph, category: CPU

#7201 [CPU] Add check for MKLDNNInputNode on second branch in MKLDNNDeconvolutionNode::canBeExecutedInInt8
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_deconv_node.cpp
Labels: category: CPU

#7489 Exclude 3rd party python packages from lsan
  tests/lsan/suppressions.txt
Labels: category: IE Tests

#7486 Fix win32 compilation (Cherry pick from master to releases/2021/4)
  inference-engine/src/inference_engine/compilation_context.cpp
Labels: category: IE common

#6620 [requirements] Set TF to 2.5.0
  model-optimizer/requirements.txt
  model-optimizer/requirements_tf2.txt
  ngraph/test/frontend/paddlepaddle/requirements_dev.txt
  tests/stress_tests/scripts/requirements.txt
  tests/time_tests/test_runner/requirements.txt
Labels: category: MO

#7304 New Slice-8 ngraph op shell
  ngraph/core/include/ngraph/op/slice.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/include/openvino/op/ops.hpp
  ngraph/core/include/openvino/op/slice.hpp
  ngraph/core/include/openvino/opsets/opset8_tbl.hpp
  ngraph/core/src/op/slice.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/opset.cpp
  ngraph/test/type_prop/slice.cpp
  ngraph/test/visitors/op/slice.cpp
Labels: category: nGraph

#7416 Fixed issue with memcpy().
  ngraph/core/reference/include/ngraph/runtime/reference/random_uniform.hpp
  ngraph/core/reference/src/runtime/reference/random_uniform.cpp
Labels: category: nGraph

#6665 Incorrect result of Minimum op if u8/16/64 data type is used
  docs/template_plugin/tests/functional/op_reference/minimum.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_minimum_to_power_and_max.cpp
  ngraph/core/src/op/minimum.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/minimum.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/util/engine/ie_engines.cpp
  runtime/bindings/python/tests/__init__.py
  runtime/bindings/python/tests/test_onnx/test_backend.py
Labels: category: nGraph

#7507 Removed QueryNetworkResult from new API
  inference-engine/src/inference_engine/include/openvino/runtime/common.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/core.hpp
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/ov_core_integration.hpp
Labels: category: IE common, category: IE Tests

#7494 Remove `demo_security_barrier_camera` and update relevant docs
  docs/get_started/get_started_linux.md
  docs/get_started/get_started_macos.md
  docs/get_started/get_started_raspbian.md
  docs/get_started/get_started_windows.md
  docs/img/inference_pipeline_script_lnx.png
  docs/img/inference_pipeline_script_mac.png
  docs/img/inference_pipeline_script_win.png
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
  docs/install_guides/installing-openvino-linux.md
  scripts/demo/README.txt
  scripts/demo/demo_security_barrier_camera.conf
  scripts/demo/demo_security_barrier_camera.sh
  scripts/demo/demo_squeezenet_download_convert_run.bat
  scripts/demo/run_sample_benchmark_app.bat
  scripts/demo/run_sample_benchmark_app.sh
  scripts/demo/run_sample_squeezenet.bat
  scripts/demo/run_sample_squeezenet.sh
Labels: category: samples, category: CI, category: docs

#7319 Extend ONNX Importer for operation "If"
  ngraph/frontend/onnx/frontend/include/onnx_import/core/node.hpp
  ngraph/frontend/onnx/frontend/src/core/attribute.cpp
  ngraph/frontend/onnx/frontend/src/core/attribute.hpp
  ngraph/frontend/onnx/frontend/src/core/graph.cpp
  ngraph/frontend/onnx/frontend/src/core/graph.hpp
  ngraph/frontend/onnx/frontend/src/core/node.cpp
  ngraph/frontend/onnx/frontend/src/onnx_framework_node.hpp
  ngraph/frontend/onnx/frontend/src/op/if.cpp
  ngraph/frontend/onnx/frontend/src/op/if.hpp
  ngraph/frontend/onnx/frontend/src/op/loop.cpp
  ngraph/frontend/onnx/frontend/src/ops_bridge.cpp
  ngraph/frontend/onnx/frontend/src/utils/onnx_internal.cpp
  ngraph/test/models/onnx/controlflow/if_branches_with_different_inputs.prototxt
  ngraph/test/models/onnx/controlflow/if_branches_with_multiple_outputs.prototxt
  ngraph/test/models/onnx/controlflow/if_branches_with_same_inputs.prototxt
  ngraph/test/models/onnx/controlflow/if_branches_without_inputs.prototxt
  ngraph/test/models/onnx/controlflow/if_dynamic_inputs.prototxt
  ngraph/test/models/onnx/controlflow/if_inside_if.prototxt
  ngraph/test/models/onnx/controlflow/if_inside_loop.prototxt
  ngraph/test/models/onnx/controlflow/if_missing_else_branch.prototxt
  ngraph/test/models/onnx/controlflow/if_missing_then_branch.prototxt
  ngraph/test/models/onnx/controlflow/if_negative_mismatch_between_branches_output.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_cond_and_trip_count_as_inputs.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_cond_and_trip_count_as_inputs_static_shapes.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_const_cond.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_const_no_identity_termination_cond.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_const_no_identity_termination_cond_static_shapes.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_incorrect_access_body_scope.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_initializer_from_parent_scope.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_input_from_parent_graph.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_no_identity_termination_cond.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_no_identity_termination_cond_false.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_no_identity_termination_cond_static_shapes.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_node_from_parent_scope.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_the_same_name.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_trip_count_and_cond_skipped.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_trip_count_dynamic.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_add_trip_count_max_int.prototxt
  ngraph/test/models/onnx/controlflow/loop_2d_mul_opset1.prototxt
  ngraph/test/models/onnx/controlflow/loop_add_node_from_parent_scope_infer_types.prototxt
  ngraph/test/models/onnx/controlflow/loop_add_node_from_parent_scope_used_in_parent_and_in_body.prototxt
  ngraph/test/models/onnx/controlflow/loop_concat_values.prototxt
  ngraph/test/models/onnx/controlflow/loop_infinite.prototxt
  ngraph/test/models/onnx/controlflow/loop_no_variadic_inputs_and_outputs.prototxt
  ngraph/test/models/onnx/controlflow/loop_pow.prototxt
  ngraph/test/models/onnx/controlflow/loop_scalars_add.prototxt
  ngraph/test/models/onnx/controlflow/onnx_controlflow_loop_2d_infer_types.prototxt
  ngraph/test/onnx/onnx_import_controlflow.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  runtime/bindings/python/tests/__init__.py
  runtime/bindings/python/tests/test_onnx/test_backend.py
  runtime/bindings/python/tests/test_onnx/test_zoo_models.py
Labels: category: nGraph

#7485 [ONNX FE] Add overloads of Place ctors which takes r-value
  ngraph/frontend/onnx/frontend/src/input_model.cpp
  ngraph/frontend/onnx/frontend/src/place.cpp
  ngraph/frontend/onnx/frontend/src/place.hpp
Labels: category: nGraph, category: ONNX FE

#7373 RandomUniform Python API.
  runtime/bindings/python/src/compatibility/ngraph/__init__.py
  runtime/bindings/python/src/compatibility/ngraph/opset8/__init__.py
  runtime/bindings/python/src/compatibility/ngraph/opset8/ops.py
  runtime/bindings/python/tests/test_ngraph/test_random_uniform.py
Labels: category: nGraph

#6723 [LPT] MoveFakeQuantize
  inference-engine/src/low_precision_transformations/include/low_precision/move_fake_quantize.hpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/low_precision.cpp
  inference-engine/src/low_precision_transformations/src/move_fake_quantize.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/move_fake_quantize_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/move_fake_quantize_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/move_fake_quantize_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/move_fake_quantize_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/move_fake_quantize_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/move_fake_quantize_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/move_fake_quantize_function.cpp
Labels: category: IE Tests, category: LP transformations, ExternalPR

#7374 [IE PYTHON] wait for infer callback to complete
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pxd
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/tests/test_ExecutableNetwork.py
  inference-engine/ie_bridges/python/tests/test_InferRequest.py
Labels: category: python api

#7335 revise RNNCell RNNsequence operation class
  ngraph/core/src/op/rnn_sequence.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/rnn_sequence.cpp
  ngraph/test/visitors/op/rnn_sequence.cpp
Labels: category: nGraph

#7509 Add atan to template plugin test
  docs/template_plugin/tests/functional/op_reference/atan.cpp
  ngraph/core/src/op/atan.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/atan.in.cpp
Labels: category: nGraph, category: TEMPLATE

#7187 RandomUniformFusion transformation.
  inference-engine/src/offline_transformations/src/moc_transformations.cpp
  inference-engine/src/transformations/include/transformations/common_optimizations/random_uniform_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/random_uniform_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/random_uniform_fusion_test.cpp
  tests/layer_tests/tensorflow_tests/test_tf_RandomUniform.py
Labels: category: nGraph, category: IE Tests

#7451 Add stress unit tests with several processes to config
  tests/stress_tests/.automation/unittests/nightly_configs/desktop_test_config.xml
  tests/stress_tests/.automation/unittests/nightly_configs/myriad_test_config.xml
  tests/stress_tests/.automation/unittests/weekly_configs/desktop_test_config.xml
Labels: category: IE Tests

#7450 [IE Python Speech Sample] Refactor code to output result after each utterance infer
  inference-engine/ie_bridges/python/sample/speech_sample/speech_sample.py
Labels: category: python api, category: samples

#7411 Make time && stress tests independent from IEDeveloperPackage
  tests/stress_tests/CMakeLists.txt
  tests/stress_tests/README.md
  tests/stress_tests/common/CMakeLists.txt
  tests/time_tests/CMakeLists.txt
  tests/time_tests/README.md
Labels: category: IE Tests

#7534 Update azure onnx linux 2021/4
  .ci/azure/linux_ngraph_onnx.yml
Labels: category: CI

#7360 Introduced template for OV2.0 migration guide
  docs/index.md
  docs/migration_ov_2_0/docs/common_inference_pipeline.md
  docs/migration_ov_2_0/docs/intro.md
  docs/snippets/ie_common.cpp
  docs/snippets/ov_common.cpp
  inference-engine/src/inference_engine/include/openvino/runtime/runtime.hpp
Labels: category: IE common, category: docs

#7454 Disabled TBB Executor
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests, category: CPU

#7433 Add `use_device_mem` option to benchmark_app
  inference-engine/samples/benchmark_app/CMakeLists.txt
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  inference-engine/samples/benchmark_app/infer_request_wrap.hpp
  inference-engine/samples/benchmark_app/main.cpp
  inference-engine/samples/benchmark_app/remote_blobs_filling.cpp
  inference-engine/samples/benchmark_app/remote_blobs_filling.hpp
  thirdparty/ocl/CMakeLists.txt
Labels: category: GPU, category: samples

#7380 Enable CPU accelerate FIL in MULTI
  inference-engine/src/multi_device/multi_device_exec_network.cpp
  inference-engine/src/multi_device/multi_device_exec_network.hpp
  inference-engine/src/multi_device/multi_device_plugin.cpp
  inference-engine/src/multi_device/multi_device_plugin.hpp
  inference-engine/tests/functional/plugin/conformance/test_runner/src/behavior/infer_request/perf_counters.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request/config.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request/perf_counters.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/test_plugin.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/infer_request/callback.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/infer_request/perf_counters.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/infer_request/wait.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/preprocessing/set_preprocess.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/test_plugin.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/version.cpp
Labels: category: IE common, category: IE Tests, category: MULTI

#7482 [IE Python Speech Sample] Enable --scale_factor for multiple input files
  inference-engine/ie_bridges/python/sample/speech_sample/README.md
  inference-engine/ie_bridges/python/sample/speech_sample/arg_parser.py
  inference-engine/ie_bridges/python/sample/speech_sample/speech_sample.py
Labels: category: python api, category: samples

#7546 Revert IB again
  .ci/azure/windows.yml
Labels: category: CI

#7526 [GPU] Fix RapidJSON assertion failure during loading offline kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/auto_tuner.cpp
Labels: category: GPU

#7407 [GPU] Update debug config verbose option to show the name of tensors allocated
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/ops/constant.cpp
  inference-engine/src/cldnn_engine/ops/ctc_greedy_decoder.cpp
  inference-engine/src/cldnn_engine/ops/non_max_suppression.cpp
  inference-engine/src/cldnn_engine/ops/proposal.cpp
  inference-engine/src/cldnn_engine/ops/topk.cpp
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/debug_configuration.hpp
  inference-engine/thirdparty/clDNN/runtime/memory_pool.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/primitive_base.hpp
  inference-engine/thirdparty/clDNN/src/primitive_inst.cpp
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#7109 [GPU] Allocate internal buffer to usm_device
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_engine.cpp
  inference-engine/thirdparty/clDNN/src/impls/common/wait_for_events.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/primitive_base.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/primitive_base.hpp
  inference-engine/thirdparty/clDNN/src/include/primitive_inst.h
  inference-engine/thirdparty/clDNN/src/network.cpp
  inference-engine/thirdparty/clDNN/src/primitive_inst.cpp
  inference-engine/thirdparty/clDNN/tests/module_tests/usm_memory_test.cpp
Labels: category: GPU

#7432 [General] Statically detected issues.
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_bucketize_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_cum_sum_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_def_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_topkrois_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_grn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_log_softmax_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reverse_sequence_node.cpp
  ngraph/frontend/ir/src/model.cpp
Labels: category: nGraph, category: CPU

#7283 Change sort functions to fix incorrect order in port dictionaries
  model-optimizer/extensions/front/tf/ObjectDetectionAPI.py
  model-optimizer/mo/graph/graph.py
  model-optimizer/unit_tests/mo/graph/graph_test.py
  model-optimizer/unit_tests/utils/graph.py
Labels: bug, category: MO

#7529 Moved graph validation utils to ov
  docs/snippets/nGraphTutorial.cpp
  ngraph/core/include/ngraph/graph_util.hpp
  ngraph/core/include/ngraph/validation_util.hpp
  ngraph/core/include/openvino/core/graph_util.hpp
  ngraph/core/include/openvino/core/validation_util.hpp
  ngraph/core/src/graph_util.cpp
  ngraph/core/src/validation_util.cpp
Labels: category: nGraph

#7515 Introduced new RTTI macros for nGraph
  ngraph/core/include/ngraph/compatibility.hpp
  ngraph/core/include/ngraph/factory.hpp
  ngraph/core/include/ngraph/opsets/opset.hpp
  ngraph/core/include/ngraph/opsets/opset1_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset2_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset3_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset4_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset5_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset6_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset7_tbl.hpp
  ngraph/core/include/ngraph/opsets/opset8_tbl.hpp
  ngraph/core/include/openvino/core/node.hpp
  ngraph/core/include/openvino/core/rtti.hpp
  ngraph/core/include/openvino/core/type.hpp
  ngraph/core/include/openvino/op/op.hpp
  ngraph/core/include/openvino/opsets/opset.hpp
  ngraph/core/include/openvino/opsets/opset1.hpp
  ngraph/core/include/openvino/opsets/opset1_tbl.hpp
  ngraph/core/include/openvino/opsets/opset2.hpp
  ngraph/core/include/openvino/opsets/opset2_tbl.hpp
  ngraph/core/include/openvino/opsets/opset3.hpp
  ngraph/core/include/openvino/opsets/opset3_tbl.hpp
  ngraph/core/include/openvino/opsets/opset4.hpp
  ngraph/core/include/openvino/opsets/opset4_tbl.hpp
  ngraph/core/include/openvino/opsets/opset5.hpp
  ngraph/core/include/openvino/opsets/opset5_tbl.hpp
  ngraph/core/include/openvino/opsets/opset6.hpp
  ngraph/core/include/openvino/opsets/opset6_tbl.hpp
  ngraph/core/include/openvino/opsets/opset7.hpp
  ngraph/core/include/openvino/opsets/opset7_tbl.hpp
  ngraph/core/include/openvino/opsets/opset8.hpp
  ngraph/core/include/openvino/opsets/opset8_tbl.hpp
  ngraph/core/src/node.cpp
  ngraph/core/src/op/op.cpp
  ngraph/core/src/opsets/opset.cpp
  ngraph/core/src/type.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/opset.cpp
  ngraph/test/rtti.cpp
  ngraph/test/type_info.cpp
Labels: category: nGraph

#6931 Refactor node dumping to avoid extra code in Infer method
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/utils/node_dumper.cpp
  inference-engine/src/mkldnn_plugin/utils/node_dumper.h
Labels: category: CPU

#7517 [LPT] getDequantization: added precision limitation for mul/sub constants
  inference-engine/src/low_precision_transformations/src/fake_quantize_dequantization.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/get_dequantization_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/multiply_to_group_convolution_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/reshape_transformation.cpp
Labels: category: IE Tests, category: CPU, category: LP transformations

#7540 Add missing spaces between words in string literals
  .ci/openvino-onnx/watchdog/src/watchdog.py
  model-optimizer/extensions/front/tf/non_max_suppression_ext.py
  model-optimizer/extensions/load/tf/loader.py
  model-optimizer/extensions/middle/StridedSliceNormalizer.py
  model-optimizer/extensions/middle/TensorIteratorInput.py
  model-optimizer/extensions/ops/If.py
  model-optimizer/mo/front/caffe/extractor.py
  model-optimizer/mo/front/caffe/loader.py
  model-optimizer/mo/utils/cli_parser.py
  model-optimizer/unit_tests/mo/front/caffe/loader_test.py
  model-optimizer/unit_tests/mo/frontend_ngraph_test_actual.py
  model-optimizer/unit_tests/mo/moc_frontend/moc_extractor_test_actual.py
  runtime/bindings/python/tests/__init__.py
  tests/stress_tests/scripts/run_memcheck.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/deployment_manager/deployman/main.py
Labels: category: MO

#7558 change references for memcheck pre-commit
  tests/stress_tests/.automation/memcheck_tests/precommit_configs/desktop_references_config.xml
  tests/stress_tests/scripts/memcheck-template/timeline_report.html
Labels: category: IE Tests

#7563 setupvars: updated OpenCV location
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.sh
Labels: category: CI

#7249 Replace IR Reader With IR Frontend
  cmake/features.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  cmake/templates/ngraphConfig.cmake.in
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/src/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/src/ie_network_reader.cpp
  inference-engine/src/readers/CMakeLists.txt
  inference-engine/src/readers/ir_reader/CMakeLists.txt
  inference-engine/src/readers/ir_reader/ie_ir_itt.hpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader_v7/CMakeLists.txt
  inference-engine/src/readers/ir_reader_v7/ie_ir_parser.hpp
  inference-engine/src/readers/ir_reader_v7/ie_ir_reader.cpp
  inference-engine/src/readers/ir_reader_v7/ie_ir_reader.hpp
  inference-engine/src/readers/ir_reader_v7/ie_ir_version.hpp
  inference-engine/src/transformations/include/transformations/rt_info/nms_selected_indices.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/convert_nms_gather_path_to_unsigned.cpp
  inference-engine/src/transformations/src/transformations/rt_info/nms_selected_indices.cpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/tensor_names.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reshape_tests.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/CMakeLists.txt
  model-optimizer/CMakeLists.txt
  model-optimizer/mo/back/offline_transformations.py
  model-optimizer/mo/moc_frontend/serialize.py
  model-optimizer/mo/utils/find_ie_version.py
  ngraph/core/include/openvino/core/variant.hpp
  ngraph/core/include/openvino/op/constant.hpp
  ngraph/core/src/layout.cpp
  ngraph/core/src/op/experimental_detectron_prior_grid_generator.cpp
  ngraph/core/src/op/experimental_detectron_topkrois.cpp
  ngraph/frontend/CMakeLists.txt
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend.hpp
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend_manager.hpp
  ngraph/frontend/frontend_manager/include/frontend_manager/parameters.hpp
  ngraph/frontend/frontend_manager/src/frontend_manager.cpp
  ngraph/frontend/frontend_manager/src/parameters.cpp
  ngraph/frontend/ir/CMakeLists.txt
  ngraph/frontend/ir/include/ir_frontend/frontend.hpp
  ngraph/frontend/ir/include/ir_frontend/model.hpp
  ngraph/frontend/ir/include/ir_frontend/utility.hpp
  ngraph/frontend/ir/src/frontend.cpp
  ngraph/frontend/ir/src/model.cpp
  tools/deployment_manager/configs/darwin.json
  tools/deployment_manager/configs/linux.json
  tools/deployment_manager/configs/windows.json
Labels: category: nGraph, category: IE FE

#7541 Add CMakeLists for install CC_tests
  tests/conditional_compilation/CMakeLists.txt
Labels: category: IE Tests

#7386 [GNA] Plugin transition to the library v3.0 Master
  cmake/dependencies.cmake
  inference-engine/src/gna_plugin/backend/dnn_types.h
  inference-engine/src/gna_plugin/backend/gna_limitations.cpp
  inference-engine/src/gna_plugin/backend/gna_limitations.hpp
  inference-engine/src/gna_plugin/gna2_model_export_helper.cpp
  inference-engine/src/gna_plugin/gna2_model_export_helper.hpp
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/transformations/convert_padded_to_valid_convolution.cpp
  inference-engine/src/gna_plugin/transformations/decompose_2d_convolution.cpp
  inference-engine/src/gna_plugin/transformations/decompose_2d_convolution.hpp
  inference-engine/src/gna_plugin/transformations/utils/transformation_helper.cpp
  inference-engine/src/gna_plugin/transformations/utils/transformation_helper.hpp
  inference-engine/tests/functional/plugin/gna/pass_tests/convert_padded_to_valid_conv.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/decompose_2d_conv.cpp
  inference-engine/tests/unit/gna/gna_api_stub.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_convert_padded_to_valid_convolution.cpp
  inference-engine/tests/unit/gna/ngraph/transformations/gna_decompose_2d_convolution.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_api_stub.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_matcher.cpp
Labels: category: IE common, category: IE Tests, category: GNA

#7560 Fixed path to POT in setupvars.bat
  scripts/setupvars/setupvars.bat
Labels: category: CI

#7514 [IE CLDNN] Performance improvement for Load Network
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.h
Labels: category: GPU

#7390 Remove deprecated test classes for Convert and ConvertLike
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/convert.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/convert.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/convert_like.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/convert.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/convert_like.cpp
Labels: category: nGraph

#7581 [LPT] Move FQ disabled for non-per-tensor FQs
  inference-engine/src/low_precision_transformations/src/move_fake_quantize.cpp
Labels: category: IE Tests, category: CPU

#7574 Fix execute permissions for run_sample_*.sh
  scripts/demo/run_sample_benchmark_app.sh
  scripts/demo/run_sample_squeezenet.sh
  scripts/demo/utils.sh
Labels: category: CI

#7584 Moved ie::Parameter to new API
  inference-engine/src/inference_engine/include/ie/ie_parameter.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/core.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/executable_network.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/infer_request.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/parameter.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/remote_context.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/runtime.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/variable_state.hpp
  inference-engine/src/inference_engine/src/ie_common.cpp
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_roifeatureextractor_node.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/data_desc.hpp
  inference-engine/tests/functional/inference_engine/parameter_tests.cpp
  inference-engine/tests_deprecated/functional/vpu/vpu_base/myriad_layers_reference_functions.cpp
  ngraph/core/include/openvino/op/interpolate.hpp
Labels: category: IE common, category: nGraph, category: IE Tests, category: CPU, category: VPU

#7458 [GPU] remove redundant checking operation in IsNodeOnConstPath()
  inference-engine/src/cldnn_engine/cldnn_program.cpp
Labels: category: GPU
