Repository openvinotoolkit/openvino, pull requests merged in 2021-11, with the labels that each got.

#8326 [IE TESTS] Provide correct generation of tensors in new SLT base class
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/eltwise.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/src/ov_tensor_utils.cpp
Labels: category: IE Tests

#8152 Migrate ngraph backend test/psroi pooling/deformable psroi pooling/proposal
  docs/template_plugin/tests/functional/op_reference/deformable_psroi_pooling.cpp
  docs/template_plugin/tests/functional/op_reference/proposal.cpp
  docs/template_plugin/tests/functional/op_reference/psroi_pooling.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/deformable_psroi_pooling.in.cpp
  ngraph/test/backend/proposal.in.cpp
  ngraph/test/backend/psroi_pooling.in.cpp
Labels: category: TEMPLATE

#8307 Shape inference
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reshape_node.cpp
  inference-engine/src/mkldnn_plugin/utils/shape_inference/shape_inference.cpp
  inference-engine/src/mkldnn_plugin/utils/shape_inference/shape_inference.hpp
  inference-engine/src/mkldnn_plugin/utils/shape_inference/static_shape.cpp
  inference-engine/src/mkldnn_plugin/utils/shape_inference/static_shape.hpp
  inference-engine/tests/unit/cpu/shape_inference_test/convolution_shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/reduce_test.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/shape_node_tests.cpp
  ngraph/core/include/openvino/core/validation_util.hpp
  ngraph/core/include/openvino/op/convolution.hpp
  ngraph/core/shape_inference/CMakeLists.txt
  ngraph/core/shape_inference/include/convolution_shape_inference.hpp
  ngraph/core/shape_inference/include/experimental_detectron_detection_output_shape_inference.hpp
  ngraph/core/shape_inference/include/reduce_shape_inference.hpp
  ngraph/core/shape_inference/include/shape_nodes.hpp
  ngraph/core/shape_inference/include/utils.hpp
  ngraph/core/shape_inference/src/convolution_shape_inference.cpp
  ngraph/core/src/op/convolution.cpp
  ngraph/core/src/op/util/reduction_base.cpp
  ngraph/core/src/validation_util.cpp
  ngraph/test/type_prop/reduce_ops.hpp
Labels: category: nGraph, category: IE Tests, category: CPU

#8091 Migrate Movement 1 Operations (VariadicSplit-1)
  docs/template_plugin/tests/functional/op_reference/variadic_split.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/variadic_split.in.cpp
Labels: category: nGraph, category: TEMPLATE

#8111 Migrate ngraph backend test/detection output
  docs/template_plugin/tests/functional/op_reference/detection_output.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/detection_output.in.cpp
Labels: category: TEMPLATE

#8283 Removed redundant evaluate methods
  inference-engine/tests/functional/inference_engine/transformations/const_folding_for_if.cpp
  ngraph/core/include/openvino/op/deformable_convolution.hpp
  ngraph/core/include/openvino/op/if.hpp
  ngraph/core/include/openvino/op/util/multi_subgraph_base.hpp
  ngraph/core/src/op/deformable_convolution.cpp
  ngraph/core/src/op/if.cpp
  ngraph/core/src/pass/constant_folding.cpp
  ngraph/core/src/pass/convert_precision.cpp
  ngraph/core/src/pass/graph_rewrite.cpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: nGraph

#8154 [GPU] Modify reorders for onednn impl of first conv
  inference-engine/thirdparty/clDNN/api/cldnn/primitives/convolution.hpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/reorder_inputs.cpp
  inference-engine/thirdparty/clDNN/src/include/layout_optimizer.h
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: GPU

#8306 [PYTHON] Fix Tensor creation from numpy arrays
  runtime/bindings/python/src/openvino/ie_api.py
  runtime/bindings/python/src/pyopenvino/core/tensor.cpp
  runtime/bindings/python/tests/test_inference_engine/helpers.py
  runtime/bindings/python/tests/test_inference_engine/test_infer_request.py
  runtime/bindings/python/tests/test_inference_engine/test_tensor.py
Labels: category: IE common, category: python api

#7562 Introduce OV Extension base api
  cmake/developer_package/ncc_naming_style/openvino.style
  docs/CMakeLists.txt
  docs/IE_DG/Extensibility_DG/AddingNGraphOps.md
  docs/IE_DG/Extensibility_DG/Building.md
  docs/IE_DG/Extensibility_DG/CPU_Kernel.md
  docs/IE_DG/Extensibility_DG/Custom_ONNX_Ops.md
  docs/IE_DG/Extensibility_DG/Extension.md
  docs/template_extension/CMakeLists.txt
  docs/template_extension/new/CMakeLists.txt
  docs/template_extension/new/identity.cpp
  docs/template_extension/new/identity.hpp
  docs/template_extension/new/ov_extension.cpp
  docs/template_extension/old/CMakeLists.txt
  docs/template_extension/old/cpu_kernel.cpp
  docs/template_extension/old/cpu_kernel.hpp
  docs/template_extension/old/extension.cpp
  docs/template_extension/old/extension.hpp
  docs/template_extension/old/fft_kernel.cpp
  docs/template_extension/old/fft_kernel.hpp
  docs/template_extension/old/fft_op.cpp
  docs/template_extension/old/fft_op.hpp
  docs/template_extension/old/op.cpp
  docs/template_extension/old/op.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/include/openvino/runtime/core.hpp
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/inference_engine/src/ie_network_reader.cpp
  inference-engine/src/inference_engine/src/ie_network_reader.hpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
  inference-engine/tests/functional/inference_engine/ov_extension_test.cpp
  inference-engine/tests/functional/inference_engine/ov_shared_object_test.cpp
  ngraph/core/include/openvino/core/extension.hpp
  ngraph/core/include/openvino/core/op_extension.hpp
  ngraph/core/src/extension.cpp
  ngraph/core/src/so_extension.cpp
  ngraph/core/src/so_extension.hpp
  ngraph/frontend/frontend_manager/CMakeLists.txt
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend.hpp
  ngraph/frontend/frontend_manager/include/frontend_manager/parameters.hpp
  ngraph/frontend/frontend_manager/src/frontend_manager.cpp
  ngraph/frontend/ir/CMakeLists.txt
  ngraph/frontend/ir/include/ir_frontend/frontend.hpp
  ngraph/frontend/ir/include/ir_frontend/model.hpp
  ngraph/frontend/ir/src/frontend.cpp
  ngraph/frontend/ir/src/ir_deserializer.cpp
  ngraph/frontend/ir/src/ir_deserializer.hpp
  ngraph/frontend/ir/src/model.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/extension.cpp
  ngraph/test/includes.cpp
Labels: category: nGraph

#8084 [GPU] Fix some perf drops from breaking GPU pipeline into explicit stages
  inference-engine/src/cldnn_engine/cldnn_async_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_executable_network.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.h
Labels: category: GPU

#8192 [IE PYTHON] Fix sporadic test
  inference-engine/ie_bridges/python/tests/test_IECore.py
Labels: category: python api

#7796 [IE Python API] Add set_config for executable_network
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_ExecutableNetwork.py
Labels: category: python api

#8021 [Samples] Move C samples to the new samples directory
  CMakeLists.txt
  docs/IE_DG/Samples_Overview.md
  inference-engine/CMakeLists.txt
  inference-engine/ie_bridges/c/CMakeLists.txt
  inference-engine/samples/hello_classification/README.md
  inference-engine/samples/hello_nv12_input_classification/README.md
  inference-engine/samples/object_detection_sample_ssd/README.md
  samples/CMakeLists.txt
  samples/c/.clang-format
  samples/c/CMakeLists.txt
  samples/c/common/opencv_c_wrapper/CMakeLists.txt
  samples/c/common/opencv_c_wrapper/opencv_c_wrapper.cpp
  samples/c/common/opencv_c_wrapper/opencv_c_wrapper.h
  samples/c/hello_classification/CMakeLists.txt
  samples/c/hello_classification/README.md
  samples/c/hello_classification/main.c
  samples/c/hello_nv12_input_classification/CMakeLists.txt
  samples/c/hello_nv12_input_classification/README.md
  samples/c/hello_nv12_input_classification/main.c
  samples/c/object_detection_sample_ssd/CMakeLists.txt
  samples/c/object_detection_sample_ssd/README.md
  samples/c/object_detection_sample_ssd/c_w_dirent.h
  samples/c/object_detection_sample_ssd/main.c
  samples/c/object_detection_sample_ssd/object_detection_sample_ssd.h
  samples/python/classification_sample_async/README.md
  samples/python/hello_classification/README.md
  samples/python/hello_query_device/README.md
  samples/python/hello_reshape_ssd/README.md
  samples/python/ngraph_function_creation_sample/README.md
  samples/python/object_detection_sample_ssd/README.md
  samples/python/speech_sample/README.md
  samples/python/style_transfer_sample/README.md
Labels: category: IE common, category: samples

#8327 Support of oneTBB via env TBBROOT
  cmake/dependencies.cmake
  cmake/developer_package/TBBConfig.cmake
  inference-engine/cmake/ie_parallel.cmake
Labels: category: IE common, category: build

#7864 [MO]Fix Merge shape infer function
  model-optimizer/extensions/ops/merge.py
  model-optimizer/unit_tests/extensions/ops/merge_test.py
Labels: bug, category: MO

#8308 Fix incorrect example in GatherND_8 specification
  docs/ops/movement/GatherND_8.md
Labels: bug, category: docs

#8328 [GPU] Limit number of threads used for onednn build
  thirdparty/CMakeLists.txt
Labels: category: GPU

#8331 [IE TESTS] Fix incorrect result in the Conformance report
  inference-engine/tests/functional/shared_test_classes/src/read_ir/compareResults.cpp
Labels: category: IE Tests, ExternalIntelPR

#8334 Fixed some coverity issues
  inference-engine/ie_bridges/c/src/ie_c_api.cpp
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
  inference-engine/src/inference_engine/include/ie/ie_parallel.hpp
  inference-engine/src/legacy_api/src/graph_transformer.cpp
  inference-engine/src/readers/ir_reader_v7/ie_format_parser.cpp
  inference-engine/src/readers/ir_reader_v7/ie_layer_validators.cpp
  samples/c/object_detection_sample_ssd/main.c
Labels: category: IE common, category: nGraph

#8351 [IE Python API] Add set_config for executable_network (#7796)
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_ExecutableNetwork.py
Labels: category: python api

#7926 [Shape infer] Implement ExperimentalDetectronTopKROIs shape infer
  inference-engine/tests/unit/cpu/shape_inference_test/experimental_detectron_topkrois_shape_inference.cpp
  ngraph/core/include/openvino/op/experimental_detectron_topkrois.hpp
  ngraph/core/shape_inference/include/experimental_detectron_topkrois_shape_inference.hpp
  ngraph/core/src/op/experimental_detectron_topkrois.cpp
Labels: category: IE common, category: nGraph, category: IE Tests

#8366 fix sporadic test
  inference-engine/ie_bridges/python/tests/test_IECore.py
Labels: bug, category: python api

#8264 Migrate ngraph backend test/experimental detectron detection & experimental detectron generate proposals
  docs/template_plugin/tests/functional/op_reference/experimental_detectron_detection_output.cpp
  docs/template_plugin/tests/functional/op_reference/experimental_detectron_generate_proposals.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/experimental_detectron_detection_output.in.cpp
  ngraph/test/backend/experimental_detectron_generate_proposals.in.cpp
  ngraph/test/visitors/op/experimental_detectron_detection_output.cpp
  ngraph/test/visitors/op/experimental_detectron_generate_proposals.cpp
Labels: category: nGraph, category: TEMPLATE

#8026 [ONNX FE] Add implementation of Frontend API methods for naming and annotation
  ngraph/core/include/openvino/core/function.hpp
  ngraph/frontend/frontend_manager/include/frontend_manager/input_model.hpp
  ngraph/frontend/onnx/frontend/src/editor.cpp
  ngraph/frontend/onnx/frontend/src/editor.hpp
  ngraph/frontend/onnx/frontend/src/editor_types.hpp
  ngraph/frontend/onnx/frontend/src/input_model.cpp
  ngraph/frontend/onnx/frontend/src/input_model.hpp
  ngraph/frontend/onnx/frontend/src/place.cpp
  ngraph/frontend/onnx/frontend/src/place.hpp
  runtime/bindings/python/src/compatibility/pyngraph/frontend/inputmodel.cpp
  runtime/bindings/python/tests_compatibility/test_frontend/test_frontend_onnx_editor.py
Labels: category: ONNX FE

#8320 [POT] Updated FAQ
  tools/pot/docs/FrequentlyAskedQuestions.md
Labels: category: docs

#8261 [POT] Update AccuracyAware doc
  tools/pot/openvino/tools/pot/algorithms/quantization/accuracy_aware/README.md
Labels: category: tools

#8300 [POT] Remove excess content from POT distribution
  tools/pot/setup.py
Labels: category: tools

#8203 [ICV][XLink] - Port changes
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/thirdparty/movidius/XLink/pc/Win/include/win_semaphore.h
  inference-engine/thirdparty/movidius/XLink/pc/Win/src/win_semaphore.c
  inference-engine/thirdparty/movidius/XLink/shared/include/XLink.h
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkDispatcher.h
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkMacros.h
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkPlatform.h
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkPrivateDefines.h
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkPublicDefines.h
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkSemaphore.h
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkData.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDeprecated.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDevice.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDispatcher.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDispatcherImpl.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkPrivateFields.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkSemaphore.c
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_api.c
Labels: category: VPU

#8293 Workaround for fluid's color conversion test failures. Part 2.
  inference-engine/tests_deprecated/fluid_preproc/common/fluid_tests.cpp
  inference-engine/tests_deprecated/fluid_preproc/cpu/fluid_tests_cpu.cpp
Labels: category: IE Tests

#8365 Static version: plugin registration as extension
  cmake/developer_package/plugins/create_plugins_hpp.cmake
  cmake/developer_package/plugins/plugins.cmake
  cmake/developer_package/plugins/plugins.hpp.in
  inference-engine/src/inference_engine/include/ie/ie_iextension.h
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_extension.cpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/ie_icore.hpp
  ngraph/core/shape_inference/include/utils.hpp
  ngraph/test/CMakeLists.txt
Labels: category: IE common, category: nGraph, category: IE Tests, category: CPU, category: CI

#7786 [Python Tools] Align namespace for cross_check_tool
  tools/cross_check_tool/README.md
  tools/cross_check_tool/cross_check_tool.py
  tools/cross_check_tool/openvino/__init__.py
  tools/cross_check_tool/openvino/tools/__init__.py
  tools/cross_check_tool/openvino/tools/cross_check_tool/__init__.py
  tools/cross_check_tool/openvino/tools/cross_check_tool/cross_check_tool.py
  tools/cross_check_tool/openvino/tools/cross_check_tool/utils.py
  tools/cross_check_tool/setup.py
Labels: category: tools

#7996 Migrate ngraph backend test of constant operation
  docs/template_plugin/tests/functional/op_reference/base_reference_test.cpp
  docs/template_plugin/tests/functional/op_reference/constant.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/constant.in.cpp
Labels: category: nGraph, category: TEMPLATE

#8282 Migrate Movement 2 (GatherElements-6, GatherND-5)
  docs/template_plugin/tests/functional/op_reference/gather_elements.cpp
  docs/template_plugin/tests/functional/op_reference/gather_nd.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/gather_elements.in.cpp
  ngraph/test/backend/gather_nd.in.cpp
  ngraph/test/visitors/op/gather_elements.cpp
  ngraph/test/visitors/op/gather_nd.cpp
Labels: category: nGraph, category: TEMPLATE

#8364 [CPU][dynamism] MatMulToFullyConnected transformation temporary disabled
  inference-engine/src/mkldnn_plugin/ngraph_transformations/convert_to_cpu_specific_opset.hpp
Labels: category: CPU

#8205 [CPU] General fixes for dynamic shapes
  inference-engine/src/mkldnn_plugin/memory_desc/cpu_blocked_memory_desc.cpp
  inference-engine/src/mkldnn_plugin/memory_desc/dnnl_blocked_memory_desc.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reference_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reference_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reshape_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_select_node.cpp
  runtime/bindings/python/tests/__init__.py
  runtime/bindings/python/tests/test_ngraph/test_sequence_processing.py
  runtime/bindings/python/tests/test_onnx/test_backend.py
  runtime/bindings/python/tests_compatibility/__init__.py
  runtime/bindings/python/tests_compatibility/test_onnx/test_backend.py
Labels: category: CPU

#8194 Added TID to Telemetry initialization.
  model-optimizer/automation/package_BOM.txt
  model-optimizer/mo/main.py
  model-optimizer/mo/utils/check_ie_bindings.py
  model-optimizer/mo/utils/telemetry_params.py
  model-optimizer/mo/utils/telemetry_utils.py
Labels: category: MO

#8369 [GPU] Removed unneeded optimization and quantize refactoring bug fix
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_quantization.cpp
Labels: bug, category: GPU

#8380 Fix fuzz test failure
  cmake/developer_package/compile_flags/os_flags.cmake
Labels: category: build

#8373 [GNA] Fix comments in GNA public header and speech sample
  inference-engine/include/gna/gna_config.hpp
  inference-engine/samples/speech_sample/speech_sample.hpp
Labels: category: IE common, category: GNA

#8357 [LPT] Security fixes
  inference-engine/src/low_precision_transformations/include/low_precision/weightable_layer_transformation.hpp
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/src/low_precision_transformations/src/weightable_layer_transformation.cpp
Labels: category: CPU, category: LP transformations

#8349 [GPU] Fixed allocation type for optimized out outputs
  inference-engine/thirdparty/clDNN/src/primitive_inst.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#7748 Fix 'cannot estimate element if precision is UNSPECIFIED' error cause…
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/fake_quantize_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
Labels: category: IE Tests, category: CPU

#7738 [GPU] Set affinity TBB using CPUStreamsExecutor
  docs/IE_DG/supported_plugins/GPU.md
  inference-engine/src/cldnn_engine/cldnn_config.cpp
  inference-engine/src/cldnn_engine/cldnn_config.h
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.cpp
  inference-engine/src/inference_engine/include/ie/gpu/gpu_config.hpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/plugin/config.cpp
  inference-engine/thirdparty/CMakeLists.txt
  inference-engine/thirdparty/clDNN/CMakeLists.txt
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/engine.hpp
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/engine_configuration.hpp
  inference-engine/thirdparty/clDNN/runtime/CMakeLists.txt
  inference-engine/thirdparty/clDNN/runtime/engine.cpp
  inference-engine/thirdparty/clDNN/runtime/kernels_cache.cpp
  inference-engine/thirdparty/clDNN/runtime/kernels_cache.hpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_engine.cpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_engine.hpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_engine_factory.hpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/compile_graph.cpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: IE common, category: GPU

#7974 [VPUX]Improvement config parser
  tools/compile_tool/main.cpp
Labels: category: VPU, category: tools

#8180 [VPU] vpu scale update
  inference-engine/src/vpu/graph_transformer/include/vpu/graph_transformer.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/private_plugin_config.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/unroll_loops.cpp
  inference-engine/src/vpu/graph_transformer/src/graph_transformer.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/weights_analysis.cpp
  inference-engine/src/vpu/graph_transformer/src/parsed_config.cpp
  inference-engine/tests/unit/vpu/middleend_tests/passes_tests/vpu_scale_tests.cpp
  inference-engine/tests_deprecated/functional/vpu/CMakeLists.txt
  inference-engine/tests_deprecated/unit/engines/vpu/get_vpu_scale_from_ir_tests.cpp
Labels: category: IE Tests, category: VPU

#8362 tbbbint 2.5 reverted
  inference-engine/cmake/dependencies.cmake
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/threading/ie_parallel_custom_arena.cpp
  inference-engine/thirdparty/clDNN/src/CMakeLists.txt
  inference-engine/thirdparty/clDNN/src/gpu/custom_task_arena.cpp
Labels: category: IE common, category: GPU

#8112 Reimplement Extension.OnnxModelWith* cases w/o model in source code
  cmake/test_model_zoo.cmake
  docs/IE_DG/Extensibility_DG/Custom_ONNX_Ops.md
  docs/onnx_custom_op/custom_relu_model.prototxt
  docs/onnx_custom_op/onnx_custom_op.cpp
  docs/onnx_custom_op/onnx_custom_op.hpp
  inference-engine/tests/functional/plugin/cpu/CMakeLists.txt
  inference-engine/tests/functional/plugin/cpu/extension/extension.cpp
  inference-engine/tests/functional/plugin/shared/models/custom_abs_op.prototxt
  inference-engine/tests/functional/plugin/shared/models/custom_template_op.prototxt
Labels: category: IE common, category: IE Tests

#8377 [GPU] Fix sporadic in canRun3SyncRequestsConsistentlyFromThreads
  inference-engine/src/cldnn_engine/cldnn_async_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_graph.h
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.h
Labels: category: GPU

#8159 [LPT] optimize Subtract with zero_point == 0 when it's not a direct C…
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/tests/functional/plugin/shared/include/onnx/quantized_models_tests.hpp
  inference-engine/tests/functional/plugin/shared/models/convolution_fq.prototxt
  inference-engine/tests/functional/plugin/shared/models/convolution_qdq.prototxt
  inference-engine/tests/functional/plugin/shared/src/onnx/quantized_models_tests.cpp
Labels: category: LP transformations

#8303 [CPU] NonMaxSuppression dynamic done
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_non_max_suppression_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_non_max_suppression_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/non_max_suppression.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  runtime/bindings/python/tests/__init__.py
  runtime/bindings/python/tests/test_onnx/test_backend.py
  runtime/bindings/python/tests_compatibility/__init__.py
  runtime/bindings/python/tests_compatibility/test_onnx/test_backend.py
Labels: category: CPU

#8139 enable itt trace for AUTO
  inference-engine/src/multi_device/multi_device_exec_network.cpp
  inference-engine/src/multi_device/multi_device_plugin.cpp
  inference-engine/src/multi_device/multi_itt.hpp
Labels: category: MULTI

#7867 [GNA] Add comments for new ngraph RemoveSingleInputConcat transformation
  inference-engine/src/gna_plugin/transformations/remove_single_input_concat.hpp
Labels: category: GNA

#8286 Remove NGRAPH_USE_PROTOBUF_LITE option, always use Lite
  .ci/azure/linux_ngraph_onnx.yml
  .ci/openvino-onnx/Dockerfile
  .ci/openvino-onnx/Jenkinsfile
  cmake/features.cmake
  ngraph/frontend/onnx/frontend/CMakeLists.txt
  ngraph/frontend/onnx/frontend/src/core/attribute.hpp
  ngraph/frontend/onnx/frontend/src/core/tensor.hpp
  ngraph/frontend/onnx/frontend/src/utils/common.cpp
  ngraph/frontend/onnx/onnx_common/CMakeLists.txt
  ngraph/frontend/onnx/onnx_common/src/parser.cpp
  ngraph/frontend/onnx/onnx_common/src/utils.cpp
Labels: category: IE common, category: nGraph, category: CI

#7987 Offline transformations exposed to python with pybind11
  model-optimizer/mo/back/offline_transformations.py
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/setup.py
  runtime/bindings/python/src/openvino/__init__.py
  runtime/bindings/python/src/openvino/offline_transformations_pybind/__init__.py
  runtime/bindings/python/src/pyopenvino/CMakeLists.txt
  runtime/bindings/python/src/pyopenvino/core/offline_transformations.cpp
  runtime/bindings/python/src/pyopenvino/core/offline_transformations.hpp
  runtime/bindings/python/src/pyopenvino/pyopenvino.cpp
  runtime/bindings/python/tests/test_transformations/test_offline_api.py
Labels: category: python api

#7957 [CPU][DS] NonZero node with dynamic shapes
  inference-engine/src/mkldnn_plugin/cpu_types.cpp
  inference-engine/src/mkldnn_plugin/cpu_types.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_non_zero.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_non_zero.h
Labels: category: IE Tests, category: CPU

#8400 [GPU] Fix incorrect memory reuse for output in case of fused eltwise
  inference-engine/thirdparty/clDNN/src/network.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#8333 fix in PadIE operation
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/pad_ie.hpp
  inference-engine/src/legacy_api/src/ngraph_ops/pad_ie.cpp
Labels: category: nGraph

#8173 Update existing functional tests to use pass::Manager
  inference-engine/tests/functional/inference_engine/transformations/const_folding_for_if.cpp
  inference-engine/tests/functional/inference_engine/transformations/const_folding_prior_box.cpp
  inference-engine/tests/functional/inference_engine/transformations/conv_fusion_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_convolution_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_deconvolution_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_ngraph_to_cnn_network_tests.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_reduce_to_pooling_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_scatter_elements_to_scatter_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/keep_constant_inputs_tests.cpp
  inference-engine/tests/functional/inference_engine/transformations/mul_add_conversion_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/ngraph_1d_ops_reshape_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/nop_elimination.cpp
  inference-engine/tests/functional/inference_engine/transformations/type_relaxed_tests.cpp
Labels: category: nGraph, category: IE Tests

#8367 Don't use global objects during CPU plugin nodes registration
  docs/template_plugin/tests/functional/shared_tests_instances/hetero/synthetic.cpp
  inference-engine/src/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/mkldnn_nodes_factory.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/list.cpp
  inference-engine/src/mkldnn_plugin/nodes/list.hpp
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_matrix_nms_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_multiclass_nms.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_multiclass_nms.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_rnn.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/hetero/synthetic.cpp
  inference-engine/tests/functional/plugin/shared/CMakeLists.txt
Labels: category: IE common, category: nGraph, category: CPU

#8398 [GPU] Fix default value of KEY_GPU_MODEL_PRIORITY
  docs/IE_DG/supported_plugins/GPU.md
Labels: category: GPU, category: docs

#8316 [LPT] isAsymmetricQuantization & isAsymmetricOnWeights validation
  inference-engine/src/low_precision_transformations/include/low_precision/common/fake_quantize_dequantization.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/layer_transformation.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/quantization_details.hpp
  inference-engine/src/low_precision_transformations/src/fake_quantize_dequantization.cpp
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/src/low_precision_transformations/src/quantization_details.cpp
  inference-engine/src/low_precision_transformations/src/weightable_layer_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/is_asymmetric_on_weights.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/convolution_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/convolution_function.cpp
Labels: category: CPU

#8190 remove paddle mul op converter
  ngraph/frontend/paddlepaddle/src/op/mul.cpp
  ngraph/frontend/paddlepaddle/src/op_table.cpp
  ngraph/test/frontend/paddlepaddle/op_fuzzy.cpp
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_mul.py
Labels: category: nGraph

#8125 [GNA] Fix potential nullptr dereference
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
Labels: category: GNA

#8346 [POT] fixed fq scaling bug in layerwise tuning
  tools/pot/openvino/tools/pot/algorithms/finetuning/layers.py
Labels: category: tools

#8379 Fixed interpolate to work with int32 axes, target_shapes
  ngraph/core/src/op/interpolate.cpp
Labels: category: nGraph

#8263 [IE Samples] Enable a custom build output folder
  inference-engine/samples/CMakeLists.txt
  inference-engine/samples/build_samples.sh
  inference-engine/samples/build_samples_msvc.bat
  inference-engine/samples/common/format_reader/CMakeLists.txt
  samples/c/common/opencv_c_wrapper/CMakeLists.txt
Labels: category: IE common

#8324 [POT] Update for the Results quantization & tests
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize.py
  tools/pot/openvino/tools/pot/graph/passes.py
  tools/pot/tests/data/models/lstm_example/lstm_example.json
  tools/pot/tests/data/models/lstm_example/lstm_example.onnx
  tools/pot/tests/data/models/multiple_outputs_net_example/multiple_outputs_net_example.bin
  tools/pot/tests/data/models/multiple_outputs_net_example/multiple_outputs_net_example.json
  tools/pot/tests/data/models/multiple_outputs_net_example/multiple_outputs_net_example.xml
  tools/pot/tests/data/reference_models/lstm_example_pytorch.xml
  tools/pot/tests/data/reference_models/multiple_outputs_net_example_dldt.xml
  tools/pot/tests/test_graph.py
Labels: category: tools

#8403 Fixed headers compilation with strict flags
  inference-engine/src/inference_engine/include/openvino/runtime/gpu/dx.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/gpu/ocl.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/gpu/va.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/performance_heuristics.hpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
Labels: category: IE common, category: IE Tests, category: build

#8407 CVS-68483: added CPU extensions by default to CPU plugin
  inference-engine/src/inference_engine/include/ie/details/ie_so_loader.h
  inference-engine/src/inference_engine/include/ie/details/ie_so_pointer.hpp
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/inference_engine/src/shared_object_loader.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
Labels: category: IE common, category: nGraph, category: IE Tests, category: CPU

#8345 FullyConnectedNode: deserialization fix
  inference-engine/src/mkldnn_plugin/ngraph_transformations/op/fully_connected.cpp
  inference-engine/tests/functional/plugin/shared/src/behavior/caching/caching_tests.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
  ngraph/core/include/ngraph/dimension.hpp
  ngraph/core/include/openvino/core/dimension.hpp
  ngraph/core/src/dimension.cpp
Labels: category: nGraph, category: CPU

#8468 Azure CI: exclude docs from required pipelines triggers
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#8447 upd precommit ref for memcheck
  tests/stress_tests/.automation/memcheck_tests/precommit_configs/desktop_references_config.xml
Labels: category: IE Tests

#8178 [IE Transformations] Disable pull_transpose_through_fq transformation for activations path
  inference-engine/src/transformations/src/transformations/common_optimizations/pull_transpose_through_fq.cpp
  inference-engine/tests/functional/inference_engine/transformations/ngraph_fq_transpose_test.cpp
  model-optimizer/extensions/back/MatMulNormalizer.py
  model-optimizer/unit_tests/extensions/back/MatMulNormalizer_test.py
Labels: category: nGraph, category: IE Tests

#8174 Add openvino-dev wheel build from opensource
  tools/CMakeLists.txt
  tools/openvino_dev/CMakeLists.txt
  tools/openvino_dev/requirements.txt
  tools/openvino_dev/setup.cfg
  tools/openvino_dev/setup.py
  tools/openvino_dev/src/openvino/__init__.py
  tools/openvino_dev/src/openvino/tools/__init__.py
Labels: category: tools

#8475 Azure CI: exclude docs from triggers
  .ci/azure/linux.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#8210 Add input to file mappings to python benchmark tool
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
Labels: category: tools

#8466 [VPU] heap-use-after-free fix
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkData.c
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_api.c
Labels: category: VPU

#8444 Set scikit-image~=0.18.3 for python versions >=3.7 (#7910)
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.requirements.txt
Labels: category: python api

#7588 Add model compression to FP16 weights
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api.pyx
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl_defs.pxd
  inference-engine/src/cldnn_engine/cldnn_transformations_pipeline.cpp
  inference-engine/src/transformations/include/transformations/common_optimizations/compress_float_constants.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/convert_compression_only_to_legacy.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/mark_precision_sensitive_subgraphs.hpp
  inference-engine/src/transformations/include/transformations/disable_decompression_convert_constant_folding.hpp
  inference-engine/src/transformations/include/transformations/rt_info/attributes.hpp
  inference-engine/src/transformations/include/transformations/rt_info/decompression.hpp
  inference-engine/src/transformations/include/transformations/rt_info/disable_fp16_compression.hpp
  inference-engine/src/transformations/include/transformations/utils/utils.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/compress_float_constants.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/conv_bias_fusion.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/convert_compression_only_to_legacy.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/mark_precision_sensitive_subgraphs.cpp
  inference-engine/src/transformations/src/transformations/disable_decompression_convert_constant_folding.cpp
  inference-engine/src/transformations/src/transformations/rt_info/attributes.cpp
  inference-engine/src/transformations/src/transformations/rt_info/decompression.cpp
  inference-engine/src/transformations/src/transformations/rt_info/disable_fp16_compression.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/rt_info_serialization.cpp
  inference-engine/tests/functional/inference_engine/transformations/compress_float_constants_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_compression_only_to_legacy_test.cpp
  model-optimizer/mo/back/offline_transformations.py
  model-optimizer/mo/main.py
  model-optimizer/mo/moc_frontend/serialize.py
  model-optimizer/mo/pipeline/common.py
  model-optimizer/mo/utils/ir_reader/restore_graph.py
  ngraph/core/include/openvino/core/variant.hpp
  ngraph/core/include/openvino/op/util/precision_sensitive_attribute.hpp
  ngraph/core/src/op/batch_to_space.cpp
  ngraph/core/src/op/convolution.cpp
  ngraph/core/src/op/group_conv.cpp
  ngraph/core/src/op/interpolate.cpp
  ngraph/core/src/op/one_hot.cpp
  ngraph/core/src/op/pad.cpp
  ngraph/core/src/op/reshape.cpp
  ngraph/core/src/op/space_to_batch.cpp
  ngraph/core/src/op/strided_slice.cpp
  ngraph/core/src/op/tile.cpp
  ngraph/core/src/op/topk.cpp
  ngraph/core/src/op/util/broadcast_base.cpp
  ngraph/core/src/op/util/precision_sensitive_attribute.cpp
Labels: category: MO, category: python api

#8455 Fix RTInfo Deserialization for multiple key occurrences
  inference-engine/tests/functional/inference_engine/ir_serialization/rt_info_deserialization.cpp
  ngraph/frontend/ir/src/ir_deserializer.cpp
Labels: category: nGraph, category: IE Tests

#8291 Fix TransposeReduce Transformation
  inference-engine/src/transformations/src/transformations/common_optimizations/transpose_sinking.cpp
  inference-engine/tests/functional/inference_engine/transformations/transpose_sinking_test.cpp
Labels: bug, category: nGraph, category: IE Tests

#8410 [GPU] Fixed uninitialized vairable in infer request
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.h
Labels: category: GPU

#8453 Fix PartialShape Iterators to reset cache
  ngraph/core/include/openvino/core/partial_shape.hpp
  ngraph/test/partial_shape.cpp
Labels: category: nGraph

#8448 Fixed coverity issues
  ngraph/core/include/openvino/op/matmul.hpp
  ngraph/core/include/openvino/op/shuffle_channels.hpp
  ngraph/frontend/onnx/frontend/src/edge_mapper.cpp
  ngraph/frontend/onnx/frontend/src/editor.cpp
  ngraph/frontend/onnx/frontend/src/utils/random_normal.cpp
  ngraph/frontend/paddlepaddle/src/op/fill_any_like.cpp
Labels: category: nGraph, category: ONNX FE, category: PDPD FE

#8252 New extension serialization
  inference-engine/src/mkldnn_plugin/mkldnn_serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/models/custom_identity.xml
  ngraph/core/include/openvino/pass/serialize.hpp
  ngraph/core/src/pass/serialize.cpp
Labels: category: IE common, category: nGraph, category: IE Tests, category: CPU, category: python api

#8122 [CPU] Added execution for RandomUniform node in each inference
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reference_node.cpp
Labels: category: CPU

#8222 [CPU] BatchToSpace dynamic done
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_batch_to_space_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_batch_to_space_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/batch_to_space.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/batch_to_space.cpp
Labels: category: IE Tests, category: CPU

#8479 [XLink] - Fix Mac build
  inference-engine/thirdparty/movidius/XLink/pc/MacOS/pthread_semaphore.c
  inference-engine/thirdparty/movidius/XLink/pc/MacOS/pthread_semaphore.h
  inference-engine/thirdparty/movidius/XLink/shared/include/XLinkSemaphore.h
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDispatcher.c
Labels: category: VPU

#8443 Fixed fuzz tests
  ngraph/core/src/op/constant.cpp
Labels: bug, category: nGraph

#8486 Fixed Data::reshape for dynamic shapes
  inference-engine/src/inference_engine/src/ie_data.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reshape_tests.cpp
Labels: bug, category: IE common, category: IE Tests

#7795 samples: Print verbose error messages to stderr
  samples/c/hello_classification/main.c
  samples/c/hello_nv12_input_classification/main.c
  samples/c/object_detection_sample_ssd/main.c
Labels: category: IE common, ExternalPR

#7743 [MO|nGraph]GatherND_8
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  model-optimizer/extensions/ops/gathernd.py
  model-optimizer/unit_tests/extensions/ops/gathernd_test.py
  ngraph/core/include/ngraph/op/gather_nd.hpp
  ngraph/core/include/ngraph/op/util/gather_nd_base.hpp
  ngraph/core/include/openvino/op/gather_nd.hpp
  ngraph/core/include/openvino/op/util/gather_nd_base.hpp
  ngraph/core/include/openvino/opsets/opset8_tbl.hpp
  ngraph/core/src/op/gather_nd.cpp
  ngraph/core/src/op/util/gather_nd_base.cpp
  ngraph/test/type_prop/gather_nd.cpp
  ngraph/test/visitors/op/gather_nd.cpp
Labels: category: MO, category: nGraph

#8433 benchmark_app bugfix for filling input
  inference-engine/samples/common/format_reader/opencv_wrapper.cpp
Labels: category: IE common

#8353 Added Import/Export functions to C_API
  inference-engine/ie_bridges/c/include/c_api/ie_c_api.h
  inference-engine/ie_bridges/c/src/ie_c_api.cpp
  inference-engine/ie_bridges/c/tests/ie_c_api_test.cpp
  inference-engine/ie_bridges/c/tests/test_model_repo.hpp
Labels: category: IE common, category: IE Tests, category: GNA, category: c api

#8483 Pad reference implementation fix so that it doesn't segfault the ONNX tests runner
  ngraph/core/reference/src/runtime/reference/pad.cpp
  runtime/bindings/python/tests/__init__.py
  runtime/bindings/python/tests/test_onnx/test_backend.py
  runtime/bindings/python/tests_compatibility/__init__.py
  runtime/bindings/python/tests_compatibility/test_onnx/test_backend.py
Labels: category: IE common, category: nGraph

#8458 Added Import/Export functions to C_API #8353
  inference-engine/ie_bridges/c/include/c_api/ie_c_api.h
  inference-engine/ie_bridges/c/src/ie_c_api.cpp
  inference-engine/ie_bridges/c/tests/CMakeLists.txt
  inference-engine/ie_bridges/c/tests/ie_c_api_test.cpp
  inference-engine/ie_bridges/c/tests/test_model_repo.hpp
Labels: category: IE common, category: c api

#7920 [GNA] ActivationLayer tests enabled
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/activation.cpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
Labels: category: IE Tests, category: GNA

#7774 [GNA] eltwise tests with GNA_SW_FP32
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/eltwise.cpp
  inference-engine/tests_deprecated/unit/engines/gna/fp32_non_quantized_tests.cpp
Labels: category: GNA

#7773 [GNA] Added mode for Split and concat tests
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/concat_quantization_during_memory_requantization.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/first_connect_input_concat.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/multiple_concat.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/concat_quantization_during_memory_requantization.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/first_connect_input_concat.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/multiple_concat.cpp
  inference-engine/tests_deprecated/unit/engines/gna/fp32_non_quantized_tests.cpp
Labels: category: IE Tests

#8409 [CPU] CumSum: dynamic shapes support
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_cum_sum_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_cum_sum_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/cum_sum.cpp
Labels: category: CPU

#8254 [CPU] LogSoftMax dynamic done
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_log_softmax_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_log_softmax_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/log_softmax.cpp
Labels: category: IE Tests, category: CPU

#8428 [POT] Change telemetry constructor
  tools/pot/openvino/tools/pot/utils/telemetry.py
Labels: category: tools

#8393 [POT] get_num_levels function
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize.py
  tools/pot/tests/test_tensor_statistics.py
Labels: category: tools

#8336 [POT]: check precision node when insert reduce op in statistic builder
  tools/pot/openvino/tools/pot/graph/passes.py
  tools/pot/openvino/tools/pot/graph/transformer.py
Labels: category: tools

#8227 Migrate ngraph backend test/prior box
  docs/template_plugin/tests/functional/op_reference/prior_box.cpp
  docs/template_plugin/tests/functional/op_reference/prior_box_clustered.cpp
  docs/template_plugin/tests/functional/op_reference/reorg_yolo.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/prior_box.in.cpp
  ngraph/test/backend/prior_box_clustered.in.cpp
  ngraph/test/backend/reorg_yolo.in.cpp
Labels: category: nGraph, category: TEMPLATE

#8176 Updated common migration pipeline
  docs/migration_ov_2_0/docs/common_inference_pipeline.md
  docs/migration_ov_2_0/docs/graph_construction.md
  docs/migration_ov_2_0/docs/intro.md
  docs/snippets/ie_common.cpp
  docs/snippets/ngraph.cpp
  docs/snippets/ov_common.cpp
  docs/snippets/ov_graph.cpp
  ngraph/core/include/openvino/core/version.hpp
Labels: category: IE common, category: nGraph

#8415 [ONNX] Reduce graph scan iteration for subgraph extraction
  ngraph/frontend/onnx/frontend/src/detail/subgraph_extraction.cpp
Labels: category: nGraph, category: onnx importer

#8208 Refactor work with env variables
  tests/layer_tests/common/constants.py
  tests/layer_tests/common/utils/common_utils.py
Labels: category: IE Tests, do not merge

#8442 [IE Sample Scripts] Use cmake to build samples
  scripts/demo/run_sample_benchmark_app.bat
  scripts/demo/run_sample_benchmark_app.sh
  scripts/demo/run_sample_squeezenet.bat
  scripts/demo/run_sample_squeezenet.sh
Labels: category: build

#8452 Remove opset8 from compatibility ngraph python API
  runtime/bindings/python/setup.py
  runtime/bindings/python/src/compatibility/ngraph/__init__.py
  runtime/bindings/python/src/compatibility/ngraph/opset8/__init__.py
  runtime/bindings/python/src/compatibility/ngraph/opset8/ops.py
  runtime/bindings/python/src/compatibility/ngraph/utils/node_factory.py
  runtime/bindings/python/src/compatibility/pyngraph/node_factory.cpp
  runtime/bindings/python/tests_compatibility/test_ngraph/test_adaptive_pool.py
  runtime/bindings/python/tests_compatibility/test_ngraph/test_create_op.py
  runtime/bindings/python/tests_compatibility/test_ngraph/test_pooling.py
  runtime/bindings/python/tests_compatibility/test_ngraph/test_random_uniform.py
Labels: category: python api

#8384 Install rules for static libraries case
  .ci/azure/linux.yml
  CMakeLists.txt
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/plugins/create_plugins_hpp.cmake
  cmake/developer_package/plugins/plugins.cmake
  cmake/extra_modules.cmake
  cmake/features.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  cmake/toolchains/ia32.linux.toolchain.cmake
  docs/CMakeLists.txt
  docs/template_plugin/src/CMakeLists.txt
  inference-engine/cmake/ie_parallel.cmake
  inference-engine/ie_bridges/c/src/CMakeLists.txt
  inference-engine/ie_bridges/c/tests/ie_c_api_test.cpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/test_utils/CMakeLists.txt
  inference-engine/src/CMakeLists.txt
  inference-engine/src/gna_plugin/CMakeLists.txt
  inference-engine/src/hetero_plugin/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/legacy_api/CMakeLists.txt
  inference-engine/src/low_precision_transformations/CMakeLists.txt
  inference-engine/src/preprocessing/CMakeLists.txt
  inference-engine/src/readers/CMakeLists.txt
  inference-engine/src/readers/ir_reader_v7/CMakeLists.txt
  inference-engine/src/snippets/CMakeLists.txt
  inference-engine/src/vpu/common/CMakeLists.txt
  inference-engine/src/vpu/graph_transformer/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/core_threading.cpp
  inference-engine/tests/functional/inference_engine/ov_shared_object_test.cpp
  inference-engine/tests/functional/inference_engine/shared_object_loader_test.cpp
  inference-engine/tests/functional/plugin/shared/CMakeLists.txt
  inference-engine/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
  inference-engine/tests_deprecated/behavior/shared_tests/CMakeLists.txt
  inference-engine/tests_deprecated/functional/gna/CMakeLists.txt
  inference-engine/thirdparty/CMakeLists.txt
  inference-engine/thirdparty/clDNN/kernel_selector/CMakeLists.txt
  inference-engine/thirdparty/clDNN/runtime/CMakeLists.txt
  inference-engine/thirdparty/clDNN/src/CMakeLists.txt
  inference-engine/thirdparty/movidius/XLink/CMakeLists.txt
  inference-engine/thirdparty/movidius/mvnc/CMakeLists.txt
  ngraph/core/CMakeLists.txt
  ngraph/core/builder/CMakeLists.txt
  ngraph/core/include/openvino/core/extension.hpp
  ngraph/core/reference/CMakeLists.txt
  ngraph/core/shape_inference/CMakeLists.txt
  ngraph/frontend/frontend_manager/CMakeLists.txt
  ngraph/test/engines_util/CMakeLists.txt
  ngraph/test/extension.cpp
  ngraph/test/frontend/shared/CMakeLists.txt
  ngraph/test/opset.cpp
  ngraph/test/runtime/CMakeLists.txt
  openvino/conditional_compilation/CMakeLists.txt
  openvino/itt/CMakeLists.txt
  openvino/pp/CMakeLists.txt
  openvino/util/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/ittapi/CMakeLists.txt
  thirdparty/ocl/CMakeLists.txt
Labels: category: IE common, category: IE Tests, category: CPU, category: CI, category: TEMPLATE, do not merge, do_not_review

#8510 Deprecated set_* methods in desctiption::Tensor
  inference-engine/src/transformations/include/ngraph_ops/type_relaxed.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  ngraph/core/include/openvino/core/descriptor/tensor.hpp
  ngraph/core/src/descriptor/tensor.cpp
  ngraph/core/src/node.cpp
  ngraph/core/src/runtime/host_tensor.cpp
Labels: bug, category: nGraph, category: IE Tests

#8040 [MO] add IteratorGetNextCut
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/analysis/inputs.py
  model-optimizer/extensions/front/tf/IteratorGetNextCut.py
  model-optimizer/extensions/front/tf/IteratorGetNext_ext.py
  model-optimizer/unit_tests/extensions/analysis/Iterator_get_next_test.py
  model-optimizer/unit_tests/extensions/front/tf/IteratorGetNextCut_test.py
Labels: enhancement, category: MO, feature

#8376 [CPU] ExperimentalDetectronROIFeatureExtractor dynamic done
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_roifeatureextractor_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_roifeatureextractor_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/experimental_detectron_roifeatureextractor.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/experimental_detectron_roifeatureextractor.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/experimental_detectron_roifeatureextractor.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/experimental_detectron_roifeatureextractor.cpp
Labels: category: IE Tests, category: CPU

#8487 [POT] Update add node name
  tools/pot/openvino/tools/pot/algorithms/quantization/bias_correction/algorithm.py
Labels: category: tools

#8290 [CPU] Math dynamic done
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_math_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_math_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/activation.cpp
Labels: category: IE Tests, category: CPU

#8467 Clamp fusion transformation is updated to combine min and max operations to clamp
  inference-engine/src/transformations/src/transformations/common_optimizations/clamp_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/clamp_fusion.cpp
Labels: category: nGraph, category: IE Tests

#8430 [LPT] undefined precision for denormal values fix
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/fake_quantize_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
Labels: category: IE Tests, category: CPU

#8214 [LPT][dynamism] Avoided dequantization propagation to the shapeOf subgraphs
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/reduce_sum.hpp
  inference-engine/src/low_precision_transformations/src/add.cpp
  inference-engine/src/low_precision_transformations/src/clamp.cpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/convolution.cpp
  inference-engine/src/low_precision_transformations/src/convolution_backprop_data.cpp
  inference-engine/src/low_precision_transformations/src/fake_quantize_decomposition.cpp
  inference-engine/src/low_precision_transformations/src/mat_mul.cpp
  inference-engine/src/low_precision_transformations/src/mvn.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/normalize_l2.cpp
  inference-engine/src/low_precision_transformations/src/split.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/lpt_avoid_shapeof_propagation_test.cpp
Labels: category: IE Tests, category: LP transformations

#8175 Added hash to type_info
  ngraph/core/include/openvino/core/function.hpp
  ngraph/core/include/openvino/core/layout.hpp
  ngraph/core/include/openvino/core/rtti.hpp
  ngraph/core/include/openvino/core/type.hpp
  ngraph/core/include/openvino/op/op.hpp
  ngraph/core/src/function.cpp
  ngraph/core/src/layout.cpp
  ngraph/core/src/type.cpp
  ngraph/core/src/util.cpp
  ngraph/test/type_info.cpp
  openvino/util/include/openvino/util/common_util.hpp
  openvino/util/src/common_util.cpp
Labels: category: nGraph

#8451 MO: Update reminder message for master
  model-optimizer/mo/utils/get_ov_update_message.py
Labels: category: MO

#7100 ONNX MaxPool (opset 8+)
  ngraph/core/reference/include/ngraph/runtime/reference/max_pool.hpp
  ngraph/core/src/op/max_pool.cpp
  ngraph/core/src/pass/convert_precision.cpp
  ngraph/frontend/onnx/frontend/src/op/max_pool.cpp
  ngraph/frontend/onnx/frontend/src/op/max_pool.hpp
  ngraph/frontend/onnx/frontend/src/ops_bridge.cpp
  ngraph/frontend/onnx/frontend/src/utils/pooling_factory.cpp
  ngraph/frontend/onnx/frontend/src/utils/pooling_factory.hpp
  ngraph/test/models/onnx/max_pool_3d.prototxt
  ngraph/test/models/onnx/max_pool_4d_ceil_mode.prototxt
  ngraph/test/models/onnx/max_pool_4d_ceil_strides.prototxt
  ngraph/test/models/onnx/max_pool_4d_dilations.prototxt
  ngraph/test/models/onnx/max_pool_4d_strides.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/onnx/onnx_import_dyn_shapes.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/util/test_tools.hpp
  runtime/bindings/python/tests/__init__.py
  runtime/bindings/python/tests/test_onnx/test_backend.py
  runtime/bindings/python/tests/test_onnx/test_ops_convpool.py
  runtime/bindings/python/tests/test_onnx/test_zoo_models.py
  runtime/bindings/python/tests_compatibility/__init__.py
  runtime/bindings/python/tests_compatibility/test_onnx/test_backend.py
Labels: category: nGraph

#8535 Fixed typo in file name
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/align_matmul_input_ranks.cpp
Labels: category: IE Tests

#8429 [LPT] isAsymmetricOnWeights fix: small zero points ignoring
  inference-engine/src/low_precision_transformations/src/weightable_layer_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/is_asymmetric_on_weights_dequantization.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/is_asymmetric_on_weights_fq.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/convolution_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/convolution_function.cpp
Labels: category: IE Tests, category: CPU

#8482 fixed bug with disabled tests in conv_fusion_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/conv_fusion_test.cpp
Labels: category: nGraph, category: IE Tests

#8436 [LPT] Security fixes
  inference-engine/src/low_precision_transformations/include/low_precision/convolution.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/convolution_backprop_data.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/group_convolution.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/layer_transformation.hpp
  inference-engine/src/low_precision_transformations/src/convolution.cpp
  inference-engine/src/low_precision_transformations/src/convolution_backprop_data.cpp
  inference-engine/src/low_precision_transformations/src/group_convolution.cpp
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
Labels: category: CPU, category: LP transformations

#8509 [VPU] heap-use-after-free fix v2
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_api.c
Labels: category: VPU

#8518 Added support of external modules in static build
  .ci/azure/linux.yml
  CMakeLists.txt
  cmake/developer_package/plugins/plugins.cmake
  cmake/extra_modules.cmake
  docs/template_plugin/src/template_executable_network.cpp
  inference-engine/CMakeLists.txt
  inference-engine/ie_bridges/python/tests/conftest.py
  inference-engine/ie_bridges/python/tests/test_IECore.py
  inference-engine/tests/functional/plugin/shared/include/base/behavior_test_utils.hpp
  inference-engine/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  ngraph/frontend/frontend_manager/CMakeLists.txt
  ngraph/frontend/frontend_manager/include/frontend_manager/frontend_manager_defs.hpp
  ngraph/frontend/paddlepaddle/src/op/pool2d.cpp
  runtime/bindings/python/tests/conftest.py
  runtime/bindings/python/tests/test_inference_engine/test_core.py
Labels: category: IE common, category: nGraph, category: IE Tests, category: CI, category: TEMPLATE

#7958 [CPU] Deconvolution fusing for 1x1 kernel and 2x2 stride
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_deconv_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/convolution_backprop_data.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/group_convolution_backprop_data.cpp
Labels: category: CPU

#8529 Fixed coverity issue
  ngraph/frontend/onnx/frontend/src/detail/subgraph_extraction.cpp
Labels: category: nGraph, category: ONNX FE

#8463 [GPU] Fix input memory calcuation in allocate_output.
  inference-engine/thirdparty/clDNN/src/primitive_inst.cpp
Labels: category: GPU

#8221 Migrate Movement 1 Operations (StridedSlice-1)
  docs/template_plugin/tests/functional/op_reference/strided_slice.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/strided_slice.in.cpp
Labels: category: nGraph, category: TEMPLATE

#8541 Fixed clone_with_new_inputs for type_relaxed ops
  inference-engine/src/transformations/include/ngraph_ops/type_relaxed.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/threading.cpp
Labels: category: nGraph

#8536 [Python API] Integrate pyopenvino into wheel
  inference-engine/ie_bridges/python/wheel/CMakeLists.txt
  inference-engine/ie_bridges/python/wheel/setup.py
Labels: category: python api

#7715 [CPU][BF16] Concat layer properly handle mixed precision input
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/concat_const_inplace.cpp
Labels: category: CPU

#8550 [GPU] Resolve performance regression by selecting ref kernel
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: GPU

#7844 Add outputs for nodes from loops
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/add_outputs_recursive.py
  model-optimizer/extensions/ops/tensor_iterator.py
  model-optimizer/mo/utils/ir_reader/extender.py
  model-optimizer/unit_tests/extensions/back/add_outputs_recursive_test.py
Labels: category: MO

#8008 Add support for ONNX operator com.microsoft.Attention
  ngraph/frontend/onnx/frontend/src/op/com.microsoft/attention.cpp
  ngraph/frontend/onnx/frontend/src/op/com.microsoft/attention.hpp
  ngraph/frontend/onnx/frontend/src/ops_bridge.cpp
  ngraph/test/models/onnx/com.microsoft/attention.prototxt
  ngraph/test/models/onnx/com.microsoft/attention_dynamic_shapes.prototxt
  ngraph/test/models/onnx/com.microsoft/attention_extra_add.prototxt
  ngraph/test/models/onnx/com.microsoft/attention_mask_index_1.prototxt
  ngraph/test/models/onnx/com.microsoft/attention_mask_index_2.prototxt
  ngraph/test/models/onnx/com.microsoft/attention_mask_index_3.prototxt
  ngraph/test/models/onnx/com.microsoft/attention_mask_index_4.prototxt
  ngraph/test/models/onnx/com.microsoft/attention_past.prototxt
  ngraph/test/models/onnx/com.microsoft/attention_qkv_hidden_sizes.prototxt
  ngraph/test/models/onnx/com.microsoft/attention_unidirectional.prototxt
  ngraph/test/models/onnx/com.microsoft/bias_gelu.prototxt
  ngraph/test/models/onnx/com.microsoft/embed_layer_normalization.prototxt
  ngraph/test/models/onnx/com.microsoft/embed_layer_normalization_dynamic_shapes.prototxt
  ngraph/test/models/onnx/com.microsoft/embed_layer_normalization_with_segment_embedding.prototxt
  ngraph/test/models/onnx/com.microsoft/embed_layer_normalization_with_segment_embedding_and_mask.prototxt
  ngraph/test/models/onnx/com.microsoft/skip_layer_normalization_dynamic_shapes.prototxt
  ngraph/test/models/onnx/com.microsoft/skip_layer_normalization_with_gamma.prototxt
  ngraph/test/models/onnx/com.microsoft/skip_layer_normalization_with_gamma_beta.prototxt
  ngraph/test/models/onnx/com.microsoft/skip_layer_normalization_with_gamma_beta_bias.prototxt
  ngraph/test/onnx/onnx_import_com_microsoft.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#8432 [ONNX] don't set friendly names after processing Identity node
  ngraph/frontend/onnx/frontend/src/core/graph.cpp
  ngraph/test/models/onnx/tensor_names.prototxt
Labels: category: nGraph

#8527 [GPU] Fix error in pooling_imad kernel in avg mode
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/pooling_gpu_b_fs_zyx_fsv16_imad.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/pooling_gpu_test.cpp
Labels: bug, category: GPU

#8566 Fixed incorrect install of pugixml in dynamic build
  thirdparty/CMakeLists.txt
Labels: category: IE common, category: build

#8149 [Python API] add new api
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/common/cpu_convert.cpp
  inference-engine/src/mkldnn_plugin/utils/cpu_utils.hpp
  runtime/bindings/python/src/openvino/__init__.py
  runtime/bindings/python/src/openvino/ie_api.py
  runtime/bindings/python/src/openvino/impl/__init__.py
  runtime/bindings/python/src/pyopenvino/core/common.cpp
  runtime/bindings/python/src/pyopenvino/core/common.hpp
  runtime/bindings/python/src/pyopenvino/core/containers.cpp
  runtime/bindings/python/src/pyopenvino/core/containers.hpp
  runtime/bindings/python/src/pyopenvino/core/core.cpp
  runtime/bindings/python/src/pyopenvino/core/core.hpp
  runtime/bindings/python/src/pyopenvino/core/executable_network.cpp
  runtime/bindings/python/src/pyopenvino/core/executable_network.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_core.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_executable_network.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_infer_queue.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_infer_request.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_infer_request.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_network.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_version.cpp
  runtime/bindings/python/src/pyopenvino/core/infer_request.cpp
  runtime/bindings/python/src/pyopenvino/core/infer_request.hpp
  runtime/bindings/python/src/pyopenvino/core/profiling_info.cpp
  runtime/bindings/python/src/pyopenvino/core/profiling_info.hpp
  runtime/bindings/python/src/pyopenvino/core/version.cpp
  runtime/bindings/python/src/pyopenvino/core/version.hpp
  runtime/bindings/python/src/pyopenvino/graph/function.cpp
  runtime/bindings/python/src/pyopenvino/graph/node_output.cpp
  runtime/bindings/python/src/pyopenvino/graph/node_output.hpp
  runtime/bindings/python/src/pyopenvino/pyopenvino.cpp
  runtime/bindings/python/tests/__init__.py
  runtime/bindings/python/tests/conftest.py
  runtime/bindings/python/tests/runtime.py
  runtime/bindings/python/tests/test_inference_engine/helpers.py
  runtime/bindings/python/tests/test_inference_engine/test_core.py
  runtime/bindings/python/tests/test_inference_engine/test_executable_network.py
  runtime/bindings/python/tests/test_inference_engine/test_infer_request.py
  runtime/bindings/python/tests/test_inference_engine/test_output_const_node.py
  runtime/bindings/python/tests/test_inference_engine/test_tensor.py
  runtime/bindings/python/tests/test_ngraph/test_basic.py
  runtime/bindings/python/tests/test_ngraph/test_sequence_processing.py
  runtime/bindings/python/tests/test_onnx/test_backend.py
  runtime/bindings/python/tests/test_onnx/test_onnx_external_data.py
  runtime/bindings/python/tests/test_onnx/test_onnx_import.py
  runtime/bindings/python/tests/test_onnx/test_ops_unary.py
  runtime/bindings/python/tests/test_onnx/utils/onnx_helpers.py
Labels: category: IE common, category: CPU, category: python api

#8511 [GPU] Moving onednn post ops logic into cldnn::program_node
  inference-engine/thirdparty/clDNN/src/graph_optimizer/add_onednn_optimization_attributes.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/basic_memory_dependencies.cpp
  inference-engine/thirdparty/clDNN/src/impls/onednn/concatenation_onednn.cpp
  inference-engine/thirdparty/clDNN/src/impls/onednn/convolution_onednn.cpp
  inference-engine/thirdparty/clDNN/src/impls/onednn/deconvolution_onednn.cpp
  inference-engine/thirdparty/clDNN/src/impls/onednn/fully_connected_onednn.cpp
  inference-engine/thirdparty/clDNN/src/impls/onednn/pooling_onednn.cpp
  inference-engine/thirdparty/clDNN/src/impls/onednn/primitive_onednn_base.h
  inference-engine/thirdparty/clDNN/src/impls/onednn/reorder_onednn.cpp
  inference-engine/thirdparty/clDNN/src/include/pass_manager.h
  inference-engine/thirdparty/clDNN/src/include/program_node.h
  inference-engine/thirdparty/clDNN/src/program.cpp
  inference-engine/thirdparty/clDNN/src/program_node.cpp
Labels: category: GPU

#8565 Fixed ie_wheel build
  runtime/bindings/python/src/pyopenvino/CMakeLists.txt
Labels: category: IE common, category: build, category: python api

#8568 doc script changes
  docs/CMakeLists.txt
  docs/_static/js/custom.js
  docs/conf.py
  docs/doxygen-xfail.txt
  docs/nbdoc/utils.py
  docs/openvino_sphinx_theme/MANIFEST.in
Labels: category: docs

#8525 Add constructor to allow implict convertion at compile-time but not a…
  inference-engine/src/mkldnn_plugin/utils/shape_inference/static_dimension.hpp
  inference-engine/src/mkldnn_plugin/utils/shape_inference/static_shape.hpp
Labels: category: CPU

#8517 [CPU] Reference node forced to perform shape inference for each infer request
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reference_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reference_node.h
Labels: category: CPU, pr: needs tests

#8503 Fix skip in OVInferRequestIOTensorTest and OVInferRequestWaitTests
  inference-engine/tests/functional/plugin/shared/src/behavior/ov_infer_request/io_tensor.cpp
  inference-engine/tests/functional/plugin/shared/src/behavior/ov_infer_request/wait.cpp
Labels: category: IE Tests

#8414 Migrate Movement 1 (Gather-1, Gather-7, Pad-1)
  docs/template_plugin/tests/functional/op_reference/gather.cpp
  docs/template_plugin/tests/functional/op_reference/pad.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/gather.in.cpp
  ngraph/test/backend/pad.in.cpp
Labels: category: nGraph, category: TEMPLATE

#8485 [GPU] GPU Remote tensor API update
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.cpp
  inference-engine/src/inference_engine/include/ie/gpu/gpu_params.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/gpu/ocl/dx.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/gpu/ocl/ocl.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/gpu/ocl/ocl_wrapper.hpp
  inference-engine/src/inference_engine/include/openvino/runtime/gpu/ocl/va.hpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/plugin/gpu/concurrency/gpu_concurrency_tests.cpp
  inference-engine/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_tensor_tests.cpp
  inference-engine/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/device.hpp
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/device_query.hpp
  inference-engine/thirdparty/clDNN/runtime/device_query.cpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_device.cpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_device.hpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_device_detector.cpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_device_detector.hpp
Labels: category: IE common, category: IE Tests, category: GPU
