Repository openvinotoolkit/openvino, pull requests merged in 2021-10, with the labels that each got.

#7779 Replaced gtest deprecated macro
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/infer_request/infer_request_dynamic.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/depth_to_space.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/grn.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/matrix_nms.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/multiclass_nms.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/reshape.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/space_to_depth.cpp
  inference-engine/tests/functional/inference_engine/transformations/fq_mul_fusion_test.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request/infer_requset_dynamic.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/pad_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/grn.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/group_convolution_backprop_data.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/matrix_nms.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/multiclass_nms.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/nonzero.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/concat_resize_concat.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/roi_pooling.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/convert_dwsc_to_scaleshifts.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/convert_padded_to_valid_conv.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/decompose_2d_conv.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/import_export_tests/import_export_multi_inputs.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/import_export_tests/import_reshape_permute_conv.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/convolution_relu_sequence.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/relu_split_reshape.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/pad_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/gather_elements.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/group_convolution_backprop_data.cpp
  inference-engine/tests/functional/plugin/gpu/single_layer_tests/loop.cpp
Labels: category: nGraph, category: IE Tests

#7737 [GPU] Added post-ops support for OneDNN primitives
  inference-engine/thirdparty/clDNN/api/cldnn/primitives/eltwise.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/quantize/quantize_kernel_params.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/basic_memory_dependencies.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_quantization.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/quantize.cpp
  inference-engine/thirdparty/clDNN/src/impls/onednn/primitive_onednn_base.h
  inference-engine/thirdparty/clDNN/src/include/quantize_inst.h
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/src/network.cpp
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#7771 Remove VariantWrapper for simple attr classes
  inference-engine/src/inference_engine/src/compilation_context.cpp
  inference-engine/src/mkldnn_plugin/utils/ngraph_utils.hpp
  inference-engine/src/transformations/include/transformations/rt_info/attributes.hpp
  inference-engine/src/transformations/include/transformations/rt_info/disable_constant_folding.hpp
  inference-engine/src/transformations/include/transformations/rt_info/nms_selected_indices.hpp
  inference-engine/src/transformations/include/transformations/rt_info/primitives_priority_attribute.hpp
  inference-engine/src/transformations/include/transformations/rt_info/strides_property.hpp
  inference-engine/src/transformations/src/transformations/rt_info/disable_constant_folding.cpp
  inference-engine/src/transformations/src/transformations/rt_info/nms_selected_indices.cpp
  inference-engine/src/transformations/src/transformations/rt_info/strides_property.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/rt_info_serialization.cpp
  inference-engine/tests/unit/inference_engine/ie_compilation_context_test.cpp
  ngraph/core/src/pass/init_node_info.cpp
  ngraph/core/src/pass/rt_info/primitives_priority_attribute.cpp
Labels: category: IE common, category: IE Tests

#7753 [GPU] Onednn integration for pooling
  inference-engine/thirdparty/clDNN/src/graph_optimizer/add_required_reorders.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_padding.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/reorder_inputs.cpp
  inference-engine/thirdparty/clDNN/src/impls/onednn/pooling_onednn.cpp
  inference-engine/thirdparty/clDNN/src/include/layout_optimizer.h
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/pooling_gpu_test.cpp
Labels: category: GPU

#7706 Exclude sporadic CPU canRun3SyncRequestsConsistentlyFromThreads
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests

#7763 [ MO ][ IR READER ] GroupConvolutionBackpropData extender update
  model-optimizer/mo/utils/ir_reader/extenders/deconvolution_extender.py
Labels: category: MO

#7707 Add MO coveragerc to tests install pkg
  model-optimizer/CMakeLists.txt
Labels: category: MO

#7772 [OV2.0] Preprocessing - add 'convert_layout'
  docs/template_plugin/tests/functional/subgraph_reference/preprocess.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/preprocess/preprocess_builders.hpp
  ngraph/core/include/openvino/core/layout.hpp
  ngraph/core/include/openvino/core/preprocess/preprocess_steps.hpp
  ngraph/core/src/layout.cpp
  ngraph/core/src/preprocess/pre_post_process.cpp
  ngraph/core/src/preprocess/preprocess_steps_impl.cpp
  ngraph/core/src/preprocess/preprocess_steps_impl.hpp
Labels: category: nGraph, category: IE Tests, category: TEMPLATE

#7790 Fix reference NV12 batch conversion + Base tests improvements
  docs/template_plugin/tests/functional/op_reference/base_reference_test.cpp
  docs/template_plugin/tests/functional/op_reference/base_reference_test.hpp
  docs/template_plugin/tests/functional/op_reference/convert_color_nv12.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  docs/template_plugin/tests/functional/subgraph_reference/preprocess.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/convert_color_nv12.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/convert_color_nv12.hpp
Labels: category: nGraph

#7804 Removed cross_check_tool from installation
  tools/CMakeLists.txt
Labels: category: tools

#7805 Fixed CVS-66710
  inference-engine/tests/functional/plugin/shared/src/hetero/synthetic.cpp
Labels: category: IE Tests, category: TEMPLATE

#7733 [GPU] Make ngraph dump to be done for each subnetwork
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
Labels: category: GPU

#7654 [IE PYTHON] Fix memory leak for python3.9
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
Labels: bug, category: python api

#7682 [nGraph] Remove obsolete attribute from Result op
  ngraph/core/include/openvino/op/result.hpp
  ngraph/core/src/op/result.cpp
  ngraph/test/build_graph.cpp
Labels: category: nGraph

#7745 [CPU] Klocwork fixes after Phase 2 dynamic shapes enablement
  inference-engine/src/mkldnn_plugin/memory_desc/cpu_blocked_memory_desc.h
  inference-engine/src/mkldnn_plugin/memory_desc/cpu_memory_desc_utils.h
  inference-engine/src/mkldnn_plugin/memory_desc/dnnl_blocked_memory_desc.h
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/utils/ngraph_utils.hpp
Labels: category: CPU

#7778 Fix ConvertPrecision for NMS5
  inference-engine/src/transformations/include/ngraph_ops/nms_ie_internal.hpp
  inference-engine/src/transformations/include/ngraph_ops/type_relaxed.hpp
  inference-engine/src/transformations/src/ngraph_ops/nms_ie_internal.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_nms_to_nms_ie_internal.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_precision.cpp
  inference-engine/tests/functional/inference_engine/transformations/type_relaxed_tests.cpp
  ngraph/core/src/pass/convert_precision.cpp
Labels: category: nGraph, category: IE Tests

#7761 Reduced SoPointer usage in internal API
  inference-engine/src/hetero_plugin/hetero_infer_request.cpp
  inference-engine/src/inference_engine/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/multi_device/multi_device_exec_network.cpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iexecutable_network_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iinfer_request_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_ivariable_state_internal.hpp
  inference-engine/src/plugin_api/so_ptr.hpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_infer_async_request_base_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_memory_state_internal_test.cpp
  inference-engine/tests/unit/inference_engine/ie_executable_network_test.cpp
  inference-engine/tests/unit/inference_engine/ie_plugin_ptr.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/vpu_watchdog_tests.cpp
Labels: category: IE common, category: IE Tests, category: MULTI

#7730 fix error for model with lstm_nonlin without UseDropout attribute
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  model-optimizer/mo/front/kaldi/extractors/lstm_nonlinearity_ext.py
Labels: category: MO

#7812 Deprecated dynamism in old IE API
  docs/template_plugin/src/template_infer_request.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/src/inference_engine/include/ie/cpp/ie_cnn_network.h
  inference-engine/src/inference_engine/include/ie/ie_data.h
  inference-engine/src/inference_engine/include/ie/ie_input_info.hpp
  inference-engine/src/inference_engine/src/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/src/cpp_interfaces/interface/ie_iinfer_request_internal.cpp
  inference-engine/src/inference_engine/src/ie_data.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_ivariable_state_internal.hpp
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/net_reader_test.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reshape_tests.cpp
  inference-engine/tests/functional/inference_engine/transformations/sr_reshape_1d.cpp
  inference-engine/tests/functional/inference_engine/transformations/sr_sub_graph_ops.cpp
  inference-engine/tests/unit/inference_engine/ie_extension_test.cpp
Labels: category: IE common, category: nGraph, category: IE Tests, category: CPU, category: python api, category: TEMPLATE

#7829 [IE Tests] Aplly some comments for dynamic shapes
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/add_convert_to_reorder.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/src/behavior/detect_network_batch_test.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/preprocess.cpp
Labels: category: IE Tests

#7756 [GPU] concatenation_onednn migration
  inference-engine/thirdparty/clDNN/src/impls/onednn/concatenation_onednn.cpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU

#7810 Added reporting of unresolved symbols for plugins
  cmake/developer_package/plugins/plugins.cmake
  cmake/features.cmake
  inference-engine/src/cldnn_engine/CMakeLists.txt
  inference-engine/src/gna_plugin/CMakeLists.txt
  inference-engine/tests/functional/plugin/myriad/CMakeLists.txt
  inference-engine/tests/unit/CMakeLists.txt
  inference-engine/tests_deprecated/unit/CMakeLists.txt
  install_build_dependencies.sh
  thirdparty/CMakeLists.txt
Labels: category: IE common, category: IE Tests, category: GPU, category: GNA, category: build

#7787 Introduce IR v11
  docs/template_plugin/src/template_executable_network.cpp
  inference-engine/src/inference_engine/src/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/src/compilation_context.cpp
  inference-engine/src/transformations/include/transformations/rt_info/attributes.hpp
  inference-engine/src/transformations/include/transformations/serialize.hpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/rt_info_deserialization.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/rt_info_serialization.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/src/test_model/test_model.cpp
  ngraph/core/include/openvino/core/function.hpp
  ngraph/core/src/graph_util.cpp
  ngraph/core/src/variant.cpp
  ngraph/frontend/ir/src/frontend.cpp
  ngraph/frontend/ir/src/ir_deserializer.cpp
  ngraph/frontend/ir/src/ir_deserializer.hpp
  ngraph/frontend/ir/src/model.cpp
  ngraph/test/util.cpp
Labels: category: nGraph

#7752 [New Python API] Add new python API based on pybind11
  .ci/azure/linux.yml
  inference-engine/ie_bridges/python/cmake/utils/merge_init_files.py
  inference-engine/ie_bridges/python/src/openvino/inference_engine/CMakeLists.txt
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/setup.py
  runtime/bindings/python/src/CMakeLists.txt
  runtime/bindings/python/src/openvino/__init__.py
  runtime/bindings/python/src/openvino/ie_api.py
  runtime/bindings/python/src/pyopenvino/CMakeLists.txt
  runtime/bindings/python/src/pyopenvino/core/common.cpp
  runtime/bindings/python/src/pyopenvino/core/common.hpp
  runtime/bindings/python/src/pyopenvino/core/containers.cpp
  runtime/bindings/python/src/pyopenvino/core/containers.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_blob.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_blob.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_core.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_core.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_data.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_data.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_executable_network.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_executable_network.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_infer_queue.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_infer_queue.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_infer_request.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_infer_request.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_input_info.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_input_info.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_network.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_network.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_parameter.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_parameter.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_preprocess_info.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_preprocess_info.hpp
  runtime/bindings/python/src/pyopenvino/core/ie_version.cpp
  runtime/bindings/python/src/pyopenvino/core/ie_version.hpp
  runtime/bindings/python/src/pyopenvino/core/tensor_description.cpp
  runtime/bindings/python/src/pyopenvino/core/tensor_description.hpp
  runtime/bindings/python/src/pyopenvino/pyopenvino.cpp
  runtime/bindings/python/tests/conftest.py
  runtime/bindings/python/tests/test_inference_engine/__init__.py
  runtime/bindings/python/tests/test_inference_engine/test_core.py
  runtime/bindings/python/tests/test_inference_engine/test_infer_request.py
  runtime/bindings/python/tox.ini
Labels: category: IE common, category: python api, category: CI

#7133 [MO] IR Reader meta_info using update
  model-optimizer/extensions/middle/FakeSplitOutputs.py
  model-optimizer/mo/back/ie_ir_ver_2/emitter.py
  model-optimizer/mo/ops/op.py
  model-optimizer/mo/utils/ir_reader/extenders/priorbox_extender.py
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
  model-optimizer/mo/utils/ir_reader/restore_graph.py
  model-optimizer/mo/utils/logger.py
  model-optimizer/unit_tests/mo/utils/ir_reader/restore_graph_test.py
Labels: category: MO

#7197 [GPU] Separate async pipeline into explicit stages
  inference-engine/src/cldnn_engine/cldnn_async_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_async_infer_request.h
  inference-engine/src/cldnn_engine/cldnn_executable_network.cpp
  inference-engine/src/cldnn_engine/cldnn_executable_network.h
  inference-engine/src/cldnn_engine/cldnn_graph.cpp
  inference-engine/src/cldnn_engine/cldnn_graph.h
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.h
Labels: category: GPU

#7828 Add coverity pipeline
  .ci/azure/linux_coverity.yml
Labels: category: CI

#7545 If-8 operation: Serializer and Reader parts
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/models/if_diff_case.bin
  inference-engine/tests/functional/inference_engine/ir_serialization/models/if_diff_case.xml
  inference-engine/tests/functional/inference_engine/ir_serialization/serialize.cpp
  ngraph/core/src/op/if.cpp
  ngraph/frontend/ir/src/ir_deserializer.cpp
  ngraph/frontend/ir/src/ir_deserializer.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/util/visitor.hpp
  ngraph/test/visitors/op/if.cpp
Labels: category: nGraph

#7823 [GPU] Num threads per eu update
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/device_info.hpp
  inference-engine/thirdparty/clDNN/runtime/ocl/ocl_device.cpp
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
Labels: category: GPU

#7854 Fix FrameworkNodeAttr Deserialization
  ngraph/core/include/openvino/op/util/framework_node.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/framework_node.cpp
Labels: category: nGraph

#7639 [FrontEnd]Paddle_Op_Conversion_prior_box
  ngraph/frontend/paddlepaddle/src/op/prior_box.cpp
  ngraph/frontend/paddlepaddle/src/op_table.cpp
  ngraph/test/frontend/paddlepaddle/op_fuzzy.cpp
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_prior_box.py
Labels: category: nGraph

#7547 Paddle Op conversion for SSD-MobileNetV3: exp, stack
  ngraph/frontend/paddlepaddle/src/op/exp.cpp
  ngraph/frontend/paddlepaddle/src/op/stack.cpp
  ngraph/frontend/paddlepaddle/src/op_table.cpp
  ngraph/test/frontend/paddlepaddle/op_fuzzy.cpp
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_exp.py
  ngraph/test/frontend/paddlepaddle/test_models/gen_scripts/generate_stack.py
Labels: category: nGraph

#7167 [GNA] Adding missed ifdef's
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
Labels: category: GNA

#7825 [ONNX] MatMulInteger
  ngraph/frontend/onnx/frontend/src/op/matmul_integer.cpp
  ngraph/frontend/onnx/frontend/src/op/matmul_integer.hpp
  ngraph/frontend/onnx/frontend/src/ops_bridge.cpp
  ngraph/test/models/onnx/matmul_integer.prototxt
  ngraph/test/models/onnx/matmul_integer_2d_x_3d.prototxt
  ngraph/test/models/onnx/matmul_integer_3d.prototxt
  ngraph/test/models/onnx/matmul_integer_3d_x_2d.prototxt
  ngraph/test/models/onnx/matmul_integer_4d.prototxt
  ngraph/test/models/onnx/matmul_integer_4d_no_zero_point.prototxt
  ngraph/test/models/onnx/matmul_integer_int8.prototxt
  ngraph/test/models/onnx/matmul_integer_matrix_zero_point.prototxt
  ngraph/test/models/onnx/matmul_integer_no_zero_point.prototxt
  ngraph/test/models/onnx/matmul_integer_vectorized_zero_point.prototxt
  ngraph/test/onnx/onnx_import_quant.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
  runtime/bindings/python/tests/test_onnx/test_backend.py
Labels: category: nGraph, ONNX

#7508 [OV20] Convert NV12 to RGB operation + preprocessing
  docs/template_plugin/tests/functional/subgraph_reference/preprocess.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/preprocess.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/preprocess/preprocess_builders.hpp
  ngraph/core/include/openvino/core/preprocess/color_format.hpp
  ngraph/core/include/openvino/core/preprocess/input_tensor_info.hpp
  ngraph/core/include/openvino/core/preprocess/preprocess_steps.hpp
  ngraph/core/src/preprocess/color_utils.cpp
  ngraph/core/src/preprocess/color_utils.hpp
  ngraph/core/src/preprocess/function_guard.hpp
  ngraph/core/src/preprocess/pre_post_process.cpp
  ngraph/core/src/preprocess/preprocess_steps_impl.cpp
  ngraph/core/src/preprocess/preprocess_steps_impl.hpp
  ngraph/core/src/tensor_name_util.hpp
  ngraph/test/preprocess.cpp
Labels: category: nGraph

#7688 [IE] Add new API to return the number of logical cores
  inference-engine/src/inference_engine/src/ie_system_conf.cpp
  inference-engine/src/plugin_api/ie_system_conf.h
  inference-engine/tests/functional/inference_engine/task_executor_tests.cpp
Labels: category: IE common, category: GPU, pr: needs tests

#7870 Disable matmul integer ie tests
  ngraph/test/runtime/ie/unit_test.manifest
Labels: bug

#7872 Disable failing MatMulInteger test
  runtime/bindings/python/tests/test_onnx/test_backend.py
Labels: bug

#7866 PrePostProcessor.output() - first implementation of post-processing
  docs/template_plugin/tests/functional/subgraph_reference/preprocess.cpp
  ngraph/core/include/openvino/core/preprocess/output_info.hpp
  ngraph/core/include/openvino/core/preprocess/output_network_info.hpp
  ngraph/core/include/openvino/core/preprocess/output_tensor_info.hpp
  ngraph/core/include/openvino/core/preprocess/postprocess_steps.hpp
  ngraph/core/include/openvino/core/preprocess/pre_post_process.hpp
  ngraph/core/include/openvino/op/result.hpp
  ngraph/core/src/op/result.cpp
  ngraph/core/src/preprocess/pre_post_process.cpp
  ngraph/core/src/preprocess/preprocess_steps_impl.cpp
  ngraph/core/src/preprocess/preprocess_steps_impl.hpp
  ngraph/test/preprocess.cpp
Labels: category: nGraph, category: TEMPLATE

#8240 Migrate normalization to template plugin test
  docs/template_plugin/tests/functional/op_reference/batch_norm.cpp
  docs/template_plugin/tests/functional/op_reference/lrn.cpp
  docs/template_plugin/tests/functional/op_reference/normalize_l2.cpp
  docs/template_plugin/tests/functional/op_reference/parameter_as_output.cpp
  docs/template_plugin/tests/functional/op_reference/result.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/batch_norm.in.cpp
  ngraph/test/backend/lrn.in.cpp
  ngraph/test/backend/normalize_l2.in.cpp
  ngraph/test/backend/parameter_as_output.in.cpp
  ngraph/test/backend/result.in.cpp
Labels: category: nGraph, category: TEMPLATE

#8265 Static plugins: preprocessing and AUTO
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/plugins/create_plugins_hpp.cmake
  cmake/developer_package/plugins/plugins.cmake
  cmake/developer_package/plugins/plugins.hpp.in
  inference-engine/src/CMakeLists.txt
  inference-engine/src/inference_engine/src/ie_core.cpp
  inference-engine/src/multi_device/CMakeLists.txt
  inference-engine/src/preprocessing/CMakeLists.txt
  inference-engine/src/preprocessing/ie_preprocess_data.hpp
  inference-engine/src/readers/ir_reader_v7/CMakeLists.txt
Labels: category: IE common, category: nGraph, category: IE Tests

#8317 [GNA] Fixed Log segments calculation for internal algorithm
  inference-engine/src/gna_plugin/backend/make_pwl.cpp
Labels: category: GNA

#8260 [IE TESTS][IE CONFORMANCE] Add Config to the conformance tests
  inference-engine/tests/functional/plugin/conformance/test_runner/conformance_infra/include/conformance.hpp
  inference-engine/tests/functional/plugin/conformance/test_runner/conformance_infra/include/gflag_config.hpp
  inference-engine/tests/functional/plugin/conformance/test_runner/conformance_infra/src/main.cpp
  inference-engine/tests/functional/plugin/conformance/test_runner/conformance_infra/src/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/conformance/test_runner/op_conformance_runner/config/config_example.txt
  inference-engine/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/read_ir/read_ir.hpp
  inference-engine/tests/functional/shared_test_classes/src/read_ir/read_ir.cpp
Labels: category: IE Tests
