Repository openvinotoolkit/openvino, pull requests merged in 2021-02, with the labels that each got.

#3893 [Python API] Support of FP16 blobs
  inference-engine/ie_bridges/python/src/openvino/inference_engine/constants.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/tests/test_Blob.py
Labels: bug

#4012 Add MVN-6 op to ONNX importer
  ngraph/frontend/onnx_import/src/op/mean_variance_normalization.cpp
  ngraph/test/models/onnx/mvn_v6.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: onnx importer

#4017 docs copy code button
  docs/doxygen/assets/bootstrap.bundle.min.js
  docs/doxygen/assets/bootstrap.min.css
  docs/doxygen/assets/customdoxygen.css
  docs/doxygen/assets/openvino-layout.js
  docs/doxygen/header.html.in
Labels: category: docs

#3978 [IE][VPU]: Fixes Extract Dynamic Batch
  inference-engine/src/vpu/common/src/ngraph/transformations/extract_dynamic_batch/extract_dynamic_batch.cpp
Labels: category: VPU

#3471 5d support for interpolate onnx_linear mode
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_interpolate_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_interpolate_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/interpolate.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/interpolate.cpp
  ngraph/core/src/op/interpolate.cpp
Labels: category: CPU, category: IE Tests

#4086 Link fixes for 2021.2 benchmark page
  docs/benchmarks/performance_benchmarks.md
Labels: category: docs

#4104 [DOC] ShapeInference.md update. slyalin comments (#3355)
  docs/IE_DG/ShapeInference.md
Labels: category: docs

#3519 fix comments ngraph api - master
  docs/doxygen/ngraph_py_api.xml
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/exceptions.py
  ngraph/python/src/ngraph/helpers.py
  ngraph/python/src/ngraph/impl/op/__init__.py
  ngraph/python/src/ngraph/opset1/ops.py
  ngraph/python/src/ngraph/opset2/ops.py
  ngraph/python/src/ngraph/opset3/ops.py
  ngraph/python/src/ngraph/opset4/ops.py
  ngraph/python/src/ngraph/opset_utils.py
  ngraph/python/src/ngraph/utils/__init__.py
  ngraph/python/src/ngraph/utils/broadcasting.py
  ngraph/python/src/ngraph/utils/decorators.py
  ngraph/python/src/ngraph/utils/input_validation.py
  ngraph/python/src/ngraph/utils/node_factory.py
  ngraph/python/src/ngraph/utils/reduction.py
  ngraph/python/src/ngraph/utils/tensor_iterator_types.py
  ngraph/python/src/ngraph/utils/types.py
Labels: category: nGraph

#4114 Update ONNX dependency to v 1.8.1
  ngraph/cmake/external_onnx.cmake
  ngraph/python/requirements_test.txt
Labels: category: nGraph

#4040 WrapType Improvements
  inference-engine/src/transformations/include/transformations/op_conversions/batch_norm_decomposition.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/conv_bias_fusion.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/batch_norm_decomposition.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_gelu.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_shuffle_channels3.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_ti_to_sequences.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/lstm_cell_decomposition.cpp
  ngraph/core/include/ngraph/pattern/op/wrap_type.hpp
  ngraph/core/src/pass/graph_rewrite.cpp
  ngraph/core/src/pattern/op/wrap_type.cpp
  ngraph/test/pattern.cpp
Labels: category: IE transformations, category: nGraph

#3741 FakeQuantize decomposition
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_quantize_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_quantize_node.h
  inference-engine/src/transformations/include/transformations/op_conversions/fq_decomposition.hpp
  inference-engine/src/transformations/src/transformations/op_conversions/fq_decomposition.cpp
  inference-engine/tests/functional/inference_engine/transformations/fq_decomposition_test.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/fake_quantize.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/cpu_test_utils.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/fake_quantize.hpp
Labels: category: CPU, category: IE transformations

#3859 [CPU] CumSum tensors with rank >= 6 support.
  inference-engine/src/mkldnn_plugin/nodes/cum_sum.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/cum_sum.cpp
Labels: category: CPU, category: IE Tests

#4027 Add Add->Clamp->Div->Mul to HSwish fusion
  inference-engine/src/transformations/include/transformations/common_optimizations/hswish_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/hswish_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/hswish_fusion_test.cpp
Labels: category: IE Tests, category: nGraph

#4047 [CPU] fix NormalizeL2 + Multiply
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_normalize_node.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/normalize.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/fusing_test_utils.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/fusing_test_utils.hpp
Labels: category: CPU

#3927 Move Extension tests from ieFuncTests to cpuFuncTests
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/plugin/cpu/CMakeLists.txt
  inference-engine/tests/functional/plugin/cpu/extension/extension.cpp
Labels: category: IE Tests

#4019 Remove ops from Layer Creator/ Node Converter - part 9
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
Labels: category: nGraph

#4126 [Compile-tool] Fix write output blob for Windows
  inference-engine/tools/compile_tool/main.cpp
Labels: category: IE common

#3838 [IE][nGraph][VPU]: Enables DTS for Loop
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_loop.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/dynamic_to_static_shape_loop.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/dynamic_to_static_shape_split.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_loop.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_loop.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_split.cpp
  ngraph/core/include/ngraph/op/loop.hpp
  ngraph/core/include/ngraph/op/util/sub_graph_base.hpp
  ngraph/core/src/op/loop.cpp
Labels: category: VPU, category: nGraph

#4108 Fix SELECTIVE_BUILD=COLLECT build under sh
  openvino/conditional_compilation/CMakeLists.txt
Labels: category: IE common

#4106 [IE CLDNN] Fixed scatter update op & reshape kernel
  inference-engine/src/cldnn_engine/cldnn_primitives_list.hpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/scatter_update.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_update_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_update_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/include/reshape_dims.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/scatter_update_ref.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#4044 [nGraph] Enable GatherElements tests on CPU plugin
  ngraph/test/backend/gather_elements.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#3839 [CPU] Split layer nspc -> ncsp special case put back.
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_split_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_split_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/split.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_split_test.cpp
Labels: category: CPU

#4116 Fix TF2 Keras RNN support
  model-optimizer/extensions/front/onnx/loop_ext.py
  model-optimizer/extensions/front/tf/while_ext.py
  model-optimizer/extensions/ops/loop.py
Labels: category: MO

#3810 Fix most of clDNN LSTM unit tests
  inference-engine/thirdparty/clDNN/tests/test_cases/lstm_gpu_test.cpp
Labels: category: GPU

#4084 Fixed CNNNetwork iterator for some corner cases with Memory
  inference-engine/src/legacy_api/include/legacy/details/ie_cnn_network_iterator.hpp
  inference-engine/tests/functional/inference_engine/cnn_network/convert_ngraph_to_cnn_network_tests.cpp
Labels: bug, category: IE Tests, category: IE common, category: nGraph

#3772 Add MO support for MVN-6
  inference-engine/src/transformations/include/transformations/op_conversions/mvn6_decomposition.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/mvn6_decomposition.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/mvn_tests.cpp
  inference-engine/tests/functional/inference_engine/transformations/mvn6_decomposition_test.cpp
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/LayerNorm.py
  model-optimizer/extensions/front/LayerNorm_test.py
  model-optimizer/extensions/front/caffe/MVNNormalize_test.py
  model-optimizer/extensions/front/caffe/MVNNormalizer.py
  model-optimizer/extensions/front/caffe/mvn_ext.py
  model-optimizer/extensions/front/instance_normalization.py
  model-optimizer/extensions/front/instance_normalization_test.py
  model-optimizer/extensions/front/onnx/mean_variance_normalization_ext.py
  model-optimizer/extensions/front/tf/mvn.py
  model-optimizer/extensions/front/tf/mvn_unrolled.py
  model-optimizer/extensions/front/tf/transposed_mvn_unrolled.py
  model-optimizer/extensions/middle/FusedBatchNormTraining.py
  model-optimizer/extensions/middle/FusedBatchNormTraining_test.py
  model-optimizer/extensions/middle/GroupNorm.py
  model-optimizer/extensions/ops/mvn.py
  ngraph/python/tests/test_onnx/test_backend.py
Labels: category: MO

#4079 [Docs] Add a note about --hparams for EfficientDet
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_EfficientDet_Models.md
Labels: category: docs

#4130 Extend GELU merger patterns
  model-optimizer/extensions/front/GeLUMerger_Erf.py
  model-optimizer/extensions/front/GeLUMerger_Erf_test.py
Labels: category: MO

#4070 Fixed cldnn compilation with static runtime
  inference-engine/include/gpu/gpu_params.hpp
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.h
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/common/defs.h
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_psroipooling_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/regression/helpers/vpu_case_common.hpp
  inference-engine/tests_deprecated/helpers/tests_file_utils.cpp
  inference-engine/tests_deprecated/helpers/tests_vpu_common.hpp
  inference-engine/thirdparty/clDNN/api/memory.hpp
  inference-engine/thirdparty/clDNN/src/gpu/memory_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/memory_gpu.h
  inference-engine/thirdparty/clDNN/src/gpu/ocl_builder.cpp
  inference-engine/thirdparty/clDNN/src/gpu/ocl_toolkit.cpp
  inference-engine/thirdparty/clDNN/src/include/memory_impl.h
  inference-engine/thirdparty/clDNN/src/memory.cpp
  inference-engine/thirdparty/clDNN/src/memory_pool.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/lstm_gpu_test.cpp
  inference-engine/tools/vpu/common/vpu_tools_common.cpp
  inference-engine/tools/vpu/vpu_perfcheck/main.cpp
  tests/fuzz/fuzz-testhelper/main-testhelper.cc
Labels: category: CPU, category: GPU, category: IE Tests, category: IE common, category: VPU, category: build, platform: win32

#4121 Fuse x * HSigmoid(x) to HSwish(x)
  inference-engine/src/transformations/include/transformations/common_optimizations/hswish_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/hswish_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/hswish_fusion_test.cpp
Labels: category: IE Tests, category: nGraph

#4131 [Hetero] Update layout in inputs info (master)
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
Labels: bug, category: HETERO, category: IE common

#4134 Upgrade pyyaml to the latest
  tests/time_tests/scripts/requirements.txt
  tests/time_tests/test_runner/requirements.txt
Labels: category: IE Tests

#4091 ngraph Constant operator - add `const` for c-tor input parameters
  ngraph/core/include/ngraph/op/constant.hpp
  ngraph/core/src/op/constant.cpp
Labels: category: nGraph

#3391 [LPT] MatMul: 3D quantization support
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/reshape_fully_connected.cpp
  inference-engine/src/low_precision_transformations/include/low_precision/layer_transformation.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/src/fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/src/low_precision_transformations/src/mat_mul.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/quantization_details.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_with_incorrect_weights.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/fake_quantize_on_weights_with_unsupported_child.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/mat_mul_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/mat_mul_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/mat_mul_transformation.hpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/mat_mul_with_constant_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_transformation.cpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/convolution_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/fake_quantize_on_weights_and_unsupported_child_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/mat_mul_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/convolution_function.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/fake_quantize_on_weights_and_unsupported_child_function.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/mat_mul_function.cpp
Labels: category: LP transformations

#3890 [CPU] Enable CTCGreedyDecoderSeqLen.
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/nodes/ctc_greedy.cpp
  inference-engine/src/mkldnn_plugin/nodes/ctc_greedy_decoder.cpp
  inference-engine/src/mkldnn_plugin/nodes/ctc_greedy_decoder_seq_len.cpp
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/ctc_greedy_decoder.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/ctc_greedy_decoder_seq_len.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/ctc_greedy_decoder_seq_len.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/ctc_greedy_decoder.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/ctc_greedy_decoder_seq_len.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/ctc_greedy_decoder.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/ctc_greedy_decoder_seq_len.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/ctc_loss.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/ctc_greedy_decoder.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/ctc_greedy_decoder_seq_len.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/ctc_greedy_decoder.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/ctc_greedy_decoder_seq_len.hpp
Labels: category: CPU, category: IE Tests, category: nGraph

#4042 Add sea to OpenVINO
  CMakeLists.txt
  openvino/conditional_compilation/CMakeLists.txt
  openvino/conditional_compilation/scripts/ccheader.py
  thirdparty/CMakeLists.txt
  thirdparty/itt_collector/CMakeLists.txt
  thirdparty/itt_collector/runtool/collectors/ftrace.py
  thirdparty/itt_collector/runtool/collectors/osx.py
  thirdparty/itt_collector/runtool/collectors/win.py
  thirdparty/itt_collector/runtool/exporters/Stat.py
  thirdparty/itt_collector/runtool/python_compat.py
  thirdparty/itt_collector/runtool/sea.py
  thirdparty/itt_collector/runtool/sea_runtool.py
  thirdparty/itt_collector/sea_itt_lib/CMakeLists.txt
  thirdparty/itt_collector/sea_itt_lib/IntelSEAPI.man
  thirdparty/itt_collector/sea_itt_lib/IttNotifyStdSrc.cpp
  thirdparty/itt_collector/sea_itt_lib/IttNotifyStdSrc.h
  thirdparty/itt_collector/sea_itt_lib/Recorder.cpp
  thirdparty/itt_collector/sea_itt_lib/Recorder.h
  thirdparty/itt_collector/sea_itt_lib/TraceEventFormat.h
  thirdparty/itt_collector/sea_itt_lib/Utils.cpp
  thirdparty/itt_collector/sea_itt_lib/Utils.h
  thirdparty/itt_collector/sea_itt_lib/sea_itt_lib.cpp
Labels: category: IE common

#4014 Network reading failure in IE for operations ExperimentalDetectronPriorGridGenerator and ExperimentalDetectronROIFeatureExtractor
  ngraph/core/src/op/experimental_detectron_prior_grid_generator.cpp
  ngraph/core/src/op/experimental_detectron_roi_feature.cpp
  ngraph/test/type_prop/experimental_detectron_prior_grid_generator.cpp
  ngraph/test/type_prop/experimental_detectron_roi_feature_extractor.cpp
Labels: bug, category: nGraph, pr: needs tests

#3936 Dynamic Batch Test
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/configuration_tests/dynamic_batch.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/configuration_tests/dynamic_batch.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/configuration_tests/dynamic_batch.hpp
  inference-engine/tests/functional/plugin/shared/src/configuration_tests/dynamic_batch.cpp
Labels: category: IE Tests

#4028 [IE CLDNN] FP16 fused eltwise fix
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#4142 Fixed "Reverse input channels" case for common Plugin API
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_request_internal.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/set_preprocess.hpp
Labels: category: IE Tests, category: IE common

#3919 Fixed CVS-47120
  inference-engine/src/legacy_api/src/graph_transformer.cpp
Labels: category: IE common

#4133 Remove redundant attributes in back_edges for TI and Loop layers
  model-optimizer/extensions/ops/tensor_iterator.py
Labels: category: MO

#3947 Add python api for CTCGreedyDecoder
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset6/__init__.py
  ngraph/python/src/ngraph/opset6/ops.py
  ngraph/python/tests/test_ngraph/test_create_op.py
Labels: category: nGraph

#4136 add cl_compiler, dl_streamer and opencv deps to install dependencies script for Ubuntu
  scripts/install_dependencies/install_GST_dependencies.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI, category: dependencies

#3400 [CPU] Enable MVN-6 operation.
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/mvn.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/mvn.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/mvn.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/mvn.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/mvn.cpp
Labels: category: CPU

#4145 Properly enabled ia32 build
  cmake/toolchains/ia32.linux.toolchain.cmake
  inference-engine/cmake/dependencies.cmake
  inference-engine/cmake/features.cmake
  inference-engine/ie_bridges/c/tests/ie_c_api_test.cpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/deterministicity.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/serialize.cpp
  inference-engine/tests/functional/inference_engine/parameter_tests.cpp
Labels: category: IE Tests, category: IE common, category: build, platform: linux

#4050 Used `std::string` as API parameters
  docs/template_plugin/src/template_infer_request.cpp
  docs/template_plugin/src/template_infer_request.hpp
  inference-engine/src/cldnn_engine/cldnn_graph.cpp
  inference-engine/src/cldnn_engine/cldnn_graph.h
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.h
  inference-engine/src/gna_plugin/gna_infer_request.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/hetero_plugin/hetero_infer_request.cpp
  inference-engine/src/hetero_plugin/hetero_infer_request.hpp
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.h
  inference-engine/src/multi_device/multi_device_async_infer_request.cpp
  inference-engine/src/multi_device/multi_device_async_infer_request.hpp
  inference-engine/src/multi_device/multi_device_infer_request.cpp
  inference-engine/src/multi_device/multi_device_infer_request.hpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_infer_async_request_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_default.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_request_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iinfer_request_internal.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_infer_request.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_infer_request.h
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_async_infer_request_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_infer_request_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iasync_infer_request_internal.hpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_infer_async_request_base_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_infer_async_request_thread_safe_default_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_plugin_test.cpp
  inference-engine/tests_deprecated/unit/engines/gna/gna_matcher.cpp
Labels: category: CPU, category: GNA, category: GPU, category: IE Tests, category: IE common, category: MULTI, category: VPU, category: docs

#4162 [Scripts] Fix setupvars.bat, removed enableDelayedExpansion
  scripts/setupvars/setupvars.bat
Labels: category: CI

#4085 Supports tensor names with delimiter
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/tensor_names.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/tensor_names.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/tensor_names.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/tensor_names.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
Labels: category: IE Tests, category: nGraph

#4161 Fixed cc compilation
  ngraph/core/src/op/loop.cpp
Labels: bug, category: nGraph

#4156 Add missing header for std::tolower
  ngraph/core/src/op/util/attr_types.cpp
Labels: ExternalPR, category: nGraph

#4087 [ONNX Importer] Onnx importer support for brocker names
  ngraph/frontend/onnx_import/src/core/graph.cpp
  ngraph/frontend/onnx_import/src/core/value_info.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/models/onnx/tensor_names.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/onnx/onnx_tensor_names.cpp
Labels: category: nGraph, category: onnx importer

#3854 Ngraph: add methods for removing parameters from Function
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/execution_graph_tests/remove_parameter.cpp
  inference-engine/tests/functional/plugin/shared/include/execution_graph_tests/remove_parameter.hpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/remove_parameter.cpp
  ngraph/core/include/ngraph/function.hpp
  ngraph/core/src/function.cpp
  ngraph/test/build_graph.cpp
Labels: category: IE Tests, category: nGraph

#3982 Serialization dynamic layer bug
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/models/nms5_dynamism.bin
  inference-engine/tests/functional/inference_engine/ir_serialization/models/nms5_dynamism.xml
  inference-engine/tests/functional/inference_engine/ir_serialization/serialize.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/non_max_suppression.cpp
Labels: bug, category: IE transformations

#4170 Xmlutils reuse
  inference-engine/src/cldnn_engine/cldnn_custom_layer.cpp
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader_v7/ie_format_parser.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/custom_kernel.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/custom_layer.cpp
Labels: category: GPU, category: IE common, category: VPU, category: nGraph

#3567 create_emitters_for_load_and_store
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/nodes/common/emitter.cpp
  inference-engine/src/mkldnn_plugin/nodes/common/emitter.h
  inference-engine/src/mkldnn_plugin/nodes/common/jit_load_store_emitters.cpp
  inference-engine/src/mkldnn_plugin/nodes/common/jit_load_store_emitters.h
  inference-engine/src/mkldnn_plugin/nodes/jit_eltwise_emitters.cpp
  inference-engine/src/mkldnn_plugin/nodes/jit_eltwise_emitters.hpp
  inference-engine/src/mkldnn_plugin/nodes/jit_mkldnn_emitters.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_eltwise_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.h
  inference-engine/src/mkldnn_plugin/utils/bfloat16.hpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/mvn.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/extensions/mvn_tests.cpp
Labels: category: CPU

#4159 Add collector path for cond. comp. tests
  tests/conditional_compilation/conftest.py
  tests/conditional_compilation/test_collect.py
Labels: category: IE Tests

#4153 [IE][VPU]: Enables WA for Loop creation
  inference-engine/src/vpu/common/src/ngraph/transformations/extract_dynamic_batch/extract_dynamic_batch.cpp
Labels: category: VPU

#3045 Extracted toolchain to build with static runtime from OneCore toolchain
  cmake/toolchains/mt.runtime.win32.toolchain.cmake
  cmake/toolchains/onecoreuap.toolchain.cmake
  inference-engine/tests/ie_test_utils/common_test_utils/CMakeLists.txt
Labels: category: build, platform: win32

#4164 Moved ittapi to thirdparty
  CMakeLists.txt
  openvino/itt/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/ittapi/CMakeLists.txt
Labels: category: IE common

#4105 [IE CLDNN] Added ScatterElementsUpdate op support
  inference-engine/src/cldnn_engine/cldnn_primitives_list.hpp
  inference-engine/src/cldnn_engine/ops/scatter_elements_update.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/scatter_elements_update.cpp
  inference-engine/thirdparty/clDNN/api/scatter_elements_update.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_elements_update_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_elements_update_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_elements_update_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_elements_update_kernel_selector.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/scatter_elements_update_ref.cl
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.hpp
  inference-engine/thirdparty/clDNN/src/gpu/scatter_elements_update_gpu.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/include/scatter_elements_update_inst.h
  inference-engine/thirdparty/clDNN/src/scatter_elements_update.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/scatter_elements_update_gpu_test.cpp
Labels: category: GPU

#3805 Base cancelation implementation
  inference-engine/include/cpp/ie_infer_request.hpp
  inference-engine/src/mkldnn_plugin/mkldnn_async_infer_request.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.h
  inference-engine/src/multi_device/multi_device_async_infer_request.cpp
  inference-engine/src/plugin_api/cpp_interfaces/exception2status.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_default.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_async_infer_request_default.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_infer_request_internal.hpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_executable_network_base_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_infer_async_request_thread_safe_default_test.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/test_graph.hpp
Labels: category: CPU, category: IE Tests, category: IE common

#4160 Added BIN precision convertion to ngraph's u1.
  inference-engine/src/plugin_api/ie_ngraph_utils.hpp
  inference-engine/tests/functional/inference_engine/ir_serialization/models/add_abc_bin.xml
  inference-engine/tests/functional/inference_engine/ir_serialization/serialize.cpp
Labels: bug, category: IE common, category: nGraph

#4147 CVS-43973: added HWC layout
  inference-engine/include/ie_common.h
  inference-engine/include/ie_compound_blob.h
  inference-engine/include/ie_input_info.hpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/ie_compound_blob.cpp
  inference-engine/src/inference_engine/ie_layouts.cpp
  inference-engine/tests/unit/inference_engine/ie_blob_test.cpp
Labels: category: IE common

#3816 Add python API for MVN-6
  ngraph/python/src/ngraph/opset6/__init__.py
  ngraph/python/src/ngraph/opset6/ops.py
  ngraph/python/tests/test_ngraph/test_normalization.py
Labels: category: nGraph

#4045 Removed template parameter from base implementation wrappers
  docs/template_plugin/src/template_executable_network.cpp
  inference-engine/src/multi_device/multi_device_exec_network.cpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_executable_network_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_infer_async_request_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_variable_state_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_executable_network_thread_safe_async_only.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_executable_network_thread_safe_default.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.h
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_executable_network_base_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_infer_async_request_base_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_infer_async_request_thread_safe_default_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_memory_state_internal_test.cpp
  inference-engine/tests/unit/inference_engine/ie_executable_network_test.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_leaks_test.cpp
Labels: category: IE Tests, category: IE common, category: MULTI, category: docs

#4150 [ONNX][Tests][Python][Models] Increase tolerance for some models
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_zoo_models.py
Labels: category: nGraph

#4148 Resolving const - inplace conflict in Scatter node
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_scatter_update_node.cpp
Labels: category: CPU

#4168 Fix for switches conditional compilation
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_split_node.cpp
  openvino/conditional_compilation/include/openvino/cc/selective_build.h
Labels: category: CPU, category: IE common

#4163 opset1::OneHot Fix shape infer function for dynamic input shape case
  inference-engine/src/legacy_api/src/ngraph_ops/onehot_ie.cpp
  ngraph/core/src/op/one_hot.cpp
  ngraph/test/type_prop/one_hot.cpp
Labels: category: nGraph

#3976 Modifications for Object Detection SSD Python sample
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
Labels: category: python api, category: samples

#4157 [IE][VPU]: Enables Loop Support
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/static_shape_loop.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_loop.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/stages/iteration_rule.hpp
  inference-engine/src/vpu/graph_transformer/src/stages/loop_end.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/loop_start.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/tensor_iterator.cpp
Labels: category: IE common, category: VPU, category: nGraph

#4112 [ONNX Importer] Switch to opset6
  ngraph/frontend/onnx_import/src/default_opset.hpp
  ngraph/frontend/onnx_import/src/op/gather_elements.hpp
  ngraph/frontend/onnx_import/src/op/instance_norm.cpp
  ngraph/frontend/onnx_import/src/op/loop.cpp
  ngraph/frontend/onnx_import/src/op/mean_variance_normalization.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/group_norm.cpp
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/test/onnx/onnx_import_controlflow.in.cpp
Labels: category: onnx importer

#4137 Extend LayerNorm pattern to support onnx bert
  model-optimizer/extensions/front/LayerNorm.py
  model-optimizer/extensions/front/LayerNorm_test.py
Labels: category: MO

#4067 [GNA] 1d convolution support for native NCHW models
  inference-engine/src/gna_plugin/gna_data_types.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_patterns.hpp
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/gna_model_serial.cpp
  inference-engine/src/gna_plugin/gna_model_serial.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/serial/headers/2dot5/gna_model_header.hpp
  inference-engine/src/gna_plugin/serial/headers/latest/gna_model_header.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/convolution.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/eltwise_conv_eltwise.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/fc_conv_fc.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/scaleshift_conv_scaleshift.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/split_conv_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/eltwise_conv_eltwise.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/fc_conv_fc.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/scaleshift_conv_scaleshift.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/eltwise_conv_eltwise.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/fc_conv_fc.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/scaleshift_conv_scaleshift.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/convolution.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/eltwise_conv_eltwise.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/fc_conv_fc.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/scaleshift_conv_scaleshift.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/split_conv_concat.cpp
Labels: category: GNA, category: IE Tests

#4180 Skip installing numa pkg in OCL driver script
  scripts/install_dependencies/install_NEO_OCL_driver.sh
Labels: category: CI, category: dependencies

#4183 Update install_openvino_dependencies.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI

#970 Completely transition of MO to Interpolate-4
  docs/ops/image/Interpolate_4.md
  inference-engine/src/transformations/src/transformations/op_conversions/convert_interpolate1_to_interpolate4.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/interpolate_tests.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_interpolate1_to_interpolate4_test.cpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/interpolate_transformation.cpp
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/InterpolateReshape.py
  model-optimizer/extensions/front/InterpolateV1ToInterpolate.py
  model-optimizer/extensions/front/onnx/ONNXResize10ToInterpolate.py
  model-optimizer/extensions/front/onnx/resize_ext.py
  model-optimizer/extensions/front/onnx/resize_to_interpolate.py
  model-optimizer/extensions/front/onnx/upsample_ext.py
  model-optimizer/extensions/front/tf/InterpolateTransposes.py
  model-optimizer/extensions/front/tf/TFResizeToInterpolate.py
  model-optimizer/extensions/front/tf/nearest_neighbor_upsampling.py
  model-optimizer/extensions/front/tf/resize_bilinear.py
  model-optimizer/extensions/front/tf/resize_nearest_neighbor.py
  model-optimizer/extensions/middle/InterpolateSequenceToInterpolate.py
  model-optimizer/extensions/middle/ONNXResize11ToInterpolate.py
  model-optimizer/extensions/middle/SplitConcatPairToInterpolate.py
  model-optimizer/extensions/middle/SplitConcatPairToInterpolate_test.py
  model-optimizer/extensions/middle/UnsqueezeTileReshapeBlockToInterpolate.py
  model-optimizer/extensions/middle/UnsqueezeTileReshapeBlockToInterpolate_test.py
  model-optimizer/extensions/middle/UpsampleToResample.py
  model-optimizer/extensions/middle/UpsampleToResample_test.py
  model-optimizer/extensions/ops/ONNXResize10.py
  model-optimizer/extensions/ops/TFResize.py
  model-optimizer/extensions/ops/interpolate.py
  model-optimizer/extensions/ops/interpolate_test.py
  model-optimizer/extensions/ops/resample.py
  model-optimizer/mo/front/common/partial_infer/utils.py
  ngraph/core/src/op/interpolate.cpp
  ngraph/frontend/onnx_import/src/op/resize.cpp
  ngraph/test/type_prop/interpolate.cpp
Labels: category: MO, category: nGraph

#3758 Maxpool spec update
  docs/ops/pooling/MaxPool_1.md
Labels: category: nGraph

#4089 Tensor names in IR
  model-optimizer/extensions/front/kaldi/set_ports.py
  model-optimizer/extensions/middle/AddMeanScaleValues.py
  model-optimizer/mo/back/ie_ir_ver_2/emitter.py
  model-optimizer/mo/front/caffe/loader.py
  model-optimizer/mo/front/kaldi/loader/loader.py
  model-optimizer/mo/front/kaldi/loader/utils.py
  model-optimizer/mo/front/mxnet/extractors/utils.py
  model-optimizer/mo/front/onnx/loader.py
  model-optimizer/mo/front/tf/extractor.py
  model-optimizer/mo/graph/connection.py
  model-optimizer/mo/graph/connection_test.py
  model-optimizer/mo/graph/graph.py
  model-optimizer/mo/graph/port.py
  model-optimizer/mo/graph/port_test.py
  model-optimizer/mo/middle/passes/fusing/fuse_linear_ops.py
Labels: category: MO

#4205 Update install_prerequisites.bat
  model-optimizer/install_prerequisites/install_prerequisites.bat
Labels: category: MO

#4166 Remove ops from Node Converter- part 1
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/crop_ie.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/eltwise.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/fully_connected.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/power.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/relu_ie.hpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/crop_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/eltwise.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/fully_connected.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/power.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/relu_ie.cpp
Labels: category: nGraph

#3879 [IE][VPU]: Fixes BinaryEltwise DTS on empty input
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_binary_elementwise.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_binary_elementwise.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_binary_elementwise.cpp
Labels: category: IE Tests, category: VPU

#4200 Fix cond comp artifacts path
  tests/conditional_compilation/conftest.py
  tests/conditional_compilation/test_collect.py
Labels: category: IE Tests

#3498 [CPU] A new transformation that adds a convert layer if there is no reorders that support the data type conversion.
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/bf16transformer.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.h
  inference-engine/src/mkldnn_plugin/mkldnn_memory.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_memory.h
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/common/tensor_desc_creator.cpp
  inference-engine/src/mkldnn_plugin/nodes/common/tensor_desc_creator.h
  inference-engine/src/mkldnn_plugin/nodes/convert.cpp
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_convert_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_convert_node.h
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/add_conver_to_reorder.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/cpu_test_utils.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/cpu_test_utils.hpp
Labels: category: CPU

#4101 DeformableConvolution specification refactoring.
  docs/ops/convolution/DeformableConvolution_1.md
Labels: category: docs

#4201 Fixed github issue #4172
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/cpp_holders.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_executor.h
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/cpp_holders.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/cpp_holders.hpp
  inference-engine/tests/functional/plugin/shared/src/behavior/cpp_holders.cpp
Labels: category: IE Tests, category: VPU, category: docs

#4113 Group convolution backprop data
  docs/ops/convolution/GroupConvolutionBackpropData_1.md
  inference-engine/tests/functional/inference_engine/serialization/single_layer/group_convolution_backprop_data.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/group_convolution_backprop_data.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/group_convolution_backprop_data.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/group_convolution.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/group_convolution_backprop_data.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/group_convolution_backprop_data.hpp
  ngraph/core/src/op/group_conv.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/attributes.cpp
  ngraph/test/backend/group_convolution.in.cpp
  ngraph/test/backend/group_convolution_backprop_data.in.cpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/type_prop/group_convolution_backprop_data.cpp
Labels: category: nGraph

#4198 [IE TESTS] Move ROI SLT class to the shared lib
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/roi_align.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/roi_align.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/roi_align.cpp
Labels: category: IE Tests

#4169 [GNA] Support constant trivial networks
  inference-engine/src/gna_plugin/gna_graph_compiler.hpp
  inference-engine/src/gna_plugin/gna_infer_request.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/layers/gna_layer_type.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
Labels: category: GNA, category: IE Tests

#4191 Remove sea collectors
  thirdparty/itt_collector/runtool/collectors/ftrace.py
  thirdparty/itt_collector/runtool/collectors/osx.py
  thirdparty/itt_collector/runtool/collectors/win.py
  thirdparty/itt_collector/runtool/sea.py
  thirdparty/itt_collector/runtool/sea_runtool.py
  thirdparty/itt_collector/sea_itt_lib/CMakeLists.txt
  thirdparty/itt_collector/sea_itt_lib/IntelSEAPI.man
  thirdparty/itt_collector/sea_itt_lib/IttNotifyStdSrc.cpp
  thirdparty/itt_collector/sea_itt_lib/IttNotifyStdSrc.h
  thirdparty/itt_collector/sea_itt_lib/sea_itt_lib.cpp
Labels: category: IE common

#4185 [NGraph][Tests] Update list of skipped tests
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#4082 Support ":" in node name for mean/scale application
  model-optimizer/extensions/middle/AddMeanScaleValues.py
  model-optimizer/extensions/middle/AddMeanScaleValues_test.py
  model-optimizer/mo/front/extractor.py
Labels: category: MO

#4214 Removed remnants of old CPU CC
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_memory_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_memory_node.hpp
Labels: category: CPU, category: build

#3582 Enabled wheel packaging
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/README.md
  inference-engine/ie_bridges/python/src/openvino/inference_engine/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/inference_engine/__init__.py
  inference-engine/ie_bridges/python/wheel/.env.in
  inference-engine/ie_bridges/python/wheel/CMakeLists.txt
  inference-engine/ie_bridges/python/wheel/meta/openvino.requirements.txt
  inference-engine/ie_bridges/python/wheel/meta/pypi_overview.md
  inference-engine/ie_bridges/python/wheel/requirements-dev.txt
  inference-engine/ie_bridges/python/wheel/setup.py
  ngraph/python/src/ngraph/impl/__init__.py
Labels: DO NOT MERGE, category: docs, category: python api

#3950 [LPT] StridedSlice support in ConcatTransformation & ConcatMultiChannelsTransformation
  inference-engine/src/low_precision_transformations/include/low_precision/concat_multi_channels.hpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/src/low_precision_transformations/src/subgraph.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_with_strided_slice_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/concat_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/concat_function.cpp
Labels: category: LP transformations

#4225 Removed redundant code from csv collector
  thirdparty/itt_collector/runtool/exporters/Stat.py
Labels: category: IE common

#3911 [MO][TF] Add Tensorflow Pooling V2
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/tf/pooling_ext.py
  model-optimizer/extensions/front/tf/pooling_ext_test.py
  model-optimizer/extensions/middle/PoolV2ToAttributedPool.py
  model-optimizer/extensions/middle/PoolV2ToAttributedPool_test.py
  model-optimizer/mo/ops/pooling.py
Labels: category: MO, category: docs

#4223 add libglib2.0-dev dependency for DL Streamer draw_face_attributes sample
  scripts/install_dependencies/install_NEO_OCL_driver.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI, category: dependencies

#4197 [MO] Support TF2 Keras ConvLSTM2D operation
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/middle/MoveConstToLoopBody.py
  model-optimizer/extensions/middle/fusings.py
  model-optimizer/extensions/ops/loop.py
  model-optimizer/mo/graph/connection.py
Labels: category: MO

#3123 [MO] pip packaging
  .github/workflows/mo.yml
  model-optimizer/setup.py
Labels: category: MO

#4231 Move .getBatchSize to cnnNetwork scope
  tests/time_tests/src/timetests/timetest_infer.cpp
  tests/time_tests/test_runner/test_timetest.py
Labels: category: IE Tests

#4234 Added coverage for template plugin
  cmake/developer_package/features.cmake
  inference-engine/cmake/coverage.cmake
Labels: category: IE common, category: build

#4178 [VPU] Support negative strides for StridedSlice
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/strided_slice.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/strided_slice.cpp
Labels: category: IE Tests, category: IE common, category: VPU

#4140 [VPU][NGraph][Tests] Merge Gather & GatherElements
  inference-engine/src/vpu/common/include/vpu/ngraph/operations/exp_gather_elements.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/merge_gather_gather_elements.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/utilities.hpp
  inference-engine/src/vpu/common/src/ngraph/operations/exp_gather_elements.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/merge_gather_gather_elements.cpp
  inference-engine/src/vpu/common/src/ngraph/utilities.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/allocator/allocator.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/merge_gather_gather_elements.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/gather_gather_elements.cpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/squeeze_unsqueeze.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/cascade_concat.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/multioutput_eltwise_squeeze_eltwise.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/reshape_squeeze_reshape_relu.cpp
  ngraph/core/src/op/squeeze.cpp
Labels: category: IE Tests, category: VPU, category: nGraph

#4030 Add support for custom ExperimentalDetectron ops to ONNX Importer
  ngraph/core/src/op/experimental_detectron_detection_output.cpp
  ngraph/core/src/op/experimental_detectron_generate_proposals.cpp
  ngraph/core/src/op/experimental_detectron_roi_feature.cpp
  ngraph/frontend/onnx_import/src/core/transform.hpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/experimental_detectron/detection_output.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/experimental_detectron/detection_output.hpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/experimental_detectron/generate_proposals_single_image.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/experimental_detectron/generate_proposals_single_image.hpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/experimental_detectron/prior_grid_generator.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/experimental_detectron/prior_grid_generator.hpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/experimental_detectron/roi_feature_extractor.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/experimental_detectron/roi_feature_extractor.hpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/experimental_detectron/topk_rios.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/experimental_detectron/topk_rios.hpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/models/onnx/org.openvinotoolkit/experimental_detectron/detection_output.prototxt
  ngraph/test/models/onnx/org.openvinotoolkit/experimental_detectron/detection_output_most_attrs_default.prototxt
  ngraph/test/models/onnx/org.openvinotoolkit/experimental_detectron/generate_proposals_single_image.prototxt
  ngraph/test/models/onnx/org.openvinotoolkit/experimental_detectron/group_norm.prototxt
  ngraph/test/models/onnx/org.openvinotoolkit/experimental_detectron/prior_grid_generator.prototxt
  ngraph/test/models/onnx/org.openvinotoolkit/experimental_detectron/roi_feature_extractor.prototxt
  ngraph/test/models/onnx/org.openvinotoolkit/experimental_detectron/topk_rios.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/onnx/onnx_import_org_openvino.in.cpp
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: onnx importer

#4224 Simplified cancel behavior
  docs/template_plugin/src/template_infer_request.cpp
  docs/template_plugin/src/template_infer_request.hpp
  inference-engine/include/cpp/ie_infer_request.hpp
  inference-engine/include/details/ie_exception_conversion.hpp
  inference-engine/include/ie_common.h
  inference-engine/src/gna_plugin/gna_infer_request.hpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_infer_async_request_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_default.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_request_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iinfer_request_internal.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request_cancellation.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_async_infer_request_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_infer_request_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iasync_infer_request_internal.hpp
Labels: category: IE Tests, category: IE common

#4141 [IE Myriad] Fix for myriadInferTests_nightly.NCHW_Input test
  inference-engine/src/preprocessing/ie_preprocess_gapi.cpp
Labels: category: IE Tests, category: IE common, category: VPU, category: nGraph

#4154 Update L2NormToNorm transformation
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/middle/L2NormFusing.py
  model-optimizer/extensions/middle/L2NormFusing_test.py
  model-optimizer/extensions/middle/L2NormToNorm_test.py
Labels: category: MO

#4216 Fix wrong attributes for Pad
  model-optimizer/mo/middle/passes/conv.py
  model-optimizer/mo/ops/pad.py
Labels: category: MO

#4060 [VPU][Benchmark app] Support trivial networks
  inference-engine/samples/benchmark_app/inputs_filling.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/data.hpp
  inference-engine/src/vpu/graph_transformer/src/backend/serialize.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/in_out_convert.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/parse_data.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/allocate_resources.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/eliminate_redundant_conversions.cpp
  inference-engine/src/vpu/graph_transformer/src/model/data.cpp
  inference-engine/src/vpu/graph_transformer/src/model/model.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/parameter_result.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/parameter_shapeof_result.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/parameter_shapeof_result.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/parameter_shapeof_result.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/parameter_shapeof_result.cpp
  tools/benchmark/utils/inputs_filling.py
Labels: category: IE Tests, category: IE common, category: VPU, category: samples

#4246 Fix Doc CI
  .github/workflows/build_doc.yml
  docs/doxygen/build_main_layout.py
  docs/doxygen/doxygen-ignore.txt
  docs/doxygen/log.py
Labels: category: CI, category: docs

#4210 [IE CLDNN] Fixed performance of grouped convolutions
  inference-engine/thirdparty/clDNN/src/gpu/convolution_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/deconvolution_gpu.cpp
Labels: category: GPU

#4237 Feature/azaytsev/compile tool doc updates
  inference-engine/tools/compile_tool/README.md
Labels: category: docs

#4221 Remove v0 multiply
  ngraph/core/include/ngraph/op/multiply.hpp
  ngraph/core/src/op/multiply.cpp
  ngraph/test/op_is.cpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/runtime/pass/opset1_upgrade.cpp
Labels: category: nGraph

#4181 Remove ops from Node Converter- part 2
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/interp.hpp
  inference-engine/src/legacy_api/include/legacy/ngraph_ops/scaleshift.hpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.h
  inference-engine/src/legacy_api/src/ngraph_ops/interp.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/scaleshift.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/interpolate_tests.cpp
Labels: category: nGraph

#4239 [TESTS] Behavior test check input layout propagation
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/layout.cpp
  inference-engine/tests/functional/plugin/shared/src/behavior/layout.cpp
Labels: category: IE Tests

#4211 Removed legacy IE shape infer
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/generic_ie.cpp
  inference-engine/src/inference_engine/shape_infer/ie_built_in_holder.cpp
  inference-engine/src/inference_engine/shape_infer/ie_built_in_holder.hpp
  inference-engine/src/inference_engine/shape_infer/ie_built_in_impl.hpp
  inference-engine/src/inference_engine/shape_infer/ie_ishape_infer_extension.hpp
  inference-engine/src/inference_engine/shape_infer/ie_proposal_shape_infer.hpp
  inference-engine/src/inference_engine/shape_infer/ie_rnn_cell_shape_infer.hpp
  inference-engine/src/inference_engine/shape_infer/ie_simpler_nms_shape_infer.hpp
  inference-engine/src/inference_engine/shape_infer/ie_sparse_to_dense_shape_infer.hpp
  inference-engine/src/inference_engine/shape_infer/ie_unique_shape_infer.hpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/proposal_tests.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reshape_tests.cpp
Labels: category: IE common

#4257 Remove use of `-f` key which isn't defined in openvino/**/sea_runtool.py
  tests/conditional_compilation/test_collect.py
Labels: category: IE Tests

#4245 Change tempfile usage in timetests
  tests/time_tests/scripts/run_timetest.py
Labels: category: IE Tests

#3804 Telemetry sender and MO instrumentation
  model-optimizer/automation/package_BOM.txt
  model-optimizer/mo/main.py
  model-optimizer/mo/utils/versions_checker.py
  model-optimizer/requirements.txt
  model-optimizer/requirements_caffe.txt
  model-optimizer/requirements_dev.txt
  model-optimizer/requirements_kaldi.txt
  model-optimizer/requirements_mxnet.txt
  model-optimizer/requirements_onnx.txt
  model-optimizer/requirements_tf.txt
  model-optimizer/requirements_tf2.txt
  model-optimizer/telemetry/__init__.py
  model-optimizer/telemetry/backend/__init__.py
  model-optimizer/telemetry/backend/backend.py
  model-optimizer/telemetry/backend/backend_ga.py
  model-optimizer/telemetry/telemetry.py
  model-optimizer/telemetry/utils/__init__.py
  model-optimizer/telemetry/utils/guid.py
  model-optimizer/telemetry/utils/isip.py
  model-optimizer/telemetry/utils/message.py
  model-optimizer/telemetry/utils/sender.py
Labels: DO NOT MERGE

#4247 Add opset6 to serialization.
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/mvn.cpp
Labels: category: IE transformations

#4199 ConvND: fix errmsg if groups > 1
  inference-engine/src/vpu/graph_transformer/src/stages/convolution.cpp
Labels: bug, category: VPU

#4226 Refactor GroupConvolutionBackpropData to inherit from Op
  ngraph/core/include/ngraph/op/group_conv.hpp
  ngraph/core/src/op/group_conv.cpp
Labels: category: nGraph

#4229 [ONNX] Convert to integral type in OneHot op
  ngraph/frontend/onnx_import/src/op/onehot.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: nGraph, category: onnx importer

#4266 Change in pyngraph NodeFactory constructor
  ngraph/python/src/pyngraph/node_factory.cpp
Labels: category: nGraph

#4259 Removed redundant memcpy calls. Share weights from original blob
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.hpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  ngraph/core/include/ngraph/op/constant.hpp
  ngraph/core/include/ngraph/runtime/aligned_buffer.hpp
  ngraph/core/src/op/constant.cpp
  ngraph/core/src/runtime/aligned_buffer.cpp
  ngraph/test/util/visitor.hpp
Labels: bug, category: IE common, category: nGraph

#4189 Dequantize (Sub, Mul) to FakeQuantize
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/transformations/include/transformations/common_optimizations/weights_dequantize_to_fake_quantize.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/weights_dequantize_to_fake_quantize.cpp
Labels: bug

#4081 Update mxnet version
  model-optimizer/requirements.txt
  model-optimizer/requirements_mxnet.txt
Labels: category: MO

#4238 [VPU] MVN-6 native partial support
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/mvn.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/mvn.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_mvn_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_mvn_test.hpp
Labels: category: IE Tests, category: VPU

#4244 Activate OV environment from cond comp test_infer
  tests/conditional_compilation/conftest.py
  tests/conditional_compilation/test_infer.py
  tests/lib/install_pkg.py
  tests/lib/proc_utils.py
Labels: category: IE Tests

#4251 [VPU] Fix PR #4140
  inference-engine/src/vpu/common/src/ngraph/transformations/merge_gather_gather_elements.cpp
Labels: category: VPU

#4165 Dynamism leftovers
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_one_hot_to_one_hot_ie.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  ngraph/core/include/ngraph/descriptor/tensor.hpp
  ngraph/core/include/ngraph/validation_util.hpp
  ngraph/core/src/descriptor/tensor.cpp
  ngraph/core/src/graph_util.cpp
  ngraph/core/src/op/concat.cpp
  ngraph/core/src/op/convert.cpp
  ngraph/core/src/op/gather.cpp
  ngraph/core/src/op/loop.cpp
  ngraph/core/src/op/min.cpp
  ngraph/core/src/op/reduce_prod.cpp
  ngraph/core/src/op/reshape.cpp
  ngraph/core/src/op/select.cpp
  ngraph/core/src/op/shape_of.cpp
  ngraph/core/src/op/squeeze.cpp
  ngraph/core/src/op/strided_slice.cpp
  ngraph/core/src/op/tensor_iterator.cpp
  ngraph/core/src/op/unsqueeze.cpp
  ngraph/core/src/op/util/binary_elementwise_arithmetic.cpp
  ngraph/core/src/op/util/broadcast_base.cpp
  ngraph/core/src/specialize_function.cpp
  ngraph/core/src/validation_util.cpp
  ngraph/test/type_prop/loop.cpp
Labels: category: nGraph

#4275 Change tempfile usage : fix return code '3221226505' on win
  tests/time_tests/scripts/run_timetest.py
Labels: category: IE Tests

#4232 Removed ngraph-specific variable with flags
  ngraph/CMakeLists.txt
  ngraph/cmake/external_gtest.cmake
  ngraph/cmake/external_onnx.cmake
Labels: category: build, category: nGraph

#4002 Adds support of user layouts to benchmark_app
  inference-engine/samples/benchmark_app/README.md
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  inference-engine/samples/benchmark_app/inputs_filling.cpp
  inference-engine/samples/benchmark_app/inputs_filling.hpp
  inference-engine/samples/benchmark_app/main.cpp
  inference-engine/samples/benchmark_app/utils.cpp
  inference-engine/samples/benchmark_app/utils.hpp
  inference-engine/tools/benchmark_tool/README.md
  tools/benchmark/README.md
  tools/benchmark/main.py
  tools/benchmark/parameters.py
  tools/benchmark/utils/inputs_filling.py
  tools/benchmark/utils/utils.py
Labels: category: docs, category: tools

#4276 Reverse input channels fusion
  model-optimizer/extensions/back/ReverseInputChannels.py
  model-optimizer/extensions/front/DropoutWithRandomUniformReplacer.py
  model-optimizer/extensions/front/HSigmoid_fusion.py
  model-optimizer/extensions/front/HSwish_fusion.py
  model-optimizer/extensions/front/Softplus_fusion.py
  model-optimizer/mo/middle/pattern_match.py
Labels: bug, category: MO

#4167 Update benchmark_app to pass precision and layout via command line
  inference-engine/CMakeLists.txt
  inference-engine/samples/CMakeLists.txt
  inference-engine/samples/benchmark_app/CMakeLists.txt
  inference-engine/samples/benchmark_app/README.md
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  inference-engine/samples/benchmark_app/main.cpp
  inference-engine/samples/classification_sample_async/CMakeLists.txt
  inference-engine/samples/common/format_reader/CMakeLists.txt
  inference-engine/samples/common/samples/args_helper.hpp
  inference-engine/samples/common/utils/CMakeLists.txt
  inference-engine/samples/common/utils/include/samples/args_helper.hpp
  inference-engine/samples/common/utils/include/samples/classification_results.h
  inference-engine/samples/common/utils/include/samples/common.hpp
  inference-engine/samples/common/utils/include/samples/console_progress.hpp
  inference-engine/samples/common/utils/include/samples/csv_dumper.hpp
  inference-engine/samples/common/utils/include/samples/ocv_common.hpp
  inference-engine/samples/common/utils/include/samples/os/windows/w_dirent.h
  inference-engine/samples/common/utils/include/samples/slog.hpp
  inference-engine/samples/common/utils/include/samples/vpu/vpu_tools_common.hpp
  inference-engine/samples/common/utils/src/args_helper.cpp
  inference-engine/samples/common/utils/src/common.cpp
  inference-engine/samples/hello_classification/CMakeLists.txt
  inference-engine/samples/hello_nv12_input_classification/CMakeLists.txt
  inference-engine/samples/hello_nv12_input_classification/main.cpp
  inference-engine/samples/hello_query_device/CMakeLists.txt
  inference-engine/samples/hello_reshape_ssd/CMakeLists.txt
  inference-engine/samples/ngraph_function_creation_sample/CMakeLists.txt
  inference-engine/samples/object_detection_sample_ssd/CMakeLists.txt
  inference-engine/samples/object_detection_sample_ssd/main.cpp
  inference-engine/samples/speech_sample/CMakeLists.txt
  inference-engine/samples/style_transfer_sample/CMakeLists.txt
  inference-engine/tests_deprecated/helpers/CMakeLists.txt
  inference-engine/tools/compile_tool/CMakeLists.txt
  inference-engine/tools/compile_tool/main.cpp
  inference-engine/tools/vpu/common/vpu_tools_common.cpp
  inference-engine/tools/vpu/common/vpu_tools_common.hpp
  inference-engine/tools/vpu/vpu_compile/CMakeLists.txt
  inference-engine/tools/vpu/vpu_perfcheck/CMakeLists.txt
  inference-engine/tools/vpu/vpu_perfcheck/main.cpp
Labels: category: IE common

#4132 [Compile-tool] Fix write output blob for Windows to release
  .ci/azure/mac.yml
  inference-engine/tools/compile_tool/main.cpp
Labels: category: IE common

#4286 Fixes for Object Detection SSD samples docs (C++ and Python)
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/README.md
  inference-engine/samples/object_detection_sample_ssd/README.md
Labels: category: docs, category: samples

#4277 WA for GCC 7.5 pybind warning
  CMakeLists.txt
  ngraph/python/CMakeLists.txt
Labels: category: IE common, category: build

#4222 OpenVINO ONNX CI update models refactor
  ngraph/python/tests/test_onnx/model_zoo_preprocess.sh
Labels: category: CI, category: nGraph

#4290 Fix cond comp environment setup
  tests/lib/proc_utils.py
Labels: category: IE Tests

#4301 update doxygen layouts
  docs/doxygen/ie_docs.xml
  docs/doxygen/openvino_docs.xml
Labels: category: docs

#4256 Update mobilenetv3 doc support
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
Labels: category: docs

#4254 Inserting videos
  docs/IE_DG/Deep_Learning_Inference_Engine_DevGuide.md
  docs/IE_DG/supported_plugins/MULTI.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/how_tos/how-to-links.md
Labels: category: docs

#4240 ref_impl - Concat: buffer calculation of shape sizes
  ngraph/core/reference/src/runtime/reference/concat.cpp
Labels: category: nGraph

#4230 CVS-48367: Enable HoldersTestOnImportedNetwork test on GNA
  inference-engine/src/gna_plugin/gna_executable_network.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/cpp_holders.cpp
Labels: category: GNA, category: IE Tests

#4177 [CPU][VPU][TESTS] CTCGreedyDecoderSeqLen myriad test & fixes
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/stage_builder.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/ctc_greedy_decoder_seq_len.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/gather_nd.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/ctc_greedy_decoder_seq_len.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/ctc_greedy_decoder_seq_len.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/ctc_greedy_decoder_seq_len.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/ctc_greedy_decoder_seq_len.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/ctc_greedy_decoder_seq_len.cpp
Labels: category: IE Tests, category: IE common, category: VPU

#4061 [GNA] 4D StridedSlice, Clamp, InsertIdentityLayerPass, SubstituteScaleShiftBroadCastPass fixes
  inference-engine/src/gna_plugin/backend/dnn_types.h
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/runtime/gna_float_runtime.cpp
  inference-engine/src/gna_plugin/runtime/pwl.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/crop4d.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/crop4d.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/crop4d.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/crop4d.cpp
  inference-engine/tests_deprecated/unit/engines/gna/test_irs.cpp
Labels: category: GNA
