Repository openvinotoolkit/openvino, pull requests merged in 2021-04, with the labels that each got.

#4780 doc: update README for C samples, add comments
  docs/IE_DG/Samples_Overview.md
  inference-engine/ie_bridges/c/samples/hello_classification/README.md
  inference-engine/ie_bridges/c/samples/hello_classification/main.c
  inference-engine/ie_bridges/c/samples/hello_nv12_input_classification/CMakeLists.txt
  inference-engine/ie_bridges/c/samples/hello_nv12_input_classification/README.md
  inference-engine/ie_bridges/c/samples/hello_nv12_input_classification/main.c
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/c_w_dirent.h
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/main.c
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/object_detection_sample_ssd.h
Labels: category: IE common, category: docs, category: samples

#5066 [2021.3] Fix missed POT content for wheels
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.setup.cfg
Labels: category: python api

#5044 Fix missed POT content for wheels
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.setup.cfg
Labels: category: python api

#4964 Run IR models via TestCase
  ngraph/test/models/ir/add_abc.bin
  ngraph/test/models/ir/add_abc.xml
  ngraph/test/models/ir/weights/add_abc.bin
  ngraph/test/onnx/onnx_test_utils.in.cpp
  ngraph/test/util/CMakeLists.txt
  ngraph/test/util/test_case.cpp
  ngraph/test/util/test_case.hpp
Labels: category: nGraph

#5013 [PyPI] Fixed dependency conflict
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.requirements.txt
Labels: category: python api

#5038 Enable mo.front.common.extractors module
  .github/workflows/mo.yml
  model-optimizer/automation/package_BOM.txt
  model-optimizer/mo/front/common/extractors/__init__.py
  model-optimizer/mo/utils/ir_reader/extenders/__init__.py
Labels: category: MO

#5034 Add Debug build to OpenVINO-ONNX CI
  .ci/openvino-onnx/Dockerfile
  .ci/openvino-onnx/Jenkinsfile
  ngraph/python/requirements_test.txt
  ngraph/python/tox.ini
Labels: category: CI

#5053 [VPU] fixing wrong threads behavior in mvnc_api.c
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_api.c
Labels: category: VPU

#5040 Caching support of multi-device scenario
  inference-engine/src/inference_engine/ie_cache_guard.cpp
  inference-engine/src/inference_engine/ie_cache_guard.hpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/tests/functional/inference_engine/caching_test.cpp
  inference-engine/tests/unit/inference_engine/ie_compilation_context_test.cpp
  ngraph/core/src/opsets/opset.cpp
  ngraph/core/src/partial_shape.cpp
  ngraph/test/op.cpp
Labels: category: IE Tests, category: IE common, category: nGraph

#5016 PReLU specification refactoring
  docs/ops/activation/PReLU_1.md
Labels: category: docs, category: nGraph

#5015 Swish specification refactoring
  docs/ops/activation/Swish_4.md
Labels: category: docs, category: nGraph

#5035 Mish specification refactoring
  docs/ops/activation/Mish_4.md
Labels: category: docs, category: nGraph

#5036 SoftPlus specification refactoring
  docs/ops/activation/SoftPlus_4.md
Labels: category: docs, category: nGraph

#5054 Test MO wheel content
  .github/workflows/mo.yml
  model-optimizer/automation/package_BOM.txt
  model-optimizer/mo/utils/ir_reader/extenders/__init__.py
Labels: category: CI, category: MO

#4852 [GNA] Fix transformation from NCHW to NHWC for 4d concat
  inference-engine/src/gna_plugin/gna_graph_patterns.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/const_conv_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/const_conv_concat.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/const_conv_concat.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/const_conv_concat.cpp
Labels: category: GNA, category: IE Tests

#4994 Fix benchmark_app to update app_inputs_info correctly
  inference-engine/samples/benchmark_app/main.cpp
  tools/benchmark/utils/utils.py
Labels: category: IE common, category: tools

#4885 nGraph shell implementation of Gather-7
  ngraph/core/include/ngraph/op/gather.hpp
  ngraph/core/include/ngraph/opsets/opset7_tbl.hpp
  ngraph/core/src/op/gather.cpp
  ngraph/core/src/op/gather_elements.cpp
  ngraph/test/type_prop/gather.cpp
Labels: category: nGraph

#5078 numpy.packbits usage for numpy 1.14.0 support
  model-optimizer/extensions/ops/Cast.py
Labels: bug, category: MO

#4864 [GNA] Enable convolution in height dimension for NHWC native models
  inference-engine/src/gna_plugin/frontend/layer_quantizer.hpp
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_data_types.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_compiler.hpp
  inference-engine/src/gna_plugin/gna_graph_patterns.hpp
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/remove_permutations_NHWC_to_NCHW_pass.cpp
Labels: category: GNA, category: IE Tests

#4980 Update StridedSlice extender to handle StridedSlice op with empty attributes
  model-optimizer/mo/utils/ir_reader/extenders/strided_slice_extender.py
Labels: bug, category: MO

#5014 [time-tests] Remove outliers using Inter Quartile Range (IQR)
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/requirements.txt
  tests/time_tests/test_runner/utils.py
Labels: category: IE Tests

#5070 [IE TESTS] Fix input generation for reduce ops (conformance)
  inference-engine/tests/functional/shared_test_classes/src/read_ir/generate_inputs.cpp
Labels: category: IE Tests

#5022 [LPT] AddTransformation fix
  inference-engine/src/low_precision_transformations/src/add.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/transformations_after_split_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/transformations_after_split_function.cpp
Labels: bug, category: LP transformations

#5079 Add constant subgrpahs handling in extractor
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/single_op.cpp
Labels: category: IE Tests

#4947 Roll reference implementation
  ngraph/core/reference/include/ngraph/runtime/reference/roll.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/roll.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
Labels: category: nGraph

#5002 Add more features to span and unit tests
  ngraph/core/reference/include/ngraph/runtime/reference/utils/span.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/span.cpp
Labels: category: nGraph

#4970 [IE Tools] replace .format on f-string
  inference-engine/tools/cross_check_tool/cross_check_tool.py
  inference-engine/tools/cross_check_tool/utils.py
  tools/benchmark/benchmark.py
  tools/benchmark/main.py
  tools/benchmark/parameters.py
  tools/benchmark/utils/inputs_filling.py
  tools/benchmark/utils/statistics_report.py
  tools/benchmark/utils/utils.py
Labels: category: IE common, category: tools

#5095 [IE TESTS] Fix conformance test names
  inference-engine/tests/functional/shared_test_classes/src/read_ir/read_ir.cpp
Labels: category: IE Tests

#5092 Add POT how-to
  docs/how_tos/POT_how_to_example.md
Labels: category: docs

#5094 setupvars and demos: Fix getting openvino dir on macOS 10.15 with zsh shell
  inference-engine/samples/build_samples.sh
  model-optimizer/install_prerequisites/install_prerequisites.sh
  scripts/demo/demo_benchmark_app.sh
  scripts/demo/demo_security_barrier_camera.sh
  scripts/demo/demo_squeezenet_download_convert_run.sh
  scripts/install_dependencies/install_NEO_OCL_driver.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
  scripts/setupvars/setupvars.sh
Labels: category: CI, category: IE common, category: MO

#5060 Revise mod
  ngraph/core/include/ngraph/op/mod.hpp
  ngraph/core/src/op/mod.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/mod.in.cpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/type_prop/mod.cpp
  ngraph/test/visitors/op/mod.cpp
Labels: category: nGraph

#4897 DefromablePSROIPooling shape inference update
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/deformable_psroi_pooling_tests.cpp
  ngraph/core/include/ngraph/op/deformable_psroi_pooling.hpp
  ngraph/core/src/op/deformable_psroi_pooling.cpp
  ngraph/test/type_prop/deformable_psroi_pooling.cpp
Labels: category: nGraph

#4953 [IE CLDNN] lower the tolerance of scatter elements update fusing test from 1 to 1e-5
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#5026 [ Transpose sinking ] Transpose->FQ->Reduce
  inference-engine/src/transformations/include/transformations/common_optimizations/transpose_sinking.hpp
  inference-engine/src/transformations/include/transformations/utils/utils.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/algebraic_simplification.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/transpose_sinking.cpp
  inference-engine/src/transformations/src/transformations/utils/utils.cpp
  inference-engine/tests/functional/inference_engine/transformations/algebraic_simplification.cpp
  inference-engine/tests/functional/inference_engine/transformations/transpose_sinking_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/transpose_to_reshape_test.cpp
  ngraph/core/include/ngraph/op/max.hpp
  ngraph/core/include/ngraph/op/min.hpp
  ngraph/core/include/ngraph/op/reduce_l1.hpp
  ngraph/core/include/ngraph/op/reduce_l2.hpp
  ngraph/core/include/ngraph/op/reduce_mean.hpp
  ngraph/core/include/ngraph/op/reduce_prod.hpp
  ngraph/core/include/ngraph/op/reduce_sum.hpp
  ngraph/core/include/ngraph/op/util/arithmetic_reduction.hpp
  ngraph/core/include/ngraph/op/util/arithmetic_reductions_keep_dims.hpp
  ngraph/core/include/ngraph/op/util/logical_reduction.hpp
  ngraph/core/include/ngraph/op/util/logical_reduction_keep_dims.hpp
  ngraph/core/include/ngraph/util.hpp
  ngraph/core/src/op/max.cpp
  ngraph/core/src/op/min.cpp
  ngraph/core/src/op/reduce_l1.cpp
  ngraph/core/src/op/reduce_l2.cpp
  ngraph/core/src/op/reduce_logical_and.cpp
  ngraph/core/src/op/reduce_logical_or.cpp
  ngraph/core/src/op/reduce_mean.cpp
  ngraph/core/src/op/reduce_prod.cpp
  ngraph/core/src/op/reduce_sum.cpp
  ngraph/core/src/op/util/arithmetic_reduction.cpp
  ngraph/core/src/op/util/arithmetic_reductions_keep_dims.cpp
  ngraph/core/src/op/util/logical_reduction.cpp
  ngraph/core/src/op/util/logical_reduction_keep_dims.cpp
  ngraph/core/src/util.cpp
Labels: category: nGraph, feature

#5103 [IE TESTS] Fix mistake in report aggregator
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/merge_xmls.py
Labels: category: IE Tests

#5025 SIMD opt for the Resize 32F1C
  inference-engine/src/preprocessing/arm_neon/ie_preprocess_gapi_kernels_neon.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels_simd_impl.hpp
  inference-engine/thirdparty/ocv/opencv_hal_neon.hpp
Labels: category: IE common

#5027 ScatterNDUpdate: Fix Klocwork issue
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_nd_update_kernel_ref.cpp
Labels: category: GPU, category: IE Tests

#5052 Add entry point for model optimizer as 'mo' alias
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.setup.cfg
  model-optimizer/setup.py
Labels: category: python api

#5090 fix doc iframe issue - 2021.3
  docs/IE_DG/Deep_Learning_Inference_Engine_DevGuide.md
  docs/IE_DG/supported_plugins/MULTI.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
Labels: DO NOT MERGE, category: docs

#5111 [LPT] Concat*Transformation: handled FQ with unexpected quantization levels
  inference-engine/src/low_precision_transformations/include/low_precision/common/ie_lpt_exception.hpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/concat_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/concat_transformation.cpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/concat_transformation.cpp
Labels: category: CPU, category: IE Tests, category: LP transformations

#5074 Update docs for wide and deep model convertion
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_WideAndDeep_Family_Models.md
Labels: category: docs

#4762 [IE CLDNN] Undefs generation optimization
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/batch_to_space/batch_to_space_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/deformable_convolution_kernel_bfyx_interp.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/cum_sum/cum_sum_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/cum_sum/cum_sum_kernel_partial_sum.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/depth_to_space/depth_to_space_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_fs_b_yx_fsv32.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_mixed_byxf_and_fs_b_yx_fsv32.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_vload8.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/embedding_bag/embedding_bag_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/permute/permute_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/quantize/quantize_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reorder/reorder_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reshape/reshape_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/reverse_sequence/reverse_sequence_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_elements_update_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_nd_update_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/scatter_update/scatter_update_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/select/select_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/shuffle_channels/shuffle_channels_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/space_to_batch/space_to_batch_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/space_to_depth/space_to_depth_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/strided_slice/strided_slice_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/tile/tile_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/kernel_base_opencl.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/kernel_base_opencl.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/primitive_db_gen.py
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_common.h
  inference-engine/thirdparty/clDNN/src/gpu/kernels_cache.cpp
Labels: category: GPU

#4387 Convolution group operations alignment
  docs/ops/convolution/BinaryConvolution_1.md
  docs/ops/convolution/Convolution_1.md
  docs/ops/convolution/DeformableConvolution_1.md
  docs/ops/convolution/GroupConvolutionBackpropData_1.md
  docs/ops/convolution/GroupConvolution_1.md
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/binary_convolution.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/convolution.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/group_convolution.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/group_convolution_backprop_data.cpp
  ngraph/core/include/ngraph/validation_util.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/binary_convolution.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/convolution.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/group_convolution.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/group_convolution_backprop_data.hpp
  ngraph/core/src/op/binary_convolution.cpp
  ngraph/core/src/op/convolution.cpp
  ngraph/core/src/op/group_conv.cpp
  ngraph/core/src/validation_util.cpp
  ngraph/test/type_prop/binary_convolution.cpp
  ngraph/test/type_prop/convolution.cpp
  ngraph/test/type_prop/group_convolution.cpp
  ngraph/test/type_prop/group_convolution_backprop_data.cpp
Labels: category: nGraph

#5085 Update specifications for ExperimentalDetectron* operations
  docs/ops/detection/ExperimentalDetectronDetectionOutput_6.md
  docs/ops/detection/ExperimentalDetectronGenerateProposalsSingleImage_6.md
  docs/ops/detection/ExperimentalDetectronPriorGridGenerator_6.md
  docs/ops/detection/ExperimentalDetectronROIFeatureExtractor_6.md
  docs/ops/sort/ExperimentalDetectronTopKROIs_6.md
Labels: category: docs

#4996 [IE clDNN] Support broadcasting in etlwise b_fs_yx_fsv16
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/eltwise_b_fs_yx_fsv16.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#4195 [LPT] Split & VariadicSplit support
  inference-engine/src/low_precision_transformations/include/low_precision/concat.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/concat_multi_channels.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/split.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/variadic_split.hpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/split.cpp
  inference-engine/src/low_precision_transformations/src/strided_slice.cpp
  inference-engine/src/low_precision_transformations/src/subgraph.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/src/low_precision_transformations/src/variadic_split.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/split_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/strided_slice_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/variadic_split_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/concat_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/concat_function.cpp
Labels: category: LP transformations

#5129 Revert "[LPT] Split & VariadicSplit support"
  inference-engine/src/low_precision_transformations/include/low_precision/concat.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/concat_multi_channels.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/split.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/variadic_split.hpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/split.cpp
  inference-engine/src/low_precision_transformations/src/strided_slice.cpp
  inference-engine/src/low_precision_transformations/src/subgraph.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/src/low_precision_transformations/src/variadic_split.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/split_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/strided_slice_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/variadic_split_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/concat_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/concat_function.cpp
Labels: category: CPU, category: IE Tests

#5120 [ONNX] remove ReduceMax and Subtract from LogSoftmax
  ngraph/frontend/onnx_import/src/op/log_softmax.cpp
Labels: category: nGraph

#5128 Add specifications for ExperimentalDetectron* oprations
  docs/doxygen/ie_docs.xml
  docs/ops/detection/ExperimentalDetectronDetectionOutput_6.md
  docs/ops/detection/ExperimentalDetectronGenerateProposalsSingleImage_6.md
  docs/ops/detection/ExperimentalDetectronPriorGridGenerator_6.md
  docs/ops/detection/ExperimentalDetectronROIFeatureExtractor_6.md
  docs/ops/opset6.md
  docs/ops/sort/ExperimentalDetectronTopKROIs_6.md
Labels: category: docs

#4427 [PP] Support for FP16 in Reorder cases
  inference-engine/src/preprocessing/ie_preprocess_gapi.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/tests_deprecated/fluid_preproc/common/fluid_tests.cpp
  inference-engine/tests_deprecated/fluid_preproc/cpu/fluid_tests_cpu.cpp
  inference-engine/thirdparty/fluid/modules/gapi/include/opencv2/gapi/own/cvdefs.hpp
Labels: category: IE Tests, category: IE common

#4800 [CPU] Added GELU-7 support
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_eltwise_node.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/activation.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/activation.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/activation.cpp
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_ngraph/test_ops_unary.py
Labels: category: CPU

#4933 [TimeTests] Add test case for first time inference with caching
  tests/time_tests/src/timetests/timetest_infer_cache.cpp
Labels: category: IE Tests

#5132 [LPT] Split/VariadicSplit support
  inference-engine/src/low_precision_transformations/include/low_precision/concat.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/concat_multi_channels.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/split.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/variadic_split.hpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/split.cpp
  inference-engine/src/low_precision_transformations/src/strided_slice.cpp
  inference-engine/src/low_precision_transformations/src/subgraph.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/src/low_precision_transformations/src/variadic_split.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/split_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/strided_slice_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/variadic_split_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/concat_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/concat_function.cpp
Labels: category: CPU, category: IE Tests, category: LP transformations

#4984 [IE CLDNN] Add sub-device support to GPU plugin
  inference-engine/thirdparty/clDNN/src/gpu/ocl_builder.cpp
Labels: category: GPU

#4922 Used internal executable network implementation
  docs/template_plugin/src/template_plugin.cpp
  docs/template_plugin/src/template_plugin.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/include/cpp/ie_executable_network.hpp
  inference-engine/include/details/ie_so_pointer.hpp
  inference-engine/include/ie_common.h
  inference-engine/include/ie_iexecutable_network.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin.hpp
  inference-engine/src/gna_plugin/gna_plugin_internal.hpp
  inference-engine/src/hetero_plugin/hetero_plugin.cpp
  inference-engine/src/hetero_plugin/hetero_plugin.hpp
  inference-engine/src/inference_engine/cpp/ie_executable_network.cpp
  inference-engine/src/inference_engine/ie_plugin_cpp.hpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_executable_network_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/exception2status.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_executable_network_thread_safe_async_only.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_executable_network_thread_safe_default.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_request_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_plugin_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iexecutable_network_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.h
  inference-engine/tests/functional/inference_engine/caching_test.cpp
  inference-engine/tests/functional/inference_engine/executable_network.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_inference_plugin_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iinference_plugin.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.hpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_memory_state_internal_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_plugin_test.cpp
  inference-engine/tests/unit/inference_engine/ie_executable_network_test.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/helpers/myriad_load_network_case.hpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/vpu_load_network_tests.cpp
  inference-engine/tests_deprecated/functional/ie_tests/src/custom_matcher.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_leaks_test.cpp
  inference-engine/tools/vpu/vpu_perfcheck/main.cpp
Labels: category: GNA, category: IE Tests, category: IE common, category: VPU, category: docs

#4907 Update IE Python Samples
  inference-engine/ie_bridges/python/sample/classification_sample_async/classification_sample_async.py
  inference-engine/ie_bridges/python/sample/hello_classification/hello_classification.py
  inference-engine/ie_bridges/python/sample/hello_query_device/hello_query_device.py
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/hello_reshape_ssd.py
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/ngraph_function_creation_sample.py
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
Labels: category: python api

#4248 [CPU] Added improvements for StridedSlice
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_crop_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_crop_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pad_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_strided_slice_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_strided_slice_node.h
  inference-engine/src/mkldnn_plugin/nodes/strided_slice.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/strided_slice.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/crop.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/strided_slice.cpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_crop_test.cpp
Labels: category: CPU

#5049 Added more comments into speech sample
  inference-engine/samples/speech_sample/main.cpp
Labels: category: IE common, category: samples

#5105 [ MO ] Warnings fix
  model-optimizer/extensions/back/InterpolateReshape.py
  model-optimizer/extensions/back/MatMulNormalizer.py
  model-optimizer/extensions/back/ReverseInputChannels.py
  model-optimizer/extensions/back/compress_quantized_weights.py
  model-optimizer/extensions/front/DropoutWithRandomUniformReplacer.py
  model-optimizer/extensions/front/broadcast_with_range.py
  model-optimizer/extensions/front/interpolate_reshape.py
  model-optimizer/extensions/front/kaldi/apply_counts.py
  model-optimizer/extensions/front/kaldi/memory_offset_adjustment.py
  model-optimizer/extensions/front/kaldi/tdnn_component_replacer.py
  model-optimizer/extensions/front/tf/NonConstBeginStridedSliceReplacement.py
  model-optimizer/extensions/front/tf/UnpackPackReverseInputChannels.py
  model-optimizer/extensions/front/tf/fifo_replacer.py
  model-optimizer/extensions/front/tf/floor_div_decomposition.py
  model-optimizer/extensions/front/tf/identityN_to_identity.py
  model-optimizer/extensions/middle/BlockLSTMtoLSTMSequence.py
  model-optimizer/extensions/middle/MarkSubgraphsWithCorrectLayout.py
  model-optimizer/extensions/middle/RemoveUselessConcatSplit.py
  model-optimizer/extensions/middle/RemoveUselessCrops.py
  model-optimizer/extensions/middle/ReplaceSpliceNodePattern.py
  model-optimizer/extensions/middle/StridedSliceNormalizer.py
  model-optimizer/extensions/middle/TensorIteratorInput.py
  model-optimizer/mo/front/tf/graph_utils.py
  model-optimizer/mo/graph/connection.py
Labels: category: MO

#5134 update OpenCV version to 4.5.2 (#5069)
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
  inference-engine/cmake/dependencies.cmake
Labels: category: CI, category: IE common

#5106 [PyPI] Corrected versions of numpy and pandas
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.requirements.txt
Labels: category: python api

#5151 Revert "Update IE Python Samples (#4907)"
  inference-engine/ie_bridges/python/sample/classification_sample_async/classification_sample_async.py
  inference-engine/ie_bridges/python/sample/hello_classification/hello_classification.py
  inference-engine/ie_bridges/python/sample/hello_query_device/hello_query_device.py
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/hello_reshape_ssd.py
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/ngraph_function_creation_sample.py
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
Labels: category: python api

#5046 Fixed framework name attribute in mapping file.
  model-optimizer/mo/front/caffe/loader.py
  model-optimizer/mo/front/extractor.py
  model-optimizer/mo/front/mxnet/extractors/utils.py
  model-optimizer/mo/front/mxnet/loader.py
  model-optimizer/mo/front/onnx/loader.py
  model-optimizer/mo/graph/graph.py
Labels: category: MO

#5143 [VPU] firmware update
  inference-engine/cmake/vpu_dependencies.cmake
Labels: category: IE common, category: VPU

#4770 [IE CLDNN] Resample opt caffe
  inference-engine/src/cldnn_engine/ops/interpolate.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_interpolate1_to_interpolate4.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/resample_opt.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/resample_ref.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/resample_gpu_test.cpp
Labels: category: GPU

#4958 Correct benchmark_app description of enforcebf16 parameter
  inference-engine/samples/benchmark_app/README.md
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  tools/benchmark/README.md
  tools/benchmark/parameters.py
Labels: category: IE common

#5023 Removed throwing destructor
  inference-engine/include/details/ie_so_loader.h
  inference-engine/src/inference_engine/os/lin/lin_shared_object_loader.cpp
  inference-engine/src/inference_engine/os/win/win_shared_object_loader.cpp
Labels: category: IE common

#4857 [IE CLDNN] Add new operation GatherND-5 to IE clDNN plugin
  inference-engine/src/cldnn_engine/cldnn_primitives_list.hpp
  inference-engine/src/cldnn_engine/ops/gather_nd.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/gather_nd.cpp
  inference-engine/thirdparty/clDNN/api/gather_nd.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_nd_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_nd_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_nd_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_nd_kernel_selector.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/gather_nd_ref.cl
  inference-engine/thirdparty/clDNN/src/gather_nd.cpp
  inference-engine/thirdparty/clDNN/src/gpu/gather_nd_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/register_gpu.hpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/include/gather_nd_inst.h
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/gather_nd_gpu_test.cpp
Labels: category: GPU, category: IE Tests

#5108 Add experiments timings to output data
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/test_timetest.py
Labels: category: IE Tests

#5097 [GNA] Prohibit 2D data reshaping for diagonal layer if it's the first functional layer in network
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_groups.hpp
  inference-engine/src/gna_plugin/gna_model_serial.cpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/runtime/gna_float_runtime_op.cpp
  inference-engine/tests/functional/plugin/gna/Import_export_tests/import_export_act_conv_act.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/eltwise_reshape_activation.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/eltwise_reshape_activation.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/eltwise_reshape_activation.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/eltwise_reshape_activation.cpp
Labels: category: GNA, category: IE Tests

#4991 Try to fix win hang
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request.hpp
Labels: category: IE Tests

#5056 Incorrect ITT counter names fixed
  ngraph/core/src/itt.hpp
  ngraph/core/src/pass/graph_rewrite.cpp
  ngraph/core/src/pass/manager.cpp
  ngraph/core/src/pass/perf_counters.cpp
  ngraph/core/src/pass/perf_counters.hpp
Labels: category: nGraph

#5148 [ONNX] use Reshape instead of Broadcast in InstanceNorm
  ngraph/frontend/onnx_import/src/op/conv.cpp
  ngraph/frontend/onnx_import/src/op/instance_norm.cpp
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/group_norm.cpp
  ngraph/frontend/onnx_import/src/utils/reshape.cpp
  ngraph/frontend/onnx_import/src/utils/reshape.hpp
  ngraph/test/models/onnx/instance_norm.prototxt
Labels: category: nGraph

#5093 Fix broadcast with BroadcastType::NONE and unit dimensions
  ngraph/core/src/op/util/broadcast_base.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/test/backend/broadcast.in.cpp
  ngraph/test/type_prop/broadcast.cpp
Labels: category: nGraph

#5109 Fix building MKLDNNPlugin when the source path contains spaces
  cmake/developer_package/cross_compile/cross_compiled_disp_gen.cmake
  cmake/developer_package/cross_compile/cross_compiled_func.cmake
Labels: category: IE common

#5068 Update the XFAIL marker for a Resize onnx test
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
Labels: category: nGraph

#5191 Feature/benchmarks 2021 3 ehl
  docs/benchmarks/performance_benchmarks_openvino.md
  docs/get_started/get_started_dl_workbench.md
Labels: category: docs

#4889 [GNA] Enable IMPORT_EXPORT_SUPPORT metric
  inference-engine/src/gna_plugin/gna_plugin_query_api.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
Labels: category: GNA, category: IE Tests

#5088 [nGraph] Gather 7 evaluate
  ngraph/core/include/ngraph/op/gather.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/gather.hpp
  ngraph/core/src/op/gather.cpp
  ngraph/test/backend/gather.in.cpp
  ngraph/test/constant_folding.cpp
  ngraph/test/eval.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
  ngraph/test/type_prop/gather.cpp
Labels: category: nGraph

#5136 Add keep split output ports without consumers
  model-optimizer/extensions/back/SpecialNodesFinalization.py
  model-optimizer/extensions/back/SpecialNodesFinalization_test.py
  model-optimizer/extensions/back/TopKNormalizer.py
  model-optimizer/extensions/middle/FakeSplitOutputs.py
  model-optimizer/mo/back/ie_ir_ver_2/emitter.py
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
Labels: category: MO

#5188 Correct the sign definition of the result for the FloorMod operator (Sign should be like a divisor, not a dividend)
  docs/ops/arithmetic/FloorMod_1.md
Labels: category: docs

#5190 Revise Split Single Layer Tests
  inference-engine/tests/functional/inference_engine/serialization/single_layer/split.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/split.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
Labels: category: IE Tests, category: nGraph

#4418 [CPU] CoreThreadingTestsWithIterations test enabling on WIN platform
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#5146 [CPU] fixed dw conv fusing
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
Labels: category: CPU

#5202 Turn clang-format targets off is no clang
  cmake/developer_package/clang_format/clang_format.cmake
Labels: category: IE common, category: build

#5164 [IE Tools] Fixed sending messages to error_handler
  inference-engine/tools/cross_check_tool/cross_check_tool.py
Labels: bug, category: tools

#5196 Supports case min == max for clamp
  ngraph/core/src/op/clamp.cpp
  ngraph/test/type_prop/clamp.cpp
Labels: category: nGraph

#5211 remove wrong coment in pad spec
  docs/ops/movement/Pad_1.md
Labels: category: docs

#5212 Removed legacy cmake message
  ngraph/CMakeLists.txt
  ngraph/frontend/onnx_import/src/op/slice.cpp
Labels: category: nGraph

#5168 Update config files to run tests parallel on single machine
  .ci/openvino-onnx/Jenkinsfile
Labels: category: CI

#5194 [ONNX] Add support for BF16 datatype
  ngraph/frontend/onnx_common/src/utils.cpp
  ngraph/frontend/onnx_import/src/utils/common.cpp
  ngraph/python/src/ngraph/utils/types.py
  ngraph/python/src/pyngraph/types/element_type.cpp
  ngraph/python/src/pyngraph/types/element_type.hpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/runtime.py
  ngraph/python/tests/test_onnx/test_backend.py
Labels: ONNX, category: nGraph

#4972 Add PyTorch section to the documentation
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_F3Net.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_QuartzNet.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_YOLACT.md
  docs/doxygen/ie_docs.xml
Labels: category: docs

#5150 Split specification refactoring
  docs/ops/movement/Split_1.md
Labels: category: docs, category: nGraph

#4840 Added test validating inference results after conditional compilation
  tests/conditional_compilation/conftest.py
  tests/conditional_compilation/test_collect.py
  tests/conditional_compilation/test_infer.py
  tests/conditional_compilation/test_verify.py
  tests/conditional_compilation/tests_utils.py
Labels: category: IE Tests

#5201 Added deprecation messages to docs for ExecutableNetwork
  inference-engine/include/cpp/ie_executable_network.hpp
Labels: category: IE common

#5200 cross_compiled_func.cmake: use native CMake functions instead of custom ones
  cmake/developer_package/cross_compile/cross_compiled_func.cmake
Labels: category: IE common

#5061 Add python3-gi-cairo dependency for DL Streamer on Ubuntu 20
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI

#5227 [dependencies.bat] force Powershell to use TLS 1.2
  inference-engine/scripts/dependencies.bat
Labels: category: CI

#5166 Update IE Python Samples
  inference-engine/ie_bridges/python/sample/classification_sample_async/classification_sample_async.py
  inference-engine/ie_bridges/python/sample/hello_classification/hello_classification.py
  inference-engine/ie_bridges/python/sample/hello_query_device/hello_query_device.py
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/hello_reshape_ssd.py
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/ngraph_function_creation_sample.py
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
Labels: category: python api

#4908 Update readme of IE Python samples
  inference-engine/ie_bridges/python/sample/classification_sample_async/README.md
  inference-engine/ie_bridges/python/sample/hello_classification/README.md
  inference-engine/ie_bridges/python/sample/hello_query_device/README.md
  inference-engine/ie_bridges/python/sample/hello_reshape_ssd/README.md
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/README.md
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/python/sample/style_transfer_sample/README.md
Labels: category: docs

#5234 [VPU] klocwork fixes
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_api.c
Labels: category: VPU

#5203 [ONNX] Add support for ONNX ConstantFill op
  ngraph/frontend/onnx_common/include/onnx_common/utils.hpp
  ngraph/frontend/onnx_common/src/utils.cpp
  ngraph/frontend/onnx_editor/src/editor.cpp
  ngraph/frontend/onnx_import/src/op/constant_fill.cpp
  ngraph/frontend/onnx_import/src/op/constant_fill.hpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/test/models/onnx/constant_fill_extra_shape.prototxt
  ngraph/test/models/onnx/constant_fill_input_as_shape_default_value.prototxt
  ngraph/test/models/onnx/constant_fill_input_as_shape_u8_type.prototxt
  ngraph/test/models/onnx/constant_fill_shape_attribute.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
Labels: ONNX, category: nGraph

#5217 [GNA] fix TensorIterator unrolling with one iteration
  inference-engine/src/legacy_api/src/net_pass.cpp
  inference-engine/tests/functional/plugin/gna/Import_export_tests/import_export_act_conv_act.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/tensor_iterator.cpp
Labels: category: IE Tests, category: nGraph

#5152 VariadicSplit specification refactoring
  docs/ops/movement/VariadicSplit_1.md
Labels: category: docs, category: nGraph

#5238 Add MonoDepth Python Demo how-to
  docs/how_tos/MonoDepth_how_to.md
  docs/how_tos/POT_how_to_example.md
Labels: category: docs

#5192 Add support of IE model cache in time_tests
  tests/time_tests/test_runner/.automation/desktop_test_config_cache.yml
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/test_timetest.py
  tests/time_tests/test_runner/utils.py
Labels: category: IE Tests

#5237 Roll nGraph Python API
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset7/__init__.py
  ngraph/python/src/ngraph/opset7/ops.py
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_ngraph/test_roll.py
Labels: category: nGraph

#5184 doc: add Red Hat docker registry
  docs/install_guides/installing-openvino-docker-linux.md
Labels: category: docs

#5182 [IE CLDNN] Fix regression for supporting eltwise fsv broadcasting
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#5253 doc: add Red Hat docker registry (#5184)
  docs/install_guides/installing-openvino-docker-linux.md
Labels: category: docs

#5230 [IE CLDNN] Batched blob support is added for NV12
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/ops/parameter.cpp
  inference-engine/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/set_blob_of_kind.cpp
Labels: category: GPU, category: IE Tests

#5235 [CPU] Disable CoreThreadingTestsWithIterations smoke_LoadNetwork test.
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: IE Tests

#5019 [DOC] Update README for C++ samples
  inference-engine/ie_bridges/c/samples/hello_classification/README.md
  inference-engine/ie_bridges/c/samples/hello_nv12_input_classification/README.md
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/main.c
  inference-engine/samples/classification_sample_async/README.md
  inference-engine/samples/classification_sample_async/classification_sample_async.h
  inference-engine/samples/classification_sample_async/main.cpp
  inference-engine/samples/common/utils/include/samples/os/windows/w_dirent.h
  inference-engine/samples/common/utils/src/args_helper.cpp
  inference-engine/samples/hello_classification/README.md
  inference-engine/samples/hello_classification/main.cpp
  inference-engine/samples/hello_nv12_input_classification/README.md
  inference-engine/samples/hello_nv12_input_classification/main.cpp
  inference-engine/samples/hello_query_device/README.md
  inference-engine/samples/hello_query_device/main.cpp
  inference-engine/samples/hello_reshape_ssd/README.md
  inference-engine/samples/hello_reshape_ssd/main.cpp
  inference-engine/samples/ngraph_function_creation_sample/README.md
  inference-engine/samples/ngraph_function_creation_sample/main.cpp
  inference-engine/samples/ngraph_function_creation_sample/ngraph_function_creation_sample.hpp
  inference-engine/samples/object_detection_sample_ssd/README.md
  inference-engine/samples/object_detection_sample_ssd/main.cpp
  inference-engine/samples/object_detection_sample_ssd/object_detection_sample_ssd.h
  inference-engine/samples/speech_sample/README.md
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/samples/speech_sample/speech_sample.hpp
  inference-engine/samples/style_transfer_sample/README.md
  inference-engine/samples/style_transfer_sample/main.cpp
  inference-engine/samples/style_transfer_sample/style_transfer_sample.h
Labels: category: IE common, category: docs, category: samples

#5254 doc: add Red Hat docker registry (#5184)
  docs/install_guides/installing-openvino-docker-linux.md
Labels: category: docs

#5248 Remove comparison with references from time_tests as unused
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/test_timetest.py
Labels: category: IE Tests

#5245 IE IR reader tests for Roll operation.
  inference-engine/tests/functional/inference_engine/ngraph_reader/roll_tests.cpp
Labels: category: IE Tests, category: nGraph

#4751 [VPU] Fix batch detection/removal logic in MYX plugin
  inference-engine/src/vpu/graph_transformer/src/backend/serialize.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/detect_network_batch.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/in_out_convert.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/allocator/allocator.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_infer_request.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/detect_network_batch_test.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/detect_network_batch_test.hpp
  inference-engine/tests/functional/plugin/shared/src/behavior/detect_network_batch_test.cpp
Labels: WIP, category: IE Tests, category: VPU

#5114 interpolate_fusion_on_sse41_fix
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_interpolate_node.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/interpolate.cpp
Labels: category: CPU, category: IE Tests

#5218 [GNA] Change FW levels type from int to size_t
  inference-engine/src/gna_plugin/backend/dnn_types.h
  inference-engine/src/gna_plugin/layers/gna_fake_quantize_layer.hpp
  inference-engine/src/legacy_api/include/legacy/ie_layers.h
  inference-engine/src/legacy_api/src/ie_layer_validators.cpp
  inference-engine/src/legacy_api/src/ie_layers.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_quantize_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/quantized_mat_mul.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_mat_mul.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/quantized_mat_mul.cpp
  ngraph/test/type_prop/fake_quantize.cpp
Labels: category: CPU, category: GNA, category: IE Tests, category: nGraph

#5206 Added operation Roll to MO
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/AttributedRollToRoll.py
  model-optimizer/extensions/front/AttributedRollToRoll_test.py
  model-optimizer/extensions/front/RollWithEmptyAxesReplacer.py
  model-optimizer/extensions/front/RollWithEmptyAxesReplacer_test.py
  model-optimizer/extensions/front/mxnet/roll_ext.py
  model-optimizer/extensions/front/tf/roll_ext.py
  model-optimizer/extensions/ops/roll.py
Labels: category: MO, category: docs

#5257 Fix updating onnx_models in OpenVINO ONNX CI without conflicts
  .ci/openvino-onnx/Jenkinsfile
Labels: category: CI

#5287 Separate workdir for parallel runs
  .ci/openvino-onnx/Jenkinsfile
Labels: category: CI

#5290 Publishing 2020.3.2 LTS content
  README.md
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/samples/common/format_reader/bmp.h
  inference-engine/src/vpu/graph_transformer/include/vpu/private_plugin_config.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_config.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_config.h
  inference-engine/src/vpu/myriad_plugin/myriad_executor.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.h
  inference-engine/thirdparty/movidius/mvnc/include/mvnc.h
  inference-engine/thirdparty/movidius/mvnc/include/ncCommPrivate.h
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_api.c
  model-optimizer/requirements_kaldi.txt
Labels: category: GPU, category: IE common, category: MO, category: VPU

#5265 Fix time_tests runs when models_cache enabled
  tests/time_tests/test_runner/.automation/desktop_test_config_cache.yml
  tests/time_tests/test_runner/conftest.py
Labels: category: IE Tests

#5231 Constant op backend test and fix for memory size calculation
  ngraph/core/include/ngraph/op/constant.hpp
  ngraph/core/src/descriptor/tensor.cpp
  ngraph/core/src/runtime/host_tensor.cpp
  ngraph/test/backend/constant.in.cpp
  ngraph/test/runtime/dynamic/dynamic_backend.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: nGraph

#4029 [CPU] BatchToSpace, SpaceToBatch layers optimizations
  inference-engine/src/mkldnn_plugin/nodes/batch_to_space.cpp
  inference-engine/src/mkldnn_plugin/nodes/space_to_batch.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/batch_to_space.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/space_to_batch.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_ngraph/test_ops_fused.py
Labels: category: CPU, category: IE Tests

#5283 Fixed macOS compilation
  ngraph/python/CMakeLists.txt
Labels: category: nGraph

#5135 Add benchmark app to openvino-dev package
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.requirements.txt
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.setup.cfg
  inference-engine/ie_bridges/python/wheel/setup.py
  tools/setup.py
Labels: category: python api, category: tools

#4312 Deformable convolution
  inference-engine/tests/functional/inference_engine/serialization/single_layer/deformable_convolution.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/deformable_convolution.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/deformable_convolution.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/deformable_convolution.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  ngraph/core/reference/include/ngraph/runtime/reference/deformable_convolution.hpp
  ngraph/core/src/op/deformable_convolution.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/deformable_convolution.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/type_prop/convolution.cpp
  ngraph/test/type_prop/deformable_convolution.cpp
Labels: category: nGraph

#5309 Fixed unity build
  inference-engine/src/inference_engine/cpp/ie_executable_network.cpp
  inference-engine/src/inference_engine/cpp/ie_infer_request.cpp
Labels: bug, category: IE common, category: build

#5274 %~dp0 can't handle path which include Space
  model-optimizer/install_prerequisites/install_prerequisites.bat
Labels: bug, category: MO

#4945 Improve performance of the Resize 3c/3p and Resize 8UC1
  inference-engine/src/preprocessing/arm_neon/ie_preprocess_gapi_kernels_neon.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels_simd_impl.hpp
  inference-engine/thirdparty/ocv/opencv_hal_neon.hpp
Labels: category: IE common

#5284 [CPU] An input 'sequence_length' check was added to CTCGreedyDecoderSeqLen
  inference-engine/src/mkldnn_plugin/nodes/ctc_greedy_decoder_seq_len.cpp
Labels: category: CPU

#5300 [nG] Fixed error with PerfCounters when ENABLE_FASTER_BUILD=ON
  ngraph/core/src/pass/graph_rewrite.cpp
  ngraph/core/src/pass/manager.cpp
Labels: category: nGraph

#5065 Squeeze operator class refactoring
  ngraph/core/include/ngraph/op/squeeze.hpp
  ngraph/core/src/op/squeeze.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/backend/squeeze.in.cpp
  ngraph/test/type_prop/squeeze.cpp
Labels: category: nGraph

#5118 [nGraph] Gather v7 v1 up down transformations
  inference-engine/src/transformations/include/transformations/op_conversions/convert_gather_v7_to_gather_v1.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/algebraic_simplification.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/eliminate_unsqueeze_gather.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_gather_v7_to_gather_v1.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_gather_v7_to_gather_v1_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/eliminate_unsqueeze_gather.cpp
  ngraph/core/include/ngraph/op/gather.hpp
  ngraph/core/include/ngraph/op/util/gather_base.hpp
  ngraph/core/src/op/gather.cpp
  ngraph/core/src/op/util/gather_base.cpp
  ngraph/test/type_prop/gather.cpp
Labels: category: IE Tests, category: nGraph

#5145 Specify Einsum-7 operation
  docs/doxygen/ie_docs.xml
  docs/ops/matrix/Einsum_7.md
  docs/ops/opset7.md
Labels: category: docs

#5123 [IE TESTS] Small refactoring of conformance suite
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
  inference-engine/tests/functional/plugin/conformance/test_runner/include/gflag_config.hpp
  inference-engine/tests/functional/plugin/conformance/test_runner/src/main.cpp
  inference-engine/tests/functional/plugin/shared/src/main.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/file_utils.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/layer_test_utils/summary.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/merge_xmls.py
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  inference-engine/tests/ie_test_utils/functional_test_utils/src/layer_test_utils/summary.cpp
Labels: category: IE Tests

#5177 Define OP version in report by first occurrence in opset instead of type_info
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/layer_test_utils/summary.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/src/layer_test_utils/summary.cpp
Labels: category: IE Tests

#5305 Added out of bounds check for output ports
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
Labels: category: IE common, pr: needs tests

#5228 [GNA] Update GNA library
  cmake/developer_package/download/dependency_solver.cmake
  cmake/developer_package/download/download_and_extract.cmake
  cmake/developer_package/download/extract.cmake
  inference-engine/cmake/dependencies.cmake
Labels: category: IE common

#5058 Revise floor mod
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/eltwise.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/floor_mod.in.cpp
  ngraph/test/op_eval/floor_mod.cpp
  ngraph/test/type_prop/floor_mod.cpp
Labels: category: nGraph

#5086 Revise maximum
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/maximum.in.cpp
  ngraph/test/type_prop/maximum.cpp
Labels: category: nGraph

#5159 [CPU] Fuse negative and denormal scales in FQ
  inference-engine/src/low_precision_transformations/src/fake_quantize.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/fuse_scaleshift_and_fakequantize.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/runtime_precision.cpp
Labels: category: CPU, category: IE Tests

#5324 Change the ONNX Operator GroupNorm to use a 4D input for MVN-6
  ngraph/frontend/onnx_import/src/op/org.openvinotoolkit/group_norm.cpp
Labels: category: nGraph

#5084 [ONNX Importer] Switch ONNX Importer to gather v7
  ngraph/frontend/onnx_import/src/default_opset.hpp
  ngraph/frontend/onnx_import/src/op/gather.hpp
Labels: category: nGraph, category: onnx importer

#5207 Preserve the input names when extracting subgraphs
  ngraph/frontend/onnx_editor/src/detail/subgraph_extraction.cpp
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_deeper_head_cut.prototxt
  ngraph/test/models/onnx/model_editor/reference/subgraph__linear_model_head_cut.prototxt
  ngraph/test/onnx/onnx_editor.cpp
Labels: category: nGraph

#5310 Removed suppressions for IInferRequest deprecation
  .ci/azure/linux_onnxruntime.yml
  docs/IE_DG/Glossary.md
  docs/IE_DG/Integrate_with_customer_application_new_API.md
  docs/IE_DG/inference_engine_intro.md
  docs/IE_PLUGIN_DG/Doxyfile
  docs/doxygen/ie_docs.config
  docs/doxygen/ie_plugin_api.config
  docs/snippets/GPU_RemoteBlob_API2.cpp
  docs/snippets/Integrate_with_customer_application_new_API.cpp
  docs/snippets/movidius-programming-guide.cpp
  docs/template_plugin/src/template_executable_network.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/CMakeLists.txt
  inference-engine/include/cpp/ie_executable_network.hpp
  inference-engine/include/cpp/ie_infer_request.hpp
  inference-engine/include/ie_api.h
  inference-engine/include/ie_iexecutable_network.hpp
  inference-engine/include/ie_iinfer_request.hpp
  inference-engine/samples/benchmark_app/infer_request_wrap.hpp
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/src/gna_plugin/gna_infer_request.hpp
  inference-engine/src/hetero_plugin/hetero_async_infer_request.cpp
  inference-engine/src/hetero_plugin/hetero_async_infer_request.hpp
  inference-engine/src/hetero_plugin/hetero_infer_request.cpp
  inference-engine/src/hetero_plugin/hetero_infer_request.hpp
  inference-engine/src/inference_engine/cpp/ie_executable_network.cpp
  inference-engine/src/inference_engine/cpp/ie_infer_request.cpp
  inference-engine/src/legacy_api/include/legacy/ie_layers.h
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_executable_network_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_infer_async_request_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_default.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iexecutable_network_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iinfer_request_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.h
  inference-engine/tests/functional/inference_engine/async_infer_request_test.cpp
  inference-engine/tests/functional/inference_engine/caching_test.cpp
  inference-engine/tests/functional/inference_engine/executable_network.cpp
  inference-engine/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/multi/gpu_remote_blob_tests.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request_callback.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request_cancellation.hpp
  inference-engine/tests/functional/plugin/shared/include/multi/multi_remote_blob_tests.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_async_infer_request_default.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_executable_network_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_inference_plugin_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iexecutable_network_internal.hpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_executable_network_base_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_infer_async_request_base_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_infer_async_request_thread_safe_default_test.cpp
  inference-engine/tests/unit/inference_engine/ie_executable_network_test.cpp
  inference-engine/tests_deprecated/functional/ie_tests/include/classification_matcher.hpp
  inference-engine/tests_deprecated/functional/ie_tests/src/custom_matcher.cpp
  inference-engine/tests_deprecated/functional/ie_tests/src/raw_matcher.cpp
  inference-engine/tests_deprecated/functional/shared_tests/io_blob_tests/cropResize_tests.hpp
  inference-engine/tests_deprecated/functional/vpu/common/myriad_hw_network_tests.hpp
  inference-engine/tools/vpu/vpu_perfcheck/main.cpp
Labels: category: IE common

#5335 Fix ie_docs.xml
  docs/doxygen/ie_docs.xml
Labels: category: docs

#3897 [CPU] [IE TESTS] Added improvements for DepthToSpace and SpaceToDepth
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/nodes/common/permute_kernel.cpp
  inference-engine/src/mkldnn_plugin/nodes/common/permute_kernel.h
  inference-engine/src/mkldnn_plugin/nodes/depth_to_space.cpp
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_depth_to_space_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_depth_to_space_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pad_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_permute_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_permute_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_space_to_depth_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_space_to_depth_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_strided_slice_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/space_to_depth.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/depth_to_space.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/space_to_depth.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/depth_to_space.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/permute.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/space_to_depth.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/depth_to_space.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/space_to_depth.hpp
  inference-engine/tests_deprecated/unit/engines/mkldnn/graph/layers/internal/graph_permute_test.cpp
Labels: category: CPU
