Repository openvinotoolkit/openvino, pull requests merged in 2021-12, with the labels that each got.

#8892 [MO] Update Select shape inference function to support dynamic shapes
  model-optimizer/extensions/ops/select.py
  model-optimizer/unit_tests/extensions/ops/select_test.py
Labels: bug, category: MO

#8786 Add test case for invalid device parameter to LoadNetwork.
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/plugin/core_integration.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
  src/inference/src/ie_core.cpp
Labels: category: IE common, category: IE Tests

#8924 Revert "[CPU] Set lower bound for nstreams to 1 (#8747)"
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
Labels: category: CPU

#8547 [CPU] ROIPooling: dynamic shapes support
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roi_pooling_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roi_pooling_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/roi_pooling.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/softmax.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
Labels: category: CPU

#8399 [MO] Fix ONNX Unsqueeze with 2 inputs
  model-optimizer/extensions/front/ExpandDimsToUnsqueeze.py
Labels: category: MO

#8542 [CPU] Dynamism support for RegionYolo node
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_region_yolo_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_region_yolo_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/region_yolo.cpp
  src/core/src/op/region_yolo.cpp
Labels: category: CPU

#8899 Incorrect output shape of Gather operation for some models
  model-optimizer/extensions/ops/gather.py
  model-optimizer/unit_tests/extensions/ops/gather_test.py
Labels: category: MO

#8767 Reverse infer
  model-optimizer/extensions/front/tf/placeholder_ext.py
  model-optimizer/extensions/ops/parameter.py
  model-optimizer/mo/front/common/partial_infer/utils.py
  model-optimizer/mo/middle/passes/infer.py
  model-optimizer/mo/ops/convolution.py
  model-optimizer/mo/ops/pad.py
  model-optimizer/mo/ops/pooling.py
  model-optimizer/mo/ops/squeeze.py
  model-optimizer/mo/ops/unsqueeze.py
  model-optimizer/mo/utils/telemetry_utils.py
  model-optimizer/unit_tests/mo/utils/telemetry_utils_test.py
Labels: category: MO, ExternalPR

#8478 [MO] dynamic shape calculatoin for GatherElements, Sparse ops
  model-optimizer/extensions/ops/gatherelements.py
  model-optimizer/extensions/ops/sparse_reshape.py
  model-optimizer/extensions/ops/sparse_segment_mean.py
  model-optimizer/extensions/ops/sparse_segment_sqrtn.py
  model-optimizer/extensions/ops/sparse_segment_sum.py
  model-optimizer/extensions/ops/unique.py
  model-optimizer/unit_tests/extensions/ops/gatherelements_test.py
  model-optimizer/unit_tests/extensions/ops/sparse_reshape_test.py
  model-optimizer/unit_tests/utils/graph.py
Labels: enhancement, category: MO, feature

#8931 Revert "Temporarily pin setuptools version (#8416)"
  inference-engine/ie_bridges/python/wheel/requirements-dev.txt
Labels: category: build, category: python api

#8825 Memory leaks in tbbbind and onednn were fixed
  inference-engine/thirdparty/CMakeLists.txt
  src/inference/src/threading/ie_parallel_custom_arena.cpp
Labels: category: IE common, category: CPU

#8820 Don't install content of openvino-dev; install wheels
  CMakeLists.txt
  cmake/features.cmake
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/CMakeLists.txt
  inference-engine/ie_bridges/python/wheel/CMakeLists.txt
  model-optimizer/CMakeLists.txt
  src/bindings/python/src/compatibility/pyngraph/CMakeLists.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/core/CMakeLists.txt
  tools/CMakeLists.txt
  tools/openvino_dev/CMakeLists.txt
Labels: category: IE common, category: MO, category: nGraph, category: python api, category: tools

#8918 [PYTHON API] fix tensor naming
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/graph/node_output.hpp
  src/bindings/python/tests/test_inference_engine/test_infer_request.py
  src/bindings/python/tests/test_inference_engine/test_output_const_node.py
Labels: bug, category: IE common, category: python api

#8235 [FrontEnd] Loading frontends only when needed
  src/frontends/common/CMakeLists.txt
  src/frontends/common/include/manager.hpp
  src/frontends/common/src/frontend_manager.cpp
  src/frontends/common/src/plugin_loader.cpp
  src/frontends/common/src/plugin_loader.hpp
  src/frontends/common/src/utils.cpp
Labels: category: IE common, category: MO, category: nGraph, category: IE Tests, category: tools

#7934 Python API for If operation
  src/bindings/python/src/compatibility/ngraph/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset8/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset8/ops.py
  src/bindings/python/src/compatibility/ngraph/utils/tensor_iterator_types.py
  src/bindings/python/src/compatibility/pyngraph/dict_attribute_visitor.cpp
  src/bindings/python/src/openvino/runtime/opset8/__init__.py
  src/bindings/python/src/openvino/runtime/opset8/ops.py
  src/bindings/python/src/openvino/runtime/utils/tensor_iterator_types.py
  src/bindings/python/src/pyopenvino/graph/dict_attribute_visitor.cpp
  src/bindings/python/tests/test_ngraph/test_if.py
  src/bindings/python/tests_compatibility/test_ngraph/test_if.py
Labels: category: IE common

#8902 [GPU] Fix incorrect output result in primitives with two outputs
  inference-engine/thirdparty/clDNN/api/cldnn/graph/network.hpp
  inference-engine/thirdparty/clDNN/src/network.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/set_output_memory_gpu_test.cpp
Labels: category: GPU

#8966 Fix array out-of-bounds error
  src/core/src/layout.cpp
  src/core/tests/preprocess.cpp
Labels: category: nGraph

#6794 [CPU] Reduced overheads in inference stage
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
Labels: category: CPU

#8830 Add sanitizer support for Windows
  cmake/developer_package/compile_flags/sanitizer.cmake
Labels: category: IE common

#8880 rm python object_detection_sample_ssd
  docs/IE_DG/Samples_Overview.md
  docs/IE_DG/supported_plugins/HETERO.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_EfficientDet_Models.md
  docs/doxygen/openvino_docs.xml
  docs/get_started/get_started_raspbian.md
  docs/install_guides/installing-openvino-raspbian.md
  samples/c/object_detection_sample_ssd/README.md
  samples/cpp/object_detection_sample_ssd/README.md
  samples/python/object_detection_sample_ssd/README.md
  samples/python/object_detection_sample_ssd/object_detection_sample_ssd.py
Labels: category: IE common

#8781 Shape inference 2nd batch
  inference-engine/src/mkldnn_plugin/utils/shape_inference/shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/convolution_shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/elementwises.cpp
  src/core/include/openvino/op/convolution.hpp
  src/core/include/openvino/op/group_conv.hpp
  src/core/include/openvino/op/util/binary_elementwise_logical.hpp
  src/core/shape_inference/include/convolution_shape_inference.hpp
  src/core/shape_inference/include/fake_quantize.hpp
  src/core/shape_inference/include/utils.hpp
  src/core/shape_inference/src/convolution_shape_inference.cpp
  src/core/src/op/convolution.cpp
  src/core/src/op/group_conv.cpp
  src/core/tests/type_prop/convolution_backprop_data.cpp
  src/core/tests/type_prop/group_convolution.cpp
  src/core/tests/type_prop/group_convolution_backprop_data.cpp
  src/core/tests/visitors/op/convolution_backprop.cpp
  src/core/tests/visitors/op/group_conv.cpp
Labels: category: nGraph, category: IE Tests, category: CPU

#8752 [IE Python Speech Sample] Fix non 2d tensor model inference
  samples/python/speech_sample/speech_sample.py
Labels: category: IE common

#8957 [GPU] Renamed GPU plugin to ov_intel_gpu_plugin
  docs/IE_DG/Deep_Learning_Inference_Engine_DevGuide.md
  docs/IE_DG/inference_engine_intro.md
  inference-engine/tests/functional/plugin/conformance/test_runner/api_conformance_runner/include/api_conformance_helpers.hpp
  inference-engine/tests/functional/plugin/gpu/CMakeLists.txt
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/behavior/plugin/core_integration.cpp
  inference-engine/tests_deprecated/functional/vpu/CMakeLists.txt
  src/bindings/c/tests/CMakeLists.txt
  src/core/tests/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/intel_gpu/CMakeLists.txt
  tools/deployment_manager/configs/linux.json
  tools/deployment_manager/configs/windows.json
Labels: category: IE common, category: nGraph, category: IE Tests, category: GPU, category: tools

#8761 [GPU] Rollback to cldnn from onednn and some fixes and improvements
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/concatenation/concatenation_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/reorder_inputs.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/convolution.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/deconvolution.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/mvn.cpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: GPU

#8940 Add requirements files generation for installer
  tools/CMakeLists.txt
  tools/requirements_dev.in
Labels: category: tools

#8974 Revert "disable debug postfix on mac (#6827)"
  cmake/developer_package/IEDevScriptsConfig.cmake
Labels: platform: osx

#8217 Meiyang/fix cvs58539
  src/core/tests/frontend/paddlepaddle/op_fuzzy.cpp
  src/core/tests/frontend/paddlepaddle/test_models/gen_scripts/generate_elementwise_ops.py
  src/frontends/paddlepaddle/CMakeLists.txt
  src/frontends/paddlepaddle/src/op/conv2d_utils.cpp
  src/frontends/paddlepaddle/src/op/elementwise_ops.cpp
Labels: category: nGraph

#8636 [CPU] Native dynamic shapes support in the Bucketize node
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_bucketize_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_bucketize_node.h
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/bucketize.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/ov_tensor_utils.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/src/ov_tensor_utils.cpp
Labels: category: CPU

#8582 [tools] new api and support dynamic models in python benchmark app
  src/bindings/python/src/pyopenvino/graph/partial_shape.cpp
  src/bindings/python/src/pyopenvino/graph/shape.cpp
  tools/benchmark_tool/openvino/tools/benchmark/benchmark.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/constants.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/statistics_report.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: category: IE common, category: nGraph, category: tools

#8983 Azure CI: Add apt update before install nfs-common
  .ci/azure/linux.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
Labels: category: CI

#8965 [GPU] Fix graph dump issue.
  inference-engine/thirdparty/clDNN/src/graph_optimizer/graph_initializations.cpp
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#8914 Add exeception message to check available frontends.
  src/inference/src/ie_network_reader.cpp
Labels: category: IE common

#8993 Revert "Add requirements files generation for installer"
  tools/CMakeLists.txt
  tools/requirements_dev.in
Labels: category: tools

#8908 Fix klocwork issue
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_adaptive_pooling.cpp
Labels: category: CPU

#8922 [CPU] ExperimentalDetectronTopKROIs dynamic done
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_topkrois_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_topkrois_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/experimental_detectron_topkrois.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/experimental_detectron_topkrois.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/experimental_detectron_topkrois.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/experimental_detectron_topkrois.cpp
Labels: category: IE Tests, category: CPU

#8969 [GNA] Color conversion operations negative tests
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/convert_color_i420.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/convert_color_nv12.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/negative_layer_support_test.hpp
Labels: category: IE Tests, category: GNA

#8806 [GPU] DeformableConvolution-8
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
  inference-engine/thirdparty/clDNN/api/cldnn/primitives/convolution.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_params.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_params.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/deformable_convolution_kernel_bfyx_conv.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/deformable_convolution_kernel_bfyx_interp.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/deformable_convolution_kernel_bfyx_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/deformable_convolution_gpu_bfyx_interp.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/deformable_convolution_gpu_bfyx_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_params.h
  inference-engine/thirdparty/clDNN/src/deformable_convolution.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/convolution.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/deformable_convolution.cpp
  inference-engine/thirdparty/clDNN/src/include/convolution_inst.h
  inference-engine/thirdparty/clDNN/src/include/deformable_convolution_inst.h
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/cldnn_primitives_list.hpp
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
Labels: category: IE Tests, category: GPU, ExternalPR

#8906 rm C++ style_transfer_sample
  docs/IE_DG/Samples_Overview.md
  docs/doxygen/openvino_docs.xml
  samples/cpp/style_transfer_sample/CMakeLists.txt
  samples/cpp/style_transfer_sample/README.md
  samples/cpp/style_transfer_sample/main.cpp
  samples/cpp/style_transfer_sample/style_transfer_sample.h
  samples/python/style_transfer_sample/README.md
Labels: category: IE common

#8881 rm python style_transfer_sample
  docs/IE_DG/Samples_Overview.md
  docs/doxygen/openvino_docs.xml
  samples/python/style_transfer_sample/README.md
  samples/python/style_transfer_sample/style_transfer_sample.py
Labels: category: IE common

#9019 Add requirements files generation for installer
  tools/CMakeLists.txt
  tools/requirements_dev.in
Labels: category: tools

#8885 Rename Multi plugin to ov_multi_plugin.
  cmake/coverage.cmake
  cmake/features.cmake
  docs/IE_DG/Deep_Learning_Inference_Engine_DevGuide.md
  docs/IE_DG/inference_engine_intro.md
  inference-engine/src/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/plugin/conformance/test_runner/api_conformance_runner/include/api_conformance_helpers.hpp
  inference-engine/tests/functional/plugin/shared/CMakeLists.txt
  inference-engine/tests/unit/CMakeLists.txt
  inference-engine/tests/unit/auto/CMakeLists.txt
  inference-engine/tests/unit/auto/auto_select_device_failed_test.cpp
  inference-engine/tests/unit/auto/log_utils_test.cpp
  inference-engine/tests/unit/auto/plugin/mock_auto_device_plugin.hpp
  inference-engine/tests/unit/auto/plugin/mock_log_utils.hpp
  inference-engine/tests_deprecated/behavior/shared_tests/CMakeLists.txt
  inference-engine/tests_deprecated/functional/shared_tests/CMakeLists.txt
  src/bindings/c/tests/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/CMakeLists.txt
  src/plugins/auto/CMakeLists.txt
  src/plugins/auto/async_infer_request.cpp
  src/plugins/auto/async_infer_request.hpp
  src/plugins/auto/executable_network.cpp
  src/plugins/auto/executable_network.hpp
  src/plugins/auto/infer_request.cpp
  src/plugins/auto/infer_request.hpp
  src/plugins/auto/itt.hpp
  src/plugins/auto/plugin.cpp
  src/plugins/auto/plugin.hpp
  src/plugins/auto/utils/log.cpp
  src/plugins/auto/utils/log.hpp
  src/plugins/auto/utils/log_util.hpp
  src/plugins/auto/utils/non_copyable.hpp
  src/plugins/auto/utils/singleton.hpp
  src/plugins/auto/utils/thread_utils.cpp
  src/plugins/auto/utils/thread_utils.hpp
  src/plugins/auto/utils/time_utils.cpp
  src/plugins/auto/utils/time_utils.hpp
  tools/deployment_manager/configs/darwin.json
  tools/deployment_manager/configs/linux.json
  tools/deployment_manager/configs/windows.json
Labels: category: IE common, category: IE Tests, category: MULTI, category: docs, category: tools

#7765 [CPU] Cannot load brain-tumor-segmentation-0002 model
  src/common/low_precision_transformations/src/markup_precisions.cpp
Labels: category: CPU

#9020 rm C/C++ object_detection_sample_ssd
  docs/IE_DG/Samples_Overview.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_EfficientDet_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/doxygen/openvino_docs.xml
  docs/get_started/get_started_linux.md
  docs/get_started/get_started_macos.md
  docs/get_started/get_started_windows.md
  docs/optimization_guide/dldt_optimization_guide.md
  samples/c/object_detection_sample_ssd/CMakeLists.txt
  samples/c/object_detection_sample_ssd/README.md
  samples/c/object_detection_sample_ssd/c_w_dirent.h
  samples/c/object_detection_sample_ssd/main.c
  samples/c/object_detection_sample_ssd/object_detection_sample_ssd.h
  samples/cpp/hello_reshape_ssd/README.md
  samples/cpp/object_detection_sample_ssd/CMakeLists.txt
  samples/cpp/object_detection_sample_ssd/README.md
  samples/cpp/object_detection_sample_ssd/main.cpp
  samples/cpp/object_detection_sample_ssd/object_detection_sample_ssd.h
  tests/samples_tests/smoke_tests/test_object_detection_sample_ssd.py
Labels: category: IE common, category: IE Tests

#8395 [GNA] Fix comments in GNA public header and speech sample (#8373)
  samples/cpp/speech_sample/speech_sample.hpp
  src/inference/include/ie/gna/gna_config.hpp
Labels: category: IE common, category: GNA

#8749 Serialize pass bind
  src/bindings/python/src/pyopenvino/graph/passes/manager.cpp
  src/bindings/python/tests/test_ngraph/test_manager.py
Labels: category: python api

#8289 Remove reorder after depth_to_space2
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/depth_to_space/depth_to_space_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/region_yolo/region_yolo_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/region_yolo/region_yolo_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/region_yolo_gpu_ref.cl
  inference-engine/thirdparty/clDNN/src/graph_optimizer/remove_redundant_reorders.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/depth_to_space.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/region_yolo.cpp
  inference-engine/thirdparty/clDNN/src/include/layout_optimizer.h
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
Labels: category: GPU, do not merge

#8987 [Python API] Add opset8 ops: i420toBGR-8, i420toRGB-8, NV12toBGR-8, NV12toRGB-8
  src/bindings/python/src/compatibility/ngraph/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset8/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset8/ops.py
  src/bindings/python/src/openvino/runtime/opset8/__init__.py
  src/bindings/python/src/openvino/runtime/opset8/ops.py
  src/bindings/python/tests/test_ngraph/test_create_op.py
  src/bindings/python/tests_compatibility/test_ngraph/test_create_op.py
Labels: category: python api

#8971 Network => model in OV Runtime API
  src/inference/include/openvino/runtime/core.hpp
  src/inference/include/openvino/runtime/executable_network.hpp
  src/inference/include/openvino/runtime/infer_request.hpp
  src/inference/include/openvino/runtime/remote_context.hpp
  src/inference/include/openvino/runtime/remote_tensor.hpp
  src/inference/include/openvino/runtime/variable_state.hpp
Labels: category: IE common, category: docs

#8916 [CPU][Tests] Decreased number of test cases for several ops
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/deformable_convolution.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/interpolate.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/pad.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/reduce_ops.cpp
Labels: category: IE Tests, category: CPU

#8854 [GPU] Minor refactoring
  inference-engine/thirdparty/clDNN/api/cldnn/runtime/tensor.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_params.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_params.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/deformable_convolution_kernel_bfyx_conv.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/deformable_convolution_kernel_bfyx_interp.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/deformable_convolution_kernel_bfyx_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/deformable_convolution_gpu_bfyx_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_params.h
  inference-engine/thirdparty/clDNN/src/impls/ocl/convolution.cpp
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
  inference-engine/thirdparty/clDNN/src/program.cpp
  src/plugins/intel_gpu/src/plugin/cldnn_transformations_pipeline.cpp
Labels: category: GPU

#9033 Reverted merge conflict 8944
  .ci/azure/linux.yml
Labels: category: CI

#9041 iframe video enable fullscreen
  docs/IE_DG/Deep_Learning_Inference_Engine_DevGuide.md
  docs/IE_DG/supported_plugins/MULTI.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/get_started/get_started_dl_workbench.md
  docs/how_tos/how-to-links.md
Labels: category: docs

#8912 [GPU] Created new operation ExperimentalDetectronROIFeatureExtractor
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/experimental_detectron_roifeatureextractor.cpp
  inference-engine/thirdparty/clDNN/api/cldnn/primitives/experimental_detectron_roi_feature_extractor.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/edrfe/experimental_detectron_roi_feature_extractor_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/edrfe/experimental_detectron_roi_feature_extractor_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/edrfe/experimental_detectron_roi_feature_extractor_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/edrfe/experimental_detectron_roi_feature_extractor_kernel_selector.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/experimental_detectron_roi_feature_extractor_ref.cl
  inference-engine/thirdparty/clDNN/src/experimental_detectron_roi_feature_extractor.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/experimental_detectron_roi_feature_extractor.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/register.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/register.hpp
  inference-engine/thirdparty/clDNN/src/include/experimental_detectron_roi_feature_extractor_inst.hpp
  inference-engine/thirdparty/clDNN/tests/test_cases/experimental_detectron_roi_feature_extractor_gpu_test.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/cldnn_primitives_list.hpp
  src/plugins/intel_gpu/src/plugin/ops/experimental_detectron_roi_feature_extractor.cpp
Labels: category: GPU

#9038 [OV20]Fix preserving runtime info for result after post-processing
  src/core/src/preprocess/pre_post_process.cpp
  src/core/tests/preprocess.cpp
Labels: category: nGraph

#8837 include api changes
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/common.hpp
  src/bindings/python/src/pyopenvino/core/containers.hpp
  src/bindings/python/src/pyopenvino/core/executable_network.cpp
  src/bindings/python/src/pyopenvino/core/infer_request.cpp
  src/bindings/python/tests/runtime.py
  src/bindings/python/tests/test_inference_engine/test_core.py
  src/bindings/python/tests/test_inference_engine/test_executable_network.py
  src/bindings/python/tests/test_inference_engine/test_infer_request.py
Labels: category: IE common, category: python api

#8960 Fix a bug of benchmark_app for binary input filling.
  samples/cpp/benchmark_app/inputs_filling.cpp
Labels: category: IE common

#8894 [GPU] Resolve assertion of vsr int8 batch32
  inference-engine/thirdparty/clDNN/src/include/program_helpers.h
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/src/network.cpp
  inference-engine/thirdparty/clDNN/src/program_helpers.cpp
Labels: category: GPU, do not merge

#9036 [CPU] Fix for MoveEltwiseUpThroughDataMov with dynamic shapes
  inference-engine/src/mkldnn_plugin/ngraph_transformations/move_eltwise_up_data_movement.cpp
Labels: category: CPU

#9022 security fix on klocwork
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_scatter_update_node.cpp
Labels: category: CPU

#8788 [CPU] Added MaxPool-8 support
  inference-engine/src/mkldnn_plugin/mkldnn_descriptor.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_descriptor.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pooling_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pooling_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/pooling.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/pooling.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/pooling.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/pooling.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/pooling.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/pooling.cpp
Labels: category: CPU

#8991 [GPU] ROIAlign-3
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/roi_align.cpp
  inference-engine/thirdparty/clDNN/api/cldnn/primitives/roi_align.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/common_types.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/roi_align/roi_align_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/roi_align/roi_align_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/roi_align/roi_align_kernel_selector.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/roi_align/roi_align_kernel_selector.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/roi_align_ref.cl
  inference-engine/thirdparty/clDNN/src/impls/ocl/register.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/register.hpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/roi_align.cpp
  inference-engine/thirdparty/clDNN/src/include/roi_align_inst.h
  inference-engine/thirdparty/clDNN/src/roi_align.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/cldnn_primitives_list.hpp
  src/plugins/intel_gpu/src/plugin/ops/roi_align.cpp
Labels: category: IE Tests, category: GPU

#9009 [CPU] Security fixes
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_embedding_bag_offset_sum_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_generic_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_matrix_nms_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reduce_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_topk_node.h
Labels: category: CPU

#8855 [POT] Update model compression pass and FQ values precision
  tools/pot/openvino/tools/pot/algorithms/quantization/fast_bias_correction/algorithm.py
  tools/pot/openvino/tools/pot/graph/builder.py
  tools/pot/openvino/tools/pot/graph/model_utils.py
  tools/pot/openvino/tools/pot/graph/node_utils.py
  tools/pot/openvino/tools/pot/graph/passes.py
  tools/pot/openvino/tools/pot/graph/transformer.py
Labels: category: tools

#8811 Huyuan/latency
  inference-engine/tests/unit/auto/auto_select_device_failed_test.cpp
  inference-engine/tests/unit/auto/exec_network_get_metrics.cpp
  inference-engine/tests/unit/auto/mock_common.cpp
  inference-engine/tests/unit/auto/mock_common.hpp
  src/plugins/auto/executable_network.cpp
  src/plugins/auto/executable_network.hpp
Labels: category: IE Tests, category: MULTI

#9050 Disable MULTI/AUTO plugins separately
  src/plugins/auto/CMakeLists.txt
Labels: category: IE common

#8945 Move back temp frolder to the CMAKE_SOURCE_DIR
  .ci/azure/linux.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
  cmake/dependencies.cmake
  model-optimizer/mo/utils/find_ie_version.py
Labels: category: IE common, category: MO, category: CI

#9048 [GPU] Fix performance drop from extra input/output copy
  src/plugins/intel_gpu/src/plugin/cldnn_infer_request.cpp
Labels: category: GPU

#8911 [GPU] Fix bfyx conv degradation for gen9
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.h
Labels: category: GPU

#8937 [CPU] Dynamism support for experimental detectron: DetectionOutput & GenerateProposalsSingleImage & PriorGridGenerator nodes
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_detection_output_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_detection_output_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_generate_proposals_single_image_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_generate_proposals_single_image_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_priorgridgenerator_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_experimental_detectron_priorgridgenerator_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/experimental_detectron_detection_output.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/experimental_detectron_generate_proposals_single_image.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/experimental_detectron_prior_grid_generator.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/experimental_detectron_detection_output.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/experimental_detectron_generate_proposals_single_image.hpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/experimental_detectron_prior_grid_generator.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/experimental_detectron_detection_output.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/experimental_detectron_generate_proposals_single_image.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/experimental_detectron_prior_grid_generator.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/experimental_detectron_detection_output.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/experimental_detectron_generate_proposals_single_image.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/experimental_detectron_prior_grid_generator.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
Labels: category: CPU

#9061 Fix build for conflicting PRs (8520 vs 9038)
  src/core/tests/preprocess.cpp
Labels: category: nGraph

#9024 Telemetry event with FAQ question number.
  model-optimizer/mo/utils/utils.py
Labels: category: MO

#9001 Extend ONNX FE for operation GatherND-8
  src/frontends/onnx/frontend/src/op/gather_nd.cpp
Labels: category: nGraph, category: ONNX FE

#8936 [OV20] Fix for reverse-input-channels - partially dynamic case
  docs/template_plugin/tests/functional/subgraph_reference/preprocess.cpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/src/preprocess/preprocess_steps_impl.cpp
  src/core/tests/preprocess.cpp
Labels: category: nGraph, category: TEMPLATE

#8955 [OV20] ov::Function - get/set batch size
  samples/cpp/ngraph_function_creation_sample/main.cpp
  src/core/include/openvino/core/function.hpp
  src/core/src/function.cpp
  src/core/tests/function.cpp
Labels: category: nGraph

#6932 [VPU] Changes logic for MyriadMetrics::DeviceArchitecture
  inference-engine/src/vpu/myriad_plugin/myriad_metrics.cpp
Labels: category: IE Tests, category: VPU

#9059 [OV20] InputTensorInfo::set_shape
  docs/template_plugin/tests/functional/subgraph_reference/preprocess.cpp
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/tests/test_ngraph/test_preprocess.py
  src/core/include/openvino/core/preprocess/input_tensor_info.hpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/tests/preprocess.cpp
Labels: category: IE common, category: nGraph, category: TEMPLATE

#8977 fix to pass sr_stridedslice_squeeze
  inference-engine/tests/functional/inference_engine/transformations/sr_strided_slice_squeeze.cpp
  src/core/src/pass/smart_reshape/strided_slice_squeeze.cpp
Labels: category: nGraph, category: IE Tests

#8606 [IE TESTS][IE CONFORMANCE] Implement infra to check operation implementation status in plugin
  inference-engine/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/op_impl_check.cpp
  inference-engine/tests/functional/plugin/shared/include/op_impl_check/op_impl_check.hpp
  inference-engine/tests/functional/plugin/shared/include/op_impl_check/single_op_graph.hpp
  inference-engine/tests/functional/plugin/shared/src/op_impl_check/om_impl_check.cpp
  inference-engine/tests/functional/plugin/shared/src/op_impl_check/single_op_graph.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/layer_test_utils/summary.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/merge_xmls.py
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/filters.js
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/style.css
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/utils.py
  inference-engine/tests/ie_test_utils/functional_test_utils/src/layer_test_utils/summary.cpp
Labels: category: IE Tests

#8676 [IE][nGraph] resolve division by zero for FP16
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.cpp
  inference-engine/tests/functional/inference_engine/transformations/division_by_zero_fp16_resolver_test.cpp
  src/common/transformations/include/transformations/common_optimizations/division_by_zero_fp16_resolver.hpp
  src/common/transformations/src/transformations/common_optimizations/division_by_zero_fp16_resolver.cpp
Labels: enhancement

#8985 [LPT] Remove legacy usage from LPT tests
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/lp_transformations/reshape_fully_connected_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/CMakeLists.txt
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/layer_transformation.cpp
  inference-engine/tests/functional/plugin/shared/CMakeLists.txt
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/layer_transformation.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/low_precision_transformations/layer_transformation.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/low_precision_transformations/layer_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/convert_mul_or_add_finally_with_dequantization_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/reshape_fully_connected_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/convert_mul_or_add_finally_with_dequantization_function.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/mul_add_to_scaleshift_or_power_function.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/reshape_fully_connected_function.cpp
Labels: category: IE Tests

#9016 Remove ngraph options
  .ci/azure/linux.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/openvino-onnx/Dockerfile
  cmake/coverage.cmake
  cmake/features.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  cmake/test_model_zoo.cmake
  docs/CMakeLists.txt
  docs/nGraph_DG/nGraph_debug_capabilities.md
  docs/snippets/CMakeLists.txt
  inference-engine/ie_bridges/python/wheel/setup.py
  inference-engine/src/offline_transformations/src/pruning/pruning.cpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
  inference-engine/tests/functional/plugin/cpu/CMakeLists.txt
  inference-engine/tests/functional/plugin/shared/CMakeLists.txt
  inference-engine/tests/unit/CMakeLists.txt
  src/CMakeLists.txt
  src/bindings/python/BUILDING.md
  src/bindings/python/CMakeLists.txt
  src/bindings/python/setup.py
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/common/util/include/openvino/util/log.hpp
  src/core/CMakeLists.txt
  src/core/builder/CMakeLists.txt
  src/core/include/ngraph/log.hpp
  src/core/include/ngraph/ngraph.hpp
  src/core/reference/CMakeLists.txt
  src/core/shape_inference/CMakeLists.txt
  src/core/tests/CMakeLists.txt
  src/core/tests/frontend/CMakeLists.txt
  src/core/tests/pass/serialization/deterministicity.cpp
  src/core/tests/pass/serialization/serialize.cpp
  src/core/tests/runtime/ie/ie_executable.cpp
  src/frontends/CMakeLists.txt
  src/inference/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/onnx/CMakeLists.txt
Labels: category: IE common, category: nGraph, category: IE Tests, category: CI

#8980 Preprocessing - added test for dynamic spatial shapes (resize)
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/preprocess.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/preprocess.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/preprocess.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/preprocess/preprocess_builders.hpp
Labels: category: IE Tests

#9074 Fix conflict with PR 9054
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/preprocess/preprocess_builders.hpp
Labels: category: IE Tests

#9067 [GPU] Fix lint error
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.h
Labels: category: GPU

#8310 OpShapeInfer
  inference-engine/src/mkldnn_plugin/utils/shape_inference/shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/assign_shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/experimental_detectron_prior_grid_generator_shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/lstm_cell_shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/read_value_shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/tile_shape_inference.cpp
  src/core/include/openvino/op/assign.hpp
  src/core/include/openvino/op/experimental_detectron_prior_grid_generator.hpp
  src/core/include/openvino/op/lstm_cell.hpp
  src/core/shape_inference/include/assign_shape_inference.hpp
  src/core/shape_inference/include/experimental_detectron_prior_grid_generator_shape_inference.hpp
  src/core/shape_inference/include/lstm_cell_shape_inference.hpp
  src/core/shape_inference/include/read_value_shape_inference.hpp
  src/core/shape_inference/include/tile_shape_inference.hpp
  src/core/src/op/assign.cpp
  src/core/src/op/experimental_detectron_prior_grid_generator.cpp
  src/core/src/op/lstm_cell.cpp
  src/core/src/op/read_value.cpp
  src/core/src/op/tile.cpp
  src/core/tests/type_prop/lstm_cell.cpp
  src/core/tests/type_prop/tile.cpp
Labels: category: nGraph, category: IE Tests

#9071 [CPU] Fixed NormalizeL2 on SSE4.2 for blocked layout
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_normalize_node.cpp
Labels: category: CPU

#9028 Extend ONNX FE for operation PriorBox-8
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/prior_box.cpp
Labels: category: nGraph

#8996 [Python API] Binding ov::Any
  src/bindings/python/src/compatibility/pyngraph/rt_map.cpp
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/common.hpp
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/core/executable_network.cpp
  src/bindings/python/src/pyopenvino/graph/rt_map.cpp
  src/bindings/python/src/pyopenvino/graph/variant.cpp
  src/bindings/python/src/pyopenvino/graph/variant.hpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_ngraph/test_basic.py
  src/bindings/python/tests/test_ngraph/test_variant.py
Labels: category: IE common, category: python api

#9055 Extend ONNX FE for operation DetectionOutput-8
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/detection_output.cpp
Labels: category: nGraph

#8929 [POT] Remove tpe algo
  tools/pot/README.md
  tools/pot/README_dev.md
  tools/pot/docs/BestPractices.md
  tools/pot/docs/FrequentlyAskedQuestions.md
  tools/pot/openvino/tools/pot/__init__.py
  tools/pot/openvino/tools/pot/algorithms/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/README.md
  tools/pot/openvino/tools/pot/algorithms/quantization/tunable_quantization/README.md
  tools/pot/openvino/tools/pot/algorithms/quantization/tunable_quantization/algorithm.py
  tools/pot/openvino/tools/pot/app/run.py
  tools/pot/openvino/tools/pot/benchmark/__init__.py
  tools/pot/openvino/tools/pot/benchmark/benchmark.py
  tools/pot/openvino/tools/pot/benchmark/infer_request_wrap.py
  tools/pot/openvino/tools/pot/configs/config.py
  tools/pot/openvino/tools/pot/optimization/__init__.py
  tools/pot/openvino/tools/pot/optimization/optimizer.py
  tools/pot/openvino/tools/pot/optimization/optimizer_selector.py
  tools/pot/openvino/tools/pot/optimization/tpe/README.md
  tools/pot/openvino/tools/pot/optimization/tpe/__init__.py
  tools/pot/openvino/tools/pot/optimization/tpe/algorithm.py
  tools/pot/openvino/tools/pot/optimization/tpe/base_algorithm.py
  tools/pot/openvino/tools/pot/optimization/tpe/multinode.md
  tools/pot/openvino/tools/pot/optimization/tpe/multinode.py
  tools/pot/openvino/tools/pot/utils/object_dump.py
  tools/pot/tests/test_benchmark.py
Labels: category: tools

#9006 [LPT] Security fix
  src/common/low_precision_transformations/include/low_precision/avg_pool.hpp
  src/common/low_precision_transformations/include/low_precision/layer_transformation.hpp
  src/common/low_precision_transformations/src/avg_pool.cpp
Labels: category: CPU, category: LP transformations

#8910 [CPU] ROIAlign tests enabled
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/roialign.cpp
Labels: category: CPU

#8935 Update TPP files for wheels
  docs/install_guides/pypi-openvino-rt.md
  inference-engine/ie_bridges/python/wheel/readme.txt
  inference-engine/ie_bridges/python/wheel/setup.py
  tools/openvino_dev/readme.txt
  tools/openvino_dev/setup.cfg
Labels: category: python api, category: tools

#8750 [IE Python Speech Sample] Enable `-we` option
  samples/python/speech_sample/README.md
  samples/python/speech_sample/arg_parser.py
  samples/python/speech_sample/speech_sample.py
Labels: category: IE common

#8745 [MyriadX] - Add new operation "GatherND-8"
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/convert_gatherND8.hpp
  inference-engine/src/vpu/common/src/ngraph/transformations/convert_gatherND8.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/gather_nd.cpp
Labels: category: IE Tests, category: VPU

#9063 Enable new version archive for samples tests
  tests/samples_tests/smoke_tests/common/samples_common_test_clas.py
  tests/samples_tests/smoke_tests/conftest.py
  tests/samples_tests/smoke_tests/env_config.yml
  tests/samples_tests/smoke_tests/test_benchmark_app.py
  tests/samples_tests/smoke_tests/test_classification_sample_async.py
  tests/samples_tests/smoke_tests/test_hello_classification.py
  tests/samples_tests/smoke_tests/test_hello_nv12_input_classification.py
  tests/samples_tests/smoke_tests/test_hello_reshape_ssd.py
  tests/samples_tests/smoke_tests/test_speech_sample.py
Labels: category: IE Tests

#8938 Expand time tests to cover CPU caching feature
  tests/time_tests/.automation/desktop_test_config_cache.yml
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/src/timetests/timetest_infer.cpp
  tests/time_tests/src/timetests/timetest_infer_cache.cpp
  tests/time_tests/src/timetests/timetest_infer_vpu_mlir_compiler.cpp
  tests/time_tests/src/timetests_helper/cli.h
  tests/time_tests/src/timetests_helper/main.cpp
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/test_timetest.py
Labels: category: IE Tests, do not merge

#9086 Revert "OpShapeInfer"
  inference-engine/src/mkldnn_plugin/utils/shape_inference/shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/assign_shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/experimental_detectron_prior_grid_generator_shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/lstm_cell_shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/read_value_shape_inference.cpp
  inference-engine/tests/unit/cpu/shape_inference_test/tile_shape_inference.cpp
  src/core/include/openvino/op/assign.hpp
  src/core/include/openvino/op/experimental_detectron_prior_grid_generator.hpp
  src/core/include/openvino/op/lstm_cell.hpp
  src/core/shape_inference/include/assign_shape_inference.hpp
  src/core/shape_inference/include/experimental_detectron_prior_grid_generator_shape_inference.hpp
  src/core/shape_inference/include/lstm_cell_shape_inference.hpp
  src/core/shape_inference/include/read_value_shape_inference.hpp
  src/core/shape_inference/include/tile_shape_inference.hpp
  src/core/src/op/assign.cpp
  src/core/src/op/experimental_detectron_prior_grid_generator.cpp
  src/core/src/op/lstm_cell.cpp
  src/core/src/op/read_value.cpp
  src/core/src/op/tile.cpp
  src/core/tests/type_prop/lstm_cell.cpp
  src/core/tests/type_prop/tile.cpp
Labels: category: nGraph, category: IE Tests, category: CPU

#9010 [tools] correct options for dynamic models
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: category: tools

#9003 Export frontend_common as dev target
  cmake/extra_modules.cmake
  licensing/CMakeLists.txt
  samples/c/common/opencv_c_wrapper/CMakeLists.txt
  samples/cpp/common/format_reader/CMakeLists.txt
  src/CMakeLists.txt
  src/bindings/c/src/CMakeLists.txt
  src/common/CMakeLists.txt
  src/common/legacy/CMakeLists.txt
  src/common/snippets/CMakeLists.txt
  src/core/tests/frontend/CMakeLists.txt
  src/core/tests/frontend/shared/CMakeLists.txt
  src/core/tests/onnx_test_util/CMakeLists.txt
  src/core/tests/runtime/CMakeLists.txt
  src/core/tests/runtime/ie/CMakeLists.txt
  src/core/tests/runtime/interpreter/CMakeLists.txt
  src/frontends/common/CMakeLists.txt
Labels: category: nGraph, category: build

#8707 deprecate mean_file option in Caffe
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Paddle.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model_General.md
  tools/mo/openvino/tools/mo/utils/cli_parser.py
Labels: category: MO

#9083 Fixed linkage for G-API
  src/common/preprocessing/CMakeLists.txt
Labels: category: preprocessing

#9081 Fixed any kw issues
  src/common/snippets/src/generator.cpp
  src/core/src/rt_info.cpp
Labels: category: IE common, category: nGraph

#9072 Move back temp frolder to the CMAKE_SOURCE_DIR
  .ci/azure/linux.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
  cmake/dependencies.cmake
  tools/mo/openvino/tools/mo/utils/find_ie_version.py
Labels: category: IE common, category: MO, category: CI

#9089 [IE TESTS] Extend filters by results in report
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/filters.js
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
Labels: category: IE Tests

#8994 removed unnecessary code of PWL & added additional tests for increase…
  inference-engine/tests/functional/plugin/gna/pass_tests/act_maxpool_reordering.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/convert_dwsc_to_scaleshifts.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/power.cpp
  inference-engine/tests/unit/gna/pwl.cpp
  src/plugins/intel_gna/backend/make_pwl.cpp
  src/plugins/intel_gna/gna_graph_compiler.cpp
  src/plugins/intel_gna/runtime/pwl.cpp
  src/plugins/intel_gna/runtime/pwl.h
Labels: category: IE Tests, category: GNA

#8904 [LPT] Fix concat transformation tests and add subtract_convert push support
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_transformation.cpp
  src/common/low_precision_transformations/src/concat.cpp
Labels: category: IE Tests

#9097 Azure CI: Enable linux_onnxruntime on master
  .ci/azure/linux_onnxruntime.yml
Labels: category: CI

#9100 Added optional for exclude_from_all targets
  cmake/developer_package/IEDevScriptsConfig.cmake
  src/common/legacy/CMakeLists.txt
  src/core/tests/frontend/CMakeLists.txt
  src/core/tests/runtime/CMakeLists.txt
  src/core/tests/runtime/ie/CMakeLists.txt
  src/core/tests/runtime/interpreter/CMakeLists.txt
Labels: category: IE common, category: nGraph, category: build, platform: android

#8995 Add SLT to Template Plugin: GatherTree-1
  docs/template_plugin/tests/functional/op_reference/gather_tree.cpp
Labels: category: nGraph, category: TEMPLATE

#9090 [Time tests] Change work with perf_hint
  tests/time_tests/include/timetests_helper/utils.h
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/src/timetests/timetest_infer.cpp
  tests/time_tests/src/timetests_helper/cli.h
  tests/time_tests/src/timetests_helper/main.cpp
  tests/time_tests/test_runner/conftest.py
Labels: category: IE Tests

#7691 Alignment of OV and ONNX models outputs naming
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_if_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_tensoriterator_node.cpp
  src/bindings/python/src/compatibility/pyngraph/util.cpp
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/tests/test_frontend/test_frontend_onnx_editor.py
  src/bindings/python/tests/test_ngraph/test_ops.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_ngraph/test_ops.py
  src/common/legacy/src/convert_function_to_cnn_network.cpp
  src/common/transformations/include/transformations/utils/utils.hpp
  src/core/src/graph_util.cpp
  src/core/src/node.cpp
  src/core/src/node_output.cpp
  src/core/tests/engines_util/CMakeLists.txt
  src/core/tests/engines_util/ie_engines.cpp
  src/core/tests/engines_util/ie_engines.hpp
  src/core/tests/onnx/onnx_import.in.cpp
  src/core/tests/onnx/onnx_tensor_names.cpp
  src/frontends/onnx/frontend/CMakeLists.txt
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/core/graph.hpp
  src/frontends/onnx/frontend/src/op/loop.cpp
Labels: category: IE common, category: ONNX FE

#8641 fix iteration count calculation for output record for case of negative start/end and non integer division
  tools/mo/openvino/tools/mo/back/add_outputs_recursive.py
  tools/mo/openvino/tools/mo/ops/tensor_iterator.py
  tools/mo/unit_tests/extensions/back/add_outputs_recursive_test.py
Labels: category: MO

#7894 [LPT]Enable pushing dequantize operations through nodes with shape size more than 5
  inference-engine/tests/functional/inference_engine/lp_transformations/reshape_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/transpose_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/reshape_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/transpose_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/reshape_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/transpose_transformation.cpp
  src/common/low_precision_transformations/src/layer_transformation.cpp
Labels: category: CPU

#9025 [VPU] coverity fixes
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/hw/conv_tiling/hw_convolution_tiler.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/hw/pooling_tiling/hw_pooling_tiler.hpp
  inference-engine/thirdparty/movidius/XLink/pc/protocols/pcie_host.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkData.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDispatcher.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkDispatcherImpl.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkPrivateDefines.c
  inference-engine/thirdparty/movidius/XLink/shared/src/XLinkStream.c
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_api.c
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_data.c
Labels: category: VPU

#8973 [LPT] Fix not thread safe function setDefaultPrecisions
  src/common/low_precision_transformations/include/low_precision/layer_transformation.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/precisions_attribute.hpp
  src/common/low_precision_transformations/src/fake_quantize_decomposition.cpp
  src/common/low_precision_transformations/src/layer_transformation.cpp
  src/common/low_precision_transformations/src/low_precision.cpp
  src/common/low_precision_transformations/src/mat_mul.cpp
  src/common/low_precision_transformations/src/multiply_to_group_convolution.cpp
  src/common/low_precision_transformations/src/rt_info/precisions_attribute.cpp
  src/common/low_precision_transformations/src/weightable_layer_transformation.cpp
Labels: category: IE common

#9099 [CAPI] Fixed memory leak in tests
  src/bindings/c/tests/ie_c_api_test.cpp
Labels: category: IE common, category: c api

#8549 [Python API] Bind test_utils
  .ci/azure/linux.yml
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/cmake/utils/merge_init_files.py
  inference-engine/ie_bridges/python/src/openvino/inference_engine/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/test_utils/__init__.py
  inference-engine/ie_bridges/python/src/openvino/test_utils/test_utils_api.pyx
  inference-engine/ie_bridges/python/src/openvino/test_utils/test_utils_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/test_utils/test_utils_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/test_utils/test_utils_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_utils.py
  src/bindings/python/src/CMakeLists.txt
  src/bindings/python/src/openvino/test_utils/__init__.py
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/test_utils/CMakeLists.txt
  src/bindings/python/src/pyopenvino/test_utils/test_utils.cpp
  src/bindings/python/tests/test_utils/test_utils.py
  src/bindings/python/tox.ini
Labels: category: IE common, category: python api, do not merge

#9111 Added optional for LPT install
  src/common/low_precision_transformations/CMakeLists.txt
Labels: category: CPU, category: build, category: LP transformations, platform: android

#9101 Merged ngraph & core components
  CMakeLists.txt
  cmake/developer_package/frontends/frontends.cmake
  cmake/extra_modules.cmake
  docs/template_plugin/src/CMakeLists.txt
  inference-engine/src/offline_transformations/CMakeLists.txt
  inference-engine/src/vpu/common/CMakeLists.txt
  inference-engine/src/vpu/graph_transformer/CMakeLists.txt
  inference-engine/tests/functional/plugin/shared/CMakeLists.txt
  inference-engine/tests/functional/shared_test_classes/CMakeLists.txt
  inference-engine/tests/ie_test_utils/common_test_utils/CMakeLists.txt
  inference-engine/tests/ie_test_utils/functional_test_utils/CMakeLists.txt
  inference-engine/tests/ie_test_utils/unit_test_utils/CMakeLists.txt
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/CMakeLists.txt
  inference-engine/tests/ngraph_helpers/ngraph_functions/CMakeLists.txt
  inference-engine/tests_deprecated/behavior/shared_tests/CMakeLists.txt
  inference-engine/tests_deprecated/functional/shared_tests/CMakeLists.txt
  inference-engine/tests_deprecated/functional/vpu/CMakeLists.txt
  inference-engine/tests_deprecated/helpers/CMakeLists.txt
  inference-engine/thirdparty/movidius/XLink/CMakeLists.txt
  inference-engine/thirdparty/movidius/mvnc/CMakeLists.txt
  src/bindings/c/src/CMakeLists.txt
  src/common/conditional_compilation/CMakeLists.txt
  src/common/itt/CMakeLists.txt
  src/common/legacy/CMakeLists.txt
  src/common/low_precision_transformations/CMakeLists.txt
  src/common/preprocessing/CMakeLists.txt
  src/common/transformations/CMakeLists.txt
  src/common/util/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/builder/CMakeLists.txt
  src/core/reference/CMakeLists.txt
  src/core/shape_inference/CMakeLists.txt
  src/core/tests/util/CMakeLists.txt
  src/frontends/common/CMakeLists.txt
  src/frontends/onnx/frontend/CMakeLists.txt
  src/frontends/onnx/onnx_common/CMakeLists.txt
  src/inference/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/onnx/CMakeLists.txt
Labels: category: IE common, category: nGraph, category: IE Tests, category: CPU, category: VPU, category: build, category: TEMPLATE

#9095 Compile snippets as a static library
  src/common/snippets/CMakeLists.txt
  src/common/snippets/include/snippets/emitter.hpp
  src/common/snippets/include/snippets/generator.hpp
  src/common/snippets/include/snippets/op/blockedload.hpp
  src/common/snippets/include/snippets/op/blockedparameter.hpp
  src/common/snippets/include/snippets/op/broadcastload.hpp
  src/common/snippets/include/snippets/op/broadcastmove.hpp
  src/common/snippets/include/snippets/op/kernel.hpp
  src/common/snippets/include/snippets/op/load.hpp
  src/common/snippets/include/snippets/op/nop.hpp
  src/common/snippets/include/snippets/op/scalar.hpp
  src/common/snippets/include/snippets/op/scalarload.hpp
  src/common/snippets/include/snippets/op/scalarstore.hpp
  src/common/snippets/include/snippets/op/staticpower.hpp
  src/common/snippets/include/snippets/op/store.hpp
  src/common/snippets/include/snippets/op/subgraph.hpp
  src/common/snippets/include/snippets/op/tile.hpp
  src/common/snippets/include/snippets/op/vectorload.hpp
  src/common/snippets/include/snippets/op/vectorstore.hpp
  src/common/snippets/include/snippets/pass/assign_registers.hpp
  src/common/snippets/include/snippets/pass/collapse_subgraph.hpp
  src/common/snippets/include/snippets/pass/insert_load_store.hpp
  src/common/snippets/include/snippets/pass/insert_movebroadcast.hpp
  src/common/snippets/include/snippets/pass/load_movebroadcast_to_broadcastload.hpp
  src/common/snippets/include/snippets/pass/vector_to_scalar.hpp
Labels: category: IE common

#8157 Extend nGraph for operation Softmax-8
  inference-engine/src/mkldnn_plugin/utils/shape_inference/shape_inference.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_softmax_downgrade_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_softmax_upgrade_test.cpp
  src/common/transformations/include/transformations/op_conversions/convert_softmax_downgrade.hpp
  src/common/transformations/include/transformations/op_conversions/convert_softmax_upgrade.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/op_conversions/convert_softmax_downgrade.cpp
  src/common/transformations/src/transformations/op_conversions/convert_softmax_upgrade.cpp
  src/common/transformations/src/transformations/op_conversions/softmax_decomposition.cpp
  src/core/include/ngraph/op/softmax.hpp
  src/core/include/openvino/op/softmax.hpp
  src/core/include/openvino/opsets/opset8_tbl.hpp
  src/core/src/op/softmax.cpp
  src/core/tests/eval.cpp
  src/core/tests/type_prop/softmax.cpp
  tools/mo/openvino/tools/mo/ops/softmax.py
Labels: category: MO, category: nGraph

#8325 Added calculation of lower/upper bound for divide operation
  src/core/include/openvino/op/divide.hpp
  src/core/src/op/divide.cpp
  src/core/tests/type_prop/reshape.cpp
  tools/mo/openvino/tools/mo/back/offline_transformations.py
Labels: bug

#9098 Fix tags for wheel package name
  inference-engine/ie_bridges/python/wheel/CMakeLists.txt
Labels: category: python api

#9112 [GPU] Update tuning logic of convolution_b_fs_zyx_fsv16_imad kernel
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/border/border_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_zyx_fsv16_imad.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/border.cpp
Labels: category: GPU

#9120 Removed non operation backend tests
  src/core/tests/CMakeLists.txt
  src/core/tests/backend/aliased_output.in.cpp
  src/core/tests/backend/api.in.cpp
  src/core/tests/backend/auto_broadcast.in.cpp
  src/core/tests/backend/builder_reduce_ops_opset1.in.cpp
  src/core/tests/backend/dyn_reshape.in.cpp
  src/core/tests/backend/dynamic.in.cpp
  src/core/tests/backend/function_name.in.cpp
  src/core/tests/backend/multiple_backends.in.cpp
  src/core/tests/backend/multiple_result.in.cpp
  src/core/tests/backend/node_name.in.cpp
  src/core/tests/backend/unhandled_op.in.cpp
  src/core/tests/backend/validate_call.in.cpp
  src/core/tests/backend/zero_sized.in.cpp
Labels: category: nGraph

#9029 [IE Python Sample] Migrate hello_query_device to OV2.0 API
  samples/python/hello_query_device/hello_query_device.py
Labels: category: IE common

#9123 [CAPI] Fixed memory leak in tests (#9099)
  inference-engine/ie_bridges/c/tests/ie_c_api_test.cpp
Labels: category: IE common

#9094 [IE TESTS] Ngraph::Shape -> ov::Shape in OvSubgraphBase
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
Labels: category: IE Tests

#9113 [GPU] Fix quantization type detection of GEMM and FC primitives
  inference-engine/thirdparty/clDNN/src/impls/ocl/fully_connected.cpp
  inference-engine/thirdparty/clDNN/src/impls/ocl/gemm.cpp
Labels: category: GPU

#9066 [GPU] Added more exception handlings
  src/plugins/intel_gpu/include/intel_gpu/plugin/device_config.hpp
  src/plugins/intel_gpu/src/plugin/device_config.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
Labels: category: GPU

#8798 [GPU] Modify reorder handling
  inference-engine/thirdparty/clDNN/src/graph_optimizer/remove_redundant_reorders.cpp
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/src/program_helpers.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#9136 Split TBB component on tbb and tbb_dev
  src/inference/CMakeLists.txt
Labels: category: IE common, category: build

#9080 [CPU] Adopt DetectionOutput-1 to DetectionOutput-8
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_detection_output_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_detection_output_node.h
  inference-engine/tests/functional/inference_engine/transformations/detection_output_downgrade_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/detection_output_upgrade_test.cpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/op_conversions/detection_output_upgrade.cpp
Labels: category: CPU

#8953 Add SLT to Template Plugin: Gather-8
  docs/template_plugin/tests/functional/op_reference/gather.cpp
Labels: category: nGraph, category: TEMPLATE

#9093 [PYTHON] Expose set_batch and get_batch
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_inference_engine/test_function.py
Labels: category: IE common, category: python api

#9130 [PYTHON API]: handle input normalization for tensor without name
  src/bindings/python/src/openvino/runtime/ie_api.py
Labels: category: IE common, category: python api

#8848 [IE C Samples] Implement bmp reader
  samples/c/common/opencv_c_wrapper/CMakeLists.txt
  samples/c/common/opencv_c_wrapper/bmp_reader.c
  samples/c/common/opencv_c_wrapper/bmp_reader.h
  samples/c/common/opencv_c_wrapper/opencv_c_wrapper.cpp
Labels: category: IE common, category: samples

#9084 [Python API] Rename Variant to OVAny
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/core/common.hpp
  src/bindings/python/src/pyopenvino/graph/any.cpp
  src/bindings/python/src/pyopenvino/graph/any.hpp
  src/bindings/python/src/pyopenvino/graph/node.cpp
  src/bindings/python/src/pyopenvino/graph/rt_map.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_ngraph/test_any.py
  src/bindings/python/tests/test_ngraph/test_basic.py
Labels: category: IE common

#9149 Compilation error fix in pyopenvino.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
Labels: category: build

#9140 remove fast sample scripts
  samples/CMakeLists.txt
Labels: category: samples, category: docs

#9150 Fix compilation error in pyopenvino
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_inference_engine/test_function.py
Labels: category: build, category: python api

#8874 ov2.0 cpp hello reshape ssd
  samples/cpp/hello_reshape_ssd/CMakeLists.txt
  samples/cpp/hello_reshape_ssd/README.md
  samples/cpp/hello_reshape_ssd/main.cpp
  samples/cpp/hello_reshape_ssd/reshape_ssd_extension.hpp
  tests/samples_tests/smoke_tests/README.md
  tests/samples_tests/smoke_tests/common/specific_samples_parsers.py
  tests/samples_tests/smoke_tests/test_hello_reshape_ssd.py
Labels: category: IE common

#8784 MaxPool-1 -> MaxPool-8 upgrade transformation
  inference-engine/tests/functional/inference_engine/transformations/convert_maxpool_upgrade_test.cpp
  src/common/transformations/include/transformations/op_conversions/convert_maxpool_upgrade.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/op_conversions/convert_maxpool_upgrade.cpp
Labels: category: nGraph

#9119 [GNA] Coverity issues fix
  src/plugins/intel_gna/backend/am_intel_dnn.cpp
  src/plugins/intel_gna/backend/am_intel_dnn.hpp
  src/plugins/intel_gna/backend/dnn_components.hpp
  src/plugins/intel_gna/descriptions/gna_output_desc.hpp
  src/plugins/intel_gna/frontend/scale_factor_calc.hpp
  src/plugins/intel_gna/gna_device.cpp
  src/plugins/intel_gna/gna_graph_tools.hpp
  src/plugins/intel_gna/gna_model_serial.cpp
  src/plugins/intel_gna/gna_plugin_internal.hpp
  src/plugins/intel_gna/layers/gna_layer_info.hpp
  src/plugins/intel_gna/optimizer/gna_pass_manager.cpp
  src/plugins/intel_gna/runtime/pwl.cpp
  src/plugins/intel_gna/runtime/pwl.h
Labels: category: GNA

#9151 Fixed incorrect path to TBB
  tools/mo/openvino/tools/mo/utils/find_ie_version.py
Labels: category: MO

#9152 Remove ngraph component
  inference-engine/ie_bridges/python/wheel/setup.py
Labels: category: build, category: python api

#9077 [OV20] Preprocessing: User friendly error message for convert_layout
  src/core/include/openvino/core/layout.hpp
  src/core/src/layout.cpp
  src/core/src/layout_utils.hpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/src/preprocess/preprocess_steps_impl.cpp
  src/core/tests/preprocess.cpp
Labels: category: nGraph

#9155 Move offline_transformations to src/common
  inference-engine/src/CMakeLists.txt
  src/common/CMakeLists.txt
  src/common/offline_transformations/CMakeLists.txt
  src/common/offline_transformations/include/generate_mapping_file.hpp
  src/common/offline_transformations/include/mask_attribute.hpp
  src/common/offline_transformations/include/pot_transformations.hpp
  src/common/offline_transformations/include/pruning.hpp
  src/common/offline_transformations/src/generate_mapping_file.cpp
  src/common/offline_transformations/src/pot_transformations.cpp
  src/common/offline_transformations/src/pruning/init_const_mask.cpp
  src/common/offline_transformations/src/pruning/init_masks.cpp
  src/common/offline_transformations/src/pruning/mask_attribute.cpp
  src/common/offline_transformations/src/pruning/propagate_masks.cpp
  src/common/offline_transformations/src/pruning/pruning.cpp
  src/common/offline_transformations/src/pruning/shrink_weights.cpp
Labels: category: IE common

#9144 Renamed ExecutableNetwork to CompiledModel
  docs/snippets/ov_common.cpp
  docs/template_plugin/tests/functional/op_reference/base_reference_test.hpp
  docs/template_plugin/tests/functional/subgraph_reference/base_reference_cnn_test.hpp
  inference-engine/tests/functional/inference_engine/ov_compiled_model_test.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/convolution.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/group_convolution.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/cpu_test_utils.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/cpu_test_utils.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  inference-engine/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/ov_executable_network/get_metric.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/ov_infer_request/io_tensor.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/ov_remote.hpp
  inference-engine/tests/functional/plugin/shared/src/behavior/ov_infer_request/inference_chaining.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  samples/cpp/classification_sample_async/main.cpp
  samples/cpp/hello_classification/main.cpp
  samples/cpp/hello_reshape_ssd/main.cpp
  samples/cpp/ngraph_function_creation_sample/main.cpp
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/core/async_infer_queue.cpp
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/common.hpp
  src/bindings/python/src/pyopenvino/core/compiled_model.cpp
  src/bindings/python/src/pyopenvino/core/compiled_model.hpp
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/core/executable_network.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_inference_engine/test_compiled_model.py
  src/bindings/python/tests/test_inference_engine/test_core.py
  src/core/include/openvino/core/any.hpp
  src/inference/include/openvino/runtime/compiled_model.hpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/include/openvino/runtime/infer_request.hpp
  src/inference/include/openvino/runtime/remote_context.hpp
  src/inference/src/cpp/ie_executable_network.cpp
  src/inference/src/ie_core.cpp
Labels: category: IE common, category: nGraph, category: IE Tests, category: TEMPLATE
