Repository openvinotoolkit/openvino, pull requests merged in 2021-01, with the labels that each got.

#3778 [ONNX] don't hardcode shapes in Interpolate and Shape operators
  ngraph/frontend/onnx_import/src/op/resize.cpp
  ngraph/frontend/onnx_import/src/op/shape.cpp
  ngraph/test/models/onnx/resize_opset10.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
Labels: category: nGraph

#3717 [ONNX] remove unnecessary ReduceMax and Subtract in Softmax op
  ngraph/frontend/onnx_import/src/op/softmax.cpp
  ngraph/test/onnx/onnx_import_dyn_shapes.in.cpp
Labels: category: nGraph

#3757 Fixed clone_with_new_inputs for TopK
  ngraph/core/src/op/topk.cpp
Labels: category: nGraph

#3752 Fixed install location for MODULE library type
  cmake/developer_package/plugins/plugins.cmake
  inference-engine/src/preprocessing/CMakeLists.txt
  inference-engine/src/readers/ir_reader/CMakeLists.txt
  inference-engine/src/readers/ir_reader_v7/CMakeLists.txt
  inference-engine/src/readers/onnx_reader/CMakeLists.txt
Labels: bug, category: IE common, category: build, category: nGraph, platform: win32

#3542 [ nG ] opset1::Reshape output shape inference refactoring
  ngraph/core/src/op/reshape.cpp
  ngraph/test/type_prop/reshape.cpp
Labels: category: nGraph

#3766 [MO] Implement support of TensorFlow 2 Keras Embedding operation in MO
  model-optimizer/mo/front/tf/loader.py
  model-optimizer/requirements.txt
  model-optimizer/requirements_tf.txt
  model-optimizer/requirements_tf2.txt
Labels: category: MO

#3620 Remove ops from Layer Creator/ Node Converter - part 6
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  ngraph/core/include/ngraph/op/deformable_psroi_pooling.hpp
Labels: category: nGraph

#3700 base file for unit-testes for unary operators
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/unary_ops.cpp
Labels: category: nGraph

#3579 CPU implementation for ROIAlign
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roi_align_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roi_align_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/roi_align.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/roialign.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/roi_align.hpp
  inference-engine/tests/functional/plugin/shared/src/single_layer_tests/roi_align.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
Labels: category: CPU

#3791 Enabled CMP0025 as NEW
  CMakeLists.txt
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/models.cmake
  docs/template_plugin/CMakeLists.txt
  inference-engine/samples/CMakeLists.txt
  inference-engine/thirdparty/clDNN/CMakeLists.txt
  ngraph/CMakeLists.txt
  tests/fuzz/CMakeLists.txt
  tests/stress_tests/CMakeLists.txt
  tests/time_tests/CMakeLists.txt
Labels: category: GPU, category: IE Tests, category: IE common, category: build, category: docs, category: nGraph, platform: osx

#3765 Revert PSROIPooling average logic introduced in 305f0056059b091e0290b…
  inference-engine/src/mkldnn_plugin/nodes/psroi.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/psroi_pooling.hpp
  ngraph/test/backend/psroi_pooling.in.cpp
Labels: category: CPU, category: nGraph

#3508 [IE][VPU] - Interpolate improvements
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/stage_builder.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/stages/interpolate_stages.hpp
  inference-engine/src/vpu/graph_transformer/src/stages/interp.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/interpolate.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/resample.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/interpolate.cpp
Labels: category: IE Tests, category: VPU

#3794 [cmake] Fix single config generators handling
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/features.cmake
  inference-engine/samples/CMakeLists.txt
  inference-engine/thirdparty/clDNN/CMakeLists.txt
Labels: category: GPU, category: IE common, category: build, category: nGraph

#3624 Evaluate, ngraph_reader check and Python nGraph API for GatherElements
  inference-engine/tests/functional/inference_engine/ngraph_reader/gather_elements_tests.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/gather_elements.hpp
  ngraph/python/setup.py
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset6/__init__.py
  ngraph/python/src/ngraph/opset6/ops.py
  ngraph/python/src/ngraph/utils/node_factory.py
  ngraph/python/src/pyngraph/node_factory.cpp
  ngraph/python/tests/test_ngraph/test_data_movement.py
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/gather_elements.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
Labels: category: IE Tests, category: MO, category: docs, category: nGraph

#3798 Set default visibility only for ONNX
  ngraph/CMakeLists.txt
  ngraph/cmake/external_onnx.cmake
  ngraph/core/CMakeLists.txt
  ngraph/core/builder/CMakeLists.txt
  ngraph/core/reference/CMakeLists.txt
  ngraph/frontend/onnx_import/CMakeLists.txt
Labels: category: onnx importer

#3667 add implementation of layer Round to Myriad Plugin
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/model/stage.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/round.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_unary_elementwise.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_unary_elementwise.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/utils/ngraph_helpers.cpp
Labels: category: VPU

#3699 Merged base implementation files
  inference-engine/src/multi_device/multi_device_async_infer_request.cpp
  inference-engine/src/multi_device/multi_device_async_infer_request.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_default.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_internal.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/empty.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_async_infer_request_thread_safe_internal.hpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_infer_async_request_thread_safe_default_test.cpp
Labels: category: IE Tests, category: IE common, category: MULTI

#3687 [IE][VPU] Move Myriad QueryNetwork to a separate file
  inference-engine/src/vpu/common/include/vpu/ngraph/query_network.hpp
  inference-engine/src/vpu/common/src/ngraph/query_network.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/frontend/frontend.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
Labels: category: VPU

#3665 [VPU][Tests] Gather: support outer padding for indices
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_gather.cpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
Labels: category: IE Tests, category: VPU

#3801 [CMake] Add SHA sums for OMP packages
  inference-engine/cmake/dependencies.cmake
Labels: category: IE common

#3754 Align location to OMZ demos
  scripts/demo/demo_security_barrier_camera.bat
  scripts/demo/demo_security_barrier_camera.sh
Labels: category: build

#3803 Fixed compilation for Win32
  inference-engine/src/transformations/include/ngraph_ops/type_relaxed.hpp
  ngraph/core/include/ngraph/op/clamp.hpp
  ngraph/core/include/ngraph/op/fake_quantize.hpp
  ngraph/core/include/ngraph/op/gelu.hpp
  ngraph/core/include/ngraph/op/grn.hpp
  ngraph/core/include/ngraph/op/group_conv.hpp
  ngraph/core/include/ngraph/op/hard_sigmoid.hpp
  ngraph/core/include/ngraph/op/lstm_sequence.hpp
  ngraph/core/include/ngraph/op/mod.hpp
  ngraph/core/include/ngraph/op/mvn.hpp
  ngraph/core/include/ngraph/op/normalize_l2.hpp
  ngraph/core/include/ngraph/op/prelu.hpp
  ngraph/core/include/ngraph/op/selu.hpp
  ngraph/core/include/ngraph/op/squared_difference.hpp
  ngraph/core/include/ngraph/op/squeeze.hpp
  ngraph/core/src/op/clamp.cpp
  ngraph/core/src/op/fake_quantize.cpp
  ngraph/core/src/op/gelu.cpp
  ngraph/core/src/op/grn.cpp
  ngraph/core/src/op/group_conv.cpp
  ngraph/core/src/op/hard_sigmoid.cpp
  ngraph/core/src/op/lstm_sequence.cpp
  ngraph/core/src/op/mod.cpp
  ngraph/core/src/op/mvn.cpp
  ngraph/core/src/op/normalize_l2.cpp
  ngraph/core/src/op/prelu.cpp
  ngraph/core/src/op/selu.cpp
  ngraph/core/src/op/squared_difference.cpp
  ngraph/core/src/op/squeeze.cpp
  ngraph/test/runtime/pass/fused_op_decomposition.hpp
Labels: category: build, platform: win32

#3784 Handle scalar inputs for MYRIAD plugin
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_request_internal.hpp
Labels: ExternalIntelPR, category: IE common

#3670 [IE VPU] Added addition parameters for StridedSlice
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/strided_slice.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/strided_slice.cpp
Labels: category: VPU

#3815 add asin to unary operators tests
  ngraph/test/type_prop/unary_ops.cpp
Labels: category: nGraph

#2879 Suppress multiple linker warnings for ngraph on Win32
  ngraph/core/CMakeLists.txt
  ngraph/core/reference/CMakeLists.txt
Labels: category: build, category: nGraph, platform: win32

#3820 Removed stb_image from 3rd party
  inference-engine/thirdparty/CMakeLists.txt
  inference-engine/thirdparty/stb_lib/CMakeLists.txt
  inference-engine/thirdparty/stb_lib/stb_image.cpp
  inference-engine/thirdparty/stb_lib/stb_image.h
  inference-engine/thirdparty/stb_lib/stb_image_resize.h
  inference-engine/thirdparty/stb_lib/stb_image_write.h
Labels: category: IE common

#3821 Follow up for PR #3784
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_infer_request_internal.hpp
Labels: category: IE common

#3764 Fixed headers for doxygen genration (#3746)
  ngraph/core/include/ngraph/pass/constant_folding.hpp
  ngraph/core/include/ngraph/pass/convert_fp32_to_fp16.hpp
  ngraph/core/include/ngraph/pass/graph_rewrite.hpp
  ngraph/core/include/ngraph/pass/manager.hpp
  ngraph/core/include/ngraph/pass/visualize_tree.hpp
  ngraph/core/include/ngraph/runtime/aligned_buffer.hpp
  ngraph/core/include/ngraph/runtime/host_tensor.hpp
Labels: category: docs, category: nGraph

#3829 Updated list of supported TF ops
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
Labels: category: docs

#3663 [IE][VPU] Removed Mish decomposition
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/mish_decomposition.hpp
  inference-engine/src/vpu/common/src/ngraph/transformations/mish_decomposition.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
Labels: category: VPU

#3715 [IE][VPU]: Enables Extract Dynamic Batch Transformation
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/extract_dynamic_batch/batch_extraction_configuration.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/extract_dynamic_batch/extract_dynamic_batch.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/extract_dynamic_batch/slice_binary_eltwise.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/extract_dynamic_batch/slice_convolution.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/extract_dynamic_batch/slice_mat_mul.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/extract_dynamic_batch/slice_unary_eltwise.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/utilities.hpp
  inference-engine/src/vpu/common/src/ngraph/transformations/extract_dynamic_batch/batch_extraction_configuration.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/extract_dynamic_batch/extract_dynamic_batch.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/extract_dynamic_batch/slice_binary_eltwise.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/extract_dynamic_batch/slice_convolution.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/extract_dynamic_batch/slice_mat_mul.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/extract_dynamic_batch/slice_unary_eltwise.cpp
  inference-engine/src/vpu/common/src/ngraph/utilities.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  ngraph/core/include/ngraph/partial_shape.hpp
Labels: category: VPU

#3481 [GNA] Fix handling of permutes around convolution for a case with 1 c…
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_tools.hpp
  inference-engine/src/gna_plugin/layers/gna_permute.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/remove_permutations_NHWC_to_NCHW_pass.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/concat_quantization_during_memory_requantization.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/copy_before_squeeze.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/concat_quantization_during_memory_requantization.hpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/copy_before_squeeze.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/concat_quantization_during_memory_requantization.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/copy_before_squeeze.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/concat_quantization_during_memory_requantization.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/copy_before_squeeze.cpp
Labels: category: GNA, category: IE Tests

#3714 ONNX model editor class with input types modification support
  ngraph/frontend/onnx_import/include/onnx_import/editor/editor.hpp
  ngraph/frontend/onnx_import/include/onnx_import/onnx.hpp
  ngraph/frontend/onnx_import/include/onnx_import/utils/parser.hpp
  ngraph/frontend/onnx_import/src/editor/editor.cpp
  ngraph/frontend/onnx_import/src/onnx.cpp
  ngraph/frontend/onnx_import/src/utils/parser.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/models/onnx/model_editor/add_abc.prototxt
  ngraph/test/models/onnx/model_editor/elem_type_missing_in_input.prototxt
  ngraph/test/models/onnx/model_editor/invalid_input_no_tensor_type.prototxt
  ngraph/test/models/onnx/model_editor/invalid_input_no_type.prototxt
  ngraph/test/onnx/onnx_editor.cpp
Labels: category: nGraph

#3831 Add log_level option to compile_tool
  inference-engine/tools/compile_tool/main.cpp
Labels: category: IE common, category: tools

#3824 V10Parser node factory improvements
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.hpp
Labels: category: IE reader, optimization

#3674 Avgpool revise
  docs/ops/pooling/AvgPool_1.md
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/pooling.cpp
  ngraph/core/include/ngraph/op/avg_pool.hpp
  ngraph/core/src/op/avg_pool.cpp
  ngraph/core/src/validation_util.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/avg_pool.in.cpp
  ngraph/test/type_prop/avg_pool.cpp
  ngraph/test/type_prop/binary_convolution.cpp
  ngraph/test/type_prop/convolution.cpp
  ngraph/test/type_prop/deformable_convolution.cpp
  ngraph/test/type_prop/group_convolution.cpp
  ngraph/test/type_prop/max_pool.cpp
Labels: category: nGraph

#3833 [IE CLDNN] Fixed factory registration in concurrent environment
  inference-engine/src/cldnn_engine/cldnn_program.h
Labels: category: GPU

#3719 [IE CLDNN] ITT counters
  inference-engine/src/cldnn_engine/cldnn_config.cpp
  inference-engine/src/cldnn_engine/cldnn_custom_layer.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_executable_network.cpp
  inference-engine/src/cldnn_engine/cldnn_graph.cpp
  inference-engine/src/cldnn_engine/cldnn_infer_request.cpp
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/cldnn_engine/cldnn_remote_context.cpp
Labels: category: GPU

#3586 [GNA] Fixing issues for convolution single-layer tests
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/backend/gna_limitations.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/convolution.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
Labels: category: GNA, category: IE Tests

#3776 [CPU] Added vector size tiles alignment for quantization buffers
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_quantize_node.cpp
Labels: category: CPU

#3499 Add ctc gready decoder sec len op to ngraph
  ngraph/core/include/ngraph/op/ctc_greedy_decoder_seq_len.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/include/ngraph/opsets/opset6_tbl.hpp
  ngraph/core/src/op/ctc_greedy_decoder_seq_len.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/type_prop/ctc_greedy_decoder_seq_len.cpp
Labels: category: nGraph

#3762 Remove protocol checks for updating memType and watchdog flag
  inference-engine/thirdparty/movidius/mvnc/src/mvnc_data.c
Labels: category: VPU

#3848 Broken first inference time counter
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
Labels: category: nGraph

#3729 [IE CLDNN] Performance / accuracy fixes
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/cldnn_program.h
  inference-engine/src/cldnn_engine/ops/roi_pooling.cpp
  inference-engine/src/cldnn_engine/ops/strided_slice.cpp
  inference-engine/src/transformations/include/transformations/op_conversions/convert_gather_0d.hpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_gather_0d.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_gather_0d_test.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_opt.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_ref.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/resample_opt.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/resample_ref.cl
  inference-engine/thirdparty/clDNN/src/graph_optimizer/add_required_reorders.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_quantization.cpp
  inference-engine/thirdparty/clDNN/src/include/to_string_utils.h
  inference-engine/thirdparty/clDNN/src/layout_optimizer.cpp
  inference-engine/thirdparty/clDNN/src/resample.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#3595 MO dev guide refactoring (#3266)
  docs/HOWTO/Custom_Layers_Guide.md
  docs/HOWTO/img/IE_extensions_flow.png
  docs/HOWTO/img/MEG_generic_flow.png
  docs/HOWTO/img/MO_extensions_flow.png
  docs/HOWTO/img/converted_subgraph.png
  docs/HOWTO/img/mo_caffe_priorities.png
  docs/HOWTO/img/unsupported_subgraph.png
  docs/HOWTO/mo_extensions/front/tf/Complex.py
  docs/HOWTO/mo_extensions/front/tf/ComplexAbs.py
  docs/HOWTO/mo_extensions/front/tf/FFT_ext.py
  docs/HOWTO/mo_extensions/ops/FFT.py
  docs/HOWTO/mri_reconstruction_demo.py
  docs/IE_DG/Extensibility_DG/AddingNGraphOps.md
  docs/IE_DG/Extensibility_DG/CPU_Kernel.md
  docs/IE_DG/Extensibility_DG/Extension.md
  docs/IE_DG/Extensibility_DG/GPU_Kernel.md
  docs/IE_DG/Extensibility_DG/Intro.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/Cutting_Model.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_MXNet_Model_Optimizer_with_New_Primitives.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_Model_Optimizer_with_Caffe_Python_Layers.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_Model_Optimizer_with_New_Primitives.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Legacy_Mode_for_Caffe_Custom_Layers.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Subgraph_Replacement_Model_Optimizer.md
  docs/MO_DG/prepare_model/customize_model_optimizer/TensorFlow_Faster_RCNN_ObjectDetection_API.md
  docs/MO_DG/prepare_model/customize_model_optimizer/TensorFlow_SSD_ObjectDetection_API.md
  docs/doxygen/ie_docs.xml
  docs/how_tos/how-to-links.md
  docs/img/MO_connection_example_1.png
  docs/img/MO_conversion_pipeline.png
  docs/img/MO_graph_after_extractors.png
  docs/img/MO_graph_after_loader.png
  docs/img/MO_graph_before_partial_inference.png
  docs/img/MO_ports_example_1.png
  docs/img/MO_ports_example_2.png
  docs/img/MO_transformations_graph.png
  docs/template_extension/CMakeLists.txt
  docs/template_extension/extension.cpp
  docs/template_extension/fft_kernel.cpp
  docs/template_extension/fft_kernel.hpp
  docs/template_extension/fft_op.cpp
  docs/template_extension/fft_op.hpp
  inference-engine/tests/unit/inference_engine/ie_extension_test.cpp
  model-optimizer/README.md
Labels: category: docs

#3649 [BF16] Simulation mode was added to documentation
  docs/IE_DG/Bfloat16Inference.md
Labels: category: CPU, category: docs

#3849 Inconsistent inference results for hello_classification sample between Windows and Linux (44369)
  inference-engine/samples/hello_classification/main.cpp
Labels: category: IE common, category: samples

#3793 Attributes have different values in MO and NGraph IRs
  docs/ops/detection/RegionYolo_1.md
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.hpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/broadcast.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/normalize_l2.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/pad.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/prelu.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/region_yolo.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/reshape.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/shuffle_channels.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/variadic_split.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/broadcast.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/normalize_l2.cpp
  ngraph/core/src/op/util/attr_types.cpp
  ngraph/test/backend/auto_broadcast.in.cpp
Labels: category: nGraph

#3869 Fix sanitizer build
  cmake/developer_package/compile_flags/sanitizer.cmake
Labels: category: IE common

#3861 [IE Myriad] Adding MYRIAD_THROUGHPUT_STREAMS in default config
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
Labels: category: VPU

#3842 [IE Myriad] Fixed the calculation of timeout for 32-bit system
  inference-engine/tests_deprecated/unit/engines/vpu/mvnc/pthread_semaphore_tests.cpp
  inference-engine/thirdparty/movidius/mvnc/src/watchdog/watchdog.cpp
Labels: category: IE Tests, category: VPU

#3865 [Python API] Small fixes in tests and change of format string to f-st…
  inference-engine/ie_bridges/python/sample/classification_sample_async/classification_sample_async.py
  inference-engine/ie_bridges/python/sample/hello_classification/hello_classification.py
  inference-engine/ie_bridges/python/sample/hello_query_device/hello_query_device.py
  inference-engine/ie_bridges/python/sample/ngraph_function_creation_sample/ngraph_function_creation_sample.py
  inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py
  inference-engine/ie_bridges/python/sample/style_transfer_sample/style_transfer_sample.py
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/tests/test_ExecutableNetwork.py
  inference-engine/ie_bridges/python/tests/test_IECore.py
  inference-engine/ie_bridges/python/tests/test_IENetwork.py
  inference-engine/ie_bridges/python/tests/test_InferRequest.py
  inference-engine/ie_bridges/python/tests/test_NGraph.py
Labels: category: python api, category: samples

#3843 doc files copyright
  docs/doxygen/assets/customdoxygen.css
  docs/doxygen/assets/openvino-layout.js
  docs/doxygen/build_main_layout.py
  docs/doxygen/doxy_md_filter.py
  docs/doxygen/footer.html.in
  docs/doxygen/header.html.in
  docs/doxygen/ie_c_api.config
  docs/doxygen/ie_c_api.xml
  docs/doxygen/ie_docs.xml
  docs/doxygen/ie_plugin_api.config
  docs/doxygen/ie_plugin_api.xml
  docs/doxygen/ie_py_api.config
  docs/doxygen/ie_py_api.xml
  docs/doxygen/log.py
  docs/doxygen/ngraph_cpp_api.config
  docs/doxygen/ngraph_cpp_api.xml
  docs/doxygen/ngraph_py_api.config
  docs/doxygen/ngraph_py_api.xml
  docs/doxygen/openvino_docs.xml
  docs/doxygen/pyx_filter.py
Labels: DO NOT MERGE, category: docs

#3875 Covering ie_network_reshape() in C sample docs
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/README.md
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/main.c
  inference-engine/ie_bridges/c/samples/object_detection_sample_ssd/object_detection_sample_ssd.h
Labels: category: IE common, category: docs, category: samples

#3812 Allow FakeQuantize with output_low scalar to be transformed
  inference-engine/src/low_precision_transformations/src/weightable_layer_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
Labels: category: CPU

#3756 Add Clamp fusion transformation
  inference-engine/src/transformations/include/transformations/common_optimizations/clamp_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/clamp_fusion.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/tests/functional/inference_engine/transformations/clamp_fusion.cpp
Labels: category: IE Tests, category: nGraph

#3862 Adding docs for macOS samples building
  docs/IE_DG/Samples_Overview.md
Labels: category: docs, category: samples

#3693 Develop Bucketize Reference Implementation
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/bucketize.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/bucketize.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/bucketize.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/bucketize.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/bucketize.hpp
  ngraph/core/src/op/bucketize.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/bucketize.in.cpp
  ngraph/test/op_eval/bucketize.cpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/type_prop/bucketize.cpp
Labels: category: nGraph

#3864 Fixed warnings generation for ngraph API
  inference-engine/ie_bridges/c/tests/test_model_repo.hpp
  inference-engine/src/legacy_api/include/legacy/transformations/convert_opset1_to_legacy/convert_mul_or_add_finally.hpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_mul_add_to_scaleshift_or_power.cpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_prior_to_ie_prior.cpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/reshape_fc_fusion.cpp
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/remove_filtering_boxes_by_size.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  ngraph/core/include/ngraph/op/lstm_cell.hpp
  ngraph/core/include/ngraph/pass/pass_config.hpp
  ngraph/core/src/op/lstm_sequence.cpp
  ngraph/test/graph_rewrite.cpp
  ngraph/test/runtime/pass/fused_op_decomposition.hpp
  ngraph/test/runtime/pass/implicit_broadcast_elimination.hpp
Labels: category: CPU, category: IE common, category: IE transformations, category: LP transformations, category: VPU, category: nGraph

#3749 Doc updates 2021 2
  docs/IE_DG/API_Changes.md
  docs/IE_DG/Introduction.md
  docs/IE_DG/Optimization_notice.md
  docs/IE_DG/supported_plugins/HDDL.md
  docs/IE_DG/supported_plugins/VPU.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_EfficientDet_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Subgraph_Replacement_Model_Optimizer.md
  docs/Optimization_notice.md
  docs/doxygen/ie_docs.xml
  docs/get_started/get_started_dl_workbench.md
  docs/get_started/get_started_raspbian.md
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-windows.md
  docs/ops/detection/DetectionOutput_1.md
Labels: category: docs

#3085 Azure CI: Prepare for updating IB ver
  .ci/azure/windows.yml
Labels: category: CI

#3877 [ONNX Importer] move null_node to private scope
  ngraph/frontend/onnx_import/src/core/node.cpp
  ngraph/frontend/onnx_import/src/core/null_node.cpp
  ngraph/frontend/onnx_import/src/core/null_node.hpp
  ngraph/frontend/onnx_import/src/op/batch_norm.cpp
  ngraph/frontend/onnx_import/src/op/clip.cpp
  ngraph/frontend/onnx_import/src/op/dequantize_linear.cpp
  ngraph/frontend/onnx_import/src/op/dropout.hpp
  ngraph/frontend/onnx_import/src/op/gru.cpp
  ngraph/frontend/onnx_import/src/op/loop.cpp
  ngraph/frontend/onnx_import/src/op/lstm.cpp
  ngraph/frontend/onnx_import/src/op/max_pool.cpp
  ngraph/frontend/onnx_import/src/utils/recurrent.cpp
  ngraph/test/onnx/onnx_import.in.cpp
Labels: category: nGraph, category: onnx importer

#3744 [IE TESTS] Replaced size_t with int64_t in ScatterUpdateLayerTest
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/scatter_update.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/scatter_update.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/scatter_update.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/scatter_update.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/scatter_update.cpp
Labels: category: IE Tests

#3408 Offline transformation API
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/__init__.py
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api.pyx
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_offline_api.py
  inference-engine/src/CMakeLists.txt
  inference-engine/src/offline_transformations/CMakeLists.txt
  inference-engine/src/offline_transformations/include/moc_transformations.hpp
  inference-engine/src/offline_transformations/src/moc_transformations.cpp
Labels: category: IE common, category: python api

#3881 Remove deprecated methods usage from transformation library
  inference-engine/src/legacy_api/include/legacy/transformations/convert_opset1_to_legacy/convert_mul_add_to_scaleshift_or_power.hpp
  inference-engine/src/legacy_api/include/legacy/transformations/convert_opset1_to_legacy/convert_mul_or_add_finally.hpp
  inference-engine/src/legacy_api/include/legacy/transformations/convert_opset1_to_legacy/convert_prior_to_ie_prior.hpp
  inference-engine/src/legacy_api/include/legacy/transformations/convert_opset1_to_legacy/reshape_1d_ops.hpp
  inference-engine/src/legacy_api/include/legacy/transformations/convert_opset1_to_legacy/reshape_fc_fusion.hpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_mul_add_to_scaleshift_or_power.cpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_mul_or_add_finally.cpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_normalizel2_to_normalize_ie.cpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_opset1_to_legacy.cpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_prior_to_ie_prior.cpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/reshape_fc_fusion.cpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/reshape_fully_connected.cpp
  inference-engine/src/transformations/include/transformations/common_optimizations/conv_bias_fusion.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/depth_to_space_fusion.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/remove_filtering_boxes_by_size.hpp
  inference-engine/src/transformations/include/transformations/op_conversions/convert_scatter_elements_to_scatter.hpp
  inference-engine/src/transformations/include/transformations/op_conversions/convert_shapeof3.hpp
  inference-engine/src/transformations/include/transformations/op_conversions/convert_shuffle_channels3.hpp
  inference-engine/src/transformations/include/transformations/op_conversions/convert_topk3.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/conv_bias_fusion.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/depth_to_space_fusion.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/mish_fusion.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/normalize_l2_fusion.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/remove_filtering_boxes_by_size.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_batch_to_space.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_depth_to_space.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_divide.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_gelu.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_minimum_to_power_and_max.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_negative.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_scatter_elements_to_scatter.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_shapeof3.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_shuffle_channels3.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_space_to_depth.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_subtract.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_topk3.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_scatter_elements_to_scatter_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_shapeof3.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_shuffle_channels3_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_topk3_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/depth_to_space_fusion_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/mul_add_conversion_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/reshape_fc_fusion_test.cpp
Labels: category: IE transformations, category: nGraph

#3695 [IE VPU] changing condition in HW tiling
  inference-engine/src/vpu/graph_transformer/src/middleend/hw/tiling.cpp
Labels: category: VPU

#3873 Update MO extensions enabling/disabling mechanism
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
  model-optimizer/mo/utils/class_registration.py
Labels: category: MO

#3710 Add MVN-6 related transformations
  inference-engine/src/transformations/include/transformations/op_conversions/convert_mvn1_to_mvn6.hpp
  inference-engine/src/transformations/include/transformations/op_conversions/mvn6_decomposition.hpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_mvn1_to_mvn6.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/mvn6_decomposition.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_mvn1_to_mvn6_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/mvn6_decomposition_test.cpp
Labels: category: IE Tests, category: nGraph

#3883 Proper cpplint target for object libraries
  inference-engine/src/legacy_api/CMakeLists.txt
  inference-engine/src/legacy_api/include/legacy/cnn_network_impl.hpp
  inference-engine/src/legacy_api/include/legacy/convert_function_to_cnn_network.hpp
  inference-engine/src/legacy_api/include/legacy/details/ie_cnn_network_iterator.hpp
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/legacy_api/src/ie_layer_validators.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/interp.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/prior_box_clustered_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/proposal_ie.cpp
  inference-engine/src/legacy_api/src/ngraph_ops/tile_ie.cpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_opset1_to_legacy.cpp
  inference-engine/src/preprocessing/CMakeLists.txt
  inference-engine/src/preprocessing/arm_neon/ie_preprocess_gapi_kernels_neon.hpp
  inference-engine/src/preprocessing/cpu_x86_avx512/ie_preprocess_gapi_kernels_avx512.cpp
  inference-engine/src/preprocessing/cpu_x86_sse42/ie_preprocess_gapi_kernels_sse42.cpp
  inference-engine/src/preprocessing/ie_preprocess_data.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels_impl.hpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels_simd_impl.hpp
Labels: category: IE common, category: build, category: nGraph

#3856 Enable calculation of reference data without prior run of infer request
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
Labels: category: IE Tests

#3885 Fixed -Wall warnings on ARM build
  inference-engine/src/inference_engine/blob_transform.cpp
  inference-engine/src/preprocessing/ie_preprocess_gapi_kernels.cpp
  ngraph/cmake/external_onnx.cmake
Labels: category: IE common, category: nGraph, platform: arm

#3836 ONNX tests mismatch error
  ngraph/core/builder/include/ngraph/builder/make_constant.hpp
  ngraph/core/builder/src/builder/make_constant.cpp
  ngraph/core/src/op/clamp.cpp
  ngraph/frontend/onnx_import/src/op/argmax.cpp
  ngraph/frontend/onnx_import/src/op/argmax.hpp
  ngraph/frontend/onnx_import/src/op/argmin.cpp
  ngraph/frontend/onnx_import/src/op/argmin.hpp
  ngraph/frontend/onnx_import/src/op/clip.cpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/test/backend/minimum.in.cpp
  ngraph/test/models/onnx/argmax_select_last_index.prototxt
  ngraph/test/models/onnx/argmin_select_last_index.prototxt
  ngraph/test/models/onnx/test_clip_inbounds.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
Labels: category: nGraph

#3884 Deprecated IVariableState interface
  inference-engine/include/cpp/ie_executable_network.hpp
  inference-engine/include/cpp/ie_infer_request.hpp
  inference-engine/include/cpp/ie_memory_state.hpp
  inference-engine/include/ie_iexecutable_network.hpp
  inference-engine/include/ie_iinfer_request.hpp
  inference-engine/include/ie_imemory_state.hpp
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/cpp/ie_variable_state.cpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_executable_network_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_infer_async_request_base.hpp
  inference-engine/src/plugin_api/cpp_interfaces/base/ie_variable_state_base.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_ie_ivariable_state.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_iexecutable_network.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_iinfer_request.hpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_executable_network_base_test.cpp
  inference-engine/tests/unit/inference_engine/cpp_interfaces/ie_memory_state_internal_test.cpp
  inference-engine/tests/unit/inference_engine/ie_executable_network_test.cpp
Labels: category: IE common

#3797 Improvements for subnormal floats zeroing in CPU plugin
  inference-engine/src/mkldnn_plugin/mkldnn_memory.cpp
Labels: category: CPU

#3886 [CPU] Runtime precision for execution graph
  inference-engine/src/mkldnn_plugin/mkldnn_extension_utils.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_extension_utils.h
  inference-engine/src/mkldnn_plugin/mkldnn_graph_dumper.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_concat_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_concat_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_conv_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_deconv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_deconv_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_def_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_def_conv_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_eltwise_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_eltwise_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_fullyconnected_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_fullyconnected_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_gemm_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_gemm_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_quantize_node.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/execution_graph_tests/runtime_precision.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/execution_graph_tests/runtime_precision.hpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/exec_graph_serialization.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/runtime_precision.cpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
Labels: category: CPU, category: IE Tests

#3835 [IE VPU][DTS] shrink mask support for StridedSlice
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_strided_slice.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_strided_slice.cpp
Labels: category: VPU

#3015 [IE TESTS][CPU] Fusing tests added to the CPU specific single layer tests.
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/activation.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/convolution.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/crop.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/eltwise.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/group_convolution.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/interpolate.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/logical.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/mvn.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/normalize.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/pad.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/permute.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/reduce_ops.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/region_yolo.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/roialign.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/split.cpp
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/conv_concat.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/cpu_test_utils.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/cpu_test_utils.hpp
  inference-engine/tests/functional/plugin/cpu/test_utils/fusing_test_utils.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/fusing_test_utils.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
Labels: category: CPU

#3900 Fix signed/unsigned comparison warnings
  inference-engine/src/plugin_api/precision_utils.h
  inference-engine/src/transformations/src/transformations/convert_precision.cpp
Labels: category: IE common, category: IE transformations

#3898 Fix doc for 2021.2
  ngraph/core/include/ngraph/chrome_trace.hpp
  ngraph/core/include/ngraph/pass/low_latency.hpp
Labels: category: IE common, category: docs, category: nGraph

#3858 [IE CLDNN] Changed weights layout used in the plugin
  inference-engine/src/cldnn_engine/cldnn_common_utils.h
  inference-engine/src/cldnn_engine/cldnn_program.cpp
  inference-engine/src/cldnn_engine/ops/constant.cpp
  inference-engine/src/cldnn_engine/ops/convolution.cpp
  inference-engine/src/cldnn_engine/ops/transpose.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/quantized_convolution_backprop_data.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/quantized_group_convolution_backprop_data.cpp
  inference-engine/thirdparty/clDNN/api/convolution.hpp
  inference-engine/thirdparty/clDNN/api/deconvolution.hpp
  inference-engine/thirdparty/clDNN/api/tensor.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/common/tensor_type.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/quantize/quantize_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/quantize/quantize_kernel_scale_shift_opt.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/quantize_gpu_ref.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/quantize_gpu_scale_shift_opt.cl
  inference-engine/thirdparty/clDNN/src/convolution.cpp
  inference-engine/thirdparty/clDNN/src/deconvolution.cpp
  inference-engine/thirdparty/clDNN/src/gpu/convolution_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/deconvolution_gpu.cpp
  inference-engine/thirdparty/clDNN/src/gpu/quantize_gpu.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/pre_replace_deconv.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_quantization.cpp
  inference-engine/thirdparty/clDNN/src/include/kernel_selector_helper.h
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/convolution_gpu_test.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU, category: IE Tests

#3899 Fix nGraph doxygen for master
  ngraph/core/include/ngraph/chrome_trace.hpp
  ngraph/core/include/ngraph/pass/low_latency.hpp
  ngraph/core/include/ngraph/runtime/shared_buffer.hpp
  ngraph/core/src/chrome_trace.cpp
  ngraph/core/src/runtime/host_tensor.cpp
  ngraph/test/runtime/interpreter/int_executable.cpp
Labels: category: docs, category: nGraph

#3866 [IE CLDNN] Added missing pointer type cast for blocked read
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/fused_conv_eltwise_gpu_imad.cl
Labels: category: GPU

#3734 [IE CLDNN] Eltwise b_fs_yx_fsv16 mixed presicion support
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/eltwise_b_fs_yx_fsv16.cl
  inference-engine/thirdparty/clDNN/tests/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#3901 Fixed cmake 'message' for multiple arguments
  cmake/developer_package/message.cmake
  inference-engine/tests_deprecated/fluid_preproc/CMakeLists.txt
  inference-engine/tests_deprecated/functional/shared_tests/CMakeLists.txt
Labels: category: IE Tests, category: IE common, category: build

#3822 [nGraph][ONNX] Extend ONNX Importer for operation "GatherElements-6"
  ngraph/frontend/onnx_import/src/op/gather_elements.hpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/test/models/onnx/gather_elements_float_1D.prototxt
  ngraph/test/models/onnx/gather_elements_float_3D_axis_2.prototxt
  ngraph/test/models/onnx/gather_elements_float_negative_axis.prototxt
  ngraph/test/models/onnx/gather_elements_int32_axis_0.prototxt
  ngraph/test/models/onnx/gather_elements_int8_axis_1.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/util/engine/ie_engines.cpp
Labels: category: nGraph

#3722 [IE TESTS][CPU] I8 and U8 precisions was enabled in the reverse sequence single layer test.
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/reverse_sequence.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: IE Tests

#3871 Change `json.loads` to `json.load` for `--db_metadata`
  tests/time_tests/test_runner/conftest.py
Labels: category: IE Tests

#3905 Set output blobs precision for IE tests
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/bucketize.in.cpp
  ngraph/test/models/onnx/add_abc_3d.prototxt
  ngraph/test/onnx/onnx_test_utils.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/util/engine/ie_engines.cpp
  ngraph/test/util/engine/ie_engines.hpp
Labels: category: nGraph

#3853 ROIAlign fixed
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roi_align_node.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/roi_align.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/roialign.cpp
Labels: category: CPU

#3825 NMS: Fix buffer size calculation bug
  inference-engine/cmake/vpu_dependencies.cmake
  inference-engine/src/vpu/graph_transformer/src/stages/static_shape_nms.cpp
Labels: category: IE common, category: VPU

#3688 [VPU][Tests] Support DTS for GatherElements
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/dynamic_to_static_shape_gather_elements.hpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/dynamic_to_static_shape_gather_elements.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_gather_elements.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_gather.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_gather_base.hpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_gather_elements.cpp
Labels: category: VPU

#3910 Added PythonAPI For LowLatency Transformation
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api.pyx
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl_defs.pxd
Labels: category: python api

#3705 Fix ROIPooling test
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/roi_pooling.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/roi_pooling.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
Labels: category: IE Tests, category: VPU

#3876 Azure CI: Add install
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI, category: build

#3914 Fix virtual inheritance for class PadLayerTest
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/pad.hpp
Labels: category: IE Tests

#3011 [IE CLDNN] Convolution b_fs_zyx_fsv16_imad tuning improvements
  inference-engine/thirdparty/clDNN/api/device.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16_imad_1x1.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_zyx_fsv16_imad.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_zyx_fsv16_imad.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_imad_b_fs_yx_fsv4_1x1.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/resample/resample_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_params.h
  inference-engine/thirdparty/clDNN/src/gpu/device_info.cpp
  inference-engine/thirdparty/clDNN/src/gpu/device_info.h
  inference-engine/thirdparty/clDNN/src/kernel_selector_helper.cpp
Labels: category: GPU

#3811 Add ReluFakeQuantize transformation
  inference-engine/src/transformations/include/transformations/common_optimizations/relu_fake_quantize_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/relu_fake_quantize_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/relu_fake_quantize_fusion.cpp
Labels: category: IE Tests, category: nGraph

#3933 Extend and fix input/output precisions support in functional tests
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/utils/ngraph_helpers.cpp
Labels: category: IE Tests

#3817 [LPT] StridedSlice Transformation
  inference-engine/src/low_precision_transformations/include/low_precision/strided_slice.hpp
  inference-engine/src/low_precision_transformations/src/strided_slice.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/strided_slice_transformation.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/strided_slice_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/strided_slice_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/strided_slice_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/strided_slice_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/strided_slice_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/strided_slice_function.cpp
  ngraph/core/include/ngraph/op/strided_slice.hpp
  ngraph/core/src/op/strided_slice.cpp
Labels: category: LP transformations

#3857 Develop ConvertLike Reference Implementation
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  ngraph/core/include/ngraph/op/convert_like.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/convert.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/convert_like.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
Labels: category: nGraph

#3904 [IE TESTS] Fix passrate in report
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
Labels: category: IE Tests

#3637 [IE CLDNN] Convolution fsv16 occupancy improvements with SLM using
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_bfyx_f16.cl
  inference-engine/thirdparty/clDNN/kernel_selector/core/cl_kernels/convolution_gpu_bfyx_f16_1x1.cl
Labels: category: GPU

#3943 Added SubGraphOp support in compare_function
  inference-engine/tests/functional/inference_engine/transformations/compare_functions_test.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
Labels: category: IE Tests, category: nGraph

#3785 Add PadFusion transformation
  inference-engine/src/transformations/include/transformations/common_optimizations/pad_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/pad_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/pad_fusion.cpp
Labels: category: IE Tests, category: nGraph

#3907 Remove deprecated classes/methods usage from Legacy/Tests/VPUPlugin
  inference-engine/src/legacy_api/include/legacy/transformations/convert_opset1_to_legacy/convert_mul_or_add_finally.hpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_mul_or_add_finally.cpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/eliminate_shapeof_after_dsr.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/transformations/merge_subsequent_dsr_operations.hpp
  inference-engine/src/vpu/common/src/ngraph/transformations/eliminate_shapeof_after_dsr.cpp
  inference-engine/src/vpu/common/src/ngraph/transformations/merge_subsequent_dsr_operations.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/mul_add_to_scaleshift_or_power_transformation.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_matmul_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_pad_to_group_conv.cpp
  inference-engine/tests/functional/inference_engine/transformations/mul_add_conversion_test.cpp
  inference-engine/tests/functional/inference_engine/transformations/nop_elimination.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/eliminate_shapeof_after_dsr.cpp
  inference-engine/tests/functional/plugin/myriad/ngraph/transformations/merge_subsequent_dsr_operations.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/pass/convert_prc.hpp
Labels: category: IE Tests, category: VPU, category: nGraph

#3923 Rename timetest config
  tests/time_tests/test_runner/.automation/desktop_test_config.yml
Labels: category: IE Tests

#3926 Update OV telemetry message for 2021.3
  model-optimizer/mo/utils/get_ov_update_message.py
Labels: category: MO

#3855 [BUG]Add extra op clone to have default inputs/outputs set.
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/models/pad_with_shape_of.bin
  inference-engine/tests/functional/inference_engine/ir_serialization/models/pad_with_shape_of.xml
  inference-engine/tests/functional/inference_engine/ir_serialization/serialize.cpp
  ngraph/core/src/op/loop.cpp
  ngraph/core/src/op/tensor_iterator.cpp
Labels: bug, category: nGraph

#3934 Don't add a new Result operation if output port is already connected to Result
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
Labels: bug, category: IE Tests, category: IE common, category: nGraph

#3711 Fixed issue with run stateful network with several infer requests on MKLDNNPlugin
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_infer_request.h
  inference-engine/src/mkldnn_plugin/mkldnn_memory_state.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_memory_state.h
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/src/behavior/memory_states.cpp
Labels: bug, category: CPU, category: IE Tests

#3888 Refactored VPU tests not to use old interfaces
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request.hpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/helpers/myriad_load_network_case.cpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/helpers/myriad_protocol_case.hpp
  inference-engine/tests_deprecated/behavior/vpu/myriad_tests/vpu_protocol_tests.cpp
  inference-engine/tests_deprecated/functional/ie_tests/include/classification_matcher.hpp
  inference-engine/tests_deprecated/functional/ie_tests/include/ie_core_adapter.hpp
  inference-engine/tests_deprecated/functional/ie_tests/src/classification_matcher.cpp
  inference-engine/tests_deprecated/functional/ie_tests/src/ie_core_adapter.cpp
  inference-engine/tests_deprecated/functional/ie_tests/src/segmentation_matcher.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_blob_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_concat_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_conv_nd_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_convolution1x1.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_convolution3x3.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_convolution_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_custom_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_detection_output_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_eltwise_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_exp_detectionoutput_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_lstm_cell.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_mvn_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_pool_nd_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_prior_box_clustered_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_prior_box_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_proposal_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_psroipooling_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_reduce_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_relu_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_relu_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_reshape_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_reshape_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_rfcn_test.cpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_roi_align_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_roi_pooling_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_scatter_elements_update_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_scatter_update_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_strided_slice_test.h
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_topk_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_unsqueeze_test.hpp
  inference-engine/tests_deprecated/functional/vpu/common/myriad_get_output_tests.hpp
  inference-engine/tests_deprecated/functional/vpu/common/myriad_get_perf_count_tests.cpp
  inference-engine/tests_deprecated/functional/vpu/common/myriad_hw_extra_tests.hpp
  inference-engine/tests_deprecated/functional/vpu/common/myriad_hw_network_tests.hpp
  inference-engine/tests_deprecated/functional/vpu/common/myriad_hw_tests_base.hpp
  inference-engine/tests_deprecated/functional/vpu/common/myriad_infer_tests.cpp
  inference-engine/tests_deprecated/functional/vpu/common/myriad_merge_permute_tests.hpp
  inference-engine/tests_deprecated/functional/vpu/graph_transformer/gt_functional_tests.cpp
  inference-engine/tests_deprecated/functional/vpu/myriad_tests/myriad_configs_tests.cpp
  inference-engine/tests_deprecated/functional/vpu/myriad_tests/myriad_multiple_graph_tests.cpp
  inference-engine/tests_deprecated/functional/vpu/vpu_base/vpu_layers_tests.cpp
  inference-engine/tests_deprecated/functional/vpu/vpu_base/vpu_layers_tests.hpp
Labels: category: IE Tests, category: VPU

#3573 [MO] Implement TensorFlow 2 While and Keras RNN support in MO
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/SpecialNodesFinalization.py
  model-optimizer/extensions/front/standalone_const_eraser.py
  model-optimizer/extensions/front/tf/KerasRNNTransformation.py
  model-optimizer/extensions/front/tf/WhileNormalize.py
  model-optimizer/extensions/front/tf/while_ext.py
  model-optimizer/extensions/load/tf/loader.py
  model-optimizer/extensions/ops/loop.py
  model-optimizer/mo/front/tf/loader.py
  model-optimizer/mo/graph/graph.py
  model-optimizer/mo/ops/op.py
Labels: category: MO

#3958 Fixed CVS-47220
  inference-engine/src/preprocessing/cpu_x86_sse42/ie_preprocess_gapi_kernels_sse42.cpp
Labels: category: IE common, category: build, category: preprocessing

#3896 Add MVN-6 reference implementation and tests
  ngraph/core/reference/include/ngraph/runtime/reference/mvn.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/mvn.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
Labels: category: nGraph

#3961 Remove ops from Layer Creator/ Node Converter - part 7
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
Labels: category: nGraph

#3903 [BUG] Serialize loses runtime info
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/models/conv_with_rt_info.bin
  inference-engine/tests/functional/inference_engine/ir_serialization/models/conv_with_rt_info.xml
  inference-engine/tests/functional/inference_engine/ir_serialization/serialize.cpp
Labels: bug

#3940 Added export / import for Template and Hetero plugins
  docs/template_plugin/src/template_executable_network.cpp
  docs/template_plugin/src/template_plugin.cpp
  inference-engine/src/gna_plugin/gna_executable_network.hpp
  inference-engine/src/hetero_plugin/hetero_executable_network.cpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/src/multi_device/multi_device_infer_request.hpp
  inference-engine/src/plugin_api/cpp_interfaces/exception2status.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_executable_network_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_plugin_internal.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_internal_plugin_config.hpp
  inference-engine/src/transformations/include/transformations/serialize.hpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/functional/plugin/cpu/test_utils/cpu_test_utils.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/core_integration.hpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
Labels: category: GNA, category: HETERO, category: IE Tests, category: IE common, category: MULTI, category: VPU, category: docs

#3718 Maxpool fix bug
  docs/ops/pooling/MaxPool_1.md
  ngraph/core/reference/include/ngraph/runtime/reference/max_pool.hpp
  ngraph/core/src/op/max_pool.cpp
  ngraph/test/type_prop/max_pool.cpp
Labels: bug

#3957 Add missing types in convertIE2nGraphPrc() test util function.
  inference-engine/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/precision_utils.hpp
Labels: category: IE Tests

#3960 delete unwanted doc script
  docs/doxygen/assets/menu.js
Labels: category: docs

#3965 ConcatTransformation naming fix
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/concat_with_child_and_output.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/concat_with_child_and_output.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/concat_with_child_and_output.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/concat_with_child_and_output.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/concat_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/concat_function.cpp
Labels: bug, category: LP transformations

#3938 Python API For compare_functions
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/test_utils/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/test_utils/__init__.py
  inference-engine/ie_bridges/python/src/openvino/test_utils/test_utils_api.pyx
  inference-engine/ie_bridges/python/src/openvino/test_utils/test_utils_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/test_utils/test_utils_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/test_utils/test_utils_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_offline_api.py
  inference-engine/ie_bridges/python/tests/test_utils.py
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
Labels: category: IE Tests, category: python api, priority: high

#3867 Imironov/ref ngraph ctc gready decoder
  ngraph/core/reference/include/ngraph/runtime/reference/ctc_greedy_decoder_seq_len.hpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/ctc_greedy_decoder_seq_len.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
Labels: category: IE common, category: nGraph

#3920 Missing attr seriazliation
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/detection_output.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/pooling.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/prior_box_clustered.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/pooling.cpp
Labels: bug, category: IE Tests, category: nGraph

#3991 [IE CLDNN] Enabled Broadcast v3
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/cldnn_engine/ops/broadcast.cpp
Labels: category: GPU

#3993 [IE CLDNN] Disabled eltwise fusion to const node when second input is in data flow
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#3979 Remove ops from Layer Creator/ Node Converter - part 8
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/legacy_api/src/ie_cnn_layer_builder_ngraph.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  ngraph/core/include/ngraph/op/equal.hpp
  ngraph/core/include/ngraph/op/greater_eq.hpp
  ngraph/core/src/op/equal.cpp
  ngraph/core/src/op/greater_eq.cpp
  ngraph/core/src/op/lstm_cell.cpp
Labels: category: nGraph

#3954 Demo scripts improvements.
  scripts/demo/demo_benchmark_app.bat
  scripts/demo/demo_security_barrier_camera.bat
  scripts/demo/demo_squeezenet_download_convert_run.bat
Labels: category: CI, category: samples

#3998 [IE TESTS] Remove random weights generation of blobs
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/data_utils.hpp
Labels: category: IE Tests

#3819 Revise topk
  docs/ops/sort/TopK_1.md
  ngraph/core/src/op/topk.cpp
  ngraph/test/type_prop/top_k.cpp
Labels: category: nGraph

#3951 Fix restoring constant ops with old numbering
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
Labels: category: MO

#3999 [IE TESTS] Remove TEST_P(Range... from lib with shared_classes
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/range.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/range.cpp
Labels: category: IE Tests

#3964 [nGraph][ONNX] WA for currently unsupported precisions
  ngraph/python/tests/__init__.py
  ngraph/python/tests/runtime.py
  ngraph/python/tests/test_ngraph/test_basic.py
  ngraph/python/tests/test_ngraph/test_sequence_processing.py
  ngraph/python/tests/test_onnx/test_backend.py
Labels: category: nGraph, category: onnx importer

#3981 [nGraph] Fix bound check for reference GatherElements
  ngraph/core/reference/include/ngraph/runtime/reference/gather_elements.hpp
Labels: bug, category: nGraph

#3970 Remove layerCreator for logical ops.
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  ngraph/core/include/ngraph/op/util/binary_elementwise_logical.hpp
Labels: category: nGraph

#4001 [LPT] Disabling failed on GPU LPT StridedSlice plugin tests
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/strided_slice_transformation.cpp
Labels: category: IE Tests, category: LP transformations

#3997 [CMake] Fixes for TBB tmp location
  cmake/developer_package/IEDevScriptsConfig.cmake
  inference-engine/cmake/dependencies.cmake
Labels: category: IE common, category: build

#3847 [IE Common][VPU] Fix small input size inference for dynamic model
  inference-engine/src/transformations/include/transformations/common_optimizations/eliminate_unsqueeze_gather.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/eliminate_unsqueeze_gather.cpp
  inference-engine/src/vpu/common/src/ngraph/operations/static_shape_topk.cpp
  inference-engine/tests/functional/inference_engine/transformations/eliminate_unsqueeze_gather.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/topk_k_propagation.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/unsqueeze_gather.cpp
Labels: category: IE Tests, category: VPU

#3860 [CPU] GatherElements implementation.
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/bf16transformer.h
  inference-engine/src/mkldnn_plugin/nodes/gather_elements.cpp
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/gather_elements.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/gather_elements.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/gather_elements.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/gather_elements.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/gather_elements.cpp
  ngraph/python/tests/test_onnx/test_backend.py
Labels: category: CPU, category: IE Tests

#3980 Add Loop serialization, SLT and regular test.
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/models/loop_2d_add.bin
  inference-engine/tests/functional/inference_engine/ir_serialization/models/loop_2d_add.xml
  inference-engine/tests/functional/inference_engine/ir_serialization/serialize.cpp
Labels: category: nGraph

#4013 [IE COMMON] Fixes for EliminateUnsqueezeGather transformation
  inference-engine/src/transformations/src/transformations/common_optimizations/eliminate_unsqueeze_gather.cpp
Labels: category: IE transformations

#3915 Add a target to fetch and build Intel SEAPI
  openvino/conditional_compilation/CMakeLists.txt
Labels: category: IE common

#3527 [GNA] Fix ParseBlobName
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/samples/speech_sample/speech_sample.hpp
Labels: category: GNA, category: IE common

#3506 Remove Fake Quantize OP decomposition
  ngraph/core/include/ngraph/op/fake_quantize.hpp
  ngraph/core/include/ngraph/op/quantize.hpp
  ngraph/core/include/ngraph/ops.hpp
  ngraph/core/src/op/fake_quantize.cpp
  ngraph/core/src/op/quantize.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/op_is.cpp
  ngraph/test/op_version_tbl.hpp
  ngraph/test/runtime/interpreter/int_executable.cpp
  ngraph/test/runtime/opset0_tbl.hpp
  ngraph/test/type_prop/quantize.cpp
Labels: category: nGraph

#3640 Add support for nonconstant optional NMS-5 inputs
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_nms_5_to_legacy.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_nms_to_nms_ie_internal.cpp
  ngraph/core/include/ngraph/op/non_max_suppression.hpp
  ngraph/core/src/op/non_max_suppression.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/test/backend/non_max_suppression.in.cpp
  ngraph/test/models/onnx/nonmaxsuppression_center_point_box_format.prototxt
  ngraph/test/models/onnx/nonmaxsuppression_single_box.prototxt
  ngraph/test/onnx/onnx_import.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
Labels: category: nGraph

#4016 [LPT] StridedSliceTransformation removed from GPU plugin
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/strided_slice_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: GPU, category: LP transformations

#4006 Switch to Opencv 4.5.1
  .ci/azure/windows.yml
  inference-engine/cmake/dependencies.cmake
Labels: category: IE common

#4011 Generic LoadTime Optimizations
  inference-engine/src/legacy_api/include/legacy/transformations/convert_opset1_to_legacy/convert_matmul_to_fc_or_gemm.hpp
  inference-engine/src/legacy_api/include/legacy/transformations/convert_opset1_to_legacy/reshape_1d_ops.hpp
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_opset1_to_legacy.cpp
  inference-engine/src/transformations/include/transformations/common_optimizations/algebraic_simplification.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/hsigmoid_fusion.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/hswish_fusion.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/lin_op_sequence_fusion.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/nop_elimination.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/normalize_l2_fusion.hpp
  inference-engine/src/transformations/include/transformations/common_optimizations/swish_fusion.hpp
  inference-engine/src/transformations/include/transformations/op_conversions/bidirectional_sequences_decomposition.hpp
  inference-engine/src/transformations/include/transformations/op_conversions/convert_convolutions.hpp
  inference-engine/src/transformations/include/transformations/op_conversions/convert_reduce_to_pooling.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/algebraic_simplification.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/clamp_fusion.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/bidirectional_sequences_decomposition.cpp
  inference-engine/src/transformations/src/transformations/opset_conversions/convert_opset2_to_opset1.cpp
  inference-engine/src/transformations/src/transformations/opset_conversions/convert_opset3_to_opset2.cpp
  ngraph/core/include/ngraph/pass/graph_rewrite.hpp
  ngraph/core/src/pass/constant_folding.cpp
Labels: category: IE transformations, category: nGraph

#4023 [GNA] Fix import model with header version 2.1
  inference-engine/src/gna_plugin/gna_model_serial.cpp
  inference-engine/src/gna_plugin/serial/headers/2dot4/gna_model_header.hpp
Labels: category: GNA
