Repository openvinotoolkit/openvino, pull requests merged in 2021-05, with the labels that each got.

#5059 [INT8][BF16] INT8 + BF16 feature was enabled
  inference-engine/src/mkldnn_plugin/config.cpp
  inference-engine/src/mkldnn_plugin/config.h
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_conv_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_fullyconnected_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pooling_node.cpp
Labels: category: CPU

#5317 [CPU]window_Interpolate_fused-FQ_nearest-mode_nspc-layout_fix
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_interpolate_node.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/interpolate.cpp
Labels: category: CPU, category: IE Tests

#5112 [CPU] Add Roll support
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roll_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roll_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/roll.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/roll.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/roll.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/roll.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/roll.cpp
  ngraph/python/tests/test_ngraph/test_roll.py
Labels: category: CPU, category: IE Tests

#5357 Removed useless iostream include
  docs/template_plugin/src/transformations/preprocessing/mean_image_or_value.cpp
  docs/template_plugin/src/transformations/preprocessing/std_scale.cpp
  inference-engine/ie_bridges/c/src/ie_c_api.cpp
  inference-engine/include/cpp/ie_executable_network.hpp
  inference-engine/include/ie_core.hpp
  inference-engine/include/ie_iexecutable_network.hpp
  inference-engine/include/ie_locked_memory.hpp
  inference-engine/include/inference_engine.hpp
  inference-engine/samples/benchmark_app/utils.cpp
  inference-engine/samples/common/utils/include/samples/common.hpp
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/backend/dnn.hpp
  inference-engine/src/gna_plugin/frontend/quantization.cpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/inference_engine/ie_system_conf.cpp
  inference-engine/src/inference_engine/os/lin/lin_shared_object_loader.cpp
  inference-engine/src/inference_engine/system_allocator.hpp
  inference-engine/src/legacy_api/src/ie_layers.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/src/mkldnn_plugin/nodes/proposal_onnx.cpp
  inference-engine/src/plugin_api/debug.h
  inference-engine/src/readers/onnx_reader/onnx_model_validator.cpp
  inference-engine/src/snippets/src/pass/insert_movebroadcast.cpp
  inference-engine/src/snippets/src/pass/load_movebroadcast_to_broadcastload.cpp
  inference-engine/src/vpu/common/include/vpu/utils/enums.hpp
  inference-engine/src/vpu/common/src/utils/io.cpp
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/hw/utility.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_executor.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests_deprecated/fluid_preproc/fluid_test_computations/CMakeLists.txt
Labels: category: CPU, category: GNA, category: GPU, category: IE common, category: VPU, category: nGraph, category: python api

#5181 [IE CLDNN] Extended eltwise fusing
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/common/jitter.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/kernel_selector_params.h
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_primitive_fusing.cpp
  inference-engine/thirdparty/clDNN/src/include/kernel_selector_helper.h
  inference-engine/thirdparty/clDNN/src/include/program_impl.h
  inference-engine/thirdparty/clDNN/src/include/program_node.h
  inference-engine/thirdparty/clDNN/src/program.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#5490 Added precompiled headers to inference_engine_obj
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/CMakeLists.txt
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/precomp.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/tests/CMakeLists.txt
  inference-engine/tests/functional/plugin/conformance/test_runner/CMakeLists.txt
  inference-engine/tests/functional/plugin/conformance/test_runner/src/precomp.hpp
  ngraph/test/runtime/CMakeLists.txt
Labels: category: IE Tests, category: IE common, category: build, category: nGraph

#5486 Extend Python nGraph API with Einsum-7 and test nGraph reader
  inference-engine/tests/functional/inference_engine/ngraph_reader/einsum_tests.cpp
  ngraph/python/src/ngraph/__init__.py
  ngraph/python/src/ngraph/opset7/__init__.py
  ngraph/python/src/ngraph/opset7/ops.py
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_ngraph/test_einsum.py
Labels: category: IE Tests, category: nGraph

#5113 Extend blobs dumping with filtering by environment variables
  inference-engine/cmake/features.cmake
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/utils/README.md
  inference-engine/src/mkldnn_plugin/utils/blob_dump.cpp
  inference-engine/src/mkldnn_plugin/utils/blob_dump.h
  inference-engine/src/mkldnn_plugin/utils/debug_capabilities.h
  inference-engine/src/mkldnn_plugin/utils/node_dumper.cpp
  inference-engine/src/mkldnn_plugin/utils/node_dumper.h
Labels: category: CPU

#5451 Add CPU info to time tests
  tests/time_tests/test_runner/conftest.py
  tests/time_tests/test_runner/utils.py
Labels: category: IE Tests

#5491 Fix OpenCL dependency for clDNN tutorials
  inference-engine/thirdparty/clDNN/tutorial/CMakeLists.txt
Labels: category: GPU

#4764 [LPT] Checks to not transform layers with incorrect zero points
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/weightable_layer_transformation.hpp
  inference-engine/src/low_precision_transformations/src/convolution.cpp
  inference-engine/src/low_precision_transformations/src/group_convolution.cpp
  inference-engine/src/low_precision_transformations/src/mat_mul.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/weightable_layer_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_qdq_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/convolution_function.cpp
Labels: category: LP transformations

#5347 Use Serialization as a default engine in MO
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api.pyx
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl_defs.pxd
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api.pyx
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl_defs.pxd
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/ie_network_reader.cpp
  inference-engine/src/offline_transformations/CMakeLists.txt
  inference-engine/src/offline_transformations/include/generate_mapping_file.hpp
  inference-engine/src/offline_transformations/src/generate_mapping_file.cpp
  inference-engine/src/readers/ir_reader/CMakeLists.txt
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.hpp
  inference-engine/src/transformations/include/ngraph_ops/framework_node.hpp
  inference-engine/src/transformations/src/ngraph_ops/framework_node.cpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  model-optimizer/mo/back/ie_ir_ver_2/emitter.py
  model-optimizer/mo/back/offline_transformations.py
  model-optimizer/mo/main.py
  model-optimizer/mo/pipeline/common.py
  model-optimizer/mo/utils/cli_parser.py
Labels: category: IE Tests, category: IE common, category: MO, category: nGraph, category: python api

#5499 [IE CLDNN] Fix bug with incompatible node and memory layouts
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_padding.cpp
Labels: category: GPU

#5502 Removed IE API version print
  inference-engine/ie_bridges/c/src/ie_c_api.cpp
  inference-engine/ie_bridges/c/tests/ie_c_api_test.cpp
  inference-engine/ie_bridges/python/src/openvino/inference_engine/ie_api_impl.cpp
  inference-engine/samples/common/utils/include/samples/common.hpp
Labels: category: IE common, category: c api, category: python api, category: samples

#5477 [GNA] Run caching test
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests

#5444 [IE CLDNN] Fix for a segfault discovered in ONNX Pad tests
  inference-engine/src/cldnn_engine/ops/pad.cpp
Labels: category: GPU

#5418 [nGraph] Add documentation strings
  ngraph/python/src/pyngraph/axis_set.cpp
  ngraph/python/src/pyngraph/axis_vector.cpp
  ngraph/python/src/pyngraph/dimension.cpp
  ngraph/python/src/pyngraph/function.cpp
  ngraph/python/src/pyngraph/node.cpp
  ngraph/python/src/pyngraph/node_input.cpp
  ngraph/python/src/pyngraph/node_output.cpp
  ngraph/python/src/pyngraph/partial_shape.cpp
  ngraph/python/src/pyngraph/pyngraph.cpp
  ngraph/python/src/pyngraph/shape.cpp
  ngraph/python/src/pyngraph/strides.cpp
  ngraph/python/src/pyngraph/variant.hpp
Labels: category: nGraph

#5511 Reuse existing cmake variables
  cmake/dependencies.cmake
Labels: category: IE common, category: build

#5295 Removed transformation which removes Const->Result sub-graphs
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/SpecialNodesFinalization.py
  model-optimizer/extensions/front/YOLO.py
  model-optimizer/extensions/front/standalone_const_eraser.py
  model-optimizer/extensions/front/tf/ObjectDetectionAPI.py
  model-optimizer/extensions/front/tf/SSDToolboxDetectionOutput.py
  model-optimizer/unit_tests/extensions/back/SpecialNodesFinalization_test.py
Labels: category: MO

#5413 update tanh v1 spec
  docs/ops/arithmetic/Tanh_1.md
Labels: category: docs

#5443 [ONNX] Fix missmatches for opset13 *Max operators.
  ngraph/frontend/onnx_import/src/op/hardmax.cpp
  ngraph/frontend/onnx_import/src/op/hardmax.hpp
  ngraph/frontend/onnx_import/src/op/log_softmax.cpp
  ngraph/frontend/onnx_import/src/op/softmax.cpp
  ngraph/frontend/onnx_import/src/op/softmax.hpp
  ngraph/frontend/onnx_import/src/ops_bridge.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/python/tests/test_onnx/test_ops_unary.py
Labels: category: nGraph

#5507 Fixed memory leak in IR reader
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
Labels: category: IE reader, category: nGraph

#5412 add Constant v1 to verified operations
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
Labels: category: IE Tests

#5514 Add Core::LoadNetwork(modelPath, deviceName) to API_Changes
  docs/IE_DG/API_Changes.md
Labels: category: IE common, category: docs

#5482 ConcatTransformation fix
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/split.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/concat_with_split_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/concat_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/concat_function.cpp
Labels: bug, category: CPU, category: IE Tests, category: LP transformations

#5431 [IE CLDNN] Fixed FQ in byxf layout and pooling in fsv32 with int8 input
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/quantize/quantize_kernel_scale_shift_opt.cpp
  inference-engine/thirdparty/clDNN/src/gpu/pooling_gpu.cpp
Labels: category: GPU

#5521 [IE CLDNN] Disabled vectorized ocl eltw kernels for modes with bool output
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.h
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_fs_b_yx_fsv32.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_vload8.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#5457 Change model_path to model_name in timeline report
  tests/stress_tests/scripts/memcheck-template/timeline_report.html
  tests/stress_tests/scripts/memcheck_upload.py
  tests/stress_tests/scripts/run_memcheck.py
Labels: category: IE Tests

#5436 [IE TESTS] Remove dummy file for beh tests
  inference-engine/tests_deprecated/behavior/CMakeLists.txt
  inference-engine/tests_deprecated/behavior/cldnn/CMakeLists.txt
  inference-engine/tests_deprecated/behavior/cldnn/dummy.cpp
  inference-engine/tests_deprecated/behavior/gna/CMakeLists.txt
  inference-engine/tests_deprecated/behavior/gna/dummy.cpp
  inference-engine/tests_deprecated/behavior/mkldnn/CMakeLists.txt
  inference-engine/tests_deprecated/behavior/mkldnn/dummy.cpp
Labels: category: IE Tests

#5508 Fix of MeanScale values matching names problem
  model-optimizer/extensions/middle/AddMeanScaleValues.py
Labels: category: MO

#5126 Implementation of ArgMin ONNX + TF extractors
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/ArgOpsSqueeze.py
  model-optimizer/extensions/front/onnx/argmin_ext.py
  model-optimizer/extensions/front/tf/argmax_ext.py
  model-optimizer/extensions/front/tf/argmin_ext.py
  model-optimizer/extensions/middle/ArgOpsToTopK.py
  model-optimizer/extensions/ops/argmax.py
  model-optimizer/extensions/ops/argmin.py
  model-optimizer/unit_tests/extensions/front/caffe/argmax_ext_test.py
  model-optimizer/unit_tests/extensions/middle/ArgOpsToTopK_test.py
  model-optimizer/unit_tests/extensions/ops/argmax_test.py
Labels: category: MO

#5432 Extend filling roi data for other precisions
  inference-engine/tests/functional/shared_test_classes/src/read_ir/generate_inputs.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/roi_pooling.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
Labels: category: IE Tests

#5222 [VPU]Fix segfault Myriad plugin during LoadNetwork with Hetero plugin
  inference-engine/src/vpu/common/src/ngraph/query_network.cpp
Labels: category: VPU

#5498 Add time_tests dir path to sys.path
  tests/time_tests/README.md
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/test_runner/conftest.py
Labels: category: IE Tests

#5208 [LPT] Improve Etlwise branch selection logic
  inference-engine/src/low_precision_transformations/src/eltwise_base_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/add_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/add_function.cpp
Labels: category: CPU, category: IE Tests

#5441 Update Gather-7 specification
  docs/ops/movement/Gather_7.md
Labels: category: docs

#5437 Add sys_platform environment marker to version checker
  model-optimizer/mo/utils/versions_checker.py
  model-optimizer/unit_tests/mo/utils/versions_checker_test.py
Labels: category: MO

#5530 Convert op specification refactoring.
  docs/ops/type/Convert_1.md
Labels: category: docs, category: nGraph

#4372 Removed constant DDR_MAX_SIZE = 512.
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/allocator/allocator.hpp
  inference-engine/src/vpu/graph_transformer/include/vpu/middleend/allocator/structs.hpp
  inference-engine/src/vpu/graph_transformer/src/middleend/allocator/allocator.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/adjust_data_location.cpp
Labels: category: IE common, category: VPU

#5532 Fix incorrect plural: childs -> children
  inference-engine/src/legacy_api/include/legacy/graph_tools.hpp
  inference-engine/src/low_precision_transformations/src/eltwise_base_transformation.cpp
  inference-engine/src/low_precision_transformations/src/fuse_subtract_to_fake_quantize.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_edge.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/src/plugin_api/xml_parse_utils.h
  inference-engine/src/vpu/common/include/vpu/utils/perf_report.hpp
  inference-engine/src/vpu/graph_transformer/src/backend/get_meta_data.cpp
  inference-engine/src/vpu/graph_transformer/src/frontend/custom_layer.cpp
  inference-engine/src/vpu/graph_transformer/src/utils/runtime_graph.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/concat_with_different_precision_on_children.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/concat_with_different_precision_on_children.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/concat_with_different_precision_on_children.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/concat_with_different_precision_on_children.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/concat_with_different_precision_on_children.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/concat_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/concat_function.cpp
Labels: category: CPU, category: IE Tests, category: IE common, category: VPU, category: nGraph

#5536 Update opencv package for yocto
  inference-engine/cmake/dependencies.cmake
Labels: category: IE common

#5535 Fixed TBBBind_2.4 usage for RelWithDebInfo
  inference-engine/src/inference_engine/CMakeLists.txt
Labels: category: IE common, category: build

#5197 MO support for operations DFT and IDFT
  docs/HOWTO/Custom_Layers_Guide.md
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/back/LayoutChangeForGatherND.py
  model-optimizer/extensions/back/TransposeDFT.py
  model-optimizer/extensions/front/ThresholdedReluDecomposition.py
  model-optimizer/extensions/front/mxnet/MXFFTToDFT.py
  model-optimizer/extensions/front/mxnet/fft_ext.py
  model-optimizer/extensions/front/tf/ComplexAbs.py
  model-optimizer/extensions/front/tf/ComplexAbsAfterComplex.py
  model-optimizer/extensions/front/tf/CorrectRollAxes.py
  model-optimizer/extensions/front/tf/ObjectDetectionAPI.py
  model-optimizer/extensions/front/tf/RollRealImagPack.py
  model-optimizer/extensions/front/tf/SSliceComplex.py
  model-optimizer/extensions/front/tf/TFFFTToDFT.py
  model-optimizer/extensions/front/tf/fft_ext.py
  model-optimizer/extensions/middle/InsertLayoutPropagationTransposes.py
  model-optimizer/extensions/ops/TFFFT.py
  model-optimizer/extensions/ops/dft.py
  model-optimizer/extensions/ops/mxfft.py
  model-optimizer/extensions/ops/roll.py
  model-optimizer/mo/front/tf/graph_utils.py
  model-optimizer/mo/utils/ir_engine/compare_graphs.py
  model-optimizer/mo/utils/ir_reader/layer_to_class.py
  model-optimizer/unit_tests/extensions/back/TransposeDFT_test.py
  model-optimizer/unit_tests/extensions/front/mxnet/MXFFTToDFT_test.py
  model-optimizer/unit_tests/extensions/front/tf/ComplexAbsAfterComplex_test.py
  model-optimizer/unit_tests/extensions/front/tf/ComplexAbs_test.py
  model-optimizer/unit_tests/extensions/front/tf/CorrectRollAxes_test.py
  model-optimizer/unit_tests/extensions/front/tf/RollRealImagPack_test.py
  model-optimizer/unit_tests/extensions/front/tf/SSliceComplex_test.py
  model-optimizer/unit_tests/extensions/front/tf/TFFFTToDFT_test.py
  model-optimizer/unit_tests/extensions/front/tf/TFSliceToSlice_test.py
  model-optimizer/unit_tests/extensions/ops/dft_signal_size_canonicalization_test.py
Labels: category: MO

#5541 [Caching Tests] Add VerifyAndClearExpectations for mocked object stored as shared_ptr
  inference-engine/tests/functional/inference_engine/caching_test.cpp
Labels: category: IE Tests

#5484 Openvino autogenerated cmake
  CMakeLists.txt
  cmake/developer_package/TBBConfig.cmake
  cmake/developer_package/features.cmake
  inference-engine/CMakeLists.txt
  inference-engine/cmake/dependencies.cmake
  inference-engine/cmake/ie_parallel.cmake
  inference-engine/cmake/templates/InferenceEngineConfig-build.cmake.in
  inference-engine/cmake/templates/InferenceEngineConfig-version.cmake.in
  inference-engine/cmake/templates/InferenceEngineConfig.cmake.in
  inference-engine/ie_bridges/c/src/CMakeLists.txt
  inference-engine/samples/CMakeLists.txt
  inference-engine/src/CMakeLists.txt
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/legacy_api/CMakeLists.txt
  inference-engine/src/transformations/CMakeLists.txt
  inference-engine/src/vpu/common/CMakeLists.txt
  inference-engine/src/vpu/graph_transformer/src/frontend/pre_process.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/hw/utility.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/hw_extra_split.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/merge_parallel_fc.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/replace_priorbox_with_const.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/replace_with_reduce_mean.cpp
  inference-engine/src/vpu/graph_transformer/src/middleend/passes/sw_deconv_adaptation.cpp
  inference-engine/src/vpu/graph_transformer/src/model/data.cpp
  inference-engine/src/vpu/graph_transformer/src/model/data_contents/mean_contents.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/batch_norm.cpp
  inference-engine/src/vpu/graph_transformer/src/stages/prelu.cpp
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
  inference-engine/tests_deprecated/functional/mkldnn/CMakeLists.txt
  inference-engine/tests_deprecated/functional/shared_tests/CMakeLists.txt
  inference-engine/tests_deprecated/functional/shared_tests/io_blob_tests/cropResize_tests.hpp
  inference-engine/tests_deprecated/unit/CMakeLists.txt
  ngraph/cmake/share/ngraphConfig.cmake.in
  thirdparty/CMakeLists.txt
Labels: category: build

#5501 [GNA] Fix compilation of topologies with only 2 functional layers: convolution and pooling
  inference-engine/src/gna_plugin/backend/am_intel_dnn.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/remove_permutations_NHWC_to_NCHW_pass.cpp
Labels: category: GNA, category: IE Tests

#5525 Updated list of supported OS for PyPi
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#5550 Revert "Reuse existing cmake variables"
  cmake/dependencies.cmake
Labels: bug, category: build

#5527 ReduceSum specification refactoring
  docs/ops/reduction/ReduceSum_1.md
Labels: category: docs, category: nGraph

#5429 [GNA] New flags to select GNA target generation
  inference-engine/include/gna/gna_config.hpp
  inference-engine/samples/speech_sample/main.cpp
  inference-engine/samples/speech_sample/speech_sample.hpp
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.cpp
  inference-engine/src/gna_plugin/gna_plugin_config.hpp
  inference-engine/tests/unit/gna/gna_plugin_config_test.cpp
Labels: category: GNA

#5547 Azure: Add installing setuptools in linux_onnxruntime.yml
  .ci/azure/linux_onnxruntime.yml
Labels: category: CI

#5489 BatchNormInference specification refactoring
  docs/ops/normalization/BatchNormInference_1.md
  docs/ops/normalization/BatchNormInference_5.md
Labels: category: docs, category: nGraph

#5548 [IE CLDNN] Fix segmentation fault for hetero plugin mode
  inference-engine/thirdparty/clDNN/src/graph_optimizer/prepare_quantization.cpp
Labels: category: GPU

#5534 ConvertLike specification refactoring
  docs/ops/type/ConvertLike_1.md
  docs/ops/type/Convert_1.md
Labels: category: docs, category: nGraph

#5523 ReverseInputChannels mapping fix
  model-optimizer/extensions/back/ReverseInputChannels.py
  model-optimizer/unit_tests/extensions/back/ReverseInputChannels_test.py
Labels: category: MO

#5554 Moved ie_thread_affinity.hpp to private API
  inference-engine/src/inference_engine/threading/ie_thread_affinity.hpp
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
Labels: category: CPU, category: IE common

#5543 [UnitTest] Reset shared-pointer explicitly in MklDnnFunctionalTest
  inference-engine/tests_deprecated/functional/shared_tests/io_blob_tests/dims_tests.hpp
  inference-engine/tests_deprecated/functional/shared_tests/io_blob_tests/layout_tests.hpp
Labels: category: IE Tests

#5553 Removed details::no_copy
  inference-engine/include/details/ie_no_copy.hpp
  inference-engine/include/ie_iextension.h
  inference-engine/include/ie_imemory_state.hpp
  inference-engine/src/mkldnn_plugin/mkldnn_edge.h
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_batch_to_space_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_bin_conv_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_broadcast_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_concat_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_conv_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_convert_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_deconv_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_def_conv_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_depth_to_space_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_eltwise_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_embedding_bag_offset_sum_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_embedding_bag_packed_sum_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_embedding_segments_sum_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_fake_quantize_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_fullyconnected_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_gather_elements_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_gather_nd_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_gather_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_input_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_interpolate_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_lrn_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_matmul_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_normalize_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_one_hot_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pad_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_pooling_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_psroi_pooling_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reduce_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reference_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_region_yolo_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reorder_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reshape_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_rnn.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roi_align_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roi_pooling_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roll_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_scatter_update_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_select_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_softmax_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_space_to_batch_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_space_to_depth_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_split_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_strided_slice_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_tensoriterator_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_tile_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_transpose_node.h
Labels: category: CPU, category: IE common

#5471 Upgrade message for new release
  model-optimizer/mo/utils/get_ov_update_message.py
Labels: category: MO

#5592 [IE CLDNN] Added CACHE_DIR option into docs
  docs/IE_DG/supported_plugins/CL_DNN.md
Labels: category: GPU, category: docs

#5410 Fixed return warnings
  inference-engine/include/cpp/ie_infer_request.hpp
  inference-engine/src/inference_engine/cpp/ie_executable_network.cpp
Labels: category: IE common

#5538 Add nGraph visitor tests for reduction operations
  ngraph/test/CMakeLists.txt
  ngraph/test/visitors/op/reduce_l1.cpp
  ngraph/test/visitors/op/reduce_l2.cpp
  ngraph/test/visitors/op/reduce_logical_and.cpp
  ngraph/test/visitors/op/reduce_logical_or.cpp
  ngraph/test/visitors/op/reduce_max.cpp
  ngraph/test/visitors/op/reduce_mean.cpp
  ngraph/test/visitors/op/reduce_min.cpp
  ngraph/test/visitors/op/reduce_ops.hpp
  ngraph/test/visitors/op/reduce_prod.cpp
  ngraph/test/visitors/op/reduce_sum.cpp
Labels: category: nGraph

#5595 Remove empty files on failed serialization
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/cleanup.cpp
Labels: category: IE transformations, category: nGraph

#5244 Revise DeformableConvolution operation class
  inference-engine/tests/functional/inference_engine/serialization/single_layer/deformable_convolution.cpp
  ngraph/core/include/ngraph/op/deformable_convolution.hpp
  ngraph/core/include/ngraph/validation_util.hpp
  ngraph/core/reference/include/ngraph/runtime/reference/deformable_convolution.hpp
  ngraph/core/src/op/binary_convolution.cpp
  ngraph/core/src/op/convolution.cpp
  ngraph/core/src/op/deformable_convolution.cpp
  ngraph/core/src/validation_util.cpp
  ngraph/python/tests/test_ngraph/test_create_op.py
  ngraph/test/type_prop/deformable_convolution.cpp
Labels: category: nGraph

#5566 Hide some legacy symbols from IE
  inference-engine/src/inference_engine/CMakeLists.txt
Labels: category: build

#5414 mvn optimization for 1D and 2D input
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.h
Labels: category: CPU, category: IE Tests

#5542 [CPU] Do not set BF16 on input port for Eltwise after Input
  inference-engine/src/mkldnn_plugin/mkldnn_graph.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_graph.h
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/tests/functional/plugin/cpu/bfloat16/gather_x2_add_mul_relu_concat_matmul.cpp
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/input_noreorder_eltwise_bf16.cpp
Labels: category: CPU

#4865 Change broadcasted shape for mul, add and sub (dequantization)
  inference-engine/src/legacy_api/src/transformations/convert_opset1_to_legacy/convert_mul_or_add_finally.cpp
  inference-engine/tests/functional/inference_engine/transformations/mul_add_conversion_test.cpp
Labels: category: IE transformations

#5277 ONNX Subgraph - Infer types of inputs from top level Graph nodes
  ngraph/frontend/onnx_import/include/onnx_import/core/node.hpp
  ngraph/frontend/onnx_import/src/core/attribute.cpp
  ngraph/frontend/onnx_import/src/core/attribute.hpp
  ngraph/frontend/onnx_import/src/core/graph.cpp
  ngraph/frontend/onnx_import/src/core/graph.hpp
  ngraph/frontend/onnx_import/src/core/model.cpp
  ngraph/frontend/onnx_import/src/core/model.hpp
  ngraph/frontend/onnx_import/src/core/node.cpp
  ngraph/frontend/onnx_import/src/op/loop.cpp
  ngraph/frontend/onnx_import/src/utils/common.hpp
  ngraph/frontend/onnx_import/src/utils/onnx_internal.cpp
  ngraph/python/tests/test_onnx/test_backend.py
  ngraph/test/models/onnx/loop/loop_add_node_from_parent_scope_infer_types.prototxt
  ngraph/test/models/onnx/loop/onnx_controlflow_loop_2d_infer_types.prototxt
  ngraph/test/onnx/onnx_import_controlflow.in.cpp
Labels: ONNX, category: onnx importer

#5582 [IE CLDNN] Add description for MAX_NUM_THREADS
  docs/IE_DG/supported_plugins/CL_DNN.md
Labels: category: GPU

#5597 Fixed CLDNN internal tests compilation
  inference-engine/src/cldnn_engine/CMakeLists.txt
  inference-engine/thirdparty/clDNN/CMakeLists.txt
  inference-engine/thirdparty/clDNN/src/CMakeLists.txt
  inference-engine/thirdparty/clDNN/src/include/cldnn_itt.h
  inference-engine/thirdparty/clDNN/tests_core_internal/CMakeLists.txt
Labels: category: GPU, category: build

#5468 Revise BatchNormInference Reference Implementation
  inference-engine/tests/functional/inference_engine/serialization/single_layer/batch_norm.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/batch_norm.hpp
  ngraph/core/src/op/batch_norm.cpp
  ngraph/core/src/validation_util.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/batch_norm.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/type_prop/batch_norm.cpp
  ngraph/test/visitors/op/batch_norm.cpp
Labels: category: nGraph

#5495 [IE CLDNN] Disable GPU/CoreThreadingTestsWithIterations test skipping
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: GPU

#5572 Make SO object to be mandatory argument for VariableState
  inference-engine/include/cpp/ie_executable_network.hpp
  inference-engine/include/cpp/ie_infer_request.hpp
  inference-engine/include/cpp/ie_memory_state.hpp
  inference-engine/src/inference_engine/cpp/ie_variable_state.cpp
Labels: category: IE common

#5558 Add unit tests for Convert operation
  inference-engine/tests/functional/inference_engine/serialization/single_layer/convert.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/convert.hpp
  ngraph/core/src/op/convert.cpp
  ngraph/test/backend/convert.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
Labels: category: IE Tests, category: nGraph

#5539 Fix python_tools benchmark installation location
  tools/CMakeLists.txt
Labels: category: build, category: tools

#5546 plugin_api: fix build with gcc 11
  inference-engine/src/plugin_api/ie_system_conf.h
Labels: ExternalIntelPR, category: IE common

#5493 [IE TESTS] Add python util which allows to update `skip_test_config` for conformance tests
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/update_skip_test_config.py
Labels: category: IE Tests

#5590 Azure CI: Remove empty MklDnnFunctionalTests
  .ci/azure/linux.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#5560 [IE TESTS] Skip all tests in conformance suite for myriad plugin
  inference-engine/tests/functional/plugin/conformance/test_runner/skip_configs/skip_config_myriad.lst
Labels: category: IE Tests, category: VPU

#5476 Small fix with tf env_setup
  model-optimizer/mo/front/tf/loader.py
  model-optimizer/mo/utils/versions_checker.py
Labels: category: MO

#5504 Add Model Optimizer --transform option
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api.pyx
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl_defs.pxd
  model-optimizer/automation/package_BOM.txt
  model-optimizer/mo.py
  model-optimizer/mo/__main__.py
  model-optimizer/mo/back/offline_transformations.py
  model-optimizer/mo/main.py
  model-optimizer/mo/main_caffe.py
  model-optimizer/mo/main_kaldi.py
  model-optimizer/mo/main_mxnet.py
  model-optimizer/mo/main_onnx.py
  model-optimizer/mo/main_tf.py
  model-optimizer/mo/subprocess_main.py
  model-optimizer/mo/utils/check_ie_bindings.py
  model-optimizer/mo/utils/cli_parser.py
  model-optimizer/mo/utils/version.py
  model-optimizer/mo_caffe.py
  model-optimizer/mo_kaldi.py
  model-optimizer/mo_mxnet.py
  model-optimizer/mo_onnx.py
  model-optimizer/mo_tf.py
  model-optimizer/unit_tests/mo/utils/cli_parser_test.py
  model-optimizer/unit_tests/mo/utils/version_test.py
Labels: category: MO

#5603 [MO] Update precision maps
  model-optimizer/mo/middle/passes/convert_data_type.py
  model-optimizer/mo/utils/ir_engine/ir_engine.py
Labels: category: MO

#5139 added RNN-t conversion doc
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_RNNT.md
  docs/doxygen/ie_docs.xml
Labels: category: MO, category: docs

#5116 DeformablePSROIPoolig reference implementation
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_psroi_pooling_node.cpp
  inference-engine/tests/functional/inference_engine/serialization/single_layer/deformable_psroi_pooling.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/deformable_psroi_pooling.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/deformable_psroi_pooling.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/deformable_psroi_pooling.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/deformable_psroi_pooling.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/core/reference/include/ngraph/runtime/reference/deformable_psroi_pooling.hpp
  ngraph/core/src/op/deformable_psroi_pooling.cpp
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/deformable_psroi_pooling.in.cpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
  ngraph/test/runtime/interpreter/opset_int_tbl.hpp
  ngraph/test/type_prop/deformable_psroi_pooling.cpp
  ngraph/test/visitors/op/deformable_psroi_pooling.cpp
Labels: category: nGraph

#5555 Revise Unsqueeze op - op class
  ngraph/core/src/op/unsqueeze.cpp
  ngraph/test/type_prop/unsqueeze.cpp
Labels: category: nGraph

#5568 [IE CLDNN] Fixed FC weights check
  inference-engine/src/cldnn_engine/ops/matmul.cpp
Labels: category: GPU

#5607 updated third-party-programs.txt
  licensing/third-party-programs.txt
Labels: category: IE common

#4978 [CPU]shuffle_channel optimization
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/nodes/common/permute_kernel.cpp
  inference-engine/src/mkldnn_plugin/nodes/common/permute_kernel.h
  inference-engine/src/mkldnn_plugin/nodes/list_tbl.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_shuffle_channels_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_shuffle_channels_node.h
  inference-engine/src/mkldnn_plugin/nodes/shuffle_channels.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/shuffle_channels.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/shuffle_channels.cpp
Labels: category: CPU, category: IE Tests

#5370 [GNA] Fix cnn2d quantization for kernels 3x3 7x1
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/layers/gna_convolution_layer.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/convolution.cpp
Labels: category: GNA, category: IE Tests

#5366 [Auto Plugin] Auto plugin component in IE
  inference-engine/src/CMakeLists.txt
  inference-engine/src/auto_plugin/CMakeLists.txt
  inference-engine/src/auto_plugin/auto_exec_network.cpp
  inference-engine/src/auto_plugin/auto_exec_network.hpp
  inference-engine/src/auto_plugin/auto_infer_request.cpp
  inference-engine/src/auto_plugin/auto_infer_request.hpp
  inference-engine/src/auto_plugin/auto_plugin.cpp
  inference-engine/src/auto_plugin/auto_plugin.hpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/config.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/core_threading_tests.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/exec_graph_info.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request_callback.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request_config.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request_input.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/infer_request_output.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/perf_counters.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/set_preprocess.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/behavior/test_plugin.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/config.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/exec_graph_info.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/test_constants.hpp
Labels: ExternalIntelPR, category: IE common, category: docs

#5615 Add MO extras requires for supported DL frameworks
  model-optimizer/setup.py
Labels: category: MO

#5626 Removed fpga from tests
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/behavior/core_integration.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/config.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request_config.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/test_constants.hpp
Labels: category: IE Tests

#5586 Added additional check for friendly names
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.cpp
  inference-engine/src/inference_engine/cnn_network_ngraph_impl.hpp
  inference-engine/tests/functional/inference_engine/cnn_network/cnn_ngraph_impl_tests.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/convert_ngraph_to_cnn_network_tests.cpp
Labels: category: IE common

#5327 Revise gelu
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/gelu.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/runtime/interpreter/unit_test.manifest
  ngraph/test/type_prop/gelu.cpp
  ngraph/test/visitors/op/gelu.cpp
Labels: category: nGraph

#5579 Revise Unsqueeze op - tests
  inference-engine/tests/functional/inference_engine/serialization/single_layer/unsqueeze.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/squeeze_unsqueeze.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
  ngraph/test/CMakeLists.txt
  ngraph/test/backend/fused_op.in.cpp
  ngraph/test/backend/unsqueeze.in.cpp
  ngraph/test/visitors/op/unsqueeze.cpp
Labels: category: nGraph

#4961 Added MVN fusion for case with constants inside
  inference-engine/src/transformations/include/transformations/common_optimizations/mvn_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/mvn_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/mvn_fusion_test.cpp
Labels: category: IE Tests, category: IE transformations

#5563 [CPU] Disable zero points fusing for 3D DW int8 convolutions
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_conv_node.h
Labels: category: CPU

#5522 [nG] Gather-7 update for negative batch_dims
  docs/ops/movement/Gather_7.md
  inference-engine/src/transformations/src/transformations/common_optimizations/algebraic_simplification.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_gather_v7_to_gather_v1.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_gather_v7_to_gather_v1_test.cpp
  ngraph/core/include/ngraph/op/gather.hpp
  ngraph/core/include/ngraph/op/util/gather_base.hpp
  ngraph/core/src/op/gather.cpp
  ngraph/core/src/op/util/gather_base.cpp
  ngraph/test/backend/gather.in.cpp
  ngraph/test/runtime/ie/unit_test.manifest
  ngraph/test/type_prop/gather.cpp
Labels: category: nGraph

#5567 [IE CLDNN] Disable blobs reuse if shapes differ
  inference-engine/src/cldnn_engine/cldnn_program.h
  inference-engine/src/cldnn_engine/ops/constant.cpp
  inference-engine/src/cldnn_engine/ops/parameter.cpp
Labels: category: GPU

#5494 Reducenode handles negative input (master)
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_reduce_node.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/reduce_ops.cpp
Labels: category: CPU, category: IE Tests

#5616 Fix for warnings spotted by cl compiler
  inference-engine/src/inference_engine/precision_utils.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/concat_multi_input.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/fq_conv_fq_affine.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/memory_eltwise_reshape_concat.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/negative_memory_layer_offset.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/two_fake_quantize_to_fullyconnected.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/data_utils.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/xml_net_builder/ir_net.hpp
  inference-engine/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
Labels: category: IE Tests, category: IE common

#5569 [CPU] Fixed blocked layout conditions for DepthToSpace, SpaceToDepth
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_depth_to_space_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_space_to_depth_node.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/depth_to_space.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/space_to_depth.cpp
Labels: category: CPU

#5275 Convert operation optimization for FP16 -> INT8 and FP32 -> INT8
  docs/template_plugin/src/template_plugin.cpp
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/mkldnn_plugin/ngraph_transformations/convert_to_cpu_specific_opset.hpp
  inference-engine/src/transformations/include/transformations/convert_precision.hpp
  inference-engine/src/vpu/common/include/vpu/ngraph/utilities.hpp
  inference-engine/src/vpu/graph_transformer/src/frontend/frontend.cpp
  inference-engine/tests/functional/inference_engine/cnn_network/convert_ngraph_to_cnn_network_tests.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_precision.cpp
  ngraph/core/reference/include/ngraph/runtime/reference/convert.hpp
  ngraph/core/reference/src/runtime/reference/convert.cpp
  ngraph/core/reference/src/runtime/reference/jit_generator.cpp
  ngraph/core/src/pass/convert_fp32_to_fp16.cpp
  ngraph/core/src/pass/convert_precision.cpp
  ngraph/test/backend/convert.in.cpp
Labels: category: CPU, category: GPU, category: VPU, category: nGraph

#5632 Revert "Added MVN fusion for case with constants inside (#4961)"
  inference-engine/src/transformations/include/transformations/common_optimizations/mvn_fusion.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/mvn_fusion.cpp
  inference-engine/tests/functional/inference_engine/transformations/mvn_fusion_test.cpp
Labels: category: IE Tests, category: IE transformations, category: nGraph

#5628 Added custom version of find_dependency
  inference-engine/cmake/templates/InferenceEngineConfig.cmake.in
Labels: category: IE common, category: build

#5171 Align MO pip requirements
  docs/MO_DG/prepare_model/Config_Model_Optimizer.md
  model-optimizer/requirements.txt
  model-optimizer/requirements_caffe.txt
  model-optimizer/requirements_kaldi.txt
  model-optimizer/requirements_mxnet.txt
  model-optimizer/requirements_onnx.txt
  model-optimizer/requirements_tf.txt
  model-optimizer/requirements_tf2.txt
Labels: category: MO

#5199 Align pip requirements of benchmark tool, cross check tool, IE Python API
  inference-engine/ie_bridges/python/requirements.txt
  inference-engine/ie_bridges/python/src/requirements-dev.txt
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.requirements.txt
  inference-engine/ie_bridges/python/wheel/meta/openvino.requirements.txt
  inference-engine/tools/benchmark_tool/requirements.txt
  inference-engine/tools/cross_check_tool/requirements.txt
  tools/benchmark/requirements.txt
Labels: category: IE common, category: python api, category: tools

#5598 Remove temporary CMake solution and use updated tbbbind_2_4 package
  inference-engine/cmake/dependencies.cmake
  inference-engine/src/inference_engine/CMakeLists.txt
Labels: category: IE common

#5223 Set more strict requirements for IE python samples
  inference-engine/ie_bridges/python/sample/requirements.txt
Labels: category: python api

#5635 WIP: remove package_data and entry_points
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.setup.cfg
Labels: category: python api

#5639 Azure CI: Enable IB for CPU func tests
  .ci/azure/windows.yml
Labels: category: CI

#5602 [IE CLDNN] Improving graph initialization step
  inference-engine/thirdparty/clDNN/src/graph_optimizer/graph_initializations.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/handle_input_padding.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/mark_nodes.cpp
  inference-engine/thirdparty/clDNN/src/graph_optimizer/trim_to_outputs.cpp
  inference-engine/thirdparty/clDNN/src/include/lstm_dynamic_inst.h
  inference-engine/thirdparty/clDNN/src/include/pass_manager.h
  inference-engine/thirdparty/clDNN/src/include/program_impl.h
  inference-engine/thirdparty/clDNN/src/program.cpp
Labels: category: GPU

#5642 Removed CPU GEMM cmake stuff
  inference-engine/cmake/dependencies.cmake
  inference-engine/cmake/features.cmake
  inference-engine/src/mkldnn_plugin/CMakeLists.txt
  inference-engine/src/mkldnn_plugin/emitters/jit_bf16_emitters.hpp
  inference-engine/src/mkldnn_plugin/emitters/jit_eltwise_emitters.hpp
  inference-engine/src/mkldnn_plugin/emitters/jit_mkldnn_emitters.hpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_conv_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_mvn_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_roll_node.h
  inference-engine/src/mkldnn_plugin/utils/ngraph_utils.hpp
Labels: category: CPU, category: IE common, category: build

#5032 Common telemetry
  model-optimizer/automation/package_BOM.txt
  model-optimizer/mo/back/offline_transformations.py
  model-optimizer/mo/main.py
  model-optimizer/mo/utils/check_ie_bindings.py
  model-optimizer/mo/utils/ie_version.py
  model-optimizer/mo/utils/telemetry_stub.py
  model-optimizer/mo/utils/utils.py
  model-optimizer/telemetry/__init__.py
  model-optimizer/telemetry/backend/__init__.py
  model-optimizer/telemetry/backend/backend.py
  model-optimizer/telemetry/backend/backend_ga.py
  model-optimizer/telemetry/telemetry.py
  model-optimizer/telemetry/utils/__init__.py
  model-optimizer/telemetry/utils/guid.py
  model-optimizer/telemetry/utils/isip.py
  model-optimizer/telemetry/utils/message.py
  model-optimizer/telemetry/utils/sender.py
  model-optimizer/unit_tests/mo/bom_test.py
Labels: category: MO

#5247 [LPT] [CPU] Convert dequantization shift in low precision before FP32 conversion in CPU
  inference-engine/src/low_precision_transformations/include/low_precision/convert_subtract_constant.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/layer_transformation.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/src/convert_subtract_constant.cpp
  inference-engine/src/low_precision_transformations/src/convolution.cpp
  inference-engine/src/low_precision_transformations/src/fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/fold_convert.cpp
  inference-engine/src/low_precision_transformations/src/fuse_convert.cpp
  inference-engine/src/low_precision_transformations/src/fuse_fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/fuse_multiply_to_fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/fuse_subtract_to_fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/mat_mul.cpp
  inference-engine/src/low_precision_transformations/src/multiply.cpp
  inference-engine/src/low_precision_transformations/src/multiply_to_group_convolution.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/pull_reshape_through_dequantization.cpp
  inference-engine/src/low_precision_transformations/src/pull_transpose_through_dequantization.cpp
  inference-engine/src/low_precision_transformations/src/split.cpp
  inference-engine/src/low_precision_transformations/src/subtract_multiply_to_multiply_add.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convert_subtract_constant_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/fold_convert_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/group_convolution_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/layer_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/pull_reshape_through_dequantization_transformation.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_quantize_dequantize.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/common/builders.cpp
Labels: category: CPU, category: IE Tests, category: LP transformations

#5638 Support old TBBs in cmake
  cmake/developer_package/download/dependency_solver.cmake
  inference-engine/CMakeLists.txt
  inference-engine/cmake/dependencies.cmake
  inference-engine/cmake/templates/InferenceEngineConfig.cmake.in
  inference-engine/src/vpu/graph_transformer/CMakeLists.txt
  ngraph/python/src/pyngraph/axis_set.cpp
  ngraph/python/src/pyngraph/axis_vector.cpp
  ngraph/python/src/pyngraph/shape.cpp
  ngraph/python/src/pyngraph/strides.cpp
Labels: category: IE common, category: VPU, category: build, category: python api

#5474 Ref implementation transposed convolution visitor test
  ngraph/test/CMakeLists.txt
  ngraph/test/visitors/op/convolution_backprop.cpp
Labels: category: nGraph

#5383 [CPU] Add DFT/IDFT ops
  inference-engine/src/mkldnn_plugin/mkldnn_node.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_node.h
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_dft_node.cpp
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_dft_node.h
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/dft.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/shared/include/single_layer_tests/dft.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/dft.hpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/dft.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/dft.cpp
  ngraph/python/tests/__init__.py
  ngraph/python/tests/test_ngraph/test_dft.py
  ngraph/python/tests/test_ngraph/test_idft.py
Labels: category: CPU, category: IE Tests, category: nGraph

#4927 Add high level API to ONNX Editor
  ngraph/frontend/onnx_editor/include/onnx_editor/edge_mapper.hpp
  ngraph/frontend/onnx_editor/include/onnx_editor/editor.hpp
  ngraph/frontend/onnx_editor/include/onnx_editor/editor_types.hpp
  ngraph/frontend/onnx_editor/src/edge_mapper.cpp
  ngraph/frontend/onnx_editor/src/editor.cpp
  ngraph/test/models/onnx/model_editor/subgraph__inception_head.prototxt
  ngraph/test/models/onnx/model_editor/subgraph_extraction_tests.prototxt
  ngraph/test/models/onnx/model_editor/subgraph_extraction_tests_2.prototxt
  ngraph/test/onnx/onnx_editor.cpp
Labels: category: nGraph

#5454 [GNA] Fix concat scale factors calculation
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/const_strided_slice_concat.cpp
  inference-engine/tests/functional/plugin/shared/include/subgraph_tests/const_strided_slice_concat.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/const_strided_slice_concat.hpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/const_strided_slice_concat.cpp
Labels: category: GNA

#5149 [SubgraphsDumper] Extract statistics instead of constants with weights.
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/README.md
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/gflag_config.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/base_matcher.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/convolutions.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/matchers_manager.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/single_op.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/op_cloner.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/ops_cache.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/dynamism_resolver.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/model_wrap_struct.hpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/convolutions.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/matchers_manager.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/single_op.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/op_cloner.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/ops_cache.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/dynamism_resolver.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/tests/matchers/convolutions_matcher.cpp
  inference-engine/tests/functional/plugin/conformance/subgraphs_dumper/tests/matchers/generic_single_op.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/read_ir/read_ir.hpp
  inference-engine/tests/functional/shared_test_classes/src/read_ir/read_ir.cpp
  inference-engine/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/layer_test_utils/op_info.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/data_utils.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/batch_norm.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/fake_quantize.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/gru_cell.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/lstm_cell.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/rnn_cell.cpp
  ngraph/core/src/op/interpolate.cpp
  ngraph/core/src/op/topk.cpp
  ngraph/test/type_prop/interpolate.cpp
  ngraph/test/type_prop/top_k.cpp
Labels: category: IE Tests

#5570 [IE CLDNN] Fixed eltwise shrink when node has fused ops
  inference-engine/thirdparty/clDNN/src/graph_optimizer/eltwise_shrinking.cpp
Labels: category: GPU

#4909 [Caching] Add caching options to benchmark app
  inference-engine/samples/benchmark_app/README.md
  inference-engine/samples/benchmark_app/benchmark_app.hpp
  inference-engine/samples/benchmark_app/main.cpp
  tools/benchmark/README.md
  tools/benchmark/benchmark.py
  tools/benchmark/main.py
  tools/benchmark/parameters.py
Labels: category: IE common, category: docs, category: python api, category: tools

#5630 Deprecate unused methods
  ngraph/core/include/ngraph/runtime/tensor.hpp
Labels: category: nGraph

#5242 Add axis support
  model-optimizer/automation/package_BOM.txt
  model-optimizer/extensions/front/onnx/dequantize_linear_ext.py
  model-optimizer/extensions/front/onnx/dequantize_linear_resolver.py
  model-optimizer/extensions/front/onnx/quantize_linear_ext.py
  model-optimizer/extensions/front/onnx/quantize_linear_resolver.py
  model-optimizer/extensions/middle/dequantize_linear_resolver.py
  model-optimizer/extensions/middle/quantize_fuses.py
  model-optimizer/extensions/middle/quantize_linear_resolver.py
  model-optimizer/extensions/ops/dequantize_linear.py
  model-optimizer/extensions/ops/quantize_linear.py
  model-optimizer/mo/ops/broadcast.py
  model-optimizer/unit_tests/extensions/front/onnx/dequantize_linear_resolver_test.py
  model-optimizer/unit_tests/extensions/front/onnx/quantize_linear_resolver_test.py
  model-optimizer/unit_tests/extensions/middle/dequantize_linear_resolver_test.py
  model-optimizer/unit_tests/extensions/middle/quantize_linear_resolver_test.py
Labels: category: MO

#5659 Follow-up for PR 5638
  cmake/developer_package/download/dependency_solver.cmake
  inference-engine/cmake/ie_parallel.cmake
  inference-engine/src/vpu/graph_transformer/CMakeLists.txt
  inference-engine/tests/functional/inference_engine/CMakeLists.txt
Labels: category: IE Tests, category: IE common, category: VPU, category: build

#5660 [IE TESTS] Add tag to the report (for identification scope) && add ha…
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/merge_xmls.py
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  inference-engine/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
Labels: category: IE Tests

#5656 Removed legacy dependency on snippets
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/legacy_api/CMakeLists.txt
  inference-engine/src/legacy_api/src/convert_function_to_cnn_network.cpp
  inference-engine/src/snippets/CMakeLists.txt
  inference-engine/tests_deprecated/unit/CMakeLists.txt
Labels: category: IE Tests, category: IE common, category: nGraph

#5313 [LPT] ConvolutionBackpropData support
  inference-engine/src/cldnn_engine/cldnn_engine.cpp
  inference-engine/src/low_precision_transformations/include/low_precision/convolution_backprop_data.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/layer_transformation.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/network_helper.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/transformer.hpp
  inference-engine/src/low_precision_transformations/include/low_precision/weightable_layer_transformation.hpp
  inference-engine/src/low_precision_transformations/src/add.cpp
  inference-engine/src/low_precision_transformations/src/concat.cpp
  inference-engine/src/low_precision_transformations/src/concat_multi_channels.cpp
  inference-engine/src/low_precision_transformations/src/convolution.cpp
  inference-engine/src/low_precision_transformations/src/convolution_backprop_data.cpp
  inference-engine/src/low_precision_transformations/src/fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/fuse_multiply_to_fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/fuse_subtract_to_fake_quantize.cpp
  inference-engine/src/low_precision_transformations/src/layer_transformation.cpp
  inference-engine/src/low_precision_transformations/src/network_helper.cpp
  inference-engine/src/low_precision_transformations/src/transformer.cpp
  inference-engine/src/low_precision_transformations/src/weightable_layer_transformation.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/transformations/include/ngraph_ops/deconvolution_ie.hpp
  inference-engine/src/transformations/src/ngraph_ops/deconvolution_ie.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_convolutions.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/convert_subtract.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_backprop_data_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_qdq_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/convolution_transformation.cpp
  inference-engine/tests/functional/inference_engine/lp_transformations/group_convolution_transformation.cpp
  inference-engine/tests/functional/inference_engine/transformations/convert_deconvolution_test.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/convolution_backprop_data_transformation.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/convolution_backprop_data_transformation.cpp
  inference-engine/tests/functional/plugin/shared/include/low_precision_transformations/convolution_backprop_data_transformation.hpp
  inference-engine/tests/functional/plugin/shared/src/low_precision_transformations/convolution_backprop_data_transformation.cpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/convolution_backprop_data_function.hpp
  inference-engine/tests/ngraph_helpers/lpt_ngraph_functions/src/convolution_backprop_data_function.cpp
  ngraph/core/include/ngraph/op/convolution.hpp
  ngraph/core/include/ngraph/op/group_conv.hpp
  ngraph/core/src/op/convolution.cpp
  ngraph/core/src/op/group_conv.cpp
Labels: category: CPU, category: IE Tests, category: nGraph

#5657 Enable zero epsilon attribute in BatchNormInference operation
  docs/ops/normalization/BatchNormInference_1.md
  docs/ops/normalization/BatchNormInference_5.md
  inference-engine/tests/functional/inference_engine/serialization/single_layer/batch_norm.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/batch_norm.cpp
  ngraph/core/src/op/batch_norm.cpp
  ngraph/test/type_prop/batch_norm.cpp
Labels: category: nGraph

#5641 Fix warnings, cl compiler
  inference-engine/src/mkldnn_plugin/mkldnn/iml_type_mapper.cpp
  inference-engine/src/mkldnn_plugin/nodes/cum_sum.cpp
  inference-engine/tests/functional/plugin/cpu/bfloat16/bfloat16_helpers.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/set_preprocess.hpp
  inference-engine/tests/functional/plugin/shared/src/behavior/stress_tests.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.hpp
  ngraph/core/include/ngraph/op/constant.hpp
Labels: category: CPU, category: IE Tests, category: nGraph

#5647 Use extern template instantiation only for Clang (RTTI mess)
  inference-engine/include/ie_blob.h
  inference-engine/src/inference_engine/ie_common.cpp
Labels: category: IE common

#5452 Update EULA link for PyPI install guides
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#5625 Added Troubleshooting section
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#5633 Enable Pruning transformation by default inside Model Optimizer
  inference-engine/src/offline_transformations/src/moc_transformations.cpp
  model-optimizer/mo/back/offline_transformations.py
Labels: category: IE transformations, category: MO

#5529 Implement nGraph transformation to decompose Einsum-7 operation
  inference-engine/src/transformations/include/transformations/op_conversions/einsum_decomposition.hpp
  inference-engine/src/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  inference-engine/src/transformations/src/transformations/op_conversions/einsum_decomposition.cpp
  inference-engine/tests/functional/inference_engine/ngraph_reader/einsum_tests.cpp
  ngraph/core/include/ngraph/op/einsum.hpp
Labels: category: nGraph

#5594 [GNA] Use compile target in export tests for SUE
  inference-engine/src/gna_plugin/gna_device.cpp
  inference-engine/src/gna_plugin/gna_device.hpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/behavior/infer_request_config.cpp
Labels: category: GNA, category: IE Tests

#5497 [CPU] FakeQuantize: new cases support
  inference-engine/src/mkldnn_plugin/nodes/mkldnn_fake_quantize_node.cpp
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/fake_quantize.cpp
Labels: category: CPU, category: IE Tests

#5636 Update GNA to 1226
  inference-engine/cmake/dependencies.cmake
Labels: category: IE common

#5402 Log have time measures nested
  tests/time_tests/README.md
  tests/time_tests/scripts/run_timetest.py
  tests/time_tests/src/timetests_helper/main.cpp
  tests/time_tests/src/timetests_helper/statistics_writer.h
  tests/time_tests/src/timetests_helper/timer.cpp
Labels: category: IE Tests

#5670 Fixed MO CMakeList to remove unit_tests directory
  model-optimizer/CMakeLists.txt
Labels: category: MO

#5654 Add BF16 IE Precision specialization to is_float
  inference-engine/include/ie_precision.hpp
  inference-engine/tests/functional/inference_engine/ie_precision_test.cpp
Labels: category: IE common, pr: needs tests

#5671 [IE CLDNN] TopK functional tests instances update
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/topk.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: GPU, category: IE Tests

#5599 Fix Execution Graph Serialization
  inference-engine/src/cldnn_engine/cldnn_graph.cpp
  inference-engine/src/plugin_api/exec_graph_info.hpp
  inference-engine/src/readers/ir_reader/ie_ir_parser.cpp
  inference-engine/src/transformations/include/ngraph_ops/framework_node.hpp
  inference-engine/src/transformations/src/transformations/serialize.cpp
  inference-engine/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
  inference-engine/tests/functional/plugin/shared/src/execution_graph_tests/exec_graph_serialization.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/CMakeLists.txt
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  inference-engine/tests/ie_test_utils/common_test_utils/ngraph_test_utils.hpp
Labels: category: IE common

#5260 [ONNX] Do not reshape input to DequantizeLinear if scalar
  ngraph/frontend/onnx_import/src/op/dequantize_linear.cpp
  ngraph/test/models/onnx/dequantize_linear_scalar_inputs.prototxt
  ngraph/test/models/onnx/dequantize_linear_scalar_scale.prototxt
  ngraph/test/models/onnx/dequantize_linear_scalar_scale_and_zero_point.prototxt
  ngraph/test/models/onnx/dequantize_linear_scalar_zero_point.prototxt
  ngraph/test/onnx/onnx_import_quant.in.cpp
Labels: ONNX, category: nGraph

#5652 Azure CI Mac: Disable smoke_LPT/ReduceMinTransformation.CompareWithRe…
  .ci/azure/mac.yml
  inference-engine/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: CI

#5624 [IE TESTS] Fix Comparation issue in `LayerTestCommon` class
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/split.cpp
  inference-engine/tests/functional/plugin/cpu/single_layer_tests/transpose.cpp
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/add_conver_to_reorder.cpp
  inference-engine/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  inference-engine/tests/functional/plugin/myriad/single_layer_tests/static_shape_nonzero.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/concat_split_transpose.cpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/dsr_tests_common.hpp
  inference-engine/tests/functional/plugin/myriad/subgraph_tests/nonzero_transpose.cpp
  inference-engine/tests/functional/plugin/shared/include/configuration_tests/dynamic_batch.hpp
  inference-engine/tests/functional/plugin/shared/src/configuration_tests/dynamic_batch.cpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/read_ir/compare_results.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/read_ir/read_ir.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/detection_output.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/loop.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/non_max_suppression.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/proposal.hpp
  inference-engine/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/basic_lstm.hpp
  inference-engine/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  inference-engine/tests/functional/shared_test_classes/src/read_ir/compareResults.cpp
  inference-engine/tests/functional/shared_test_classes/src/read_ir/read_ir.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/detection_output.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/loop.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/non_max_suppression.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/nonzero.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/prior_box_clustered.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/proposal.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/split.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/transpose.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/variadic_split.cpp
  inference-engine/tests/functional/shared_test_classes/src/subgraph/basic_lstm.cpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  inference-engine/tests/ngraph_helpers/ngraph_functions/src/utils/ngraph_helpers.cpp
  ngraph/test/runtime/interpreter/evaluates_map.cpp
Labels: category: IE Tests, category: nGraph

#5623 [GNA] Support of Matmul with const as the first input and other fixes for softmax and layer norm patterns.
  inference-engine/src/gna_plugin/backend/dnn_types.cpp
  inference-engine/src/gna_plugin/frontend/scale_factor_calc.hpp
  inference-engine/src/gna_plugin/gna_data_types.hpp
  inference-engine/src/gna_plugin/gna_graph_compiler.cpp
  inference-engine/src/gna_plugin/gna_graph_compiler.hpp
  inference-engine/src/gna_plugin/gna_plugin.cpp
  inference-engine/src/gna_plugin/layers/gna_layer_info.hpp
  inference-engine/src/gna_plugin/layers/gna_layer_type.hpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.cpp
  inference-engine/src/gna_plugin/optimizer/gna_pass_manager.hpp
  inference-engine/src/gna_plugin/transformations/insert_transpose_after_convolution_or_pooling.cpp
  inference-engine/src/gna_plugin/transformations/insert_transpose_after_convolution_or_pooling.hpp
  inference-engine/src/gna_plugin/transformations/insert_transpose_before_matmul.cpp
  inference-engine/src/gna_plugin/transformations/insert_transpose_before_matmul.hpp
  inference-engine/src/gna_plugin/transformations/remove_extra_reshapes.cpp
  inference-engine/src/gna_plugin/transformations/reorder_activation_and_pooling.cpp
  inference-engine/src/gna_plugin/transformations/reorder_activation_and_pooling.hpp
  inference-engine/src/gna_plugin/transformations/swap_input_matmul_gna.cpp
  inference-engine/src/gna_plugin/transformations/swap_input_matmul_gna.hpp
  inference-engine/tests/functional/plugin/gna/pass_tests/act_maxpool_reordering.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/convert_matmul_to_fullyconnected.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/insert_copy_layer_before_self_concat.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/insert_transpose_before_matmul.cpp
  inference-engine/tests/functional/plugin/gna/pass_tests/insert_transpose_between_convs.cpp
  inference-engine/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/concat.cpp
  inference-engine/tests/functional/shared_test_classes/src/single_layer/concat.cpp
Labels: category: GNA, category: IE Tests

#5360 [IE CLDNN] Add Gather-7
  inference-engine/src/cldnn_engine/cldnn_primitives_list.hpp
  inference-engine/src/cldnn_engine/ops/gather.cpp
  inference-engine/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/gather.cpp
  inference-engine/thirdparty/clDNN/api/gather.hpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.cpp
  inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.h
  inference-engine/thirdparty/clDNN/src/gather.cpp
  inference-engine/thirdparty/clDNN/src/gpu/gather_gpu.cpp
  inference-engine/thirdparty/clDNN/tests/test_cases/gather_gpu_test.cpp
Labels: category: GPU, category: IE common
