Repository openvinotoolkit/openvino, pull requests merged in 2022-07, with the labels that each got.

#11814 Added axes node validation to DFTs operations
  src/core/shape_inference/include/fft_base_shape_inference.hpp
  src/core/shape_inference/include/rfft_common_validation.hpp
  src/core/tests/type_prop/dft.cpp
  src/core/tests/type_prop/idft.cpp
  src/core/tests/type_prop/irdft.cpp
  src/core/tests/type_prop/rdft.cpp
Labels: category: nGraph

#11795 [GPU] Add SoftSign_9 operation
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/src/plugin/ops/unary.cpp
  src/plugins/intel_gpu/tests/test_cases/activation_simple_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  src/tests/functional/shared_test_classes/src/single_layer/activation.cpp
Labels: category: GPU, ExternalPR

#11969 [GPU] Pass activation unit tests on DG2
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_opt.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/activation_ref.cl
  src/plugins/intel_gpu/tests/fusions/activation_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/activation_simple_gpu_test.cpp
Labels: category: GPU

#12040 [PyOV] Fix bugbear's B023 error
  src/bindings/python/wheel/setup.py
Labels: category: python api

#10828 [BUG fix] Reshape node: WA in-place failure case by mem-copy
  src/plugins/intel_cpu/src/nodes/reshape.cpp
  src/plugins/intel_cpu/src/nodes/reshape.h
  src/tests/functional/plugin/cpu/subgraph_tests/src/reshape_inplace.cpp
Labels: category: CPU

#12003 [GPU][DOC] Change fixed input string name to get_friendly_name at yuv infer request
  docs/snippets/gpu/context_sharing_va.cpp
  docs/snippets/gpu/preprocessing.cpp
Labels: category: GPU, category: docs

#7543 [Transformation] transform ConvertLike into Convert when applicable
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/test_onnx/test_backend.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_onnx/test_backend.py
  src/common/transformations/include/transformations/op_conversions/convert_convertlike.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/op_conversions/convert_convertlike.cpp
  src/tests/functional/inference_engine/ngraph_reader/convert_like_tests.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/convert_convertlike.cpp
Labels: category: Core, category: IE Tests, category: CPU

#11992 Set reorder format in reorder_inputs pass
  src/plugins/intel_gpu/src/graph/convolution.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
Labels: category: GPU

#11790 [ONNX FE] Extend ONNX FE NMS-9
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/runtime.py
  src/bindings/python/tests/test_onnx/test_zoo_models.py
  src/core/tests/models/onnx/nonmaxsuppression_v9_single_box.prototxt
  src/frontends/onnx/frontend/src/op/non_max_suppression.cpp
  src/frontends/tests/onnx/onnx_import.in.cpp
Labels: category: ONNX FE

#11996 Coverity: fix issue with uninitialized members
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eddo/experimental_detectron_detection_output_kernel_ref.h
Labels: category: GPU

#12045 [GPU] Delete previous inputs by numbered new name for batching
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
Labels: category: GPU

#12075 Revert the mmap-ed constants to the original buffer load
  src/frontends/ir/src/frontend.cpp
Labels: category: nGraph

#12050 [GPU] Fixed 'is_rotating_except_batch' to follow the IE order
  src/plugins/intel_gpu/src/graph/include/permute_inst.h
Labels: category: GPU

#11985 [GPU] Pass gather unit tests on DG2
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.h
  src/plugins/intel_gpu/tests/fusions/gather_fusion_test.cpp
Labels: category: GPU

#12056 [GPU] Pass convolution unit tests on DG2
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#12084 Updated to fuse activation in eltwise_vload8
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_vload8.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_vload8.h
Labels: category: GPU

#12085 [GPU] Fix gather data type issue
  src/plugins/intel_gpu/src/graph/gather.cpp
Labels: category: GPU

#12083 [AUTO plugin] excluding MULTI plugin for setting tput as the default performance mode
  src/plugins/auto/plugin.cpp
Labels: port_to_2022.2_needed

#12087 [C API][COVERITY SCAN]Fix the TAINTED_SCALAR and DEADCODE in Coverity Scan
  samples/c/hello_nv12_input_classification_ov/main.c
Labels: port_to_2022.2_needed

#12098 [C API][COVERITY SCAN] Fix the uninitialized value issue in hello_nv12_input_classification_ov found in Coverity Scan
  samples/c/hello_nv12_input_classification_ov/main.c
Labels: port_to_2022.2_needed

#11780 [GPU] Assign-6 and ReadValue-6
  src/inference/dev_api/cpp_interfaces/interface/ie_ivariable_state_internal.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/graph.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/infer_request.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/variable_state.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/assign.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/read_value.hpp
  src/plugins/intel_gpu/src/graph/assign.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/assign.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/read_value.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/register.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/register.hpp
  src/plugins/intel_gpu/src/graph/include/assign_inst.h
  src/plugins/intel_gpu/src/graph/include/read_value_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/read_value.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/ops/variable.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/plugins/intel_gpu/src/plugin/variable_state.cpp
  src/plugins/intel_gpu/tests/test_cases/variable.cpp
  src/tests/functional/plugin/gpu/behavior/memory_dyn_batch.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/memory.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/memory.hpp
  src/tests/functional/shared_test_classes/src/single_layer/memory.cpp
Labels: category: GPU, ExternalPR

#12052 [GPU] Pass Resample unit tests on DG2
  src/plugins/intel_gpu/tests/fusions/resample_fusion_test.cpp
Labels: category: GPU

#11986 [GPU] Pass lrn unit tests on DG2
  src/plugins/intel_gpu/src/graph/activation.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/eltwise.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/lrn/lrn_kernel_across_channel_multiple_features.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/lrn/lrn_kernel_across_channel_opt_b8.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/lrn/lrn_kernel_across_channel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/lrn/lrn_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/lrn/lrn_kernel_within_channel_byxf_opt.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/lrn/lrn_kernel_within_channel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/lrn/lrn_kernel_within_channel_ref_opt.h
  src/plugins/intel_gpu/tests/fusions/lrn_fusion_test.cpp
Labels: category: GPU

#12092 updated to fuse activation in eltwise_vload8
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_vload8.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_vload8.h
Labels: category: GPU

#12089 [GPU] Fix gather data type issue (#12089)
  src/plugins/intel_gpu/src/graph/gather.cpp
Labels: category: GPU

#12086 [GPU] Pass reduce unit tests on DG2
  src/plugins/intel_gpu/tests/fusions/reduce_fusion_test.cpp
Labels: category: GPU

#12123 Move cpu_dump_check into CPU plugin's tools folder
  src/plugins/intel_cpu/tools/dump_check/README.md
  src/plugins/intel_cpu/tools/dump_check/dump_check.py
  src/plugins/intel_cpu/tools/dump_check/requirements.txt
  tools/cpu_dump_check/README.md
Labels: category: CPU

#12100 [CPU] Move cpu_dump_check into CPU plugin's tools folder
  src/plugins/intel_cpu/tools/dump_check/README.md
  src/plugins/intel_cpu/tools/dump_check/dump_check.py
  src/plugins/intel_cpu/tools/dump_check/requirements.txt
  tools/cpu_dump_check/README.md
Labels: category: CPU

#12113 [GPU] Pass eltwise unit tests on DG2
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU

#12119 [GPU] modify fusing condition for reduce
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: CPU

#12133 [GPU] Enable tensor offset to GemmKernelRef for input padding support
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/gemm/gemm_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#12134 [CPU] revert pr 11990 and enable brgconv avx512 on SPR by default
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/inference/include/ie/ie_plugin_config.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  tools/benchmark_tool/README.md
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Labels: category: CPU

#12105 [CPU] revert pr 11990 and enable brgconv avx512 on SPR by default
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/inference/include/ie/ie_plugin_config.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  tools/benchmark_tool/README.md
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Labels: category: CPU

#11890 [GPU] Implement NMS-9 operation
  src/plugins/intel_gpu/src/graph/impls/cpu/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_max_suppression/non_max_suppression_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/non_max_suppression_gpu_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/non_max_suppression.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/test_cases/non_max_suppression_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/non_max_suppression.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/non_max_suppression.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/non_max_suppression.hpp
  src/tests/functional/shared_test_classes/src/single_layer/non_max_suppression.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/non_max_suppression.cpp
Labels: category: GPU, ExternalPR, do not merge

#12140 [GPU] Enable tensor offset to GemmKernelRef for input padding support
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/gemm/gemm_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#12147 [GPU][DG2] Update reduce fusing cond rel
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU

#12167 Revert "[GPU] Pass activation unit tests on DG2 (#11969)"
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_opt.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/activation_ref.cl
  src/plugins/intel_gpu/tests/fusions/activation_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/activation_simple_gpu_test.cpp
Labels: category: GPU

#12170 Update pypi.org pages
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: port_to_2022.2_needed

#12176 polish onednn selective build readme (#12114)
  src/plugins/intel_cpu/src/docs/onednn_selective_build.md
Labels: category: CPU

#11472 Ubuntu 22.04 support
  cmake/dependencies.cmake
  cmake/test_model_zoo.cmake
  docs/snippets/ov_infer_request.cpp
  docs/snippets/ov_model_snippets.cpp
  install_build_dependencies.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
  src/core/src/type/bfloat16.cpp
  src/plugins/intel_myriad/myriad_plugin/myriad_plugin.cpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
  src/tests/unit/gna/ngraph/transformations/gna_decompose_mvn.cpp
  thirdparty/CMakeLists.txt
Labels: category: IE common, category: IE Tests, category: VPU, category: build, platform: linux, category: dependency_changes, category: nGraph

#12159 [GPU] optimize permute_ref
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/permute/permute_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/permute_ref.cl
Labels: category: GPU

#12169 [DOC] Update opset.md with opset9
  docs/ops/opset.md
Labels: category: docs

#12165 Revert "[GPU] Pass activation unit tests on DG2 (#11969)"
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_opt.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/activation/activation_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/activation_ref.cl
  src/plugins/intel_gpu/tests/fusions/activation_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/activation_simple_gpu_test.cpp
Labels: category: GPU

#12160 [GPU] optimize permute_ref
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/permute/permute_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/permute_ref.cl
Labels: category: GPU

#12094 [GPU] integrate persistent caching for onednn
  src/common/util/include/openvino/util/file_util.hpp
  src/common/util/src/file_util.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
Labels: category: GPU

#11911 [GPU] Check memory allocation size of network graph
  src/plugins/intel_gpu/include/intel_gpu/plugin/remote_context.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/engine.hpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/runtime/engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
Labels: category: GPU

#12132 [Doc] denormals optimization document
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/snippets/ov_denormals.cpp
  docs/snippets/ov_denormals.py
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.hpp
  src/inference/include/ie/cpu/cpu_config.hpp
  src/inference/include/ie/ie_plugin_config.hpp
  src/inference/include/openvino/runtime/intel_cpu/properties.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_cpu/src/config.cpp
  tools/benchmark_tool/README.md
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Labels: category: CPU

#12178 TI repetitive shape inference
  src/core/src/op/tensor_iterator.cpp
  src/core/tests/type_prop/tensor_iterator.cpp
Labels: bug

#12206 Fixes for system libraries pugixml, tbb
  install_build_dependencies.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
  src/cmake/ie_parallel.cmake
  src/core/CMakeLists.txt
Labels: category: build, platform: linux

#11387 Debian packages: base version
  CMakeLists.txt
  cmake/debian.cmake
  cmake/dependencies.cmake
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/packaging.cmake
  cmake/developer_package/packaging/debian.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/plugins/plugins.cmake
  docs/CMakeLists.txt
  docs/template_plugin/CMakeLists.txt
  licensing/CMakeLists.txt
  samples/CMakeLists.txt
  scripts/CMakeLists.txt
  src/bindings/c/ov/src/CMakeLists.txt
  src/bindings/c/src/CMakeLists.txt
  src/bindings/python/src/compatibility/openvino/CMakeLists.txt
  src/bindings/python/src/compatibility/pyngraph/CMakeLists.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/frontend_module.cmake
  src/bindings/python/src/pyopenvino/frontend/onnx/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/paddle/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/tensorflow/CMakeLists.txt
  src/bindings/python/src/pyopenvino/test_utils/CMakeLists.txt
  src/bindings/python/tests/mock/mock_py_frontend/CMakeLists.txt
  src/bindings/python/tests/mock/pyngraph_fe_mock_api/CMakeLists.txt
  src/bindings/python/wheel/CMakeLists.txt
  src/cmake/install_tbb.cmake
  src/cmake/openvino.cmake
  src/common/conditional_compilation/CMakeLists.txt
  src/common/legacy/CMakeLists.txt
  src/common/preprocessing/CMakeLists.txt
  src/common/snippets/CMakeLists.txt
  src/common/transformations/CMakeLists.txt
  src/common/util/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/builder/CMakeLists.txt
  src/core/reference/CMakeLists.txt
  src/core/shape_inference/CMakeLists.txt
  src/core/tests/frontend/CMakeLists.txt
  src/frontends/common/CMakeLists.txt
  src/frontends/onnx/frontend/CMakeLists.txt
  src/frontends/onnx/onnx_common/CMakeLists.txt
  src/frontends/tensorflow/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/intel_gna/CMakeLists.txt
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
  src/plugins/intel_myriad/CMakeLists.txt
  src/plugins/intel_myriad/myriad_dependencies.cmake
  src/plugins/intel_myriad/myriad_plugin/CMakeLists.txt
  src/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/CMakeLists.txt
  src/tests_deprecated/readers/ir_reader_v7/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/onnx/CMakeLists.txt
  tools/CMakeLists.txt
  tools/compile_tool/CMakeLists.txt
  tools/mo/unit_tests/mock_mo_frontend/mock_mo_frontend/CMakeLists.txt
  tools/mo/unit_tests/mock_mo_frontend/mock_mo_python_api/CMakeLists.txt
  tools/openvino_dev/CMakeLists.txt
Labels: platform: linux

#12145 [PyOV][DOCS] Python API contribution and developer guide
  src/bindings/python/docs/code_examples.md
  src/bindings/python/docs/contributing.md
  src/bindings/python/docs/examples/openvino/__init__.py
  src/bindings/python/docs/examples/openvino/mymodule/__init__.py
  src/bindings/python/docs/examples/openvino/mymodule/myclass.py
  src/bindings/python/docs/test_examples.md
Labels: category: python api, category: docs

#12127 [Doc] denormals optimization doc
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/snippets/ov_denormals.cpp
  docs/snippets/ov_denormals.py
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.hpp
  src/inference/include/ie/cpu/cpu_config.hpp
  src/inference/include/ie/ie_plugin_config.hpp
  src/inference/include/openvino/runtime/intel_cpu/properties.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_cpu/src/config.cpp
  tools/benchmark_tool/README.md
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Labels: category: CPU

#12218 Use system pugixml where it's possible
  cmake/features.cmake
  thirdparty/CMakeLists.txt
Labels: category: build

#12221 [CPU] Fixed heap sort bug regarding heapifying
  src/plugins/intel_cpu/src/nodes/topk.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/topk.cpp
Labels: category: CPU

#12108 [CPU] Explicitly enable DNNL_VERBOSE only in case of CPU_DEBUG_CAPS
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
Labels: category: CPU

#12152 [GNA] Fixed convolutions with shared transpose and un-fuse-able activations after Convolution filter (Renew PR11373)
  src/plugins/intel_gna/gna_graph_compiler.cpp
  src/plugins/intel_gna/optimizer/gna_pass_manager.cpp
  src/tests/functional/plugin/gna/pass_tests/remove_permutations_NHWC_to_NCHW_pass.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/split_relu.cpp
Labels: category: GNA

#12144 [GPU] Add reorder from i32 to f32 for max-pooling/conv/fc which doesn't support i32
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/pooling.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/pooling.cpp
Labels: category: GPU

#11899 [GPU] ROIAlign v9 support
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/roi_align.hpp
  src/plugins/intel_gpu/src/graph/impls/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/roi_align.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/roi_align.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/roi_align/roi_align_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/roi_align/roi_align_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/roi_align_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/roi_align.cpp
  src/plugins/intel_gpu/tests/test_cases/roi_align_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/roi_align.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/roi_align.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/roi_align.hpp
  src/tests/functional/shared_test_classes/src/single_layer/roi_align.cpp
Labels: category: GPU, ExternalPR

#12260 Install user provided TBB as well
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.sh
  src/cmake/install_tbb.cmake
Labels: category: build

#12266 Fixes for cases when TBB_DIR env var is set
  samples/cpp/build_samples.sh
  src/cmake/install_tbb.cmake
Labels: category: build

#12175 [IE TESTS][CONFORMANCE] Fix initial statistic (AVG passrate)
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
Labels: bug, category: IE Tests, conformance

#12099 [CPU] Add RDFT and IRDFT operators
  src/bindings/python/tests/test_ngraph/test_dft.py
  src/bindings/python/tests/test_ngraph/test_rdft.py
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/nodes/kernels/rdft_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/rdft_kernel.hpp
  src/plugins/intel_cpu/src/nodes/rdft.cpp
  src/plugins/intel_cpu/src/nodes/rdft.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/rdft.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/rdft.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/rdft.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/rdft.hpp
  src/tests/functional/shared_test_classes/src/single_layer/rdft.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/rdft.cpp
Labels: category: CPU

#12205 [MO] Remove InterpolateTranspose transformation
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/front/tf/InterpolateTransposes.py
Labels: bug

#12189 Add const fold check in operators instead pass
  src/common/legacy/src/graph_transformer.cpp
  src/core/include/openvino/core/node.hpp
  src/core/include/openvino/pass/constant_folding.hpp
  src/core/src/node.cpp
  src/core/src/op/convert_like.cpp
  src/core/src/op/reshape.cpp
  src/core/src/op/shape_of.cpp
  src/core/src/op/squeeze.cpp
  src/core/src/op/unsqueeze.cpp
  src/core/src/pass/constant_folding.cpp
  src/core/tests/constant_folding.cpp
Labels: category: Core

#12287 [GPU] Use int64_t type for axis in softmax
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/softmax.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/softmax.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/softmax.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/edgpsi/experimental_detectron_generate_proposals_single_image_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/scatter_update/scatter_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/convolution_gpu_bfyx_1x1_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/fully_connected_gpu_yxfb_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/pooling_gpu_b_fs_yx_fsv4.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/reverse_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/softmax_gpu_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/softmax.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/fusions/softmax_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/experimental_detectron_topk_rois_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/reorder_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/softmax_gpu_test.cpp
Labels: category: GPU

#12288 denormals document proofreading
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  src/inference/include/ie/cpu/cpu_config.hpp
  src/inference/include/openvino/runtime/intel_cpu/properties.hpp
Labels: category: CPU, category: docs

#12171 [DOC][2022.2] Update opset.md with opset9
  docs/ops/opset.md
Labels: category: docs

#12309 Fixed build_samples.sh not to call setupvars.sh for Debian package case
  samples/cpp/build_samples.sh
  scripts/install_dependencies/install_NCS_udev_rules.sh
  scripts/setupvars/setupvars.sh
  src/tests/functional/plugin/myriad/run_tests_myriad_multistick.sh
Labels: category: build, platform: linux

#12296 Port cc fix
  src/common/conditional_compilation/include/openvino/cc/pass/itt.hpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/convert_constants_to_scalars.cpp
  src/common/snippets/src/pass/convert_power_to_powerstatic.cpp
  src/common/snippets/src/pass/insert_load_store.cpp
  src/common/snippets/src/pass/insert_movebroadcast.cpp
  src/common/snippets/src/pass/load_movebroadcast_to_broadcastload.cpp
  src/common/snippets/src/pass/vector_to_scalar.cpp
  src/common/transformations/src/transformations/common_optimizations/eliminate_unsqueeze_gather.cpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/src/transformations/smart_reshape/matmul_sr.cpp
  src/core/src/itt.hpp
  src/core/src/pass/graph_rewrite.cpp
  src/plugins/intel_gna/transformations/insert_reshape_around_matmul.cpp
  src/plugins/intel_gna/transformations/swap_input_matmul_gna.cpp
Labels: category: build

#12301 [GNA] Add missing support for batch normalization with weights broadcasting. Add unit tests.
  src/plugins/intel_gna/transformations/broadcast_const.cpp
  src/plugins/intel_gna/transformations/broadcast_const.hpp
  src/tests/unit/gna/ngraph/transformations/gna_broadcast_const.cpp
Labels: category: GNA

#12303 Xiaoxia/onetbb old version
  cmake/dependencies.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  scripts/setupvars/setupvars.sh
  src/inference/include/ie/ie_parallel.hpp
  src/inference/src/threading/ie_executor_manager.cpp
  src/tests/functional/inference_engine/CMakeLists.txt
Labels: category: build

#12321 Tbb fixes
  cmake/dependencies.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  scripts/setupvars/setupvars.sh
  src/cmake/ie_parallel.cmake
  src/inference/dev_api/threading/ie_executor_manager.hpp
  src/inference/include/ie/ie_parallel.hpp
  src/inference/include/ie/ie_plugin_config.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/ie_core.cpp
  src/inference/src/threading/ie_cpu_streams_executor.cpp
  src/inference/src/threading/ie_executor_manager.cpp
  src/tests/functional/inference_engine/CMakeLists.txt
  src/tests/functional/inference_engine/core_threading.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
  src/tests/unit/inference_engine/ie_executor_manager_tests.cpp
Labels: category: build

#12278 [GPU] Align TopK parameters with ngraph
  src/plugins/intel_gpu/include/intel_gpu/primitives/arg_max_min.hpp
  src/plugins/intel_gpu/src/graph/arg_max_min.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/arg_max_min.cpp
  src/plugins/intel_gpu/src/graph/include/kernel_selector_helper.h
  src/plugins/intel_gpu/src/kernel_selector/common/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/arg_max_min/arg_max_min_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/arg_max_min/arg_max_min_kernel_gpu_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/arg_max_min/arg_max_min_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/kernel_selector_common.h
  src/plugins/intel_gpu/src/kernel_selector/core/kernel_selector_params.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/kernel_selector_params.h
  src/plugins/intel_gpu/src/plugin/ops/experimental_detectron_topk_rois.cpp
  src/plugins/intel_gpu/src/plugin/ops/topk.cpp
  src/plugins/intel_gpu/tests/test_cases/arg_max_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/command_queue_test.cpp
  src/plugins/intel_gpu/tests/test_cases/set_output_memory_gpu_test.cpp
Labels: category: GPU

#12306 [GPU] Use int64_t type for axis in CumSum
  src/plugins/intel_gpu/include/intel_gpu/primitives/cum_sum.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/cum_sum.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/softmax.cpp
  src/plugins/intel_gpu/src/plugin/ops/cum_sum.cpp
  src/plugins/intel_gpu/tests/test_cases/cum_sum_gpu_test.cpp
Labels: category: GPU

#12323 [GPU] Use int64_t type for axis in ScatterElementsUpdate
  src/plugins/intel_gpu/include/intel_gpu/primitives/scatter_elements_update.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_elements_update.cpp
  src/plugins/intel_gpu/src/plugin/ops/scatter_elements_update.cpp
  src/plugins/intel_gpu/tests/fusions/scatter_elements_update_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/scatter_elements_update_gpu_test.cpp
Labels: category: GPU

#12204 [PyOV] Enable type casters
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/frontend/extension.cpp
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.hpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/bindings/python/tests/test_frontend/test_frontendmanager.py
  src/bindings/python/tests/test_graph/test_preprocess.py
  src/bindings/python/tests/test_runtime/test_core.py
Labels: category: python api

#12302 [GNA] Replace GNA SoftSign by opset9 SoftSign
  src/plugins/intel_gna/ops/softsign.cpp
  src/plugins/intel_gna/ops/softsign.hpp
  src/plugins/intel_gna/transformations/pwl_approximation.cpp
  src/plugins/intel_gna/transformations/pwl_approximation.hpp
  src/plugins/intel_gna/transformations/substitute_softsign.cpp
  src/tests/unit/gna/ngraph/op_eval/softsign.cpp
  src/tests/unit/gna/ngraph/transformations/gna_pwl.cpp
  src/tests/unit/gna/ngraph/transformations/gna_substitute_softsign.cpp
Labels: category: GNA

#12233 [GPU] ScatterUpdate axis alignment
  src/plugins/intel_gpu/include/intel_gpu/primitives/scatter_update.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_update.cpp
  src/plugins/intel_gpu/src/graph/scatter_update.cpp
  src/plugins/intel_gpu/src/plugin/ops/scatter_update.cpp
  src/plugins/intel_gpu/tests/fusions/scatter_update_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/scatter_update_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/scatter_update.cpp
Labels: category: GPU
