Repository openvinotoolkit/openvino, pull requests merged in 2022-09, with the labels that each got.

#12277 【PaddlePaddle Hackathon 3】Add Paddle tile operator
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_tile.py
  src/frontends/paddle/src/op/tile.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: PDPD FE

#12830 [GPU] GPU Plugin functional tests fixes
  src/plugins/intel_gpu/src/plugin/device_config.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/get_metric.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/io_tensor.cpp
Labels: category: GPU

#12772 [GPU] fully_connected/gemm shape infer support
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/include/fully_connected_inst.h
  src/plugins/intel_gpu/src/graph/include/gemm_inst.h
  src/plugins/intel_gpu/tests/shape_infer/matmul_si_test.cpp
Labels: category: GPU

#12805 Tile reference implementation short circuit
  src/core/reference/src/runtime/reference/tile.cpp
  src/core/tests/constant_folding.cpp
Labels: category: Core

#12806 Add decomposition transformation for eye 9
  src/bindings/python/tests/test_onnx/test_ops_unary.py
  src/common/transformations/include/transformations/op_conversions/eye_decomposition.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/op_conversions/eye_decomposition.cpp
  src/core/dev_api/node_registry.hpp
  src/core/src/op/eye.cpp
  src/frontends/onnx/frontend/src/op/eye_like.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/tests/functional/inference_engine/transformations/op_conversions/eye_decomposition_test.cpp
  src/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  src/tests/ie_test_utils/common_test_utils/ngraph_test_utils.hpp
Labels: category: Core, category: IE transformations

#12784 Updated ia32 toolchain with system / processor
  cmake/dependencies.cmake
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/packaging/debian.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  cmake/toolchains/ia32.linux.toolchain.cmake
  docs/snippets/CMakeLists.txt
  samples/cpp/CMakeLists.txt
  src/CMakeLists.txt
  src/cmake/ie_parallel.cmake
  src/cmake/install_tbb.cmake
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/tests/functional/plugin/gpu/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/protobuf/CMakeLists.txt
Labels: platform: linux

#8774 Fix ENABLE_UNSAFE_LOCATIONS build flag
  cmake/developer_package/download/download_and_extract.cmake
Labels: category: IE common, ExternalPR

#12719 Renamed CUDA device name to NVIDIA device name
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_debian.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  src/bindings/python/tests/test_onnx/utils/onnx_backend.py
  src/bindings/python/tests_compatibility/test_onnx/utils/onnx_backend.py
  src/plugins/auto/utils/config.hpp
Labels: category: build, category: CI

#12857 [GPU] Fixed conflicts in fc unit tests
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/tests/shape_infer/matmul_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#12866 Fixed conformance tests compilation with older gflags version
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/include/gflag_config.hpp
Labels: category: IE Tests, category: build

#12850 Replaced hardcoded core component with variable name
  cmake/developer_package/packaging/debian.cmake
  cmake/packaging/debian.cmake
Labels: category: build

#12852 Tuned TBB cmake finding
  cmake/dependencies.cmake
  cmake/developer_package/TBBConfig.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  src/cmake/ie_parallel.cmake
  src/cmake/install_tbb.cmake
Labels: category: build

#12872 Removed unused files
  docs/snippets/HETERO0.cpp
  docs/snippets/HETERO1.cpp
  docs/snippets/HETERO2.cpp
  docs/snippets/HETERO3.cpp
Labels: category: docs

#12881 Apple "cross compilation" for protoc
  cmake/dependencies.cmake
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/target_flags.cmake
  cmake/features.cmake
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/onnx/CMakeLists.txt
  thirdparty/protobuf/CMakeLists.txt
Labels: category: build, platform: osx

#12885 Fixed Android ARM64 post-commit step
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_debian.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#12890 LTO for frontends and python
  cmake/developer_package/frontends/frontends.cmake
  src/bindings/python/src/compatibility/openvino/inference_engine/CMakeLists.txt
  src/bindings/python/src/compatibility/pyngraph/CMakeLists.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/frontend_module.cmake
  src/bindings/python/src/pyopenvino/frontend/tensorflow/extension.cpp
  src/bindings/python/src/pyopenvino/test_utils/CMakeLists.txt
  src/bindings/python/tests/mock/pyngraph_fe_mock_api/CMakeLists.txt
  src/core/CMakeLists.txt
  src/frontends/CMakeLists.txt
  src/frontends/common/CMakeLists.txt
  src/frontends/common/shutdown_protobuf/CMakeLists.txt
  src/frontends/onnx/onnx_common/CMakeLists.txt
  tools/mo/unit_tests/mock_mo_frontend/mock_mo_python_api/CMakeLists.txt
Labels: category: build, category: Python API, platform: linux

#12540 [PyOV] Added deprecation function
  src/bindings/python/src/openvino/utils.py
  src/bindings/python/src/pyopenvino/graph/passes/manager.cpp
  src/bindings/python/src/pyopenvino/graph/util.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/bindings/python/tests/test_graph/test_utils.py
  src/bindings/python/tests/test_utils/test_utils.py
Labels: category: Python API

#12889 Enabled LTO for ONNX
  cmake/developer_package/compile_flags/os_flags.cmake
  thirdparty/onnx/CMakeLists.txt
Labels: category: build, platform: linux, category: ONNX FE

#12779 Generate openvino.pc pkg-config file
  .ci/azure/linux.yml
  cmake/templates/openvino.pc.in
  install_build_dependencies.sh
  scripts/setupvars/setupvars.sh
  src/cmake/install_tbb.cmake
  src/cmake/openvino.cmake
  src/core/include/openvino/core/type.hpp
  src/tests/functional/inference_engine/CMakeLists.txt
  tests/lib/CMakeLists.txt
  tests/lib/src/CMakeLists.txt
  tests/memory_tests/CMakeLists.txt
  tests/memory_tests/src/CMakeLists.txt
  tests/memory_tests/src/memory_tests/CMakeLists.txt
  tests/stress_tests/CMakeLists.txt
  tests/time_tests/CMakeLists.txt
  tests/time_tests/src/CMakeLists.txt
  tests/time_tests/src/timetests/CMakeLists.txt
Labels: category: build, category: samples

#11460 [GNA] Update docs on GRUCell, LSTMSequence, GRUSequence support
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
Labels: category: docs

#12800 [conformance] Remove extra skip_config files from the conformance tests
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/skip_configs/skip_config_cpu.lst
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/skip_configs/skip_config_example.lst
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/skip_configs/skip_config_gna.lst
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/skip_configs/skip_config_gpu.lst
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/skip_configs/skip_config_myriad.lst
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/skip_configs/skip_config_template.lst
Labels: conformance

#12860 [ONNX FE] Rename OV ONNX FE tests target
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  src/frontends/onnx/tests/CMakeLists.txt
Labels: category: ONNX FE

#12591 [C API]capi pshape improve
  samples/c/hello_classification/main.c
  samples/c/hello_nv12_input_classification/main.c
  src/bindings/c/include/openvino/c/openvino.h
  src/bindings/c/include/openvino/c/ov_common.h
  src/bindings/c/include/openvino/c/ov_compiled_model.h
  src/bindings/c/include/openvino/c/ov_core.h
  src/bindings/c/include/openvino/c/ov_dimension.h
  src/bindings/c/include/openvino/c/ov_infer_request.h
  src/bindings/c/include/openvino/c/ov_layout.h
  src/bindings/c/include/openvino/c/ov_model.h
  src/bindings/c/include/openvino/c/ov_node.h
  src/bindings/c/include/openvino/c/ov_partial_shape.h
  src/bindings/c/include/openvino/c/ov_prepostprocess.h
  src/bindings/c/include/openvino/c/ov_property.h
  src/bindings/c/include/openvino/c/ov_rank.h
  src/bindings/c/include/openvino/c/ov_shape.h
  src/bindings/c/include/openvino/c/ov_tensor.h
  src/bindings/c/src/common.h
  src/bindings/c/src/ov_common.cpp
  src/bindings/c/src/ov_compiled_model.cpp
  src/bindings/c/src/ov_core.cpp
  src/bindings/c/src/ov_dimension.cpp
  src/bindings/c/src/ov_layout.cpp
  src/bindings/c/src/ov_model.cpp
  src/bindings/c/src/ov_node.cpp
  src/bindings/c/src/ov_partial_shape.cpp
  src/bindings/c/src/ov_prepostprocess.cpp
  src/bindings/c/src/ov_property.cpp
  src/bindings/c/src/ov_rank.cpp
  src/bindings/c/src/ov_shape.cpp
  src/bindings/c/src/ov_tensor.cpp
  src/bindings/c/tests/ov_compiled_model_test.cpp
  src/bindings/c/tests/ov_core_test.cpp
  src/bindings/c/tests/ov_infer_request_test.cpp
  src/bindings/c/tests/ov_layout_test.cpp
  src/bindings/c/tests/ov_model_test.cpp
  src/bindings/c/tests/ov_partial_shape_test.cpp
  src/bindings/c/tests/ov_preprocess_test.cpp
  src/bindings/c/tests/ov_property_test.cpp
  src/bindings/c/tests/ov_tensor_test.cpp
Labels: category: C API

#12864 Conformance report: add version
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
Labels: conformance

#12892 [GPU] Run onednn test only in DG2
  src/plugins/intel_gpu/tests/test_cases/concatenation_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/deconvolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/reduce_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#12914 Added a error message if cmake < 3.16 is used with tbb.pc
  cmake/templates/OpenVINOConfig.cmake.in
  src/cmake/ie_parallel.cmake
Labels: category: build, platform: linux

#12717 update system requirements & pre-release disclaimer
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#12902 Use absolute path in some cpuFuncTests
  src/tests/functional/plugin/cpu/extension/extension.cpp
  src/tests/functional/plugin/shared/src/onnx/quantized_models_tests.cpp
Labels: category: IE Tests

#12919 Cross-compilation of debian packages
  cmake/arm.toolchain.cmake
  cmake/arm64.toolchain.cmake
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/packaging/debian.cmake
  install_build_dependencies.sh
  src/cmake/openvino.cmake
  src/common/legacy/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: build, platform: arm, platform: linux

#12676 Fixed insert_fake_quantize() with empty hw_config
  tools/pot/openvino/tools/pot/graph/passes.py
Labels: category: POT

#12934 OpenVINO requires TBB 2017.0 or higher
  cmake/dependencies.cmake
  cmake/developer_package/tbb/TBBConfig.cmake
  cmake/developer_package/tbb/lnx/TBBConfig-version.cmake
  cmake/developer_package/tbb/mac/TBBConfig-version.cmake
  cmake/developer_package/tbb/win/TBBConfig-version.cmake
  src/cmake/ie_parallel.cmake
Labels: category: build, platform: arm, platform: linux

#12835 [LPT] Fixes for the cases with convert before subtraction constant
  src/common/low_precision_transformations/include/low_precision/network_helper.hpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/low_precision_transformations/src/shuffle_channels.cpp
  src/common/low_precision_transformations/src/split.cpp
  src/common/low_precision_transformations/src/transpose.cpp
  src/tests/functional/inference_engine/lp_transformations/pad_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/reshape_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/shuffle_channels_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/split_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/strided_slice_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/transpose_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/common/builders.cpp
Labels: category: CPU, category: LP transformations

#12931 [POT] Remove q8_w for Multuply from GNA hw config
  tools/pot/openvino/tools/pot/configs/hardware/gna.json
Labels: category: POT

#12901 [GPU] Fix a bug of graph optimization
  src/plugins/intel_gpu/src/graph/graph_optimizer/eltwise_shrinking.cpp
Labels: category: GPU

#12878 [GPU] Use oneDNN gemm on DG2 in some cases
  samples/cpp/benchmark_app/inputs_filling.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: category: GPU

#12639 [GPU] ScatterUpdate blocked layout support
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_update.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/scatter_update/scatter_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/scatter_update_ref.cl
  src/plugins/intel_gpu/tests/test_cases/scatter_update_gpu_test.cpp
Labels: category: GPU, ExternalPR

#12079 [GPU] Add blocked layouts support to bucketize
  src/plugins/intel_gpu/src/graph/impls/ocl/bucketize.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/bucketize/bucketize_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/bucketize_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/include/algorithm.cl
  src/plugins/intel_gpu/tests/test_cases/bucketize_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/bucketize.cpp
Labels: category: GPU, ExternalPR

#12043 [GPU] Fix implementation map includes to fix the dependency
  src/plugins/intel_gpu/include/intel_gpu/primitives/implementation_desc.hpp
  src/plugins/intel_gpu/src/graph/impls/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/activation.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/adaptive_pooling.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/bucketize.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/roll.cpp
Labels: category: GPU, ExternalPR

#12940 Ability to build against oneTBB build RelWithDebInfo
  src/cmake/install_tbb.cmake
  tools/openvino_dev/CMakeLists.txt
Labels: category: build

#10919 [benchmark_app] Separate hint from fine tuning options.
  samples/cpp/benchmark_app/main.cpp
Labels: category: samples

#12775 Fix python API build on yocto
  src/bindings/python/CMakeLists.txt
Labels: category: build

#12107 tbbbind support CC
  src/inference/CMakeLists.txt
  src/inference/src/threading/ie_parallel_custom_arena.cpp
  src/inference/src/threading/itt.hpp
Labels: category: IE common, category: CPU

#12947 Fixed build for TBB which uses pre-release functions
  src/inference/src/threading/ie_parallel_custom_arena.cpp
Labels: category: build

#12953 Fixed installation of pugixml on U22 for ie_wheel
  src/bindings/python/tests/test_runtime/test_compiled_model.py
  thirdparty/CMakeLists.txt
Labels: category: build

#12952 Fix tbb for macos 22.2
  src/inference/src/threading/ie_parallel_custom_arena.cpp
Labels: category: build

#12932 [Core] Reduce unit test dependencies
  cmake/features.cmake
  docs/template_plugin/tests/functional/op_reference/base_reference_test.hpp
  docs/template_plugin/tests/functional/op_reference/sqrt.cpp
  src/core/tests/CMakeLists.txt
  src/core/tests/backend/abc.in.cpp
  src/core/tests/backend/sqrt.in.cpp
  src/core/tests/files/region_in_yolov2_caffe.data
  src/core/tests/files/region_in_yolov3_mxnet.data
  src/core/tests/files/region_out_yolov2_caffe.data
  src/core/tests/files/region_out_yolov3_mxnet.data
  src/core/tests/models/ir/conv_with_rt_info.bin
  src/core/tests/models/ir/weights/add_abc.bin
  src/core/tests/op_eval/binary_convolution.cpp
  src/core/tests/op_eval/bucketize.cpp
  src/core/tests/op_eval/clamp.cpp
  src/core/tests/op_eval/einsum.cpp
  src/core/tests/op_eval/roi_pooling.cpp
  src/core/tests/runtime/ie/unit_test.manifest
  src/core/tests/runtime/interpreter/unit_test.manifest
  src/frontends/onnx/tests/onnx_test_utils.in.cpp
Labels: category: Core

#12938 [GPU] Fix the new infer request to set output memory normally during enqueue stage
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
Labels: category: GPU

#12961 Added better exception handling to op_imp_check.
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/op_impl_check.cpp
Labels: ExternalPR, conformance

#12967 add GenerateProposals single layer test
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/single_op_graph.cpp
Labels: category: IE Tests

#12936 [CPU] Support MHA optimization
  src/inference/dev_api/ie_system_conf.h
  src/inference/src/ie_system_conf.cpp
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/mha_fusion.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/mha_fusion.hpp
  src/plugins/intel_cpu/src/ngraph_transformations/op/mha.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/op/mha.hpp
  src/plugins/intel_cpu/src/nodes/mha.cpp
  src/plugins/intel_cpu/src/nodes/mha.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/mha.cpp
Labels: category: CPU

#12988 [GPU] Add NV12 -> Grayscale mode support
  src/plugins/intel_gpu/include/intel_gpu/primitives/reorder.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reorder.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/reorder/reorder_biplanar_nv12.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/reorder/reorder_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/reorder_biplanar_nv12.cl
  src/plugins/intel_gpu/src/plugin/ops/parameter.cpp
  src/plugins/intel_gpu/tests/test_cases/cl_mem_input_test.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
Labels: category: GPU

#12975 [GPU] Removed mark field from program_node
  src/plugins/intel_gpu/src/graph/graph_optimizer/trim_to_outputs.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/pass_manager.cpp
Labels: category: GPU

#12992 [ONNX] Update external data location in Constant nodes
  src/core/tests/models/onnx/external_data/external_data_in_constant_node.prototxt
  src/frontends/onnx/frontend/src/core/transform.cpp
  src/frontends/tests/onnx/onnx_import_external_data.in.cpp
Labels: category: ONNX FE

#12891 enabled LTO for GPU plugin helper libs
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/CMakeLists.txt
  src/plugins/intel_gpu/tests/CMakeLists.txt
Labels: category: GPU, category: build, platform: linux

#12958 Added support of pugixml search via pkg-config
  cmake/features.cmake
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  cmake/templates/OpenVINODeveloperPackageConfig.cmake.in
  cmake/templates/openvino.pc.in
  src/cmake/openvino.cmake
  thirdparty/CMakeLists.txt
Labels: category: build

#13005 Fixed Android post-commit
  .ci/azure/android_arm64.yml
  .ci/azure/linux_arm64.yml
  cmake/dependencies.cmake
  src/tests/functional/inference_engine/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: build, platform: arm, platform: linux

#12997 Typo fixes in main README
  README.md
Labels: category: docs

#12974 [DOCS] Update serialization of model with Python API
  docs/snippets/ov_preprocessing.py
Labels: category: docs

#12989 [GPU] Minor fix for dynamic reshape
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/tests/shape_infer/reshape_si_test.cpp
Labels: category: GPU

#12467 [GPU] Softmax blocked layouts support
  src/plugins/intel_gpu/src/graph/impls/ocl/softmax.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/softmax/softmax_items_class_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/softmax/softmax_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/softmax/softmax_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/softmax/softmax_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/softmax_gpu_ref.cl
  src/plugins/intel_gpu/tests/test_cases/softmax_gpu_test.cpp
Labels: category: GPU, ExternalPR

#12502 [benchmark_app] Fix I8 input random generation
  samples/cpp/benchmark_app/inputs_filling.cpp
Labels: category: tools

#12960 Install tbbmalloc for pkg-config case
  cmake/templates/OpenVINOConfig.cmake.in
  src/cmake/ie_parallel.cmake
  src/cmake/install_tbb.cmake
  src/plugins/intel_myriad/third_party/XLink/XLink.cmake
Labels: category: build

#12979 [GPU] Fix strided_slice for dynamic cases
  src/plugins/intel_gpu/src/graph/impls/ocl/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/include/strided_slice_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/tests/test_cases/strided_slice_gpu_test.cpp
Labels: category: GPU

#13012 Fix install of static TBB libs
  cmake/dependencies.cmake
  src/cmake/install_tbb.cmake
Labels: category: build

#12299 【PaddlePaddle Hackathon 3】Add Paddle p_norm operator
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_p_norm.py
  src/frontends/paddle/src/op/p_norm.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: PDPD FE, PaddlePaddle Hackathon

#13011 [GPU] Tile fix for dyn flow
  src/plugins/intel_gpu/include/intel_gpu/plugin/program.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/tile.cpp
  src/plugins/intel_gpu/src/plugin/ops/tile.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
Labels: category: GPU

#13021 [GPU] Concat new shape infer
  src/plugins/intel_gpu/src/graph/concatenation.cpp
  src/plugins/intel_gpu/src/graph/include/concatenation_inst.h
  src/plugins/intel_gpu/tests/shape_infer/concatenation_si_test.cpp
Labels: category: GPU

#12329 【PaddlePaddle Hackathon 3】Add Paddle group_norm operator
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_group_norm.py
  src/frontends/paddle/src/op/group_norm.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: PDPD FE, PaddlePaddle Hackathon

#12355 【PaddlePaddle Hackathon 3】Add Paddle gather_nd operator
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_gather_nd.py
  src/frontends/paddle/src/op/gather_nd.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: PDPD FE, PaddlePaddle Hackathon

#12070 [GPU] Blocked layouts support for AdaptivePooling
  src/plugins/intel_gpu/src/graph/impls/ocl/adaptive_pooling.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/adaptive_pooling/adaptive_pooling_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/adaptive_pooling_gpu_ref.cl
  src/plugins/intel_gpu/tests/test_cases/adaptive_avg_pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/adaptive_max_pooling_gpu_test.cpp
Labels: category: GPU, ExternalPR

#12999 [GPU] scatter_update and shape_of shape infer + minor dyn flow fixes
  src/plugins/intel_gpu/include/intel_gpu/primitives/shape_of.hpp
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/include/scatter_update_inst.h
  src/plugins/intel_gpu/src/graph/include/shape_of_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/scatter_update.cpp
  src/plugins/intel_gpu/src/graph/shape_of.cpp
  src/plugins/intel_gpu/src/plugin/ops/eltwise.cpp
  src/plugins/intel_gpu/src/plugin/ops/gather.cpp
  src/plugins/intel_gpu/tests/shape_infer/scatter_update_si_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/shape_of_si_test.cpp
Labels: category: GPU

#13022 [GPU] Weights reorder cache
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/lru_cache.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/tests/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#12908 add troubleshooting item for PRC users
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#12856 [CPU functional/unit]Change cpu functional and unit test to snake case
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
  src/plugins/intel_cpu/tests/unit/CMakeLists.txt
Labels: category: IE Tests, category: CPU

#12993 Add linux_cuda.yml Azure pipeline
  .ci/azure/linux_cuda.yml
Labels: category: CI

#13033 [GPU] Disable blocked format support in Softmax
  src/plugins/intel_gpu/src/graph/impls/ocl/softmax.cpp
Labels: category: GPU

#12863 Lto1 internal compiler error
  src/common/transformations/src/transformations/op_conversions/eye_decomposition.cpp
  src/core/dev_api/node_registry.hpp
  src/core/include/openvino/pass/graph_rewrite.hpp
  src/core/src/pass/graph_rewrite.cpp
Labels: category: IE transformations

#13039 [Frontend, TF FE] Fix RTTI for ConversionExtension on MacOS
  src/frontends/common/include/openvino/frontend/extension/conversion.hpp
  src/frontends/common/src/extension/conversion.cpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/extension/conversion.hpp
  src/frontends/tensorflow/src/extension/conversion.cpp
Labels: category: Core

#13027 [GPU] Update reshape factory to handle dynamic cases
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/ops/reshape.cpp
Labels: category: GPU

#12545 【PaddlePaddle Hackathon 3】Add Paddle sum operator
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_sum.py
  src/frontends/paddle/src/op/sum.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: PDPD FE, PaddlePaddle Hackathon

#12927 [Docs] Updating archive names in qsg
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
Labels: category: docs

#13026 fix coredump when quit benchmark_app
  src/plugins/auto/auto_schedule.cpp
  src/plugins/auto/bind_multi_schedule.cpp
  src/plugins/auto/bind_multi_schedule.hpp
  src/plugins/auto/multi_executable_network.hpp
  src/plugins/auto/multi_schedule.cpp
  src/plugins/auto/plugin.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/life_time.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/life_time.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/life_time.cpp
Labels: pr: needs tests

#12506 [GPU] Resolve execution failure of oneDNN reduction
  src/plugins/intel_gpu/src/graph/impls/onednn/reduction_onednn.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/test_cases/reduce_gpu_test.cpp
Labels: category: GPU

#12487 [GPU] Device select options
  src/plugins/intel_gpu/include/intel_gpu/runtime/device_query.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/remote_context.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/src/runtime/device_query.cpp
  src/plugins/intel_gpu/src/runtime/engine.cpp
  src/plugins/intel_gpu/tests/CMakeLists.txt
  src/plugins/intel_gpu/tests/gtest_main_gpu.cpp
  src/plugins/intel_gpu/tests/test_cases/cl_mem_input_test.cpp
  src/plugins/intel_gpu/tests/test_cases/convert_color_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/topology_test.cpp
  src/plugins/intel_gpu/tests/test_utils/opencl_helper_instance.hpp
Labels: category: GPU

#12437 【PaddlePaddle Hackathon 3】Add Paddle where_index operator
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_where_index.py
  src/frontends/paddle/src/op/where_index.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: PDPD FE, PaddlePaddle Hackathon

#12897 [GPU] implement calc_output_layouts for eltwise
  src/plugins/intel_gpu/include/intel_gpu/primitives/eltwise.hpp
  src/plugins/intel_gpu/src/graph/eltwise.cpp
  src/plugins/intel_gpu/src/graph/include/eltwise_inst.h
  src/plugins/intel_gpu/src/graph/include/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/plugin/ops/eltwise.cpp
  src/plugins/intel_gpu/tests/shape_infer/eltwise_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#12125 [GPU] Add blocked layouts support for Roll operation
  src/plugins/intel_gpu/src/graph/impls/ocl/roll.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/roll/roll_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/roll_gpu_test.cpp
Labels: category: GPU, ExternalPR, under_perf_check

#12667 [GPU] Compare float value with tolerance in unit test
  src/plugins/intel_gpu/tests/test_cases/activation_simple_gpu_test.cpp
Labels: category: GPU

#13061 [C API] add more descriptions about ov_model & ov_compiled_model
  src/bindings/c/include/openvino/c/ov_compiled_model.h
  src/bindings/c/include/openvino/c/ov_model.h
Labels: category: C API

#13089 [ONNX FE Tests] Fix ONNX FE tests on Debian
  .ci/azure/linux_debian.yml
Labels: category: CI

#13093 Added support of universal2 OSX binaries
  cmake/dependencies.cmake
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/target_flags.cmake
  cmake/features.cmake
  cmake/test_model_zoo.cmake
  samples/cpp/CMakeLists.txt
  src/cmake/install_tbb.cmake
  src/cmake/openvino.cmake
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/engine.cpp
  thirdparty/CMakeLists.txt
  thirdparty/protobuf/CMakeLists.txt
Labels: category: build, platform: arm, platform: osx

#13090 Fixed ov_coverage target
  cmake/coverage.cmake
  cmake/developer_package/coverage/coverage.cmake
  cmake/developer_package/coverage/coverage_clean.cmake
  cmake/developer_package/coverage/coverage_merge.cmake
  cmake/developer_package/features.cmake
  src/core/tests/CMakeLists.txt
Labels: category: build

#13100 Fixed comments after coverage PR
  cmake/coverage.cmake
  cmake/developer_package/coverage/coverage.cmake
  cmake/developer_package/features.cmake
Labels: category: build

#13078 Fixed issue with missing operations in SubgraphDumper
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/op_cloner.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/ops_cache.cpp
Labels: conformance

#13117 Fixed comments on dev doc
  CONTRIBUTING.md
  README.md
  docs/dev/coding_style.md
Labels: category: docs

#12752 [API Conformance] Fix test instances according test requirments
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/include/api_conformance_helpers.hpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/executable_network/get_metric.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_plugin/properties.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/plugin/configuration_tests.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/behavior/executable_network/get_metric.hpp
Labels: conformance

#12978 Enable mock fe tests in python api 2.0 tests
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  cmake/features.cmake
  src/bindings/python/CMakeLists.txt
  src/bindings/python/tests/mock/mock_py_frontend/CMakeLists.txt
  src/bindings/python/tests/mock/mock_py_frontend/include/mock_py_frontend/mock_py_frontend.hpp
  src/bindings/python/tests/mock/mock_py_frontend/include/mock_py_frontend/visibility.hpp
  src/bindings/python/tests/mock/mock_py_frontend/src/mock_py_frontend.cpp
  src/bindings/python/tests/mock/pyngraph_fe_mock_api/CMakeLists.txt
  src/bindings/python/tests/mock/pyngraph_fe_mock_api/pyngraph_mock_frontend_api.cpp
  src/bindings/python/tests/test_frontend/test_frontend_extension.py
  src/bindings/python/tests/test_frontend/test_frontendmanager.py
  src/core/tests/frontend/mock_frontend.cpp
  thirdparty/CMakeLists.txt
  tools/mo/CMakeLists.txt
Labels: category: build, category: Python API

#13102 [GPU] Fix infer() for queue sharing case
  src/plugins/intel_gpu/include/intel_gpu/plugin/async_infer_request.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/async_infer_request_legacy.hpp
  src/plugins/intel_gpu/src/plugin/async_infer_request.cpp
  src/plugins/intel_gpu/src/plugin/async_infer_request_legacy.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
Labels: category: GPU

#12718 [CPU] Added support AVX2 and SSE for jit_emu_vcvtneps2bf16
  src/plugins/intel_cpu/src/emitters/jit_bf16_emitters.hpp
  src/plugins/intel_cpu/src/emitters/jit_conversion_emitters.cpp
  src/plugins/intel_cpu/src/emitters/jit_conversion_emitters.hpp
  src/plugins/intel_cpu/src/emitters/jit_load_store_emitters.cpp
  src/plugins/intel_cpu/src/emitters/jit_load_store_emitters.hpp
  src/plugins/intel_cpu/src/nodes/common/softmax.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/normalize.cpp
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/src/nodes/region_yolo.cpp
  src/plugins/intel_cpu/src/utils/jit_kernel.cpp
  src/plugins/intel_cpu/tests/unit/jit_kernel_test.cpp
Labels: category: CPU

#12674 [GPU] Unfusion for invalid patterns in dynamic case
  src/plugins/intel_gpu/src/graph/eltwise.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_dump_graph.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
  src/plugins/intel_gpu/tests/passes/prepare_primitive_fusing_test.cpp
Labels: category: GPU

#12420 [GPU] Layout querying for onednn
  src/plugins/intel_gpu/src/graph/convolution.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/set_required_layouts.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/src/graph/include/convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/layout_optimizer.h
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
Labels: category: GPU

#12553 [Benchmark] benchmark_app need disable auto batching if batch size is set.
  samples/cpp/benchmark_app/main.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/src/ie_core.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  tools/benchmark_tool/openvino/tools/benchmark/benchmark.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: pr: needs tests

#13125 [GPU] Support corss-data type from detection output
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/detection_output/detection_output_kernel_ref.cpp
Labels: category: GPU

#13124 [GPU] Fix performance regression caused by surfaces_lock::create()
  src/plugins/intel_gpu/src/graph/network.cpp
Labels: category: GPU

#12363 [CPU] tails optimization for load/store emitters
  src/plugins/intel_cpu/src/emitters/jit_load_store_emitters.cpp
Labels: category: CPU

#12280 [PyOV] Drop Python 3.6 support
  .github/github_org_control/configs.py
  .github/workflows/mo.yml
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-raspbian.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
  install_build_dependencies.sh
  src/bindings/python/docs/api_overview.md
  src/bindings/python/docs/contributing.md
  src/bindings/python/docs/python_version_upgrade.md
  src/bindings/python/setup.cfg
  src/bindings/python/src/compatibility/ngraph/opset1/ops.py
  src/bindings/python/src/compatibility/openvino/README.md
  src/bindings/python/src/compatibility/openvino/setup.cfg
  src/bindings/python/src/openvino/helpers/packing.py
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/tests/test_frontend/test_frontend_onnx_editor.py
  src/bindings/python/tests/test_frontend/test_frontendmanager.py
  src/bindings/python/tests/test_onnx/utils/__init__.py
  src/bindings/python/tests/test_utils/test_utils.py
  src/bindings/python/wheel/setup.py
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_multi_tensor_split.py
  tools/mo/install_prerequisites/install_prerequisites.sh
  tools/pot/README_dev.md
  tools/pot/docs/FrequentlyAskedQuestions.md
Labels: category: Python API

#13114 [Python] Relinquish infer request handle before handling exception
  src/bindings/python/src/pyopenvino/core/async_infer_queue.cpp
  src/bindings/python/tests/test_runtime/test_infer_request.py
Labels: category: Python API

#12844 AUGRUCell fusion transformation
  src/common/transformations/include/transformations/common_optimizations/augru_cell_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/augru_cell_fusion.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/augru_cell_fusion.cpp
Labels: category: IE transformations

#13016 [GPU] Fix some conv and pooling unit tests for DG2
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/pooling_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.h
Labels: category: GPU

#12843 GRUCell fusion transformation
  src/common/transformations/include/transformations/common_optimizations/gru_cell_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/gru_cell_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/gru_cell_fusion.cpp
Labels: category: IE transformations

#12928 [Transform] Additional pattern for GELU fusion
  src/common/transformations/include/transformations/common_optimizations/gelu_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/gelu_fusion.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/gelu_fusion.cpp
Labels: category: IE transformations

#13066 [GPU] Per stage profiling for primitive_inst execution
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/profiling.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/utils.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
Labels: category: GPU

#12571 [CPU] rnn: add pd to cache for preparing memory accordingly
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/lstm_sequence.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/lstm_cell.cpp
Labels: category: CPU

#13163 Dev doc guide
  docs/dev/dev_doc_guide.md
  docs/dev/index.md
Labels: category: docs

#12515 [MO] enable ir_reader read and write Quantico model
  tools/mo/openvino/tools/mo/ops/If.py
  tools/mo/openvino/tools/mo/utils/ir_engine/ir_engine.py
  tools/mo/openvino/tools/mo/utils/ir_reader/extenders/if_extender.py
  tools/mo/openvino/tools/mo/utils/ir_reader/extenders/parameter_extender.py
Labels: category: MO

#13184 [GPU] Ignore exception that happens during layout querying
  src/plugins/intel_gpu/src/graph/graph_optimizer/set_required_layouts.cpp
Labels: category: GPU

#12930 [POT] Unroll GRUCell for GNA
  src/common/offline_transformations/src/pot_transformations.cpp
  tools/pot/tests/data/models/gru_example/gru_example.json
  tools/pot/tests/data/models/gru_example/gru_example.onnx
  tools/pot/tests/data/reference_models/gru_example_pytorch.xml
  tools/pot/tests/data/reference_models/lstm_example_pytorch.xml
  tools/pot/tests/test_graph.py
  tools/pot/tests/utils/check_graph.py
Labels: category: POT

#13198 Tensorflow func tests
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  .ci/azure/windows.yml
  cmake/dependencies.cmake
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/shellcheck/shellcheck.cmake
  src/bindings/python/tests/mock/mock_py_frontend/CMakeLists.txt
  src/bindings/python/tests/mock/mock_py_frontend/include/mock_py_frontend/frontend_wrappers.hpp
  src/bindings/python/tests/mock/mock_py_frontend/include/mock_py_frontend/mock_py_frontend.hpp
  src/bindings/python/tests/mock/mock_py_frontend/include/mock_py_frontend/visibility.hpp
  src/bindings/python/tests/mock/mock_py_frontend/src/frontend_wrapper.cpp
  src/bindings/python/tests/mock/mock_py_frontend/src/mock_py_frontend.cpp
  src/bindings/python/tests/mock/pyngraph_fe_mock_api/CMakeLists.txt
  src/frontends/ir/CMakeLists.txt
  src/frontends/ir/src/CMakeLists.txt
  src/frontends/onnx/frontend/CMakeLists.txt
  src/frontends/paddle/CMakeLists.txt
  src/frontends/paddle/src/CMakeLists.txt
  src/frontends/tensorflow/CMakeLists.txt
  src/frontends/tensorflow/src/CMakeLists.txt
  src/frontends/tensorflow/src/helper_ops/internal_operation.hpp
  src/frontends/tensorflow/src/helper_ops/sparse_fill_empty_rows.hpp
  src/frontends/tensorflow/src/helper_ops/sparse_segment_ops.hpp
  src/frontends/tensorflow/src/helper_ops/unique.hpp
  src/frontends/tensorflow/src/helper_transforms/embedding_segments_feature_fusing.cpp
  src/frontends/tensorflow/src/helper_transforms/embedding_segments_feature_fusing.hpp
  src/frontends/tensorflow/src/pass/transpose_sinking.cpp
  src/frontends/tensorflow/src/pass/transpose_sinking.hpp
  src/frontends/tensorflow/tests/CMakeLists.txt
  src/frontends/tensorflow/tests/requirements.txt
  src/frontends/tensorflow/tests/transpose_sinking.cpp
Labels: category: IE Tests, category: build, category: TF FE

#12854 [GPU] Fix DG2 FullyConnected test case
  src/plugins/intel_gpu/tests/fusions/fully_connected_fusion_test.cpp
Labels: category: GPU

#13199 Allow to extra modules by relative path
  cmake/extra_modules.cmake
Labels: category: build

#13201 Improvements for OSX build
  cmake/dependencies.cmake
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
  src/cmake/install_tbb.cmake
  src/frontends/common/CMakeLists.txt
Labels: category: build, platform: osx

#13032 Reduce to use ngraph shape infer at calc_output_layouts
  src/plugins/intel_gpu/src/graph/include/reduce_inst.h
  src/plugins/intel_gpu/src/graph/reduce.cpp
  src/plugins/intel_gpu/tests/shape_infer/reduce_si_test.cpp
Labels: category: GPU

#13197 Ability to build OpenVINO wheel based on OV developer package
  cmake/developer_package/packaging/debian.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm.cmake
  src/bindings/python/CMakeLists.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/frontend_module.cmake
  src/bindings/python/src/pyopenvino/test_utils/CMakeLists.txt
  src/bindings/python/wheel/CMakeLists.txt
  src/bindings/python/wheel/setup.py
  src/common/offline_transformations/CMakeLists.txt
Labels: category: build, category: Python API

#13030 ShapeOf test: convert from LayerTestsCommon to SubgraphBaseTest and enable it
  src/plugins/intel_cpu/tests/functional/single_layer_tests/shapeof.cpp
Labels: category: CPU

#13181 Fix assert in gru cell fusion tests
  src/tests/functional/inference_engine/transformations/common_optimizations/gru_cell_fusion.cpp
Labels: bug

#13185 Fixed NonZero to have sorted result.
  src/plugins/intel_gpu/src/graph/impls/ocl/non_zero.cpp
  src/plugins/intel_gpu/src/graph/include/kernel_selector_helper.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/count_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/count_nonzero_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/gather_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/gather_nonzero_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/count_nonzero_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/gather_nonzero_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/core/kernel_selector_params.h
  src/plugins/intel_gpu/tests/test_cases/non_zero_gpu_test.cpp
Labels: category: GPU

#13111 Fix filename confliction at gpu source dump (#13110)
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
Labels: category: GPU, ExternalPR

#13150 [GPU] Fix issues in tc for reduce fusion
  src/plugins/intel_gpu/src/graph/impls/onednn/reduction_onednn.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#13218 Removed excess rpath for libraries in wheel
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  cmake/templates/OpenVINODeveloperPackageConfig.cmake.in
  src/bindings/python/wheel/setup.py
  src/cmake/install_tbb.cmake
Labels: category: build

#10760 [CPU][DS] Primitive caching for Def.Conv.
  src/plugins/intel_cpu/src/nodes/def_conv.cpp
  src/plugins/intel_cpu/src/nodes/def_conv.h
  src/plugins/intel_cpu/tests/functional/single_layer_tests/deformable_convolution.cpp
Labels: category: IE Tests, category: CPU

#13176 [GNA]: Split eltwise using ngraph
  src/common/legacy/src/graph_transformer.cpp
  src/plugins/intel_gna/gna_plugin.cpp
  src/plugins/intel_gna/layers/gna_split_layer.hpp
  src/plugins/intel_gna/optimizer/gna_pass_manager.cpp
  src/plugins/intel_gna/transformations/split_eltwise.cpp
  src/plugins/intel_gna/transformations/split_eltwise.hpp
  src/tests/functional/plugin/gna/pass_tests/eltwise_split_over_channels_pass.cpp
  src/tests/unit/gna/ngraph/transformations/gna_split_eltwise.cpp
Labels: category: GNA

#13236 Fix unknown --validate option with pkg-config lower than 0.29
  src/cmake/openvino.cmake
Labels: category: build, platform: linux

#13233 [GNA] Fixed import/export test
  src/tests/functional/plugin/gna/Import_export_tests/import_reshape_permute_conv.cpp
Labels: category: GNA

#12985 [CAPI]Unicode support
  src/bindings/c/include/openvino/c/ov_common.h
  src/bindings/c/include/openvino/c/ov_core.h
  src/bindings/c/src/CMakeLists.txt
  src/bindings/c/src/ov_core.cpp
  src/bindings/c/tests/CMakeLists.txt
  src/bindings/c/tests/ov_core_test.cpp
  src/bindings/c/tests/ov_test.cpp
  src/bindings/c/tests/ov_test.hpp
Labels: category: C API

#12602 Convolution shape inference
  src/core/include/openvino/op/convolution.hpp
  src/core/include/openvino/op/group_conv.hpp
  src/core/shape_inference/CMakeLists.txt
  src/core/shape_inference/include/broadcast_shape_inference.hpp
  src/core/shape_inference/include/convolution_shape_inference.hpp
  src/core/shape_inference/include/depth_to_space_shape_inference.hpp
  src/core/shape_inference/include/eye_shape_inference.hpp
  src/core/shape_inference/include/fake_quantize.hpp
  src/core/shape_inference/include/generate_proposals_shape_inference.hpp
  src/core/shape_inference/include/irdft_shape_inference.hpp
  src/core/shape_inference/include/matmul_shape_inference.hpp
  src/core/shape_inference/include/multiclass_nms_shape_inference.hpp
  src/core/shape_inference/include/nms_shape_inference.hpp
  src/core/shape_inference/include/rdft_shape_inference.hpp
  src/core/shape_inference/include/read_value_shape_inference.hpp
  src/core/shape_inference/include/reduce_shape_inference.hpp
  src/core/shape_inference/include/reorg_yolo_shape_inference.hpp
  src/core/shape_inference/include/reverse_sequence_shape_inference.hpp
  src/core/shape_inference/include/rfft_common_validation.hpp
  src/core/shape_inference/include/shape_nodes.hpp
  src/core/shape_inference/include/space_to_depth_shape_inference.hpp
  src/core/shape_inference/include/split_shape_inference.hpp
  src/core/shape_inference/include/tile_shape_inference.hpp
  src/core/shape_inference/include/utils.hpp
  src/core/src/dimension.cpp
  src/core/src/op/convolution.cpp
  src/core/src/op/group_conv.cpp
  src/core/src/pass/serialize.cpp
  src/core/tests/dimension.cpp
  src/core/tests/type_prop/convolution.cpp
  src/core/tests/type_prop/convolution_backprop_data.cpp
  src/core/tests/type_prop/group_convolution.cpp
  src/core/tests/type_prop/group_convolution_backprop_data.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/static_dimension.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/static_dimension.hpp
Labels: category: Core

#13226 update linux section of gna config
  docs/install_guides/configurations-for-intel-gna.md
Labels: category: docs

#13168 [GPU] Impls cache perf improvement
  src/plugins/intel_gpu/include/intel_gpu/runtime/lru_cache.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#13250 Change debug information format from Z7 to Zi for transformation library on Windows
  src/common/transformations/CMakeLists.txt
Labels: bug

#13214 [GPU] Several fixes for dynamic int8 bert
  src/plugins/intel_gpu/src/graph/include/concatenation_inst.h
  src/plugins/intel_gpu/src/graph/include/gather_inst.h
  src/plugins/intel_gpu/src/graph/include/one_hot_inst.h
  src/plugins/intel_gpu/src/graph/include/quantize_inst.h
  src/plugins/intel_gpu/src/graph/include/reorder_inst.h
  src/plugins/intel_gpu/src/graph/include/softmax_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/quantize.cpp
  src/plugins/intel_gpu/src/plugin/ops/broadcast.cpp
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/tests/passes/prepare_primitive_fusing_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/quantize_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/reshape_gpu_test.cpp
Labels: category: GPU

#13213 [PyOV] Making offline_transformations a private module
  src/bindings/python/.gitignore
  src/bindings/python/setup.py
  src/bindings/python/src/openvino/_offline_transformations/__init__.py
  src/bindings/python/src/openvino/offline_transformations/__init__.py
  src/bindings/python/src/pyopenvino/core/offline_transformations.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_package_versions.py
  tools/mo/openvino/tools/mo/back/offline_transformations.py
  tools/mo/openvino/tools/mo/main.py
  tools/mo/openvino/tools/mo/moc_frontend/serialize.py
  tools/mo/openvino/tools/mo/utils/check_ie_bindings.py
  tools/mo/openvino/tools/mo/utils/error.py
  tools/mo/unit_tests/mo/utils/error_test.py
Labels: category: Python API

#13247 Update version badge in README to 2022.2
  README.md
Labels: category: docs

#13246 Fixed documentation for tests
  tests/stress_tests/README.md
  tests/time_tests/README.md
Labels: category: docs

#12491 [GPU] Add 1d to 1d weight kernel when creating ConstantOp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16_depthwise.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/convolution_gpu_bfyx_f16_depthwise.cl
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#13209 [GPU] Fixes for onednn-based impls for dynamic models
  src/plugins/intel_gpu/src/graph/graph_optimizer/set_required_layouts.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/pooling_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/impls/onednn/reduction_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/reorder_onednn.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#12368 【PaddlePaddle Hackathon 3】Add Paddle ceil operator
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_ceil.py
  src/frontends/paddle/src/op/ceil.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: PDPD FE, PaddlePaddle Hackathon

#12880 [CPU] The registers pool implementation for JIT kernels.
  src/plugins/intel_cpu/src/nodes/kernels/registers_pool.hpp
  src/plugins/intel_cpu/src/utils/cpu_utils.hpp
  src/plugins/intel_cpu/tests/unit/registers_pool.cpp
Labels: category: CPU, ExternalPR

#13260 [CPU] Fixes for static postops after dynamic convolutions
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/reorder.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/conv_sum_broadcast.cpp
Labels: category: CPU

#13279 [CAPI]Remove unreasonable assert in test cases
  src/bindings/c/tests/ov_compiled_model_test.cpp
  src/bindings/c/tests/ov_core_test.cpp
  src/bindings/c/tests/ov_infer_request_test.cpp
  src/bindings/c/tests/ov_model_test.cpp
  src/bindings/c/tests/ov_preprocess_test.cpp
Labels: category: IE Tests, category: C API

#13284 Install only required files from thirdparty for samples
  thirdparty/CMakeLists.txt
  thirdparty/zlib/CMakeLists.txt
Labels: category: samples

#12656 [GPU] Add bs_fs_yx_bsv16_fsv16 format to interpolate.
  src/plugins/intel_gpu/src/graph/impls/ocl/resample.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/tests/test_cases/resample_gpu_test.cpp
Labels: category: GPU, ExternalPR, under_perf_check
