Repository openvinotoolkit/openvino, pull requests merged in 2022-10, with the labels that each got.

#13140 [POT] Support SoftSign quantization for GNA
  tools/pot/openvino/tools/pot/configs/hardware/gna.json
  tools/pot/openvino/tools/pot/configs/hardware/gna3.json
  tools/pot/openvino/tools/pot/graph/passes.py
  tools/pot/tests/data/hardware_configs/gna.json
  tools/pot/tests/data/models/softsign_example/softsign_example.json
  tools/pot/tests/data/models/softsign_example/softsign_example.pb
  tools/pot/tests/data/reference_models/softsign_example_tf.xml
  tools/pot/tests/test_graph.py
Labels: category: POT

#13265 [CAPI] add more test cases for element type
  src/bindings/c/src/ov_core.cpp
  src/bindings/c/tests/ov_core_test.cpp
  src/bindings/c/tests/ov_tensor_test.cpp
  src/bindings/c/tests/ov_test.cpp
  src/bindings/c/tests/ov_test.hpp
Labels: category: IE Tests, category: C API

#12845 SequenceFusion transformation
  src/common/transformations/include/transformations/common_optimizations/sequence_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/sequence_fusion.cpp
  src/core/include/openvino/op/lstm_cell.hpp
  src/core/src/op/lstm_cell.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/sequence_fusion.cpp
Labels: category: IE transformations

#12229 Add Interpolate-4 to Python API and opset10
  src/bindings/python/src/compatibility/ngraph/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset10/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset10/ops.py
  src/bindings/python/src/compatibility/ngraph/utils/node_factory.py
  src/bindings/python/src/compatibility/pyngraph/node_factory.cpp
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/openvino/runtime/opset10/__init__.py
  src/bindings/python/src/openvino/runtime/opset10/ops.py
  src/bindings/python/src/pyopenvino/graph/node_factory.cpp
  src/bindings/python/src/pyopenvino/graph/passes/pattern_ops.cpp
  src/bindings/python/tests/test_graph/test_create_op.py
  src/bindings/python/tests/test_transformations/test_pattern_ops.py
  src/bindings/python/tests_compatibility/test_ngraph/test_create_op.py
  src/core/include/ngraph/opsets/opset.hpp
  src/core/include/ngraph/opsets/opset10.hpp
  src/core/include/ngraph/opsets/opset10_tbl.hpp
  src/core/include/openvino/opsets/opset.hpp
  src/core/include/openvino/opsets/opset10.hpp
  src/core/include/openvino/opsets/opset10_tbl.hpp
  src/core/src/opsets/opset.cpp
Labels: category: Python API

#12906 [MO] cleanup fused names after all transformations
  src/bindings/python/src/openvino/_offline_transformations/__init__.py
  src/bindings/python/src/openvino/offline_transformations/__init__.py
  src/bindings/python/src/pyopenvino/core/offline_transformations.cpp
  src/bindings/python/tests/test_transformations/test_offline_api.py
  src/common/transformations/include/transformations/common_optimizations/fused_names_cleanup.hpp
  src/common/transformations/src/transformations/common_optimizations/fused_names_cleanup.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/fused_names_cleanup.cpp
  tools/mo/openvino/tools/mo/back/offline_transformations.py
  tools/mo/openvino/tools/mo/moc_frontend/serialize.py
  tools/mo/openvino/tools/mo/utils/check_ie_bindings.py
Labels: category: IE transformations

#13097 [GPU] resolve accruacy issue related to concat
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/fusions/concatenate_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#13312 [GPU] Fix reshape shape calculation for MatMul operation
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/mat_mul.cpp
Labels: category: GPU

#13318 [CONFORMANCE] Conformance report improvements
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/style.css
Labels: conformance

#13324 Update core doc
  src/core/README.md
  src/core/docs/api_details.md
  src/core/docs/debug_capabilities.md
Labels: category: docs

#12010 [GPU] Implement (I)RDFT-9
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/dft.hpp
  src/plugins/intel_gpu/src/graph/dft.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/dft.cpp
  src/plugins/intel_gpu/src/graph/include/dft_inst.h
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/dft/dft_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/dft/dft_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/dft_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/dft.cpp
  src/plugins/intel_gpu/tests/test_cases/dft_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/dft.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/rdft.cpp
Labels: category: GPU, ExternalPR

#12995 [GPU] PriorBox-8
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/prior_box.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/calculate_prior_boxes.cpp
  src/plugins/intel_gpu/src/graph/impls/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/prior_box.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/prior_box.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/prior_box/prior_box_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/prior_box/prior_box_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/prior_box/prior_box_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/prior_box/prior_box_kernel_selector.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/prior_box_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/prior_box.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/test_cases/prior_box_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/prior_box.cpp
  src/tests/functional/shared_test_classes/src/single_layer/prior_box.cpp
Labels: category: GPU, ExternalPR

#13331 Proper folder during compilation for arm64 on intel
  cmake/developer_package/IEDevScriptsConfig.cmake
Labels: platform: osx

#13083 Compilation with conda build
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/target_flags.cmake
  samples/cpp/CMakeLists.txt
  src/common/preprocessing/CMakeLists.txt
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/plugins/intel_gna/cmake/libGNAConfig.cmake
  src/plugins/intel_gpu/src/graph/border.cpp
  src/plugins/intel_gpu/src/graph/broadcast.cpp
  src/plugins/intel_gpu/src/graph/concatenation.cpp
  src/plugins/intel_gpu/src/graph/eltwise.cpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/gather.cpp
  src/plugins/intel_gpu/src/graph/gather_elements.cpp
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/mvn.cpp
  src/plugins/intel_gpu/src/graph/one_hot.cpp
  src/plugins/intel_gpu/src/graph/permute.cpp
  src/plugins/intel_gpu/src/graph/quantize.cpp
  src/plugins/intel_gpu/src/graph/reduce.cpp
  src/plugins/intel_gpu/src/graph/resample.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/graph/scatter_update.cpp
  src/plugins/intel_gpu/src/graph/shape_of.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/tile.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/common/jitter.cpp
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/low_precision_transformations/reduce_mean_transformation.hpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/reduce_mean_transformation.cpp
  src/tests/ie_test_utils/common_test_utils/ov_tensor_utils.cpp
  thirdparty/CMakeLists.txt
  thirdparty/cnpy/cnpy.h
Labels: category: build

#13113 [BENCHAMRK_APP/PYTHON] CV2 module required only when loading images
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
Labels: category: samples

#12821 [GPU] added 5d supporting to interpolate onnx and tests
  src/plugins/intel_gpu/src/graph/impls/ocl/resample.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/resample/resample_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/resample_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/interpolate.cpp
  src/plugins/intel_gpu/tests/test_cases/resample_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/interpolate.cpp
Labels: category: GPU, ExternalPR, under_perf_check

#13180 [GPU] Fix a bug of reorder optimized-out
  src/plugins/intel_gpu/src/graph/network.cpp
Labels: category: GPU

#12395 [Snippets] Added support of INT8 models
  src/common/snippets/include/snippets/op/convert_saturation.hpp
  src/common/snippets/include/snippets/op/convert_truncation.hpp
  src/common/snippets/include/snippets/op/subgraph.hpp
  src/common/snippets/include/snippets/pass/align_element_type.hpp
  src/common/snippets/include/snippets/pass/common_optimizations.hpp
  src/common/snippets/include/snippets/pass/convert_constants.hpp
  src/common/snippets/include/snippets/pass/fq_decomposition.hpp
  src/common/snippets/include/snippets/pass/insert_convert_on_inputs.hpp
  src/common/snippets/include/snippets/pass/insert_movebroadcast.hpp
  src/common/snippets/include/snippets/pass/reset_type_relaxed_node_precision.hpp
  src/common/snippets/include/snippets/pass/transform_convert.hpp
  src/common/snippets/include/snippets/utils.hpp
  src/common/snippets/src/op/convert_saturation.cpp
  src/common/snippets/src/op/convert_truncation.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/align_element_type.cpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/common_optimizations.cpp
  src/common/snippets/src/pass/convert_constants.cpp
  src/common/snippets/src/pass/fq_decomposition.cpp
  src/common/snippets/src/pass/insert_convert_on_inputs.cpp
  src/common/snippets/src/pass/insert_movebroadcast.cpp
  src/common/snippets/src/pass/load_movebroadcast_to_broadcastload.cpp
  src/common/snippets/src/pass/reset_type_relaxed_node_precision.cpp
  src/common/snippets/src/pass/transform_convert.cpp
  src/common/snippets/src/utils.cpp
  src/common/snippets/tests/src/broadcast_fusion.cpp
  src/common/snippets/tests/src/movebroadcast.cpp
  src/common/snippets/tests/src/pass/fake_quantize_decomposition_test.cpp
  src/common/snippets/tests/src/pass/insert_load_store.cpp
  src/common/snippets/tests/src/pass/insert_movebroadcast.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/emitters/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/jit_dnnl_ext_emitters.hpp
  src/plugins/intel_cpu/src/emitters/jit_load_store_emitters.cpp
  src/plugins/intel_cpu/src/emitters/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/exec_network.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/ngraph_transformations/snippets_mark_skipped.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/snippets_mark_skipped.hpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/if.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.h
  src/plugins/intel_cpu/src/nodes/tensoriterator.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/fake_quantize_decomposition_test.cpp
  src/plugins/intel_cpu/tests/unit/snippets/fake_quantize_tokenization_test.cpp
  src/tests/functional/plugin/shared/include/snippets/fake_quantize_decomposition_test.hpp
  src/tests/functional/plugin/shared/src/snippets/fake_quantize_decomposition_test.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/snippets_test_utils.hpp
  src/tests/functional/shared_test_classes/src/base/snippets_test_utils.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/fake_quantize_function.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/function_helper.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/fake_quantize_function.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/function_helper.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_lowered.cpp
Labels: category: CPU

#13333 Review opset1 matmul shape inference aspects
  src/core/tests/type_prop/matmul.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/matmul_shape_inference.cpp
  src/tests/util/CMakeLists.txt
  src/tests/util/type_prop.cpp
  src/tests/util/type_prop.hpp
Labels: category: Core, category: CPU

#13336 [GNA] Fix std::bad_alloc for split eltwise
  src/plugins/intel_gna/layers/gna_split_layer.hpp
  src/tests/unit/gna/ngraph/transformations/gna_split_eltwise.cpp
Labels: category: GNA

#13216 Crop(Split and VariadicSplit) new shape infer
  src/core/shape_inference/include/split_shape_inference.hpp
  src/core/shape_inference/include/variadic_split_shape_inference.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/crop.hpp
  src/plugins/intel_gpu/src/graph/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/crop.cpp
  src/plugins/intel_gpu/src/graph/include/crop_inst.h
  src/plugins/intel_gpu/src/graph/include/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/ops/split.cpp
  src/plugins/intel_gpu/tests/shape_infer/crop_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/crop_gpu_test.cpp
Labels: category: GPU

#13266 Enabled LTO for OSX
  cmake/developer_package/features.cmake
Labels: category: build, platform: osx

#13037 [GPU] Convert AvgPool to Reduce for onednn
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_pooling_to_reduce.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_pooling_to_reduce.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/CMakeLists.txt
  src/plugins/intel_gpu/tests/transformations/convert_pooling_to_reduce_test.cpp
Labels: category: GPU

#13358 [CONFORMANCE] Fix Summary
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
Labels: conformance

#13366 Changed structure of core components and fixed links
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
  README.md
  src/README.md
  src/bindings/README.md
  src/frontends/README.md
  src/frontends/ir/README.md
  src/frontends/ir/docs/architecture.md
  src/plugins/README.md
Labels: category: docs

#13364 Fixed small comments after enabling warning as error
  .ci/azure/linux_cuda.yml
  .ci/azure/windows_conditional_compilation.yml
  src/core/include/ngraph/variant.hpp
  src/core/src/variant.cpp
  src/frontends/onnx/frontend/src/op/mean_variance_normalization.cpp
  src/plugins/intel_gna/frontend/quantization.cpp
  src/plugins/intel_gna/runtime/pwl.cpp
Labels: category: build

#11937 [GPU] eye-like operation
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/eye.hpp
  src/plugins/intel_gpu/src/graph/eye.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/eye.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/include/eye_inst.h
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eye/eye_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eye/eye_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eye/eye_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eye/eye_kernel_selector.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/eye_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/eye.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/test_cases/eye.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/eye.cpp
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/single_op_graph.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/eye.hpp
  src/tests/functional/shared_test_classes/src/single_layer/eye.cpp
Labels: category: GPU, ExternalPR

#13048 [LPT] Removed legacy limitations on dequantization propagation for several transformations
  src/common/low_precision_transformations/src/concat.cpp
  src/common/low_precision_transformations/src/split.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/move_fake_quantize_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_different_precision_on_children.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_fq_tranformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_unsupported_axis_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/move_fake_quantize_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/split_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/variadic_split_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/concat_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/split_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/concat_function.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/split_function.cpp
Labels: category: LP transformations

#12370 【PaddlePaddle Hackathon 3】Add Paddle elementwise_mod operator
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_elementwise_ops.py
  src/frontends/paddle/src/op/elementwise_ops.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: PDPD FE, PaddlePaddle Hackathon

#12937 Opset 1 transpose shape inference review
  src/core/include/openvino/core/validation_util.hpp
  src/core/include/openvino/op/op.hpp
  src/core/include/openvino/op/transpose.hpp
  src/core/shape_inference/include/compare.hpp
  src/core/shape_inference/include/sequnce_generator.hpp
  src/core/shape_inference/include/transpose_shape_inference.hpp
  src/core/src/op/transpose.cpp
  src/core/src/validation_util.cpp
  src/core/tests/op_eval/transpose.cpp
  src/core/tests/type_prop/transpose.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/transpose_shape_infernece_test.cpp
  src/tests/functional/inference_engine/lp_transformations/transpose_transformation.cpp
Labels: category: Core

#13356 Subgraphs Dumper fixes
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/op_cloner.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/ops_cache.cpp
Labels: conformance

#13382 Show ccache stats in linux_coverity
  .ci/azure/linux_coverity.yml
Labels: category: CI

#13415 Fixed mac build generation
  .ci/azure/mac.yml
Labels: category: build

#13389 Fixed comments after PR 13366
  README.md
  src/README.md
  src/frontends/ir/README.md
  src/frontends/ir/docs/architecture.md
Labels: category: docs

#13015 [GPU] FullyConnected dynamic
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/include/reorder_inst.h
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/plugins/intel_gpu/src/plugin/ops/rnn.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/tests/test_cases/fully_connected_gpu_test.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/matmul.cpp
Labels: category: GPU

#13374 Group Convolution: prevent dyn input shape from making weights dynamic via ShapeOf
  tools/mo/openvino/tools/mo/back/ConvolutionNormalizer.py
  tools/mo/openvino/tools/mo/front/common/partial_infer/concat.py
  tools/mo/openvino/tools/mo/utils/ir_reader/restore_graph.py
  tools/mo/unit_tests/mo/back/ConvolutionNormalizer_test.py
Labels: bug, category: MO

#13406 Fix bug with unknown node type
  tools/pot/openvino/tools/pot/graph/passes.py
  tools/pot/tests/data/models/split_concat_example/split_concat_example.json
  tools/pot/tests/data/models/split_concat_example/split_concat_example.onnx
  tools/pot/tests/data/reference_models/split_concat_example_pytorch.xml
  tools/pot/tests/test_graph.py
Labels: category: POT

#13408 [TF FE] Support DynamicStitch operation
  src/frontends/tensorflow/src/op/parallel_dynamic_stitch.cpp
  src/frontends/tensorflow/src/op_table.cpp
  tests/layer_tests/common/utils/tf_utils.py
  tests/layer_tests/tensorflow_tests/test_tf_ParallelDynamicStitch.py
Labels: category: TF FE

#13428 Extract and move transpose evaluate bounds tests
  src/core/tests/CMakeLists.txt
  src/core/tests/evaluate_bound/transpose.cpp
  src/core/tests/op_eval/transpose.cpp
Labels: category: IE Tests

#13417 Remove deprecated util functions
  src/core/include/ngraph/util.hpp
  src/core/src/util.cpp
  src/core/tests/type_prop/transpose.cpp
Labels: category: nGraph

#13329 The same Conformance IR name version by version
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/rename_conformance_ir.py
Labels: conformance

#13243 [PyOV] Update docs with Python 3.10
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
  docs/notebooks-installation.md
Labels: category: Python API, category: docs

#13439 Added initial documentation version for Inference component
  src/README.md
  src/inference/.clang-format
  src/inference/README.md
  src/inference/dev_api/.clang-format
  src/inference/docs/api_details.md
Labels: category: docs

#13413 [GPU] Fix endless loop issue in onednn optimization post-opt
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#12270 Add conv per-tensor input zero point.
  src/plugins/intel_cpu/src/docs/convPostOps.md
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fake_quantize_with_dq_not_optimal_transformation.cpp
Labels: category: CPU

#12351 [CPU]add interaction op with FP32 & BF16 support
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_interaction.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_interaction.hpp
  src/plugins/intel_cpu/src/ngraph_transformations/op/interaction.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/op/interaction.hpp
  src/plugins/intel_cpu/src/nodes/interaction.cpp
  src/plugins/intel_cpu/src/nodes/interaction.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/interaction.cpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/convert_to_interaction.cpp
Labels: category: CPU

#13462 Disabled TBB and OpenCV downloading for aarch64, keeping only for yocto
  cmake/dependencies.cmake
  cmake/developer_package/target_flags.cmake
  thirdparty/protobuf/CMakeLists.txt
Labels: category: build, platform: linux

#13465 Update information about tests for IR frontend
  src/frontends/ir/README.md
  src/frontends/ir/docs/tests.md
Labels: category: docs

#13339 Infra for device suffix
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/set_device_name.cpp
  src/plugins/template/tests/functional/set_device_name.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/set_device_name.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/set_device_name.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/set_device_name.cpp
  src/tests/functional/plugin/shared/include/set_device_name.hpp
  src/tests/functional/plugin/shared/src/main.cpp
  src/tests/ie_test_utils/common_test_utils/test_common.cpp
  src/tests/ie_test_utils/common_test_utils/test_constants.cpp
  src/tests/ie_test_utils/common_test_utils/test_constants.hpp
Labels: category: IE Tests

#13475 Fix Mac CI. Disable ir frontend tests
  .ci/azure/mac.yml
Labels: platform: osx

#13122 [GPU] Implement CTCLoss-4
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/ctc_loss.hpp
  src/plugins/intel_gpu/src/graph/ctc_loss.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/ctc_loss.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/include/ctc_loss_inst.hpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/ctc_loss/ctc_loss_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/ctc_loss/ctc_loss_kernel_ref.hpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/ctc_loss/ctc_loss_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/ctc_loss/ctc_loss_kernel_selector.hpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/ctc_loss_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/ctc_loss.cpp
  src/plugins/intel_gpu/tests/test_cases/ctc_loss_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/ctc_loss.cpp
Labels: category: GPU, ExternalPR

#13473 [IE TESTS] Move Set_Device_Name to correct place for GNA
  src/plugins/intel_gna/tests/functional/shared_tests_instances/set_device_name.cpp
Labels: category: IE Tests

#13290 [C API DOC] update C API user guide pipeline
  docs/OV_Runtime_UG/integrate_with_your_application.md
  docs/snippets/CMakeLists.txt
  docs/snippets/src/main.c
  docs/snippets/src/main.cpp
Labels: category: docs

#13001 [Core] Move op_eval tests into Template plugin
  src/common/util/include/openvino/util/file_util.hpp
  src/core/tests/CMakeLists.txt
  src/core/tests/op_eval/binary_convolution.cpp
  src/core/tests/op_eval/bucketize.cpp
  src/core/tests/op_eval/clamp.cpp
  src/core/tests/op_eval/einsum.cpp
  src/core/tests/op_eval/floor_mod.cpp
  src/core/tests/op_eval/gelu.cpp
  src/core/tests/op_eval/hsigmoid.cpp
  src/core/tests/op_eval/hswish.cpp
  src/core/tests/op_eval/interpolate.cpp
  src/core/tests/op_eval/loop.cpp
  src/core/tests/op_eval/matmul.cpp
  src/core/tests/op_eval/mish.cpp
  src/core/tests/op_eval/non_zero.cpp
  src/core/tests/op_eval/roi_align.cpp
  src/core/tests/op_eval/roi_pooling.cpp
  src/core/tests/op_eval/round.cpp
  src/core/tests/op_eval/softplus.cpp
  src/core/tests/op_eval/split.cpp
  src/core/tests/op_eval/strided_slice.cpp
  src/core/tests/op_eval/swish.cpp
  src/core/tests/op_eval/transpose.cpp
  src/core/tests/op_eval/variadic_split.cpp
  src/plugins/template/tests/functional/op_reference/floor_mod.cpp
  src/plugins/template/tests/functional/op_reference/interpolate.cpp
  src/plugins/template/tests/functional/op_reference/matmul.cpp
  src/plugins/template/tests/functional/op_reference/split.cpp
  src/plugins/template/tests/functional/op_reference/transpose.cpp
  src/plugins/template/tests/functional/op_reference/variadic_split.cpp
Labels: category: Core, category: TEMPLATE

#13471 Disable v9 test
  src/frontends/ir/tests/frontend_test_basic.cpp
Labels: category: IR FE

#13420 Separation Static and Dynamic operations in Subgraph Dumper serialization
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/ops_cache.cpp
Labels: conformance

#13479 [IE TESTS] Fix cuda plugin fix for PR443
  src/tests/functional/plugin/shared/include/set_device_name.hpp
Labels: category: IE Tests

#13459 [GPU] Optimize reorder between permute and first convolution
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#13444 [GPU] Convert activation's slope buffer data type for OneDNN fusions
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#13489 [GPU] Fix for windows memory fail in func tests
  src/plugins/intel_gpu/src/graph/include/crop_inst.h
Labels: bug, category: GPU

#13481 [PyOV] Fix userdata default value
  src/bindings/python/src/pyopenvino/core/async_infer_queue.cpp
  src/bindings/python/tests/test_runtime/test_infer_request.py
Labels: bug, category: Python API

#13295 [GPU] Baseline primitive, primitive_inst, program_node change for multiple outputs support
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/arg_max_min.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/concatenation.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/permute.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/primitive.hpp
  src/plugins/intel_gpu/src/graph/concatenation.cpp
  src/plugins/intel_gpu/src/graph/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/arg_max_min.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/arg_max_min_inst.h
  src/plugins/intel_gpu/src/graph/include/loop_inst.h
  src/plugins/intel_gpu/src/graph/include/mutable_data_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/input_layout.cpp
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/graph/mutable_data.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/arg_max_min/arg_max_min_kernel_axis.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/arg_max_min/arg_max_min_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/arg_max_min_axis.cl
  src/plugins/intel_gpu/tests/test_cases/arg_max_gpu_test.cpp
Labels: category: GPU

#13504 Fixed arm cross compilation build with custom TBB
  src/cmake/openvino.cmake
Labels: category: build

#13494 [IE TESTS] Fix build with -DENABLE_FUNCTIONAL_TESTS=OFF && -DENABLE_TESTS=ON
  src/tests_deprecated/behavior/shared_tests/plugin_tests/behavior_test_plugin.h
Labels: category: IE Tests

#13495 Fixed RDFT under Rosetta
  src/plugins/intel_cpu/src/nodes/kernels/rdft_kernel.cpp
Labels: platform: arm, platform: osx

#13326 Unbreak ShapeOf conformance test with dynamic shapes
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/read_ir_test/read_ir.cpp
Labels: conformance

#13501 Removed global opset mutex
  src/core/include/ngraph/opsets/opset.hpp
  src/core/include/openvino/opsets/opset.hpp
  src/core/src/opsets/opset.cpp
  src/frontends/ir/src/input_model.cpp
  src/frontends/ir/src/ir_deserializer.hpp
Labels: category: Core

#13205 Optimize b16
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/src/graph/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/set_required_layouts.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/depth_to_space.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/pooling.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/quantize.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/pooling_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/reduction_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/include/deconvolution_inst.h
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/tensor_type.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/deconvolution/deconvolution_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/pooling/pooling_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/pooling/pooling_kernel_gpu_int8_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/quantize/quantize_kernel_scale_shift_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/reorder/reorder_kernel_bfyx_to_blocked_format.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/resample/resample_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/include/batch_headers/fetch_data.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/include/batch_headers/fetch_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/pooling_gpu_int8_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/core/common/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/common/kernel_selector_utils.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/runtime/format.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
Labels: category: GPU

#13373 EliminateSplitConcat transformation
  src/common/transformations/include/transformations/common_optimizations/nop_elimination.hpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/nop_elimination.cpp
  src/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/move_fake_quantize_function.cpp
Labels: category: IE transformations

#13272 Meiyang/paddle 2.3
  .ci/azure/windows.yml
  src/core/tests/frontend/paddle/places.cpp
  src/core/tests/frontend/paddle/requirements_dev.txt
  src/core/tests/frontend/paddle/telemetry.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_2in_2out.py
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_place_test_model.py
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_unsupported_relu.py
  src/core/tests/frontend/paddle/test_models/gen_scripts/save_model.py
  src/frontends/paddle/src/op/matmul_v2.cpp
  src/frontends/paddle/src/op/reduce_ops.hpp
  src/frontends/paddle/src/proto/framework.proto
Labels: category: PaddlePaddle

#13511 Fix query_model for unconnected Parameters
  src/inference/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/single_op_graph.cpp
Labels: category: IE common, conformance

#13455 Review opset1 concat for shape inference aspects
  src/core/dev_api/dimension_tracker.hpp
  src/core/include/openvino/core/validation_util.hpp
  src/core/shape_inference/include/compare.hpp
  src/core/shape_inference/include/concat_shape_inference.hpp
  src/core/src/op/concat.cpp
  src/core/src/validation_util.cpp
  src/core/tests/CMakeLists.txt
  src/core/tests/evaluate_bound/concat.cpp
  src/core/tests/type_prop/concat.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/concat_shape_inference_test.cpp
Labels: category: Core, category: IE Tests

#13497 Fixed versions of POT dependencies
  tools/pot/setup.py
Labels: category: POT

#13490 Copy runtime info in RIC fusion transformation
  src/common/transformations/src/transformations/common_optimizations/ric_fusion.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/preprocessing_fusion_tests.cpp
Labels: category: IE transformations

#13323 [CPU] LSTM Sequence test enabled
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#13524 Fixing OpenVINO extra modules usage
  cmake/extra_modules.cmake
Labels: category: build

#13050 [GPU] Fixes for infer request impl in dynamic cases
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/infer_request.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/ops/parameter.cpp
  src/plugins/intel_gpu/src/plugin/ops/result.cpp
  src/plugins/intel_gpu/src/plugin/ops/rnn.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: GPU

#13525 Fixed stress_tests on OSX in debug mode
  tests/lib/CMakeLists.txt
Labels: category: build

#13537 Relax numpy version
  src/core/tests/frontend/paddle/requirements_dev.txt
Labels: category: dependencies

#13526 Fixing assert when handling iop, iol and ioml in compile tool
  tools/compile_tool/main.cpp
Labels: category: tools

#13505 [TF FE] Add developer documentation for TensorFlow frontend
  src/frontends/README.md
  src/frontends/tensorflow/README.md
Labels: category: docs

#13535 Use TBB dependency only for static libraries
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  cmake/extra_modules.cmake
  cmake/features.cmake
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  cmake/templates/OpenVINOConfig.cmake.in
  cmake/templates/OpenVINODeveloperPackageConfig.cmake.in
  docs/dev/build.md
Labels: category: build

#13496 [PyOV] Fix iteration over AsyncInferQueue
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/tests/test_runtime/test_infer_request.py
Labels: bug, category: Python API

#13317 [GNA] Insert identity using ngraph transformation
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/layers/gna_layer_type.hpp
  src/plugins/intel_gna/src/ops/identity.cpp
  src/plugins/intel_gna/src/ops/identity.hpp
  src/plugins/intel_gna/src/ops/util/util.hpp
  src/plugins/intel_gna/src/transformations/insert_identity_layer.cpp
  src/plugins/intel_gna/src/transformations/insert_identity_layer.hpp
  src/plugins/intel_gna/src/transformations/reorder_activation_and_pooling.cpp
  src/plugins/intel_gna/src/transformations/rt_info/gna_precision_change_flag.cpp
  src/plugins/intel_gna/src/transformations/rt_info/gna_precision_change_flag.hpp
  src/plugins/intel_gna/tests/unit/transformations/gna_insert_identity_layer.cpp
Labels: category: GNA

#13274 [GPU] Fix brain-tumor-segmentation-002/INT8/onnx running failed
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
Labels: category: GPU

#13397 [DOC][C API][DYNAMIC SHAPE] Add doc for C API dynamic shape
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/snippets/ov_dynamic_shapes.c
Labels: category: C API

#13543 Fixed loading old extensions inside the OpenVINO
  src/inference/src/ie_core.cpp
  src/tests/functional/inference_engine/ov_extension_test.cpp
Labels: category: IE common, category: Extensibility Mechanism

#12032 [GPU] Add supporting blocked format for reverse operation
  src/plugins/intel_gpu/src/graph/impls/ocl/reverse.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reverse/reverse_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/reverse_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.h
Labels: category: GPU, ExternalPR

#13560 [GPU] Fix gpu unit and functional tests on windows
  src/plugins/intel_gpu/tests/test_cases/pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/variable.cpp
Labels: category: GPU

#13059 【PaddlePaddle Hackathon 3 No.102】support paddle elementwise_floordiv
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_elementwise_ops.py
  src/frontends/paddle/src/op/elementwise_ops.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: PDPD FE, PaddlePaddle Hackathon

#13531 [PyOV] Upgrade linter Python version
  .github/workflows/py_checks.yml
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/openvino/runtime/utils/types.py
  src/bindings/python/tests/test_runtime/test_type.py
Labels: category: Python API, category: CI

#13263 TransposeSinking for unary backward and forward propagation
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_unary.hpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_unary.cpp
  src/core/include/openvino/op/softsign.hpp
  src/tests/functional/inference_engine/transformations/common_optimizations/transpose_sinking_unary_test.cpp
Labels: category: IE transformations

#13325 Added README for ONNX Frontend
  src/frontends/README.md
  src/frontends/onnx/README.md
  src/frontends/onnx/docs/architecture.md
  src/frontends/onnx/docs/how_to_add_op.md
  src/frontends/onnx/docs/tests.md
Labels: category: docs

#13422 Exclude Python conformance utils from Azure pre-commit
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: conformance

#12463 [GPU] reorg_yolo blocked layouts support
  src/plugins/intel_gpu/src/graph/impls/ocl/reorg_yolo.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorg_yolo_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorg_yolo/reorg_yolo_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorg_yolo/reorg_yolo_kernel_ref.h
  src/plugins/intel_gpu/tests/test_cases/reorg_yolo_gpu_test.cpp
Labels: category: GPU, ExternalPR

#13512 [PyOV] Refine InferRequestWrapper and AsyncInferQueue
  src/bindings/python/src/pyopenvino/core/async_infer_queue.cpp
  src/bindings/python/src/pyopenvino/core/compiled_model.cpp
  src/bindings/python/src/pyopenvino/core/infer_request.cpp
  src/bindings/python/src/pyopenvino/core/infer_request.hpp
Labels: category: Python API, do not merge

#13541 Build code snippets together with doc
  .github/workflows/build_doc.yml
  .github/workflows/code_snippets.yml
  docs/CMakeLists.txt
  docs/snippets/CMakeLists.txt
  src/core/template_extension/new/CMakeLists.txt
  src/core/template_extension/old/CMakeLists.txt
  src/plugins/template/src/CMakeLists.txt
Labels: category: docs

#13571 [PyOV] Rewrite map to generator in ie_api.py
  src/bindings/python/src/openvino/runtime/ie_api.py
Labels: category: Python API

#13570 Simplify Reshape inserted while converting RNN from mxnet
  tools/mo/openvino/tools/mo/middle/RNNSequenceNormalizeToIE.py
Labels: bug, category: MO

#13248 [GPU] GEMM dynamic
  src/plugins/intel_gpu/include/intel_gpu/primitives/gemm.hpp
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/matmul.cpp
Labels: category: GPU

#13584 Added post-processing for python wheel platform tags
  src/bindings/python/wheel/CMakeLists.txt
  tools/openvino_dev/CMakeLists.txt
Labels: category: build

#13600 Use shared gflags on Fedora
  thirdparty/CMakeLists.txt
Labels: category: build

#13567 [GPU][DG2] Fix output scale post-op condition
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#13346 [GPU] Update for layout query
  src/plugins/intel_gpu/src/graph/convolution.cpp
  src/plugins/intel_gpu/src/graph/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/select_preferred_formats.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/set_required_layouts.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/include/layout_optimizer.h
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/tests/passes/select_preferred_formats_test.cpp
Labels: category: GPU

#13556 [CPU] Fixed integer compute for arithmetic operations
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/plugins/intel_cpu/src/emitters/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/convert.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/eltwise.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/fusing_test_utils.hpp
  src/tests/ie_test_utils/common_test_utils/ov_tensor_utils.cpp
Labels: category: CPU

#13372 Fixed EmbeddingSegmentsSum initialization with dynamic num_segments
  src/plugins/intel_cpu/src/nodes/embedding_bag_offset_sum.cpp
  src/plugins/intel_cpu/src/nodes/embedding_bag_packed_sum.cpp
  src/plugins/intel_cpu/src/nodes/embedding_bag_sum.cpp
  src/plugins/intel_cpu/src/nodes/embedding_bag_sum.h
  src/plugins/intel_cpu/src/nodes/embedding_segments_sum.cpp
  src/plugins/intel_cpu/src/nodes/embedding_segments_sum.h
Labels: category: CPU

#12465 [GPU] ScatterElementsUpdate blocked layout support
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_elements_update.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/scatter_elements_update_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_elements_update_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/scatter_elements_update_gpu_test.cpp
Labels: category: GPU, ExternalPR

#13424 [C API DOC][MIGRATION] Add C API migration info from 1.0 to 2.0
  docs/OV_Runtime_UG/migration_ov_2_0/common_inference_pipeline.md
  docs/OV_Runtime_UG/migration_ov_2_0/configure_devices.md
  docs/OV_Runtime_UG/migration_ov_2_0/preprocessing.md
  docs/snippets/ie_common.c
  docs/snippets/ov_common.c
  docs/snippets/ov_preprocessing_migration.c
  docs/snippets/ov_properties_migration.c
Labels: category: docs

#13604 Update to the latest cmake for Windows
  .ci/azure/linux_arm64.yml
  .ci/azure/windows.yml
  cmake/developer_package/compile_flags/os_flags.cmake
  src/bindings/c/src/CMakeLists.txt
  src/bindings/python/src/compatibility/pyngraph/CMakeLists.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/common/low_precision_transformations/CMakeLists.txt
  src/common/offline_transformations/CMakeLists.txt
  src/common/transformations/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/reference/CMakeLists.txt
  src/core/reference/src/runtime/reference/generate_proposal.cpp
  src/core/reference/src/runtime/reference/irdft.cpp
  src/core/reference/src/runtime/reference/multiclass_nms.cpp
  src/core/shape_inference/CMakeLists.txt
  src/core/shape_inference/include/convolution_shape_inference.hpp
  src/core/shape_inference/include/irdft_shape_inference.hpp
  src/core/shape_inference/include/rdft_shape_inference.hpp
  src/core/shape_inference/include/rfft_common_validation.hpp
  src/core/shape_inference/include/strided_slice_shape_inference.hpp
  src/core/src/dimension.cpp
  src/frontends/onnx/frontend/CMakeLists.txt
  src/frontends/onnx/tests/CMakeLists.txt
  src/frontends/paddle/src/CMakeLists.txt
  src/frontends/tensorflow/src/CMakeLists.txt
  src/frontends/tensorflow/src/input_model.cpp
  src/inference/src/ie_core.cpp
  src/plugins/auto/CMakeLists.txt
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/tests/unit/CMakeLists.txt
  src/plugins/intel_gna/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/template/backend/CMakeLists.txt
  src/tests/ie_test_utils/common_test_utils/graph_comparator.cpp
Labels: category: build

#13540 [GPU] remove WA for fallback pooling to cldnn.
  src/plugins/intel_gpu/src/graph/impls/onednn/reduction_onednn.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_pooling_to_reduce.cpp
Labels: category: GPU

#12574 [GPU] Add blocked layout support to deconvolution reference implementation
  src/plugins/intel_gpu/src/graph/impls/ocl/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/deconvolution/deconvolution_kernel_b_fs_zyx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/deconvolution/deconvolution_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/deconvolution_gpu_test.cpp
Labels: category: GPU, ExternalPR

#13638 Fix Warning as error for Android ARM64 build
  cmake/developer_package/compile_flags/os_flags.cmake
  src/common/preprocessing/CMakeLists.txt
  src/core/tests/CMakeLists.txt
  thirdparty/json/CMakeLists.txt
Labels: category: build

#12977 [GPU] optimized 5d linear_onnx and nearest mode and tests
  src/plugins/intel_gpu/src/graph/resample.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/resample_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/resample_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/resample/resample_kernel_opt.cpp
  src/plugins/intel_gpu/src/plugin/ops/interpolate.cpp
  src/plugins/intel_gpu/tests/test_cases/resample_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.h
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/interpolate.cpp
Labels: category: GPU, ExternalPR

#13574 [API CONFORMANCE] Remove skips from ie_executable_network
  src/tests/functional/plugin/shared/src/behavior/executable_network/locale.cpp
Labels: conformance

#13596 [CONFORMANCE] Fix Gelu op in the report && opset10 to all slt related files
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/single_op_graph.cpp
  src/tests/functional/shared_test_classes/src/base/utils/compare_results.cpp
  src/tests/functional/shared_test_classes/src/base/utils/generate_inputs.cpp
  src/tests/ie_test_utils/functional_test_utils/src/summary/op_summary.cpp
Labels: conformance

#13648 Fix gather type_prop test build issue on windows
  src/bindings/python/requirements_test.txt
  src/core/tests/CMakeLists.txt
  src/core/tests/type_prop/gather.cpp
Labels: category: IE Tests

#11289 [tools][benchmark_app] --extensions parameter
  tools/benchmark_tool/README.md
  tools/benchmark_tool/openvino/tools/benchmark/benchmark.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Labels: category: tools

#13516 [GPU] Support dynamic shape for one-hot and reshape operations
  src/plugins/intel_gpu/src/graph/one_hot.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/plugin/ops/one_hot.cpp
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
Labels: category: GPU

#13306 Dynamic shape : remaining changes to run bert
  src/plugins/intel_gpu/include/intel_gpu/plugin/infer_request.hpp
  src/plugins/intel_gpu/src/graph/broadcast.cpp
  src/plugins/intel_gpu/src/graph/concatenation.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/concat_input_order.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/non_zero.cpp
  src/plugins/intel_gpu/src/graph/include/non_zero_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/non_zero.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/count_nonzero_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_nonzero_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/count_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/plugins/intel_gpu/tests/passes/prepare_primitive_fusing_test.cpp
  src/plugins/intel_gpu/tests/test_cases/non_zero_gpu_test.cpp
  src/tests/functional/plugin/gpu/subgraph_tests/dynamic/dynamic_smoke_test_shape_of_reduce_reshape.cpp
Labels: category: GPU

#13618 Added frontends RPMs generation
  cmake/developer_package/packaging/rpm.cmake
  cmake/developer_package/packaging/rpm_post_build.cmake
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  samples/cpp/CMakeLists.txt
  scripts/install_dependencies/install_openvino_dependencies.sh
  thirdparty/CMakeLists.txt
Labels: category: build

#13538 Review opset1 unsqueeze for shape inference aspects
  src/core/include/openvino/core/validation_util.hpp
  src/core/shape_inference/include/compare.hpp
  src/core/shape_inference/include/shape_nodes.hpp
  src/core/shape_inference/include/unsqueeze_shape_inference.hpp
  src/core/src/op/unsqueeze.cpp
  src/core/src/validation_util.cpp
  src/core/tests/type_prop/unsqueeze.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/concat_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/unsqueeze_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/utils.hpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
Labels: category: Core, category: IE Tests, category: GPU, category: CPU

#13637 [POT] Update IE/MO CI branch
  tools/pot/tests/data/reference_fake_quantize_conf/googlenet-v3_asymmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/googlenet-v3_mixed.json
  tools/pot/tests/data/reference_fake_quantize_conf/googlenet-v3_symmetric.json
  tools/pot/tests/data/reference_models/concat_depthwise_model_MinMaxQuantization_pytorch.xml
  tools/pot/tests/data/reference_models/efficientnet_b0_example_ig_pt_pytorch.xml
  tools/pot/tests/data/reference_models/mobilenet_v3_small_example_ig_pt_pytorch.xml
  tools/pot/tests/data/reference_models/mobilenetv2_example_cut_fq_pytorch.xml
  tools/pot/tests/data/reference_models/mobilenetv2_example_ig_params_pytorch.xml
  tools/pot/tests/data/reference_models/mobilenetv2_example_pytorch.xml
  tools/pot/tests/data/reference_models/mobilenetv2_ssd_example_cut_fq_pytorch.xml
  tools/pot/tests/data/reference_models/mobilenetv2_ssd_example_pytorch.xml
  tools/pot/tests/data/reference_models/split_concat_example_pytorch.xml
  tools/pot/tests/test_sanity.py
Labels: category: POT

#13652 Bump CMake for Linux Azure
  .ci/azure/linux.yml
  src/plugins/intel_myriad/third_party/CMakeLists.txt
Labels: category: build

#13674 Several fixes for compilation fixes
  cmake/features.cmake
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  cmake/templates/OpenVINODeveloperPackageConfig.cmake.in
  src/bindings/python/wheel/CMakeLists.txt
  src/bindings/python/wheel/setup.py
  thirdparty/protobuf/CMakeLists.txt
Labels: category: build

#10684 [FrontEnd] add control flow, basic tensor array support for paddle faster_rcnn model
  src/common/transformations/include/transformations/common_optimizations/fold_subgraph_empty_inputs.hpp
  src/common/transformations/include/transformations/common_optimizations/remove_concat_zero_dim_input.hpp
  src/common/transformations/src/transformations/common_optimizations/fold_subgraph_empty_inputs.cpp
  src/common/transformations/src/transformations/common_optimizations/remove_concat_zero_dim_input.cpp
  src/common/transformations/src/transformations/control_flow/unroll_if.cpp
  src/core/reference/src/runtime/reference/loop.cpp
  src/core/src/op/loop.cpp
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_cond.py
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_loop.py
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_tensorarray.py
  src/core/tests/type_prop/loop.cpp
  src/frontends/paddle/include/openvino/frontend/paddle/decoder.hpp
  src/frontends/paddle/include/openvino/frontend/paddle/frontend.hpp
  src/frontends/paddle/include/openvino/frontend/paddle/node_context.hpp
  src/frontends/paddle/src/decoder_proto.cpp
  src/frontends/paddle/src/decoder_proto.hpp
  src/frontends/paddle/src/frontend.cpp
  src/frontends/paddle/src/input_model.cpp
  src/frontends/paddle/src/input_model.hpp
  src/frontends/paddle/src/internal/op/conditional_block.cpp
  src/frontends/paddle/src/internal/op/conditional_block.hpp
  src/frontends/paddle/src/internal/op/tensorarray_write.cpp
  src/frontends/paddle/src/internal/op/tensorarray_write.hpp
  src/frontends/paddle/src/internal/op/while.cpp
  src/frontends/paddle/src/internal/op/while.hpp
  src/frontends/paddle/src/internal/pass/transform_if.cpp
  src/frontends/paddle/src/internal/pass/transform_if.hpp
  src/frontends/paddle/src/internal/pass/transform_tensorarray.cpp
  src/frontends/paddle/src/internal/pass/transform_tensorarray.hpp
  src/frontends/paddle/src/internal/pass/transform_while.cpp
  src/frontends/paddle/src/internal/pass/transform_while.hpp
  src/frontends/paddle/src/op/conditional_block.cpp
  src/frontends/paddle/src/op/lod_array_length.cpp
  src/frontends/paddle/src/op/select_input.cpp
  src/frontends/paddle/src/op/tensor_array_to_tensor.cpp
  src/frontends/paddle/src/op/while.cpp
  src/frontends/paddle/src/op/write_to_array.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/tests/frontend/shared/src/op_fuzzy.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/remove_concat_zero_dim_input_test.cpp
  src/tests/functional/inference_engine/transformations/control_flow/unroll_if_test.cpp
  src/tests/ie_test_utils/common_test_utils/graph_comparator.cpp
Labels: category: Core, category: PDPD FE

#13654 Fix UnrollIf transformation to support nested If
  src/common/transformations/src/transformations/control_flow/unroll_if.cpp
  src/tests/functional/inference_engine/transformations/control_flow/unroll_if_test.cpp
Labels: bug

#13698 [GPU] Fix reshape calc_output_layout failure in squeeze shape_infer test.
  src/plugins/intel_gpu/src/graph/reshape.cpp
Labels: category: GPU

#13582 [GPU] Range new shape infer
  src/plugins/intel_gpu/include/intel_gpu/primitives/range.hpp
  src/plugins/intel_gpu/src/graph/include/range_inst.h
  src/plugins/intel_gpu/src/graph/range.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/range/range_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/ops/range.cpp
  src/plugins/intel_gpu/tests/shape_infer/range_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/range_gpu_test.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/matmul.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/range.cpp
Labels: category: GPU

#13701 Fixed build
  src/tests/functional/inference_engine/transformations/control_flow/unroll_if_test.cpp
Labels: bug, category: build, priority: high

#13647 Extended error messages
  src/core/src/model.cpp
  src/core/src/op/scatter_nd_update.cpp
  src/core/src/op/util/gather_base.cpp
  src/frontends/ir/tests/meta_data_tests.cpp
Labels: category: Core

#13700 Kill old actions in case of new changes
  .github/workflows/build_doc.yml
  .github/workflows/check_pr_commits.yml
  .github/workflows/code_snippets.yml
  .github/workflows/code_style.yml
  .github/workflows/files_size.yml
  .github/workflows/mo.yml
  .github/workflows/py_checks.yml
Labels: category: CI

#13650 Make Resize Bilinear infer in f32
  tools/mo/openvino/tools/mo/front/tf/TFResizeToInterpolate.py
  tools/mo/openvino/tools/mo/front/tf/resize_bilinear.py
Labels: bug, category: MO

#13689 Fix Warning in ARM Post-Commit build
  src/plugins/intel_myriad/third_party/CMakeLists.txt
  src/plugins/intel_myriad/third_party/XLink/pc/protocols/pcie_host.c
  src/plugins/intel_myriad/third_party/XLink/shared/src/XLinkDispatcher.c
  src/tests/functional/plugin/shared/src/behavior/executable_network/locale.cpp
Labels: category: IE Tests

#13678 Changed behavior of SubgraphDumper in case of Constans
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/op_cloner.cpp
Labels: conformance

#13656 [PyOV] some fixes and improvements in python tests
  src/bindings/python/tests/test_graph/test_preprocess.py
  src/bindings/python/tests/test_runtime/test_core.py
Labels: category: Python API

#13723 [GPU] Fix error in perpare_buffer_fusing w.r.t accessing invalid output layout
  src/plugins/intel_gpu/src/graph/graph_optimizer/concat_input_order.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
Labels: category: GPU

#13614 [GPU] set bfyz to input format for shallow conv
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#13671 [C API] fix warning as error issue for C API
  src/bindings/c/src/CMakeLists.txt
  src/bindings/c/src/ov_infer_request.cpp
Labels: category: C API

#13712 Add ONNX model metadata to ov::Model
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/core/graph.hpp
  src/frontends/onnx/frontend/src/core/model.hpp
  src/frontends/onnx/tests/models/model_with_metadata.prototxt
  src/frontends/onnx/tests/onnx_importer_test.cpp
Labels: category: ONNX FE

#13340 Enable call set_device_name
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
  src/tests/functional/plugin/shared/src/main.cpp
Labels: category: IE Tests, do not merge

#13460 [GPU] Implement GridSample-9
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/grid_sample.hpp
  src/plugins/intel_gpu/src/graph/grid_sample.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/grid_sample.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/include/grid_sample_inst.hpp
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/grid_sample_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_ref.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_selector.hpp
  src/plugins/intel_gpu/src/plugin/ops/grid_sample.cpp
  src/plugins/intel_gpu/tests/test_cases/grid_sample_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/grid_sample.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/grid_sample.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/grid_sample.hpp
  src/tests/functional/shared_test_classes/src/single_layer/grid_sample.cpp
Labels: category: GPU, ExternalPR
