Repository openvinotoolkit/openvino, pull requests merged in 2022-02, with the labels that each got.

#10030 Update include of legacy in tests
  src/plugins/intel_myriad/third_party/CMakeLists.txt
  src/tests/functional/inference_engine/CMakeLists.txt
Labels: category: IE Tests, category: VPU

#9971 [LPT] [GPU] Multiply to group convolution
  src/common/low_precision_transformations/include/low_precision/layer_transformation.hpp
  src/common/low_precision_transformations/include/low_precision/network_helper.hpp
  src/common/low_precision_transformations/src/layer_transformation.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/low_precision_transformations/src/reshape.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/multiply_to_group_convolution_transformation.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/multiply_to_group_convolution_transformation.cpp
  src/tests/functional/plugin/shared/include/low_precision_transformations/multiply_to_group_convolution_transformation.hpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/multiply_to_group_convolution_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/multiply_to_group_convolution_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/multiply_to_group_convolution_function.cpp
Labels: category: GPU, category: LP transformations

#9722 [CPU] Fixed TensorIterator/Loop dynamism leftovers
  src/plugins/intel_cpu/src/nodes/mkldnn_tensoriterator_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_tensoriterator_node.h
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/loop.cpp
Labels: category: CPU

#9118 I420toRGB and I420toBGR operations for CPU plugin
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/nodes/mkldnn_color_convert_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_color_convert_node.h
  src/plugins/intel_cpu/src/utils/jit_kernel.cpp
  src/plugins/intel_cpu/src/utils/jit_kernel.hpp
  src/tests/unit/cpu/CMakeLists.txt
  src/tests/unit/cpu/jit_kernel_test.cpp
Labels: category: CPU

#10024 POT: Fixed command line to convert models for Windows platform.
  tools/pot/tests/utils/custom_models.py
  tools/pot/tests/utils/open_model_zoo.py
Labels: category: POT

#9793 [GNA] Refactor and install libGNAConfig.cmake
  .ci/azure/linux.yml
  .ci/azure/windows.yml
  cmake/dependencies.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  src/cmake/ov_runtime.cmake
  src/plugins/intel_gna/CMakeLists.txt
  src/plugins/intel_gna/cmake/libGNAConfig.cmake
Labels: category: IE common, category: GNA, category: CI

#9294 Param/Const => Result tests
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/ov_executable_network/ov_exec_net_import_export.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  src/core/src/model.cpp
  src/core/tests/model.cpp
  src/inference/src/cpp/ie_executable_network.cpp
  src/inference/src/ie_core.cpp
  src/inference/src/ie_network_reader.cpp
  src/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/ov_exec_net_import_export.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/behavior/ov_executable_network/ov_exec_net_import_export.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/behavior/ov_executable_network/ov_exec_net_import_export.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
Labels: category: IE common, category: nGraph, category: IE Tests

#10034 [MO, TF frontend] Correct loaders for StridedSlice and Pack operations
  src/frontends/tensorflow/src/op/pack.cpp
  src/frontends/tensorflow/src/op/strided_slice.cpp
  tools/mo/openvino/tools/mo/front/tf/loader.py
  tools/mo/openvino/tools/mo/front/tf/partial_infer/tf.py
  tools/mo/openvino/tools/mo/load/tf/loader.py
  tools/mo/openvino/tools/mo/middle/CustomSubgraphCall.py
  tools/mo/openvino/tools/mo/utils/convert.py
  tools/mo/openvino/tools/mo/utils/summarize_graph.py
  tools/mo/openvino/tools/mo/utils/tensorboard_util.py
  tools/mo/openvino/tools/mo/utils/versions_checker.py
Labels: category: MO, category: nGraph

#9978 [VPU] - I64 issue with ONNX models - fix
  src/plugins/intel_myriad/common/src/ngraph/transformations/dynamic_to_static_shape_topk.cpp
Labels: bug, category: VPU

#10027 [CMake] Add debug postfix on mac
  cmake/developer_package/IEDevScriptsConfig.cmake
Labels: platform: osx

#10001 [Transformations] ConvertBroadcast3 for boolean fix
  src/common/transformations/src/transformations/op_conversions/convert_broadcast3.cpp
  src/tests/functional/inference_engine/transformations/legacy/convert_broadcast3_test.cpp
Labels: bug, category: IE transformations

#9994 DOCS: fix js and ipython highlighting
  docs/_static/js/custom.js
  docs/requirements.txt
Labels: category: docs

#10012 New configuration API in set get property
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/common/utils/include/samples/common.hpp
  samples/cpp/hello_query_device/main.cpp
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/inference/src/cpp/ie_executable_network.cpp
  src/inference/src/ie_core.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/life_time.cpp
  tools/compile_tool/main.cpp
Labels: category: IE Tests, category: python api, category: samples, category: tools

#9866 [MO] fix simplified MO import for PyCharm Debug
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/subprocess_main.py
  tools/mo/openvino/tools/mo/utils/check_mo_import.py
Labels: bug, category: MO

#10029 Exclude gpu registerPluginsXMLUnicodePath test due to 76197
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests

#9484 [POT] Implement DataFreeEngine
  tools/pot/configs/data_free_mode_template.json
  tools/pot/openvino/tools/pot/app/argparser.py
  tools/pot/openvino/tools/pot/app/run.py
  tools/pot/openvino/tools/pot/configs/config.py
  tools/pot/openvino/tools/pot/data_loaders/creator.py
  tools/pot/openvino/tools/pot/data_loaders/image_loader.py
  tools/pot/openvino/tools/pot/data_loaders/synthetic_background.npy
  tools/pot/openvino/tools/pot/data_loaders/synthetic_image_loader.py
  tools/pot/openvino/tools/pot/engines/creator.py
  tools/pot/openvino/tools/pot/engines/data_free_engine.py
  tools/pot/tests/test_data_generation.py
  tools/pot/tests/test_sanity.py
Labels: category: tools, category: POT

#10033 Benchmark_app: incorrect indexing during precision set is fixed
  samples/cpp/benchmark_app/main.cpp
Labels: category: samples

#9968 Benchmark_app: Command line args processing is modified to use both tensor and corresponding node names
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/benchmark_app/utils.cpp
  samples/cpp/benchmark_app/utils.hpp
  samples/cpp/common/utils/src/args_helper.cpp
Labels: category: samples

#9885 Fix bug in AddReshapeTransposeAroundConvPool for Kaldi LSTM networks
  tools/mo/openvino/tools/mo/front/kaldi/add_reshape_transpose_around_conv_pool.py
  tools/mo/openvino/tools/mo/front/kaldi/memory_offset_adjustment.py
  tools/mo/unit_tests/mo/front/kaldi/add_reshape_transpose_around_conv_pool_test.py
Labels: category: MO

#10031 Copy RandomUniform `m_state` during clone_with_new_inputs()
  src/core/include/openvino/op/random_uniform.hpp
  src/core/src/op/random_uniform.cpp
  src/core/tests/copy.cpp
Labels: category: nGraph

#9932 [CPU] Fix dynamic RNNSeq with native order
  src/plugins/intel_cpu/src/mkldnn_graph_optimizer.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_rnn.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/convert_to_plugin_specific_node.cpp
  src/tests/functional/plugin/cpu/subgraph_tests/src/add_convert_to_reorder.cpp
  src/tests/functional/plugin/cpu/subgraph_tests/src/align_matmul_input_ranks.cpp
  src/tests/functional/plugin/cpu/subgraph_tests/src/concat_const_inplace.cpp
  src/tests/functional/plugin/cpu/subgraph_tests/src/input_noreorder_eltwise_bf16.cpp
  src/tests/functional/plugin/cpu/subgraph_tests/src/seq_native_order.cpp
  src/tests/functional/plugin/cpu/test_utils/cpu_test_utils.cpp
  src/tests/functional/plugin/cpu/test_utils/cpu_test_utils.hpp
Labels: category: IE Tests, category: CPU

#10040 Not tracking fixed, tracking restored
  src/common/transformations/include/transformations/common_optimizations/dimension_tracking.hpp
  src/tests/functional/inference_engine/transformations/common_optimizations/dimension_tracking.cpp
Labels: category: IE common, category: nGraph, category: IE Tests

#9992 Update third party files
  licensing/dev-third-party-programs.txt
  licensing/documentation-third-party-programs.txt
  licensing/runtime-third-party-programs.txt
  licensing/third-party-programs.txt
Labels: category: IE common

#9993 Added get property additional arguments
  src/inference/include/openvino/runtime/compiled_model.hpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/ie_core.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
Labels: category: IE common, category: IE Tests

#10056 Enable argmin/argmax test cases
  src/core/tests/runtime/ie/unit_test.manifest
Labels: category: nGraph

#10043 move convert_broadcast3_test.cpp to op_coversions
  src/tests/functional/inference_engine/transformations/op_conversions/convert_broadcast3_test.cpp
Labels: category: nGraph, category: IE Tests

#10053 [GNA] Define static variable
  src/plugins/intel_gna/gna_plugin_config.cpp
Labels: category: GNA

#9927 [Python API] Rename configuration API + update tests/tools
  samples/python/hello_query_device/hello_query_device.py
  src/bindings/python/src/pyopenvino/core/compiled_model.cpp
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/graph/any.hpp
  src/bindings/python/tests/runtime.py
  src/bindings/python/tests/test_inference_engine/test_compiled_model.py
  src/bindings/python/tests/test_inference_engine/test_core.py
  src/bindings/python/tests/test_inference_engine/test_infer_request.py
  tools/benchmark_tool/openvino/tools/benchmark/benchmark.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/pot/openvino/tools/pot/engines/ie_engine.py
Labels: category: python api, category: samples, category: tools, category: POT

#9940 [POT] Introduce saturation_fix option
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize.py
  tools/pot/openvino/tools/pot/configs/config.py
Labels: category: POT

#10057 ONNX ConvInteger - handling of scalar zero points
  src/core/tests/models/onnx/conv_integer_scalar_zp.prototxt
  src/core/tests/onnx/onnx_import_quant.in.cpp
  src/frontends/onnx/frontend/src/op/conv_integer.cpp
Labels: category: nGraph

#10051 ONNX Softmax tests fix
  src/core/tests/onnx/onnx_import.in.cpp
  src/core/tests/runtime/ie/unit_test.manifest
  src/core/tests/runtime/interpreter/unit_test.manifest
Labels: category: nGraph

#10065 enable doc html artifact
  .github/workflows/build_doc.yml
Labels: category: CI

#6601 [CPU] Gather jit implementation.
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/test_ngraph/test_gather.py
  src/bindings/python/tests/test_onnx/test_backend.py
  src/bindings/python/tests/test_onnx/test_zoo_models.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_ngraph/test_gather.py
  src/bindings/python/tests_compatibility/test_onnx/test_zoo_models.py
  src/common/transformations/src/transformations/common_optimizations/convert_nms_gather_path_to_unsigned.cpp
  src/plugins/intel_cpu/src/mkldnn_plugin.cpp
  src/plugins/intel_cpu/src/nodes/kernels/gather_uni_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/gather_uni_kernel.hpp
  src/plugins/intel_cpu/src/nodes/mkldnn_gather_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_gather_node.h
  src/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/gather.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/gather.cpp
  src/tests/functional/shared_test_classes/src/single_layer/gather.cpp
  tests/layer_tests/onnx_tests/test_gather.py
Labels: category: IE common, category: nGraph, category: IE Tests, category: CPU

#10067 Removed layouts config
  docs/doxygen/ie_docs.xml
Labels: category: docs

#10077 Revert "[CPU] Gather jit implementation. (#6601)"
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/test_ngraph/test_gather.py
  src/bindings/python/tests/test_onnx/test_backend.py
  src/bindings/python/tests/test_onnx/test_zoo_models.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_ngraph/test_gather.py
  src/bindings/python/tests_compatibility/test_onnx/test_zoo_models.py
  src/common/transformations/src/transformations/common_optimizations/convert_nms_gather_path_to_unsigned.cpp
  src/plugins/intel_cpu/src/mkldnn_plugin.cpp
  src/plugins/intel_cpu/src/nodes/kernels/gather_uni_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/gather_uni_kernel.hpp
  src/plugins/intel_cpu/src/nodes/mkldnn_gather_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_gather_node.h
  src/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/gather.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/gather.cpp
  src/tests/functional/shared_test_classes/src/single_layer/gather.cpp
  tests/layer_tests/onnx_tests/test_gather.py
Labels: category: IE common, category: IE Tests, category: CPU, category: python api

#9887 Benchmark_app: JSON writer for statistics
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/benchmark_app/shared_tensor_allocator.hpp
  samples/cpp/benchmark_app/statistics_report.cpp
  samples/cpp/benchmark_app/statistics_report.hpp
Labels: category: samples

#10080 Changed code which check newAPI flag from Core
  docs/template_plugin/src/template_executable_network.cpp
  src/inference/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  src/plugins/auto/executable_network.cpp
  src/plugins/auto_batch/auto_batch.cpp
  src/plugins/hetero/executable_network.cpp
  src/plugins/intel_cpu/src/mkldnn_exec_network.cpp
  src/plugins/intel_gna/gna_executable_network.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_myriad/myriad_plugin/myriad_executable_network.h
Labels: category: IE common, category: GPU, category: CPU, category: GNA, category: VPU, category: MULTI, category: TEMPLATE

#10047 Added new correct gna frequency result for Alder Lake
  samples/cpp/speech_sample/utils.hpp
Labels: category: samples

#10049 Supported Simplified mode without provided config
  tools/pot/openvino/tools/pot/app/argparser.py
  tools/pot/openvino/tools/pot/app/run.py
  tools/pot/openvino/tools/pot/configs/config.py
  tools/pot/tests/test_cmd_params.py
Labels: category: tools, category: POT

#10088 [PYTHON] Fix vector casting for Constants with float16 type
  src/bindings/python/src/pyopenvino/graph/ops/constant.cpp
Labels: category: python api

#9976 Template slt bug fix/mish partial dynamic
  docs/template_plugin/tests/functional/op_reference/mish.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
Labels: category: TEMPLATE

#10073 Try to fix cc build
  src/common/conditional_compilation/CMakeLists.txt
Labels: category: nGraph

#10083 [CPU] Gather JIT implementation + Gather8 support.
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/test_ngraph/test_gather.py
  src/bindings/python/tests/test_onnx/test_backend.py
  src/bindings/python/tests/test_onnx/test_zoo_models.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_ngraph/test_gather.py
  src/bindings/python/tests_compatibility/test_onnx/test_zoo_models.py
  src/common/transformations/src/transformations/common_optimizations/convert_nms_gather_path_to_unsigned.cpp
  src/plugins/intel_cpu/src/mkldnn_plugin.cpp
  src/plugins/intel_cpu/src/nodes/kernels/gather_uni_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/gather_uni_kernel.hpp
  src/plugins/intel_cpu/src/nodes/mkldnn_gather_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_gather_node.h
  src/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/gather.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/gather.cpp
  src/tests/functional/shared_test_classes/src/single_layer/gather.cpp
  tests/layer_tests/onnx_tests/test_gather.py
Labels: category: IE common, category: IE Tests, category: CPU, category: python api

#9649 [GPU] Update config api 2.0
  docs/IE_DG/supported_plugins/GPU.md
  docs/snippets/GPU_Metric0.cpp
  docs/snippets/GPU_Metric1.cpp
  src/inference/include/ie/gpu/gpu_config.hpp
  src/inference/include/ie/ie_plugin_config.hpp
  src/inference/include/openvino/runtime/intel_gpu/properties.hpp
  src/inference/include/openvino/runtime/intel_gpu/remote_properties.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/auto/plugin.cpp
  src/plugins/auto_batch/auto_batch.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/device_config.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/engine_configuration.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/device_config.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_command_queues_builder.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/plugin/configuration_tests.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
Labels: category: GPU

#9767 [VPU] Fix precisions for execGraph
  src/plugins/intel_myriad/graph_transformer/src/utils/runtime_graph.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests, category: VPU

#10102 [DeploymentManager]: Updated path to licensing
  tools/deployment_manager/configs/darwin.json
  tools/deployment_manager/configs/linux.json
  tools/deployment_manager/configs/windows.json
Labels: category: tools

#9998 Fixed tensor names set in InputCut and AutomlEfficientDet transformation.
  tools/mo/openvino/tools/mo/front/extractor.py
  tools/mo/openvino/tools/mo/front/tf/AutomlEfficientDet.py
Labels: category: MO

#10062 Build only static libraries on Linux Azure
  .ci/azure/linux.yml
  .ci/azure/windows.yml
Labels: category: CI

#10105 Fix NCC
  .github/workflows/code_style.yml
Labels: category: build, category: CI

#10082 Added undefined performance hint value
  docs/template_plugin/src/template_config.cpp
  docs/template_plugin/src/template_config.hpp
  docs/template_plugin/src/template_plugin.cpp
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/auto/plugin.cpp
Labels: category: IE common

#9496 Set proper precision for added output
  samples/cpp/speech_sample/main.cpp
  src/plugins/intel_gna/descriptions/gna_desc.hpp
  src/plugins/intel_gna/gna_graph_compiler.cpp
  src/plugins/intel_gna/gna_model_serial.cpp
  src/plugins/intel_gna/gna_plugin.cpp
  src/plugins/intel_gna/gna_plugin.hpp
Labels: category: GNA, category: samples

#9868 fix softsign gna operation
  src/plugins/intel_gna/ops/softsign.cpp
  src/tests/unit/gna/ngraph/op_eval/softsign.cpp
Labels: category: IE Tests, category: GNA

#10042 Fix of output tensor names for mask-rcnn* models
  tools/mo/openvino/tools/mo/back/FakeOutputResolver.py
  tools/mo/openvino/tools/mo/back/ResultRename.py
  tools/mo/openvino/tools/mo/back/ie_ir_ver_2/emitter.py
  tools/mo/openvino/tools/mo/front/extractor.py
  tools/mo/openvino/tools/mo/front/tf/ObjectDetectionAPI.py
  tools/mo/openvino/tools/mo/graph/graph.py
  tools/mo/openvino/tools/mo/graph/port.py
  tools/mo/openvino/tools/mo/pipeline/common.py
  tools/mo/unit_tests/mo/graph/port_test.py
Labels: category: MO

#10084 Check the selected frontend to correspond use_new/legacy_frontend options
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  tools/mo/openvino/tools/mo/main.py
  tools/mo/openvino/tools/mo/utils/cli_parser.py
  tools/mo/openvino/tools/mo/utils/guess_framework.py
Labels: category: MO, category: docs

#10116 [LPT] foldFakeQuantize extending to support empty shapes
  src/common/low_precision_transformations/src/network_helper.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/multiply_transformation.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/multiply_transformation.cpp
  src/tests/functional/plugin/shared/include/low_precision_transformations/multiply_transformation.hpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/multiply_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/multiply_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/multiply_function.cpp
Labels: category: IE Tests, category: CPU, category: LP transformations

#9919 [GPU] Adjust preferred format of resample operation
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/src/graph/include/layout_optimizer.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
Labels: category: GPU

#10111 Remove WA from ImportNetwork
  src/inference/src/ie_core.cpp
Labels: category: IE common

#10124 Fix template plugin tests
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
Labels: category: TEMPLATE

#10107 Update models folder for TimeTests
  tests/time_tests/.automation/desktop_test_config.yml
  tests/time_tests/.automation/desktop_test_config_cache.yml
Labels: category: IE Tests

#10096 [PYTHON API] Fix InferQueue.is_ready() call
  src/bindings/python/src/pyopenvino/core/async_infer_queue.cpp
  src/bindings/python/tests/test_inference_engine/test_infer_request.py
Labels: bug, category: python api

#10060 [CPU] Improve weights sharing sync on multiple outputs
  src/plugins/intel_cpu/src/mkldnn_weights_cache.cpp
Labels: category: CPU

#10113 [ONNX] Replace subgraph's inputs from parent with Parameter before no…
  src/core/tests/models/onnx/controlflow/if_with_only_indentity_in_else_branch.prototxt
  src/core/tests/onnx/onnx_import_controlflow.in.cpp
  src/frontends/onnx/frontend/include/onnx_import/core/node.hpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/core/graph.hpp
  src/frontends/onnx/frontend/src/core/node.cpp
Labels: category: nGraph

#10110 fixed excessive outputs copying (in case when the fallback happened) and updated the test for that
  src/plugins/auto_batch/auto_batch.cpp
  src/plugins/auto_batch/auto_batch.hpp
  src/tests/functional/plugin/shared/include/auto_batching/auto_batching_tests.hpp
Labels: category: IE common, category: IE Tests

#10078 Transformations: eltwise and FQ fusings fixes
  src/common/low_precision_transformations/src/fake_quantize.cpp
  src/common/transformations/src/transformations/common_optimizations/add_fake_quantize_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/mul_fake_quantize_fusion.cpp
  src/tests/functional/inference_engine/lp_transformations/fuse_fake_quantize_transformation.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/add_fake_quantize_fusion.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/mul_fake_quantize_fusion.cpp
Labels: category: IE transformations, category: LP transformations

#10133 Disable single-image-super-resolution-1032 from MemCheck precommit
  tests/stress_tests/.automation/memcheck_tests/precommit_configs/desktop_test_config.xml
Labels: category: IE Tests

#9578 Memory leaks in tbbbind and onednn were fixed
  inference-engine/cmake/dependencies.cmake
  inference-engine/src/inference_engine/CMakeLists.txt
  inference-engine/src/inference_engine/threading/ie_parallel_custom_arena.cpp
  inference-engine/thirdparty/CMakeLists.txt
  inference-engine/thirdparty/clDNN/src/CMakeLists.txt
  inference-engine/thirdparty/clDNN/src/gpu/custom_task_arena.cpp
Labels: category: IE common, category: GPU

#10134 Fixed input cut for case when port is not specified.
  tools/mo/openvino/tools/mo/front/extractor.py
Labels: category: MO

#10131 ov::Any can get value from stored string
  src/core/include/openvino/core/any.hpp
  src/core/src/any.cpp
  src/core/tests/any.cpp
Labels: category: IE common, category: nGraph, category: GPU, category: samples

#10079 [CPU] Dummy shape creation fix for Deconvolution
  src/plugins/intel_cpu/src/nodes/mkldnn_deconv_node.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/convolution_backprop_data.cpp
Labels: category: CPU

#9997 [CPU] Add support for OV2.0 configuration API
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/mkldnn_exec_network.cpp
  src/plugins/intel_cpu/src/mkldnn_exec_network.h
  src/plugins/intel_cpu/src/mkldnn_plugin.cpp
  src/plugins/intel_cpu/src/mkldnn_plugin.h
  src/tests/functional/plugin/cpu/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
Labels: category: IE common, category: CPU, pr: needs tests

#10141 Azure CI: remove IB from running test
  .ci/azure/windows.yml
Labels: category: CI

#10146 Revert "FrontEnd OpExtension"
  src/bindings/python/src/openvino/frontend/__init__.py
  src/bindings/python/src/openvino/frontend/onnx/__init__.py
  src/bindings/python/src/openvino/frontend/tensorflow/__init__.py
  src/bindings/python/src/pyopenvino/frontend/extension.cpp
  src/bindings/python/src/pyopenvino/frontend/extension.hpp
  src/bindings/python/src/pyopenvino/frontend/node_context.cpp
  src/bindings/python/src/pyopenvino/frontend/onnx/extension.cpp
  src/bindings/python/src/pyopenvino/frontend/onnx/extension.hpp
  src/bindings/python/src/pyopenvino/frontend/onnx/py_module.cpp
  src/bindings/python/src/pyopenvino/frontend/paddle/py_module.cpp
  src/bindings/python/src/pyopenvino/frontend/tensorflow/extension.cpp
  src/bindings/python/src/pyopenvino/frontend/tensorflow/extension.hpp
  src/bindings/python/src/pyopenvino/frontend/tensorflow/py_module.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_frontend/test_frontend_onnx.py
  src/common/util/include/openvino/util/common_util.hpp
  src/core/include/openvino/core/attribute_adapter.hpp
  src/core/include/openvino/core/attribute_visitor.hpp
  src/core/include/openvino/core/op_extension.hpp
  src/core/src/attribute_adapter.cpp
  src/core/tests/frontend/onnx/op_extension.cpp
  src/core/tests/frontend/shared/include/op_extension.hpp
  src/core/tests/frontend/shared/src/op_extension.cpp
  src/core/tests/frontend/tensorflow/op_extension.cpp
  src/frontends/common/include/openvino/frontend/extension/conversion.hpp
  src/frontends/common/include/openvino/frontend/extension/op.hpp
  src/frontends/common/include/openvino/frontend/node_context.hpp
  src/frontends/common/src/extension/conversion.cpp
  src/frontends/common/src/frontend.cpp
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/extension/conversion.hpp
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/extension/op.hpp
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/node_context.hpp
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/visibility.hpp
  src/frontends/onnx/frontend/src/node_context.cpp
  src/frontends/paddle/include/openvino/frontend/paddle/decoder.hpp
  src/frontends/paddle/include/openvino/frontend/paddle/extension/conversion.hpp
  src/frontends/paddle/include/openvino/frontend/paddle/node_context.hpp
  src/frontends/paddle/src/frontend.cpp
  src/frontends/paddle/src/input_model.cpp
  src/frontends/paddle/src/paddle_utils.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/extension/conversion.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/extension/op.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/node_context.hpp
  src/frontends/tensorflow/src/frontend.cpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/ie_core.cpp
  src/inference/src/ie_network_reader.cpp
Labels: category: IE common, category: nGraph, category: python api

#10142 Fix for android type info comparison
  src/core/include/openvino/core/any.hpp
  src/core/src/any.cpp
Labels: category: nGraph

#10081 Import Export using capabilities
  src/common/util/include/openvino/util/common_util.hpp
  src/inference/src/cpp/ie_plugin.hpp
  src/inference/src/ie_core.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/tests/functional/inference_engine/caching_test.cpp
Labels: category: IE common, category: nGraph

#10118 PERF_COUNT replaced with ov::enable_profiling
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/speech_sample/main.cpp
  src/core/src/any.cpp
  src/core/tests/any.cpp
  src/plugins/auto/plugin.cpp
  src/tests/functional/inference_engine/caching_test.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/perf_counters.cpp
Labels: category: IE common, category: nGraph, category: IE Tests, category: MULTI, category: samples

#10104 [HETERO] Fix segfault in supported/unsuppoterd layers check
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: GPU

#10070 Fix for leaked ExecutorManager
  docs/template_plugin/src/template_executable_network.cpp
  docs/template_plugin/src/template_plugin.cpp
  src/inference/dev_api/cpp_interfaces/impl/ie_executable_network_thread_safe_default.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  src/inference/dev_api/ie_icore.hpp
  src/inference/dev_api/threading/ie_executor_manager.hpp
  src/inference/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  src/inference/src/threading/ie_executor_manager.cpp
  src/plugins/auto/executable_network.cpp
  src/plugins/auto/plugin.cpp
  src/plugins/intel_cpu/src/mkldnn_exec_network.cpp
  src/plugins/intel_cpu/src/mkldnn_exec_network.h
  src/plugins/intel_cpu/src/mkldnn_plugin.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_myriad/myriad_plugin/myriad_executable_network.cpp
  src/plugins/intel_myriad/myriad_plugin/myriad_executable_network.h
  src/plugins/intel_myriad/myriad_plugin/myriad_plugin.cpp
  src/tests/functional/plugin/shared/include/behavior/infer_request/config.hpp
  src/tests/ie_test_utils/common_test_utils/test_common.cpp
  src/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_icore.hpp
  src/tests/unit/inference_engine/ie_executor_manager_tests.cpp
  src/tests_deprecated/helpers/tests_common.cpp
Labels: category: IE common, category: IE Tests, category: GPU, category: CPU, category: VPU, category: MULTI, category: TEMPLATE

#10052 Fix for leaked ExecutorManager
  docs/template_plugin/src/template_executable_network.cpp
  docs/template_plugin/src/template_plugin.cpp
  inference-engine/src/cldnn_engine/cldnn_executable_network.cpp
  inference-engine/src/inference_engine/cpp_interfaces/interface/ie_iplugin_internal.cpp
  inference-engine/src/inference_engine/ie_core.cpp
  inference-engine/src/inference_engine/threading/ie_executor_manager.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.cpp
  inference-engine/src/mkldnn_plugin/mkldnn_exec_network.h
  inference-engine/src/mkldnn_plugin/mkldnn_plugin.cpp
  inference-engine/src/multi_device/multi_device_plugin.cpp
  inference-engine/src/plugin_api/cpp_interfaces/impl/ie_executable_network_thread_safe_default.hpp
  inference-engine/src/plugin_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  inference-engine/src/plugin_api/ie_icore.hpp
  inference-engine/src/plugin_api/threading/ie_executor_manager.hpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.cpp
  inference-engine/src/vpu/myriad_plugin/myriad_executable_network.h
  inference-engine/src/vpu/myriad_plugin/myriad_plugin.cpp
  inference-engine/tests/functional/plugin/shared/include/behavior/config.hpp
  inference-engine/tests/functional/plugin/shared/include/behavior/infer_request_config.hpp
  inference-engine/tests/ie_test_utils/common_test_utils/test_common.cpp
  inference-engine/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_icore.hpp
  inference-engine/tests/unit/inference_engine/ie_executor_manager_tests.cpp
  inference-engine/tests_deprecated/helpers/tests_common.cpp
Labels: category: IE common, category: IE Tests, category: GPU, category: CPU, category: VPU

#10145 [Python API] Install only one openvino/__init__.py
  src/bindings/python/src/compatibility/openvino/CMakeLists.txt
Labels: bug, category: python api

#10123 Fixed coverity issues for core and frontends
  src/core/reference/include/ngraph/coordinate_transform.hpp
  src/core/reference/include/ngraph/runtime/reference/max_pool.hpp
  src/core/reference/include/ngraph/runtime/reference/roi_align.hpp
  src/core/reference/src/coordinate_transform.cpp
  src/core/reference/src/runtime/reference/einsum.cpp
  src/core/reference/src/runtime/reference/interpolate.cpp
  src/core/reference/src/runtime/reference/slice.cpp
  src/core/shape_inference/include/strided_slice_shape_inference.hpp
  src/core/src/node.cpp
  src/core/src/op/avg_pool.cpp
  src/core/src/op/broadcast.cpp
  src/core/src/op/interpolate.cpp
  src/core/src/op/loop.cpp
  src/core/src/op/max_pool.cpp
  src/core/src/op/one_hot.cpp
  src/core/src/op/prior_box.cpp
  src/core/src/op/util/broadcast_base.cpp
  src/core/src/op/util/max_pool_base.cpp
  src/core/src/op/util/rnn_cell_base.cpp
  src/core/src/pass/serialize.cpp
  src/core/src/validation_util.cpp
  src/frontends/onnx/frontend/src/op/quantize_linear.cpp
Labels: category: nGraph, category: ONNX FE

#10120 Improvement for AtomicGuard
  src/core/src/atomic_guard.hpp
Labels: category: nGraph

#10132 [CPU] Fix FuseConvolutionSumAndConvolutionSumActivation
  inference-engine/src/mkldnn_plugin/mkldnn_graph_optimizer.cpp
  inference-engine/tests/functional/plugin/cpu/subgraph_tests/src/convs_and_sums.cpp
Labels: category: IE Tests, category: CPU

#10136 [GPU] Fixed safe index func for per-channel case
  src/plugins/intel_gpu/src/kernel_selector/core/common/jitter.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/tests/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#10095 [GPU] StridedSlice shape propagation fix
  src/plugins/intel_gpu/include/intel_gpu/primitives/strided_slice.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/tests/test_cases/removing_output_node_test.cpp
  src/plugins/intel_gpu/tests/test_cases/strided_slice_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/strided_slice.cpp
Labels: category: IE Tests, category: GPU

#10144 Added compatibility check of layout with partial shape
  src/bindings/python/tests/test_ngraph/test_basic.py
  src/bindings/python/tests/test_ngraph/test_preprocess.py
  src/core/include/openvino/op/parameter.hpp
  src/core/src/layout.cpp
  src/core/src/layout_utils.hpp
  src/core/src/model.cpp
  src/core/src/op/parameter.cpp
  src/core/tests/model.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/batched_tensors.cpp
  src/tests/unit/inference_engine/ie_compilation_context_test.cpp
  tools/mo/unit_tests/mo/back/moc_preprocessing_test_actual.py
Labels: category: nGraph

#9984 [GPU] Gemm onednn implementation
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#10140 set U8 precision for image-like inputs even in case of random filling
  samples/cpp/benchmark_app/main.cpp
Labels: category: samples

#10103 [Python API] Fix import/export of model + update speech sample
  samples/python/speech_sample/speech_sample.py
  src/bindings/python/src/pyopenvino/core/compiled_model.cpp
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/tests/test_inference_engine/test_compiled_model.py
Labels: bug, category: python api, category: samples

#9732 [GNA] Add support for non-functional subgraphs
  src/plugins/intel_gna/optimizer/gna_pass_manager.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/parameter_reshape_result.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/parameter_reshape_result.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/parameter_reshape_result.hpp
  src/tests/functional/shared_test_classes/src/subgraph/parameter_reshape_result.cpp
Labels: category: IE Tests, category: GNA

#10009 [LPT] Fixed an incorrect condition & added test to MoveFakeQuantize transformation
  src/common/low_precision_transformations/src/move_fake_quantize.cpp
  src/tests/functional/inference_engine/lp_transformations/move_fake_quantize_transformation.cpp
Labels: category: IE Tests, category: CPU

#10128 Remove 'evaluate' from I420toRGB/BGR operations
  docs/template_plugin/backend/evaluates_map.cpp
  docs/template_plugin/backend/opset_int_tbl.hpp
  src/core/include/openvino/op/util/convert_color_i420_base.hpp
  src/core/reference/include/ngraph/runtime/reference/convert_color_nv12.hpp
  src/core/src/op/util/convert_color_i420_base.cpp
  src/core/src/op/util/convert_color_nv12_base.cpp
Labels: category: nGraph, category: TEMPLATE

#10045 [MO] override_output_shape = True for Concat in StridedSliceNormalizer
  tools/mo/openvino/tools/mo/middle/StridedSliceNormalizer.py
Labels: bug, category: MO

#9897 [Benchmark] Align comments with command argument 'data_shape'
  samples/cpp/benchmark_app/utils.cpp
  samples/cpp/benchmark_app/utils.hpp
Labels: category: samples

#10158 [PYTHON API] Forbid building python api with debug postfix
  src/bindings/python/CMakeLists.txt
Labels: category: python api

#10153 FrontEnd OpExtension
  src/bindings/python/src/openvino/frontend/__init__.py
  src/bindings/python/src/openvino/frontend/onnx/__init__.py
  src/bindings/python/src/openvino/frontend/tensorflow/__init__.py
  src/bindings/python/src/pyopenvino/frontend/extension.cpp
  src/bindings/python/src/pyopenvino/frontend/extension.hpp
  src/bindings/python/src/pyopenvino/frontend/node_context.cpp
  src/bindings/python/src/pyopenvino/frontend/onnx/extension.cpp
  src/bindings/python/src/pyopenvino/frontend/onnx/extension.hpp
  src/bindings/python/src/pyopenvino/frontend/onnx/py_module.cpp
  src/bindings/python/src/pyopenvino/frontend/paddle/py_module.cpp
  src/bindings/python/src/pyopenvino/frontend/tensorflow/extension.cpp
  src/bindings/python/src/pyopenvino/frontend/tensorflow/extension.hpp
  src/bindings/python/src/pyopenvino/frontend/tensorflow/py_module.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_frontend/test_frontend_onnx.py
  src/common/util/include/openvino/util/common_util.hpp
  src/core/include/openvino/core/attribute_adapter.hpp
  src/core/include/openvino/core/attribute_visitor.hpp
  src/core/include/openvino/core/op_extension.hpp
  src/core/src/attribute_adapter.cpp
  src/core/tests/frontend/onnx/op_extension.cpp
  src/core/tests/frontend/shared/include/op_extension.hpp
  src/core/tests/frontend/shared/src/op_extension.cpp
  src/core/tests/frontend/tensorflow/op_extension.cpp
  src/frontends/common/include/openvino/frontend/extension/conversion.hpp
  src/frontends/common/include/openvino/frontend/extension/op.hpp
  src/frontends/common/include/openvino/frontend/node_context.hpp
  src/frontends/common/src/extension/conversion.cpp
  src/frontends/common/src/frontend.cpp
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/extension/conversion.hpp
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/extension/op.hpp
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/node_context.hpp
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/visibility.hpp
  src/frontends/onnx/frontend/src/node_context.cpp
  src/frontends/paddle/include/openvino/frontend/paddle/decoder.hpp
  src/frontends/paddle/include/openvino/frontend/paddle/extension/conversion.hpp
  src/frontends/paddle/include/openvino/frontend/paddle/node_context.hpp
  src/frontends/paddle/src/frontend.cpp
  src/frontends/paddle/src/input_model.cpp
  src/frontends/paddle/src/paddle_utils.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/extension/conversion.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/extension/op.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/node_context.hpp
  src/frontends/tensorflow/src/frontend.cpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/ie_core.cpp
  src/inference/src/ie_network_reader.cpp
Labels: category: IE common, category: nGraph, category: python api

#10135 updated the mem_statistics ( since "current" is removed) and TOTAL_MEM as it is now types thru Any (and hence needs the as<>())
  src/plugins/auto_batch/auto_batch.cpp
Labels: category: IE common

#10129 [Time tests] Update reshape pipeline (use default inputs before reshape for data generation)
  tests/lib/src/reshape_utils.cpp
  tests/lib/src/reshape_utils.h
  tests/time_tests/src/timetests/timetest_infer_api_2.cpp
  tests/time_tests/src/timetests_helper/main.cpp
Labels: category: IE Tests

#10176 Feature/azaytsev/docs omz revision
  docs/model_zoo.md
Labels: category: docs

#10071 [LPT] getDataPrecision extending
  src/common/low_precision_transformations/include/low_precision/layer_transformation.hpp
  src/common/low_precision_transformations/src/convolution.cpp
  src/common/low_precision_transformations/src/layer_transformation.cpp
  src/common/low_precision_transformations/src/mat_mul.cpp
  src/common/low_precision_transformations/src/weightable_layer_transformation.cpp
  src/tests/unit/inference_engine/transformations/low_precision/get_data_precision.cpp
Labels: category: LP transformations

#9952 [MO] Pip installation message for not satisfied dependencies
  tools/mo/openvino/tools/mo/utils/versions_checker.py
Labels: category: MO

#10174 [GNA] Set performance mode to undefined
  src/plugins/intel_gna/gna_plugin_config.hpp
  src/tests/functional/plugin/gna/shared_tests_instances/behavior/ov_plugin/core_intergration.cpp
  src/tests/unit/gna/gna_plugin_config_test.cpp
Labels: category: IE Tests, category: GNA

#10122 [CPU] Optimize*SequenceTransposes: Gather7->Gather8
  src/plugins/intel_cpu/src/ngraph_transformations/rnn_sequences_optimization.cpp
  src/tests/unit/cpu/ngraph_transformations/optimize_sequence_transposes_test.cpp
Labels: category: IE Tests, category: CPU

#10169 Auto batch fix default val +test
  src/plugins/auto_batch/auto_batch.cpp
  src/plugins/auto_batch/auto_batch.hpp
  src/tests/functional/plugin/gpu/shared_tests_instances/auto_batching/auto_batching_tests.cpp
Labels: category: IE common, category: IE Tests

#9950 [MO] Sqrt operation implementation
  tools/mo/openvino/tools/mo/ops/elementwise.py
Labels: bug, category: MO

#10147 [CPU] Fixed dummy shape creation for Pooling
  src/plugins/intel_cpu/src/nodes/mkldnn_pooling_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_pooling_node.h
  src/tests/functional/plugin/cpu/single_layer_tests/pooling.cpp
Labels: category: IE Tests, category: CPU

#10181 Q-DQ pairs folding where applicable
  src/common/transformations/src/transformations/common_optimizations/convert_quantize_dequantize.cpp
Labels: category: IE common

#10059 [PYTHON API] add __hash__ for Type
  src/bindings/python/src/pyopenvino/graph/types/element_type.cpp
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
Labels: category: python api, category: tools

#10186 [POT] Transformer model type add ignore MVN
  tools/pot/openvino/tools/pot/algorithms/quantization/utils.py
Labels: category: POT

#10168 [POT] Renaming NXModel
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize.py
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize_configuration.py
  tools/pot/openvino/tools/pot/algorithms/quantization/minmax/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/optimization/rangeopt.py
  tools/pot/openvino/tools/pot/algorithms/quantization/tunable_quantization/algorithm.py
  tools/pot/openvino/tools/pot/api/README.md
  tools/pot/openvino/tools/pot/api/data_loader.py
  tools/pot/openvino/tools/pot/api/engine.py
  tools/pot/openvino/tools/pot/api/samples/3d_segmentation/3d_segmentation_sample.py
  tools/pot/openvino/tools/pot/api/samples/classification/classification_sample.py
  tools/pot/openvino/tools/pot/api/samples/face_detection/face_detection_sample.py
  tools/pot/openvino/tools/pot/api/samples/object_detection/obejct_detection_sample.py
  tools/pot/openvino/tools/pot/api/samples/segmentation/segmentation_sample.py
  tools/pot/openvino/tools/pot/api/samples/speech/gna_sample.py
  tools/pot/openvino/tools/pot/data_loaders/creator.py
  tools/pot/openvino/tools/pot/engines/ac_engine.py
  tools/pot/openvino/tools/pot/engines/ie_engine.py
  tools/pot/openvino/tools/pot/graph/model_utils.py
  tools/pot/openvino/tools/pot/graph/nx_model.py
  tools/pot/openvino/tools/pot/statistics/collector.py
  tools/pot/openvino/tools/pot/utils/launcher.py
  tools/pot/tests/data/reference_models/mobilenet-v2_quantized_tuned_caffe.xml
  tools/pot/tests/data/reference_models/mobilenet-v2_sparse_tuned_caffe.xml
  tools/pot/tests/data/reference_models/mtcnn_ig_params_onet_caffe.xml
  tools/pot/tests/data/reference_models/mtcnn_ig_params_pnet_caffe.xml
  tools/pot/tests/data/reference_models/mtcnn_ig_params_rnet_caffe.xml
  tools/pot/tests/test_sparsity.py
Labels: category: POT

#9488 Snippets tp fixes
  src/common/snippets/include/snippets/op/scalar.hpp
  src/common/snippets/include/snippets/op/subgraph.hpp
  src/common/snippets/include/snippets/pass/convert_constants_to_scalars.hpp
  src/common/snippets/include/snippets/pass/convert_power_to_powerstatic.hpp
  src/common/snippets/src/op/scalar.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/convert_constants_to_scalars.cpp
  src/common/snippets/src/pass/convert_power_to_powerstatic.cpp
  src/plugins/intel_cpu/src/emitters/jit_snippets_emitters.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.h
Labels: category: CPU

#6668 [CPU] Clamp reduces float boundaries in the case of integer data
  src/core/tests/runtime/ie/unit_test.manifest
  src/plugins/intel_cpu/src/nodes/mkldnn_eltwise_node.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests, category: CPU

#10162 Partial Value propagation from partial to static value
  src/core/src/validation_util.cpp
  src/core/tests/type_prop/gather.cpp
  src/tests/functional/inference_engine/transformations/op_conversions/gather_normalize_negative_indices_test.cpp
Labels: category: nGraph

#9840 fix bug in Serialize (#74447)
  docs/template_extension/new/identity.cpp
  src/core/src/graph_util.cpp
  src/core/src/op/util/framework_node.cpp
  src/core/src/pass/serialize.cpp
  src/core/tests/models/ir/conv_with_rt_info.xml
  src/core/tests/pass/serialization/serialize.cpp
  src/tests/functional/inference_engine/ir_serialization/custom_ops.cpp
Labels: bug, category: nGraph

#10130 Apply RIC for dynamic dimension in legacy MO
  tools/mo/openvino/tools/mo/back/ReverseInputChannels.py
  tools/mo/openvino/tools/mo/back/preprocessing.py
  tools/mo/unit_tests/mo/back/moc_preprocessing_test_actual.py
Labels: category: MO

#10149 [GPU] Add new properties and fix bechmark_app
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/hello_query_device/main.cpp
  samples/python/hello_query_device/hello_query_device.py
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/common.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_internal_plugin_config.hpp
  src/inference/include/openvino/runtime/intel_gpu/properties.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/ie_core.cpp
  src/plugins/auto/plugin.cpp
  src/plugins/intel_gna/gna_plugin_config.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/device_config.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/device_config.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: category: GPU

#10109 [GPU] program_helpers::are_layouts_identical fix
  src/plugins/intel_gpu/src/graph/program_helpers.cpp
Labels: category: GPU

#10119 Fix "Error handling issue"
  src/inference/src/cnn_network_ngraph_impl.cpp
  src/inference/src/ie_cache_guard.cpp
  src/inference/src/ie_cache_guard.hpp
Labels: category: IE common, category: nGraph

#10195 Removed legacy names and environment variables from the code
  docs/OV_Runtime_UG/nGraphTransformation.md
  docs/template_plugin/backend/cache.cpp
  src/core/include/openvino/core/model.hpp
  src/core/src/descriptor/input.cpp
  src/core/src/op/range.cpp
  src/core/src/pass/graph_rewrite.cpp
  src/core/src/pass/manager.cpp
  src/core/src/pass/serialize.cpp
  src/core/src/pass/visualize_tree.cpp
  src/core/src/pattern/matcher.cpp
  src/core/src/preprocess/function_guard.hpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/src/util.cpp
  src/core/tests/all_close_f.cpp
  src/core/tests/engines_util/test_case.hpp
  src/core/tests/onnx/onnx_import.in.cpp
  src/core/tests/util/all_close_f.cpp
  src/core/tests/util/test_common.cpp
  src/frontends/ir/src/ir_deserializer.cpp
  src/frontends/ir/src/rt_info_deserializer.hpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/op/batch_norm.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/tests/unit/frontends/onnx_import/onnx_importer_test.cpp
Labels: category: nGraph

#10148 [LPT] StridedSlice extending
  src/common/low_precision_transformations/src/strided_slice.cpp
  src/tests/functional/inference_engine/lp_transformations/strided_slice_transformation.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/strided_slice_transformation.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/strided_slice_transformation.cpp
Labels: category: LP transformations

#10099 [IE][MyriadX] Printf over XLink fails on OpenVINO 2021.4.2 - fix
  src/plugins/intel_myriad/third_party/mvnc/src/mvnc_api.c
Labels: bug, category: VPU

#10196 Write runtime version and how IR was genarated (legacy path or not)
  tools/mo/openvino/tools/mo/back/ie_ir_ver_2/emitter.py
  tools/mo/openvino/tools/mo/main.py
  tools/mo/openvino/tools/mo/moc_frontend/serialize.py
Labels: category: MO

#10216 [Python API] Add if for yocto cross-compilation
  src/bindings/python/CMakeLists.txt
Labels: bug, category: python api

#10188 disabling auto-batching when batch<4 (as batch1 kernels are heavily o…
  src/plugins/auto_batch/auto_batch.cpp
Labels: category: IE common

#9350 [Offline Transformations] Reshape Layer Pruning Transformation Support
  src/common/offline_transformations/include/mask_attribute.hpp
  src/common/offline_transformations/src/pruning/propagate_masks.cpp
  src/common/offline_transformations/src/pruning/shrink_weights.cpp
  src/tests/functional/inference_engine/transformations/offline_transformations/pruning_test.cpp
Labels: category: IE common

#10041 [MO IR Reader] Update *Sequence backend_attrs
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/ops/GRU.py
  tools/mo/openvino/tools/mo/ops/GRUCell.py
  tools/mo/openvino/tools/mo/ops/LSTM.py
  tools/mo/openvino/tools/mo/ops/lstm_cell.py
  tools/mo/openvino/tools/mo/ops/lstm_sequence.py
  tools/mo/openvino/tools/mo/utils/ir_reader/extenders/GRUSequence_extender.py
  tools/mo/openvino/tools/mo/utils/ir_reader/layer_to_class.py
Labels: bug, category: MO

#9988 [MO] set explicitly argument dtype to int for np.split
  tools/mo/openvino/tools/mo/ops/split.py
  tools/mo/unit_tests/mo/ops/split_test.py
Labels: bug, category: MO

#10214 Fix BroadcastElementwiseFusion pass
  src/common/transformations/src/transformations/common_optimizations/broadcast_elementwise_fusion.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/broadcast_elementwise_fusion_test.cpp
Labels: category: IE common, category: nGraph, category: IE Tests

#10165 Fixed some coverity issues
  src/core/src/op/util/max_pool_base.cpp
  src/frontends/onnx/frontend/src/op/quantize_linear.cpp
Labels: category: nGraph

#10201 [GPU] Fix max batch size to respect available virtual memory in linux env
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: GPU

#10178 [LPT][Dynamic shapes] MoveFakeQuantize trasformation fix
  src/common/low_precision_transformations/src/move_fake_quantize.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/tests/functional/inference_engine/lp_transformations/move_fake_quantize_transformation.cpp
Labels: category: LP transformations

#10218 Fix bug in topk_bubble_BLK_on_channel_horiz method
  src/plugins/intel_cpu/src/nodes/mkldnn_topk_node.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/topk.cpp
Labels: bug, category: IE Tests, category: CPU

#10204 SmartReshape: support Param->Convert->Reshape->Proposal pattern
  src/common/transformations/src/transformations/smart_reshape/proposal_scales_stridedslice.cpp
  src/tests/functional/inference_engine/transformations/smart_reshape/sr_proposal_scales.cpp
Labels: category: nGraph, category: IE Tests

#10234 adding I64/U64 support to the auto-batching
  src/plugins/auto_batch/auto_batch.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_infer_request/io_tensor.cpp
Labels: category: IE common, pr: needs tests

#10213 DOCS: change doc tests
  docs/doxygen-xfail.txt
  docs/scripts/tests/conftest.py
  docs/scripts/tests/utils/log.py
  docs/suppress_warnings.txt
Labels: category: docs

#10197 [IE TESTS] Add exception to comparation to provide correct conformance results
  src/tests/ie_test_utils/functional_test_utils/src/ov_tensor_utils.cpp
Labels: category: IE Tests, conformance

#10207 [CPU] Coverity fixes
  src/plugins/intel_cpu/src/nodes/kernels/gather_uni_kernel.hpp
  src/plugins/intel_cpu/src/nodes/mkldnn_gather_node.h
Labels: category: CPU

#10237 MO: Use double quotes in JSON analysis
  tools/mo/openvino/tools/mo/moc_frontend/analysis.py
Labels: category: MO

#10243 [LPT] Security fixes
  src/common/low_precision_transformations/include/low_precision/common/fake_quantize_dequantization.hpp
  src/common/low_precision_transformations/include/low_precision/concat.hpp
  src/common/low_precision_transformations/include/low_precision/eltwise_base_transformation.hpp
  src/common/low_precision_transformations/include/low_precision/multiply_to_group_convolution.hpp
  src/common/low_precision_transformations/src/concat.cpp
  src/common/low_precision_transformations/src/eltwise_base_transformation.cpp
  src/common/low_precision_transformations/src/fake_quantize_dequantization.cpp
  src/common/low_precision_transformations/src/multiply_to_group_convolution.cpp
  src/common/low_precision_transformations/src/shuffle_channels.cpp
Labels: category: CPU, category: LP transformations

#10175 [GNA] Fixed import for the new api 2.0
  src/plugins/intel_gna/gna_plugin_internal.hpp
  src/tests/functional/plugin/gna/shared_tests_instances/behavior/ov_plugin/life_time.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/life_time.cpp
Labels: category: GNA

#9691 [Transformations] Added interchangeable reshape elimination
  src/common/transformations/include/transformations/common_optimizations/reshape_sequence_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/src/transformations/common_optimizations/reshape_sequence_fusion.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_cpu_specific_opset.hpp
  src/tests/functional/inference_engine/transformations/common_optimizations/nop_elimination.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/reshape_sequence_fusion.cpp
Labels: category: IE common, category: nGraph, category: IE Tests, category: CPU

#10232 [CPU] Increase cache size
  src/plugins/intel_cpu/src/config.h
Labels: category: CPU

#10252 Fix Add/MulFQFusion transformations
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/common_optimizations/add_fake_quantize_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/mul_fake_quantize_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/optimize_strided_slice.cpp
  src/common/transformations/src/transformations/utils/utils.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/add_fake_quantize_fusion.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/mul_fake_quantize_fusion.cpp
Labels: category: IE common, category: nGraph, category: IE Tests

#10106 [Model Enablement] fix default onnx domain
  src/core/tests/models/onnx/unsqueeze_ai_onnx_domain.prototxt
  src/core/tests/models/onnx/unsqueeze_ai_onnx_domain_opset13.prototxt
  src/core/tests/models/onnx/unsqueeze_default_domain.prototxt
  src/core/tests/models/onnx/unsqueeze_default_domain_opset13.prototxt
  src/core/tests/onnx/onnx_import.in.cpp
  src/frontends/onnx/frontend/src/core/model.cpp
Labels: category: nGraph

#9783 [GPU] Onednn first conv
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/include/layout_optimizer.h
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program_helpers.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/tensor_type.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/include/batch_headers/fetch_data.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/include/batch_headers/fetch_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/core/common/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/runtime/format.cpp
  src/plugins/intel_gpu/tests/module_tests/test_module_fusing_reorder.cpp
Labels: category: GPU

#10225 Fix the issue in values_from_const method in OVTF integration with TF FE
  src/frontends/tensorflow/src/utils.hpp
Labels: category: nGraph

#10247 Fix TensorIterator dynamic rank output
  src/core/src/op/tensor_iterator.cpp
  src/core/src/op/transpose.cpp
Labels: category: nGraph

#10192 [tools] Fix image_info detection in benchmark app
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: bug, category: tools

#10231 Removed runtime namespace
  .ci/azure/linux_lohika.yml
  src/inference/include/openvino/runtime/common.hpp
  src/inference/include/openvino/runtime/compiled_model.hpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/include/openvino/runtime/exception.hpp
  src/inference/include/openvino/runtime/infer_request.hpp
  src/inference/include/openvino/runtime/intel_gpu/properties.hpp
  src/inference/include/openvino/runtime/profiling_info.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/include/openvino/runtime/remote_context.hpp
  src/inference/include/openvino/runtime/remote_tensor.hpp
  src/inference/include/openvino/runtime/variable_state.hpp
  src/tests/functional/plugin/cpu/test_utils/cpu_test_utils.cpp
  src/tests/functional/plugin/cpu/test_utils/cpu_test_utils.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/perf_counters.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/life_time.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/remote.cpp
Labels: category: IE common, category: IE Tests, category: GPU, category: CI

#10228 [GPU] Fix Backpropagation issue with BS >= 16
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/gen9_common_conv_bwd_data.cl
  src/plugins/intel_gpu/tests/test_cases/deconvolution_gpu_test.cpp
Labels: category: GPU

#10016 Shape inference adoption for dimension tracking
  src/core/shape_inference/include/interpolate_shape_inference.hpp
  src/core/src/op/matmul.cpp
  src/core/src/op/reshape.cpp
  src/core/tests/type_prop/arithmetic_ops.hpp
  src/core/tests/type_prop/reshape.cpp
Labels: category: nGraph
