Repository openvinotoolkit/openvino, pull requests merged in 2022-08, with the labels that each got.

#12322 [GPU] added is_dynamic methods to program_node and primitive_inst
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_common.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
Labels: category: GPU

#12235 Use static pointers to frontend libraries
  src/bindings/c/include/c_api/ie_c_api.h
  src/bindings/c/src/ie_c_api.cpp
  src/bindings/python/src/compatibility/pyngraph/util.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_frontend/test_frontend_lib_close.py
  src/core/tests/frontend/onnx/CMakeLists.txt
  src/core/tests/frontend/paddle/CMakeLists.txt
  src/frontends/common/include/openvino/frontend/manager.hpp
  src/frontends/common/src/manager.cpp
  src/frontends/tensorflow/tests/CMakeLists.txt
  src/inference/include/ie/ie_core.hpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/src/ie_network_reader.cpp
  src/inference/src/openvino_shutdown.cpp
  src/tests/functional/inference_engine/CMakeLists.txt
  src/tests/functional/inference_engine/lib_close.cpp
  src/tests/functional/inference_engine/lib_close.hpp
  src/tests/functional/inference_engine/onnx_reader/lib_close.cpp
  src/tests/functional/inference_engine/paddle_reader/lib_close.cpp
  src/tests/functional/inference_engine/skip_tests_config.cpp
Labels: category: Core, category: ONNX FE

#12382 Auto Batch: if plugin is disabled during cmake
  src/inference/src/ie_core.cpp
Labels: do not merge

#12361 Decompose NormalizeL2 on GPU
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/execution_graph_info/normalize_l2_decomposition.cpp
  src/tests/functional/plugin/shared/include/execution_graph_tests/normalize_l2_decomposition.hpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/normalize_l2_decomposition.cpp
Labels: category: GPU

#12232 [GPU]get data type of conv weights from node.weights() when network is internal
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#12335 [GPU] Update pre_replace_deconv to support output_shape for transposed conv
  src/plugins/intel_gpu/include/intel_gpu/primitives/convolution.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
Labels: category: GPU

#12385 Improved OpenVINO debian packages
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
  cmake/developer_package/packaging/changelog
  cmake/developer_package/packaging/copyright
  cmake/developer_package/packaging/debian.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/packaging/debian.cmake
  samples/CMakeLists.txt
  src/bindings/c/ov/src/CMakeLists.txt
  src/bindings/c/src/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: build, platform: linux, category: dependencies

#12349 [GPU] implement lru_cache
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/lru_cache.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/custom_primitive.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.hpp
  src/plugins/intel_gpu/tests/test_cases/lru_caches_gpu_test.cpp
Labels: category: GPU

#12142 [GPU] Pass concat unit tests on DG2
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/tests/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU

#12191 [MO, POT] Top up upper bounds for TensorFlow and NumPy modules in all requirement files
  samples/python/requirements.txt
  src/bindings/python/requirements.txt
  src/bindings/python/src/compatibility/openvino/requirements.txt
  src/core/tests/frontend/onnx/telemetry.cpp
  src/core/tests/frontend/paddle/telemetry.cpp
  src/frontends/tensorflow/tests/telemetry.cpp
  src/frontends/tests/frontend/shared/include/telemetry.hpp
  src/frontends/tests/frontend/shared/src/telemetry.cpp
  tests/layer_tests/requirements.txt
  tools/benchmark_tool/requirements.txt
  tools/cross_check_tool/requirements.txt
  tools/mo/requirements.txt
  tools/mo/requirements_caffe.txt
  tools/mo/requirements_kaldi.txt
  tools/mo/requirements_mxnet.txt
  tools/mo/requirements_onnx.txt
  tools/mo/requirements_tf.txt
  tools/mo/requirements_tf2.txt
  tools/pot/setup.py
Labels: do not merge

#12366 [GPU] Added common impl for optionals
  src/plugins/intel_gpu/include/intel_gpu/primitives/primitive.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/optionals.hpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/module_tests/optionals_test.cpp
  src/plugins/intel_gpu/tests/test_cases/bucketize_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/concatenation_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/custom_gpu_primitive_test.cpp
  src/plugins/intel_gpu/tests/test_cases/deconvolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/detection_output_test.cpp
  src/plugins/intel_gpu/tests/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/proposal_cpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/roll_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.h
Labels: category: GPU

#12364 [LPT] Correct a check for whether model is quantized
  src/common/low_precision_transformations/src/low_precision.cpp
Labels: category: LP transformations

#12076 Add notes for AUTO hints
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/automatic_batching.md
Labels: port to master

#12426 Models path adjustment in ONNX tests
  src/frontends/tests/onnx/onnx_editor.cpp
  src/frontends/tests/onnx/onnx_import.in.cpp
  src/frontends/tests/onnx/onnx_import_com_microsoft.in.cpp
  src/frontends/tests/onnx/onnx_import_const_folding.in.cpp
  src/frontends/tests/onnx/onnx_import_controlflow.in.cpp
  src/frontends/tests/onnx/onnx_import_convpool.in.cpp
  src/frontends/tests/onnx/onnx_import_deprecated.in.cpp
  src/frontends/tests/onnx/onnx_import_dyn_shapes.in.cpp
  src/frontends/tests/onnx/onnx_import_exceptions.cpp
  src/frontends/tests/onnx/onnx_import_external_data.in.cpp
  src/frontends/tests/onnx/onnx_import_org_openvino.in.cpp
  src/frontends/tests/onnx/onnx_import_quant.in.cpp
  src/frontends/tests/onnx/onnx_import_reshape.in.cpp
  src/frontends/tests/onnx/onnx_import_rnn.in.cpp
  src/frontends/tests/onnx/onnx_import_with_editor.in.cpp
  src/frontends/tests/onnx/onnx_tensor_names.cpp
  src/frontends/tests/onnx/onnx_test_utils.in.cpp
  src/frontends/tests/onnx/onnx_transformations.cpp
Labels: category: IE Tests, ONNX, category: ONNX FE

#12240 Added map of mutex to CoreImpl
  src/inference/src/ie_core.cpp
Labels: category: Core

#12423 Method Node::constant_fold uses new evaluate method with TensorVector
  src/core/src/node.cpp
  src/core/tests/constant_folding.cpp
Labels: category: Core

#12389 [GPU] Fix convolution unit test for onednn
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#12455 Trying to fix CVS-85530
  cmake/templates/OpenVINOConfig.cmake.in
Labels: category: build

#12461 CVS-88328: Ported fixes for TBB
  cmake/dependencies.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  samples/cpp/build_samples.sh
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.sh
  src/cmake/install_tbb.cmake
  src/inference/include/ie/ie_parallel.hpp
  src/inference/src/threading/ie_executor_manager.cpp
  src/tests/functional/inference_engine/CMakeLists.txt
Labels: category: build

#11823 [GPU] resolve WA of using clDNN reduce
  src/common/transformations/include/transformations/op_conversions/convert_reduce_to_reshape.hpp
  src/common/transformations/src/transformations/op_conversions/convert_reduce_to_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_onednn_optimization_attributes.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing_through.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/reduction_onednn.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/test_cases/reduce_gpu_test.cpp
Labels: category: GPU

#12346 [GPU] W/A for compilation issue
  src/plugins/intel_gpu/src/kernel_selector/core/common/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/common/jitter.h
  src/plugins/intel_gpu/src/kernel_selector/core/common/kernel_base_opencl.cpp
Labels: category: GPU

#12451 [GPU] Fix perf regression of #12113
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU

#12213 OpenCV build switched off by default [2022/2]
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/openvino-onnx/Dockerfile
  cmake/features.cmake
  src/bindings/c/ov/tests/CMakeLists.txt
  src/bindings/c/ov/tests/ov_c_api_test.cpp
  src/bindings/c/tests/CMakeLists.txt
  src/bindings/c/tests/ie_c_api_test.cpp
  src/bindings/python/BUILDING.md
Labels: category: build

#12418 [GPU] Update pre_replace_deconv to support output_shape for transposed conv
  src/plugins/intel_gpu/include/intel_gpu/primitives/convolution.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
Labels: category: GPU

#12400 Revert "Disable fusings_gpu/deconv_scale_activation_quantize_i8_eltwise_quantize_u8.basic/4"
  src/plugins/intel_gpu/tests/fusions/deconvolution_fusion_test.cpp
Labels: category: GPU

#12471 Use static pointers to frontend libraries (#12235)
  src/bindings/c/include/c_api/ie_c_api.h
  src/bindings/c/src/ie_c_api.cpp
  src/bindings/python/src/compatibility/pyngraph/util.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_frontend/test_frontend_lib_close.py
  src/core/tests/frontend/onnx/CMakeLists.txt
  src/core/tests/frontend/paddle/CMakeLists.txt
  src/frontends/common/include/openvino/frontend/manager.hpp
  src/frontends/common/src/manager.cpp
  src/frontends/tensorflow/tests/CMakeLists.txt
  src/inference/include/ie/ie_core.hpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/src/ie_network_reader.cpp
  src/inference/src/openvino_shutdown.cpp
  src/tests/functional/inference_engine/CMakeLists.txt
  src/tests/functional/inference_engine/lib_close.cpp
  src/tests/functional/inference_engine/lib_close.hpp
  src/tests/functional/inference_engine/onnx_reader/lib_close.cpp
  src/tests/functional/inference_engine/paddle_reader/lib_close.cpp
  src/tests/functional/inference_engine/skip_tests_config.cpp
Labels: category: Core

#11948 [GPU] Add unit tests for activation functions for blocked layouts
  src/plugins/intel_gpu/tests/test_cases/activation_simple_gpu_test.cpp
Labels: category: GPU

#12375 [GPU] Fix network loading time related to onednn engine creation
  src/plugins/intel_gpu/include/intel_gpu/runtime/stream.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.hpp
Labels: category: GPU

#12397 Remove unused private methods from LSTMSequence
  src/core/include/openvino/op/lstm_sequence.hpp
  src/core/src/op/lstm_sequence.cpp
Labels: category: nGraph

#12353 [GPU] Use partial shape in some ops factories
  src/plugins/intel_gpu/src/plugin/ops/cum_sum.cpp
  src/plugins/intel_gpu/src/plugin/ops/gather_nd.cpp
  src/plugins/intel_gpu/src/plugin/ops/mvn.cpp
  src/plugins/intel_gpu/src/plugin/ops/prior_box.cpp
  src/plugins/intel_gpu/src/plugin/ops/reduce.cpp
  src/plugins/intel_gpu/src/plugin/ops/reshape.cpp
  src/plugins/intel_gpu/src/plugin/ops/roll.cpp
  src/plugins/intel_gpu/src/plugin/ops/scatter_elements_update.cpp
  src/plugins/intel_gpu/src/plugin/ops/scatter_nd_update.cpp
  src/plugins/intel_gpu/src/plugin/ops/select.cpp
  src/plugins/intel_gpu/src/plugin/ops/shuffle_channels.cpp
  src/plugins/intel_gpu/src/plugin/ops/softmax.cpp
  src/plugins/intel_gpu/src/plugin/ops/space_to_batch.cpp
  src/plugins/intel_gpu/src/plugin/ops/split.cpp
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/src/plugin/ops/transpose.cpp
  src/plugins/intel_gpu/src/plugin/ops/unary.cpp
Labels: category: GPU

#12501 Update Azure refs for 2022/2
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#12077 [CPU] NormalizeL2: uniform application of eps
  src/plugins/intel_cpu/src/nodes/normalize.cpp
Labels: category: CPU

#12406 [CPU] Default enable brgconv AVX512
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
Labels: category: CPU

#12492 [GPU] Fix network loading time related to onednn engine creation
  src/plugins/intel_gpu/include/intel_gpu/runtime/stream.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.hpp
Labels: category: GPU

#12227 [GPU] Pass activation unit tests on DG2
  src/plugins/intel_gpu/tests/fusions/activation_fusion_test.cpp
Labels: category: GPU

#12305 [GPU] Replace tensor with PartialShape in layout class.
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/include/program_helpers.h
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_helpers.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/module_tests/layout_test.cpp
  src/plugins/intel_gpu/tests/module_tests/test_program_helpers.cpp
Labels: category: GPU

#11762 Fix DFTs docs
  docs/ops/signals/DFT_7.md
  docs/ops/signals/IDFT_7.md
  docs/ops/signals/IRDFT_9.md
  docs/ops/signals/RDFT_9.md
Labels: category: GPU, ExternalPR

#12417 [PyOV] Fix error handling for Debug builds and extend configs for CI
  src/bindings/python/setup.cfg
  src/bindings/python/src/pyopenvino/core/async_infer_queue.cpp
  src/bindings/python/tests/conftest.py
  src/bindings/python/tests/test_runtime/test_compiled_model.py
  src/bindings/python/tests/test_runtime/test_core.py
Labels: category: python api

#12317 [GPU] Use int64_t type for axis in GatherElements
  src/plugins/intel_gpu/include/intel_gpu/primitives/gather_elements.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gather_elements.cpp
  src/plugins/intel_gpu/src/plugin/ops/gather_elements.cpp
  src/plugins/intel_gpu/tests/fusions/gather_elements_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/gather_elements_gpu_test.cpp
Labels: category: GPU

#12345 [GPU] Align Tile parameters with ngraph
  src/plugins/intel_gpu/include/intel_gpu/primitives/tile.hpp
  src/plugins/intel_gpu/src/graph/tile.cpp
  src/plugins/intel_gpu/src/plugin/ops/tile.cpp
  src/plugins/intel_gpu/tests/test_cases/add_reorders_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/tile_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/tile.cpp
Labels: category: GPU

#12211 [GPU] Get rid program_node reference from all primitive_impl classes
  src/plugins/intel_gpu/src/graph/impls/common/condition.cpp
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/impls/common/wait_for_events.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/assign.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/proposal.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/read_value.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/activation.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/binary_convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/concatenation.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/custom_primitive.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/deformable_convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/generic_layer.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reorder.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scale.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#12514 [SAMPLES] Fix flake issues in Python speech sample
  samples/python/speech_sample/speech_sample.py
  samples/python/speech_sample/utils.py
  src/bindings/python/tests/test_graph/test_basic.py
  src/bindings/python/tests/test_runtime/test_tensor.py
  src/bindings/python/wheel/setup.py
Labels: category: samples

#12414 [GPU] Align StridedSlice parameters with ngraph
  src/plugins/intel_gpu/include/intel_gpu/primitives/strided_slice.hpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/tests/test_cases/removing_output_node_test.cpp
  src/plugins/intel_gpu/tests/test_cases/strided_slice_gpu_test.cpp
Labels: category: GPU

#12464 Fixed missed pugixml in case of system libs + wheel package
  cmake/packaging/debian.cmake
  cmake/packaging/nsis.cmake
  install_build_dependencies.sh
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/wheel/CMakeLists.txt
  src/bindings/python/wheel/setup.py
  src/cmake/openvino.cmake
  src/common/legacy/CMakeLists.txt
  src/common/offline_transformations/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/tests/CMakeLists.txt
  src/frontends/ir/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/hetero/CMakeLists.txt
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_gna/optimizer/gna_pass_manager.cpp
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_myriad/graph_transformer/CMakeLists.txt
  src/tests/functional/inference_engine/CMakeLists.txt
  src/tests/functional/plugin/conformance/subgraphs_dumper/CMakeLists.txt
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/CMakeLists.txt
  src/tests/functional/plugin/shared/CMakeLists.txt
  src/tests/functional/shared_test_classes/CMakeLists.txt
  src/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  src/tests/functional/shared_test_classes/src/base/snippets_test_utils.cpp
  src/tests/ie_test_utils/functional_test_utils/CMakeLists.txt
  src/tests_deprecated/helpers/CMakeLists.txt
  src/tests_deprecated/readers/ir_reader_v7/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: build, category: dependency_changes

#12522 Install python libs for debian explicitly
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: bug, category: dependency_changes

#12499 Failed plugins search from current directory w/o LD_LIBRARY_PATH
  samples/cpp/CMakeLists.txt
  src/frontends/tests/frontend/shared/include/utils.hpp
  src/frontends/tests/frontend/shared/src/utils.cpp
  src/inference/src/ie_core.cpp
Labels: bug, category: IE common

#12521 Added version generation as in CI
  cmake/developer_package/version.cmake
Labels: category: build, category: CI

#12290 [CPU] Add RDFT and IRDFT operators
  docs/template_plugin/backend/evaluates_map.cpp
  docs/template_plugin/tests/functional/op_reference/irdft.cpp
  src/bindings/python/tests/test_ngraph/test_dft.py
  src/bindings/python/tests/test_ngraph/test_rdft.py
  src/core/reference/include/ngraph/runtime/reference/irdft.hpp
  src/core/reference/src/runtime/reference/irdft.cpp
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/nodes/kernels/rdft_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/rdft_kernel.hpp
  src/plugins/intel_cpu/src/nodes/rdft.cpp
  src/plugins/intel_cpu/src/nodes/rdft.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/rdft.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/rdft.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/rdft.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/rdft.hpp
  src/tests/functional/shared_test_classes/src/single_layer/rdft.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/rdft.cpp
Labels: category: CPU

#12534 Fixed CVS-89248
  .ci/azure/linux_debian.yml
  cmake/features.cmake
  scripts/setupvars/setupvars.sh
  src/cmake/install_tbb.cmake
  src/plugins/intel_cpu/CMakeLists.txt
Labels: category: build

#12173 OpenCV build switched off by default [master]
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/openvino-onnx/Dockerfile
  cmake/features.cmake
  src/bindings/c/ov/tests/CMakeLists.txt
  src/bindings/c/ov/tests/ov_c_api_test.cpp
  src/bindings/c/tests/CMakeLists.txt
  src/bindings/c/tests/ie_c_api_test.cpp
  src/bindings/python/BUILDING.md
Labels: category: build, category: dependency_changes

#12472 [GPU] Disable TCs for OVClassHeteroExecutableNetworkGetMetricTest
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests, category: GPU

#12544 Fixed Windows AZP
  .ci/azure/linux_debian.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  src/frontends/tests/frontend/shared/include/utils.hpp
Labels: category: CI

#12550 U22 adoption in github actions
  .github/workflows/build_doc.yml
  .github/workflows/check_pr_commits.yml
  .github/workflows/code_style.yml
  .github/workflows/files_size.yml
  .github/workflows/mo.yml
  .github/workflows/py_checks.yml
  cmake/developer_package/clang_format/clang_format.cmake
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
  cmake/developer_package/ncc_naming_style/requirements_dev.txt
  cmake/developer_package/shellcheck/shellcheck.cmake
  docs/requirements.txt
  install_build_dependencies.sh
  scripts/CMakeLists.txt
  src/tests/functional/plugin/myriad/run_tests_myriad_multistick.sh
Labels: category: build, category: CI

#12441 Add model logging to SubgraphDumper
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
Labels: conformance

#12541 Tbb port
  cmake/features.cmake
  scripts/setupvars/setupvars.sh
  src/cmake/install_tbb.cmake
  src/cmake/openvino.cmake
  src/plugins/intel_cpu/CMakeLists.txt
Labels: category: build

#12295 [GNA] Fix pass for fused transpose + reshape
  src/plugins/intel_gna/transformations/unfuse_reshape_and_transpose.cpp
  src/tests/unit/gna/ngraph/transformations/gna_unfuse_reshape_and_transpose.cpp
Labels: category: GNA

#12413 [GPU] Baseline network and primitive_inst changes for dynamic shapes
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_optimize_weights.cpp
  src/plugins/intel_gpu/src/graph/include/convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/deconvolution_inst.h
  src/plugins/intel_gpu/src/graph/include/fully_connected_inst.h
  src/plugins/intel_gpu/src/graph/include/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/tests/module_tests/reorder_inputs_test.cpp
Labels: category: GPU

#12533 [GPU] Fixed invalid access to input layout in impl map
  src/plugins/intel_gpu/src/graph/bucketize.cpp
  src/plugins/intel_gpu/src/graph/impls/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/shape_of.cpp
Labels: category: GPU

#12149 Fix for FakeQuantize-1 conformance tests
  src/plugins/intel_cpu/src/nodes/common/cpu_convert.cpp
Labels: category: CPU

#12383 Auto Batch: if plugin is disabled during cmake
  src/inference/src/ie_core.cpp
Labels: bug

#12519 [GPU] NonZero-3 op
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/non_zero.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/non_zero.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/include/non_zero_inst.h
  src/plugins/intel_gpu/src/graph/non_zero.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/count_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/count_nonzero_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/count_nonzero_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/count_nonzero_kernel_selector.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/gather_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/gather_nonzero_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/gather_nonzero_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_zero/gather_nonzero_kernel_selector.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/count_nonzero_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/gather_nonzero_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/non_zero.cpp
  src/plugins/intel_gpu/tests/test_cases/non_zero_gpu_test.cpp
Labels: category: GPU

#12241 [GPU] Ngraph based shape-infer infra
  src/core/include/openvino/op/util/gather_base.hpp
  src/core/shape_inference/include/shape_nodes.hpp
  src/core/src/op/util/gather_base.cpp
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/reshape.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/include/binary_convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/deconvolution_inst.h
  src/plugins/intel_gpu/src/graph/include/deformable_convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/fully_connected_inst.h
  src/plugins/intel_gpu/src/graph/include/gather_inst.h
  src/plugins/intel_gpu/src/graph/include/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/include/one_hot_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_type.h
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/include/reduce_inst.h
  src/plugins/intel_gpu/src/graph/include/reshape_inst.h
  src/plugins/intel_gpu/src/graph/include/strided_slice_inst.h
  src/plugins/intel_gpu/src/graph/include/to_string_utils.h
  src/plugins/intel_gpu/src/graph/one_hot.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/shape_infer/gather_si_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/one_hot_si_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/reshape_si_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/strided_slice_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/strided_slice_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_utils/program_wrapper.h
Labels: category: GPU

#12565 [GPU] Fixed ov integration test build
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
Labels: category: IE Tests

#12564 Add python arm64 platform build support (Apple Silicon)
  src/bindings/python/wheel/setup.py
Labels: category: build, category: python api

#12509 [Coverity Scan] sample issue from CS fix
  samples/c/common/opencv_c_wrapper/opencv_c_wrapper.cpp
Labels: category: IE common

#12547 [CC] enable cc in core/src/pass
  src/common/conditional_compilation/include/openvino/cc/pass/itt.hpp
  src/common/snippets/src/pass/assign_registers.cpp
  src/common/transformations/src/transformations/common_optimizations/change_placeholder_types.cpp
  src/common/transformations/src/transformations/common_optimizations/convert_compression_only_to_legacy.cpp
  src/common/transformations/src/transformations/common_optimizations/dimension_tracking.cpp
  src/common/transformations/src/transformations/common_optimizations/mark_precision_sensitive_divides.cpp
  src/common/transformations/src/transformations/common_optimizations/mark_precision_sensitive_subgraphs.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_legacy_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/ric_fusion.cpp
  src/common/transformations/src/transformations/fix_rt_info.cpp
  src/common/transformations/src/transformations/init_node_info.cpp
  src/common/transformations/src/transformations/resolve_names_collisions.cpp
  src/common/transformations/src/transformations/smart_reshape/mimic_set_batch_size.cpp
  src/common/transformations/src/transformations/smart_reshape/smart_reshape.cpp
  src/core/src/itt.hpp
  src/core/src/pass/constant_folding.cpp
  src/core/src/pass/convert_fp32_to_fp16.cpp
  src/core/src/pass/graph_rewrite.cpp
  src/core/src/pass/low_latency.cpp
  src/core/src/pass/make_stateful.cpp
  src/core/src/pass/pass.cpp
  src/core/src/pass/serialize.cpp
  src/core/src/pass/validate.cpp
  src/core/src/pass/visualize_tree.cpp
Labels: category: IE transformations, category: nGraph

#12567 Debian conflicts
  .ci/azure/linux_debian.yml
  cmake/packaging/debian.cmake
Labels: category: build

#12392 [PyOV] Add copy/deepcopy magic methods for Output/ConstOutput object
  src/bindings/python/src/pyopenvino/graph/node_output.hpp
  src/bindings/python/tests/test_runtime/test_infer_request.py
  src/bindings/python/tests/test_runtime/test_output_const_node.py
Labels: category: python api

#12439 [GNA] Fix precision for DecomposeMVNTest
  src/tests/unit/gna/ngraph/transformations/gna_decompose_mvn.cpp
Labels: category: GNA

#12453 Extend inputs/outputs info with shape in BA printout
  samples/cpp/common/utils/include/samples/args_helper.hpp
Labels: category: samples, category: tools

#12342 [GPU] Align Interpolate primitive with nGraph's parameters
  src/plugins/intel_gpu/include/intel_gpu/primitives/resample.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/resample.cpp
  src/plugins/intel_gpu/src/graph/resample.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/resample/resample_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/resample/resample_kernel_base.h
  src/plugins/intel_gpu/src/plugin/ops/interpolate.cpp
  src/plugins/intel_gpu/tests/fusions/fusion_validity_test.cpp
  src/plugins/intel_gpu/tests/fusions/resample_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/depth_concatenate_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/resample_gpu_test.cpp
Labels: category: GPU

#12341 [GPU] Align Reduce primitive with nGraph's parameters
  src/plugins/intel_gpu/include/intel_gpu/primitives/reduce.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reduce.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/reduction_onednn.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/reduce.cpp
  src/plugins/intel_gpu/src/plugin/ops/reduce.cpp
  src/plugins/intel_gpu/tests/fusions/reduce_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/reduce_gpu_test.cpp
Labels: category: GPU

#12551 Automatically detect ENABLE_PYTHON, ENABLE_WHEEL default values
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/windows.yml
  .ci/openvino-onnx/Dockerfile
  .github/workflows/py_checks.yml
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
  cmake/developer_package/python_requirements.cmake
  cmake/features.cmake
  src/bindings/CMakeLists.txt
  src/bindings/python/CMakeLists.txt
  src/bindings/python/setup.py
  src/bindings/python/src/CMakeLists.txt
  src/bindings/python/src/compatibility/CMakeLists.txt
  src/bindings/python/tests/mock/mock_py_frontend/CMakeLists.txt
  src/bindings/python/tests/mock/pyngraph_fe_mock_api/CMakeLists.txt
  src/bindings/python/wheel/CMakeLists.txt
  src/bindings/python/wheel/requirements-dev.txt
  src/core/include/openvino/core/node.hpp
  src/core/src/node.cpp
  src/core/tests/frontend/paddle/CMakeLists.txt
  src/frontends/tensorflow/tests/CMakeLists.txt
  tools/mo/CMakeLists.txt
Labels: category: build, category: Python API

#12584 Fix path of find_package of ITT counters in case of defined INTEL_VTUNE_DIR variable
  thirdparty/ittapi/CMakeLists.txt
Labels: category: build

#12557 Guozhong/remove testcase load network single ie core
  src/tests/functional/plugin/shared/include/behavior/plugin/core_threading.hpp
Labels: category: IE Tests

#12573 Enabled plugins auto registration
  cmake/extra_modules.cmake
  src/plugins/CMakeLists.txt
  src/plugins/auto/CMakeLists.txt
  src/plugins/auto_batch/CMakeLists.txt
  src/plugins/hetero/CMakeLists.txt
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_gna/CMakeLists.txt
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_myriad/CMakeLists.txt
Labels: category: build

#12460 changes needed to rhel8 certification
  scripts/install_dependencies/install_NEO_OCL_driver.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: dependencies, category: dependency_changes

#12560 [POT] Fixed "inplace_statistics" param in documentation
  tools/pot/configs/accuracy_aware_quantization_spec.json
  tools/pot/configs/default_quantization_spec.json
  tools/pot/docs/FrequentlyAskedQuestions.md
  tools/pot/openvino/tools/pot/algorithms/quantization/default/README.md
Labels: category: POT

#12580 Replaced DLDT to OpenVINO
  docs/IE_PLUGIN_DG/Building.md
  docs/IE_PLUGIN_DG/Intro.md
  docs/IE_PLUGIN_DG/PluginTesting.md
  docs/OV_Runtime_UG/Samples_Overview.md
  docs/get_started/get_started_demos.md
  samples/cpp/build_samples.sh
  samples/cpp/build_samples_msvc.bat
  src/bindings/c/docs/api_overview.md
  src/bindings/c/include/c_api/ie_c_api.h
  src/inference/include/ie/ie_common.h
  src/plugins/intel_gpu/include/intel_gpu/primitives/convert_color.hpp
  src/plugins/intel_gpu/src/kernel_selector/common/common_types.h
  src/tests/README.md
Labels: category: samples, category: docs

#12589 Skip sporadically failing tests
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests, category: GPU

#12520 [PyOV][PyDocs] Update BUILDING.md instructions for Linux/MacOS
  src/bindings/python/BUILDING.md
Labels: category: Python API, category: docs

#12446 [CPU] Removed contexts from Load/Store emitters
  src/plugins/intel_cpu/src/emitters/jit_emitter.hpp
  src/plugins/intel_cpu/src/emitters/jit_load_store_emitters.cpp
  src/plugins/intel_cpu/src/emitters/jit_load_store_emitters.hpp
  src/plugins/intel_cpu/src/nodes/interpolate.cpp
  src/plugins/intel_cpu/src/nodes/mvn.cpp
  src/plugins/intel_cpu/src/nodes/non_max_suppression.cpp
  src/plugins/intel_cpu/src/nodes/roi_align.cpp
  src/plugins/intel_cpu/src/nodes/roi_pooling.cpp
  src/plugins/intel_cpu/src/nodes/topk.cpp
  src/plugins/intel_cpu/src/utils/jit_kernel.cpp
  src/plugins/intel_cpu/src/utils/jit_kernel.hpp
  src/tests/unit/cpu/jit_kernel_test.cpp
Labels: category: CPU

#12601 Fix conditions for python when cmake debug prefix is not empty
  cmake/developer_package/cpplint/cpplint.cmake
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
  cmake/developer_package/python_requirements.cmake
  cmake/features.cmake
  cmake/test_model_zoo.cmake
  src/bindings/python/CMakeLists.txt
  src/bindings/python/src/compatibility/openvino/CMakeLists.txt
  src/bindings/python/src/compatibility/openvino/inference_engine/CMakeLists.txt
  src/bindings/python/src/compatibility/pyngraph/CMakeLists.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/frontend_module.cmake
  src/bindings/python/src/pyopenvino/frontend/onnx/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/paddle/CMakeLists.txt
  src/bindings/python/src/pyopenvino/test_utils/CMakeLists.txt
  src/bindings/python/tests/mock/pyngraph_fe_mock_api/CMakeLists.txt
  src/bindings/python/wheel/CMakeLists.txt
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
  tools/mo/unit_tests/mock_mo_frontend/mock_mo_frontend/CMakeLists.txt
  tools/mo/unit_tests/mock_mo_frontend/mock_mo_python_api/CMakeLists.txt
Labels: category: build

#12611 handle tbb library path like .../tbb/lib/intel64/gcc4.8 in setupvars
  scripts/setupvars/setupvars.sh
Labels: category: build, category: samples, platform: linux

#12326 [GNA] Moved input precision tests (renew PR10990)
  src/tests/unit/gna/gna_input_preproc_test.cpp
  src/tests_deprecated/unit/engines/gna/gna_input_precision_test.cpp
Labels: category: GNA

#12572 [Coverity Scan] Port sample issue from CS fix to master
  samples/c/common/opencv_c_wrapper/opencv_c_wrapper.cpp
Labels: category: samples

#12510 [ONNX FE] Extend ONNX FE for operation GenerateProposals
  docs/ops/detection/GenerateProposals_9.md
  docs/template_plugin/backend/evaluates_map.cpp
  src/core/tests/models/onnx/org.openvinotoolkit/generate_proposals.prototxt
  src/core/tests/models/onnx/org.openvinotoolkit/generate_proposals_batch2.prototxt
  src/frontends/common/src/utils.hpp
  src/frontends/onnx/frontend/src/core/transform.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/generate_proposals.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/generate_proposals.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/tests/onnx/onnx_import_org_openvino.in.cpp
Labels: category: ONNX FE

#12606 handle tbb library path like .../tbb/lib/intel64/gcc4.8
  scripts/setupvars/setupvars.sh
Labels: category: build, category: samples

#12614 [PyOV] Add missing element Type and functions
  src/bindings/python/src/pyopenvino/graph/types/element_type.cpp
  src/bindings/python/tests/test_runtime/test_type.py
  src/bindings/python/tests/test_transformations/test_public_transformations.py
Labels: category: Python API

#12225 [GNA] Overload correction algorithm for Add (Renew PR11406)
  src/plugins/intel_gna/frontend/scale_factor_calc.hpp
  src/tests/functional/plugin/gna/scale_factors_tests/add_overload_correction.cpp
Labels: category: GNA

#12625 port adding patchelf dependency to 2022.2 release
  install_build_dependencies.sh
Labels: category: build, category: Python API

#12623 Fix some of shellcheck errors in setupvars.sh
  scripts/setupvars/setupvars.sh
Labels: category: build

#12055 [GPU] Pass deconvolution unit tests on DG2
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/tests/fusions/deconvolution_fusion_test.cpp
Labels: category: GPU

#12247 Correct docstrings in Python API
  src/bindings/python/src/openvino/runtime/opset1/ops.py
Labels: category: Python API

#12275 Restrict protobuf to a stable version lower than 4.0.0
  src/bindings/python/requirements_test.txt
  src/core/tests/frontend/paddle/requirements_dev.txt
  src/core/tests/models/onnx/onnx_prototxt_converter_requirements.txt
  src/core/tests/requirements_test_onnx.txt
  tools/mo/requirements_onnx.txt
Labels: category: Python API

#12632 Fix build with MSVC 141 (Visual Studio 2017)
  samples/cpp/common/utils/include/samples/common.hpp
  src/common/util/include/openvino/util/common_util.hpp
  src/frontends/ir/src/ir_deserializer.hpp
  src/frontends/ir/src/rt_info_deserializer.hpp
Labels: category: build

#12642 Use OSX 11 pool for MacOSX
  .ci/azure/mac.yml
Labels: category: build, platform: osx, category: CI

#12641 Try to use ccache for linker as well
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_debian.yml
  .ci/azure/mac.yml
Labels: category: build

#12518 [TF FE] Refactor constant reading to not use protobuf directly
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/decoder.hpp
  src/frontends/tensorflow/src/decoder_proto.cpp
  src/frontends/tensorflow/src/decoder_proto.hpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/op/const.cpp
  src/frontends/tensorflow/src/op/fused_batch_norm.cpp
  src/frontends/tensorflow/src/op/strided_slice.cpp
  src/frontends/tensorflow/src/openvino_conversions.hpp
  src/frontends/tensorflow/src/pass/transpose_sinking.cpp
  src/frontends/tensorflow/src/place.cpp
  src/frontends/tensorflow/src/utils.cpp
  src/frontends/tensorflow/src/utils.hpp
Labels: do not merge

#11302 Use new preprocessing for legacy MO
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/back/ReverseInputChannels.py
  tools/mo/openvino/tools/mo/back/offline_transformations.py
  tools/mo/openvino/tools/mo/middle/AddMeanScaleValues.py
  tools/mo/openvino/tools/mo/middle/InputCut.py
  tools/mo/openvino/tools/mo/middle/RemoveIdentity.py
  tools/mo/openvino/tools/mo/middle/ScaleInput.py
  tools/mo/unit_tests/mo/back/ReverseInputChannels_test.py
  tools/mo/unit_tests/mo/middle/AddMeanScaleValues_test.py
Labels: category: MO, pr: needs tests

#12620 [CPU] default enable avx512 f32 brgconv
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
Labels: category: CPU

#12628 [MO, POT] Top up upper bounds for TensorFlow and NumPy modules in all requirements files
  samples/python/requirements.txt
  src/bindings/python/requirements.txt
  src/bindings/python/src/compatibility/openvino/requirements.txt
  src/core/tests/frontend/onnx/telemetry.cpp
  src/core/tests/frontend/paddle/telemetry.cpp
  src/frontends/tensorflow/tests/telemetry.cpp
  src/frontends/tests/frontend/shared/include/telemetry.hpp
  src/frontends/tests/frontend/shared/src/telemetry.cpp
  tests/layer_tests/requirements.txt
  tools/benchmark_tool/requirements.txt
  tools/cross_check_tool/requirements.txt
  tools/mo/requirements.txt
  tools/mo/requirements_caffe.txt
  tools/mo/requirements_kaldi.txt
  tools/mo/requirements_mxnet.txt
  tools/mo/requirements_onnx.txt
  tools/mo/requirements_tf.txt
  tools/mo/requirements_tf2.txt
  tools/pot/setup.py
Labels: category: Python API, category: tools

#12637 Fixed generation of plugins.hpp and disabled some proxy tests
  cmake/developer_package/plugins/create_plugins_hpp.cmake
  cmake/developer_package/plugins/plugins.cmake
Labels: category: build

#12313 support blocked format for broadcast
  src/plugins/intel_gpu/src/graph/broadcast.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/broadcast.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/broadcast/broadcast_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/broadcast/broadcast_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/broadcast_gpu_ref.cl
  src/plugins/intel_gpu/tests/CMakeLists.txt
  src/plugins/intel_gpu/tests/test_cases/broadcast_gpu_test.cpp
Labels: category: GPU

#12082 [GPU] Implement can_memory_reuse flag to fix deconvolution NaN input issue
  src/plugins/intel_gpu/src/graph/impls/ocl/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reduce.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/deconvolution/deconvolution_kernel_b_fs_zyx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/deconvolution/deconvolution_kernel_b_fs_zyx_fsv16.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/reduce/reduce_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/kernel_selector_common.h
Labels: category: GPU

#12665 Install only required TBB libraries
  src/cmake/install_tbb.cmake
Labels: category: build

#12630 [GPU] adding weight format conversion rule for b_fs_yx_fsv16
  src/plugins/intel_gpu/src/runtime/layout.cpp
Labels: category: GPU

#12654 [GPU] Pad shape infer support
  src/core/shape_inference/include/pad_shape_inference.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/border.hpp
  src/plugins/intel_gpu/src/graph/border.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_input_padding.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/border.cpp
  src/plugins/intel_gpu/src/graph/include/border_inst.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/gather_tree/gather_tree_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/gemm/gemm_kernel_base.h
  src/plugins/intel_gpu/src/plugin/ops/pad.cpp
  src/plugins/intel_gpu/tests/shape_infer/pad_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/border_gpu_test.cpp
Labels: category: GPU

#12539 [GPU] Tile shape infer support
  src/core/shape_inference/include/tile_shape_inference.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/tile.hpp
  src/plugins/intel_gpu/src/graph/include/tile_inst.h
  src/plugins/intel_gpu/src/graph/tile.cpp
  src/plugins/intel_gpu/tests/shape_infer/tile_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/add_reorders_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/tile_gpu_test.cpp
Labels: category: GPU

#12516 [GPU] Interpolate shape infer support
  src/core/include/openvino/op/interpolate.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/build_options.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/resample.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/resample.cpp
  src/plugins/intel_gpu/src/graph/include/resample_inst.h
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/resample.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/plugin/ops/interpolate.cpp
  src/plugins/intel_gpu/tests/module_tests/format_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/interpolate_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/resample_gpu_test.cpp
Labels: category: GPU

#12582 [MO][Kaldi] RestrictedAttention component support in MO
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/front/kaldi/extractors/restrictedattentioncomponent_ext.py
  tools/mo/openvino/tools/mo/front/kaldi/loader/utils.py
  tools/mo/openvino/tools/mo/front/kaldi/restrictedattentioncomponent_replacer.py
  tools/mo/openvino/tools/mo/ops/restrictedattentioncomponent.py
  tools/mo/unit_tests/mo/front/kaldi/restrictedattentioncomponent_replacer_test.py
Labels: category: MO

#12337 [GNA] Moved unit test for Import/Export (Renew PR11438)
  src/tests/unit/gna/CMakeLists.txt
  src/tests/unit/gna/gna_api_stub.cpp
  src/tests/unit/gna/gna_export_import_test.cpp
  src/tests/unit/gna/gna_mock_api.hpp
  src/tests_deprecated/unit/engines/gna/gna_graph_aot_test.cpp
Labels: category: GNA

#12652 [coverage] Added general target for collecting coverage
  cmake/coverage.cmake
Labels: category: build

#12694 Disable CUDA plugin building Azure
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_debian.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#12649 Debian packages for frontends
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  CMakeLists.txt
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/packaging/debian.cmake
  cmake/packaging/debian.cmake
  src/bindings/python/wheel/CMakeLists.txt
  src/bindings/python/wheel/setup.py
  src/common/itt/CMakeLists.txt
  src/frontends/tensorflow/CMakeLists.txt
  src/plugins/intel_gna/optimizer/gna_pass_manager.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
  thirdparty/CMakeLists.txt
  thirdparty/ittapi/CMakeLists.txt
Labels: category: build

#12699 Cherry-pick disable CUDA plugin building Azure
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#12697 Cherry-pick U22 adoption in github actions (#12550)
  .github/workflows/build_doc.yml
  .github/workflows/check_pr_commits.yml
  .github/workflows/code_style.yml
  .github/workflows/files_size.yml
  .github/workflows/mo.yml
  .github/workflows/py_checks.yml
  cmake/developer_package/clang_format/clang_format.cmake
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
  cmake/developer_package/ncc_naming_style/requirements_dev.txt
  cmake/developer_package/shellcheck/shellcheck.cmake
  docs/requirements.txt
  install_build_dependencies.sh
  samples/cpp/build_samples.sh
  scripts/CMakeLists.txt
  scripts/install_dependencies/install_NCS_udev_rules.sh
  scripts/setupvars/setupvars.sh
  src/tests/functional/plugin/myriad/run_tests_myriad_multistick.sh
Labels: category: CI

#12701 Don't run CPU tests if some previous steps have failed
  .ci/azure/linux.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#12670 [MULTI]Fix the issue that QueryNetworkMultiThrows failed to pass
  src/plugins/auto/plugin.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
Labels: category: MULTI, pr: needs tests

#12702 Don't use system tbb for 2022.2
  cmake/features.cmake
Labels: category: dependencies

#12643 [CPU] Support MHA optimization
  src/inference/dev_api/ie_system_conf.h
  src/inference/src/ie_system_conf.cpp
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/emitters/jit_emitter.cpp
  src/plugins/intel_cpu/src/emitters/jit_load_store_emitters.cpp
  src/plugins/intel_cpu/src/emitters/jit_load_store_emitters.hpp
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/mha_fusion.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/mha_fusion.hpp
  src/plugins/intel_cpu/src/ngraph_transformations/op/mha.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/op/mha.hpp
  src/plugins/intel_cpu/src/nodes/mha.cpp
  src/plugins/intel_cpu/src/nodes/mha.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/tests/functional/plugin/cpu/subgraph_tests/src/mha.cpp
Labels: category: CPU

#12712 Disable CUDA plugin in Azure coverity pipeline
  .ci/azure/linux_coverity.yml
Labels: category: build, category: CI

#12709 Porting Update to add climits for ULLONG_MAX to 2022.2 (#11958)
  thirdparty/cnpy/cnpy.cpp
Labels: category: samples

#12703 Use static TBBBind if dynamic one is not found
  cmake/developer_package/tbb/lnx/TBBConfig.cmake
  cmake/developer_package/tbb/mac/TBBConfig.cmake
  cmake/developer_package/tbb/win/TBBConfig.cmake
  src/cmake/ie_parallel.cmake
  src/cmake/install_tbb.cmake
Labels: category: IE common, category: build

#12675 Port to 2022/2: updated to convert b_fs_yx_fsv16 to o_is_yx_isv16
  src/plugins/intel_gpu/src/runtime/layout.cpp
Labels: category: GPU

#12669 Warning suppression for C-API.
  src/bindings/c/CMakeLists.txt
  src/bindings/c/src/ie_c_api.cpp
  src/bindings/c/src/ov_core.cpp
  src/bindings/c/src/ov_infer_request.cpp
  src/bindings/c/src/ov_model.cpp
  src/bindings/c/src/ov_partial_shape.cpp
  src/bindings/c/tests/ie_c_api_test.cpp
  src/bindings/c/tests/ov_infer_request_test.cpp
  src/bindings/c/tests/ov_tensor_test.cpp
Labels: category: C API, platform: linux

#12705 Fix the strided slice issue when ellipsis_mask has redundant data.
  src/plugins/intel_cpu/src/nodes/strided_slice.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/strided_slice.cpp
Labels: category: CPU

#12608 Fix the strided slice issue when ellipsis_mask has redundant data.
  src/plugins/intel_cpu/src/nodes/strided_slice.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/strided_slice.cpp
Labels: category: CPU

#12619 [CPU] default enable avx512 f32 brgconv
  src/plugins/intel_cpu/src/nodes/conv.cpp
Labels: category: CPU

#12671 [CPU] Reduce node improve performance for nspc layout
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/src/nodes/reduce.h
Labels: category: CPU

#12685 [GPU] MVN shape infer support and dynamic tests
  src/plugins/intel_gpu/src/graph/border.cpp
  src/plugins/intel_gpu/src/graph/gather.cpp
  src/plugins/intel_gpu/src/graph/include/border_inst.h
  src/plugins/intel_gpu/src/graph/include/gather_inst.h
  src/plugins/intel_gpu/src/graph/include/mvn_inst.h
  src/plugins/intel_gpu/src/graph/include/one_hot_inst.h
  src/plugins/intel_gpu/src/graph/include/resample_inst.h
  src/plugins/intel_gpu/src/graph/include/reshape_inst.h
  src/plugins/intel_gpu/src/graph/include/strided_slice_inst.h
  src/plugins/intel_gpu/src/graph/include/tile_inst.h
  src/plugins/intel_gpu/src/graph/mvn.cpp
  src/plugins/intel_gpu/src/graph/one_hot.cpp
  src/plugins/intel_gpu/src/graph/resample.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/tile.cpp
  src/plugins/intel_gpu/tests/shape_infer/interpolate_si_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/mvn_si_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/pad_si_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/tile_si_test.cpp
Labels: category: GPU

#12403 Add decomposition transformation for eye 9
  src/bindings/python/tests/test_onnx/test_ops_unary.py
  src/common/transformations/include/transformations/op_conversions/eye_decomposition.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/op_conversions/eye_decomposition.cpp
  src/core/include/openvino/pass/graph_rewrite.hpp
  src/core/src/op/eye.cpp
  src/frontends/onnx/frontend/src/op/eye_like.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/tests/functional/inference_engine/transformations/op_conversions/eye_decomposition_test.cpp
  src/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  src/tests/ie_test_utils/common_test_utils/ngraph_test_utils.hpp
Labels: category: Core, category: IE transformations

#12631 [GPU] Shared memory optimization for network::execute_impl() call
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
Labels: category: GPU

#12740 [POT] Disable LWT tests
  tools/pot/tests/test_sanity_layerwise_finetuning.py
Labels: category: POT

#12730 [GPU] optimized out detection_out if nms_threshold is under -1.
  src/plugins/intel_gpu/src/graph/impls/ocl/detection_output.cpp
Labels: category: GPU

#12507 [sample][doc] fix a typo in benchmark_app sample and doc
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
Labels: category: samples, category: docs

#12739 [GPU] Dynamic input support for Transpose
  src/plugins/intel_gpu/src/graph/include/permute_inst.h
  src/plugins/intel_gpu/src/graph/permute.cpp
  src/plugins/intel_gpu/tests/shape_infer/transpose_si_test.cpp
Labels: category: GPU

#12517 [GPU] GatherElements shape infer support
  src/core/include/openvino/op/gather_elements.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/gather_elements.hpp
  src/plugins/intel_gpu/src/graph/gather_elements.cpp
  src/plugins/intel_gpu/src/graph/include/gather_elements_inst.h
  src/plugins/intel_gpu/tests/shape_infer/gather_elements_si_test.cpp
Labels: category: GPU

#12634 [GPU] Fix Interpolate missed axes values alignment with scales
  src/plugins/intel_gpu/src/plugin/ops/interpolate.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/interpolate.cpp
  src/tests/functional/shared_test_classes/src/single_layer/interpolate.cpp
Labels: category: GPU

#12672 Enable support of CPU plugin for Apple M1
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/target_flags.cmake
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
Labels: category: build

#12645 [GPU] fix Transpose issue for ConvertColor with FakeQuantize.
  src/plugins/intel_gpu/src/plugin/ops/transpose.cpp
Labels: category: GPU

#12748 [GPU] Shared memory optimization for network::execute_impl() call
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
Labels: category: GPU

#12678 [POT][OV 2022.2] Fixed insert_fake_quantize() with empty hw_config
  tools/pot/openvino/tools/pot/graph/passes.py
Labels: category: POT

#12653 Use new reprocessing for legacy MO (#11302)
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/back/ReverseInputChannels.py
  tools/mo/openvino/tools/mo/back/offline_transformations.py
  tools/mo/openvino/tools/mo/middle/AddMeanScaleValues.py
  tools/mo/openvino/tools/mo/middle/InputCut.py
  tools/mo/openvino/tools/mo/middle/RemoveIdentity.py
  tools/mo/openvino/tools/mo/middle/ScaleInput.py
  tools/mo/unit_tests/mo/back/ReverseInputChannels_test.py
  tools/mo/unit_tests/mo/middle/AddMeanScaleValues_test.py
Labels: pr: needs tests

#12755 Print detailed errors if no reqs are found for either ENABLE_PYTHON / ENABLE_WHEEL are ON
  cmake/developer_package/features.cmake
  cmake/developer_package/models.cmake
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
  cmake/developer_package/ncc_naming_style/ncc_run.cmake
  cmake/features.cmake
  install_build_dependencies.sh
  src/bindings/python/CMakeLists.txt
  src/bindings/python/wheel/setup.py
  src/frontends/tensorflow/tests/requirements_dev.txt
  src/plugins/CMakeLists.txt
  src/plugins/intel_myriad/third_party/XLink/XLink.cmake
  thirdparty/onnx/CMakeLists.txt
Labels: category: build, category: Python API

#12757 [POT][OV 2022.2] fix: incorrect fq type (cherry-pick from #12234)
  tools/pot/openvino/tools/pot/graph/passes.py
Labels: category: POT

#12716 Summary fix
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
Labels: conformance

#12759 added support to install NEO drivers on rh8.6
  scripts/install_dependencies/install_NEO_OCL_driver.sh
Labels: category: build

#12760 [GPU] NMS9 support backport
  src/plugins/intel_gpu/src/graph/impls/cpu/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/non_max_suppression/non_max_suppression_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/non_max_suppression_gpu_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/non_max_suppression.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/test_cases/non_max_suppression_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/non_max_suppression.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/non_max_suppression.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/non_max_suppression.hpp
  src/tests/functional/shared_test_classes/src/single_layer/non_max_suppression.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/non_max_suppression.cpp
Labels: category: GPU

#12745 [GPU] Add condition to check deconv with b_fs_yx_fsv16 opt
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU
