Repository openvinotoolkit/openvino, pull requests merged in 2022-03, with the labels that each got.

#10628 Transformation guide
  docs/Extensibility_UG/Intro.md
  docs/Extensibility_UG/graph_rewrite_pass.md
  docs/Extensibility_UG/img/graph_rewrite_efficient_search.png
  docs/Extensibility_UG/img/graph_rewrite_execution.png
  docs/Extensibility_UG/img/ngraph_insert_node.png
  docs/Extensibility_UG/img/ngraph_replace_node.png
  docs/Extensibility_UG/img/register_new_node.png
  docs/Extensibility_UG/img/transformations_structure.png
  docs/Extensibility_UG/matcher_pass.md
  docs/Extensibility_UG/model_pass.md
  docs/Extensibility_UG/ov_transformations.md
  docs/IE_PLUGIN_DG/PluginTesting.md
  docs/OV_Runtime_UG/model_representation.md
  docs/OV_Runtime_UG/openvino_temporary.md
  docs/OV_Runtime_UG/ov_transformations.md
  docs/documentation.md
  docs/snippets/example_ngraph_utils.cpp
  docs/snippets/ov_model_snippets.cpp
  docs/template_plugin/src/transformations/template_model_transformation.cpp
  docs/template_plugin/src/transformations/template_model_transformation.hpp
  docs/template_plugin/src/transformations/template_pattern_transformation.cpp
  docs/template_plugin/src/transformations/template_pattern_transformation.hpp
  src/core/include/openvino/core/core.hpp
Labels: category: Core, category: docs, category: TEMPLATE

#10653 [MO] Clean up Model Optimizer options, help, and documentation
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  tools/mo/openvino/tools/mo/main.py
  tools/mo/openvino/tools/mo/middle/fusings.py
  tools/mo/openvino/tools/mo/utils/check_ie_bindings.py
  tools/mo/openvino/tools/mo/utils/cli_parser.py
  tools/mo/unit_tests/mo/frontend_ngraph_test_actual.py
  tools/mo/unit_tests/mo/utils/mo_fallback_test_actual.py
  tools/mo/unit_tests/mo/utils/test_mo_model_analysis_actual.py
Labels: category: MO, category: docs

#10646 Fixed onecoreuap.toolchain.cmake
  cmake/toolchains/mt.runtime.win32.toolchain.cmake
  cmake/toolchains/oecore.arm64.toolchain.cmake
  cmake/toolchains/onecoreuap.toolchain.cmake
Labels: category: IE common, category: build, platform: win32

#9273 Fix NMS Conformance tests for Template plugin
  docs/template_plugin/backend/evaluates_map.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
Labels: category: IE common, category: IE Tests, category: TEMPLATE

#10697 [CPU] Prevent internalBlobs cleanup for dynamic deconv node
  src/plugins/intel_cpu/src/nodes/deconv.cpp
  src/plugins/intel_cpu/src/nodes/deconv.h
Labels: bug, category: CPU

#10616 [DOCS] hddl update
  docs/OV_Runtime_UG/supported_plugins/HDDL.md
  docs/OV_Runtime_UG/supported_plugins/MYRIAD.md
Labels: category: docs

#10685 [GPU] Fix RemoteBlob lock() and ulock() behaviour in case of multiple threads
  src/plugins/intel_gpu/include/intel_gpu/plugin/remote_context.hpp
  src/plugins/intel_gpu/src/plugin/remote_context.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
Labels: category: GPU

#10026 [IE TESTS] Extend EvaluatorMaps by Greater, If, Equal
  docs/template_plugin/backend/evaluates_map.cpp
  docs/template_plugin/backend/opset_int_tbl.hpp
Labels: category: Core, category: IE Tests, category: TEMPLATE

#10707 [Python API] Fix typo in method name
  src/bindings/python/src/pyopenvino/graph/descriptors/tensor.cpp
Labels: bug, category: python api

#8302 Fixed install on Apple
  cmake/developer_package/packaging.cmake
  scripts/setupvars/setupvars.sh
  src/bindings/python/wheel/setup.py
Labels: category: IE common, category: build

#10702 Fix issue with default arguments in preprocessing python bindings
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/src/pyopenvino/graph/types/element_type.cpp
  src/bindings/python/tests/test_ngraph/test_preprocess.py
  src/core/include/openvino/core/model.hpp
Labels: category: python api, category: nGraph

#10720 sphinxdirective: allow commented blocks
  docs/Doxyfile.config
  docs/scripts/doxy_md_filter.py
Labels: category: docs

#10710 [CPU] Disabled sequences decomposition for dynamic case
  src/plugins/intel_cpu/src/plugin.cpp
Labels: category: CPU

#10706 Fix install failures for static libs with `EXCLUDE_FROM_ALL`
  cmake/developer_package/IEDevScriptsConfig.cmake
Labels: category: IE common

#10672 [Python API][Docs] Remove excess info
  docs/api/ie_python_api/api.rst
  docs/conf.py
Labels: category: python api, category: docs

#10728 [CPU] Fixed number of streams initialization for hint = throughput
  src/plugins/intel_cpu/src/plugin.cpp
Labels: category: CPU

#10733 Fixed declaration of 'xxx' hides global declaration
  src/inference/include/openvino/runtime/properties.hpp
Labels: category: IE common

#10705 Fix compile problem when open -Wnon-virtual-dtor compile flag
  src/core/include/openvino/core/any.hpp
  src/core/include/openvino/op/util/variable_extension.hpp
Labels: ExternalPR, category: nGraph

#10738 doc fixes
  docs/doxygen-xfail.txt
  docs/model_zoo.md
Labels: category: docs

#10739 [ARM-plugin] Update Linux Azure CI pipeline
  .ci/azure/linux_arm64.yml
Labels: platform: arm, category: CI

#10732 Static Shape constraints removed from Interpolate 1->4 transformation
  src/common/transformations/src/transformations/op_conversions/convert_interpolate1_to_interpolate4.cpp
  src/tests/functional/inference_engine/transformations/op_conversions/convert_interpolate1_to_interpolate4_test.cpp
Labels: bug, category: IE common, category: IE Tests, category: nGraph

#10726 [GPU] Fixed bug in loop operation
  src/plugins/intel_gpu/src/graph/program_node.cpp
Labels: category: GPU, pr: needs tests

#10187 Docs: Changed OpenVINO Runtime User Guide integration
  README.md
  docs/CMakeLists.txt
  docs/OV_Runtime_UG/Integrate_with_customer_application_new_API.md
  docs/OV_Runtime_UG/PythonPackage_Overview.md
  docs/OV_Runtime_UG/integrate_with_your_application.md
  docs/OV_Runtime_UG/model_representation.md
  docs/OV_Runtime_UG/network_state_intro.md
  docs/OV_Runtime_UG/openvino_intro.md
  docs/OV_Runtime_UG/ov_infer_request.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/index.rst
  docs/snippets/CMakeLists.txt
  docs/snippets/Integrate_with_customer_application_new_API.cpp
  docs/snippets/example_ngraph_utils.cpp
  docs/snippets/ov_infer_request.cpp
  docs/snippets/ov_infer_request.py
  docs/snippets/ov_model_snippets.cpp
  docs/snippets/ov_model_snippets.py
  docs/snippets/src/main.cpp
  docs/snippets/src/main.py
  samples/c/hello_classification/README.md
  samples/c/hello_nv12_input_classification/README.md
  samples/cpp/classification_sample_async/README.md
  samples/cpp/hello_classification/README.md
  samples/cpp/hello_nv12_input_classification/README.md
  samples/cpp/hello_query_device/README.md
  samples/cpp/hello_reshape_ssd/README.md
  samples/cpp/model_creation_sample/README.md
  samples/cpp/speech_sample/README.md
  samples/python/classification_sample_async/README.md
  samples/python/hello_classification/README.md
  samples/python/hello_reshape_ssd/README.md
  samples/python/model_creation_sample/README.md
  samples/python/speech_sample/README.md
  tools/pot/openvino/tools/pot/api/README.md
Labels: category: docs

#10750 Fix MacOS DYLD_LIBRARY_PATH export
  scripts/setupvars/setupvars.sh
Labels: category: build

#10461 Enable apivalidator check when BUILD_SHARED_LIBS=OFF
  cmake/developer_package/api_validator/api_validator.cmake
  cmake/developer_package/plugins/plugins.cmake
Labels: category: IE common, ExternalIntelPR

#10656 Dynamic Shapes Documentation
  docs/OV_Runtime_UG/DynamicBatching.md
  docs/OV_Runtime_UG/migration_ov_2_0/intro.md
  docs/OV_Runtime_UG/openvino_intro.md
  docs/OV_Runtime_UG/openvino_temporary.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/ov_without_dynamic_shapes.md
  docs/snippets/ov_dynamic_shapes.cpp
Labels: category: docs

#10746 Enabled old BA only under ENABLE_SAMPLES
  tools/CMakeLists.txt
Labels: category: build, category: samples, category: tools

#10754 Removed duplicated words
  cmake/developer_package/cpplint/cpplint.py
  docs/Doxyfile.config
  docs/IE_PLUGIN_DG/Doxyfile
  docs/IE_PLUGIN_DG/InferRequest.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/Getting_performance_numbers.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
  docs/ops/sequence/RNNCell_3.md
  docs/suppress_warnings.txt
  licensing/onednn_third-party-programs.txt
  samples/cpp/benchmark_app/README.md
  src/core/include/openvino/core/descriptor/input.hpp
  src/core/include/openvino/op/softmax.hpp
  src/inference/include/ie/gna/gna_config.hpp
  src/tests/README.md
  tools/benchmark_tool/README.md
Labels: category: IE common, category: GNA, category: docs, category: nGraph

#10648 [Python Speech Sample] Fix `-layout` option
  samples/python/speech_sample/README.md
  samples/python/speech_sample/utils.py
Labels: category: samples

#10650 Fix problem with segfault during using extension feature via Python
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/tests/test_frontend/test_frontend_onnx.py
  src/core/tests/frontend/shared/src/json_config.cpp
  src/core/tests/frontend/shared/test_builtin_extensions_1/builtin_extensions.cpp
  src/core/tests/frontend/shared/test_builtin_extensions_1/test_extension.cpp
  src/core/tests/frontend/shared/test_builtin_extensions_1/test_extension.hpp
  tools/mo/openvino/tools/mo/utils/cli_parser.py
  tools/mo/unit_tests/mo/extensions_test_actual.py
  tools/mo/unit_tests/mo/frontend_ngraph_test.py
Labels: category: python api

#10740 Fix local cache variable
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
Labels: category: IE Tests, conformance

#10736 [IE TESTS][CONFORMANCE] Fix Crashes in ReadIRTest::SetUp()
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
Labels: category: IE Tests, conformance

#10737 [IE Samples] Improved processing outputs for model with more than one output
  samples/cpp/speech_sample/main.cpp
Labels: category: samples

#10242 Specifications of operations RDFT and IRDFT
  docs/OV_Runtime_UG/Operations_specifications.md
  docs/ops/opset.md
  docs/ops/opset9.md
  docs/ops/signals/IRDFT_9.md
  docs/ops/signals/RDFT_9.md
Labels: do not merge

#10505 Add coommon test of the key PERFORMANCE_HINT for AUTO plugin API 2.0.
  src/tests/functional/plugin/cpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
Labels: category: IE Tests

#10763 Update --extenions MO doc
  tools/mo/openvino/tools/mo/utils/cli_parser.py
Labels: category: MO

#10704 fix multi infer result corrupt issue
  src/plugins/auto/executable_network.cpp
Labels: category: MULTI

#10680 [GPU] update to check quantize fusing condition in oneDNN
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#10745 [Benchmark_app]Check all I/O names
  samples/cpp/benchmark_app/utils.cpp
  samples/cpp/common/utils/include/samples/args_helper.hpp
  samples/cpp/common/utils/src/args_helper.cpp
Labels: category: samples

#10770 [IE TESTS] Functional test review: Part 3.
  src/tests/functional/plugin/cpu/shared_tests_instances/ngraph_conversion_tests/conv_bias_fusion.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/ngraph_conversion_tests/plugin_specific_ngraph_conversion.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/ngraph_conversion_tests/conv_bias_fusion.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/ngraph_conversion_tests/plugin_specific_ngraph_conversion.cpp
  src/tests/functional/plugin/shared/include/ngraph_conversion_tests/conv_bias_fusion.hpp
  src/tests/functional/plugin/shared/include/ngraph_conversion_tests/plugin_specific_ngraph_conversion.hpp
  src/tests/functional/plugin/shared/src/ngraph_conversion_tests/conv_bias_fusion.cpp
  src/tests/functional/plugin/shared/src/ngraph_conversion_tests/plugin_specific_ngraph_conversion.cpp
Labels: category: IE Tests

#10772 [IE TESTS] Functional test review: Part 4
  src/tests/functional/plugin/gna/Import_export_tests/base/import_export_base.cpp
  src/tests/functional/plugin/gna/Import_export_tests/base/import_export_base.hpp
  src/tests/functional/plugin/gna/Import_export_tests/import_export_batch_size.cpp
  src/tests/functional/plugin/gna/Import_export_tests/import_export_multi_inputs.cpp
  src/tests/functional/plugin/gna/Import_export_tests/import_reshape_permute_conv.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/import_export_tests/import_reshape_permute_conv.cpp
  src/tests/functional/plugin/myriad/import_export/import_nonzero.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/import_export_tests/import_nonzero.cpp
  src/tests/functional/plugin/shared/include/import_export_tests/import_nonzero.hpp
  src/tests/functional/plugin/shared/include/import_export_tests/import_reshape_permute_conv.hpp
  src/tests/functional/plugin/shared/src/import_export_tests/import_nonzero.cpp
  src/tests/functional/plugin/shared/src/import_export_tests/import_reshape_permute_conv.cpp
Labels: category: IE Tests

#10687 [POT] Update OverflowCorrection algo for nodes without bias
  tools/pot/openvino/tools/pot/algorithms/quantization/overflow_correction/algorithm.py
Labels: category: POT

#10785 installing-openvino-yocto.md: fix install instructions
  docs/install_guides/installing-openvino-yocto.md
Labels: ExternalIntelPR

#10714 [CPP Speech Sample] Fix result saving when batch size is not 1
  samples/cpp/speech_sample/main.cpp
Labels: category: samples

#10782 Update --extenions MO doc
  tools/mo/openvino/tools/mo/utils/cli_parser.py
Labels: category: MO

#10780 Improved processing outputs for model with several outputs
  samples/cpp/speech_sample/main.cpp
Labels: category: samples, port to master

#10793 Enabled clang-format for cc and itt libs
  src/common/conditional_compilation/CMakeLists.txt
  src/common/conditional_compilation/include/openvino/cc/factory.h
  src/common/conditional_compilation/include/openvino/cc/pass/itt.hpp
  src/common/conditional_compilation/include/openvino/cc/selective_build.h
  src/common/itt/CMakeLists.txt
  src/common/itt/src/itt.cpp
  src/common/util/.clang-format
Labels: category: IE common

#10797 [CPP Speech Sample] Fix result saving when batch size is not 1
  samples/cpp/speech_sample/main.cpp
Labels: category: samples

#10798 [MO] Remove IR frontend from available frontend list in MO
  tools/mo/openvino/tools/mo/main.py
  tools/mo/openvino/tools/mo/utils/cli_parser.py
Labels: category: MO

#10777 fix multi infer result corrupt issue
  src/plugins/auto/executable_network.cpp
Labels: category: MULTI

#10801 Re-structure Model Optimizer User Guide and Clean-up
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/Known_Issues_Limitations.md
  docs/MO_DG/img/BASIC_FLOW_MO_simplified.svg
  docs/MO_DG/prepare_model/Additional_Optimizations.md
  docs/MO_DG/prepare_model/Default_Model_Optimizer_Optimizations.md
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Paddle.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_Tutorials.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/Legacy_IR_Layers_Catalog_Spec.md
  docs/MO_DG/prepare_model/convert_model/kaldi_specific/Aspire_Tdnn_Model.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_Style_Transfer_From_MXNet.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_DLRM.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_Faster_RCNN.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_GPT2.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_Mask_RCNN.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_Bert_ner.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_F3Net.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_QuartzNet.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_RCAN.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_RNNT.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_YOLACT.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_AttentionOCR_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_BERT_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_CRNN_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_DeepSpeech_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_EfficientDet_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_FaceNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_GNMT_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_NCF_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_RetinaNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Slim_Library_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_WideAndDeep_Family_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_XLNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_lm_1b_From_Tensorflow.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Subgraph_Replacement_Model_Optimizer.md
  docs/resources/resources.md
  tools/pot/docs/ModelRepresentation.md
Labels: category: docs

#10794 [CPU] Use raw pointer to share peer data for constants
  src/plugins/intel_cpu/src/edge.cpp
Labels: category: CPU

#10744 [CPU] Use raw pointer to share peer data for constants
  src/plugins/intel_cpu/src/edge.cpp
Labels: category: CPU

#10809 [POT] Update IEEngine with the Dynamic model support (22.1)
  tools/pot/openvino/tools/pot/data_loaders/image_loader.py
  tools/pot/openvino/tools/pot/data_loaders/utils.py
  tools/pot/openvino/tools/pot/engines/ie_engine.py
  tools/pot/tests/test_sanity.py
  tools/pot/tests/utils/model_store.py
  tools/pot/tests/utils/open_model_zoo.py
Labels: category: POT

#10795 [CPU] Avoid using cache for constant inplace or multi-child edges
  src/plugins/intel_cpu/src/edge.cpp
Labels: category: CPU

#10573 [CPU] Avoid using cache for constant inplace or multi-child edges
  src/plugins/intel_cpu/src/edge.cpp
Labels: category: CPU

#10800 Added migration for deployment
  docs/OV_Runtime_UG/migration_ov_2_0/deployment_migration.md
  docs/OV_Runtime_UG/migration_ov_2_0/intro.md
Labels: category: docs, port to master

#10717 [POT] Update IEEngine with the Dynamic model support
  tools/pot/openvino/tools/pot/data_loaders/image_loader.py
  tools/pot/openvino/tools/pot/data_loaders/utils.py
  tools/pot/openvino/tools/pot/engines/ie_engine.py
  tools/pot/tests/test_sanity.py
  tools/pot/tests/utils/model_store.py
  tools/pot/tests/utils/open_model_zoo.py
Labels: category: POT

#10578 POT documentation updates
  tools/pot/README.md
  tools/pot/configs/README.md
  tools/pot/docs/CLI.md
  tools/pot/docs/E2eExample.md
  tools/pot/docs/InstallationGuide.md
  tools/pot/docs/ModelRepresentation.md
  tools/pot/docs/SaturationIssue.md
  tools/pot/docs/SimplifiedMode.md
  tools/pot/docs/images/use_cases.png
  tools/pot/docs/images/workflow_simple.png
  tools/pot/openvino/tools/pot/algorithms/quantization/README.md
  tools/pot/openvino/tools/pot/algorithms/quantization/accuracy_aware/README.md
  tools/pot/openvino/tools/pot/algorithms/quantization/default/README.md
  tools/pot/openvino/tools/pot/api/samples/3d_segmentation/README.md
  tools/pot/openvino/tools/pot/api/samples/README.md
  tools/pot/openvino/tools/pot/api/samples/classification/README.md
  tools/pot/openvino/tools/pot/api/samples/face_detection/README.md
  tools/pot/openvino/tools/pot/api/samples/object_detection/README.md
  tools/pot/openvino/tools/pot/api/samples/segmentation/README.md
  tools/pot/openvino/tools/pot/api/samples/speech/README.md
Labels: category: docs, category: POT

#10761 [GPU][DRYRUN] Fix dryrun in partial build
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#10835 Fixed duplicated words
  docs/OV_Runtime_UG/model_representation.md
  src/bindings/c/docs/api_overview.md
  tools/pot/README_dev.md
  tools/pot/docs/LowPrecisionOptimizationGuide.md
Labels: category: docs, ported to master

#10367 ncc build fixes
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
  samples/cpp/benchmark_app/main.cpp
  src/inference/include/ie/ie_blob.h
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/unit/auto/auto_release_helper_test.cpp
Labels: category: IE common, category: IE Tests, ExternalPR

#10816 [POT] Moved quantization templates to openvino/tools/pot
  tools/pot/docs/BestPractices.md
  tools/pot/openvino/tools/pot/algorithms/quantization/accuracy_aware/README.md
  tools/pot/openvino/tools/pot/algorithms/quantization/default/README.md
  tools/pot/openvino/tools/pot/app/run.py
  tools/pot/openvino/tools/pot/configs/templates/accuracy_aware_quantization_template.json
  tools/pot/openvino/tools/pot/configs/templates/default_quantization_template.json
  tools/pot/setup.py
Labels: category: POT, ported to master

#10803 more info after the What's new Sessions' questions
  docs/OV_Runtime_UG/automatic_batching.md
Labels: category: docs, port to master

#10844 Updated common IE pipeline infer-request section
  docs/OV_Runtime_UG/integrate_with_your_application.md
  docs/OV_Runtime_UG/ov_infer_request.md
Labels: port to master

#10769 [DOCS] Python snippets for Hetero execution page
  docs/OV_Runtime_UG/hetero_execution.md
  docs/snippets/ov_hetero.cpp
  docs/snippets/ov_hetero.py
Labels: category: docs

#10842 [DOCS] fixes for nightly
  docs/doxygen-xfail.txt
  tools/pot/README.md
  tools/pot/configs/README.md
Labels: category: docs

#10848 [POT] Update BC with the Parameter nodes connection
  tools/pot/openvino/tools/pot/algorithms/quantization/bias_correction/algorithm.py
  tools/pot/tests/test_sanity.py
Labels: category: POT

#10852 [POT] Update BC with the Parameter nodes connection 22.1
  tools/pot/openvino/tools/pot/algorithms/quantization/bias_correction/algorithm.py
  tools/pot/tests/test_sanity.py
Labels: category: POT

#10792 [MO] Fix swish value infer
  tools/mo/openvino/tools/mo/ops/activation_ops.py
  tools/mo/unit_tests/mo/ops/activation_test.py
Labels: category: MO, ported to master

#10784 Revised Tuning For Performance and Model optimization docs
  docs/documentation.md
  docs/img/nncf_workflow.png
  docs/optimization_guide/dldt_optimization_guide.md
  docs/optimization_guide/model_optimization_guide.md
  docs/optimization_guide/nncf_introduction.md
Labels: ported to master

#10765 Frontend support in Subgraph dumper
  src/tests/functional/plugin/conformance/subgraphs_dumper/CMakeLists.txt
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/model_wrap_struct.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/single_op.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/read_ir/read_ir_query_model.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir_compare_with_refs.cpp
  src/tests/ie_test_utils/common_test_utils/file_utils.hpp
Labels: category: IE Tests, conformance

#10775 Added callback and wait migration guide
  docs/OV_Runtime_UG/migration_ov_2_0/common_inference_pipeline.md
  docs/snippets/ie_common.cpp
  docs/snippets/ov_common.cpp
Labels: port to master

#10845 [GPU] GPU plugin docs
  CODEOWNERS
  docs/Extensibility_UG/GPU_Extensibility.md
  docs/Extensibility_UG/Intro.md
  docs/OV_Runtime_UG/supported_plugins/Device_Plugins.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU_RemoteBlob_API.md
  docs/OV_Runtime_UG/supported_plugins/GPU_RemoteTensor_API.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/snippets/CMakeLists.txt
  docs/snippets/DynamicBatching.cpp
  docs/snippets/GPU_Kernel.cpp
  docs/snippets/GPU_Metric0.cpp
  docs/snippets/GPU_Metric1.cpp
  docs/snippets/GPU_RemoteBlob_API0.cpp
  docs/snippets/GPU_RemoteBlob_API1.cpp
  docs/snippets/GPU_RemoteBlob_API2.cpp
  docs/snippets/GPU_RemoteBlob_API3.cpp
  docs/snippets/gpu/compile_model.cpp
  docs/snippets/gpu/context_sharing.cpp
  docs/snippets/gpu/context_sharing_va.cpp
  docs/snippets/gpu/custom_kernels_api.cpp
  docs/snippets/gpu/dynamic_batch.cpp
  docs/snippets/gpu/preprocessing.cpp
  docs/snippets/gpu/queue_sharing.cpp
  docs/snippets/gpu/remote_objects_creation.cpp
  src/inference/include/openvino/runtime/intel_gpu/properties.hpp
Labels: category: GPU, category: CI, category: docs, ported to master

#10734 [GPU] GPU plugin docs
  CODEOWNERS
  docs/Extensibility_UG/GPU_Extensibility.md
  docs/Extensibility_UG/Intro.md
  docs/OV_Runtime_UG/supported_plugins/Device_Plugins.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU_RemoteBlob_API.md
  docs/OV_Runtime_UG/supported_plugins/GPU_RemoteTensor_API.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/snippets/CMakeLists.txt
  docs/snippets/DynamicBatching.cpp
  docs/snippets/GPU_Kernel.cpp
  docs/snippets/GPU_Metric0.cpp
  docs/snippets/GPU_Metric1.cpp
  docs/snippets/GPU_RemoteBlob_API0.cpp
  docs/snippets/GPU_RemoteBlob_API1.cpp
  docs/snippets/GPU_RemoteBlob_API2.cpp
  docs/snippets/GPU_RemoteBlob_API3.cpp
  docs/snippets/gpu/compile_model.cpp
  docs/snippets/gpu/context_sharing.cpp
  docs/snippets/gpu/context_sharing_va.cpp
  docs/snippets/gpu/custom_kernels_api.cpp
  docs/snippets/gpu/dynamic_batch.cpp
  docs/snippets/gpu/preprocessing.cpp
  docs/snippets/gpu/queue_sharing.cpp
  docs/snippets/gpu/remote_objects_creation.cpp
  src/inference/include/openvino/runtime/intel_gpu/properties.hpp
Labels: category: IE Tests, category: GPU, category: docs

#10804 Added callback and wait migration guide release
  docs/OV_Runtime_UG/migration_ov_2_0/common_inference_pipeline.md
  docs/snippets/ie_common.cpp
  docs/snippets/ov_common.cpp
Labels: ported to master

#10854 [Python API] Update doc style
  src/bindings/python/src/pyopenvino/core/variable_state.cpp
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/src/pyopenvino/frontend/input_model.cpp
  src/bindings/python/src/pyopenvino/frontend/manager.cpp
  src/bindings/python/src/pyopenvino/frontend/place.cpp
  src/bindings/python/src/pyopenvino/graph/descriptors/tensor.cpp
  src/bindings/python/src/pyopenvino/graph/node_input.cpp
  src/bindings/python/src/pyopenvino/graph/passes/manager.cpp
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/tests/test_frontend/test_frontendmanager.py
Labels: category: python api, category: docs, ported to master

#10447 [GNA] Support of overload correction for MatMul with 2 non-constant layers
  src/common/legacy/src/transformations/convert_opset1_to_legacy/convert_matmul_to_fc_or_gemm.cpp
  src/plugins/intel_gna/frontend/scale_factor_calc.hpp
  src/tests/functional/plugin/gna/scale_factors_tests/matmul_overload_correction.cpp
Labels: category: IE common, category: IE Tests, category: GNA

#10807 [MO] Remove IR frontend from available frontend list in MO (#10798)
  tools/mo/openvino/tools/mo/main.py
  tools/mo/openvino/tools/mo/utils/cli_parser.py
Labels: category: MO, ported to master

#10879 Cherry-pick PR#10801
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/Known_Issues_Limitations.md
  docs/MO_DG/img/BASIC_FLOW_MO_simplified.svg
  docs/MO_DG/prepare_model/Additional_Optimizations.md
  docs/MO_DG/prepare_model/Default_Model_Optimizer_Optimizations.md
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Paddle.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_Tutorials.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/Legacy_IR_Layers_Catalog_Spec.md
  docs/MO_DG/prepare_model/convert_model/kaldi_specific/Aspire_Tdnn_Model.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_Style_Transfer_From_MXNet.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_DLRM.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_Faster_RCNN.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_GPT2.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_Mask_RCNN.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_Bert_ner.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_F3Net.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_QuartzNet.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_RCAN.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_RNNT.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_YOLACT.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_AttentionOCR_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_BERT_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_CRNN_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_DeepSpeech_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_EfficientDet_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_FaceNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_GNMT_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_NCF_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_RetinaNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Slim_Library_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_WideAndDeep_Family_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_XLNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_lm_1b_From_Tensorflow.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Subgraph_Replacement_Model_Optimizer.md
  docs/resources/resources.md
  tools/pot/docs/ModelRepresentation.md
Labels: category: docs

#10882 [docs] python snippet for dynamic shapes release branch
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/snippets/ov_dynamic_shapes.cpp
  docs/snippets/ov_dynamic_shapes.py
Labels: ported to master

#10762 [docs] python snippet for dynamic shapes
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/snippets/ov_dynamic_shapes.cpp
  docs/snippets/ov_dynamic_shapes.py
Labels: category: docs

#10870 DOCS: Removed useless 4 spaces in snippets
  docs/OV_Runtime_UG/integrate_with_your_application.md
  docs/OV_Runtime_UG/migration_ov_2_0/common_inference_pipeline.md
  docs/OV_Runtime_UG/migration_ov_2_0/intro.md
  docs/OV_Runtime_UG/multi_device.md
  docs/OV_Runtime_UG/openvino_intro.md
  docs/snippets/ie_common.cpp
  docs/snippets/ov_auto_batching.cpp
  docs/snippets/ov_common.cpp
  docs/snippets/ov_hetero.cpp
  docs/snippets/ov_hetero.py
  docs/snippets/ov_layout.cpp
  docs/snippets/ov_preprocessing.cpp
Labels: port to master

#10871 Update APT instructions according to repository configuration
  docs/install_guides/installing-openvino-apt.md
Labels: category: docs, ported to master

#10869 Update APT instructions according to repository configuration
  docs/install_guides/installing-openvino-apt.md
Labels: category: docs

#10838 Export/import fixed for param->result and const->result models
  src/common/transformations/src/transformations/convert_precision.cpp
  src/inference/dev_api/ie_icore.hpp
  src/inference/src/ie_core.cpp
  src/inference/src/ie_network_reader.cpp
  src/inference/src/ie_network_reader.hpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  src/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_icore.hpp
Labels: category: IE common, category: IE Tests, category: CPU

#10895 Added intro to transformation guide
  docs/Extensibility_UG/ov_transformations.md
Labels: category: docs, ported to master

#10894 Added intro to transformation guide
  docs/Extensibility_UG/ov_transformations.md
Labels: category: docs

#10812 [VPU] Fix MyriadPlugin build with enabled options of Conditional Compilation -> 2022.1
  src/plugins/intel_myriad/third_party/mvnc/src/mvnc_api.c
Labels: category: VPU, ported to master

#10472 [GNA] Moved single Lstm-cell test from deprecated tests
  src/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/lstm_cell_basic.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/lstm_cell_basic.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/lstm_cell.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/lstm_cell_basic.hpp
  src/tests/functional/shared_test_classes/src/single_layer/lstm_cell_basic.cpp
  src/tests_deprecated/functional/gna/shared_tests_instance/lstm/lstm_cell_test.cpp
  src/tests_deprecated/functional/shared_tests/lstm/lstm_cell_test.hpp
Labels: category: IE Tests, category: GNA

#10459 [GNA] Added multi crop test
  src/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/multi_crops_to_concat.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/multi_crops_to_concat.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/multi_crops_to_concat.hpp
  src/tests/functional/shared_test_classes/src/subgraph/multi_crops_to_concat.cpp
Labels: category: IE Tests, category: GNA

#10850 [LPT] Fix out of bounds access in reshape transformation
  src/common/low_precision_transformations/src/reshape.cpp
Labels: category: CPU, ported to master

#10898 Fix loading time issues for POT models (with lots of results)
  src/common/transformations/src/transformations/common_optimizations/optimize_strided_slice.cpp
  src/inference/dev_api/memory_solver.hpp
Labels: category: IE common

#10791 [LPT] Fix out of bounds access in reshape transformation
  src/common/low_precision_transformations/src/reshape.cpp
Labels: category: CPU

#10880 [IE TESTS][CONFORMANCE] Fix for IRs with dynamic shapes
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/read_ir_test/read_ir.cpp
Labels: category: IE Tests

#10708 [Python API] Update doc style
  src/bindings/python/src/pyopenvino/core/variable_state.cpp
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/src/pyopenvino/frontend/input_model.cpp
  src/bindings/python/src/pyopenvino/frontend/manager.cpp
  src/bindings/python/src/pyopenvino/frontend/place.cpp
  src/bindings/python/src/pyopenvino/graph/descriptors/tensor.cpp
  src/bindings/python/src/pyopenvino/graph/node_input.cpp
  src/bindings/python/src/pyopenvino/graph/passes/manager.cpp
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/tests/test_frontend/test_frontendmanager.py
Labels: category: python api, category: docs

#10916 [Docs] Add Python snippets for configure devices [2022.1]
  docs/OV_Runtime_UG/migration_ov_2_0/configure_devices.md
  docs/snippets/ov_properties_migration.cpp
  docs/snippets/ov_properties_migration.py
Labels: ported to master

#10899 Snippets for preprocessing migration page
  docs/OV_Runtime_UG/migration_ov_2_0/preprocessing.md
  docs/snippets/ov_preprocessing_migration.py
Labels: category: docs

#10917 Snippets for preprocessing migration page
  docs/OV_Runtime_UG/migration_ov_2_0/preprocessing.md
  docs/snippets/ov_preprocessing_migration.py
Labels: category: docs, ported to master

#10924 [IE Samples] Fixed rights for file with image in hello_nv12_input_classification
  samples/c/hello_nv12_input_classification/main.c
Labels: category: samples

#10925 [IE Samples] Fixed rights for file with image in hello_nv12_input_cla…
  samples/c/hello_nv12_input_classification/main.c
Labels: category: samples

#10921 [2022.1] Docs: preprocessing use case with saving model to IR
  docs/OV_Runtime_UG/preprocessing_overview.md
  docs/OV_Runtime_UG/preprocessing_usecase_save.md
  docs/snippets/ov_preprocessing.cpp
  docs/snippets/ov_preprocessing.py
Labels: ported to master

#10753 try avoid timeout in batch plugin during transition in auto plugin
  src/plugins/auto/executable_network.cpp
  src/plugins/auto/executable_network.hpp
Labels: category: MULTI

#10911 Change product version to 2022.2.0
  src/core/include/openvino/core/version.hpp
  src/inference/include/ie/ie_version.hpp
Labels: category: IE common

#10698 Docs: preprocessing use case with saving model to IR
  docs/OV_Runtime_UG/preprocessing_overview.md
  docs/OV_Runtime_UG/preprocessing_usecase_save.md
  docs/snippets/ov_preprocessing.cpp
  docs/snippets/ov_preprocessing.py
Labels: category: Core, category: python api

#10759 Update Model Optimizer User Guide
  docs/Extensibility_UG/Intro.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/Additional_Optimizations.md
  docs/MO_DG/prepare_model/FP16_Compression.md
  docs/MO_DG/prepare_model/Getting_performance_numbers.md
  docs/MO_DG/prepare_model/Model_Optimization_Techniques.md
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Paddle.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_Tutorials.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/optimization_guide/model_optimization_guide.md
  docs/resources/resources.md
  tools/mo/openvino/tools/mo/utils/cli_parser.py
Labels: category: docs

#10805 [Preprocessing] Crop preprocessing support
  docs/template_plugin/tests/functional/subgraph_reference/preprocess.cpp
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/tests/test_ngraph/test_preprocess.py
  src/core/include/openvino/core/preprocess/preprocess_steps.hpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/src/preprocess/preprocess_steps_impl.cpp
  src/core/src/preprocess/preprocess_steps_impl.hpp
  src/core/tests/preprocess.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/subgraph_tests/preprocess.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/preprocess/preprocess_builders.hpp
Labels: category: IE Tests, category: TEMPLATE, category: nGraph

#10923 [Python API] move util under utils
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/openvino/runtime/utils/__init__.py
  src/bindings/python/src/pyopenvino/graph/util.cpp
  src/bindings/python/src/pyopenvino/graph/util.py
  src/bindings/python/tests/test_ngraph/test_utils.py
Labels: category: python api

#10933 Update Install&Deployment for migration guide to 22/1
  docs/OV_Runtime_UG/migration_ov_2_0/deployment_migration.md
  docs/OV_Runtime_UG/migration_ov_2_0/intro.md
  docs/get_started.md
Labels: port to master

#9790 [GPU] Use int64_t type for axis in concat
  src/plugins/intel_gpu/include/intel_gpu/primitives/concatenation.hpp
  src/plugins/intel_gpu/src/graph/concatenation.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/concat_input_order.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/graph_initializations.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/concatenation.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
  src/plugins/intel_gpu/src/plugin/ops/concat.cpp
  src/plugins/intel_gpu/src/plugin/ops/convert_color.cpp
  src/plugins/intel_gpu/src/plugin/ops/parameter.cpp
  src/plugins/intel_gpu/src/plugin/ops/rnn.cpp
  src/plugins/intel_gpu/tests/fusions/concatenate_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/resample_fusion_test.cpp
  src/plugins/intel_gpu/tests/module_tests/graph_manipulation_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/add_reorders_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/barriers_test.cpp
  src/plugins/intel_gpu/tests/test_cases/concatenation_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/condition_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/depth_concatenate_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/lstm_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/memory_test.cpp
  src/plugins/intel_gpu/tests/test_cases/propagate_constants_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/set_output_memory_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/spatial_concatenate_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/split_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/topology_test.cpp
Labels: category: GPU

#10839 [Preprocess] InputTensorInfo::set_from implementation
  samples/cpp/hello_classification/main.cpp
  samples/python/hello_classification/hello_classification.py
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/tests/test_ngraph/test_preprocess.py
  src/core/include/openvino/core/preprocess/input_tensor_info.hpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/src/preprocess/preprocess_impls.hpp
  src/core/tests/preprocess.cpp
Labels: category: nGraph

#10867 SubgraphDumper: clone only not constant graph
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/op_cloner.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/ops_cache.cpp
Labels: category: IE Tests, conformance

#10934 Update Model Optimizer User Guide (#10759)
  docs/Extensibility_UG/Intro.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/Additional_Optimizations.md
  docs/MO_DG/prepare_model/FP16_Compression.md
  docs/MO_DG/prepare_model/Getting_performance_numbers.md
  docs/MO_DG/prepare_model/Model_Optimization_Techniques.md
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_ONNX.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Paddle.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_Tutorials.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/optimization_guide/model_optimization_guide.md
  docs/resources/resources.md
  tools/mo/openvino/tools/mo/utils/cli_parser.py
Labels: category: MO, ported to master

#10861 Don't memset Constant's buffer if it's about to be filled with data
  src/core/include/openvino/op/constant.hpp
  src/core/src/op/constant.cpp
Labels: category: nGraph

#10873 [GNA] Update documentation (release)
  docs/OV_Runtime_UG/supported_plugins/Device_Plugins.md
  docs/OV_Runtime_UG/supported_plugins/GNA.md
  docs/OV_Runtime_UG/supported_plugins/files/GNA_Maximum_Input_Tensor_Widths_i16.csv
  docs/OV_Runtime_UG/supported_plugins/files/GNA_Maximum_Input_Tensor_Widths_i8.csv
  docs/get_started.md
  docs/install_guides/configurations-for-intel-gna.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-windows.md
  docs/snippets/gna/configure.cpp
  docs/snippets/gna/configure.py
  docs/snippets/gna/import_export.cpp
  docs/snippets/gna/import_export.py
  docs/snippets/gna/set_batch.cpp
  docs/snippets/gna/set_batch.py
Labels: category: GNA

#10920 [DOCS] Python snippets for Query device page
  docs/OV_Runtime_UG/supported_plugins/config_properties.md
  docs/snippets/ov_properties_api.py
Labels: category: docs, ported to master

#10781 Deprecate version inside DiscreteTypeInfo
  src/common/legacy/include/legacy/ngraph_ops/onehot_ie.hpp
  src/common/legacy/include/legacy/ngraph_ops/pad_ie.hpp
  src/common/low_precision_transformations/src/markup_per_tensor_quantization.cpp
  src/common/low_precision_transformations/src/markup_precisions.cpp
  src/common/transformations/include/ngraph_ops/nms_static_shape_ie.hpp
  src/core/include/ngraph/node.hpp
  src/core/include/openvino/core/model.hpp
  src/core/include/openvino/core/node.hpp
  src/core/include/openvino/core/runtime_attribute.hpp
  src/core/include/openvino/core/type.hpp
  src/core/src/node.cpp
  src/core/src/pass/serialize.cpp
  src/core/src/type.cpp
  src/core/tests/control_dependencies.cpp
  src/core/tests/engines_util/execute_tools.hpp
  src/core/tests/opset.cpp
  src/core/tests/rtti.cpp
  src/core/tests/type_info.cpp
  src/core/tests/util/graph_comparator.cpp
  src/core/tests/visitors/user_op.cpp
  src/frontends/onnx/frontend/include/onnx_import/core/null_node.hpp
  src/inference/dev_api/exec_graph_info.hpp
  src/plugins/intel_myriad/common/include/vpu/ngraph/utilities.hpp
  src/tests/functional/inference_engine/ov_extension_test.cpp
  src/tests/functional/inference_engine/transformations/utils/compare_functions_test.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/single_op.cpp
  src/tests/functional/plugin/myriad/ngraph/conversions/dynamic_shape_resolver.cpp
  src/tests/ngraph_helpers/ngraph_functions/src/utils/ngraph_helpers.cpp
Labels: category: IE common, category: IE Tests, category: CPU, category: VPU, category: nGraph

#10918 [DOCS] add python snippets for automatic batching
  docs/OV_Runtime_UG/automatic_batching.md
  docs/snippets/ov_auto_batching.py
Labels: category: docs, ported to master

#10949 repair 2 png files
  docs/_static/images/dataset.png
  docs/_static/images/inputs.png
Labels: category: docs

#10721 [GPU] More friendly exception message
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
Labels: category: GPU

#10625 Add SLT to Template Plugin: ROIAling-3
  docs/template_plugin/tests/functional/op_reference/roi_align.cpp
Labels: category: Core, category: TEMPLATE

#10953 [GPU] Friendly exception msg for alloc failure
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
Labels: category: GPU

#10858 [Read time improvement] Avoid calling of 'are_all_data_elements_bitwise_identical()' during Constant creation
  src/core/include/openvino/op/constant.hpp
  src/core/src/op/constant.cpp
  src/core/tests/constant.cpp
Labels: category: nGraph

#10874 add python version
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
Labels: ported to master

#10940 [LPT] Turn back checks in reshape transformation when subtract is absent
  src/common/low_precision_transformations/src/reshape.cpp
Labels: category: CPU

#10939 [LPT] Turn back checks in reshape transformation when subtract is absent
  src/common/low_precision_transformations/src/reshape.cpp
Labels: category: CPU

#10821 Fix tiny misspelling of LayerTestsDefinitions
  src/tests/functional/inference_engine/serialization/single_layer/prior_box.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/prior_box.cpp
  src/tests/functional/plugin/gna/Import_export_tests/import_export_batch_size.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/prior_box.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/prior_box.hpp
  src/tests/functional/shared_test_classes/src/single_layer/prior_box.cpp
Labels: category: IE Tests

#10952 [GPU] Fixes of some errors in code spelling
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_1x1_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_generic.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/binary_convolution/binary_convolution_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_yx_fsv4_int8.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_b_fs_zyx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_depthwise_weights_lwg.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_direct_10_12_16.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_gemm_like.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_iyxo.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_yxfb_yxio_b1_block_multiple_x.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/convolution/convolution_kernel_yxfb_yxio_b1_block_multiple_x.h
Labels: category: GPU

#10957 Add description for `zsh: no matches found : openvino-dev[...]` issue.
  docs/install_guides/pypi-openvino-dev.md
Labels: ported to master

#10833 ONNX Expand extended support
  src/core/tests/models/onnx/expand_failsafe_node.prototxt
  src/core/tests/onnx/onnx_import.in.cpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/op/constant.cpp
  src/frontends/onnx/frontend/src/op/expand.cpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/frontend/src/utils/common.hpp
Labels: category: nGraph

#10946 [DOCS] Python Exclusives overview
  docs/OV_Runtime_UG/Python_API_exclusives.md
  docs/OV_Runtime_UG/openvino_intro.md
  docs/snippets/ov_python_exclusives.py
Labels: category: docs

#10951 [DOCS] Python Exclusives overview
  docs/OV_Runtime_UG/Python_API_exclusives.md
  docs/OV_Runtime_UG/openvino_intro.md
  docs/snippets/ov_python_exclusives.py
Labels: category: docs

#10691 Mark `get_type_info_static()` op class methods as hidden
  samples/cpp/hello_reshape_ssd/main.cpp
  src/core/include/openvino/core/model.hpp
  src/core/include/openvino/core/rtti.hpp
  src/core/include/openvino/core/runtime_attribute.hpp
  src/core/include/openvino/core/visibility.hpp
  src/core/include/openvino/op/if.hpp
  src/core/include/openvino/op/op.hpp
  src/core/tests/frontend/decoder_transformation_extension.cpp
Labels: category: Core

#10962 Onnx updates
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
Labels: category: docs, port to master

#10660 [GPU] Fix batchability check of MAX_BATCH_SIZE
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: GPU

#10961 [GPU] Removed unused variable to fix android build
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
Labels: category: GPU

#10885 [DOCS] ARM CPU plugin docs
  CODEOWNERS
  docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md
  docs/OV_Runtime_UG/supported_plugins/Device_Plugins.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
Labels: port to master

#10948 Getting started improvements
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-windows.md
  docs/install_guides/installing-openvino-yum.md
  docs/install_guides/movidius-setup-guide.md
Labels: category: docs, port to master

#10426 [conformance] SetUp timeout per test
  src/tests/functional/plugin/conformance/test_runner/README.md
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/include/gflag_config.hpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/main.cpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/read_ir_test/read_ir.cpp
  src/tests/functional/plugin/shared/src/behavior/plugin/life_time.cpp
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/op_impl_check.cpp
  src/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/ie_test_utils/common_test_utils/crash_handler.cpp
  src/tests/ie_test_utils/common_test_utils/crash_handler.hpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/layer_test_utils/summary.hpp
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/filters.js
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/style.css
  src/tests/ie_test_utils/functional_test_utils/src/layer_test_utils/summary.cpp
Labels: category: IE Tests, conformance

#10209 [nGraph] [MO] Add ngraph transformations for PRelu fusing
  src/common/transformations/include/transformations/common_optimizations/prelu_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/prelu_fusion.cpp
  src/tests/functional/inference_engine/transformations/prelu_fusion.cpp
Labels: category: IE common, category: MO, category: Core, category: IE Tests

#10936 Changes to the OpenVINO 2.0 Transition Guide
  docs/OV_Runtime_UG/migration_ov_2_0/intro.md
Labels: category: docs, port to master

#10978 Cherry-picked Changes to the OpenVINO 2.0 Transition Guide (#10936)
  docs/OV_Runtime_UG/migration_ov_2_0/intro.md
Labels: category: docs

#10959 [GNA] small docs fixes
  docs/OV_Runtime_UG/supported_plugins/Device_Plugins.md
  docs/OV_Runtime_UG/supported_plugins/GNA.md
Labels: port to master

#10967 Docs. Fix link in layout overview
  docs/OV_Runtime_UG/layout_overview.md
Labels: category: docs, ported to master

#10912 [GPU] Enabled IFM leftovers inside fully_connected_imad kernel
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/fully_connected/fully_connected_kernel_imad.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/fully_connected_gpu_imad.cl
Labels: category: GPU, performance

#10981 Docs: model caching page update according to OpenVINO API 2.0
  docs/OV_Runtime_UG/Model_caching_overview.md
  docs/img/caching_enabled.png
  docs/img/caching_times.png
  docs/snippets/InferenceEngine_Caching0.cpp
  docs/snippets/InferenceEngine_Caching1.cpp
  docs/snippets/InferenceEngine_Caching2.cpp
  docs/snippets/InferenceEngine_Caching3.cpp
  docs/snippets/ov_caching.cpp
  docs/snippets/ov_caching.py
Labels: category: docs

#10977 Docs: model caching page update according to OpenVINO API 2.0
  docs/OV_Runtime_UG/Model_caching_overview.md
  docs/img/caching_enabled.png
  docs/img/caching_times.png
  docs/snippets/InferenceEngine_Caching0.cpp
  docs/snippets/InferenceEngine_Caching1.cpp
  docs/snippets/InferenceEngine_Caching2.cpp
  docs/snippets/InferenceEngine_Caching3.cpp
  docs/snippets/ov_caching.cpp
  docs/snippets/ov_caching.py
Labels: ported to master

#10837 [CPU] fusing in non-0 output port exception
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/tests/functional/plugin/cpu/subgraph_tests/src/fuse_non0_output_port.cpp
Labels: category: CPU

#10700 [CPU] Topk node extend to support horizontal sort for all layouts for top_k == 1
  src/plugins/intel_cpu/src/nodes/topk.cpp
Labels: category: CPU

#10713 [CPU] Fixed default ellipsis mask in StridedSlice
  src/plugins/intel_cpu/src/nodes/strided_slice.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/single_layer_tests/strided_slice.cpp
Labels: category: IE Tests, category: CPU
