Repository openvinotoolkit/openvino, pull requests merged in 2022-12, with the labels that each got.

#13503 Unbreak LSTMCell-1 conformance test by adding missing descriptor
  src/plugins/intel_cpu/src/nodes/rnn.cpp
Labels: category: CPU, conformance, category: nGraph

#14115 [CPU] Xor: convert to LogicalXor
  src/common/transformations/include/transformations/op_conversions/convert_xor_to_logical_xor.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/src/transformations/op_conversions/convert_xor_to_logical_xor.cpp
  src/tests/functional/inference_engine/transformations/op_conversions/convert_xor_to_logical_xor.cpp
Labels: category: CPU, category: transformations

#14341 [CPU][DEBUG_CAPS] Fix build after snippets base class change
  src/plugins/intel_cpu/src/utils/debug_capabilities.cpp
Labels: category: CPU

#14314 [CPU] New operations: IsFinite, IsInf, IsNaN.
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/test_onnx/test_backend.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_onnx/test_backend.py
  src/frontends/onnx/tests/runtime/ie/unit_test.manifest
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/comparison.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/is_inf.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/is_inf.hpp
  src/tests/functional/plugin/shared/src/single_layer_tests/is_inf.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/comparison.hpp
  src/tests/functional/shared_test_classes/src/single_layer/comparison.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/comparison.cpp
  src/tests/ngraph_helpers/ngraph_functions/src/utils/ngraph_helpers.cpp
  tests/layer_tests/common/utils/tf_utils.py
  tests/layer_tests/tensorflow_tests/test_tf_IsFinite.py
  tests/layer_tests/tensorflow_tests/test_tf_IsInf.py
  tests/layer_tests/tensorflow_tests/test_tf_IsNan.py
Labels: category: CPU

#14345 Update features.cmake
  cmake/features.cmake
Labels: category: build

#14353 [CPU] Unreachable code fix
  src/plugins/intel_cpu/src/ngraph_transformations/op/interaction.cpp
Labels: category: CPU

#14306 RPM packages improvements: part 2
  cmake/developer_package/linux_name.cmake
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm/post_build.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
  cmake/packaging/rpm.cmake
  install_build_dependencies.sh
  samples/cpp/CMakeLists.txt
  samples/cpp/benchmark_app/CMakeLists.txt
  samples/cpp/benchmark_app/statistics_report.hpp
  samples/cpp/benchmark_app/utils.cpp
  samples/cpp/common/utils/CMakeLists.txt
  scripts/install_dependencies/install_openvino_dependencies.sh
  src/plugins/intel_gpu/tests/gtest_main_gpu.cpp
  thirdparty/CMakeLists.txt
Labels: category: build, category: packaging

#14350 [GPU] avoid can_fuse_reorder_to_prev() for detection_output cpu impl
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#14290 [GPU] Reset in memory cache capacity to 10000 instead of infinite value
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
Labels: category: GPU

#14359 Updated ONNX dockerfile
  .ci/azure/linux_ngraph_onnx.yml
  .ci/openvino-onnx/Dockerfile
Labels: category: CI

#14301 [GPU] Fix text-to-speech-en-multi-0001-duration-prediction failed
  src/plugins/intel_gpu/src/graph/impls/onednn/pooling_onednn.cpp
Labels: category: GPU

#14174 [CPU] Ensure mathematical correctness of converting floating point to boolean
  src/common/transformations/include/transformations/convert_precision.hpp
  src/common/transformations/src/transformations/convert_precision.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/conversion.cpp
Labels: category: CPU, category: transformations

#14307 Fix reshape evaluate to use tensor input shape
  src/core/src/op/reshape.cpp
  src/core/tests/eval.cpp
Labels: category: Core

#14370 Reverted temporary WAs for gflags installation for CentOS 7
  samples/cpp/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: packaging

#14384 Made OpenVINO cmake scripts Linux flavors agnostic
  CMakeLists.txt
  cmake/dependencies.cmake
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/features.cmake
  cmake/developer_package/linux_name.cmake
  cmake/developer_package/target_flags.cmake
  cmake/developer_package/whole_archive.cmake
  cmake/features.cmake
  cmake/packaging/debian.cmake
  scripts/install_dependencies/install_openvino_dependencies.sh
  src/bindings/python/src/compatibility/pyngraph/CMakeLists.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/wheel/CMakeLists.txt
  src/cmake/install_tbb.cmake
  src/frontends/onnx/tests/CMakeLists.txt
  src/frontends/tensorflow/tests/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/intel_myriad/myriad_dependencies.cmake
  src/plugins/intel_myriad/myriad_plugin/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: VPU, category: build

#14387 [TF FE] Prohibit compiling warnings
  src/frontends/tensorflow/src/CMakeLists.txt
Labels: category: build, platform: win32, category: TF FE

#14386 Fixed C samples build on Windows
  samples/cpp/CMakeLists.txt
  samples/cpp/benchmark_app/CMakeLists.txt
  samples/cpp/classification_sample_async/CMakeLists.txt
  samples/cpp/speech_sample/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: build

#14340 [DOC] Conditional compilation developer guide review
  docs/dev/conditional_compilation.md
  src/common/conditional_compilation/README.md
  src/common/conditional_compilation/docs/develop_cc_for_new_component.md
Labels: category: docs

#14308 [GPU] Adjust default num streams
  src/plugins/intel_gpu/include/intel_gpu/plugin/device_config.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/device_info.hpp
  src/plugins/intel_gpu/src/plugin/device_config.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
Labels: category: GPU

#14368 Use prebuilt cmake in install-dependencies steps
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  install_build_dependencies.sh
Labels: category: CI

#14376 R20 MX firmware update
  src/plugins/intel_myriad/myriad_dependencies.cmake
Labels: category: VPU

#14289 [GPU] Fix to access from not allocated memory
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#14389 Disabled constant folding for branch with Range operation
  src/common/legacy/src/graph_transformer.cpp
Labels: category: inference

#14356 [PyOV] Upgrade `mistune` and remove `import-order`
  docs/requirements.txt
  src/bindings/python/src/compatibility/openvino/requirements_dev.txt
Labels: category: Python API, category: docs, category: dependency_changes

#14390 Fixed i420 tests
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/shared_test_classes/src/single_layer/convert_color_i420.cpp
Labels: category: IE Tests

#14250 [CPU] Unique operation implementation.
  src/core/reference/include/ngraph/runtime/reference/unique.hpp
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/nodes/unique.cpp
  src/plugins/intel_cpu/src/nodes/unique.hpp
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/ctc_loss.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/unique.cpp
Labels: category: CPU

#14302 [IE TESTS] Add step logging in case of Conformance tests
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/read_ir_test/read_ir.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/ie_test_utils/common_test_utils/ov_tensor_utils.cpp
Labels: category: IE Tests, conformance

#14408 prepare install NEO script for rhel8.7 and ubi8.7
  scripts/install_dependencies/install_NEO_OCL_driver.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: packaging

#14406 [Docs] Add missed documentation for opset9 and opset10
  docs/api/ie_python_api/api.rst
Labels: category: docs

#14404 Fixed typo in Windows Azure steps names
  .ci/azure/windows.yml
Labels: category: CI

#14412 Amazon linux 2 support
  install_build_dependencies.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
  src/cmake/install_tbb.cmake
Labels: platform: linux

#14414 Don't install scripts which are not used
  scripts/CMakeLists.txt
  src/cmake/openvino.cmake
Labels: platform: linux, category: packaging

#14364 [GPU] Fix dead lock from exceeded max size of host memory allocation.
  src/plugins/intel_gpu/include/intel_gpu/plugin/remote_context.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/remote_context.cpp
Labels: category: GPU

#14400 [GPU] Fixed incorrect explicit transpose op inserted for MatMul
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/mat_mul.cpp
Labels: category: GPU

#14351 [CPU] Relax threshold for brgconv1x1 instead of inner product
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/matmul.cpp
Labels: category: CPU

#14422 [GPU] revert PR#12456 - removing blocked format support in program.cpp whitelist
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#14415 Fix XML vulnerabilities found by bandit
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/merge_xmls.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/rename_conformance_ir.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/requirements.txt
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  src/tests_deprecated/functional/vpu/tester.py
  tests/layer_tests/common/layer_test_class.py
  tests/layer_tests/common/utils/parsers.py
  tests/stress_tests/scripts/get_testdata.py
  tests/stress_tests/scripts/memcheck_upload.py
  tests/stress_tests/scripts/requirements.txt
  tools/mo/unit_tests/mo/back/ie_ir_ver_2/emitter_test.py
Labels: category: dependency_changes, conformance

#14326 Fix deformal conv read invalid address bug
  src/plugins/intel_cpu/src/nodes/def_conv.cpp
  src/plugins/intel_cpu/src/utils/debug_capabilities.h
Labels: category: CPU

#14435 [CONFRORMANCE] Fix Hash script according impossible way to get_shape
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/rename_conformance_ir.py
Labels: conformance

#14427 [CONFFORMANCE] Fix hans reporting in conformance tests
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/read_ir_test/read_ir.cpp
Labels: bug, conformance

#14169 Move ReshapePRelu to common transformation to reuse it in NV plugin
  src/common/transformations/include/transformations/common_optimizations/reshape_prelu.hpp
  src/common/transformations/src/transformations/common_optimizations/reshape_prelu.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_cpu_specific_opset.hpp
  src/plugins/intel_cpu/src/ngraph_transformations/reshape_prelu.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/reshape_prelu.hpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/reshape_prelu_test.cpp
Labels: category: CPU, category: nGraph

#14439 [CONFORMANCE] FIX ISSUES FOR WIN IN CONF RUNNER
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
Labels: conformance

#14441 [CONFORMANCE] Fix condition for WIN in Conformance runner
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
Labels: conformance

#14429 [POT] Update GNA3-3.5 configs & passes
  tools/pot/openvino/tools/pot/algorithms/quantization/default/algorithm.py
  tools/pot/openvino/tools/pot/configs/config.py
  tools/pot/openvino/tools/pot/configs/hardware/gna3.json
  tools/pot/openvino/tools/pot/graph/graph_utils.py
  tools/pot/openvino/tools/pot/graph/utils.py
Labels: category: POT

#14447 [chore] Update branch to take other repos from for Azure pipelines
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#14443 [GPU] allow softmax_bf kernel for axis=Y && X==1 case
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_base.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/softmax.cpp
Labels: category: GPU

#14355 [GNA] Fixed extended debug build
  cmake/features.cmake
  src/plugins/intel_gna/CMakeLists.txt
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/log/debug.hpp
Labels: category: GNA

#14466 Fix segfault on windows with MSVC
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/include/ov_api_conformance_helpers.hpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/exec_graph_info.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/exec_network_base.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/callback.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/cancellation.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/infer_request_dynamic.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/inference_chaining.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/io_tensor.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/multithreading.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/perf_counters.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/wait.cpp
Labels: conformance

#14470 Change visit_attributes default behavior
  src/core/include/openvino/core/node.hpp
  src/core/include/openvino/op/abs.hpp
  src/core/include/openvino/op/acos.hpp
  src/core/include/openvino/op/acosh.hpp
  src/core/include/openvino/op/adaptive_avg_pool.hpp
  src/core/include/openvino/op/logical_not.hpp
  src/core/src/node.cpp
  src/core/src/op/adaptive_avg_pool.cpp
  src/core/src/op/logical_not.cpp
Labels: category: Core

#14407 [GPU] Use transformed gemm shapes for layout optimizer checks
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/include/gemm_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#14454 [GPU] set b_fs_yx_fsv32 for first conv and dt is U8.
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#14325 [GPU][DG2] Change tanh to relu in fusion unit tests
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/mvn_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/pooling_fusion_test.cpp
Labels: category: GPU

#14476 Expose IE_THREAD definition to end users
  cmake/templates/openvino.pc.in
  src/cmake/ie_parallel.cmake
  src/cmake/openvino.cmake
Labels: port to master

#14462 [GPU] Use transformed gemm shapes for layout optimizer checks
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/include/gemm_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#14461 [GPU] allow softmax_bf for axis=Y && X==1 case
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_base.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/softmax.cpp
Labels: category: GPU

#14475 Add FP64 case to ConvertLike evaluate
  src/plugins/template/backend/evaluates_map.cpp
Labels: category: TEMPLATE

#14488 [CPU] Create dummy GenericShapeInferFactory
  src/plugins/intel_cpu/src/nodes/generic.cpp
Labels: category: CPU

#14528 Added extra dependencies for debian / rpm packages
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
Labels: port to master, category: packaging

#14487 [GPU] fix PR14422 regression for using arg_max_min opt kernel
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#14525 Added ocl-icd for ubi8 image
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: port to master

#14529 Added extra dependencies for debian / rpm packages
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
Labels: category: packaging

#14508 Extended speech_sample to work on VPUX
  samples/cpp/speech_sample/speech_sample.hpp
Labels: ported to master

#14539 Added json-devel for ubi8 image (#14525)
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: packaging

#14532 [GPU] Updated to get lockable memories for device inputs in prepare_input()
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/tests/functional/plugin/gpu/behavior/infer_request.cpp
Labels: category: GPU

#14542 CI: reduce time for NVIDIA plugin precommit
  .ci/azure/linux_cuda.yml
Labels: category: CI

#14059 Review opset7 einsum for shape inference aspects
  src/core/include/openvino/op/einsum.hpp
  src/core/shape_inference/include/einsum_shape_inference.hpp
  src/core/src/op/einsum.cpp
  src/core/tests/type_prop/einsum.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/einsum_shape_infernce_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/einsum_test.cpp
  src/tests/util/type_prop.hpp
Labels: category: Core, category: IE Tests

#14492 DOCS: Reintroducing APT and YUM installation methods for 22.3
  docs/get_started/get_started_demos.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-linux-header.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-yum.md
Labels: port to master

#14544 Opset tests refactor
  src/core/tests/opset.cpp
Labels: category: IE Tests

#14537 Fix LogicalNot evaluate when created with dynamic input
  src/core/src/op/logical_not.cpp
  src/core/tests/eval.cpp
Labels: category: Core

#14550 [CPU] Convolution shape inference fix
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/conv_sum_broadcast.cpp
Labels: category: CPU

#14548 [CPU] Convolution shape inference fix
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/conv_sum_broadcast.cpp
Labels: category: CPU

#14560 build_samples.sh: detect cmake3 for CentOS
  samples/cpp/build_samples.sh
Labels: category: build, category: samples

#14556 Fixed sanitizer for Apple clang
  CMakeLists.txt
  cmake/developer_package/compile_flags/sanitizer.cmake
Labels: category: build

#14192 Review opset1 stridedslice for shape inference aspects
  src/core/shape_inference/include/strided_slice_shape_inference.hpp
  src/core/src/op/strided_slice.cpp
  src/core/tests/type_prop/scatter_update.cpp
  src/core/tests/type_prop/strided_slice.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/strided_slice_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/strided_slice_test.cpp
  src/tests/util/type_prop.hpp
Labels: category: Core, category: IE Tests

#14559 [Tests] Move is_inf tests to proper place.
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/is_inf.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/is_inf.hpp
  src/tests/functional/shared_test_classes/src/single_layer/is_inf.cpp
Labels: category: IE Tests, category: CPU

#14562 build_samples.sh: detect cmake3 for CentOS
  samples/cpp/build_samples.sh
Labels: category: build, category: samples, ported to master

#14459 [GPU] Fixed invalid offset for tensor with batch padding
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/tests/test_cases/crop_gpu_test.cpp
Labels: category: GPU

#14457 Revert "[IE] keep constants in shape subgraphs in f32 (#14204)"
  src/common/transformations/include/transformations/rt_info/disable_fp16_compression.hpp
  src/common/transformations/src/transformations/common_optimizations/convert_compression_only_to_legacy.cpp
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/src/transformations/rt_info/disable_fp16_compression.cpp
  src/common/transformations/tests/utils/convert_precision.cpp
Labels: bug

#14579 Update ARM CPU plugin documentation
  docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md
Labels: platform: arm, category: docs

#14132 Move ONNX reader tests from ieFuncTests to ov_onnx_frontend_tests
  src/frontends/onnx/tests/CMakeLists.txt
  src/frontends/onnx/tests/lib_close.cpp
  src/frontends/onnx/tests/model_support_tests.cpp
  src/frontends/onnx/tests/models/data/tensor.data
  src/frontends/onnx/tests/models/onnx_external_data.prototxt
  src/frontends/onnx/tests/models/support_test/supported/basic.prototxt
  src/frontends/onnx/tests/models/support_test/supported/basic_reverse_fields_order.onnx
  src/frontends/onnx/tests/models/support_test/supported/more_fields.onnx
  src/frontends/onnx/tests/models/support_test/supported/scrambled_keys.prototxt
  src/frontends/onnx/tests/models/support_test/supported/varint_on_two_bytes.onnx
  src/frontends/onnx/tests/models/support_test/unsupported/duplicate_onnx_fields.onnx
  src/frontends/onnx/tests/models/support_test/unsupported/incorrect_onnx_field.onnx
  src/frontends/onnx/tests/models/support_test/unsupported/no_graph_field.onnx
  src/frontends/onnx/tests/models/support_test/unsupported/unknown_wire_type.onnx
  src/frontends/onnx/tests/onnx_reader_external_data.cpp
  src/frontends/onnx/tests/skip_tests_config.cpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/lib_close.hpp
  src/tests/ie_test_utils/functional_test_utils/src/lib_close.cpp
Labels: category: IE Tests

#14521 [CPU] Fix for the convolution node dummy shapes generation
  src/plugins/intel_cpu/src/memory_desc/cpu_memory_desc_utils.cpp
  src/plugins/intel_cpu/src/memory_desc/cpu_memory_desc_utils.h
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/cpu_test_utils.cpp
Labels: category: CPU

#14546 Adjusted pypi supported OS matrix
  docs/install_guides/pypi-openvino-rt.md
Labels: port to master

#14533 [GPU] fix PR14422 regression for using arg_max_min opt kernel
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#14460 [GPU] Fixed invalid offset for tensor with batch padding
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/tests/test_cases/crop_gpu_test.cpp
Labels: category: GPU

#14590 [GPU] Fix a bug to not apply f-axis offset to oneDNN concat
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
Labels: category: GPU

#14595 [GPU] Fix a bug to not apply f-axis offset to oneDNN concat
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
Labels: category: GPU

#14282 [GPU] Fix Pad Primitive shape inference
  src/plugins/intel_gpu/src/graph/border.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/border.cpp
  src/plugins/intel_gpu/src/plugin/ops/pad.cpp
  src/plugins/intel_gpu/tests/shape_infer/pad_si_test.cpp
  src/tests/functional/plugin/gpu/concurrency/gpu_concurrency_tests.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/pad.cpp
Labels: category: GPU

#14536 [GPU] Fix invalid memory access in lrn fsv16 kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/lrn_gpu_across_channel_multiple_features_fsv16.cl
Labels: category: GPU

#13943 Transpose sinking general
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_general.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_utils.hpp
  src/common/transformations/include/transformations/rt_info/transpose_sinking_attr.hpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_binary.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_concat.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_general.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_split.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_unary.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_utils.cpp
  src/common/transformations/src/transformations/rt_info/transpose_sinking_attr.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_general_test.cpp
Labels: category: transformations

#14609 [PyOV] Delete repeated requirements files
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_debian.yml
  .github/workflows/code_style.yml
  src/bindings/python/src/compatibility/openvino/CMakeLists.txt
  src/bindings/python/src/compatibility/openvino/inference_engine/CMakeLists.txt
  src/bindings/python/src/compatibility/openvino/requirements.txt
  src/bindings/python/src/compatibility/openvino/requirements_dev.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
Labels: category: Python API

#14601 [TESTS] Fix QN tests for case when device id is reported
  src/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
Labels: category: IE Tests

#14349 benchmark_app python: fix incorrect -i argument parsing for wavernn-rnn input names
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
Labels: ExternalPR

#14672 [PyOV] Correct supported Python versions
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/notebooks-installation.md
Labels: category: Python API, category: docs

#14418 [GPU] Updated to get lockable memories for device inputs in prepare_input()
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/tests/functional/plugin/gpu/behavior/infer_request.cpp
Labels: category: GPU

#13766 [HETERO][nGraph] Fix ConstantFolding fused_names handling
  src/common/offline_transformations/src/compress_quantize_weigths.cpp
  src/common/offline_transformations/src/pruning/shrink_weights.cpp
  src/common/transformations/src/transformations/common_optimizations/align_eltwise_input_ranks.cpp
  src/common/transformations/src/transformations/common_optimizations/fold_subgraph_empty_inputs.cpp
  src/common/transformations/src/transformations/common_optimizations/remove_concat_zero_dim_input.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_split.cpp
  src/common/transformations/src/transformations/smart_reshape/shape_of_const_folding.cpp
  src/core/include/openvino/core/runtime_attribute.hpp
  src/core/include/openvino/op/shape_of.hpp
  src/core/include/openvino/op/util/shape_of_base.hpp
  src/core/include/openvino/pass/constant_folding.hpp
  src/core/src/node.cpp
  src/core/src/op/shape_of.cpp
  src/core/src/pass/constant_folding.cpp
  src/core/src/rt_info.cpp
  src/core/src/runtime_attribute.cpp
  src/core/tests/constant_folding.cpp
  src/inference/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  src/inference/tests/unit/query_model_test.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_matmul_to_fc.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/move_eltwise_up_data_movement.cpp
  src/plugins/intel_cpu/src/utils/rt_info/memory_formats_attribute.hpp
  src/plugins/intel_gna/src/transformations/handle_transposes_around_matmul.cpp
  src/plugins/intel_gna/src/transformations/insert_reshape_around_matmul.cpp
  src/plugins/intel_gna/src/transformations/insert_transpose_after_convolution_or_pooling.cpp
  src/plugins/intel_gna/src/transformations/pwl_approximation.cpp
  src/plugins/intel_gna/src/transformations/swap_input_matmul_gna.cpp
  src/tests/ie_test_utils/common_test_utils/graph_comparator.cpp
Labels: category: GPU, category: CPU, category: HETERO, category: TEMPLATE, category: nGraph

#14060 RDFT kernel optimizations
  src/plugins/intel_cpu/src/nodes/kernels/rdft_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/rdft_kernel.hpp
  src/plugins/intel_cpu/src/nodes/rdft.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/rdft.cpp
Labels: category: CPU

#14617 [PyOV] remove opencv from requirements
  src/bindings/python/src/compatibility/openvino/requirements-dev.txt
Labels: category: Python API

#14613 Update ARM CPU plugin documentation for 22.3
  docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md
Labels: platform: arm, category: docs

#14639 [PyOV] Make graph tests hardware agnostic - part 3
  src/bindings/python/tests_compatibility/test_ngraph/test_adaptive_pool.py
  src/bindings/python/tests_compatibility/test_ngraph/test_basic.py
  src/bindings/python/tests_compatibility/test_ngraph/test_convolution.py
  src/bindings/python/tests_compatibility/test_ngraph/test_data_movement.py
  src/bindings/python/tests_compatibility/test_ngraph/test_dft.py
  src/bindings/python/tests_compatibility/test_ngraph/test_einsum.py
  src/bindings/python/tests_compatibility/test_ngraph/test_eye.py
  src/bindings/python/tests_compatibility/test_ngraph/test_gather.py
  src/bindings/python/tests_compatibility/test_ngraph/test_idft.py
  src/bindings/python/tests_compatibility/test_ngraph/test_if.py
  src/bindings/python/tests_compatibility/test_ngraph/test_manager.py
  src/bindings/python/tests_compatibility/test_ngraph/test_normalization.py
  src/bindings/python/tests_compatibility/test_ngraph/test_ops_binary.py
Labels: category: Python API

#14393 Review logical ops for shape inference aspects
  src/core/tests/type_prop/binary_elementwise.cpp
  src/core/tests/type_prop/logical_not.cpp
  src/core/tests/type_prop/logical_ops.hpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/bel_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/logical_not_shape_inference_test.cpp
Labels: category: Core, category: IE Tests

#14684 [PyOV] Rewriting properties tests as hardware agnostic
  src/bindings/python/tests/test_runtime/test_properties.py
Labels: category: Python API

#14608 Change compile options for transformation tests to fix CVS-97900
  src/common/transformations/tests/CMakeLists.txt
Labels: bug

#14646 [GPU] Fixed shape infer dep for blocked format
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/shape_infer/broadcast_si_test.cpp
Labels: category: GPU

#14707 [GPU] Removed legacy public gpu config and related processing
  src/inference/include/ie/cldnn/cldnn_config.hpp
  src/inference/include/ie/ie_plugin_config.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/device_config.hpp
  src/plugins/intel_gpu/src/plugin/device_config.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/plugins/intel_gpu/src/plugin/remote_context.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/plugin/configuration_tests.cpp
Labels: category: GPU

#14545 [POT] Updated Simplified mode documentation
  tools/pot/docs/SimplifiedMode.md
Labels: category: POT

#14668 [CPU] Improve some error messages
  src/plugins/intel_cpu/src/cpu_memory.cpp
  src/plugins/intel_cpu/src/node.h
Labels: category: CPU

#14357 [PyOV] Update BUILDING.md and minor dev docs fixes
  src/bindings/python/BUILDING.md
  src/bindings/python/docs/build.md
  src/bindings/python/docs/code_examples.md
  src/bindings/python/docs/contributing.md
  src/bindings/python/docs/test_examples.md
Labels: category: Python API, category: docs

#14706 [Docs][Install] Update description for default and extras installation of openvino-dev
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/pypi-openvino-dev.md
Labels: do not merge

#14675 [CPU][DOCS]Remove recommendation to use partially defined shapes
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/snippets/cpu/dynamic_shape.cpp
  docs/snippets/cpu/dynamic_shape.py
Labels: category: CPU, category: docs

#14674 [CPU][DOCS] Remove recommendation to use partially defined shapes
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/snippets/cpu/dynamic_shape.cpp
  docs/snippets/cpu/dynamic_shape.py
Labels: category: CPU, category: docs

#14727 Fix clang warnings for transformation tests
  src/common/transformations/tests/common_optimizations/eliminate_duplicate_ti_inputs.cpp
  src/common/transformations/tests/smart_reshape/broadcast_const_range_replacement.cpp
Labels: category: build

#14223 [CPU] [DEBUG CAPS] Extension for snippets and other ngraph transformations
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/docs/README.md
  src/plugins/intel_cpu/src/docs/blob_dumping.md
  src/plugins/intel_cpu/src/docs/debug_caps_filters.md
  src/plugins/intel_cpu/src/docs/feature_disabling.md
  src/plugins/intel_cpu/src/docs/graph_serialization.md
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph_dumper.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_cpu_specific_opset.hpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/plugin.h
  src/plugins/intel_cpu/src/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/transformation_pipeline.h
  src/plugins/intel_cpu/src/utils/debug_capabilities.h
  src/plugins/intel_cpu/src/utils/debug_caps_config.cpp
  src/plugins/intel_cpu/src/utils/debug_caps_config.h
  src/plugins/intel_cpu/src/utils/ngraph_transformation.hpp
  src/plugins/intel_cpu/src/utils/node_dumper.cpp
  src/plugins/intel_cpu/src/utils/node_dumper.h
Labels: category: CPU

#14549 [GPU] Refactored GPU verbose utils
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/select_preferred_formats.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/pass_manager.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/infer_request_legacy.cpp
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/src/plugin/ops/ctc_greedy_decoder.cpp
  src/plugins/intel_gpu/src/plugin/ops/non_max_suppression.cpp
  src/plugins/intel_gpu/src/plugin/ops/proposal.cpp
  src/plugins/intel_gpu/src/plugin/ops/topk.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/src/runtime/engine.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
  src/plugins/intel_gpu/src/runtime/memory.cpp
  src/plugins/intel_gpu/src/runtime/memory_pool.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_command_queues_builder.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_event.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
Labels: category: GPU

#14651 [OV][VPUX] - Debug build flags
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/compile_flags/os_flags.cmake
Labels: do not merge

#14275 [GPU] Fix eltwise fusions in case of LT_ALIGNED_READ and vec_size>1
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/tests/fusions/eltwise_fusion_test.cpp
Labels: category: GPU

#14673 Review tile class for shape inference aspects
  src/core/include/openvino/op/tile.hpp
  src/core/shape_inference/include/tile_shape_inference.hpp
  src/core/shape_inference/include/utils.hpp
  src/core/src/op/tile.cpp
  src/core/tests/type_prop/tile.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/tile_shape_inference_test.cpp
Labels: category: Core

#13464 [Paddle] Add paddle frontend developer guide.
  src/frontends/paddle/README.md
  src/frontends/paddle/docs/operation_mapping_flow.md
  src/frontends/paddle/docs/paddle_frontend_architecture.md
  src/frontends/paddle/docs/tests.md
Labels: category: docs

#14541 [CPU] Extend StridedSlice dynamic shape support
  src/plugins/intel_cpu/src/nodes/strided_slice.cpp
  src/plugins/intel_cpu/src/nodes/strided_slice.h
  src/plugins/intel_cpu/tests/functional/single_layer_tests/strided_slice.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/strided_slice.cpp
Labels: category: CPU

#14679 [GPU] Fix convert color I420
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convert_color_ref.cl
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/convert_color_i420.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/convert_color_nv12.hpp
Labels: category: GPU

#14730 [DOCS][CPU] Added sparse weights decompression feature description
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/snippets/cpu/ov_sparse_weights_decompression.cpp
  docs/snippets/cpu/ov_sparse_weights_decompression.py
Labels: category: CPU, category: docs

#14176 [GPU][DG2] Fix deconv unit tests
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/fusions/deconvolution_fusion_test.cpp
Labels: category: GPU

#14723 Extend partial shape to use back inserter and emplace
  src/core/include/openvino/core/partial_shape.hpp
  src/core/shape_inference/include/squeeze_shape_inference.hpp
  src/core/tests/partial_shape.cpp
Labels: category: Core

#14744 [GPU] Fix shape infer for 0d broadcast
  src/plugins/intel_gpu/include/intel_gpu/primitives/broadcast.hpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/broadcast.cpp
Labels: category: GPU

#14741 Use Zi FS instead of Z7
  src/common/transformations/tests/CMakeLists.txt
Labels: category: transformations

#14519 [PyOV] Make graph tests hardware agnostic - part 2
  src/bindings/python/src/openvino/runtime/opset4/ops.py
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/runtime.py
  src/bindings/python/tests/test_graph/test_basic.py
  src/bindings/python/tests/test_graph/test_convolution.py
  src/bindings/python/tests/test_graph/test_create_op.py
  src/bindings/python/tests/test_graph/test_data_movement.py
  src/bindings/python/tests/test_graph/test_dft.py
  src/bindings/python/tests/test_graph/test_gather.py
  src/bindings/python/tests/test_graph/test_idft.py
  src/bindings/python/tests/test_graph/test_if.py
  src/bindings/python/tests/test_graph/test_normalization.py
  src/bindings/python/tests/test_graph/test_ops.py
  src/bindings/python/tests/test_graph/test_ops_binary.py
  src/bindings/python/tests/test_graph/test_ops_fused.py
  src/bindings/python/tests/test_graph/test_ops_matmul.py
  src/bindings/python/tests/test_graph/test_ops_multioutput.py
  src/bindings/python/tests/test_graph/test_ops_reshape.py
  src/bindings/python/tests/test_graph/test_ops_unary.py
  src/bindings/python/tests/test_graph/test_pooling.py
  src/bindings/python/tests/test_graph/test_preprocess.py
  src/bindings/python/tests/test_graph/test_random_uniform.py
  src/bindings/python/tests/test_graph/test_rdft.py
  src/bindings/python/tests/test_graph/test_reduction.py
  src/bindings/python/tests/test_graph/test_roll.py
  src/bindings/python/tests/test_graph/test_sequence_processing.py
  src/bindings/python/tests/test_graph/test_utils.py
  src/bindings/python/tests/test_graph/util.py
  src/bindings/python/tests_compatibility/test_ngraph/test_create_op.py
  src/bindings/python/tests_compatibility/test_ngraph/test_if.py
  src/bindings/python/tests_compatibility/test_ngraph/test_ops_binary.py
  src/bindings/python/tests_compatibility/test_ngraph/test_utils.py
Labels: category: Python API

#14678 Fix crash on CompileModelCacheTestBase.CompareWithRefImpl/KSOFunction
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
Labels: conformance

#14751 Removed legacy get_name
  src/core/include/openvino/core/descriptor/tensor.hpp
Labels: category: Core

#14700 [GPU] Fix Experimental Detectron ROI Feature Extractor and DO
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/experimental_detectron_detection_output_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/experimental_detectron_roi_feature_extractor_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/ed_rfe/roi_feature_extractor_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/experimental_detectron_roi_feature_extractor_gpu_test.cpp
Labels: category: GPU

#14705 [PyOV] Make graph tests hardware agnostic - part 4
  src/bindings/python/src/compatibility/ngraph/opset4/ops.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_ngraph/test_ops.py
  src/bindings/python/tests_compatibility/test_ngraph/test_ops_binary.py
  src/bindings/python/tests_compatibility/test_ngraph/test_ops_fused.py
  src/bindings/python/tests_compatibility/test_ngraph/test_ops_matmul.py
  src/bindings/python/tests_compatibility/test_ngraph/test_ops_multioutput.py
  src/bindings/python/tests_compatibility/test_ngraph/test_ops_reshape.py
  src/bindings/python/tests_compatibility/test_ngraph/test_ops_unary.py
  src/bindings/python/tests_compatibility/test_ngraph/test_pooling.py
  src/bindings/python/tests_compatibility/test_ngraph/test_random_uniform.py
  src/bindings/python/tests_compatibility/test_ngraph/test_reduction.py
  src/bindings/python/tests_compatibility/test_ngraph/test_roll.py
  src/bindings/python/tests_compatibility/test_ngraph/test_sequence_processing.py
  src/bindings/python/tests_compatibility/test_ngraph/util.py
Labels: category: Python API

#14746 [PyOV] Add pathlib.Path objects as arguments to serialize pass
  src/bindings/python/src/pyopenvino/graph/passes/transformations.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/tests/test_frontend/test_frontendmanager.py
  src/bindings/python/tests/test_runtime/test_core.py
  src/bindings/python/tests/test_runtime/test_function.py
  src/bindings/python/tests/test_transformations/test_offline_api.py
  src/bindings/python/tests/test_transformations/test_public_transformations.py
  src/bindings/python/tests/test_utils/test_utils.py
Labels: category: Python API

#14656 Update macOS archive installation with ARM64 for 22/3
  docs/install_guides/installing-openvino-from-archive-macos.md
Labels: port to master

#14628 Update Raspbian OS installation for 22/3
  docs/install_guides/installing-openvino-raspbian.md
Labels: port to master

#14729 Fix docs requirements versions
  docs/requirements.txt
Labels: category: docs

#14625 Add CentOS back to install archive page for 22/3
  docs/install_guides/installing-openvino-from-archive-linux.md
Labels: port to master

#14683 [CVS-98877][MX] - NonMaxSuppression opset5 -> opset9
  src/plugins/intel_myriad/common/include/vpu/ngraph/operations/static_shape_non_maximum_suppression.hpp
  src/plugins/intel_myriad/common/src/ngraph/operations/static_shape_non_maximum_suppression.cpp
  src/plugins/intel_myriad/common/src/ngraph/transformations/dynamic_to_static_shape.cpp
  src/plugins/intel_myriad/common/src/ngraph/transformations/dynamic_to_static_shape_non_max_suppression.cpp
Labels: category: VPU

#14712 [MO] tmp IR cleanup if serialization or fem.load_by_framework fails
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/unit_tests/mo/frontend_ngraph_test.py
  tools/mo/unit_tests/mo/utils/convert_impl_tmp_irs_cleanup_test_actual.py
Labels: category: MO

#14354 Transpose sinking Unsqueeze different ranks
  src/common/transformations/include/transformations/rt_info/transpose_sinking_attr.hpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_binary.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_concat.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_utils.cpp
  src/common/transformations/src/transformations/rt_info/transpose_sinking_attr.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_binary_test.cpp
Labels: category: transformations

#14715 [GPU] Added gather dynamic gpu func test
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/gather.cpp
Labels: category: GPU

#14782 Revert zi fs flags
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/compile_flags/os_flags.cmake
  src/common/transformations/tests/CMakeLists.txt
Labels: category: build

#14788 [nGraph] Fix output precision of MatrixNmsIE
  src/common/transformations/include/ov_ops/nms_static_shape_ie.hpp
  src/common/transformations/tests/op_conversions/convert_matrix_nms_to_matrix_nms_ie_internal.cpp
Labels: category: nGraph

#14783 [ONNX FE] Add checking if Constant size match provided external data weights
  src/frontends/onnx/frontend/src/core/tensor.hpp
  src/frontends/onnx/frontend/src/exceptions.hpp
  src/frontends/onnx/tests/models/external_data/external_data_incorrect_data_shape.prototxt
  src/frontends/onnx/tests/onnx_import_external_data.in.cpp
Labels: category: ONNX FE

#14798 [GPU] Rename exec mode options
  src/plugins/intel_gpu/src/kernel_selector/kernel_base_opencl.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/activation/activation_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/binary_convolution/binary_convolution_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/binary_convolution/binary_convolution_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/broadcast/broadcast_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_imad_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv_16_32_imad_dw.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_to_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_to_fs_byx_fsv32.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_fs_byx_fsv32.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_fs_byx_fsv32_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_fs_byx_fsv32_depthwise.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_imad_b_fs_yx_fsv4_1x1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_mmad_b_fs_yx_fsv32.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_mmad_bfyx_to_b_fs_yx_fsv32.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_mmad_bfyx_to_b_fs_yx_fsv4.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/deformable_convolution_kernel_bfyx_interp.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/deconvolution/deconvolution_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/depth_to_space/depth_to_space_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_b_fs_yx_fsv4.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_fs_b_yx_fsv32.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_mixed_byxf_and_fs_b_yx_fsv32.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_vload8.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather_tree/gather_tree_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_mmad_int8.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_mmad_int8_slm.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/count_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/gather_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/pooling/pooling_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/quantize/quantize_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/range/range_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reduce/reduce_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/resample/resample_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reshape/reshape_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/select/select_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/shape_of/shape_of_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/space_to_depth/space_to_depth_kernel_ref.cpp
Labels: category: GPU

#14711 [CPU] Dynamic Pooling fix
  src/plugins/intel_cpu/src/nodes/pooling.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/pooling.cpp
Labels: category: CPU

#14658 add ways to find samples for PyPI installation
  docs/OV_Runtime_UG/Samples_Overview.md
Labels: port to master

#14703 [GPU] Serialization of loop primitive
  src/plugins/intel_gpu/include/intel_gpu/graph/serialization/loop_serializer.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/loop.hpp
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/include/loop_inst.h
  src/plugins/intel_gpu/src/graph/include/mutable_data_inst.h
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/graph/mutable_data.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/test_cases/loop_gpu_test.cpp
Labels: category: GPU

#13893 [Snippets] Removed limitation on Subgraph creation after Parameters
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/fq_decomposition.cpp
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/snippets_mark_skipped.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/snippets_mark_skipped.hpp
  src/plugins/intel_cpu/src/utils/rt_info/memory_formats_attribute.cpp
  src/plugins/intel_cpu/src/utils/rt_info/memory_formats_attribute.hpp
  src/plugins/intel_cpu/tests/functional/bfloat16/concat_in_place.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/conv_conv.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/conv_dwconv_relu.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/faster_100_5_1_1_conv.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_conv_eltwise_conv.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_conv_eltwise_relu_conv.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_conv_eltwise_scaleshift.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_conv_elu_conv.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_conv_relu.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_conv_x2_concat_relu.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_conv_x2_eltwise.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_conv_x2_mixed1_eltwise.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_conv_x2_mixed2_eltwise.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_conv_x3_eltwise.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_x2_conv_x2_eltwise.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/scaleshift_x3_conv_eltwise_relu.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/tail_fp32_optimization.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/topk_inputs_i32.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/execution_graph_tests/runtime_precision.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/fake_quantize_transformation.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/multiply_transformation.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/add.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/convert.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/eltwise_two_results.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/max_num_params_eltwise.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/three_inputs_eltwise.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/two_inputs_and_outputs.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/activation.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/conversion.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/eltwise.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/cpu_test_utils.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/cpu_test_utils.hpp
  src/plugins/intel_cpu/tests/functional/test_utils/fusing_test_utils.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/fusing_test_utils.hpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/snipptes_mark_skipped.cpp
  src/tests/functional/plugin/shared/include/snippets/add.hpp
  src/tests/functional/plugin/shared/include/snippets/max_num_params_eltwise.hpp
  src/tests/functional/plugin/shared/include/snippets/three_inputs_eltwise.hpp
  src/tests/functional/plugin/shared/src/behavior/executable_network/exec_graph_info.cpp
  src/tests/functional/plugin/shared/src/snippets/add.cpp
  src/tests/functional/plugin/shared/src/snippets/max_num_params_eltwise.cpp
  src/tests/functional/plugin/shared/src/snippets/three_inputs_eltwise.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/subgraph_simple.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_convert.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_simple.cpp
Labels: category: CPU

#14764 [POT] Remove openpyxl dependency
  tools/pot/setup.py
  tools/pot/tests/test_nightly.py
Labels: category: POT

#14806 [GPU] Fixed debug graph dump
  src/plugins/intel_gpu/src/plugin/graph.cpp
Labels: category: GPU

#14818 Removed ENABLE_REQUIREMENTS_INSTALL cmake option
  .ci/azure/linux.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  cmake/features.cmake
  cmake/test_model_zoo.cmake
Labels: category: IE Tests

#14720 [GPU][DG2] Fix gemm unit tests
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/gemm_fusion_test.cpp
Labels: category: GPU
