Repository openvinotoolkit/openvino, pull requests merged in 2022-06, with the labels that each got.

#11358 Fix onnx_frontend_tests
  .ci/azure/linux.yml
  .ci/azure/windows.yml
  src/core/tests/frontend/onnx/conversion.cpp
  src/core/tests/frontend/onnx/load_from.cpp
  src/core/tests/frontend/onnx/unit_test.manifest
Labels: category: CI, category: nGraph

#11766 [ONNX] Extend ONNX FE with SoftSign-9 operation
  src/core/tests/models/onnx/softsign.prototxt
  src/frontends/onnx/frontend/src/op/softsign.cpp
  src/frontends/onnx/frontend/src/op/softsign.hpp
  src/frontends/tests/onnx/onnx_import.in.cpp
Labels: category: ONNX FE

#11555 [Eye-9] Extend MO with Eye-9 op
  tests/layer_tests/tensorflow_tests/test_tf_Eye.py
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/back/op_versioning.py
  tools/mo/openvino/tools/mo/front/mxnet/eye_ext.py
  tools/mo/openvino/tools/mo/front/mxnet/eye_mx_to_eye.py
  tools/mo/openvino/tools/mo/front/tf/eye_ext.py
  tools/mo/openvino/tools/mo/front/tf/eye_tf_to_eye.py
  tools/mo/openvino/tools/mo/ops/eye.py
  tools/mo/unit_tests/mo/ops/eye_test.py
Labels: category: MO

#11723 Extend python API for GenerateProposals
  src/bindings/python/src/compatibility/ngraph/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset9/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset9/ops.py
  src/bindings/python/src/openvino/runtime/opset9/__init__.py
  src/bindings/python/src/openvino/runtime/opset9/ops.py
  src/bindings/python/tests/test_ngraph/test_create_op.py
  src/bindings/python/tests_compatibility/test_ngraph/test_create_op.py
  src/core/include/openvino/op/generate_proposals.hpp
Labels: category: python api, category: PDPD FE

#11747 [84109] First conv after permute runs on ref for deeplabv3
  src/plugins/intel_gpu/src/graph/convolution.cpp
Labels: category: GPU

#11706 [GPU] Add reorder between FC matmal and reshape
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/mat_mul.cpp
Labels: category: GPU

#11715 [GPU] Use clDNN FC
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU, do not merge

#11486 [GPU] Enable blocked formats in Gather primitive
  src/plugins/intel_gpu/src/graph/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gather.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/gather/gather_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/gather_ref.cl
  src/plugins/intel_gpu/tests/test_cases/gather_gpu_test.cpp
Labels: category: GPU

#11808 [GPU] Update to use immad with oneDNN test case.
  src/plugins/intel_gpu/tests/fusions/concatenate_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/fully_connected_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/pooling_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/gemm_gpu_test.cpp
Labels: GPU

#11769 [GPU] Use IE_THROW() instead of throw std::runtime_error
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
Labels: category: GPU

#11613 Fix deformable convolution cl kernel for Multi-Groups
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/deformable_convolution_gpu_bfyx_ref.cl
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
Labels: category: GPU

#11672 [GPU] Implement Reverse operation
  src/common/transformations/src/transformations/convert_precision.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/reverse.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reverse.cpp
  src/plugins/intel_gpu/src/graph/include/reverse_inst.h
  src/plugins/intel_gpu/src/graph/reverse.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/reverse/reverse_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/reverse/reverse_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/reverse/reverse_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/reverse/reverse_kernel_selector.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/reverse_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/reverse.cpp
  src/plugins/intel_gpu/tests/test_cases/reverse_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/reverse.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/reverse.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/reverse.hpp
  src/tests/functional/shared_test_classes/src/single_layer/reverse.cpp
Labels: category: GPU, ExternalPR

#11738 [GPU] Implement Bucketize-3
  docs/template_plugin/backend/evaluates_map.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/bucketize.hpp
  src/plugins/intel_gpu/src/graph/bucketize.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/bucketize.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/include/bucketize_inst.hpp
  src/plugins/intel_gpu/src/kernel_selector/common/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/bucketize/bucketize_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/bucketize/bucketize_kernel_ref.hpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/bucketize/bucketize_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/bucketize/bucketize_kernel_selector.hpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/bucketize_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/include/algorithm.cl
  src/plugins/intel_gpu/src/plugin/ops/bucketize.cpp
  src/plugins/intel_gpu/tests/test_cases/bucketize_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/bucketize.cpp
Labels: category: GPU, ExternalPR

#11815 [83906] DG2 Systolic engine not getting used for fp16 Action Recognition model
  src/plugins/intel_gpu/src/graph/include/layout_optimizer.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program_helpers.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
Labels: category: GPU

#11817 [GPU] Add oneDNN zero point value debug log.
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
Labels: category: GPU, GPU

#11832 [GPU] Update reorder_inputs for data type conversion on fc layer
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
Labels: category: GPU

#10621 Fix experimental detectron do ref impl
  docs/template_plugin/backend/evaluates_map.cpp
  docs/template_plugin/tests/functional/op_reference/experimental_detectron_detection_output.cpp
  src/core/reference/include/ngraph/runtime/reference/experimental_detectron_detection_output.hpp
  src/core/reference/src/runtime/reference/experimental_detectron_detection_output.cpp
  src/frontends/tests/onnx/onnx_import_org_openvino.in.cpp
  src/plugins/intel_cpu/src/nodes/experimental_detectron_detection_output.cpp
  src/tests/functional/shared_test_classes/src/single_layer/experimental_detectron_detection_output.cpp
Labels: category: Core, ExternalPR, category: TEMPLATE

#11783 [CPU] remove_limitation_usage_of_brgemm_for_fc
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/matmul.cpp
Labels: category: CPU

#10003 Luwei/extend reorder test
  src/tests/unit/cpu/CMakeLists.txt
  src/tests/unit/cpu/nodes/reorder_node_test.cpp
Labels: category: IE Tests, category: CPU

#11761 [GPU] Optimize DepthToSpace
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/depth_to_space/depth_to_space_kernel_ref.cpp
Labels: category: GPU

#11851 [GPU] [zyx] Optimize LWS in eltwise and quantize for 5d tensor
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/quantize/quantize_kernel_scale_shift_opt.cpp
Labels: category: GPU

#11852 Fix coverity issues
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
Labels: category: GPU

#11533 Update scatter nd update kernel to support blocked_formats
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_nd_update.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/scatter_update/scatter_nd_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/scatter_nd_update_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/scatter_nd_update.cpp
  src/plugins/intel_gpu/tests/CMakeLists.txt
  src/plugins/intel_gpu/tests/fusions/scatter_nd_update_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/scatter_nd_update_gpu_test.cpp
Labels: category: GPU

#11861 [GPU] Optimize memory dep analysis
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/oooq_memory_dependencies.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/skipped_branch_memory_dependencies.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#11873 [GPU] add zyx_fsv32 format for onednn deconv
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
Labels: category: GPU

#11731 Top k v2
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_top_k_v2.py
  src/frontends/paddle/src/op/top_k_v2.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: PDPD FE

#11889 [Samples] Remove set from method from sample
  samples/cpp/hello_classification/main.cpp
  samples/python/hello_classification/hello_classification.py
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
Labels: category: samples

#11874 [GPU] Add deeper case handling for ConvertColor operation
  src/plugins/intel_gpu/src/plugin/ops/transpose.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
Labels: category: GPU

#11884 [GPU] Add functionality of debug config ForceImpltype
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#11876 [GPU] Fix coverity issue
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
Labels: category: GPU

#11923 [POT] Fix dynamic shapes and batchfying data
  tools/pot/docs/DefaultQuantizationUsage.md
  tools/pot/openvino/tools/pot/algorithms/quantization/bias_correction/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/channel_alignment/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/default/README.md
  tools/pot/openvino/tools/pot/algorithms/quantization/default/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/fast_bias_correction/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/minmax/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/overflow_correction/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/ranger/README.md
  tools/pot/openvino/tools/pot/algorithms/quantization/ranger/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/tunable_quantization/README.md
  tools/pot/openvino/tools/pot/engines/ie_engine.py
  tools/pot/openvino/tools/pot/samplers/creator.py
Labels: category: POT

#11974 Fix loading data to Tensor from array-like objects
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/tests/test_inference_engine/test_infer_request.py
Labels: category: python api

#11940 fix deformable conv error with uneven dilations
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_deformable_conv.py
  src/plugins/intel_cpu/src/nodes/def_conv.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/deformable_convolution.cpp
Labels: category: CPU, category: PDPD FE

#12013 [GPU] Fix wrong output type propagation for gather elements
  src/plugins/intel_gpu/src/graph/gather_elements.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gather_elements.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/gather/gather_elements_kernel_ref.cpp
Labels: category: GPU
