Repository openvinotoolkit/openvino, pull requests merged in 2022-01, with the labels that each got.

#9425 [GPU] Disable blocked layout selection for quantize when gemm is the only user
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#9381 MO: progress bar implementation for new frontends
  src/bindings/python/src/openvino/frontend/__init__.py
  src/bindings/python/src/pyopenvino/frontend/extensions.cpp
  src/bindings/python/src/pyopenvino/frontend/extensions.hpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/core/tests/CMakeLists.txt
  src/core/tests/frontend/progress_reporter.cpp
  src/frontends/common/include/common/extension_holder.hpp
  src/frontends/common/include/openvino/frontend/extension/progress_reporter_extension.hpp
  src/frontends/common/src/extension/progress_reporter_extension.cpp
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/frontend.hpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/core/graph.hpp
  src/frontends/onnx/frontend/src/editor.cpp
  src/frontends/onnx/frontend/src/editor.hpp
  src/frontends/onnx/frontend/src/frontend.cpp
  src/frontends/onnx/frontend/src/input_model.cpp
  src/frontends/onnx/frontend/src/input_model.hpp
  src/frontends/onnx/frontend/src/utils/onnx_internal.cpp
  src/frontends/onnx/frontend/src/utils/onnx_internal.hpp
  tools/mo/openvino/tools/mo/main.py
  tools/mo/openvino/tools/mo/utils/logger.py
Labels: category: IE common, category: MO, category: nGraph

#9339 [PYTHON API] add_extension api
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/core/extension.cpp
  src/bindings/python/tests/test_inference_engine/test_core.py
Labels: category: IE common, category: python api

#9500 Split hard sigmoid into eltw linear and eltw clip
  src/plugins/intel_gpu/src/graph/program_node.cpp
Labels: category: GPU

#8998 [GPU] Add test-cases
  inference-engine/thirdparty/clDNN/tests/module_tests/test_module_fusing_reorder.cpp
  inference-engine/thirdparty/clDNN/tests/module_tests/test_program_helpers.cpp
Labels: category: GPU

#9424 [GPU] Enable implicit concat batch1 in oneDNN.
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.hpp
Labels: category: GPU

#9522 [GPU] Enable unet2d enable on DG2
  src/plugins/intel_gpu/include/intel_gpu/runtime/tensor.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/tensor_type.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/include/batch_headers/fetch_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/core/kernel_selector_common.cpp
Labels: category: GPU

#9462 [GPU] QueryNetwork method correction to work with dynamic shapes
  src/inference/src/ie_core.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: IE common, category: GPU

#9467 [GPU] Fix of gws/lws inconsistency for some reorder cases
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/reorder/reorder_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/common/kernel_selector_utils.cpp
Labels: bug, category: GPU

#9223 Support of partial shapes with boundaries in MO IR reader.
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  tools/mo/openvino/tools/mo/utils/ir_reader/extenders/parameter_extender.py
Labels: category: MO, category: docs

#9261 [Auto plugin] change VPUX as first priority of INT8 precision
  src/plugins/auto/plugin.cpp
  src/tests/unit/auto/select_device_test.cpp
Labels: category: IE common, category: IE Tests

#9207 [Auto plugin] fix klocwork issue
  src/inference/dev_api/cpp_interfaces/interface/ie_iexecutable_network_internal.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_iinfer_request_internal.hpp
  src/plugins/auto/executable_network.hpp
  src/plugins/auto/utils/log.hpp
Labels: category: IE common

#9538 [GPU] Fixed invalid vector element access in reduce test
  src/tests/functional/shared_test_classes/src/subgraph/reduce_eltwise.cpp
Labels: category: IE Tests, category: GPU

#9368 fixed tensor shapes in Divide::evaluate_bound
  src/core/src/op/divide.cpp
  src/core/tests/type_prop/reshape.cpp
Labels: category: nGraph

#9121 [Python API] Remove offline transformations from old python api
  inference-engine/ie_bridges/python/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/CMakeLists.txt
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/__init__.py
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api.pyx
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.cpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl.hpp
  inference-engine/ie_bridges/python/src/openvino/offline_transformations/offline_transformations_api_impl_defs.pxd
  inference-engine/ie_bridges/python/tests/test_offline_api.py
  inference-engine/ie_bridges/python/wheel/CMakeLists.txt
  tools/pot/openvino/tools/pot/graph/graph_utils.py
  tools/pot/tests/data/reference_models/multiple_outputs_net_example_dldt.xml
Labels: category: python api, category: tools, category: POT

#9252 [CPU] Fixed Replicate via ov::Model
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/test_onnx/test_zoo_models.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_onnx/test_zoo_models.py
  src/plugins/intel_cpu/src/mkldnn_graph.cpp
  src/plugins/intel_cpu/src/mkldnn_graph.h
  src/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/simple_if.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/simple_if.hpp
  src/tests/functional/shared_test_classes/src/subgraph/simple_if.cpp
Labels: category: IE Tests, category: CPU

#9480 [CPUCache]SoftMax cache
  src/plugins/intel_cpu/src/nodes/mkldnn_softmax_node.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/softmax.cpp
Labels: category: IE Tests, category: CPU

#9544 [GPU] Moved several module tests to proper folder
  src/plugins/intel_gpu/tests/module_tests/test_module_fusing_reorder.cpp
  src/plugins/intel_gpu/tests/module_tests/test_program_helpers.cpp
  src/plugins/intel_gpu/tests/test_cases/convert_color_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/experimental_detectron_roi_feature_extractor_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/random_uniform_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/range_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/slice.cpp
Labels: category: IE common, category: GPU

#7653 [LPT] INT16, INT32 leftovers
  src/common/low_precision_transformations/include/low_precision/layer_transformation.hpp
  src/common/low_precision_transformations/src/fake_quantize_decomposition.cpp
  src/common/low_precision_transformations/src/layer_transformation.cpp
  src/common/low_precision_transformations/src/low_precision.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/low_precision_transformations/src/quantization_details.cpp
  src/plugins/intel_cpu/src/mkldnn_plugin.cpp
Labels: category: LP transformations

#9542 [GPU] Fixed uninitialized field issue in pooling
  src/plugins/intel_gpu/include/intel_gpu/primitives/pooling.hpp
Labels: category: GPU

#9547 Compiled network loading is fixed
  samples/cpp/benchmark_app/main.cpp
Labels: category: samples

#9449 Add reshape in front of a fully connected node for using bf input
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/tests/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#9388 Handle names collisions for old IR with new API
  src/inference/dev_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  src/inference/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  src/inference/src/ie_core.cpp
  src/inference/src/ie_network_reader.cpp
  src/tests/functional/inference_engine/ir_serialization/rt_info_deserialization.cpp
  src/tests/functional/plugin/shared/include/behavior/executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
Labels: category: IE common, category: IE Tests

#9518 [GPU] Fix a bug of logical padding of convolution
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
Labels: category: GPU

#9551 Change omz model
  tests/conditional_compilation/test_config.yml
Labels: category: IE Tests

#9525 [CPUCache]Impl extract_image_patches cache
  src/plugins/intel_cpu/src/nodes/mkldnn_extract_image_patches_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_extract_image_patches_node.h
  src/tests/functional/plugin/cpu/single_layer_tests/extract_image_patches.cpp
Labels: category: IE Tests, category: CPU

#9483 [GPU] fp16-int8 mixed precision
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/depth_to_space.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/test_cases/resample_gpu_test.cpp
Labels: category: GPU

#9473 Atomic guard impromenents
  src/core/src/atomic_guard.hpp
Labels: good first issue, category: nGraph, ExternalPR

#9553 [GPU] Split fusion tests into separate files
  src/plugins/intel_gpu/tests/fusions/activation_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/batch_to_space_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/binary_convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/concatenate_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/deconvolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/depth_to_space_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/eltwise_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/fully_connected_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/fusion_test_common.hpp
  src/plugins/intel_gpu/tests/fusions/gather_elements_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/gather_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/gather_nd_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/gemm_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/lrn_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/mvn_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/normalize_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/permute_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/pooling_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/reduce_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/resample_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/scatter_elements_update_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/scatter_nd_update_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/scatter_update_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/space_to_batch_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/space_to_depth_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/fusings_gpu_test.cpp
Labels: category: GPU

#9567 Fix missing declarations for TBB_HYBRID_CPUS
  src/inference/src/threading/ie_parallel_custom_arena.cpp
Labels: category: IE common

#9478 [PYTHON API] infer helper
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/tests/test_inference_engine/test_infer_request.py
Labels: category: IE common, category: python api

#9545 Changed name and hash of GNA library
  cmake/dependencies.cmake
Labels: category: IE common

#9125 [Python API] Move wheel folder to the python dir
  .ci/azure/linux.yml
  .github/workflows/py_checks.yml
  inference-engine/ie_bridges/python/CMakeLists.txt
  src/bindings/python/CMakeLists.txt
  src/bindings/python/setup.cfg
  src/bindings/python/src/compatibility/ngraph/opset8/ops.py
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/openvino/runtime/opset8/ops.py
  src/bindings/python/tox.ini
  src/bindings/python/wheel/CMakeLists.txt
  src/bindings/python/wheel/readme.txt
  src/bindings/python/wheel/requirements-dev.txt
  src/bindings/python/wheel/setup.cfg
  src/bindings/python/wheel/setup.py
Labels: category: IE common, category: python api, category: CI

#9577 [IE TESTS] Fix Conformance report generation
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
Labels: category: IE Tests

#9430 [IE TESTS] Add `If` body to the reporting
  src/tests/ie_test_utils/functional_test_utils/src/layer_test_utils/summary.cpp
Labels: category: IE Tests

#9541 ConvertTensorIteratorToLSTMSequence fix
  src/common/transformations/src/transformations/op_conversions/convert_ti_to_sequences.cpp
  src/tests/functional/inference_engine/transformations/convert_ti_to_sequences_test.cpp
Labels: category: IE common, category: nGraph, category: IE Tests, category: IE transformations

#9002 [CPU] Dynamic shapes. RNN node.
  src/plugins/intel_cpu/src/cpu_shape.h
  src/plugins/intel_cpu/src/mkldnn_graph_optimizer.cpp
  src/plugins/intel_cpu/src/mkldnn_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_broadcast_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_conv_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_rnn.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_rnn.h
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/gru_cell.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/gru_sequence.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/lstm_cell.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/lstm_sequence.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/rnn_cell.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/rnn_sequence.cpp
  src/tests/ngraph_helpers/ngraph_functions/src/gru_cell.cpp
  src/tests/ngraph_helpers/ngraph_functions/src/lstm_cell.cpp
  src/tests/ngraph_helpers/ngraph_functions/src/rnn_cell.cpp
Labels: category: CPU

#9222 Bell/release resource
  src/plugins/auto/executable_network.cpp
  src/plugins/auto/executable_network.hpp
  src/tests/unit/auto/auto_release_helper_test.cpp
Labels: category: IE common

#9543 remove AlgebraicSimplification pass
  src/common/transformations/include/transformations/common_optimizations/algebraic_simplification.hpp
  src/common/transformations/src/transformations/common_optimizations/algebraic_simplification.cpp
Labels: category: IE common

#7430 [LPT]MoveFakeQuantize Q/DQ
  src/common/low_precision_transformations/include/low_precision/layer_transformation.hpp
  src/common/low_precision_transformations/include/low_precision/move_fake_quantize.hpp
  src/common/low_precision_transformations/include/low_precision/network_helper.hpp
  src/common/low_precision_transformations/src/layer_transformation.cpp
  src/common/low_precision_transformations/src/move_fake_quantize.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/tests/functional/inference_engine/lp_transformations/move_fake_quantize_transformation.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/move_fake_quantize_transformation.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/move_fake_quantize_transformation.cpp
  src/tests/functional/plugin/shared/include/low_precision_transformations/move_fake_quantize_transformation.hpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/move_fake_quantize_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/move_fake_quantize_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/move_fake_quantize_function.cpp
Labels: category: IE Tests, category: LP transformations, ExternalPR

#8976 [shape infer]BroadcastV3 and BroadcastV1 shape inference
  src/core/include/openvino/op/util/broadcast_base.hpp
  src/core/shape_inference/include/broadcast_shape_inference.hpp
  src/core/src/op/broadcast.cpp
  src/core/tests/type_prop/broadcast.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/tests/unit/cpu/shape_inference_test/broadcast_shape_inference.cpp
Labels: category: CPU

#8465 [shape_infer]Implement shape inference of DepthToSpace,SpaceToDepth, BatchToSpace,SpaceToBatch
  src/core/include/openvino/core/dimension.hpp
  src/core/include/openvino/op/depth_to_space.hpp
  src/core/include/openvino/op/space_to_depth.hpp
  src/core/shape_inference/include/batch_to_space_shape_inference.hpp
  src/core/shape_inference/include/depth_to_space_shape_inference.hpp
  src/core/shape_inference/include/space_to_batch_shape_inference.hpp
  src/core/shape_inference/include/space_to_depth_shape_inference.hpp
  src/core/shape_inference/include/utils.hpp
  src/core/src/dimension.cpp
  src/core/src/op/batch_to_space.cpp
  src/core/src/op/depth_to_space.cpp
  src/core/src/op/space_to_batch.cpp
  src/core/src/op/space_to_depth.cpp
  src/core/tests/onnx/onnx_import_exceptions.cpp
  src/core/tests/type_prop/batch_to_space.cpp
  src/core/tests/type_prop/depth_to_space.cpp
  src/core/tests/type_prop/space_to_batch.cpp
  src/core/tests/type_prop/space_to_depth.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/static_dimension.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/static_dimension.hpp
  src/tests/functional/inference_engine/transformations/batch_to_space_fusion.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/transformations_after_split_function.cpp
  src/tests/unit/cpu/shape_inference_test/batch_to_space_shape_inference.cpp
  src/tests/unit/cpu/shape_inference_test/depth_to_space_shape_inference.cpp
  src/tests/unit/cpu/shape_inference_test/space_to_batch_shape_inference.cpp
  src/tests/unit/cpu/shape_inference_test/space_to_depth_shape_inference.cpp
Labels: category: nGraph, category: IE Tests, category: CPU

#9569 Fix `proposal_exec` in ref impl
  src/core/reference/include/ngraph/runtime/reference/proposal.hpp
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: nGraph, category: IE Tests

#9550 [OV2.0] Calculate model layout based on 'tensor' layout and convert steps
  docs/template_plugin/tests/functional/subgraph_reference/preprocess.cpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/src/preprocess/preprocess_steps_impl.cpp
  src/core/src/preprocess/preprocess_steps_impl.hpp
  src/core/tests/preprocess.cpp
Labels: category: nGraph

#9492 [CPU_Cache]Enable CPU plugin cache for DepthToSpace.
  src/plugins/intel_cpu/src/nodes/mkldnn_depth_to_space_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_depth_to_space_node.h
  src/tests/functional/plugin/cpu/single_layer_tests/depth_to_space.cpp
Labels: category: IE Tests, category: CPU

#9442 ShutdownProtobufLibrary when unload paddle frontend dynmaic library t…
  cmake/developer_package/frontends/frontends.cmake
  src/frontends/common/CMakeLists.txt
  src/frontends/common/shutdown_protobuf/CMakeLists.txt
  src/frontends/common/shutdown_protobuf/shutdown_protobuf.cpp
  src/frontends/onnx/frontend/CMakeLists.txt
  src/frontends/paddle/CMakeLists.txt
  src/frontends/tensorflow/CMakeLists.txt
Labels: category: nGraph

#8986 [DS] [CPU] DS support for Deformable Convolution
  src/plugins/intel_cpu/src/nodes/mkldnn_def_conv_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_def_conv_node.h
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/deformable_convolution.cpp
Labels: category: IE Tests, category: CPU

#9495 Reduce number of Reshape operations in RNN sequences decomposition
  src/common/transformations/src/transformations/op_conversions/convert_sequences_to_tensor_iterator.cpp
  src/tests/functional/inference_engine/transformations/convert_sequences_to_ti_test.cpp
Labels: category: IE common

#9548 Move 'NV12toRGB/BGR' reference evaluates to template plugin
  docs/template_plugin/backend/evaluates_map.cpp
  docs/template_plugin/backend/opset_int_tbl.hpp
  src/core/include/openvino/op/util/convert_color_nv12_base.hpp
  src/core/reference/include/ngraph/runtime/reference/convert_color_nv12.hpp
  src/core/src/op/util/convert_color_nv12_base.cpp
Labels: category: nGraph, category: TEMPLATE

#9436 doc-versions-from-server
  docs/_static/js/custom.js
  docs/conf.py
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/download-docs.html
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/layout.html
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/version-selector.html
Labels: category: docs

#9596 Fixed itt_collector build
  thirdparty/itt_collector/sea_itt_lib/IttNotifyStdSrc.cpp
Labels: category: IE common

#9502 [CPU cache]Enable CPU Plugin cache for roi_pooling
  src/plugins/intel_cpu/src/nodes/mkldnn_roi_pooling_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_roi_pooling_node.h
  src/tests/functional/plugin/cpu/single_layer_tests/roi_pooling.cpp
Labels: category: IE Tests, category: CPU

#9599 [POT] FQ rename_node placement change
  tools/pot/openvino/tools/pot/graph/passes.py
Labels: category: POT

#9583 Fix output layout of tf yolo models converted with transformations config
  tools/mo/openvino/tools/mo/front/YOLO.py
Labels: category: MO

#9253 Add openvino_contrib to coverity scan
  .ci/azure/linux_coverity.yml
Labels: category: CI

#9584 [tools] some fixes for python benchmark
  tools/benchmark_tool/openvino/tools/benchmark/benchmark.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: category: tools

#9562 [PYTHON API] fix direct access to model input shape
  src/bindings/python/src/pyopenvino/graph/node_output.hpp
  src/bindings/python/src/pyopenvino/graph/partial_shape.cpp
  src/bindings/python/src/pyopenvino/graph/shape.cpp
  src/bindings/python/tests/test_inference_engine/test_function.py
  src/bindings/python/tests/test_ngraph/test_core.py
Labels: bug, category: IE common, category: python api

#9210 [CommonOptimizations] SimplifySecondInputOfReshape fix
  src/common/transformations/src/transformations/common_optimizations/simplify_shape_of_sub_graph.cpp
  src/tests/functional/inference_engine/transformations/simplify_second_input_of_reshape_test.cpp
  src/tests/functional/inference_engine/transformations/simplify_shape_of_sub_graph.cpp
Labels: category: IE transformations

#9571 Introduce dev_api for core component
  src/cmake/ov_runtime.cmake
  src/common/offline_transformations/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/dev_api/so_extension.hpp
  src/core/tests/CMakeLists.txt
  src/frontends/common/CMakeLists.txt
  src/frontends/ir/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/intel_cpu/CMakeLists.txt
  src/tests/unit/cpu/CMakeLists.txt
Labels: category: IE common, category: nGraph

#9580 [OV2.0] PrePostProcessor dump to output stream for debugging purposes
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/tests/test_ngraph/test_preprocess.py
  src/core/include/openvino/core/preprocess/pre_post_process.hpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/src/preprocess/preprocess_impls.cpp
  src/core/src/preprocess/preprocess_impls.hpp
  src/core/src/preprocess/preprocess_steps_impl.cpp
  src/core/src/preprocess/preprocess_steps_impl.hpp
  src/core/tests/preprocess.cpp
Labels: category: IE common, category: nGraph

#9257 Support TF ScatterND and CenterNet
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  tests/layer_tests/tensorflow_tests/test_tf_ScatterND.py
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/front/tf/TFScatterNDDecomposition.py
  tools/mo/openvino/tools/mo/front/tf/scatter_nd_ext.py
  tools/mo/openvino/tools/mo/middle/InsertLayoutPropagationTransposes.py
  tools/mo/openvino/tools/mo/ops/scatternd.py
Labels: category: MO

#9573 Updated documentation for OV Inference Runtime
  src/core/include/openvino/core/any.hpp
  src/core/include/openvino/runtime/allocator.hpp
  src/core/include/openvino/runtime/tensor.hpp
  src/inference/dev_api/so_ptr.hpp
  src/inference/include/ie/cpp/ie_executable_network.hpp
  src/inference/include/ie/cpp/ie_infer_request.hpp
  src/inference/include/ie/cpp/ie_memory_state.hpp
  src/inference/include/openvino/runtime/common.hpp
  src/inference/include/openvino/runtime/compiled_model.hpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/include/openvino/runtime/exception.hpp
  src/inference/include/openvino/runtime/infer_request.hpp
  src/inference/include/openvino/runtime/intel_gpu/ocl/dx.hpp
  src/inference/include/openvino/runtime/intel_gpu/ocl/ocl.hpp
  src/inference/include/openvino/runtime/intel_gpu/ocl/ocl_wrapper.hpp
  src/inference/include/openvino/runtime/intel_gpu/ocl/va.hpp
  src/inference/include/openvino/runtime/profiling_info.hpp
  src/inference/include/openvino/runtime/remote_context.hpp
  src/inference/include/openvino/runtime/remote_tensor.hpp
  src/inference/include/openvino/runtime/variable_state.hpp
Labels: category: IE common, category: nGraph, category: GPU, category: docs

#9597 [GPU] Enable a network with onednn deconv
  src/plugins/intel_gpu/include/intel_gpu/runtime/tensor.hpp
  src/plugins/intel_gpu/src/graph/impls/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/common/tensor_type.h
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/include/batch_headers/fetch_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/core/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/core/kernel_selector_common.cpp
Labels: category: GPU

#9552 Fixed CVS-75003
  src/core/src/ie_legacy/ie_layouts.cpp
  src/tests/functional/inference_engine/tensor_desc_test.cpp
Labels: category: IE common, category: nGraph, category: IE Tests

#9589 [CPUCache]Enable cpu cache for LRN
  src/plugins/intel_cpu/src/nodes/mkldnn_lrn_node.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/lrn.cpp
Labels: category: IE Tests, category: CPU

#9524 [CPU] Interpolate runtime params cache
  src/plugins/intel_cpu/src/nodes/mkldnn_eltwise_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_interpolate_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_interpolate_node.h
  src/tests/functional/plugin/cpu/single_layer_tests/interpolate.cpp
Labels: category: IE Tests, category: CPU

#9609 Fix for benchmark_app: set model stream flags
  samples/cpp/benchmark_app/main.cpp
Labels: category: samples

#9503 [CpuCahce]Pooling & FakeQuantize
  src/plugins/intel_cpu/src/nodes/mkldnn_fake_quantize_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_pooling_node.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/fake_quantize.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/pooling.cpp
Labels: category: IE Tests, category: CPU

#9616 fix sporadic crash
  src/plugins/auto/executable_network.cpp
Labels: category: MULTI

#9576 [GPU] Get rid of PreAllocator usages to allow setShape
  src/plugins/intel_gpu/include/intel_gpu/plugin/infer_request.hpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/remote_context.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_ext.hpp
  src/tests/functional/plugin/gpu/behavior/infer_request.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
Labels: category: IE Tests, category: GPU

#9598 [GPU] Fixed uninit axis field in pooling prim
  src/plugins/intel_gpu/include/intel_gpu/primitives/pooling.hpp
Labels: category: GPU

#9494 [IE Samples][OV2.0] final clean up of old API headers
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/common/utils/include/samples/args_helper.hpp
  samples/cpp/common/utils/include/samples/common.hpp
  samples/cpp/common/utils/src/args_helper.cpp
  samples/cpp/hello_reshape_ssd/main.cpp
  tools/compile_tool/main.cpp
Labels: category: samples, category: tools

#9615 fix build issue on android on shutdown protobuf
  cmake/developer_package/frontends/frontends.cmake
  cmake/features.cmake
  src/frontends/common/CMakeLists.txt
  src/frontends/common/shutdown_protobuf/CMakeLists.txt
Labels: category: nGraph

#9439 [GPU] Fix users invalidation and output layout recalculation in graph dump mode
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_dump_graph.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
Labels: category: GPU

#9601 [GPU] Merge reorder into next onednn conv
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#9511 Add SLT to Template Plugin: NonMaxSuppression-4,3,1
  docs/template_plugin/backend/evaluates_map.cpp
  docs/template_plugin/backend/opset_int_tbl.hpp
  docs/template_plugin/tests/functional/op_reference/non_max_suppression.cpp
  docs/template_plugin/tests/functional/skip_tests_config.cpp
Labels: category: nGraph, category: TEMPLATE

#9608 Python bindings: expose InputTensorInfo::set_memory_type
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/tests/test_ngraph/test_preprocess.py
Labels: category: IE common

#9624 Temporarily disable onnx_if_inside_if unit test on CPU
  src/core/tests/runtime/interpreter/unit_test.manifest
Labels: category: nGraph, category: CPU

#9380 [CPU] FullyConnected dynamism support
  src/plugins/intel_cpu/src/cpu_shape.h
  src/plugins/intel_cpu/src/mkldnn_graph_optimizer.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_cpu_specific_opset.hpp
  src/plugins/intel_cpu/src/nodes/mkldnn_eltwise_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_fullyconnected_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_fullyconnected_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_matmul_node.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/mat_mul.cpp
Labels: category: IE Tests, category: CPU

#9486 [GNA] Deprecate GNA_LIB_N_THREADS and SINGLE_THREAD parameters
  docs/IE_DG/supported_plugins/GNA.md
  src/inference/include/ie/gna/gna_config.hpp
  src/plugins/intel_gna/gna_device.cpp
  src/plugins/intel_gna/gna_device.hpp
  src/plugins/intel_gna/gna_plugin.cpp
  src/plugins/intel_gna/gna_plugin_config.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/behavior/ov_infer_request/multithreading.cpp
  src/tests/unit/gna/gna_plugin_config_test.cpp
  src/tests_deprecated/unit/engines/gna/configuration_test.cpp
  src/tests_deprecated/unit/engines/gna/gna_matcher.hpp
Labels: category: IE Tests, category: GNA, category: samples, category: tools

#9620 Support of clang-11 in NCC check
  cmake/developer_package/ncc_naming_style/openvino.style
Labels: category: IE common, category: build

#9557 Removed old dynamism API from infer request
  src/inference/dev_api/cpp_interfaces/impl/ie_executable_network_thread_safe_default.hpp
  src/inference/dev_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_default.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_iinfer_request_internal.hpp
  src/inference/src/cpp_interfaces/interface/ie_iinfer_request_internal.cpp
  src/plugins/hetero/infer_request.cpp
Labels: category: IE common

#8245 [MO, Frontends] Implement ChangePlaceholderType as Offline Transformation
  src/bindings/python/src/openvino/offline_transformations_pybind/__init__.py
  src/bindings/python/src/pyopenvino/core/offline_transformations.cpp
  src/common/transformations/include/transformations/common_optimizations/change_placeholder_types.hpp
  src/common/transformations/include/transformations/common_optimizations/moc_legacy_transformations.hpp
  src/common/transformations/include/transformations/rt_info/old_api_map_element_type_attribute.hpp
  src/common/transformations/src/transformations/common_optimizations/change_placeholder_types.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_legacy_transformations.cpp
  src/tests/functional/inference_engine/transformations/change_placeholder_types_test.cpp
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/back/offline_transformations.py
  tools/mo/openvino/tools/mo/front/ChangePlaceholderTypes.py
  tools/mo/openvino/tools/mo/front/extractor.py
  tools/mo/openvino/tools/mo/front/user_data_repack.py
  tools/mo/openvino/tools/mo/moc_frontend/serialize.py
  tools/mo/openvino/tools/mo/utils/check_ie_bindings.py
Labels: category: nGraph, do not merge

#9568 Disabled dynamic Windows build in Azure
  .ci/azure/windows.yml
Labels: platform: win32, category: CI

#9635 fix windows debug test assertion fail
  src/core/tests/runtime/interpreter/unit_test.manifest
  src/plugins/intel_cpu/src/nodes/mkldnn_interpolate_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_reduce_node.cpp
Labels: category: nGraph, category: CPU

#9604 [POT] Fix bug with git
  tools/pot/openvino/tools/pot/version.py
  tools/pot/setup.py
Labels: category: POT

#8840 Eliminate no-op elementwise operations
  src/common/transformations/include/transformations/common_optimizations/nop_elimination.hpp
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/common_optimizations/mul_conv_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/src/transformations/op_conversions/convert_divide.cpp
  src/common/transformations/src/transformations/utils/utils.cpp
  src/core/src/op/constant.cpp
  src/core/tests/visitors/op/constant.cpp
  src/tests/functional/inference_engine/transformations/convert_divide.cpp
  src/tests/functional/inference_engine/transformations/nop_elimination.cpp
  src/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
Labels: category: nGraph, category: IE Tests

#9645 [Python API] Remove extra version info from get_version
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
Labels: bug, category: IE common, category: python api

#9554 Benchmark_app batch calculation fix
  samples/cpp/benchmark_app/inputs_filling.cpp
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/benchmark_app/utils.cpp
  samples/cpp/benchmark_app/utils.hpp
  samples/cpp/common/utils/include/samples/args_helper.hpp
  samples/cpp/common/utils/src/args_helper.cpp
Labels: category: samples

#9510 [GPU] New debug option to serialize execution of inferences
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#9619 remove option ENABLE_SHUTDOWN_PROTOBUF
  cmake/developer_package/frontends/frontends.cmake
  cmake/features.cmake
  src/frontends/common/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: nGraph

#9183 [ngraph] Add UnsqueezeConcatReduceFusion transformation
  src/common/transformations/include/transformations/common_optimizations/concat_reduce_fusion.hpp
  src/common/transformations/include/transformations/common_optimizations/nop_elimination.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/common_optimizations/concat_reduce_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/plugins/intel_gna/gna_plugin.cpp
  src/tests/functional/inference_engine/transformations/concat_reduce_fusion.cpp
Labels: category: IE common, category: nGraph, category: IE Tests, category: IE transformations

#9630 Added NCC support for source files
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
  src/common/util/CMakeLists.txt
  src/core/CMakeLists.txt
  src/frontends/common/CMakeLists.txt
  src/frontends/onnx/frontend/CMakeLists.txt
  src/inference/CMakeLists.txt
Labels: category: build, category: samples

#9639 Fix build error with -DBUILD_SHARED_LIBS=OFF
  cmake/developer_package/frontends/frontends.cmake
Labels: category: IE common

#9653 ONNX python tests cleanup (obsolete XFAILs)
  src/bindings/python/tests_compatibility/__init__.py
Labels: category: IE common

#9490 [CPU_Cache]Enable Reorder node run time cache.
  src/plugins/intel_cpu/src/cache/cache_entry.h
  src/plugins/intel_cpu/src/nodes/mkldnn_reorder_node.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/convolution.cpp
  src/tests/unit/cpu/nodes/mkldnn_reorder_node.cpp
Labels: category: CPU

#9614 [LPT]MoveFakeQuantize resolved minor comments
  src/common/low_precision_transformations/include/low_precision/network_helper.hpp
  src/common/low_precision_transformations/src/move_fake_quantize.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
Labels: category: LP transformations

#9655 Remove skip for smoke_SetBlobCPU*PrecisionInNet=BOOL*
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests

#9537 [GPU] Don't optimize crop if its user is a reshape that can be optimized
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
Labels: category: GPU

#9627 [Transformations] SkipGather transformation
  src/common/transformations/include/transformations/common_optimizations/skip_gather_before_transpose_and_reshape.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/common_optimizations/skip_gather_before_transpose_and_reshape.cpp
  src/tests/functional/inference_engine/transformations/skip_gather_before_transpose_and_reshape_test.cpp
Labels: category: IE common, category: nGraph, category: IE Tests, category: IE transformations

#9637 [GNA] Deprecate GNA_LIB_N_THREADS and SINGLE_THREAD parameters + sample update
  docs/IE_DG/supported_plugins/GNA.md
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/speech_sample/main.cpp
  samples/cpp/speech_sample/speech_sample.hpp
  src/inference/include/ie/gna/gna_config.hpp
  src/plugins/intel_gna/gna_device.cpp
  src/plugins/intel_gna/gna_device.hpp
  src/plugins/intel_gna/gna_plugin.cpp
  src/plugins/intel_gna/gna_plugin_config.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/behavior/ov_infer_request/multithreading.cpp
  src/tests/unit/gna/gna_plugin_config_test.cpp
  src/tests_deprecated/unit/engines/gna/configuration_test.cpp
  src/tests_deprecated/unit/engines/gna/gna_matcher.hpp
  tests/samples_tests/smoke_tests/test_speech_sample.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: category: IE Tests, category: GNA, category: samples, category: tools

#9572 Hetero creates single result node
  docs/template_plugin/tests/functional/shared_tests_instances/hetero/synthetic.cpp
  src/plugins/hetero/executable_network.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
Labels: category: IE common

#9638 [MO] Skip `rt_info` in old graph comparator
  tools/mo/openvino/tools/mo/utils/ir_engine/compare_graphs.py
Labels: category: MO

#9534 [LPT] SharedValueAttribute extending
  src/common/low_precision_transformations/include/low_precision/create_precisions_dependent_attribute.hpp
  src/common/low_precision_transformations/include/low_precision/network_helper.hpp
  src/common/low_precision_transformations/include/low_precision/propagate_through_precision_preserved.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/shared_value_attribute.hpp
  src/tests/unit/inference_engine/transformations/low_precision/shared_attribute_add.cpp
Labels: category: LP transformations

#9652 MO: Set additional tensor names only if necessary
  tools/mo/openvino/tools/mo/moc_frontend/pipeline.py
Labels: category: MO

#9659 [GPU] Fix a minor bug of dump graph
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#9590 passing by reference to fix performance inefficiencies.
  src/plugins/auto/plugin.cpp
Labels: category: MULTI

#9565 [GPU] Add batching buffer to new API
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
Labels: category: IE Tests, category: GPU

#9643 [IE TESTS] Skip tests with Default device
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
Labels: category: IE Tests

#9447 [ICV] - flag to prevent IE from booting MX VPU
  src/plugins/intel_vpu/common/include/vpu/configuration/options/enable_mx_boot.hpp
  src/plugins/intel_vpu/common/include/vpu/private_plugin_config.hpp
  src/plugins/intel_vpu/common/src/configuration/options/enable_mx_boot.cpp
  src/plugins/intel_vpu/myriad_plugin/myriad_executable_network.cpp
  src/plugins/intel_vpu/myriad_plugin/myriad_executor.cpp
  src/plugins/intel_vpu/myriad_plugin/myriad_executor.h
  src/plugins/intel_vpu/myriad_plugin/myriad_metrics.cpp
  src/plugins/intel_vpu/myriad_plugin/myriad_plugin.cpp
  tools/compile_tool/main.cpp
Labels: category: IE Tests, category: VPU

#9662 [GPU] Fixed USM shared blob allocation type
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
  src/plugins/intel_gpu/src/graph/roi_align.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
Labels: category: GPU

#8926 [Offline Transformations] EfficientNet_b0 Pruning Transformation Enabling
  src/common/offline_transformations/include/mask_attribute.hpp
  src/common/offline_transformations/src/pruning/init_const_mask.cpp
  src/common/offline_transformations/src/pruning/mask_attribute.cpp
  src/common/offline_transformations/src/pruning/propagate_masks.cpp
  src/common/offline_transformations/src/pruning/shrink_weights.cpp
  src/inference/src/file_utils.cpp
  src/tests/functional/inference_engine/transformations/pruning_test.cpp
Labels: category: IE common

#8900 [GNA] Added reset before and after export
  src/plugins/intel_gna/memory/gna_memory_state.cpp
  src/tests/functional/plugin/gna/Import_export_tests/import_export_memory_layer.cpp
Labels: category: IE Tests, category: GNA

#9667 Added new tests for tensors element types
  docs/template_plugin/tests/functional/shared_tests_instances/behavior/ov_infer_request/io_tensor.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/behavior/ov_infer_request/io_tensor.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/io_tensor.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/io_tensor.cpp
Labels: category: IE Tests, category: TEMPLATE

#9629 [GPU] Integer floor and floor_mod support
  src/plugins/intel_gpu/src/graph/activation.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/actual_kernels/eltwise/eltwise_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/core/common/jitter.cpp
  src/plugins/intel_gpu/tests/test_cases/activation_simple_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#9611 [GNA] Restore deprecated options for GNA Plugin
  samples/cpp/speech_sample/main.cpp
  src/inference/include/ie/gna/gna_config.hpp
  src/plugins/intel_gna/gna_plugin_config.cpp
  src/tests/unit/gna/gna_plugin_config_test.cpp
Labels: category: GNA

#9634 [Python API] Rename offline_transformations in the new api
  src/bindings/python/setup.py
  src/bindings/python/src/openvino/offline_transformations/__init__.py
  src/bindings/python/src/pyopenvino/core/offline_transformations.cpp
  src/bindings/python/tests/test_transformations/test_offline_api.py
  tools/mo/CMakeLists.txt
  tools/mo/openvino/tools/mo/back/offline_transformations.py
  tools/mo/openvino/tools/mo/moc_frontend/serialize.py
  tools/mo/openvino/tools/mo/utils/check_ie_bindings.py
  tools/pot/openvino/tools/pot/graph/graph_utils.py
Labels: category: MO, category: python api, category: POT

#9314 [GPU] Single dimension Dynamic shape via legacy DynamicBatch
  src/plugins/intel_gpu/include/intel_gpu/plugin/graph.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/program.hpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/tests/functional/plugin/gpu/dynamic_tests/gpu_dyn_batch_shape_tests.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
Labels: category: IE common, category: IE Tests, category: GPU

#9284 add warning about order if both mean and scale set
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  tools/mo/openvino/tools/mo/utils/cli_parser.py
Labels: category: MO

#9556 [CPU_Cache]Enable CPU plugin cache for ShuffleChannesl and SpaceToDepth
  src/plugins/intel_cpu/src/nodes/mkldnn_shuffle_channels_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_shuffle_channels_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_space_to_depth_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_space_to_depth_node.h
  src/tests/functional/plugin/cpu/single_layer_tests/shuffle_channels.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/space_to_depth.cpp
Labels: category: IE Tests, category: CPU

#9644 Fixed compilation of user code with VS2015
  src/core/include/openvino/core/attribute_visitor.hpp
  src/core/src/attribute_visitor.cpp
Labels: category: nGraph

#9670 Workaround tokenizers python module install issue on Mac and Win
  inference-engine/ie_bridges/python/wheel/meta/openvino-dev.requirements.txt
Labels: category: python api

#9474 [GNA] Support new kaldi irs
  inference-engine/tests/unit/gna/ngraph/transformations/gna_unfuse_reshape_and_transpose.cpp
  src/plugins/intel_gna/gna_graph_compiler.cpp
  src/plugins/intel_gna/gna_graph_compiler.hpp
  src/plugins/intel_gna/gna_graph_patterns.hpp
  src/plugins/intel_gna/gna_plugin.cpp
  src/plugins/intel_gna/layers/gna_convolution_layer.cpp
  src/plugins/intel_gna/layers/gna_convolution_layer.hpp
  src/plugins/intel_gna/layers/gna_layer_info.hpp
  src/plugins/intel_gna/optimizer/gna_pass_manager.cpp
  src/plugins/intel_gna/transformations/decompose_2d_convolution.cpp
  src/plugins/intel_gna/transformations/remove_extra_reshapes.cpp
  src/plugins/intel_gna/transformations/split_convolution_with_large_buffer_size.cpp
  src/plugins/intel_gna/transformations/unfuse_reshape_and_transpose.cpp
  src/plugins/intel_gna/transformations/unfuse_reshape_and_transpose.hpp
  src/tests/functional/plugin/gna/pass_tests/fq_maxpool_reordering.cpp
  src/tests/functional/plugin/gna/pass_tests/remove_permutations_NHWC_to_NCHW_pass.cpp
Labels: category: IE common, category: IE Tests, category: GNA

#8526 Change nGraph serializer behavior for dynamic dimensions
  src/core/src/pass/serialize.cpp
Labels: category: nGraph

#9592 [AUTOPLUGIN] Add format string checker for log information
  src/plugins/auto/utils/log.cpp
  src/plugins/auto/utils/log.hpp
  src/plugins/auto/utils/log_util.hpp
  src/tests/unit/auto/log_utils_format_test.cpp
Labels: category: IE Tests, category: MULTI

#9672 Auto batch ov2.0 API support+tests
  src/plugins/auto_batch/auto_batch.cpp
  src/plugins/auto_batch/auto_batch.hpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_executable_network/exec_net_base.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_infer_request/callback.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_infer_request/cancellation.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_infer_request/io_tensor.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_infer_request/multithreading.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_infer_request/perf_counters.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_infer_request/wait.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/remote.cpp
Labels: category: IE common, category: IE Tests

#9689 Removed redundant sources from core component
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/src/transformations/fix_rt_info.cpp
  src/common/transformations/src/transformations/init_node_info.cpp
  src/common/transformations/src/transformations/rt_info/fused_names_attribute.cpp
  src/common/transformations/src/transformations/rt_info/preprocessing_attribute.cpp
  src/common/transformations/src/transformations/rt_info/primitives_priority_attribute.cpp
  src/common/transformations/src/transformations/smart_reshape/matmul_sr.cpp
  src/common/transformations/src/transformations/smart_reshape/mimic_set_batch_size.cpp
  src/common/transformations/src/transformations/smart_reshape/proposal_scales_stridedslice.cpp
  src/common/transformations/src/transformations/smart_reshape/reshape_to_1D.cpp
  src/common/transformations/src/transformations/smart_reshape/set_batch_size.cpp
  src/common/transformations/src/transformations/smart_reshape/smart_reshape.cpp
  src/common/transformations/src/transformations/smart_reshape/strided_slice_squeeze.cpp
  src/core/CMakeLists.txt
  src/inference/src/blob_factory.cpp
  src/inference/src/ie_blob_common.cpp
  src/inference/src/ie_layouts.cpp
  src/inference/src/system_allocator.cpp
Labels: category: IE common, category: nGraph, category: IE transformations

#9640 Fixes for scripts
  samples/cpp/build_samples.sh
  scripts/setupvars/setupvars.sh
Labels: category: build, category: samples

#9681 Added MO root directory search to simplify MO execution process
  tools/mo/openvino/tools/mo/main.py
  tools/mo/openvino/tools/mo/mo.py
  tools/mo/openvino/tools/mo/subprocess_main.py
  tools/mo/openvino/tools/mo/utils/versions_checker.py
Labels: category: MO

#9695 [Tests] Graph comparator - take sinks into accounts
  src/core/tests/build_graph.cpp
  src/core/tests/util/graph_comparator.cpp
  src/tests/functional/inference_engine/transformations/low_latency_test.cpp
  src/tests/functional/inference_engine/transformations/low_latency_v2_test.cpp
  src/tests/functional/inference_engine/transformations/make_stateful_test.cpp
Labels: category: nGraph

#9621 [CPU] FullyConnected leftovers
  src/plugins/intel_cpu/src/nodes/mkldnn_fullyconnected_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_fullyconnected_node.h
Labels: category: IE Tests, category: CPU

#9508 [CPU] Add cache support for normalize
  src/plugins/intel_cpu/src/nodes/mkldnn_normalize_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_normalize_node.h
  src/tests/functional/plugin/cpu/single_layer_tests/normalize.cpp
Labels: category: CPU

#7641 [MO] Support MXNet Operations: batch_dot, LayerNorm, div_sqrt_dim
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/front/MatMul_normalizer.py
  tools/mo/openvino/tools/mo/front/mxnet/batch_dot_ext.py
  tools/mo/openvino/tools/mo/front/mxnet/div_sqrt_dim.py
  tools/mo/openvino/tools/mo/front/mxnet/fully_connected_ext.py
  tools/mo/openvino/tools/mo/front/mxnet/layer_norm_ext.py
  tools/mo/openvino/tools/mo/middle/layer_normalization.py
  tools/mo/openvino/tools/mo/ops/div_sqrt_dim.py
  tools/mo/openvino/tools/mo/ops/layer_norm.py
  tools/mo/unit_tests/mo/front/mxnet/div_sqrt_dim_test.py
  tools/mo/unit_tests/mo/middle/layer_normalization_test.py
Labels: category: MO

#9716 GNA: move transformation test
  src/tests/unit/gna/ngraph/transformations/gna_unfuse_reshape_and_transpose.cpp
Labels: category: IE common, category: IE Tests, category: GNA

#9648 [IE Samples] json configuration reader and dumper for benchmark_app
  samples/cpp/benchmark_app/CMakeLists.txt
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/benchmark_app/utils.cpp
  samples/cpp/benchmark_app/utils.hpp
Labels: category: samples

#9513 [CPU]Add cache support to transpose node
  src/plugins/intel_cpu/src/nodes/common/permute_kernel.cpp
  src/plugins/intel_cpu/src/nodes/common/permute_kernel.h
  src/plugins/intel_cpu/src/nodes/mkldnn_transpose_node.cpp
  src/tests/functional/plugin/cpu/single_layer_tests/transpose.cpp
Labels: category: CPU

#9220 [CPU] Reuse the new nGraph shape infer functionality to the MKLDNN plugin
  src/core/shape_inference/include/reduce_shape_inference.hpp
  src/core/shape_inference/include/utils.hpp
  src/plugins/intel_cpu/src/mkldnn_node.cpp
  src/plugins/intel_cpu/src/mkldnn_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_batch_to_space_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_batch_to_space_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_broadcast_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_conv_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_deconv_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_def_conv_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_embedding_segments_sum_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_embedding_segments_sum_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_interpolate_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_pad_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_pad_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_pooling_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_pooling_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_range_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_range_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_reduce_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_reduce_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_reference_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_reshape_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_space_to_batch_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_space_to_batch_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_split_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_split_node.h
  src/plugins/intel_cpu/src/nodes/mkldnn_tile_node.cpp
  src/plugins/intel_cpu/src/nodes/mkldnn_topk_node.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.hpp
Labels: category: CPU

#9723 Update Model::reshape to rethrow currently handled exception
  src/core/src/model.cpp
  src/core/tests/model.cpp
Labels: category: nGraph

#9699 Update undefined dimensions parsing in parameter extender
  tools/mo/openvino/tools/mo/utils/ir_reader/extenders/parameter_extender.py
Labels: bug, category: MO

#5744 Changed permutes mechanics for Kaldi
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/front/kaldi/add_permute_after_convolution.py
  tools/mo/openvino/tools/mo/front/kaldi/add_reshape_around_convolution.py
  tools/mo/openvino/tools/mo/front/kaldi/add_reshape_around_pooling.py
  tools/mo/openvino/tools/mo/front/kaldi/add_reshape_transpose_around_conv_pool.py
  tools/mo/openvino/tools/mo/front/kaldi/extractors/convolutional_1d_component_ext.py
  tools/mo/openvino/tools/mo/front/kaldi/extractors/convolutional_component_ext.py
  tools/mo/openvino/tools/mo/front/kaldi/replace_timeheightconvolution.py
  tools/mo/openvino/tools/mo/graph/graph.py
  tools/mo/openvino/tools/mo/middle/FuseReshapesSequence.py
  tools/mo/unit_tests/mo/front/kaldi/add_permute_after_convolution_test.py
  tools/mo/unit_tests/mo/front/kaldi/add_reshape_transpose_around_conv_pool_test.py
  tools/mo/unit_tests/mo/front/kaldi/extractors/convolutional_component_ext_test.py
  tools/mo/unit_tests/mo/middle/FuseReshapeSequenceKaldi_test.py
Labels: category: MO

#8754 [CPU] [DEBUG CAPS] Implicitly enable perf counters for verbose mode
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/mkldnn_graph.cpp
  src/plugins/intel_cpu/src/mkldnn_graph_dumper.cpp
  src/plugins/intel_cpu/src/mkldnn_node.h
  src/plugins/intel_cpu/src/utils/blob_dump.cpp
  src/plugins/intel_cpu/src/utils/debug_capabilities.h
  src/plugins/intel_cpu/src/utils/node_dumper.cpp
  src/plugins/intel_cpu/src/utils/node_dumper.h
  src/plugins/intel_cpu/src/utils/verbose.h
Labels: category: CPU

#9726 Fix If operation validation function
  src/core/src/op/if.cpp
  src/core/tests/CMakeLists.txt
  src/core/tests/type_prop/if.cpp
Labels: category: nGraph

#9688 Fixed coverity issue for inference component
  src/inference/include/ie/ie_blob.h
  src/inference/include/ie/ie_compound_blob.h
  src/inference/src/ie_compound_blob.cpp
Labels: category: IE common

#9618 Intorduce json model analysis feature on the new path
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/moc_frontend/analysis.py
  tools/mo/openvino/tools/mo/moc_frontend/pipeline.py
  tools/mo/unit_tests/mo/frontend_ngraph_test.py
  tools/mo/unit_tests/mo/utils/test_mo_model_analysis_actual.py
Labels: category: MO

#9702 Optimize and simplify ConvertCompressedOnlyToLegacy transformation
  src/common/transformations/include/transformations/common_optimizations/convert_compression_only_to_legacy.hpp
  src/common/transformations/src/transformations/common_optimizations/convert_compression_only_to_legacy.cpp
Labels: category: IE common

#9703 Benchmarkapp: Added processing of inputs/outputs by index
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/benchmark_app/utils.cpp
  samples/cpp/common/utils/src/args_helper.cpp
Labels: category: samples

#9736 [IE Samples] fix benchmark: remove the rest ifdef opencv related to load & dump configs
  samples/cpp/benchmark_app/benchmark_app.hpp
Labels: category: samples

#9739 Nbdoc change source
  docs/nbdoc/README.md
  docs/nbdoc/consts.py
  docs/nbdoc/nbdoc.py
  docs/nbdoc/requirements.txt
  docs/nbdoc/utils.py
Labels: category: docs

#9515 Fix FakeQuantizeMulFusion on weights
  src/common/transformations/src/transformations/common_optimizations/fq_mul_fusion.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/subgraph_tests/quantized_convolution_batch_norm.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_convolution_batch_norm.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_convolution_batch_norm.hpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_convolution_batch_norm.cpp
Labels: category: IE common, category: IE Tests

#9115 [VPU] Convert precisions on input/output blobs
  src/inference/src/cnn_network_ngraph_impl.cpp
  src/plugins/intel_vpu/myriad_plugin/myriad_infer_request.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/comparison.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/eltwise.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/gather_elements.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/gather_nd.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/logical.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/minimum_maximum.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/nonzero.cpp
  src/tests/functional/plugin/myriad/shared_tests_instances/single_layer_tests/strided_slice.cpp
  src/tests/functional/plugin/myriad/single_layer_tests/gather.cpp
  src/tests/functional/plugin/myriad/single_layer_tests/static_shape_broadcast.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  src/tests/functional/shared_test_classes/src/single_layer/gather_elements.cpp
Labels: category: IE common, category: IE Tests, category: VPU
