Repository openvinotoolkit/openvino, pull requests merged in 2022-11, with the labels that each got.

#12561 [GPU] add blocked format to experimental detectron detection output
  src/plugins/intel_gpu/src/graph/experimental_detectron_detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/experimental_detectron_detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/experimental_detectron_detection_output_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/ed_do/detection_output_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/experimental_detectron_detection_output_gpu_test.cpp
Labels: category: GPU, ExternalPR, under_perf_check

#13630 [GPU] Fix IRDFT output rank.
  src/plugins/intel_gpu/src/graph/dft.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/dft.cpp
  src/plugins/intel_gpu/tests/test_cases/dft_gpu_test.cpp
Labels: category: GPU, ExternalPR

#13568 [GPU] Fix a bug that occurred when the optimized layer is executed.
  src/plugins/intel_gpu/src/graph/crop.cpp
  src/plugins/intel_gpu/src/graph/include/crop_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/reorder_inst.h
  src/plugins/intel_gpu/src/graph/include/reshape_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
Labels: category: GPU

#13747 [GPU][DG2] Select cldnn reduce kernel when model is FP32
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#13750 Improvements in rpm / debian build
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/options.cmake
  cmake/developer_package/packaging/changelog
  cmake/developer_package/packaging/changelog-rpm
  cmake/developer_package/packaging/debian.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm.cmake
  cmake/developer_package/packaging/rpm_post_build.cmake
  cmake/features.cmake
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  install_build_dependencies.sh
  samples/cpp/benchmark_app/benchmark_app.hpp
  src/cmake/install_tbb.cmake
  src/core/src/preprocess/function_guard.hpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/include/gflag_config.hpp
  thirdparty/CMakeLists.txt
  tools/legacy/benchmark_app/benchmark_app.hpp
Labels: category: build

#12577 [GPU] Fixes for GPUs from other vendors
  src/plugins/intel_gpu/include/intel_gpu/runtime/device.hpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_biplanar_nv12.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data_fast_b1.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/device.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/tests/module_tests/device_test.cpp
Labels: category: GPU

#13725 Removed duplicated files from OpenVINO wheel
  .ci/azure/linux_arm64.yml
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm.cmake
  cmake/developer_package/version.cmake
  install_build_dependencies.sh
  src/bindings/python/wheel/CMakeLists.txt
  src/bindings/python/wheel/fdupes_check.cmake
  src/bindings/python/wheel/requirements-dev.txt
  src/bindings/python/wheel/setup.py
  src/cmake/install_tbb.cmake
  thirdparty/CMakeLists.txt
  tools/CMakeLists.txt
  tools/openvino_dev/CMakeLists.txt
Labels: category: build

#13710 [GPU] Fix crop optimization for static shape
  src/plugins/intel_gpu/src/plugin/ops/split.cpp
Labels: category: GPU

#12803 [GPU] Gather tree blocked layouts support
  src/plugins/intel_gpu/src/graph/gather_tree.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gather_tree.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather_tree/gather_tree_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/gather_tree_gpu_test.cpp
Labels: category: GPU, ExternalPR

#12480 [GPU] Tile blocked layouts support
  src/plugins/intel_gpu/src/graph/impls/ocl/tile.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/tile/tile_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/tile_gpu_test.cpp
Labels: category: GPU, ExternalPR

#13658 [GPU] Default context for each device
  src/plugins/intel_gpu/include/intel_gpu/plugin/device_config.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/plugin.hpp
  src/plugins/intel_gpu/src/plugin/device_config.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
Labels: category: GPU

#8460 [GPU] Insert transpose for gemm input if its trans attr is set
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/mat_mul.cpp
Labels: category: IE Tests, category: GPU

#13137 [GPU] Matrix NMS
  src/common/transformations/src/transformations/op_conversions/convert_matrix_nms_to_matrix_nms_ie.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/matrix_nms.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/matrix_nms.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/include/matrix_nms_inst.h
  src/plugins/intel_gpu/src/graph/matrix_nms.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/matrix_nms_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/matrix_nms/matrix_nms_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/matrix_nms/matrix_nms_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/matrix_nms/matrix_nms_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/matrix_nms/matrix_nms_kernel_selector.h
  src/plugins/intel_gpu/src/plugin/ops/matrix_nms.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/test_cases/matrix_nms_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/matrix_nms.cpp
  src/tests/functional/shared_test_classes/src/single_layer/matrix_nms.cpp
Labels: category: GPU, ExternalPR

#13795 [PyOV] Fix building of wheel on windows from cmake
  cmake/developer_package/packaging/packaging.cmake
Labels: bug, category: Python API, category: packaging

#12456 [GPU] Add blocked layout support to ExperimentalDetectronTopKRois operation
  src/plugins/intel_gpu/src/graph/impls/ocl/arg_max_min.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/experimental_detectron_topk_rois.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/experimental_detectron_topk_rois_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_axis.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_gpu_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/ed_topkroi/topk_rois_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/arg_max_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/experimental_detectron_topk_rois_gpu_test.cpp
Labels: category: GPU, ExternalPR

#13800 Preparation for python debian package
  cmake/developer_package/packaging/debian.cmake
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/bindings/python/wheel/requirements-dev.txt
Labels: category: packaging

#13740 [GPU] Enable more compiler checks
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/graph_optimizer/graph_initializations.cpp
  src/plugins/intel_gpu/src/graph/half.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/custom_primitive.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_elements_update.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_update.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_dump_graph.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_axis.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_zyx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_to_fs_byx_fsv32.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_fs_byx_fsv32.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/detection_output/detection_output_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_max_suppression/non_max_suppression_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/region_yolo/region_yolo_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorg_yolo/reorg_yolo_kernel_ref.cpp
  src/plugins/intel_gpu/src/runtime/kernels_factory.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_kernels_factory.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_kernels_factory.hpp
  src/plugins/intel_gpu/tests/shape_infer/crop_si_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/eltwise_si_test.cpp
  src/plugins/intel_gpu/tests/shape_infer/range_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/cl_mem_input_test.cpp
  src/plugins/intel_gpu/tests/test_cases/command_queue_test.cpp
  src/plugins/intel_gpu/tests/test_cases/condition_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/lstm_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/region_yolo_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/reshape_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.cpp
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: GPU

#13756 [CPU] Fix issue about gather int32 in Reduce node
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/reduce_ops.cpp
Labels: bug, category: CPU

#13802 Fully define product version in cmake
  cmake/developer_package/version.cmake
Labels: category: packaging

#13664 [GPU] Pooling refactoring
  src/plugins/intel_gpu/include/intel_gpu/primitives/max_unpooling.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/pooling.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/trim_to_outputs.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/max_unpooling.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/pooling.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/pooling_onednn.cpp
  src/plugins/intel_gpu/src/graph/include/max_unpooling_inst.h
  src/plugins/intel_gpu/src/graph/max_unpooling.cpp
  src/plugins/intel_gpu/src/graph/pooling.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/max_unpooling_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pooling_gpu_bfyx_block_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pooling_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/max_unpooling/max_unpooling_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/max_unpooling/max_unpooling_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/max_unpooling/max_unpooling_kernel_gpu_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/max_unpooling/max_unpooling_kernel_gpu_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/max_unpooling/max_unpooling_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/max_unpooling/max_unpooling_kernel_selector.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/pooling/pooling_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/pooling/pooling_kernel_gpu_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/pooling/pooling_kernel_gpu_bfyx_block_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/pooling/pooling_kernel_gpu_int8_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/pooling/pooling_kernel_gpu_ref.cpp
  src/plugins/intel_gpu/src/plugin/ops/pooling.cpp
  src/plugins/intel_gpu/tests/fusions/pooling_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/max_unpooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.h
Labels: category: GPU

#13819 Removed conda option from python build
  src/bindings/python/src/compatibility/openvino/CMakeLists.txt
Labels: category: build, category: packaging

#13767 [GPU] Fix performance drop on new API
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#13359 [GNA] Added support of the all log levels
  src/plugins/intel_gna/src/backend/am_intel_dnn.cpp
  src/plugins/intel_gna/src/backend/am_intel_dnn.hpp
  src/plugins/intel_gna/src/backend/dnn.cpp
  src/plugins/intel_gna/src/backend/dnn_components.cpp
  src/plugins/intel_gna/src/backend/dnn_types.h
  src/plugins/intel_gna/src/backend/gna_limitations.cpp
  src/plugins/intel_gna/src/backend/gna_limitations.hpp
  src/plugins/intel_gna/src/backend/make_pwl.cpp
  src/plugins/intel_gna/src/backend/pwl_border_values_counter_identity.cpp
  src/plugins/intel_gna/src/backend/pwl_segments_creator_identity.cpp
  src/plugins/intel_gna/src/frontend/model_quantizer.hpp
  src/plugins/intel_gna/src/frontend/quantization.cpp
  src/plugins/intel_gna/src/frontend/scale_factor_calc.hpp
  src/plugins/intel_gna/src/gna2_model_export_helper.cpp
  src/plugins/intel_gna/src/gna2_model_helper.cpp
  src/plugins/intel_gna/src/gna_device.cpp
  src/plugins/intel_gna/src/gna_graph_compiler.cpp
  src/plugins/intel_gna/src/gna_graph_patterns.hpp
  src/plugins/intel_gna/src/gna_graph_tools.hpp
  src/plugins/intel_gna/src/gna_groups.hpp
  src/plugins/intel_gna/src/gna_model_serial.hpp
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/gna_plugin.hpp
  src/plugins/intel_gna/src/gna_plugin_config.cpp
  src/plugins/intel_gna/src/layers/gna_convolution_layer.cpp
  src/plugins/intel_gna/src/layers/gna_crop_layer.cpp
  src/plugins/intel_gna/src/layers/gna_fake_quantize_layer.hpp
  src/plugins/intel_gna/src/layers/gna_layer_helpers.hpp
  src/plugins/intel_gna/src/layers/gna_permute.hpp
  src/plugins/intel_gna/src/log/debug.hpp
  src/plugins/intel_gna/src/log/dump.cpp
  src/plugins/intel_gna/src/log/dump.hpp
  src/plugins/intel_gna/src/log/log.hpp
  src/plugins/intel_gna/src/memory/gna_mem_requests.hpp
  src/plugins/intel_gna/src/memory/gna_mem_requests_queue.hpp
  src/plugins/intel_gna/src/memory/gna_memory.hpp
  src/plugins/intel_gna/src/memory/gna_memory_util.cpp
  src/plugins/intel_gna/src/optimizer/gna_pass_manager.cpp
  src/plugins/intel_gna/src/preprocessing.cpp
  src/plugins/intel_gna/src/request/subrequest_impl.cpp
  src/plugins/intel_gna/src/request/worker_factory.cpp
  src/plugins/intel_gna/src/request/worker_impl.cpp
  src/plugins/intel_gna/src/request/worker_pool_impl.cpp
  src/plugins/intel_gna/src/runtime/cnn.cpp
  src/plugins/intel_gna/src/runtime/gna_float_runtime.cpp
  src/plugins/intel_gna/src/runtime/pwl.cpp
  src/plugins/intel_gna/src/transformations/convert_matmul_to_pointwise_convolution.cpp
  src/plugins/intel_gna/src/transformations/handle_transposes_around_matmul.cpp
  src/plugins/intel_gna/src/transformations/insert_copy_layer.cpp
  src/plugins/intel_gna/src/transformations/insert_identity_layer.cpp
  src/plugins/intel_gna/src/transformations/insert_reshape_around_matmul.cpp
  src/plugins/intel_gna/src/transformations/insert_transpose_after_convolution_or_pooling.cpp
  src/plugins/intel_gna/src/transformations/pwl_approximation.cpp
  src/plugins/intel_gna/src/transformations/reorder_activation_and_pooling.cpp
  src/plugins/intel_gna/src/transformations/split_eltwise.cpp
  src/plugins/intel_gna/src/transformations/swap_input_matmul_gna.cpp
  src/plugins/intel_gna/tests/functional/pass_tests/concat_restrictions.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_plugin/core_intergration.cpp
  src/plugins/intel_gna/tests/unit/gna_plugin_config_test.cpp
  src/plugins/intel_gna/tests/unit/log/logger.cpp
Labels: category: GNA

#13833 Added per component copyright files for debian / rpm
  cmake/developer_package/packaging/debian/changelog
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/debian/post_build.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm/changelog
  cmake/developer_package/packaging/rpm/post_build.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
  cmake/packaging/copyrights/arm_cpu
  cmake/packaging/copyrights/core
  cmake/packaging/copyrights/core_dev
  cmake/packaging/copyrights/generic
  cmake/packaging/copyrights/gna
  cmake/packaging/copyrights/gpu
  cmake/packaging/copyrights/hetero
  cmake/packaging/copyrights/intel_cpu
  cmake/packaging/copyrights/ir
  cmake/packaging/copyrights/myriad
  cmake/packaging/copyrights/onnx
  cmake/packaging/copyrights/paddle
  cmake/packaging/copyrights/python
  cmake/packaging/copyrights/samples
  cmake/packaging/copyrights/tensorflow
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
Labels: category: packaging

#13769 [GPU] Fix error in calling is_dynamic
  src/plugins/intel_gpu/src/graph/concatenation.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/concat_input_order.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_infer_request/infer_request_dynamic.cpp
Labels: category: GPU

#11946 Optimize DFT operation
  src/plugins/intel_cpu/src/nodes/dft.cpp
  src/plugins/intel_cpu/src/nodes/dft.h
  src/plugins/intel_cpu/src/nodes/kernels/dft_uni_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/dft_uni_kernel.hpp
Labels: category: CPU, ExternalPR

#13583 [POT] Propagate FQ through Gather
  tools/pot/openvino/tools/pot/configs/hardware/cpu.json
  tools/pot/openvino/tools/pot/configs/hardware/gpu.json
  tools/pot/openvino/tools/pot/graph/passes.py
  tools/pot/openvino/tools/pot/graph/special_operations.py
  tools/pot/tests/data/hardware_configs/cpu.json
  tools/pot/tests/data/hardware_configs/gna.json
  tools/pot/tests/data/hardware_configs/reference/cpu_flatten.json
  tools/pot/tests/data/models/gather_example/gather_example.json
  tools/pot/tests/data/models/gather_example/gather_example.pb
  tools/pot/tests/data/models/softsign_example/softsign_example.json
  tools/pot/tests/data/reference_fake_quantize_conf/googlenet-v3_asymmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/googlenet-v3_mixed.json
  tools/pot/tests/data/reference_fake_quantize_conf/googlenet-v3_symmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/mobilenet-v2-pytorch_asymmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/mobilenet-v2-pytorch_mixed.json
  tools/pot/tests/data/reference_fake_quantize_conf/mobilenet-v2-pytorch_symmetric.json
  tools/pot/tests/data/reference_models/gather_example_tf.xml
  tools/pot/tests/data/reference_models/gru_example_pytorch.xml
  tools/pot/tests/data/reference_models/lstm_example_pytorch.xml
  tools/pot/tests/data/reference_models/softsign_example_tf.xml
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_accuracy_activations.json
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_clipped_activations.json
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_performance_activations.json
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_weights.json
  tools/pot/tests/data/test_cases_refs/mobilenet-v2-pytorch_statistics_data.json
  tools/pot/tests/test_graph.py
  tools/pot/tests/test_sanity.py
  tools/pot/tests/utils/path.py
Labels: category: POT

#13706 [GPU] Ability to compile OV with OCL 1.2
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_gpu/include/intel_gpu/runtime/engine.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_command_queues_builder.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_command_queues_builder.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_common.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_wrapper.hpp
  src/plugins/intel_gpu/tests/test_cases/cl_mem_input_test.cpp
Labels: category: GPU

#13716 Review opset1 squeeze for shape inference aspects
  src/core/shape_inference/include/shape_nodes.hpp
  src/core/shape_inference/include/squeeze_shape_inference.hpp
  src/core/src/op/squeeze.cpp
  src/core/tests/type_prop/binary_elementwise.cpp
  src/core/tests/type_prop/gather.cpp
  src/core/tests/type_prop/squeeze.cpp
  src/core/tests/type_prop/unsqueeze.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/shape_node_tests.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/squeeze_shape_inference_test.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/tests/ie_test_utils/common_test_utils/test_assertions.hpp
  src/tests/util/type_prop.hpp
Labels: category: Core, category: IE Tests

#13758 [GPU] add errata for onednn layout selection
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#13751 [Snippets] Fixed SnippetsMarkSkipped pass for dynamic branches
  src/plugins/intel_cpu/src/ngraph_transformations/snippets_mark_skipped.cpp
Labels: category: CPU

#13858 Updated exclude patterns for nlohmann json
  thirdparty/CMakeLists.txt
Labels: category: samples, category: packaging

#13717 [POT] Unify MatMul scales
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize_configuration.py
  tools/pot/openvino/tools/pot/graph/special_operations.py
  tools/pot/tests/data/models/matmul_unify_scales/matmul_1_in_split.json
  tools/pot/tests/data/models/matmul_unify_scales/matmul_1_in_split.onnx
  tools/pot/tests/data/models/matmul_unify_scales/matmul_3_in_agnostic.json
  tools/pot/tests/data/models/matmul_unify_scales/matmul_3_in_agnostic.onnx
  tools/pot/tests/data/models/matmul_unify_scales/matmul_3_in_cat.json
  tools/pot/tests/data/models/matmul_unify_scales/matmul_3_in_cat.onnx
  tools/pot/tests/data/models/matmul_unify_scales/matmul_3_in_slice.json
  tools/pot/tests/data/models/matmul_unify_scales/matmul_3_in_slice.onnx
  tools/pot/tests/data/reference_fake_quantize_conf/matmul_1_in_split.json
  tools/pot/tests/data/reference_fake_quantize_conf/matmul_3_in_agnostic.json
  tools/pot/tests/data/reference_fake_quantize_conf/matmul_3_in_cat.json
  tools/pot/tests/data/reference_fake_quantize_conf/matmul_3_in_slice.json
  tools/pot/tests/test_scales.py
Labels: category: POT

#13871 [PyOV] Fix wheel requirements for new package versions
  src/bindings/python/requirements_test.txt
  src/bindings/python/wheel/CMakeLists.txt
  src/bindings/python/wheel/requirements-dev.txt
Labels: category: build, category: Python API

#13872 [POT] Update node names in ONNX models
  tools/pot/tests/data/reference_fake_quantize_conf/mobilenet-v2-pytorch_asymmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/mobilenet-v2-pytorch_mixed.json
  tools/pot/tests/data/reference_fake_quantize_conf/mobilenet-v2-pytorch_symmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/resnet-50-pytorch_asymmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/resnet-50-pytorch_mixed.json
  tools/pot/tests/data/reference_fake_quantize_conf/resnet-50-pytorch_symmetric.json
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_accuracy_activations.json
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_clipped_activations.json
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_performance_activations.json
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_weights.json
  tools/pot/tests/data/reference_unify/mobilenet-v2-pytorch_to_unify.json
  tools/pot/tests/data/test_cases_refs/mobilenet-v2-pytorch_statistics_data.json
  tools/pot/tests/test_sanity.py
Labels: category: POT

#13240 [PyOV] Disallow Python 3.6 usage
  .github/github_org_control/configs.py
  cmake/developer_package/ncc_naming_style/requirements_dev.txt
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_XLNet_From_Tensorflow.md
  docs/dev/build.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/notebooks-installation.md
  docs/openvino_sphinx_theme/setup.py
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.sh
  src/plugins/intel_gpu/README.md
  tools/benchmark_tool/setup.py
  tools/cross_check_tool/setup.py
  tools/deployment_manager/configs/darwin.json
  tools/deployment_manager/configs/linux.json
  tools/deployment_manager/configs/windows.json
  tools/deployment_manager/deployment_manager.py
  tools/mo/install_prerequisites/install_prerequisites.bat
  tools/mo/install_prerequisites/install_prerequisites.sh
  tools/pot/openvino/tools/pot/algorithms/quantization/optimization/algorithm.py
  tools/pot/setup.py
  tools/pot/tests/utils/command.py
Labels: category: Python API, category: docs

#13735 [GPU] Remove f16<->f32 conversion duplicates
  src/plugins/intel_gpu/src/graph/impls/cpu/detection_output.cpp
  src/plugins/intel_gpu/src/graph/include/math_utils.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/tests/fusions/fusion_test_common.hpp
  src/plugins/intel_gpu/tests/test_cases/average_unpooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/batch_to_space_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/binary_convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/convert_color_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/cum_sum_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/deconvolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/depth_to_space_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/embedding_bag_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/gather_elements_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/gather_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/gather_nd_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/reverse_sequence_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/scatter_elements_update_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/scatter_nd_update_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/scatter_update_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/space_to_batch_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/space_to_depth_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_utils/float16.h
  src/plugins/intel_gpu/tests/test_utils/random_gen.h
Labels: category: GPU

#13688 [POT] Bump torch version to 1.12
  tools/pot/setup.py
Labels: category: Python API, do not merge, category: POT

#13892 [PyOV] Skip sporadically failling tests
  src/bindings/python/tests/test_graph/test_ops_fused.py
  src/bindings/python/tests/test_graph/test_ops_matmul.py
  src/bindings/python/tests/test_runtime/test_core.py
  src/bindings/python/tests/test_runtime/test_infer_request.py
Labels: bug, category: Python API

#13754 [GPU] AvgPool/MaxPool dynamic support
  src/plugins/intel_gpu/include/intel_gpu/primitives/pooling.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/pooling.cpp
  src/plugins/intel_gpu/src/graph/include/pooling_inst.h
  src/plugins/intel_gpu/src/graph/pooling.cpp
  src/plugins/intel_gpu/src/plugin/ops/pooling.cpp
  src/plugins/intel_gpu/tests/shape_infer/pooling_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/pooling_gpu_test.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/pooling.cpp
Labels: category: GPU

#13889 [POT] Skip unstable test
  tools/pot/tests/test_sanity.py
  tools/pot/tests/test_scales.py
Labels: category: POT

#13844 Review opset1 split for shape inference aspects
  src/core/include/openvino/op/split.hpp
  src/core/shape_inference/include/split_shape_inference.hpp
  src/core/src/op/split.cpp
  src/core/src/validation_util.cpp
  src/core/tests/type_prop/split.cpp
  src/core/tests/type_prop/squeeze.cpp
  src/core/tests/type_prop/unsqueeze.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/split_shape_inference_tests.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/split_tests.cpp
  src/tests/util/type_prop.hpp
Labels: category: Core, category: IE Tests

#13731 [GPU] Enable Conv/GroupConv shape infer for explicit/valid padding
  src/core/shape_inference/include/convolution_shape_inference.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/convolution.hpp
  src/plugins/intel_gpu/src/graph/convolution.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_input_padding.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/include/convolution_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
  src/plugins/intel_gpu/tests/shape_infer/convolution_si_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/group_convolution.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/convolution.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/groupconvolution.cpp
Labels: category: GPU

#13904 temporary commented failed test
  src/core/tests/file_util.cpp
Labels: category: IE Tests

#13847 [GPU] Fix performance degradation of bfyx conv with FP16 compared to FP32
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.h
Labels: category: GPU

#13895 DOCS: Developer documentation Inference component update
  docs/dev/get_started.md
  docs/dev/index.md
  src/inference/README.md
  src/inference/docs/api_details.md
Labels: category: docs

#13727 Add ctest for some test targets
  docs/dev/test_coverage.md
  src/common/snippets/tests/CMakeLists.txt
  src/core/tests/CMakeLists.txt
  src/core/tests/pass/serialization/read_ir.hpp
  src/core/tests/pass/serialization/tensor_names.cpp
  src/core/tests/type_prop/arithmetic_ops.hpp
  src/core/tests/type_prop/convert_color_i420_base.hpp
  src/core/tests/type_prop/convert_color_nv12_base.hpp
  src/core/tests/type_prop/log_softmax.cpp
  src/core/tests/type_prop/logical_ops.hpp
  src/core/tests/type_prop/reduce_ops.hpp
  src/core/tests/type_prop/unary_ops.hpp
  src/core/tests/visitors/op/binary_ops.hpp
  src/core/tests/visitors/op/is_finite.cpp
  src/core/tests/visitors/op/reduce_ops.hpp
  src/frontends/ir/tests/CMakeLists.txt
  src/frontends/onnx/tests/CMakeLists.txt
  src/frontends/paddle/tests/CMakeLists.txt
  src/frontends/paddle/tests/paddle_utils.hpp
  src/frontends/tensorflow/tests/CMakeLists.txt
  src/tests/functional/inference_engine/CMakeLists.txt
  src/tests/unit/inference_engine/CMakeLists.txt
Labels: category: IE Tests

#12910 [CPU] GridSample operation implementation.
  src/core/reference/include/ngraph/runtime/reference/grid_sample.hpp
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/grid_sample.cpp
  src/plugins/intel_cpu/src/nodes/grid_sample.hpp
  src/plugins/intel_cpu/src/nodes/kernels/grid_sample.cpp
  src/plugins/intel_cpu/src/nodes/kernels/grid_sample.hpp
  src/plugins/intel_cpu/src/nodes/kernels/jit_kernel_base.cpp
  src/plugins/intel_cpu/src/nodes/kernels/jit_kernel_base.hpp
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/grid_sample.cpp
  src/plugins/template/backend/evaluates_map.cpp
  src/plugins/template/backend/opset_int_tbl.hpp
Labels: category: CPU

#13913 [PyOV] Fix mypy after bump, general refactor
  .github/workflows/py_checks.yml
  src/bindings/python/setup.cfg
  src/bindings/python/src/compatibility/ngraph/__init__.py
  src/bindings/python/src/compatibility/ngraph/impl/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset1/ops.py
  src/bindings/python/src/compatibility/ngraph/opset10/ops.py
  src/bindings/python/src/compatibility/ngraph/opset2/ops.py
  src/bindings/python/src/compatibility/ngraph/opset3/ops.py
  src/bindings/python/src/compatibility/ngraph/opset4/ops.py
  src/bindings/python/src/compatibility/ngraph/opset5/ops.py
  src/bindings/python/src/compatibility/ngraph/opset6/ops.py
  src/bindings/python/src/compatibility/ngraph/opset7/ops.py
  src/bindings/python/src/compatibility/ngraph/opset8/ops.py
  src/bindings/python/src/compatibility/ngraph/opset9/ops.py
  src/bindings/python/src/compatibility/ngraph/utils/broadcasting.py
  src/bindings/python/src/compatibility/ngraph/utils/input_validation.py
  src/bindings/python/src/compatibility/ngraph/utils/node_factory.py
  src/bindings/python/src/compatibility/ngraph/utils/tensor_iterator_types.py
  src/bindings/python/src/compatibility/ngraph/utils/types.py
  src/bindings/python/src/openvino/_offline_transformations/__init__.py
  src/bindings/python/src/openvino/frontend/__init__.py
  src/bindings/python/src/openvino/frontend/onnx/__init__.py
  src/bindings/python/src/openvino/frontend/paddle/__init__.py
  src/bindings/python/src/openvino/frontend/tensorflow/__init__.py
  src/bindings/python/src/openvino/helpers/packing.py
  src/bindings/python/src/openvino/offline_transformations/__init__.py
  src/bindings/python/src/openvino/preprocess/__init__.py
  src/bindings/python/src/openvino/pyopenvino/__init__.py
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/openvino/runtime/opset1/ops.py
  src/bindings/python/src/openvino/runtime/opset10/ops.py
  src/bindings/python/src/openvino/runtime/opset2/ops.py
  src/bindings/python/src/openvino/runtime/opset3/ops.py
  src/bindings/python/src/openvino/runtime/opset4/ops.py
  src/bindings/python/src/openvino/runtime/opset5/ops.py
  src/bindings/python/src/openvino/runtime/opset6/ops.py
  src/bindings/python/src/openvino/runtime/opset7/ops.py
  src/bindings/python/src/openvino/runtime/opset8/ops.py
  src/bindings/python/src/openvino/runtime/opset9/ops.py
  src/bindings/python/src/openvino/runtime/passes/__init__.py
  src/bindings/python/src/openvino/runtime/passes/graph_rewrite.py
  src/bindings/python/src/openvino/runtime/passes/manager.py
  src/bindings/python/src/openvino/runtime/utils/broadcasting.py
  src/bindings/python/src/openvino/runtime/utils/decorators.py
  src/bindings/python/src/openvino/runtime/utils/types.py
  src/bindings/python/src/openvino/utils.py
Labels: category: Python API

#13433 [GPU] Enable multi-stream without mutex
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_input_reorder.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_optimize_weights.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.hpp
  src/plugins/intel_gpu/tests/test_cases/multiple_streams_gpu_test.cpp
Labels: category: GPU

#12459 [GPU] Add blocked layouts support to normalize operation
  src/plugins/intel_gpu/src/graph/impls/ocl/normalize.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/normalize_gpu_across_spatial_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/normalize_gpu_within_spatial_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/normalize/normalize_kernel_across_spatial_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/normalize/normalize_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/normalize/normalize_kernel_within_spatial_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/normalizel2_gpu_test.cpp
Labels: category: GPU, ExternalPR

#13200 [GPU] Reduce overhead in device_query
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/device_info.hpp
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
Labels: category: GPU

#13683 fuse reorder to next conv
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#13679 [CPU]Decompose Logsoftmax
  src/plugins/intel_cpu/src/ngraph_transformations/convert_logsoftmax.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_logsoftmax.hpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_cpu_specific_opset.hpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/logsoftmax_decompose.cpp
Labels: category: CPU

#13565 [GPU] Update Select Op to use ngraph shape infer
  src/plugins/intel_gpu/include/intel_gpu/primitives/select.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/select.cpp
  src/plugins/intel_gpu/src/graph/include/select_inst.h
  src/plugins/intel_gpu/src/graph/select.cpp
  src/plugins/intel_gpu/src/plugin/ops/select.cpp
  src/plugins/intel_gpu/tests/shape_infer/select_si_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/select.cpp
Labels: category: GPU

#13919 Added doxygen comment for opset10
  src/core/include/openvino/opsets/opset.hpp
Labels: category: docs

#13696 Enable linker warnings as error for Windows
  cmake/developer_package/compile_flags/os_flags.cmake
  src/cmake/openvino.cmake
  src/frontends/tests/frontend/shared/test_builtin_extensions_1/CMakeLists.txt
  src/frontends/tests/frontend/shared/test_builtin_extensions_2/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/CMakeLists.txt
Labels: category: build, platform: win32

#13898 [Snippets] Fixed isSuitableChildForFusingMatMul for dynamic case
  src/plugins/intel_cpu/src/ngraph_transformations/snippets_mark_skipped.cpp
Labels: category: CPU

#13845 [GPU] Fixed bias fusion logic
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#13896 [POT] Add GPU HW config
  tools/pot/openvino/tools/pot/algorithms/quantization/utils.py
  tools/pot/openvino/tools/pot/configs/hardware/gpu.json
Labels: category: POT

#13928 Fix caching tests
  src/tests/functional/inference_engine/caching_test.cpp
Labels: category: IE Tests

#13887 [GPU] Fake alignment for fc kernel for improve dynamic shape perf improvement
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/include/fully_connected_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_type.h
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/fake_alignment/fc_fake_alignment_test.cpp
Labels: category: GPU

#12983 [GPU] Added blocked layouts support for roi_pooling operations
  src/plugins/intel_gpu/src/graph/impls/ocl/roi_pooling.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/roi_pooling.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/roi_pooling_ps_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/roi_pooling_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/roi_pooling/roi_pooling_kernel_ps_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/roi_pooling/roi_pooling_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/roi_pooling_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/deformable_psroi_pooling.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/psroi_pooling.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/roi_pooling.cpp
Labels: category: GPU, ExternalPR

#13911 Compile_tool is excluded from Debian / RPM
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
  cmake/developer_package/target_flags.cmake
  cmake/packaging/common-libraries.cmake
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
Labels: category: packaging

#13765 [POT] Minor changes to integrate AA algorithm into NNCF
  tools/pot/openvino/tools/pot/algorithms/quantization/accuracy_aware_common/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/accuracy_aware_common/utils.py
Labels: category: POT

#13932 [PyOV] Bump version of pytest for compatibility API
  src/bindings/python/src/compatibility/openvino/requirements-dev.txt
Labels: category: Python API

#13929 [PyOV] add function which create unique names for test files
  src/bindings/python/tests/test_graph/test_manager.py
  src/bindings/python/tests/test_runtime/test_function.py
  src/bindings/python/tests/test_transformations/__init__.py
  src/bindings/python/tests/test_transformations/test_graph_rewrite.py
  src/bindings/python/tests/test_transformations/test_manager.py
  src/bindings/python/tests/test_transformations/test_matcher_pass.py
  src/bindings/python/tests/test_transformations/test_model_pass.py
  src/bindings/python/tests/test_transformations/test_offline_api.py
  src/bindings/python/tests/test_transformations/test_pattern_ops.py
  src/bindings/python/tests/test_transformations/test_public_transformations.py
  src/bindings/python/tests/test_utils/test_utils.py
Labels: bug, category: Python API

#13370 [GPU] MulticlassNMS
  src/common/transformations/src/transformations/op_conversions/convert_multiclass_nms_to_multiclass_nms_ie.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/multiclass_nms.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/multiclass_nms.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/include/multiclass_nms_inst.h
  src/plugins/intel_gpu/src/graph/multiclass_nms.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/multiclass_nms_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/multiclass_nms/multiclass_nms_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/multiclass_nms/multiclass_nms_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/multiclass_nms/multiclass_nms_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/multiclass_nms/multiclass_nms_kernel_selector.h
  src/plugins/intel_gpu/src/plugin/ops/multiclass_nms.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/test_cases/multiclass_nms_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/multiclass_nms.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/multiclass_nms.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/multiclass_nms.hpp
  src/tests/functional/shared_test_classes/src/single_layer/multiclass_nms.cpp
Labels: category: GPU, ExternalPR

#13902 [PyOV] Fix finding libs on windows
  src/bindings/python/src/openvino/utils.py
Labels: bug, category: Python API

#12981 [CPU][LPT] Support quantized RNN (LSTM and GRU algorithms)
  src/common/low_precision_transformations/include/low_precision/recurrent_cell.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/skip_cleanup_attribute.hpp
  src/common/low_precision_transformations/src/fuse_convert.cpp
  src/common/low_precision_transformations/src/fuse_multiply_to_fake_quantize.cpp
  src/common/low_precision_transformations/src/fuse_subtract_to_fake_quantize.cpp
  src/common/low_precision_transformations/src/low_precision.cpp
  src/common/low_precision_transformations/src/markup_precisions.cpp
  src/common/low_precision_transformations/src/recurrent_cell.cpp
  src/common/low_precision_transformations/src/rt_info/skip_cleanup_attribute.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_fq_rnn_to_quantized_rnn.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_fq_rnn_to_quantized_rnn.hpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/src/nodes/rnn.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/tests/functional/inference_engine/lp_transformations/recurrent_cell_transformation.cpp
  src/tests/functional/plugin/cpu/shared_tests_instances/low_precision_transformations/recurrent_cell_transformation.cpp
  src/tests/functional/plugin/cpu/subgraph_tests/src/convert_fq_rnn_to_quantized_rnn.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/recurrent_cell_transformation.cpp
  src/tests/functional/plugin/shared/include/low_precision_transformations/recurrent_cell_transformation.hpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/recurrent_cell_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/recurrent_cell_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/recurrent_cell_function.cpp
Labels: category: CPU

#13874 [GPU] Added Pad/Interpolate dynamic support and MVN dynamic tests
  src/plugins/intel_gpu/include/intel_gpu/primitives/resample.hpp
  src/plugins/intel_gpu/src/graph/border.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/resample.cpp
  src/plugins/intel_gpu/src/graph/resample.cpp
  src/plugins/intel_gpu/src/plugin/ops/interpolate.cpp
  src/plugins/intel_gpu/src/plugin/ops/pad.cpp
  src/plugins/intel_gpu/tests/shape_infer/interpolate_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/resample_gpu_test.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/interpolate.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/mvn.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/pad.cpp
Labels: category: GPU

#12474 [GPU] gemm blocked format support
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/gemm_gpu_test.cpp
Labels: category: GPU, ExternalPR, do not merge, under_perf_check

#13840 [GPU][DG2] Fix a bug of reorder input
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
Labels: category: GPU

#12126 [GPU] Blocked layouts support for ExperimentalDetectronGenerateProposalsSingleImage
  src/plugins/intel_gpu/src/graph/experimental_detectron_generate_proposal_single_image.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/experimental_detectron_generate_proposals_single_image.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/experimental_detectron_generate_proposals_single_image_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/ed_gpsi/generate_proposals_single_image_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/experimental_detectron_generate_proposals_single_image_gpu_test.cpp
Labels: category: GPU, ExternalPR

#13764 [GPU] Eltwise adjusted LWS for batch-blocked format
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_base.cpp
Labels: category: GPU, ExternalPR

#13869 [POT] BC update for transformers
  tools/pot/openvino/tools/pot/algorithms/quantization/bias_correction/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/fast_bias_correction/algorithm.py
  tools/pot/openvino/tools/pot/graph/node_utils.py
  tools/pot/tests/data/models/transformer_example/transformer_example.json
  tools/pot/tests/data/models/transformer_example/transformer_example.onnx
  tools/pot/tests/data/reference_biases/transformer_example_fbc.json
  tools/pot/tests/data/reference_biases/transformer_example_hbc.json
  tools/pot/tests/test_config.py
  tools/pot/tests/test_model_params.py
  tools/pot/tests/test_scales.py
  tools/pot/tests/test_statistics_collector.py
  tools/pot/tests/test_telemetry.py
  tools/pot/tests/test_unify_scales.py
  tools/pot/tests/utils/data_helper.py
Labels: category: POT

#13948 [PyOV] Fix typo in filename generator
  src/bindings/python/tests/test_utils/test_utils.py
Labels: bug, category: Python API

#13019 Yi3/fix perf wenet
  src/inference/include/ie/ie_parallel.hpp
  src/plugins/intel_cpu/src/nodes/concat.cpp
  src/plugins/intel_cpu/src/nodes/concat.h
Labels: category: CPU

#13894 Review opset1 variadic split for shape inference aspects
  src/core/include/openvino/op/variadic_split.hpp
  src/core/shape_inference/include/variadic_split_shape_inference.hpp
  src/core/src/op/variadic_split.cpp
  src/core/src/validation_util.cpp
  src/core/tests/type_prop/split.cpp
  src/core/tests/type_prop/squeeze.cpp
  src/core/tests/type_prop/unsqueeze.cpp
  src/core/tests/type_prop/variadic_split.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/variadic_split_shape_inference_tests.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/variadic_split_tests.cpp
  src/tests/util/type_prop.hpp
Labels: category: Core, category: IE Tests

#13916 Fix copying of tensor names in OVTF TransposeSinking transformation
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/pass/transpose_sinking.cpp
  src/frontends/tensorflow/tests/transpose_sinking.cpp
Labels: bug

#12776 [POT] Enable quantization inside subgraphs for CPU
  tools/pot/docs/DefaultQuantizationUsage.md
  tools/pot/openvino/tools/pot/algorithms/quantization/bias_correction/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize.py
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize_configuration.py
  tools/pot/openvino/tools/pot/algorithms/quantization/fast_bias_correction/algorithm.py
  tools/pot/openvino/tools/pot/api/README.md
  tools/pot/openvino/tools/pot/api/samples/README.md
  tools/pot/openvino/tools/pot/api/samples/face_detection/face_detection_sample.py
  tools/pot/openvino/tools/pot/configs/hardware/cpu.json
  tools/pot/openvino/tools/pot/configs/hardware/gpu.json
  tools/pot/openvino/tools/pot/configs/hardware/vpu.json
  tools/pot/openvino/tools/pot/engines/ac_engine.py
  tools/pot/openvino/tools/pot/engines/ie_engine.py
  tools/pot/openvino/tools/pot/engines/utils.py
  tools/pot/openvino/tools/pot/graph/builder.py
  tools/pot/openvino/tools/pot/graph/editor.py
  tools/pot/openvino/tools/pot/graph/graph_utils.py
  tools/pot/openvino/tools/pot/graph/model_utils.py
  tools/pot/openvino/tools/pot/graph/node_utils.py
  tools/pot/openvino/tools/pot/graph/passes.py
  tools/pot/openvino/tools/pot/graph/special_operations.py
  tools/pot/openvino/tools/pot/graph/transformer.py
  tools/pot/openvino/tools/pot/statistics/functions/activations.py
  tools/pot/openvino/tools/pot/statistics/statistic_graph_builder.py
  tools/pot/tests/data/hardware_configs/reference/cpu_flatten.json
  tools/pot/tests/data/hardware_configs/reference/template_flatten.json
  tools/pot/tests/data/models/ti_decomposition_example/ti_decomposition_example.json
  tools/pot/tests/data/reference_models/gru_example_pytorch.xml
  tools/pot/tests/data/reference_models/lstm_example_pytorch.xml
  tools/pot/tests/data/reference_models/tensor_iterator_example_tf.xml
  tools/pot/tests/data/reference_models/ti_decomposition_example_tf.xml
  tools/pot/tests/test_graph.py
Labels: category: POT

#13947 [PyOV] Bump pygments version
  src/bindings/python/requirements_test.txt
  src/bindings/python/src/compatibility/openvino/requirements_dev.txt
Labels: category: Python API

#13595 Added i686 arch support for python wheels
  .ci/azure/linux_arm64.yml
  thirdparty/protobuf/CMakeLists.txt
Labels: category: build

#13955 Port cc 10126
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#13915 [GPU] Fixed device name in query network result
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
Labels: category: GPU

#13939 [GPU] Added fp precision support check and fallback to f32 if needed
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU

#13951 [GPU] PReLU broadcast 1d slope case fix
  src/plugins/intel_gpu/src/graph/activation.cpp
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/activation.cpp
  tests/layer_tests/onnx_tests/test_prelu.py
Labels: category: GPU

#13839 update GPU config with info about install_NEO_OCL_driver.sh
  docs/install_guides/configurations-for-intel-gpu.md
Labels: category: docs

#13942 Adjusted dependencies
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/extra_modules.cmake
  cmake/packaging/common-libraries.cmake
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  cmake/templates/OpenVINODeveloperPackageConfig.cmake.in
  samples/cpp/CMakeLists.txt
  samples/cpp/benchmark_app/CMakeLists.txt
  samples/cpp/speech_sample/CMakeLists.txt
  src/tests_deprecated/functional/shared_tests/io_blob_tests/cropResize_tests.hpp
  src/tests_deprecated/functional/vpu/common/myriad_hw_tests_base.hpp
  thirdparty/CMakeLists.txt
Labels: category: packaging

#13952 [PyOV] Fix compatibility if-ops test
  src/bindings/python/tests/test_runtime/test_compiled_model.py
  src/bindings/python/tests/test_runtime/test_core.py
  src/bindings/python/tests/test_runtime/test_function.py
  src/bindings/python/tests/test_runtime/test_infer_request.py
  src/bindings/python/tests/test_runtime/test_tensor.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_inference_engine/test_Blob.py
  src/bindings/python/tests_compatibility/test_inference_engine/test_ExecutableNetwork.py
  src/bindings/python/tests_compatibility/test_inference_engine/test_InferRequest.py
  src/bindings/python/tests_compatibility/test_ngraph/test_if.py
  src/bindings/python/tests_compatibility/test_utils/test_utils.py
Labels: bug, category: Python API

#13979 Fixed Android build
  src/core/include/openvino/op/constant.hpp
Labels: bug, category: build

#12814 [BENCHMARK_APP/PYTHON/CPP] Align benchmark_app output across languages
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/infer_request_wrap.hpp
  samples/cpp/benchmark_app/inputs_filling.cpp
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/benchmark_app/progress_bar.hpp
  samples/cpp/benchmark_app/statistics_report.cpp
  samples/cpp/benchmark_app/utils.cpp
  samples/cpp/benchmark_app/utils.hpp
  samples/cpp/common/utils/include/samples/args_helper.hpp
  samples/cpp/common/utils/include/samples/common.hpp
  src/bindings/python/src/pyopenvino/core/version.cpp
  tools/benchmark_tool/README.md
  tools/benchmark_tool/openvino/tools/benchmark/benchmark.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: bug, enhancement, category: samples

#13973 [MyriadX][CVS-89635] - ovtf data->_producerEdge != nullptr - fix
  src/common/legacy/src/graph_transformer.cpp
  src/tests_deprecated/unit/inference_engine_tests/util_const_infer_test.cpp
Labels: category: VPU

#13978 [GPU][DG2] Skip/Disable some tests in Conv/Deconv
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/deconvolution_fusion_test.cpp
Labels: category: GPU

#13994 [ONNX] ConstantOfShape with empty tensor input
  src/frontends/onnx/frontend/src/op/constant_of_shape.cpp
  src/frontends/onnx/tests/models/constant_of_shape_empty_init.prototxt
  src/frontends/onnx/tests/models/constant_of_shape_null_node.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Labels: ONNX, category: ONNX FE

#13787 [CONFORMANCE] FIX OpImplCheck
  src/core/src/op/unique.cpp
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/single_op_graph.cpp
Labels: bug, conformance

#13628 [GPU] Added network input shape to perf data
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/profiling.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#13684 Test Runner: added separation of tests
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/include/conformance.hpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/read_ir_test/read_ir.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir_compare_with_refs.cpp
Labels: conformance

#13859 [Snippets] BF16 support enabled
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/plugin.cpp
Labels: category: CPU

#13900 [GPU] Allow devices which don't support OOO queue
  docs/snippets/gpu/context_sharing_va.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_command_queues_builder.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.hpp
Labels: category: GPU

#13983 Fixed compilation with gcc-12
  cmake/developer_package/target_flags.cmake
  src/common/preprocessing/CMakeLists.txt
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: build, category: packaging

#13905 [GNA] race around GNA memory queues' destruction removed
  src/plugins/intel_gna/src/gna_device.cpp
  src/plugins/intel_gna/src/gna_device.hpp
  src/plugins/intel_gna/src/gna_device_interface.hpp
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/gna_plugin.hpp
  src/plugins/intel_gna/src/memory/gna_allocator.hpp
Labels: category: GNA

#14005 Fix DynamicStitch tests
  tests/layer_tests/tensorflow_tests/test_tf_ParallelDynamicStitch.py
Labels: bug

#13982 Compilation error fix
  src/plugins/intel_cpu/CMakeLists.txt
Labels: category: CPU

#13661 [GPU] Infra for shape agnostic kernels
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_gpu/include/intel_gpu/primitives/implementation_desc.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/kernel_args.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/impls/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/permute.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/roi_pooling.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_type.h
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/permute_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/jitter.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_base_opencl.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_base_opencl.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.h
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/tests/test_cases/permute_gpu_test.cpp
Labels: category: GPU

#13996 [GPU] Fix memory realloc for fake alignment
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/passes/prepare_primitive_fusing_test.cpp
  src/plugins/intel_gpu/tests/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#13779 Unbrick TF FE
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  cmake/packaging/common-libraries.cmake
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/bindings/python/wheel/setup.py
  src/frontends/tensorflow/src/CMakeLists.txt
  src/frontends/tensorflow/tests/CMakeLists.txt
Labels: category: dependency_changes, category: TF FE, category: packaging

#13933 [GPU] Enable the functional issued models
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/src/graph/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/fetch_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.h
  src/plugins/intel_gpu/src/plugin/transformations/convert_pooling_to_reduce.cpp
  src/plugins/intel_gpu/src/runtime/format.cpp
Labels: category: GPU

#14015 [CONFORMANCE] Fix filters for Opset10
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/filters.js
Labels: conformance

#14011 [CONFORMANCE] Improve Conformance IR hash algorythm
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/rename_conformance_ir.py
Labels: conformance

#12009 Paddle_OP_Not_euqal
  src/frontends/paddle/src/op/elementwise_ops.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_not_equal.py
Labels: ExternalPR, category: PDPD FE

#14010 [PyOV] Align `pyyaml` version with the rest of the project
  tests/memory_tests/test_runner/requirements.txt
  tests/time_tests/scripts/requirements.txt
  tests/time_tests/test_runner/requirements.txt
Labels: category: Python API

#14018 Fix finding onetbb lib on windows
  cmake/dependencies.cmake
  scripts/setupvars/setupvars.bat
  src/cmake/install_tbb.cmake
Labels: bug

#14020 [GPU] updated memory accessor
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#14038 Tuned wheels build
  src/bindings/python/CMakeLists.txt
  src/bindings/python/wheel/CMakeLists.txt
  tools/openvino_dev/CMakeLists.txt
Labels: category: packaging

#13486 [CPU] enable dlrm fq fusing
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_interaction.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_interaction.hpp
  src/plugins/intel_cpu/src/ngraph_transformations/mha_fusion.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/op/interaction.hpp
  src/plugins/intel_cpu/src/ngraph_transformations/simplify_fakequantize.hpp
  src/plugins/intel_cpu/src/nodes/interaction.cpp
  src/plugins/intel_cpu/src/nodes/interaction.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/interaction.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/interaction.cpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/convert_to_interaction.cpp
Labels: category: CPU

#13659 Restore quantized Group Convolution weights
  tools/mo/openvino/tools/mo/back/ConvolutionNormalizer.py
  tools/mo/openvino/tools/mo/back/ShapeOfConstFolding.py
Labels: bug, category: MO

#14033 Removed PKGCONFIG_OpenVINO_REQUIRES_PRIVATE
  cmake/templates/openvino.pc.in
  src/cmake/openvino.cmake
Labels: category: build, category: packaging

#13268 MVN nspc kernel optimization
  src/plugins/intel_cpu/src/nodes/mvn.cpp
  src/plugins/intel_cpu/src/nodes/mvn.h
  src/plugins/intel_cpu/tests/functional/single_layer_tests/mvn.cpp
Labels: category: CPU

#14040 Fixed post-commit on MacOS
  src/common/preprocessing/CMakeLists.txt
  src/plugins/intel_cpu/src/nodes/conv.cpp
Labels: category: build, platform: macOS

#14042 [POT] Keep original out names in statistics collection
  tools/pot/openvino/tools/pot/graph/graph_utils.py
  tools/pot/tests/utils/check_graph.py
Labels: category: POT

#14037 [GPU] Fix cl kernel hang issue at depthwise convolution
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_f16_depthwise.cl
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#14008 [C API][DOC][PPP] Extend user documentation for new preproprocess api
  docs/snippets/ov_preprocessing_migration.c
  src/bindings/c/include/openvino/c/ov_prepostprocess.h
Labels: category: docs

#14075 Check debian packages build
  tools/openvino_dev/CMakeLists.txt
Labels: category: packaging

#13697 [GPU] Move device memory allocation from preprocessing stage to runtime for usm memory type
  src/plugins/intel_gpu/include/intel_gpu/plugin/infer_request.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/engine.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.hpp
  src/tests/functional/plugin/gpu/concurrency/gpu_concurrency_tests.cpp
  src/tests/ie_test_utils/common_test_utils/data_utils.hpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
Labels: category: GPU

#13977 [GPU] Modify perferred format of Blocked axis reduction
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#14077 [CONFORMANCE] Fix Conformance runner -> Call Serialize
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
Labels: conformance

#13749 [API CONFORMANCE] Remove skips for ov_plugin
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/caching_tests.cpp
Labels: conformance

#14098 [Docs][PyOV] Remove obsolete documentation file
  src/bindings/python/docs/api_overview.md
Labels: category: Python API, category: docs

#14089 Updated copyright files for debian
  cmake/packaging/copyrights/arm_cpu
  cmake/packaging/copyrights/core
  cmake/packaging/copyrights/core_dev
  cmake/packaging/copyrights/generic
  cmake/packaging/copyrights/gna
  cmake/packaging/copyrights/gpu
  cmake/packaging/copyrights/hetero
  cmake/packaging/copyrights/intel_cpu
  cmake/packaging/copyrights/ir
  cmake/packaging/copyrights/onnx
  cmake/packaging/copyrights/paddle
  cmake/packaging/copyrights/python
  cmake/packaging/copyrights/samples
  cmake/packaging/copyrights/tensorflow
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
Labels: category: packaging

#14036 [Unique-10] Add Unique op to PythonAPI
  src/bindings/python/src/compatibility/ngraph/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset10/__init__.py
  src/bindings/python/src/compatibility/ngraph/opset10/ops.py
  src/bindings/python/src/openvino/runtime/opset10/__init__.py
  src/bindings/python/src/openvino/runtime/opset10/ops.py
  src/bindings/python/tests/test_graph/test_create_op.py
  src/bindings/python/tests_compatibility/test_ngraph/test_create_op.py
Labels: category: Python API

#13633 Pass MO meta data to RT info
  tools/mo/openvino/tools/mo/back/ie_ir_ver_2/emitter.py
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/main.py
  tools/mo/openvino/tools/mo/moc_frontend/serialize.py
  tools/mo/openvino/tools/mo/utils/cli_parser.py
  tools/mo/openvino/tools/mo/utils/ir_engine/ir_engine.py
  tools/mo/unit_tests/mo/convert/meta_data_test.py
Labels: category: MO

#14083 Removed duplicated pdpd test requirement
  .ci/azure/windows.yml
  src/core/tests/frontend/paddle/requirements_dev.txt
Labels: category: IE Tests

#14097 Avoid gold linker usage in case of cross-compilation
  cmake/developer_package/compile_flags/os_flags.cmake
  src/core/tests/CMakeLists.txt
  src/frontends/onnx/tests/CMakeLists.txt
  src/tests_deprecated/unit/CMakeLists.txt
Labels: category: build

#14054 Limit the scope of hybrid_aware throughput setting
  src/inference/src/threading/ie_cpu_streams_executor.cpp
  src/inference/src/threading/ie_istreams_executor.cpp
  src/plugins/intel_cpu/src/plugin.cpp
Labels: category: CPU

#13407 set cpu affinity to numa in MULTI situation
  src/inference/dev_api/cpp_interfaces/interface/ie_internal_plugin_config.hpp
  src/inference/dev_api/threading/ie_istreams_executor.hpp
  src/inference/src/threading/ie_istreams_executor.cpp
  src/plugins/auto/auto_schedule.cpp
  src/plugins/auto/plugin.cpp
  src/plugins/intel_cpu/src/plugin.cpp
Labels: category: CPU, category: MULTI

#14071 [POT] Added GNA3.5 to the POT's devices list
  src/common/offline_transformations/src/pot_transformations.cpp
  tools/pot/openvino/tools/pot/graph/graph_utils.py
Labels: category: POT

#13148 [Core/CC]Verify add_matcher scope for Conditinal Compilation.
  src/common/conditional_compilation/include/openvino/cc/pass/itt.hpp
  src/common/low_precision_transformations/src/low_precision.cpp
  src/common/transformations/include/transformations/common_optimizations/strides_optimization.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/common_optimizations/concat_reduce_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/convert_compression_only_to_legacy.cpp
  src/common/transformations/src/transformations/common_optimizations/convert_nms_gather_path_to_unsigned.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_legacy_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/src/transformations/common_optimizations/optimize_strided_slice.cpp
  src/common/transformations/src/transformations/common_optimizations/remove_filtering_boxes_by_size.cpp
  src/common/transformations/src/transformations/common_optimizations/ric_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/simplify_shape_of_sub_graph.cpp
  src/common/transformations/src/transformations/common_optimizations/strides_optimization.cpp
  src/inference/src/cnn_network_ngraph_impl.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/rnn_sequences_optimization.cpp
  src/plugins/template/src/transformations/template_pattern_transformation.cpp
Labels: category: build

#14019 [GPU] avoid to fuse reorder if the reorder could be fused.
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/passes/test_module_fusing_reorder.cpp
Labels: category: GPU

#12822 [CPU][Paddle] support paddle reverse op mapping and unittest
  src/frontends/paddle/src/op/reverse.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_reverse.py
Labels: category: PDPD FE

#14052 [C Sample][Readme] correct C sample read me
  samples/c/hello_classification/README.md
  samples/c/hello_nv12_input_classification/README.md
Labels: category: C API

#14067 [CPU] MergeTransposeAndReorder incorrectly removed const
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/include/fuse_transpose_reorder.hpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/fuse_transpose_reorder.cpp
Labels: category: CPU

#14076 Fixed manylinux2014 with system TBB
  install_build_dependencies.sh
  src/cmake/ie_parallel.cmake
  src/cmake/install_tbb.cmake
Labels: category: build, category: packaging

#13715 [CPU] Use brgconv1x1 instead of inner product in some cases
  src/plugins/intel_cpu/src/dnnl_extension_utils.cpp
  src/plugins/intel_cpu/src/dnnl_extension_utils.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/nodes/common/dnnl_executor.cpp
  src/plugins/intel_cpu/src/nodes/common/dnnl_executor.h
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/deconv.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.h
  src/plugins/intel_cpu/src/nodes/reorder.cpp
  src/plugins/intel_cpu/src/nodes/reorder.h
  src/plugins/intel_cpu/src/primitive.cpp
  src/plugins/intel_cpu/src/primitive.h
  src/plugins/intel_cpu/tests/functional/single_layer_tests/matmul.cpp
Labels: category: CPU

#13718 Transpose sinking on passes for Concat, Split and binary eltwise operations
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_binary.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_concat.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_split.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_utils.hpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_binary.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_concat.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_split.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_utils.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/transpose_sinking_binary_test.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/transpose_sinking_concat_test.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/transpose_sinking_split_test.cpp
Labels: category: transformations

#14093 [PyOV] Add README.md and align structure-showing style
  src/bindings/python/README.md
  src/bindings/python/docs/code_examples.md
  src/bindings/python/src/compatibility/openvino/README.md
Labels: category: Python API, category: docs, do not merge

#14112 [CONFORMANCE] Fix API Conformance run according changed functions
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/read_ir/read_ir_query_model.cpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/include/conformance.hpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir_compare_with_refs.cpp
  src/tests/functional/shared_test_classes/src/base/utils/generate_inputs.cpp
Labels: conformance

#14126 Fixed manylinux2014 with system TBB
  install_build_dependencies.sh
  src/cmake/ie_parallel.cmake
  src/cmake/install_tbb.cmake
Labels: category: packaging

#14118 [Unique-10] Restore and align tests for Unique PythonAPI
  src/bindings/python/tests/test_graph/test_create_op.py
  src/bindings/python/tests_compatibility/test_ngraph/test_create_op.py
Labels: category: Python API

#13976 [GPU] Prevent that tanh is fused
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU
