Repository openvinotoolkit/openvino, pull requests merged in 2022-04, with the labels that each got.

#11284 Bell/shape auto
  src/plugins/auto/plugin.cpp
Labels: category: MULTI

#11370 Add constant folding to hetero to avoid dynamism on GPU (#10572
  src/plugins/hetero/executable_network.cpp
Labels: category: IE common, category: CI

#11390 Added clone method for ov::Model
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/core/include/openvino/core/model.hpp
  src/core/src/model.cpp
  src/core/tests/model.cpp
Labels: category: python api, category: nGraph

#11177 [DOCS]-continue_language_review-transitionguide-port
  docs/OV_Runtime_UG/migration_ov_2_0/common_inference_pipeline.md
  docs/OV_Runtime_UG/migration_ov_2_0/configure_devices.md
  docs/OV_Runtime_UG/migration_ov_2_0/deployment_migration.md
  docs/OV_Runtime_UG/migration_ov_2_0/graph_construction.md
  docs/OV_Runtime_UG/migration_ov_2_0/preprocessing.md
Labels: category: IE common

#11131 [PYTHON API] Tensor.data property for low precisions + packing
  docs/OV_Runtime_UG/Python_API_exclusives.md
  docs/snippets/ov_python_exclusives.py
  src/bindings/python/src/openvino/helpers/__init__.py
  src/bindings/python/src/openvino/helpers/packing.py
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/common.hpp
  src/bindings/python/src/pyopenvino/core/tensor.cpp
  src/bindings/python/src/pyopenvino/graph/types/element_type.cpp
  src/bindings/python/tests/test_inference_engine/test_infer_request.py
  src/bindings/python/tests/test_inference_engine/test_tensor.py
Labels: category: python api

#11377 Azure CI: Disable CUDA plugin build
  .ci/azure/linux.yml
  .ci/azure/windows.yml
Labels: category: CI

#11388 Feature/azaytsev/doc fixes 2022 1 1
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_Model_Optimizer_with_Caffe_Python_Layers.md
  docs/OV_Runtime_UG/Operations_specifications.md
  docs/OV_Runtime_UG/ShapeInference.md
  docs/OV_Runtime_UG/img/LATENCY_VS_THROUGHPUT.svg
  docs/OV_Runtime_UG/preprocessing_overview.md
  docs/ops/condition/If_8.md
  docs/ops/convolution/DeformableConvolution_8.md
  docs/ops/generation/RandomUniform_8.md
  docs/ops/movement/Gather_8.md
  docs/ops/movement/Slice_8.md
  docs/ops/pooling/AdaptiveAvgPool_8.md
  docs/ops/pooling/AdaptiveMaxPool_8.md
  docs/ops/pooling/MaxPool_8.md
  docs/ops/reduction/ReduceL1_4.md
  docs/ops/reduction/ReduceL2_4.md
  docs/ops/sort/MatrixNMS_8.md
  docs/ops/sort/MulticlassNMS_8.md
Labels: category: docs

#11099 Correct the order of passing arguments to the InputGenerateData constructor (Fix Round, Ceiling Conformance tests for Template plugin)
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/utils/ranges.hpp
  src/tests/functional/shared_test_classes/src/base/utils/generate_inputs.cpp
Labels: category: IE Tests

#11333 [GNA] Add GRUCell/GRUSequence/LSTMSequence support
  src/plugins/intel_gna/gna_plugin.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/gru_cell.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/lstm_sequence.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/gru_sequence.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/lstm_sequence.hpp
Labels: category: IE Tests, category: GNA

#11029 Fix Bucketize Conformance tests for Template plugin
  src/tests/functional/shared_test_classes/src/base/utils/generate_inputs.cpp
Labels: category: IE Tests

#11384 Fix for warnings spotted by clang compiler
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/module_tests/test_module_fusing_reorder.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests_deprecated/functional/vpu/common/layers/myriad_layers_convolution_test.cpp
  src/tests_deprecated/functional/vpu/common/layers/myriad_layers_detection_output_test.cpp
  src/tests_deprecated/functional/vpu/common/layers/myriad_layers_eltwise_test.hpp
  src/tests_deprecated/functional/vpu/common/layers/myriad_layers_exp_detectionoutput_test.hpp
  src/tests_deprecated/functional/vpu/common/layers/myriad_layers_exp_generateproposals_test.hpp
  src/tests_deprecated/functional/vpu/common/layers/myriad_layers_exp_topkrois_test.hpp
  src/tests_deprecated/functional/vpu/common/layers/myriad_layers_nonzero_test.hpp
  src/tests_deprecated/functional/vpu/vpu_base/vpu_layer_tests_utils.cpp
Labels: category: IE Tests, category: GPU

#11396 Change product version to 2021.4.3
  inference-engine/include/ie_version.hpp
Labels: category: IE common

#11391 [Transformation] MarkPrecisionSensitiveDivides extending to mark fp32 divides
  src/common/transformations/src/transformations/common_optimizations/mark_precision_sensitive_divides.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/convert_divide.cpp
Labels: category: IE common, category: IE Tests, category: IE transformations, category: nGraph

#11386 Disabled TBBBind usage for oneTBB
  cmake/dependencies.cmake
  src/cmake/install_tbb.cmake
Labels: category: IE common

#11407 Cherry-pick Feature/azaytsev/doc fixes 2022 1 1 (#11388)
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_Model_Optimizer_with_Caffe_Python_Layers.md
  docs/OV_Runtime_UG/Operations_specifications.md
  docs/OV_Runtime_UG/ShapeInference.md
  docs/OV_Runtime_UG/img/LATENCY_VS_THROUGHPUT.svg
  docs/OV_Runtime_UG/preprocessing_overview.md
  docs/ops/condition/If_8.md
  docs/ops/convolution/DeformableConvolution_8.md
  docs/ops/generation/RandomUniform_8.md
  docs/ops/movement/Gather_8.md
  docs/ops/movement/Slice_8.md
  docs/ops/pooling/AdaptiveAvgPool_8.md
  docs/ops/pooling/AdaptiveMaxPool_8.md
  docs/ops/pooling/MaxPool_8.md
  docs/ops/reduction/ReduceL1_4.md
  docs/ops/reduction/ReduceL2_4.md
  docs/ops/sort/MatrixNMS_8.md
  docs/ops/sort/MulticlassNMS_8.md
Labels: category: docs

#11410 [CPU] [DEBUG CAPS] Revert DNNL_VERBOSE
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
Labels: category: CPU

#11399 Enable MO unit-tests but bom tests
  .ci/azure/linux.yml
  tools/mo/unit_tests/mo/bom_test.py
Labels: category: MO, category: CI

#10956 [GPU] Klockwork issue 57997 fix
  src/plugins/intel_gpu/src/kernel_selector/core/common/kernel_selector_utils.cpp
Labels: category: GPU

#11411 Tbb 2018 and older usage
  cmake/dependencies.cmake
  cmake/developer_package/TBBConfig.cmake
  src/cmake/ie_parallel.cmake
  src/cmake/install_tbb.cmake
  src/inference/src/threading/ie_tbb_streams_executor.cpp
Labels: category: IE common, category: build

#11409 Don't use template plugin unconditionally
  src/core/tests/CMakeLists.txt
Labels: category: IE Tests, category: TEMPLATE, category: nGraph

#11330 [LPT] Introduce new granularity attribute instead of OperationPerTensorQuantizationRestriction
  docs/IE_PLUGIN_DG/layout.xml
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/attributes/per_tensor_quantization.md
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/attributes/quantization_granularity.md
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/lpt_attributes.md
  docs/snippets/lpt_intel_cpu_plugin.cpp
  src/common/low_precision_transformations/include/low_precision/common/operation_per_tensor_quantization_restriction.hpp
  src/common/low_precision_transformations/include/low_precision/common/port_quantization_granularity_restriction.hpp
  src/common/low_precision_transformations/include/low_precision/common/precisions_restriction.hpp
  src/common/low_precision_transformations/include/low_precision/common/quantization_granularity_restriction.hpp
  src/common/low_precision_transformations/include/low_precision/low_precision.hpp
  src/common/low_precision_transformations/include/low_precision/markup_precisions.hpp
  src/common/low_precision_transformations/include/low_precision/markup_quantization_granularity.hpp
  src/common/low_precision_transformations/include/low_precision/multiply_to_group_convolution.hpp
  src/common/low_precision_transformations/include/low_precision/network_helper.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/avg_pool_precision_preserved_attribute.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/per_tensor_quantization_attribute.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/quantization_granularity_attribute.hpp
  src/common/low_precision_transformations/include/low_precision/update_shared_precision_preserved.hpp
  src/common/low_precision_transformations/src/align_quantization_parameters.cpp
  src/common/low_precision_transformations/src/low_precision.cpp
  src/common/low_precision_transformations/src/markup_precisions.cpp
  src/common/low_precision_transformations/src/markup_quantization_granularity.cpp
  src/common/low_precision_transformations/src/multiply_to_group_convolution.cpp
  src/common/low_precision_transformations/src/rt_info/avg_pool_precision_preserved_attribute.cpp
  src/common/low_precision_transformations/src/rt_info/per_tensor_quantization_attribute.cpp
  src/common/low_precision_transformations/src/rt_info/quantization_granularity_attribute.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/tests/functional/inference_engine/lp_transformations/align_concat_quantization_parameters_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_selection_with_intermediate_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_different_precision_on_children.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_intermediate_precision_selection_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_intermediate_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_intermediate_with_constant_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_neighbors_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_neighbors_transformation_with_convolution.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_not_quantized_parent_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_split_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/concat_with_strided_slice_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/fake_quantize_precision_selection_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/fake_quantize_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/fake_quantize_with_dq_not_optimal_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/markup_avg_pool_precisions_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/move_fake_quantize_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/multiply_to_group_convolution_transformation.cpp
  src/tests/functional/inference_engine/lp_transformations/quantization_granularity_restriction_test.cpp
  src/tests/functional/inference_engine/lp_transformations/simple_low_precision_transformer.cpp
  src/tests/functional/inference_engine/lp_transformations/simple_low_precision_transformer.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/convolution_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/convolution_function.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: LP transformations

#11415 Tbb: download only if system libraries are not found
  cmake/dependencies.cmake
  cmake/features.cmake
  src/cmake/ie_parallel.cmake
  src/cmake/install_tbb.cmake
  src/plugins/intel_myriad/third_party/XLink/XLink.cmake
Labels: category: IE common, category: build

#11379 [GPU] Align permute axis format with IE
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/permute.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/graph_initializations.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/permute.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/permute.cpp
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/plugins/intel_gpu/src/plugin/ops/transpose.cpp
  src/plugins/intel_gpu/tests/fusions/loop_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/permute_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/depth_to_space_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/permute_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/test_device_mem_usage_estimation.cpp
Labels: category: GPU

#11118 [CPU] Extract weight cache to executable network
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/exec_network.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/plugin.h
  src/tests/functional/plugin/cpu/subgraph_tests/src/memory_sharing_test.cpp
Labels: bug, category: IE Tests, category: CPU

#11171 [DOCS] polish autodevice article
  docs/OV_Runtime_UG/auto_device_selection.md
Labels: port to master

#11424 [MO] Support TensorFlow Grouped Conv2DBackpropInput
  model-optimizer/extensions/front/tf/deconv_ext.py
  model-optimizer/mo/ops/deconvolution.py
  model-optimizer/unit_tests/mo/ops/deconvolution_test.py
Labels: category: MO

#11012 [Python Speech Sample] Change argument format
  samples/python/speech_sample/arg_parser.py
  samples/python/speech_sample/speech_sample.py
  samples/python/speech_sample/utils.py
Labels: category: samples

#11380 [LPT] Introduce new quantization mode attribute
  src/common/low_precision_transformations/include/low_precision/rt_info/quantization_mode_attribute.hpp
  src/common/low_precision_transformations/src/rt_info/quantization_mode_attribute.cpp
Labels: category: LP transformations

#11269 Enable FQ fusions in MOC
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
Labels: category: IE common

#11364 [GNA] Updated GNA library to 1455 version
  inference-engine/cmake/dependencies.cmake
Labels: category: IE common

#11326 [GNA] Fixed cascade concats binding
  src/plugins/intel_gna/gna_graph_compiler.cpp
  src/tests/functional/plugin/gna/shared_tests_instances/subgraph_tests/cascade_concat.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/cascade_concat.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/cascade_concat.hpp
  src/tests/functional/shared_test_classes/src/subgraph/cascade_concat.cpp
Labels: category: IE Tests, category: GNA

#10878 [benchmark_app] -l option is replaced with -extensions
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
Labels: category: samples

#11304 [GPU] Fix allocation for cached USM remote blobs
  src/plugins/intel_gpu/include/intel_gpu/plugin/remote_context.hpp
  src/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
Labels: category: IE Tests, category: GPU

#11426 Enabled LTO for static CPU
  src/plugins/intel_cpu/CMakeLists.txt
Labels: category: CPU

#10905 added recursive run for transformation to fix fp16 IR with Interpolate inside If/Loop/TI
  src/common/transformations/src/transformations/common_optimizations/mark_precision_sensitive_divides.cpp
  src/common/transformations/src/transformations/common_optimizations/mark_precision_sensitive_subgraphs.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/compress_float_constants_test.cpp
  src/tests/functional/inference_engine/transformations/common_optimizations/convert_divide.cpp
Labels: category: IE common

#11220 [MO] Fix IndexError inside ScatterNDUpdate shape inference function
  tools/mo/openvino/tools/mo/ops/scatternd.py
  tools/mo/unit_tests/mo/ops/scatternd_test.py
Labels: bug, category: MO

#11084 [MO] Support TensorFlow FusedBatchNorm with channel_first data_format
  tools/mo/openvino/tools/mo/front/tf/extractors/fused_bn.py
  tools/mo/openvino/tools/mo/middle/passes/fusing/decomposition.py
  tools/mo/unit_tests/mo/middle/passes/fusing/decomposition_test.py
Labels: bug, category: MO

#11444 Fixed detection of sample type c / cpp
  samples/cpp/build_samples.sh
Labels: category: build, category: samples

#11419 Use system dependencies
  CMakeLists.txt
  cmake/arm.toolchain.cmake
  cmake/arm64.toolchain.cmake
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/plugins/plugins.cmake
  cmake/extra_modules.cmake
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  cmake/templates/OpenVINODeveloperPackageConfig.cmake.in
  docs/snippets/CMakeLists.txt
  install_build_dependencies.sh
  samples/cpp/CMakeLists.txt
  samples/cpp/benchmark_app/CMakeLists.txt
  samples/cpp/common/utils/CMakeLists.txt
  scripts/install_dependencies/install_openvino_dependencies.sh
  src/CMakeLists.txt
  src/bindings/python/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/frontend_module.cmake
  src/bindings/python/wheel/CMakeLists.txt
  src/cmake/openvino.cmake
  src/common/CMakeLists.txt
  src/common/conditional_compilation/CMakeLists.txt
  src/common/itt/CMakeLists.txt
  src/common/legacy/CMakeLists.txt
  src/common/offline_transformations/CMakeLists.txt
  src/common/offline_transformations/include/compress_quantize_weights.hpp
  src/common/offline_transformations/include/extension/json_config.hpp
  src/common/snippets/CMakeLists.txt
  src/common/transformations/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/src/variant.cpp
  src/core/tests/CMakeLists.txt
  src/core/tests/frontend/CMakeLists.txt
  src/core/tests/frontend/paddle/CMakeLists.txt
  src/core/tests/frontend/paddle/standalone_build/CMakeLists.txt
  src/frontends/CMakeLists.txt
  src/frontends/common/CMakeLists.txt
  src/frontends/tensorflow/tests/transpose_sinking.cpp
  src/frontends/tests/CMakeLists.txt
  src/frontends/tests/frontend/shared/CMakeLists.txt
  src/frontends/tests/frontend/shared/src/json_config.cpp
  src/frontends/tests/frontend/shared/test_builtin_extensions_1/CMakeLists.txt
  src/frontends/tests/frontend/shared/test_builtin_extensions_1/test_extension.hpp
  src/frontends/tests/frontend/shared/test_builtin_extensions_2/CMakeLists.txt
  src/frontends/tests/frontend/shared/test_builtin_extensions_2/test_extensions.hpp
  src/inference/CMakeLists.txt
  src/plugins/intel_myriad/myriad_plugin/CMakeLists.txt
  src/tests/functional/plugin/conformance/subgraphs_dumper/CMakeLists.txt
  src/tests/functional/plugin/gpu/CMakeLists.txt
  src/tests/unit/auto/CMakeLists.txt
  src/tests/util/CMakeLists.txt
  src/tests_deprecated/readers/CMakeLists.txt
  src/tests_deprecated/readers/ir_reader_v7/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/cnpy/CMakeLists.txt
  thirdparty/zlib/CMakeLists.txt
  tools/legacy/benchmark_app/CMakeLists.txt
Labels: category: IE common, category: IE Tests, category: build, category: python api, category: samples, category: tools, category: nGraph

#10909 [CPU] Added support of 'Batched' memory type
  src/inference/src/cpp_interfaces/interface/ie_iinfer_request_internal.cpp
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/infer_request.h
  src/tests/functional/plugin/cpu/shared_tests_instances/behavior/ov_infer_request/batched_tensors.cpp
Labels: category: IE Tests, category: CPU

#10826 [RT][VPU]: Fixes for dynamic models
  src/plugins/intel_myriad/common/include/vpu/ngraph/operations/dynamic_shape_resolver.hpp
  src/plugins/intel_myriad/common/src/ngraph/operations/dynamic_shape_resolver.cpp
  src/plugins/intel_myriad/common/src/ngraph/transformations/dynamic_to_static_shape_transpose.cpp
  src/plugins/intel_myriad/common/src/ngraph/transformations/extract_dynamic_batch/extract_dynamic_batch.cpp
  src/plugins/intel_myriad/graph_transformer/src/frontend/frontend.cpp
  src/plugins/intel_myriad/graph_transformer/src/frontend/in_out_convert.cpp
  src/plugins/intel_myriad/myriad_plugin/myriad_executable_network.cpp
  src/tests/functional/plugin/myriad/ngraph/transformations/dynamic_to_static_shape_transpose.cpp
Labels: category: VPU

#10601 [GNA] Deleted duplicated config test
  src/tests_deprecated/unit/engines/gna/configuration_test.cpp
Labels: category: IE Tests, category: GNA

#11405 [IE Samples] Activating new parameter is compact mode(memory_reuse) in speech sample
  samples/cpp/speech_sample/main.cpp
  samples/cpp/speech_sample/speech_sample.hpp
  tests/samples_tests/smoke_tests/test_speech_sample.py
Labels: category: IE Tests, category: samples

#10731 [GNA] Moved PWL functional tests
  src/tests/functional/plugin/gna/shared_tests_instances/single_layer_tests/activation.cpp
  src/tests_deprecated/unit/engines/gna/gna_pwl_test.cpp
Labels: category: IE common, category: IE Tests, category: GNA

#11201 Update readme content
  README.md
  docs/img/openvino-logo-purple-black.png
Labels: category: docs

#11433 [PYTHON] Add method to_dtype() to Type class
  src/bindings/python/src/pyopenvino/graph/types/element_type.cpp
  src/bindings/python/tests/test_transformations/test_public_transformations.py
Labels: category: python api

#11447 Fixed operation names
  docs/OV_Runtime_UG/Operations_specifications.md
  docs/ops/activation/GELU_2.md
  docs/ops/activation/GELU_7.md
  docs/ops/signals/DFT_7.md
Labels: category: docs

#11449 DOCS-transitionguide_name_correction
  docs/OV_Runtime_UG/migration_ov_2_0/intro.md
Labels: ported to master

#10729 Specify NonMaxSuppression-9
  docs/OV_Runtime_UG/Operations_specifications.md
  docs/ops/sort/NonMaxSuppression_9.md
Labels: category: docs

#11389 [PYTHON] Properties API, improvements of OVAny
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/core/compiled_model.cpp
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.hpp
  src/bindings/python/src/pyopenvino/graph/any.cpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/bindings/python/tests/test_inference_engine/test_properties.py
Labels: category: python api

#11416 Reduce conformance execution time
  src/tests/functional/plugin/conformance/test_runner/README.md
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/read_ir/read_ir_query_model.cpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/include/conformance.hpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/include/gflag_config.hpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/main.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir_compare_with_refs.cpp
  src/tests/ie_test_utils/common_test_utils/file_utils.hpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/skip_tests_config.hpp
  src/tests/ie_test_utils/functional_test_utils/src/skip_tests_config.cpp
Labels: category: IE Tests, conformance

#11421 API Conformance refactoring
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/executable_network/exec_graph_info.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/executable_network/exec_network_base.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/executable_network/get_metric.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/executable_network/locale.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/infer_request/callback.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/infer_request/cancellation.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/infer_request/io_blob.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/infer_request/multitheading.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/infer_request/perf_counters.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/infer_request/set_blob_by_type.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/infer_request/wait.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/exec_graph_info.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/exec_network_base.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/get_metric.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/properties.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/callback.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/cancellation.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/infer_request_dynamic.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/inference_chaining.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/io_tensor.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/multithreading.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/perf_counters.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/wait.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_plugin/caching_tests.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_plugin/life_time.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_plugin/properties.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/plugin/caching_tests.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/plugin/configuration_tests.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/plugin/core_integration.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/plugin/core_threading_tests.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/plugin/life_time.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/plugin/set_preprocess.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/plugin/version.cpp
Labels: category: IE Tests, conformance

#11446 Don't install nlohmann_json_schema_validator for samples
  samples/cpp/CMakeLists.txt
  src/bindings/python/CMakeLists.txt
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  thirdparty/CMakeLists.txt
  thirdparty/json/CMakeLists.txt
Labels: category: IE common, category: IE Tests, category: VPU, category: build, category: python api, category: samples, category: tools, category: nGraph

#11475 Azure CI: Set master ref branch
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#11474 Azure CI: Update branch for contrib and testdata repos
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#11473 Azure CI: Update branch for contrib and testdata repos
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
Labels: category: CI

#10627 [FrontEnd] add assign, meshgrid, expand_v2 for paddle faster_rcnn model
  src/core/tests/frontend/paddle/op_fuzzy.cpp
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_assign.py
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_expand_v2.py
  src/core/tests/frontend/paddle/test_models/gen_scripts/generate_meshgrid.py
  src/frontends/paddle/src/op/assign.cpp
  src/frontends/paddle/src/op/expand_v2.cpp
  src/frontends/paddle/src/op/meshgrid.cpp
  src/frontends/paddle/src/op_table.cpp
Labels: category: Core

#8048 Update README.md
  README.md
Labels: ExternalPR

#11343 review GPU language changes
  docs/Extensibility_UG/GPU_Extensibility.md
  docs/Extensibility_UG/Intro.md
  docs/OV_Runtime_UG/supported_plugins/Device_Plugins.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU_RemoteTensor_API.md
Labels: port to master

#11053 [ONNX] Add Scan operator to ONNX Frontend
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/test_onnx/test_backend.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_onnx/test_backend.py
  src/core/tests/models/onnx/scan15_ND_b4_input_rev.prototxt
  src/core/tests/models/onnx/scan15_ND_mixed.prototxt
  src/core/tests/models/onnx/scan15_ND_mixed_neg_axes.prototxt
  src/core/tests/models/onnx/scan15_dyn_rank.prototxt
  src/core/tests/models/onnx/scan15_dyn_rank_neg_axes.prototxt
  src/core/tests/models/onnx/scan15_fib_like.prototxt
  src/core/tests/models/onnx/scan15_fib_like_input_out_rev.prototxt
  src/core/tests/models/onnx/scan15_fib_like_input_rev.prototxt
  src/core/tests/models/onnx/scan15_fib_like_out_rev.prototxt
  src/core/tests/models/onnx/scan8_ND_b4.prototxt
  src/core/tests/models/onnx/scan8_ND_b4_input_rev.prototxt
  src/core/tests/models/onnx/scan8_ND_b4_seq_lens.prototxt
  src/core/tests/onnx/onnx_import.in.cpp
  src/core/tests/runtime/ie/unit_test.manifest
  src/frontends/onnx/frontend/src/op/scan.cpp
  src/frontends/onnx/frontend/src/op/scan.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
Labels: ONNX

#11210 Added shell for Eye-9
  docs/ops/generation/Eye_9.md
  src/core/include/ngraph/op/eye.hpp
  src/core/include/ngraph/ops.hpp
  src/core/include/openvino/op/eye.hpp
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/opsets/opset9_tbl.hpp
  src/core/shape_inference/include/eye_shape_inference.hpp
  src/core/src/op/eye.cpp
  src/core/tests/CMakeLists.txt
  src/core/tests/type_prop/eye.cpp
  src/core/tests/visitors/op/eye.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/tests/functional/inference_engine/transformations/op_conversions/detection_output_downgrade_test.cpp
  src/tests/functional/inference_engine/transformations/op_conversions/detection_output_upgrade_test.cpp
Labels: category: nGraph

#11425 Minor contextual edits to documentation
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
Labels: ExternalPR

#11595 [PYTHON] Add lower bound for wheel package
  src/bindings/python/requirements_test.txt
Labels: category: python api
