Repository openvinotoolkit/openvino, pull requests merged in 2023-06, with the labels that each got.

#17671 [C API] some contents missed in doxygen
  src/bindings/c/include/openvino/c/ov_core.h
  src/bindings/c/include/openvino/c/ov_prepostprocess.h
  src/bindings/c/include/openvino/c/ov_remote_context.h
Labels: category: C API

#17735 [GPU] Some functional fixes for nvidia
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_mmad_int8.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_mmad_int8.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_mmad_int8_slm.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_mmad_int8_slm.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_bf.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_bf.h
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
Labels: category: GPU

#17808 Added vcpkg build to CI
  .ci/azure/android_arm64.yml
  cmake/features.cmake
  vcpkg.json
Labels: category: build, category: CI

#17781 GroupNormalization core op
  docs/ops/normalization/GroupNormalization_12.md
  src/bindings/python/tests/test_transformations/test_pattern_ops.py
  src/core/include/ngraph/op/group_normalization.hpp
  src/core/include/ngraph/ops.hpp
  src/core/include/ngraph/opsets/opset.hpp
  src/core/include/ngraph/opsets/opset12.hpp
  src/core/include/ngraph/opsets/opset12_tbl.hpp
  src/core/include/openvino/op/group_normalization.hpp
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/opsets/opset.hpp
  src/core/include/openvino/opsets/opset12.hpp
  src/core/include/openvino/opsets/opset12_tbl.hpp
  src/core/shape_inference/include/group_normalization_shape_inference.hpp
  src/core/src/op/group_normalization.cpp
  src/core/src/opsets/opset.cpp
  src/core/tests/op_version_tbl.hpp
  src/core/tests/opset.cpp
  src/core/tests/type_prop/group_normalization.cpp
  src/core/tests/visitors/op/group_normalization.cpp
  src/frontends/common/include/openvino/frontend/extension/op.hpp
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: Python API, category: docs, category: extensions, category: CPP API

#17759 [GPU] fix incorrect deformable_group_idx calculation
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/deformable_convolution_gpu_bfyx_ref.cl
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#17831 Update archive names for 2023.0 release
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-raspbian.md
Labels: category: docs

#17816 [DOC] cpu documentation fixes
  docs/OV_Runtime_UG/supported_plugins/CPU.md
Labels: category: docs

#17815 [DOC] cpu documentation fixes
  docs/OV_Runtime_UG/supported_plugins/CPU.md
Labels: category: docs

#17835 Update archive names for 2023.0 release
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-raspbian.md
Labels: category: docs

#17800 Fix C API registers unit test failed
  src/bindings/c/tests/CMakeLists.txt
  src/bindings/c/tests/ie_c_api_test.cpp
  src/bindings/c/tests/test_model_repo.cpp
  src/bindings/c/tests/test_model_repo.hpp
Labels: category: build, category: C API

#17680 [Snippets] Refactored work with Loop ID
  src/common/snippets/include/snippets/lowered/expression.hpp
  src/common/snippets/include/snippets/lowered/loop_manager.hpp
  src/common/snippets/include/snippets/lowered/pass/fuse_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/init_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_buffers.hpp
  src/common/snippets/include/snippets/lowered/pass/validate_loops.hpp
  src/common/snippets/src/lowered/expression.cpp
  src/common/snippets/src/lowered/loop_manager.cpp
  src/common/snippets/src/lowered/pass/allocate_buffers.cpp
  src/common/snippets/src/lowered/pass/fuse_loops.cpp
  src/common/snippets/src/lowered/pass/init_loops.cpp
  src/common/snippets/src/lowered/pass/insert_buffers.cpp
  src/common/snippets/src/lowered/pass/insert_load_store.cpp
  src/common/snippets/src/lowered/pass/move_result_out_of_loop.cpp
  src/common/snippets/src/lowered/pass/softmax_decomposition.cpp
  src/common/snippets/src/lowered/pass/validate_loops.cpp
  src/common/snippets/src/op/subgraph.cpp
Labels: category: CPU

#17824 [Commit slider] Safe tmp directory handling in linux
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
Labels: category: CPU

#17839 Use OpenCL from CCI
  .ci/azure/linux_arm64.yml
  conanfile.txt
Labels: category: CI

#17796 [Pad-12] Introduce PadBase and Pad-12 operation
  src/core/include/ngraph/op/pad.hpp
  src/core/include/openvino/op/pad.hpp
  src/core/include/openvino/op/util/pad_base.hpp
  src/core/include/openvino/opsets/opset.hpp
  src/core/include/openvino/opsets/opset12_tbl.hpp
  src/core/shape_inference/include/pad_shape_inference.hpp
  src/core/src/op/pad.cpp
  src/core/src/op/util/pad_base.cpp
  src/core/tests/op_version_tbl.hpp
  src/core/tests/type_prop/pad.cpp
  src/core/tests/visitors/op/pad.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/pad_shape_inference_test.cpp
  src/plugins/template/tests/functional/op_reference/pad.cpp
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: TEMPLATE, category: CPP API

#17685 [GNA] convertFunctionToICNNNetwork operation performance improovement
  src/plugins/intel_gna/legacy/src/convert_function_to_cnn_network.cpp
Labels: category: GNA

#17840 Use 2023.0.0 debian packages on CI
  .ci/azure/linux_debian.yml
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
Labels: category: build, category: CI, category: packaging

#17629 [PT FE] Add aten::LogSoftmax
  src/frontends/pytorch/src/op/log_softmax.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_log_softmax.py
Labels: category: PyTorch FE

#17842 Docs homepage update
  docs/_static/css/homepage_style.css
  docs/_static/images/OV_flow_arrow.svg
  docs/_static/images/OV_flow_deployment.svg
  docs/_static/images/OV_flow_deployment_hvr.svg
  docs/_static/images/OV_flow_model.svg
  docs/_static/images/OV_flow_model_hvr.svg
  docs/_static/images/OV_flow_optimization.svg
  docs/_static/images/OV_flow_optimization_hvr.svg
  docs/_static/images/openvino_diagram.svg
  docs/_static/images/ov_chart.png
  docs/_static/images/ov_homepage_diagram.png
  docs/home.rst
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/layout.html
Labels: category: docs

#17843 DOCS homepage update 23.0
  docs/_static/css/homepage_style.css
  docs/_static/images/OV_flow_arrow.svg
  docs/_static/images/OV_flow_deployment.svg
  docs/_static/images/OV_flow_deployment_hvr.svg
  docs/_static/images/OV_flow_model.svg
  docs/_static/images/OV_flow_model_hvr.svg
  docs/_static/images/OV_flow_optimization.svg
  docs/_static/images/OV_flow_optimization_hvr.svg
  docs/_static/images/openvino_diagram.svg
  docs/_static/images/ov_chart.png
  docs/_static/images/ov_homepage_diagram.png
  docs/home.rst
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/layout.html
Labels: category: docs

#17844 [DOCS]Add default platform type selection to ov graphs
  docs/_static/js/graphs.js
Labels: category: docs

#17846 [DOCS] Change downloads directory link
  docs/install_guides/installing-openvino-from-archive-macos.md
Labels: category: docs

#17053 Requirements for the HW plugin to integrate with AUTO
  docs/IE_PLUGIN_DG/Intro.md
  src/plugins/auto/docs/integration.md
Labels: category: docs, category: AUTO

#17563 [LPT] StridedSlice dequantization improvement
  src/common/low_precision_transformations/src/strided_slice.cpp
  src/common/low_precision_transformations/tests/strided_slice_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/strided_slice_function.cpp
Labels: category: IE Tests, category: LP transformations

#17857 [DOCS] Change notebooks links
  docs/get_started.md
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-pip.md
Labels: category: docs

#17783 [conformance] Add rel pass rate to highlight table
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/highlight_tables.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/highlight_tables_template.html
Labels: category: IE Tests

#17861 [docs] Conda update
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-macos-header.md
Labels: category: docs

#17860 Add missing != operator, fixing compilation issue with Visual Studio 17.6 with /std:c++latest.
  src/inference/include/ie/ie_precision.hpp
Labels: category: inference, category: CPP API

#17668 [GPU] Enable runtime buffer fusing for dynamic shape
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Labels: category: GPU

#16223 [GPU] softmax_gpu_items_class_optimized kernel optimizations
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/softmax_gpu_items_class_optimized.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_items_class_optimized.cpp
Labels: category: GPU, ExternalPR

#17868 Revert "Stale PRs/Issues action limit extention (#17491)"
  .github/workflows/stale_prs_and_issues.yml
Labels: category: CI

#17590 Apply m_pythondiv for fusing of eltwise div
  src/plugins/intel_gpu/include/intel_gpu/plugin/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/eltwise.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_base.h
  src/plugins/intel_gpu/src/plugin/ops/eltwise.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU

#17450 enable CPU map and multiple streams for ARM Linux
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/streams_executor.hpp
  src/inference/tests/unit/cpu_map_parser.cpp
  src/plugins/intel_cpu/src/plugin.cpp
Labels: category: inference, category: CPU

#15888 【PaddlePaddle Hackathon 4】add paddle set_value op
  src/frontends/paddle/src/op/set_value.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_set_value.py
Labels: ExternalPR, category: PDPD FE, PaddlePaddle Hackathon

#17853 [GPU] Better device input memory reuse
  src/plugins/intel_gpu/include/intel_gpu/plugin/remote_blob.hpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/remote_blob.cpp
  src/plugins/intel_gpu/tests/functional/behavior/infer_request.cpp
  src/plugins/intel_gpu/tests/functional/remote_blob_tests/gpu_remote_tensor_tests.cpp
Labels: category: GPU

#17871 [DOCS] Updating `model conversion` diagram
  docs/_static/images/model_conversion_diagram.svg
Labels: category: docs

#17872 [DOCS] Updating model conversion diagram - for 23.0
  docs/_static/images/model_conversion_diagram.svg
Labels: category: docs

#17829 [GPU] Change priority of CPU implementations
  src/plugins/intel_gpu/src/graph/include/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/detection_output_test.cpp
Labels: category: GPU

#17850 Fix GPU remote context name initialization
  src/plugins/intel_gpu/include/intel_gpu/plugin/plugin.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: GPU

#17858 [Commit slider] Rmtree fixed
  src/plugins/intel_cpu/tools/commit_slider/commit_slider.py
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
  src/plugins/intel_cpu/tools/commit_slider/utils/modes.py
Labels: category: CPU

#17550 [PT FE] Add aten::_native_multi_head_attention
  src/frontends/pytorch/src/op/native_multi_head_attention.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/conftest.py
  tests/layer_tests/pytorch_tests/test_native_multi_head_attention.py
Labels: category: PyTorch FE

#17507 remove quantization config for vpu
  tools/pot/openvino/tools/pot/configs/hardware/vpu.json
  tools/pot/tests/test_unify_scales.py
Labels: category: POT

#10686 [CPU] Align jit and ref offsets handling in Def.Conv.
  src/plugins/intel_cpu/src/nodes/def_conv.cpp
Labels: category: CPU, Stale

#17876 Docs post release fixes port
  docs/_static/css/homepage_style.css
  docs/_static/js/graphs.js
  docs/conf.py
  docs/home.rst
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-macos-header.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-raspbian-removedfromtoc.md
  docs/install_guides/installing-openvino-runtime.md
Labels: category: docs

#17874 DOCS post-release adjustments
  docs/_static/css/homepage_style.css
  docs/_static/js/graphs.js
  docs/conf.py
  docs/home.rst
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-macos-header.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-raspbian-removedfromtoc.md
  docs/install_guides/installing-openvino-runtime.md
Labels: category: docs

#17890 Fixed compilation with clang
  src/frontends/paddle/src/op/set_value.cpp
Labels: category: PDPD FE

#17891 Use tbb from vcpkg
  .ci/azure/android_arm64.yml
  vcpkg.json
Labels: category: CI

#17887 [DOCS] Fix list and links to POT
  docs/Documentation/model_introduction.md
  docs/Documentation/openvino_training_extensions.md
  docs/IE_PLUGIN_DG/QuantizedNetworks.md
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/lpt.md
  docs/MO_DG/prepare_model/convert_model/IR_suitable_for_INT8_inference.md
  docs/install_guides/installing-model-dev-tools.md
  docs/resources/tensorflow_frontend.md
  tools/pot/docs/AccuracyAwareQuantizationUsage.md
Labels: category: docs, category: POT

#17901 [DOCS] Port release doc fixes to master
  docs/Documentation/model_introduction.md
  docs/Documentation/openvino_training_extensions.md
  docs/IE_PLUGIN_DG/QuantizedNetworks.md
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/lpt.md
  docs/MO_DG/prepare_model/convert_model/IR_suitable_for_INT8_inference.md
  docs/get_started.md
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-pip.md
  docs/resources/tensorflow_frontend.md
  tools/pot/docs/AccuracyAwareQuantizationUsage.md
Labels: category: docs, category: POT

#17817 [Snippets] Added support of 3D MHA
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/mha.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_mha.cpp
Labels: category: IE Tests, category: CPU

#17771 update scheduling core type value
  src/plugins/intel_cpu/src/cpu_map_scheduling.cpp
  src/plugins/intel_cpu/src/cpu_map_scheduling.hpp
  src/plugins/intel_cpu/tests/unit/streams_info_table_test.cpp
Labels: category: CPU

#17569 [AUTO] Support setting log_level from config
  src/plugins/auto/src/plugin_config.cpp
  src/plugins/auto/src/plugin_config.hpp
  src/plugins/auto/tests/unit/auto_set_log_level_test.cpp
Labels: category: AUTO

#17615 [CPU] Reduce node improve parallelism
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/reduce_ops.cpp
Labels: category: CPU

#17621 Optimize permute gemm onednn
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_utils.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.h
  src/plugins/intel_gpu/src/runtime/format.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/unit/fusions/gemm_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU

#17907 [DOCS] Model optimization paragraph fix
  docs/optimization_guide/model_optimization_guide.md
Labels: category: docs

#17918 [DOCS] Fix spaces in archive links
  docs/install_guides/installing-openvino-from-archive-linux.md
Labels: category: docs

#17875 Support all interpolate version by CPU shape inference
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/interpolate_shape_inference_test.cpp
Labels: category: CPU

#17916 Added cmake_policy call to allow IN_LIST in if()
  cmake/templates/OpenVINOConfig.cmake.in
Labels: category: build, port to 2022.3

#17864 [TF FE] Workaround for Broadcast/Concat issue with empty tensors
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/tests/convert_saved_model.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_broadcast_issue.py
Labels: category: TF FE

#17929 [DOCS] Add sudo to uninstall
  docs/install_guides/uninstalling-openvino.md
Labels: category: docs

#17939 [DOCS] Port release doc fixes
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/uninstalling-openvino.md
  docs/optimization_guide/model_optimization_guide.md
Labels: category: docs

#17915 [docs] typo fix
  docs/Extensibility_UG/frontend_extensions.md
  docs/OV_Runtime_UG/precision_control.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/nbdoc/nbdoc.py
  docs/ops/normalization/GroupNormalization_12.md
  docs/ops/sort/MatrixNMS_8.md
  docs/optimization_guide/nncf/ptq/quantization_w_accuracy_control.md
Labels: category: docs

#17909 [GPU] Fix issue in runtime buffer fusing
  src/plugins/intel_gpu/include/intel_gpu/graph/kernel_impl_params.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/kernel_impl_params.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU

#17904 [DOCS] Updating "Deploying Your Application with Deployment Manager" article - for 23.0
  docs/OV_Runtime_UG/deployment/deployment-manager-tool.md
  docs/_static/images/configuration_dialog.png
  docs/_static/images/selection_dialog.png
Labels: category: docs

#17903 [DOCS] Updating "Deploying Your Application with Deployment Manager" article
  docs/OV_Runtime_UG/deployment/deployment-manager-tool.md
  docs/_static/images/configuration_dialog.png
  docs/_static/images/selection_dialog.png
Labels: category: docs

#17889 Support different names for ITTAPI
  src/common/itt/CMakeLists.txt
  src/common/itt/cmake/ITTConfig.cmake
  thirdparty/dependencies.cmake
  thirdparty/itt_collector/sea_itt_lib/CMakeLists.txt
  thirdparty/ittapi/CMakeLists.txt
Labels: category: Core, category: build, category: dependency_changes

#15647 [Snippets] Add support of MHA Tokenization for different precisions
  src/common/snippets/include/snippets/op/brgemm.hpp
  src/common/snippets/include/snippets/op/buffer.hpp
  src/common/snippets/include/snippets/op/subgraph.hpp
  src/common/snippets/include/snippets/pass/mha_tokenization.hpp
  src/common/snippets/include/snippets/pass/tokenization.hpp
  src/common/snippets/src/lowered/pass/allocate_buffers.cpp
  src/common/snippets/src/lowered/pass/assign_registers.cpp
  src/common/snippets/src/op/brgemm.cpp
  src/common/snippets/src/op/buffer.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/common/snippets/src/pass/tokenization.cpp
  src/common/snippets/tests/src/lowering_utils.cpp
  src/common/snippets/tests/src/pass/collapse_subgraph.cpp
  src/common/snippets/tests/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_snippets_emitters.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/snippets_mark_skipped.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/mha.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/mha.cpp
  src/tests/functional/plugin/shared/include/snippets/mha.hpp
  src/tests/functional/plugin/shared/src/snippets/mha.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/subgraph_matmul.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/subgraph_mha.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_matmul.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_mha.cpp
Labels: category: IE Tests, category: CPU

#17762 [GPU] Add shape_of subgraphs markup and initial cpu implementations
  src/core/src/op/round.cpp
  src/core/src/op/util/broadcast_base.cpp
  src/core/src/op/util/gather_base.cpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/eltwise.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/graph/eltwise.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_shape_of_subgraphs.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/activation.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/broadcast.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/concat.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/range.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/register.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/register.hpp
  src/plugins/intel_gpu/src/graph/impls/cpu/reorder.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/scatter_update.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/shape_of.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/tile.cpp
  src/plugins/intel_gpu/src/graph/include/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_type.h
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/include/scatter_update_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_dump_graph.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/unit/passes/mark_shape_of_subgraphs_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/activation_simple_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/broadcast_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/crop_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gather_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/range_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/scatter_update_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/shape_of_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/strided_slice_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/tile_gpu_test.cpp
Labels: category: Core, category: GPU

#17947 Align tabs in install archives Linux
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
Labels: category: docs

#17774 [Snippets] Fixed copy runtime info which contains PortDescriptors
  src/common/snippets/include/snippets/lowered/port_descriptor.hpp
  src/common/snippets/include/snippets/utils.hpp
  src/common/snippets/src/pass/convert_power_to_powerstatic.cpp
  src/common/snippets/src/pass/insert_movebroadcast.cpp
  src/common/snippets/src/pass/propagate_precision.cpp
  src/common/snippets/src/utils.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/mha.cpp
  src/tests/functional/plugin/shared/include/snippets/mha.hpp
  src/tests/functional/plugin/shared/src/snippets/mha.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/subgraph_mha.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_mha.cpp
Labels: category: IE Tests, category: CPU

#17950 Align tabs in install archives Linux (#17947)
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
Labels: category: docs

#17707 [Benchmark_app] - Update comments and help text
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
Labels: category: samples, category: docs

#17451 Xiaoxia/update cpu mapping
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/streams_executor.hpp
  src/inference/tests/unit/cpu_map_parser.cpp
Labels: category: inference

#17899 Fixes for deployment manager
  .ci/azure/linux.yml
  tools/deployment_manager/configs/darwin.json
  tools/deployment_manager/configs/linux.json
  tools/deployment_manager/configs/windows.json
Labels: category: CI, category: tools

#17952 [EISW-83125] C++ benchmark_app 2.0 does not recognise VPU/VPUX
  samples/cpp/benchmark_app/utils.cpp
Labels: category: samples

#17953 Updated refs to dependency repositories
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#17945 [CPU] Fixed KEY_LP_TRANSFORMS_MODE internal propery behavior
  src/plugins/intel_cpu/src/plugin.cpp
Labels: category: CPU

#17954 Try to use system flatbuffers on Android
  .ci/azure/android_arm64.yml
  cmake/features.cmake
  vcpkg.json
Labels: category: build, category: CI

#17097 [PyOV] Check for glibc version in python test (#17081)
  src/bindings/python/tests_compatibility/test_inference_engine/test_IECore.py
Labels: bug, category: Python API, ported to master

#17959 [DOCS] Fixing broken code blocks
  docs/OV_Runtime_UG/deployment/deployment-manager-tool.md
  docs/OV_Runtime_UG/hetero_execution.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/ops/activation/Mish_4.md
  tools/pot/docs/DefaultQuantizationUsage.md
Labels: category: docs, category: POT

#17960 [DOCS] Fixing broken code blocks for 23.0
  docs/OV_Runtime_UG/deployment/deployment-manager-tool.md
  docs/OV_Runtime_UG/hetero_execution.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/ops/activation/Mish_4.md
  tools/pot/docs/DefaultQuantizationUsage.md
Labels: category: docs, category: POT

#17944 [DOCS] Adding Datumaro document into OV Ecosystems
  docs/Documentation/datumaro.md
  docs/Documentation/openvino_ecosystem.md
  docs/_static/images/datumaro.png
Labels: category: docs

#17967 [DOCS] BuildingForLinux fix for 23.0
  docs/dev/build_linux.md
Labels: category: docs

#17966 [DOCS] BuildingForLinux fix
  docs/dev/build_linux.md
Labels: category: docs

#17825 Move dependencies to the new share
  cmake/dependencies.cmake
Labels: category: build

#17968 [DOCS] Adding Datumaro document into OV Ecosystems (#17944)
  docs/Documentation/datumaro.md
  docs/Documentation/openvino_ecosystem.md
  docs/_static/images/datumaro.png
Labels: category: docs

#17961 Port some changes from proxy branch
  src/core/include/openvino/runtime/tensor.hpp
  src/core/src/runtime/ov_tensor.cpp
  src/inference/dev_api/openvino/runtime/icompiled_model.hpp
  src/inference/dev_api/openvino/runtime/icore.hpp
  src/inference/dev_api/openvino/runtime/iplugin.hpp
  src/inference/dev_api/openvino/runtime/iremote_context.hpp
  src/inference/src/core.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_icore.hpp
  src/tests/ie_test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
Labels: category: inference, category: Core, category: IE Tests, category: CPP API

#17895 AlignEltwiseInputRanks - fix when output rank is less than constant rank
  src/common/transformations/src/transformations/common_optimizations/align_eltwise_input_ranks.cpp
  src/common/transformations/tests/common_optimizations/align_eltwise_input_ranks.cpp
Labels: category: transformations

#17974 Deprecate plugins config keys
  src/inference/include/ie/cpu/cpu_config.hpp
  src/inference/include/ie/gna/gna_config.hpp
  src/inference/include/ie/gpu/details/gpu_context_helpers.hpp
  src/inference/include/ie/gpu/gpu_config.hpp
  src/inference/include/ie/gpu/gpu_context_api_dx.hpp
  src/inference/include/ie/gpu/gpu_context_api_ocl.hpp
  src/inference/include/ie/gpu/gpu_context_api_va.hpp
  src/inference/include/ie/gpu/gpu_ocl_wrapper.hpp
  src/inference/include/ie/gpu/gpu_params.hpp
  src/inference/include/ie/hetero/hetero_plugin_config.hpp
  src/inference/include/ie/multi-device/multi_device_config.hpp
  src/inference/include/ie/vpu/hddl_config.hpp
  src/inference/include/ie/vpu/myriad_config.hpp
  src/inference/include/ie/vpu/vpu_config.hpp
  src/inference/include/openvino/runtime/intel_gpu/ocl/dx.hpp
  src/inference/include/openvino/runtime/intel_gpu/ocl/ocl.hpp
  src/inference/include/openvino/runtime/intel_gpu/ocl/va.hpp
Labels: category: inference, category: CPP API

#17926 [LPT] tests rename for nightly: part #2
  src/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_concat.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_concat_multi_channel.cpp
Labels: category: IE Tests

#17980 fixing typos
  src/bindings/python/tests/test_graph/test_manager.py
  src/common/transformations/src/transformations/op_conversions/unique_decomposition.cpp
  src/common/transformations/tests/op_conversions/unique_decomposition_test.cpp
  src/core/reference/src/runtime/reference/einsum.cpp
  src/core/tests/pass/serialization/const_compression.cpp
  src/frontends/onnx/frontend/src/core/model.cpp
  src/frontends/onnx/frontend/src/utils/arg_min_max_factory.cpp
  src/frontends/tensorflow_common/src/op/dynamic_partition.cpp
  src/plugins/intel_cpu/src/nodes/roi_align.cpp
  src/plugins/intel_gna/legacy/include/legacy/ie_layers.h
  thirdparty/fluid/modules/gapi/src/compiler/passes/intrin.cpp
Labels: category: Core, category: CPU, category: GNA, category: Python API, category: transformations, ExternalPR, category: ONNX FE, category: dependency_changes, category: TF FE, category: TFL FE

#17977 [CPU][DEBUG_CAPS] Fix compilation warnings
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/utils/debug_capabilities.cpp
  src/plugins/intel_cpu/src/utils/debug_capabilities.h
  src/plugins/intel_cpu/src/utils/debug_caps_config.h
  src/plugins/intel_cpu/src/utils/verbose.cpp
Labels: category: CPU

#17881 [GPU] Fuse type conversion only reorders to the prev nodes
  src/plugins/intel_gpu/src/graph/concatenation.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/include/reorder_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/concatenation/concatenation_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/concatenation/concatenation_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/concatenation/concatenation_kernel_simple_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/mvn/mvn_kernel_bfyx_opt.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/mvn/mvn_kernel_ref.h
  src/plugins/intel_gpu/src/plugin/ops/result.cpp
  src/plugins/intel_gpu/tests/unit/passes/remove_redundant_reorders_tests.cpp
Labels: category: GPU

#17940 [GPU] gather nd shape agnostic kernel implementation
  src/plugins/intel_gpu/src/graph/gather_nd.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gather_nd.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_nd_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_nd_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_nd_kernel_ref.h
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/gather_nd.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gather_nd_gpu_test.cpp
Labels: category: GPU

#17965 Delete the deprecated LowLatency (version1) transformation
  docs/OV_Runtime_UG/lowlatency_deprecated.md
  docs/OV_Runtime_UG/model_state_intro.md
  src/common/transformations/tests/common_optimizations/low_latency_test.cpp
  src/common/transformations/tests/common_optimizations/low_latency_v2_test.cpp
  src/core/include/ngraph/pass/low_latency.hpp
  src/core/src/pass/low_latency.cpp
  src/inference/include/ie/ie_transformations.hpp
  src/inference/src/ie_transformations.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/memory_LSTMCell.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/multiple_LSTMCell.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/memory_LSTMCell.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/multiple_LSTMCell.cpp
  src/tests/functional/shared_test_classes/src/subgraph/memory_LSTMCell.cpp
  src/tests/functional/shared_test_classes/src/subgraph/multiple_LSTMCell.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/utils/ngraph_helpers.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/utils/ngraph_helpers.cpp
Labels: category: inference, category: Core, category: IE Tests, category: CPU, category: GNA, category: transformations, category: docs, category: CPP API

#17983 Deprecate main IE developer API classes
  docs/snippets/example_async_infer_request.cpp
  src/inference/dev_api/cpp_interfaces/impl/ie_executable_network_thread_safe_default.hpp
  src/inference/dev_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_default.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_iexecutable_network_internal.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_iinfer_request_internal.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_internal_plugin_config.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_ivariable_state_internal.hpp
  src/inference/dev_api/description_buffer.hpp
  src/inference/dev_api/ie_ngraph_utils.hpp
  src/inference/src/cpp/ie_variable_state.cpp
  src/inference/tests/functional/response_buffer_test.cpp
  src/inference/tests/unit/cpp_interfaces/exception_test.cpp
Labels: category: inference, category: docs

#17970 ARM static build
  .ci/azure/android_arm64.yml
  .ci/azure/linux_arm64.yml
  cmake/features.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  src/frontends/common/include/openvino/frontend/extension/conversion.hpp
  src/inference/dev_api/threading/ie_cpu_streams_executor.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/threading/ie_cpu_streams_executor.cpp
Labels: category: inference, category: Core, category: build, category: CI, category: extensions, category: CPP API

#17917 Don't constantfold weights in MatMulConstTransposesExtraction transfo…
  src/common/transformations/src/transformations/common_optimizations/matmul_const_transposes_extraction.cpp
  src/common/transformations/tests/common_optimizations/matmul_const_transposes_extraction.cpp
Labels: category: transformations

#17910 Fix static analysis issues in pruning mask propagation
  src/common/offline_transformations/src/pruning/propagate_masks.cpp
Labels: category: transformations

#17978 [GPU] Fix dynamic padding processing of static dimension
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Labels: category: GPU

#17862 Add static shape adapters to reduce dimension conversion in shape_infer for CPU
  src/core/shape_inference/include/tile_shape_inference.hpp
  src/core/shape_inference/include/utils.hpp
  src/plugins/intel_cpu/src/utils/shape_inference/ov_optional.hpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.hpp
  src/plugins/intel_cpu/src/utils/shape_inference/static_shape.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/static_shape.hpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/static_shape_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/tile_shape_inference_test.cpp
Labels: category: Core, category: CPU

#17678 [Snippets] Documentation update
  src/common/snippets/README.md
  src/common/snippets/docs/snippets_design_guide.md
Labels: category: CPU, category: docs

#17548 [CPU][ARM] Dynamic shapes support in ARM transformations
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_group_conv.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_group_conv.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_group_conv1d.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_group_conv1d.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_reduce_multi_axis.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_reduce_multi_axis.hpp
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/arm/convert_group_conv.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/arm/convert_group_conv1d.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/arm/convert_reduce_multi_axis.cpp
  src/plugins/intel_cpu/tests/functional/target_per_test.cmake
  src/plugins/intel_cpu/tests/unit/CMakeLists.txt
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/arm/convert_group_conv.cpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/arm/convert_group_conv1d.cpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/arm/convert_reduce_multi_axis.cpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/x64/convert_to_interaction.cpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/x64/snipptes_mark_skipped.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/fake_quantize_tokenization_test.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/mul_add_to_fma.cpp
Labels: category: CPU, category: build, platform: arm

#17932 [TFLite] Custom attribute reading and While operation support
  src/frontends/tensorflow_lite/include/openvino/frontend/tensorflow_lite/node_context.hpp
  src/frontends/tensorflow_lite/src/decoder_flatbuffer.cpp
  src/frontends/tensorflow_lite/src/decoder_flatbuffer.h
  src/frontends/tensorflow_lite/src/frontend.cpp
  src/frontends/tensorflow_lite/src/graph_iterator_flatbuffer.cpp
  src/frontends/tensorflow_lite/src/graph_iterator_flatbuffer.hpp
  src/frontends/tensorflow_lite/src/input_model.cpp
  src/frontends/tensorflow_lite/src/input_model.hpp
  src/frontends/tensorflow_lite/src/op/while.cpp
  src/frontends/tensorflow_lite/src/op_table.cpp
  src/frontends/tensorflow_lite/src/op_table.hpp
  src/frontends/tensorflow_lite/src/tensor_lite_place.hpp
  src/frontends/tensorflow_lite/src/utils.cpp
  tests/layer_tests/tensorflow_lite_tests/test_tfl_While.py
Labels: category: CPP API, category: TFL FE

#17991 Refactored setup.py
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/tensorflow/CMakeLists.txt
  src/bindings/python/wheel/setup.py
Labels: category: build, category: Python API, category: dependency_changes, category: packaging

#17919 Remove NV12 and I420 blobs and deprecate some legacy API
  docs/OV_Runtime_UG/migration_ov_2_0/preprocessing.md
  docs/snippets/ov_preprocessing_migration.cpp
  docs/snippets/ov_preprocessing_migration.py
  src/bindings/c/src/CMakeLists.txt
  src/bindings/c/src/common.h
  src/common/preprocessing/CMakeLists.txt
  src/common/preprocessing/src/ie_preprocess_data.cpp
  src/common/preprocessing/src/ie_preprocess_data.hpp
  src/common/preprocessing/src/ie_preprocess_gapi.cpp
  src/common/preprocessing/tests/common/fluid_tests.cpp
  src/common/preprocessing/tests/cpu/fluid_tests_cpu.cpp
  src/frontends/ir/src/frontend.cpp
  src/frontends/ir/src/rt_info_deserializer.cpp
  src/frontends/ir/src/utils.hpp
  src/inference/dev_api/description_buffer.hpp
  src/inference/dev_api/memory_solver.hpp
  src/inference/dev_api/openvino/runtime/so_ptr.hpp
  src/inference/include/ie/cpp/ie_infer_request.hpp
  src/inference/include/ie/gpu/details/gpu_context_helpers.hpp
  src/inference/include/ie/gpu/gpu_context_api_dx.hpp
  src/inference/include/ie/gpu/gpu_context_api_ocl.hpp
  src/inference/include/ie/gpu/gpu_context_api_va.hpp
  src/inference/include/ie/ie_api.h
  src/inference/include/ie/ie_common.h
  src/inference/include/ie/ie_compound_blob.h
  src/inference/include/ie/ie_preprocess.hpp
  src/inference/include/ie/ie_transformations.hpp
  src/inference/include/ie/ie_version.hpp
  src/inference/include/ie/inference_engine.hpp
  src/inference/src/cpp/ie_variable_state.cpp
  src/inference/src/cpp_interfaces/interface/ie_ivariable_state_internal.cpp
  src/inference/src/file_utils.cpp
  src/inference/src/ie_compound_blob.cpp
  src/inference/src/ie_version.cpp
  src/inference/src/infer_request.cpp
  src/inference/tests/functional/response_buffer_test.cpp
  src/inference/tests/unit/ie_compound_blob_test.cpp
  src/inference/tests/unit/ie_exception_test.cpp
  src/inference/tests/unit/memory_solver_test.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/set_blob_by_type.cpp
  src/plugins/intel_gpu/src/plugin/infer_request_legacy.cpp
  src/plugins/intel_gpu/src/plugin/ops/parameter.cpp
  src/plugins/intel_gpu/tests/functional/remote_blob_tests/cldnn_remote_blob_tests.cpp
  src/plugins/intel_gpu/tests/functional/remote_blob_tests/dx11_remote_ctx_test.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/infer_request/set_blob_by_type.cpp
  src/plugins/template/tests/functional/subgraph_reference/preprocess_legacy.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/infer_request/set_blob_by_type.cpp
  src/tests/functional/plugin/shared/include/behavior/infer_request/set_blob_by_type.hpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
Labels: category: inference, category: IE Tests, category: GPU, category: CPU, category: build, category: C API, category: IR FE, category: preprocessing, category: docs, category: TEMPLATE, category: CPP API

#17984 Removed legacy methods SetBatch and SetBlob
  samples/cpp/hello_query_device/README.md
  samples/python/hello_query_device/README.md
  src/inference/dev_api/cpp_interfaces/impl/ie_infer_async_request_thread_safe_default.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_iinfer_request_internal.hpp
  src/inference/include/ie/cpp/ie_infer_request.hpp
  src/inference/include/ie/ie_iinfer_request.hpp
  src/inference/include/ie/ie_plugin_config.hpp
  src/inference/src/cpp/ie_infer_async_request_base.hpp
  src/inference/src/cpp/ie_infer_request.cpp
  src/inference/src/cpp_interfaces/interface/ie_iinfer_request_internal.cpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/tests/functional/async_infer_request_test.cpp
  src/plugins/auto/src/infer_request.cpp
  src/plugins/auto/src/infer_request.hpp
  src/plugins/hetero/infer_request.cpp
  src/plugins/hetero/infer_request.hpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/exec_network.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/infer_request.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/dynamic_batch.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/plugin/configuration_tests.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/infer_request_legacy.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/internal_properties.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/legacy_api_helper.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/infer_request/dynamic_batch.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/plugin/configuration_tests.cpp
  src/tests/functional/plugin/shared/include/behavior/infer_request/dynamic_batch.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/preprocessing.hpp
  src/tests/functional/plugin/shared/src/behavior/infer_request/dynamic_batch.cpp
  src/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  src/tests/functional/shared_test_classes/src/subgraph/perm_conv_perm_concat.cpp
  src/tests/functional/shared_test_classes/src/subgraph/reshape_permute_conv_permute_reshape_act.cpp
  src/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iinfer_request_internal.hpp
  src/tests/ie_test_utils/unit_test_utils/mocks/mock_iinfer_request.hpp
Labels: category: inference, category: IE Tests, category: GPU, category: CPU, category: HETERO, category: samples, category: docs, category: AUTO, category: CPP API

#18016 fixing typos in src/plugins/intel_cpu/src/transformations
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_group_conv1d.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/convert_fq_rnn_to_quantized_rnn.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/fc_bias_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/convert_to_cpu_specific_opset.hpp
Labels: category: CPU, ExternalPR

#18017 Fixed debian packages
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
Labels: category: build, category: packaging

#17962 Finalize deprecation of public IE API
  src/inference/dev_api/blob_transform.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_ivariable_state_internal.hpp
  src/inference/include/ie/ie_blob.h
  src/inference/include/ie/ie_remote_blob.hpp
  src/inference/include/ie/ie_remote_context.hpp
  src/inference/src/dev/make_tensor.hpp
  src/tests/ie_test_utils/common_test_utils/test_assertions.hpp
Labels: category: inference, category: IE Tests, category: CPP API

#18004 [DOCS] Fixing formatting issues in articles - for 23.0
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_YOLACT.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_BERT_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_CRNN_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_DeepSpeech_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_NCF_From_Tensorflow.md
  docs/OV_Runtime_UG/Model_caching_overview.md
  docs/OV_Runtime_UG/Python_API_inference.md
  docs/OV_Runtime_UG/ShapeInference.md
  docs/OV_Runtime_UG/supported_plugins/Device_Plugins.md
  docs/OV_Runtime_UG/supported_plugins/GNA.md
  docs/OV_Runtime_UG/supported_plugins/GPU_RemoteTensor_API.md
  docs/install_guides/configurations-for-intel-gna.md
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/installing-openvino-brew.md
  tools/pot/openvino/tools/pot/api/README.md
Labels: category: docs, category: POT

#17994 [DOCS] Fixing formatting issues in articles
  docs/Documentation/inference_modes_overview.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_YOLACT.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_BERT_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_CRNN_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_DeepSpeech_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_NCF_From_Tensorflow.md
  docs/OV_Runtime_UG/Model_caching_overview.md
  docs/OV_Runtime_UG/Python_API_inference.md
  docs/OV_Runtime_UG/ShapeInference.md
  docs/OV_Runtime_UG/deployment/conditional_compilation_deployment.md
  docs/OV_Runtime_UG/supported_plugins/Device_Plugins.md
  docs/OV_Runtime_UG/supported_plugins/GNA.md
  docs/OV_Runtime_UG/supported_plugins/GPU_RemoteTensor_API.md
  docs/install_guides/configurations-for-intel-gna.md
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/installing-openvino-brew.md
  tools/pot/openvino/tools/pot/api/README.md
Labels: category: docs, category: POT

#17859 [Snippets] Fixed set for Windows
  src/common/snippets/src/lowered/loop_manager.cpp
Labels: category: CPU

#18012 [DOCS] Restyling elements on home page - for 23.0
  docs/_static/css/homepage_style.css
Labels: category: docs

#18011 [DOCS] Restyling elements on home page
  docs/_static/css/homepage_style.css
Labels: category: docs

#17884 [Commit slider] Tune shell settings for linux
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg.json
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
  src/plugins/intel_cpu/tools/commit_slider/utils/modes.py
Labels: category: CPU

#18032 [DOCS] Port docs
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
Labels: category: docs

#17867 [CPU][TESTS] Exclude cpplint check for custom test targets
  src/plugins/intel_cpu/tests/functional/specific_tests.cmake
  src/plugins/intel_cpu/tests/functional/target_per_test.cmake
Labels: category: CPU, category: build

#17930 combine test for stream_info_table
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.hpp
  src/plugins/intel_cpu/tests/unit/streams_info_table_test.cpp
Labels: category: CPU

#17937 Preprocessor's resize shared tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/preprocessing/resize_tests.cpp
  src/plugins/template/tests/functional/subgraph_reference/preprocess.cpp
  src/tests/functional/plugin/shared/include/preprocessing/resize_tests.hpp
  src/tests/functional/plugin/shared/src/preprocessing/resize_tests.cpp
Labels: category: IE Tests, category: CPU, category: TEMPLATE

#17976 [GPU] Fix in-order queue synchronization issue related to OCL/OneDNN impls interaction with CPU impls
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/impls/common/wait_for_events.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/network_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/activation_simple_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#18022 Reduce binary size by optimize exceptions
  src/core/include/ngraph/util.hpp
  src/core/include/openvino/core/except.hpp
  src/core/include/openvino/core/type/element_type.hpp
  src/core/include/openvino/op/constant.hpp
  src/core/src/except.cpp
  src/core/src/node.cpp
  src/core/src/op/constant.cpp
  src/core/src/partial_shape.cpp
  src/core/src/util.cpp
  src/core/tests/node_input_output.cpp
  src/core/tests/partial_shape.cpp
Labels: category: Core, category: CPP API

#17447 [CPU] Add and correct tests for int8 LSTM
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/convert_fq_rnn_to_quantized_rnn.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/convert_fq_rnn_to_quantized_rnn.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/recurrent_cell_transformation.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/convert_fq_rnn_to_quantized_rnn.cpp
  src/tests/functional/plugin/cpu/subgraph_tests/src/convert_fq_rnn_to_quantized_rnn.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/recurrent_cell_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/recurrent_cell_function.cpp
Labels: category: IE Tests, category: CPU

#18039 [PT FE]: fix unflatten for list construct sizes
  src/frontends/pytorch/src/op/unflatten.cpp
  tests/layer_tests/pytorch_tests/test_unflatten.py
Labels: category: PyTorch FE

#17819 [Snippets] Added support of MatMuls with transposed inputs
  src/common/snippets/include/snippets/pass/common_optimizations.hpp
  src/common/snippets/include/snippets/pass/explicit_transpose_matmul_inputs.hpp
  src/common/snippets/src/pass/common_optimizations.cpp
  src/common/snippets/src/pass/explicit_transpose_matmul_inputs.cpp
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/common/snippets/tests/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/mha.cpp
  src/tests/functional/plugin/shared/include/snippets/mha.hpp
  src/tests/functional/plugin/shared/src/snippets/mha.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/subgraph_mha.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_mha.cpp
Labels: category: IE Tests, category: CPU

#18046 [DOCS] Build OpenVINO™ Runtime for Linux systems update for 23.0
  docs/dev/build_linux.md
Labels: category: docs

#18050 [DOCS] Fix doc reference link
  docs/install_guides/installing-openvino-docker-linux.md
Labels: category: docs

#18054 [DOCS] Restyling tabs
  docs/_static/css/custom.css
Labels: category: docs

#18040 [PT FE]: support aten::t and inplace tril/triu
  src/frontends/pytorch/src/op/transpose.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_transpose.py
  tests/layer_tests/pytorch_tests/test_trilu.py
Labels: category: PyTorch FE

#18056 [DOCS] Restyling tabs for 23.0
  docs/_static/css/custom.css
Labels: category: docs

#18038 [GPU] fix fp16 x fp16 overflow in NonMaxSuppression
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/non_max_suppression_gpu_ref.cl
Labels: category: GPU

#18059 [DOCS] Restyling tabs fix
  docs/_static/css/custom.css
Labels: category: docs

#17212 update test case for 2 processors situation
  src/plugins/intel_cpu/tests/functional/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
Labels: category: CPU

#18060 Fixed test_load_by_model() test.
  src/bindings/python/tests/test_frontend/test_frontendmanager.py
Labels: category: Python API

#16412 [GPU] Unique-10 operation implementation.
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/unique.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/unique.cpp
  src/plugins/intel_gpu/src/graph/include/unique_inst.hpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/unique.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/unique_count_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/unique_gather_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/unique/unique_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/unique/unique_kernel_ref.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/unique/unique_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/unique/unique_kernel_selector.hpp
  src/plugins/intel_gpu/src/plugin/ops/unique.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/unique.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/unique_gpu_test.cpp
Labels: category: GPU, ExternalPR

#18053 Improved samples build stability
  samples/cpp/build_samples.sh
  samples/cpp/build_samples_msvc.bat
Labels: category: samples

#18000 [TF FE] Support models with v1 checkpoints
  src/frontends/tensorflow/src/checkpoint_utils.cpp
  src/frontends/tensorflow/src/checkpoint_utils.hpp
  src/frontends/tensorflow/src/checkpoint_v1_reader.cpp
  src/frontends/tensorflow/src/checkpoint_v1_reader.hpp
  src/frontends/tensorflow/src/decoder_argdef.cpp
  src/frontends/tensorflow/src/decoder_proto.cpp
  src/frontends/tensorflow/src/decoder_proto.hpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/graph_iterator_proto.hpp
  src/frontends/tensorflow/src/graph_iterator_proto_txt.hpp
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/input_model.hpp
  src/frontends/tensorflow/src/op/variable.cpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow/src/tf_utils.cpp
  src/frontends/tensorflow/src/tf_utils.hpp
  src/frontends/tensorflow/src/variables_index.cpp
  tools/mo/openvino/tools/mo/front/tf/loader.py
  tools/mo/openvino/tools/mo/moc_frontend/pipeline.py
  tools/mo/unit_tests/mo/utils/freeze_placeholder_test.py
  tools/mo/unit_tests/mo/utils/test_mo_model_analysis_actual.py
  tools/mo/unit_tests/moc_tf_fe/conversion_incorrect_models_test.py
  tools/mo/unit_tests/moc_tf_fe/conversion_with_checkpoint_v1_test.py
  tools/mo/unit_tests/moc_tf_fe/test_models/model_with_variable_v1.pbtxt
  tools/mo/unit_tests/moc_tf_fe/utils.py
Labels: category: MO, category: TF FE

#17156 Remove ov::core dependency after CPU CompiledModel constructed
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/exec_network.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
Labels: category: IE Tests, category: CPU, category: TEMPLATE, port to 2022.3

#18068 [GPU] additional checks fixed for fully_connected
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bfyx_ref.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#18042 [PyOV] AsyncInferQueue documentation notice about iteration limit
  docs/OV_Runtime_UG/Python_API_exclusives.md
  src/bindings/python/src/openvino/runtime/ie_api.py
Labels: category: Python API, category: docs

#18015 [PT FE] Print better exception message
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/frontends/common/src/exception.cpp
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/op/cat.cpp
  src/frontends/pytorch/src/op/getitem.cpp
  src/frontends/pytorch/src/pt_framework_node.hpp
  src/frontends/pytorch/src/transforms.cpp
  src/frontends/pytorch/src/transforms/append_list_unpack_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_cat_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_getitem_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_index_put_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_index_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_stack_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/dict_resolver.cpp
  src/frontends/pytorch/src/transforms/einsum_list_construct.cpp
  src/frontends/pytorch/src/transforms/listconstruct_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_list_construct_pad.cpp
  src/frontends/pytorch/src/transforms/prim_list_unpack_replacer.cpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
Labels: category: Core, category: Python API, category: PyTorch FE

#15930 keep Const + DecompressionConvert for CPU
  src/common/low_precision_transformations/tests/mark_dequantization_subgraph_transformation.cpp
  src/common/transformations/include/transformations/common_optimizations/mark_precision_sensitive_shapeof_subgraphs.hpp
  src/common/transformations/include/transformations/disable_decompression_convert_constant_folding.hpp
  src/common/transformations/include/transformations/enable_decompression_convert_constant_folding.hpp
  src/common/transformations/include/transformations/fp16_compression/align_mixed_fp32_fp16_types.hpp
  src/common/transformations/include/transformations/fp16_compression/convert_compression_only_to_legacy.hpp
  src/common/transformations/include/transformations/fp16_compression/mark_decompression_convert_constant_folding.hpp
  src/common/transformations/include/transformations/fp16_compression/mark_subgraphs_to_keep_in_mixed_precision.hpp
  src/common/transformations/include/transformations/rt_info/is_shape_subgraph.hpp
  src/common/transformations/include/transformations/rt_info/keep_fp16_const.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/common_optimizations/mark_precision_sensitive_shapeof_subgraphs.cpp
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/src/transformations/disable_decompression_convert_constant_folding.cpp
  src/common/transformations/src/transformations/enable_decompression_convert_constant_folding.cpp
  src/common/transformations/src/transformations/fp16_compression/align_mixed_fp32_fp16_types.cpp
  src/common/transformations/src/transformations/fp16_compression/convert_compression_only_to_legacy.cpp
  src/common/transformations/src/transformations/fp16_compression/mark_decompression_convert_constant_folding.cpp
  src/common/transformations/src/transformations/fp16_compression/mark_subgraphs_to_keep_in_mixed_precision.cpp
  src/common/transformations/src/transformations/rt_info/is_shape_sugraph.cpp
  src/common/transformations/src/transformations/rt_info/keep_fp16_const.cpp
  src/common/transformations/tests/common_optimizations/align_mixed_fp32_fp16_types_test.cpp
  src/common/transformations/tests/common_optimizations/convert_compression_only_to_legacy_test.cpp
  src/common/transformations/tests/common_optimizations/mark_subgraph_to_keep_in_mixed_precision_test.cpp
  src/core/src/bound_evaluate.cpp
  src/plugins/intel_cpu/src/dnnl_extension_utils.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_gna/src/gna_transformations_pipeline.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/template/src/plugin.cpp
Labels: category: Core, category: GPU, category: CPU, category: GNA, category: transformations, category: LP transformations, category: TEMPLATE

#17997 [PT FE] Improve operation naming
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/frontends/pytorch/src/input_model.cpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/place.cpp
  src/frontends/pytorch/src/transforms/append_list_unpack_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_cat_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_getitem_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_index_put_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_index_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_stack_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/einsum_list_construct.cpp
  src/frontends/pytorch/src/transforms/index_loop_getitem_replacer.cpp
  src/frontends/pytorch/src/transforms/listconstruct_replacer.cpp
  src/frontends/pytorch/src/transforms/min_max_prim_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_list_construct_pad.cpp
  src/frontends/pytorch/src/transforms/prim_list_unpack_replacer.cpp
  src/frontends/pytorch/src/transforms/string_equality_replacer.cpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/translate_session.hpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
Labels: category: Python API, category: PyTorch FE

#17754 [DOCS] PORT Add examples of using named outputs in extensions (#17622)
  docs/Extensibility_UG/frontend_extensions.md
  docs/snippets/ov_extensions.cpp
Labels: category: docs

#18082 [PT FE] Do not freeze for quantized models
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/op/getitem.cpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_convnd.py
Labels: category: Python API, category: PyTorch FE

#17553 [GPU] Minor layout optimizer and program_node refactoring
  src/plugins/intel_gpu/src/graph/concatenation.cpp
  src/plugins/intel_gpu/src/graph/eltwise.cpp
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing_through.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/quantize.cpp
  src/plugins/intel_gpu/src/graph/include/concatenation_inst.h
  src/plugins/intel_gpu/src/graph/include/condition_inst.h
  src/plugins/intel_gpu/src/graph/include/convert_color_inst.h
  src/plugins/intel_gpu/src/graph/include/cum_sum_inst.h
  src/plugins/intel_gpu/src/graph/include/eltwise_inst.h
  src/plugins/intel_gpu/src/graph/include/embedding_bag_inst.h
  src/plugins/intel_gpu/src/graph/include/gemm_inst.h
  src/plugins/intel_gpu/src/graph/include/layout_optimizer.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/include/quantize_inst.h
  src/plugins/intel_gpu/src/graph/include/reorder_inst.h
  src/plugins/intel_gpu/src/graph/include/select_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/select.cpp
  src/plugins/intel_gpu/tests/unit/passes/handle_reshape.cpp
Labels: category: GPU

#18089 [PT FE] Fix automatic scripting for quantized models
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
Labels: category: Python API, category: PyTorch FE

#18097 [C API] Fix str copy to char* issue in debug & release mode,
  src/bindings/c/src/ov_core.cpp
Labels: bug, category: C API

#18101 [DOCS] CMake options description in build guide for master
  docs/dev/build_linux.md
Labels: category: docs

#18104 [DOCS] CMake options description in build guide for 23.0
  docs/dev/build_linux.md
Labels: category: docs

#18085 [DOCS] Add CPU snippet
  docs/OV_Runtime_UG/supported_plugins/CPU.md
Labels: category: docs
