Repository openvinotoolkit/openvino, pull requests merged in 2023-11, with the labels that each got.

#20744 Fixed issue with cat in fx backend
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/op_support.py
  src/frontends/pytorch/src/op/batch_norm.cpp
  src/frontends/pytorch/src/op/cat.cpp
  src/frontends/pytorch/src/op_table.cpp
Labels: category: Python API, category: PyTorch FE, Code Freeze

#20786 [CI] [GHA] Fix `openvino.test_utils` imports for Mac and Win Python unittests
  .github/actions/setup_python/action.yml
  .github/workflows/linux.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#19733 [CPU] Empty tensor used with a custom op leads to CPU plugin exception.
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/reference.cpp
  src/plugins/intel_cpu/src/nodes/reference.h
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/custom_op_scalar.cpp
Labels: category: CPU

#20785 Handle Reshape's special zero in SimplifySecondInputOfReshape
  src/common/transformations/src/transformations/common_optimizations/simplify_shape_of_sub_graph.cpp
  src/common/transformations/tests/common_optimizations/simplify_second_input_of_reshape_test.cpp
Labels: category: transformations

#20810 [CI] [GHA] Remove full cloning of the OV repository in the Python unittests job in the Win and Mac workflows
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  tests/layer_tests/pytorch_tests/test_loop.py
  tests/layer_tests/tensorflow_tests/test_tf_NonMaxSupression.py
Labels: category: CI, category: TF FE, github_actions, category: PyTorch FE

#20683 [CPU]Fix avx2 gather of bfloat16
  src/plugins/intel_cpu/src/nodes/kernels/x64/gather_uni_kernel.cpp
Labels: category: CPU

#20802 [GPU] Refactor KV cache test
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
Labels: category: GPU

#20807 [CPU] Fixed port mismatch in Eltwise fusion graph optimization
  src/plugins/intel_cpu/src/graph_optimizer.cpp
Labels: category: CPU, Code Freeze

#20782 [CPU] Fixed port mismatch in Eltwise fusion graph optimization
  src/plugins/intel_cpu/src/graph_optimizer.cpp
Labels: category: CPU, Code Freeze

#20825 [TF FE] Fix conversion of FILM in keras.Model format
  src/frontends/tensorflow/src/input_model.hpp
  src/frontends/tensorflow/src/op/partitioned_call.cpp
  src/frontends/tensorflow/src/tf_utils.cpp
  src/frontends/tensorflow/src/tf_utils.hpp
  src/frontends/tensorflow/src/translate_session.cpp
  tests/model_hub_tests/tf_hub_tests/test_tf_hub_api_notebooks.py
Labels: category: TF FE

#20794 Remove WA with double loading of FE in OVC.
  tools/ovc/openvino/tools/ovc/convert_impl.py
Labels: category: MO, category: tools

#20806 Fixed issue with cat in fx backend
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/op_support.py
  src/frontends/pytorch/src/op/batch_norm.cpp
  src/frontends/pytorch/src/op/cat.cpp
  src/frontends/pytorch/src/op_table.cpp
Labels: category: Python API, category: PyTorch FE, Code Freeze

#20830 [core]Migrate Floor operator to new API
  src/core/include/openvino/op/floor.hpp
  src/core/reference/include/openvino/reference/floor.hpp
  src/core/src/op/floor.cpp
Labels: category: Core, category: CPP API

#20834 [DOC] Update list of TF formats imported from memory.
  docs/articles_en/openvino_workflow/model_preparation/Convert_Model_From_TensorFlow.md
Labels: category: docs

#20820 Handle Reshape's special zero in SimplifySecondInputOfReshape (#20785)
  src/common/transformations/src/transformations/common_optimizations/simplify_shape_of_sub_graph.cpp
  src/common/transformations/tests/common_optimizations/simplify_second_input_of_reshape_test.cpp
Labels: category: transformations, Code Freeze

#20843 [DOC] Update list of TF formats imported from memory.
  docs/articles_en/openvino_workflow/model_preparation/Convert_Model_From_TensorFlow.md
Labels: category: docs

#20804 [CPU] Add FP16 support to MatrixNms
  src/plugins/intel_cpu/src/nodes/matrix_nms.cpp
  src/plugins/intel_cpu/src/nodes/multiclass_nms.cpp
Labels: category: CPU

#20831 Api 2.0/drop host tensor support in ta
  src/core/shape_inference/include/tensor_data_accessor.hpp
  src/core/shape_inference/include/utils.hpp
  src/core/shape_inference/src/tensor_data_accessor.cpp
  src/core/tests/type_prop/eye.cpp
  src/tests/functional/shared_test_classes/src/subgraph/mul_conv_fusion.cpp
Labels: category: Core, category: IE Tests

#20824 [GPU] Refactor
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/region_yolo.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/reorg_yolo.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/reverse_sequence.cpp
Labels: category: GPU

#20805 [SPEC] Multinomial spec update
  docs/articles_en/documentation/openvino_ir/operation_sets/operations_specifications/generation/Multinomial_13.md
Labels: category: docs

#20836 [core] Migrate HSigmoid operator to new API
  src/core/include/openvino/op/hsigmoid.hpp
  src/core/src/op/hsigmoid.cpp
Labels: category: Core, category: CPP API

#20844 Extend sync benchmark with device CLI parameter
  docs/articles_en/learn_openvino/openvino_samples/cpp_sample_sync_benchmark.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_sync_benchmark.md
  samples/cpp/benchmark/sync_benchmark/main.cpp
  samples/python/benchmark/sync_benchmark/sync_benchmark.py
Labels: category: samples, category: docs

#20816 Extend throughput benchmark with device CLI parameter
  docs/articles_en/learn_openvino/openvino_samples/cpp_sample_throughput_benchmark.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_throughput_benchmark.md
  samples/cpp/benchmark/throughput_benchmark/main.cpp
  samples/python/benchmark/throughput_benchmark/throughput_benchmark.py
Labels: category: samples, category: docs

#20766 [core] Migrate Divide operator to new API
  src/core/dev_api/validation_util.hpp
  src/core/include/openvino/op/divide.hpp
  src/core/src/op/divide.cpp
  src/core/src/validation_util.cpp
Labels: category: Core, category: CPP API

#20823 Fix GPTQ model conversion after two breaking changes
  src/frontends/pytorch/src/transforms/u4_block_repack.cpp
  src/frontends/pytorch/src/utils_quantize.cpp
Labels: category: PyTorch FE

#20833 [core] Migrate Gelu operator to new API
  src/core/include/openvino/op/gelu.hpp
  src/core/src/op/gelu.cpp
Labels: category: Core, category: CPP API

#20864 Temporarily restrict flake8_builtins version
  src/bindings/python/requirements_test.txt
Labels: category: Python API, category: dependency_changes

#20859 [TF FE] Removed logic of building example input by user shape in TF decoder.
  src/bindings/python/src/openvino/frontend/tensorflow/utils.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_tf.py
  tests/layer_tests/ovc_python_api_tests/test_tf.py
Labels: category: Python API

#20863 [CI] [GHA] Add missing `setup-python` action checkout; use custom action across all pipelines
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/windows.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#20862 Template plugin folder to API2.0
  src/plugins/template/backend/ops/convert.cpp
  src/plugins/template/tests/functional/op_reference/convert_color_i420.cpp
  src/plugins/template/tests/functional/op_reference/convert_color_nv12.cpp
  src/plugins/template/tests/functional/op_reference/embedding_segments_sum.cpp
  src/plugins/template/tests/functional/op_reference/embeddingbag_offsetssum.cpp
  src/plugins/template/tests/functional/op_reference/embeddingbag_packedsum.cpp
  src/plugins/template/tests/functional/op_reference/exp.cpp
  src/plugins/template/tests/functional/op_reference/gelu.cpp
  src/plugins/template/tests/functional/op_reference/hswish.cpp
  src/plugins/template/tests/functional/op_reference/if.cpp
  src/plugins/template/tests/functional/op_reference/log_softmax.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/plugins/template/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  src/plugins/template/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  src/plugins/template/tests/functional/shared_tests_instances/single_layer_tests/split.cpp
  src/plugins/template/tests/functional/subgraph_reference/preprocess.cpp
Labels: category: TEMPLATE

#20829 [core]Migrate FloorMod operator to new API
  src/core/include/openvino/op/floor_mod.hpp
  src/core/reference/include/openvino/reference/floor_mod.hpp
  src/core/src/op/floor_mod.cpp
Labels: category: Core, category: CPP API

#20852 [core]Migrate GridSample operator to new API
  src/core/include/openvino/op/grid_sample.hpp
  src/core/reference/include/openvino/reference/grid_sample.hpp
  src/core/src/op/grid_sample.cpp
Labels: category: Core, category: CPP API

#20685 [DOCS] Install Guide Update for 23.1
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-brew.md
  docs/install_guides/installing-openvino-conan.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/installing-openvino-vcpkg.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#20885 [GHA] Aligned Linux build timeouts
  .github/workflows/android_arm64.yml
  .github/workflows/linux_riscv.yml
Labels: category: CI, github_actions

#20867 [core]Migrate Erf operator to new API
  src/core/include/openvino/op/erf.hpp
  src/core/reference/include/openvino/reference/erf.hpp
  src/core/src/op/erf.cpp
Labels: category: Core, category: CPP API

#20860 [TF FE] Support Complex Tensors
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/decoder_proto.cpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/include/helper_ops/complex_type_mark.hpp
  src/frontends/tensorflow_common/include/utils.hpp
  src/frontends/tensorflow_common/src/op/complex.cpp
  src/frontends/tensorflow_common/src/op/complex_abs.cpp
  src/frontends/tensorflow_common/src/op/fft.cpp
  src/frontends/tensorflow_common/src/op/ifft.cpp
  src/frontends/tensorflow_common/src/op/irfft.cpp
  src/frontends/tensorflow_common/src/op/real_imag.cpp
  src/frontends/tensorflow_common/src/op/rfft.cpp
  src/frontends/tensorflow_common/src/op/roll.cpp
  src/frontends/tensorflow_common/src/utils.cpp
  tests/layer_tests/tensorflow_tests/test_tf_ComplexFFT.py
  tools/mo/openvino/tools/mo/convert_impl.py
Labels: category: MO, category: docs, category: TF FE, category: TFL FE

#20887 [DOCS] improving the "conversion" section
  docs/_static/images/ov_workflow_diagram_convenience.svg
  docs/_static/images/ov_workflow_diagram_performance.svg
  docs/articles_en/openvino_workflow.md
  docs/articles_en/openvino_workflow/model_preparation.md
Labels: category: docs

#20868 [MO] Fixed MO fallback unit test.
  tools/mo/unit_tests/mo/utils/mo_fallback_test_actual.py
Labels: category: MO

#20905 [TF FE] Refine tests for complex tensors support
  tests/layer_tests/tensorflow_tests/test_tf_ComplexFFT.py
  tests/model_hub_tests/tf_hub_tests/precommit_models
Labels: category: TF FE

#20894 [core] Migrate Softmax operator to new API
  src/core/include/openvino/op/softmax.hpp
  src/core/src/op/softmax.cpp
Labels: category: Core, category: CPP API

#20875 [core]Migrate Sign operator to new API
  src/core/include/openvino/op/sign.hpp
  src/core/reference/include/openvino/reference/sign.hpp
  src/core/src/op/sign.cpp
Labels: category: Core, category: CPP API

#20857 [core]Migrate MatMul operator to new API
  src/core/include/openvino/op/matmul.hpp
  src/core/src/op/matmul.cpp
Labels: category: Core, category: CPP API

#20913 Updated labeler config
  .github/labeler.yml
Labels: category: CI

#20874 [core]Migrate ReLU operator to new API
  src/core/include/openvino/op/relu.hpp
  src/core/reference/include/openvino/reference/relu.hpp
  src/core/src/op/relu.cpp
Labels: category: Core, category: CPP API

#20795 [nGraph Transformations] NMS convert precisions - change sequence of checks
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/tests/utils/convert_precision.cpp
Labels: category: transformations

#20861 [CPU] Increase RandomUniform mean and variance thresholds
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/random_uniform.hpp
Labels: category: CPU

#20870 [PyOV] ngraph linter check update
  src/bindings/python/requirements_test.txt
  src/bindings/python/setup.cfg
Labels: bug, category: Python API, category: dependency_changes

#20803 Fix constant folding in MulMulMulFusion
  src/common/transformations/src/transformations/common_optimizations/lin_op_sequence_fusion.cpp
  src/common/transformations/tests/common_optimizations/lin_op_sequence_fusion_test.cpp
  src/core/src/op/multiply.cpp
  src/plugins/template/tests/functional/op_reference/multiply.cpp
Labels: category: Core, category: transformations, category: TEMPLATE

#20888 Use custom labeler to label changes not matching any pattern
  .github/workflows/labeler.yml
Labels: category: CI, github_actions

#20900 [core] Migrate Softplus operator to new API
  src/core/include/openvino/op/softplus.hpp
  src/core/src/op/softplus.cpp
Labels: category: Core, category: CPP API

#20892 [core]Migrate Mish operator to new API
  src/core/include/openvino/op/mish.hpp
  src/core/reference/include/openvino/reference/mish.hpp
  src/core/src/op/mish.cpp
Labels: category: Core, category: CPP API

#20893 [core]Migrate Exp operator to new API
  src/core/include/openvino/op/exp.hpp
  src/core/reference/include/openvino/reference/exp.hpp
  src/core/src/op/exp.cpp
Labels: category: Core, category: CPP API

#20849 Remove legacy API from FEs (except ONNX)
  src/frontends/onnx/tests/model_support_tests.cpp
  src/frontends/paddle/src/frontend.cpp
  src/frontends/paddle/src/internal/op/conditional_block.cpp
  src/frontends/paddle/src/internal/op/tensorarray_write.cpp
  src/frontends/paddle/src/internal/op/while.cpp
  src/frontends/paddle/src/internal/pass/transform_fakequantize.cpp
  src/frontends/paddle/src/internal/pass/transform_if.cpp
  src/frontends/paddle/src/internal/pass/transform_tensorarray.cpp
  src/frontends/paddle/src/internal/pass/transform_while.cpp
  src/frontends/paddle/src/op/reduce_ops.hpp
  src/frontends/paddle/src/op/softshrink.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_embedding.py
  src/frontends/pytorch/src/transforms/softmax_reshape_elimination.cpp
  src/frontends/tests/frontend/shared/gtest_main_manifest/main.cpp
Labels: category: IE Tests, category: ONNX FE, category: PDPD FE, category: PyTorch FE

#20881 [DOCS] Fixing link in Get Started article
  docs/articles_en/get_started.md
Labels: category: docs

#20931 [DOCS] Fixing link in Get Started article for 23.2
  docs/articles_en/get_started.md
Labels: category: docs

#20934 [DOCS] Fixing formatting issues in Install OpenVINO from YUM
  docs/articles_en/get started/installing-openvino-overview/installing-openvino-linux-header/installing-openvino-yum.md
Labels: category: docs

#20936 [DOCS] Fixing OS list in System Requirements for YUM - for 23.2
  docs/articles_en/get started/installing-openvino-overview/installing-openvino-linux-header/installing-openvino-yum.md
Labels: category: docs

#20869 Support dynamic tensor_iterator
  src/plugins/intel_gpu/include/intel_gpu/primitives/loop.hpp
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/include/loop_inst.h
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/plugin/ops/loop.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/loop_gpu_test.cpp
Labels: category: GPU, category: build

#20932 [DOCS] Fixing link in Get Started article for 23.1
  docs/get_started.md
Labels: category: docs

#20812 [DOC]: Added INT4 weight compression description
  docs/articles_en/openvino_workflow/gen_ai.md
  docs/articles_en/openvino_workflow/model_optimization_guide/weight_compression.md
  docs/optimization_guide/nncf/code/weight_compression_openvino.py
Labels: category: docs

#20933 Disable warnings about API 1.0 in GNA, Python API 1.0
  src/bindings/python/src/compatibility/openvino/CMakeLists.txt
  src/plugins/intel_gna/CMakeLists.txt
Labels: category: GNA, category: build, category: Python API

#20906 typo fix
  src/bindings/python/src/compatibility/openvino/inference_engine/__init__.py
Labels: category: Python API, ExternalPR

#20938 [GPU] Refactor
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/minimum_maximum.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/mvn.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/normalize_l2.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/pad.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/prior_box.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/prior_box_clustered.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/roi_align.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/scatter_nd_update.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/scatter_update.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/shape_of.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/shuffle_channels.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/space_to_depth.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/split.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/tile.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/transpose.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/variadic_split.cpp
Labels: category: GPU

#20895 [core]Migrate FakeQuantize operator to new API
  src/core/include/openvino/op/fake_quantize.hpp
  src/core/reference/include/openvino/reference/fake_quantize.hpp
  src/core/src/op/fake_quantize.cpp
Labels: category: Core, category: CPP API

#20853 [core]Migrate Multiply operator to new API
  src/core/include/openvino/op/multiply.hpp
  src/core/reference/include/openvino/reference/multiply.hpp
  src/core/src/op/multiply.cpp
Labels: category: Core, category: CPP API

#20772 Refactor GenerateProposalsLayerTest, GridSampleLayerTest
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/generate_proposals.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/grid_sample.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/generate_proposals.hpp
  src/tests/functional/plugin/shared/include/single_op_tests/grid_sample.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/generate_proposals.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/grid_sample.hpp
  src/tests/functional/shared_test_classes/src/single_op/generate_proposals.cpp
  src/tests/functional/shared_test_classes/src/single_op/grid_sample.cpp
Labels: category: IE Tests, category: GPU, category: CPU

#20904 [DOCS] improving the "conversion" section port 23.2
  docs/_static/images/ov_workflow_diagram_convenience.svg
  docs/_static/images/ov_workflow_diagram_performance.svg
  docs/articles_en/openvino_workflow.md
  docs/articles_en/openvino_workflow/model_preparation.md
Labels: category: docs

#20914 Refactor MemoryLayerTest
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/memory.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/memory.h
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/memory.hpp
  src/tests/functional/shared_test_classes/src/single_op/memory.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_enums.hpp
  src/tests/test_utils/common_test_utils/src/test_enums.cpp
Labels: category: IE Tests, category: CPU

#20955 [CONFORMANCE] Partial cherry-pick of PR20756 to exclude from model list for conformance
  src/tests/test_utils/functional_test_utils/layer_tests_summary/conformance_helper_tools/find_models_for_subgraphs_dumper.py
Labels: conformance

#20855 [GPU] Fix cum_sum_partial_sum implementation for dimensions >=16
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/cum_sum_partial_sum.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/cum_sum/cum_sum_kernel_partial_sum.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/cum_sum/cum_sum_kernel_ref.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/cum_sum.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/cum_sum_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/permute_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/resample_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.h
Labels: category: GPU, ExternalPR

#20952 [DOCS] Small fixes in articles for 23.2
  docs/articles_en/openvino_workflow/deployment_intro.md
  docs/articles_en/openvino_workflow/model_optimization_guide/tmo_introduction.md
Labels: category: docs

#20947 [DOCS] Small fixes in articles for master
  docs/articles_en/openvino_workflow/deployment_intro.md
  docs/articles_en/openvino_workflow/model_optimization_guide/tmo_introduction.md
Labels: category: docs

#20950 [DOCS] Small fixes in articles for 23.1
  docs/OV_Runtime_UG/deployment/deployment_intro.md
  docs/optimization_guide/nncf/introduction.md
Labels: category: docs

#20951 Fixed version detection without git
  cmake/developer_package/version.cmake
  src/core/include/openvino/core/version.hpp
  src/inference/include/ie/ie_version.hpp
Labels: category: inference, category: Core, category: build, category: CPP API

#20959 [DOCS] Added INT4 weight compression description for 23.2
  docs/articles_en/openvino_workflow/gen_ai.md
  docs/articles_en/openvino_workflow/model_optimization_guide/weight_compression.md
  docs/optimization_guide/nncf/code/weight_compression_openvino.py
Labels: category: docs

#20924 [conformance] Skip empty test cache error
  src/tests/test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: category: IE Tests

#20918 FuseU4WeightsAndZeroPoint tests compilation fix
  src/common/transformations/tests/common_optimizations/convert_u4_weights_zero_point_to_scalar.cpp
Labels: category: transformations

#20954 [GHA] Fixed timeouts
  .github/workflows/fedora.yml
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#20962 [CI] [GHA] Make Python cache space displaying optional
  .github/actions/setup_python/action.yml
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#20966 Add separate label for docs snippets
  .github/labeler.yml
Labels: category: CI

#20492 Scaled dot product attention
  docs/articles_en/documentation/openvino_ir/operation_sets/available_opsets/opset13.md
  docs/articles_en/documentation/openvino_ir/operation_sets/operations_specifications.md
  docs/articles_en/documentation/openvino_ir/operation_sets/operations_specifications/sequence/ScaledDotProductAttention.md
  src/bindings/python/src/openvino/runtime/opset13/__init__.py
  src/bindings/python/src/openvino/runtime/opset13/ops.py
  src/common/transformations/include/transformations/op_conversions/scaled_dot_product_attention_decomposition.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/op_conversions/scaled_dot_product_attention_decomposition.cpp
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/op/scaled_dot_product_attention.hpp
  src/core/include/openvino/opsets/opset13_tbl.hpp
  src/core/src/op/scaled_dot_product_attention.cpp
  src/core/tests/opset.cpp
  src/core/tests/type_prop/scaled_dot_product_attention.cpp
  src/frontends/pytorch/src/op/scaled_dot_product_attention.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
  tests/layer_tests/pytorch_tests/test_scaled_dot_product_attention.py
Labels: category: Core, category: IE Tests, category: Python API, category: transformations, category: docs, category: CPP API, category: PyTorch FE

#20968 [GPU] Decompose test combination to reduce test time
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/extract_image_patches.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/rnn_cell.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/detection_output.cpp
Labels: category: GPU

#20819 Ngraph helpers/builders cleaning
  src/common/transformations/tests/common_optimizations/transpose_sinking_test.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_mat_mul.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/depth_to_space.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/roll.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_convolution_backprop_data.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution_backprop_data.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/deth_to_space.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/select.cpp
  src/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  src/tests/functional/shared_test_classes/src/single_layer/depth_to_space.cpp
  src/tests/functional/shared_test_classes/src/single_layer/roll.cpp
  src/tests/functional/shared_test_classes/src/single_layer/select.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_convolution_backprop_data.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_group_convolution.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_group_convolution_backprop_data.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_mat_mul.cpp
  src/tests/ov_helpers/ov_models/include/ov_models/builders.hpp
  src/tests/ov_helpers/ov_models/include/ov_models/utils/ov_helpers.hpp
  src/tests/ov_helpers/ov_models/src/depth_to_space.cpp
  src/tests/ov_helpers/ov_models/src/roll.cpp
  src/tests/ov_helpers/ov_models/src/utils/ov_helpers.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_enums.hpp
  src/tests/test_utils/common_test_utils/src/test_enums.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: transformations

#20963 Refactor StaticShapeLoopLayerTest
  src/plugins/intel_gpu/tests/functional/single_layer_tests/loop.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/loop.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/loop.hpp
  src/tests/functional/shared_test_classes/src/single_op/loop.cpp
Labels: category: IE Tests, category: GPU

#20958 [core] Migrate SoftSign operator to new API
  src/core/include/openvino/op/softsign.hpp
  src/core/reference/include/openvino/reference/softsign.hpp
  src/core/src/op/softsign.cpp
Labels: category: Core, category: CPP API

#19825 Smart CI POC
  .github/actions/smart-ci/action.yml
  .github/actions/smart-ci/components_schema.yml
  .github/actions/smart-ci/requirements.txt
  .github/actions/smart-ci/smart_ci.py
  .github/actions/smart-ci/smart_ci_test.py
  .github/components.yml
  .github/workflows/linux.yml
  .gitignore
Labels: category: CI, WIP, category: dependency_changes, github_actions, no-match-files

#20965 [CI]Fix Ubuntu20 build error on ReLU operator
  src/core/reference/include/openvino/reference/relu.hpp
Labels: category: Core

#20980 Fixes for smart CI
  .github/actions/smart-ci/smart_ci.py
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#20943 [GPU] print datashape of input for benchmark_app
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#20828 [GPU] clean up for extend pad/stride/dilation
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
Labels: category: GPU

#20999 Added more smart CI conditions
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#20712 [GHA] Check OpImplCheck conformance for template plugin (to make sure that all functions are checked by conformance)
  .github/workflows/windows.yml
Labels: category: CI, do_not_merge, github_actions

#20760 Migrate Constant operator to new API
  src/core/include/openvino/op/constant.hpp
  src/core/reference/include/openvino/reference/utils/type_util.hpp
  src/core/src/op/constant.cpp
  src/core/tests/constant.cpp
Labels: category: Core, category: CPP API

#21014 [GHA] Make conformance wait for Smart CI step
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#20994 [TF FE] Fix TF1 OD SSD PPN model conversion
  src/frontends/tensorflow/src/transformations/switch_merge_resolve.cpp
  tests/layer_tests/tensorflow_tests/test_tf_SwitchMerge.py
Labels: category: TF FE

#21010 [DOCS] Add content to about ov page
  docs/articles_en/about_openvino.md
Labels: category: docs

#20989 [PT FE] Optimize reverseprop in pytorch frontend
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/helper_ops/gather_assign.hpp
  src/frontends/pytorch/src/helper_ops/internal_op.hpp
  src/frontends/pytorch/src/helper_ops/slice_assign.hpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/transforms/reverseprop_resolver.cpp
  src/frontends/pytorch/src/transforms/reverseprop_resolver.hpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/translate_session.hpp
Labels: category: PyTorch FE

#20935 Support LSTMSequence with -1 sequence length
  src/plugins/intel_gpu/src/graph/impls/ocl/lstm_elt.cpp
  src/plugins/intel_gpu/src/graph/include/lstm_elt_inst.h
  src/plugins/intel_gpu/src/graph/lstm_elt.cpp
  src/plugins/intel_gpu/src/plugin/ops/rnn.cpp
  src/plugins/intel_gpu/src/plugin/program_builder.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/tensor_iterator.cpp
Labels: category: GPU

#21019 [GPU] Make ShapePredictor instance unique for each InferRequest instead of the cldnn::network
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/sync_infer_request.hpp
  src/plugins/intel_gpu/src/graph/impls/common/condition.cpp
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
Labels: category: GPU

#20970 [CPU] Add deprecation message to extension API
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/plugin.h
Labels: category: CPU

#20990 [CI]Fix compile warning regarding ABI changes in GNA plugin transormations
  src/plugins/intel_gna/src/transformations/pwl_approximation.hpp
Labels: category: GNA

#20902 Input and output order Keras tests.
  tests/layer_tests/ovc_python_api_tests/test_tf_output_order.py
Labels: category: MO

#20967 [PyOV] Support Constant creation from empty numpy arrays
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/tests/test_graph/test_basic.py
  src/core/src/op/constant.cpp
Labels: category: Core, category: Python API

#21022 FuseU4WeightsAndZeroPoint tests compilation fix
  src/common/transformations/tests/common_optimizations/convert_u4_weights_zero_point_to_scalar.cpp
Labels: category: transformations

#21011 [Inference] Return state ptr by value
  src/inference/dev_api/openvino/runtime/ivariable_state.hpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/ivariable_state.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/variable_state.hpp
  src/plugins/intel_gpu/src/plugin/variable_state.cpp
  src/tests/test_utils/unit_test_utils/mocks/openvino/runtime/mock_ivariable_state.hpp
Labels: category: inference, category: IE Tests, category: GPU

#20964 [PyOV] Support Tensor creation from empty numpy arrays
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/tests/test_runtime/test_tensor.py
Labels: category: Python API

#21025 [TF FE] Refactor ops translators to check complex type and speed-up compilation
  src/frontends/tensorflow_common/src/op/addN.cpp
  src/frontends/tensorflow_common/src/op/arg_min_max.cpp
  src/frontends/tensorflow_common/src/op/binary_op.cpp
  src/frontends/tensorflow_common/src/op/cast.cpp
  src/frontends/tensorflow_common/src/op/const.cpp
  src/frontends/tensorflow_common/src/op/einsum.cpp
  src/frontends/tensorflow_common/src/op/elu.cpp
  src/frontends/tensorflow_common/src/op/fill.cpp
  src/frontends/tensorflow_common/src/op/matmul.cpp
  src/frontends/tensorflow_common/src/op/placeholder.cpp
  src/frontends/tensorflow_common/src/op/relu_6.cpp
  src/frontends/tensorflow_common/src/op/round.cpp
  src/frontends/tensorflow_common/src/op/square.cpp
  src/frontends/tensorflow_common/src/op/unary_op.cpp
  src/frontends/tensorflow_common/src/utils.cpp
Labels: category: TF FE, category: TFL FE

#20917 [core] Migrate Log operator to new API
  src/core/include/openvino/op/log.hpp
  src/core/reference/include/openvino/reference/log.hpp
  src/core/src/op/log.cpp
Labels: category: Core, category: CPP API

#21016 benchmark_app: `is_file`->`is_file()`
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
Labels: category: tools, port to 2022.3

#20991 [DOCS] Updating links for master
  README.md
  docs/articles_en/about_openvino/performance_benchmarks.md
  docs/articles_en/about_openvino/prerelease_information.md
  docs/articles_en/documentation/openvino_extensibility/openvino_plugin_library.md
  docs/articles_en/documentation/openvino_extensibility/openvino_plugin_library/dev_api_references.md
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_RetinaNet_From_Tensorflow.md
  docs/articles_en/get started/installing-openvino-overview/installing-openvino-shared/installing-openvino-pip.md
  docs/articles_en/learn_openvino/openvino_samples/c_sample_hello_nv12_input_classification.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_automatic_speech_recognition.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_hello_classification.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_hello_query_device.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_hello_reshape_ssd.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_image_classification_async.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_model_creation.md
  docs/articles_en/openvino_workflow/openvino_intro/dldt_deployment_optimization_guide/dldt_deployment_optimization_common.md
  docs/articles_en/openvino_workflow/openvino_intro/dldt_deployment_optimization_guide/preprocessing_overview/preprocessing_usecase_save.md
  docs/articles_en/openvino_workflow/openvino_intro/integrate_with_your_application.md
  docs/articles_en/openvino_workflow/openvino_intro/ov_dynamic_shapes.md
  docs/dev/cmake_options_for_custom_compilation.md
  docs/dev/debug_capabilities.md
  docs/home.rst
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
  src/README.md
  src/bindings/c/README.md
  src/bindings/c/docs/how_to_wrap_openvino_interfaces_with_c.md
  src/bindings/c/docs/how_to_wrap_openvino_objects_with_c.md
  src/bindings/c/docs/how_to_write_unit_test.md
  src/bindings/python/README.md
  src/core/README.md
  src/core/docs/api_details.md
  src/core/docs/debug_capabilities.md
  src/frontends/paddle/README.md
  src/frontends/pytorch/README.md
  src/frontends/tensorflow/README.md
  src/inference/docs/api_details.md
  src/plugins/auto/README.md
  src/plugins/auto/docs/architecture.md
  src/plugins/auto/docs/integration.md
  src/plugins/intel_cpu/docs/fake_quantize.md
  src/plugins/intel_cpu/docs/internal_cpu_plugin_optimization.md
  src/plugins/intel_gpu/docs/gpu_plugin_driver_troubleshooting.md
  src/plugins/intel_gpu/docs/source_code_structure.md
  src/plugins/proxy/README.md
  src/plugins/template/README.md
  tools/pot/README.md
Labels: category: inference, category: Core, category: GPU, category: CPU, category: Python API, category: C API, category: docs, category: TEMPLATE, category: AUTO, category: PDPD FE, category: POT, category: TF FE, category: PyTorch FE

#20993 [DOCS] Updating links for 23.2
  README.md
  docs/articles_en/about_openvino/performance_benchmarks.md
  docs/articles_en/about_openvino/prerelease_information.md
  docs/articles_en/documentation/openvino_extensibility/openvino_plugin_library.md
  docs/articles_en/documentation/openvino_extensibility/openvino_plugin_library/dev_api_references.md
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_RetinaNet_From_Tensorflow.md
  docs/articles_en/get started/installing-openvino-overview/installing-openvino-shared/installing-openvino-pip.md
  docs/articles_en/learn_openvino/openvino_samples/c_sample_hello_nv12_input_classification.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_automatic_speech_recognition.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_hello_classification.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_hello_query_device.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_hello_reshape_ssd.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_image_classification_async.md
  docs/articles_en/learn_openvino/openvino_samples/python_sample_model_creation.md
  docs/articles_en/openvino_workflow/openvino_intro/dldt_deployment_optimization_guide/dldt_deployment_optimization_common.md
  docs/articles_en/openvino_workflow/openvino_intro/dldt_deployment_optimization_guide/preprocessing_overview/preprocessing_usecase_save.md
  docs/articles_en/openvino_workflow/openvino_intro/integrate_with_your_application.md
  docs/articles_en/openvino_workflow/openvino_intro/ov_dynamic_shapes.md
  docs/dev/cmake_options_for_custom_compilation.md
  docs/dev/debug_capabilities.md
  docs/home.rst
  src/README.md
  src/bindings/c/README.md
  src/bindings/c/docs/how_to_wrap_openvino_interfaces_with_c.md
  src/bindings/c/docs/how_to_wrap_openvino_objects_with_c.md
  src/bindings/c/docs/how_to_write_unit_test.md
  src/bindings/python/README.md
  src/core/README.md
  src/core/docs/api_details.md
  src/core/docs/debug_capabilities.md
  src/frontends/paddle/README.md
  src/frontends/pytorch/README.md
  src/frontends/tensorflow/README.md
  src/inference/docs/api_details.md
  src/plugins/auto/README.md
  src/plugins/auto/docs/architecture.md
  src/plugins/auto/docs/integration.md
  src/plugins/intel_cpu/docs/fake_quantize.md
  src/plugins/intel_cpu/docs/internal_cpu_plugin_optimization.md
  src/plugins/intel_gpu/docs/gpu_plugin_driver_troubleshooting.md
  src/plugins/intel_gpu/docs/source_code_structure.md
  src/plugins/proxy/README.md
  src/plugins/template/README.md
  tools/pot/README.md
Labels: category: inference, category: Core, category: GPU, category: CPU, category: Python API, category: C API, category: docs, category: TEMPLATE, category: AUTO, category: PDPD FE, category: POT, category: TF FE, category: PyTorch FE

#20944 [GPU] Fix LCM notebook failure issue for int8 model.
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_quantization.cpp
Labels: category: GPU

#20985 [Func Test] remove ngraph::helpers::QuantizationGranularity
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution_backprop_data.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_convolution_backprop_data.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_group_convolution.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_group_convolution_backprop_data.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_mat_mul.hpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_convolution_backprop_data.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_group_convolution.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_group_convolution_backprop_data.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_mat_mul.cpp
  src/tests/ov_helpers/ov_models/include/ov_models/utils/ov_helpers.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_enums.hpp
Labels: category: IE Tests, category: CPU

#21035 [TF Hub] Add yamnet with complex tensors into precommit
  tests/model_hub_tests/tf_hub_tests/precommit_models
Labels: category: TF FE

#20987 [CPU] Extend the existing IO binding subgraph tests
  src/inference/src/dev/make_tensor.cpp
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/input_output_tensor_reuse.cpp
Labels: category: inference, category: CPU

#21021 Smart CI for docs
  .github/actions/smart-ci/smart_ci.py
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#20986 [SPEC] Multinomial spec update - conformance with 23.2 release
  docs/articles_en/documentation/openvino_ir/operation_sets/operations_specifications/generation/Multinomial_13.md
Labels: category: docs

#21030 [CPU]enable bf16 acdb layout for transpose
  src/plugins/intel_cpu/src/nodes/transpose.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/x64/transpose.cpp
Labels: category: CPU

#20973 [CPU] Decompression support for hybrid models
  src/common/low_precision_transformations/include/low_precision/fold_convert.hpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/move_fc_reshape_to_weights.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/move_fc_reshape_to_weights.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.h
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/matmul_weights_decompression.cpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/move_fc_reshape_to_weights.cpp
Labels: category: CPU, category: LP transformations

#21055 Remove limit for Loop inputs in bindings
  src/bindings/python/src/pyopenvino/graph/ops/loop.cpp
  src/bindings/python/tests/test_graph/test_loop.py
Labels: category: Python API

#21057 Remove unused function from build to remove ``-Werror=unused-function``
  src/frontends/tests/frontend/shared/test_builtin_extensions/builtin_extensions.cpp
Labels: category: IE Tests

#21047 [PT FE] Use system model cache when running torch hub tests locally
  .github/workflows/linux.yml
  tests/model_hub_tests/models_hub_common/constants.py
  tests/model_hub_tests/torch_tests/test_torchvision_models.py
Labels: category: CI, category: TF FE, github_actions, category: PyTorch FE

#21074 [DOCS] Remove link to the page
  docs/articles_en/about_openvino/compatibility_and_support/Supported_Devices.md
  docs/articles_en/openvino_workflow/openvino_intro/Device_Plugins.md
  docs/articles_en/openvino_workflow/openvino_intro/Device_Plugins/NPU.md
Labels: category: docs

#21054 [GPU] Fix acc issue for LSTMSequence w/ -1 seq_length
  src/plugins/intel_gpu/include/intel_gpu/primitives/loop.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/graph/lstm_dynamic_timeloop.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/plugin/ops/loop.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/tensor_iterator.cpp
  src/plugins/intel_gpu/tests/unit/fusions/loop_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/loop_gpu_test.cpp
Labels: category: GPU

#20983 [GPU] Fix ShapeOf primitive
  src/plugins/intel_gpu/include/intel_gpu/primitives/shape_of.hpp
  src/plugins/intel_gpu/src/graph/shape_of.cpp
  src/plugins/intel_gpu/src/plugin/ops/shape_of.cpp
  src/plugins/intel_gpu/tests/unit/passes/add_required_reorders_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/remove_redundant_reorders_tests.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/canonicalization_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/lru_caches_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/multiple_streams_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reshape_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/shape_of_gpu_test.cpp
Labels: category: GPU, ExternalPR

#20930 [Opset13][FP8] Introduce FakeConvert op core
  src/core/include/openvino/op/fake_convert.hpp
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/opsets/opset13_tbl.hpp
  src/core/src/op/fake_convert.cpp
  src/core/tests/opset.cpp
  src/core/tests/type_prop/fake_convert.cpp
  src/core/tests/visitors/op/fake_convert.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: CPP API, category: Opset

#20777 [AUTO] Fix segment fault appeared in the compiled model.get_property() of AUTO
  src/plugins/auto/src/auto_compiled_model.cpp
  src/plugins/auto/src/auto_schedule.cpp
  src/plugins/auto/tests/unit/release_helper_test.cpp
Labels: category: AUTO

#21062 [GPU] Optimize Condition operation by better integrating its subnetwork primitives with the main network
  src/plugins/intel_gpu/src/graph/condition.cpp
  src/plugins/intel_gpu/src/graph/impls/common/condition.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
Labels: category: GPU

#21077 Refactor ngraph builders 3
  src/core/tests/type_relaxed_copy.cpp
  src/plugins/intel_cpu/tests/functional/behavior/export_import.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/matmul.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/cum_sum.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/matmul_sparse.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/shuffle_channels.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/space_to_depth.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/align_matmul_input_ranks.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/fq_fused_with_ss.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/fullyconnected_strided_inputs_outputs.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/matmul_decompress_convert.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/matmul_quantized_subgraph.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/matmul_strided_inputs_outputs.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/matmul_weights_decompression.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/reshape_fc.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/split_matmul_concat.cpp
  src/plugins/intel_gna/tests/functional/pass_tests/convert_matmul_to_pointwise_conv.cpp
  src/plugins/intel_gna/tests/functional/pass_tests/diagonal_insertion_test.cpp
  src/plugins/intel_gna/tests/functional/pass_tests/insert_transpose_before_matmul.cpp
  src/plugins/intel_gna/tests/functional/scale_factors_tests/matmul_overload_correction.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/matmul.cpp
  src/tests/functional/plugin/shared/src/behavior/infer_request/set_io_blob_precision.cpp
  src/tests/functional/plugin/shared/src/single_layer_tests/invalid_cases/proposal.cpp
  src/tests/functional/shared_test_classes/src/single_layer/mat_mul.cpp
  src/tests/functional/shared_test_classes/src/single_layer/minimum_maximum.cpp
  src/tests/functional/shared_test_classes/src/single_layer/proposal.cpp
  src/tests/functional/shared_test_classes/src/single_layer/shuffle_channels.cpp
  src/tests/functional/shared_test_classes/src/single_layer/space_to_depth.cpp
  src/tests/functional/shared_test_classes/src/single_layer/squeeze_unsqueeze.cpp
  src/tests/functional/shared_test_classes/src/subgraph/cascade_concat.cpp
  src/tests/functional/shared_test_classes/src/subgraph/fq_with_mixed_levels.cpp
  src/tests/functional/shared_test_classes/src/subgraph/multioutput_eltwise_squeeze_eltwise.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_mat_mul.cpp
  src/tests/functional/shared_test_classes/src/subgraph/reshape_squeeze_reshape_relu.cpp
  src/tests/ov_helpers/ov_models/include/ov_models/builders.hpp
  src/tests/ov_helpers/ov_models/src/cum_sum.cpp
  src/tests/ov_helpers/ov_models/src/mat_mul.cpp
  src/tests/ov_helpers/ov_models/src/select.cpp
  src/tests/ov_helpers/ov_models/src/shuffle_channels.cpp
  src/tests/ov_helpers/ov_models/src/space_to_depth.cpp
Labels: category: Core, category: IE Tests, category: GPU, category: CPU, category: GNA

#21028 [GPU] remove setting threshold manually for dynamic 1d conv
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/convolution.cpp
Labels: category: GPU

#20995 [ONNX] Extend ONNX Frontend with Function GreaterOrEqual
  src/frontends/onnx/frontend/src/op/greater_or_equal.cpp
  src/frontends/onnx/frontend/src/op/greater_or_equal.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/tests/models/greater_or_equal_float.prototxt
  src/frontends/onnx/tests/models/greater_or_equal_int.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Labels: ExternalPR, category: ONNX FE

#20896 [GPU] Fix permute reorder fusing bfzyx
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/unit/passes/remove_redundant_reorders_tests.cpp
Labels: category: GPU

#19541 migrate executable_network test case to compiled_model
  src/inference/src/dev/core_impl.cpp
  src/plugins/auto_batch/src/plugin.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
  src/tests/functional/plugin/shared/src/behavior/compiled_model/properties.cpp
Labels: category: inference, category: IE Tests, category: GNA, category: AUTO BATCH

#21084 [CPU][Tests] Fixed linking of ov_cpu_func_tests_subset
  src/plugins/intel_cpu/tests/functional/specific_tests.cmake
Labels: category: CPU, category: build

#21089 [DOCS] Deprecate deployment manager
  docs/articles_en/documentation/openvino_legacy_features.md
  docs/articles_en/openvino_workflow/deployment_intro.md
  docs/articles_en/openvino_workflow/deployment_intro/deployment-manager-tool.md
Labels: category: docs

#21082 [Func Test] Upgrade func test of QuantConvBackpropDataLayerTest related to 2.0
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_convolution_backprop_data.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_convolution_backprop_data.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_convolution_backprop_data.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_convolution_backprop_data.hpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_convolution_backprop_data.cpp
Labels: category: IE Tests, category: GPU, category: CPU

#21038 [core] Migrate OneHot operator to new API
  src/core/include/openvino/op/one_hot.hpp
  src/core/src/op/one_hot.cpp
Labels: category: Core, category: CPP API

#20969 [OVC] Fixed error in --output_model param.
  tests/layer_tests/ovc_python_api_tests/test_ovc_cli_tool.py
  tools/ovc/openvino/tools/ovc/cli_parser.py
  tools/ovc/unit_tests/ovc/utils/cli_parser_test.py
Labels: category: MO

#20242 [Snippets] Deep copy interface
  src/common/snippets/include/snippets/lowered/expression.hpp
  src/common/snippets/include/snippets/lowered/expression_port.hpp
  src/common/snippets/include/snippets/lowered/linear_ir.hpp
  src/common/snippets/include/snippets/lowered/loop_manager.hpp
  src/common/snippets/src/lowered/expression.cpp
  src/common/snippets/src/lowered/expression_factory.cpp
  src/common/snippets/src/lowered/expression_port.cpp
  src/common/snippets/src/lowered/linear_ir.cpp
  src/common/snippets/src/lowered/loop_manager.cpp
  src/common/snippets/src/lowered/pass/insert_tail_loop.cpp
  src/common/snippets/src/op/subgraph.cpp
Labels: category: CPU

#20770 [PyOV] Add `torchvision` to OpenVINO preprocessing converter docs
  src/bindings/python/README.md
  src/bindings/python/docs/code_examples.md
  src/bindings/python/src/openvino/preprocess/README.md
Labels: category: Python API, category: docs

#21090 [DOCS] sysreq n relnotes port 12.2
  docs/articles_en/about_openvino.md
  docs/articles_en/about_openvino/compatibility_and_support/Supported_Devices.md
  docs/articles_en/about_openvino/prerelease_information.md
  docs/articles_en/about_openvino/releasenotes_for_openvino.md
  docs/articles_en/about_openvino/system_requirements.md
  docs/articles_en/documentation/openvino_legacy_features.md
Labels: category: docs

#20960 [IE TESTS ]Checking path of TEMPLATE plugin for OV_PLUGIN_CACHE
  src/tests/test_utils/functional_test_utils/src/ov_plugin_cache.cpp
Labels: category: IE Tests

#21096 [DOCS] home-tile-removal master
  docs/home.rst
Labels: category: docs

#21095 [DOCS] home-tile-removal
  docs/home.rst
Labels: category: docs

#21092 [Func Test] Upgrade func test of QuantGroupConvLayerTest related to 2.0
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_group_convolution.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_group_convolution.hpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_group_convolution.cpp
Labels: category: IE Tests, category: CPU

#21094 [Func Test] Upgrade func test of QuantGroupConvBackpropDataLayerTest related to 2.0
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution_backprop_data.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_group_convolution_backprop_data.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_group_convolution_backprop_data.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_group_convolution_backprop_data.hpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_group_convolution_backprop_data.cpp
Labels: category: IE Tests, category: GPU, category: CPU

#20616 [GPU] Multinomial-13
  src/core/reference/include/openvino/reference/multinomial.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/multinomial.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/slice.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/multinomial.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/include/multinomial_inst.h
  src/plugins/intel_gpu/src/graph/include/slice_inst.h
  src/plugins/intel_gpu/src/graph/multinomial.cpp
  src/plugins/intel_gpu/src/graph/slice.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/multinomial_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/multinomial/multinomial_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/multinomial/multinomial_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/multinomial/multinomial_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/multinomial/multinomial_kernel_selector.h
  src/plugins/intel_gpu/src/plugin/ops/multinomial.cpp
  src/plugins/intel_gpu/src/plugin/ops/slice.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/multinomial.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/slice.cpp
  src/plugins/template/tests/functional/op_reference/multinomial.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/multinomial.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/multinomial.hpp
  src/tests/functional/shared_test_classes/src/base/utils/generate_inputs.cpp
  src/tests/functional/shared_test_classes/src/single_layer/multinomial.cpp
Labels: category: Core, category: IE Tests, category: GPU, ExternalPR, category: TEMPLATE

#21018 [GPU] Add more flexible check if user's buffer is USM Host and can be reused
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
Labels: category: GPU

#21103 [Func Test] Upgrade func test of QuantMatMulTest related to 2.0
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_mat_mul.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_mat_mul.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/quantized_mat_mul.hpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_mat_mul.cpp
Labels: category: IE Tests, category: CPU

#21101 Refactor ngraph builders 5
  src/plugins/intel_cpu/tests/functional/single_layer_tests/normalize.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/tile_with_two_output_edges.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/normalize_l2.cpp
  src/tests/functional/shared_test_classes/src/single_layer/einsum.cpp
  src/tests/functional/shared_test_classes/src/single_layer/gather_elements.cpp
  src/tests/functional/shared_test_classes/src/single_layer/non_max_suppression.cpp
  src/tests/functional/shared_test_classes/src/single_layer/normalize_l2.cpp
  src/tests/functional/shared_test_classes/src/single_layer/one_hot.cpp
  src/tests/functional/shared_test_classes/src/single_layer/tile.cpp
  src/tests/ov_helpers/ov_models/include/ov_models/builders.hpp
  src/tests/ov_helpers/ov_models/src/einsum.cpp
  src/tests/ov_helpers/ov_models/src/gather_elements.cpp
  src/tests/ov_helpers/ov_models/src/normalize_l2.cpp
  src/tests/ov_helpers/ov_models/src/one_hot.cpp
  src/tests/ov_helpers/ov_models/src/tile.cpp
Labels: category: IE Tests, category: GPU, category: CPU
