Repository openvinotoolkit/openvino, pull requests merged in 2023-08, with the labels that each got.

#18829 [GPU] Do weight reorder for fc shape agnostic kernels at build time
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/reorder.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_optimize_weights.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/kernel_impl_params_relevance_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/post_optimize_weights.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#18873 [DOCS] new benchmark data port 23.0
  docs/_static/benchmarks_files/OV-2023.0-Performance-Data.xlsx
  docs/_static/benchmarks_files/OV-2023.0-Platform_list.pdf
  docs/_static/benchmarks_files/OV-2023.0-system-info-detailed.xlsx
  docs/_static/benchmarks_files/OV-benchmark-data.csv
  docs/benchmarks/performance_benchmarks.md
Labels: category: docs

#18259 Move ONNX FE tests into ONNX FE directory
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_ngraph_onnx.yml
  src/bindings/python/constraints.txt
  src/bindings/python/requirements_test.txt
  src/bindings/python/setup.cfg
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/conftest.py
  src/bindings/python/tests/test_frontend/__init__.py
  src/frontends/onnx/tests/__init__.py
  src/frontends/onnx/tests/conftest.py
  src/frontends/onnx/tests/requirements.txt
  src/frontends/onnx/tests/runtime.py
  src/frontends/onnx/tests/tests_python/__init__.py
  src/frontends/onnx/tests/tests_python/model_zoo_preprocess.sh
  src/frontends/onnx/tests/tests_python/models/add_abc.onnx
  src/frontends/onnx/tests/tests_python/models/data/tensor.data
  src/frontends/onnx/tests/tests_python/models/external_data.onnx
  src/frontends/onnx/tests/tests_python/test_backend.py
  src/frontends/onnx/tests/tests_python/test_frontend_extension.py
  src/frontends/onnx/tests/tests_python/test_frontend_lib_close.py
  src/frontends/onnx/tests/tests_python/test_frontend_onnx.py
  src/frontends/onnx/tests/tests_python/test_frontend_onnx_editor.py
  src/frontends/onnx/tests/tests_python/test_frontendmanager.py
  src/frontends/onnx/tests/tests_python/test_onnx_external_data.py
  src/frontends/onnx/tests/tests_python/test_onnx_import.py
  src/frontends/onnx/tests/tests_python/test_ops_batchnorm.py
  src/frontends/onnx/tests/tests_python/test_ops_binary.py
  src/frontends/onnx/tests/tests_python/test_ops_convpool.py
  src/frontends/onnx/tests/tests_python/test_ops_logical.py
  src/frontends/onnx/tests/tests_python/test_ops_matmul.py
  src/frontends/onnx/tests/tests_python/test_ops_nonlinear.py
  src/frontends/onnx/tests/tests_python/test_ops_random.py
  src/frontends/onnx/tests/tests_python/test_ops_reduction.py
  src/frontends/onnx/tests/tests_python/test_ops_reshape.py
  src/frontends/onnx/tests/tests_python/test_ops_unary.py
  src/frontends/onnx/tests/tests_python/test_ops_variadic.py
  src/frontends/onnx/tests/tests_python/test_zoo_models.py
  src/frontends/onnx/tests/tests_python/utils/__init__.py
  src/frontends/onnx/tests/tests_python/utils/model_importer.py
  src/frontends/onnx/tests/tests_python/utils/onnx_backend.py
  src/frontends/onnx/tests/tests_python/utils/onnx_helpers.py
Labels: category: Python API, category: CI, category: ONNX FE, category: dependency_changes

#18892 Remove old API from Core implementation
  src/inference/src/core.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/ie_core.cpp
  src/inference/src/precomp.hpp
Labels: category: inference

#18765 [DOCS] Compile CPU plugin for ARM platforms - for 23.0
  docs/dev/build_raspbian.md
Labels: category: docs

#18893 [CPU] Fix jit compilation exception on sse for mvn
  src/plugins/intel_cpu/src/nodes/mvn.cpp
Labels: category: CPU

#18884 [PyOV] Add Range-4 as part of opset12
  src/bindings/python/src/openvino/runtime/opset12/__init__.py
  src/bindings/python/src/openvino/runtime/opset4/ops.py
  src/bindings/python/tests/test_graph/test_sequence_processing.py
Labels: category: Python API

#18835 Fix Reduce node bug regarding fusing with low precision
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/src/nodes/reduce.h
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/x64/reduce.cpp
Labels: bug, category: CPU

#18890 [MO] Raise exception for older nncf models
  tools/mo/openvino/tools/mo/moc_frontend/pytorch_frontend_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: MO, category: tools

#18906 [CI] [GHA] Unskip `test_keras_upsampling2d_bilinear` and `test_lrn_basic` in GHA
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_upsampling2d.py
  tests/layer_tests/tensorflow_tests/test_tf_LRN.py
Labels: category: TF FE, github_actions

#18111 Enable paddle dino
  src/frontends/paddle/src/op/elementwise_ops.cpp
  src/frontends/paddle/src/op/fill_any_like.cpp
  src/frontends/paddle/src/op/reduce_all.cpp
  src/frontends/paddle/src/op/share_data.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_elementwise_ops.py
  src/frontends/paddle/tests/test_models/gen_scripts/generate_fill_any_like.py
  src/frontends/paddle/tests/test_models/gen_scripts/generate_reduce_all.py
  src/frontends/paddle/tests/test_models/gen_scripts/generate_share_data.py
Labels: category: PDPD FE, Stale

#18917 [GPU] Release unused internal memory from pool
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory_pool.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/src/runtime/memory_pool.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/memory_realloc_test.cpp
Labels: category: GPU

#18918 Delete bug.md
  .github/ISSUE_TEMPLATE/bug.md
Labels: category: CI

#18897 [GPU] Add autopad option in CreateOp of groupconvolution
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/groupconvolution.cpp
Labels: category: GPU

#18899 [PT FE]: support aten::broadcast_to
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_expand.py
Labels: category: PyTorch FE

#18907 update sha256 of oneTBB2021.2.1 on mac arm64
  cmake/dependencies.cmake
Labels: category: build

#18900 [PyOV] try to run add_extension_test
  .ci/azure/linux.yml
  .github/workflows/linux.yml
  src/bindings/python/setup.cfg
  src/bindings/python/tests/conftest.py
  src/bindings/python/tests/test_graph/test_node_factory.py
  src/bindings/python/tests/test_runtime/test_core.py
  src/bindings/python/tests_compatibility/conftest.py
Labels: category: Python API, category: CI

#18840 Create pre_release_feedback.yml
  .github/ISSUE_TEMPLATE/pre_release_feedback.yml
Labels: category: CI

#18912 Fixing a typo in `core/shape_inference`
  src/core/shape_inference/include/adaptive_avg_pool_shape_inference.hpp
Labels: category: Core, ExternalPR

#18908 Review multiclass nms class for shape inference aspects
  src/common/transformations/src/ov_ops/multiclass_nms_ie_internal.cpp
  src/core/include/openvino/op/util/multiclass_nms_base.hpp
  src/core/reference/include/ngraph/runtime/reference/multiclass_nms.hpp
  src/core/reference/src/runtime/reference/multiclass_nms.cpp
  src/core/shape_inference/include/multiclass_nms_shape_inference.hpp
  src/core/shape_inference/include/nms_shape_inference.hpp
  src/core/src/op/multiclass_nms.cpp
  src/core/src/op/util/multiclass_nms_base.cpp
  src/core/tests/type_prop/multiclass_nms.cpp
  src/plugins/template/backend/ops/multiclass_nms.cpp
Labels: category: Core, category: transformations, category: TEMPLATE, category: CPP API

#18839 Create feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: category: CI

#18843 "static_shape" parameter fix.
  tests/layer_tests/mo_python_api_tests/test_mo_convert_tf.py
  tools/mo/openvino/tools/mo/back/offline_transformations.py
  tools/mo/openvino/tools/mo/moc_frontend/moc_emit_ir.py
  tools/mo/unit_tests/moc_tf_fe/check_info_messages_test.py
  tools/ovc/openvino/tools/ovc/moc_frontend/moc_emit_ir.py
  tools/ovc/openvino/tools/ovc/moc_frontend/offline_transformations.py
Labels: category: MO, category: tools

#18919 Update bug.yml
  .github/ISSUE_TEMPLATE/bug.yml
Labels: category: CI

#18922 Change linker flags to fix ngraph_obj build in Debug mode
  src/core/CMakeLists.txt
Labels: category: Core, category: build

#18904 [PyOV] Restore ONNX requirement for Python tests
  src/bindings/python/requirements_test.txt
Labels: category: Python API, category: dependency_changes

#18923 Use prebuilt TBB on macos arm64
  cmake/features.cmake
Labels: category: build

#18911 do streams calculation before UpToCpuSpecificOpSet() in CPU plugin
  src/inference/dev_api/performance_heuristics.hpp
  src/plugins/intel_cpu/src/plugin.cpp
Labels: category: inference, category: CPU

#18921 Removed legacy headers from pass implementations
  src/core/include/openvino/pass/serialize.hpp
  src/core/src/descriptor/tensor.cpp
  src/core/src/node_output.cpp
  src/core/src/opsets/opset.cpp
  src/core/src/pass/constant_folding.cpp
  src/core/src/pass/convert_fp32_to_fp16.cpp
  src/core/src/pass/graph_rewrite.cpp
  src/core/src/pass/low_latency.cpp
  src/core/src/pass/make_stateful.cpp
  src/core/src/pass/manager.cpp
  src/core/src/pass/perf_counters.cpp
  src/core/src/pass/perf_counters.hpp
  src/core/src/pass/serialize.cpp
  src/core/src/pass/validate.cpp
  src/core/src/pass/visualize_tree.cpp
  src/core/src/pattern/matcher.cpp
Labels: category: Core, category: CPP API

#18805 Fixed CPU build with standalone oneDNN
  src/cmake/ie_parallel.cmake
  src/plugins/intel_cpu/CMakeLists.txt
Labels: category: CPU, category: build

#18913 [TF FE] Support ShapeN operation
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/src/op/shape.cpp
  tests/layer_tests/tensorflow_tests/test_tf_ShapeN.py
Labels: category: TF FE, category: TFL FE

#18403 [Snippets][CPU] Enabled MHA tokenization for quant and bf16 cases
  src/common/snippets/include/snippets/op/vector_buffer.hpp
  src/common/snippets/include/snippets/pass/tokenization.hpp
  src/common/snippets/src/generator.cpp
  src/common/snippets/src/lowered/pass/allocate_buffers.cpp
  src/common/snippets/src/lowered/pass/assign_registers.cpp
  src/common/snippets/src/lowered/pass/softmax_decomposition.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/op/vector_buffer.cpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/src/emitters/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_snippets_emitters.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/mha.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/mha.cpp
  src/tests/functional/plugin/shared/include/snippets/mha.hpp
  src/tests/functional/plugin/shared/src/snippets/mha.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/subgraph_mha.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_mha.cpp
Labels: category: IE Tests, category: CPU

#18941 [GPU] updated to reset variable memory's status when shape is changed
  src/plugins/intel_gpu/src/graph/network.cpp
Labels: category: GPU

#18924 [GPU] Add num_classes=-1 support in cpu_impl of detection_output
  src/plugins/intel_gpu/src/graph/impls/cpu/detection_output.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/detection_output.cpp
Labels: category: GPU

#18655 [ARM CPU] Add ACL deconvolution operation
  src/plugins/intel_cpu/src/nodes/deconv.cpp
  src/plugins/intel_cpu/src/nodes/deconv.h
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_deconv.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_deconv.hpp
  src/plugins/intel_cpu/src/nodes/executors/deconv.cpp
  src/plugins/intel_cpu/src/nodes/executors/deconv.hpp
  src/plugins/intel_cpu/src/nodes/executors/deconv_list.cpp
  src/plugins/intel_cpu/src/nodes/executors/deconv_list.hpp
Labels: category: CPU, platform: arm

#18859 [GPU] Skip reorder at runtime if data type and format are not changed
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/reorder_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/skip_redundant_reorder_at_runtime.cpp
Labels: category: GPU

#18947 [CPU][ARM] Disable FC MLAS on ARM
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
Labels: category: CPU, platform: arm

#18836 [GPU] Allow StridedSlice as predecessor for in place concat
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/include/strided_slice_inst.h
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/strided_slice_gpu_test.cpp
Labels: category: GPU

#18950 Extend loading frontend error message
  src/frontends/common/src/plugin_loader.cpp
Labels: category: Core

#18937 [ARM CPU] Skip autobatch tests on arm32 arch
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/plugin/auto_batching_tests.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/plugin/auto_batching_tests.hpp
Labels: category: IE Tests, category: CPU

#18957 Update pre_release_feedback.yml
  .github/ISSUE_TEMPLATE/pre_release_feedback.yml
Labels: category: CI

#18856 Refactor engines utils
  src/core/tests/control_dependencies.cpp
  src/core/tests/eval.cpp
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/onnx_import_com_microsoft.in.cpp
  src/frontends/onnx/tests/onnx_import_controlflow.in.cpp
  src/frontends/onnx/tests/onnx_import_convpool.in.cpp
  src/frontends/onnx/tests/onnx_import_deprecated.in.cpp
  src/frontends/onnx/tests/onnx_import_dyn_shapes.in.cpp
  src/frontends/onnx/tests/onnx_import_org_openvino.in.cpp
  src/frontends/onnx/tests/onnx_import_org_pytorch.in.cpp
  src/frontends/onnx/tests/onnx_import_quant.in.cpp
  src/frontends/onnx/tests/onnx_import_reshape.in.cpp
  src/frontends/onnx/tests/onnx_import_rnn.in.cpp
  src/frontends/onnx/tests/onnx_import_signal.in.cpp
  src/frontends/onnx/tests/onnx_import_with_editor.in.cpp
  src/frontends/onnx/tests/onnx_test_utils.in.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/tests/frontend/shared/src/op_fuzzy.cpp
  src/tests/engines_util/engine_factory.hpp
  src/tests/engines_util/engine_traits.hpp
  src/tests/engines_util/execute_tools.cpp
  src/tests/engines_util/execute_tools.hpp
  src/tests/engines_util/random.hpp
  src/tests/engines_util/shared_utils.cpp
  src/tests/engines_util/shared_utils.hpp
  src/tests/engines_util/test_case.cpp
  src/tests/engines_util/test_case.hpp
  src/tests/engines_util/test_case_engine.hpp
  src/tests/engines_util/test_engines.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/data_utils.hpp
  src/tests/test_utils/common_test_utils/src/all_close_f.cpp
  src/tests/test_utils/common_test_utils/src/data_utils.cpp
Labels: category: Core, category: IE Tests, category: ONNX FE, category: PDPD FE

#18951 Remove legacy API from op/util
  src/core/src/axis_vector.cpp
  src/core/src/op/util/activation_functions.cpp
  src/core/src/op/util/arithmetic_reduction.cpp
  src/core/src/op/util/arithmetic_reductions_keep_dims.cpp
  src/core/src/op/util/attr_types.cpp
  src/core/src/op/util/binary_elementwise_arithmetic.cpp
  src/core/src/op/util/binary_elementwise_comparison.cpp
  src/core/src/op/util/binary_elementwise_logical.cpp
  src/core/src/op/util/broadcast_base.cpp
  src/core/src/op/util/deformable_convolution_base.cpp
  src/core/src/op/util/detection_output_base.cpp
  src/core/src/op/util/elementwise_args.cpp
  src/core/src/op/util/embeddingbag_offsets_base.cpp
  src/core/src/op/util/embeddingbag_packed_base.cpp
  src/core/src/op/util/fft_base.cpp
  src/core/src/op/util/framework_node.cpp
  src/core/src/op/util/gather_base.cpp
  src/core/src/op/util/gather_nd_base.cpp
  src/core/src/op/util/index_reduction.cpp
  src/core/src/op/util/logical_reduction.cpp
  src/core/src/op/util/logical_reduction_keep_dims.cpp
  src/core/src/op/util/multi_subgraph_base.cpp
  src/core/src/op/util/op_types.cpp
  src/core/src/op/util/reduction_base.cpp
  src/core/src/op/util/rnn_cell_base.cpp
  src/core/src/op/util/scatter_base.cpp
  src/core/src/op/util/scatter_elements_update_base.cpp
  src/core/src/op/util/scatter_nd_base.cpp
  src/core/src/op/util/sub_graph_base.cpp
  src/core/src/op/util/topk_base.cpp
  src/core/src/op/util/unary_elementwise_arithmetic.cpp
  src/core/src/op/util/variable_value.cpp
Labels: category: Core

#18961 [DOCS] Update PYTHONPATH in docs
  docs/dev/build_linux.md
  docs/dev/build_windows.md
  src/bindings/python/docs/test_examples.md
Labels: category: Python API, category: docs

#18959 Add MO to PYTHONPATH in lin-debian Azure job
  .ci/azure/linux_debian.yml
Labels: category: CI

#18946 [DOCS] update prereleasenotes
  docs/resources/prerelease_information.md
Labels: category: docs

#18958 Docs update prereleasenotes port 23.0
  docs/resources/prerelease_information.md
Labels: category: docs

#18963 Use OpenCV_DIR from cache only if user doesn't define OpenCV_DIR
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  cmake/templates/OpenVINODeveloperPackageConfig.cmake.in
Labels: category: build

#18745 [Snippets] Optimized second attempt of SplitDimensionM optimization
  src/common/snippets/include/snippets/pass/common_optimizations.hpp
  src/common/snippets/include/snippets/pass/tokenization.hpp
  src/common/snippets/src/pass/common_optimizations.cpp
  src/common/snippets/tests/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU

#18955 Fixed OVC "input_model" parameter to work with pathlib.Path.
  tools/mo/unit_tests/mo/convert/import_from_mo_test.py
  tools/ovc/openvino/tools/ovc/cli_parser.py
  tools/ovc/unit_tests/ovc/convert/import_from_mo_test.py
Labels: category: MO, category: tools

#18956 [GPU] fix normalize dynamic shape support
  src/plugins/intel_gpu/src/graph/normalize.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/normalize_l2.cpp
Labels: category: GPU

#18842 [GPU] Fix priorbox constant propagation
  src/plugins/intel_gpu/src/graph/impls/ocl/prior_box.cpp
  src/plugins/intel_gpu/src/graph/include/prior_box_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/prior_box.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/prior_box/prior_box_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/prior_box/prior_box_kernel_ref.h
  src/plugins/intel_gpu/src/plugin/ops/prior_box.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/prior_box.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/prior_box.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/priorbox_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/prior_box_gpu_test.cpp
Labels: category: GPU

#18953 [GPU Enable dynamism for grid_sample
  src/plugins/intel_gpu/src/graph/grid_sample.cpp
  src/plugins/intel_gpu/src/graph/include/grid_sample_inst.hpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/grid_sample.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/grid_sample_si_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/grid_sample_gpu_test.cpp
Labels: category: GPU

#18970 [TF FE] Handle intermediate outputs in SavedModel
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/tf_utils.cpp
  src/frontends/tensorflow/tests/convert_saved_model.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_intermediate_output.py
Labels: category: TF FE

#18977 [GPU] Non blocking enqueMemCpy for copy output data
  src/plugins/intel_gpu/include/intel_gpu/plugin/infer_request.hpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
Labels: category: GPU

#18728 Respect secondary property of performance hint
  src/plugins/auto/src/cumulative_schedule.cpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/tests/unit/CMakeLists.txt
  src/plugins/auto/tests/unit/auto_unit_test.cpp
  src/plugins/auto/tests/unit/compile_model_property_test.cpp
  src/plugins/auto/tests/unit/ctput_test.cpp
  src/plugins/auto/tests/unit/default_perf_hint_test.cpp
  src/plugins/auto/tests/unit/include/auto_unit_test.hpp
  src/plugins/auto/tests/unit/include/mock_common.hpp
  src/plugins/auto/tests/unit/property_test.cpp
Labels: category: build, category: AUTO

#18976 [PT FE] Raise graceful exception when model has incorrect type
  src/frontends/pytorch/src/frontend.cpp
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
Labels: category: PyTorch FE

#18903 [PT FE]: support aten::outer op
  src/frontends/pytorch/src/op/outer.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_outer.py
Labels: category: PyTorch FE

#18979 fix at docs/dev/build_webassembly.md
  docs/dev/build_webassembly.md
Labels: category: docs, ExternalPR

#18981 Removed some deprecated API from inference component
  src/inference/src/dev/preprocessing/mean_image.cpp
  src/inference/src/dev/preprocessing/mean_image.hpp
  src/inference/src/dev/preprocessing/preprocessing.hpp
  src/inference/src/dev/threading/istreams_executor.cpp
Labels: category: inference

#18932 Fix Division with eps marking
  src/common/transformations/include/transformations/common_optimizations/division_by_zero_fp16_resolver.hpp
  src/common/transformations/src/transformations/fp16_compression/mark_subgraphs_to_keep_in_mixed_precision.cpp
  src/common/transformations/tests/common_optimizations/division_by_zero_fp16_resolver_test.cpp
  src/common/transformations/tests/common_optimizations/mark_subgraph_to_keep_in_mixed_precision_test.cpp
Labels: category: transformations

#18948 Update ResolveNameCollisions to handle all friendly names, not only auto-generated
  src/common/transformations/include/transformations/resolve_names_collisions.hpp
  src/common/transformations/src/transformations/resolve_names_collisions.cpp
  src/common/transformations/tests/resolve_names_collisions.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: bug, category: GPU, category: transformations

#18990 [DOCS] fix ext directive
  docs/resources/prerelease_information.md
Labels: category: docs

#18989 [DOCS] fix ext directive 23.0
  docs/resources/prerelease_information.md
Labels: category: docs

#18802 [CONFORMANCE] Add ReadMe file for new SubgraphsDumper tool
  docs/img/subgraphs_dumper_arch_diaram.png
  src/tests/functional/plugin/conformance/subgraphs_dumper/README.md
Labels: category: IE Tests, category: docs, conformance

#18942 [DOCS] Change sample structure
  samples/c/hello_classification/README.md
  samples/c/hello_nv12_input_classification/README.md
  samples/cpp/benchmark/sync_benchmark/README.md
  samples/cpp/benchmark/throughput_benchmark/README.md
  samples/cpp/classification_sample_async/README.md
  samples/cpp/hello_classification/README.md
  samples/cpp/hello_nv12_input_classification/README.md
  samples/cpp/hello_query_device/README.md
  samples/cpp/hello_reshape_ssd/README.md
  samples/cpp/model_creation_sample/README.md
  samples/cpp/speech_sample/README.md
  samples/python/benchmark/bert_benchmark/README.md
  samples/python/benchmark/sync_benchmark/README.md
  samples/python/benchmark/throughput_benchmark/README.md
  samples/python/classification_sample_async/README.md
  samples/python/hello_classification/README.md
  samples/python/hello_query_device/README.md
  samples/python/hello_reshape_ssd/README.md
  samples/python/model_creation_sample/README.md
  samples/python/speech_sample/README.md
Labels: category: samples, category: docs

#18985 [PT FE] Remove converts to target type before Range for aten::arange op
  src/frontends/pytorch/src/op/arange.cpp
Labels: category: PyTorch FE

#18987 [GPU] Minor fix for dynamic model regression
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#18916 Refactor engines utils. Delete the target
  src/core/tests/CMakeLists.txt
  src/core/tests/control_dependencies.cpp
  src/core/tests/copy.cpp
  src/core/tests/eval.cpp
  src/core/tests/pass_manager.cpp
  src/core/tests/utils/eval_utils.hpp
  src/frontends/onnx/tests/CMakeLists.txt
  src/frontends/onnx/tests/onnx_editor.cpp
  src/frontends/onnx/tests/onnx_editor_topological_sort.cpp
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/onnx_import_com_microsoft.in.cpp
  src/frontends/onnx/tests/onnx_import_controlflow.in.cpp
  src/frontends/onnx/tests/onnx_import_convpool.in.cpp
  src/frontends/onnx/tests/onnx_import_deprecated.in.cpp
  src/frontends/onnx/tests/onnx_import_dyn_shapes.in.cpp
  src/frontends/onnx/tests/onnx_import_org_openvino.in.cpp
  src/frontends/onnx/tests/onnx_import_org_pytorch.in.cpp
  src/frontends/onnx/tests/onnx_import_quant.in.cpp
  src/frontends/onnx/tests/onnx_import_reshape.in.cpp
  src/frontends/onnx/tests/onnx_import_rnn.in.cpp
  src/frontends/onnx/tests/onnx_import_signal.in.cpp
  src/frontends/onnx/tests/onnx_import_with_editor.in.cpp
  src/frontends/onnx/tests/onnx_ops_registration.cpp
  src/frontends/onnx/tests/onnx_reader_external_data.cpp
  src/frontends/onnx/tests/onnx_tensor_names.cpp
  src/frontends/onnx/tests/onnx_test_util.hpp
  src/frontends/onnx/tests/onnx_test_utils.in.cpp
  src/frontends/onnx/tests/onnx_utils.hpp
  src/frontends/onnx/tests/standalone_build/standalone_build_test.cpp
  src/frontends/tests/frontend/shared/CMakeLists.txt
  src/frontends/tests/frontend/shared/src/op_fuzzy.cpp
  src/tests/CMakeLists.txt
  src/tests/engines_util/CMakeLists.txt
  src/tests/engines_util/execute_tools.cpp
  src/tests/engines_util/execute_tools.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_case.hpp
  src/tests/test_utils/common_test_utils/src/data_utils.cpp
  src/tests/test_utils/common_test_utils/src/test_case.cpp
Labels: category: Core, category: IE Tests, category: build, category: ONNX FE

#18888 [LPT] Unexpected quantisation level fix
  src/common/low_precision_transformations/include/low_precision/layer_transformation.hpp
  src/common/low_precision_transformations/src/fake_quantize_decomposition.cpp
  src/common/low_precision_transformations/src/layer_transformation.cpp
  src/common/low_precision_transformations/src/recurrent_cell.cpp
  src/common/low_precision_transformations/src/weightable_layer_transformation.cpp
  src/common/low_precision_transformations/tests/unit/data_precision_check.cpp
  src/common/low_precision_transformations/tests/unit/layer_transformation_get_data_precision.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/common/fake_quantize_on_data.hpp
Labels: category: IE Tests, category: GPU, category: CPU, category: LP transformations

#18784 [Coverity] fix coverity
  src/plugins/intel_gpu/include/intel_gpu/graph/fused_primitive_desc.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/kernel_impl_params.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/graph.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/data.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/loop.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/mutable_data.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/primitive.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/lru_cache.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/graph/concatenation.cpp
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/proposal.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/resample.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/include/eltwise_inst.h
  src/plugins/intel_gpu/src/graph/include/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/include/loop_inst.h
  src/plugins/intel_gpu/src/graph/include/lstm_dynamic_timeloop_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/graph/lstm.cpp
  src/plugins/intel_gpu/src/graph/lstm_dynamic.cpp
  src/plugins/intel_gpu/src/graph/lstm_dynamic_timeloop.cpp
  src/plugins/intel_gpu/src/graph/lstm_gemm.cpp
  src/plugins/intel_gpu/src/graph/mutable_data.cpp
  src/plugins/intel_gpu/src/graph/mvn.cpp
  src/plugins/intel_gpu/src/graph/non_zero.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/prior_box.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/pyramid_roi_align.cpp
  src/plugins/intel_gpu/src/graph/space_to_depth.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/infer_request_legacy.cpp
  src/plugins/intel_gpu/src/plugin/ops/gather.cpp
  src/plugins/intel_gpu/src/plugin/ops/loop.cpp
  src/plugins/intel_gpu/src/plugin/ops/tensor_iterator.cpp
  src/plugins/intel_gpu/src/plugin/remote_context.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.hpp
Labels: category: GPU

#18965 [PT FE] Improved MaxPool convert by PyTorch FE
  src/frontends/pytorch/src/op/max_poolnd.cpp
  tests/layer_tests/pytorch_tests/test_pooling.py
Labels: category: PyTorch FE

#18984 Detect failures in multi-line steps in Azure
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  cmake/templates/OpenVINOConfig.cmake.in
Labels: category: build, category: CI

#18960 [PT FE]: support aten::view_as and aten::std
  src/frontends/pytorch/src/op/var_mean.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_reshape_as.py
  tests/layer_tests/pytorch_tests/test_var_mean.py
Labels: category: PyTorch FE

#19005 [CPU]Disable mlas build with webassembly
  src/plugins/intel_cpu/CMakeLists.txt
Labels: category: CPU, category: build

#19000 [DOCS] Delete GNA pre-release content
  docs/resources/prerelease_information.md
Labels: category: docs

#19011 [PyOV] Add temporary workaround for wheel building issue
  src/bindings/python/constraints.txt
  src/bindings/python/wheel/requirements-dev.txt
  tests/constraints.txt
Labels: category: Python API, category: dependency_changes, category: packaging

#18998 [PT FE] Add aten::linspace
  src/frontends/pytorch/src/op/linspace.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_linspace.py
Labels: category: PyTorch FE

#19007 [TF FE][TF Hub] Support DivNoNan and EnsureShape operations
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/div_no_nan.cpp
  src/frontends/tensorflow_common/src/op/identity.cpp
  tests/layer_tests/tensorflow_tests/test_tf_DivNoNan.py
  tests/layer_tests/tensorflow_tests/test_tf_EnsureShape.py
Labels: category: TF FE, category: TFL FE

#18943 [ShapeInference] GenerateProposals - shape infer review and tests
  src/core/include/openvino/op/generate_proposals.hpp
  src/core/shape_inference/include/generate_proposals_shape_inference.hpp
  src/core/src/op/generate_proposals.cpp
  src/core/tests/type_prop/generate_proposals.cpp
Labels: category: Core, category: CPP API, Feature Freeze

#18877 [CPU] Transpose constant folding on cpu plug-in side for MatMul node only
  src/common/transformations/include/transformations/common_optimizations/align_eltwise_input_ranks.hpp
  src/common/transformations/include/transformations/common_optimizations/matmul_const_transposes_extraction.hpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/graph_optimizer.h
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.h
  src/plugins/intel_cpu/src/nodes/transpose.cpp
  src/plugins/intel_cpu/src/nodes/transpose.h
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/convert_matmul_to_fc.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/matmul_decompress_convert.cpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/convert_matmul_test.cpp
Labels: category: CPU, category: transformations, Feature Freeze

#19020 [TF FE][TF Hub] Support InvertPermutation and CheckNumerics operations
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/identity.cpp
  src/frontends/tensorflow_common/src/op/invert_permutation.cpp
  tests/layer_tests/tensorflow_tests/test_tf_CheckNumerics.py
  tests/layer_tests/tensorflow_tests/test_tf_InvertPermutation.py
Labels: category: TF FE, category: TFL FE

#18994 * [GNA] Fix for GeminiLake detection (#18653)
  samples/cpp/speech_sample/main.cpp
  src/inference/include/openvino/runtime/intel_gna/properties.hpp
  src/plugins/intel_gna/src/backend/gna_limitations.cpp
  src/plugins/intel_gna/src/common/gna_target.cpp
  src/plugins/intel_gna/src/common/gna_target.hpp
  src/plugins/intel_gna/src/gna2_model_export_helper.cpp
  src/plugins/intel_gna/src/gna_device.cpp
  src/plugins/intel_gna/src/gna_device.hpp
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/request/subrequest_impl.cpp
  src/plugins/intel_gna/tests/functional/pass_tests/convert_padded_to_valid_conv.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/single_layer_tests/conv_low_precision.cpp
  src/plugins/intel_gna/tests/unit/gna_plugin_config_test.cpp
Labels: category: inference, category: GNA, category: samples, category: CPP API

#19017 Ported fixes to 2022.3 LTS from master
  cmake/templates/InferenceEngineConfig.cmake.in
  cmake/templates/ngraphConfig.cmake.in
  samples/python/setup.cfg
  src/bindings/c/src/CMakeLists.txt
  src/bindings/python/requirements_test.txt
  src/bindings/python/src/compatibility/openvino/inference_engine/CMakeLists.txt
  src/bindings/python/src/compatibility/openvino/requirements-dev.txt
  src/bindings/python/tests/test_onnx/test_ops_reshape.py
  src/bindings/python/wheel/requirements-dev.txt
  src/frontends/paddle/tests/requirements.txt
  src/frontends/tensorflow/tests/requirements.txt
  src/plugins/intel_cpu/tools/dump_check/requirements.txt
  tools/benchmark_tool/requirements.txt
  tools/cross_check_tool/requirements.txt
  tools/mo/requirements.txt
  tools/mo/requirements_caffe.txt
  tools/mo/requirements_kaldi.txt
  tools/mo/requirements_mxnet.txt
  tools/mo/requirements_onnx.txt
  tools/mo/requirements_tf.txt
  tools/mo/requirements_tf2.txt
  tools/pot/setup.py
Labels: category: build, category: dependency_changes, ported to master

#19030 [PT FE] Support dynamic rank for aten::t
  src/frontends/pytorch/src/op/transpose.cpp
  tests/layer_tests/pytorch_tests/test_transpose.py
Labels: category: PyTorch FE

#18891 [GPU] updated to enqueue only fully_connected layers for async build
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/src/graph/compilation_context.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#18938 [GPU] Add debug config for disabled primitive fusing
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#19010 [dGPU] Copy data from gpu_buffer to gpu_usm
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/usm_memory_test.cpp
Labels: category: GPU

#18898 [GPU] Support non constant input of split length for variadic split
  src/plugins/intel_gpu/src/graph/crop.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/split.cpp
Labels: category: GPU

#18818 update streams calculation for latency mode on MacOS
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Labels: category: CPU

#18871 [GPU] Add reorder to avoid perf drop by using mvn_ref kernel
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/program_node.cpp
Labels: category: GPU

#19038 [PT FE]: support aten::masked_scatter
  src/frontends/pytorch/src/op/masked_scatter.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_masked_scatter.py
Labels: category: PyTorch FE

#19029 [TF FE][TF Hub] Support AdjustContrastv2 operation
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/adjust_contrast.cpp
  tests/layer_tests/tensorflow_tests/test_tf_AdjustContrastv2.py
Labels: category: TF FE, category: TFL FE

#18578 [CPU][ARM] Reshape tensors for ACLConvertExecutor
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_convert.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_utils.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/conversion.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/conversion.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/arm/conversion.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/common/conversion.cpp
Labels: category: CPU, platform: arm

#19024 Remove WA for Conan in TBB search
  src/cmake/ie_parallel.cmake
Labels: category: build

#19008 Remove core properties from set_property() call
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/src/dev/core_impl.cpp
  src/tests/functional/plugin/shared/src/behavior/compiled_model/properties.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_executable_network/properties.cpp
Labels: category: inference, category: IE Tests, category: Python API

#19001 [GPU] Add paddings for dynamic convolutions
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/deformable_convolution.cpp
  src/plugins/intel_gpu/src/graph/include/binary_convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/deconvolution_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/reduce_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_os_iyx_osv16.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv_16_32_imad_dw.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_1x1_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_depthwise_weights_lwg.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_winograd_2x3_s1_fused.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_winograd_6x3_s1_fused.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_params.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/deformable_convolution_kernel_bfyx_interp.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/is_valid_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU, under_perf_check, Feature Freeze

#18711 Advanced `mmap` test for IR FE
  src/frontends/ir/tests/frontend_test_mmap.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/common_utils.hpp
  src/tests/test_utils/common_test_utils/src/common_utils.cpp
  src/tests/test_utils/common_test_utils/src/test_common.cpp
Labels: category: IE Tests, category: IR FE

#19046 [DOCS] Delete GNA pre-release content for master
  docs/resources/prerelease_information.md
Labels: category: docs

#19045 [CPU] Fix initSupportedPrimitiveDescriptors for conv_dw_conv case
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/conv_dw_conv.cpp
Labels: category: CPU

#18914 Additional NopEliminations and SharedOpOptimizations
  src/common/transformations/include/transformations/common_optimizations/eliminate_unsqueeze_gather.hpp
  src/common/transformations/include/transformations/common_optimizations/nop_elimination.hpp
  src/common/transformations/include/transformations/common_optimizations/optimize_strided_slice.hpp
  src/common/transformations/include/transformations/common_optimizations/simplify_shape_of_sub_graph.hpp
  src/common/transformations/src/transformations/common_optimizations/eliminate_unsqueeze_gather.cpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/src/transformations/common_optimizations/optimize_strided_slice.cpp
  src/common/transformations/src/transformations/common_optimizations/shared_ops_optimization.cpp
  src/common/transformations/src/transformations/common_optimizations/simplify_shape_of_sub_graph.cpp
  src/common/transformations/tests/common_optimizations/eliminate_unsqueeze_gather.cpp
  src/common/transformations/tests/common_optimizations/nop_elimination.cpp
  src/common/transformations/tests/common_optimizations/optimize_strided_slice_test.cpp
  src/common/transformations/tests/common_optimizations/shared_ops_optimization.cpp
  src/common/transformations/tests/common_optimizations/shared_shapeof_test.cpp
Labels: category: transformations, Feature Freeze

#19062 fix unused variable issue for PR 18818
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Labels: category: CPU, platform: arm

#19002 [EISW-89820] [releases/2023/0] Rename VPUX to NPU
  docs/OV_Runtime_UG/automatic_batching.md
  docs/_static/download/operation_conformance_table_files/opset_report_omz_static.html
  docs/optimization_guide/nncf/ptq/basic_quantization_flow.md
  samples/cpp/speech_sample/README.md
  samples/cpp/speech_sample/speech_sample.hpp
  samples/python/speech_sample/README.md
  samples/python/speech_sample/arg_parser.py
  src/inference/include/ie/vpu/myriad_config.hpp
  src/plugins/auto/src/auto_executable_network.cpp
  src/plugins/auto/src/auto_schedule.cpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/src/plugin_config.cpp
  src/plugins/auto/tests/unit/auto_runtime_fallback_test.cpp
  src/plugins/auto/tests/unit/auto_select_device_failed_test.cpp
  src/plugins/auto/tests/unit/exec_network_get_metrics.cpp
  src/plugins/auto/tests/unit/get_device_list.cpp
  src/plugins/auto/tests/unit/key_network_priority_test.cpp
  src/plugins/auto/tests/unit/parse_meta_device_test.cpp
  src/plugins/auto/tests/unit/select_device_test.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/include/api_conformance_helpers.hpp
  src/tests/ie_test_utils/common_test_utils/test_constants.cpp
  src/tests/ie_test_utils/common_test_utils/test_constants.hpp
  tests/time_tests/.automation/desktop_test_config.yml
  tests/time_tests/.automation/desktop_test_config_cache.yml
  tests/time_tests/test_runner/test_timetest.py
  thirdparty/CMakeLists.txt
  tools/benchmark_tool/openvino/tools/benchmark/utils/constants.py
  tools/compile_tool/main.cpp
  tools/legacy/benchmark_app/utils.cpp
  tools/pot/README_dev.md
  tools/pot/docs/BestPractices.md
  tools/pot/docs/DefaultQuantizationUsage.md
  tools/pot/openvino/tools/pot/algorithms/quantization/README.md
  tools/pot/openvino/tools/pot/algorithms/quantization/accuracy_aware/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/accuracy_aware_common/mixed_precision.py
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize_configuration.py
  tools/pot/openvino/tools/pot/algorithms/quantization/utils.py
  tools/pot/openvino/tools/pot/configs/config.py
  tools/pot/openvino/tools/pot/configs/hardware/npu.json
  tools/pot/openvino/tools/pot/graph/npu_patterns.py
  tools/pot/openvino/tools/pot/graph/utils.py
  tools/pot/tests/test_target_device.py
  tools/pot/tests/test_unify_scales.py
Labels: category: inference, category: IE Tests, category: build, category: samples, category: docs, category: tools, category: AUTO, category: POT, category: CPP API

#19009 Removed legacy API from core_impl
  src/frontends/onnx/tests/onnx_reader_external_data.cpp
  src/inference/src/cnn_network_ngraph_impl.cpp
  src/inference/src/compilation_context.cpp
  src/inference/src/core.cpp
  src/inference/src/cpp/ie_cnn_network.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl_ie.cpp
  src/inference/src/ie_core.cpp
  src/inference/src/ie_network_reader.cpp
  src/inference/src/ie_ngraph_utils.cpp
  src/inference/src/itt.hpp
  src/inference/tests/functional/cnn_network_test.cpp
  src/inference/tests/unit/core.cpp
Labels: category: inference, category: ONNX FE

#19036 Remove legacy API from from template plugin
  src/inference/dev_api/openvino/runtime/internal_properties.hpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/plugin.cpp
  src/inference/src/dev/plugin.hpp
  src/inference/src/dev/threading/istreams_executor.cpp
  src/plugins/template/src/compiled_model.cpp
  src/plugins/template/src/config.cpp
  src/plugins/template/src/plugin.cpp
  src/plugins/template/src/variable_state.hpp
Labels: category: inference, category: TEMPLATE

#18964 [GPU] Add disable winograd convolution in execute_config.
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/include/openvino/runtime/intel_gpu/properties.hpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
Labels: category: inference, category: GPU, category: Python API, category: docs, category: CPP API

#18861 [GPU] Check if padding is supported for static shape when buffer fusing
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Labels: category: GPU

#18809 [AUTO Plugin] Update document for testing AUTO plugin from benchmark app
  src/plugins/auto/docs/tests.md
Labels: category: docs, category: AUTO

#18630 [GPU] Support dynamic BatchToSpace and SpaceToBatch
  src/plugins/intel_gpu/include/intel_gpu/primitives/batch_to_space.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/space_to_batch.hpp
  src/plugins/intel_gpu/src/graph/batch_to_space.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/batch_to_space.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/space_to_batch.cpp
  src/plugins/intel_gpu/src/graph/include/batch_to_space_inst.h
  src/plugins/intel_gpu/src/graph/include/space_to_batch_inst.h
  src/plugins/intel_gpu/src/graph/space_to_batch.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/batch_to_space_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/space_to_batch_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/batch_to_space/batch_to_space_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/batch_to_space/batch_to_space_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/batch_to_space/batch_to_space_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/space_to_batch/space_to_batch_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/space_to_batch/space_to_batch_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/space_to_batch/space_to_batch_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/ops/batch_to_space.cpp
  src/plugins/intel_gpu/src/plugin/ops/space_to_batch.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/batch_to_space.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/space_to_batch.cpp
Labels: category: GPU

#19068 [GPU] Add reorder if the input format of eltwise is different from the output format
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/tests/unit/passes/add_required_reorders_test.cpp
Labels: category: GPU

#19074 [GPU] Added gi_yxs_os_yxsv2_osv16 format to to_weights_layout map
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
Labels: category: GPU

#19035 [GPU] Fix premature termination of compilation task in tests
  src/plugins/intel_gpu/src/graph/compilation_context.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_optimize_weights.cpp
  src/plugins/intel_gpu/src/graph/include/compilation_context.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/kernel_impl_params_relevance_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#19028 [CPU] Replace memory_order_relaxed with release/acquire in UpdateNodesBase class
  src/plugins/intel_cpu/src/graph.cpp
Labels: category: CPU

#19031 Install local wheel packages instead of PYPI ones
  .ci/azure/linux.yml
Labels: category: CI

#18862 [HETERO] Avoid unexpected dynamism
  src/plugins/hetero/src/compiled_model.cpp
  src/plugins/hetero/src/properties.hpp
  src/plugins/hetero/tests/functional/compile_model_tests.cpp
  src/plugins/hetero/tests/functional/hetero_tests.cpp
  src/plugins/hetero/tests/functional/hetero_tests.hpp
  src/plugins/hetero/tests/functional/query_model_tests.cpp
Labels: category: HETERO

#19050 [CONFORMANCE] Fix expected trusted op passrate + python constants fix
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir_tests.cpp
  src/tests/test_utils/functional_test_utils/layer_tests_summary/merge_xmls.py
  src/tests/test_utils/functional_test_utils/layer_tests_summary/rename_conformance_ir.py
  src/tests/test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
  src/tests/test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
Labels: category: IE Tests, conformance

#18975 [MO] Do not create example inputs based on input or input_shape
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
  tools/mo/openvino/tools/mo/moc_frontend/pytorch_frontend_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: MO, category: tools

#19076 [CONF] Aligned naming for latest changes
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/main.cpp
Labels: category: IE Tests, conformance

#19099 [TF FE] Simplify ResizeBilinear and ResizeNearestNeighbor translators
  src/frontends/tensorflow_common/src/op/interpolate.cpp
Labels: category: TF FE, category: TFL FE

#19088 [PT FE] Fix issue with kwargs in signature
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/frontends/pytorch/src/utils_quantize.cpp
  src/frontends/pytorch/src/utils_quantize.hpp
Labels: category: Python API, category: PyTorch FE

#19004 [EISW-89824] [master] Rename VPUX to NPU
  docs/OV_Runtime_UG/automatic_batching.md
  docs/_static/download/operation_conformance_table_files/opset_report_omz_static.html
  docs/optimization_guide/nncf/ptq/basic_quantization_flow.md
  samples/cpp/benchmark_app/utils.cpp
  samples/cpp/speech_sample/README.md
  samples/cpp/speech_sample/speech_sample.hpp
  samples/python/speech_sample/README.md
  samples/python/speech_sample/arg_parser.py
  src/inference/include/ie/vpu/myriad_config.hpp
  src/plugins/auto/src/auto_compiled_model.cpp
  src/plugins/auto/src/auto_schedule.cpp
  src/plugins/auto/src/plugin_config.cpp
  src/plugins/auto/tests/unit/compile_model_metric_test.cpp
  src/plugins/auto/tests/unit/get_device_list.cpp
  src/plugins/auto/tests/unit/select_device_failed_test.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/include/api_conformance_helpers.hpp
  src/tests/test_utils/common_test_utils/CMakeLists.txt
  src/tests/test_utils/common_test_utils/include/common_test_utils/common_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/data_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/file_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_common.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_constants.hpp
  src/tests/test_utils/common_test_utils/src/test_constants.cpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/crash_handler.hpp
  tests/time_tests/.automation/auto_plugin_test_config.yml
  tests/time_tests/.automation/desktop_test_config.yml
  tests/time_tests/.automation/desktop_test_config_cache.yml
  tests/time_tests/test_runner/test_timetest.py
  thirdparty/dependencies.cmake
  tools/benchmark_tool/openvino/tools/benchmark/utils/constants.py
  tools/pot/README_dev.md
  tools/pot/docs/BestPractices.md
  tools/pot/docs/DefaultQuantizationUsage.md
  tools/pot/openvino/tools/pot/algorithms/quantization/README.md
  tools/pot/openvino/tools/pot/algorithms/quantization/accuracy_aware/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/accuracy_aware_common/mixed_precision.py
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize_configuration.py
  tools/pot/openvino/tools/pot/algorithms/quantization/utils.py
  tools/pot/openvino/tools/pot/configs/config.py
  tools/pot/openvino/tools/pot/graph/npu_patterns.py
  tools/pot/openvino/tools/pot/graph/utils.py
  tools/pot/tests/test_target_device.py
Labels: category: inference, category: IE Tests, category: build, category: samples, category: docs, category: tools, category: dependency_changes, category: AUTO, category: POT, category: CPP API

#19103 [GPU] Fix data race in CompilationContext
  src/plugins/intel_gpu/src/graph/compilation_context.cpp
Labels: category: GPU

#19087 [GPU] RandomUniform new shape inference for dynamic models support
  src/plugins/intel_gpu/include/intel_gpu/primitives/random_uniform.hpp
  src/plugins/intel_gpu/src/graph/include/random_uniform_inst.h
  src/plugins/intel_gpu/src/graph/random_uniform.cpp
  src/plugins/intel_gpu/src/plugin/ops/random_uniform.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/random_uniform.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/random_uniform_si_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/random_uniform_gpu_test.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/functional/shared_test_classes/src/single_layer/random_uniform.cpp
Labels: category: IE Tests, category: GPU

#19042 [GPU] Prevent Conv's input data type changing at reorder_inputs pass
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/tests/unit/passes/add_required_reorders_test.cpp
Labels: category: GPU, Feature Freeze

#19055 [GPU] updates to initialize onednn attr a new onednn_impl is chosen
  src/plugins/intel_gpu/src/graph/include/program_node.h
Labels: category: GPU

#19098 [PT FE] Refactor aten::flatten and aten::transpose conversion
  src/frontends/pytorch/src/op/fake_quantize.cpp
  src/frontends/pytorch/src/op/flatten.cpp
  src/frontends/pytorch/src/op/transpose.cpp
  src/frontends/pytorch/src/op/unflatten.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  src/frontends/pytorch/src/utils_quantize.cpp
  tests/layer_tests/pytorch_tests/test_flatten.py
  tests/layer_tests/pytorch_tests/test_native_multi_head_attention.py
Labels: category: PyTorch FE

#18928 Create build.yml
  .github/ISSUE_TEMPLATE/build.yml
Labels: category: CI

#18925 [GPU] Use ov::Tensor intead of ngraph::HostTensor
  src/core/shape_inference/include/tensor_data_accessor.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/tensor_accessor.hpp
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/arg_max_min.cpp
  src/plugins/intel_gpu/src/graph/batch_to_space.cpp
  src/plugins/intel_gpu/src/graph/border.cpp
  src/plugins/intel_gpu/src/graph/broadcast.cpp
  src/plugins/intel_gpu/src/graph/crop.cpp
  src/plugins/intel_gpu/src/graph/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/range.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/one_hot.cpp
  src/plugins/intel_gpu/src/graph/prior_box.cpp
  src/plugins/intel_gpu/src/graph/random_uniform.cpp
  src/plugins/intel_gpu/src/graph/range.cpp
  src/plugins/intel_gpu/src/graph/reduce.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/graph/space_to_batch.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/pad_si_test.cpp
Labels: category: Core, category: GPU, category: build

#19093 [DOCS] Add numpy to installation instructions
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-raspbian.md
Labels: category: docs

#18896 [CONFORMANCE] Enabling SubgraphsDumping
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/cache/graph_cache.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/cache/meta/input_info.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/cache/meta/meta_info.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/cache/meta/model_info.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/cache/op_cache.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/subgraph/fused_names.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/subgraph/manager.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/subgraph/subgraph.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/model.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/node.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/cache/cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/cache/graph_cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/cache/meta/meta_info.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/cache/op_cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/fused_names.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/manager.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/repeat_pattern.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/subgraph.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/model.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/node.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/cache/graph_cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/cache/meta.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/matchers/subgraph/fused_names.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/matchers/subgraph/manager.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/matchers/subgraph/repeat_pattern.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/skip_tests_config.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/test_models/model_1.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/test_models/model_2.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/utils/model.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir.cpp
  src/tests/functional/shared_test_classes/src/base/utils/generate_inputs.cpp
Labels: category: IE Tests, conformance

#19118 [GNA] Temporary deactivation of sporadically failing tests
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: GNA

#19119 [CONF] Updated opset version to the latest
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir_tests.cpp
Labels: category: IE Tests, conformance

#19123 [CONF] Aligned test name with latest master
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/main.cpp
Labels: category: IE Tests, conformance

#19128 [DOCS] Add numpy to installation instructions for 2023.0
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
Labels: category: docs

#19125 [DOCS] Adds Python wheel requirements info to docs for 23.0
  docs/dev/build_linux.md
  docs/dev/build_windows.md
Labels: category: docs

#19094 [BUG] Fix bug on conversion of gather to sequeeze
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/tests/common_optimizations/nop_elimination.cpp
Labels: category: transformations

#19132 Update reminder message in MO and OVC.
  tools/mo/openvino/tools/mo/utils/get_ov_update_message.py
  tools/ovc/openvino/tools/ovc/get_ov_update_message.py
Labels: category: MO, category: tools

#18993 [PT FE] Use weight share switch in frontend
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/utils.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
  tools/mo/openvino/tools/mo/moc_frontend/pytorch_frontend_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: MO, category: Python API, category: tools, category: PyTorch FE

#19109 support Win7 in CPU information parser
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser/parser_windows.cpp
Labels: category: inference

#19110 support Win7 in CPU information parser on 2023.0 release branch
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser.cpp
Labels: category: inference

#18863 update stream info for mixing MAIN_CORE_PROC and HYPER_THREADING_PROC
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.hpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_e2e_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
Labels: category: CPU

#18779 Xiaoxia/fix socket id=-1 on macOS
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/system_conf.cpp
  src/plugins/intel_cpu/src/exec_network.cpp
Labels: category: inference, category: CPU

#19100 Fixed compilation with 32 bits
  src/core/reference/include/ngraph/runtime/reference/scatter_elements_update.hpp
Labels: category: Core

#19129 [PT FE] Remove torch strides compensation
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/utils.py
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_quantized_convnd.py
Labels: category: Python API, category: CPP API, category: PyTorch FE

#19136 [CPU] Give different output name for dnnl
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
Labels: category: CPU, category: build

#19112 [PyOV] Add `sympy` dependency for torchvision preprocessor tests
  src/bindings/python/requirements_test.txt
Labels: category: Python API, category: dependency_changes

#19014 Fix of tensor names loosing for cf=True flag in MOC transformations.
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/tests/common_optimizations/moc_transformations.cpp
  tests/layer_tests/mo_python_api_tests/test_mo_convert_tf.py
Labels: category: transformations

#18910 block SOC Ecore to be used in multi-threading on Windows
  src/inference/dev_api/openvino/runtime/system_conf.hpp
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser/parser_windows.cpp
Labels: category: inference, category: CPU

#19101 [PT FE] aten::concat
  src/frontends/pytorch/src/op/cat.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/transforms/aten_cat_replacer.cpp
  tests/layer_tests/pytorch_tests/test_cat.py
Labels: category: PyTorch FE

#19139 [DOCS] Removal of redundant files.
  docs/HOWTO/img/converted_subgraph.png
  docs/HOWTO/img/unsupported_subgraph.png
  docs/HOWTO/mo_extensions/front/tf/Complex.py
  docs/HOWTO/mo_extensions/front/tf/ComplexAbs.py
  docs/HOWTO/mo_extensions/front/tf/FFT_ext.py
  docs/HOWTO/mo_extensions/ops/FFT.py
  docs/HOWTO/mri_reconstruction_demo.py
Labels: category: docs

#19133 Fixed description for `convert_partially`
  src/frontends/common/include/openvino/frontend/frontend.hpp
Labels: category: Core, category: CPP API
