Repository openvinotoolkit/openvino, pull requests merged in 2023-09, with the labels that each got.

#19470 Improve acos ref accuracy for integral types
  src/core/reference/include/openvino/reference/acos.hpp
  src/core/reference/include/openvino/reference/acosh.hpp
  src/plugins/template/tests/functional/op_reference/acos.cpp
Labels: category: Core, category: TEMPLATE

#19419 [GPU] Allow simple attached mem as input memory for network
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/graph/input_layout.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/engine_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/data_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/proposal_cpu_test.cpp
Labels: category: GPU

#19526 Aligned protobuf version in conanfile.txt with onnx recipe
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/windows_conditional_compilation.yml
  conanfile.txt
Labels: category: CI

#18846 Snippets pass manager
  src/common/snippets/include/snippets/lowered/pass/pass.hpp
  src/common/snippets/include/snippets/op/subgraph.hpp
  src/common/snippets/include/snippets/pass_manager.hpp
  src/common/snippets/src/lowered/pass/pass.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass_manager.cpp
  src/common/snippets/tests/include/lowering_utils.hpp
  src/common/snippets/tests/src/lowering_utils.cpp
  src/core/include/openvino/pass/manager.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/mul_add_to_fma.cpp
Labels: category: Core, category: CPU, category: CPP API

#19386 [DOCS] adjustment to supported devices port 23.1
  docs/Documentation/model_introduction.md
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
Labels: category: docs

#19385 [DOCS] adjustment to supported devices
  docs/Documentation/model_introduction.md
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
Labels: category: docs

#19425 [OVC] Fix output parsing
  tests/layer_tests/ovc_python_api_tests/test_complex_params.py
  tools/ovc/openvino/tools/ovc/convert.py
  tools/ovc/openvino/tools/ovc/convert_impl.py
  tools/ovc/openvino/tools/ovc/help.py
  tools/ovc/unit_tests/ovc/utils/cli_parser_test.py
Labels: bug, category: MO, category: tools

#19533 Ported CI improvements from #19526 to master
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#19537 Robust detection of Cython version
  src/bindings/python/src/compatibility/openvino/CMakeLists.txt
  src/bindings/python/src/compatibility/openvino/cmake/CythonConfig.cmake
Labels: category: build, category: Python API

#19532 Update ConvertReduceToReshape transformation to support ReduceProd
  src/common/transformations/include/transformations/op_conversions/convert_reduce_to_reshape.hpp
  src/common/transformations/src/transformations/op_conversions/convert_reduce_to_reshape.cpp
  src/common/transformations/tests/op_conversions/convert_reduce_to_reshape.cpp
Labels: category: transformations

#19529 Enable variable state unit tests
  src/inference/tests/unit/variable_state_test.cpp
Labels: category: inference

#19067 [POT] Update for CI
  tools/pot/tests/data/reference_fake_quantize_conf/googlenet-v3_asymmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/googlenet-v3_mixed.json
  tools/pot/tests/data/reference_fake_quantize_conf/googlenet-v3_symmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/mobilenet-v2-pytorch_asymmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/mobilenet-v2-pytorch_mixed.json
  tools/pot/tests/data/reference_fake_quantize_conf/mobilenet-v2-pytorch_symmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/resnet-50-pytorch_asymmetric.json
  tools/pot/tests/data/reference_fake_quantize_conf/resnet-50-pytorch_mixed.json
  tools/pot/tests/data/reference_fake_quantize_conf/resnet-50-pytorch_symmetric.json
  tools/pot/tests/data/reference_models/gather_example_tf.xml
  tools/pot/tests/data/reference_models/gru_example_pytorch.xml
  tools/pot/tests/data/reference_models/lstm_example_pytorch.xml
  tools/pot/tests/data/reference_models/matmul_divide_const_ig_pt_tf.xml
  tools/pot/tests/data/reference_models/mobilenetv2_ssd_example_cut_fq_pytorch.xml
  tools/pot/tests/data/reference_models/mobilenetv2_ssd_example_pytorch.xml
  tools/pot/tests/data/reference_models/mobilenetv2_ssd_example_stat_mean_pytorch.xml
  tools/pot/tests/data/reference_models/mtcnn_ig_params_onet_caffe.xml
  tools/pot/tests/data/reference_models/mtcnn_ig_params_pnet_caffe.xml
  tools/pot/tests/data/reference_models/mtcnn_ig_params_rnet_caffe.xml
  tools/pot/tests/data/reference_models/multiple_out_ports_net_cut_fq_tf.xml
  tools/pot/tests/data/reference_models/multiple_out_ports_net_tf.xml
  tools/pot/tests/data/reference_models/resnet_example_DefaultQuantization_pytorch.xml
  tools/pot/tests/data/reference_models/resnet_example_RangeSupervision_pytorch.xml
  tools/pot/tests/data/reference_models/resnet_example_range_supervision_pytorch.xml
  tools/pot/tests/data/reference_models/resnet_example_ranger_pytorch.xml
  tools/pot/tests/data/reference_models/softsign_example_tf.xml
  tools/pot/tests/data/reference_models/sparsity_example_02_sparsity_normed_tf.bin
  tools/pot/tests/data/reference_models/sparsity_example_02_sparsity_normed_tf.xml
  tools/pot/tests/data/reference_models/sparsity_example_02_sparsity_tf.xml
  tools/pot/tests/data/reference_models/tensor_iterator_example_tf.xml
  tools/pot/tests/data/reference_models/ti_decomposition_example_tf.xml
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_accuracy_activations.json
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_clipped_activations.json
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_performance_activations.json
  tools/pot/tests/data/reference_scale/mobilenet-v2-pytorch_weights.json
  tools/pot/tests/data/test_cases_refs/lstm_outs_quantization_statistics_data.json
  tools/pot/tests/data/test_cases_refs/mobilenet-v2-pytorch_statistics_data.json
  tools/pot/tests/test_graph.py
  tools/pot/tests/test_sanity.py
  tools/pot/tests/utils/custom_models.py
Labels: category: POT

#19512 SplitSqueezeConcatFusion - handle Squeeze nodes without second input
  src/common/transformations/src/transformations/common_optimizations/split_squeeze_concat_fusion.cpp
  src/common/transformations/tests/common_optimizations/split_squeeze_concat_fusion_test.cpp
Labels: category: transformations

#19511 [GPU] Fix input feature map indexing with pad and batch indices for ROIAlign
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/roi_align_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/roi_align_gpu_test.cpp
Labels: category: GPU

#19546 [PyOV] Cython bug cleanup
  .ci/openvino-onnx/Dockerfile
  docs/requirements.txt
  src/bindings/python/src/compatibility/openvino/CMakeLists.txt
  src/bindings/python/src/compatibility/openvino/cmake/CythonConfig.cmake
  src/bindings/python/src/compatibility/openvino/requirements-dev.txt
Labels: category: build, category: Python API, category: CI, category: docs, category: dependency_changes

#19556 Fixed static build from build tree
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/packaging/packaging.cmake
  samples/c/common/opencv_c_wrapper/CMakeLists.txt
Labels: category: build, category: samples, category: packaging

#19551 Fixed order of dependent cmake options
  .ci/azure/linux_cuda.yml
  cmake/features.cmake
Labels: category: build, category: CI

#19567 [TF Hub][TF FE] Fix TF Hub models validation and extend precommit
  tests/model_hub_tests/models_hub_common/test_convert_model.py
  tests/model_hub_tests/tf_hub_tests/nightly_models
  tests/model_hub_tests/tf_hub_tests/precommit_models
  tests/model_hub_tests/tf_hub_tests/requirements.txt
  tests/model_hub_tests/tf_hub_tests/test_tf_hub_convert_model.py
Labels: category: dependency_changes

#19540 [DOCS] Torch.compile() documentation for 23.1
  docs/Documentation/openvino_workflow.md
  docs/Documentation/torch_compile.md
  docs/_static/css/homepage_style.css
  docs/_static/images/torch_compile_backend_openvino.svg
  docs/_static/images/torch_compile_backend_openvino_ts.svg
  docs/home.rst
Labels: category: docs

#19542 [DOCS] Torch.compile() documentation for 23.0
  docs/Documentation/openvino_workflow.md
  docs/Documentation/torch_compile.md
  docs/_static/css/homepage_style.css
  docs/_static/images/torch_compile_backend_openvino.svg
  docs/_static/images/torch_compile_backend_openvino_ts.svg
  docs/home.rst
Labels: category: docs

#19524 [ARM CPU] Fix arm tests instance for SLT
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
Labels: category: CPU, category: build, platform: arm

#19447 [DOCS] Torch.compile() documentation for master
  docs/Documentation/openvino_workflow.md
  docs/Documentation/torch_compile.md
  docs/_static/css/homepage_style.css
  docs/_static/images/torch_compile_backend_openvino.svg
  docs/_static/images/torch_compile_backend_openvino_ts.svg
  docs/home.rst
Labels: category: docs, WIP

#19561 [DOCS] pytorch usage adjustment - model formats 23.1
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
Labels: category: docs

#19558 [DOCS] pytorch usage adjustment - model formats master
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
Labels: category: docs

#19522 [apiConformance] Fix some test results are not in report
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Labels: category: IE Tests, conformance

#19565 Fixed static build from build tree for 2023.1
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/packaging/packaging.cmake
  samples/c/common/opencv_c_wrapper/CMakeLists.txt
Labels: category: build, category: samples, category: packaging

#19553 A set of fixes for Conan C++ package manager for 2023.1
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/developer_package/plugins/plugins.cmake
  src/cmake/ie_parallel.cmake
  src/cmake/install_tbb.cmake
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: GPU, category: build, category: packaging

#19552 A set of fixes for Conan C++ package manager
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/developer_package/plugins/plugins.cmake
  src/cmake/ie_parallel.cmake
  src/cmake/install_tbb.cmake
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: GPU, category: build, category: packaging

#19515 [PT FE]: support PReLU
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_prelu.py
Labels: category: PyTorch FE

#19579 [DOCS] Extend sphinx_sitemap to add custom metadata
  docs/conf.py
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/PKG-INFO
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/SOURCES.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/dependency_links.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/requires.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/top_level.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/openvino_custom_sphinx_sitemap/pyproject.toml
  docs/requirements.txt
Labels: category: docs, category: dependency_changes

#19580 [DOCS] Fix for Install from Docker Image for 23.1
  docs/install_guides/installing-openvino-docker-linux.md
Labels: category: docs

#19477 PullReshapeThroughReduce - skip transformation if Reshape doesn't unsqueeze input
  src/common/transformations/src/transformations/common_optimizations/pull_through_reduce.cpp
  src/common/transformations/tests/common_optimizations/pull_through_reduce_test.cpp
Labels: category: transformations

#19586 [DOCS] 23.0 to 23.1 link update for 23.1
  README.md
  docs/IE_PLUGIN_DG/Intro.md
  docs/IE_PLUGIN_DG/dev_api_references.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_RetinaNet_From_Tensorflow.md
  docs/OV_Runtime_UG/integrate_with_your_application.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/preprocessing_usecase_save.md
  docs/benchmarks/performance_benchmarks.md
  docs/dev/cmake_options_for_custom_compilation.md
  docs/dev/debug_capabilities.md
  docs/gapi/face_beautification.md
  docs/gapi/gapi_face_analytics_pipeline.md
  docs/home.rst
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
  docs/notebooks/002-openvino-api-with-output.rst
  docs/notebooks/101-tensorflow-classification-to-openvino-with-output.rst
  docs/notebooks/103-paddle-to-openvino-classification-with-output.rst
  docs/notebooks/104-model-tools-with-output.rst
  docs/notebooks/107-speech-recognition-quantization-data2vec-with-output.rst
  docs/notebooks/108-gpu-device-with-output.rst
  docs/notebooks/109-throughput-tricks-with-output.rst
  docs/notebooks/111-yolov5-quantization-migration-with-output.rst
  docs/notebooks/112-pytorch-post-training-quantization-nncf-with-output.rst
  docs/notebooks/119-tflite-to-openvino-with-output.rst
  docs/notebooks/120-tensorflow-object-detection-to-openvino-with-output.rst
  docs/notebooks/206-vision-paddlegan-anime-with-output.rst
  docs/notebooks/219-knowledge-graphs-conve-with-output.rst
  docs/notebooks/220-cross-lingual-books-alignment-with-output.rst
  docs/notebooks/230-yolov8-optimization-with-output.rst
  docs/notebooks/236-stable-diffusion-v2-optimum-demo-with-output.rst
  docs/notebooks/245-typo-detector-with-output.rst
  docs/notebooks/246-depth-estimation-videpth-with-output.rst
  docs/notebooks/247-code-language-id-with-output.rst
  docs/notebooks/250-music-generation-with-output.rst
  docs/notebooks/301-tensorflow-training-openvino-nncf-with-output.rst
  docs/optimization_guide/dldt_deployment_optimization_common.md
  samples/c/hello_nv12_input_classification/README.md
  samples/python/classification_sample_async/README.md
  samples/python/hello_classification/README.md
  samples/python/hello_query_device/README.md
  samples/python/hello_reshape_ssd/README.md
  samples/python/model_creation_sample/README.md
  samples/python/speech_sample/README.md
  src/README.md
  src/bindings/c/README.md
  src/bindings/c/docs/how_to_wrap_openvino_interfaces_with_c.md
  src/bindings/c/docs/how_to_wrap_openvino_objects_with_c.md
  src/bindings/c/docs/how_to_write_unit_test.md
  src/plugins/auto/docs/integration.md
  src/plugins/proxy/README.md
  tools/pot/README.md
  tools/pot/docs/ModelRepresentation.md
Labels: category: C API, category: samples, category: docs, category: AUTO, category: POT

#19564 [apiConformance] Fix double numbers in results after merge xml
  src/tests/test_utils/functional_test_utils/layer_tests_summary/merge_xmls.py
Labels: category: IE Tests

#19547 Backport Robust detection of Cython version (#19537)
  conanfile.txt
  src/bindings/python/src/compatibility/openvino/CMakeLists.txt
  src/bindings/python/src/compatibility/openvino/cmake/CythonConfig.cmake
Labels: category: build, category: Python API

#19516 [GPU] Add permute primitive instead of manual copy for deconv weights
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
Labels: category: GPU

#19563 [DOCS] Update docs links
  docs/install_guides/pre-release-note.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#19577 Remove legacy API from snippets tests
  src/common/snippets/tests/src/lowering_utils.cpp
  src/common/snippets/tests/src/pass/movebroadcast.cpp
  src/common/snippets/tests/src/pass/precision_propagation.cpp
  src/common/snippets/tests/src/pass/softmax_reshape_elimination.cpp
  src/common/snippets/tests/src/precomp.hpp
Labels: category: CPU

#19535 Auto batch lost label fix
  src/common/transformations/include/transformations/common_optimizations/dimension_tracking.hpp
  src/common/transformations/src/transformations/common_optimizations/dimension_tracking.cpp
  src/common/transformations/tests/common_optimizations/dimension_tracking.cpp
  src/core/tests/type_prop/reshape.cpp
  src/plugins/auto_batch/src/plugin.cpp
Labels: category: Core, category: transformations, category: AUTO BATCH

#19590 Fixed build with static protobuf for brew publishing
  thirdparty/CMakeLists.txt
Labels: bug, category: build

#19513 Move Inference Functional Caching Tests to new API
  src/inference/tests/functional/caching_test.cpp
  src/tests/test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
Labels: category: inference, category: IE Tests

#19573 Remove ICore legacy mock object
  src/plugins/auto/tests/unit/include/auto_unit_test.hpp
  src/plugins/auto_batch/tests/unit/async_infer_request_test.cpp
  src/plugins/auto_batch/tests/unit/compile_model_create_infer_request_test.cpp
  src/plugins/auto_batch/tests/unit/compile_model_get_property_test.cpp
  src/plugins/auto_batch/tests/unit/compile_model_get_runtime_model_test.cpp
  src/plugins/auto_batch/tests/unit/compile_model_set_property_test.cpp
  src/plugins/auto_batch/tests/unit/parse_meta_device_test.cpp
  src/plugins/auto_batch/tests/unit/plugin_compile_model_test.cpp
  src/plugins/auto_batch/tests/unit/plugin_get_property_test.cpp
  src/plugins/auto_batch/tests/unit/plugin_query_model_test.cpp
  src/plugins/auto_batch/tests/unit/sync_infer_request_test.cpp
  src/tests/test_utils/unit_test_utils/mock.cpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_icore.hpp
Labels: category: IE Tests, category: AUTO, category: AUTO BATCH

#19396 [DOCS][PT FE] Update pytorch conversion docs
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
Labels: category: docs

#19599 Added tflite to 'predefined_frontends' list
  src/frontends/common/src/manager.cpp
Labels: category: Core

#19595 [PT FE] eliminate broadcast node in masked_fill
  src/frontends/pytorch/src/op/masked_fill.cpp
Labels: category: PyTorch FE

#19604 [DOCS] 23.0.2 adjustment
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/notebooks/121-convert-to-openvino-with-output.rst
Labels: category: docs

#19598 Add 2023.0.2 selector tool
  docs/_static/selector-tool/assets/selector-4429452f.js
  docs/_static/selector-tool/assets/selector-8f26adbc.js
  docs/_static/selector-tool/selector-d0636ef.html
  docs/install_guides/installing-openvino-overview.md
Labels: category: docs

#19594 Unlock custom creation of PLATFORM_TAG
  src/bindings/python/wheel/CMakeLists.txt
Labels: category: build, category: Python API, category: packaging

#19591 [analyzeConfFails] Fix arm device and exclude analyzing some files
  src/tests/test_utils/functional_test_utils/layer_tests_summary/analyze_confomance_fails.py
Labels: category: IE Tests

#19582 Remove legacy API from IR frontend
  src/frontends/ir/include/openvino/frontend/ir/frontend.hpp
  src/frontends/ir/src/CMakeLists.txt
  src/frontends/ir/src/frontend.cpp
  src/frontends/ir/src/input_model.cpp
  src/frontends/ir/src/ir_deserializer.cpp
  src/frontends/ir/src/ir_deserializer.hpp
  src/frontends/ir/src/rt_info_deserializer.cpp
  src/frontends/ir/src/utils.cpp
  src/frontends/ir/src/utils.hpp
  src/frontends/ir/tests/meta_data_tests.cpp
  src/tests/functional/plugin/shared/CMakeLists.txt
Labels: category: IE Tests, category: build, category: IR FE

#19539 [GPU] Add FullyConnected internal op and some related transformations
  src/plugins/intel_gpu/include/intel_gpu/op/fully_connected.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/program_builder.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/plugin/ops/fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_matmul_to_fc.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_matmul_to_fc.hpp
  src/plugins/intel_gpu/src/plugin/transformations/move_fc_reshape_to_weights.cpp
  src/plugins/intel_gpu/src/plugin/transformations/move_fc_reshape_to_weights.hpp
  src/plugins/intel_gpu/src/plugin/transformations/op/fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/matmul_weights_decompression.cpp
  src/plugins/intel_gpu/tests/unit/CMakeLists.txt
  src/plugins/intel_gpu/tests/unit/transformations/convert_matmul_to_fc_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/move_fc_reshape_to_weights.cpp
Labels: category: GPU, category: build

#19624 [DOCS] Fixing Optimize Preprocessing in notebooks 120 and 230 for master
  docs/notebooks/120-tensorflow-object-detection-to-openvino-with-output.rst
  docs/notebooks/230-yolov8-optimization-with-output.rst
Labels: category: docs

#19627 [DOCS] Extend sphinx_sitemap to add custom metadata for 23.1
  docs/conf.py
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/PKG-INFO
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/SOURCES.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/dependency_links.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/requires.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/top_level.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/openvino_custom_sphinx_sitemap/pyproject.toml
  docs/requirements.txt
Labels: category: docs, category: dependency_changes

#19625 [DOCS] Fixing Optimize Preprocessing in notebooks 120 and 230 for 23.0
  docs/notebooks/120-tensorflow-object-detection-to-openvino-with-output.rst
  docs/notebooks/230-yolov8-optimization-with-output.rst
Labels: category: docs

#19606 Rename cmake ie_ macros and ie_parallel script
  cmake/developer_package/IEDevScriptsConfig.cmake
  src/cmake/install_tbb.cmake
  src/cmake/openvino.cmake
  src/cmake/ov_parallel.cmake
  src/common/low_precision_transformations/CMakeLists.txt
  src/common/preprocessing/src/CMakeLists.txt
  src/common/snippets/CMakeLists.txt
  src/common/transformations/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/reference/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/auto/CMakeLists.txt
  src/plugins/auto/tests/unit/CMakeLists.txt
  src/plugins/auto_batch/tests/functional/CMakeLists.txt
  src/plugins/auto_batch/tests/unit/CMakeLists.txt
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
  src/plugins/intel_cpu/tests/functional/specific_tests.cmake
  src/plugins/intel_cpu/tests/functional/target_per_test.cmake
  src/plugins/intel_gna/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/CMakeLists.txt
  src/plugins/intel_gpu/tests/unit/CMakeLists.txt
Labels: category: inference, category: Core, category: GPU, category: CPU, category: GNA, category: build, category: transformations, category: LP transformations, category: preprocessing, category: AUTO, category: AUTO BATCH

#19608 Remove legacy API from samples
  samples/cpp/benchmark_app/utils.hpp
  samples/cpp/common/utils/include/samples/common.hpp
  samples/cpp/model_creation_sample/main.cpp
  samples/cpp/speech_sample/main.cpp
Labels: category: samples

#19635 Update Selector Tool for 2023.0.2 version
  docs/_static/selector-tool/assets/selector-988b947e.js
  docs/_static/selector-tool/selector-bdf586b.html
  docs/install_guides/installing-openvino-overview.md
Labels: category: docs

#18926 Create documentation.yml
  .github/ISSUE_TEMPLATE/documentation.yml
Labels: category: CI

#19302 [GPU] update the data-type of primitive from ops
  src/plugins/intel_gpu/src/graph/permute.cpp
  src/plugins/intel_gpu/src/plugin/ops/transpose.cpp
Labels: category: GPU

#18966 [Commit slider] Skipping for commits
  src/plugins/intel_cpu/tools/commit_slider/commit_slider.py
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg.json
  src/plugins/intel_cpu/tools/commit_slider/utils/common_mode.py
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
  src/plugins/intel_cpu/tools/commit_slider/utils/modes.py
Labels: category: CPU

#19614 [DOCS][PT FE] Update pytorch conversion docs for master
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
Labels: category: docs

#19609 Unlock custom creation of PLATFORM_TAG
  src/bindings/python/wheel/CMakeLists.txt
Labels: category: build, category: Python API, category: packaging

#19620 [DOCS] Improve NNCF workflow images for 23.1
  docs/_static/images/DEVELOPMENT_FLOW_V3_crunch.svg
  docs/optimization_guide/model_optimization_guide.md
Labels: category: docs

#19631 [PyOV] resolve gil issue
  src/bindings/python/CMakeLists.txt
  src/bindings/python/src/pyopenvino/core/compiled_model.cpp
Labels: category: build, category: Python API

#19463 [ShapeInfer] FFTBase shape infer improvement - preserve input sizes bounds and labels
  src/core/shape_inference/include/fft_base_shape_inference.hpp
  src/core/shape_inference/include/fft_common_validation.hpp
  src/core/shape_inference/include/irdft_shape_inference.hpp
  src/core/shape_inference/include/rdft_shape_inference.hpp
  src/core/tests/type_prop/fft_base_complex.cpp
  src/core/tests/type_prop/irdft.cpp
  src/core/tests/type_prop/rdft.cpp
Labels: category: Core

#19583 Removed legacy API from common frontend and shared tests
  src/frontends/common/include/openvino/frontend/extension/op.hpp
  src/frontends/onnx/tests/load_from.cpp
  src/frontends/tests/frontend/shared/include/basic_api.hpp
  src/frontends/tests/frontend/shared/include/conversion_extension.hpp
  src/frontends/tests/frontend/shared/include/convert_model.hpp
  src/frontends/tests/frontend/shared/include/cut_specific_model.hpp
  src/frontends/tests/frontend/shared/include/library_extension.hpp
  src/frontends/tests/frontend/shared/include/load_from.hpp
  src/frontends/tests/frontend/shared/include/op_extension.hpp
  src/frontends/tests/frontend/shared/include/op_fuzzy.hpp
  src/frontends/tests/frontend/shared/include/partial_shape.hpp
  src/frontends/tests/frontend/shared/include/set_element_type.hpp
  src/frontends/tests/frontend/shared/include/telemetry.hpp
  src/frontends/tests/frontend/shared/include/utils.hpp
  src/frontends/tests/frontend/shared/src/basic_api.cpp
  src/frontends/tests/frontend/shared/src/conversion.cpp
  src/frontends/tests/frontend/shared/src/convert_model.cpp
  src/frontends/tests/frontend/shared/src/cut_specific_model.cpp
  src/frontends/tests/frontend/shared/src/library_extension.cpp
  src/frontends/tests/frontend/shared/src/load_from.cpp
  src/frontends/tests/frontend/shared/src/op_extension.cpp
  src/frontends/tests/frontend/shared/src/op_fuzzy.cpp
  src/frontends/tests/frontend/shared/src/partial_shape.cpp
  src/frontends/tests/frontend/shared/src/set_element_type.cpp
Labels: category: Core, category: IE Tests, category: ONNX FE, category: extensions, category: CPP API

#19589 [CPU] Fix input output tensor binding
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/concat_reshape_concat.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/input_output_tensor_reuse.cpp
Labels: bug, category: CPU

#19640 Added tflite to 'predefined_frontends' list (#19599)
  src/frontends/common/src/manager.cpp
Labels: category: Core

#19481 [Snippets] ov::Node replaced with lowered::Expression in emitter constructors
  src/common/snippets/include/snippets/emitter.hpp
  src/common/snippets/include/snippets/lowered/expression.hpp
  src/common/snippets/include/snippets/lowered/linear_ir.hpp
  src/common/snippets/include/snippets/target_machine.hpp
  src/common/snippets/src/generator.cpp
  src/common/snippets/src/lowered/expression.cpp
  src/common/snippets/src/lowered/linear_ir.cpp
  src/common/snippets/src/lowered/target_machine.cpp
  src/common/snippets/tests/include/lowering_utils.hpp
  src/common/snippets/tests/src/lowering_utils.cpp
  src/common/snippets/tests/src/pass/precision_propagation.cpp
  src/plugins/intel_cpu/src/emitters/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_conversion_emitters.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_dnnl_emitters.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/emitters/x64/jit_emitter.hpp
  src/plugins/intel_cpu/src/emitters/x64/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_snippets_emitters.hpp
Labels: category: CPU

#19613 [DOCS] contributing guidelines for 23.1
  CONTRIBUTING.md
  CONTRIBUTING_DOCS.md
  CONTRIBUTING_PR.md
Labels: category: docs

#19653 Enabled clang format for unit test utils
  src/tests/test_utils/unit_test_utils/CMakeLists.txt
  src/tests/test_utils/unit_test_utils/mock.cpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_async_infer_request_default.hpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_executable_thread_safe_default.hpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_inference_plugin_internal.hpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iexecutable_network_internal.hpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iinfer_request_internal.hpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iinference_plugin.hpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_ivariable_state_internal.hpp
  src/tests/test_utils/unit_test_utils/mocks/cpp_interfaces/mock_task_executor.hpp
  src/tests/test_utils/unit_test_utils/mocks/mock_engine/dllmain.cpp
  src/tests/test_utils/unit_test_utils/mocks/mock_icnn_network.hpp
  src/tests/test_utils/unit_test_utils/mocks/mock_iexecutable_network.hpp
  src/tests/test_utils/unit_test_utils/mocks/mock_iinfer_request.hpp
  src/tests/test_utils/unit_test_utils/mocks/mock_not_empty_icnn_network.hpp
  src/tests/test_utils/unit_test_utils/mocks/openvino/runtime/mock_isync_infer_request.hpp
Labels: category: IE Tests, category: build

#19649 [TF Hub][TF FE][GA] Establish regular validation for all TF Hub models
  .github/workflows/linux.yml
  tests/model_hub_tests/tf_hub_tests/nightly_models_tmp
  tests/model_hub_tests/tf_hub_tests/test_tf_hub_convert_model.py
Labels: category: CI

#19519 [CI] [GHA] Specify save and restore key name for the Linux pipeline
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#19645 [PT FE] Support aten::tile op
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_tile.py
Labels: category: PyTorch FE

#19411 [GPU] No need to add reorder after strided_slice
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/unit/passes/reorder_inputs_test.cpp
Labels: category: GPU

#19658 [TF Hub][GA] Set correct scheduler and model scope for regular validation
  .github/workflows/linux.yml
  tests/model_hub_tests/tf_hub_tests/nightly_models
  tests/model_hub_tests/tf_hub_tests/nightly_models_tmp
  tests/model_hub_tests/tf_hub_tests/test_tf_hub_convert_model.py
Labels: category: CI

#19508 Do not clean batch setting if proxy plugin
  src/inference/src/dev/core_impl.cpp
  src/plugins/proxy/tests/batch_compliance_test.cpp
Labels: category: inference

#19358 Fix incorrect output for float to bf16 in avx2 isa
  src/plugins/intel_cpu/src/emitters/x64/jit_bf16_emitters.hpp
  src/plugins/intel_cpu/tests/unit/jit_kernel_test.cpp
Labels: category: CPU

#19659 Revert "[GPU] Fixed reordered memory cache not to contain original we…
  src/plugins/intel_gpu/src/graph/include/convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/deconvolution_inst.h
  src/plugins/intel_gpu/src/graph/include/fully_connected_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#19621 [DOCS] Improve NNCF workflow images for 23.0
  docs/_static/images/DEVELOPMENT_FLOW_V3_crunch.svg
  docs/optimization_guide/model_optimization_guide.md
Labels: category: docs

#19615 [DOCS] Remove IR version and nGraph name from the Opset doc for 23.1
  docs/ops/opset1.md
  docs/ops/opset10.md
  docs/ops/opset11.md
  docs/ops/opset12.md
  docs/ops/opset2.md
  docs/ops/opset3.md
  docs/ops/opset4.md
  docs/ops/opset5.md
  docs/ops/opset6.md
  docs/ops/opset7.md
  docs/ops/opset8.md
  docs/ops/opset9.md
Labels: category: docs

#19641 [DOCS] Extend sphinx_sitemap to add custom metadata for 23.0
  docs/conf.py
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/PKG-INFO
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/SOURCES.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/dependency_links.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/requires.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/top_level.txt
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/openvino_custom_sphinx_sitemap/pyproject.toml
  docs/requirements.txt
Labels: category: docs, category: dependency_changes

#19643 [DOCS] pytorch usage adjustment - model formats 23.0
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
Labels: category: docs

#19650 [GPU] Add input feature leftovers processing for fully_connected_gpu_bs_f_bsv16_af8_vload kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bs_f_bsv16_af8_vload.cl
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#19675 [DOC] Add hints for debug build
  docs/dev/build_windows.md
Labels: category: docs

#19601 [GPU] Use preferred output format if node impl type is onednn
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/matmul_si_test.cpp
Labels: category: GPU

#19543 Move BroadcastTransition to MOC
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/broadcast_eltwise_eliminated.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/broadcast_eltwise_eliminated.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/broadcast_eltwise_eliminated.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/broadcast_eltwise_eliminated.hpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/functional/shared_test_classes/src/subgraph/broadcast_eltwise_eliminated.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: transformations

#19672 [PyOV] Add upper bound for `setuptools`
  src/bindings/python/constraints.txt
  src/bindings/python/wheel/requirements-dev.txt
Labels: category: Python API, category: dependency_changes, category: packaging

#19688 Update versions in apt, yum installation docs
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#19694 [DOCS] ShapeOf-3 & Supported Model Formats fix for master
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
  docs/ops/shape/ShapeOf_3.md
Labels: category: docs

#19695 [DOCS] ShapeOf-3 & Supported Model Formats fix for 23.1
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
  docs/ops/shape/ShapeOf_3.md
Labels: category: docs

#19697 [DOCS] ShapeOf-3 & Supported Model Formats fix for 23.0
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
  docs/ops/shape/ShapeOf_3.md
Labels: category: docs

#19699 [DOCS] Torch.compile() image fix for master
  docs/_static/images/torch_compile_backend_openvino.svg
  docs/_static/images/torch_compile_backend_openvino_ts.svg
Labels: category: docs

#19700 [DOCS] Torch.compile() image fix for 23.1
  docs/_static/images/torch_compile_backend_openvino.svg
  docs/_static/images/torch_compile_backend_openvino_ts.svg
Labels: category: docs

#19704 [DOCS] Port coveo search engine
  docs/_static/css/coveo_custom.css
  docs/_static/js/custom.js
  docs/_templates/layout.html
  docs/_templates/search-field.html
  docs/_templates/search.html
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/search-field.html
Labels: category: docs

#19677 [DOCS] Move menu arrows to the left side
  docs/_static/css/custom.css
Labels: category: docs

#19703 [DOCS] Integrate coveo search engine
  docs/_static/css/coveo_custom.css
  docs/_static/js/custom.js
  docs/_templates/layout.html
  docs/_templates/search-field.html
  docs/_templates/search.html
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap.egg-info/PKG-INFO
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/search-field.html
Labels: category: docs

#19689 Fixed GPU plugin compilation with gcc-13.2
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
Labels: category: GPU

#19246 [CI] [GHA] Introduce GHA Linux Android ARM64 Pipeline
  .github/workflows/linux_android_arm64.yml
Labels: category: CI, github_actions

#19521 [CPU] Scalar is passed as a tensor with shape [1] in custom op evaluate.
  src/plugins/intel_cpu/src/nodes/reference.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/custom_op_scalar.cpp
Labels: category: CPU

#19710 Add selector tool 2023.1
  docs/_static/selector-tool/assets/selector-56fddec6.js
  docs/_static/selector-tool/assets/selector-8f26adbc.js
  docs/_static/selector-tool/selector-12b6d7d.html
  docs/install_guides/installing-openvino-overview.md
Labels: category: docs

#19642 [PT FE] Implement override_all_inputs, override_all_outputs
  src/frontends/pytorch/include/openvino/frontend/pytorch/node_context.hpp
  src/frontends/pytorch/src/input_model.cpp
  src/frontends/pytorch/src/input_model.hpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/place.cpp
  src/frontends/pytorch/src/place.hpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/translate_session.hpp
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Labels: category: CPP API, category: PyTorch FE

#19668 Fixed build with oneDNN GPU in some Conan scenarios
  CMakeLists.txt
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: GPU, category: build

#19708 Updated vcpkg.json config with newer TBB version with default features
  .ci/azure/android_arm64.yml
  vcpkg.json
Labels: category: CI

#19709 Use conan.lock file
  conan.lock
Labels: category: CI, category: packaging

#19711 Fixed build with oneDNN GPU in some Conan scenarios
  CMakeLists.txt
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: GPU, category: build

#19682 Fixed compilation with C++17 on Windows
  src/frontends/common/src/utils.cpp
  src/frontends/paddle/src/input_model.cpp
Labels: category: Core, category: PDPD FE

#19707 Fixed compilation with C++17 on Windows
  src/frontends/common/src/utils.cpp
  src/frontends/paddle/src/input_model.cpp
Labels: category: Core, category: PDPD FE

#19506 [DOCS] feature transition section
  docs/Documentation/learn_openvino.md
  docs/Documentation/model_introduction.md
  docs/Documentation/openvino_ecosystem.md
  docs/Documentation/openvino_legacy_features.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Aspire_Tdnn_Model.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Convert_GluonCV_Models.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Convert_Model_From_Caffe.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Convert_Model_From_Kaldi.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Convert_Model_From_MxNet.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Convert_Style_Transfer_From_MXNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_Tutorials.md
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
  docs/OV_Runtime_UG/migration_ov_2_0/deployment_migration.md
  docs/documentation.md
  docs/home.rst
  docs/install_guides/--installing-model-dev-tools.md
  docs/install_guides/configurations-for-intel-gna.md
  docs/install_guides/configurations-for-intel-npu.md
  docs/install_guides/configurations-header.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-brew.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-linux-header.md
  docs/install_guides/installing-openvino-macos-header.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-vcpkg.md
  docs/install_guides/installing-openvino-windows-header.md
  docs/install_guides/installing-openvino-yum.md
  docs/model_zoo.md
  docs/optimization_guide/ptq_introduction.md
  docs/tuning_utilities.md
Labels: category: docs

#19690 [TF FE][TF Hub] Use ConcreteFunc input and output signatures
  src/bindings/python/src/openvino/frontend/tensorflow/graph_iterator.py
  src/bindings/python/src/openvino/frontend/tensorflow/utils.py
  src/bindings/python/src/pyopenvino/frontend/tensorflow/graph_iterator.hpp
  src/frontends/common/include/openvino/frontend/graph_iterator.hpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  tests/model_hub_tests/models_hub_common/test_convert_model.py
  tests/model_hub_tests/tf_hub_tests/test_tf_hub_convert_model.py
Labels: category: Core, category: Python API, category: TF FE, category: CPP API

#19622 Migrate ReduceL1, ReduceL2 to new API
  src/core/dev_api/shape_util.hpp
  src/core/include/openvino/op/reduce_l1.hpp
  src/core/include/openvino/op/reduce_l2.hpp
  src/core/include/openvino/op/util/axes_util.hpp
  src/core/reference/include/openvino/reference/reduce_l1.hpp
  src/core/reference/include/openvino/reference/reduce_l2.hpp
  src/core/shape_inference/include/reduce_shape_inference.hpp
  src/core/shape_inference/include/utils.hpp
  src/core/src/op/reduce_l1.cpp
  src/core/src/op/reduce_l2.cpp
  src/core/src/op/util/axes_util.cpp
  src/core/src/shape_util.cpp
Labels: category: Core, category: CPP API

#19467 [GPU] Update strided_slice for partially dynamic shape case
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/strided_slice.cpp
Labels: category: GPU

#19693 [CONFORMANCE] Enable QM + IE tests in Opset Conformance
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir_tests.cpp
Labels: category: IE Tests, conformance

#19713 Use conan.lock file (#19709)
  conan.lock
Labels: category: CI, category: packaging

#19706 [GPU] Fix GatherND shape agnostic ref kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_nd_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_nd_kernel_ref.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/gather_nd.cpp
Labels: category: GPU

#19686 [GPU] Minor fix to get correct input layout for dump layer
  src/plugins/intel_gpu/src/graph/network.cpp
Labels: category: GPU

#19726 [DOCS] Link fix for PyPI install guide for master
  docs/install_guides/installing-openvino-pip.md
Labels: category: docs

#19718 Added python3 vcpkg port dependecies to GHA workflow
  .github/workflows/linux_android_arm64.yml
Labels: category: CI

#19734 [DOCS] Move sidebar_nav's arrows to the left
  docs/_static/css/custom.css
Labels: category: docs

#19732 [DOCS] feature transition section port 23.1 (#19506)
  docs/Documentation/learn_openvino.md
  docs/Documentation/model_introduction.md
  docs/Documentation/openvino_ecosystem.md
  docs/Documentation/openvino_legacy_features.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Aspire_Tdnn_Model.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Convert_GluonCV_Models.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Convert_Model_From_Caffe.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Convert_Model_From_Kaldi.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Convert_Model_From_MxNet.md
  docs/Documentation/openvino_legacy_features/mxnet_caffe_kaldi/Convert_Style_Transfer_From_MXNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_Tutorials.md
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
  docs/OV_Runtime_UG/migration_ov_2_0/deployment_migration.md
  docs/documentation.md
  docs/home.rst
  docs/install_guides/--installing-model-dev-tools.md
  docs/install_guides/configurations-for-intel-gna.md
  docs/install_guides/configurations-for-intel-npu.md
  docs/install_guides/configurations-header.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-brew.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-linux-header.md
  docs/install_guides/installing-openvino-macos-header.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-vcpkg.md
  docs/install_guides/installing-openvino-windows-header.md
  docs/install_guides/installing-openvino-yum.md
  docs/model_zoo.md
  docs/optimization_guide/ptq_introduction.md
  docs/tuning_utilities.md
Labels: category: docs

#19712 [DOCS] Add selector tool 2023.1 port
  docs/_static/selector-tool/assets/selector-4429452f.js
  docs/_static/selector-tool/assets/selector-56fddec6.js
  docs/_static/selector-tool/selector-12b6d7d.html
  docs/install_guides/installing-openvino-overview.md
Labels: category: docs

#19736 [DOCS] banner what's new text port 23.1
  docs/home.rst
Labels: category: docs

#19648 `VariadicSplitLayerTest` refactoring to API2.0
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/variadic_split.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/variadic_split.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/variadic_split.hpp
  src/tests/functional/shared_test_classes/src/single_op/variadic_split.cpp
Labels: category: IE Tests, category: CPU

#19619 [DOCS] Remove index file from notebooks
  docs/CMakeLists.txt
  docs/nbdoc/consts.py
  docs/nbdoc/nbdoc.py
  docs/nbdoc/utils.py
  docs/tutorials.md
Labels: category: build, category: docs

#19705 Gracefully fail if test models weren't generated
  cmake/test_model_zoo.cmake
  src/core/tests/pass/serialization/read_ir.hpp
  src/frontends/paddle/tests/CMakeLists.txt
  src/frontends/tensorflow/tests/CMakeLists.txt
  src/frontends/tensorflow_lite/tests/CMakeLists.txt
Labels: category: Core, category: build, category: PDPD FE, category: TF FE, category: TFL FE

#19744 [DOCS] Port remove index for notebooks from nightly
  docs/CMakeLists.txt
  docs/nbdoc/consts.py
  docs/nbdoc/nbdoc.py
  docs/nbdoc/utils.py
  docs/tutorials.md
Labels: category: build, category: docs

#19671 `TransposeLayerTest` to API2.0
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/transpose.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/transpose.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/transpose.hpp
  src/tests/functional/shared_test_classes/src/single_op/transpose.cpp
Labels: category: IE Tests, category: CPU

#19751 [DOCS] Port coveo search engine
  docs/_static/css/coveo_custom.css
  docs/_static/js/custom.js
  docs/_templates/layout.html
  docs/_templates/search-field.html
  docs/_templates/search.html
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/search-field.html
Labels: category: docs

#19548 [GPU] Support of int8 compressed weights for matmul
  src/plugins/intel_gpu/include/intel_gpu/op/fully_connected_compressed.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/fully_connected.hpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bf_tiled.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bfyx_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bfyx_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/weight_bias_params.cpp
  src/plugins/intel_gpu/src/kernel_selector/weight_bias_params.h
  src/plugins/intel_gpu/src/plugin/ops/fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/program_builder.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_fc_to_compressed.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_fc_to_compressed.hpp
  src/plugins/intel_gpu/src/plugin/transformations/op/fully_connected_compressed.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU

#19495 Handle negative values in GroupedSliceToVSplitOptimization
  src/common/transformations/src/transformations/common_optimizations/optimize_strided_slice.cpp
  src/common/transformations/tests/common_optimizations/optimize_strided_slice_test.cpp
Labels: category: transformations

#19737 [DOCS] Update of model_conversion_diagram.svg for master
  docs/_static/images/model_conversion_diagram.svg
Labels: category: docs

#19739 [DOCS] Update of model_conversion_diagram.svg for 23.1
  docs/_static/images/model_conversion_diagram.svg
Labels: category: docs

#19755 [DOCS] Modify dropdowns css
  docs/_static/css/custom.css
Labels: category: docs

#19746 [CI] [GHA] Remove unnecessary steps and `cmake` options, use proper # of CPU cores for ARM64 pipeline
  .github/workflows/linux.yml
  .github/workflows/linux_android_arm64.yml
  .github/workflows/linux_arm64.yml
Labels: category: CI, github_actions

#19754 [TF Hub][GA] Separate Workflow for TF Hub Tests Validation
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#19741 Post commit fix for #19521.
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/custom_op_scalar.cpp
Labels: category: CPU

#19647 Remove legacy API from common test utils
  src/core/tests/reshape_opt_kernel.cpp
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/onnx_import_com_microsoft.in.cpp
  src/frontends/onnx/tests/onnx_import_convpool.in.cpp
  src/frontends/onnx/tests/onnx_import_deprecated.in.cpp
  src/frontends/onnx/tests/onnx_import_org_openvino.in.cpp
  src/frontends/onnx/tests/onnx_import_org_pytorch.in.cpp
  src/frontends/onnx/tests/onnx_import_quant.in.cpp
  src/frontends/onnx/tests/onnx_import_reshape.in.cpp
  src/frontends/onnx/tests/onnx_import_rnn.in.cpp
  src/frontends/onnx/tests/onnx_import_signal.in.cpp
  src/frontends/onnx/tests/onnx_import_with_editor.in.cpp
  src/frontends/onnx/tests/onnx_tensor_names.cpp
  src/plugins/intel_gna/tests/deprecated/helpers/tests_file_utils.cpp
  src/tests/test_utils/common_test_utils/CMakeLists.txt
  src/tests/test_utils/common_test_utils/include/common_test_utils/all_close.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/common_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/data_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/file_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/matcher.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/ndarray.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/ov_tensor_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/ov_test_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_case.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_common.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_constants.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_control.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_enums.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_tools.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/unicode_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/w_dirent.h
  src/tests/test_utils/common_test_utils/src/all_close.cpp
  src/tests/test_utils/common_test_utils/src/all_close_f.cpp
  src/tests/test_utils/common_test_utils/src/data_utils.cpp
  src/tests/test_utils/common_test_utils/src/file_utils.cpp
  src/tests/test_utils/common_test_utils/src/graph_comparator.cpp
  src/tests/test_utils/common_test_utils/src/ov_tensor_utils.cpp
  src/tests/test_utils/common_test_utils/src/ov_test_utils.cpp
  src/tests/test_utils/common_test_utils/src/precomp.hpp
  src/tests/test_utils/common_test_utils/src/test_common.cpp
  src/tests/test_utils/common_test_utils/src/test_constants.cpp
  src/tests/test_utils/common_test_utils/src/unicode_utils.cpp
  src/tests/test_utils/common_test_utils/tests/graph_comparator_tests.cpp
Labels: category: Core, category: IE Tests, category: GNA, category: build, category: ONNX FE

#19663 Update classes func tests
  src/inference/tests/functional/core_threading.cpp
  src/inference/tests/functional/ov_core_threading.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/node.hpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/include/conformance.hpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/main.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir.cpp
  src/tests/functional/plugin/shared/src/behavior/plugin/hetero_synthetic.cpp
  src/tests/functional/plugin/shared/src/main.cpp
  src/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/functional/shared_test_classes/src/base/snippets_test_utils.cpp
  src/tests/functional/shared_test_classes/src/single_layer/conversion.cpp
  src/tests/functional/shared_test_classes/src/single_layer/memory.cpp
  src/tests/functional/shared_test_classes/src/subgraph/mul_conv_fusion.cpp
  src/tests/test_utils/functional_test_utils/CMakeLists.txt
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/crash_handler.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/node_utils.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/ov_plugin_cache.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/plugin_cache.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/precision_utils.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/skip_tests_config.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/summary/api_summary.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/summary/environment.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/summary/op_info.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/summary/op_summary.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/summary/summary.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/test_model/test_model.hpp
  src/tests/test_utils/functional_test_utils/src/crash_handler.cpp
  src/tests/test_utils/functional_test_utils/src/ov_plugin_cache.cpp
  src/tests/test_utils/functional_test_utils/src/plugin_cache.cpp
  src/tests/test_utils/functional_test_utils/src/precomp.hpp
  src/tests/test_utils/functional_test_utils/src/skip_tests_config.cpp
  src/tests/test_utils/functional_test_utils/src/summary/api_summary.cpp
  src/tests/test_utils/functional_test_utils/src/summary/op_info.cpp
  src/tests/test_utils/functional_test_utils/src/summary/op_summary.cpp
  src/tests/test_utils/functional_test_utils/src/summary/summary.cpp
  src/tests/test_utils/functional_test_utils/src/test_model/test_model.cpp
Labels: category: inference, category: IE Tests, category: build

#19758 Partially fixed github issue 18274
  src/frontends/common/src/manager.cpp
  src/plugins/intel_cpu/src/cpu_types.cpp
Labels: category: Core, category: CPU

#19639 Update oneTBB2021.2.3 for Linux
  cmake/dependencies.cmake
Labels: category: build

#19083 [GPU] Pad-12
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/border.hpp
  src/plugins/intel_gpu/src/graph/border.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/border.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/border_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/border/border_kernel_base.h
  src/plugins/intel_gpu/src/plugin/ops/pad.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/pad.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/border_gpu_test.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/pad.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/pad.hpp
  src/tests/functional/shared_test_classes/src/single_layer/pad.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/builders.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/pad.cpp
Labels: category: IE Tests, category: GPU, ExternalPR

#19738 `TopKLayerTest` to API2.0
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/topk.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/topk.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/topk.hpp
  src/tests/functional/shared_test_classes/src/base/utils/generate_inputs.cpp
  src/tests/functional/shared_test_classes/src/single_op/topk.cpp
Labels: category: IE Tests, category: CPU

#19716 Removed CMAKE_INSTALL_LIBDIR from oneDNN GPU configuration
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: GPU, category: build

#18592 CVS-98205 and CVS-114018
  scripts/setupvars/setupvars.sh
Labels: category: dependency_changes

#19676 [PT FE] Separate tracing and scripting modes
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/utils.py
  src/bindings/python/tests/test_torchvision_to_ov/test_preprocessor.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
  tests/layer_tests/ovc_python_api_tests/test_pytorch.py
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_add.py
  tests/layer_tests/pytorch_tests/test_aliases.py
  tests/layer_tests/pytorch_tests/test_mul.py
  tools/mo/openvino/tools/mo/moc_frontend/pytorch_frontend_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: MO, category: Python API, category: tools, category: PyTorch FE

#19630 [Snippets] LIR serialization: additional connections between LoopBegin and LoopEnd nodes
  src/common/snippets/include/snippets/op/serialization_node.hpp
  src/common/snippets/src/lowered/linear_ir.cpp
  src/common/snippets/src/op/serialization_node.cpp
Labels: category: CPU

#19681 Refactor ComparisonLayerTest, ClampLayerTest
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/clamp.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/comparison.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/clamp.hpp
  src/tests/functional/plugin/shared/include/single_op_tests/comparison.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/clamp.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/comparison.hpp
  src/tests/functional/shared_test_classes/src/single_op/clamp.cpp
  src/tests/functional/shared_test_classes/src/single_op/comparison.cpp
Labels: category: IE Tests, category: CPU

#19555 [DOCS] OVC/convert_model Documentation
  docs/Documentation/model_introduction.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/FP16_Compression.md
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
  docs/OV_Converter_UG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/OV_Converter_UG/prepare_model/convert_model/Convert_Model_From_ONNX.md
  docs/OV_Converter_UG/prepare_model/convert_model/Convert_Model_From_Paddle.md
  docs/OV_Converter_UG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
  docs/OV_Converter_UG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
  docs/OV_Converter_UG/prepare_model/convert_model/Convert_Model_From_TensorFlow_Lite.md
  docs/OV_Converter_UG/prepare_model/convert_model/Converting_Model.md
  docs/OV_Converter_UG/prepare_model/convert_model/MO_OVC_transition.md
  docs/OV_Converter_UG/prepare_model/convert_model/supported_model_formats.md
  docs/get_started/get_started_demos.md
  docs/glossary.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/pypi-openvino-dev.md
  docs/model_zoo.md
Labels: category: docs

#19664 [core] Migrate the Assign operator to new API
  src/core/include/openvino/op/assign.hpp
  src/core/src/op/assign.cpp
Labels: category: Core, category: CPP API

#19763 [core]Migrate the Abs operator to new API
  src/core/include/openvino/op/abs.hpp
  src/core/reference/include/openvino/reference/abs.hpp
  src/core/reference/include/openvino/reference/reduce_l1.hpp
  src/core/src/op/abs.cpp
Labels: category: Core, category: CPP API
