Repository openvinotoolkit/openvino, pull requests merged in 2023-05, with the labels that each got.

#16902 [PT FE] Fix aten::chunk for dynamic shapes
  src/frontends/pytorch/src/op/getitem.cpp
  src/frontends/pytorch/src/transforms/aten_getitem_replacer.cpp
  tests/layer_tests/pytorch_tests/test_chunk.py
Labels: category: PyTorch FE

#17281 [GPU] Coverity fixes (#17241)
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/remote_blob.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/activation.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/arg_max_min.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/loop.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/lstm.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/non_max_suppression.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/proposal.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/reorder.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/roi_pooling.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/basic_memory_dependencies.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/eltwise_remove_stride.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/include/convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/quantize_inst.h
  src/plugins/intel_gpu/src/graph/include/reorder_inst.h
  src/plugins/intel_gpu/src/graph/mutable_data.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/infer_request_legacy.cpp
  src/plugins/intel_gpu/src/plugin/ops/ctc_greedy_decoder.cpp
  src/plugins/intel_gpu/src/plugin/ops/custom.cpp
  src/plugins/intel_gpu/src/plugin/ops/eltwise.cpp
  src/plugins/intel_gpu/src/plugin/ops/embedding_bag.cpp
  src/plugins/intel_gpu/src/plugin/ops/eye.cpp
  src/plugins/intel_gpu/src/plugin/ops/gather tree.cpp
  src/plugins/intel_gpu/src/plugin/ops/gather.cpp
  src/plugins/intel_gpu/src/plugin/ops/non_max_suppression.cpp
  src/plugins/intel_gpu/src/plugin/ops/pad.cpp
  src/plugins/intel_gpu/src/plugin/ops/reshape.cpp
  src/plugins/intel_gpu/src/plugin/ops/rnn.cpp
  src/plugins/intel_gpu/src/plugin/ops/select.cpp
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/remote_blob.cpp
Labels: category: GPU

#17287 [DOCS] Document Model Optimizer Python API port
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/MO_Python_API.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_TensorFlow.md
Labels: category: docs

#17295 [TF FE] Use original input types for SavedModel
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/tests/basic_api.cpp
  src/frontends/tensorflow/tests/compilation.cpp
  src/frontends/tensorflow/tests/conversion.cpp
  src/frontends/tensorflow/tests/convert_model.cpp
  src/frontends/tensorflow/tests/convert_saved_model.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow/tests/library_extension.cpp
  src/frontends/tensorflow/tests/op_extension.cpp
  src/frontends/tensorflow/tests/telemetry.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_with_gather.py
  src/frontends/tensorflow/tests/tf_utils.cpp
  src/frontends/tensorflow/tests/tf_utils.hpp
Labels: category: TF FE

#17278 [TF FE] Extend pre-commit for SpaceToBatch after CPU crash
  tests/layer_tests/tensorflow_tests/test_tf_SpaceToBatch.py
Labels: category: TF FE

#17288 [GPU] Don't throw exception if no devices are found
  src/bindings/c/tests/ov_remote_context_test.cpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/engine_configuration.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/remote_blob.cpp
  src/plugins/intel_gpu/src/runtime/device_query.cpp
  src/plugins/intel_gpu/src/runtime/engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.cpp
  src/plugins/intel_gpu/tests/unit/gtest_main_gpu.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/cl_mem_input_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convert_color_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/mem_perf_test.cpp
Labels: category: GPU, category: C API, port to 2022.3

#17302 [GPU] Don't throw exception if no devices are found
  src/bindings/c/tests/ov_remote_context_test.cpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/engine_configuration.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/remote_blob.cpp
  src/plugins/intel_gpu/src/runtime/device_query.cpp
  src/plugins/intel_gpu/src/runtime/engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.cpp
  src/plugins/intel_gpu/tests/gtest_main_gpu.cpp
  src/plugins/intel_gpu/tests/test_cases/cl_mem_input_test.cpp
  src/plugins/intel_gpu/tests/test_cases/convert_color_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/mem_perf_test.cpp
Labels: category: GPU, category: C API

#17306 [GPU] Remove temporary W/A for GPU NMS shape inference
  src/core/shape_inference/include/nms_shape_inference.hpp
Labels: category: Core, category: GPU

#17284 DOCS shift to rst - Opsets H & I
  docs/ops/activation/HSigmoid_5.md
  docs/ops/activation/HSwish_4.md
  docs/ops/activation/HardSigmoid_1.md
  docs/ops/comparison/IsFinite_10.md
  docs/ops/comparison/IsInf_10.md
  docs/ops/comparison/IsNaN_10.md
  docs/ops/condition/If_8.md
  docs/ops/image/I420toBGR_8.md
  docs/ops/image/I420toRGB_8.md
  docs/ops/image/Interpolate_1.md
  docs/ops/image/Interpolate_11.md
  docs/ops/image/Interpolate_4.md
  docs/ops/signals/IDFT_7.md
  docs/ops/signals/IRDFT_9.md
Labels: category: docs

#17307 DOCS shift to rst - Opsets H & I - for 23.0
  docs/ops/activation/HSigmoid_5.md
  docs/ops/activation/HSwish_4.md
  docs/ops/activation/HardSigmoid_1.md
  docs/ops/comparison/IsFinite_10.md
  docs/ops/comparison/IsInf_10.md
  docs/ops/comparison/IsNaN_10.md
  docs/ops/condition/If_8.md
  docs/ops/image/I420toBGR_8.md
  docs/ops/image/I420toRGB_8.md
  docs/ops/image/Interpolate_1.md
  docs/ops/image/Interpolate_11.md
  docs/ops/image/Interpolate_4.md
  docs/ops/signals/IDFT_7.md
  docs/ops/signals/IRDFT_9.md
Labels: category: docs

#17269 [DOCS] Update OTE and Datumaro links
  docs/Documentation/openvino_ecosystem.md
  docs/Documentation/openvino_training_extensions.md
Labels: category: docs

#17191 [CPU][coverity] fix coverity issue in concat and graph_optimizer
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/nodes/concat.cpp
Labels: category: CPU, Code Freeze

#17310 DOCS Port update OTE and Datumaro links
  docs/Documentation/openvino_ecosystem.md
  docs/Documentation/openvino_training_extensions.md
Labels: category: docs

#17250 [GPU] Use BFS processing order for out_of_order queue
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/graph_manipulation_gpu_test.cpp
Labels: category: GPU

#17304 [GPU] Use BFS processing order for out_of_order queue
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/tests/module_tests/graph_manipulation_gpu_test.cpp
Labels: category: GPU

#17289 [DOCS] Port docs: opsets, import keyword, deprecated options
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/ops/activation/PReLU_1.md
  docs/ops/arithmetic/Negative_1.md
  docs/ops/arithmetic/Power_1.md
  docs/ops/condition/NonZero_3.md
  docs/ops/detection/PSROIPooling_1.md
  docs/ops/detection/PriorBoxClustered_1.md
  docs/ops/detection/PriorBox_1.md
  docs/ops/detection/PriorBox_8.md
  docs/ops/detection/Proposal_1.md
  docs/ops/detection/Proposal_4.md
  docs/ops/image/NV12toBGR_8.md
  docs/ops/image/NV12toRGB_8.md
  docs/ops/infrastructure/Parameter_1.md
  docs/ops/normalization/NormalizeL2_1.md
  docs/ops/opset1.md
  docs/ops/opset10.md
  docs/ops/opset11.md
  docs/ops/opset2.md
  docs/ops/opset3.md
  docs/ops/opset4.md
  docs/ops/opset5.md
  docs/ops/opset6.md
  docs/ops/opset7.md
  docs/ops/opset8.md
  docs/ops/opset9.md
  docs/ops/sequence/OneHot_1.md
  docs/ops/sort/NonMaxSuppression_1.md
  docs/ops/sort/NonMaxSuppression_3.md
  docs/ops/sort/NonMaxSuppression_4.md
  docs/ops/sort/NonMaxSuppression_5.md
  docs/ops/sort/NonMaxSuppression_9.md
  tools/pot/docs/AccuracyAwareQuantizationUsage.md
  tools/pot/docs/DefaultQuantizationUsage.md
Labels: category: docs, category: POT

#17316 [DOC] small fix for sparse weights decompression feature documentation
  docs/OV_Runtime_UG/supported_plugins/CPU.md
Labels: category: docs

#17270 [apiConformance] Fix rebalance missing changes
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/io_tensor.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration_sw.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/query_model.hpp
Labels: category: IE Tests, category: GPU, category: GNA, category: TEMPLATE

#16901 [PT FE] Add aten::all implementation
  src/frontends/pytorch/src/op/all.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_all.py
Labels: category: PyTorch FE

#17299 Increment minor OV version
  src/core/include/openvino/core/version.hpp
  src/inference/include/ie/ie_version.hpp
Labels: category: inference, category: Core, category: CPP API

#17308 [GPU] Minor binary size reduction
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
Labels: category: GPU

#17321 Fix issue with Pow when both inputs are scalars
  src/frontends/pytorch/src/utils.cpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_pow.py
Labels: category: PyTorch FE

#16739 [CPU] Clean up primitive desc creation in prepareParams
  src/plugins/intel_cpu/src/dnnl_extension_utils.cpp
  src/plugins/intel_cpu/src/dnnl_extension_utils.h
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
  src/plugins/intel_cpu/src/nodes/deconv.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/lrn.cpp
  src/plugins/intel_cpu/src/nodes/matmul.cpp
  src/plugins/intel_cpu/src/nodes/pooling.cpp
  src/plugins/intel_cpu/src/nodes/softmax.cpp
Labels: category: CPU

#17326 [TF FE] Added additional pruned inputs for MetaGraph support (#17237)
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/variables_index.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_metagraph_variables.py
Labels: category: TF FE

#17314 [CONFORMANCE] Add message to explain passrates in report
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
Labels: category: IE Tests, conformance

#17124 [conformance] Rebalance props tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/core_integration.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/ov_exec_net_import_export.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_executable_network/ov_exec_net_import_export.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/exec_graph_info.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/get_metric.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/properties.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_plugin/properties.cpp
  src/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/import_export.hpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/properties.hpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/properties_hetero.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/get_metric.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/properties_tests.hpp
  src/tests/functional/plugin/shared/src/behavior/compiled_model/properties.cpp
  src/tests/functional/plugin/shared/src/behavior/compiled_model/properties_hetero.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: GNA, category: TEMPLATE, conformance

#17282 [ie tests] Move CheckOperationInProfilingInfo to common part
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/perf_counters.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/perf_counters.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/perf_counters.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/wait.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/perf_counters.cpp
Labels: category: IE Tests, category: GPU, category: CPU

#17283 Fix the names copying in TransposeSinking backward transformations
  src/common/transformations/include/transformations/transpose_sinking/ts_utils.hpp
  src/common/transformations/src/transformations/transpose_sinking/ts_binary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_concat.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_data_movement.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_fuse.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_gather.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_interpolate.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_reduction.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_slice.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_split.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_squeeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unsqueeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_utils.cpp
  src/common/transformations/tests/transpose_sinking/ts_general_test.cpp
  src/tests/ie_test_utils/common_test_utils/graph_comparator.cpp
  src/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
Labels: category: IE Tests, category: transformations

#17339 [CONFORMANCE] Remove duplications from API Conformance report
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/merge_xmls.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
Labels: bug, category: IE Tests, conformance

#17332 NMS-5 calculate upper-bound
  src/core/src/op/non_max_suppression.cpp
  src/core/tests/type_prop/non_max_suppression.cpp
  src/inference/src/cnn_network_ngraph_impl.cpp
Labels: category: inference, category: Core

#17313 NMS-5 calculate upper-bound
  src/core/src/op/non_max_suppression.cpp
  src/core/tests/type_prop/non_max_suppression.cpp
  src/inference/src/cnn_network_ngraph_impl.cpp
Labels: category: inference, category: Core

#17335 [TF FE] Use original input types for SavedModel (#17295)
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/tests/basic_api.cpp
  src/frontends/tensorflow/tests/compilation.cpp
  src/frontends/tensorflow/tests/conversion.cpp
  src/frontends/tensorflow/tests/convert_model.cpp
  src/frontends/tensorflow/tests/convert_saved_model.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow/tests/library_extension.cpp
  src/frontends/tensorflow/tests/op_extension.cpp
  src/frontends/tensorflow/tests/telemetry.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_with_gather.py
  src/frontends/tensorflow/tests/tf_utils.cpp
  src/frontends/tensorflow/tests/tf_utils.hpp
Labels: category: TF FE

#17336 [CONFORMANCE] Remove extra print from op_summary
  src/tests/ie_test_utils/functional_test_utils/src/summary/op_summary.cpp
Labels: category: IE Tests

#17286 [GPU] update padding info for optimized out node
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Labels: category: GPU

#17233 [MO][TF FE] Recover MOC TF FE unit-tests in the pre-commit
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  tools/mo/unit_tests/moc_tf_fe/conversion_with_layout_test.py
Labels: category: MO, category: CI

#17329 [GPU] Fix bug in reorder_redundant_reorder
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/include/loop_inst.h
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/lstm/lstm_elt_kernel_base.cpp
  src/plugins/intel_gpu/tests/unit/passes/remove_redundant_reorders_tests.cpp
Labels: category: GPU

#17223 [AUTO DOC] test cases
  src/plugins/auto/docs/tests.md
Labels: category: docs, category: AUTO

#17338 [PT FE] Improve exception when decoder cannot trace or script the model
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
  tools/mo/openvino/tools/mo/convert_impl.py
Labels: category: MO, category: Python API, category: PyTorch FE

#17312 Fix config mapping for runtime and frontend targets for RelWithDebugInfo config
  cmake/templates/OpenVINOConfig.cmake.in
Labels: category: build

#15845 【PaddlePaddle Hackathon 4】add paddle softshrink op
  src/frontends/paddle/src/op/softshrink.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_softshrink.py
Labels: ExternalPR, category: PDPD FE, PaddlePaddle Hackathon

#17180 [CPU] fix coverity issue in multiclass and a bug in matrix_nms
  src/plugins/intel_cpu/src/nodes/matrix_nms.cpp
  src/plugins/intel_cpu/src/nodes/multiclass_nms.cpp
Labels: category: CPU, Code Freeze

#17346 DOCS shift to rst - `L` Opsets for 23.0
  docs/ops/activation/LogSoftmax_5.md
  docs/ops/arithmetic/Log_1.md
  docs/ops/comparison/LessEqual_1.md
  docs/ops/comparison/Less_1.md
  docs/ops/infrastructure/Loop_5.md
  docs/ops/logical/LogicalAnd_1.md
  docs/ops/logical/LogicalNot_1.md
  docs/ops/logical/LogicalOr_1.md
  docs/ops/logical/LogicalXor_1.md
  docs/ops/normalization/LRN_1.md
  docs/ops/sequence/LSTMCell_1.md
Labels: category: docs

#17345 DOCS shift to rst - L Opsets
  docs/ops/activation/LogSoftmax_5.md
  docs/ops/arithmetic/Log_1.md
  docs/ops/comparison/LessEqual_1.md
  docs/ops/comparison/Less_1.md
  docs/ops/infrastructure/Loop_5.md
  docs/ops/logical/LogicalAnd_1.md
  docs/ops/logical/LogicalNot_1.md
  docs/ops/logical/LogicalOr_1.md
  docs/ops/logical/LogicalXor_1.md
  docs/ops/normalization/LRN_1.md
  docs/ops/sequence/LSTMCell_1.md
Labels: category: docs

#17354 Fix install guides typos
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
  docs/install_guides/troubleshooting-steps.md
Labels: category: docs

#17352 [CPU] Fix for SpaceToBatch dead loop.
  src/plugins/intel_cpu/src/nodes/space_to_batch.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#17374 Update prerelease_information
  docs/resources/prerelease_information.md
Labels: category: docs

#17363 DOCS shift to rst - Opsets E for master
  docs/ops/activation/Elu_1.md
  docs/ops/activation/Exp_1.md
  docs/ops/arithmetic/Abs_1.md
  docs/ops/arithmetic/Acos_1.md
  docs/ops/arithmetic/Acosh_3.md
  docs/ops/arithmetic/Add_1.md
  docs/ops/arithmetic/Asin_1.md
  docs/ops/arithmetic/Asinh_3.md
  docs/ops/arithmetic/Atan_1.md
  docs/ops/arithmetic/Atanh_3.md
  docs/ops/arithmetic/Erf_1.md
  docs/ops/comparison/Equal_1.md
  docs/ops/detection/ExperimentalDetectronDetectionOutput_6.md
  docs/ops/detection/ExperimentalDetectronGenerateProposalsSingleImage_6.md
  docs/ops/detection/ExperimentalDetectronPriorGridGenerator_6.md
  docs/ops/detection/ExperimentalDetectronROIFeatureExtractor_6.md
  docs/ops/generation/Eye_9.md
  docs/ops/infrastructure/Assign_3.md
  docs/ops/matrix/Einsum_7.md
  docs/ops/movement/ExtractImagePatches_3.md
  docs/ops/pooling/AdaptiveAvgPool_8.md
  docs/ops/pooling/AdaptiveMaxPool_8.md
  docs/ops/pooling/AvgPool_1.md
  docs/ops/sort/ExperimentalDetectronTopKROIs_6.md
  docs/ops/sparse/EmbeddingBagOffsetsSum_3.md
  docs/ops/sparse/EmbeddingBagPackedSum_3.md
  docs/ops/sparse/EmbeddingSegmentsSum_3.md
Labels: category: docs

#17365 DOCS shift to rst - Opsets E for 23.0
  docs/ops/activation/Elu_1.md
  docs/ops/activation/Exp_1.md
  docs/ops/arithmetic/Abs_1.md
  docs/ops/arithmetic/Acos_1.md
  docs/ops/arithmetic/Acosh_3.md
  docs/ops/arithmetic/Add_1.md
  docs/ops/arithmetic/Asin_1.md
  docs/ops/arithmetic/Asinh_3.md
  docs/ops/arithmetic/Atan_1.md
  docs/ops/arithmetic/Atanh_3.md
  docs/ops/arithmetic/Erf_1.md
  docs/ops/comparison/Equal_1.md
  docs/ops/detection/ExperimentalDetectronDetectionOutput_6.md
  docs/ops/detection/ExperimentalDetectronGenerateProposalsSingleImage_6.md
  docs/ops/detection/ExperimentalDetectronPriorGridGenerator_6.md
  docs/ops/detection/ExperimentalDetectronROIFeatureExtractor_6.md
  docs/ops/generation/Eye_9.md
  docs/ops/infrastructure/Assign_3.md
  docs/ops/matrix/Einsum_7.md
  docs/ops/movement/ExtractImagePatches_3.md
  docs/ops/pooling/AdaptiveAvgPool_8.md
  docs/ops/pooling/AdaptiveMaxPool_8.md
  docs/ops/pooling/AvgPool_1.md
  docs/ops/sort/ExperimentalDetectronTopKROIs_6.md
  docs/ops/sparse/EmbeddingBagOffsetsSum_3.md
  docs/ops/sparse/EmbeddingBagPackedSum_3.md
  docs/ops/sparse/EmbeddingSegmentsSum_3.md
Labels: category: docs

#17375 DOCS shift to rst - `M` Opsets
  docs/ops/activation/Mish_4.md
  docs/ops/arithmetic/Maximum_1.md
  docs/ops/arithmetic/Minimum_1.md
  docs/ops/arithmetic/Mod_1.md
  docs/ops/arithmetic/Multiply_1.md
  docs/ops/matrix/MatMul_1.md
  docs/ops/normalization/MVN_1.md
  docs/ops/normalization/MVN_6.md
  docs/ops/pooling/MaxPool_1.md
  docs/ops/pooling/MaxPool_8.md
  docs/ops/sort/MatrixNMS_8.md
  docs/ops/sort/MulticlassNonMaxSuppression_8.md
  docs/ops/sort/MulticlassNonMaxSuppression_9.md
Labels: category: docs

#17274 [GPU] Update dynamic shape document
  docs/OV_Runtime_UG/supported_plugins/GPU.md
Labels: category: docs

#17371 [CPU] Fix kernel precision mismatch in Reduce node
  src/plugins/intel_cpu/src/nodes/reduce.cpp
Labels: bug, category: CPU

#17372 [CPU] Fix kernel precision mismatch in Reduce node
  src/plugins/intel_cpu/src/nodes/reduce.cpp
Labels: bug, category: CPU

#17320 DOCS shift to rst - Model representation doc
  docs/OV_Runtime_UG/model_representation.md
Labels: category: docs

#17344 Fix the names copying in TransposeSinking backward transformations
  src/common/transformations/include/transformations/transpose_sinking/ts_utils.hpp
  src/common/transformations/src/transformations/transpose_sinking/ts_binary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_concat.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_data_movement.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_fuse.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_gather.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_interpolate.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_reduction.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_slice.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_split.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_squeeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unsqueeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_utils.cpp
  src/common/transformations/tests/transpose_sinking/ts_general_test.cpp
  src/tests/ie_test_utils/common_test_utils/graph_comparator.cpp
  src/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
Labels: bug, category: IE Tests, category: transformations

#17381 [TF frontend] use InterpolateMode::LINEAR_ONNX if input rank is 4
  src/frontends/tensorflow_common/src/op/interpolate.cpp
Labels: category: TF FE, category: TFL FE

#17386 [DOCS] Correct compilation option for paddle-paddle front end
  docs/dev/cmake_options_for_custom_comiplation.md
Labels: category: docs

#17384 [GPU] Update dynamic shape document (#17274)
  docs/OV_Runtime_UG/supported_plugins/GPU.md
Labels: category: docs

#17356 [DOCS] Install OpenVINO™ Runtime - fixing links - for 23.0
  docs/install_guides/installing-openvino-runtime.md
Labels: category: docs

#17373 [TF FE] Provide single tensor names for inputs and outputs in SavedModel
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/tests/convert_saved_model.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_parameter_result.py
  tests/layer_tests/common/tf2_layer_test_class.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_lstm_2d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_dense.py
Labels: category: TF FE

#17370 [TF FE] Provide single tensor names for inputs and outputs in SavedModel
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/tests/convert_saved_model.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_parameter_result.py
  tests/layer_tests/common/tf2_layer_test_class.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_lstm_2d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_dense.py
Labels: category: TF FE

#17387 [TF FE] Refer Frontend Extension page in case unsupported operations
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
Labels: category: TF FE

#17364 HOT FIX: fix binding wrong core with latency mode in i9-13900
  src/inference/src/dev/threading/cpu_streams_executor.cpp
Labels: category: inference

#17362 [HOT FIX]fix binding wrong core with latency mode in RPL(i9-13900 8P+16E)
  src/inference/src/dev/threading/cpu_streams_executor.cpp
Labels: category: inference

#17330 [LPT] Concat: different branch precisions support
  src/common/low_precision_transformations/src/concat.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/concat_transformation.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/low_precision_transformations/concat_transformation.cpp
  src/tests/functional/plugin/shared/include/low_precision_transformations/concat_transformation.hpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/concat_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/concat_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/concat_function.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: LP transformations

#17318 [GPU] fix `gen9_common_conv_fwd_data_f32` kernel to support op fusion when #input_channel == 3
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gen9_common_conv_fwd_data_f32.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_zyx_fsv16.cpp
  src/plugins/intel_gpu/tests/unit/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#17358 LPT cmake warning flag was removed
  src/common/low_precision_transformations/CMakeLists.txt
Labels: category: build, category: LP transformations

#17242 Move analyze_confomance_fails to analyze separate files
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/analyze_confomance_fails.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
Labels: category: IE Tests

#17388 [DOCS] fix typos in install guides 23.0
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/troubleshooting-steps.md
Labels: category: docs

#17348 [PT FE] Support default strides for avg and max pooling (#17337)
  src/frontends/pytorch/src/op/avg_poolnd.cpp
  src/frontends/pytorch/src/op/max_poolnd.cpp
  tests/layer_tests/pytorch_tests/test_pooling.py
Labels: category: PyTorch FE

#17347 [PT FE] Improve exception when decoder cannot trace or script the model
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
  tools/mo/openvino/tools/mo/convert_impl.py
Labels: category: MO, category: Python API, category: PyTorch FE

#17035 [GPU] Add a debug feature to dump by iteration
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/infer_request_legacy.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#17103 Review detectron generate proposal for shape inference aspects
  src/core/include/openvino/op/experimental_detectron_generate_proposals.hpp
  src/core/shape_inference/include/experimental_detectron_generate_proposals_shape_inference.hpp
  src/core/src/op/experimental_detectron_generate_proposals.cpp
  src/core/tests/type_prop/experimental_detectron_generate_proposals.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/experimental_detectron_generate_proposal.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/experimental_detectron_generate_proposal_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#17018 Review experimental detectron topk rois for shape inference aspects
  src/core/include/openvino/op/experimental_detectron_topkrois.hpp
  src/core/shape_inference/include/experimental_detectron_topkrois_shape_inference.hpp
  src/core/src/op/experimental_detectron_topkrois.cpp
  src/core/tests/type_prop/experimental_detectron_topkrois.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/experimental_detectron_topkrois_shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/experimental_detectron_topkrois_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#17382 Review prior box and clustered class for shape inference aspects
  src/common/transformations/tests/op_conversions/convert_prior_box_v8_to_v0_test.cpp
  src/core/include/openvino/op/prior_box.hpp
  src/core/include/openvino/op/prior_box_clustered.hpp
  src/core/shape_inference/include/prior_box_clustered_shape_inference.hpp
  src/core/shape_inference/include/prior_box_shape_inference.hpp
  src/core/shape_inference/include/prior_box_shape_inference_util.hpp
  src/core/src/op/prior_box.cpp
  src/core/src/op/prior_box_clustered.cpp
  src/core/tests/type_prop/prior_box.cpp
  src/core/tests/type_prop/prior_box_clustered.cpp
  src/core/tests/visitors/op/prior_box.cpp
  src/core/tests/visitors/op/prior_box_clustered.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/prior_box_clustered_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/prior_box_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: transformations, category: CPP API

#17154 Review roi align class for shape inference aspects
  src/core/include/openvino/op/roi_align.hpp
  src/core/shape_inference/include/roi_align_shape_inference.hpp
  src/core/src/op/roi_align.cpp
  src/core/tests/type_prop/roi_align.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/roi_align_shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/roi_align_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#17378 Segment Sum renamed in common lib
  src/frontends/tensorflow_lite/src/op/space_to_depth.cpp
  src/frontends/tensorflow_lite/src/op_table.cpp
Labels: category: TFL FE

#17402 [DOCS] Legacy MO Extensibility update for 23.0
  docs/Extensibility_UG/Intro.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_Model_Optimizer_with_Caffe_Python_Layers.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Model_Optimizer_Extensions.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Model_Optimizer_Extractor.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Model_Optimizer_Operation.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Model_Optimizer_Ports_Connections.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Model_Optimizer_Transformation_Extensions.md
  docs/_static/images/MO_connection_example_1.svg
  docs/_static/images/MO_conversion_pipeline.svg
  docs/_static/images/MO_graph_after_extractors.svg
  docs/_static/images/MO_graph_after_loader.svg
  docs/_static/images/MO_graph_before_partial_inference.svg
  docs/_static/images/MO_ports_example_1.svg
  docs/_static/images/MO_ports_example_2.svg
  docs/_static/images/MO_transformations_graph.svg
  docs/img/MO_connection_example_1.png
  docs/img/MO_conversion_pipeline.png
  docs/img/MO_graph_after_extractors.png
  docs/img/MO_graph_after_loader.png
  docs/img/MO_graph_before_partial_inference.png
  docs/img/MO_ports_example_1.png
  docs/img/MO_ports_example_2.png
  docs/img/MO_transformations_graph.png
Labels: category: docs

#16913 [DOCS] Recreation of BDTI PRs - master
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/performance_hints.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/snippets/ov_dynamic_shapes.c
  docs/snippets/ov_dynamic_shapes.cpp
  docs/snippets/ov_dynamic_shapes.py
Labels: category: docs, WIP

#15931 [DOCS] Legacy MO Extensibility update for master
  docs/Extensibility_UG/Intro.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Extending_Model_Optimizer_with_Caffe_Python_Layers.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Model_Optimizer_Extensions.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Model_Optimizer_Extractor.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Model_Optimizer_Operation.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Model_Optimizer_Ports_Connections.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Model_Optimizer_Transformation_Extensions.md
  docs/_static/images/MO_connection_example_1.svg
  docs/_static/images/MO_conversion_pipeline.svg
  docs/_static/images/MO_graph_after_extractors.svg
  docs/_static/images/MO_graph_after_loader.svg
  docs/_static/images/MO_graph_before_partial_inference.svg
  docs/_static/images/MO_ports_example_1.svg
  docs/_static/images/MO_ports_example_2.svg
  docs/_static/images/MO_transformations_graph.svg
  docs/img/MO_connection_example_1.png
  docs/img/MO_conversion_pipeline.png
  docs/img/MO_graph_after_extractors.png
  docs/img/MO_graph_after_loader.png
  docs/img/MO_graph_before_partial_inference.png
  docs/img/MO_ports_example_1.png
  docs/img/MO_ports_example_2.png
  docs/img/MO_transformations_graph.png
Labels: category: docs

#17383 [DOCS] Recreation of BDTI PRs - 23.0
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/performance_hints.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/snippets/ov_dynamic_shapes.c
  docs/snippets/ov_dynamic_shapes.cpp
  docs/snippets/ov_dynamic_shapes.py
Labels: category: docs

#17328 Added Torchscript backend
  .ci/azure/linux.yml
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/backend.py
  tests/layer_tests/pytest.ini
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_adaptive_avg_pool3d.py
  tests/layer_tests/pytorch_tests/test_adaptive_max_pool_2d.py
  tests/layer_tests/pytorch_tests/test_add.py
  tests/layer_tests/pytorch_tests/test_batch_norm.py
  tests/layer_tests/pytorch_tests/test_convolution.py
  tests/layer_tests/pytorch_tests/test_relu.py
Labels: category: Python API, category: CI, do_not_merge, category: PyTorch FE

#17222 Fix faq numbers
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
Labels: bug, category: docs

#16991 Removed checks of unsatisfied dependencies in MO
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/utils/versions_checker.py
  tools/mo/unit_tests/mo/utils/versions_checker_test.py
Labels: category: MO

#17408 [TF FE] Handle incorrect models (empty, fake) by TF FE
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/graph_iterator_meta.cpp
  src/frontends/tensorflow/src/graph_iterator_meta.hpp
  src/frontends/tensorflow/src/graph_iterator_proto.hpp
  src/frontends/tensorflow/src/graph_iterator_proto_txt.hpp
  tools/mo/unit_tests/moc_tf_fe/conversion_basic_models_test.py
  tools/mo/unit_tests/moc_tf_fe/conversion_incorrect_models_test.py
Labels: category: MO, category: TF FE

#17419 Removed checks of unsatisfied dependencies in MO
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/utils/versions_checker.py
  tools/mo/unit_tests/mo/utils/versions_checker_test.py
Labels: category: MO

#17376 renumber FAQ
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
Labels: category: docs

#16789 [ONNX FE] ONNX Resize (1-10) import use scale input and fix
  src/frontends/onnx/frontend/src/op/resize.cpp
  src/frontends/onnx/tests/onnx_import.in.cpp
Labels: category: ONNX FE

#17409 Remove `funcTestUtils` from `ov_conditional_compilation_tests`
  src/common/conditional_compilation/tests/CMakeLists.txt
Labels: category: Core, category: build

#17407 Review experimental detectron detection output for shape inference aspects
  src/core/include/openvino/op/experimental_detectron_detection_output.hpp
  src/core/shape_inference/include/experimental_detectron_detection_output_shape_inference.hpp
  src/core/src/op/experimental_detectron_detection_output.cpp
  src/core/tests/type_prop/experimental_detectron_detection_output.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/experimental_detectron_detection_output_shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/experimental_detectron_detection_output_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#17428 Update docs for frontend extensions
  docs/Extensibility_UG/Intro.md
  docs/Extensibility_UG/frontend_extensions.md
  docs/snippets/CMakeLists.txt
  docs/snippets/ov_extensions.cpp
  docs/snippets/ov_extensions.py
  src/frontends/pytorch/src/node_context.cpp
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Labels: category: build, category: docs, category: PyTorch FE, FRC

#17275 [GPU] Improve dump naming rule in debug feature.
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#17432 [TF FE] Handle incorrect models (empty, fake) by TF FE (#17408)
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/graph_iterator_meta.cpp
  src/frontends/tensorflow/src/graph_iterator_meta.hpp
  src/frontends/tensorflow/src/graph_iterator_proto.hpp
  src/frontends/tensorflow/src/graph_iterator_proto_txt.hpp
  tools/mo/unit_tests/moc_tf_fe/conversion_basic_models_test.py
  tools/mo/unit_tests/moc_tf_fe/conversion_incorrect_models_test.py
Labels: category: MO, category: TF FE, FRC

#17406 [TF frontend] use InterpolateMode::LINEAR_ONNX if input rank is 4
  src/frontends/tensorflow_common/src/op/interpolate.cpp
Labels: category: TF FE, category: TFL FE, FRC

#17430 [GPU] Fix accuracy issue for assign and fully_connected_mmad
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_MMAD.cl
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/variable.cpp
Labels: category: GPU

#17429 [GPU] fix adaptive pooling kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/adaptive_pooling_gpu_ref.cl
  src/plugins/intel_gpu/tests/unit/test_cases/adaptive_avg_pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/adaptive_max_pooling_gpu_test.cpp
Labels: category: GPU

#17417 benchmark_app/py fill batch dim correctly
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
Labels: category: tools

#17448 [ONNX FE] Fixed default value of score threshold for NonMaxSuppression
  src/frontends/onnx/frontend/src/op/non_max_suppression.cpp
  src/frontends/onnx/tests/models/nms_default_score_threshold.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Labels: category: ONNX FE

#17440 [PyOV] Adjust style in dev docs
  src/bindings/python/docs/build.md
  src/bindings/python/docs/code_examples.md
  src/bindings/python/docs/contributing.md
  src/bindings/python/docs/examples/custom_module/__init__.py
  src/bindings/python/docs/examples/custom_module/custom_helpers.py
  src/bindings/python/docs/python_version_upgrade.md
  src/bindings/python/docs/test_examples.md
Labels: category: Python API, category: docs

#17400 [DOCS] tiny GPU guide fix
  docs/OV_Runtime_UG/supported_plugins/GPU.md
Labels: category: docs

#17464 [DOCS] Port update docs for TF FE
  docs/resources/tensorflow_frontend.md
Labels: category: docs

#17247 [GPU] rnnt accuracy degradation
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_kernel_ref.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gather_gpu_test.cpp
Labels: category: GPU

#17446 Fix IR comparison tests
  src/tests/ie_test_utils/common_test_utils/graph_comparator.hpp
Labels: category: IE Tests

#17399 Revert "[GPU] Fix proposal sort condition (#16981)"
  src/plugins/intel_gpu/src/graph/impls/cpu/proposal.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/proposal_cpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/proposal_test_data.cpp
Labels: category: GPU

#17022 Prepare "memory_optimization_guide.md"
  docs/optimization_guide/dldt_deployment_optimization_guide.md
  docs/optimization_guide/memory_optimization_guide.md
Labels: category: docs

#17471 [Shape inference] Pooling: Dimension div fix (#17197)
  src/core/shape_inference/include/dimension_util.hpp
  src/core/tests/type_prop/binary_convolution.cpp
  src/core/tests/type_prop/convolution.cpp
  src/core/tests/type_prop/max_pool.cpp
Labels: category: Core

#17439 [Docs] Add Python dependencies management docs
  src/bindings/python/docs/build.md
  src/bindings/python/docs/requirements_management.md
Labels: category: Python API, category: docs

#17480 [GPU] fix eltwise with one input
  src/plugins/intel_gpu/src/graph/impls/ocl/eltwise.cpp
Labels: category: GPU

#17463 add Concat to CanPropagateForwardThrough
  src/common/transformations/src/transformations/transpose_sinking/ts_utils.cpp
Labels: category: transformations

#17491 Stale PRs/Issues action limit extension
  .github/workflows/stale_prs_and_issues.yml
Labels: category: CI

#17341 [CMake] Add CMAKE_MAKE_PROGRAM arg
  cmake/developer_package/native_compile.cmake
Labels: category: build

#15869 【PaddlePaddle Hackathon 4】add paddle grid_sampler op
  src/frontends/paddle/src/op/grid_sampler.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_grid_sampler.py
Labels: ExternalPR, category: PDPD FE, PaddlePaddle Hackathon

#15874 【PaddlePaddle Hackathon 4】Add paddle op mapper silu
  src/frontends/paddle/src/op/silu.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_silu.py
Labels: ExternalPR, category: PDPD FE, PaddlePaddle Hackathon

#16668 [GPU] Dynamic padding support
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/impls/ocl/lstm_dynamic_timeloop.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/lstm_gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/quantize.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reduce.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/slice.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/jitter.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_utils.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_axis.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/concatenation/concatenation_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/mvn/mvn_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/count_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/gather_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reduce/reduce_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_nd_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_bf.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.h
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/crop_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/lru_caches_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#17238 [Shape_infer] Use axes param shape to deduce Squeeze output rank
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/test_onnx/test_backend.py
  src/bindings/python/tests/test_onnx/test_ops_reshape.py
  src/bindings/python/tests_compatibility/__init__.py
  src/bindings/python/tests_compatibility/test_onnx/test_backend.py
  src/bindings/python/tests_compatibility/test_onnx/test_ops_reshape.py
  src/core/shape_inference/include/squeeze_shape_inference.hpp
  src/core/tests/type_prop/squeeze.cpp
Labels: category: Core, category: Python API

#17479 [CPU] Fix bug with reshape on empty tensor CPU Plugin
  src/plugins/intel_cpu/src/nodes/reshape.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/shape_ops.cpp
Labels: category: CPU, FRC

#17490 [CPU] Fix bug with reshape on empty tensor CPU Plugin
  src/plugins/intel_cpu/src/nodes/reshape.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/shape_ops.cpp
Labels: category: CPU

#17456 HOT FIX: disable set_cpu_used in 2023.0 release
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/system_conf.cpp
Labels: category: inference, FRC

#17459 HOT FIX: disable set_cpu_used in master branch
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/system_conf.cpp
Labels: category: inference

#17476 [GPU] Added os_is_yx_osv16_isv2 format
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/fetch_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.h
  src/plugins/intel_gpu/src/runtime/format.cpp
Labels: category: GPU

#15997 [GNA] Extract gathers and transposes
  src/plugins/intel_gna/src/backend/gna_limitations.cpp
  src/plugins/intel_gna/src/backend/gna_limitations.hpp
  src/plugins/intel_gna/src/common/graph_utils.hpp
  src/plugins/intel_gna/src/gna_graph_patterns.hpp
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/gna_transformations_pipeline.cpp
  src/plugins/intel_gna/src/gna_transformations_pipeline.hpp
  src/plugins/intel_gna/src/pre_post_process/transposition_info.cpp
  src/plugins/intel_gna/src/transformations/insert_copy_layer.cpp
  src/plugins/intel_gna/src/transformations/insert_identity_layer.cpp
  src/plugins/intel_gna/src/transformations/markup_fusable_transpose.cpp
  src/plugins/intel_gna/src/transformations/pwl_approximation.cpp
  src/plugins/intel_gna/src/transformations/remove_in_out_processing.cpp
  src/plugins/intel_gna/src/transformations/remove_in_out_processing.hpp
  src/plugins/intel_gna/src/transformations/split_eltwise.cpp
  src/plugins/intel_gna/src/transformations/utils/transformation_helper.cpp
  src/plugins/intel_gna/src/transformations/utils/transformation_helper.hpp
  src/plugins/intel_gna/tests/functional/preprocess_tests/gather_transpose_cpu.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/plugins/intel_gna/tests/unit/gna_get_aligned_split_sizes.cpp
  src/plugins/intel_gna/tests/unit/ops/util_test.cpp
Labels: category: GNA, Feature Freeze, Stale

#17414 [IE TESTS] Fix abs for FP16 comparation
  src/plugins/template/tests/functional/skip_tests_config.cpp
  src/tests/ie_test_utils/common_test_utils/data_utils.hpp
Labels: category: IE Tests, category: TEMPLATE

#17351 [GPU] convolution primitive updates
  src/plugins/intel_gpu/include/intel_gpu/primitives/convolution.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/utils.hpp
  src/plugins/intel_gpu/src/graph/convolution.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/eltwise_remove_stride.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/eltwise_shrinking.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_input_padding.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.hpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/low_precision_transformations/convolution_qdq_transformation.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/low_precision_transformations/group_convolution_transformation.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/low_precision_transformations/groupconvolution_qdq_transformation.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/memory_realloc_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/binary_convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/deconvolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/graph_manipulation_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/primitive_comparison_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/kernels_cache_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_padding_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_primitive_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/remove_redundant_reorders_tests.cpp
  src/plugins/intel_gpu/tests/unit/passes/reorder_inputs_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/select_preferred_formats_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/test_module_fusing_reorder.cpp
  src/plugins/intel_gpu/tests/unit/passes/trim_to_outputs_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/convolution_si_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/add_reorders_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/depth_concatenate_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/memory_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/propagate_constants_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/removing_output_node_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/streams_test.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.h
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_qdq_transformation.cpp
Labels: category: IE Tests, category: GPU

#17503 [Docs] Update docs with information about Contributions Welcome issue
  CONTRIBUTING.md
  README.md
Labels: category: docs

#17511 Add `exempt-pr-labels` entry to `stale_prs_and_issues.yml` workflow
  .github/workflows/stale_prs_and_issues.yml
Labels: category: CI

#16638 [GPU] Weights reorders primitive cachcing
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/generic_layer.hpp
  src/plugins/intel_gpu/src/graph/generic_layer.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_input_reorder.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_optimize_weights.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/select_preferred_formats.cpp
  src/plugins/intel_gpu/src/graph/impls/common/wait_for_events.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/generic_layer.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/include/generic_layer.hpp
  src/plugins/intel_gpu/src/graph/include/generic_layer_inst.h
  src/plugins/intel_gpu/src/graph/include/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/include/layout_optimizer.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_utils.cpp
  src/plugins/intel_gpu/tests/module_tests/weights_reorder_factory_test.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/kernel_impl_params_relevance_test.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/primitive_comparison_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/handle_reshape.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_primitive_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU, under_perf_check

#17484 [DOCS] framework deprecation notice
  docs/Extensibility_UG/Intro.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/Model_Optimizer_FAQ.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Caffe.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Kaldi.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_MxNet.md
  docs/MO_DG/prepare_model/convert_model/Convert_Model_Tutorials.md
  docs/MO_DG/prepare_model/convert_model/kaldi_specific/Aspire_Tdnn_Model.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_Style_Transfer_From_MXNet.md
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
  docs/OV_Runtime_UG/model_state_intro.md
  docs/dev/installing.md
  docs/documentation.md
  docs/get_started/get_started_demos.md
  docs/ops/detection/Proposal_1.md
  docs/ops/detection/Proposal_4.md
Labels: category: docs

#17498 [DOCS] port memory_optimization_guide
  docs/optimization_guide/dldt_deployment_optimization_guide.md
  docs/optimization_guide/memory_optimization_guide.md
Labels: category: docs

#17505 [Core] StridedSlice improvements of bound evaluation and constant folding
  src/core/include/openvino/op/strided_slice.hpp
  src/core/src/bound_evaluate.cpp
  src/core/src/op/strided_slice.cpp
  src/core/tests/constant_folding.cpp
Labels: category: Core, category: CPP API

#17391 AUTO_CAUSES_COPY in c bindings
  src/bindings/c/src/ie_c_api.cpp
  src/bindings/c/tests/ov_remote_context_test.cpp
Labels: category: C API

#17521 [TF FE] Update TensorFlow Frontend developer guide
  src/frontends/tensorflow/README.md
Labels: category: docs, category: TF FE

#17340 [CMake] Add CMAKE_MAKE_PROGRAM arg
  cmake/developer_package/native_compile.cmake
Labels: category: build

#17528 [doc] typo
  cmake/features.cmake
  docs/OV_Runtime_UG/deployment/local-distribution.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/dev/build_mac_arm.md
  docs/dev/build_mac_intel_cpu.md
  docs/dev/build_windows.md
  docs/dev/cmake_options_for_custom_compilation.md
  docs/dev/conditional_compilation.md
  src/common/conditional_compilation/CMakeLists.txt
  src/common/conditional_compilation/include/openvino/cc/selective_build.h
Labels: category: Core, category: build, category: docs

#17331 [CPU][ARM] Enable oneDNN acl fullyconnected (inner_product)
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
Labels: category: CPU

#17472 [PyOV] leave one setup.py
  src/bindings/python/setup.cfg
  src/bindings/python/setup.py
Labels: category: Python API, category: dependency_changes

#17543 [TF FE] Fix for wrong sign extending
  src/frontends/tensorflow/src/variables_index.cpp
Labels: category: TF FE

#17535 [PyOV][Backport] Remove numpy strides from Tensor creation
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/tests/test_runtime/test_tensor.py
Labels: bug, category: Python API, FRC

#17541 [GPU] Fixed unit tests for dGPU
  src/plugins/intel_gpu/tests/unit/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/test_module_fusing_reorder.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#17529 [GPU] Fix convert reduce to reshape
  src/common/transformations/src/transformations/op_conversions/convert_reduce_to_reshape.cpp
Labels: category: transformations

#15051 [AUTO_BATCH]Create separated auto_batch plugin testcase
  .ci/azure/linux.yml
  .ci/azure/windows.yml
  src/plugins/auto_batch/CMakeLists.txt
  src/plugins/auto_batch/tests/functional/CMakeLists.txt
  src/plugins/auto_batch/tests/functional/behavior/executable_network/exec_net_base.cpp
  src/plugins/auto_batch/tests/functional/behavior/infer_request/callback.cpp
  src/plugins/auto_batch/tests/functional/behavior/infer_request/multithreading.cpp
  src/plugins/auto_batch/tests/functional/behavior/infer_request/perf_counters.cpp
  src/plugins/auto_batch/tests/functional/behavior/infer_request/wait.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_executable_network/exec_net_base.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_executable_network/properties.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/callback.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/cancellation.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/io_tensor.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/multithreading.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/perf_counters.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/wait.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_plugin/life_time.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_plugin/properties_tests.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_plugin/remote.cpp
  src/plugins/auto_batch/tests/functional/behavior/plugin/auto_batching_tests.cpp
  src/plugins/auto_batch/tests/functional/behavior/plugin/auto_batching_tests.hpp
  src/plugins/auto_batch/tests/functional/behavior/plugin/configuration_tests.cpp
  src/plugins/auto_batch/tests/functional/set_device_name.cpp
  src/plugins/auto_batch/tests/functional/skip_tests_config.cpp
  src/plugins/auto_batch/tests/unit/CMakeLists.txt
  src/plugins/auto_batch/tests/unit/auto_batch_infer_request_tests.cpp
  src/plugins/auto_batch/tests/unit/load_network_tests.cpp
  src/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
Labels: category: IE Tests, category: build, category: CI, category: AUTO BATCH

#17527 [GPU] Doc writing for opencl-intercept-layer
  src/plugins/intel_gpu/docs/gpu_debug_utils.md
Labels: category: GPU, category: docs

#17517 [CPU][ARM] Dynamic shapes support in ARM transformations
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_group_conv.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_group_conv1d.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_reduce_multi_axis.cpp
Labels: category: CPU, platform: arm, FRC

#17556 Strided Slice fix constant creation
  src/core/include/openvino/op/strided_slice.hpp
  src/core/src/op/strided_slice.cpp
  src/core/tests/type_prop/strided_slice.cpp
Labels: category: Core, category: CPP API

#17153 [GNA] Remove deprecated layer tests
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/layers/gna_align_filter2_tests.cpp
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/layers/gna_conv1d_test.cpp
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/layers/gna_eltwise_test.cpp
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/layers/gna_multi_input_to_concat_test.cpp
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/layers/gna_permute_test.cpp
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/layers/gna_split_to_concat_test.cpp
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/layers/gna_squeeze_test.cpp
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/layers/permute_irs.hpp
Labels: category: GNA

#17545 [GPU] fix matmul smoke test fail on windows
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
Labels: category: GPU

#17466 Enable ctest for wasm
  cmake/developer_package/add_ie_target.cmake
Labels: category: build

#17512 [PyOV] Remove deprecated
  src/bindings/python/src/compatibility/openvino/inference_engine/constants.pyx
  src/bindings/python/src/compatibility/openvino/inference_engine/ie_api.pyx
  src/bindings/python/src/openvino/offline_transformations/__init__.py
  src/bindings/python/src/openvino/pyopenvino/__init__.py
  src/bindings/python/tests_compatibility/test_inference_engine/test_InferRequest.py
  tests/layer_tests/pytorch_tests/test_to.py
  tools/pot/openvino/tools/pot/graph/graph_utils.py
Labels: category: Python API, category: POT, category: PyTorch FE

#17533 [GPU] Fix bug in shape agnosic kernel for fused cases
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/tests/unit/fusions/gather_fusion_test.cpp
Labels: category: GPU

#17473 [GPU] Fuse eltwise into MVN
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/mvn/mvn_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/tests/unit/fusions/mvn_fusion_test.cpp
Labels: category: GPU

#17539 [CPU] Get rid of shouldTryBrgconv flag
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
Labels: category: CPU

#17542 [ARM CPU] Enable swish
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_eltwise.cpp
Labels: category: CPU, platform: arm
