Repository openvinotoolkit/openvino, pull requests merged in 2023-01, with the labels that each got.

#14881 Smart github actions for shellcheck and clang-format
  .github/workflows/code_style.yml
Labels: category: CI

#14799 [GPU] Peak memory usage optimizations
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/profiling.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/nodes_ordering.cpp
  src/plugins/intel_gpu/src/graph/pass_manager.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
Labels: category: GPU

#14837 [GPU][DG2] Fix unit test: test_select_preferred_formats.setting_target_conv_format
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/passes/select_preferred_formats_test.cpp
Labels: category: GPU

#14835 [GPU] Enable oneDNN primitives cache
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: GPU

#14816 Updated docs for Raspbian OS
  docs/install_guides/installing-openvino-raspbian.md
Labels: category: docs, port to master

#14894 cmake: arm rasp-pi cross-compilation on macOS
  cmake/dependencies.cmake
  cmake/developer_package/linux_name.cmake
Labels: category: build, platform: arm, platform: macOS

#14766 Added iterator to any name
  src/core/include/openvino/core/descriptor/tensor.hpp
  src/core/src/descriptor/tensor.cpp
Labels: category: Core

#14895 Added workflow to add labels
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: category: CI

#14897 Undef DEBUG macro for log level property
  src/inference/include/openvino/runtime/properties.hpp
Labels: category: build

#14851 [TF FE] Add Conv layer tests
  tests/layer_tests/common/tf_layer_test_class.py
  tests/layer_tests/tensorflow_tests/test_tf_Conv2D.py
  tests/layer_tests/tensorflow_tests/test_tf_Conv3D.py
Labels: category: TF FE

#14456 enable new method to generate CPU information and CPU map on Linux
  src/inference/dev_api/ie_system_conf.h
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/os/win/win_system_conf.cpp
Labels: category: inference

#14502 Xiaoxia/streams refactor
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/plugin.h
Labels: category: CPU

#14916 [POT] Update CI branch
  tools/pot/tests/data/reference_models/tensor_iterator_example_tf.xml
  tools/pot/tests/data/reference_models/ti_decomposition_example_tf.xml
  tools/pot/tests/test_sanity.py
Labels: category: tools, category: POT

#14896 Updated Azure pipelines
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#14721 Remove code duplicates for shape inference utils
  src/core/shape_inference/include/utils.hpp
Labels: category: Core

#14912 Docs] remove system requirements from install guides port
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-raspbian.md
  docs/install_guides/installing-openvino-yum.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: category: docs

#14926 Excluded some CI checks for changes in the tools
  .ci/azure/android_arm64.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#14929 Release doc updates (#14784)
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_GNMT_From_Tensorflow.md
  docs/home.rst
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/optimization_guide/nncf/introduction.md
  docs/optimization_guide/nncf/ptq/ptq_introduction.md
  tools/pot/docs/Introduction.md
Labels: category: docs, category: tools, category: POT

#14752 [GPU] Change default infer precision to fp16
  src/plugins/intel_gpu/include/intel_gpu/plugin/device_config.hpp
  src/tests/functional/plugin/gpu/concurrency/gpu_concurrency_tests.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/core_config.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/plugin/auto_batching_tests.hpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/normalize_l2_decomposition.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  tests/layer_tests/common/layer_test_class.py
  tests/layer_tests/common/layer_utils.py
  tests/layer_tests/common/onnx_layer_test_class.py
Labels: category: GPU

#14932 22.3 PyPi documentation - add M1 related updates
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
Labels: platform: arm, platform: macOS, category: docs

#14709 Fix inference pipeline C++ doc: refer to the correct input blob
  docs/snippets/ie_common.cpp
Labels: bug

#14812 [GPU] fix strided_slice_optimize for 5d new axis output, typo in strided_slice cl kernel, avoid handle_reshape when user is only one
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/strided_slice_optimize.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/strided_slice_ref.cl
  src/plugins/intel_gpu/tests/test_cases/strided_slice_gpu_test.cpp
Labels: category: GPU, under_perf_check

#14362 [GPU] Swap XY axis for 1D conv
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.h
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#14449 Bugfix for byx reduction
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/transformations/decompose_reduce_for_false_keepdims.cpp
  src/plugins/intel_gpu/src/plugin/transformations/decompose_reduce_for_false_keepdims.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/transformations/decompose_reduce_for_false_keepdims_test.cpp
Labels: category: GPU

#14935 DOCS: Fixing broken links in documentation.
  docs/OV_Runtime_UG/ShapeInference.md
  docs/OV_Runtime_UG/migration_ov_2_0/deployment_migration.md
  docs/dev/build.md
  docs/install_guides/installing-openvino-yocto.md
  docs/install_guides/troubleshooting-issues.md
  docs/ops/activation/SoftPlus_4.md
  docs/ops/internal/AUGRUCell.md
  docs/ops/internal/AUGRUSequence.md
  docs/optimization_guide/model_optimization_guide.md
  docs/resources/telemetry_information.md
  thirdparty/cnpy/README.md
  tools/legacy/benchmark_app/README.md
  tools/pot/openvino/tools/pot/api/samples/3d_segmentation/README.md
  tools/pot/openvino/tools/pot/api/samples/classification/README.md
  tools/pot/openvino/tools/pot/api/samples/face_detection/README.md
  tools/pot/openvino/tools/pot/api/samples/segmentation/README.md
Labels: category: samples, category: docs, category: tools, category: dependency_changes, category: POT

#14619 [GPU] Update strided slice impl for non-constant begin/end/stride support
  src/plugins/intel_gpu/include/intel_gpu/primitives/strided_slice.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/strided_slice_optimize.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/strided_slice_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/strided_slice/strided_slice_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/strided_slice/strided_slice_kernel_ref.h
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/tests/shape_infer/strided_slice_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/strided_slice_gpu_test.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/strided_slice.cpp
Labels: category: GPU

#14910 [TF FE] Support If and PartitionedCall operations
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/frontend.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/node_context.hpp
  src/frontends/tensorflow/src/decoder_proto.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/input_model.hpp
  src/frontends/tensorflow/src/op/argdef_ops.cpp
  src/frontends/tensorflow/src/op/if.cpp
  src/frontends/tensorflow/src/op/partitioned_call.cpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/src/translate_session.hpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/models_pbtxt/injected_body_and_if.pbtxt
  src/frontends/tensorflow/tests/test_models/models_pbtxt/injected_body_and_if.py
  src/frontends/tensorflow/tests/test_models/models_pbtxt/model_with_if.pbtxt
  src/frontends/tensorflow/tests/test_models/models_pbtxt/model_with_if.py
  src/frontends/tensorflow/tests/test_models/models_pbtxt/partitioned_call.pbtxt
  src/frontends/tensorflow/tests/test_models/models_pbtxt/partitioned_call.py
Labels: category: TF FE, category: CPP API

#14945 DOCS: Updating Interactive Tutorials - for master
  docs/nbdoc/consts.py
  docs/tutorials.md
Labels: category: docs

#14949 DOCS: Hiding Transition to API 2.0 banner - for master
  docs/_static/css/custom.css
  docs/_static/js/hide_banner.js
  docs/_templates/layout.html
Labels: category: docs

#14786 [BENCHMARK_APP] Help message cleanup
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Labels: category: samples, category: docs, category: tools

#14933 Cross-compilation for ARM on Windows
  thirdparty/protobuf/CMakeLists.txt
Labels: category: build, category: dependency_changes

#14931 [TF FE] Fix Wide and Deep model conversion
  src/frontends/tensorflow/src/helper_transforms/embedding_segments_feature_fusing.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/models_pbtxt/simple_wide_and_deep.pbtxt
Labels: category: TF FE

#14936 ONNX CastLike operator tests
  src/frontends/onnx/tests/models/castlike_bfloat16_to_float32.prototxt
  src/frontends/onnx/tests/models/castlike_float16_to_int64.prototxt
  src/frontends/onnx/tests/models/castlike_float16_to_uint32.prototxt
  src/frontends/onnx/tests/models/castlike_float32_to_bfloat16.prototxt
  src/frontends/onnx/tests/models/castlike_float64_to_int32.prototxt
  src/frontends/onnx/tests/models/castlike_float64_to_int64.prototxt
  src/frontends/onnx/tests/models/castlike_int32_to_float64.prototxt
  src/frontends/onnx/tests/models/castlike_int8_to_float16.prototxt
  src/frontends/onnx/tests/models/castlike_int8_to_int16.prototxt
  src/frontends/onnx/tests/models/castlike_int8_to_uint16.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Labels: category: ONNX FE

#14950 DOCS: Libraries for Local Distribution image recreation for master
  docs/OV_Runtime_UG/deployment/local-distribution.md
  docs/img/deployment_full.png
  docs/img/deployment_full.svg
Labels: category: docs

#14876 Configured dependabot updates for main pip requirements
  .github/dependabot.yml
Labels: category: CI

#14957 Fixed clang-format action to provide suggestions
  .github/labeler.yml
  .github/workflows/code_style.yml
Labels: category: CI

#14947 [GPU] Add binary_sub post-op for oneDNN
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/include/fused_primitive_desc.h
  src/plugins/intel_gpu/src/graph/include/to_string_utils.h
  src/plugins/intel_gpu/src/graph/program_node.cpp
Labels: category: GPU

#14968 Relax OpenCV dependency
  samples/python/classification_sample_async/requirements.txt
  samples/python/hello_classification/requirements.txt
  samples/python/hello_reshape_ssd/requirements.txt
  tools/cross_check_tool/requirements.txt
Labels: category: samples, category: tools, category: dependency_changes

#14972 [POT] Fix precommit tests
  tools/pot/tests/test_nightly.py
  tools/pot/tests/test_sanity.py
  tools/pot/tests/test_scales.py
  tools/pot/tests/test_unify_scales.py
Labels: category: POT

#14956 Fix ResultRename transformation to preserve output order
  tools/mo/openvino/tools/mo/back/ResultRename.py
  tools/mo/unit_tests/mo/back/ResultRename_test.py
Labels: category: MO, category: tools

#14978 uint32->uint64 for RedHat gflags 2.1 failing at runtime (#14724)
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/benchmark_app/utils.hpp
  tools/legacy/benchmark_app/benchmark_app.hpp
  tools/legacy/benchmark_app/main.cpp
Labels: category: samples, category: tools

#14971 [GPU] Fix shape infer for 0d broadcast (#14744)
  src/plugins/intel_gpu/include/intel_gpu/primitives/broadcast.hpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/broadcast.cpp
Labels: category: GPU

#14998 Bugfix build issue of onednn test
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/tests/CMakeLists.txt
  src/plugins/intel_gpu/tests/onednn/utils_test.cpp
Labels: category: GPU, category: build

#14920 [GNA] Fix GNA namespaces
  src/plugins/intel_gna/src/backend/am_intel_dnn.cpp
  src/plugins/intel_gna/src/gna_graph_compiler.cpp
  src/plugins/intel_gna/src/serial/headers/2dot2/gna_model_header.hpp
  src/plugins/intel_gna/tests/unit/backend/gna_limitations_test.cpp
  src/plugins/intel_gna/tests/unit/gna_get_aligned_split_sizes.cpp
Labels: category: GNA

#14630 [POT]: Requirements clean up
  tools/pot/openvino/tools/pot/algorithms/quantization/optimization/algorithm.py
  tools/pot/openvino/tools/pot/algorithms/quantization/qnoise_estimator/algorithm.py
  tools/pot/setup.py
Labels: category: dependency_changes, category: POT

#14992 [Tools][MO] Clean up requirements for default installation
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  tools/mo/requirements.txt
Labels: category: MO, category: CI, category: dependency_changes

#15011 [MO][Install] Clean up setup
  tools/mo/requirements.txt
  tools/mo/setup.py
Labels: category: MO, category: dependency_changes

#14543 Add new compile model api to support hash model memory
  src/inference/dev_api/ie_icore.hpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/src/compilation_context.cpp
  src/inference/src/compilation_context.hpp
  src/inference/src/ie_core.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/caching_tests.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/caching_tests.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/caching_tests.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/caching_tests.cpp
  src/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_icore.hpp
Labels: category: inference, category: IE Tests, category: GPU, category: CPU, category: CPP API

#14633 [GNA] Fixed transpose detection pattern
  src/plugins/intel_gna/src/gna_graph_patterns.hpp
  src/plugins/intel_gna/tests/functional/subgraph_tests/add_transpose_detection.cpp
Labels: category: GNA

#15008 Compilation for WebAssembly: part 1
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/compile_flags/sdl.cmake
  cmake/developer_package/features.cmake
  cmake/developer_package/linux_name.cmake
  cmake/developer_package/target_flags.cmake
  cmake/developer_package/whole_archive.cmake
  cmake/features.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  src/common/snippets/src/op/subgraph.cpp
  src/common/util/src/file_util.cpp
  src/core/builder/src/builder/autobroadcast.cpp
  src/core/include/openvino/core/attribute_adapter.hpp
  src/core/tests/CMakeLists.txt
  src/frontends/common/src/utils.cpp
  src/frontends/ir/src/ir_deserializer.cpp
  src/frontends/onnx/tests/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/inference/src/file_utils.cpp
  src/inference/src/ie_system_conf.cpp
  src/inference/src/threading/ie_thread_affinity.cpp
  src/inference/src/threading/ie_thread_affinity.hpp
  src/plugins/intel_gna/src/common/numerical_utils.hpp
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
  src/plugins/intel_myriad/myriad_dependencies.cmake
  thirdparty/CMakeLists.txt
Labels: category: inference, category: Core, category: GPU, category: CPU, category: GNA, category: VPU, category: build, category: IR FE, category: ONNX FE, category: CPP API

#14378 [Conformance] Script for analyze logs for fail and create exel with result
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/analyze_confomance_fails.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/requirements.txt
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/utils.py
Labels: category: IE Tests, category: dependency_changes, conformance

#14859 [apiConformance] Change default value of PERF_COUNT to false
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_executable_network/properties.cpp
Labels: conformance

#15027 DOCS: Adding new tutorials - for master
  docs/nbdoc/consts.py
  docs/tutorials.md
Labels: category: docs

#14923 [GPU] Add dynamic functional tests for shapeof op
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/shapeof.cpp
Labels: category: GPU

#14994 Support FrameworkNode with subgraphs
  src/core/include/openvino/op/if.hpp
  src/core/include/openvino/op/util/framework_node.hpp
  src/core/include/openvino/op/util/multi_subgraph_base.hpp
  src/core/src/op/if.cpp
  src/core/src/op/util/framework_node.cpp
  src/core/src/op/util/multi_subgraph_base.cpp
  src/core/src/pass/serialize.cpp
  src/core/tests/pass/serialization/custom_ops.cpp
  src/core/tests/visitors/op/framework_node.cpp
  src/tests/util/visitor.hpp
Labels: category: Core, category: IE Tests, category: CPP API

#15012 [MO] Activate pylint checker in CI
  .github/workflows/mo.yml
  tools/mo/.pylintrc
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/front/tf/loader.py
  tools/mo/openvino/tools/mo/front/tf/partial_infer/tf.py
  tools/mo/openvino/tools/mo/middle/quantize_linear_resolver.py
  tools/mo/openvino/tools/mo/mo.py
  tools/mo/openvino/tools/mo/utils/tensorboard_util.py
Labels: category: MO, category: CI

#15005 [GPU] Enable Deconv/GroupDeconv shape infer
  src/core/shape_inference/include/convolution_shape_inference.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/deconvolution.hpp
  src/plugins/intel_gpu/src/graph/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/include/deconvolution_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
  src/plugins/intel_gpu/tests/shape_infer/deconvolution_si_test.cpp
  src/plugins/intel_gpu/tests/test_cases/deconvolution_gpu_test.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/convolution_backprop_data.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/group_convolution_backprop_data.cpp
Labels: category: Core, category: GPU

#15030 Add ov::loaded_from_cache checking for CompileModelLoadFromMemoryTest
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/caching_tests.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/caching_tests.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/caching_tests.cpp
Labels: category: IE Tests, category: CPU, category: GNA

#14090 Added trucation mode to reorder for convert
  src/plugins/intel_gpu/include/intel_gpu/primitives/reorder.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reorder.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel_base.h
  src/plugins/intel_gpu/src/plugin/ops/convert.cpp
  src/plugins/intel_gpu/tests/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#14644 [BENCHMARK_APP] Align pc reports, revert format print to previous, excel friendly
  samples/cpp/benchmark_app/statistics_report.cpp
  samples/cpp/common/utils/include/samples/common.hpp
  samples/cpp/common/utils/include/samples/csv_dumper.hpp
  tools/benchmark_tool/openvino/tools/benchmark/utils/statistics_report.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: category: samples, category: tools

#14509 Extended speech_sample to work on VPUX
  samples/cpp/speech_sample/README.md
  samples/cpp/speech_sample/speech_sample.hpp
  samples/python/speech_sample/README.md
  samples/python/speech_sample/arg_parser.py
Labels: category: samples, category: docs

#15015 [GNA] Changed max layer limit tests to avoid SEH exceptions
  src/plugins/intel_gna/tests/functional/limitations/layers_limit.cpp
Labels: category: GNA

#14813 Fix node names sorting in graph comparator
  src/tests/ie_test_utils/common_test_utils/graph_comparator.cpp
Labels: category: IE Tests

#14343 Common test infrastructure suggestions
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  src/tests/functional/shared_test_classes/src/base/utils/generate_inputs.cpp
Labels: category: IE Tests

#15020 [HETERO] Remove WA for Parameters, Results and Constants.
  src/plugins/hetero/executable_network.cpp
  src/tests/functional/plugin/shared/src/behavior/plugin/hetero_synthetic.cpp
Labels: category: IE Tests, category: HETERO

#13550 Use Python 3.10 on Azure from GitHub actions
  .ci/azure/android_arm64.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/mac.yml
  .ci/azure/windows_conditional_compilation.yml
  src/bindings/python/CMakeLists.txt
Labels: category: build, category: Python API, category: CI

#15043 [TF FE] Support While and StatelessWhile operations
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/graph_iterator.hpp
  src/frontends/tensorflow/src/graph_iterator_proto.hpp
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/input_model.hpp
  src/frontends/tensorflow/src/op/while.cpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  tests/layer_tests/tensorflow_tests/test_tf_While.py
Labels: category: TF FE, category: CPP API

#15053 Disable GitHub Action setupPython in android-arm64 job
  .ci/azure/android_arm64.yml
Labels: category: CI

#15000 [GPU] GPU plugin supports ImportNetwork()
  src/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
Labels: category: IE Tests

#14927 [AUTO] Correct the logic of setting default hint for AUTO.
  src/plugins/auto/plugin.cpp
Labels: category: AUTO

#15059 [GPU] Fix strided slice for clamped out-of-bounds begin/end with negative stride
  src/plugins/intel_gpu/src/graph/impls/ocl/strided_slice.cpp
  src/plugins/intel_gpu/tests/test_cases/strided_slice_gpu_test.cpp
Labels: category: GPU

#15034 Fixed possible overflows to clean KW scan
  samples/cpp/common/utils/include/samples/common.hpp
Labels: category: samples

#15062 DOCS: Fixing formatting in 'Install From Apt' article
  docs/install_guides/installing-openvino-apt.md
Labels: category: docs

#14790 Remove ieTests
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  src/inference/tests/unit/CMakeLists.txt
  src/inference/tests/unit/cpp_interfaces/exception_test.cpp
  src/inference/tests/unit/cpp_interfaces/ie_infer_async_request_base_test.cpp
  src/inference/tests/unit/cpp_interfaces/ie_infer_async_request_thread_safe_default_test.cpp
  src/inference/tests/unit/cpp_interfaces/ie_memory_state_internal_test.cpp
  src/inference/tests/unit/cpp_interfaces/ie_plugin_test.cpp
  src/tests/functional/CMakeLists.txt
  src/tests/functional/inference_engine/CMakeLists.txt
  src/tests/functional/inference_engine/lib_close.cpp
  src/tests/functional/inference_engine/lib_close.hpp
  src/tests/functional/inference_engine/precomp.hpp
  src/tests/functional/inference_engine/skip_tests_config.cpp
  src/tests/unit/CMakeLists.txt
  src/tests/unit/inference_engine/CMakeLists.txt
Labels: category: inference, category: IE Tests, category: build, category: CI

#14680 [GNA] Add missing metrics to GNAExecutableNetwork
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/gna_plugin.hpp
  src/plugins/intel_gna/src/gna_plugin_query_api.cpp
  src/plugins/intel_gna/tests/unit/gna_executable_network_metrics_test.cpp
Labels: category: GNA

#14885 [GPU] Added missing supports_image initialization in EngineInfo
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_1x1_hgemm_buf_16x1.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_winograd_6x3_s1_fused.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gen9_common_conv_fwd_data_f32.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_1x1_gemm_buf.cpp
Labels: category: GPU

#15026 Align `RegisterPluginsInRegistry()` with `RegisterPluginByName()`
  src/inference/src/ie_core.cpp
  src/inference/tests/unit/core.cpp
  src/tests/ie_test_utils/common_test_utils/CMakeLists.txt
  src/tests/ie_test_utils/common_test_utils/test_assertions.hpp
Labels: category: inference, category: IE Tests, category: build

#14856 [apiConformancForce] creating plugin before setting properties
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Labels: category: IE Tests, conformance

#15044 [POT] Add transformer block pattern
  tools/pot/openvino/tools/pot/graph/special_patterns.py
Labels: category: POT

#15068 Fix build for macos and android-arm64
  src/frontends/tensorflow/src/graph_iterator_proto.hpp
Labels: category: TF FE

#14555 [PyOV][Tests] Fix some tests for M1
  src/bindings/python/tests/conftest.py
  src/bindings/python/tests/test_runtime/test_compiled_model.py
  src/bindings/python/tests/test_runtime/test_core.py
  src/bindings/python/tests/test_runtime/test_infer_request.py
  src/bindings/python/tests/test_runtime/test_properties.py
  src/bindings/python/tests/test_transformations/test_graph_rewrite.py
  src/bindings/python/tests/test_transformations/test_matcher_pass.py
  src/bindings/python/tests/test_transformations/test_model_pass.py
  src/bindings/python/tests/test_transformations/test_offline_api.py
  src/bindings/python/tests/test_transformations/test_public_transformations.py
  src/bindings/python/tests/test_transformations/test_replacement_api.py
  src/bindings/python/tests/test_transformations/utils/utils.py
  src/bindings/python/tests/test_utils/test_utils.py
  src/bindings/python/tests/test_utils/utils/plugins.xml
  src/bindings/python/tests/test_utils/utils/plugins_apple.xml
  src/bindings/python/tests/test_utils/utils/plugins_win.xml
  src/bindings/python/tests_compatibility/test_inference_engine/test_ExecutableNetwork.py
  src/bindings/python/tests_compatibility/test_inference_engine/test_InferRequest.py
  src/bindings/python/tests_compatibility/test_utils/test_utils.py
Labels: category: Python API

#14670 Transpose sinking binary/split/concat mult consumers case + PRelu
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_binary.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_unary.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_utils.hpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_binary.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_concat.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_general.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_split.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_unary.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_utils.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_binary_test.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_concat_test.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_split_test.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_unary_test.cpp
Labels: category: transformations

#14861 Create README.md for AUTO plugin
  src/plugins/auto/README.md
  src/plugins/auto/docs/architecture.md
  src/plugins/auto/docs/integration.md
  src/plugins/auto/docs/tests.md
Labels: category: docs, category: AUTO

#15057 Change device order in MULTI python snippet
  docs/snippets/ov_multi.py
Labels: category: docs, ExternalPR

#15035 [GPU] Fix cl source dump file name not to be overwritten
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
Labels: category: GPU

#15086 Disable IB in Win Azure pipeline
  .ci/azure/windows.yml
Labels: category: CI

#14937 remove deprecated cli arguments from MO
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/img/optimizations/inception_v4.svg
  docs/MO_DG/prepare_model/Model_Optimization_Techniques.md
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
  tools/legacy/benchmark_app/README.md
  tools/mo/openvino/tools/mo/back/TransposeDFT.py
  tools/mo/openvino/tools/mo/back/compress_quantized_weights.py
  tools/mo/openvino/tools/mo/middle/ConcatOptimization.py
  tools/mo/openvino/tools/mo/middle/ReluQuantizeFuse.py
  tools/mo/openvino/tools/mo/middle/fusings.py
  tools/mo/openvino/tools/mo/middle/quantize_fuses.py
  tools/mo/openvino/tools/mo/utils/cli_parser.py
  tools/mo/unit_tests/mo/extensions_test_actual.py
  tools/mo/unit_tests/mo/front/tf/TFFFTToDFT_test.py
  tools/mo/unit_tests/mo/utils/freeze_placeholder_test.py
  tools/mo/unit_tests/mo/utils/mo_fallback_test_actual.py
  tools/mo/unit_tests/mo/utils/mo_fallback_test_tf_fe.py
  tools/mo/unit_tests/mo/utils/test_mo_model_analysis_actual.py
  tools/mo/unit_tests/moc_tf_fe/check_info_messages.py
  tools/mo/unit_tests/moc_tf_fe/conversion_basic_models.py
Labels: category: MO, category: docs, category: tools

#15052 [PyOV] Add new types to Any dispatcher
  src/bindings/python/src/pyopenvino/utils/utils.cpp
Labels: category: Python API

#15077 Change device order in MULTI python snippet
  docs/snippets/ov_multi.py
Labels: ExternalPR

#13995 Update layer limitations for VPU
  docs/OV_Runtime_UG/supported_plugins/VPU.md
Labels: category: docs

#15079 Headings fix for APT article
  docs/install_guides/installing-openvino-apt.md
Labels: category: docs

#14425 AUTO CTPUT single device always goes single device logic
  src/plugins/auto/auto_schedule.cpp
  src/tests/unit/auto/auto_ctput_test.cpp
Labels: category: IE Tests, category: AUTO

#15014 Use unique file names in tests
  src/core/tests/pass/serialization/cleanup.cpp
  src/core/tests/pass/serialization/const_compression.cpp
  src/core/tests/pass/serialization/custom_ops.cpp
  src/core/tests/pass/serialization/deterministicity.cpp
  src/core/tests/pass/serialization/from_model.cpp
  src/core/tests/pass/serialization/rt_info_serialization.cpp
  src/core/tests/pass/serialization/serialize.cpp
  src/core/tests/pass/serialization/tensor_iterator.cpp
  src/core/tests/pass/serialization/tensor_names.cpp
  src/frontends/ir/tests/frontend_test.hpp
  src/frontends/ir/tests/meta_data_tests.cpp
  src/inference/tests/functional/caching_test.cpp
  src/inference/tests/functional/cnn_network_test.cpp
  src/inference/tests/functional/core_threading.cpp
  src/inference/tests/unit/ie_compilation_context_test.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/augru_cell.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/ops_cache.cpp
  src/tests/functional/plugin/shared/include/behavior/executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
  src/tests/functional/plugin/shared/src/behavior/executable_network/exec_graph_info.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/caching_tests.cpp
  src/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/ie_test_utils/common_test_utils/common_utils.cpp
  src/tests/ie_test_utils/common_test_utils/common_utils.hpp
Labels: category: inference, category: Core, category: IE Tests, category: CPU, category: IR FE, do not merge, do_not_merge

#14614 Enable Werror for inference tests
  src/inference/tests/functional/CMakeLists.txt
  src/inference/tests/functional/blob_copy_test.cpp
  src/inference/tests/functional/caching_test.cpp
  src/inference/tests/functional/core_threading.cpp
  src/inference/tests/functional/ngraph_reshape_tests.cpp
  src/inference/tests/unit/CMakeLists.txt
  src/inference/tests/unit/ie_blob_test.cpp
  src/inference/tests/unit/ie_extension_test.cpp
  src/inference/tests/unit/memory_solver_test.cpp
  src/inference/tests/unit/precision_utils_test.cpp
  src/inference/tests/unit/query_model_test.cpp
Labels: category: inference, category: build

#14925 [POT] Added a pattern for the UNet model from Stable Diffusion.
  tools/pot/openvino/tools/pot/graph/special_patterns.py
Labels: category: POT

#15055 [GPU tests] fix --help option and memory leak
  src/plugins/intel_gpu/tests/gtest_main_gpu.cpp
Labels: category: GPU, ExternalPR

#15072 [PyOV] Update requirements for Python 3.11
  .github/dependency_review.yml
  tests/memory_tests/test_runner/requirements.txt
  tests/time_tests/test_runner/requirements.txt
  tools/mo/requirements_dev.txt
Labels: category: MO, category: CI, category: dependency_changes

#15064 Update calculateFileInfo for the null string case
  src/inference/src/compilation_context.cpp
Labels: category: inference

#15078 Update calculateFileInfo for the null string case for 2022.3
  src/inference/src/compilation_context.cpp
Labels: category: inference

#15107 DOCS: Updating the diagram in the home page -for master
  docs/_static/css/homepage_style.css
  docs/_static/images/openvino_diagram.svg
Labels: category: docs

#15067 change exe device name from CPU_HELP to (CPU)
  src/plugins/auto/auto_executable_network.cpp
  src/tests/unit/auto/auto_release_helper_test.cpp
Labels: category: IE Tests, category: AUTO

#15122 Don't add samples subdirectory when both samples and tests are disabl…
  CMakeLists.txt
Labels: category: build

#14995 Remove excess dependencies from scripts
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/openvino-onnx/Dockerfile
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/compile_flags/os_flags.cmake
  install_build_dependencies.sh
  scripts/CMakeLists.txt
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: build, category: CI, category: dependency_changes

#15125 Add install dependencies info for APT & YUM (#15023)
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#15110 [PyOV] Add UUID property and correct translator
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
Labels: category: Python API

#15129 DOCS: Update of 'Creating a YOCTO image' article
  docs/install_guides/installing-openvino-yocto.md
Labels: category: docs

#15010 Add ov::label_t alias and set it to uint32_t
  src/common/transformations/include/transformations/common_optimizations/dimension_tracking.hpp
  src/common/transformations/src/transformations/common_optimizations/dimension_tracking.cpp
  src/common/transformations/src/transformations/smart_reshape/lstm_states_broadcast.cpp
  src/core/dev_api/dimension_tracker.hpp
  src/core/include/ngraph/descriptor/tensor.hpp
  src/core/include/ngraph/node.hpp
  src/core/include/openvino/core/descriptor/tensor.hpp
  src/core/include/openvino/core/dimension.hpp
  src/core/include/openvino/core/node.hpp
  src/core/reference/src/runtime/reference/einsum.cpp
  src/core/src/dimension.cpp
  src/core/src/op/concat.cpp
  src/core/src/op/scatter_update.cpp
  src/core/src/validation_util.cpp
  src/core/tests/evaluate_bound/transpose.cpp
  src/core/tests/type_prop/arithmetic_ops.hpp
  src/core/tests/type_prop/binary_elementwise.cpp
  src/core/tests/type_prop/broadcast.cpp
  src/core/tests/type_prop/logical_ops.hpp
  src/core/tests/type_prop/matmul.cpp
  src/core/tests/type_prop/one_hot.cpp
  src/core/tests/type_prop/scatter_update.cpp
  src/core/tests/type_prop/select.cpp
  src/core/tests/type_prop/split.cpp
  src/core/tests/type_prop/squeeze.cpp
  src/core/tests/type_prop/tile.cpp
  src/core/tests/type_prop/transpose.cpp
  src/core/tests/type_prop/unsqueeze.cpp
  src/core/tests/type_prop/variadic_split.cpp
  src/tests/util/type_prop.cpp
  src/tests/util/type_prop.hpp
Labels: category: Core, category: IE Tests, category: transformations, category: CPP API

#15061 [GPU] Use in-order queue for devices with dpas support
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
Labels: category: GPU

#15118 Add error handling in broadcast shape inference and init clamp attributes
  src/core/include/openvino/op/clamp.hpp
  src/core/shape_inference/include/broadcast_shape_inference.hpp
Labels: category: Core, category: CPP API

#15103 Adding missed conversion logics between layout and string
  src/inference/include/ie/ie_common.h
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gpu/include/intel_gpu/graph/serialization/utils.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/tests/test_cases/serialization_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: inference, category: GPU, category: CPU, category: CPP API

#15076 ONNX Unique op support
  src/bindings/python/tests/test_onnx/test_backend.py
  src/frontends/onnx/frontend/src/default_opset.hpp
  src/frontends/onnx/frontend/src/op/unique.cpp
  src/frontends/onnx/frontend/src/op/unique.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/tests/models/unique_1d_no_duplicates.prototxt
  src/frontends/onnx/tests/models/unique_1d_no_duplicates_sorted.prototxt
  src/frontends/onnx/tests/models/unique_3d_default_attributes.prototxt
  src/frontends/onnx/tests/models/unique_3d_with_duplicates_and_axis.prototxt
  src/frontends/onnx/tests/models/unique_3d_with_duplicates_and_axis_2.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Labels: category: Python API, category: ONNX FE

#15152 DOCS-revert_notebooks_version
  docs/nbdoc/consts.py
Labels: category: docs

#15153 Update doc footer
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/footer_info.html
Labels: category: docs

#15145 [TF FE] Fix LRN operation and test it
  src/frontends/tensorflow/src/op/lrn.cpp
  tests/layer_tests/tensorflow_tests/test_tf_LRN.py
Labels: category: TF FE

#14738 [GPU] Add test utility functions
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/tests/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_utils/test_utils.h
Labels: category: GPU

#15161 [GPU] Fix segfault with exec_graph_path option
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
Labels: category: GPU

#14845 [GPU] bugfix: block copy accessed out of valid position.
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/resample_opt.cl
Labels: category: GPU

#15162 DOCS: Fixing formatting of headings in 'Raspbian OS' article
  docs/install_guides/installing-openvino-raspbian.md
Labels: category: docs

#15071 [PyOV] Update requirements for Python 3.11 - docs
  docs/requirements.txt
Labels: category: docs, category: dependency_changes

#14612 Update vpu.json
  tools/pot/openvino/tools/pot/configs/hardware/vpu.json
Labels: category: POT

#15159 Fixed Azure CI post-commit build
  .ci/azure/android_arm64.yml
Labels: category: CI

#15031 [CMAKE][NCC]Enable custom ncc style file path and enable ncc for Windows
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
Labels: category: build

#14802 fix check for data nodes in emitter.py
  tools/mo/openvino/tools/mo/back/ie_ir_ver_2/emitter.py
  tools/mo/unit_tests/mo/back/ie_ir_ver_2/emitter_test.py
Labels: bug, category: MO

#15130 [TF FE] Support Group Convolutions
  src/frontends/tensorflow/src/utils.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Conv2D.py
  tests/layer_tests/tensorflow_tests/test_tf_Conv3D.py
Labels: category: TF FE

#15132 Enabled Windows ARM64 build using MSVC cl compiler
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/clang_format/clang_format.cmake
  cmake/developer_package/compile_flags/os_flags.cmake
  samples/cpp/CMakeLists.txt
  src/common/preprocessing/CMakeLists.txt
  src/common/preprocessing/cpu_x86_sse42/ie_preprocess_gapi_kernels_sse42.cpp
  src/core/include/openvino/core/visibility.hpp
  src/core/reference/include/ngraph/runtime/reference/convert.hpp
  src/core/reference/src/runtime/reference/convert.cpp
  src/core/reference/src/runtime/reference/experimental_detectron_roi_feature_extractor.cpp
  src/core/reference/src/runtime/reference/jit_generator.cpp
  src/inference/src/ie_system_conf.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/utils/denormals.hpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  thirdparty/ittapi/CMakeLists.txt
  thirdparty/ocv/opencv_hal_intrin.hpp
  thirdparty/protobuf/CMakeLists.txt
Labels: category: inference, category: Core, category: IE Tests, category: CPU, category: build, category: samples, category: preprocessing, platform: arm, platform: win32, category: dependency_changes, category: CPP API

#15158 [VPU] - Update MyriadX firmware
  src/plugins/intel_myriad/myriad_dependencies.cmake
  src/plugins/intel_myriad/third_party/mvnc/src/mvnc_data.c
Labels: category: VPU

#15147 [PyOV] Move py_object_to_any under namespace
  src/bindings/python/src/pyopenvino/core/compiled_model.cpp
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/frontend/extension.cpp
  src/bindings/python/src/pyopenvino/frontend/frontend_module.cmake
  src/bindings/python/src/pyopenvino/frontend/onnx/extension.cpp
  src/bindings/python/src/pyopenvino/frontend/tensorflow/extension.cpp
  src/bindings/python/src/pyopenvino/graph/any.cpp
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/bindings/python/tests/test_runtime/test_model.py
Labels: category: build, category: Python API

#15037 [GPU] Let reorder_inputs pass to use not only output_layout but also input layout for dynamic shape
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gather.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_kernel_ref.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/gather.cpp
Labels: category: GPU

#15164 DOCS: Reverting the version of tutorials
  docs/nbdoc/consts.py
  docs/tutorials.md
Labels: category: docs

#14611 Review slice for shape inference aspects
  src/bindings/python/tests/test_graph/test_preprocess.py
  src/core/include/openvino/core/validation_util.hpp
  src/core/include/openvino/op/slice.hpp
  src/core/shape_inference/include/augru_cell_shape_inference.hpp
  src/core/shape_inference/include/slice_shape_inference.hpp
  src/core/shape_inference/include/slice_shape_inference_utils.hpp
  src/core/shape_inference/include/strided_slice_shape_inference.hpp
  src/core/src/op/slice.cpp
  src/core/src/validation_util.cpp
  src/core/tests/type_prop/slice.cpp
  src/core/tests/type_prop/strided_slice.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/slice_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: Python API, category: CPP API

#14809 Add more options to conformance script
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
Labels: category: IE Tests, conformance

#15114 [benchmark_app python] Fix crash in case of binary input and batch > 1
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
Labels: category: tools

#15102 [ShapeInference] GridSample shape infer review
  src/core/include/openvino/op/grid_sample.hpp
  src/core/shape_inference/include/grid_sample_shape_inference.hpp
  src/core/tests/type_prop/grid_sample.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/grid_sample_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#15047 Resolve relative path to the extension
  src/inference/src/core.cpp
Labels: category: inference

#15013 [GNA] Skip GNA config structure initialization when compiling in GNA_…
  src/plugins/intel_gna/src/gna_plugin.cpp
Labels: category: GNA

#15177 Meiyang/paddle 2.4
  src/frontends/paddle/src/proto/framework.proto
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/requirements.txt
  src/frontends/paddle/tests/test_models/gen_scripts/generate_tensorarray.py
Labels: category: dependency_changes, category: PDPD FE

#15048 Added common ov::execution_mode hint
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/OV_Runtime_UG/supported_plugins/GNA.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/optimization_guide/dldt_deployment_optimization_guide.md
  docs/snippets/cpu/Bfloat16Inference1.cpp
  docs/snippets/cpu/Bfloat16Inference2.cpp
  docs/snippets/ov_hetero.cpp
  docs/snippets/ov_properties_api.cpp
  docs/snippets/ov_properties_migration.cpp
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/speech_sample/main.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/plugins/intel_gna/src/gna_plugin_config.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_plugin/core_intergration.cpp
  src/plugins/intel_gna/tests/unit/gna_export_import_test.cpp
  src/plugins/intel_gna/tests/unit/gna_hw_precision_test.cpp
  src/plugins/intel_gna/tests/unit/gna_input_preproc_test.cpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/execution_config.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/legacy_api_helper.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/tests/functional/plugin/gpu/behavior/inference_precision.cpp
  src/tests/functional/plugin/gpu/concurrency/gpu_concurrency_tests.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/cldnn_remote_blob_tests.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/normalize_l2_decomposition.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/functional/shared_test_classes/src/base/snippets_test_utils.cpp
Labels: category: inference, category: IE Tests, category: GPU, category: CPU, category: GNA, category: Python API, category: samples, category: docs, category: CPP API

#15085 [ARM] Added neon_mathfun license
  cmake/packaging/copyrights/arm_cpu
Labels: category: build, platform: arm, category: packaging

#15186 Added PT FE to codeowners / labeler
  .github/CODEOWNERS
  .github/labeler.yml
Labels: category: CI

#15050 RGB->Gray C and Py API2.0
  src/bindings/c/docs/api_overview.md
  src/bindings/c/include/openvino/c/ov_prepostprocess.h
  src/bindings/c/src/ov_prepostprocess.cpp
  src/bindings/c/tests/ov_preprocess_test.cpp
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/tests/test_graph/test_preprocess.py
Labels: category: Python API, category: C API, category: docs

#15180 [Snippets] FP32 MHA postcommit fixes
  src/common/snippets/src/op/loop.cpp
  src/plugins/intel_cpu/src/emitters/jit_snippets_emitters.cpp
Labels: category: CPU

#15196 Remove myriad defines
  .ci/azure/linux.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_debian.yml
  .ci/azure/mac.yml
  docs/dev/build.md
Labels: category: CI, category: docs

#15194 [PyOV] Add new types to Any dispatcher
  src/bindings/python/src/pyopenvino/utils/utils.cpp
Labels: category: Python API

#14731 [GNA] Support caching properties for model cache
  src/plugins/intel_gna/src/gna_plugin_config.cpp
  src/plugins/intel_gna/src/gna_plugin_config.hpp
  src/plugins/intel_gna/src/gna_plugin_query_api.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gna/tests/unit/gna_executable_network_metrics_test.cpp
  src/plugins/intel_gna/tests/unit/gna_plugin_config_test.cpp
  src/tests/functional/plugin/shared/src/behavior/plugin/caching_tests.cpp
Labels: category: IE Tests, category: GNA

#15203 [Snippets] FP32 MHA postcommit fixes (arm64)
  src/tests/functional/plugin/shared/src/snippets/mha.cpp
Labels: category: IE Tests

#15208 [PyOV] Skip tests with bool for arm
  src/bindings/python/tests/test_runtime/test_infer_request.py
  src/bindings/python/tests/test_runtime/test_properties.py
  src/bindings/python/tests_compatibility/test_inference_engine/test_ExecutableNetwork.py
Labels: category: Python API, platform: arm

#14645 [Docs][PyOV] Add information about testing pyapi
  src/bindings/python/docs/code_examples.md
  src/bindings/python/docs/contributing.md
  src/bindings/python/docs/test_examples.md
Labels: category: Python API, category: docs, do_not_merge

#15214 Cherry-pick of (#15208)
  src/bindings/python/tests/test_runtime/test_infer_request.py
  src/bindings/python/tests/test_runtime/test_properties.py
  src/bindings/python/tests_compatibility/test_inference_engine/test_ExecutableNetwork.py
Labels: category: Python API

#15075 [GPU] Remove legacy fused ops
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/activation.cpp
  src/plugins/intel_gpu/src/graph/include/fused_primitive_desc.h
  src/plugins/intel_gpu/src/graph/include/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/include/reshape_inst.h
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_winograd_6x3_s1_fused.cl
Labels: category: GPU, under_perf_check

#15080 DOCS: OpenVINO™ Security Add-on image recreation for master
  docs/ovsa/ovsa_diagram.png
  docs/ovsa/ovsa_diagram.svg
  docs/ovsa/ovsa_example.png
  docs/ovsa/ovsa_example.svg
  docs/ovsa/ovsa_get_started.md
Labels: category: docs
