Repository openvinotoolkit/openvino, pull requests merged in 2023-03, with the labels that each got.

#15878 Moved template backend to new API
  src/core/src/node.cpp
  src/core/src/runtime/ov_tensor.cpp
  src/core/tests/ov_tensor_test.cpp
  src/plugins/template/backend/CMakeLists.txt
  src/plugins/template/backend/backend.cpp
  src/plugins/template/backend/backend.hpp
  src/plugins/template/backend/cache.cpp
  src/plugins/template/backend/cache.hpp
  src/plugins/template/backend/evaluates_map.cpp
  src/plugins/template/backend/executable.cpp
  src/plugins/template/backend/executable.hpp
  src/plugins/template/backend/int_backend.cpp
  src/plugins/template/backend/int_backend.hpp
  src/plugins/template/backend/int_executable.cpp
  src/plugins/template/backend/int_executable.hpp
  src/plugins/template/backend/pass/dyn_elimination.cpp
  src/plugins/template/backend/pass/dyn_elimination.hpp
  src/plugins/template/backend/pass/shape_relevance.cpp
  src/plugins/template/backend/pass/shape_relevance.hpp
  src/plugins/template/backend/performance_counter.hpp
  src/plugins/template/src/plugin.cpp
  src/plugins/template/src/plugin.hpp
  src/plugins/template/src/sync_infer_request.cpp
  src/plugins/template/src/sync_infer_request.hpp
  src/tests/ngraph_helpers/ngraph_functions/src/utils/ngraph_helpers.cpp
Labels: category: Core, category: IE Tests, category: build, category: TEMPLATE

#15806 Xuejun/remove api result related
  src/core/include/openvino/op/result.hpp
  src/core/include/openvino/op/util/attr_types.hpp
  src/core/src/op/result.cpp
  src/core/src/op/util/attr_types.cpp
Labels: category: Core, category: CPP API

#15935 [CPU] Added support of negative paddings for Pad
  src/plugins/intel_cpu/src/nodes/pad.cpp
  src/plugins/intel_cpu/src/nodes/pad.h
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/pad.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/pad.cpp
Labels: category: CPU

#15766 [ShapeInference] DeformablePSROIPooling shape infer
  src/core/include/openvino/op/deformable_psroi_pooling.hpp
  src/core/shape_inference/include/deformable_psroi_pooling_shape_inference.hpp
  src/core/src/op/deformable_psroi_pooling.cpp
  src/core/tests/type_prop/deformable_psroi_pooling.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/deformable_psroi_pooling_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#15837 [Snippets] Added broadcast support for FQ weights calculation
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/fq_decomposition.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/fake_quantize.cpp
Labels: category: CPU

#14576 [CPU][TESTS] Add options to manage test targets and scope
  src/plugins/intel_cpu/src/docs/README.md
  src/plugins/intel_cpu/src/docs/compilation_options.md
  src/plugins/intel_cpu/src/docs/logging.md
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
  src/plugins/intel_cpu/tests/functional/specific_tests.cmake
  src/plugins/intel_cpu/tests/functional/target_per_test.cmake
Labels: category: CPU, category: build, category: docs

#15972 [Transformations] Enable missing runtime info check
  src/common/transformations/src/transformations/common_optimizations/strides_optimization.cpp
  src/common/transformations/tests/common_optimizations/strides_optimization.cpp
  src/common/transformations/tests/offline_transformations/pruning_test.cpp
Labels: category: transformations, ported to master

#15881 [PT FE] Add prim::device and prim::type, improvements to aten::to, aten::eq, aten::ne
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/op/to.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/transforms/string_equality_replacer.cpp
  src/frontends/pytorch/src/transforms/string_equality_replacer.hpp
  tests/layer_tests/pytorch_tests/test_device.py
  tests/layer_tests/pytorch_tests/test_to.py
Labels: category: Python API, category: PyTorch FE

#15896 Use i32 across all PyTorch frontend
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/op/batch_norm.cpp
  src/frontends/pytorch/src/op/div.cpp
  src/frontends/pytorch/src/op/embedding.cpp
  src/frontends/pytorch/src/op/eye.cpp
  src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op/glu.cpp
  src/frontends/pytorch/src/op/group_norm.cpp
  src/frontends/pytorch/src/op/im2col.cpp
  src/frontends/pytorch/src/op/instance_norm.cpp
  src/frontends/pytorch/src/op/layer_norm.cpp
  src/frontends/pytorch/src/op/len.cpp
  src/frontends/pytorch/src/op/masked_fill.cpp
  src/frontends/pytorch/src/op/min_max.cpp
  src/frontends/pytorch/src/op/nms.cpp
  src/frontends/pytorch/src/op/nonzero.cpp
  src/frontends/pytorch/src/op/pad.cpp
  src/frontends/pytorch/src/op/repeat.cpp
  src/frontends/pytorch/src/op/reshape_as.cpp
  src/frontends/pytorch/src/op/roll.cpp
  src/frontends/pytorch/src/op/rsqrt.cpp
  src/frontends/pytorch/src/op/size.cpp
  src/frontends/pytorch/src/op/slice.cpp
  src/frontends/pytorch/src/op/transpose.cpp
  src/frontends/pytorch/src/op/trilu.cpp
  src/frontends/pytorch/src/op/var_mean.cpp
  src/frontends/pytorch/src/transforms/append_list_unpack_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_getitem_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_index_replacer.cpp
  src/frontends/pytorch/src/transforms/listconstruct_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_list_construct_pad.cpp
  src/frontends/pytorch/src/transforms/prim_list_unpack_replacer.cpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/utils.cpp
Labels: category: PyTorch FE

#15974 [DOCS] Tensorflow models support in 23.0 update
  docs/Documentation/model_introduction.md
  docs/Extensibility_UG/Intro.md
  docs/Extensibility_UG/frontend_extensions.md
  docs/MO_DG/prepare_model/convert_model/supported_model_formats.md
  docs/OV_Runtime_UG/deployment/deployment_intro.md
  docs/OV_Runtime_UG/deployment/local-distribution.md
  docs/OV_Runtime_UG/img/BASIC_FLOW_IE_C.svg
  docs/OV_Runtime_UG/integrate_with_your_application.md
  docs/OV_Runtime_UG/migration_ov_2_0/common_inference_pipeline.md
  docs/OV_Runtime_UG/openvino_intro.md
  docs/OV_Runtime_UG/preprocessing_usecase_save.md
  docs/OV_Runtime_UG/protecting_model_guide.md
  docs/glossary.md
  docs/snippets/src/main.c
  docs/snippets/src/main.cpp
  docs/snippets/src/main.py
Labels: category: docs

#15740 [CPU] Select via Eltwise implementation
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/select.cpp
  src/plugins/intel_cpu/src/nodes/select.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/select.cpp
Labels: category: CPU

#15933 [CPU] ConvertMatMulToFC fix
  src/plugins/intel_cpu/src/ngraph_transformations/convert_matmul_to_fc.cpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/convert_matmul_test.cpp
Labels: category: CPU

#16022 Fixed typo in docs
  docs/snippets/src/main.c
Labels: category: docs

#16024 Fixed clang-format for C API
  cmake/developer_package/clang_format/clang_format.cmake
  cmake/developer_package/frontends/frontends.cmake
  src/bindings/c/include/openvino/c/openvino.h
  src/bindings/c/include/openvino/c/ov_common.h
  src/bindings/c/include/openvino/c/ov_compiled_model.h
  src/bindings/c/include/openvino/c/ov_core.h
  src/bindings/c/include/openvino/c/ov_infer_request.h
  src/bindings/c/include/openvino/c/ov_model.h
  src/bindings/c/include/openvino/c/ov_node.h
  src/bindings/c/include/openvino/c/ov_partial_shape.h
  src/bindings/c/include/openvino/c/ov_prepostprocess.h
  src/bindings/c/include/openvino/c/ov_remote_context.h
  src/bindings/c/include/openvino/c/ov_shape.h
  src/bindings/c/include/openvino/c/ov_tensor.h
  src/bindings/c/src/CMakeLists.txt
Labels: category: build, category: C API

#15971 Try to update minimum setuptools req
  src/bindings/python/wheel/requirements-dev.txt
  tools/openvino_dev/setup.cfg
Labels: bug, category: Python API, category: tools, category: dependency_changes, category: packaging

#15963 fix benchmark_app python to support YES and NO values for -pin parameter
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: category: tools, port to 2022.3

#16027 Improved GA precommit to track docs regressions
  .github/workflows/code_snippets.yml
  docs/snippets/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: category: build, category: CI, category: docs, port to 2022.3

#16030 Removed custom cmake message
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/message.cmake
  cmake/features.cmake
Labels: bug, category: build, port to 2022.3

#16021 [POT] Fix POT version in setup.py
  tools/pot/setup.py
Labels: category: dependency_changes, category: POT, port to 2022.3

#15747 Fix the AUTO loadnetwork failure triggered by AUTO:-xxx
  samples/cpp/benchmark_app/utils.cpp
  src/plugins/auto/plugin.cpp
  src/plugins/auto/utils/config.hpp
  src/tests/unit/auto/get_device_list.cpp
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: category: IE Tests, category: samples, category: tools, category: AUTO

#16028 [GPU] Backend independent fuse params
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/include/activation_inst.h
  src/plugins/intel_gpu/src/graph/include/depth_to_space_inst.h
  src/plugins/intel_gpu/src/graph/include/eltwise_inst.h
  src/plugins/intel_gpu/src/graph/include/fused_primitive_desc.h
  src/plugins/intel_gpu/src/graph/include/kernel_impl_params.hpp
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/include/quantize_inst.h
  src/plugins/intel_gpu/src/graph/include/reorder_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/test_cases/condition_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/memory_test.cpp
  src/plugins/intel_gpu/tests/test_cases/reshape_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/split_gpu_test.cpp
Labels: category: GPU

#16009 [GPU] Added support mixed input formats for Select
  src/plugins/intel_gpu/src/graph/select.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/select_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/select/select_kernel_base.cpp
  src/plugins/intel_gpu/tests/test_cases/select_gpu_test.cpp
Labels: category: GPU

#16008 Building GPU plugin for Linux ARM64
  cmake/features.cmake
  src/bindings/c/tests/ov_remote_context_test.cpp
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/half.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/detection_output.cpp
  src/plugins/intel_gpu/tests/CMakeLists.txt
Labels: category: GPU, category: build, category: C API, platform: arm, platform: linux

#16039 Fix coverity uninialized variable
  src/inference/src/dev/converter_utils.cpp
Labels: category: inference

#15688 Detect loops in topological_sort
  src/core/include/openvino/core/graph_util.hpp
  src/core/tests/model.cpp
Labels: category: Core, category: CPP API

#15893 Clearing of CustomReplacementRegistry.registry in convert_model()
  tests/layer_tests/mo_python_api_tests/test_legacy_exts/test_config_transform/front/custom_transform.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_complex_params.py
  tests/layer_tests/mo_python_api_tests/test_transform_config/test_config.json
  tools/mo/openvino/tools/mo/utils/class_registration.py
Labels: category: MO

#16023 Added TF / TF Lite in API reference docs
  src/bindings/c/include/openvino/c/ov_core.h
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/inference/include/openvino/runtime/core.hpp
Labels: category: inference, category: Python API, category: C API, category: CPP API

#15914 [CPU] Split: dynamic split_lengths values support
  src/core/src/node.cpp
  src/plugins/intel_cpu/src/nodes/split.cpp
  src/plugins/intel_cpu/src/nodes/split.h
  src/plugins/intel_cpu/tests/functional/single_layer_tests/variadic_split.cpp
Labels: category: Core, category: CPU

#16061 Graph builder modal
  docs/_static/css/custom.css
  docs/_static/html/modal.html
  docs/_static/js/graphs.js
Labels: category: docs

#16045 stridedslice skip execution with 0 dims
  src/plugins/intel_cpu/src/nodes/strided_slice.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/strided_slice.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/strided_slice_zero_dims.cpp
Labels: category: CPU

#16054 [PyOV] Remove `setuptools` upperbound
  src/bindings/python/wheel/requirements-dev.txt
Labels: category: Python API, category: dependency_changes, port to 2022.3, category: packaging

#16059 Removed fetch depth from Azure Pipelines
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_coverity.yml
  .ci/azure/linux_cuda.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_lohika.yml
  .ci/azure/linux_ngraph_onnx.yml
  .ci/azure/linux_onnxruntime.yml
  .ci/azure/mac.yml
  .ci/azure/windows.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#16058 Fixed OpenMP + debian package code-path
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  thirdparty/ocl/CMakeLists.txt
Labels: category: GPU, category: build, port to 2022.3, category: packaging

#16055 Test GPU plugin arm64 build via Android precommit
  .ci/azure/android_arm64.yml
  src/plugins/intel_gpu/src/graph/graph_optimizer/select_preferred_formats.cpp
  src/plugins/intel_gpu/tests/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU, platform: android, category: CI

#16049 Port to 2022.3 from master
  .github/workflows/code_snippets.yml
  .github/workflows/mo.yml
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/message.cmake
  cmake/features.cmake
  docs/install_guides/installing-openvino-from-archive-linux.md
  src/bindings/python/wheel/requirements-dev.txt
  src/core/include/openvino/core/graph_util.hpp
  src/core/tests/model.cpp
  thirdparty/CMakeLists.txt
  tools/openvino_dev/setup.cfg
  tools/pot/setup.py
Labels: ported to master

#16056 Update prerelease_information.md
  docs/resources/prerelease_information.md
Labels: category: docs

#16057 Added missed licenses to openvino-dev
  tools/openvino_dev/CMakeLists.txt
  tools/openvino_dev/setup.cfg
  tools/openvino_dev/setup.py
Labels: category: build, category: tools, category: dependency_changes, port to 2022.3, category: packaging

#15987 Added recalculating processing order if it is not correctly processed
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
Labels: category: GPU

#15920 rework the config and better follow new api
  src/plugins/auto/auto_schedule.cpp
  src/plugins/auto/plugin.cpp
  src/plugins/auto/plugin.hpp
  src/plugins/auto/plugin_config.cpp
  src/plugins/auto/utils/plugin_config.hpp
  src/tests/unit/auto/auto_default_perf_hint_test.cpp
  src/tests/unit/auto/auto_load_network_properties_test.cpp
  src/tests/unit/auto/auto_release_helper_test.cpp
  src/tests/unit/auto/auto_select_device_failed_test.cpp
  src/tests/unit/auto/auto_startup_fallback_properties_test.cpp
  src/tests/unit/auto/exec_network_get_metrics.cpp
Labels: category: IE Tests, category: AUTO

#15795 [CPU] Internal dynamism support for extensions
  src/core/dev_api/shape_util.hpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/adaptive_pooling.cpp
  src/plugins/intel_cpu/src/nodes/color_convert.cpp
  src/plugins/intel_cpu/src/nodes/deconv.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/generic.cpp
  src/plugins/intel_cpu/src/nodes/matmul.cpp
  src/plugins/intel_cpu/src/nodes/one_hot.cpp
  src/plugins/intel_cpu/src/nodes/priorbox.cpp
  src/plugins/intel_cpu/src/nodes/priorbox_clustered.cpp
  src/plugins/intel_cpu/src/nodes/reference.cpp
  src/plugins/intel_cpu/src/nodes/reference.h
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/src/nodes/shapeof.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.h
  src/plugins/intel_cpu/src/nodes/transpose.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.hpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference_cpu.hpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference_internal_dyn.hpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference_ngraph.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference_ngraph.hpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference_pass_through.hpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference_status.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/custom_op_internal_dyn.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/utils.hpp
Labels: category: Core, category: CPU

#15742 convert_model() legacy extensions fix
  .ci/azure/linux.yml
  tests/layer_tests/mo_python_api_tests/mo_convert_legacy_extensions_test_actual.py
  tests/layer_tests/mo_python_api_tests/test_legacy_exts/test_exts_dir1/front/ext1.py
  tests/layer_tests/mo_python_api_tests/test_legacy_exts/test_exts_dir2/front/ext2.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_extensions.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_subprocess_tests.py
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/front/tf/loader.py
  tools/mo/openvino/tools/mo/utils/cli_parser.py
Labels: category: MO, category: CI

#14458 Add support for dynamic shapes in RDFT
  src/core/shape_inference/include/irdft_shape_inference.hpp
  src/core/shape_inference/include/rdft_shape_inference.hpp
  src/core/src/op/irdft.cpp
  src/core/src/op/rdft.cpp
  src/plugins/intel_cpu/src/nodes/rdft.cpp
  src/plugins/intel_cpu/src/nodes/rdft.h
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/rdft.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/fft_base_shape_inference.cpp
Labels: category: Core, category: CPU

#15478 Xufang/enable cc for graph optimizer
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/itt.h
Labels: category: CPU

#16031 Add correct handling of conformance processes
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: category: IE Tests, conformance

#15815 [CPU] Fix issue about overwriting register names
  src/plugins/intel_cpu/src/emitters/utils.cpp
  src/plugins/intel_cpu/src/emitters/utils.hpp
Labels: bug, category: CPU

#16078 Update merge script to work with outdated reports
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/merge_xmls.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/constants.py
Labels: category: IE Tests, conformance

#16081 [CONFORMANCE] Add check the crash or non zero status in python runner
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: category: IE Tests, conformance

#15978 [Docs][PyOV] Add docstrings for transformations + python examples for stateful model
  docs/snippets/ov_network_state_intro.py
  src/bindings/python/src/pyopenvino/graph/passes/transformations.cpp
  src/bindings/python/tests/test_graph/test_basic.py
  src/bindings/python/tests/test_transformations/test_public_transformations.py
Labels: category: Python API, category: docs

#16090 [DOCS] Notebooks - the most recent version
  docs/nbdoc/consts.py
  docs/tutorials.md
Labels: category: docs

#16094 [MO] Update reminder message for 2023.0
  tools/mo/openvino/tools/mo/utils/get_ov_update_message.py
Labels: category: MO

#16084 [PT FE]: fix arange dtype if it is not provided
  src/frontends/pytorch/src/op/arange.cpp
  tests/layer_tests/pytorch_tests/test_arange.py
Labels: category: PyTorch FE

#16087 [PT FE]: fix padding value dtype
  src/frontends/pytorch/src/op/pad.cpp
  src/frontends/pytorch/src/transforms/prim_list_construct_pad.cpp
  tests/layer_tests/pytorch_tests/test_pad.py
Labels: category: PyTorch FE

#16017 remove python dependency gast in paddle test
  src/frontends/paddle/tests/requirements.txt
Labels: category: dependency_changes, category: PDPD FE

#16096 Fixed compilation on Debian 11 with gcc 12.2
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/ocl/ocl_ext.hpp
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/ocl/CMakeLists.txt
Labels: category: GPU, category: CPU, category: build, port to 2022.3

#16097 Supported multi-config cmake generators
  CMakeLists.txt
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/native_compile.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  cmake/templates/OpenVINODeveloperPackageConfig.cmake.in
  samples/cpp/CMakeLists.txt
  scripts/CMakeLists.txt
  src/bindings/python/CMakeLists.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/cmake/ie_parallel.cmake
  src/plugins/intel_gna/src/backend/gna_limitations.cpp
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/ocl/CMakeLists.txt
Labels: category: GPU, category: GNA, category: build, category: Python API, category: samples, category: dependency_changes, category: packaging

#15769 [PT FE] Add aten::ArgSort & aten::Sort
  src/frontends/pytorch/include/openvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/src/op/sort.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_argsort.py
  tests/layer_tests/pytorch_tests/test_sort.py
Labels: category: CPP API, category: PyTorch FE

#15571 Create streams info table based on processor type table
  src/inference/dev_api/threading/ie_cpu_streams_info.hpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.hpp
  src/plugins/intel_cpu/tests/unit/streams_info_table_test.cpp
Labels: category: inference, category: CPU

#15667 Xuejun/remove api in ov any
  src/bindings/python/src/compatibility/pyngraph/pyngraph.cpp
  src/bindings/python/src/compatibility/pyngraph/variant.cpp
  src/bindings/python/src/compatibility/pyngraph/variant.hpp
  src/bindings/python/tests_compatibility/test_ngraph/test_basic.py
  src/core/include/openvino/core/any.hpp
  src/core/src/any.cpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/core_impl.cpp
  src/plugins/intel_gna/src/gna_plugin_config.cpp
  src/plugins/intel_gna/src/gna_plugin_query_api.cpp
  src/plugins/intel_gna/src/ops/util/util.hpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_check.hpp
  src/plugins/intel_gna/tests/unit/gna_executable_network_metrics_test.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/plugin/core_integration.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/behavior/executable_network/get_metric.hpp
  src/tests/functional/plugin/shared/include/behavior/infer_request/set_blob_by_type.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
  src/tests/functional/plugin/shared/src/behavior/plugin/caching_tests.cpp
  src/tests/functional/plugin/shared/src/behavior/plugin/configuration_tests.cpp
  src/tests/ie_test_utils/functional_test_utils/src/plugin_cache.cpp
  src/tests/unit/auto/exec_network_get_metrics.cpp
  tests/time_tests/include/timetests_helper/utils.h
  tools/legacy/benchmark_app/main.cpp
Labels: category: inference, category: Core, category: IE Tests, category: GPU, category: GNA, category: Python API, category: tools, category: TEMPLATE, category: CPP API

#15910 TopK v11 core operator
  src/bindings/python/tests/test_transformations/test_pattern_ops.py
  src/core/include/ngraph/op/topk.hpp
  src/core/include/ngraph/opsets/opset.hpp
  src/core/include/openvino/op/topk.hpp
  src/core/include/openvino/op/util/topk_base.hpp
  src/core/include/openvino/opsets/opset.hpp
  src/core/include/openvino/opsets/opset11.hpp
  src/core/include/openvino/opsets/opset11_tbl.hpp
  src/core/shape_inference/include/topk_shape_inference.hpp
  src/core/src/op/topk.cpp
  src/core/src/op/util/topk_base.cpp
  src/core/src/opsets/opset.cpp
  src/core/tests/opset.cpp
  src/core/tests/type_prop/top_k.cpp
  src/core/tests/visitors/op/topk.cpp
  src/frontends/common/include/openvino/frontend/extension/op.hpp
  src/frontends/onnx/tests/onnx_tensor_names.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/topk_shape_inference_test.cpp
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: Python API, category: ONNX FE, category: extensions, category: CPP API

#15966 [CPU]Remove C4250 warning suppress, and fix the corresponding warning.
  src/common/util/include/openvino/util/util.hpp
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/memory_desc/dnnl_blocked_memory_desc.h
  src/plugins/intel_gpu/src/runtime/ocl/ocl_user_event.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/caching_tests.hpp
Labels: category: Core, category: IE Tests, category: GPU, category: CPU, category: build

#16067 [CPU] Prevent out of bounds executableGraphNodes read
  src/plugins/intel_cpu/src/graph.cpp
Labels: bug, category: CPU, port to 2022.3

#15679 [DOCS] Better statement about MO extensions as internal API [Recreating #14062]
  docs/MO_DG/prepare_model/customize_model_optimizer/Customize_Model_Optimizer.md
Labels: category: docs

#15989 Fix warning: sequence point strict aliasing
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/nodes/unique.cpp
  src/plugins/intel_cpu/src/utils/blob_dump.cpp
  src/plugins/intel_cpu/tests/functional/bfloat16/bfloat16_helpers.hpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/denormal_check.cpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
Labels: category: IE Tests, category: CPU, category: build

#16042 fix benchmark_app python to support YES and NO values for -pin parameter
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: ported to master

#16075 [GPU] Minor fixes for dynamic model
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_kernel_ref.cpp
  src/plugins/intel_gpu/tests/passes/prepare_primitive_fusing_test.cpp
Labels: category: GPU

#16086 [Transformations] Add AbsSubMulMulAdd PReLu fusion
  src/common/transformations/include/transformations/common_optimizations/prelu_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/prelu_fusion.cpp
  src/common/transformations/tests/prelu_fusion.cpp
Labels: category: transformations

#16093 [nGraph] VisualizeTree displays tensors
  src/core/src/pass/visualize_tree.cpp
Labels: category: nGraph

#16118 [DOCS] Add OTX page to Ecosystem
  docs/Documentation/openvino_ecosystem.md
  docs/Documentation/openvino_training_extensions.md
  docs/_static/images/training_extensions_framework.png
Labels: category: docs

#16120 [DOCS] Fix Frontend Extensions snippets
  docs/Extensibility_UG/frontend_extensions.md
  docs/OV_Runtime_UG/model_representation.md
Labels: category: docs

#15834 [GPU] Added shape agnostic optimized SoftMax kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/softmax_gpu_bf.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_bf.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_fb.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_items_class_optimized.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/softmax_gpu_test.cpp
Labels: category: GPU

#15892 [Snippets] Fixed potential constants getter for FQ
  src/common/snippets/src/utils.cpp
  src/common/snippets/tests/src/pass/collapse_subgraph.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/CMakeLists.txt
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/subgraph_fq.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_fq.cpp
Labels: category: IE Tests, category: CPU, category: build

#14846 single place to fill tails of load emitter
  src/plugins/intel_cpu/src/emitters/jit_load_store_emitters.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/mvn.cpp
Labels: category: CPU

#15211 [UT][AUTO_BATCH]auto batch plugin unit test
  .ci/azure/linux.yml
  .ci/azure/windows.yml
  src/plugins/auto_batch/CMakeLists.txt
  src/plugins/auto_batch/src/auto_batch.cpp
  src/plugins/auto_batch/src/auto_batch.hpp
  src/plugins/auto_batch/tests/unit/CMakeLists.txt
  src/plugins/auto_batch/tests/unit/auto_batch_infer_request_tests.cpp
  src/plugins/auto_batch/tests/unit/create_infer_request_tests.cpp
  src/plugins/auto_batch/tests/unit/exec_network_tests.cpp
  src/plugins/auto_batch/tests/unit/load_network_tests.cpp
  src/plugins/auto_batch/tests/unit/mock_auto_batch_plugin.hpp
  src/plugins/auto_batch/tests/unit/plugins_tests.cpp
Labels: category: build, category: CI, category: AUTO BATCH

#15595 Enable AUTO to support execution mode hint.
  src/plugins/auto/plugin.cpp
  src/plugins/auto/plugin_config.cpp
  src/plugins/auto/utils/config.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
Labels: category: CPU, category: AUTO

#16125 Fix sign-compare warnings in ONNX FE
  src/frontends/onnx/CMakeLists.txt
  src/frontends/onnx/frontend/src/editor.cpp
  src/frontends/onnx/frontend/src/op/scan.cpp
  src/frontends/onnx/frontend/src/place.cpp
  src/frontends/onnx/frontend/src/utils/tensor_external_data.cpp
  src/frontends/onnx/tests/onnx_transformations.cpp
Labels: category: build, category: ONNX FE

#16070 [GPU] Move some op parameters from node to primitive class
  src/plugins/intel_gpu/include/intel_gpu/primitives/convolution.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/quantize.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/quantize.cpp
  src/plugins/intel_gpu/src/graph/include/convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/deformable_convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/quantize_inst.h
  src/plugins/intel_gpu/src/graph/quantize.cpp
  src/plugins/intel_gpu/tests/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU

#15717 [GPU] Optimize eltwise kernel for blocked format
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/eltwise_b_fs_yx_fsv16.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/eltwise_b_fs_yx_fsv4.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/eltwise_blocked_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_b_fs_yx_fsv16.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_b_fs_yx_fsv4.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_b_fs_yx_fsv4.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_blocked_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_selector.cpp
  src/plugins/intel_gpu/tests/fusions/eltwise_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#16107 Fix RTInfo for ReduceL2Decomposition
  src/common/transformations/src/transformations/op_conversions/reduce_l2_decomposition.cpp
  src/inference/tests/unit/query_model_test.cpp
Labels: category: inference, category: transformations, port to 2022.3

#16129 Added CI documentation
  docs/dev/enabling_ci_step.md
  docs/dev/get_started.md
  docs/dev/index.md
Labels: category: docs

#15404 [CPU]Fix bf16 marking logic & remove useless convert
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/graph_optimizer.h
  src/plugins/intel_cpu/src/ngraph_transformations/snippets_mark_skipped.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/snippets_mark_skipped.hpp
  src/plugins/intel_cpu/src/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/remove_convert.cpp
Labels: category: CPU

#15235 [GPU] Move local_block_io_support check to kernel selector helper
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#16134 Removed explicit handling for cache_dir from GNA
  src/plugins/intel_gna/src/gna_plugin_config.cpp
  src/plugins/intel_gna/src/gna_plugin_config.hpp
  src/plugins/intel_gna/tests/unit/gna_executable_network_metrics_test.cpp
  src/plugins/intel_gna/tests/unit/gna_plugin_config_test.cpp
Labels: category: GNA

#15600 [POT] Removed Multiply from ignored ops for transformers
  tools/pot/openvino/tools/pot/algorithms/quantization/fake_quantize_configuration.py
  tools/pot/openvino/tools/pot/algorithms/quantization/utils.py
Labels: category: POT

#16100 [PT FE] Support set/get element type, shape and value in PyTorch FE InputModel
  src/frontends/pytorch/src/input_model.cpp
  src/frontends/pytorch/src/input_model.hpp
  src/frontends/pytorch/src/place.cpp
  src/frontends/pytorch/src/place.hpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/translate_session.hpp
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
  tests/layer_tests/pytorch_tests/test_rsub.py
Labels: category: PyTorch FE

#15714 [PT FE] Add prim::PythonOp
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/frontends/pytorch/src/op/pythonop.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_pythonop.py
Labels: category: Python API, category: PyTorch FE

#15996 Fix MO IR Reader for Eye op
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/ops/eye.py
  tools/mo/openvino/tools/mo/utils/ir_reader/extenders/eye_extender.py
  tools/mo/unit_tests/mo/ops/eye_test.py
Labels: category: MO

#16020 [DOCS] `Integrate OpenVINO with your application` article - add TF Lite
  docs/OV_Runtime_UG/integrate_with_your_application.md
  docs/_static/images/IMPLEMENT_PIPELINE_with_API_C.svg
  docs/snippets/src/main.c
  docs/snippets/src/main.cpp
  docs/snippets/src/main.py
Labels: category: docs

#16029 [PT FE] Fix for prim::Constant tensor with int/float values
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  tests/layer_tests/py_frontend_tests/test_torch_decoder.py
Labels: category: Python API, category: PyTorch FE

#15798 [GPU] Added shape agnostic kernels for GatherElements and Tile
  src/plugins/intel_gpu/src/graph/impls/ocl/gather_elements.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/range.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/softmax.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/tile.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_elements_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/tile_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_elements_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_elements_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/range/range_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/tile/tile_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/tile/tile_kernel_ref.h
  src/plugins/intel_gpu/tests/test_cases/gather_elements_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/tile_gpu_test.cpp
Labels: category: GPU

#16074 Broadcast for post ops enable enable onednngemm
  src/plugins/intel_gpu/include/intel_gpu/runtime/utils.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program_helpers.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/fusions/gemm_fusion_test.cpp
Labels: category: GPU

#15961 [CPU]JIRA 93714 fix CPU plugin warning after remove wd4309 wd4018
  src/core/shape_inference/include/pad_shape_inference.hpp
  src/core/shape_inference/include/slice_shape_inference.hpp
  src/core/shape_inference/include/variadic_split_shape_inference.hpp
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/emitters/jit_load_store_emitters.cpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/memory_desc/dnnl_blocked_memory_desc.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/align_matmul_input_ranks.cpp
  src/plugins/intel_cpu/src/ngraph_transformations/convert_to_power_static.cpp
  src/plugins/intel_cpu/src/nodes/batch_to_space.cpp
  src/plugins/intel_cpu/src/nodes/concat.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/eye.cpp
  src/plugins/intel_cpu/src/nodes/fake_quantize.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/interaction.cpp
  src/plugins/intel_cpu/src/nodes/lrn.cpp
  src/plugins/intel_cpu/src/nodes/matrix_nms.cpp
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/src/nodes/reorder.cpp
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/src/nodes/roi_align.cpp
  src/plugins/intel_cpu/src/nodes/scatter_update.cpp
  src/plugins/intel_cpu/src/nodes/split.cpp
  src/plugins/intel_cpu/src/nodes/strided_slice.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/tensoriterator.cpp
  src/plugins/intel_cpu/src/nodes/unique.cpp
  src/plugins/intel_cpu/src/utils/cpu_utils.hpp
  src/plugins/intel_cpu/src/utils/shape_inference/static_shape.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/topk.cpp
  src/plugins/intel_cpu/tests/unit/nodes/reorder_node_test.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
Labels: category: Core, category: IE Tests, category: CPU, category: build

#16133 Rename template config and move transformations to code snippets
  docs/Extensibility_UG/graph_rewrite_pass.md
  docs/Extensibility_UG/matcher_pass.md
  docs/Extensibility_UG/model_pass.md
  docs/Extensibility_UG/ov_transformations.md
  docs/IE_PLUGIN_DG/Plugin.md
  docs/snippets/CMakeLists.txt
  docs/snippets/template_model_transformation.cpp
  docs/snippets/template_model_transformation.hpp
  docs/snippets/template_pattern_transformation.cpp
  docs/snippets/template_pattern_transformation.hpp
  src/plugins/template/src/async_infer_request.cpp
  src/plugins/template/src/compiled_model.cpp
  src/plugins/template/src/compiled_model.hpp
  src/plugins/template/src/config.cpp
  src/plugins/template/src/config.hpp
  src/plugins/template/src/itt.hpp
  src/plugins/template/src/plugin.cpp
  src/plugins/template/src/plugin.hpp
  src/plugins/template/src/sync_infer_request.cpp
Labels: category: build, category: docs, category: TEMPLATE

#16124 [ONNX] Fix external weights loading for the current dir path case
  src/bindings/python/tests/test_onnx/test_onnx_external_data.py
  src/frontends/onnx/frontend/src/utils/onnx_internal.cpp
Labels: category: Python API, category: ONNX FE

#16154 TopK base class cleanup
  src/core/include/openvino/op/topk.hpp
  src/core/include/openvino/op/util/topk_base.hpp
  src/core/shape_inference/include/topk_shape_inference.hpp
  src/core/src/op/topk.cpp
  src/core/src/op/util/topk_base.cpp
  src/frontends/onnx/tests/onnx_tensor_names.cpp
Labels: category: Core, category: ONNX FE, category: CPP API

#16130 [GPU] Changed impls cache key type to avoid hash collisions
  src/plugins/intel_gpu/include/intel_gpu/graph/fused_primitive_desc.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/kernel_impl_params.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/lru_cache.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/utils.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/include/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/include/meta_utils.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_type.h
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/include/sliding_window_utils.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/tests/test_cases/hash_key_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/lru_caches_gpu_test.cpp
Labels: category: GPU

#15690 [DOCS] remove mentions of myriad throughout docs
  docs/OV_Runtime_UG/AutoPlugin_Debugging.md
  docs/OV_Runtime_UG/hetero_execution.md
  docs/OV_Runtime_UG/img/yolo_tiny_v1.svg
  docs/OV_Runtime_UG/supported_plugins/Device_Plugins.md
  docs/OV_Runtime_UG/supported_plugins/Supported_Devices.md
  docs/OV_Runtime_UG/supported_plugins/config_properties.md
  docs/gapi/gapi_face_analytics_pipeline.md
  docs/install_guides/installing-openvino-docker-linux.md
  docs/snippets/AUTO4.cpp
  docs/snippets/AUTO5.cpp
  docs/snippets/MULTI0.cpp
  docs/snippets/MULTI1.cpp
  docs/snippets/MULTI3.cpp
  docs/snippets/MULTI4.cpp
  docs/snippets/MULTI5.cpp
  docs/snippets/ov_auto.py
  docs/snippets/ov_multi.py
  docs/snippets/ov_properties_api.cpp
  docs/snippets/ov_properties_api.py
  src/inference/include/ie/ie_iexecutable_network.hpp
Labels: category: inference, category: docs, category: CPP API

#16142 [TF FE] Support Multi-output Body Graph nodes with named ports
  src/frontends/common/include/openvino/frontend/decoder.hpp
  src/frontends/tensorflow/src/decoder_argdef.cpp
  src/frontends/tensorflow/src/decoder_argdef.hpp
  src/frontends/tensorflow/src/decoder_proto.cpp
  src/frontends/tensorflow/src/decoder_proto.hpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/models_pbtxt/partitioned_call2.pbtxt
  src/frontends/tensorflow/tests/test_models/models_pbtxt/partitioned_call2.py
  src/frontends/tensorflow_common/include/helper_ops/internal_operation.hpp
  src/frontends/tensorflow_lite/src/decoder_flatbuffer.cpp
  src/frontends/tensorflow_lite/src/decoder_flatbuffer.h
  src/frontends/tensorflow_lite/src/decoder_map.hpp
Labels: category: Core, category: TF FE, category: CPP API, category: TFL FE

#16145 CoreImpl small refactoring
  src/inference/dev_api/cpp_interfaces/interface/ie_internal_plugin_config.hpp
  src/inference/src/compilation_context.cpp
  src/inference/src/compilation_context.hpp
  src/inference/src/core.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/icompiled_model.cpp
  src/inference/src/dev/plugin.cpp
  src/inference/src/dev/plugin.hpp
  src/inference/src/ie_core.cpp
  src/inference/tests/unit/ie_compilation_context_test.cpp
  src/plugins/auto/plugin.cpp
  src/plugins/hetero/executable_network.cpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/template/src/plugin.cpp
Labels: category: inference, category: CPU, category: HETERO, category: TEMPLATE, category: AUTO

#16155 [nGraph] VisualizeTree cclang quick fix
  src/core/src/pass/visualize_tree.cpp
Labels: category: Core

#16159 Fixed RelWithDebInfo build
  scripts/CMakeLists.txt
Labels: category: build, category: dependency_changes

#16160 [GPU] Added shape agnostic Pad ref kernel
  src/plugins/intel_gpu/src/graph/impls/ocl/border.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/border_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/border/border_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/border/border_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/border_gpu_test.cpp
Labels: category: GPU

#16052 [GPU] Fix stable diffusion failure
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/tests/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU

#15990 [ONNX FE] Improved a method of operators registration
  src/frontends/onnx/frontend/src/op/abs.hpp
  src/frontends/onnx/frontend/src/op/acos.hpp
  src/frontends/onnx/frontend/src/op/acosh.hpp
  src/frontends/onnx/frontend/src/op/add.cpp
  src/frontends/onnx/frontend/src/op/add.hpp
  src/frontends/onnx/frontend/src/op/and.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/frontend/src/ops_bridge.hpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/frontend/src/version_range.hpp
  src/frontends/onnx/tests/CMakeLists.txt
  src/frontends/onnx/tests/models/abs.prototxt
  src/frontends/onnx/tests/models/add_v6_broadcast_dynamic.prototxt
  src/frontends/onnx/tests/onnx_ops_registration.cpp
  src/frontends/onnx/tests/onnx_test_util.cpp
  src/frontends/onnx/tests/onnx_test_util.hpp
Labels: category: build, category: ONNX FE

#16173 Fixed PT FE compilation with clang on macOS
  src/frontends/pytorch/src/place.cpp
Labels: platform: macOS, category: PyTorch FE

#16149 [GPU] disable test-case: fusings_gpu/lrn_fp16_eltwise_activation.basic/7
  src/plugins/intel_gpu/tests/fusions/lrn_fusion_test.cpp
Labels: category: GPU

#16171 Fix build error in ubuntu 22.04
  src/plugins/auto_batch/tests/unit/auto_batch_infer_request_tests.cpp
Labels: category: AUTO BATCH

#16179 Update OV_2023_models_supported.pdf
  docs/_static/download/OV_2023_models_supported.pdf
Labels: category: docs

#16016 [POT] Added "accuracy" value for "preset" parameter in POT docs
  tools/pot/docs/BestPractices.md
Labels: category: docs, category: POT

#16174 Port to 2022.3
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/bindings/python/wheel/requirements-dev.txt
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/ocl/ocl_ext.hpp
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
  thirdparty/CMakeLists.txt
  thirdparty/ocl/CMakeLists.txt
  tools/openvino_dev/CMakeLists.txt
  tools/openvino_dev/setup.cfg
  tools/openvino_dev/setup.py
Labels: ported to master

#16122 [GNA] Update GNA library version to 3.5.0.1906
  .ci/azure/linux.yml
  cmake/dependencies.cmake
  src/plugins/intel_gna/src/gna_device.hpp
  src/plugins/intel_gna/tests/functional/pass_tests/conv_with_padding.cpp
Labels: category: GNA, category: build, category: CI

#16183 [TF FE] Support EmptyTensorList and TensorListPushBack operations
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_empty_tensor_list.py
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/tensor_list_operations.cpp
Labels: category: TF FE, category: TFL FE

#16079 Andreib/2022.3 myriad plugin obs
  src/plugins/intel_myriad/myriad_dependencies.cmake
  src/plugins/intel_myriad/third_party/mvnc/src/mvnc_data.c
Labels: category: VPU

#16140 [PT FE] Fix failing translation of aten::index_put_
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/op/index_put_.cpp
  src/frontends/pytorch/src/transforms/aten_index_put_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_index_put_replacer.hpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_index_put_.py
Labels: category: PyTorch FE

#16172 [GPU] Revert PR15386's change
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#16158 [GPU] Minor fixes for dynamic BERT models
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing_through.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
Labels: category: GPU

#15979 [GPU] IsFinite, IsInf, IsNaN operations
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/eltwise.hpp
  src/plugins/intel_gpu/src/graph/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/eltwise.cpp
  src/plugins/intel_gpu/src/graph/include/eltwise_inst.h
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_base.cpp
  src/plugins/intel_gpu/src/plugin/ops/eltwise.cpp
  src/plugins/intel_gpu/tests/test_cases/eltwise_gpu_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/comparison.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/is_inf.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/shared_test_classes/src/single_layer/is_inf.cpp
Labels: category: IE Tests, category: GPU, ExternalPR

#16194 Disable sentencepiece extension in static build
  .ci/azure/linux.yml
  .ci/azure/windows.yml
Labels: category: CI

#16063 [DOCS] Moving How to build documentation from wiki to md docs - master
  README.md
  docs/dev/build-android.md
  docs/dev/build-linux.md
  docs/dev/build-mac-arm.md
  docs/dev/build-mac-intel-cpu.md
  docs/dev/build-raspbian.md
  docs/dev/build-webassembly.md
  docs/dev/build-windows.md
  docs/dev/build.md
  docs/dev/building_documentation.md
  docs/dev/cmake_options_for_custom_comiplation.md
  docs/dev/conditional_compilation.md
  docs/dev/get_started.md
  docs/dev/installing.md
  docs/dev/static_libaries.md
Labels: category: docs

#16190 Add missing ov_executable_network tests for teamplte plugin
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_executable_network/exec_network_base.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
Labels: category: TEMPLATE

#16195 fix warnings of overloaded virtual function
  src/plugins/intel_cpu/src/emitters/jit_emitter.hpp
  src/plugins/intel_cpu/src/emitters/jit_snippets_emitters.hpp
Labels: category: CPU

#16139 Support more complicated cases of list concatenation
  src/frontends/pytorch/src/op/add.cpp
  src/frontends/pytorch/src/op/cat.cpp
  src/frontends/pytorch/src/op/getitem.cpp
  src/frontends/pytorch/src/transforms/aten_cat_replacer.cpp
  src/frontends/pytorch/src/transforms/listconstruct_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_list_construct_pad.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/pytorch_tests/test_cat.py
  tests/layer_tests/pytorch_tests/test_getitem.py
Labels: category: PyTorch FE

#16175 shift to rst - GPU articles
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU_RemoteTensor_API.md
Labels: category: docs

#16193 DOCS shift to rst - devices and ARM
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md
  docs/OV_Runtime_UG/supported_plugins/Device_Plugins.md
  docs/optimization_guide/dldt_deployment_optimization_guide.md
  docs/optimization_guide/dldt_deployment_optimization_latency.md
Labels: category: docs

#16065 [VPUX] - benchmark app issue fix - PERFORMANCE_HINT: UNDEFINED
  samples/cpp/benchmark_app/main.cpp
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: category: samples, category: tools

#16085 [DOCS] Align tabs in 'Install from PyPI' article - for master
  docs/install_guides/installing-openvino-pip.md
Labels: category: docs

#16152 Template plugin class doc
  docs/IE_PLUGIN_DG/Intro.md
  docs/IE_PLUGIN_DG/Plugin.md
  docs/IE_PLUGIN_DG/dev_api_references.md
  src/common/itt/include/openvino/itt.hpp
  src/common/util/include/openvino/util/common_util.hpp
  src/inference/dev_api/openvino/runtime/iasync_infer_request.hpp
  src/inference/dev_api/openvino/runtime/icompiled_model.hpp
  src/inference/dev_api/openvino/runtime/iinfer_request.hpp
  src/inference/dev_api/openvino/runtime/iplugin.hpp
  src/inference/dev_api/openvino/runtime/isync_infer_request.hpp
  src/inference/dev_api/precision_utils.h
  src/inference/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  src/inference/src/dev/iplugin.cpp
  src/plugins/template/README.md
  src/plugins/template/src/compiled_model.cpp
  src/plugins/template/src/config.cpp
  src/plugins/template/src/config.hpp
  src/plugins/template/src/plugin.cpp
  src/plugins/template/src/plugin.hpp
  src/plugins/template/src/sync_infer_request.cpp
Labels: category: inference, category: Core, category: docs, category: TEMPLATE

#15922 JIRA 93714 change bfloat16 to trivial for ov::core
  src/core/include/openvino/core/type/bfloat16.hpp
  src/core/include/openvino/core/type/float16.hpp
Labels: category: Core, category: CPP API

#15898 [GPU] Fix binary_convolution non-constant weights
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/binary_convolution/binary_convolution_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bs_f_bsv16_af8.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bs_f_bsv8_af8.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
Labels: category: GPU

#16206 DOCS-prereleasenotes-update
  docs/resources/prerelease_information.md
Labels: category: docs

#16209 Fix generation of report in CI
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/merge_xmls.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/summarize.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/stat_update_utils.py
Labels: category: IE Tests

#16219 [DOCS] OpenVINO Wiki links update - master
  docs/OV_Runtime_UG/Samples_Overview.md
  docs/OV_Runtime_UG/deployment/deployment_intro.md
  docs/OV_Runtime_UG/deployment/local-distribution.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/dev/build.md
  docs/dev/build_android.md
  docs/dev/build_linux.md
  docs/dev/build_mac_arm.md
  docs/dev/build_mac_intel_cpu.md
  docs/dev/build_raspbian.md
  docs/dev/build_webassembly.md
  docs/dev/build_windows.md
  docs/get_started/get_started_demos.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-raspbian.md
  docs/install_guides/installing-openvino-windows.md
  src/plugins/intel_cpu/src/docs/onednn_selective_build.md
  src/plugins/intel_gpu/docs/execution_of_inference.md
  src/plugins/intel_gpu/docs/gpu_plugin_ops_enabling.md
  tools/legacy/benchmark_app/README.md
Labels: category: GPU, category: CPU, category: docs, category: tools

#16215 DOCS shift to rst - `Dynamic Shapes` article
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
Labels: category: docs

#16211 [DOCS] Updating `Interactive Tutorials` to the newest version
  docs/nbdoc/consts.py
  docs/tutorials.md
Labels: category: docs

#16221 DOCS shift to rst - OpenVINO™ integration with TensorFlow
  docs/Documentation/openvino_ecosystem_ovtf.md
Labels: category: docs

#16224 DOCS shift to rst - `Inference Pipeline` article
  docs/OV_Runtime_UG/migration_ov_2_0/common_inference_pipeline.md
  docs/OV_Runtime_UG/migration_ov_2_0/intro.md
Labels: category: docs

#16207 [DOCS] Updating 'Prerequisites' section in 'Configurations for GNA' article
  docs/install_guides/configurations-for-intel-gna.md
Labels: category: docs

#16198 switched public Azure Linux build to clang
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution.cpp
  src/plugins/intel_gna/CMakeLists.txt
  src/plugins/intel_gna/src/frontend/quantization.hpp
  src/plugins/intel_gna/tests/functional/CMakeLists.txt
Labels: category: CPU, category: GNA, category: build, category: CI

#16053 [TF FE] Convert a model with Framework nodes
  src/frontends/tensorflow/src/decoder_argdef.cpp
  src/frontends/tensorflow/src/decoder_proto.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/src/translate_session.hpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_unsupported_op_itergetnext.py
  src/frontends/tensorflow_common/include/utils.hpp
  src/frontends/tensorflow_common/src/op/const.cpp
  src/frontends/tensorflow_common/src/op/fused_batch_norm.cpp
  tools/mo/openvino/tools/mo/moc_frontend/pipeline.py
Labels: category: MO, category: TF FE, category: TFL FE

#16217 Prohibit FP16 FP32 values for cpp benchmark_app
  samples/cpp/common/utils/src/args_helper.cpp
Labels: category: samples

#16116 [GPU] Change lws to avoid synchronization issue in nonzero_count
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/count_nonzero_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/count_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/count_nonzero_kernel_ref.h
  src/plugins/intel_gpu/tests/test_cases/non_zero_gpu_test.cpp
Labels: category: GPU

#16235 Fixed typo in core tests
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
Labels: category: IE Tests, port to 2022.3

#16082 [DOCS] 'OpenVINO Inference Request' article update
  docs/OV_Runtime_UG/ov_infer_request.md
  docs/optimization_guide/dldt_deployment_optimization_common.md
Labels: category: docs

#15692 [PYTHON] Introduce Json Statistics Report aligned with C++ version
  tools/benchmark_tool/README.md
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/statistics_report.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: category: docs, category: tools

#15660 TransposeSinking transformation: support new ops and fix performance issues
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_binary.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_concat.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_data_movement.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_fuse.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_general.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_interpolate.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_pad.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_reduction.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_split.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_unary.hpp
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_utils.hpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_binary.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_concat.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_data_movement.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_fuse.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_general.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_interpolate.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_reduction.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_split.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_unary.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_utils.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_binary_test.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_common_test.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_concat_test.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_general_test.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_pad_test.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_split_test.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_test_utils.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_test_utils.hpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_unary_test.cpp
  src/core/src/validation_util.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/tests/ie_test_utils/common_test_utils/graph_comparator.hpp
  src/tests/ie_test_utils/common_test_utils/ngraph_test_utils.cpp
  src/tests/ie_test_utils/common_test_utils/ngraph_test_utils.hpp
Labels: category: Core, category: IE Tests, category: transformations, category: TF FE

#16214 [CONFOMANCE] Add handling crashes
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: category: IE Tests

#16244 DOCS shift to rst - `Layout API Overview` article
  docs/OV_Runtime_UG/layout_overview.md
Labels: category: docs

#16242 Introduce openvino ExecutionNode to new developer API
  src/inference/dev_api/exec_graph_info.hpp
  src/inference/dev_api/openvino/runtime/exec_model_info.hpp
  src/inference/dev_api/openvino/runtime/iasync_infer_request.hpp
  src/inference/dev_api/openvino/runtime/iplugin.hpp
  src/inference/src/dev/exec_model_info.cpp
Labels: category: inference

#16114 Review pooling classes for shape inference aspects
  src/core/include/openvino/op/adaptive_max_pool.hpp
  src/core/include/openvino/op/util/max_pool_base.hpp
  src/core/shape_inference/include/adaptive_avg_pool_shape_inference.hpp
  src/core/shape_inference/include/adaptive_max_pool_shape_inference.hpp
  src/core/shape_inference/include/avg_pool_shape_inference.hpp
  src/core/shape_inference/include/dimension_util.hpp
  src/core/shape_inference/include/max_pool_shape_inference.hpp
  src/core/shape_inference/include/pooling_shape_inference_util.hpp
  src/core/src/op/adaptive_avg_pool.cpp
  src/core/src/op/adaptive_max_pool.cpp
  src/core/src/op/avg_pool.cpp
  src/core/src/op/max_pool.cpp
  src/core/src/op/util/max_pool_base.cpp
  src/core/src/pass/serialize.cpp
  src/core/tests/type_prop/adaptive_avg_pool.cpp
  src/core/tests/type_prop/adaptive_max_pool.cpp
  src/core/tests/type_prop/avg_pool.cpp
  src/core/tests/type_prop/max_pool.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/static_dimension.hpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/adaptive_avg_pool_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/adaptive_max_pool_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/avg_pool_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/max_pool_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#16241 DOCS shift to rst - `Preprocessing API - details` article
  docs/OV_Runtime_UG/preprocessing_details.md
Labels: category: docs

#16250 DOCS shift to rst - `Preprocessing` article
  docs/OV_Runtime_UG/migration_ov_2_0/preprocessing.md
Labels: category: docs
