Repository openvinotoolkit/openvino, pull requests merged in 2023-07, with the labels that each got.

#18033 Fixed SpaceToBatch and BatchToSpace for 3d case and add testcases
  src/core/src/op/space_to_batch.cpp
  src/plugins/intel_gpu/src/plugin/ops/batch_to_space.cpp
  src/plugins/intel_gpu/src/plugin/ops/space_to_batch.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  src/plugins/template/tests/functional/op_reference/batch_to_space.cpp
  src/plugins/template/tests/functional/op_reference/space_to_batch.cpp
Labels: category: Core, category: GPU, category: TEMPLATE

#18316 [DOCS] adjustments for ST and cookie policy
  docs/_static/css/custom.css
  docs/index.rst
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-brew.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-linux-header.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos-header.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/installing-openvino-raspbian-removedfromtoc.md
  docs/install_guides/installing-openvino-windows-header.md
  docs/install_guides/installing-openvino-windows.md
  docs/install_guides/installing-openvino-yocto.md
  docs/install_guides/installing-openvino-yum.md
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/footer_info.html
  docs/resources/release_notes.md
Labels: category: docs

#18315 [DOCS] adjustments for ST and cookie policy
  docs/_static/css/custom.css
  docs/index.rst
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-brew.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-linux-header.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos-header.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/installing-openvino-raspbian-removedfromtoc.md
  docs/install_guides/installing-openvino-windows-header.md
  docs/install_guides/installing-openvino-windows.md
  docs/install_guides/installing-openvino-yocto.md
  docs/install_guides/installing-openvino-yum.md
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/footer_info.html
  docs/resources/release_notes.md
Labels: category: docs

#18333 Update Selector Tool 2023.0.1 version
  docs/_static/selector-tool/assets/selector-4429452f.js
  docs/_static/selector-tool/selector-136759b.html
  docs/install_guides/installing-openvino-overview.md
Labels: category: docs

#18336 [DOCS] Update Selector Tool 2023.0.1
  docs/_static/selector-tool/assets/selector-4429452f.js
  docs/_static/selector-tool/selector-136759b.html
  docs/install_guides/installing-openvino-overview.md
Labels: category: docs

#18335 [DOCS] update for install 23.0.1
  docs/OV_Runtime_UG/Samples_Overview.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
Labels: category: docs

#18334 [DOCS] update for install 23.0.1
  docs/OV_Runtime_UG/Samples_Overview.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
Labels: category: docs

#18318 Removed exception for BytesIO objects in convert_model()
  tests/layer_tests/mo_python_api_tests/test_mo_convert_onnx.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pipeline.py
Labels: category: MO, category: tools

#18337 [DOCS] Update links to release notes
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#18338 [DOCS] Port Update links to release notes
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#18137 Optimize transpose reference implementation
  src/core/reference/CMakeLists.txt
  src/core/reference/src/runtime/opt_kernel/reshape.cpp
  src/core/tests/reshape_opt_kernel.cpp
Labels: category: Core, category: build

#18303 Fix model zoo preprocessing
  src/bindings/python/tests/test_onnx/model_zoo_preprocess.sh
  src/bindings/python/tests_compatibility/test_onnx/model_zoo_preprocess.sh
Labels: category: Python API

#18352 [DOCS] menu bug fix
  docs/index.rst
Labels: category: docs

#18353 [DOCS] menu bug fix 23.0
  docs/index.rst
Labels: category: docs

#18208 [CPU] Fixed naming in SwapConvertTranspose pass
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/swap_convert_transpose.cpp
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/swap_convert_transpose.cpp
Labels: category: CPU

#18327 Preserve tensor legacy name in preprocessing
  src/core/src/preprocess/preprocess_impls.cpp
Labels: category: Core

#17276 Combine DQ scales and multiply into DQ scales.
  src/common/low_precision_transformations/tests/markup_bias_transformation.cpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/fq_layer_dq_bias.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/markup_bias_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/markup_bias_function.cpp
Labels: bug, category: IE Tests, category: CPU, category: LP transformations

#18350 Removed compile_tool and benchmark_app_legacy from OpenVINO repo
  .ci/azure/linux_onnxruntime.yml
  CMakeLists.txt
  cmake/extra_modules.cmake
  cmake/features.cmake
  samples/cpp/benchmark_app/main.cpp
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.sh
  thirdparty/dependencies.cmake
  tools/CMakeLists.txt
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/compile_tool/CMakeLists.txt
  tools/compile_tool/main.cpp
  tools/legacy/benchmark_app/CMakeLists.txt
  tools/legacy/benchmark_app/README.md
  tools/legacy/benchmark_app/args_helper.cpp
  tools/legacy/benchmark_app/args_helper.hpp
  tools/legacy/benchmark_app/benchmark_app.hpp
  tools/legacy/benchmark_app/common.hpp
  tools/legacy/benchmark_app/console_progress.hpp
  tools/legacy/benchmark_app/csv_dumper.hpp
  tools/legacy/benchmark_app/infer_request_wrap.hpp
  tools/legacy/benchmark_app/inputs_filling.cpp
  tools/legacy/benchmark_app/inputs_filling.hpp
  tools/legacy/benchmark_app/main.cpp
  tools/legacy/benchmark_app/progress_bar.hpp
  tools/legacy/benchmark_app/slog.cpp
  tools/legacy/benchmark_app/slog.hpp
  tools/legacy/benchmark_app/statistics_report.cpp
  tools/legacy/benchmark_app/statistics_report.hpp
  tools/legacy/benchmark_app/utils.cpp
  tools/legacy/benchmark_app/utils.hpp
  tools/legacy/benchmark_app/w_dirent.h
Labels: category: build, category: samples, category: CI, category: docs, category: tools, category: dependency_changes

#18365 Added tools/ovc to PYTHONPATH for MO unit tests.
  .ci/azure/linux_debian.yml
Labels: category: CI

#18141 [PyOV] Expose api to Model class
  src/bindings/python/src/openvino/runtime/op/__init__.py
  src/bindings/python/src/openvino/runtime/opset10/__init__.py
  src/bindings/python/src/openvino/runtime/opset11/__init__.py
  src/bindings/python/src/openvino/runtime/opset6/ops.py
  src/bindings/python/src/openvino/runtime/opset7/__init__.py
  src/bindings/python/src/openvino/runtime/opset8/__init__.py
  src/bindings/python/src/openvino/runtime/opset9/__init__.py
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/src/pyopenvino/graph/ops/assign.cpp
  src/bindings/python/src/pyopenvino/graph/ops/assign.hpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_graph/test_basic.py
  src/bindings/python/tests/test_runtime/test_model.py
Labels: category: Python API

#18228 [GPU] memory reuse for dynamic models
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/graph/impls/cpu/shape_of.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/reduce_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/memory_pool.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/memory_test.cpp
Labels: category: GPU

#17995 [GPU] Update pad output shape for dynamic
  src/plugins/intel_gpu/src/graph/border.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/pad_si_test.cpp
Labels: category: GPU

#18364 [core] Update setShape TensorMemoryBlob
  src/inference/src/dev/make_tensor.cpp
  src/inference/tests/unit/ie_blob_test.cpp
Labels: category: inference

#18199 [GPU] fix uninitialized scalar variable
  src/plugins/intel_gpu/include/intel_gpu/primitives/primitive.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
Labels: category: GPU

#18301 ConvertPadToGroupConvolution support Pad12 with positive indexes
  src/common/transformations/include/transformations/op_conversions/convert_pad_to_group_conv.hpp
  src/common/transformations/src/transformations/op_conversions/convert_pad_to_group_conv.cpp
  src/common/transformations/tests/op_conversions/convert_pad_to_group_conv.cpp
Labels: category: transformations

#18367 PropagateDownDisableSensitivityForQuantized Pad12 support
  src/common/transformations/src/transformations/fp16_compression/mark_subgraphs_to_keep_in_mixed_precision.cpp
Labels: category: transformations

#18025 [Spec] ScatterElementsUpdate-12 specification
  docs/OV_Runtime_UG/Operations_specifications.md
  docs/ops/movement/ScatterElementsUpdate_12.md
  docs/ops/opset12.md
Labels: category: docs

#18368 [PyOV] Model wrappers on Python side
  src/bindings/python/src/openvino/frontend/__init__.py
  src/bindings/python/src/openvino/frontend/frontend.py
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/src/pyopenvino/graph/model.cpp
Labels: category: Python API

#18366 Added compile_tool to PATH
  scripts/setupvars/setupvars.sh
Labels: category: packaging

#18325 Fix python segment fault issue of plugin api 2.0
  src/inference/src/dev/icompiled_model.cpp
  src/inference/src/dev/isync_infer_request.cpp
Labels: category: inference

#18320 [Coverity] fix coverity block_size < 1
  src/plugins/intel_gpu/src/graph/space_to_depth.cpp
Labels: category: GPU

#18278 EliminatePad and PadFusion support Pad12 positive indexes
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/src/transformations/common_optimizations/pad_fusion.cpp
  src/common/transformations/tests/common_optimizations/pad_fusion.cpp
Labels: category: transformations

#18314 add Pad12 support to TSDataMovementForward/Backward transformations
  src/common/transformations/src/transformations/transpose_sinking/ts_data_movement.cpp
  src/common/transformations/tests/transpose_sinking/ts_common_test.cpp
Labels: category: transformations

#18383 fix ov_transformation_tests duplicates
  src/common/transformations/tests/common_optimizations/pad_fusion.cpp
  src/common/transformations/tests/op_conversions/convert_pad_to_group_conv.cpp
Labels: category: transformations

#18100 [CPU] ONNX Unique tests failing on CPU
  src/bindings/python/tests/__init__.py
  src/bindings/python/tests/test_onnx/test_backend.py
  src/plugins/intel_cpu/src/nodes/common/cpu_memcpy.h
  src/plugins/intel_cpu/src/nodes/unique.cpp
  src/plugins/intel_cpu/src/nodes/unique.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/unique.cpp
Labels: category: CPU, category: Python API

#18044 [GPU] Selected format adjusts to the required input rank at get_preferred_format
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/unit/passes/handle_reshape.cpp
  src/plugins/intel_gpu/tests/unit/passes/reorder_inputs_test.cpp
Labels: category: GPU

#18340 [GPU] Some fixes to enable dynamic validation model
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/unit/passes/add_required_reorders_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/remove_redundant_reorders_tests.cpp
Labels: category: GPU

#18023 [Snippets] Fixed insertion position iterators
  src/common/snippets/include/snippets/lowered/linear_ir.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_buffers.hpp
  src/common/snippets/src/lowered/linear_ir.cpp
  src/common/snippets/src/lowered/loop_manager.cpp
  src/common/snippets/src/lowered/pass/insert_buffers.cpp
  src/common/snippets/src/lowered/pass/insert_load_store.cpp
  src/common/snippets/src/lowered/pass/insert_tail_loop.cpp
  src/common/snippets/src/lowered/pass/load_movebroadcast_to_broadcastload.cpp
Labels: category: CPU

#18322 [Coverity] fix _type declaration
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#18384 [DOCS] Fix references in installation guide for 23.0
  docs/OV_Runtime_UG/supported_plugins/GNA.md
  docs/install_guides/installing-openvino-overview.md
Labels: category: docs

#18382 [DOCS] Fix references in installation guide
  docs/OV_Runtime_UG/supported_plugins/GNA.md
  docs/install_guides/installing-openvino-overview.md
Labels: category: docs

#18374 [DOCS] Add global footer
  docs/_static/css/custom.css
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/footer.html
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/footer_info.html
Labels: category: docs

#18375 [DOCS] Add global footer
  docs/_static/css/custom.css
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/footer.html
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/footer_info.html
Labels: category: docs

#18092 Decompose/flatten tuple inputs
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/transforms/prim_list_tuple_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_tuple_unpack_parameter_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_tuple_unpack_parameter_replacer.hpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_tuple_construct.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: MO, category: tools, category: PyTorch FE

#18356 [GPU] Optimize conv_b_fs_zyx_fsv16_imad
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_zyx_fsv16_imad.cpp
Labels: category: GPU

#18189 Introduce ov element type visitor
  src/core/shape_inference/include/element_visitor.hpp
  src/core/shape_inference/include/utils.hpp
  src/core/src/op/round.cpp
  src/core/src/op/tan.cpp
  src/core/src/op/tanh.cpp
  src/core/src/op/unique.cpp
  src/core/src/op/unsqueeze.cpp
  src/core/tests/element_visitor_test.cpp
Labels: category: Core

#18146 Deprecate legacy C API
  src/bindings/c/include/c_api/ie_c_api.h
  src/bindings/c/src/CMakeLists.txt
  src/bindings/c/src/ie_c_api.cpp
  src/bindings/c/tests/ie_c_api_test.cpp
Labels: category: build, category: C API

#18406 [PyOV] Limit `numpy` version to 1.23 for MO mxnet
  tools/mo/requirements_mxnet.txt
Labels: category: MO, category: dependency_changes

#17973 [CPU] [ARM] Enable MVN SLT tests on ARM
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_mvn.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/mvn.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/mvn.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/common/mvn.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/x64/mvn.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/mvn.cpp
Labels: category: CPU, platform: arm

#18402 [GPU] Fix misprint in auto plugin
  src/plugins/auto/src/infer_request.cpp
Labels: category: AUTO

#17996 [GPU] Support FC 6d output by compressing as 4d in kernel
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#18417 fix typo in primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#18372 [GPU] updates to use a graph local net_id for model caching
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/serialization/binary_buffer.hpp
  src/plugins/intel_gpu/src/graph/data.cpp
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/proposal_cpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/streams_test.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.h
Labels: category: GPU

#18415 [GPU] updated not to propagate events when in-order queue is used
  src/plugins/intel_gpu/src/graph/impls/cpu/shape_of.cpp
Labels: category: GPU

#18309 [Coverity] fix type x_channel_idx
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
Labels: category: GPU

#18379 Resolve tensor sharing issue when there are same name output port name
  src/core/include/openvino/core/node_output.hpp
  src/core/src/node_output.cpp
  src/inference/src/dev/icompiled_model.cpp
Labels: category: inference, category: Core, category: CPP API

#18164 enable numa_node_id and socket_id in streams_info_table
  src/inference/dev_api/threading/ie_cpu_streams_info.hpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.hpp
  src/plugins/intel_cpu/tests/unit/streams_info/enable_ht_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/scheduling_core_type_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_e2e_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
Labels: category: inference, category: CPU

#18418 Fixed RPATH issue for brew
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
Labels: bug, category: build, category: packaging

#18414 [CPU] Fix multi-axis reduce transformation
  src/plugins/intel_cpu/tests/unit/ngraph_transformations/arm/convert_reduce_multi_axis.cpp
Labels: category: CPU, platform: arm

#18345 [GPU] Fix setting impl type / format issue on dGPU
  src/plugins/intel_gpu/src/graph/impls/cpu/concat.cpp
  src/plugins/intel_gpu/src/graph/include/roi_align_inst.h
  src/plugins/intel_gpu/tests/unit/passes/mark_shape_of_subgraphs_test.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/roi_align_si_test.cpp
Labels: category: GPU

#18176 [PT FE] Add translation for aten::fake_quantize_per_tensor_affine and aten::fake_quantize_per_channel_affine
  src/frontends/pytorch/src/op/fake_quantize.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_fake_quantize.py
Labels: category: PyTorch FE

#18188 [GPU] Enable shape agnostic quantize_scale_shift kernel
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/quantize_gpu_scale_shift_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/quantize/quantize_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/quantize/quantize_kernel_scale_shift_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/quantize_gpu_test.cpp
Labels: category: GPU

#18344 [Pad-12] Negative pads_begin/end tests for Pad reference implementation
  src/plugins/template/tests/functional/op_reference/pad.cpp
Labels: category: TEMPLATE

#18305 [MO] fix np.copy error for older numpy versions
  tools/mo/openvino/tools/mo/back/preprocessing.py
Labels: bug

#18387 [DOCS] Tab reorder for master
  docs/Extensibility_UG/GPU_Extensibility.md
  docs/Extensibility_UG/Intro.md
  docs/Extensibility_UG/frontend_extensions.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/Additional_Optimizations.md
  docs/MO_DG/prepare_model/FP16_Compression.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/Cutting_Model.md
  docs/OV_Runtime_UG/AutoPlugin_Debugging.md
  docs/OV_Runtime_UG/Model_caching_overview.md
  docs/OV_Runtime_UG/ShapeInference.md
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/automatic_batching.md
  docs/OV_Runtime_UG/deployment/deployment-manager-tool.md
  docs/OV_Runtime_UG/deployment/local-distribution.md
  docs/OV_Runtime_UG/hetero_execution.md
  docs/OV_Runtime_UG/integrate_with_your_application.md
  docs/OV_Runtime_UG/layout_overview.md
  docs/OV_Runtime_UG/migration_ov_2_0/common_inference_pipeline.md
  docs/OV_Runtime_UG/migration_ov_2_0/configure_devices.md
  docs/OV_Runtime_UG/migration_ov_2_0/deployment_migration.md
  docs/OV_Runtime_UG/migration_ov_2_0/graph_construction.md
  docs/OV_Runtime_UG/migration_ov_2_0/preprocessing.md
  docs/OV_Runtime_UG/model_representation.md
  docs/OV_Runtime_UG/multi_device.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/ov_infer_request.md
  docs/OV_Runtime_UG/performance_hints.md
  docs/OV_Runtime_UG/precision_control.md
  docs/OV_Runtime_UG/preprocessing_details.md
  docs/OV_Runtime_UG/preprocessing_overview.md
  docs/OV_Runtime_UG/preprocessing_usecase_save.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/OV_Runtime_UG/supported_plugins/GNA.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU_RemoteTensor_API.md
  docs/OV_Runtime_UG/supported_plugins/config_properties.md
  docs/get_started/get_started_demos.md
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-brew.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/installing-openvino-raspbian-removedfromtoc.md
  docs/install_guides/installing-openvino-yum.md
  docs/install_guides/troubleshooting-steps.md
  docs/install_guides/uninstalling-openvino.md
  docs/notebooks-installation.md
  docs/optimization_guide/dldt_deployment_optimization_tput.md
  docs/optimization_guide/nncf/filter_pruning.md
  docs/optimization_guide/nncf/ptq/basic_quantization_flow.md
  docs/optimization_guide/nncf/ptq/quantization_w_accuracy_control.md
  docs/optimization_guide/nncf/qat.md
  docs/resources/supported_operations_framework_frontend.md
Labels: category: docs

#18389 [DOCS] Tab reorder for 23.0
  docs/Extensibility_UG/GPU_Extensibility.md
  docs/Extensibility_UG/Intro.md
  docs/Extensibility_UG/frontend_extensions.md
  docs/MO_DG/Deep_Learning_Model_Optimizer_DevGuide.md
  docs/MO_DG/prepare_model/Additional_Optimizations.md
  docs/MO_DG/prepare_model/FP16_Compression.md
  docs/MO_DG/prepare_model/convert_model/Converting_Model.md
  docs/MO_DG/prepare_model/convert_model/Cutting_Model.md
  docs/OV_Runtime_UG/AutoPlugin_Debugging.md
  docs/OV_Runtime_UG/Model_caching_overview.md
  docs/OV_Runtime_UG/ShapeInference.md
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/OV_Runtime_UG/automatic_batching.md
  docs/OV_Runtime_UG/deployment/deployment-manager-tool.md
  docs/OV_Runtime_UG/deployment/local-distribution.md
  docs/OV_Runtime_UG/hetero_execution.md
  docs/OV_Runtime_UG/integrate_with_your_application.md
  docs/OV_Runtime_UG/layout_overview.md
  docs/OV_Runtime_UG/migration_ov_2_0/common_inference_pipeline.md
  docs/OV_Runtime_UG/migration_ov_2_0/configure_devices.md
  docs/OV_Runtime_UG/migration_ov_2_0/deployment_migration.md
  docs/OV_Runtime_UG/migration_ov_2_0/graph_construction.md
  docs/OV_Runtime_UG/migration_ov_2_0/preprocessing.md
  docs/OV_Runtime_UG/model_representation.md
  docs/OV_Runtime_UG/multi_device.md
  docs/OV_Runtime_UG/ov_dynamic_shapes.md
  docs/OV_Runtime_UG/ov_infer_request.md
  docs/OV_Runtime_UG/performance_hints.md
  docs/OV_Runtime_UG/precision_control.md
  docs/OV_Runtime_UG/preprocessing_details.md
  docs/OV_Runtime_UG/preprocessing_overview.md
  docs/OV_Runtime_UG/preprocessing_usecase_save.md
  docs/OV_Runtime_UG/supported_plugins/CPU.md
  docs/OV_Runtime_UG/supported_plugins/GNA.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
  docs/OV_Runtime_UG/supported_plugins/GPU_RemoteTensor_API.md
  docs/OV_Runtime_UG/supported_plugins/config_properties.md
  docs/get_started/get_started_demos.md
  docs/install_guides/configurations-for-intel-gpu.md
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-brew.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/installing-openvino-raspbian-removedfromtoc.md
  docs/install_guides/installing-openvino-yum.md
  docs/install_guides/troubleshooting-steps.md
  docs/install_guides/uninstalling-openvino.md
  docs/notebooks-installation.md
  docs/optimization_guide/dldt_deployment_optimization_tput.md
  docs/optimization_guide/nncf/filter_pruning.md
  docs/optimization_guide/nncf/ptq/basic_quantization_flow.md
  docs/optimization_guide/nncf/ptq/quantization_w_accuracy_control.md
  docs/optimization_guide/nncf/qat.md
  docs/resources/supported_operations_framework_frontend.md
Labels: category: docs

#18433 Fixed post commit on MacOS after proxy plugin
  .ci/azure/mac.yml
Labels: category: CI

#17823 [CPU] Fix of coverity issues
  src/plugins/intel_cpu/src/nodes/bin_conv.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/registers_pool.hpp
  src/plugins/intel_cpu/src/nodes/mvn.cpp
Labels: category: CPU

#18281 [GNA] Fixed concat axis checks
  src/plugins/intel_gna/src/backend/gna_limitations.cpp
  src/plugins/intel_gna/src/backend/gna_limitations.hpp
  src/plugins/intel_gna/src/common/graph_utils.hpp
  src/plugins/intel_gna/tests/functional/pass_tests/concat_restrictions.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/permute_concat_concat_permute.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/permute_concat_permute.cpp
Labels: category: GNA

#18369 Try to fix error: e is outside the range
  src/core/include/openvino/op/constant.hpp
  src/core/tests/type_prop/range.cpp
Labels: category: Core, category: CPP API

#18302 [Snippets] BrgemmEmitter: blocking by K & N dimensions
  src/common/snippets/src/lowered/pass/identify_buffers.cpp
  src/common/snippets/src/lowered/pass/insert_buffers.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_snippets_emitters.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_copy_b.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_cpu.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/brgemm_to_brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_blocking.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/set_brgemm_cpu_blocking_params.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/set_brgemm_cpu_blocking_params.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
Labels: category: CPU

#18319 add Pad12 support to ReverseShapeAndTypeInfer
  src/common/transformations/src/transformations/common_optimizations/reverse_shape_and_type_infer.cpp
  src/common/transformations/tests/common_optimizations/reverse_shape_and_type_infer.cpp
Labels: category: transformations

#18343 [Ref_Impl] Add GroupNormalization-12 reference implementation
  src/core/reference/include/ngraph/runtime/reference/group_normalization.hpp
  src/core/src/coordinate.cpp
  src/plugins/template/backend/ops/evaluate_node.hpp
  src/plugins/template/backend/ops/group_normalization.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/opset_int_tbl.hpp
  src/plugins/template/tests/functional/op_reference/group_normalization.cpp
Labels: category: Core, category: TEMPLATE

#18424 [GPU] Apply ngraph shape infer for ROIAlign
  src/plugins/intel_gpu/src/graph/roi_align.cpp
Labels: category: GPU

#18422 [GPU] Update DepthToSpace to use nGraph shape inference
  src/plugins/intel_gpu/src/graph/depth_to_space.cpp
  src/plugins/intel_gpu/src/graph/include/depth_to_space_inst.h
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/deth_to_space.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/depth_to_space_si_test.cpp
Labels: category: GPU

#18357 [tests] fix GitHub Actions failing tests
  src/bindings/python/tests_compatibility/test_ngraph/test_reduction.py
  src/bindings/python/tests_compatibility/test_ngraph/test_roll.py
  src/bindings/python/tests_compatibility/test_ngraph/test_sequence_processing.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_tf.py
Labels: category: Python API

#18312 [MO] add support for scalar shapes into cli_parser.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
  tools/ovc/openvino/tools/ovc/cli_parser.py
  tools/ovc/unit_tests/ovc/utils/cli_parser_test.py
Labels: bug, category: MO, category: tools

#18420 [Coverity] Fix coverity
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/detection_output.cpp
  src/plugins/intel_gpu/src/graph/include/convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/loop_inst.h
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eye/eye_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/multiclass_nms/multiclass_nms_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/prior_box/prior_box_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/strided_slice/strided_slice_kernel_ref.h
Labels: category: GPU

#18386 [PyOV] Add `get_compiled_model` binding for `InferRequest`
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/core/infer_request.cpp
  src/bindings/python/tests/test_runtime/test_infer_request.py
Labels: category: Python API

#18130 Don't eliminate Transpose when 0 size of order_value
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/transpose.cpp
Labels: category: CPU

#18430 Remove vector of so objects from Tensor, Any, VariableState and RemoteContext
  src/core/include/openvino/core/any.hpp
  src/core/include/openvino/runtime/tensor.hpp
  src/core/src/any.cpp
  src/core/src/runtime/ov_tensor.cpp
  src/inference/include/openvino/runtime/remote_context.hpp
  src/inference/include/openvino/runtime/variable_state.hpp
  src/inference/src/cpp/ie_remote_context.cpp
  src/inference/src/cpp/ie_variable_state.cpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/infer_request.cpp
Labels: category: inference, category: Core, category: CPP API

#18339 Move common test utils
  .ci/azure/linux.yml
  .ci/azure/windows.yml
  src/bindings/c/tests/CMakeLists.txt
  src/bindings/python/src/pyopenvino/test_utils/CMakeLists.txt
  src/common/low_precision_transformations/tests/CMakeLists.txt
  src/common/snippets/tests/CMakeLists.txt
  src/core/tests/CMakeLists.txt
  src/frontends/ir/tests/CMakeLists.txt
  src/frontends/tests/frontend/shared/CMakeLists.txt
  src/inference/tests/functional/CMakeLists.txt
  src/inference/tests/functional/caching_test.cpp
  src/plugins/intel_cpu/tests/unit/nodes/reorder_node_test.cpp
  src/plugins/intel_gna/tests/deprecated/helpers/CMakeLists.txt
  src/plugins/intel_gna/tests/unit/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/tests/engines_util/CMakeLists.txt
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/base_matcher.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/ops_cache.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/matchers/convolutions_matcher.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/matchers/generic_single_op.cpp
  src/tests/ie_test_utils/CMakeLists.txt
  src/tests/ie_test_utils/common_test_utils/xml_net_builder/xml_filler.hpp
  src/tests/ie_test_utils/functional_test_utils/CMakeLists.txt
  src/tests/ie_test_utils/unit_test_utils/CMakeLists.txt
  src/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/impl/mock_inference_plugin_internal.hpp
  src/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_iinference_plugin.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/CMakeLists.txt
  src/tests/test_utils/CMakeLists.txt
  src/tests/test_utils/common_test_utils/CMakeLists.txt
  src/tests/test_utils/common_test_utils/include/common_test_utils/common_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/data_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/file_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/graph_comparator.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/ngraph_test_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/ov_tensor_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/precomp.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_assertions.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_common.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_constants.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/unicode_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/w_dirent.h
  src/tests/test_utils/common_test_utils/src/common_utils.cpp
  src/tests/test_utils/common_test_utils/src/data_utils.cpp
  src/tests/test_utils/common_test_utils/src/file_utils.cpp
  src/tests/test_utils/common_test_utils/src/graph_comparator.cpp
  src/tests/test_utils/common_test_utils/src/ngraph_test_utils.cpp
  src/tests/test_utils/common_test_utils/src/ov_tensor_utils.cpp
  src/tests/test_utils/common_test_utils/src/test_common.cpp
  src/tests/test_utils/common_test_utils/src/test_constants.cpp
  src/tests/test_utils/common_test_utils/src/unicode_utils.cpp
  src/tests/test_utils/common_test_utils/tests/CMakeLists.txt
  src/tests/test_utils/common_test_utils/tests/graph_comparator_tests.cpp
Labels: category: inference, category: Core, category: IE Tests, category: CPU, category: GNA, category: build, category: Python API, category: C API, category: LP transformations, category: IR FE, category: CI

#18456 Temporary block nvidia plugin to enable CPack target first
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
Labels: category: build, category: packaging

#18313 Optimization of ScatterElementsUpdate reference implementation
  src/core/reference/include/ngraph/runtime/reference/scatter_elements_update.hpp
Labels: category: Core

#18455 [GPU] Fix DG2 units tests with null users
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#18439 [DOCS] Basic quantization flow additions
  docs/optimization_guide/nncf/ptq/basic_quantization_flow.md
Labels: category: docs

#18442 Fixed build without proxy plugin
  src/inference/src/dev/core_impl.cpp
Labels: category: inference

#18363 Pruning add Pad12 support
  src/common/offline_transformations/src/pruning/propagate_masks.cpp
  src/common/transformations/tests/offline_transformations/pruning_test.cpp
Labels: category: transformations

#18448 [GPU] Fix kernel selecting issue on dynamic model with static input shape
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/unit/passes/reorder_inputs_test.cpp
Labels: category: GPU

#18193 [IE TESTS][CONFORMANCE] Change data_generation initialization to avoid incorrect value
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/utils/ranges.hpp
  src/tests/functional/shared_test_classes/src/base/utils/generate_inputs.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/data_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/ov_tensor_utils.hpp
  src/tests/test_utils/common_test_utils/src/ov_tensor_utils.cpp
Labels: category: IE Tests

#18355 [CI] Introduce Linux pipeline in GitHub Actions
  .github/workflows/linux.yml
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
  tests/layer_tests/tensorflow_tests/test_tf_LRN.py
  tests/layer_tests/tensorflow_tests/test_tf_SplitV.py
  tests/samples_tests/smoke_tests/common/samples_common_test_class.py
  tools/mo/unit_tests/mo/frontend_ngraph_test.py
  tools/mo/unit_tests/mo/utils/simple_proto_parser_test.py
  tools/ovc/unit_tests/ovc/utils/cli_parser_test.py
Labels: category: MO, category: CI, category: tools, category: TF FE, github_actions

#18346 ReverseInputChannelsFusion add Pad12 support
  src/common/transformations/src/transformations/common_optimizations/ric_fusion.cpp
  src/common/transformations/tests/common_optimizations/preprocessing_fusion_tests.cpp
Labels: category: transformations

#18009 [Shape Infer] RNN/GRU/LSTM Cell & Sequence - common shape infer and review
  src/common/transformations/include/ov_ops/augru_sequence.hpp
  src/core/include/openvino/op/gru_cell.hpp
  src/core/include/openvino/op/gru_sequence.hpp
  src/core/include/openvino/op/lstm_sequence.hpp
  src/core/include/openvino/op/rnn_sequence.hpp
  src/core/include/openvino/op/util/rnn_cell_base.hpp
  src/core/shape_inference/include/augru_cell_shape_inference.hpp
  src/core/shape_inference/include/augru_sequence_shape_inference.hpp
  src/core/shape_inference/include/gru_cell_shape_inference.hpp
  src/core/shape_inference/include/gru_sequence_shape_inference.hpp
  src/core/shape_inference/include/lstm_cell_shape_inference.hpp
  src/core/shape_inference/include/lstm_sequence_shape_inference.hpp
  src/core/shape_inference/include/rnn_base_shape_inference.hpp
  src/core/shape_inference/include/rnn_cell_shape_inference.hpp
  src/core/shape_inference/include/rnn_sequence_shape_inference.hpp
  src/core/src/op/lstm_cell.cpp
  src/core/src/op/lstm_sequence.cpp
  src/core/src/op/rnn_cell.cpp
  src/core/src/op/rnn_sequence.cpp
  src/core/tests/type_prop/gru_cell.cpp
  src/core/tests/type_prop/lstm_cell.cpp
  src/core/tests/type_prop/lstm_sequence.cpp
  src/core/tests/type_prop/rnn_cell.cpp
  src/core/tests/type_prop/rnn_cell_base.cpp
  src/core/tests/type_prop/rnn_seq_base.cpp
  src/core/tests/type_prop/rnn_sequence.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/gru_cell_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/gru_cell_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/gru_sequence_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/lstm_cell_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/lstm_seq_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/rnn_cell_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/rnn_seq_shape_inference_test.cpp
  src/tests/functional/plugin/shared/src/single_layer_tests/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: transformations, category: CPP API

#18341 [PT FE] Add aten::scatter and inplace for aten::sub translation
  src/frontends/pytorch/src/op/scatter.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_scatter.py
  tests/layer_tests/pytorch_tests/test_sub.py
Labels: category: PyTorch FE

#18183 Add explicit converts for Parameter and Result in ConvertPrecision tr…
  src/common/transformations/include/transformations/convert_precision.hpp
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/tests/utils/convert_precision.cpp
Labels: category: transformations

#18008 [GNA] Fix for concat requantization problem
  src/plugins/intel_gna/src/common/graph_utils.hpp
  src/plugins/intel_gna/src/gna_transformations_pipeline.cpp
  src/plugins/intel_gna/src/transformations/insert_copy_layer.cpp
  src/plugins/intel_gna/src/transformations/insert_identity_layer.cpp
  src/plugins/intel_gna/src/transformations/insert_identity_layer.hpp
  src/plugins/intel_gna/tests/unit/transformations/gna_insert_identity_layer.cpp
Labels: category: GNA

#16941 [CPU] Leftovers for Extension convert I64/U64 to I32.
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/insert_convert_after_extension.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/insert_convert_after_extension.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/ref_convert_i64_i32.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/custom_op_insert_convert_i64.cpp
Labels: category: CPU

#18275 [PyOV] Memory flow control with share_inputs and share_outputs
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/common.hpp
  src/bindings/python/src/pyopenvino/core/infer_request.cpp
  src/bindings/python/src/pyopenvino/core/tensor.cpp
  src/bindings/python/tests/test_runtime/test_infer_request.py
Labels: category: Python API

#18480 [CI] [GHA] Add missing stages (Conversion UT, Proxy Plugin Tests) and fix executable name for Common Utils Tests
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#18488 Fix for openvino-lin-debian build
  src/core/include/ngraph/graph_util.hpp
Labels: category: Core, category: CPP API

#18484 Implement ov::IInferRequestInternalWrapper::GetPreProcess
  src/inference/src/dev/converter_utils.cpp
Labels: category: inference

#18447 [GPU] Disable redundant reset for internal buffer
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/memory_realloc_test.cpp
Labels: category: GPU

#18486 [GPU] Set default format only for the dynamic model with static input…
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#18493 [Coverity] Replace find to count
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: GPU

#11456 [CPU] Fix performance issue for some cases of Reduce node
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/src/nodes/reduce.h
Labels: category: CPU

#18431 [DOCS] minor fixes
  docs/OV_Runtime_UG/ov_infer_request.md
  docs/OV_Runtime_UG/supported_plugins/GNA.md
Labels: category: docs

#17820 [GPU] Introduce ov::config_device_id internal property to the new API
  src/inference/dev_api/openvino/runtime/internal_properties.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/ie_core.cpp
  src/inference/tests/functional/caching_test.cpp
  src/inference/tests/functional/get_supported_property_test.cpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto_batch/src/plugin.cpp
  src/plugins/hetero/plugin.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/behavior/ov_plugin/properties.cpp
  src/plugins/intel_gna/src/gna_plugin_config.cpp
  src/plugins/intel_gna/src/gna_plugin_config.hpp
  src/plugins/intel_gna/src/gna_plugin_query_api.cpp
  src/plugins/intel_gna/tests/unit/gna_executable_network_metrics_test.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/plugin.hpp
  src/plugins/intel_gpu/src/plugin/legacy_api_helper.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/proxy/src/plugin.cpp
  src/plugins/proxy/tests/properties_tests.cpp
  src/plugins/proxy/tests/proxy_tests.cpp
  src/plugins/template/src/config.cpp
  src/plugins/template/src/plugin.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/properties_tests.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/caching_tests.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Labels: category: inference, category: IE Tests, category: GPU, category: CPU, category: GNA, category: HETERO, category: TEMPLATE, category: AUTO, category: CPP API, category: AUTO BATCH

#18507 [DOCS] GNA disclaimer port
  docs/OV_Runtime_UG/ov_infer_request.md
  docs/OV_Runtime_UG/supported_plugins/GNA.md
Labels: category: docs

#18506 [DOCS] Add newsletter popup
  docs/_static/css/custom.css
  docs/_static/html/newsletter.html
  docs/_static/js/newsletter.js
  docs/conf.py
Labels: category: docs

#18065 [GNA] Pre/post-processing optimizations using AVX2
  src/plugins/intel_gna/CMakeLists.txt
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/src/gna_plugin.hpp
  src/plugins/intel_gna/src/memory/gna_memory_state.cpp
  src/plugins/intel_gna/src/pre_post_process/converter_factory.cpp
  src/plugins/intel_gna/src/pre_post_process/converter_factory.hpp
  src/plugins/intel_gna/src/pre_post_process/data_conversion_helpers.cpp
  src/plugins/intel_gna/src/pre_post_process/data_conversion_helpers.hpp
  src/plugins/intel_gna/src/pre_post_process/hw_accelerated_converter.hpp
  src/plugins/intel_gna/src/pre_post_process/hw_accelerated_converter_avx2.cpp
  src/plugins/intel_gna/src/pre_post_process/hw_accelerated_converter_avx2.hpp
  src/plugins/intel_gna/src/pre_post_process/input_output_data_handler.cpp
  src/plugins/intel_gna/src/pre_post_process/input_output_data_handler.hpp
  src/plugins/intel_gna/src/pre_post_process/preprocessing.cpp
  src/plugins/intel_gna/src/pre_post_process/preprocessing.hpp
  src/plugins/intel_gna/tests/unit/gna_input_preproc_test.cpp
  src/plugins/intel_gna/tests/unit/pre_post_processing/converter_factory_test.cpp
  src/plugins/intel_gna/tests/unit/pre_post_processing/gna_input_preproc_test.cpp
  src/plugins/intel_gna/tests/unit/pre_post_processing/gna_output_postproc_test.cpp
Labels: category: GNA, category: build

#17650 enable 1-D axis in cumsum
  src/frontends/onnx/frontend/src/op/cum_sum.cpp
  src/frontends/onnx/tests/models/cum_sum_2d_axis_input_1d.prototxt
  src/frontends/onnx/tests/models/cum_sum_2d_dynamic_axis_input_1d.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Labels: category: ONNX FE

#18407 [CPU] Support Pad-12.
  src/plugins/intel_cpu/src/nodes/pad.cpp
  src/plugins/intel_cpu/src/nodes/pad.h
  src/plugins/intel_cpu/tests/functional/single_layer_tests/pad.cpp
  src/tests/functional/shared_test_classes/src/base/utils/compare_results.cpp
Labels: category: IE Tests, category: CPU

#17219 [CPU][NGraph]Enable node scatter_nd_update support negative indices.
  src/core/reference/include/ngraph/runtime/reference/scatter_nd_update.hpp
  src/plugins/intel_cpu/src/nodes/scatter_update.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/scatter_ND_update.cpp
Labels: category: Core, category: CPU

#18479 Fixed cases if cast data from Tensor to compatible type
  src/core/tests/ov_tensor_test.cpp
  src/inference/src/dev/make_tensor.cpp
Labels: category: inference, category: Core

#18311 [AUTO] AUTO can't fall back if target device throws the exception before compiling model via AUTO
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/tests/unit/get_device_list.cpp
  src/plugins/auto/tests/unit/parse_meta_device_test.cpp
Labels: category: AUTO

#18502 [PyOV] py wrappers for clone/deepcopy model
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/openvino/runtime/utils/__init__.py
  src/bindings/python/src/openvino/runtime/utils/util.py
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/tests/test_graph/test_basic.py
Labels: bug, category: Python API

#18500 [GPU] Update ROIPooling to use nGraph shape inference
  src/plugins/intel_gpu/src/graph/include/roi_pooling_inst.h
  src/plugins/intel_gpu/src/graph/roi_pooling.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/roi_pooling.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/roi_pooling_si_test.cpp
Labels: category: GPU

#18181 [GPU] Memory preallocation optimization
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/internal_properties.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/shape_predictor.hpp
  src/plugins/intel_gpu/src/graph/impls/cpu/activation.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/broadcast.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/concat.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/range.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/reorder.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/scatter_update.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/tile.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/src/runtime/shape_predictor.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/shape_predictor_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU

#18163 [GPU] Optimize out Reshape and Reorder for outer axis padding
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/impls/onednn/reorder_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/src/graph/include/reshape_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/plugins/intel_gpu/tests/unit/passes/add_required_reorders_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Labels: category: GPU

#18453 [ONNX][OV Opset12] Update ONNX FE to use ov::opset12 as default
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/default_opset.hpp
  src/frontends/onnx/frontend/src/op/com.microsoft/embed_layer_normalization.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/skip_layer_normalization.cpp
  src/frontends/onnx/frontend/src/op/dropout.cpp
  src/frontends/onnx/frontend/src/op/gru.cpp
  src/frontends/onnx/frontend/src/op/instance_norm.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/normalize.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/prior_box.cpp
  src/frontends/onnx/frontend/src/op/pad.cpp
  src/frontends/onnx/frontend/src/op/stft.cpp
  src/frontends/onnx/frontend/src/utils/recurrent.cpp
Labels: category: ONNX FE, Feature Freeze

#18411 [core]Trim `__FILE__` macro by compiler if supported
  cmake/developer_package/compile_flags/os_flags.cmake
  src/CMakeLists.txt
  src/common/util/include/openvino/util/const_string.hpp
  src/common/util/include/openvino/util/file_util.hpp
  src/common/util/include/openvino/util/log.hpp
  src/common/util/src/file_util.cpp
  src/common/util/src/log.cpp
  src/core/include/ngraph/log.hpp
  src/core/src/except.cpp
  src/core/src/log.cpp
  src/core/tests/check.cpp
  src/core/tests/file_util.cpp
Labels: category: Core, category: build, category: CPP API

#18475 rework remote context which causes auto tests sporadic failure on CI
  src/plugins/auto/src/auto_compiled_model.cpp
  src/plugins/auto/src/auto_compiled_model.hpp
  src/plugins/auto/src/compiled_model.hpp
  src/plugins/auto/src/cumulative_compiled_model.cpp
  src/plugins/auto/src/cumulative_compiled_model.hpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/src/plugin.hpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/multi/multi_remote_blob_tests.hpp
Labels: category: IE Tests, category: GPU, category: AUTO

#18487 [CI] Introduce Windows pipeline in GitHub Actions
  .github/workflows/windows.yml
  tests/layer_tests/pytorch_tests/test_if.py
  tests/layer_tests/pytorch_tests/test_topk.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_upsampling2d.py
  tools/mo/unit_tests/mo/frontend_ngraph_test.py
Labels: category: MO, category: CI, github_actions, category: PyTorch FE

#18530 Fix step numbers in nv12 classification sample
  samples/cpp/hello_nv12_input_classification/main.cpp
Labels: category: samples

#18462 [ONNX] Use ov::v12::ScatterElementsUpdate in ONNX FE ScatterElements (enable reduction)
  src/bindings/python/tests/test_onnx/test_backend.py
  src/bindings/python/tests_compatibility/test_onnx/test_backend.py
  src/core/reference/include/ngraph/runtime/reference/scatter_elements_update.hpp
  src/core/tests/eval.cpp
  src/frontends/onnx/frontend/src/op/scatter_elements.cpp
  src/frontends/onnx/tests/models/scatter_elements_add_opset18.prototxt
  src/frontends/onnx/tests/models/scatter_elements_default_opset18.prototxt
  src/frontends/onnx/tests/models/scatter_elements_max_opset18.prototxt
  src/frontends/onnx/tests/models/scatter_elements_min_opset18.prototxt
  src/frontends/onnx/tests/models/scatter_elements_mul_opset18.prototxt
  src/frontends/onnx/tests/models/scatter_elements_none_opset18.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/runtime/ie/unit_test.manifest
Labels: category: Core, category: Python API, category: ONNX FE, Feature Freeze

#17323 [ARM CPU] Add ACL executor for Convert
  src/plugins/intel_cpu/src/nodes/convert.cpp
  src/plugins/intel_cpu/src/nodes/convert.h
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_convert.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_convert.hpp
  src/plugins/intel_cpu/src/nodes/executors/common/ref_convert.cpp
  src/plugins/intel_cpu/src/nodes/executors/common/ref_convert.hpp
  src/plugins/intel_cpu/src/nodes/executors/convert.cpp
  src/plugins/intel_cpu/src/nodes/executors/convert.hpp
  src/plugins/intel_cpu/src/nodes/executors/convert_list.cpp
  src/plugins/intel_cpu/src/nodes/executors/convert_list.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/conversion.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/conversion.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/conversion.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/common/conversion.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/x64/conversion.cpp
Labels: category: CPU, platform: arm

#18529 [DOCS] Update newsletter
  docs/_static/js/newsletter.js
Labels: category: docs

#18144 [GPU] set fixed random seed
  src/plugins/intel_gpu/tests/CMakeLists.txt
  src/plugins/intel_gpu/tests/common/CMakeLists.txt
  src/plugins/intel_gpu/tests/common/random_generator.hpp
  src/plugins/intel_gpu/tests/functional/CMakeLists.txt
  src/plugins/intel_gpu/tests/unit/CMakeLists.txt
  src/plugins/intel_gpu/tests/unit/fusions/fusion_test_common.hpp
  src/plugins/intel_gpu/tests/unit/fusions/scatter_nd_update_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/graph_manipulation_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/handle_reshape.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_padding_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_primitive_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/remove_redundant_reorders_tests.cpp
  src/plugins/intel_gpu/tests/unit/passes/reorder_inputs_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/activation_simple_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/adaptive_avg_pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/adaptive_max_pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/border_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convert_color_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/crop_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/cum_sum_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/deconvolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/depth_concatenate_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/depth_to_space_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/empty_tensor_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gather_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/lstm_dynamic_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/lstm_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/memory_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/mvn_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/non_zero_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/one_hot_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/permute_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/quantize_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reduce_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/region_yolo_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/resample_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/scatter_nd_update_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/split_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/network_test.h
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.h
Labels: category: GPU, category: build

#18539 Revert "Fixed cases if cast data from Tensor to compatible type"
  src/core/tests/ov_tensor_test.cpp
  src/inference/src/dev/make_tensor.cpp
Labels: category: inference, category: Core, WIP

#18478 Use any gflags variant
  .ci/azure/linux_arm64.yml
  samples/cpp/CMakeLists.txt
  thirdparty/dependencies.cmake
Labels: category: build, category: samples, category: CI, category: dependency_changes

#18543 Revert "Use any gflags variant"
  .ci/azure/linux_arm64.yml
  samples/cpp/CMakeLists.txt
  thirdparty/dependencies.cmake
Labels: category: build, category: samples, category: CI, category: dependency_changes

#18541 Rely on find_package(OpenCL)
  thirdparty/dependencies.cmake
Labels: category: build, WIP, category: dependency_changes

#18538 Ability to configure setup.py via env variables
  cmake/developer_package/packaging/common-libraries.cmake
  src/bindings/python/CMakeLists.txt
  src/bindings/python/wheel/setup.py
Labels: category: build, category: Python API, category: dependency_changes, category: packaging

#18429 Hetero 2.0
  src/inference/dev_api/openvino/runtime/icompiled_model.hpp
  src/inference/dev_api/openvino/runtime/icore.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/tests/functional/caching_test.cpp
  src/plugins/hetero/CMakeLists.txt
  src/plugins/hetero/async_infer_request.cpp
  src/plugins/hetero/async_infer_request.hpp
  src/plugins/hetero/executable_network.cpp
  src/plugins/hetero/executable_network.hpp
  src/plugins/hetero/infer_request.cpp
  src/plugins/hetero/infer_request.hpp
  src/plugins/hetero/plugin.cpp
  src/plugins/hetero/plugin.hpp
  src/plugins/hetero/src/async_infer_request.cpp
  src/plugins/hetero/src/async_infer_request.hpp
  src/plugins/hetero/src/compiled_model.cpp
  src/plugins/hetero/src/compiled_model.hpp
  src/plugins/hetero/src/config.cpp
  src/plugins/hetero/src/config.hpp
  src/plugins/hetero/src/graph_debug_dump.cpp
  src/plugins/hetero/src/graph_debug_dump.hpp
  src/plugins/hetero/src/itt.hpp
  src/plugins/hetero/src/plugin.cpp
  src/plugins/hetero/src/plugin.hpp
  src/plugins/hetero/src/properties.hpp
  src/plugins/hetero/src/sync_infer_request.cpp
  src/plugins/hetero/src/sync_infer_request.hpp
  src/plugins/hetero/src/variable_state.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/ie_test_utils/unit_test_utils/mocks/cpp_interfaces/interface/mock_icore.hpp
Labels: category: inference, category: IE Tests, category: CPU, category: HETERO, category: build

#18533 [CI] [GHA] Do not run GHA pipelines (Linux & Windows) on documentation-related PRs
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: CI, github_actions

#18508 Update low precision transformations to work with Pad-12
  src/common/low_precision_transformations/src/markup_precisions.cpp
  src/common/low_precision_transformations/src/pad.cpp
Labels: category: LP transformations

#18521 [GPU] Fix data races in RegisterFactory() and log functions
  src/common/util/src/log.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/program.hpp
  src/plugins/intel_gpu/src/plugin/program.cpp
Labels: category: Core, category: GPU

#18160 [Snippets] Added SplitDimensionM optimization
  src/common/snippets/include/snippets/pass/common_optimizations.hpp
  src/common/snippets/include/snippets/pass/tokenization.hpp
  src/common/snippets/src/pass/common_optimizations.cpp
  src/common/snippets/src/pass/tokenization.cpp
  src/common/snippets/tests/include/pass/mha_tokenization.hpp
  src/common/snippets/tests/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/subgraph_mha.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_mha.cpp
Labels: category: IE Tests, category: CPU

#18489 [GPU] Dynamism support for Proposal
  src/plugins/intel_gpu/include/intel_gpu/primitives/proposal.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/proposal.cpp
  src/plugins/intel_gpu/src/graph/include/proposal_inst.h
  src/plugins/intel_gpu/src/graph/proposal.cpp
  src/plugins/intel_gpu/src/plugin/ops/proposal.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/proposal_si_test.cpp
Labels: category: GPU

#18534 [PT FE] Support bfloat16 constants
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  tests/layer_tests/py_frontend_tests/test_torch_decoder.py
  tests/layer_tests/pytorch_tests/test_fp16.py
Labels: category: Python API, category: PyTorch FE

#18501 [PT FE]: multiple fixes for models from optimum testing scope
  src/frontends/pytorch/src/op/round.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_round.py
Labels: category: PyTorch FE

#18546 Fixed clang format for plugin files with version
  cmake/developer_package/plugins/plugins.cmake
  src/plugins/hetero/src/plugin.cpp
  src/plugins/template/src/plugin.cpp
Labels: category: HETERO, category: build, category: TEMPLATE

#18535 [GPU] Add debug config for disabled async compilation
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#18514 remove debug from transformation
  src/common/transformations/src/transformations/common_optimizations/pad_fusion.cpp
Labels: category: transformations

#18242 [conformance] Move query model tests from api to opset
  src/plugins/template/src/plugin.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/include/read_ir_test/read_ir_query_model.hpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/read_ir/read_ir_query_model.cpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/include/conformance.hpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/main.cpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/skip_tests_config.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/include/op_impl_check/op_impl_check.hpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/include/op_impl_check/op_impl_check_compile_model.hpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/include/op_impl_check/op_impl_check_query_model.hpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/include/op_impl_check/single_op_graph.hpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/include/read_ir_test/read_ir.hpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/include/read_ir_test/read_ir_compare_with_refs.hpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/op_impl_check.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/op_impl_check_compile_model.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/op_impl_check_tests.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir_tests.cpp
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/template/report_template.html
Labels: category: IE Tests, category: TEMPLATE, conformance

#18548 [CI] [GHA] Cancel in-progress Linux & Win pipelines in favour of that of on the latest commit in PRs
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: CI, github_actions

#18545 [GPU] move a test file.
  src/plugins/intel_gpu/tests/unit/module_tests/weights_reorder_factory_test.cpp
Labels: category: GPU

#18444 enable canary for linux oneTBB2021.2.1
  cmake/dependencies.cmake
Labels: category: build

#18474 [PT FE] Fix typo in align types function
  src/frontends/pytorch/src/utils.cpp
  tests/layer_tests/pytorch_tests/test_min_max.py
Labels: category: PyTorch FE

#17322 [ARM CPU] Add ACL executor for Transpose
  src/plugins/intel_cpu/src/nodes/common/permute_kernel.cpp
  src/plugins/intel_cpu/src/nodes/common/permute_kernel.h
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_interpolate.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_transpose.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_transpose.hpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_utils.hpp
  src/plugins/intel_cpu/src/nodes/executors/common/ref_opt_transpose.cpp
  src/plugins/intel_cpu/src/nodes/executors/common/ref_opt_transpose.hpp
  src/plugins/intel_cpu/src/nodes/executors/common/ref_transpose.cpp
  src/plugins/intel_cpu/src/nodes/executors/common/ref_transpose.hpp
  src/plugins/intel_cpu/src/nodes/executors/transpose.cpp
  src/plugins/intel_cpu/src/nodes/executors/transpose.hpp
  src/plugins/intel_cpu/src/nodes/executors/transpose_list.cpp
  src/plugins/intel_cpu/src/nodes/executors/transpose_list.hpp
  src/plugins/intel_cpu/src/nodes/executors/x64/jit_transpose.cpp
  src/plugins/intel_cpu/src/nodes/executors/x64/jit_transpose.hpp
  src/plugins/intel_cpu/src/nodes/transpose.cpp
  src/plugins/intel_cpu/src/nodes/transpose.h
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/transpose.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/transpose.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/common/transpose.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/x64/transpose.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/transpose.cpp
Labels: category: CPU, platform: arm
