Repository openvinotoolkit/openvino, pull requests merged in 2023-04, with the labels that each got.

#16683 Move new util functions from public api to dev api
  src/common/transformations/src/transformations/common_optimizations/push_constant_to_subgraph.cpp
  src/core/dev_api/validation_util.hpp
  src/core/include/openvino/core/validation_util.hpp
  src/core/shape_inference/include/slice_shape_inference_utils.hpp
  src/core/src/op/concat.cpp
  src/core/src/validation_util.cpp
  src/core/tests/validation_utils.cpp
Labels: category: Core, category: transformations, category: CPP API

#16436 [PYTHON][CAPI][AUTO] Add ENABLE_STARTUP_FALLBACK and ENABLE_RUNTIME_FALLBACK proper…
  src/bindings/c/include/openvino/c/auto/properties.h
  src/bindings/c/include/openvino/c/gpu/gpu_plugin_properties.h
  src/bindings/c/include/openvino/c/openvino.h
  src/bindings/c/src/ov_auto_property.cpp
  src/bindings/c/tests/ov_auto_property_test.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.hpp
  src/bindings/python/tests/test_runtime/test_properties.py
Labels: category: Python API, category: C API

#16680 [DOCS] shift to rst -install guides aptyumdocker
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#16585 [CPU] FQ shape agnostic kernel
  src/plugins/intel_cpu/src/nodes/fake_quantize.cpp
  src/plugins/intel_cpu/src/nodes/fake_quantize.h
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/fq_caching.cpp
Labels: category: CPU

#15863 [GPU] Softmax for stable diffusion
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/softmax_gpu_bf.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_bf.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/softmax.cpp
  src/tests/functional/shared_test_classes/src/base/utils/generate_inputs.cpp
Labels: category: IE Tests, category: GPU, ExternalPR

#16681 DOCS shift to rst - Hello Classification Samples
  samples/c/hello_classification/README.md
  samples/cpp/hello_classification/README.md
  samples/python/hello_classification/README.md
Labels: category: samples, category: docs

#16650 DOCS shift to rst - Hello Query Device C++ Sample & Hello Query Device Python* Sample
  samples/cpp/hello_query_device/README.md
  samples/python/hello_query_device/README.md
Labels: category: samples, category: docs

#16637 DOCS shift to rst - Model Creation C++ Sample & Model Creation Python* Sample
  samples/cpp/model_creation_sample/README.md
  samples/python/model_creation_sample/README.md
Labels: category: samples, category: docs

#16607 [DOCS] Automatic Batching Update
  docs/OV_Runtime_UG/automatic_batching.md
Labels: category: docs

#16616 DOCS shift to rst - `POT Tool FAQ` article
  tools/pot/docs/FrequentlyAskedQuestions.md
Labels: category: docs, category: POT

#16621 DOCS shift to rst - `Post-Training Optimization` articles
  tools/pot/configs/README.md
  tools/pot/docs/CLI.md
  tools/pot/docs/SaturationIssue.md
  tools/pot/docs/SimplifiedMode.md
  tools/pot/openvino/tools/pot/api/README.md
Labels: category: docs, category: POT

#16627 DOCS shift to rst - `POT API examples` articles
  tools/pot/docs/Examples.md
  tools/pot/openvino/tools/pot/api/samples/3d_segmentation/README.md
  tools/pot/openvino/tools/pot/api/samples/README.md
  tools/pot/openvino/tools/pot/api/samples/classification/README.md
  tools/pot/openvino/tools/pot/api/samples/face_detection/README.md
  tools/pot/openvino/tools/pot/api/samples/object_detection/README.md
  tools/pot/openvino/tools/pot/api/samples/segmentation/README.md
  tools/pot/openvino/tools/pot/api/samples/speech/README.md
Labels: category: docs, category: POT

#16649 DOCS shift to rst - `POT CLI Example` article
  tools/pot/docs/E2eExample.md
Labels: category: docs, category: POT

#16663 DOCS shift to rst - `AccuracyAwareQuantization Parameters` article
  tools/pot/openvino/tools/pot/algorithms/quantization/accuracy_aware/README.md
Labels: category: docs, category: POT

#16691 [TF FE] Activate TopK layer test with the second output in the pre-commit
  tests/layer_tests/tensorflow_tests/test_tf_TopKV2.py
Labels: category: TF FE

#16682 Add `mmap` notes in dldt_depl_optimization_latency.md
  docs/optimization_guide/dldt_deployment_optimization_latency.md
Labels: category: docs

#16686 DOCS shift to rst - `Converting Pytorch Models` articles
  docs/MO_DG/prepare_model/convert_model/Convert_Model_From_PyTorch.md
  docs/MO_DG/prepare_model/convert_model/kaldi_specific/Aspire_Tdnn_Model.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md
  docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_Style_Transfer_From_MXNet.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_Bert_ner.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_Cascade_RCNN_res101.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_F3Net.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_QuartzNet.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_RCAN.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_RNNT.md
  docs/MO_DG/prepare_model/convert_model/pytorch_specific/Convert_YOLACT.md
Labels: category: docs

#16383 enable new property ov::hint::use_cpu_pinning
  src/bindings/c/include/openvino/c/ov_property.h
  src/bindings/c/src/ov_property.cpp
  src/bindings/c/tests/ov_core_test.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/cpu_streams_calculation.hpp
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
Labels: category: inference, category: IE Tests, category: CPU, category: Python API, category: C API, category: CPP API

#16702 Fix double free in snippets
  docs/snippets/gpu/context_sharing_va_c.cpp
Labels: category: docs

#16603 [GPU] Refactor dimensions jitter and max rank related code
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/src/graph/gather_nd.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/shape_of.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_utils.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_axis.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/broadcast/broadcast_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/cum_sum/cum_sum_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/mvn/mvn_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/count_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/gather_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reduce/reduce_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_nd_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_bf.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.h
  src/plugins/intel_gpu/src/plugin/infer_request.cpp
  src/plugins/intel_gpu/src/plugin/ops/parameter.cpp
  src/plugins/intel_gpu/src/plugin/ops/result.cpp
  src/plugins/intel_gpu/src/runtime/format.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
Labels: category: GPU

#16679 [PyOV] Dependabot - ignore `openvino-dev` dependency
  tools/openvino_dev/requirements_dev.txt.in
Labels: category: tools, category: packaging

#16688 Add ConvolutionToGroupConvolutionFusion
  src/common/transformations/include/transformations/common_optimizations/convolution_to_group_convolution_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/convolution_to_group_convolution.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/tests/common_optimizations/convolution_to_group_convolution_fusion.cpp
Labels: category: transformations

#16709 [C API] remove UNDEFINED property value
  src/bindings/c/include/openvino/c/ov_property.h
Labels: category: C API

#16003 [GNA] Fix crash in GNA plugin when using POT
  src/plugins/intel_gna/src/frontend/model_quantizer.hpp
Labels: category: GNA

#16552 support Ecore only in streams calculation
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/tests/unit/streams_info_table_test.cpp
Labels: category: CPU

#16719 Revert "[GNA] Fix crash in GNA plugin when using POT"
  src/plugins/intel_gna/src/frontend/model_quantizer.hpp
Labels: category: GNA

#16715 [CVS-104864] Action: Renamed group for concurrency
  .github/workflows/build_doc.yml
Labels: category: CI

#16654 [GPU] Fix OneDNN primitive attr serialization logic
  src/plugins/intel_gpu/include/intel_gpu/graph/fused_primitive_desc.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/kernel_impl_params.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/fusions/fully_connected_fusion_test.cpp
  src/plugins/intel_gpu/tests/fusions/gemm_fusion_test.cpp
Labels: category: GPU

#15314 [DOCS] Adding a new class for sortable tables - for master
  docs/_static/js/custom.js
  docs/openvino_sphinx_theme/openvino_sphinx_theme/static/js/sortable_tables.js
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/layout.html
Labels: category: docs

#16700 DOCS shift to rst - Compile Tool
  tools/compile_tool/README.md
Labels: category: docs, category: tools

#16723 update name of new cpu properties to enable_hyper_threading and enable_cpu_pinning
  src/bindings/c/include/openvino/c/ov_property.h
  src/bindings/c/src/ov_property.cpp
  src/bindings/c/tests/ov_core_test.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/dev_api/openvino/runtime/threading/cpu_map_scheduling.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
Labels: category: inference, category: IE Tests, category: CPU, category: Python API, category: C API, category: CPP API

#16704 DOCS shift to rst - Conversion tutorials
  docs/MO_DG/prepare_model/convert_model/Convert_Model_Tutorials.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_Faster_RCNN.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_GPT2.md
  docs/MO_DG/prepare_model/convert_model/onnx_specific/Convert_Mask_RCNN.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_AttentionOCR_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_BERT_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_CRNN_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_DeepSpeech_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_EfficientDet_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_FaceNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_GNMT_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_NCF_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Object_Detection_API_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_RetinaNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_Slim_Library_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_WideAndDeep_Family_Models.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_XLNet_From_Tensorflow.md
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_lm_1b_From_Tensorflow.md
  docs/_static/images/DeepSpeech-0.8.2.png
  docs/_static/images/FaceNet.svg
  docs/_static/images/NCF_start.svg
  docs/_static/images/lm_1b.svg
Labels: category: docs

#16722 [TF FE] Fix layer tests for BatchToSpace and add to the pre-commit
  tests/layer_tests/tensorflow_tests/test_tf_BatchToSpace.py
Labels: category: TF FE

#16740 Update openvino_sphinx_theme.css
  docs/openvino_sphinx_theme/openvino_sphinx_theme/static/css/openvino_sphinx_theme.css
Labels: category: docs

#16706 [TF FE] Add diagnostics capabilities via Framework nodes
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow_common/include/tf_framework_node.hpp
Labels: category: TF FE, category: TFL FE

#16574 [ie transformations] improve SoftMax fusion for better mixed precision inference
  src/common/transformations/include/transformations/common_optimizations/softmax_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/mark_subgraphs_to_keep_in_mixed_precision.cpp
  src/common/transformations/src/transformations/common_optimizations/softmax_fusion.cpp
  src/common/transformations/tests/common_optimizations/align_mixed_fp32_fp16_types_test.cpp
  src/common/transformations/tests/common_optimizations/mark_subgraph_to_keep_in_mixed_precision_test.cpp
  src/common/transformations/tests/common_optimizations/softmax_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: bug, category: GPU, category: transformations

#16738 DOCS Change sample path
  docs/dev/installing.md
Labels: category: docs

#16726 Fixed add_output for new subgraph
  src/core/include/openvino/core/model.hpp
  src/core/src/model.cpp
  src/core/tests/model.cpp
Labels: category: Core, category: CPP API

#16741 [PT FE]: fix aten::index inconsistent reshape
  src/frontends/pytorch/src/transforms/aten_index_replacer.cpp
  tests/layer_tests/pytorch_tests/test_index.py
Labels: category: PyTorch FE

#16459 Parameter list and descriptions for mo.convert_model() method in docstring
  tests/layer_tests/mo_python_api_tests/mo_convert_help.py
  tests/layer_tests/mo_python_api_tests/test_mo_help.py
  tools/mo/automation/package_BOM.txt
  tools/mo/openvino/tools/mo/convert.py
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/main.py
  tools/mo/openvino/tools/mo/main_paddle.py
  tools/mo/openvino/tools/mo/utils/cli_parser.py
  tools/mo/openvino/tools/mo/utils/help.py
  tools/mo/unit_tests/mo/utils/cli_parser_test.py
Labels: category: MO

#16714 [GPU] Don't reorder weights when can reinterpret
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/transformations/einsum_decomposition.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/module_tests/layout_test.cpp
  src/plugins/intel_gpu/tests/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/test_cases/reshape_gpu_test.cpp
Labels: category: GPU

#16671 [GPU] Fix synchronization issue from wrong stream in multi-stream mode on dGPU
  src/plugins/intel_gpu/include/intel_gpu/graph/kernel_impl_params.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/src/graph/arg_max_min.cpp
  src/plugins/intel_gpu/src/graph/border.cpp
  src/plugins/intel_gpu/src/graph/broadcast.cpp
  src/plugins/intel_gpu/src/graph/crop.cpp
  src/plugins/intel_gpu/src/graph/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/resample.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/non_zero.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/range.cpp
  src/plugins/intel_gpu/src/graph/resample.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/tile.cpp
  src/plugins/intel_gpu/tests/fusions/fully_connected_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/multiple_streams_gpu_test.cpp
Labels: category: GPU

#16724 [GPU] add WA to avoid hang issue.
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
Labels: category: GPU

#16600 Add Core property to switch from `mmap` to `read` in IR Frontend
  src/bindings/c/include/openvino/c/ov_property.h
  src/bindings/c/src/ov_property.cpp
  src/bindings/c/tests/ov_core_test.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/frontends/ir/src/frontend.cpp
  src/frontends/ir/tests/frontend_test_basic.cpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/core_impl_ie.cpp
  src/inference/src/ie_network_reader.cpp
  src/inference/src/ie_network_reader.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Labels: category: inference, category: IE Tests, category: Python API, category: C API, category: IR FE, category: CPP API

#16735 DOCS shift to rst - `Converting TensorFlow YOLO Models` article
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_YOLO_From_Tensorflow.md
Labels: category: docs

#16713 [CONFORMANCE] Solve the problem to generate filters
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: bug, category: IE Tests, conformance

#16674 [PyOV] Fix warnings
  src/bindings/python/src/compatibility/pyngraph/CMakeLists.txt
  src/bindings/python/src/compatibility/pyngraph/axis_set.cpp
  src/bindings/python/src/compatibility/pyngraph/coordinate_diff.cpp
  src/bindings/python/src/compatibility/pyngraph/strides.cpp
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/frontend/node_context.cpp
  src/bindings/python/src/pyopenvino/frontend/place.cpp
  src/bindings/python/src/pyopenvino/graph/axis_set.cpp
  src/bindings/python/src/pyopenvino/graph/coordinate_diff.cpp
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/src/pyopenvino/graph/strides.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
Labels: category: build, category: Python API

#16762 [Spec] Fix Interpolate specification: input index port
  docs/ops/image/Interpolate_11.md
Labels: category: docs

#16736 HOT FIX: CPU binding cannot follow numactl's control
  src/inference/src/streams_executor.hpp
  src/inference/src/system_conf.cpp
Labels: category: inference

#16645 [DOCS][AUTO] Add enable_runtime_fallback property to AUTO Device Sele…
  docs/OV_Runtime_UG/auto_device_selection.md
Labels: category: docs

#16733 [GPU] Added custom canonicalize shapes for Gather
  src/plugins/intel_gpu/src/graph/impls/ocl/gather.cpp
  src/plugins/intel_gpu/tests/test_cases/canonicalization_gpu_test.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/gather.cpp
Labels: category: GPU

#16773 Fixed windows build after #16716
  src/bindings/python/src/pyopenvino/graph/util.cpp
Labels: category: Python API

#16729 Minimize rebuild for Makefiles generator
  cmake/developer_package/plugins/plugins.cmake
  cmake/developer_package/version.cmake
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/cmake/openvino.cmake
  src/core/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/auto_batch/tests/unit/CMakeLists.txt
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_gna/CMakeLists.txt
  src/tests/unit/auto/CMakeLists.txt
Labels: category: inference, category: Core, category: IE Tests, category: CPU, category: GNA, category: build, category: Python API, category: AUTO BATCH

#16763 HOT FIX: update cpu map calculation for Windows to avoid incorrect total number of processors
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/src/streams_executor.hpp
  src/inference/tests/unit/cpu_map_parser.cpp
Labels: category: inference

#16727 [GPU] Enable dynamic shapes support for gather elements
  src/plugins/intel_gpu/src/plugin/ops/gather_elements.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/gather_elements.cpp
Labels: category: GPU

#16297 [AUTO] Show the detailed failure message when AUTO load network failed
  src/plugins/auto/auto_schedule.cpp
  src/plugins/auto/plugin_config.cpp
  src/plugins/auto/utils/plugin_config.hpp
  src/tests/unit/auto/auto_load_network_properties_test.cpp
Labels: category: IE Tests, category: AUTO

#16689 Bugfix in reorder_bfyx_to_blocked_format kernel
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data_bfyx_to_blocked_format.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel_bfyx_to_blocked_format.cpp
  src/plugins/intel_gpu/tests/test_cases/reorder_gpu_test.cpp
Labels: category: GPU, pr: needs tests

#16707 [ShapeInference] Fix Group Convolution shape infer - relax inputs size check
  src/core/shape_inference/include/convolution_backprop_shape_inference.hpp
  src/core/shape_inference/include/convolution_backprop_shape_inference_util.hpp
  src/core/shape_inference/include/group_convolution_backprop_shape_inference.hpp
  src/core/shape_inference/include/group_convolution_shape_inference.hpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/binary_convolution_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/convolution_backprop_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/convolution_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/group_convolution_backprop_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/group_convolution_shape_inference_test.cpp
Labels: category: Core, category: CPU

#16768 [POT] use serialize method
  tools/pot/openvino/tools/pot/graph/graph_utils.py
Labels: bug, category: POT

#16705 Set test case name for ReshapeMatMul tests
  src/inference/tests/functional/matmul_sr_tests.cpp
Labels: category: inference

#16712 [Transformations] Assert valid output shape on ReduceReshape fusion
  src/common/transformations/src/transformations/common_optimizations/reduce_reshape_fusion.cpp
  src/common/transformations/tests/common_optimizations/reduce_reshape_fusion_tests.cpp
Labels: category: transformations

#16764 Extended a list of libraries to exclude from wheel package
  src/bindings/python/wheel/setup.py
Labels: category: Python API, category: dependency_changes, category: packaging

#16780 Fixed command lines in MO docs.
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_EfficientDet_Models.md
  docs/dev/installing.md
Labels: category: docs

#16781 [LPT] Introduced BiasAttribute
  docs/IE_PLUGIN_DG/layout.xml
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/lpt.md
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/pipeline/step2_markup.md
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/transformations/step2_markup/markup_bias.md
  docs/doxygen-xfail.txt
  src/common/low_precision_transformations/include/low_precision/markup_bias.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/bias_attribute.hpp
  src/common/low_precision_transformations/src/add.cpp
  src/common/low_precision_transformations/src/eltwise_base_transformation.cpp
  src/common/low_precision_transformations/src/fake_quantize.cpp
  src/common/low_precision_transformations/src/low_precision.cpp
  src/common/low_precision_transformations/src/markup_bias.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/low_precision_transformations/src/rt_info/bias_attribute.cpp
  src/common/low_precision_transformations/tests/markup_bias_transformation.cpp
  src/common/low_precision_transformations/tests/simple_low_precision_transformer.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/fq_layer_dq_bias.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/markup_bias_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/markup_bias_function.cpp
Labels: category: IE Tests, category: CPU, category: LP transformations, category: docs

#16518 [apiConformance] Fix relative all
  src/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  src/tests/ie_test_utils/common_test_utils/test_common.cpp
  src/tests/ie_test_utils/common_test_utils/test_common.hpp
  src/tests/ie_test_utils/functional_test_utils/src/summary/api_summary.cpp
Labels: category: IE Tests, conformance

#16788 Added rpath for TBB libs to find hwloc
  src/bindings/python/wheel/setup.py
Labels: category: Python API, category: dependency_changes, category: packaging

#16767 Enable transformation callbacks in TS transformations
  src/common/transformations/src/transformations/transpose_sinking/ts_binary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_concat.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_data_movement.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_interpolate.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_reduction.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_slice.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_split.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_squeeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unsqueeze.cpp
Labels: category: transformations

#16787 samples/cpp remove unused code
  samples/cpp/benchmark_app/infer_request_wrap.hpp
  samples/cpp/common/utils/include/samples/common.hpp
  samples/cpp/common/utils/include/samples/ocv_common.hpp
  samples/cpp/common/utils/include/samples/vpu/vpu_tools_common.hpp
  samples/cpp/common/utils/src/common.cpp
Labels: category: samples

#16711 [HETERO] Enable smoke_Hetero_CachingSupportCase tests
  src/plugins/hetero/executable_network.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: HETERO, port to 2022.3

#16746 [GPU] Fix sub kernel ordering issue in kernels_cache
  src/plugins/intel_gpu/include/intel_gpu/runtime/kernel.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_kernel.hpp
  src/plugins/intel_gpu/tests/passes/kernels_cache_test.cpp
Labels: category: GPU

#16777 [GPU] Use unique symbol name for typedef
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/experimental_detectron_generate_proposals_single_image_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/generate_proposals_ref.cl
Labels: category: GPU

#16772 [GPU] Fixed uninitialized scalar variables
  src/plugins/intel_gpu/include/intel_gpu/primitives/lstm.hpp
  src/plugins/intel_gpu/src/graph/data.cpp
  src/plugins/intel_gpu/src/graph/detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/mutable_data.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.cpp
Labels: category: GPU

#16615 Optimize and fix fps number in log
  src/plugins/auto/auto_schedule.cpp
  src/plugins/auto/auto_schedule.hpp
  src/plugins/auto/common.hpp
  src/plugins/auto/multi_schedule.cpp
  src/plugins/auto/multi_schedule.hpp
  src/plugins/auto/utils/log.hpp
Labels: category: AUTO

#16792 [GPU] Fixed onednn post ops serialization logic
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/fusions/fully_connected_fusion_test.cpp
Labels: category: GPU

#15877 Xuejun/remove api tensor related
  src/core/include/openvino/core/descriptor/tensor.hpp
  src/core/src/descriptor/tensor.cpp
  src/core/src/runtime/host_tensor.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/group_convolution.cpp
  src/plugins/template/backend/int_executable.cpp
Labels: category: Core, category: CPU, category: TEMPLATE, category: CPP API

#16749 Enable nop elimination for f16 type
  src/common/transformations/src/transformations/utils/utils.cpp
  src/common/transformations/tests/common_optimizations/nop_elimination.cpp
Labels: category: transformations

#16703 Revert "[CPU] optimize shape infer of Reshape (#16537)"
  src/plugins/intel_cpu/src/nodes/reshape.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/shape_ops.cpp
Labels: category: CPU

#16799 fix wheel_blacklist_extension for macos
  src/bindings/python/wheel/setup.py
Labels: category: Python API, category: dependency_changes, category: packaging

#16697 [TF FE] Better support for named ports in tensorflow frontend
  src/frontends/common/include/openvino/frontend/decoder.hpp
  src/frontends/common/include/openvino/frontend/extension/conversion.hpp
  src/frontends/common/include/openvino/frontend/node_context.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/extension/conversion.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/node_context.hpp
  src/frontends/tensorflow/src/decoder_argdef.cpp
  src/frontends/tensorflow/src/decoder_argdef.hpp
  src/frontends/tensorflow/src/decoder_proto.cpp
  src/frontends/tensorflow/src/decoder_proto.hpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/tests/conversion.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/split_in_function.py
  src/frontends/tensorflow/tests/test_models/models_pbtxt/split_in_function.pbtxt
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/include/helper_ops/internal_operation.hpp
  src/frontends/tensorflow_common/include/utils.hpp
  src/frontends/tensorflow_common/src/op/ctc_greedy_decoder.cpp
  src/frontends/tensorflow_common/src/op/fused_batch_norm.cpp
  src/frontends/tensorflow_common/src/op/top_k.cpp
  src/frontends/tensorflow_common/src/op/unique.cpp
  src/frontends/tensorflow_lite/src/decoder_flatbuffer.cpp
  src/frontends/tensorflow_lite/src/decoder_flatbuffer.h
  src/frontends/tensorflow_lite/src/decoder_map.hpp
  src/frontends/tensorflow_lite/src/op/op_translation_utils.cpp
  src/frontends/tensorflow_lite/src/op/op_translation_utils.hpp
  src/frontends/tensorflow_lite/src/op_table.cpp
  src/frontends/tensorflow_lite/src/utils.cpp
  src/frontends/tensorflow_lite/src/utils.hpp
  src/inference/src/core.cpp
Labels: category: inference, category: Core, category: TF FE, category: extensions, category: CPP API, category: TFL FE

#16765 Disable ConstantFolding for ShapeOf subgraph in TS transformation
  src/common/transformations/src/transformations/transpose_sinking/ts_general.cpp
  src/common/transformations/tests/transpose_sinking/ts_general_test.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
Labels: category: transformations, category: TF FE

#16791 [VPUX] - Detected possible vulnerability with shared_ptr
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser.cpp
Labels: category: inference

#15594 Support dynamic output models with all possible devices instead of CPU only
  src/plugins/auto/CMakeLists.txt
  src/plugins/auto/README.md
  src/plugins/auto/src/async_infer_request.cpp
  src/plugins/auto/src/async_infer_request.hpp
  src/plugins/auto/src/auto_executable_network.cpp
  src/plugins/auto/src/auto_executable_network.hpp
  src/plugins/auto/src/auto_schedule.cpp
  src/plugins/auto/src/auto_schedule.hpp
  src/plugins/auto/src/bind_multi_schedule.cpp
  src/plugins/auto/src/bind_multi_schedule.hpp
  src/plugins/auto/src/common.hpp
  src/plugins/auto/src/executable_network.cpp
  src/plugins/auto/src/executable_network.hpp
  src/plugins/auto/src/infer_request.cpp
  src/plugins/auto/src/infer_request.hpp
  src/plugins/auto/src/itt.hpp
  src/plugins/auto/src/multi_executable_network.cpp
  src/plugins/auto/src/multi_executable_network.hpp
  src/plugins/auto/src/multi_schedule.cpp
  src/plugins/auto/src/multi_schedule.hpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/src/plugin.hpp
  src/plugins/auto/src/plugin_config.cpp
  src/plugins/auto/src/plugin_config.hpp
  src/plugins/auto/src/schedule.hpp
  src/plugins/auto/src/utils/log.cpp
  src/plugins/auto/src/utils/log.hpp
  src/plugins/auto/src/utils/log_util.hpp
  src/plugins/auto/src/utils/non_copyable.hpp
  src/plugins/auto/src/utils/singleton.hpp
  src/plugins/auto/src/utils/time_utils.cpp
  src/plugins/auto/src/utils/time_utils.hpp
  src/plugins/auto/tests/CMakeLists.txt
  src/plugins/auto/tests/unit/CMakeLists.txt
  src/plugins/auto/tests/unit/auto_async_infer_request_test.cpp
  src/plugins/auto/tests/unit/auto_ctput_call_multi.cpp
  src/plugins/auto/tests/unit/auto_ctput_test.cpp
  src/plugins/auto/tests/unit/auto_default_perf_hint_test.cpp
  src/plugins/auto/tests/unit/auto_dynamic_output_test.cpp
  src/plugins/auto/tests/unit/auto_infer_request_test_base.cpp
  src/plugins/auto/tests/unit/auto_load_network_properties_test.cpp
  src/plugins/auto/tests/unit/auto_release_helper_test.cpp
  src/plugins/auto/tests/unit/auto_runtime_fallback_test.cpp
  src/plugins/auto/tests/unit/auto_select_device_failed_test.cpp
  src/plugins/auto/tests/unit/auto_startup_fallback_properties_test.cpp
  src/plugins/auto/tests/unit/exec_network_get_metrics.cpp
  src/plugins/auto/tests/unit/get_device_list.cpp
  src/plugins/auto/tests/unit/include/auto_infer_request_test_base.hpp
  src/plugins/auto/tests/unit/include/mock_auto_device_plugin.hpp
  src/plugins/auto/tests/unit/include/mock_common.hpp
  src/plugins/auto/tests/unit/include/mock_log_utils.hpp
  src/plugins/auto/tests/unit/key_network_priority_test.cpp
  src/plugins/auto/tests/unit/log_utils_format_test.cpp
  src/plugins/auto/tests/unit/log_utils_test.cpp
  src/plugins/auto/tests/unit/mock_common.cpp
  src/plugins/auto/tests/unit/parse_meta_device_test.cpp
  src/plugins/auto/tests/unit/select_device_test.cpp
  src/tests/CMakeLists.txt
  src/tests/unit/auto/plugin/mock_infer_request.hpp
  src/tests/unit/auto/plugin/mock_load_network_properties.hpp
Labels: category: IE Tests, category: build, category: docs, category: AUTO

#16743 [AUTO] Initialize variable / reduce variable copy
  src/plugins/auto/src/auto_executable_network.cpp
  src/plugins/auto/src/auto_schedule.hpp
  src/plugins/auto/src/common.hpp
  src/plugins/auto/src/multi_executable_network.cpp
  src/plugins/auto/src/plugin.cpp
Labels: category: AUTO

#16628 [GPU] Add to check FC bias data-type logic in issued kernel selection.
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/broadcast.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_io_gemm.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_io_gemm.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_io_input_spatial.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_io_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_io_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bs_f_bsv16_af8.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bs_f_bsv16_b1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bs_f_bsv16_b1.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bs_f_bsv8_af8.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_fb_io_b8_f8.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_fb_io_block.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_fb_io_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_fb_io_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_fb_oi_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_fb_oi_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_fs_byx_fsv32.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_fs_byx_fsv32.h
  src/plugins/intel_gpu/src/runtime/format.cpp
  src/plugins/intel_gpu/tests/fusions/fully_connected_fusion_test.cpp
Labels: category: GPU

#16710 [CPU][TESTS] Fix cmake subset target
  src/plugins/intel_cpu/tests/functional/specific_tests.cmake
Labels: category: CPU, category: build

#16771 [Coverity] Resource leak in primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#16815 [GPU] Fix missed weights params update
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/module_tests/kernel_impl_params_relevance_test.cpp
  src/plugins/intel_gpu/tests/test_utils/program_wrapper.h
Labels: category: GPU

#16775 [AUTO] Remove cache_dir property from AUTO plugin
  src/inference/src/dev/core_impl.cpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/src/plugin_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
Labels: category: inference, category: IE Tests, category: CPU, category: AUTO

#16782 [CONFORMANCE] Add re-run of interapted tests to avoid not reported tests
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: category: IE Tests, conformance

#16418 [apiConformance] Define mandatory scope for infer request tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/inference_chaining.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_infer_request/inference_chaining.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_infer_request/inference_chaining.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/callback.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/cancellation.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/inference_chaining.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/multithreading.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_infer_request/infer_request_dynamic.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/inference_chaining.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/inference_chaining.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: GNA, category: TEMPLATE, conformance

#16806 [GPU] Fix Interpolate assert
  src/plugins/intel_gpu/include/intel_gpu/primitives/resample.hpp
  src/plugins/intel_gpu/src/graph/resample.cpp
  src/plugins/intel_gpu/src/plugin/ops/interpolate.cpp
  src/plugins/template/backend/evaluates_map.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/interpolate.cpp
Labels: category: GPU, category: TEMPLATE

#16802 Remove redundant copy of ov::Any in has_rt_info method
  src/core/include/openvino/core/model.hpp
  src/core/src/model.cpp
Labels: category: Core, category: CPP API

#15853 Removes legacy transformations from CNNNetworkNGraphImpl::reshape
  src/common/transformations/include/ov_ops/type_relaxed.hpp
  src/common/transformations/tests/type_relaxed_tests.cpp
  src/core/include/openvino/op/equal.hpp
  src/core/include/openvino/op/select.hpp
  src/core/shape_inference/include/generate_proposals_shape_inference.hpp
  src/core/shape_inference/include/nms_shape_inference.hpp
  src/core/shape_inference/include/topk_shape_inference.hpp
  src/core/src/bound_evaluate.cpp
  src/core/src/op/abs.cpp
  src/core/src/op/acos.cpp
  src/core/src/op/asin.cpp
  src/core/src/op/atan.cpp
  src/core/src/op/ceiling.cpp
  src/core/src/op/constant.cpp
  src/core/src/op/cos.cpp
  src/core/src/op/cosh.cpp
  src/core/src/op/equal.cpp
  src/core/src/op/erf.cpp
  src/core/src/op/floor.cpp
  src/core/src/op/log.cpp
  src/core/src/op/negative.cpp
  src/core/src/op/reshape.cpp
  src/core/src/op/select.cpp
  src/core/src/op/shape_of.cpp
  src/core/src/op/sign.cpp
  src/core/src/op/sin.cpp
  src/core/src/op/sinh.cpp
  src/core/src/op/sqrt.cpp
  src/core/src/op/tan.cpp
  src/core/src/op/tanh.cpp
  src/core/src/op/type_relaxed.cpp
  src/core/tests/type_prop/broadcast.cpp
  src/core/tests/type_prop/generate_proposals.cpp
  src/core/tests/type_prop/top_k.cpp
  src/inference/src/cnn_network_ngraph_impl.cpp
  src/inference/tests/functional/ngraph_reshape_tests.cpp
Labels: category: inference, category: Core, category: transformations, category: CPP API

#16823 [TF FE] Correct SpaceToBatch layer test
  tests/layer_tests/tensorflow_tests/test_tf_SpaceToBatch.py
Labels: category: TF FE

#16834 Return benchmark_tool to openvino-dev wheel
  src/bindings/python/wheel/CMakeLists.txt
  tools/benchmark_tool/setup.py
  tools/openvino_dev/CMakeLists.txt
  tools/openvino_dev/setup.py
Labels: bug, category: build, category: Python API, category: tools, category: dependency_changes, port to 2022.3, category: packaging

#16839 Removed legacy src files from inference library
  src/inference/CMakeLists.txt
  src/inference/src/cnn_network_ngraph_impl.cpp
  src/plugins/intel_gna/legacy/CMakeLists.txt
Labels: category: inference, category: GNA, category: build

#16833 Remove vopset typo
  src/core/src/node.cpp
  src/plugins/intel_gna/legacy/tests/convert_ngraph_to_cnn_network_tests.cpp
Labels: category: Core, category: GNA

#16760 Fix cycle dependency check in snippets tokenizer
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/two_inputs_and_outputs.cpp
  src/tests/functional/plugin/shared/include/snippets/two_inputs_and_outputs.hpp
  src/tests/functional/plugin/shared/src/snippets/two_inputs_and_outputs.cpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/include/subgraph_simple.hpp
  src/tests/ngraph_helpers/snippets_ngraph_functions/src/subgraph_simple.cpp
Labels: category: IE Tests, category: CPU

#16828 query capacity before popping
  src/inference/dev_api/threading/ie_thread_safe_containers.hpp
Labels: category: inference

#16819 [TF FE] Test ResourceGather operation and fix debug caps
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_resource_gather_model.py
Labels: category: TF FE

#16784 [PT FE]: aten::gather
  src/frontends/pytorch/src/op/gather.cpp
  src/frontends/pytorch/src/op/sign.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_gather.py
  tests/layer_tests/pytorch_tests/test_sign.py
Labels: category: PyTorch FE

#16639 [Transforamtions] NonZero horizontal fusion: review leftovers
  src/common/transformations/include/transformations/common_optimizations/nonzero_horizontal_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/nonzero_horizontal_fusion.cpp
  src/common/transformations/tests/common_optimizations/nonzero_horizontal_fusion_test.cpp
Labels: category: transformations

#16687 [LPT] ConvolutionTransformation: support for a new per channel dequantization representation
  src/common/low_precision_transformations/include/low_precision/network_helper.hpp
  src/common/low_precision_transformations/src/convolution.cpp
  src/common/low_precision_transformations/src/fold_fake_quantize.cpp
  src/common/low_precision_transformations/src/group_convolution.cpp
  src/common/low_precision_transformations/src/weightable_layer_transformation.cpp
  src/common/low_precision_transformations/tests/group_convolution_transformation.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/group_convolution_transformation.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/groupconvolution_qdq_transformation.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/group_convolution_transformation.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/groupconvolution_qdq_transformation.cpp
  src/tests/functional/plugin/shared/include/low_precision_transformations/group_convolution_transformation.hpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/group_convolution_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/group_convolution_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/group_convolution_function.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: LP transformations

#16851 BroadcastConstRangeReplacement - skip unsqueeze if Broadcast input is 1D
  src/common/transformations/src/transformations/smart_reshape/broadcast_const_range_replacement.cpp
  src/common/transformations/tests/smart_reshape/broadcast_const_range_replacement.cpp
Labels: category: transformations

#16835 [TF FE] Support NonMaxSuppression with named outputs
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_nms_named_outputs.py
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/non_max_suppression.cpp
Labels: category: TF FE, category: TFL FE

#16843 [GPU] Fix strided slice for clamped negative begin with negative stride
  src/plugins/intel_gpu/src/graph/impls/ocl/strided_slice.cpp
  src/plugins/intel_gpu/tests/test_cases/strided_slice_gpu_test.cpp
Labels: category: GPU

#16860 correct some trivial documentation
  src/inference/include/ie/ie_common.h
Labels: category: inference, port to 2022.3, category: CPP API

#16846 Delete the redundant check in convert method of TF FrontEnd class
  src/frontends/tensorflow/src/frontend.cpp
Labels: category: TF FE

#16849 [IE Sample] incorrect nstreams retrieved from plugin
  samples/cpp/benchmark_app/main.cpp
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: category: samples, category: tools

#16864 [PyOv] remove commented functions without implementation
  src/bindings/python/src/compatibility/pyngraph/ops/util/regmodule_pyngraph_op_util.cpp
  src/bindings/python/src/pyopenvino/graph/ops/util/regmodule_graph_op_util.cpp
Labels: category: Python API

#16868 [GPU] Skip failing lstm tests
  src/plugins/intel_gpu/tests/test_cases/lstm_gpu_test.cpp
Labels: category: GPU

#16494 Skip asymmetric_weight compensation processing
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#16858 [GPU] Small fix for gather_nonzero
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/gather_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/tests/test_cases/non_zero_gpu_test.cpp
Labels: category: GPU

#16866 [DOCS] minor fixes for front_ext and pre-notes
  docs/Extensibility_UG/frontend_extensions.md
  docs/resources/prerelease_information.md
Labels: category: docs

#16808 fix Paddle unit tests unexpected exceptions and seg fault issue
  src/frontends/paddle/tests/paddle_pip_check.py
Labels: category: PDPD FE

#16770 [GNA] Fix plugin crash when infinite loop discovered.
  src/plugins/intel_gna/src/frontend/model_quantizer.hpp
Labels: category: GNA

#16652 [PyOV] Align and bump numpy, further tidy up requirements
  src/bindings/python/constraints.txt
  src/bindings/python/requirements_test.txt
  src/frontends/onnx/tests/requirements.txt
  src/frontends/paddle/tests/requirements.txt
  src/frontends/tensorflow/tests/requirements.txt
  src/frontends/tensorflow_lite/tests/requirements.txt
  tests/conditional_compilation/requirements.txt
  tests/constraints.txt
  tests/layer_tests/requirements.txt
  tests/memory_tests/test_runner/requirements.txt
  tests/time_tests/test_runner/requirements.txt
  tools/constraints.txt
Labels: category: Python API, category: tools, category: ONNX FE, category: dependency_changes, category: PDPD FE, category: TF FE, category: TFL FE

#16756 [GNA] Extend unsupported concat detection
  src/plugins/intel_gna/src/backend/gna_limitations.cpp
  src/plugins/intel_gna/tests/functional/pass_tests/concat_restrictions.cpp
Labels: category: GNA

#16794 CompressQuantizeWeights transformation update
  src/common/offline_transformations/src/compress_quantize_weigths.cpp
  src/common/transformations/tests/utils/compress_quantize_weights.cpp
  tools/mo/openvino/tools/mo/back/compress_quantized_weights.py
  tools/mo/unit_tests/mo/back/compress_quantized_weights_test.py
Labels: category: MO, category: transformations

#16865 [ONNX FE] Fix Squeeze v1
  src/frontends/onnx/frontend/src/op/squeeze.cpp
  src/frontends/onnx/tests/models/squeeze_empty_axes_attribute.prototxt
  src/frontends/onnx/tests/onnx_import_reshape.in.cpp
Labels: category: ONNX FE, port to 2022.3

#16348 [apiConformance] Refactor io_tensor tests
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_infer_request/io_tensor.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/behavior/ov_infer_request/io_tensor.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/io_tensor.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/io_tensor.cpp
  src/tests/ngraph_helpers/ngraph_functions/include/ngraph_functions/subgraph_builders.hpp
Labels: category: IE Tests, conformance

#16539 [apiConformance] Stop work after crash and save report
  src/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/crash_handler.hpp
  src/tests/ie_test_utils/functional_test_utils/src/crash_handler.cpp
Labels: category: IE Tests, conformance

#16427 Update the logic of benchmark app property setting
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/benchmark_app/utils.cpp
  samples/cpp/benchmark_app/utils.hpp
  tools/benchmark_tool/README.md
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/utils.py
Labels: category: samples, category: docs, category: tools

#16889 Add ACL license
  licensing/runtime-third-party-programs.txt
Labels: platform: arm

#16869 [GPU] Fix softmax perf of stable diffusion
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_bf.cpp
Labels: category: GPU

#16890 [port from master][ONNX FE] Fix Squeeze v1
  src/frontends/onnx/frontend/src/op/squeeze.cpp
  src/frontends/onnx/tests/models/squeeze_empty_axes_attribute.prototxt
  src/frontends/onnx/tests/onnx_import_reshape.in.cpp
Labels: category: ONNX FE, ported to master

#16481 [GNA] smoke_MemoryTest suite enabled for transformation=NONE
  src/plugins/intel_gna/tests/functional/shared_tests_instances/single_layer_tests/memory.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/memory.hpp
  src/tests/functional/shared_test_classes/src/single_layer/memory.cpp
Labels: category: IE Tests, category: GNA

#16895 Fixed compilation with gcc-12
  src/plugins/intel_gpu/src/graph/gather_nd.cpp
  src/plugins/intel_gpu/src/graph/pooling.cpp
  src/plugins/intel_gpu/src/graph/select.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/tensor_names.hpp
Labels: category: IE Tests, category: GPU

#16891 Skip CPU tests on ARM platform
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/matmul_const_transposes_extraction.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/matmul_multiply_fusion.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/quantized_convolution_batch_norm.hpp
  src/tests/functional/plugin/shared/src/behavior/plugin/configuration_tests.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_backprop_data_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_qdq_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/elementwise_branch_selection_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fake_quantize_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/group_convolution_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/groupconvolution_qdq_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/move_fake_quantize_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/multiply_to_group_convolution_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/multiply_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/pad_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/pull_reshape_through_dequantization_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/reduce_max_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/reduce_mean_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/reduce_min_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/reduce_sum_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/reshape_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/shuffle_channels_transformation.cpp
  src/tests/functional/plugin/shared/src/onnx/quantized_models_tests.cpp
  src/tests/functional/plugin/shared/src/snippets/fake_quantize_decomposition_test.cpp
  src/tests/functional/shared_test_classes/src/base/snippets_test_utils.cpp
  src/tests/functional/shared_test_classes/src/subgraph/matmul_const_transposes_extraction.cpp
  src/tests/functional/shared_test_classes/src/subgraph/matmul_multiply_fusion.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_convolution_batch_norm.cpp
Labels: category: IE Tests, category: CPU, category: build, platform: arm

#16879 [GPU] fix unit-test seg fault error on dGPU
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#16883 [LPT] GroupConvolution plugin tests: test class corrected to restore behavior in arm plugin instances
  src/tests/functional/plugin/shared/include/low_precision_transformations/group_convolution_transformation.hpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/group_convolution_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/group_convolution_function.cpp
Labels: category: IE Tests

#16811 Allow stable sort in TopK when sorting by indices
  docs/ops/sort/TopK_1.md
  docs/ops/sort/TopK_11.md
  docs/ops/sort/TopK_3.md
  src/core/src/op/topk.cpp
  src/core/tests/type_prop/top_k.cpp
Labels: category: Core, category: docs

#16810 [GPU] Support 7D and 8D tensors
  src/plugins/intel_gpu/include/intel_gpu/primitives/fully_connected.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/tensor.hpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/permute.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reduce.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reshape.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bs_f_bsv16_b1.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bs_f_bsv8_af8_vload.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/generic_eltwise_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/fetch_data.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/fetch_utils.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/reshape_dims.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/permute_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reduce_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_biplanar_nv12.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data_fast_b1.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/jitter.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_utils.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_utils.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bs_f_bsv16_b1.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reduce/reduce_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reduce/reduce_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.h
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/plugins/intel_gpu/src/runtime/format.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/module_tests/layout_test.cpp
  src/plugins/intel_gpu/tests/test_cases/canonicalization_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/hash_key_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/lru_caches_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/shape_of_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/tensor_test.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/eltwise.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/reshape.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/single_layer_tests/transpose.cpp
Labels: category: GPU

#16840 [AUTO] Remove exclusive_asyc_requests property from AUTO plugin
  src/plugins/auto/src/plugin_config.cpp
  src/plugins/auto/src/plugin_config.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/plugin/configuration_tests.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/plugin/configuration_tests.cpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_network_base.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/configuration_tests.hpp
  src/tests/functional/plugin/shared/src/behavior/plugin/configuration_tests.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: AUTO

#16903 Fix C API test failed with debug version on Windows & MacOS
  src/bindings/c/tests/test_model_repo.hpp
Labels: category: C API

#16797 [CPU] Convert i64->i32 for Reference node.
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/ref_convert_i64_i32.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/ref_convert_i64_i32.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU

#16751 Fix for slowdown of convert_model() after multiple runs
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/utils/cli_parser.py
  tools/mo/openvino/tools/mo/utils/help.py
  tools/mo/openvino/tools/mo/utils/telemetry_utils.py
  tools/mo/openvino/tools/mo/utils/version.py
  tools/mo/unit_tests/mo/convert/version_checker_test_actual.py
  tools/mo/unit_tests/mo/utils/version_test.py
Labels: category: MO

#16905 [CPU] Fixed unused-private-field compilation errors
  src/plugins/intel_cpu/src/nodes/bin_conv.cpp
  src/plugins/intel_cpu/src/nodes/bin_conv.h
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_interpolate.hpp
Labels: category: CPU

#16814 [PyOV] Fix models checking and ensure correct destructor calls in tests
  src/bindings/python/tests/test_graph/test_manager.py
  src/bindings/python/tests/test_runtime/test_core.py
  src/bindings/python/tests/test_transformations/test_offline_api.py
  src/bindings/python/tests/test_transformations/test_public_transformations.py
  src/bindings/python/tests/test_utils/test_utils.py
Labels: bug, category: Python API

#16816 [TF frontend] Add test for Split->Conv->Concat scenario
  src/frontends/tensorflow/tests/compilation.cpp
  src/frontends/tensorflow/tests/test_models/models_pbtxt/split_conv_concat.pbtxt
Labels: category: TF FE

#16909 [DOCS] model caching update to GPU
  docs/OV_Runtime_UG/Model_caching_overview.md
  docs/OV_Runtime_UG/supported_plugins/GPU.md
Labels: category: docs

#16910 Fixed ARM CPU tests.
  cmake/developer_package/plugins/plugins.cmake
Labels: category: build

#16899 [GPI]Fixed not to allocate internal buffer with size 0
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/softmax.cpp
Labels: category: GPU

#16853 [GPU] Disable oneDNN failed TCs on dGPU
  src/plugins/intel_gpu/tests/fusions/resample_fusion_test.cpp
Labels: category: GPU

#16875 [GPU] Handle unsupported eltwise fusion for onednn gemm in dynamic cases
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/fusions/gemm_fusion_test.cpp
Labels: category: GPU

#16613 [MO] Fix legacy If
  tools/mo/openvino/tools/mo/ops/If.py
  tools/mo/unit_tests/mo/utils/ir_reader/ops_test.py
Labels: category: MO

#16695 update benchmark_app to remove setting UNDEFINED with -hint none
  samples/cpp/benchmark_app/README.md
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  src/inference/dev_api/ie_performance_hints.hpp
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: category: inference, category: samples, category: docs, category: tools

#16927 Fix for ambiguous overloaded function call
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/benchmark.hpp
Labels: category: IE Tests

#16894 [PT FE] Support prim::DictConstruct on the output
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/transforms/dict_resolver.cpp
  src/frontends/pytorch/src/transforms/dict_resolver.hpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_dict.py
Labels: category: PyTorch FE

#16929 Used cmake interface in ARM compute
  cmake/features.cmake
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/plugins/intel_cpu/thirdparty/FindACL.cmake
Labels: category: CPU, category: build, platform: arm
