Repository openvinotoolkit/openvino, pull requests merged in 2023-02, with the labels that each got.

#15255 [MO] add extractor for TF Any operation
  docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md
  tests/layer_tests/tensorflow_tests/test_tf_LogicalOps.py
  tools/mo/openvino/tools/mo/front/tf/reduce_ext.py
Labels: category: MO, category: docs, category: TF FE

#15274 [PT FE] Add aten::repeat_interleave operator
  src/frontends/pytorch/src/op/repeat_interleave.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_repeat_interleave.py
Labels: category: PyTorch FE

#15339 [PT FE]: Add aten::view transformations
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/op/int.cpp
  src/frontends/pytorch/src/op/reshape.cpp
  src/frontends/pytorch/src/op/view.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/transforms/listconstruct_reshape_replacer.cpp
  src/frontends/pytorch/src/transforms/listconstruct_reshape_replacer.hpp
  tests/layer_tests/pytorch_tests/test_view.py
Labels: category: PyTorch FE

#15424 [TF FE] Add missed layer tests to nightly
  tests/layer_tests/tensorflow_tests/test_tf_BatchToSpaceND.py
  tests/layer_tests/tensorflow_tests/test_tf_Cast.py
  tests/layer_tests/tensorflow_tests/test_tf_ClipByValue.py
  tests/layer_tests/tensorflow_tests/test_tf_Cumsum.py
  tests/layer_tests/tensorflow_tests/test_tf_DynamicPartition.py
  tests/layer_tests/tensorflow_tests/test_tf_Eltwise.py
  tests/layer_tests/tensorflow_tests/test_tf_FusedBatchNorm.py
  tests/layer_tests/tensorflow_tests/test_tf_IsFinite.py
  tests/layer_tests/tensorflow_tests/test_tf_IsInf.py
  tests/layer_tests/tensorflow_tests/test_tf_IsNan.py
  tests/layer_tests/tensorflow_tests/test_tf_L2Loss.py
  tests/layer_tests/tensorflow_tests/test_tf_LRN.py
  tests/layer_tests/tensorflow_tests/test_tf_LogSoftmax.py
  tests/layer_tests/tensorflow_tests/test_tf_MatMul.py
  tests/layer_tests/tensorflow_tests/test_tf_MinMax.py
  tests/layer_tests/tensorflow_tests/test_tf_NormalizeL2.py
  tests/layer_tests/tensorflow_tests/test_tf_ParallelDynamicStitch.py
  tests/layer_tests/tensorflow_tests/test_tf_Rank.py
  tests/layer_tests/tensorflow_tests/test_tf_ReLU6.py
  tests/layer_tests/tensorflow_tests/test_tf_Reduce.py
  tests/layer_tests/tensorflow_tests/test_tf_Resize.py
  tests/layer_tests/tensorflow_tests/test_tf_Reverse.py
  tests/layer_tests/tensorflow_tests/test_tf_Rsqrt.py
  tests/layer_tests/tensorflow_tests/test_tf_SegmentSum.py
  tests/layer_tests/tensorflow_tests/test_tf_SpaceToBatchND.py
  tests/layer_tests/tensorflow_tests/test_tf_Swish.py
  tests/layer_tests/tensorflow_tests/test_tf_TopKV2.py
  tests/layer_tests/tensorflow_tests/test_tf_Unique.py
  tests/layer_tests/tensorflow_tests/test_tf_While.py
Labels: category: TF FE

#15238 [PyOV] Change default opset9->opset10
  src/bindings/python/setup.py
  src/bindings/python/src/openvino/runtime/utils/node_factory.py
  src/bindings/python/tests/test_graph/test_create_op.py
  src/bindings/python/tests/test_graph/test_dft.py
  src/bindings/python/tests/test_graph/test_eye.py
  src/bindings/python/tests/test_graph/test_ops_unary.py
  src/bindings/python/tests/test_graph/test_rdft.py
  src/bindings/python/tests/test_graph/test_reduction.py
Labels: category: Python API, port to 2022.3

#14909 Remove unused interfaces of AUTO/ExecutableNetwork
  src/plugins/auto/executable_network.cpp
  src/plugins/auto/executable_network.hpp
Labels: category: AUTO

#15417 [GPU] Added NV12toBGR single plane surface tests
  src/plugins/intel_gpu/src/plugin/ops/convert_color.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
Labels: category: GPU

#15092 [CPU]FC shape infer with an CPU shapeInfer object
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
Labels: category: CPU

#15418 Docs ov 2022 3 Added results for Sapphire Rapids 6448Y. OV bench results and system config description
  docs/_static/benchmarks_files/OV-2022.3-Performance-Data.xlsx
  docs/_static/benchmarks_files/OV-2022.3-system-info-detailed.xlsx
  docs/_static/benchmarks_files/benchmark-data.csv
  docs/_static/benchmarks_files/platform_list_22.3.pdf
Labels: category: docs

#15409 [DOCS] Restyling the documentation website - for master
  docs/openvino_sphinx_theme/openvino_sphinx_theme/static/css/media/burger.svg
  docs/openvino_sphinx_theme/openvino_sphinx_theme/static/css/openvino_sphinx_theme.css
Labels: category: docs

#15419 [GPU] Use ocl for i32 dtype concat / enable_profiling for dump_profiling
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#15279 Docs: change extras description
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/pypi-openvino-dev.md
Labels: category: docs

#15440 Unlock possibility to install GPU driver on ubuntu22
  scripts/install_dependencies/install_NEO_OCL_driver.sh
Labels: port to master

#14531 Docs/fix convert tf crnn model document
  docs/MO_DG/prepare_model/convert_model/tf_specific/Convert_CRNN_From_Tensorflow.md
Labels: category: docs

#15441 [PT FE] Remove second call for UnrollIf
  src/frontends/pytorch/src/frontend.cpp
Labels: category: PyTorch FE

#15415 Add eltwise types resolving. Support big int constants.
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/frontends/pytorch/src/op/add.cpp
  src/frontends/pytorch/src/op/div.cpp
  src/frontends/pytorch/src/op/pow.cpp
  src/frontends/pytorch/src/op/sub.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/py_frontend_tests/test_torch_decoder.py
  tests/layer_tests/pytorch_tests/test_add.py
  tests/layer_tests/pytorch_tests/test_comparision.py
  tests/layer_tests/pytorch_tests/test_div.py
  tests/layer_tests/pytorch_tests/test_mul.py
  tests/layer_tests/pytorch_tests/test_pow.py
  tests/layer_tests/pytorch_tests/test_sub.py
Labels: category: Python API, category: PyTorch FE

#15435 Fix sanitizer SEGV
  src/core/shape_inference/include/utils.hpp
Labels: category: Core, port to 2022.3

#15364 Remove `OV_FRONTEND_PATH`
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  src/bindings/python/src/pyopenvino/frontend/manager.cpp
  src/bindings/python/tests/test_frontend/test_frontendmanager.py
  src/common/util/include/openvino/util/file_util.hpp
  src/common/util/src/file_util.cpp
  src/core/tests/CMakeLists.txt
  src/core/tests/frontend/frontend_manager.cpp
  src/frontends/common/include/openvino/frontend/manager.hpp
  src/frontends/common/src/manager.cpp
  src/frontends/tests/frontend/shared/include/utils.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/tests/unit/core.cpp
  tests/layer_tests/tensorflow2_keras_tests/conftest.py
  tests/layer_tests/tensorflow_tests/conftest.py
  tools/mo/openvino/tools/mo/utils/find_ie_version.py
Labels: category: inference, category: MO, category: Core, category: IE Tests, category: build, category: Python API, category: CI, category: TF FE, category: CPP API

#15386 [GPU] Allocate output to host if it is to be used as shape infer dependency
  src/plugins/intel_gpu/src/graph/include/activation_inst.h
  src/plugins/intel_gpu/src/graph/include/arg_max_min_inst.h
  src/plugins/intel_gpu/src/graph/include/convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/cum_sum_inst.h
  src/plugins/intel_gpu/src/graph/include/deformable_convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/gather_tree_inst.h
  src/plugins/intel_gpu/src/graph/include/non_max_suppression_inst.h
  src/plugins/intel_gpu/src/graph/include/normalize_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/include/reduce_inst.h
  src/plugins/intel_gpu/src/graph/include/select_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#15016 [GPU] Added shape agnostic ref kernels for Select and Activation
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/activation.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/pooling.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/select.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/select_inst.h
  src/plugins/intel_gpu/src/graph/select.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/activation_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/select_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/activation/activation_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/activation/activation_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/select/select_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/select/select_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/ops/convert.cpp
  src/plugins/intel_gpu/tests/fusions/fully_connected_fusion_test.cpp
  src/plugins/intel_gpu/tests/test_cases/activation_simple_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/select_gpu_test.cpp
Labels: category: GPU

#14534 Xuejun/fix cvs 98110
  src/bindings/c/tests/ie_c_api_test.cpp
  src/bindings/c/tests/ov_compiled_model_test.cpp
  src/bindings/c/tests/ov_core_test.cpp
  src/bindings/c/tests/ov_test.cpp
  src/bindings/c/tests/ov_test.hpp
  src/bindings/c/tests/test_model_repo.hpp
Labels: category: C API

#15446 Fixed cc build
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/core_impl_ie.cpp
Labels: category: inference

#15242 TF FE import model from memory
  tests/layer_tests/mo_python_api_tests/test_mo_convert_tf.py
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/front/tf/loader.py
Labels: category: MO

#15087 [GPU] Optimize eltwise kernel for onednn formats
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/eltwise_b_fs_yx_fsv16.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/eltwise_blocked_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_utils.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_blocked_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_blocked_opt.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_selector.cpp
  src/plugins/intel_gpu/tests/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#15448 fix cases not getting instantiated
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_executable_network/get_metric.cpp
Labels: category: IE Tests, category: GPU

#15416 [ShapeInference] GatherND improvements review
  src/core/shape_inference/include/gather_nd_shape_inference.hpp
Labels: category: Core

#15380 [CPU] MEMC loading failed RuntimeError: There should be only one inst…
  src/plugins/intel_cpu/src/nodes/kernels/registers_pool.hpp
Labels: category: CPU, port to 2022.3

#15454 [TF FE] Refactor ExpandDims translator and add tests
  src/frontends/tensorflow_common/src/op/expand_dims.cpp
  tests/layer_tests/tensorflow_tests/test_tf_ExpandDims.py
Labels: category: TF FE, category: TFL FE

#15461 Add IE_BUILD_POSTFIX to FE_LIB_SUFFIX
  src/core/tests/CMakeLists.txt
Labels: category: Core, category: build

#14597 Add gather lpt transformation
  docs/IE_PLUGIN_DG/layout.xml
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/lpt.md
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/pipeline/step3_main.md
  docs/IE_PLUGIN_DG/plugin_transformation_pipeline/low_precision_transformations/transformations/step3_main/movement/gather.md
  docs/doxygen-xfail.txt
  src/common/low_precision_transformations/include/low_precision/gather.hpp
  src/common/low_precision_transformations/src/gather.cpp
  src/common/low_precision_transformations/src/low_precision.cpp
  src/common/low_precision_transformations/tests/gather_transformation.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/gather_transformation.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/low_precision_transformations/gather_transformation.cpp
  src/tests/functional/plugin/shared/include/low_precision_transformations/gather_transformation.hpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/gather_transformation.cpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/include/lpt_ngraph_functions/gather_function.hpp
  src/tests/ngraph_helpers/lpt_ngraph_functions/src/gather_function.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: LP transformations, category: docs

#15452 [TF FE] Refactor translators for Reduce ops and add layer tests
  src/frontends/tensorflow_common/src/op/reduce.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Reduce.py
  tests/layer_tests/tensorflow_tests/test_tf_ReduceArithmeticOps.py
  tests/layer_tests/tensorflow_tests/test_tf_ReduceLogicalOps.py
Labels: category: TF FE, category: TFL FE

#15311 Add aten stack transformation
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/transforms/aten_stack_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_stack_list_construct_replacer.hpp
  tests/layer_tests/pytorch_tests/test_stack.py
Labels: category: PyTorch FE

#15471 Extend Parallel runner to work in hybrid mode in case cache is not relevant
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: category: IE Tests, conformance

#15457 Fix issue with If and bool type
  src/bindings/python/src/openvino/frontend/pytorch/decoder.py
  src/core/src/op/if.cpp
  src/frontends/pytorch/src/utils.cpp
  tests/layer_tests/py_frontend_tests/test_torch_decoder.py
Labels: category: Core, category: Python API, category: PyTorch FE

#15470 [PT FE]: support prim::min, prim::ListConstruct as output and fix ate…
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/transforms/aten_getitem_replacer.cpp
  src/frontends/pytorch/src/transforms/max_prim_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/min_max_prim_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/min_max_prim_list_construct_replacer.hpp
  src/frontends/pytorch/src/transforms/prim_list_tuple_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_list_tuple_construct_replacer.hpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_min_max.py
  tests/layer_tests/pytorch_tests/test_size.py
  tests/layer_tests/pytorch_tests/test_tuple_construct.py
Labels: category: PyTorch FE

#15400 [GPU] Add layout supports for shuffle_channels
  src/plugins/intel_gpu/src/graph/impls/ocl/shuffle_channels.cpp
Labels: category: GPU

#15143 [GPU] Use onednn fc/gemm in dGPU.
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_onednn_optimization_attributes.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#15317 [GPU] Added shape agnostic optimized GEMM kernel
  src/plugins/intel_gpu/src/graph/include/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_tiled_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/tests/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#15433 Fix tensor vector comparator for set
  src/core/src/bound_evaluate.cpp
Labels: category: Core

#15475 Fix OpenVINO 2022.3.0 Chrome OS compilation
  src/core/include/openvino/op/constant.hpp
Labels: ExternalIntelPR, port to master

#15220 Template ov plugin
  cmake/developer_package/plugins/plugins.cmake
  docs/IE_PLUGIN_DG/ExecutableNetwork.md
  docs/IE_PLUGIN_DG/Plugin.md
  src/bindings/c/src/common.h
  src/bindings/c/src/ie_c_api.cpp
  src/core/include/openvino/core/except.hpp
  src/core/src/except.cpp
  src/inference/CMakeLists.txt
  src/inference/dev_api/cpp_interfaces/impl/ie_executable_network_thread_safe_default.hpp
  src/inference/dev_api/openvino/runtime/icompiled_model.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/cpp/exception2status.hpp
  src/inference/src/cpp/ie_infer_async_request_base.hpp
  src/inference/src/cpp/ie_infer_request.cpp
  src/inference/src/cpp_interfaces/interface/ie_iexecutable_network_internal.cpp
  src/inference/src/cpp_interfaces/interface/ie_iinfer_request_internal.cpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/icompiled_model.cpp
  src/inference/src/dev/icompiled_model_wrapper.cpp
  src/inference/src/dev/icompiled_model_wrapper.hpp
  src/inference/src/dev/preprocessing/mean_image.cpp
  src/inference/src/dev/preprocessing/mean_image.hpp
  src/inference/src/dev/preprocessing/preprocessing.cpp
  src/inference/src/dev/preprocessing/preprocessing.hpp
  src/inference/src/ie_common.cpp
  src/plugins/template/include/template/config.hpp
  src/plugins/template/include/template/template_config.hpp
  src/plugins/template/src/CMakeLists.txt
  src/plugins/template/src/compiled_model.cpp
  src/plugins/template/src/compiled_model.hpp
  src/plugins/template/src/plugin.cpp
  src/plugins/template/src/plugin.hpp
  src/plugins/template/src/template_config.cpp
  src/plugins/template/src/template_config.hpp
  src/plugins/template/src/template_executable_network.cpp
  src/plugins/template/src/template_executable_network.hpp
  src/plugins/template/src/template_infer_request.cpp
  src/plugins/template/src/template_infer_request.hpp
  src/plugins/template/src/template_plugin.cpp
  src/plugins/template/src/template_plugin.hpp
  src/plugins/template/src/transformations/preprocessing/mean_image_or_value.hpp
  src/plugins/template/src/transformations/preprocessing/preprocessing.cpp
  src/plugins/template/src/transformations/preprocessing/std_scale.cpp
  src/plugins/template/src/transformations/preprocessing/std_scale.hpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/plugin/configuration_tests.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
Labels: category: inference, category: Core, category: IE Tests, category: build, category: C API, category: docs, category: TEMPLATE, category: CPP API

#15462 [DOCS] minor adjustments to Add. Res. sections in Install guide
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-apt.md
  docs/install_guides/installing-openvino-brew.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-docker-linux.md
  docs/install_guides/installing-openvino-docker-windows.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-linux-header.md
  docs/install_guides/installing-openvino-linux.md
  docs/install_guides/installing-openvino-macos-header.md
  docs/install_guides/installing-openvino-macos.md
  docs/install_guides/installing-openvino-overview.md
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/installing-openvino-raspbian.md
  docs/install_guides/installing-openvino-windows-header.md
  docs/install_guides/installing-openvino-windows.md
  docs/install_guides/installing-openvino-yocto.md
  docs/install_guides/installing-openvino-yum.md
  docs/install_guides/pypi-openvino-dev.md
  docs/install_guides/pypi-openvino-rt.md
  docs/resources/supported_models.md
Labels: category: docs

#14965 [FP16] call marking for mixed precision inside ConvertPrecision
  src/common/transformations/include/transformations/common_optimizations/convert_compressed_to_mixed_precision.hpp
  src/common/transformations/include/transformations/common_optimizations/convert_compression_only_to_legacy.hpp
  src/common/transformations/include/transformations/enable_decompression_convert_constant_folding.hpp
  src/common/transformations/src/transformations/common_optimizations/align_mixed_fp32_fp16_types.cpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/common_optimizations/convert_compressed_to_mixed_precision.cpp
  src/common/transformations/src/transformations/common_optimizations/convert_compression_only_to_legacy.cpp
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/src/transformations/enable_decompression_convert_constant_folding.cpp
  src/common/transformations/tests/common_optimizations/align_mixed_fp32_fp16_types_test.cpp
  src/common/transformations/tests/common_optimizations/convert_compressed_to_mixed_precision_test.cpp
  src/common/transformations/tests/utils/convert_precision.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, category: transformations

#15150 [nGraph]: fix fused names for ShuffleChannelsFusion transformation
  src/common/transformations/src/transformations/common_optimizations/shuffle_channels_fusion.cpp
  src/inference/tests/unit/query_model_test.cpp
Labels: category: inference, category: transformations, port to 2022.3

#15485 remove MYRIAD/HDDL related tests in auto/multi and re-enable unit tests in CI
  .ci/azure/linux.yml
  .ci/azure/linux_debian.yml
  .ci/azure/windows.yml
  src/tests/unit/auto/auto_select_device_failed_test.cpp
  src/tests/unit/auto/exec_network_get_metrics.cpp
  src/tests/unit/auto/get_device_list.cpp
  src/tests/unit/auto/parse_meta_device_test.cpp
Labels: category: IE Tests, category: CI

#15483 Port PR 15475
  src/core/include/openvino/op/constant.hpp
Labels: category: Core, category: CPP API

#15481 Enable clone test after PR 15220
  src/plugins/template/src/compiled_model.cpp
  src/plugins/template/src/compiled_model.hpp
  src/plugins/template/src/plugin.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
Labels: category: TEMPLATE

#15487 [TF FE] Refactor LeakyRelu and add layer tests
  src/frontends/tensorflow_common/src/op/leaky_relu.cpp
  tests/layer_tests/tensorflow_tests/test_tf_LeakyRelu.py
Labels: category: TF FE, category: TFL FE

#15495 [TF FE] Refactor LinSpace translator and add layer test
  src/frontends/tensorflow_common/src/op/linspace.cpp
  tests/layer_tests/tensorflow_tests/test_tf_LinSpace.py
Labels: category: TF FE, category: TFL FE

#15502 [LPT] clang merge warning fix
  src/common/low_precision_transformations/include/low_precision/propagate_through_precision_preserved.hpp
  src/common/low_precision_transformations/include/low_precision/propagate_to_input.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/avg_pool_precision_preserved_attribute.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/intervals_alignment_attribute.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/precisions_attribute.hpp
  src/common/low_precision_transformations/include/low_precision/rt_info/quantization_alignment_attribute.hpp
  src/common/low_precision_transformations/src/rt_info/avg_pool_precision_preserved_attribute.cpp
  src/common/low_precision_transformations/src/rt_info/intervals_alignment_attribute.cpp
  src/common/low_precision_transformations/src/rt_info/precisions_attribute.cpp
  src/common/low_precision_transformations/src/rt_info/quantization_alignment_attribute.cpp
Labels: category: LP transformations

#15484 scripts/install_dependencies/install_NEO_OCL_driver.sh: code style
  scripts/install_dependencies/install_NEO_OCL_driver.sh
Labels: category: dependency_changes, port to 2022.3

#15480 Parallelize build_samples_msvc.bat (#14828)
  samples/cpp/build_samples_msvc.bat
Labels: category: samples

#15492 Throw an exceptions in case of incorrect pointers in Model creation
  src/core/src/model.cpp
  src/core/src/node_input.cpp
  src/core/src/node_output.cpp
  src/core/tests/model.cpp
  src/core/tests/node_input_output.cpp
Labels: category: Core

#15504 Update README.md
  README.md
Labels: category: docs, ExternalPR, port to 2022.3

#15497 [PyOV] Add ExecutionMode enum and property
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
Labels: category: Python API

#15505 Added "-Woverloaded-virtual" warning to clang
  cmake/developer_package/compile_flags/os_flags.cmake
Labels: category: build, platform: macOS

#15248 Speed-up CC builds on Azure
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/windows_conditional_compilation.yml
Labels: category: CI

#15509 Removed shellcheck suppression for GPU configure script
  scripts/CMakeLists.txt
Labels: category: build, category: dependency_changes, port to 2022.3

#15508 Trying to fix debian packages
  .ci/azure/linux_debian.yml
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
Labels: category: build, category: CI, port to 2022.3, category: packaging

#14754 [AUTO plugin] MULTI_DEVICE_PRIORITIES doesn't return device list by priority order from high to low
  src/plugins/auto/plugin.cpp
  src/plugins/auto/utils/config.hpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/executable_network/get_metric.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/behavior/plugin/core_threading_tests.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/unit/auto/auto_release_helper_test.cpp
  src/tests/unit/auto/auto_select_device_failed_test.cpp
  src/tests/unit/auto/exec_network_get_metrics.cpp
  src/tests/unit/auto/key_network_priority_test.cpp
  src/tests/unit/auto/plugin/mock_auto_device_plugin.hpp
  src/tests/unit/auto/select_device_test.cpp
Labels: category: IE Tests, category: GNA, category: AUTO

#15176 [GPU] Update ScatterNDUpdate Op to use ngraph shape infer
  src/plugins/intel_gpu/src/graph/include/scatter_nd_update_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/scatter_nd_update.cpp
  src/plugins/intel_gpu/tests/shape_infer/scatter_nd_update_si_test.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/scatter_nd_update.cpp
Labels: category: GPU

#15499 [TF FE] Refactor ListDiff translator and add layer test
  src/frontends/tensorflow_common/src/op/list_diff.cpp
  tests/layer_tests/tensorflow_tests/test_tf_ListDiff.py
Labels: category: TF FE, category: TFL FE

#15512 [TF FE] Add layer tests for If operation
  tests/layer_tests/tensorflow_tests/test_tf_If.py
Labels: category: TF FE

#15515 Add a disclaimer about CentOS for YUM install (#15453)
  docs/install_guides/installing-openvino-yum.md
Labels: category: docs

#15356 [DOCS]Fixing links in 'Install Openvino on Windows from Archive' article - for master
  docs/install_guides/installing-openvino-from-archive-windows.md
Labels: category: docs

#15465 [GPU] Limit legacy fusions usage in Convolution kernels
  src/plugins/intel_gpu/src/graph/kernel_selector_helper.cpp
  src/plugins/intel_gpu/tests/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#15396 [GPU] Shape agnostic FC opt tiled kernel
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bf_tiled.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  src/plugins/intel_gpu/tests/fake_alignment/fc_fake_alignment_test.cpp
  src/plugins/intel_gpu/tests/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU

#13719 [C API] remote tensor support
  src/bindings/c/include/openvino/c/gpu/gpu_plugin_properties.h
  src/bindings/c/include/openvino/c/openvino.h
  src/bindings/c/include/openvino/c/ov_common.h
  src/bindings/c/include/openvino/c/ov_compiled_model.h
  src/bindings/c/include/openvino/c/ov_core.h
  src/bindings/c/include/openvino/c/ov_prepostprocess.h
  src/bindings/c/include/openvino/c/ov_remote_context.h
  src/bindings/c/src/common.h
  src/bindings/c/src/ov_compiled_model.cpp
  src/bindings/c/src/ov_core.cpp
  src/bindings/c/src/ov_prepostprocess.cpp
  src/bindings/c/src/ov_remote_context.cpp
  src/bindings/c/tests/CMakeLists.txt
  src/bindings/c/tests/ov_preprocess_test.cpp
  src/bindings/c/tests/ov_remote_context_test.cpp
Labels: category: build, category: C API

#15518 [TF FE] Add layer test for Pack
  src/frontends/tensorflow_common/src/op/pack.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Pack.py
Labels: category: TF FE, category: TFL FE

#15477 [GPU] Added strided_slice shape agnostic kernel
  src/plugins/intel_gpu/src/graph/impls/ocl/strided_slice.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/strided_slice_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/strided_slice/strided_slice_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/strided_slice/strided_slice_kernel_ref.h
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/tests/test_cases/strided_slice_gpu_test.cpp
Labels: category: GPU

#15240 [CI] Add task UsePythonVersion@0 to Azure Pipelines
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_onnxruntime.yml
Labels: category: CI

#15531 [CONFORMANCE] Change log extension in runner
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: category: IE Tests, conformance

#15519 [TF FE] Refactor Unpack and add layer test
  src/frontends/tensorflow_common/src/op/unpack.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Unpack.py
Labels: category: TF FE, category: TFL FE

#15007 [GPU] Serialization of read_value and assign
  src/plugins/intel_gpu/src/graph/assign.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/assign.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/read_value.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/assign_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/read_value_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/read_value.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/tests/test_cases/variable.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/skip_tests_config.cpp
Labels: category: GPU

#15503 [TF FE] Support TensorList operations and RNN layers
  src/frontends/tensorflow/src/op/while.cpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/tensor_list_operations.cpp
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_gru.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_lstm.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_rnn.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_simplernn.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_stackedrnncells.py
  tools/mo/openvino/tools/mo/convert_impl.py
Labels: category: MO, category: TF FE, category: TFL FE

#15113 update Linux CPU map parser and add unit test
  src/inference/dev_api/ie_system_conf.h
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser.cpp
Labels: category: inference

#15536 [HDDL] - Update path
  cmake/developer_package/download/download_and_extract.cmake
Labels: category: VPU

#15525 [GPU] Show num_ccs for RANGE_FOR_STREAMS
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: GPU

#15522 Fix void function returns value kw issue Master branch
  src/core/include/ngraph/opsets/opset.hpp
Labels: category: Core, category: CPP API

#15434 [GPU] fix bug on resample_opt
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/resample_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/resample/resample_kernel_opt.cpp
Labels: category: GPU

#15548 [TF FE] Refactor Range and add layer test
  src/frontends/tensorflow_common/src/op/range.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Range.py
Labels: category: TF FE, category: TFL FE

#14710 enable new method to generate CPU information and CPU map on Windows
  src/inference/dev_api/ie_system_conf.h
  src/inference/src/os/win/win_system_conf.cpp
Labels: category: inference

#15550 [CONFORMANCE] FIX bug with the dynamic shapes to separate run
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/ops_cache.cpp
  src/tests/functional/plugin/conformance/test_runner/conformance_infra/src/read_ir_test/read_ir.cpp
Labels: category: IE Tests, conformance

#15009 [CPU] Sporadic SIGFAULT in GridSample.
  src/plugins/intel_cpu/src/nodes/grid_sample.cpp
  src/plugins/intel_cpu/src/nodes/kernels/grid_sample.cpp
  src/plugins/intel_cpu/src/nodes/kernels/jit_kernel_base.cpp
  src/plugins/intel_cpu/src/nodes/kernels/jit_kernel_base.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/grid_sample.cpp
Labels: category: CPU

#15551 [TF FE] Refactor Shape translator and add layer test
  src/frontends/tensorflow_common/src/op/shape.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Shape.py
Labels: category: TF FE, category: TFL FE

#15529 Preserving logger state in mo.convert_model().
  tools/mo/openvino/tools/mo/convert.py
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/utils/logger.py
  tools/mo/unit_tests/mo/convert/logger_test_actual.py
  tools/mo/unit_tests/mo/frontend_ngraph_test.py
Labels: category: MO

#15549 [TF FE] Refactor Reshape and add layer test
  src/frontends/tensorflow_common/src/op/reshape.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Reshape.py
Labels: category: TF FE, category: TFL FE

#15553 [TF FE] Refactor Softmax and add layer test
  src/frontends/tensorflow_common/src/op/softmax.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Softmax.py
Labels: category: TF FE, category: TFL FE

#15533 install_NEO_OCL_driver: Fixed ShellCheck errors
  scripts/install_dependencies/What
  scripts/install_dependencies/install_NEO_OCL_driver.sh
Labels: category: packaging

#15516 Export TBlob specialization for Windows
  src/inference/include/ie/ie_blob.h
  src/inference/src/ie_blob_common.cpp
Labels: category: inference, platform: win32, port to 2022.3, category: CPP API

#15442 Replace ListConstruct on inputs to Roll and Broadcast
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/transforms/listconstruct_replacer.cpp
  src/frontends/pytorch/src/transforms/listconstruct_replacer.hpp
  src/frontends/pytorch/src/transforms/listconstruct_reshape_replacer.cpp
Labels: category: PyTorch FE

#15410 Enable TransposeSinking transformation in Tensorflow FrontEnd
  src/common/transformations/include/transformations/common_optimizations/transpose_sinking_utils.hpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_binary.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_concat.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_pad.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_split.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking_utils.cpp
  src/common/transformations/tests/common_optimizations/transpose_sinking_pad_test.cpp
  src/frontends/tensorflow/src/frontend.cpp
Labels: category: transformations, category: TF FE

#15482 Deprecate clone_model API, use model->clone() instead of
  src/bindings/python/src/pyopenvino/graph/util.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/core/include/ngraph/graph_util.hpp
  src/core/include/openvino/core/descriptor/tensor.hpp
  src/core/include/openvino/core/graph_util.hpp
  src/core/include/openvino/core/model.hpp
  src/core/src/descriptor/tensor.cpp
  src/core/src/graph_util.cpp
  src/core/src/model.cpp
  src/core/src/op/if.cpp
  src/core/src/pass/serialize.cpp
  src/core/tests/frontend/frontend_manager.cpp
  src/core/tests/model.cpp
  src/core/tests/pass/serialization/serialize.cpp
  src/frontends/pytorch/src/pt_framework_node.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/conv_sum_broadcast.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/subgraph_serialize.cpp
  src/plugins/intel_gpu/src/plugin/program.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/ie_test_utils/common_test_utils/tests/graph_comparator_tests.cpp
Labels: category: Core, category: IE Tests, category: GPU, category: CPU, category: Python API, category: CPP API, category: PyTorch FE

#15547 [HETERO] Return only own properties for compiled model
  src/plugins/hetero/executable_network.cpp
  src/tests/functional/plugin/shared/include/behavior/executable_network/get_metric.hpp
Labels: category: IE Tests, category: HETERO, do_not_merge

#15562 [GPU] Fix reset_execution() method with wait option enabled for `in_order` queue type
  src/plugins/intel_gpu/src/graph/network.cpp
Labels: category: GPU

#14653 add default infer_probs
  src/core/src/op/proposal.cpp
Labels: category: Core

#15474 [ShapeInference] CTCGreedyDecoder shape infer improvements
  src/core/include/openvino/op/ctc_greedy_decoder.hpp
  src/core/shape_inference/include/ctc_greedy_decoder_shape_inference.hpp
  src/core/tests/type_prop/ctc_greedy_decoder.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/ctc_greedy_decoder_shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/ctc_greedy_decoder_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#15520 Fix void function returns value kw issue
  src/core/include/ngraph/opsets/opset.hpp
Labels: ported to master

#15570 [TF FE] Fix sporadic failure in LinSpace
  src/frontends/tensorflow_common/src/op/linspace.cpp
Labels: category: TF FE, category: TFL FE

#15556 ONNX TopK missing tests
  src/frontends/onnx/tests/models/top_k_repeating.prototxt
  src/frontends/onnx/tests/models/top_k_repeating_1D.prototxt
  src/frontends/onnx/tests/models/top_k_repeating_axis_0.prototxt
  src/frontends/onnx/tests/models/top_k_repeating_unsorted.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/runtime/ie/unit_test.manifest
  src/frontends/onnx/tests/runtime/interpreter/unit_test.manifest
  src/tests/engines_util/test_case.cpp
  src/tests/engines_util/test_case.hpp
Labels: category: IE Tests, category: ONNX FE

#15572 [TF FE] Support SaveV2 operation
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/test_models/models_pbtxt/model_savev2.pbtxt
  src/frontends/tensorflow_common/include/helper_transforms/unsupported_const_to_result_remover.hpp
  src/frontends/tensorflow_common/src/helper_transforms/unsupported_const_to_result_remover.cpp
  src/frontends/tensorflow_common/src/op/no_op.cpp
Labels: category: TF FE, category: TFL FE

#15538 [CONFORMANCE] Fix issue with overflowed crash
  src/tests/ie_test_utils/functional_test_utils/src/summary/op_summary.cpp
Labels: category: IE Tests, conformance

#15464 [CPU] MEMC loading failed RuntimeError: There should be only one inst…
  src/plugins/intel_cpu/src/nodes/kernels/registers_pool.hpp
Labels: category: CPU, ported to master

#15426 Review reverse class for shape inference aspects
  src/core/shape_inference/include/compare.hpp
  src/core/shape_inference/include/reverse_shape_inference.hpp
  src/core/src/op/reverse.cpp
  src/core/tests/type_prop/reverse.cpp
  src/plugins/intel_cpu/src/utils/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/reverse_shape_inference_test.cpp
Labels: category: Core, category: CPU

#15501 [ShapeInference] CTCGreedyDecoderSeqLen shape infer improvements
  src/core/include/openvino/op/ctc_greedy_decoder_seq_len.hpp
  src/core/shape_inference/include/ctc_greedy_decoder_seq_len_shape_inference.hpp
  src/core/src/op/ctc_greedy_decoder_seq_len.cpp
  src/core/tests/type_prop/ctc_greedy_decoder_seq_len.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/ctc_greedy_decoder_seq_len_shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/ctc_greedy_decoder_seq_len_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#15559 [CONFORMANCE] Add support of models and lists of models to the conformance rrunner
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/data/models.lst
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
  src/tests/ie_test_utils/functional_test_utils/layer_tests_summary/utils/file_utils.py
Labels: category: IE Tests, conformance

#15546 [MO] Add support for dynamic cases in legacy Broadcast shape infer
  tools/mo/openvino/tools/mo/ops/broadcast.py
  tools/mo/unit_tests/mo/ops/broadcast_test.py
Labels: category: MO

#15496 [LPT] AddTransformation: checking constants for infinity
  src/common/low_precision_transformations/include/low_precision/network_helper.hpp
  src/common/low_precision_transformations/src/add.cpp
  src/common/low_precision_transformations/src/fake_quantize.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/low_precision_transformations/tests/add_transformation.cpp
Labels: category: LP transformations

#15560 [PT FE] Fix GroupConvolution weights reshape
  src/frontends/pytorch/src/op/conv_transposend.cpp
  src/frontends/pytorch/src/op/convnd.cpp
  src/frontends/pytorch/src/op/convolution.cpp
  src/frontends/pytorch/src/op/convolution_mode.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/pytorch_tests/test_convnd.py
Labels: category: PyTorch FE

#15577 Fixed compilation error after conflicting PRs merge
  src/core/shape_inference/include/reverse_shape_inference.hpp
Labels: category: Core

#15558 move CPU mapping parser API from dev_api header file to specific header file
  src/inference/dev_api/ie_system_conf.h
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/src/streams_executor.hpp
  src/inference/tests/unit/cpu_map_parser.cpp
Labels: category: inference

#15408 Port changes for installing GPU driver from 2022.3 branch
  docs/install_guides/configurations-for-intel-gpu.md
  scripts/CMakeLists.txt
  scripts/install_dependencies/install_NEO_OCL_driver.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
  tools/deployment_manager/configs/linux.json
Labels: category: build, category: docs, category: tools, category: dependency_changes

#15567 [GPU] Added ScatterNDUpdate shape agnostic kernel
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_nd_update.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/scatter_nd_update_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_nd_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_nd_update_kernel_ref.h
  src/plugins/intel_gpu/tests/test_cases/scatter_nd_update_gpu_test.cpp
Labels: category: GPU

#15555 [PT FE]: add tests for rsub and handle mixed precision
  src/frontends/pytorch/src/op/rsub.cpp
  tests/layer_tests/pytorch_tests/test_rsub.py
Labels: category: PyTorch FE

#15523 Port relative path 2022.3
  src/inference/src/ie_core.cpp
  src/inference/tests/functional/ov_extension_test.cpp
  src/tests/ie_test_utils/common_test_utils/file_utils.cpp
  src/tests/ie_test_utils/common_test_utils/file_utils.hpp
Labels: ported to master

#15542 [GPU] Optimized permute kernel cannot be fused with both eltwise + reorder.
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_tile_8x8_4x4.cpp
  src/plugins/intel_gpu/tests/fusions/permute_fusion_test.cpp
Labels: category: GPU

#15582 [MO][TF FE] Add additional fallback for Iterator operations
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/unit_tests/moc_tf_fe/conversion_basic_models.py
  tools/mo/unit_tests/moc_tf_fe/test_models/model_oneshot_iterator.pbtxt
Labels: category: MO

#15422 [GPU] add different type support in range kernel
  src/plugins/intel_gpu/src/kernel_selector/kernels/range/range_kernel_ref.cpp
  src/tests/functional/plugin/gpu/single_layer_tests/dynamic/range.cpp
Labels: category: GPU

#15534 [GPU] Added shape agnostic NonZero ref kernel
  src/plugins/intel_gpu/src/graph/impls/ocl/non_zero.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/count_nonzero_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_nonzero_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/count_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/count_nonzero_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/gather_nonzero_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_zero/gather_nonzero_kernel_ref.h
  src/plugins/intel_gpu/tests/test_cases/non_zero_gpu_test.cpp
Labels: category: GPU

#15490 [PT FE] Add aten::empty operator with layer test
  src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_empty.py
Labels: category: PyTorch FE

#15585 Windows ARM64 support via LLVM
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/features.cmake
  cmake/developer_package/target_flags.cmake
  src/bindings/python/src/compatibility/openvino/inference_engine/CMakeLists.txt
  src/bindings/python/src/pyopenvino/graph/node_output.cpp
  src/bindings/python/src/pyopenvino/graph/node_output.hpp
  src/common/conditional_compilation/CMakeLists.txt
  src/common/offline_transformations/src/generate_mapping_file.cpp
  src/common/util/src/file_util.cpp
  src/core/tests/aligned_buffer.cpp
  src/frontends/common/include/openvino/frontend/input_model.hpp
  src/frontends/ir/src/input_model.hpp
  src/frontends/ir/src/os/win/win_mmap_object.cpp
  src/frontends/pytorch/src/input_model.hpp
  src/inference/src/file_utils.cpp
  src/inference/src/os/win/win_system_conf.cpp
  thirdparty/CMakeLists.txt
  thirdparty/gflags/CMakeLists.txt
  thirdparty/zlib/CMakeLists.txt
Labels: category: inference, category: Core, category: build, category: Python API, category: transformations, category: samples, category: IR FE, category: CPP API, category: PyTorch FE

#15584 [TF FE] Refactor Tile and add layer test
  src/frontends/tensorflow_common/src/op/tile.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Tile.py
Labels: category: TF FE, category: TFL FE

#15472 [ONNX FE] Introduced topological sort as additional step of reading model
  src/frontends/onnx/frontend/src/editor.cpp
  src/frontends/onnx/tests/CMakeLists.txt
  src/frontends/onnx/tests/models/model_editor/topological_sort/add_abc_const_node_unsorted.prototxt
  src/frontends/onnx/tests/models/model_editor/topological_sort/completely_unsorted.prototxt
  src/frontends/onnx/tests/models/model_editor/topological_sort/completely_unsorted_2.prototxt
  src/frontends/onnx/tests/models/model_editor/topological_sort/empty_input_name.prototxt
  src/frontends/onnx/tests/models/model_editor/topological_sort/multioutput_split_unsorted.prototxt
  src/frontends/onnx/tests/models/model_editor/topological_sort/same_name_of_unsorted_node_and_initializer.prototxt
  src/frontends/onnx/tests/models/model_editor/topological_sort/two_nodes_swap.prototxt
  src/frontends/onnx/tests/onnx_editor_topological_sort.cpp
Labels: category: build, category: ONNX FE

#15290 [PyOV] Adding optimizations and shared memory mode to inference calls
  src/bindings/python/src/openvino/runtime/ie_api.py
  src/bindings/python/src/openvino/runtime/utils/data_helpers/__init__.py
  src/bindings/python/src/openvino/runtime/utils/data_helpers/data_dispatcher.py
  src/bindings/python/src/openvino/runtime/utils/data_helpers/wrappers.py
  src/bindings/python/tests/test_runtime/test_compiled_model.py
  src/bindings/python/tests/test_runtime/test_infer_request.py
  src/bindings/python/tests/test_utils/test_data_dispatch.py
Labels: category: Python API, do not merge

#15463 [GPU] Update caching properties for GPU
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/tests/functional/plugin/gpu/CMakeLists.txt
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
Labels: category: GPU, category: build

#15598 Revert "[CI] Add task UsePythonVersion@0 to Azure Pipelines"
  .ci/azure/android_arm64.yml
  .ci/azure/linux.yml
  .ci/azure/linux_arm64.yml
  .ci/azure/linux_conditional_compilation.yml
  .ci/azure/linux_debian.yml
  .ci/azure/linux_onnxruntime.yml
Labels: category: CI

#15507 Generalized OpenCL handling (#15253)
  .ci/azure/windows_conditional_compilation.yml
  cmake/developer_package/IEDevScriptsConfig.cmake
  cmake/features.cmake
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  docs/snippets/CMakeLists.txt
  docs/snippets/gpu/context_sharing.cpp
  docs/snippets/gpu/context_sharing_va.cpp
  docs/snippets/gpu/preprocessing.cpp
  docs/snippets/gpu/queue_sharing.cpp
  docs/snippets/gpu/remote_objects_creation.cpp
  install_build_dependencies.sh
  samples/cpp/benchmark_app/CMakeLists.txt
  src/bindings/python/CMakeLists.txt
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_gpu/include/intel_gpu/plugin/remote_context.hpp
  src/plugins/intel_gpu/include/va/va.h
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_ext.hpp
  src/plugins/intel_gpu/tests/CMakeLists.txt
  src/plugins/intel_gpu/tests/test_cases/mem_perf_test.cpp
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
  src/tests/functional/plugin/gpu/CMakeLists.txt
  src/tests/functional/plugin/gpu/remote_blob_tests/dx11_remote_ctx_test.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/gpu_remote_tensor_tests.cpp
  src/tests/functional/plugin/gpu/remote_blob_tests/remote_blob_helpers.hpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/executable_network/get_metric.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/gpu/shared_tests_instances/behavior/plugin/core_integration.cpp
  src/tests/functional/plugin/shared/include/multi/multi_remote_blob_multidevice_test.hpp
  thirdparty/CMakeLists.txt
  thirdparty/ocl/CMakeLists.txt
Labels: category: GPU, category: build, ported to master

#15593 [GPU] Show num_ccs for RANGE_FOR_STREAMS
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: ported to master

#15539 [CONFORMANCE][IE TEESTS] Move Summary from ngraph:: to ov::
  src/tests/functional/plugin/shared/include/single_layer_tests/op_impl_check/single_op_graph.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/caching_tests.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/summary/op_summary.hpp
  src/tests/ie_test_utils/functional_test_utils/include/functional_test_utils/summary/summary.hpp
  src/tests/ie_test_utils/functional_test_utils/src/summary/op_summary.cpp
Labels: category: IE Tests, conformance

#15541 Port #15516
  src/inference/include/ie/ie_blob.h
  src/inference/src/ie_blob_common.cpp
Labels: ported to master

#15618 PrePostProcessor - compilation warning fix
  src/core/src/preprocess/pre_post_process.cpp
Labels: category: Core

#15602 [CPU][DEBUG CAPS] Build fix
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/transformation_pipeline.h
  src/plugins/intel_cpu/src/utils/debug_capabilities.h
Labels: bug, category: CPU, category: build

#15607 DEB: use alternative package names for nlohmann json
  cmake/packaging/debian.cmake
  samples/cpp/benchmark_app/CMakeLists.txt
Labels: category: build, category: samples, category: packaging

#15579 [GPU] Added ScatterUpdate shape agnostic kernel
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_update.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/scatter_update_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_update_kernel_ref.h
  src/plugins/intel_gpu/tests/test_cases/scatter_update_gpu_test.cpp
Labels: category: GPU

#14836 Docs: Update the doc on default hint and execution devices property
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/snippets/AUTO7.cpp
  docs/snippets/ov_auto.py
Labels: port to master

#15449 [PT FE] Cannot get length of dynamic dimension
  src/core/src/bound_evaluate.cpp
  src/core/tests/bound_evaluate.cpp
Labels: category: Core

#15565 [CPU][DEBUG_CAPS] Transformations dump: added CPU opset serialization for XmlBin format
  src/plugins/intel_cpu/src/docs/debug_caps_filters.md
  src/plugins/intel_cpu/src/utils/ngraph_transformation.hpp
Labels: category: CPU, category: docs

#15581 Fix ov_coverage target
  cmake/coverage.cmake
Labels: category: build

#15576 [PT FE] Fix aten::flatten, add more tests
  src/frontends/pytorch/src/op/flatten.cpp
  src/frontends/pytorch/src/op/linear.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/pytorch_tests/test_flatten.py
  tests/layer_tests/pytorch_tests/test_linear.py
  tests/layer_tests/pytorch_tests/test_transpose.py
Labels: category: PyTorch FE

#15566 Workaround DivideConversion transformation issue in convit model
  src/frontends/pytorch/src/op/div.cpp
Labels: category: PyTorch FE

#15628 [TF FE] Fix sporadic failure for TF1 LRN layer test
  src/frontends/tensorflow_common/src/op/lrn.cpp
Labels: category: TF FE, category: TFL FE

#15626 fix clang issue of parser test cases for Android build
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser.cpp
Labels: category: inference

#15367 Graph comparator: added consumers number check
  src/tests/ie_test_utils/common_test_utils/graph_comparator.cpp
  src/tests/ie_test_utils/common_test_utils/graph_comparator.hpp
  src/tests/ie_test_utils/common_test_utils/tests/graph_comparator_tests.cpp
Labels: category: IE Tests

#15587 Add support for concatinating lists in aten::add
  src/frontends/pytorch/src/op/add.cpp
  tests/layer_tests/pytorch_tests/test_add.py
Labels: category: PyTorch FE

#15608 Removed TREAT_WARNING_AS_ERROR option
  cmake/developer_package/features.cmake
  samples/cpp/CMakeLists.txt
Labels: category: build, category: samples

#15586 [TF FE] Refactor Transpose and add layer test
  src/frontends/tensorflow_common/src/op/transpose.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Transpose.py
Labels: category: TF FE, category: TFL FE

#15498 [PyOV] Support BytesIO in read_model and load
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/tests/test_frontend/test_frontend_onnx.py
  src/bindings/python/tests/test_graph/test_manager.py
  src/bindings/python/tests/test_runtime/test_core.py
  src/bindings/python/tests/test_utils/test_utils.py
Labels: category: Python API

#15649 [TF FE] Refactor Log1p translator and add layer test
  src/frontends/tensorflow_common/src/op/log1p.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Log1p.py
Labels: category: TF FE, category: TFL FE

#15591 [TF FE] Fix compilation warnings
  src/frontends/tensorflow/CMakeLists.txt
  src/frontends/tensorflow/src/decoder_proto.cpp
  src/frontends/tensorflow_common/CMakeLists.txt
  src/frontends/tensorflow_common/include/utils.hpp
  src/frontends/tensorflow_common/src/op/einsum.cpp
  src/frontends/tensorflow_common/src/op/strided_slice.cpp
  src/frontends/tensorflow_common/src/pass/transpose_sinking.cpp
  src/frontends/tensorflow_common/src/place.cpp
  src/frontends/tensorflow_common/src/utils.cpp
Labels: category: build, category: TF FE, category: TFL FE

#15648 [TF FE] Refactor ZerosLike and add layer test
  src/frontends/tensorflow_common/src/helper_transforms/embedding_segments_feature_fusing.cpp
  src/frontends/tensorflow_common/src/op/zeros_like.cpp
  tests/layer_tests/tensorflow_tests/test_tf_ZerosLike.py
Labels: category: TF FE, category: TFL FE
