Repository openvinotoolkit/openvino, pull requests merged in 2023-12, with the labels that each got.

#20974 [GPU] Prevent fusing for eltwise which is not broadcastable from input to fused output
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing_through.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/tests/unit/fusions/eltwise_fusion_test.cpp
Labels: category: GPU

#21189 [shape infer]Use ShapeOf node output type to evaluate bound
  src/core/src/op/shape_of.cpp
  src/core/tests/type_prop/shape_of.cpp
Labels: category: Core

#21409 [Common Frontend] Move ComplexTypeMark into common frontend
  src/frontends/common/include/openvino/frontend/complex_type_mark.hpp
  src/frontends/tensorflow_common/include/helper_ops/complex_type_mark.hpp
Labels: category: Core, category: TF FE, category: CPP API, category: TFL FE

#21346 [GHA] Switched CPU functional test runner
  .github/workflows/linux.yml
  .github/workflows/linux_conditional_compilation.yml
Labels: category: CI, github_actions

#21361 [CPU Plugin][Func Test] Upgrade reshape related to API 2.0
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/reshape_chain.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/reshape_fc.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/reshape_inplace.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/reshape_permute_conv_permute_reshape_act.cpp
  src/plugins/intel_gna/tests/functional/shared_tests_instances/subgraph_tests/reshape_permute_conv_permute_reshape_act.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/reshape_permute_conv_permute_reshape_act.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/reshape_permute_conv_permute_reshape_act.hpp
  src/tests/functional/shared_test_classes/src/subgraph/reshape_permute_conv_permute_reshape_act.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: GNA

#21399 add gptq model test in pytorch hub tests
  tests/model_hub_tests/torch_tests/hf_transformers_models
  tests/model_hub_tests/torch_tests/requirements.txt
  tests/model_hub_tests/torch_tests/test_hf_transformers.py
Labels: category: dependency_changes, category: PyTorch FE

#20909 [GPU] Support negative indice for static
  src/plugins/intel_gpu/src/plugin/ops/gather.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
Labels: category: GPU

#21428 [DOCS] Fix wording
  docs/articles_en/openvino_workflow/model_optimization_guide.rst
Labels: category: docs

#21284 [GNA] Use OV thread_local implementation
  src/plugins/intel_gna/src/backend/gna_limitations.cpp
  src/plugins/intel_gna/src/backend/gna_limitations.hpp
  src/plugins/intel_gna/src/gna_plugin.cpp
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/I8_quantisation_test.cpp
  src/plugins/intel_gna/tests/deprecated/unit/engines/gna/i16_quantisation_test.cpp
  src/plugins/intel_gna/tests/unit/backend/gna_limitations_test.cpp
  src/plugins/intel_gna/tests/unit/gna_get_aligned_split_sizes.cpp
  src/plugins/intel_gna/tests/unit/gna_memory_alignment.cpp
  src/plugins/intel_gna/tests/unit/transformations/gna_decompose_2d_convolution.cpp
  src/plugins/intel_gna/tests/unit/transformations/gna_insert_copy_layer.cpp
  src/plugins/intel_gna/tests/unit/transformations/gna_split_convolution_with_large_buffer_size.cpp
  src/plugins/intel_gna/tests/unit/transformations/gna_split_eltwise.cpp
Labels: category: GNA

#21130 [PyOV] Limit protobuf version for conditional compilation tests
  tests/conditional_compilation/requirements.txt
  tests/constraints.txt
Labels: category: dependency_changes

#21426 [GHA] Updated 2-cores runner name
  .github/workflows/cleanup_pip_cache.yml
Labels: category: CI, github_actions

#21425 ConcatFusion: check that replacing input has only 1 consumer
  src/common/transformations/src/transformations/common_optimizations/concat_fusion.cpp
  src/common/transformations/tests/common_optimizations/concat_fusion.cpp
Labels: category: transformations

#21324 [Opset13][Docs] FakeConvert cpp class docstring
  src/core/include/openvino/op/fake_convert.hpp
  src/core/reference/include/openvino/reference/fake_convert.hpp
  src/core/src/op/fake_convert.cpp
Labels: category: Core, category: CPP API

#21415 [GPU] Allow to set empty tensor for inner network of condition primitive
  src/plugins/intel_gpu/src/graph/impls/common/condition.cpp
  src/plugins/intel_gpu/src/graph/input_layout.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/condition_gpu_test.cpp
Labels: category: GPU

#20406 [CPU] Multinomial implementation
  src/bindings/python/src/openvino/runtime/opset13/ops.py
  src/bindings/python/tests/test_graph/test_multinomial.py
  src/core/include/openvino/op/multinomial.hpp
  src/core/reference/include/openvino/reference/multinomial.hpp
  src/core/shape_inference/include/multinomial_shape_inference.hpp
  src/core/tests/type_prop/multinomial.cpp
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/nodes/multinomial.cpp
  src/plugins/intel_cpu/src/nodes/multinomial.hpp
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/common/multinomial.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/multinomial_shape_inference_test.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/multinomial.cpp
  src/plugins/template/tests/functional/op_reference/multinomial.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/multinomial.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/multinomial.hpp
  src/tests/functional/shared_test_classes/src/single_op/multinomial.cpp
Labels: category: Core, category: IE Tests, category: GPU, category: CPU, category: Python API, category: TEMPLATE, category: CPP API

#21061 [AUTO] Update AUTO logic to support state-full model
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/src/plugin.hpp
  src/plugins/auto/tests/unit/stateful_model_test.cpp
Labels: category: AUTO

#21398 [GPU] Fix scatter update axis name
  src/plugins/intel_gpu/src/graph/include/loop_inst.h
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/tests/unit/test_cases/scatter_update_gpu_test.cpp
Labels: category: GPU

#21427 [DOCS] update documentation build instruction
  docs/documentation_build_instructions.md
Labels: category: docs

#21432 [DOCS] Add legacy notes
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/convert_python_model_objects.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/cutting_model.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/embedding_preprocessing_computation.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/fp16_compression.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/model_optimizer_faq.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/setting_input_shapes.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/Convert_Model_From_ONNX.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/Convert_Model_From_Paddle.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/Convert_Model_From_PyTorch.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/Convert_Model_From_TensorFlow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/Convert_Model_From_TensorFlow_Lite.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_AttentionOCR_From_Tensorflow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_BERT_From_Tensorflow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_Bert_ner.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_CRNN_From_Tensorflow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_Cascade_RCNN_res101.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_DeepSpeech_From_Tensorflow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_EfficientDet_Models.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_F3Net.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_FaceNet_From_Tensorflow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_Faster_RCNN.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_GNMT_From_Tensorflow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_GPT2.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_Mask_RCNN.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_NCF_From_Tensorflow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_Object_Detection_API_Models.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_QuartzNet.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_RCAN.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_RNNT.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_RetinaNet_From_Tensorflow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_Slim_Library_Models.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_WideAndDeep_Family_Models.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_XLNet_From_Tensorflow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_YOLACT.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_YOLO_From_Tensorflow.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_lm_1b_From_Tensorflow.rst
Labels: category: docs

#21099 [core]Correct Constant creation from string
  src/core/include/openvino/op/constant.hpp
  src/core/src/op/constant.cpp
  src/core/tests/constant.cpp
Labels: category: Core, category: CPP API

#21384 Upgrade CPU func tests to 2.0
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/inplace_edge.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/input_output_tensor_reuse.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/input_tensor_roi.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/interaction.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/memory_sharing_test.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/mha.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/ngram.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/param_result_custom_blob.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/remove_convert.cpp
Labels: category: CPU

#21357 Upgrade CPU func tests to 2.o
  src/common/transformations/src/transformations/convert_precision.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/add_convert_to_reorder.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/align_matmul_input_ranks.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/gather_add_avgpool.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/input_noreorder_eltwise_bf16.cpp
Labels: category: CPU, category: transformations

#21386 [CPU tests] migrate sub_graph test cases to be 2.0 - part 3
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/any_layout.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/split_concat_add.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/split_matmul_concat.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/strided_slice_zero_dims.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/subgraph_serialize.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/arm/filter_cpu_info.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/cpu_test_utils.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/cpu_test_utils.hpp
  src/plugins/intel_cpu/tests/functional/test_utils/fusing_test_utils.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/fusing_test_utils.hpp
  src/plugins/intel_cpu/tests/functional/test_utils/x64/filter_cpu_info.cpp
Labels: category: CPU

#21439 [TF FE] Support different types: tf.i8, u8, i16, u16, i32, u32, i64, u64, f16, f32, bf16
  src/frontends/tensorflow/src/graph_iterator_meta.cpp
  src/frontends/tensorflow/src/graph_iterator_saved_model.cpp
  src/frontends/tensorflow/src/tf_utils.cpp
  tests/layer_tests/tensorflow_tests/test_tf_AddTypes.py
Labels: category: TF FE

#21419 [Symbolic Transformation] DeReshape FullyConnected
  src/common/transformations/include/transformations/symbolic_transformations/dereshape_matmul.hpp
  src/common/transformations/src/transformations/symbolic_transformations/dereshape_matmul.cpp
  src/common/transformations/src/transformations/symbolic_transformations/symbolic_optimizations.cpp
  src/common/transformations/tests/symbolic_transformations/dereshape_fullyconnected.cpp
Labels: category: transformations

#20809 [CI] [GHA] Introduce the Linux ARM64 workflow
  .github/actions/setup_python/action.yml
  .github/workflows/linux_arm64.yml
  src/common/transformations/tests/utils/compress_quantize_weights.cpp
  src/frontends/onnx/tests/__init__.py
  src/frontends/onnx/tests/runtime/ie/unit_test.manifest
  src/frontends/onnx/tests/tests_python/test_backend.py
  src/frontends/tensorflow/tests/compilation.cpp
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
  tests/layer_tests/onnx_tests/test_reduce_lp.py
  tests/layer_tests/onnx_tests/test_roi_align.py
  tests/layer_tests/pytorch_tests/test_all.py
  tests/layer_tests/pytorch_tests/test_argmax_argmin.py
  tests/layer_tests/pytorch_tests/test_div.py
  tests/layer_tests/pytorch_tests/test_native_multi_head_attention.py
  tests/layer_tests/pytorch_tests/test_norm.py
  tests/layer_tests/tensorflow_tests/test_tf_ComplexFFT.py
  tests/layer_tests/tensorflow_tests/test_tf_MaxPoolWithArgmax.py
  tests/layer_tests/tensorflow_tests/test_tf_NormalizeL2.py
  tests/layer_tests/tensorflow_tests/test_tf_TopKV2.py
  tests/layer_tests/tensorflow_tests/test_tf_TruncateDiv.py
  tests/samples_tests/smoke_tests/test_speech_sample.py
Labels: category: MO, category: transformations, category: samples, category: CI, category: ONNX FE, category: TF FE, github_actions, category: PyTorch FE

#21454 [GHA] Fixed initial cache creation
  src/tests/test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: category: IE Tests

#21396 [core] Remove tensor conversion utils from new API
  src/core/dev_api/openvino/core/shape_util.hpp
  src/core/dev_api/tensor_conversion_util.hpp
  src/core/reference/src/op/function.cpp
  src/core/src/bound_evaluate.cpp
  src/core/src/model.cpp
  src/core/src/node.cpp
  src/core/src/op/select.cpp
  src/core/src/op/util/variable_value.cpp
  src/core/src/runtime/itensor.cpp
  src/core/src/shape_util.cpp
  src/core/src/tensor_conversion_util.cpp
  src/core/tests/tensor.cpp
  src/plugins/intel_cpu/src/nodes/reference.cpp
  src/plugins/template/backend/int_executable.cpp
  src/plugins/template/backend/ops/if.cpp
  src/plugins/template/backend/ops/tensor_iterator.cpp
Labels: category: Core, category: CPU, category: TEMPLATE

#21473 Tests compilation fix
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/activation.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/augru_cell.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/binary_convolution.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/comparison.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/convolution.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/convolution_backprop_data.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/dft.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/eltwise.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/embedding_bag_offsets_sum.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/embedding_bag_packed_sum.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/embedding_segments_sum.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/fully_connected.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/gather_nd.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/group_convolution.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/group_convolution_backprop_data.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/gru_cell.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/logical.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/lstm_cell.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/rdft.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/reduce.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/rnn_cell.hpp
Labels: category: IE Tests

#19493 [SnippetS] Perf count nodes and emitters
  src/common/snippets/include/snippets/generator.hpp
  src/common/snippets/include/snippets/lowered/linear_ir.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_perf_count.hpp
  src/common/snippets/include/snippets/op/perf_count.hpp
  src/common/snippets/include/snippets/snippets_isa.hpp
  src/common/snippets/include/snippets/snippets_isa_tbl.hpp
  src/common/snippets/src/generator.cpp
  src/common/snippets/src/lowered/pass/insert_perf_count.cpp
  src/common/snippets/src/op/perf_count.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/shape_inference/shape_inference.cpp
  src/common/snippets/tests/src/lowering_utils.cpp
  src/inference/dev_api/openvino/runtime/threading/thread_local.hpp
  src/plugins/intel_cpu/src/emitters/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_emitter.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_emitter.hpp
  src/plugins/intel_cpu/src/emitters/x64/jit_perf_count_chrono_emitters.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_perf_count_chrono_emitters.hpp
  src/plugins/intel_cpu/src/emitters/x64/jit_perf_count_rdtsc_emitters.cpp
  src/plugins/intel_cpu/src/emitters/x64/jit_perf_count_rdtsc_emitters.hpp
  src/plugins/intel_cpu/src/emitters/x64/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/perf_count_rdtsc.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/perf_count_rdtsc.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/shape_inference.cpp
Labels: category: inference, category: CPU

#21437 fix streams calculation issue for latency mode with big threads input
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
Labels: category: CPU

#21390 [core]Migrate Gathers operators to new API
  src/core/include/openvino/op/util/gather_base.hpp
  src/core/reference/include/openvino/reference/gather.hpp
  src/core/src/op/gather.cpp
  src/core/src/op/util/gather_base.cpp
Labels: category: Core, category: CPP API

#21496 [CONFORMANCE] Fix reg exp to find models
  src/tests/test_utils/functional_test_utils/layer_tests_summary/data/default_re_to_find_models.lst
Labels: category: IE Tests, conformance

#20336 API 2.0 infer request io blob test case
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/io_tensor.cpp
Labels: category: IE Tests

#21445 [CPU tests] migrate single layer test cases to be API 2.0 - part 3
  src/plugins/intel_cpu/tests/functional/single_layer_tests/ctc_greedy_decoder.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/ctc_greedy_decoder_seq_len.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/ctc_loss.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/cum_sum.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/custom_op_internal_dyn.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/deformable_convolution.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/depth_to_space.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/detection_output.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/embedding_bag_offsets_sum.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/embedding_bag_packed_sum.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/embedding_segments_sum.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/extract_image_patches.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/eye.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/fake_quantize.cpp
Labels: category: CPU

#21489 [CPU tests] migrate single layer test cases to be API 2.0 - part 5
  src/plugins/intel_cpu/tests/functional/single_layer_tests/select.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/shape_ops.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/shapeof.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/shuffle_channels.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/slice.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/space_to_batch.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/space_to_depth.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/split.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/strided_slice.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/tensor_iterator.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/tile.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/topk.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/unique.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/variadic_split.cpp
Labels: category: CPU

#20679 [PT FE] Disable freezing
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/utils.py
Labels: category: Python API, category: PyTorch FE

#21506 [TF FE] Avoid reinterpret_cast for non-standard types
  src/frontends/tensorflow/src/op/placeholder.cpp
  src/frontends/tensorflow/src/op/var_handle.cpp
Labels: category: TF FE

#21076 [TF FE] Support Atan2 operation for TensorFlow models
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/atan2.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Atan2.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#21412 [CPU] Optimize ScaledDotProductAttention performance
  cmake/developer_package/compile_flags/os_flags.cmake
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/acc_value.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/acc_value.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_memcpy.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_memcpy.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/dot_product.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/reduce.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/reduce.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/softmax.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/softmax.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/softmax_kernel.hpp
  src/plugins/intel_cpu/src/nodes/rope.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.h
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/sdpa.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/sdpa.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/stateful_sdpa_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/stateful_sdpa_fusion.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/utils/plain_tensor.hpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/concat_sdp.cpp
  src/plugins/intel_cpu/tests/unit/graph/scaled_attn.cpp
  src/plugins/intel_cpu/tests/unit/transformations/state_concat_sdpa.cpp
Labels: category: CPU, category: build

#21508 [TF FE] Allow any model format extension
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/tests/convert_model.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_2in_2out.py
Labels: category: TF FE

#20439 [AUTO] Enable round robin policy for cumulative throughput mode of AUTO plugin
  docs/OV_Runtime_UG/auto_device_selection.rst
  docs/snippets/ov_auto.py
  src/bindings/python/src/openvino/properties/intel_auto/__init__.py
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/include/openvino/runtime/auto/properties.hpp
  src/plugins/auto/src/common.hpp
  src/plugins/auto/src/cumulative_compiled_model.cpp
  src/plugins/auto/src/cumulative_schedule.cpp
  src/plugins/auto/src/cumulative_schedule.hpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/src/plugin_config.cpp
  src/plugins/auto/tests/functional/behavior/infer_schedule_test.cpp
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/auto/tests/unit/infer_request_schedule_policy_test.cpp
Labels: category: inference, category: Python API, category: docs, category: AUTO, category: CPP API, category: docs_snippets

#21407 Use time limits instead of number iterations limits in GHA performance tests
  tests/model_hub_tests/models_hub_common/constants.py
  tests/model_hub_tests/models_hub_common/test_performance_model.py
  tests/model_hub_tests/models_hub_common/utils.py
  tests/model_hub_tests/performance_tests/conftest.py
  tests/model_hub_tests/performance_tests/test_tf_hub_performance_model.py
Labels: category: TF FE, category: PyTorch FE

#21453 [shape_infer] Fix Equal upper bound calculation
  src/core/src/op/equal.cpp
  src/core/tests/type_prop/equal.cpp
Labels: category: Core

#21474 [shape_infer] Fix temporary axes remove from MatMul shape_infer
  src/core/shape_inference/include/matmul_shape_inference.hpp
Labels: category: Core

#21499 `ngraph` leftovers in CPU shared single_layer and subgraph tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/binary_convolution.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/comparison.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/is_inf.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/matrix_nms.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/mvn.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/softmax.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/quantized_convolution_backprop_data.cpp
Labels: category: CPU

#20734 RPE operation and fusing transformation
  src/common/transformations/include/ov_ops/rotary_positional_embeddings.hpp
  src/common/transformations/include/transformations/common_optimizations/fuse_rotary_positional_embeddings.hpp
  src/common/transformations/src/ov_ops/rotary_positional_embeddings.cpp
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/tests/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU, category: transformations

#21520 [TF FE] Switch on ConvLSTM2D layer tests in pre-commit
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_lstm_2d.py
Labels: category: TF FE

#21461 [CONFORMANCE] Fix incorrect comparation model in `import_export`
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
Labels: category: IE Tests, conformance

#21505 [PT FE] Unroll lists in a same way as tuples when on input
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/transforms/prim_unpack_parameter_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_unpack_parameter_replacer.hpp
  tests/layer_tests/pytorch_tests/test_listunpack.py
Labels: category: PyTorch FE

#21459 support MulNoNan for TF
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/mul_no_nan.cpp
  tests/layer_tests/tensorflow_tests/test_tf_MulNoNan.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#18061 [CPU] [ARM] Enable Conv SLT tests on ARM
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/convolution.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/convolution.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/common/convolution.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/x64/convolution.cpp
  src/plugins/intel_cpu/tests/functional/test_utils/convolution_params.hpp
Labels: category: CPU, platform: arm, no_stale

#21490 [CPU Test] fix any_layout test
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/any_layout.cpp
Labels: category: CPU

#21507 [CPU] Fix XmlModelWithExtensionFromDSO test
  src/plugins/intel_cpu/src/nodes/generic.cpp
  src/plugins/intel_cpu/tests/functional/extension/extension.cpp
Labels: category: CPU

#21393 fix coredump with numactl
  src/inference/dev_api/openvino/runtime/system_conf.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/istreams_executor.cpp
  src/inference/src/os/cpu_map_info.hpp
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/system_conf.cpp
Labels: category: inference

#21441 [CPU tests] migrate single layer test cases to be API 2.0 - part 2
  src/plugins/intel_cpu/tests/functional/single_layer_tests/adaptive_pooling.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/augru_cell.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/augru_sequence.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/batch_to_space.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/broadcast.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/bucketize.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/concat.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convert_to_plugin_specific_node.cpp
Labels: category: CPU

#21497 [CPU tests] migrate single layer test cases to be API 2.0 - part 6
  src/plugins/intel_cpu/tests/functional/single_layer_tests/interpolate.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/log_softmax.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/loop.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/lrn.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/lstm_cell.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/lstm_sequence.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/matmul_sparse.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/non_max_suppression.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/nonzero.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/normalize.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/one_hot.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/pad.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/prior_box.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/prior_box_clustered.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/proposal.cpp
Labels: category: CPU

#21540 Fixed Linux CC
  .github/workflows/linux_conditional_compilation.yml
Labels: category: CI, github_actions

#21539 [DOCS] Update of Learn OpenVINO article for master
  docs/articles_en/learn_openvino.rst
Labels: category: docs

#21524 Try to run arm64 without system tbb
  .github/workflows/linux_arm64.yml
  src/plugins/auto/CMakeLists.txt
  src/plugins/auto_batch/CMakeLists.txt
Labels: category: build, category: CI, category: AUTO, category: AUTO BATCH, github_actions

#21541 [DOCS] Update of Learn OpenVINO article for 2023.2
  docs/articles_en/learn_openvino.md
Labels: category: docs

#21002 [CPU] CPU plugin api 2.0 migration for TensorDesc
  src/plugins/intel_cpu/src/dnnl_extension_utils.cpp
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/memory_desc/cpu_memory_desc_utils.cpp
  src/plugins/intel_cpu/src/memory_desc/cpu_memory_desc_utils.h
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/adaptive_pooling.cpp
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/conv.h
  src/plugins/intel_cpu/src/nodes/deconv.cpp
  src/plugins/intel_cpu/src/nodes/deconv.h
  src/plugins/intel_cpu/src/nodes/generic.h
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/src/normalize_preprocess.cpp
  src/plugins/intel_cpu/src/normalize_preprocess.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/utils/cpu_utils.hpp
  src/plugins/intel_cpu/src/utils/node_dumper.cpp
Labels: category: CPU

#21278 [ONNX] QDQ uint16 support
  src/common/transformations/src/transformations/common_optimizations/convert_quantize_dequantize.cpp
  src/frontends/onnx/frontend/src/op/dequantize_linear.cpp
  src/frontends/onnx/frontend/src/op/quantize_linear.cpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/tests/models/dequantize_linear_u16.prototxt
  src/frontends/onnx/tests/models/quantize_linear_u16.prototxt
  src/frontends/onnx/tests/onnx_import_quant.in.cpp
Labels: category: transformations, category: ONNX FE

#21558 [GHA] Add Smart CI to Windows pipeline
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/windows.yml
Labels: category: CI, github_actions

#21517 update parse_processor_info_macos for macOS ver 11
  src/inference/src/os/cpu_map_info.hpp
  src/inference/src/os/mac/mac_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser/parser_macos.cpp
Labels: category: inference

#21528 [ONNX] Preparing environment for moving ONNX tests to API2.0
  src/frontends/onnx/onnx_common/CMakeLists.txt
  src/frontends/onnx/onnx_common/include/onnx_common/parser.hpp
  src/frontends/onnx/onnx_common/src/parser.cpp
  src/frontends/onnx/tests/CMakeLists.txt
  src/frontends/onnx/tests/onnx_test_util.cpp
  src/frontends/onnx/tests/onnx_test_util.hpp
  src/frontends/onnx/tests/onnx_test_utils.in.cpp
  src/frontends/onnx/tests/onnx_utils.cpp
  src/frontends/onnx/tests/onnx_utils.hpp
Labels: category: build, category: ONNX FE

#21552 [GPU] Add callback function for MarkDequantizationSubgraph pass to skip non FC-related subgraphs
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU

#21512 [BUG] fix device name issue
  src/plugins/intel_cpu/src/plugin.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Labels: category: IE Tests, category: CPU

#21495 enable load from file in proxy
  src/inference/src/dev/core_impl.cpp
  src/inference/tests/functional/CMakeLists.txt
  src/inference/tests/functional/caching_test.cpp
  src/plugins/proxy/src/plugin.cpp
  src/plugins/proxy/src/plugin.hpp
Labels: category: inference, category: build, category: PROXY

#21559 Removed legacy cmake utils from IE 1.0
  cmake/developer_package/OpenVINODeveloperScriptsConfig.cmake
  cmake/developer_package/add_target_helpers.cmake
  cmake/developer_package/api_validator/api_validator.cmake
  cmake/developer_package/clang_format/clang_format.cmake
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/faster_build.cmake
  cmake/developer_package/options.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/plugins/plugins.cmake
  cmake/developer_package/version.cmake
  cmake/developer_package/whole_archive.cmake
  cmake/extra_modules.cmake
  cmake/templates/InferenceEngineDeveloperPackageConfig.cmake.in
  src/plugins/auto/tests/functional/CMakeLists.txt
Labels: category: build, category: AUTO, category: packaging

#21562 Add CPU tests as required for Linux arm64
  .github/workflows/linux_arm64.yml
  .github/workflows/windows.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#21551 [CPU][ARM] Disable `gemm_acl` on 32-bit arm platforms
  src/plugins/intel_cpu/tests/functional/test_utils/arm/filter_cpu_info.cpp
Labels: category: CPU, platform: arm

#21577 [CPU][ARM] Disable gemm_acl on 32-bit arm platforms (comment fix)
  src/plugins/intel_cpu/tests/functional/test_utils/arm/filter_cpu_info.cpp
Labels: category: CPU, platform: arm

#21526 [tests] resolve skipped HF models: 2nd batch
  tests/model_hub_tests/torch_tests/hf_transformers_models
  tests/model_hub_tests/torch_tests/test_hf_transformers.py
Labels: category: PyTorch FE

#21387 fix parse_freq_info_linux for wrong cpu frequency information
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser/freq_parser_linux.cpp
Labels: category: inference

#21561 Added more exclude markers for install rules
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/plugins/plugins.cmake
  src/bindings/c/src/CMakeLists.txt
  src/cmake/openvino.cmake
  src/common/preprocessing/src/CMakeLists.txt
  src/core/CMakeLists.txt
  src/frontends/common/CMakeLists.txt
  src/frontends/onnx/frontend/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/plugins/intel_gna/CMakeLists.txt
  thirdparty/onnx/CMakeLists.txt
Labels: category: inference, category: Core, category: CPU, category: GNA, category: build, category: C API, category: preprocessing, category: ONNX FE

#21582 Move negative shared tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/invalid_cases/proposal.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/invalid_cases/proposal.hpp
  src/tests/functional/shared_test_classes/src/single_op/invalid_cases/proposal.cpp
Labels: category: IE Tests, category: CPU

#21579 Support aten::lstm, aten::gru and aten::rnn_{relu,tanh} operations
  src/frontends/pytorch/src/op/lstm.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_lstm.py
  tests/model_hub_tests/torch_tests/hf_transformers_models
  tests/model_hub_tests/torch_tests/test_timm.py
  tests/model_hub_tests/torch_tests/timm_models
  tests/model_hub_tests/torch_tests/torchbench_models
Labels: category: PyTorch FE

#21580 [PT FE] Fix constant type in aten::square
  src/frontends/pytorch/src/op/square.cpp
  tests/layer_tests/pytorch_tests/test_square.py
Labels: category: PyTorch FE

#21484 Add [rename conformance ir] input shape to hash name for Convolution
  src/tests/test_utils/functional_test_utils/layer_tests_summary/rename_conformance_ir.py
Labels: category: IE Tests

#21411 [GPU] dump graphs during execution
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/src/graph/include/program_dump_graph.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_dump_graph.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#20067 【Hackathon 5th No.97】add paddle tanh_shrink op
  src/frontends/paddle/src/op/tanh_shrink.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_tanh_shrink.py
Labels: ExternalPR, category: PDPD FE, PaddlePaddle Hackathon

#21452 [GPU] bugfix optimized slice_mem
  src/plugins/intel_gpu/src/graph/loop.cpp
Labels: category: GPU

#21553 GPU remote tensor tests update. Get rid of API 1.0
  src/plugins/intel_gpu/tests/functional/remote_tensor_tests/cldnn_remote_blob_tests.cpp
  src/plugins/intel_gpu/tests/functional/remote_tensor_tests/dx11_remote_ctx_test.cpp
  src/plugins/intel_gpu/tests/functional/remote_tensor_tests/gpu_remote_tensor_tests.cpp
  src/plugins/intel_gpu/tests/functional/remote_tensor_tests/helpers.hpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/plugin/core_threading_tests.cpp
  src/tests/functional/plugin/shared/include/multi/multi_remote_blob_multidevice_test.hpp
Labels: category: IE Tests, category: GPU

#21534 [CPU]MVN_block_layout_tails_process_on_SSE_fix
  src/plugins/intel_cpu/src/nodes/mvn.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/x64/mvn.cpp
Labels: category: CPU

#21589 [CPU tests] migrate single layer test about logical
  src/plugins/intel_cpu/tests/functional/single_layer_tests/logical.cpp
Labels: category: CPU

#21599 [CI] [GHA] Introduce Coverity pipeline
  .github/workflows/coverity.yml
Labels: category: CI, github_actions

#21593 [GPU] Add missed override keyword in typed_primitive_onednn_impl struct
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
Labels: category: GPU

#21549 [CPU Test] use internal_properties for snippets_mode
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/eltwise.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/conv_sum_broadcast.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/mha.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/ngram.cpp
Labels: category: CPU

#21603 [PyOV] support Type as arg in convert op
  src/bindings/python/src/openvino/runtime/opset1/ops.py
  src/bindings/python/tests/test_graph/test_basic.py
Labels: bug, category: Python API

#21450 [PT FE] Support dict on input
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/op/getitem.cpp
  src/frontends/pytorch/src/transforms/dict_resolver.cpp
  src/frontends/pytorch/src/transforms/dict_resolver.hpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_dict.py
  tools/mo/openvino/tools/mo/moc_frontend/pytorch_frontend_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: MO, category: PyTorch FE

#21610 [CONFORMANCE] Specify validation entity as arg of `run_conformance`
  src/tests/functional/plugin/conformance/test_runner/README.md
  src/tests/test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
  src/tests/test_utils/functional_test_utils/layer_tests_summary/utils/file_utils.py
  src/tests/test_utils/functional_test_utils/src/summary/op_summary.cpp
Labels: category: IE Tests, category: docs, conformance

#21606 [PT FE]: fix aten::index_put type alignmnet
  src/frontends/pytorch/src/transforms/aten_index_put_replacer.cpp
Labels: category: PyTorch FE

#21609 [CI] [GHA] Change Coverity trigger to nightly
  .github/workflows/coverity.yml
Labels: category: CI, github_actions

#21567 support pytorch efrc op
  src/frontends/pytorch/src/op/erfc.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_erfc.py
Labels: ExternalPR, category: PyTorch FE

#21595 Introduced "reset_state" method to reset all model states in one line
  docs/snippets/ov_model_with_state_infer.cpp
  src/inference/include/openvino/runtime/infer_request.hpp
  src/inference/src/infer_request.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/stateful_model.hpp
Labels: category: inference, category: IE Tests, category: CPP API, category: docs_snippets

#21604 [workflows] Change volumes path to a more generic one
  .github/workflows/android_arm64.yml
  .github/workflows/cleanup_pip_cache.yml
  .github/workflows/fedora.yml
  .github/workflows/linux.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/linux_riscv.yml
  .github/workflows/webassembly.yml
Labels: category: CI, github_actions

#21527 Refactor GPU single layer tests
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/batch_to_space.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/broadcast.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/convolution.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/convolution_backprop_data.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/cum_sum.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/depth_to_space.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/detection_output.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/gather.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/gather_elements.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/gather_nd.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/gather_tree.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/grid_sample.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/group_convolution_backprop_data.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/groupconvolution.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/interpolate.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/matmul.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/mvn.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/non_max_suppression.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/normalize_l2.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/pad.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/pooling.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/prior_box.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/random_uniform.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/range.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/reduce.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/region_yolo.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/reorg_yolo.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/roi_pooling.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/scatter_nd_update.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/select.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/shapeof.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/softmax.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/space_to_batch.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/space_to_depth.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/split.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/strided_slice.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/tile.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/top_k.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/unique.cpp
Labels: category: GPU

#21574 `src/common/*transformations/` API1.0 clean up
  src/common/low_precision_transformations/CMakeLists.txt
  src/common/low_precision_transformations/include/low_precision/batch_to_space.hpp
  src/common/low_precision_transformations/include/low_precision/lpt_visibility.hpp
  src/common/low_precision_transformations/include/low_precision/multiply_partial.hpp
  src/common/low_precision_transformations/include/low_precision/network_helper.hpp
  src/common/low_precision_transformations/include/low_precision/space_to_batch.hpp
  src/common/low_precision_transformations/src/multiply_to_group_convolution.cpp
  src/common/low_precision_transformations/tests/batch_to_space_transformation.cpp
  src/common/low_precision_transformations/tests/convert_subtract_constant_transformation.cpp
  src/common/low_precision_transformations/tests/convolution_backprop_data_transformation.cpp
  src/common/low_precision_transformations/tests/convolution_qdq_transformation.cpp
  src/common/low_precision_transformations/tests/convolution_transformation.cpp
  src/common/low_precision_transformations/tests/fake_quantize_on_weights_with_unsupported_child.cpp
  src/common/low_precision_transformations/tests/fake_quantize_precision_selection_transformation.cpp
  src/common/low_precision_transformations/tests/fake_quantize_transformation.cpp
  src/common/low_precision_transformations/tests/fake_quantize_with_dq_not_optimal_transformation.cpp
  src/common/low_precision_transformations/tests/fake_quantize_with_dynamic_intervals_transformation.cpp
  src/common/low_precision_transformations/tests/fold_convert_transformation.cpp
  src/common/low_precision_transformations/tests/fold_fake_quantize_in_transformations.cpp
  src/common/low_precision_transformations/tests/get_dequantization_below_transformation.cpp
  src/common/low_precision_transformations/tests/group_convolution_transformation.cpp
  src/common/low_precision_transformations/tests/interpolate_transformation.cpp
  src/common/low_precision_transformations/tests/is_asymmetric_on_weights_dequantization.cpp
  src/common/low_precision_transformations/tests/is_asymmetric_on_weights_fq.cpp
  src/common/low_precision_transformations/tests/is_constant_path_transformation.cpp
  src/common/low_precision_transformations/tests/is_function_quantized_transformation.cpp
  src/common/low_precision_transformations/tests/lpt_avoid_shapeof_propagation_test.cpp
  src/common/low_precision_transformations/tests/multiply_transformation.cpp
  src/common/low_precision_transformations/tests/mvn_transformation.cpp
  src/common/low_precision_transformations/tests/normalize_l2_transformation.cpp
  src/common/low_precision_transformations/tests/separate_in_standalone_branch_transformation.cpp
  src/common/low_precision_transformations/tests/space_to_batch_transformation.cpp
  src/common/low_precision_transformations/tests/transformer_is_function_quantized.cpp
  src/common/transformations/CMakeLists.txt
  src/common/transformations/tests/utils/primitives_priority_test.cpp
Labels: category: build, category: transformations, category: LP transformations

#21602 [GNA] Properly obtain all subsequent layers for memory layer connection
  src/plugins/intel_gna/src/gna_graph_compiler.cpp
Labels: category: GNA

#21392 add FailedAsyncInferWithNegativeTimeForWait test case
  src/plugins/intel_gna/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/wait.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/wait.cpp
Labels: category: IE Tests, category: GNA

#21587 [CPU tests] migrate single layer test cases to be API 2.0 - part 9
  src/plugins/intel_cpu/tests/functional/single_layer_tests/convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/group_convolution.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/group_convolution_backprop_data.cpp
Labels: category: CPU

#21568 [CPU tests] migrate single layer test cases to be API 2.0 - part 8
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/convolution.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/convolution.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/classes/scaled_attn.hpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/common/convolution.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/instances/x64/convolution.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/split.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/variadic_split.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/concat_sdp.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/conv_concat.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/conv_sum_broadcast.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/eltwise_chain.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/fq_caching.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/fq_fused_with_ss.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/fuse_scaleshift_and_fakequantize.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/gather_add_avgpool.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/mha.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/rotary_pos_emb.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/shapeof_any_layout.cpp
Labels: category: CPU

#21518 [AUTO] Fix the issue of querying the optional property unsupported by HW plugin via AUTO compiled model
  src/plugins/auto/src/auto_compiled_model.cpp
  src/plugins/auto/src/cumulative_compiled_model.cpp
  src/plugins/auto/tests/unit/compile_model_property_test.cpp
Labels: category: AUTO

#21600 [GPU] Enable GroupNormalizationDecomposition transformation
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU

#21623 [DOCS] Troubleshooting note for WINOGRAD convolutions in GPU for master
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/GPU.rst
Labels: category: docs

#21618 [GPU] Fixed stateful KV cache issues + minor improvements
  src/plugins/intel_gpu/include/intel_gpu/primitives/broadcast.hpp
  src/plugins/intel_gpu/src/graph/broadcast.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_shape_of_subgraphs.cpp
  src/plugins/intel_gpu/src/graph/include/read_value_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/ops/broadcast.cpp
  src/plugins/intel_gpu/src/plugin/variable_state.cpp
  src/plugins/intel_gpu/tests/common/subgraphs_builders.hpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
Labels: category: GPU

#21626 Enable dinov2-base
  tests/model_hub_tests/torch_tests/hf_transformers_models
Labels: category: PyTorch FE

#21510 Enable BitwiseOps to LogicalOps transform for static bool dtype on CPU plugin
  src/common/transformations/include/transformations/op_conversions/convert_bitwise_to_logical_bool.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU, category: transformations, Code Freeze

#21630 [PT FE] Support aten::pow_
  src/frontends/pytorch/src/op/pow.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_pow.py
Labels: category: PyTorch FE

#21275 [PyOV] OVDict as input for infer/call methods
  src/bindings/python/src/openvino/runtime/utils/data_helpers/data_dispatcher.py
  src/bindings/python/src/openvino/runtime/utils/data_helpers/wrappers.py
  src/bindings/python/tests/test_runtime/test_async_infer_request.py
  src/bindings/python/tests/test_runtime/test_sync_infer_request.py
  src/bindings/python/tests/test_utils/test_data_dispatch.py
Labels: category: Python API, Code Freeze

#21644 [GHA] Add overall status check to more workflows
  .github/workflows/android_arm64.yml
  .github/workflows/fedora.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/linux_riscv.yml
Labels: category: CI, github_actions

#21640 [GPU] Add dynamic padding support to gemm_tiled_opt kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_tiled_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#20659 Change default latency mode of MTL to Pcore + Ecore
  src/inference/dev_api/ie_system_conf.h
  src/inference/dev_api/openvino/runtime/system_conf.hpp
  src/inference/src/os/cpu_map_info.hpp
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/src/system_conf.cpp
  src/inference/tests/unit/cpu_map_parser/parser_windows.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/transformations/utils.cpp
  src/plugins/intel_cpu/src/transformations/utils.hpp
Labels: category: inference, category: CPU

#21645 Escape pip command with apostrophe
  docs/articles_en/get_started/installing-openvino-overview/installing-openvino-shared/installing-openvino-conan.rst
Labels: category: docs

#21635 Enables SharedOpOptimization for v1 and v3 Broadcasts
  src/common/transformations/src/transformations/common_optimizations/shared_ops_optimization.cpp
  src/common/transformations/tests/common_optimizations/shared_ops_optimization.cpp
Labels: category: transformations

#21519 [CPU] support QWen RoPE
  src/plugins/intel_cpu/src/nodes/rope.cpp
  src/plugins/intel_cpu/src/nodes/rope.h
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/rope.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/rope.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/rope_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/rope_fusion.hpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/rotary_pos_emb.cpp
  src/plugins/intel_cpu/tests/unit/transformations/convert_to_rope.cpp
Labels: category: CPU, Code Freeze

#21249 [core] Migrate Select operator to new API
  src/core/include/openvino/op/select.hpp
  src/core/src/bound_evaluate.cpp
  src/core/src/op/select.cpp
  src/core/src/op/shape_of.cpp
Labels: category: Core, category: CPP API, Code Freeze

#21625 [PT FE]: support aten::take_along_dim
  src/frontends/pytorch/src/op/take_along_dim.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_take_along_dim.py
Labels: category: PyTorch FE

#21636 [PT FE] Remove unique names from FE, rely on ResolveNameCollisions
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/translate_session.hpp
Labels: category: PyTorch FE

#21629 Update 2023.2.0 Selector Tool with nightly archive
  .gitignore
  docs/articles_en/get_started/installing-openvino-overview.rst
  docs/sphinx_setup/_static/selector-tool/assets/selector-7f584a52.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-a91b1d3d.js
  docs/sphinx_setup/_static/selector-tool/selector-5cca680.html
Labels: category: docs, no-match-files

#21654 [TF Hub][Perf Tests] remove performance tests from precommit due to CI issues
  .github/workflows/job_tensorflow_hub_performance_models_tests.yml
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#21596 [ONNX] Refactoring tests on API 2.0
  src/frontends/onnx/tests/conversion.cpp
  src/frontends/onnx/tests/convert_partially_tests.cpp
  src/frontends/onnx/tests/convert_tests.cpp
  src/frontends/onnx/tests/load_from.cpp
  src/frontends/onnx/tests/model_support_tests.cpp
Labels: category: ONNX FE

#21648 [GPU] Using a cpu impl type for NMS in a dynamic case
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#21601 Additional changes in `src/` to API2.0
  src/core/include/openvino/pass/make_stateful.hpp
  src/core/tests/pattern.cpp
  src/plugins/auto/src/common.hpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/ov_infer_request/infer_request_dynamic.cpp
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/ov_plugin/caching_tests.cpp
  src/plugins/auto/tests/unit/stateful_model_test.cpp
  src/plugins/hetero/CMakeLists.txt
Labels: category: Core, category: HETERO, category: build, category: AUTO, category: CPP API

#21643 [PyOV] move rest of start_async tests to test_async
  src/bindings/python/tests/test_runtime/test_async_infer_request.py
  src/bindings/python/tests/test_runtime/test_sync_infer_request.py
Labels: category: Python API

#21650 [GHA] Windows pytest optimizations
  .github/workflows/windows.yml
Labels: category: CI, github_actions

#21322 [Docs] Add a single-point starter guide for contributors
  .github/ISSUE_TEMPLATE/good_first_issue.yml
  CONTRIBUTING.md
Labels: category: CI, category: docs

#21659 [DOCS] NPU articles port to 23.2
  docs/OV_Runtime_UG/auto_device_selection.md
  docs/_static/images/ov_homepage_diagram.png
  docs/articles_en/get_started/configurations-header/configurations-for-intel-npu.md
  docs/articles_en/openvino_workflow/openvino_intro/Device_Plugins.md
  docs/articles_en/openvino_workflow/openvino_intro/Device_Plugins/NPU.md
  docs/articles_en/openvino_workflow/openvino_intro/Device_Plugins/config_properties.md
Labels: category: docs

#21430 [DOCS] NPU articles
  docs/articles_en/get_started/configurations-header/configurations-for-intel-npu.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/NPU.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/config_properties.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/inference_modes_overview/auto_device_selection.rst
  docs/sphinx_setup/_static/images/ov_homepage_diagram.png
Labels: category: docs

#21671 [DOCS] Update 2023.2 Selector Tool with nightly arch
  docs/_static/selector-tool/assets/selector-7f584a52.js
  docs/_static/selector-tool/assets/selector-a91b1d3d.js
  docs/_static/selector-tool/selector-5cca680.html
  docs/articles_en/get_started/installing-openvino-overview.md
Labels: category: docs

#21676 [GHA] Add workflow_dispatch trigger to coverity
  .github/workflows/coverity.yml
Labels: category: CI, github_actions

#21668 [GHA] Set SSL_CERT_FILE for model downloading
  .github/workflows/windows.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#21619 [GPU] Skip remove reorder in case it has padding for output
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#20077 【Hackathon 5th No.95】add paddle unique op
  src/frontends/paddle/src/op/unique.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_unique.py
Labels: ExternalPR, category: PDPD FE, PaddlePaddle Hackathon

#21460 [GPU] fix strided_slice axis in case of dynamic shape
  src/plugins/intel_gpu/src/graph/concatenation.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/strided_slice_gpu_test.cpp
Labels: category: GPU

#21624 Ability to exclude TBB from install package
  cmake/developer_package/packaging/archive.cmake
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/nsis.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
  cmake/packaging/common-libraries.cmake
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/bindings/c/src/CMakeLists.txt
  src/bindings/python/src/compatibility/openvino/inference_engine/CMakeLists.txt
  src/bindings/python/src/compatibility/pyngraph/CMakeLists.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/frontend_module.cmake
  src/cmake/install_tbb.cmake
  src/cmake/openvino.cmake
Labels: category: inference, category: build, category: Python API, category: C API, category: packaging

#21631 `snippets` shared tests to API2.0
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/mha.cpp
  src/tests/functional/plugin/shared/src/snippets/add.cpp
  src/tests/functional/plugin/shared/src/snippets/check_broadcast.cpp
  src/tests/functional/plugin/shared/src/snippets/codegen_bert.cpp
  src/tests/functional/plugin/shared/src/snippets/codegen_gelu.cpp
  src/tests/functional/plugin/shared/src/snippets/convert.cpp
  src/tests/functional/plugin/shared/src/snippets/eltwise_two_results.cpp
  src/tests/functional/plugin/shared/src/snippets/enforce_precision.cpp
  src/tests/functional/plugin/shared/src/snippets/fake_quantize_decomposition_test.cpp
  src/tests/functional/plugin/shared/src/snippets/matmul.cpp
  src/tests/functional/plugin/shared/src/snippets/max_num_params_eltwise.cpp
  src/tests/functional/plugin/shared/src/snippets/mha.cpp
  src/tests/functional/plugin/shared/src/snippets/precision_propagation_convertion.cpp
  src/tests/functional/plugin/shared/src/snippets/select.cpp
  src/tests/functional/plugin/shared/src/snippets/softmax.cpp
  src/tests/functional/plugin/shared/src/snippets/three_inputs_eltwise.cpp
  src/tests/functional/plugin/shared/src/snippets/transpose.cpp
  src/tests/functional/plugin/shared/src/snippets/transpose_matmul.cpp
  src/tests/functional/plugin/shared/src/snippets/transpose_softmax.cpp
  src/tests/functional/plugin/shared/src/snippets/two_inputs_and_outputs.cpp
Labels: category: IE Tests, category: CPU

#21200 [CONFORMANCE TOOLS][SUBAGRAPHS DUMPER] Repeat pattern extractor improvement
  src/tests/functional/plugin/conformance/op_conformance_utils/include/op_conformance_utils/meta_info/input_info.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/single_op/manager.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/single_op/single_op.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/subgraph/repeat_pattern.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/model.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/model_comparator.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/utils/node.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/cache/graph_cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/single_op/manager.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/single_op/single_op.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/fused_names.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/repeat_pattern.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/model.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/model_comparator.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/matchers/subgraph/repeat_pattern.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/test_models/model_0.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/test_models/model_1.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/test_models/model_3.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/test_models/test.bin
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/utils/model.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/utils/model_comparator.cpp
Labels: category: IE Tests, conformance

#21569 [AUTO Plugin] Coverity issue about the performance inefficiencies
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/src/plugin_config.hpp
  src/plugins/auto_batch/src/plugin.cpp
Labels: category: AUTO, category: AUTO BATCH

#21656 Revert "[TF FE] Support different types: tf.i8, u8, i16, u16, i32, u32, i64, u64, f16, f32, bf16
  src/frontends/tensorflow/src/graph_iterator_meta.cpp
  src/frontends/tensorflow/src/graph_iterator_saved_model.cpp
  src/frontends/tensorflow/src/tf_utils.cpp
  tests/layer_tests/tensorflow_tests/test_tf_AddTypes.py
Labels: category: TF FE, Code Freeze

#21470 [Snippets] Fixed IdentifyBuffers for nested loop case
  src/common/snippets/include/snippets/lowered/pass/identify_buffers.hpp
  src/common/snippets/src/lowered/pass/identify_buffers.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/lowered/buffer_allocation.cpp
Labels: category: CPU

#21658 [GPU] Allow precision conversion on get_state() call
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/variable_state.hpp
  src/plugins/intel_gpu/src/plugin/common_utils.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/src/plugin/variable_state.cpp
  src/plugins/intel_gpu/tests/unit/CMakeLists.txt
Labels: category: GPU, category: build

#21652 Change exception message for CompiledModel::set_property
  src/plugins/auto/src/auto_compiled_model.cpp
  src/plugins/hetero/src/compiled_model.cpp
  src/plugins/intel_cpu/src/compiled_model.h
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
Labels: category: GPU, category: CPU, category: HETERO, category: AUTO

#21688 [CI] [GHA] Remove not-existing reusable workflow from Linux ARM64 workflow
  .github/workflows/linux_arm64.yml
Labels: bug, category: CI, github_actions

#21621 [TFLite] Allows failing when model isn't generated
  src/frontends/tensorflow_lite/tests/test_models/gen_scripts/generate_pose_detector.py
  src/frontends/tensorflow_lite/tests/test_models/gen_wrapper.py
Labels: category: TFL FE

#21686 [TFLite] Fixed message about binary data
  src/frontends/tensorflow_lite/tests/test_models/gen_scripts/generate_bad_header.py
Labels: category: TFL FE

#21680 Enable Windows CC in precommit
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#21684 [ONNX] Refactoring tests on API 2.0
  src/frontends/onnx/tests/onnx_editor.cpp
Labels: category: ONNX FE

#21611 [Python API] Added exception handling for 'None' model argument in save_model function
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_runtime/test_model.py
Labels: category: Python API
