Repository openvinotoolkit/openvino, pull requests merged in 2024-06, with the labels that each got.

#24796 Port 24606 to release 202303
  src/common/util/include/openvino/util/file_util.hpp
  src/common/util/src/file_util.cpp
  src/inference/dev_api/file_utils.h
  src/inference/src/dev/core_impl.cpp
  src/inference/src/file_utils.cpp
  src/inference/src/ie_cache_manager.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/caching_tests.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/file_utils.hpp
Labels: category: inference, category: Core, category: IE Tests

#24745 [SDPA] relax restriction on L from query and attention_mask being equal
  src/core/shape_inference/include/scaled_dot_product_attention_shape_inference.hpp
Labels: category: Core

#24790 [Tests] Fixed debug info about ranges
  src/tests/functional/shared_test_classes/src/base/utils/ranges.cpp
Labels: category: IE Tests

#24693 [OV JS] Add method descriptions for Core
  src/bindings/js/node/lib/addon.ts
Labels: category: JS API

#24715 [Op] Squeeze update - no throw on non-squeezable dims
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/shape/squeeze-1.rst
  src/core/shape_inference/include/squeeze_shape_inference.hpp
  src/core/tests/type_prop/squeeze.cpp
  src/plugins/intel_cpu/src/shape_inference/custom/reshape.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/custom_shape_infer/squeeze.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/squeeze_shape_inference_test.cpp
  src/plugins/template/tests/functional/op_reference/squeeze.cpp
  tests/layer_tests/pytorch_tests/test_squeeze.py
Labels: category: Core, category: CPU, category: docs, category: TEMPLATE, category: PyTorch FE

#24805 [GPU] Fixed unexpected kv cache optimization turned off
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#24756 [GPU] Added RoPE support for ChatGLM and Qwen
  src/common/transformations/include/transformations/utils/gen_pattern.hpp
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/rotary_pos_emb.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/rotary_pos_emb.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/rope.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/rope.cpp
  src/plugins/intel_gpu/src/graph/include/rope_inst.h
  src/plugins/intel_gpu/src/graph/rope.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rope_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_selector.h
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/ops/rope.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/rotary_pos_emb.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/rotary_pos_emb.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/rotary_pos_emb.hpp
  src/tests/functional/shared_test_classes/src/subgraph/rotary_pos_emb.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: transformations

#24770 [GPU] SDPA minor improvements
  src/plugins/intel_gpu/include/intel_gpu/op/indirect_sdpa.hpp
  src/plugins/intel_gpu/include/intel_gpu/op/sdpa.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/graph/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/plugin/transformations/indirect_kv_cache.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/indirect_sdpa.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/sdpa.cpp
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/unsqueeze_broadcast_reshape_sdpa_fusion.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/tests/unit/transformations/indirect_kv_cache_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/transpose_sdpa_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/unsqueeze_broadcast_reshape_sdpa_fusion_test.cpp
Labels: category: GPU

#24772 build: fix Python platform architecture tag for armv7l
  src/bindings/python/wheel/CMakeLists.txt
Labels: category: build, category: Python API, ExternalPR, category: packaging

#24828 [NPU] Add the "create_executor" property inside the Plugin's list as well
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/functional/internal/overload/compiled_model/property.cpp
Labels: category: NPU

#24834 [DOCS] benchmark data for LLM master
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/generativeAI-benchmarks.rst
Labels: category: docs, WIP

#24788 [CPU] Add inplace and jit for ROPE
  src/plugins/intel_cpu/src/nodes/kernels/x64/rope_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/rope_kernel.hpp
  src/plugins/intel_cpu/src/nodes/rope.cpp
  src/plugins/intel_cpu/src/nodes/rope.h
Labels: category: CPU

#24831 [GPU] Optimize RMS kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rms_gpu_bfyx_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_bfyx_opt.h
  src/plugins/intel_gpu/tests/unit/test_cases/rms_gpu_test.cpp
Labels: category: GPU

#24786 [MOC] Implement EliminateLoopInputsOutputs
  src/common/transformations/include/transformations/common_optimizations/eliminate_loop_inputs_outputs.hpp
  src/common/transformations/src/transformations/common_optimizations/eliminate_loop_inputs_outputs.cpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/shared_ops_optimization.cpp
  src/common/transformations/tests/common_optimizations/eliminate_loop_inputs_outputs_test.cpp
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_lstm.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_map_fn.py
Labels: category: transformations, category: TF FE

#24839 [CI] [GHA] Set actions references to specific commit hash; provide explicit top level token permissions for jobs
  .github/workflows/android_arm64.yml
  .github/workflows/assign_issue.yml
  .github/workflows/build_doc.yml
  .github/workflows/check_pr_commits.yml
  .github/workflows/cleanup_caches.yml
  .github/workflows/code_snippets.yml
  .github/workflows/code_style.yml
  .github/workflows/coverage.yml
  .github/workflows/coverity.yml
  .github/workflows/dependency_review.yml
  .github/workflows/fedora.yml
  .github/workflows/files_size.yml
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/job_debian_packages.yml
  .github/workflows/job_onnx_models_tests.yml
  .github/workflows/job_onnx_runtime.yml
  .github/workflows/job_openvino_js.yml
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/job_pytorch_models_tests.yml
  .github/workflows/job_samples_tests.yml
  .github/workflows/job_tensorflow_layer_tests.yml
  .github/workflows/job_tensorflow_models_tests.yml
  .github/workflows/job_tokenizers.yml
  .github/workflows/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/linux_riscv.yml
  .github/workflows/linux_sanitizers.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/mo.yml
  .github/workflows/ovc.yml
  .github/workflows/py_checks.yml
  .github/workflows/send_workflows_to_opentelemetry.yml
  .github/workflows/stale_prs_and_issues.yml
  .github/workflows/webassembly.yml
  .github/workflows/windows.yml
  .github/workflows/windows_conditional_compilation.yml
  .github/workflows/workflow_rerunner.yml
Labels: category: CI, github_actions

#24835 [TFLite] Added implementation details
  src/frontends/tensorflow_lite/src/sparsity_info.cpp
Labels: category: TFL FE

#24829 [GPU] Added RoPE support for Llama2, Llama3 and Phi-3
  src/plugins/intel_gpu/include/intel_gpu/primitives/rope.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/rope.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rope_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/ops/rope.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/rotary_pos_emb.cpp
Labels: category: GPU

#24842 [GPU] Fix decompression scales reorder when data is reused
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#24768 [OV JS] Add methods descriptions for Model, Tensor & InferRequest
  src/bindings/js/node/lib/addon.ts
Labels: category: JS API

#24832 [CPU] [Snippets] Fix performance regression in calling parallel_nt
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
Labels: bug, category: CPU

#24849 [WIN-CC] Support the latest msvc (19.40)
  .github/workflows/windows_conditional_compilation.yml
  src/plugins/intel_cpu/src/node.cpp
Labels: category: CPU, category: CI, github_actions

#24803 torch.compile documentation updates for 2024.2
  docs/articles_en/openvino-workflow/torch-compile.rst
Labels: category: docs

#24838 [Core] Fix coverity issues
  src/core/src/model.cpp
  src/core/src/pass/visualize_tree.cpp
Labels: category: Core

#24860 [GHA] Pinned MSVC toolset version
  .github/workflows/windows.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#23148 [ONNX] Align behavior of ONNX Frontend operator ReduceMean-11, 13, 18 with original framework
  src/frontends/onnx/frontend/src/op/reduce.cpp
  src/frontends/onnx/frontend/src/op/reduce.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/tests/models/reduce_mean_18.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/tests_python/test_backend.py
Labels: ExternalPR, category: ONNX FE

#24869 [GHA] Win-CC decrease build jobs
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#24870 Export OpenVINOGenAI_DIR (#24683)
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.ps1
  scripts/setupvars/setupvars.sh
Labels: category: dependency_changes

#24862 [MERGE] Port 24718 and 24849
  .github/workflows/windows_conditional_compilation.yml
  src/plugins/intel_cpu/src/node.cpp
Labels: category: CPU, category: CI, github_actions

#24698 [Core] Deprecate ambiguous ov::element::Type ctor
  src/core/include/openvino/core/type/element_type.hpp
Labels: category: Core, category: CPP API

#24865 [intel-npu] Adding new properties to tests
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
Labels: category: NPU

#24776 [GPU] Fix Loop to cover the case where memory is null at the first iteration
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/loop_gpu_test.cpp
Labels: category: GPU

#24774 Add test case to verify 4bit precision input model.
  src/plugins/intel_cpu/src/nodes/common/cpu_convert.cpp
  tests/samples_tests/smoke_tests/common/samples_common_test_class.py
  tests/samples_tests/smoke_tests/test_benchmark_app.py
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
Labels: category: CPU, category: samples, category: tools

#24819 [Core/test] Resolve TODOs in chech_opset1
  src/core/tests/opset1.cpp
Labels: category: Core

#24866 [DOCS] Updating Nodejs API with descriptions
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Core.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CoreConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
Labels: category: docs

#24868 [DOCS] Updating Nodejs API with descriptions
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Core.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CoreConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
Labels: category: docs

#24899 Change opt-125m-gptq model
  tests/model_hub_tests/pytorch/test_hf_transformers.py
Labels: category: PyTorch FE

#24877 [GPU] Don't add crop for unused out ports of Split op
  src/plugins/intel_gpu/src/plugin/ops/split.cpp
Labels: category: GPU

#24737 [CORE] depracate get/set_concatenation_axis functions
  src/common/low_precision_transformations/src/move_fake_quantize.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/offline_transformations/src/pruning/propagate_masks.cpp
  src/common/transformations/src/transformations/common_optimizations/concat_to_broadcast.cpp
  src/common/transformations/src/transformations/symbolic_transformations/dereshape_matmul.cpp
  src/common/transformations/src/transformations/symbolic_transformations/symbol_optimization.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_concat.cpp
  src/core/include/openvino/op/concat.hpp
  src/core/shape_inference/include/concat_shape_inference.hpp
  src/core/src/op/concat.cpp
  src/core/tests/copy.cpp
  src/plugins/intel_gpu/src/graph/concatenation.cpp
Labels: category: Core, category: GPU, category: transformations, category: LP transformations, category: CPP API

#24497 [GPU] Fix wrong condition for dynamic onednn convolution impl-type.
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#24880 [Snippets] Fixed Invalid Read in FuseLoops pass
  src/common/snippets/src/lowered/pass/fuse_loops.cpp
Labels: bug, category: CPU

#24813 [GPU][DOC] Link to OCL article
  src/plugins/intel_gpu/docs/gpu_plugin_driver_troubleshooting.md
Labels: category: GPU, category: docs

#24850 [CPU] Optimize the unique operator
  src/plugins/intel_cpu/src/nodes/unique.cpp
Labels: category: CPU, ExternalPR

#24841 [TRANSFORMATIONS] Add a check to SDPAToPagedAttention to fail fast
  src/common/transformations/tests/sdpa_to_paged_attention_test.cpp
  src/core/src/pass/sdpa_to_paged_attention.cpp
Labels: category: Core, category: transformations

#24845 More accurate shape of optimization
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/src/transformations/symbolic_transformations/symbol_optimization.cpp
  src/common/transformations/tests/symbolic_transformations/label_optimization.cpp
Labels: category: transformations

#24884 [DOCS] fix back to top button
  docs/openvino_sphinx_theme/openvino_sphinx_theme/static/css/openvino_sphinx_theme.css
  docs/sphinx_setup/_static/css/custom.css
Labels: category: docs

#24827 [DOCS] CPU perf hints doc review
  docs/articles_en/assets/snippets/multi_threading.py
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device/performance-hint-and-threads-scheduling.rst
Labels: category: docs

#24722 [PyOV] Fix hanging on infer request destruction
  src/bindings/python/src/pyopenvino/core/async_infer_queue.cpp
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/infer_request.cpp
  src/bindings/python/src/pyopenvino/core/infer_request.hpp
  src/bindings/python/src/pyopenvino/frontend/extension.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/bindings/python/tests/test_graph/test_op.py
Labels: category: Python API

#24897 [Snippets] Added dynamism support to MHA Tokenization pass
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/common/snippets/tests/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/tests/ov_helpers/ov_snippets_models/include/subgraph_mha.hpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_mha.cpp
Labels: category: IE Tests, category: CPU

#24896 [GPU] Move scaling from QK dot product to Q
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
Labels: category: GPU

#24572 [GHA] dGPU tests pipeline
  .github/workflows/job_gpu_tests.yml
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#24754 [CPU][ARM] Support deconvolution to correctly handle multiple output edges on a single output port
  src/plugins/intel_cpu/src/nodes/deconv.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/arm/deconv_multiple_output_edges.cpp
Labels: category: CPU, platform: arm

#24890 [TRANSFORMATIONS] Extend PositionIDsReplacer pattern
  src/common/transformations/src/transformations/sdpa_to_paged_attention/position_ids_replacer.cpp
Labels: category: transformations

#24907 Relaxes SharedOpOptimization restrictions
  src/common/transformations/src/transformations/common_optimizations/shared_ops_optimization.cpp
Labels: category: transformations

#24837 [CPU] Add MLP & QKV fusion for LLM serving with PageAttention
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_utils.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_utils.hpp
  src/plugins/intel_cpu/src/nodes/llm_mlp.cpp
  src/plugins/intel_cpu/src/nodes/llm_mlp.h
  src/plugins/intel_cpu/src/nodes/qkv_proj.cpp
  src/plugins/intel_cpu/src/nodes/qkv_proj.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/op/llm_mlp.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/op/llm_mlp.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/op/qkv_proj.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/op/qkv_proj.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/pass/mlp_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/pass/mlp_fusion.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/pass/qkv_proj_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/pass/qkv_proj_fusion.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/utils/plain_tensor.hpp
Labels: category: CPU, category: build

#24898 [GSOC][CPU][ARM] Activate SDPA for ARM devices
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/scaled_attn.cpp
Labels: category: CPU, ExternalPR

#24879 Handle 0 dims case in ReshapeOptimizations
  src/common/transformations/include/transformations/symbolic_transformations/reshape_optimizations.hpp
  src/common/transformations/src/transformations/symbolic_transformations/reshape_optimizations.cpp
  src/common/transformations/tests/symbolic_transformations/reshape_optimizations.cpp
Labels: category: transformations

#24878 add support for opencloudos / tencentos
  .github/dockerfiles/docker_tag
  install_build_dependencies.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI, ExternalPR, category: dependency_changes, category: docker_env, category: dockerfiles

#24901 Change opt-125m-gptq model
  tests/model_hub_tests/torch_tests/test_hf_transformers.py
Labels: port to master, category: PyTorch FE

#24815 [DOCS] Update OpenVINO build instruction (Android system)
  docs/dev/build_android.md
Labels: platform: android, category: docs

#24875 [TF FE] Support HSVToRGB operation for TensorFlow
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/include/utils.hpp
  src/frontends/tensorflow_common/src/op/hsv_to_rgb.cpp
  src/frontends/tensorflow_common/src/utils.cpp
  tests/layer_tests/tensorflow_tests/test_tf_HSVToRGB.py
Labels: category: docs, ExternalPR, category: TF FE, category: TFL FE

#24873 [MOC] Implement LSTMCell fusion for Keras LSTM layers
  src/common/transformations/include/transformations/common_optimizations/lstm_cell_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/lstm_cell_fusion.cpp
  src/common/transformations/tests/common_optimizations/lstm_cell_fusion.cpp
Labels: category: transformations

#24795 [GPU] Fix to skip shape_of_subgraph when input shape is not changed.
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#24471 Implement IsInf JIT Emitter for ARM64 SIMD in OpenVINO
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/activation.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_enums.hpp
  src/tests/test_utils/common_test_utils/src/node_builders/activation.cpp
Labels: category: IE Tests, category: CPU, platform: arm, ExternalPR

#24871 [PT FE]: fix gptq patching for strided tensors
  src/bindings/python/src/openvino/frontend/pytorch/gptq.py
Labels: category: Python API, category: PyTorch FE

#24914 [PT FE] Fix segfault when prim::If can't be converted
  src/frontends/pytorch/src/pt_framework_node.hpp
  src/frontends/pytorch/src/utils.cpp
  tests/layer_tests/pytorch_tests/test_upsample.py
Labels: category: PyTorch FE

#24912 Switch ONNX model tests and TF nightly tests to a bigger runner
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#24929 [core] Integrate f4e2m1 with std::numeric_limits
  src/core/include/openvino/core/type/float4_e2m1.hpp
  src/core/tests/float4_e2m1.cpp
Labels: category: Core, category: CPP API

#24928 [CI] [GHA] Add `Timeout was reached` to the list of errors in rerunner
  .github/scripts/workflow_rerun/errors_to_look_for.json
Labels: category: CI

#24902 Change opt-125m-gptq model
  tests/model_hub_tests/pytorch/test_hf_transformers.py
Labels: ported to master, category: PyTorch FE

#24908 [DOCS] torch.compile documentation updates for 2024.2
  docs/articles_en/openvino-workflow/torch-compile.rst
Labels: category: docs

#24924 [DOCS] Performance hint and threads scheduling - port to 24.2
  docs/articles_en/assets/snippets/multi_threading.py
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device/performance-hint-and-thread-scheduling.rst
Labels: category: docs

#24053 [OV JS] Fix multiple Core instances
  src/bindings/js/node/include/async_reader.hpp
  src/bindings/js/node/src/async_reader.cpp
  src/bindings/js/node/src/core_wrap.cpp
Labels: category: JS API

#24941 Revert "More accurate shape of optimization"
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/src/transformations/symbolic_transformations/symbol_optimization.cpp
  src/common/transformations/tests/symbolic_transformations/label_optimization.cpp
Labels: category: transformations

#24872 [LPT] Quantization to point support
  src/common/low_precision_transformations/src/network_helper.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/low_precision_transformations/convolution_transformation.cpp
Labels: category: GPU, category: CPU, category: LP transformations

#24946 [DOCS] Performance hint and thread scheduling update
  docs/articles_en/assets/snippets/multi_threading.py
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device/performance-hint-and-thread-scheduling.rst
Labels: category: docs

#24930 [GPU] Relax SDPA head size limitations for LLMs
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, under_perf_check

#24121 Documentation for Transformations Python API
  docs/articles_en/assets/images/optional.png
  docs/articles_en/assets/images/or-branches.png
  docs/articles_en/assets/images/or_branches.png
  docs/articles_en/assets/images/python-api.png
  docs/articles_en/assets/images/simple_pattern_example.png
  docs/articles_en/assets/snippets/ov_model_snippets.cpp
  docs/articles_en/assets/snippets/ov_patterns.cpp
  docs/articles_en/assets/snippets/ov_patterns.py
  docs/articles_en/documentation/openvino-extensibility/transformation-api.rst
  docs/articles_en/documentation/openvino-extensibility/transformation-api/patterns-python-api.rst
  src/bindings/python/tests/test_transformations/test_pattern_ops.py
  src/core/tests/pattern.cpp
Labels: category: Core, category: Python API, category: docs

#24935 [TF FE Tests] Change HSVToRGB Unit Test To Test Grayscale Image
  tests/layer_tests/tensorflow_tests/test_tf_HSVToRGB.py
Labels: ExternalPR, category: TF FE

#23108 [CPU][ARM] Enable NHWC in Reduce
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_reduce.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_utils.hpp
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_reduce_no_keep_dims.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_reduce_no_keep_dims.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/reduce.cpp
  src/plugins/intel_cpu/tests/unit/transformations/arm/convert_reduce_no_keep_dims.cpp
Labels: category: CPU, platform: arm, no_stale

#24904 [GPU] Model stat print, host time measurement debug knob
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/plugin/transformations/print_model_statistics.cpp
  src/plugins/intel_gpu/src/plugin/transformations/print_model_statistics.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/tests/test_utils/common_test_utils/src/ov_tensor_utils.cpp
Labels: category: IE Tests, category: GPU

#24952 [DOCS] OpenVINO Python API docs build fix
  docs/CMakeLists.txt
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/custom-class-template.rst
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/custom-module-template.rst
  docs/scripts/install_appropriate_openvino_version.py
Labels: category: build, category: docs

#24733 [Snippets] Added dynamic Transpose support
  src/common/snippets/src/op/load.cpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/explicit_transpose_matmul_inputs.cpp
  src/common/snippets/src/pass/fuse_transpose_brgemm.cpp
  src/common/snippets/src/pass/transpose_decomposition.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/transpose.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/transpose_softmax.cpp
  src/tests/functional/plugin/shared/include/snippets/transpose.hpp
  src/tests/functional/plugin/shared/include/snippets/transpose_softmax.hpp
  src/tests/functional/plugin/shared/src/snippets/transpose.cpp
  src/tests/functional/plugin/shared/src/snippets/transpose_softmax.cpp
  src/tests/ov_helpers/ov_snippets_models/include/subgraph_softmax.hpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_softmax.cpp
Labels: category: IE Tests, category: CPU

#24936 Let ocl FC to use tile size 1 only when the # of threads is less than the w/ minimal # of threads
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
Labels: category: GPU

#24949 [DOCS] Transformations python api docs for 24.2
  docs/articles_en/assets/images/optional.png
  docs/articles_en/assets/images/or-branches.png
  docs/articles_en/assets/images/or_branches.png
  docs/articles_en/assets/images/python-api.png
  docs/articles_en/assets/images/simple_pattern_example.png
  docs/articles_en/assets/snippets/ov_model_snippets.cpp
  docs/articles_en/assets/snippets/ov_patterns.cpp
  docs/articles_en/assets/snippets/ov_patterns.py
  docs/articles_en/documentation/openvino-extensibility/transformation-api.rst
  docs/articles_en/documentation/openvino-extensibility/transformation-api/patterns-python-api.rst
  src/bindings/python/tests/test_transformations/test_pattern_ops.py
  src/core/tests/pattern.cpp
Labels: category: Core, category: Python API, category: docs

#24954 Gather -> ShapeOf simplification
  src/common/transformations/src/transformations/common_optimizations/simplify_shape_of_sub_graph.cpp
Labels: category: transformations

#24922 [DOCS] Direct to Python tab in the ovc transition guide for 23.3
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition.rst
Labels: category: docs

#24956 Update path to python snippets
  .github/workflows/job_python_unit_tests.yml
  docs/articles_en/assets/snippets/__init__.py
  docs/articles_en/assets/snippets/main.py
  docs/articles_en/assets/snippets/utils.py
Labels: category: CI, category: docs, github_actions

#24962 [README] Install latest and greatest version
  README.md
Labels: category: docs

#24950 Revert "Revert "More accurate shape of optimization" (#24941)"
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/src/transformations/symbolic_transformations/symbol_optimization.cpp
  src/common/transformations/tests/symbolic_transformations/label_optimization.cpp
Labels: category: transformations

#24960 [GPU] Reduce limitation for choosing onednn deconvolution
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#24965 [OV JS] Update js deps to fix audit, LTS port of #24957
  samples/js/node/package-lock.json
  src/bindings/js/node/package-lock.json
Labels: category: samples, category: JS API

#24923 [core] Add support of f4e2m1 in Convert and Constant
  src/bindings/python/src/openvino/helpers/packing.py
  src/bindings/python/src/openvino/runtime/opset13/ops.py
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/tests/test_transformations/test_compression_4bit.py
  src/core/dev_api/openvino/core/type/element_iterator.hpp
  src/core/include/openvino/op/constant.hpp
  src/core/reference/include/openvino/reference/utils/type_util.hpp
  src/core/src/op/constant.cpp
  src/core/src/op/convert.cpp
  src/core/tests/constant.cpp
  src/core/tests/element_iterator_test.cpp
  src/plugins/template/tests/functional/op_reference/base_reference_test.cpp
  src/plugins/template/tests/functional/op_reference/convert_like.cpp
Labels: category: Core, category: Python API, category: TEMPLATE, category: CPP API

#24958 [OV JS] Update js deps to fix audit, port of #24957
  samples/js/node/package-lock.json
  src/bindings/js/node/package-lock.json
Labels: category: samples, category: JS API

#24844 Docs data table implementation
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/articles_en/about-openvino/performance-benchmarks/generativeAI-benchmarks.rst
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/css/jquery.dataTables.min.css
  docs/sphinx_setup/_static/css/openVinoDataTables.css
  docs/sphinx_setup/_static/js/custom.js
  docs/sphinx_setup/_static/js/jquery.dataTables.min.js
  docs/sphinx_setup/_static/js/openVinoDataTables.js
  docs/sphinx_setup/_static/llm_models.csv
  docs/sphinx_setup/_static/models.csv
  docs/sphinx_setup/_templates/layout.html
Labels: category: docs

#24957 [OV JS] Update js deps to fix audit
  samples/js/node/package-lock.json
  src/bindings/js/node/package-lock.json
Labels: category: samples, category: JS API

#24971 [DOCS] Updating footer file - port to 2024.2
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/html/footer.html
Labels: category: docs

#24947 [DOCS] fix back to top button for 24.2
  docs/openvino_sphinx_theme/openvino_sphinx_theme/static/css/openvino_sphinx_theme.css
  docs/sphinx_setup/_static/css/custom.css
Labels: category: docs

#24938 [GPU] Fix gather_elements ref kernel for padding input
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_elements_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_elements_kernel_ref.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/gather_elements_padding_input.cpp
Labels: category: GPU

#24966 [GPU] CPU Reduce impl + ScatterNDUpdate fixes to avoid shape flow synchronizations
  src/plugins/intel_gpu/src/graph/impls/cpu/reduce.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/register.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/register.hpp
  src/plugins/intel_gpu/src/graph/include/scatter_nd_update_inst.h
  src/plugins/intel_gpu/src/graph/scatter_nd_update.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reduce_gpu_test.cpp
Labels: category: GPU

#24980 [DOCS] Fixing Transformation Patterns snippets
  docs/articles_en/assets/snippets/ov_patterns.cpp
Labels: category: docs

#24981 [Docs] LLM Benchmarks update
  docs/sphinx_setup/_static/llm_models.csv
Labels: category: docs

#24974 [DOCS] Data Table Implementation for 24.2
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/css/jquery.dataTables.min.css
  docs/sphinx_setup/_static/css/openVinoDataTables.css
  docs/sphinx_setup/_static/js/custom.js
  docs/sphinx_setup/_static/js/jquery.dataTables.min.js
  docs/sphinx_setup/_static/js/openVinoDataTables.js
  docs/sphinx_setup/_static/llm_models.csv
  docs/sphinx_setup/_static/models.csv
  docs/sphinx_setup/_templates/layout.html
Labels: category: docs

#24985 [DOCS] benchmarks 2024.2
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/articles_en/assets/snippets/ov_patterns.py
  docs/articles_en/documentation/openvino-extensibility/transformation-api/patterns-python-api.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.1-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.1-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.1-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
Labels: category: docs

#24793 [DOCS] bring YOCTO installation article back
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yocto.rst
  docs/articles_en/get-started/troubleshooting-install-config.rst
Labels: category: docs

#24794 [DOCS] bring YOCTO installation article back - port 24.2
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yocto.rst
  docs/articles_en/get-started/troubleshooting-install-config.rst
Labels: category: docs

#24942 [GPU] Fix reorder for node with single output, multiple users
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/tests/unit/passes/reorder_inputs_test.cpp
Labels: category: GPU

#24995 DOCS-benchmarks-2024.2-port-24.2
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/articles_en/documentation/openvino-extensibility/transformation-api/patterns-python-api.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.1-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.1-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.1-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
Labels: category: docs

#24854 [CPU] Fix sdpa pattern match when adding result
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/stateful_sdpa_fusion.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/concat_sdp.cpp
  src/plugins/intel_cpu/tests/unit/transformations/state_concat_sdpa.cpp
Labels: category: CPU

#24903 [DOCS] Integrate OV with Snap
  docs/articles_en/openvino-workflow/deployment-locally.rst
  docs/articles_en/openvino-workflow/deployment-locally/integrate-openvino-with-ubuntu-snap.rst
Labels: category: docs

#24984 [CPU][ARM] Remove WA in `hasFP16HardwareSupport`
  src/plugins/intel_cpu/src/utils/precision_support.cpp
Labels: category: CPU, platform: arm

#24994 [DOCS] LLm benchmarks update for 24.2
  docs/sphinx_setup/_static/llm_models.csv
Labels: category: docs

#25000 DOCS benchmarks update 2
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
Labels: category: docs

#25002 DOCS-snap-deployment-port-24.2
  docs/articles_en/openvino-workflow/deployment-locally.rst
  docs/articles_en/openvino-workflow/deployment-locally/integrate-openvino-with-ubuntu-snap.rst
Labels: category: docs

#24988 [DOCS] Update system-requirements.rst
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
Labels: category: docs

#24997 DOCS benchmarks update 2
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
Labels: category: docs

#24998 [DOCS] Adding tabs to the Transformation Patterns article for master
  docs/articles_en/documentation/openvino-extensibility/transformation-api/patterns-python-api.rst
Labels: category: docs

#24977 [LPT] ReduceSum: zero point support
  src/common/low_precision_transformations/src/reduce_sum.cpp
  src/common/low_precision_transformations/tests/reduce_sum_transformation.cpp
  src/core/src/op/multiply.cpp
Labels: category: Core, category: LP transformations

#25001 [DOCS] Adding tabs to the Transformation Patterns article for 24.2
  docs/articles_en/documentation/openvino-extensibility/transformation-api/patterns-python-api.rst
Labels: category: docs

#25007 Docs releasenotes 24.2 first pass port 24.2
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/sphinx_setup/_static/css/custom.css
Labels: category: docs

#24986 [DOCS] releasenotes 24.2 first pass
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/openvino-workflow/deployment-locally/integrate-openvino-with-ubuntu-snap.rst
  docs/sphinx_setup/_static/css/custom.css
Labels: category: docs

#25010 [DOCS] Snippets fix for master
  docs/articles_en/documentation/openvino-extensibility.rst
  docs/articles_en/documentation/openvino-extensibility/custom-openvino-operations.rst
Labels: category: docs

#25012 [DOCS] Snippets fix for 24.2
  docs/articles_en/documentation/openvino-extensibility.rst
  docs/articles_en/documentation/openvino-extensibility/custom-openvino-operations.rst
Labels: category: docs

#25008 [DOCS] Move arrows
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/get-started.rst
  docs/articles_en/get-started/install-openvino.rst
  docs/sphinx_setup/_static/css/jquery.dataTables.min.css
Labels: category: docs

#25009 [DOCS] OpenVINO Python API fix for 2024.2
  docs/CMakeLists.txt
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/custom-class-template.rst
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/custom-module-template.rst
  docs/requirements.txt
  docs/scripts/install_appropriate_openvino_version.py
Labels: category: build, category: docs, category: dependency_changes

#24916 [GPU] Enable shape agnostic Gemm in dpas platform.
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/include/gemm_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/format.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU

#24961 [DOCS] Reference to Hugging Face
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/documentation/legacy-features/install-dev-tools.rst
  docs/articles_en/documentation/legacy-features/model-zoo.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-efficient-det.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-object-detection.rst
  docs/articles_en/documentation/openvino-extensibility/custom-gpu-operations.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-brew.rst
  docs/articles_en/get-started/install-openvino/install-openvino-vcpkg.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
  docs/articles_en/openvino-workflow/model-optimization.rst
  docs/articles_en/openvino-workflow/model-preparation/conversion-parameters.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-onnx.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-paddle.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-pytorch.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-tensorflow-lite.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-tensorflow.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-to-ir.rst
  docs/articles_en/openvino-workflow/model-preparation/setting-input-shapes.rst
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application.rst
Labels: category: docs

#25027 [DOCS] Reference to Hugging Face
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/documentation/legacy-features/install-dev-tools.rst
  docs/articles_en/documentation/legacy-features/model-zoo.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-efficient-det.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-object-detection.rst
  docs/articles_en/documentation/openvino-extensibility/custom-gpu-operations.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-brew.rst
  docs/articles_en/get-started/install-openvino/install-openvino-vcpkg.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
  docs/articles_en/openvino-workflow/model-optimization.rst
  docs/articles_en/openvino-workflow/model-preparation/conversion-parameters.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-onnx.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-paddle.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-pytorch.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-tensorflow-lite.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-tensorflow.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-to-ir.rst
  docs/articles_en/openvino-workflow/model-preparation/setting-input-shapes.rst
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application.rst
Labels: category: docs

#24983 [CPU][ARM] Enable MVN SLT f16 tests
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/mvn.cpp
Labels: category: CPU, platform: arm

#25006 [subgraph dumper] Change model package patterns
  src/tests/test_utils/functional_test_utils/layer_tests_summary/data/default_re_to_find_models.lst
Labels: category: IE Tests, conformance

#25005 Move python configuration to common function
  .github/workflows/linux.yml
  cmake/developer_package/cross_compile/python_helpers.cmake
  cmake/developer_package/features.cmake
  cmake/developer_package/options.cmake
  src/bindings/python/CMakeLists.txt
Labels: category: build, category: Python API, category: CI, github_actions

#20230 [EISW-89683] Switch `DEVICE_KEEMBAY` to `DEVICE_NPU`
  src/plugins/auto/tests/unit/compile_model_metric_test.cpp
  src/plugins/intel_npu/tests/functional/common/utils.cpp
  src/plugins/intel_npu/tests/functional/common/utils.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/properties_tests.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_constants.hpp
  src/tests/test_utils/common_test_utils/src/test_constants.cpp
Labels: category: IE Tests, category: AUTO, category: NPU

#25023 [intel-npu] Fix for pci_info throw with old drivers
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
Labels: category: NPU

#24327 [CPU] Do not add Input / Output to executable nodes
  src/plugins/intel_cpu/src/graph.cpp
Labels: category: CPU

#25041 Try to disable package registry
  CMakeLists.txt
  cmake/developer_package/OpenVINODeveloperScriptsConfig.cmake
Labels: category: build

#25026 [DOCS] Release links update
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
Labels: category: docs

#25015 Add Selector Tool 2024.2
  docs/articles_en/get-started/install-openvino.rst
  docs/sphinx_setup/_static/selector-tool/assets/selector-6bf35a6f.css
  docs/sphinx_setup/_static/selector-tool/assets/selector-8f39cd2e.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-b0e2854e.css
  docs/sphinx_setup/_static/selector-tool/assets/selector-d6eabe1c.js
  docs/sphinx_setup/_static/selector-tool/selector-0fa99c3.html
Labels: category: docs

#25038 DOCS-release-final-touches-port-24.2
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

#25042 Use ZIP cpack generator on Windows
  .github/workflows/job_tokenizers.yml
  cmake/developer_package/features.cmake
Labels: category: build, category: CI, github_actions

#25045 [DOCS] Release links update port
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
Labels: category: docs

#25034 [DOCS] release final touches
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

#25048 [DOCS] release final touches addendum
  docs/sphinx_setup/index.rst
Labels: category: docs

#25011 [LPT] ReduceSum: zero point support: core update rollback
  src/core/src/op/multiply.cpp
Labels: category: Core

#24836 [GPU] fix striding in transpose case
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#24999 [GPU] Add axis attribute to crop for VariadicSplit and Split dynamic support
  src/plugins/intel_gpu/include/intel_gpu/primitives/crop.hpp
  src/plugins/intel_gpu/src/graph/crop.cpp
  src/plugins/intel_gpu/src/plugin/ops/rnn.cpp
  src/plugins/intel_gpu/src/plugin/ops/split.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/crop_si_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/crop_gpu_test.cpp
Labels: category: GPU

#25043 [GPU] Fix random error in KV Cache test of changing batch
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#25025 [AUTO] Fix the crash when model is empty
  src/plugins/auto/src/auto_schedule.cpp
  src/plugins/auto/tests/functional/behavior/caching_test.cpp
Labels: category: AUTO

#25065 [DOCS] relnotes tiny tweak
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

#25035 [CPU][ARM] Remove skip tests for transpose
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, platform: arm

#25066 [DOCS] relnotes tiny tweak and some more
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

#24926 [CI] [GHA] Unskip `ov_subgraphs_dumper_tests` in Sanitizer workflow, fix dependency issue
  .github/workflows/linux_sanitizers.yml
Labels: category: CI, github_actions
