Repository openvinotoolkit/openvino, pull requests merged in 2024-10, with the labels that each got.

#25780 [NPUW] Add initial unpack and partitioning unit tests on NPUW
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.hpp
  src/plugins/intel_npu/tests/CMakeLists.txt
  src/plugins/intel_npu/tests/unit/CMakeLists.txt
  src/plugins/intel_npu/tests/unit/npuw/online_partitioning.cpp
  src/plugins/intel_npu/tests/unit/npuw/unpack.cpp
  src/plugins/intel_npu/tests/unit/npuw/unpack.hpp
Labels: category: build, category: NPU, category: NPUW

#26493 [Snippets][CPU] Added dynamic MatMul INT8/BF16 support
  src/common/snippets/include/snippets/utils/utils.hpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/debug_capabilities.cpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/debug_capabilities.hpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_emitter.cpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_emitter.hpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/utils.cpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/utils.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_copy_b_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_loop_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_perf_count_chrono_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_segfault_detector_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/utils.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/verbose.cpp
  src/plugins/intel_cpu/src/emitters/tpp/x64/jit_equation_emitter.cpp
  src/plugins/intel_cpu/src/emitters/tpp/x64/jit_tpp_emitter.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/brgemm_to_brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/expressions/brgemm_copy_b_buffer_expressions.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/mha.cpp
Labels: category: CPU

#26884 Revert "[NPUW] Add initial unpack and partitioning unit tests on NPUW"
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.hpp
  src/plugins/intel_npu/tests/CMakeLists.txt
  src/plugins/intel_npu/tests/unit/CMakeLists.txt
  src/plugins/intel_npu/tests/unit/npuw/online_partitioning.cpp
  src/plugins/intel_npu/tests/unit/npuw/unpack.cpp
  src/plugins/intel_npu/tests/unit/npuw/unpack.hpp
Labels: category: build, category: NPU, category: NPUW

#26865 [NPU] Add documentation for batching on NPU plugin
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device/batching-on-npu-plugin.rst
Labels: category: docs

#26848 [GPU] Support large N FC optimization for dynamic quantization case
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bf_tiled.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
Labels: category: GPU

#26886 [PT FE][GHA] Run PT FE layer tests on Ubuntu 24.04 with Python 3.12 and NumPy 2.X
  .github/workflows/job_pytorch_layer_tests.yml
  .github/workflows/job_tensorflow_layer_tests.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
  .github/workflows/windows_vs2019_release.yml
  tests/layer_tests/pytorch_tests/test_bitwise_ops.py
  tests/requirements_pytorch
  tests/requirements_tensorflow
Labels: category: CI, github_actions, category: PyTorch FE, no-match-files

#26893 [GPU] Fix double jit constants
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
Labels: category: GPU

#26892 [TF FE]: Support complex tensors for ExpandDims operation
  src/frontends/tensorflow_common/src/op/expand_dims.cpp
  tests/layer_tests/tensorflow_tests/test_tf_ExpandDims.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#26888 [GPU] Extract debug code from network::execute()
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/debug_helper.cpp
  src/plugins/intel_gpu/src/graph/debug_helper.hpp
  src/plugins/intel_gpu/src/graph/include/program_dump_graph.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/program_dump_graph.cpp
Labels: category: GPU

#26879 [GPU] Fix unit tests ph4
  src/plugins/intel_gpu/src/graph/program_node.cpp
Labels: category: GPU

#26900 [GPU] Fix empty oneDnn users
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#26896 [GPU] Adjust usm_host memory usage for InferRequest tensors
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
Labels: category: GPU

#26836 [DOCS] Using OpenVINO from wheel for 24.4
  docs/articles_en/documentation/openvino-extensibility.rst
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application.rst
  docs/snippets/CMakeLists.txt
  src/core/template_extension/CMakeLists.txt
Labels: category: Core, category: build, category: docs, category: docs_snippets

#26912 [TF FE][Keras] Use latest Keras for TF FE validation and adopt tests
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_dot.py
  tests/requirements_tensorflow
Labels: category: TF FE, no-match-files

#26870 [core] Convert reference use intrinsic implementation for ChromeOS
  src/core/reference/CMakeLists.txt
  src/core/reference/include/openvino/reference/convert.hpp
  src/core/reference/include/openvino/reference/utils/convert_util.hpp
  src/core/reference/include/openvino/reference/utils/convert_x86_intrinsics.hpp
  src/core/reference/src/op/convert.cpp
  src/core/reference/src/op/convert_x86_intrinsics.cpp
  src/core/reference/src/op/jit_generator.cpp
  src/core/reference/src/op/jit_generator.hpp
Labels: category: Core, category: build

#26895 Fix ov RTTI
  src/core/include/openvino/op/sink.hpp
  src/core/include/openvino/op/util/convolution_backprop_base.hpp
  src/core/include/openvino/op/util/convolution_base.hpp
  src/core/include/openvino/op/util/deformable_convolution_base.hpp
  src/core/include/openvino/op/util/framework_node.hpp
  src/core/include/openvino/op/util/multi_subgraph_base.hpp
  src/frontends/tensorflow_common/include/helper_ops/internal_operation.hpp
Labels: category: Core, category: TF FE, category: CPP API, category: TFL FE

#26913 [PT FE] Fix torchaudio dependency for MacOS x86
  tests/requirements_pytorch
Labels: no-match-files

#26909 [NPU] Batching on NPU plugin
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device/batching-on-npu-plugin.rst
Labels: category: docs

#26927 [DOCS] Fixing references in Node.js API docs
  docs/sphinx_setup/api/nodejs_api/nodejs_api.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
Labels: category: docs

#26936 [DOCS] technical adjustments for the build 23.3
  docs/sphinx_setup/conf.py
Labels: category: docs

#26932 Docs Add Category to Coveo search engine
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/sphinx_setup/conf.py
Labels: category: docs

#26929 [GHA] Don't update latest available artifacts link when copy failed
  .github/actions/store_artifacts/store_artifacts.py
Labels: category: CI

#26933 [DOCS] Fixing references to Node.js methods
  docs/sphinx_setup/api/nodejs_api/nodejs_api.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
Labels: category: docs

#26934 [DOCS] technical adjustments for the build 24.4
  CONTRIBUTING.md
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
  docs/sphinx_setup/conf.py
Labels: category: docs

#26864 [NPUW] Better utilize threads on compilation
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
Labels: category: NPU, category: NPUW

#26872 Eliminate nop Convert at the beginning of the MOC pipeline
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/tests/common_optimizations/moc_transformations.cpp
Labels: category: transformations

#26930 [PT FE] Fix Bitwise translators with 3 inputs
  src/frontends/pytorch/src/op/bitwise.cpp
  tests/layer_tests/pytorch_tests/test_bitwise_ops.py
Labels: category: PyTorch FE

#26878 List decompositions for torch.export
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/decompositions.py
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_col2im.py
  tests/layer_tests/pytorch_tests/test_eye.py
  tests/model_hub_tests/pytorch/torch_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: Python API, category: PyTorch FE, category: OVC

#26946 [DOCS] release notes one more adjustment
  docs/articles_en/about-openvino/release-notes-openvino.rst
Labels: category: docs

#26876 [DOCS] release notes one more adjustment
  docs/articles_en/about-openvino/release-notes-openvino.rst
Labels: category: docs

#26948 [PT FE] Remove explicit optimum deps from validation
  tests/requirements_pytorch
Labels: no-match-files

#26839 [PT FE] Support prim::fork and aten::wait
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_fork_wait.py
Labels: category: Python API, category: PyTorch FE

#26907 Use get_partial_shape to get dynamic shape
  src/plugins/intel_npu/src/compiler/src/zero_compiler_in_driver.cpp
Labels: category: NPU

#26823 [NPU] Adding support for the set_tensors method
  src/plugins/intel_npu/src/al/include/sync_infer_request.hpp
  src/plugins/intel_npu/src/al/src/sync_infer_request.cpp
  src/plugins/intel_npu/src/backend/include/zero_infer_request.hpp
  src/plugins/intel_npu/src/backend/include/zero_pipeline.hpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
  src/plugins/intel_npu/tests/functional/behavior/batched_tensors_tests/batched_run.cpp
  src/plugins/intel_npu/tests/functional/behavior/batched_tensors_tests/batched_run.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: NPU

#26843 [Snippets] Tokenization helper cleanup and tokenization tests reenabling
  src/common/snippets/src/utils/tokenization_utils.cpp
  src/common/snippets/tests/src/pass/collapse_subgraph.cpp
  src/common/snippets/tests/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/arm/convert.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/x64/convert.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/snipptes_mark_skipped.cpp
  src/tests/ov_helpers/ov_snippets_models/include/subgraph_converts.hpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_convert.cpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_mha.cpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_simple.cpp
Labels: category: IE Tests, category: CPU

#26898 [ONNX] Added support for dynamic input shapes in com.microsoft.MatMulNBits
  src/frontends/onnx/frontend/src/op/com.microsoft/matmulnbits.cpp
Labels: category: ONNX FE

#26954 [GHA] use pigz with tar
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/debian_10_arm/Dockerfile
  .github/dockerfiles/ov_build/fedora_29/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_20_04_arm64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_20_04_x64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_20_04_x64_nvidia/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_riscv/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_x64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_x64_cc/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_x64_dpcpp/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_x64_nvidia/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_24_04_x64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_20_04_arm64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_20_04_x64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_22_04_x64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_24_04_x64/Dockerfile
  .github/workflows/build_doc.yml
  .github/workflows/coverity.yml
  .github/workflows/dev_cpu_linux_snippets_libxsmm.yml
  .github/workflows/job_build_linux.yml
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/job_gpu_tests.yml
  .github/workflows/job_jax_models_tests.yml
  .github/workflows/job_onnx_models_tests.yml
  .github/workflows/job_onnx_runtime.yml
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/job_pytorch_layer_tests.yml
  .github/workflows/job_pytorch_models_tests.yml
  .github/workflows/job_samples_tests.yml
  .github/workflows/job_tensorflow_layer_tests.yml
  .github/workflows/job_tensorflow_models_tests.yml
  .github/workflows/job_tokenizers.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/linux_sanitizers.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/ubuntu_22.yml
Labels: category: CI, github_actions, category: dockerfiles

#26939 [GHA] Automatically choose merge queue base branch in restore artifacts action
  .github/actions/common/artifact_utils.py
  .github/actions/restore_artifacts/action.yml
  .github/actions/store_artifacts/action.yml
Labels: category: CI

#26904 [Op]: Added SearchSorted op def.
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/op/search_sorted.hpp
  src/core/shape_inference/include/search_sorted_shape_inference.hpp
  src/core/src/op/search_sorted.cpp
  src/core/tests/type_prop/search_sorted.cpp
  src/core/tests/visitors/op/sorted_search.cpp
Labels: category: Core, category: CPP API, Code Freeze

#26955 NPUW: Fix DCOFF patterns and handling for NNCF 2.12's GPTQs
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
Labels: category: NPU, category: NPUW

#26911 [GPU] Fix unit tests ph5
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/quantize_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reduce_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/strided_slice_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/tile_gpu_test.cpp
Labels: category: GPU

#26971 QF Sitemap Url wrapper
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
Labels: category: docs

#26970 [GHA] Pin upload-artifact version in provider
  .github/actions/openvino_provider/action.yml
Labels: category: CI

#26972 [DOCS Port Sitemap for coveo to 24 4
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/sphinx_setup/conf.py
Labels: category: docs

#26788 [NPUW] Support submodels caching and stabilize inputs/outputs order of submodels
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/group.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU, category: NPUW

#26880 NPUW: Spatial execution
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/logging.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/group.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/compute.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/compute.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.hpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.hpp
Labels: category: NPU, category: NPUW

#26905 [NPUW] Recent coverity fix
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
Labels: category: NPU, category: NPUW

#26415 [GPU] Conv should not extend strides and dilations for 3d output
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/dynamic_smoke_test_with_static_conv.cpp
Labels: category: GPU

#26479 [GPU] Fix fc 4d for onednn
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#26926 [NPUW] Update nullptr fix for parameters
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
Labels: category: NPU, category: NPUW

#26959 [GPU] Fix setting dependency input when unfusing subgraph
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/fusions/fully_connected_fusion_test.cpp
Labels: category: GPU

#25869 [GPU] Fix accuracy issue at gemm_tiled_opt kernel with dynamic padding
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_tiled_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_utils.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#26850 [GPU] Use ifm size of fc for dynamic quantize
  src/plugins/intel_gpu/src/graph/impls/ocl/dynamic_quantize.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/dynamic_quantize/dynamic_quantize_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/dynamic_quantize/dynamic_quantize_kernel_ref.h
Labels: category: GPU

#26285 [CPU] SliceScatter-15 CPU implementation
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/nodes/strided_slice.cpp
  src/plugins/intel_cpu/src/nodes/strided_slice.h
  src/plugins/intel_cpu/src/shape_inference/custom/strided_slice.cpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/slice_scatter.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/slice_scatter.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/slice_scatter.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/slice_scatter.hpp
  src/tests/functional/shared_test_classes/src/single_op/slice_scatter.cpp
Labels: category: IE Tests, category: CPU, category: Opset

#26973 [GHA] Exclude onnx runtime files from package
  .github/workflows/job_build_linux.yml
  .github/workflows/job_onnx_runtime.yml
Labels: category: CI, github_actions

#26483 [CPU] [Snippets] [ARM] Support precision f16 for Snippets on ARM and separate Conversion from Load/Store emitters
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_conversion_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_conversion_emitters.hpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_load_store_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_load_store_emitters.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_memory_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_memory_emitters.cpp
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/transformations/snippets/aarch64/shape_inference.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/load_convert.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/load_convert.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/store_convert.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/store_convert.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/fuse_load_store_and_convert.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/fuse_load_store_and_convert.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/shape_inference.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/add.cpp
Labels: category: CPU

#26901 [core] Constant can be created as from shared memory
  src/core/include/openvino/op/constant.hpp
  src/core/src/op/constant.cpp
  src/core/tests/constant.cpp
Labels: category: Core, category: CPP API, Code Freeze

#26987 Skip test_tf_Bucketize for boundaries_size is 0 on GPU
  tests/layer_tests/tensorflow_tests/test_tf_Bucketize.py
Labels: category: TF FE

#26965 [GPU] fix fused_select_reorder
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/select_gpu_ref.cl
  src/plugins/intel_gpu/tests/unit/fusions/select_fusion_test.cpp
Labels: category: GPU

#26990 [GHA] Fix sanitizers tests trigger in forks
  .github/workflows/linux_sanitizers.yml
Labels: category: CI, github_actions

#26937 NPUW: Various fixes for FUNCALL_FOR_ALL
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.hpp
Labels: category: NPU, category: NPUW

#27000 Allow to Build OpenVINO with Python3.13
  scripts/setupvars/setupvars.bat
  scripts/setupvars/setupvars.ps1
  scripts/setupvars/setupvars.sh
Labels: category: dependency_changes

#26958 [ref]: Added SearchSorted ref impl
  src/core/include/openvino/opsets/opset15_tbl.hpp
  src/core/reference/include/openvino/reference/search_sorted.hpp
  src/core/tests/opset.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/ops/search_sorted.cpp
  src/plugins/template/backend/opset_int_tbl.hpp
  src/plugins/template/tests/functional/op_reference/search_sorted.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
  src/tests/test_utils/unit_test_utils/tests_data/search_sorted_data.h
Labels: category: Core, category: IE Tests, category: TEMPLATE, category: CPP API

#26801 [CPU][OMP] Fix for functional tests
  src/core/include/openvino/core/parallel.hpp
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/nodes/interpolate.cpp
  src/plugins/intel_cpu/src/nodes/mvn.cpp
  src/plugins/intel_cpu/src/nodes/non_zero.cpp
  src/plugins/intel_cpu/src/nodes/roi_align.cpp
Labels: category: Core, category: CPU, category: CPP API

#26953 Turn on support of std::filesystem::path for all build targets
  src/common/util/CMakeLists.txt
  src/common/util/include/openvino/util/filesystem.hpp
  src/core/include/openvino/core/visibility.hpp
Labels: category: Core, category: build, category: CPP API

#26981 [GPU] switch onednn primitive to use other primitive_impl constructor
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
Labels: category: GPU, ExternalIntelPR

#26610 Exclude JAX FE from all distributions except wheel
  .github/workflows/fedora_29.yml
  .github/workflows/job_debian_packages.yml
  cmake/developer_package/frontends/frontends.cmake
  cmake/packaging/archive.cmake
  cmake/packaging/common-libraries.cmake
  cmake/packaging/debian.cmake
  cmake/packaging/npm.cmake
  cmake/packaging/nsis.cmake
  cmake/packaging/rpm.cmake
  cmake/templates/OpenVINOConfig.cmake.in
  src/frontends/jax/src/CMakeLists.txt
  src/frontends/tests/frontend/shared/test_builtin_extensions/CMakeLists.txt
Labels: category: IE Tests, category: build, category: CI, category: packaging, github_actions, category: JAX FE

#26994 [GHA] Increase timeout for Pytorch layer tests
  .github/workflows/job_pytorch_layer_tests.yml
Labels: category: CI, github_actions

#26979 [GPU] Fix OOB in lrn
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/lrn_within_channel_byxf_opt.cl
Labels: category: GPU

#26656 [CI] [GHA] Introduce C++ unittests on Debian ARM
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_test/debian_10_arm/Dockerfile
  .github/workflows/debian_10_arm.yml
  .github/workflows/fedora_29.yml
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/ubuntu_20.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
  .github/workflows/windows_vs2019_debug.yml
  .github/workflows/windows_vs2019_release.yml
  src/common/low_precision_transformations/tests/fake_quantize_transformation.cpp
  src/common/transformations/tests/common_optimizations/reshape_sequence_fusion.cpp
  src/frontends/tensorflow/tests/compilation.cpp
  src/frontends/tensorflow_lite/tests/convert_tricky_models.cpp
  src/frontends/tests/frontend/shared/src/op_fuzzy.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/arm/snipptes_mark_skipped.cpp
  src/plugins/intel_cpu/tests/unit/transformations/split_fc_test.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/cache/graph_cache.cpp
  src/tests/test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: category: IE Tests, category: CPU, category: transformations, category: LP transformations, category: CI, category: TF FE, github_actions, category: TFL FE, category: dockerfiles

#26969 [ONNX] Added default_op_checks function
  src/frontends/onnx/frontend/src/op/abs.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/matmulnbits.cpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/frontend/src/utils/common.hpp
Labels: category: ONNX FE

#27012 [TESTS] Remove restart condition as it happens in nested exception
  tests/layer_tests/py_frontend_tests/test_torchvision_preprocessor.py
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
Labels: category: PyTorch FE, no-match-files

#26594 [OV JS] Fix preprocessing layout in hello_classification demo
  samples/js/node/hello_classification/hello_classification.js
Labels: category: samples

#27005 [PT FE] Disable support for cuda GPTQ type, since it was never supported
  src/bindings/python/src/openvino/frontend/pytorch/gptq.py
Labels: category: Python API, category: PyTorch FE

#27014 [PT FE] Extract signature for FX scenario
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  tests/layer_tests/py_frontend_tests/test_torch_decoder.py
  tests/model_hub_tests/pytorch/hf_transformers_models
  tests/model_hub_tests/pytorch/test_hf_transformers.py
  tests/model_hub_tests/pytorch/torch_utils.py
Labels: category: Python API, category: PyTorch FE

#26931 [PT FE] Support aten::unsafe_chunk op
  src/frontends/pytorch/src/op/getitem.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/transforms/aten_cat_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_getitem_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_index_put_replacer.cpp
  src/frontends/pytorch/src/transforms/index_loop_getitem_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_list_unpack_replacer.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/pytorch_tests/test_chunk.py
Labels: category: PyTorch FE

#27004 temporarily disable sample proto unit-test
  tools/mo/unit_tests/mo/utils/simple_proto_parser_test.py
  tools/mo/unit_tests/moc_tf_fe/conversion_basic_models_test.py
Labels: category: MO

#26982 [core] fix bug in values_info::predicate
  src/common/transformations/include/transformations/utils/gen_pattern.hpp
Labels: category: transformations

#27009 [MO] Clean up requirements due to drop of Python 3.8
  tools/benchmark_tool/setup.py
  tools/mo/requirements.txt
Labels: category: MO, category: tools, category: dependency_changes

#23315 [CPU] Enable mmap for model loading from cache.
  src/common/util/include/openvino/util/mmap_object.hpp
  src/common/util/src/os/win/win_mmap_object.cpp
  src/core/dev_api/openvino/runtime/shared_buffer.hpp
  src/frontends/ir/src/frontend.cpp
  src/frontends/ir/src/input_model.cpp
  src/frontends/ir/src/input_model.hpp
  src/inference/dev_api/openvino/runtime/icore.hpp
  src/inference/dev_api/openvino/runtime/internal_properties.hpp
  src/inference/src/cache_manager.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/plugin.cpp
  src/inference/src/dev/plugin.hpp
  src/inference/src/model_reader.cpp
  src/inference/src/model_reader.hpp
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/nodes/input.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/plugin.h
  src/plugins/intel_cpu/src/serialize.cpp
  src/plugins/intel_cpu/src/serialize.h
  src/plugins/intel_cpu/src/utils/codec_xor.cpp
  src/plugins/intel_cpu/src/utils/codec_xor.hpp
  src/plugins/intel_cpu/src/utils/serialize.cpp
  src/plugins/intel_cpu/src/utils/serialize.hpp
  src/tests/test_utils/unit_test_utils/mocks/openvino/runtime/mock_icore.hpp
Labels: category: inference, category: Core, category: IE Tests, category: CPU, category: IR FE, no_stale

#27020 [TF FE][PT FE] Update labels with reqs files
  .github/labeler.yml
Labels: category: CI

#26279 [CPU] Enabled FP16 Compressed FC on models with PagedAttention
  src/plugins/intel_cpu/src/plugin.cpp
Labels: category: CPU

#27013 [SearchSortedDef]: Bugfixes in shape_infer.
  src/core/shape_inference/include/search_sorted_shape_inference.hpp
  src/core/src/op/search_sorted.cpp
  src/core/tests/type_prop/search_sorted.cpp
Labels: bug, category: Core

#26899 [`intel-npu`] [`SUPPORT INTERNAL OPERATORS`] [`RMS`] Add support for RMS internal operator
  src/plugins/intel_npu/src/plugin/src/extension.cpp
Labels: category: NPU

#26920 [CPU][ARM64] Add JIT emitter for Eltwise SoftSign operation
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm, ExternalPR

#26877 [PT FE] Support conversion of TorchScript and ExportedProgram from disk
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  tests/layer_tests/common/mo_convert_test_class.py
  tests/layer_tests/ovc_python_api_tests/test_pytorch.py
  tools/ovc/openvino/tools/ovc/convert_impl.py
  tools/ovc/openvino/tools/ovc/help.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: Python API, category: PyTorch FE, no-match-files, category: OVC

#26894 Fix gather kernel bug for handling 5 and 6 dimensions
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_kernel_ref.cpp
  tests/layer_tests/tensorflow_tests/test_tf_AdjustHue.py
Labels: category: GPU, ExternalIntelPR, category: TF FE

#27028 [DOCS] OV GenAI Python API for master
  docs/CMakeLists.txt
  docs/scripts/install_appropriate_openvino_version.py
  docs/scripts/tests/suppress_warnings.txt
  docs/sphinx_setup/api/api_reference.rst
  docs/sphinx_setup/api/genai_api/api.rst
  docs/sphinx_setup/conf.py
Labels: category: build, category: docs

#27031 [DOCS] Port for adding folder for OVMS files
  docs/CMakeLists.txt
  docs/articles_en/openvino-workflow.rst
Labels: category: build, category: docs

#27029 [DOCS] Add Ovem files to folder
  docs/CMakeLists.txt
  docs/articles_en/openvino-workflow.rst
Labels: category: build, category: docs

#27032 NPUW: Fix - don't register an extra parameter to a group
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.hpp
Labels: category: NPU, category: NPUW

#26952 Place wheels to a separate folder
  .github/actions/openvino_provider/action.yml
  .github/workflows/job_build_linux.yml
  .github/workflows/job_build_windows.yml
  .github/workflows/job_jax_models_tests.yml
  .github/workflows/job_onnx_models_tests.yml
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/job_pytorch_layer_tests.yml
  .github/workflows/job_pytorch_models_tests.yml
  .github/workflows/job_samples_tests.yml
  .github/workflows/job_tensorflow_layer_tests.yml
  .github/workflows/job_tensorflow_models_tests.yml
  .github/workflows/job_tokenizers.yml
  .github/workflows/windows_vs2019_release.yml
  cmake/developer_package/packaging/archive.cmake
  cmake/developer_package/packaging/common-libraries.cmake
  cmake/developer_package/packaging/debian/debian.cmake
  cmake/developer_package/packaging/npm.cmake
  cmake/developer_package/packaging/nsis.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/packaging/rpm/rpm.cmake
  tools/openvino_dev/CMakeLists.txt
Labels: category: build, category: CI, category: tools, category: packaging, github_actions

#27035 [GHA] Configurable event name for provider
  .github/actions/openvino_provider/action.yml
Labels: category: CI

#27039 [GHA] Fix wheels storage handling
  .github/workflows/job_build_linux.yml
Labels: category: CI, github_actions

#26881 [GPU] Fix sd1.5_controlnet_lora bad image.
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#26136 Assert on minimal macOS deployment target
  CMakeLists.txt
Labels: category: build, Stale

#27049 [DOCS] Fixed tests for Ovms folder path
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
  docs/articles_en/openvino-workflow.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models.rst
Labels: category: docs

#27034 [DOCS] tiny NPU adjustment-mstr
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
Labels: category: docs

#27015 [CPU] Optimize MemoryInput/Output for empty shapes
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/nodes/memory.cpp
Labels: category: CPU

#26993 [CI] [GHA] Use the default `gcc` in Ubuntu 20
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/ubuntu_20_04_arm64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_20_04_x64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_20_04_x64_nvidia/Dockerfile
Labels: category: CI, category: dockerfiles

#27047 [CPU]Fix heap buffer overflow in DenormalNullifyCheck
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/denormal_check.cpp
Labels: category: CPU

#27053 [DOCS] Port changes for Ovms tests to 24.4
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
  docs/articles_en/openvino-workflow.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models.rst
Labels: category: docs

#27042 [OVC][PT FE] Cover leftovers for torch.export.ExportedProgram support
  tools/ovc/openvino/tools/ovc/convert.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: OVC

#27033 [DOCS] tiny NPU adjustment-mstr
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
Labels: category: docs

#27052 [DOCS] Removed OMZ from the build
  docs/CMakeLists.txt
  docs/documentation_build_instructions.md
Labels: category: build, category: docs

#26830 [CPU] Support degenerate matrices in MatMul
  src/plugins/intel_cpu/src/nodes/matmul.cpp
  src/plugins/intel_cpu/src/nodes/matmul.h
  src/plugins/intel_cpu/src/nodes/memory.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/matmul.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/lora_pattern.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/lora_pattern.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/lora_pattern.hpp
  src/tests/functional/shared_test_classes/src/subgraph/lora_pattern.cpp
Labels: category: IE Tests, category: CPU

#26875 [OV JS][DOCS] Edits in JS API docs
  CONTRIBUTING.md
  src/bindings/js/docs/CODESTYLE.md
  src/bindings/js/docs/README.md
  src/bindings/js/docs/code_examples.md
  src/bindings/js/docs/test_examples.md
  src/bindings/js/node/CONTRIBUTING.md
  src/bindings/js/node/README.md
  src/bindings/js/node/package.json
Labels: category: docs, category: JS API

#27058 [Docs] Update files for ovms benchmarks
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.4-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.4-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.4-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms.json
  docs/sphinx_setup/_static/benchmarks_files/graph-config.json
Labels: category: docs

#27043 NPUW: Function memory management
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Labels: category: NPU, category: NPUW

#27059 [DOCS] Port for Ovms benchmark files to 24.4
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.4-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.4-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.4-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms.json
  docs/sphinx_setup/_static/benchmarks_files/graph-config.json
Labels: category: docs

#27040 Use find_library to find clang on linux
  cmake/developer_package/ncc_naming_style/ncc_naming_style.cmake
Labels: category: build

#27060 Fixed tests for NPUW
  src/plugins/intel_npu/tests/functional/behavior/npuw/behavior_tests.cpp
  src/plugins/intel_npu/tests/functional/behavior/npuw/mocks/mock_plugins.cpp
  src/plugins/intel_npu/tests/functional/behavior/npuw/mocks/mock_plugins.hpp
Labels: category: NPU, category: NPUW

#27061 Update numpy in tests reqs
  tests/constraints.txt
Labels: category: dependency_changes

#27057 NPUW: Enable PMM for prefill by default
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
Labels: category: NPU, category: NPUW

#27072 [NPUW] Polished NPUW tests fix and added NPUW tests paths to labeler
  .github/labeler.yml
  src/plugins/intel_npu/tests/functional/behavior/npuw/mocks/mock_plugins.cpp
  src/plugins/intel_npu/tests/functional/behavior/npuw/mocks/mock_plugins.hpp
Labels: category: CI, category: NPU, category: NPUW

#26980 Shape inference improvements for `SearchSorted-15`
  src/core/include/openvino/op/search_sorted.hpp
  src/core/shape_inference/include/search_sorted_shape_inference.hpp
  src/core/src/op/search_sorted.cpp
  src/core/tests/type_prop/search_sorted.cpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/search_sorted_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API, Code Freeze

#26696 Enable mmap for reading model from cache
  src/common/util/include/openvino/util/mmap_object.hpp
  src/common/util/src/os/win/win_mmap_object.cpp
  src/core/dev_api/openvino/runtime/shared_buffer.hpp
  src/inference/src/cache_manager.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/utils/serialize.cpp
  src/plugins/intel_cpu/src/utils/serialize.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: inference, category: Core, category: GPU, category: CPU, Code Freeze

#26873 [DOCS] nncf changes pass 3 recommend
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
  docs/articles_en/openvino-workflow/model-optimization.rst
Labels: category: docs, WIP

#27079 [GPU] Fix SD3 int4 OOR or Perf drop issue in LNL
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#26915 [ONNX] Added initial support of DequantizeLinear-21
  src/frontends/onnx/frontend/CMakeLists.txt
  src/frontends/onnx/frontend/src/op/dequantize_linear.cpp
  src/frontends/onnx/tests/models/dequantize_linear_21.prototxt
  src/frontends/onnx/tests/onnx_import_quant.in.cpp
Labels: category: build, category: ONNX FE

#27023 [CPU][ARM64] Add JIT emitter for Eltwise Sqrt operation
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, ExternalPR

#26951 [GPU] Added empty LoRA adapters support
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/graph/crop.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/read_value.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/non_zero.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/slice_ref.cl
  src/plugins/intel_gpu/src/plugin/ops/variable.cpp
  src/plugins/intel_gpu/src/plugin/variable_state.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.hpp
  src/plugins/intel_gpu/tests/unit/test_cases/non_zero_gpu_test.cpp
Labels: category: GPU, Code Freeze

#26799 [GPU] Support RoPE kernel for ChatGLM4
  src/common/transformations/include/ov_ops/rotary_positional_embeddings.hpp
  src/common/transformations/include/transformations/common_optimizations/fuse_rotary_positional_embeddings.hpp
  src/common/transformations/src/ov_ops/rotary_positional_embeddings.cpp
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/tests/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/rope.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/rope.cpp
  src/plugins/intel_gpu/src/graph/rope.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rope_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_base.h
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/rotary_pos_emb.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/rotary_pos_emb.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/rotary_pos_emb.hpp
  src/tests/functional/shared_test_classes/src/subgraph/rotary_pos_emb.cpp
Labels: category: IE Tests, category: GPU, category: transformations

#26509 [GPU] limit skip of reorder if input is on constant path
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/tests/unit/fusions/eltwise_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/fusion_test_common.hpp
Labels: category: GPU

#27089 NPUW: Regularized REP pipeline
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/npuw_private_properties.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/group.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/group.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.hpp
Labels: category: NPU, category: NPUW

#27041 [GPU] Fix bug in GatherND reference GPU kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_nd_ref.cl
  src/plugins/intel_gpu/tests/unit/test_cases/gather_nd_gpu_test.cpp
Labels: category: GPU, ExternalPR

#27076 [CPU] Improve instruction generating algorithm for pow(a, large_N)
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/convert_to_plugin_specific_node.cpp
Labels: bug, category: CPU

#27093 [GPU] Added tests for LoRA with empty adapters and handling of incorrect fusings
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/input_layout.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/lora_pattern.cpp
Labels: category: GPU, Code Freeze

#27094 [CPU]support glm4 rope
  src/plugins/intel_cpu/src/nodes/rope.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/rotary_pos_emb.cpp
Labels: category: CPU

#27090 [PyOV] Extend Python API with SliceScatter-15
  src/bindings/python/src/openvino/runtime/opset15/__init__.py
  src/bindings/python/src/openvino/runtime/opset15/ops.py
  src/bindings/python/tests/test_graph/test_create_op.py
Labels: category: Python API

#27008 Details:
  src/plugins/intel_gpu/src/kernel_selector/kernels/slice/slice_kernel_ref.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Unique.py
Labels: category: GPU, ExternalIntelPR, category: TF FE

#26887 [Spec]: Added initial specification of Searchsorted op
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sort/search-sorted-15.rst
Labels: category: docs

#26890 NPUW: Disable AVX2 code with ENABLE_AVX2=OFF
  src/plugins/intel_npu/src/plugin/CMakeLists.txt
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
  src/plugins/intel_npu/src/plugin/npuw/util_xarch.cpp
  src/plugins/intel_npu/src/plugin/npuw/util_xarch.hpp
Labels: category: build, category: NPU, category: NPUW

#27051 [GPU] Fix weight reorder src format to avoid inconsistency ndims of src/dst in weight reorder
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
Labels: category: GPU

#26945 [CPU] Support different Key/Value head size and not multiples 16 of head size length for SDPA/PA
  src/common/transformations/src/transformations/sdpa_to_paged_attention/state_management_pattern.cpp
  src/core/src/op/paged_attention.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_memcpy.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.cpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/shape_inference/custom/scaled_attn.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/sdpa.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/arm/concat_sdp.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/classes/concat_sdp.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/classes/concat_sdp.hpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/concat_sdp.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/x64/concat_sdp.cpp
Labels: category: Core, category: CPU, category: transformations

#27102 [PT FE] Handle None-value case among inputs
  src/frontends/pytorch/src/node_context.cpp
Labels: category: PyTorch FE

#26778 #20927 support inputs that have no batch
  src/frontends/pytorch/src/op/avg_poolnd.cpp
  src/frontends/pytorch/src/op/max_poolnd.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_pooling.py
Labels: ExternalPR, category: PyTorch FE

#27104 NPUW: Dynamic Spatial
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.hpp
  src/plugins/intel_npu/src/plugin/npuw/spatial.cpp
  src/plugins/intel_npu/src/plugin/npuw/spatial.hpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.hpp
Labels: category: NPU, category: NPUW

#27097 [GPU] Save use_onednn attribute in the blob
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#27073 [NPU]Change NPUBackend log
  src/plugins/intel_npu/src/plugin/src/backends.cpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
Labels: category: NPU

#27105 [GPU] Fix USMHost tensor sharing between models from different Cores
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/tests/functional/behavior/infer_request.cpp
Labels: category: GPU

#26829 [Transformations] Fix exception when converting precision on Read_Value node without inputs.
  src/common/transformations/src/transformations/convert_precision.cpp
Labels: category: transformations

#27128 [DOCS] Moved versioning to repo
  docs/sphinx_setup/assets/versions_raw.js
Labels: category: docs

#26294 TorchFX: GPTQ accuracy fix
  .github/workflows/job_pytorch_models_tests.yml
  src/frontends/pytorch/src/transforms/torchfx_gptq_pattern_replacer.cpp
  tests/model_hub_tests/transformation_tests/models/gptq-torchfx-models-precommit
  tests/model_hub_tests/transformation_tests/test_gptq_torchfx_transformations.py
Labels: pr: needs tests, category: CI, category: TF FE, github_actions, category: PyTorch FE, category: JAX FE

#27123 [GPU] Removed redundant part for dump file name
  src/plugins/intel_gpu/src/graph/debug_helper.cpp
Labels: category: GPU

#26634 [GHA] Enable thread sanitizer
  .github/workflows/linux_sanitizers.yml
  cmake/developer_package/compile_flags/sanitizer.cmake
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/node_context.hpp
  tests/sanitizers/asan/ignore.txt
  tests/sanitizers/asan/suppressions.supp
  tests/sanitizers/lsan/suppressions.txt
  tests/sanitizers/tsan/suppressions.txt
  thirdparty/dependencies.cmake
Labels: category: build, category: CI, category: dependency_changes, category: TF FE, category: CPP API, github_actions, no-match-files

#27037 [PT FE] Fix sym GPTQ pattern to have consistent graph
  src/bindings/python/src/openvino/frontend/pytorch/gptq.py
  src/frontends/pytorch/src/transforms/u4_block_repack.cpp
  tests/model_hub_tests/pytorch/test_llm.py
Labels: category: Python API, category: PyTorch FE

#26756 [CORE] Skip unnecessary convert_to_supported_precision if ConstantFolding is omitted
  src/core/include/openvino/core/node.hpp
  src/core/include/openvino/op/assign.hpp
  src/core/include/openvino/op/constant.hpp
  src/core/include/openvino/op/convert_like.hpp
  src/core/include/openvino/op/fake_quantize.hpp
  src/core/include/openvino/op/random_uniform.hpp
  src/core/include/openvino/op/read_value.hpp
  src/core/include/openvino/op/reshape.hpp
  src/core/include/openvino/op/result.hpp
  src/core/include/openvino/op/shape_of.hpp
  src/core/include/openvino/op/squeeze.hpp
  src/core/include/openvino/op/strided_slice.hpp
  src/core/include/openvino/op/unsqueeze.hpp
  src/core/include/openvino/op/util/gather_base.hpp
  src/core/src/node.cpp
  src/core/src/op/assign.cpp
  src/core/src/op/constant.cpp
  src/core/src/op/convert_like.cpp
  src/core/src/op/random_uniform.cpp
  src/core/src/op/read_value.cpp
  src/core/src/op/reshape.cpp
  src/core/src/op/result.cpp
  src/core/src/op/shape_of.cpp
  src/core/src/op/squeeze.cpp
  src/core/src/op/strided_slice.cpp
  src/core/src/op/unsqueeze.cpp
  src/core/src/op/util/gather_base.cpp
  src/core/src/pass/constant_folding.cpp
Labels: category: Core, under_perf_check, category: CPP API, Code Freeze

#27121 [TESTS] Print test names in log
  .github/workflows/job_pytorch_layer_tests.yml
Labels: category: CI, github_actions

#27140 [TFL FE] Export public API symbols for TFLite Delegate
  src/frontends/tensorflow_lite/include/openvino/frontend/tensorflow_lite/decoder.hpp
  src/frontends/tensorflow_lite/include/openvino/frontend/tensorflow_lite/graph_iterator.hpp
  src/frontends/tensorflow_lite/include/openvino/frontend/tensorflow_lite/quantization_info.hpp
  src/frontends/tensorflow_lite/include/openvino/frontend/tensorflow_lite/sparsity_info.hpp
Labels: category: CPP API, category: TFL FE
