Repository openvinotoolkit/openvino, pull requests merged in 2024-12, with the labels that each got.

#27695 [GPU] Fix reset output issue
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/skip_gather_at_runtime.cpp
Labels: category: GPU

#27738 [GPU] Bugfix accumulate sum of FC dyn-quan
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bf_tiled.cl
Labels: category: GPU

#27699 [GPU] Do not use usm_host when network output tensor size is large
  src/plugins/intel_gpu/include/intel_gpu/plugin/sync_infer_request.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#27452 [Snippets][CPU] Added first input of BrgemmCPU repacking on K_tail tensor
  src/common/snippets/include/snippets/lowered/pass/solve_buffer_memory.hpp
  src/common/snippets/src/lowered/pass/solve_buffer_memory.cpp
  src/common/snippets/src/runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_amx.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_amx.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_base.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_base.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/verbose.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/brgemm_to_brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/insert_brgemm_copy_b_buffers.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/insert_brgemm_copy_b_buffers.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/insert_brgemm_copy_buffers.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/insert_brgemm_copy_buffers.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/lowered/buffer_allocation.cpp
Labels: category: CPU

#27844 [TF FE] Decouple tests for Logical binary ops into separate suite and run on all platforms
  tests/layer_tests/tensorflow_tests/test_tf_BinaryOps.py
  tests/layer_tests/tensorflow_tests/test_tf_LogicalBinaryOps.py
Labels: category: TF FE

#27568 [GPU] Enable output transposed gemm for onednn
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/transpose_matmul_fusion.cpp
Labels: category: GPU

#27624 [PT FE] Support AWQ models with GEMM module
  src/bindings/python/src/openvino/frontend/pytorch/gptq.py
  src/bindings/python/src/openvino/frontend/pytorch/quantized.py
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/frontends/pytorch/src/op/linear.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.cpp
  tests/model_hub_tests/pytorch/detectron2_precommit
  tests/model_hub_tests/pytorch/test_llm.py
  tests/requirements_pytorch
Labels: category: Python API, category: PyTorch FE

#27658 [GPU] set output from variable's memory if kv-cache
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
Labels: category: GPU

#27820 [GHA][ov-provider] Use github.workspace for upload-artifact
  .github/actions/openvino_provider/action.yml
Labels: category: CI

#27851 [DOCS] genAI main article tweaks 24.5
  docs/articles_en/assets/images/genai_main_diagram.svg
  docs/articles_en/learn-openvino.rst
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide/genai-use-cases.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
  docs/sphinx_setup/index.rst
Labels: category: docs

#27838 A workflow to scan GitHub Actions Workflows
  .github/workflows/workflows_scans.yml
Labels: category: CI, github_actions

#27836 Optimize ARM runners in AKS
  .github/workflows/debian_10_arm.yml
  .github/workflows/linux_arm64.yml
Labels: category: CI, github_actions

#27853 Fix reset output memory issue
  src/plugins/intel_gpu/include/intel_gpu/graph/kernel_impl_params.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/scatter_elements_update.cpp
  src/plugins/intel_gpu/src/graph/scatter_nd_update.cpp
  src/plugins/intel_gpu/src/graph/scatter_update.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/skip_gather_at_runtime.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/skip_scatter_update_at_runtime.cpp
Labels: category: GPU

#27813 [CPU][Ref] Support Reduce ops with empty input
  src/common/transformations/include/transformations/op_conversions/convert_reduce_to_pooling.hpp
  src/core/reference/include/openvino/reference/reduce_mean.hpp
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/src/nodes/reduce.h
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_reduce_multi_axis.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/reduce.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/arm/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/reduce.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  src/plugins/template/tests/functional/op_reference/reduce_l1.cpp
  src/plugins/template/tests/functional/op_reference/reduce_l2.cpp
  src/plugins/template/tests/functional/op_reference/reduce_max.cpp
  src/plugins/template/tests/functional/op_reference/reduce_mean.cpp
  src/plugins/template/tests/functional/op_reference/reduce_min.cpp
  src/plugins/template/tests/functional/op_reference/reduce_prod.cpp
  src/plugins/template/tests/functional/op_reference/reduce_sum.cpp
Labels: category: Core, category: CPU, category: transformations, category: TEMPLATE, Code Freeze, backport

#27780 [GPU] Fix a bug of resample_onnx kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/resample_onnx.cl
Labels: category: GPU

#27872 [DOCS] Fixing formatting in Model Representation
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application/model-representation.rst
Labels: category: docs

#27874 [DOCS] Fixing formatting model representation for 24.5
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application/model-representation.rst
Labels: category: docs

#27854 [Core/Ref] Resolve coverity issues in registers_pool
  src/core/reference/include/openvino/reference/utils/registers_pool.hpp
  src/core/reference/src/utils/registers_pool.cpp
Labels: category: Core

#27750 [ShapeInfer][Op] Internal GLU op - common shape_infer
  src/common/transformations/include/ov_ops/glu.hpp
  src/common/transformations/src/ov_ops/glu.cpp
  src/core/shape_inference/include/glu_shape_inference.hpp
  src/core/shape_inference/include/variadic_split_shape_inference.hpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/glu_shape_inference_test.cpp
  src/plugins/intel_gpu/src/graph/swiglu.cpp
Labels: category: Core, category: GPU, category: CPU, category: transformations

#27875 [NPU] In-order async execution
  src/plugins/intel_npu/src/al/include/intel_npu/config/runtime.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npu_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/runtime.cpp
  src/plugins/intel_npu/src/backend/include/zero_infer_request.hpp
  src/plugins/intel_npu/src/backend/include/zero_pipeline.hpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/igraph.hpp
  src/plugins/intel_npu/src/common/src/igraph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_graph.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_utils.hpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_wrappers.hpp
  src/plugins/intel_npu/src/utils/src/zero/zero_wrappers.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.hpp
Labels: Code Freeze, category: NPU, category: NPUW

#27828 NPUW Hotfixes: Memory and L0 pipeline
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.cpp
Labels: category: NPU, category: NPUW

#27863 [DOCS] model performance table data update
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_9-288V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_platform_list_.pdf
Labels: category: docs

#27877 [DOCS] Port changes for Make One Legend to master
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/html/modal.html
  docs/sphinx_setup/_static/html/modalLLM.html
  docs/sphinx_setup/_static/js/graphs.js
  docs/sphinx_setup/_templates/layout.html
Labels: category: docs

#27862 [DOCS] model performance table data update
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_9-288V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_platform_list_.pdf
Labels: category: docs

#27880 [TF FE] Fix coverity issues to avoid uninitialized vars
  src/frontends/tensorflow/src/checkpoint_v1_reader.cpp
  src/frontends/tensorflow/src/op/var_handle.cpp
  src/frontends/tensorflow/src/op/xla_conv_v2.cpp
  src/frontends/tensorflow/src/variables_index.cpp
Labels: category: TF FE

#27881 [core] Move malloc_tim to compile model implementation
  src/inference/dev_api/openvino/runtime/icompiled_model.hpp
  src/inference/src/cpp/compiled_model.cpp
  src/inference/src/dev/icompiled_model.cpp
Labels: category: inference

#27294 [GPU] Shift padding of crop created during buffer fusing
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Labels: category: GPU

#27865 [GPU] set output from variable's memory if kv-cache
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
Labels: category: GPU

#27887 NPUW: Hotfix - delay the original weight memory deallocation (24.6)
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
Labels: Code Freeze, category: NPU, category: NPUW

#27886 NPUW: Hotfix - delay the original weight memory deallocation
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
Labels: category: NPU, category: NPUW

#27548 [GPU] Add more mixed type of bfyx to eltwise_blocked_opt
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_blocked_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU, ExternalIntelPR, Code Freeze, backport

#27869 [GPU] Fix a bug of resample_onnx kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/resample_onnx.cl
  src/plugins/intel_gpu/tests/unit/test_cases/resample_gpu_test.cpp
Labels: category: GPU, pr: needs tests

#27720 bugfix for dynamic-shape backedge for static input shape in loop oper…
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/non_zero.cpp
  src/plugins/intel_gpu/src/graph/include/input_layout_inst.h
  src/plugins/intel_gpu/src/graph/input_layout.cpp
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/loop.cpp
Labels: category: GPU, ExternalIntelPR

#27723 fix assertion failed on lockable_mem when using devicemem (#27297)
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
Labels: category: GPU, ExternalIntelPR

#27889 [GPU] Force sdpa use onednn path for prefill and cl path for generati…
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
Labels: category: GPU, Code Freeze, backport

#27387 [GPU] Force sdpa use onednn path for prefill and cl path for generation.
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
Labels: category: GPU, Code Freeze, backport

#27371 [GPU] Support fs_b_yx_fsv32 and int8 case for pooling
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pooling_gpu_int8_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/pooling/pooling_kernel_gpu_int8_ref.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/pooling_gpu_test.cpp
Labels: category: GPU

#27893 [GPU] Add unit tests for resample_onnx kernel
  src/plugins/intel_gpu/tests/unit/test_cases/resample_gpu_test.cpp
Labels: category: GPU

#27834 [GPU] Update docs related to KV-cache quantization
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_compression.cpp
Labels: category: GPU, category: docs, Code Freeze

#27859 [PT FE] Support AWQ models with GEMM module (#27624)
  src/bindings/python/src/openvino/frontend/pytorch/gptq.py
  src/bindings/python/src/openvino/frontend/pytorch/quantized.py
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/frontends/pytorch/src/op/linear.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.cpp
  tests/model_hub_tests/pytorch/detectron2_precommit
  tests/model_hub_tests/pytorch/test_llm.py
  tests/requirements_pytorch
Labels: category: Python API, category: PyTorch FE

#27659 [NPU] Use run-time ze_loader for npu plugin
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/windows_conditional_compilation.yml
  src/plugins/intel_npu/src/backend/CMakeLists.txt
  src/plugins/intel_npu/src/compiler_adapter/CMakeLists.txt
  src/plugins/intel_npu/src/utils/src/zero/CMakeLists.txt
Labels: category: build, category: CI, github_actions, category: NPU

#27895 [CPU] Port for prioritizing the user setting for kvcache type/group size
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_executable_network/properties.cpp
Labels: category: CPU

#27878 [DOCS] Generative Model Preparation
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-model-preparation.rst
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#27752 [PyOV] Fix several issues with wheel building dependencies
  src/bindings/python/constraints.txt
Labels: category: Python API, category: dependency_changes

#27835 [GPU] Fix beam search accuracy/functional errors
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/plugin/multi_tensor_variable_state.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache_sdpa.cpp
Labels: category: GPU, Code Freeze

#27840 Add more mixed type of bfyx to eltwise_blocked_opt
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_blocked_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU, ExternalIntelPR, Code Freeze

#27833 [GPU] Fix beam search accuracy/functional errors
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/plugin/multi_tensor_variable_state.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache_sdpa.cpp
Labels: category: GPU, Code Freeze, backport

#27583 [CPU] Port for enabling u8 kv cache by default
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/concat_transpose_sdp_transpose.cpp
Labels: category: CPU, Code Freeze, backport

#27904 [DOCS] Creating article on generative model preparation
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-model-preparation.rst
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#27911 [DOCS] minor tweaks genai
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#27908 [GPU] Fix memory reuse
  src/plugins/intel_gpu/src/graph/debug_helper.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/split_reshape_eltwise.cpp
Labels: category: GPU, Code Freeze

#27910 [DOCS] minor tweaks genai
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#27860 [DOCS] Loading encrypted compiled_blob
  docs/articles_en/documentation/openvino-security.rst
Labels: category: docs

#27917 [tests/requirements_tensorflow] Fix jax version for python 3.9 & NumPy conflict on Py 3.12 on MacOS
  tests/requirements_tensorflow
Labels: category: TF FE

#27918 Fix for coverity issue of medium impact: Possible data race
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.hpp
Labels: category: NPU, category: NPUW

#27665 [GPU] Apply #27407 and #27553 PRs to 2024.5 release
  src/inference/src/dev/core_impl.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/tests/functional/behavior/model_cache.cpp
Labels: category: inference, category: GPU, Code Freeze

#27923 [DOCS] Loading compiled encrypted models
  docs/articles_en/documentation/openvino-security.rst
Labels: category: docs

#27885 [CPU][ARM] JIT Round Operation
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm, ExternalPR

#27926 [DOCS] Update versions_raw.js
  docs/sphinx_setup/assets/versions_raw.js
Labels: category: docs

#27922 [CPU] fix an assert check for fc tensor parallel
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
Labels: category: CPU

#27928 [DOCS] Update versions_raw.js
  docs/sphinx_setup/assets/versions_raw.js
Labels: category: docs

#27929 Bump OV version to 2024.6
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/core/include/openvino/core/version.hpp
Labels: category: Core, category: build, category: CPP API, category: packaging

#27735 Resolve performance regression compared to using numactl on multi-socket SPR platform
  src/plugins/intel_cpu/src/graph_context.cpp
  src/plugins/intel_cpu/src/graph_context.h
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected.hpp
  src/plugins/intel_cpu/src/nodes/executors/executor.hpp
Labels: category: CPU

#27815 [GPU] fix onednn deconvolution
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
Labels: category: GPU

#27850 by default, latency mode use one socket
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
Labels: category: CPU

#27849 [Test] Fix test cases of Reduce node with empty input
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/reduce_ops.cpp
Labels: category: CPU

#27909 Revert "[Frontends][TorchFX] torch.ops.aten._unsafe_index support
  src/frontends/pytorch/src/op_table.cpp
Labels: category: PyTorch FE

#27931 Add 2024.6 to conflicting versions
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
Labels: category: build, category: packaging

#27937 Fixed RTTI for exceptions
  src/core/include/openvino/core/except.hpp
  src/core/src/except.cpp
Labels: category: Core, category: CPP API

#27898 [GPU] Fix perf regression due to PR #27573
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
Labels: category: GPU

#27958 [DOCS] Update nodejs addon save model method for 24.5
  docs/sphinx_setup/api/nodejs_api/addon.rst
Labels: category: docs

#27935 [DOCS] test drive doc
  docs/articles_en/documentation/openvino-ecosystem.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-test-drive.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_9-288V.csv
  docs/sphinx_setup/_static/download/supported_models.csv
Labels: category: docs

#27952 Docs Remove OVMS Button
  docs/articles_en/about-openvino/performance-benchmarks.rst
Labels: category: docs

#27936 [DOCS] test drive doc
  docs/articles_en/documentation/openvino-ecosystem.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-test-drive.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_9-288V.csv
  docs/sphinx_setup/_static/download/supported_models.csv
Labels: category: docs

#27940 Docs Versions update to 2024.6
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/assets/versions_raw.js
Labels: category: docs

#27847 [CPU] Optimize small batch case for PagedAttention
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
Labels: category: CPU

#27883 [CPU][Refactoring] Introduce VariableExecutor
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected.hpp
  src/plugins/intel_cpu/src/nodes/executors/executor_factory.hpp
  src/plugins/intel_cpu/src/nodes/executors/fullyconnected_implementations.cpp
  src/plugins/intel_cpu/src/nodes/executors/graph_emitter.hpp
  src/plugins/intel_cpu/src/nodes/executors/variable_executor.hpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.h
Labels: category: CPU

#27942 [tests/llm] Reorder imports to avoid onnx-related DDL load fail
  tests/llm/accuracy_conformance.py
Labels: no-match-files

#27900 [GPU] Parse runtime_options from model RT info and apply to config
  src/plugins/intel_gpu/include/intel_gpu/runtime/execution_config.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/behavior/properties.cpp
Labels: category: GPU

#27933 [DOCS] test drive doc
  docs/articles_en/documentation/openvino-ecosystem.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-test-drive.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_9-288V.csv
  docs/sphinx_setup/_static/download/supported_models.csv
Labels: category: docs

#27951 [DOCS] Remove OVMS Button
  docs/articles_en/about-openvino/performance-benchmarks.rst
Labels: category: docs

#27932 [Templ test] GroupNormalization: Enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/group_normalization.cpp
Labels: category: TEMPLATE

#27961 [GHA][ov-provider] Use github.workspace for upload-artifact (#27820)
  .github/actions/openvino_provider/action.yml
Labels: category: CI

#27964 [GHA][ov-provider] Use github.workspace for upload-artifact (#27820)
  .github/actions/openvino_provider/action.yml
Labels: category: CI

#27831 [GPU] MLP : 2fcs + swiglu fusion
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/include/swiglu_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bf_tiled.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/fully_connected_gpu_bf_tiled_common.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/swiglu/swiglu_kernel_base.h
  src/plugins/intel_gpu/src/plugin/ops/swiglu.cpp
  src/plugins/intel_gpu/src/plugin/transformations/fc_horizontal_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/fc_horizontal_fusion.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/tests/unit/fusions/fully_connected_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/fusion_test_common.hpp
Labels: category: GPU

#27950 [core] Extend Core API to accept std::filesystem::path when build with cpp17
  src/core/shape_inference/include/ov_optional.hpp
  src/core/tests/pattern.cpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/tests/functional/ov_core_test.cpp
  src/inference/tests/functional/ov_extension_test.cpp
Labels: category: inference, category: Core, category: CPP API

#27945 [TF FE] Run HSVToRGB tests on all platforms
  tests/layer_tests/tensorflow_tests/test_tf_HSVToRGB.py
Labels: category: TF FE

#27959 [DOCS] Adding info on saveModelSync method in Node.js
  docs/sphinx_setup/api/nodejs_api/addon.rst
Labels: category: docs

#26940 [GPU] Integrate dynamic quantization for onednn
  src/plugins/intel_gpu/include/intel_gpu/op/fully_connected_compressed.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/dynamic_quantize.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/fully_connected.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/dynamic_quantize.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.hpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/dynamic_quantize_gpu_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/dynamic_quantize_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/dynamic_quantize/dynamic_quantize_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/dynamic_quantize/dynamic_quantize_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  src/plugins/intel_gpu/src/plugin/ops/dynamic_quantize.cpp
  src/plugins/intel_gpu/src/plugin/ops/fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/program_builder.cpp
  src/plugins/intel_gpu/src/plugin/transformations/dynamic_quantize_fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/fully_connected_compressed.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/matmul_weights_decompression.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/dynamic_quantize_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU

#27972 [GPU] Fix crash on swiglu fused case (due to outer_ofm == 1)
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
Labels: category: GPU

#27960 [DOCS] saveModelSync method in Node.js addon
  docs/sphinx_setup/api/nodejs_api/addon.rst
Labels: category: docs

#27966 [TF FE] Run If tests on all platforms
  tests/layer_tests/tensorflow_tests/test_tf_If.py
Labels: category: TF FE

#27589 [CPU] enable brdgmm kernel in CPU plugin
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/onednn/iml_type_mapper.cpp
  src/plugins/intel_cpu/src/onednn/iml_type_mapper.h
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/group_convolution.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#27666 [CI] [GHA] Introduce additional Python (3.9-3.12) API tests on macOS
  .github/workflows/job_python_api_tests.yml
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/job_samples_tests.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
Labels: category: CI, github_actions

#27983 [GHA][ov-provider] Exclude custom release packages from matching (#27979)
  .github/actions/openvino_provider/get_s3_package.py
Labels: category: CI

#27953 [GPU] Fix tests errors, phase 7
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/dft_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/pooling_gpu_test.cpp
Labels: category: GPU

#27977 Docs Port for sitemap update to master
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/sphinx_setup/_static/js/custom.js
Labels: category: docs

#27978 [JAX FE] Support square operation
  src/frontends/jax/src/op/square.cpp
  src/frontends/jax/src/op_table.cpp
  tests/constraints.txt
  tests/layer_tests/jax_tests/test_square.py
Labels: category: dependency_changes, category: TF FE, category: JAX FE

#27996 [tests/requirements_pytorch] Temporarily fix optimum-intel version on last stable commit (#27985)
  .github/components.yml
  tests/requirements_pytorch
Labels: category: CI, category: PyTorch FE

#27884 added code to dump start and end manager time
  src/core/src/pass/manager.cpp
Labels: category: Core

#27981 New plugins property to pass mmap buffer
  src/inference/dev_api/openvino/runtime/internal_properties.hpp
  src/inference/src/cache_manager.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/tests/functional/caching_test.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/utils/serialize.cpp
  src/plugins/intel_cpu/src/utils/serialize.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: inference, category: GPU, category: CPU

#27989 [GPU] Disable KV cache compression and FC scaling for GPU with systolic
  src/plugins/intel_gpu/include/intel_gpu/runtime/execution_config.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/behavior/properties.cpp
Labels: category: GPU, Code Freeze

#27939 [TRANSFORMATIONS] Allow NOP-elimination for shapes with dynamic 0th dimension
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/tests/common_optimizations/nop_elimination.cpp
Labels: category: transformations

#27997 [tests/requirements_pytorch] Temporarily fix optimum-intel version on last stable commit (#27985)
  .github/components.yml
  tests/requirements_pytorch
Labels: category: CI, category: PyTorch FE

#27962 [NPU] Create compiler adapter factory
  src/plugins/intel_npu/src/backend/include/zero_backend.hpp
  src/plugins/intel_npu/src/backend/src/zero_backend.cpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/icompiler_adapter.hpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/npu.hpp
  src/plugins/intel_npu/src/common/src/npu.cpp
  src/plugins/intel_npu/src/compiler_adapter/include/compiler_adapter_factory.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/driver_compiler_adapter.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/plugin_compiler_adapter.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_compiler_adapter.cpp
  src/plugins/intel_npu/src/plugin/include/plugin.hpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#27990 [GPU] Fix gws of Resample onnx kernel
  src/plugins/intel_gpu/src/kernel_selector/kernels/resample/resample_kernel_onnx.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/resample_gpu_test.cpp
Labels: category: GPU

#28011 [GPU] Not to apply swiglu fusion for onednn
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU

#27761 [Coverity] GPU Plugin Medium issues
  src/core/include/openvino/pass/pattern/matcher.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/resample.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_fusion.cpp
Labels: category: Core, category: GPU, category: transformations, ExternalIntelPR, category: CPP API

#27370 Create RELEASE.MD
  docs/RELEASE.MD
Labels: category: docs

#28014 [DOCS] Port for Update Sitemap to 24.5
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
Labels: category: docs

#27988 [GPU] Disable KV cache compression and FC scaling for GPU with systolic
  src/plugins/intel_gpu/include/intel_gpu/runtime/execution_config.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/behavior/properties.cpp
Labels: category: GPU

#27843 Fix#27796 Added condition and test case for the getData parameter input functionality
  src/bindings/js/node/src/tensor.cpp
  src/bindings/js/node/tests/unit/tensor.test.js
Labels: ExternalPR, category: JS API

#28005 [STFT][PT FE] Add support for normalize attr in STFT conversion
  src/frontends/pytorch/src/op/stft.cpp
  tests/layer_tests/pytorch_tests/test_stft.py
Labels: category: PyTorch FE

#27963 [DOCS] 24.6 prep
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/configurations/genai-dependencies.rst
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
  docs/dev/ov_dependencies.txt
  docs/sphinx_setup/index.rst
Labels: category: docs

#28020 [DOCS] Updating GenAI Quick Start Guide
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#28019 [DOCS] Update GenAI Quick Start Guide
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#27941 [Commit Slider] Fix logs absence
  src/plugins/intel_cpu/tools/commit_slider/commit_slider.py
  src/plugins/intel_cpu/tools/commit_slider/tests/test_util.py
  src/plugins/intel_cpu/tools/commit_slider/utils/modes.py
Labels: category: CPU

#27956 Set KV-cache to FP16 in LLM evaluation tests
  tests/llm/accuracy_conformance.py
Labels: no-match-files

#28018 [DOCS] pdf update
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#28021 Workaround for sample failure with OV built by VS2022
  samples/python/benchmark/bert_benchmark/bert_benchmark.py
Labels: category: samples

#27906 [GPU] support fsv16 for output of group norm bfyx opt kernel
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/group_normalization_gpu_test.cpp
Labels: category: GPU

#28031 [DOCS] Update date on AI benchmarks
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
Labels: category: docs

#28030 [DOC][GPU] Described to add user to render group in gpu configuration
  docs/articles_en/get-started/configurations/configurations-intel-gpu.rst
  src/plugins/intel_gpu/docs/gpu_plugin_driver_troubleshooting.md
Labels: category: GPU, category: docs

#28034 [DOCS] Port for update date on benchmarks for master
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
Labels: category: docs

#27597 [CI] [GHA] Python API tests on Manylinux
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_test/debian_10_py310/Dockerfile
  .github/dockerfiles/ov_test/fedora_33/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_20_04_x64_py313/Dockerfile
  .github/workflows/manylinux_2014.yml
Labels: category: CI, github_actions, category: dockerfiles

#28029 [GPU] Fix tests errors, phase 8
  src/plugins/intel_gpu/tests/unit/test_cases/multiclass_nms_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/random_uniform_gpu_test.cpp
Labels: category: GPU

#27814 Tests failed without reshape paramter due to uninitilized value
  src/plugins/intel_npu/tools/protopipe/README.md
  src/plugins/intel_npu/tools/protopipe/src/parser/config.cpp
  src/plugins/intel_npu/tools/protopipe/src/scenario/inference.hpp
  src/plugins/intel_npu/tools/protopipe/src/simulation/ov_layers_reader.cpp
  src/plugins/intel_npu/tools/protopipe/src/simulation/simulation.cpp
Labels: category: docs, ExternalPR, category: NPU

#25954 [core] Add specific tensor descriptor for Result
  src/common/transformations/tests/control_flow/unroll_if_test.cpp
  src/core/dev_api/openvino/core/descriptor_tensor.hpp
  src/core/include/openvino/core/descriptor/input.hpp
  src/core/include/openvino/core/descriptor/tensor.hpp
  src/core/include/openvino/op/result.hpp
  src/core/src/descriptor/input.cpp
  src/core/src/descriptor/shared_tensor.cpp
  src/core/src/descriptor/tensor.cpp
  src/core/src/node.cpp
  src/core/src/op/result.cpp
  src/core/src/preprocess/preprocess_impls.cpp
  src/core/tests/type_prop/result.cpp
  src/inference/dev_api/openvino/runtime/isync_infer_request.hpp
  src/inference/src/dev/icompiled_model.cpp
  src/inference/src/model_reader.cpp
  tests/model_hub_tests/transformation_tests/test_stateful_to_stateless_transformation.py
Labels: category: inference, category: Core, category: transformations, category: TF FE, category: CPP API, category: PyTorch FE, category: JAX FE

#27890 [NPUW] Add optional convert after multiply for miniCPM PMM
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
Labels: ExternalIntelPR, category: NPU, category: NPUW

#28012 [NPUW] Add optional convert when transpose weights for miniCPM.
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
Labels: ExternalIntelPR, category: NPU, category: NPUW

#27522 Updated build documentation for Protopipe
  src/plugins/intel_npu/tools/protopipe/README.md
Labels: category: docs, ExternalPR, category: NPU

#27987 [ARM]: Implement CPU plugin just-in-time emitter for LogicalOr operation #27504
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
Labels: category: CPU, platform: arm, ExternalPR

#28043 [core] Extend model serialize API to support std::filesystem::path
  src/core/include/openvino/core/graph_util.hpp
  src/core/include/openvino/pass/serialize.hpp
  src/core/tests/pass/serialization/deterministicity.cpp
  src/core/tests/pass/serialization/serialize.cpp
Labels: category: Core, category: transformations, category: CPP API

#28053 [DOCS] Updating link to Text Generation GenAI Sample
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
Labels: category: docs

#28048 [DOCS] fix link
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
Labels: category: docs

#28052 [DOCS] Update genai sample link for 24.5
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
Labels: category: docs

#28057 [DOCS] release notes 24.6 pass-1
  docs/articles_en/about-openvino/release-notes-openvino.rst
Labels: category: docs

#26977 [core] Split configuration for device and others in compile model
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/plugins/auto/tests/functional/behavior/caching_test.cpp
  src/plugins/auto_batch/src/plugin.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/template/src/plugin.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/properties_tests.hpp
Labels: category: inference, category: IE Tests, category: GPU, category: TEMPLATE, category: AUTO, category: AUTO BATCH

#28061 [DOCS] Fix LTS version number
  docs/articles_en/get-started/install-openvino.rst
Labels: category: docs

#23713 [core] Preserve friendly name and tensor names in PPP
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/tests/test_runtime/test_input_node.py
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/tests/utils/convert_precision.cpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/src/preprocess/preprocess_impls.cpp
  src/core/src/preprocess/preprocess_impls.hpp
  src/core/tests/preprocess.cpp
Labels: category: Core, category: Python API, category: transformations

#28049 typo fix
  docs/articles_en/documentation/openvino-extensibility.rst
Labels: category: docs, ExternalPR

#28047 [OV JS] Extend npm package keywords
  src/bindings/js/node/package.json
Labels: category: JS API

#28060 [DOCS] Preparing docs for 24.6 release - port to master
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/configurations/genai-dependencies.rst
  docs/articles_en/get-started/install-openvino.rst
  docs/dev/ov_dependencies.txt
  docs/sphinx_setup/index.rst
Labels: category: docs

#28064 [GHA][numpy] test python api & numpy 1.26.x
  .github/workflows/job_python_api_tests.yml
Labels: category: CI, github_actions

#27912 [GPU] Enable encryption of cache blob with CacheMode::OPTIMIZE_SIZE
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/serialization/binary_buffer.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/tests/functional/behavior/model_cache.cpp
Labels: category: inference, category: GPU, category: CPP API

#28007 [Py OV] Move ie_api.py and exceptions.py files to openvino module
  src/bindings/python/src/openvino/__init__.py
  src/bindings/python/src/openvino/_ov_api.py
  src/bindings/python/src/openvino/exceptions.py
  src/bindings/python/src/openvino/opset8/ops.py
  src/bindings/python/src/openvino/runtime/exceptions/__init__.py
  src/bindings/python/src/openvino/runtime/ie_api/__init__.py
  src/bindings/python/tests/test_runtime/test_ovdict.py
  tools/benchmark_tool/openvino/__init__.py
  tools/ovc/openvino/__init__.py
Labels: category: Python API, category: tools, category: OVC

#28070 [FE] Add support for cpp17 path in frontend API
  src/core/tests/frontend/frontend_manager.cpp
  src/frontends/common/include/openvino/frontend/frontend.hpp
  src/frontends/tests/frontend/shared/src/conversion.cpp
Labels: category: Core, category: IE Tests, category: CPP API

#28054 [DOCS] GenAI tweaks
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-model-preparation.rst
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#28078 [DOCS] release notes 24.6 pass-2
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/install-openvino.rst
Labels: category: docs

#28068 [CPU][DEBUG_CAPS] Fix average counters csv generation
  src/plugins/intel_cpu/src/graph_dumper.cpp
Labels: category: CPU
