Repository openvinotoolkit/openvino, pull requests merged in 2024-09, with the labels that each got.

#25193 [Good First Issue][TF FE]: Support complex tensors for Pack operation
  src/frontends/tensorflow_common/src/op/pack.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Pack.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#26342 [TF FE]: Support complex tensors for Sub operation
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/binary_op.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Sub.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#26340 [GPU] Do not preallocate memory if desired size reaches the maximum supported buffer size
  src/plugins/intel_gpu/src/runtime/shape_predictor.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/shape_predictor_test.cpp
Labels: category: GPU

#26317 Fix CS issues
  src/bindings/c/src/common.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/serialize.cpp
Labels: category: CPU, category: C API

#26349 [GPU] Small refactoring & cleanup
  src/plugins/intel_gpu/include/intel_gpu/runtime/stream.hpp
  src/plugins/intel_gpu/src/graph/broadcast.cpp
  src/plugins/intel_gpu/src/graph/impls/common/condition.cpp
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/impls/common/register.cpp
  src/plugins/intel_gpu/src/graph/impls/common/register.hpp
  src/plugins/intel_gpu/src/graph/impls/common/wait_for_events.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/multi_stage_primitive.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/eltwise_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/onednn_formats_map.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/onednn_formats_map.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/register.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/register.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/include/non_max_suppression_inst.h
  src/plugins/intel_gpu/src/graph/include/non_zero_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/include/unique_inst.hpp
  src/plugins/intel_gpu/src/graph/non_zero.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/stream.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/graph_manipulation_gpu_test.cpp
Labels: category: GPU

#26345 [GPU] Add reqd_work_group_size attribute to softmax bf kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/softmax_gpu_bf.cl
Labels: category: GPU

#26325 [GPU]: Added support for bitwise_and, bitwise_or and bitwise_xor
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/eltwise.hpp
  src/plugins/intel_gpu/src/graph/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_base.cpp
  src/plugins/intel_gpu/src/plugin/ops/eltwise.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#26334 [DOCS] Release version update for 24.4 release - 24.4
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats.rst
  docs/articles_en/documentation/openvino-ecosystem.rst
  docs/articles_en/get-started/configurations/genai-dependencies.rst
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conan.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
  docs/dev/ov_dependencies.txt
  docs/sphinx_setup/conf.py
  docs/sphinx_setup/index.rst
Labels: category: docs

#26355 [DOCS] Fixing snippets in Obtaining a Stateful OpenVINO Model
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/articles_en/assets/snippets/main.py
  docs/articles_en/assets/snippets/ov_stateful_models_intro.py
  docs/articles_en/openvino-workflow/running-inference/stateful-models/obtaining-stateful-openvino-model.rst
Labels: category: docs

#26327 [PT FE] Set target name as PythonOp name
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
Labels: category: Python API, category: PyTorch FE

#26363 [DOCS] Fixing snippets in Obtaining a Stateful OpenVINO Model for 24.4
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/articles_en/assets/snippets/main.py
  docs/articles_en/assets/snippets/ov_stateful_models_intro.py
  docs/articles_en/openvino-workflow/running-inference/stateful-models/obtaining-stateful-openvino-model.rst
Labels: category: docs

#26359 [GPU] Layout optimizer as program member
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_onednn_optimization_attributes.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/basic_memory_dependencies.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/fuse_primitives_with_layout.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/oooq_memory_dependencies.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/pre_replace_deconv.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/select_preferred_formats.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/skipped_branch_memory_dependencies.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/bounded_shape_mem_alloc.cpp
  src/plugins/intel_gpu/tests/unit/passes/add_onednn_optimization_attributes_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/fuse_primitives_with_layout.cpp
  src/plugins/intel_gpu/tests/unit/passes/handle_reshape.cpp
  src/plugins/intel_gpu/tests/unit/passes/post_optimize_weights.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_padding_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_primitive_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_quantization.cpp
  src/plugins/intel_gpu/tests/unit/passes/remove_redundant_reorders_tests.cpp
  src/plugins/intel_gpu/tests/unit/passes/reorder_inputs_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/select_preferred_formats_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/test_module_fusing_reorder.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/canonicalization_gpu_test.cpp
Labels: category: GPU

#26371 [TF FE] Fix LeakyRelu translator and stabilize tests for it
  src/frontends/tensorflow_common/src/op/leaky_relu.cpp
  tests/layer_tests/tensorflow_tests/test_tf_LeakyRelu.py
  tests/layer_tests/tensorflow_tests/test_tf_Softmax.py
Labels: category: TF FE, category: TFL FE

#26358 [DOCS] Release version update for 24.4 release - master
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats.rst
  docs/articles_en/documentation/openvino-ecosystem.rst
  docs/articles_en/get-started/configurations/genai-dependencies.rst
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conan.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
  docs/dev/ov_dependencies.txt
  docs/sphinx_setup/index.rst
Labels: category: docs

#26364 Updated documentation on onnx quantization
  docs/optimization_guide/nncf/ptq/code/ptq_aa_onnx.py
  docs/optimization_guide/nncf/ptq/code/ptq_onnx.py
Labels: category: docs

#26361 [GPU] Add indices constant check for crop primitive selection in CreateGatherOpBase
  src/plugins/intel_gpu/src/plugin/ops/gather.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/gather_indices_input.cpp
Labels: category: GPU

#26374 [NPU] Fix coverity issue
  src/plugins/intel_npu/src/compiler/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/plugin/src/compiler.cpp
Labels: category: NPU

#26384 [JAX FE] Do not release JAX FE build for 2024.4
  .github/workflows/fedora.yml
  .github/workflows/job_debian_packages.yml
  .github/workflows/job_python_unit_tests.yml
  cmake/features.cmake
Labels: category: build, category: CI, github_actions, Code Freeze

#26387 [DOCS] Port onnx changes
  docs/optimization_guide/nncf/ptq/code/ptq_aa_onnx.py
  docs/optimization_guide/nncf/ptq/code/ptq_onnx.py
Labels: category: docs

#26350 [Snippets] Supported dynamic case in SoftmaxReshapeElimination
  src/common/snippets/src/pass/softmax_reshape_elimination.cpp
  src/common/snippets/tests/src/pass/softmax_reshape_elimination.cpp
Labels: bug, category: CPU

#26395 [PT FE] Run EDSR tests in parallel
  .github/workflows/job_pytorch_models_tests.yml
  tests/model_hub_tests/pytorch/test_edsr.py
Labels: category: CI, github_actions, category: PyTorch FE

#26396 [CI] [GHA] Hardcode remote cache directory for Windows
  .github/workflows/job_build_windows.yml
Labels: category: CI, github_actions

#26366 [PT FE] Update LLm hub tests
  tests/model_hub_tests/pytorch/test_llm.py
Labels: category: PyTorch FE

#26397 [PT FE] Update torchvision tests with quantized and detection models
  tests/model_hub_tests/pytorch/test_torchvision_models.py
  tests/model_hub_tests/pytorch/torchvision_models
Labels: category: PyTorch FE

#26100 [JAX FE] Update JAX version to latest one for testing
  tests/constraints.txt
  tests/layer_tests/jax_tests/jax_layer_test_class.py
Labels: priority: high, category: dependency_changes, category: TF FE, Code Freeze, category: JAX FE

#26403 [JAX FE] Update JAX version to latest one for testing
  tests/constraints.txt
  tests/layer_tests/jax_tests/jax_layer_test_class.py
Labels: category: dependency_changes, category: TF FE, Code Freeze, category: JAX FE

#26351 [GPU] Do not preallocate memory if desired size reaches the maximum supported buffer size
  src/plugins/intel_gpu/src/runtime/shape_predictor.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/shape_predictor_test.cpp
Labels: category: GPU, Code Freeze

#26261 [PyOV]: Support direct comparison of PartialShape and Shape with list and tuple
  src/bindings/python/src/pyopenvino/graph/partial_shape.cpp
  src/bindings/python/src/pyopenvino/graph/shape.cpp
  src/bindings/python/tests/test_graph/test_core.py
Labels: category: Python API, ExternalPR

#26326 [GPU] out-of-bound access of convolution kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_os_iyx_osv16.cl
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU, Code Freeze

#26389 [GPU] Fix accuracy issue of qwen-2 model
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
  src/plugins/intel_gpu/src/plugin/ops/paged_attention.cpp
Labels: category: GPU, Code Freeze

#26373 [NPU] Fix coverity issue
  src/plugins/intel_npu/src/compiler/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/plugin/src/compiler.cpp
Labels: category: NPU

#26079 [NPU] Remove dKmb support from the plugin
  src/plugins/intel_npu/src/al/include/npu_private_properties.hpp
  src/plugins/intel_npu/src/backend/include/zero_executor.hpp
  src/plugins/intel_npu/src/backend/include/zero_memory.hpp
  src/plugins/intel_npu/src/backend/include/zero_pipeline.hpp
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
  src/plugins/intel_npu/src/backend/src/zero_executor.cpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_memory.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/functional/behavior/work_with_devices.hpp
  src/plugins/intel_npu/tests/functional/common/npu_test_env_cfg.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: NPU

#26401 GHA: removed hardcoded build type
  .github/workflows/coverage.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#26319 [Snippets][CPU] Set N_blk=24 for BRGEMM on AVX2
  src/common/snippets/include/snippets/lowered/pass/brgemm_blocking.hpp
  src/common/snippets/src/lowered/pass/brgemm_blocking.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_cpu_blocking.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_cpu_blocking.hpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/pass/lowered/brgemm_tpp_blocking.cpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/pass/lowered/brgemm_tpp_blocking.hpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/lowered/brgemm_blocking.cpp
Labels: category: CPU

#26377 [GPU] out-of-bound access from convolution kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_os_iyx_osv16.cl
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU, Code Freeze

#25716 [GPU] Improve paddings representation
  src/plugins/intel_gpu/include/intel_gpu/graph/serialization/layout_serializer.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/tensor.hpp
  src/plugins/intel_gpu/src/graph/convolution.cpp
  src/plugins/intel_gpu/src/graph/deconvolution.cpp
  src/plugins/intel_gpu/src/graph/error_handler.cpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/custom_primitive.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/src/graph/include/kv_cache_inst.h
  src/plugins/intel_gpu/src/graph/include/reshape_inst.h
  src/plugins/intel_gpu/src/graph/include/sliding_window_utils.hpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/resample.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/plugin/variable_state.cpp
  src/plugins/intel_gpu/src/runtime/format.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/is_valid_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/memory_realloc_test.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/optimized_out_execution_test.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/priorbox_test.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/stateful_model.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/format_test.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/layout_test.cpp
  src/plugins/intel_gpu/tests/unit/onednn/utils_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_padding_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/remove_redundant_reorders_tests.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/reshape_si_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/activation_simple_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/lru_caches_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/one_hot_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reshape_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/spatial_concatenate_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/swiglu_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.h
Labels: category: GPU, no_stale

#26338 [TRANSFORMATIONS] Fix Alibi slopes handling for Jais-13b model
  src/common/transformations/src/transformations/sdpa_to_paged_attention/state_management_pattern.cpp
Labels: category: transformations

#26399 Disabled LTO for gcc older than 9.0 (#26330)
  cmake/developer_package/features.cmake
Labels: category: build, Code Freeze

#26409 [TF FE] Extend JAX layer tests precommit via TF FE path
  tests/layer_tests/jax_tests/jax_layer_test_class.py
  tests/layer_tests/jax_tests/test_add.py
  tests/layer_tests/jax_tests/test_broadcast_in_dim.py
  tests/layer_tests/jax_tests/test_concatenate.py
  tests/layer_tests/jax_tests/test_copy.py
  tests/layer_tests/jax_tests/test_device_put.py
  tests/layer_tests/jax_tests/test_div.py
  tests/layer_tests/jax_tests/test_exp.py
  tests/layer_tests/jax_tests/test_integer_pow.py
  tests/layer_tests/jax_tests/test_mul.py
  tests/layer_tests/jax_tests/test_reduce.py
  tests/layer_tests/jax_tests/test_reshape.py
  tests/layer_tests/jax_tests/test_rsqrt.py
  tests/layer_tests/jax_tests/test_slice.py
  tests/layer_tests/jax_tests/test_sqrt.py
  tests/layer_tests/jax_tests/test_squeeze.py
  tests/layer_tests/jax_tests/test_stop_gradient.py
  tests/layer_tests/jax_tests/test_sub.py
  tests/layer_tests/jax_tests/test_tanh.py
  tests/layer_tests/jax_tests/test_transpose.py
Labels: category: TF FE, category: JAX FE

#26418 Change log level from error to warning if backend is not found
  src/plugins/intel_npu/src/plugin/src/backends.cpp
Labels: Code Freeze, category: NPU

#26393 [OVJS] Avoid of usage global variables in tests
  src/bindings/js/node/tests/unit/basic.test.js
  src/bindings/js/node/tests/unit/compiled_model.test.js
  src/bindings/js/node/tests/unit/core.test.js
  src/bindings/js/node/tests/unit/infer_request.test.js
  src/bindings/js/node/tests/unit/model.test.js
  src/bindings/js/node/tests/unit/pre_post_processor.test.js
  src/bindings/js/node/tests/unit/read_model.test.js
  src/bindings/js/node/tests/unit/tensor.test.js
Labels: category: JS API

#26406 [GPU] Fix ocl build confliction of MAX() in scatter elements update ref kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/scatter_elements_update_ref.cl
Labels: category: GPU

#26411 [GPU] Fix accuracy issue of Qwen2 model
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
  src/plugins/intel_gpu/src/plugin/ops/paged_attention.cpp
Labels: category: GPU

#26423 [WHEEL] Split wheel build and build cleanup
  src/bindings/python/wheel/CMakeLists.txt
Labels: category: build, category: Python API, category: packaging

#26430 [GPU] Disable transpose fusion in case of no transpose found on both branches
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/tests/unit/transformations/transpose_matmul_fusion_test.cpp
Labels: category: GPU, Code Freeze

#26429 [GPU] Disable transpose fusion in case of no transpose found on both branches
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/tests/unit/transformations/transpose_matmul_fusion_test.cpp
Labels: category: GPU

#26297 [conformance] Mark DEVICE_ID mandatory for HW plugin
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/ov_plugin/properties.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Labels: category: IE Tests, conformance

#26431 Fixed macOS GHA build
  .github/workflows/mac.yml
Labels: category: CI, github_actions

#26417 [CPU] fix QKVProjection fake-matching for accuracy with bert models
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/op/qkv_proj.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/pass/qkv_proj_fusion.cpp
Labels: category: CPU, Code Freeze

#26433 [GPU] minor fix for paddings
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
Labels: category: GPU

#26381 [GPU] fix for duplicated connection of fusing
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/tests/unit/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#26407 [CPU] fix QKVProjection fake-matching for accuracy with bert models
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/op/qkv_proj.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/pass/qkv_proj_fusion.cpp
Labels: category: CPU

#26425 [TF FE] Stabilize layer tests for ComplexFFT ops and ComplexAbs on all platforms
  tests/layer_tests/tensorflow_tests/test_tf_ComplexAbs.py
  tests/layer_tests/tensorflow_tests/test_tf_ComplexFFT.py
Labels: category: TF FE

#25981 [DOCS] New NNCF article for user documentation - master
  docs/articles_en/assets/images/nncf_workflow.svg
  docs/articles_en/openvino-workflow.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/quantizing-models-post-training.rst
  docs/articles_en/openvino-workflow/model-optimization.rst
Labels: category: docs, WIP

#26435 [intel-npu] Additional documentation for NPU_MAX_TILES property's usa…
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  src/plugins/intel_npu/README.md
Labels: category: docs, category: NPU

#26398 [LPT] Handle scale with convert in MatMulTransformation
  src/common/low_precision_transformations/src/mat_mul.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  src/tests/ov_helpers/ov_lpt_models/include/ov_lpt_models/common/dequantization_operations.hpp
  src/tests/ov_helpers/ov_lpt_models/src/common/builders.cpp
  src/tests/ov_helpers/ov_lpt_models/src/common/dequantization_operations.cpp
Labels: bug, category: IE Tests, category: CPU, category: LP transformations

#26333 [LPT] separateInStandaloneBranch fix
  src/common/low_precision_transformations/src/add.cpp
  src/common/low_precision_transformations/src/concat.cpp
  src/common/low_precision_transformations/src/multiply.cpp
  src/common/low_precision_transformations/src/multiply_partial.cpp
  src/common/low_precision_transformations/src/mvn.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/low_precision_transformations/src/reduce_base_transformation.cpp
  src/common/low_precision_transformations/tests/separate_in_standalone_branch_transformation.cpp
Labels: bug, category: LP transformations

#26446 Properly use OneCore toolchain in Windows CC
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#26436 Fixed extensions (tokenizers) loading on Android
  src/core/dev_api/openvino/core/so_extension.hpp
  src/core/include/openvino/core/op_extension.hpp
  src/core/src/so_extension.cpp
Labels: category: Core, category: CPP API

#26440 [GPU] Fix lack of support for 3D (and smaller) shapes in TransposeFusion pass
  src/plugins/intel_gpu/src/plugin/transformations/increase_position_ids_precision.cpp
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/tests/unit/transformations/increase_position_ids_precision_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/transpose_matmul_fusion_test.cpp
Labels: category: GPU, Code Freeze

#26434 Remove changes to CMAKE_lang_FLAGS_build_type about MT/MTd
  cmake/toolchains/mt.runtime.win32.toolchain.cmake
Labels: category: build

#26438 [GPU] Add reqd_work_group_size attribute to Groupnorm BFYX OPT kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/group_normalization_gpu_bfyx_opt.cl
Labels: category: GPU

#25287 [DOCS] Update NNCF weight compression LLM example
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
Labels: category: docs

#26441 [GPU] Fix lack of support for 3D (and smaller) shapes in TransposeFusion pass
  src/plugins/intel_gpu/src/plugin/transformations/increase_position_ids_precision.cpp
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/tests/unit/transformations/increase_position_ids_precision_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/transpose_matmul_fusion_test.cpp
Labels: category: GPU

#26443 [TF FE] Change a root-cause for failing cases
  tests/layer_tests/ovc_python_api_tests/test_tf_output_order.py
Labels: category: OVC

#26448 [GHA] Default registry to dockerhub
  .github/actions/handle_docker/images_api.py
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/debian_10_arm/Dockerfile
  .github/dockerfiles/ov_build/fedora_33/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_20_04_arm64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_20_04_x64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_20_04_x64_nvidia/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_android/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_riscv/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_x64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_x64_cc/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_x64_dpcpp/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_x64_nvidia/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_24_04_x64/Dockerfile
  .github/dockerfiles/ov_build/webassembly/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_20_04_arm64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_20_04_x64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_22_04_x64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_24_04_x64/Dockerfile
Labels: category: CI, category: docker_env, category: dockerfiles

#26311 [PyOV] Test export/import
  src/bindings/python/src/pyopenvino/core/compiled_model.cpp
  src/bindings/python/tests/test_runtime/test_compiled_model.py
Labels: category: Python API

#26442 [PyOV] remove deprecated api
  src/bindings/python/src/pyopenvino/graph/node.cpp
  src/bindings/python/tests/test_graph/test_loop.py
  src/bindings/python/tests/test_graph/test_node_factory.py
Labels: category: Python API

#26445 [DOCS] Updating NodeJS API docs
  docs/articles_en/get-started/install-openvino/install-openvino-npm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
Labels: category: docs

#26458 [DOCS] Updating NodeJS docs for 2024.4
  docs/articles_en/get-started/install-openvino/install-openvino-npm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
Labels: category: docs

#26008 Revise Transformation docs: python API
  docs/articles_en/assets/snippets/ov_matcher_pass.py
  docs/articles_en/assets/snippets/ov_model_pass.py
  docs/articles_en/documentation/openvino-extensibility/transformation-api/matcher-pass.rst
  docs/articles_en/documentation/openvino-extensibility/transformation-api/model-pass.rst
Labels: category: docs

#25815 [CPU] [Snippets] Implement Convert for Snippets on ARM
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_conversion_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_conversion_emitters.hpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_load_store_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_load_store_emitters.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_memory_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_memory_emitters.cpp
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/transformations/snippets/aarch64/pass/snippets_mark_skipped.cpp
  src/plugins/intel_cpu/src/transformations/snippets/aarch64/shape_inference.cpp
  src/plugins/intel_cpu/src/transformations/snippets/common/op/load_convert.cpp
  src/plugins/intel_cpu/src/transformations/snippets/common/op/load_convert.hpp
  src/plugins/intel_cpu/src/transformations/snippets/common/op/store_convert.cpp
  src/plugins/intel_cpu/src/transformations/snippets/common/op/store_convert.hpp
  src/plugins/intel_cpu/src/transformations/snippets/common/pass/lowered/fuse_load_store_and_convert.cpp
  src/plugins/intel_cpu/src/transformations/snippets/common/pass/lowered/fuse_load_store_and_convert.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/shape_inference.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/conversion.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/arm/convert.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/x64/convert.cpp
Labels: category: CPU, category: build, platform: arm

#26462 DOCS Json Validation Data for CI
  docs/sphinx_setup/_static/benchmarks_files/graph-data-ov.json
  docs/sphinx_setup/_static/benchmarks_files/graph-data-ovms.json
  docs/sphinx_setup/_static/benchmarks_files/schema/graph-data-schema.json
Labels: category: docs

#26451 [PT FE] Use static seed for quantized tests
  tests/layer_tests/pytorch_tests/test_quantize.py
Labels: category: PyTorch FE

#25980 [intel-npu] Add functional tests to check correct memory deallocation
  src/plugins/intel_npu/tests/functional/behavior/npu_driver_compiler_adapter/custom_stream.cpp
  src/plugins/intel_npu/tests/functional/behavior/ov_plugin/core_integration.cpp
  src/plugins/intel_npu/tests/functional/common/functions.cpp
  src/plugins/intel_npu/tests/functional/common/functions.h
  src/plugins/intel_npu/tests/functional/internal/overload/ov_plugin/core_integration.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/compiled_model/properties.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
Labels: category: NPU

#26463 [DOCS] Updating Transformation API docs
  docs/articles_en/assets/snippets/ov_matcher_pass.py
  docs/articles_en/assets/snippets/ov_model_pass.py
  docs/articles_en/documentation/openvino-extensibility/transformation-api/matcher-pass.rst
  docs/articles_en/documentation/openvino-extensibility/transformation-api/model-pass.rst
Labels: category: docs

#26428 [LPT] Handle Gather in markup transformation
  src/common/low_precision_transformations/src/markup_precisions.cpp
Labels: category: LP transformations

#26465 [DOCS] Updating Transformations API docs
  docs/articles_en/assets/snippets/ov_matcher_pass.py
  docs/articles_en/assets/snippets/ov_model_pass.py
Labels: category: docs

#26414 Update quantization-aware-training-pytorch.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/quantization-aware-training-pytorch.rst
Labels: category: docs, ExternalPR

#26356 [Snippets] Enable libxsmm GHA job
  .github/workflows/dev_cpu_linux_snippets_libxsmm.yml
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: CI, github_actions

#26365 add failed model to the skip list
  tests/model_hub_tests/performance_tests/nightly_models.skip
Labels: category: TF FE, category: PyTorch FE

#26432 [DOC] add cache_encryption_callbacks example in guide
  docs/articles_en/assets/snippets/ov_caching.cpp
  docs/articles_en/assets/snippets/ov_caching.py
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-latency/model-caching-overview.rst
  src/bindings/c/include/openvino/c/ov_property.h
  src/inference/include/openvino/runtime/properties.hpp
Labels: category: inference, category: C API, category: docs, category: CPP API, port to 2024.4

#26474 [TF FE] Stabilize layer tests for Xlogy and Xlog1py on all platforms
  tests/layer_tests/common/utils/tf_utils.py
  tests/layer_tests/tensorflow_tests/test_tf_Xlog1py.py
  tests/layer_tests/tensorflow_tests/test_tf_Xlogy.py
Labels: category: TF FE, no-match-files

#26477 [TF FE] Fix translator for LinSpace operation and stabilize tests for it on all platforms
  src/frontends/tensorflow_common/src/op/linspace.cpp
  tests/layer_tests/tensorflow_tests/test_tf_LinSpace.py
Labels: category: TF FE, category: TFL FE

#26426 [GPU] Update gpu passes to keep valid layouts more often
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/include/layout_optimizer.h
  src/plugins/intel_gpu/src/graph/include/paged_attention_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/slice.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/gru_sequence.cpp
  src/plugins/intel_gpu/tests/unit/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/deconvolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/gemm_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/graph_manipulation_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/select_preferred_formats_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reduce_gpu_test.cpp
Labels: category: GPU

#26475 [TF FE]: Support complex tensors for Prod operations
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/include/utils.hpp
  src/frontends/tensorflow_common/src/op/atan2.cpp
  src/frontends/tensorflow_common/src/op/reduce.cpp
  src/frontends/tensorflow_common/src/utils.cpp
  tests/layer_tests/tensorflow_tests/test_tf_ReduceArithmeticOps.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#26486 [GPU] Fix random tests
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_primitive_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/border_gpu_test.cpp
Labels: category: GPU

#26482 Add USE_TBBBIND_2_5 before the definition of binding_observer
  src/inference/src/dev/threading/parallel_custom_arena.cpp
  src/inference/src/dev/threading/parallel_custom_arena.hpp
Labels: category: inference

#26467 [PT FE] Update model hub tests
  tests/model_hub_tests/models_hub_common/test_convert_model.py
  tests/model_hub_tests/pytest.ini
  tests/model_hub_tests/pytorch/hf_transformers_models
  tests/model_hub_tests/pytorch/requirements.txt
  tests/model_hub_tests/pytorch/test_llm.py
  tests/model_hub_tests/pytorch/timm_models
Labels: category: dependency_changes, category: TF FE, category: PyTorch FE

#26464 [PT FE] Update torch to 2.4.1 in tests
  tests/constraints.txt
Labels: category: dependency_changes

#26470 [GPU] fix zero array in network unit test
  src/plugins/intel_gpu/tests/unit/module_tests/network_test.cpp
Labels: category: GPU

#26492 [DOCS] Port Docker images note
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
Labels: category: docs

#26471 [GHA] Enable more convenient OV provider call from other repos
  .github/actions/openvino_provider/action.yml
Labels: category: CI

#26489 [DOCS] GenAI Docker images note
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
Labels: category: docs

#26494 Docs change csv to json file in benchmark graphs
  docs/sphinx_setup/_static/benchmarks_files/graph-config.json
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/css/media/arrow-back.svg
  docs/sphinx_setup/_static/css/media/show-filters.svg
  docs/sphinx_setup/_static/html/modal.html
  docs/sphinx_setup/_static/js/graphs.js
  docs/sphinx_setup/_templates/layout.html
Labels: category: docs

#26308 [DOCS] New Key Features in docs - master
  docs/articles_en/about-openvino.rst
  docs/articles_en/about-openvino/key-features.rst
  docs/sphinx_setup/_static/css/homepage_style.css
  docs/sphinx_setup/index.rst
Labels: category: docs, WIP

#26376 [Snippets][CPU] Disabled dynamic MHA tokenization if rtCache is not used
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU

#26505 [DOCS] Adding Key Features article to docs
  docs/articles_en/about-openvino.rst
  docs/articles_en/about-openvino/key-features.rst
  docs/sphinx_setup/_static/css/homepage_style.css
  docs/sphinx_setup/index.rst
Labels: category: docs

#26402 [GPU] Added support fsv16/32 depthwise shape agnostic convolution
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_b_fs_yx_fsv_16_32_imad_dw.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv_16_32_imad_dw.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv_16_32_imad_dw.hpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#26459 Fix typo in EnvVar class and fix filtering functionality
  src/core/src/pass/manager.cpp
Labels: category: Core

#26478 [Paddle FE] Paddle frontend op interpolate support SizeTensor
  src/frontends/paddle/src/op/interp.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_interpolate.py
Labels: category: PDPD FE

#26495 [GPU] Simplify items_num and leftovers calculation
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/mvn_gpu_bfyx_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rms_gpu_bfyx_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/softmax_gpu_bf.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/mvn/mvn_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_bf.cpp
Labels: category: GPU

#26453 Append input index to input names
  src/plugins/intel_npu/tools/single-image-test/main.cpp
Labels: category: NPU

#26460 Updated LLM compression related information
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
Labels: category: docs

#26513 [JAX FE][DOCS] Document Support of JAX/Flax models by OpenVINO
  docs/articles_en/openvino-workflow/model-preparation.rst
  docs/articles_en/openvino-workflow/model-preparation/conversion-parameters.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-jax.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-to-ir.rst
Labels: category: docs

#26490 [LPT] NormalizeDequantization correction
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/low_precision_transformations/tests/normalize_dequantization_transformation.cpp
  src/tests/ov_helpers/ov_lpt_models/include/ov_lpt_models/normalize_dequantization.hpp
  src/tests/ov_helpers/ov_lpt_models/src/normalize_dequantization.cpp
Labels: bug, category: IE Tests, category: LP transformations

#26354 [Snippets] Dynamic SplitDimensionM leftovers
  src/common/snippets/include/snippets/lowered/pass/init_loops.hpp
  src/common/snippets/include/snippets/runtime_configurator.hpp
  src/common/snippets/include/snippets/utils/loop_utils.hpp
  src/common/snippets/include/snippets/utils/utils.hpp
  src/common/snippets/src/lowered/loop_info.cpp
  src/common/snippets/src/lowered/pass/init_loops.cpp
  src/common/snippets/src/lowered/pass/split_loops.cpp
  src/common/snippets/src/runtime_configurator.cpp
  src/common/snippets/src/utils/loop_utils.cpp
Labels: category: CPU

#26500 [CPU][ARM] Fix output detection in `ConvertReduceMultiAxisBase` transformation
  src/plugins/intel_cpu/src/transformations/cpu_opset/arm/pass/convert_reduce_multi_axis.cpp
Labels: category: CPU, platform: arm

#26522 [GPU] Fix OOB access in reorder
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
Labels: category: GPU

#26524 [GPU] Fix unit tests ph2
  src/plugins/intel_gpu/tests/unit/test_cases/condition_gpu_test.cpp
Labels: category: GPU

#26410 [GPU] Optimize graph transformation for pytorch
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/transpose_matmul_fusion.cpp
Labels: category: GPU

#26517 [GHA] Add ov_wheel_source output for ov provider
  .github/actions/openvino_provider/action.yml
Labels: category: CI

#26521 Fix path to generated ov_plugins.hpp
  cmake/developer_package/plugins/plugins.cmake
Labels: category: build

#26523 [DOCS] Updating references to OMZ in docs
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/documentation/legacy-features/model-zoo.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-efficient-det.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-retina-net.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-yolo.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/advanced-guides/low-precision-transformations.rst
  docs/articles_en/documentation/openvino-security.rst
  docs/articles_en/learn-openvino/openvino-samples/bert-benchmark.rst
  docs/articles_en/learn-openvino/openvino-samples/hello-reshape-ssd.rst
  docs/articles_en/learn-openvino/openvino-samples/sync-benchmark.rst
  docs/articles_en/learn-openvino/openvino-samples/throughput-benchmark.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/general-optimizations.rst
  docs/notebooks/explainable-ai-1-basic-with-output.rst
  docs/notebooks/handwritten-ocr-with-output.rst
  docs/notebooks/hello-detection-with-output.rst
  docs/notebooks/hello-segmentation-with-output.rst
  docs/notebooks/hello-world-with-output.rst
  docs/notebooks/optical-character-recognition-with-output.rst
  docs/notebooks/person-tracking-with-output.rst
  docs/notebooks/tensorflow-classification-to-openvino-with-output.rst
  docs/notebooks/vision-monodepth-with-output.rst
Labels: category: docs

#26535 [DOCS] Updating references to OMZ in docs for 24.4
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/documentation/legacy-features/model-zoo.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-efficient-det.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-retina-net.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-yolo.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/advanced-guides/low-precision-transformations.rst
  docs/articles_en/documentation/openvino-security.rst
  docs/articles_en/learn-openvino/openvino-samples/bert-benchmark.rst
  docs/articles_en/learn-openvino/openvino-samples/hello-reshape-ssd.rst
  docs/articles_en/learn-openvino/openvino-samples/sync-benchmark.rst
  docs/articles_en/learn-openvino/openvino-samples/throughput-benchmark.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/general-optimizations.rst
  docs/notebooks/explainable-ai-1-basic-with-output.rst
  docs/notebooks/handwritten-ocr-with-output.rst
  docs/notebooks/hello-detection-with-output.rst
  docs/notebooks/hello-segmentation-with-output.rst
  docs/notebooks/hello-world-with-output.rst
  docs/notebooks/optical-character-recognition-with-output.rst
  docs/notebooks/person-tracking-with-output.rst
  docs/notebooks/tensorflow-classification-to-openvino-with-output.rst
  docs/notebooks/vision-monodepth-with-output.rst
Labels: category: docs

#26528 [TF FE] Stabilize tf.keras.layers.Dot layer tests on all platforms
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_dot.py
Labels: category: TF FE

#26461 [DOCS] NNCF section adjustments pass2
  docs/articles_en/assets/images/WHAT_TO_USE.svg
  docs/articles_en/assets/images/quantization_picture.svg
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/quantizing-models-post-training.rst
  docs/articles_en/openvino-workflow/model-optimization.rst
Labels: category: docs

#26515 [GPU] Optimize RMS Stack Size for Better Performance
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_bfyx_opt.cpp
Labels: category: GPU

#26538 [GHA] Artifact folder names consistency check
  .github/actions/common/artifact_utils.py
  .github/actions/common/constants.py
Labels: category: CI

#25385 [CPU] Introduce SubModel op and Composite node
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/composite.cpp
  src/plugins/intel_cpu/src/nodes/composite.h
  src/plugins/intel_cpu/src/nodes/executors/graph_emitter.hpp
  src/plugins/intel_cpu/src/nodes/input.cpp
  src/plugins/intel_cpu/src/nodes/input.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/submodel.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/submodel.hpp
Labels: category: CPU

#26456 [CPU]Mark Range as FP32
  src/common/transformations/include/transformations/fp16_compression/mark_floatpoint_range.hpp
  src/common/transformations/src/transformations/fp16_compression/mark_floatpoint_range.cpp
  src/common/transformations/src/transformations/fp16_compression/mark_subgraphs_to_keep_in_mixed_precision.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU, category: transformations

#26502 [GPU] Fix fc_tiled kernel for eltwise fusion and allow fusion for dynamic shape
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  src/plugins/intel_gpu/tests/unit/fusions/fully_connected_fusion_test.cpp
Labels: category: GPU

#26507 [PyOV] Exclude a specific `tensorflow` version which does not support Python 3.8 on MacOS
  tools/mo/requirements_tf.txt
  tools/mo/requirements_tf2.txt
Labels: category: MO, category: dependency_changes

#26534 [GPU] OpenCL headers compatibility comment
  src/plugins/intel_gpu/docs/gpu_plugin_driver_troubleshooting.md
Labels: category: GPU, category: docs

#26551 [DOCS] nncf changes pass 1-2 port 24.4
  docs/articles_en/assets/images/WHAT_TO_USE.svg
  docs/articles_en/assets/images/nncf_workflow.svg
  docs/articles_en/assets/images/quantization_picture.svg
  docs/articles_en/openvino-workflow.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/quantization-aware-training-pytorch.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/quantizing-models-post-training.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
  docs/articles_en/openvino-workflow/model-optimization.rst
Labels: category: docs

#26527 [DOCS] Add verification of json benchmarks files
  .github/workflows/build_doc.yml
  docs/requirements.txt
  docs/scripts/tests/validate_benchmarks.py
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms.json
Labels: category: CI, category: docs, category: dependency_changes, github_actions

#26536 [GPU] Fix a bug of onednn asymmetric convolution
  src/plugins/intel_gpu/src/plugin/transformations/bcast_and_pad_zp_buffers.cpp
  src/plugins/intel_gpu/tests/unit/transformations/bcast_and_pad_zp_buffers_test.cpp
Labels: category: GPU

#25966 [OV JS] Expose core.query_model to Node.js Api
  src/bindings/js/node/include/core_wrap.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/tests/unit/core.test.js
Labels: ExternalPR, category: JS API

#26427 Add ReduceReshape transformation to NopElimination scope
  src/common/transformations/include/transformations/common_optimizations/nop_elimination.hpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/tests/common_optimizations/nop_elimination.cpp
  src/core/include/openvino/op/util/arithmetic_reduction.hpp
  src/core/include/openvino/op/util/arithmetic_reductions_keep_dims.hpp
  src/core/include/openvino/op/util/logical_reduction.hpp
  src/core/include/openvino/op/util/logical_reduction_keep_dims.hpp
Labels: category: Core, category: transformations, category: CPP API

#26537 [DOCS] py version support 24.5
  docs/articles_en/documentation/legacy-features/install-dev-tools.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-brew.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
  docs/articles_en/get-started/troubleshooting-install-config.rst
  docs/articles_en/learn-openvino/interactive-tutorials-python/notebooks-installation.rst
  docs/dev/build_linux.md
  docs/dev/build_mac_arm.md
  docs/dev/build_mac_intel_cpu.md
  docs/dev/build_windows.md
Labels: category: docs

#26561 Limit metrics workflow to openvino repository only
  .github/workflows/send_workflows_to_opentelemetry.yml
Labels: category: CI, github_actions

#26542 [JAX FE][GHA] Add JAX/Flax Model Hub tests into GHA
  .github/labeler.yml
  .github/workflows/job_jax_models_tests.yml
  .github/workflows/ubuntu_22.yml
  src/bindings/python/src/openvino/frontend/jax/utils.py
  src/frontends/jax/src/op_table.cpp
  tests/constraints.txt
  tests/layer_tests/jax_tests/test_erf.py
  tests/model_hub_tests/jax/conftest.py
  tests/model_hub_tests/jax/hf_transformers_models
  tests/model_hub_tests/jax/jax_utils.py
  tests/model_hub_tests/jax/requirements.txt
  tests/model_hub_tests/jax/test_hf_transformers.py
Labels: category: Python API, category: CI, category: dependency_changes, category: TF FE, github_actions, category: PyTorch FE, category: JAX FE

#26560 [GHA] Switch off GPU tests in precommit, post-commit and nightly
  .github/workflows/ubuntu_20.yml
Labels: category: CI, github_actions

#26466 [CI] [GHA] Enable testing of Python 3.12 on Ubuntu 24
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
  tests/layer_tests/ovc_python_api_tests/test_ovc_cli_tool.py
  tests/layer_tests/ovc_python_api_tests/test_tf.py
  tools/mo/unit_tests/mo/ops/elementwise_test.py
Labels: category: MO, category: CI, github_actions, category: OVC

#26559 [GHA] Switch off GPU tests in precommit, post-commit and nightly
  .github/workflows/ubuntu_20.yml
Labels: category: CI, github_actions

#26564 [GHA] Dynamic refs for third-party OV-related repos
  .github/workflows/android_arm64.yml
  .github/workflows/android_x64.yml
  .github/workflows/coverity.yml
  .github/workflows/job_build_linux.yml
  .github/workflows/job_build_windows.yml
  .github/workflows/job_tokenizers.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/linux_sanitizers.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#26362 NPUW: Introduce DQ
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.hpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.hpp
Labels: category: NPU, category: NPUW

#26484 [DOCS] add cache_encryption_callbacks docs
  docs/articles_en/assets/snippets/ov_caching.cpp
  docs/articles_en/assets/snippets/ov_caching.py
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-latency/model-caching-overview.rst
  src/bindings/c/include/openvino/c/ov_property.h
  src/inference/include/openvino/runtime/properties.hpp
Labels: category: inference, category: C API, category: docs, category: CPP API

#26292 [GPU] Support for empty second input in Bucketize
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/bucketize.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/bucketize.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Bucketize.py
Labels: category: GPU, category: TF FE

#26566 [GPU] Fix unit tests ph3
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/loop_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/memory_test.cpp
Labels: category: GPU

#26578 [GPU] Fixes for speculative decoding
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_kv_cache_update_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_sdpa_kernel_opt.cpp
Labels: category: GPU

#26568 [GHA] Remove GenAI build from Android arm64
  .github/workflows/android_arm64.yml
Labels: category: CI, github_actions

#26579 [DOCS] Add GenAI OV API reference
  docs/CMakeLists.txt
  docs/scripts/tests/suppress_warnings.txt
  docs/sphinx_setup/api/api_reference.rst
  docs/sphinx_setup/api/genai_api/api.rst
Labels: category: build, category: docs

#26582 [GPU] Fix broadcast save/load impls
  src/plugins/intel_gpu/src/graph/impls/cpu/broadcast.cpp
Labels: category: GPU

#26541 [NPUW] Fix scalar unique names
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
Labels: category: NPU, category: NPUW

#26588 [CI] [GHA] Use test image for test jobs
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_test/ubuntu_22_04_x64/Dockerfile
  .github/workflows/ubuntu_22.yml
Labels: category: CI, github_actions, category: dockerfiles

#26540 [TF FE] SparseSegmentMean translator
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/sparse_segment_mean.cpp
  tests/layer_tests/tensorflow_tests/test_tf_SparseSegmentMean.py
Labels: category: docs, category: TF FE, category: TFL FE

#26550 [Pybind] Check version of CMAKE_CXX_COMPILER_VERSION
  src/bindings/python/CMakeLists.txt
Labels: category: build, category: Python API

#26602 [TF FE] Skip layer test for Prod on complex tensors on ARM due to accuracy issue
  tests/layer_tests/tensorflow_tests/test_tf_ReduceArithmeticOps.py
Labels: category: TF FE

#26512 [GHA] Enable parallel execution of MO Python API python tests
  .github/workflows/job_python_unit_tests.yml
  tests/layer_tests/mo_python_api_tests/test_mo_convert_onnx.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_paddle.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
  tests/layer_tests/mo_python_api_tests/test_mo_convert_tf.py
Labels: category: MO, category: CI, ExternalPR, github_actions
