Repository openvinotoolkit/openvino, pull requests merged in 2024-04, with the labels that each got.

#23608 [GPU] Optimize softmax kernels
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/softmax_gpu_bf.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_bf.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/softmax_gpu_test.cpp
Labels: category: GPU

#23760 fix QueryModelWithInvalidDeviceIDThrows is fail for AUTO
  src/plugins/auto/src/plugin.cpp
Labels: category: AUTO

#23617 [GPU] Roll dynamic shape implementation
  src/plugins/intel_gpu/include/intel_gpu/primitives/roll.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/roll.cpp
  src/plugins/intel_gpu/src/graph/include/roll_inst.hpp
  src/plugins/intel_gpu/src/plugin/ops/roll.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/roll.cpp
Labels: category: GPU

#23692 [CPU] [ARM64] jit abs
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
Labels: category: CPU, platform: arm

#23776 [GPU] Fix gemm_tiled_opt kernel bug for tile_n_size 32
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_tiled_opt.cl
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#23788 [HETERO] Fix some scan coverity issues
  src/plugins/hetero/src/compiled_model.cpp
  src/plugins/hetero/src/graph_debug_dump.cpp
  src/plugins/hetero/src/plugin.cpp
  src/plugins/hetero/src/subgraph_collector.cpp
Labels: category: HETERO

#21751 [SnippetS]GroupNormalization enablement via snippets
  src/common/snippets/include/snippets/op/reshape.hpp
  src/common/snippets/include/snippets/op/subgraph.hpp
  src/common/snippets/include/snippets/pass/gn_decomposition.hpp
  src/common/snippets/include/snippets/pass/gn_tokenization.hpp
  src/common/snippets/include/snippets/shape_inference/shape_infer_instances.hpp
  src/common/snippets/include/snippets/snippets_isa.hpp
  src/common/snippets/include/snippets/snippets_isa_tbl.hpp
  src/common/snippets/include/snippets/utils.hpp
  src/common/snippets/src/generator.cpp
  src/common/snippets/src/lowered/linear_ir.cpp
  src/common/snippets/src/lowered/pass/allocate_buffers.cpp
  src/common/snippets/src/lowered/pass/assign_registers.cpp
  src/common/snippets/src/lowered/pass/insert_buffers.cpp
  src/common/snippets/src/lowered/pass/insert_load_store.cpp
  src/common/snippets/src/lowered/pass/mark_loops.cpp
  src/common/snippets/src/lowered/pass/validate.cpp
  src/common/snippets/src/op/reshape.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/align_element_types.cpp
  src/common/snippets/src/pass/gn_decomposition.cpp
  src/common/snippets/src/pass/gn_tokenization.cpp
  src/common/snippets/src/pass/tokenization.cpp
  src/common/snippets/src/shape_inference/shape_infer_instances.cpp
  src/common/snippets/src/shape_inference/shape_inference.cpp
  src/common/snippets/src/utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_kernel_emitter.cpp
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/group_normalization.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/group_normalization.hpp
Labels: category: IE Tests, category: CPU, Code Freeze

#23593 Enable fullyconnect parallel for per node core allocation
  src/inference/dev_api/openvino/runtime/threading/cpu_streams_executor.hpp
  src/inference/dev_api/openvino/runtime/threading/istreams_executor.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/cpu_streams_executor_internal.cpp
  src/inference/src/dev/threading/istreams_executor.cpp
  src/inference/tests/unit/cpu_reserve_test.cpp
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/cpu_memory.cpp
  src/plugins/intel_cpu/src/cpu_memory.h
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.hpp
  src/plugins/intel_cpu/src/dnnl_scratch_pad.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/graph_context.h
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/concat.cpp
  src/plugins/intel_cpu/src/nodes/concat.h
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected.hpp
  src/plugins/intel_cpu/src/nodes/executors/executor.hpp
  src/plugins/intel_cpu/src/nodes/executors/mlas/mlas_gemm.cpp
  src/plugins/intel_cpu/src/nodes/executors/mlas/mlas_gemm.hpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/split_fc.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/split_fc.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/convert_to_cpu_specific_opset.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.h
  src/plugins/intel_cpu/src/utils/debug_capabilities.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/matmul_weights_decompression.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_e2e_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
  src/plugins/intel_cpu/tests/unit/transformations/split_fc_test.cpp
Labels: category: inference, category: CPU, Code Freeze

#23619 [ONNX] Aligned behavior of ReduceMin operator
  src/frontends/onnx/frontend/src/op/reduce.cpp
  src/frontends/onnx/frontend/src/op/reduce.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/tests/__init__.py
  src/frontends/onnx/tests/models/reduce_min_18.prototxt
  src/frontends/onnx/tests/models/reduce_min_20.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/tests_python/test_backend.py
Labels: ExternalPR, category: ONNX FE

#23797 [GPU] Fix gemm_tiled_opt kernel accuracy for the dynamic case with TILE_N=32 and transposed output shape
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_tiled_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#23739 [ IE TESTS ] Extend tensor comparation
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/nms_rotated.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/utils/compare_results.hpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/functional/shared_test_classes/src/base/utils/compare_results.cpp
  src/tests/functional/shared_test_classes/src/single_op/generate_proposals.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/ov_tensor_utils.hpp
  src/tests/test_utils/common_test_utils/src/ov_tensor_utils.cpp
Labels: category: IE Tests, category: GPU

#23799 [GPU] Convolution supports fusings check fix
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/tests/unit/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/deconvolution_fusion_test.cpp
Labels: category: GPU

#23691 [ARM CPU] Add build dir ignoring for ACL submodule
  .gitmodules
Labels: platform: arm, category: dependency_changes

#23793 [IE TESTS] Skip Import/Export/QueryModel tests for SW plugin from API Conformance
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/query_model.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/life_time.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Labels: category: IE Tests, conformance

#23816 Fix Python linter errors introduced by new `flake8-pytest-style` version
  src/bindings/python/tests/test_graph/test_dyn_attributes.py
  src/bindings/python/tests/test_graph/test_manager.py
  src/bindings/python/tests/test_graph/test_node_factory.py
  src/bindings/python/tests/test_runtime/test_core.py
Labels: category: Python API

#23820 [PT FE] Fix sporadic fail in scatter_reduce test
  tests/layer_tests/pytorch_tests/test_scatter.py
Labels: category: PyTorch FE

#23765 [GPU] add reorder between mvn and conv. (#23670)
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_padding_test.cpp
Labels: category: GPU

#23787 [GPU] Skip concat_input_order
  src/plugins/intel_gpu/src/graph/graph_optimizer/concat_input_order.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU

#23795 [GPU] add u8 support in evaluate of logical_not
  src/core/src/op/logical_not.cpp
  src/plugins/template/tests/functional/op_reference/logical_not.cpp
Labels: category: Core, category: TEMPLATE

#23815 [OVC] Allow models obtained from torch.export
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  src/frontends/pytorch/src/op/sum.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/place.cpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_scaled_dot_product_attention.py
  tests/model_hub_tests/pytorch/hf_transformers_models
  tests/model_hub_tests/pytorch/torch_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: MO, category: Python API, category: PyTorch FE

#23349 [PT TE] Support aten::index_copy_ operation
  src/frontends/pytorch/src/op/index_copy_.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_index_copy_.py
Labels: ExternalPR, category: PyTorch FE

#23742 comment out unstable proposal v2_6 testcase
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_generate_proposal_v2.py
Labels: category: PDPD FE

#23794 [TF FE] Implement transformation to resolve uninitialized variables
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/hash_table.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/node_context.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/variable.hpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/variables_map.hpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/op/hash_table.cpp
  src/frontends/tensorflow/src/op/lookup_table_find.cpp
  src/frontends/tensorflow/src/op/tensor_array_operations.cpp
  src/frontends/tensorflow/src/transformations/uninitialized_variable_resolve.cpp
  src/frontends/tensorflow/src/transformations/uninitialized_variable_resolve.hpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/src/translate_session.hpp
Labels: category: TF FE, category: CPP API, Code Freeze

#23829 [GPU] Changed ExecutionMode::ACCURACY mode behaviour on GPU
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/behavior/inference_precision.cpp
Labels: category: GPU, Code Freeze

#23828 [GPU] Remove paddings on set_state() call
  src/plugins/intel_gpu/src/plugin/variable_state.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
Labels: category: GPU, Code Freeze

#23779 Quantization support for torch.compile
  .github/workflows/job_python_unit_tests.yml
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/backend.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/backend_utils.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/decompositions.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/op_support.py
  src/frontends/pytorch/src/op/cat.cpp
  src/frontends/pytorch/src/op/quantize.cpp
  src/frontends/pytorch/src/op/split.cpp
  src/frontends/pytorch/src/op/var_mean.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils_quantize.cpp
  src/frontends/pytorch/src/utils_quantize.hpp
  tests/layer_tests/pytest.ini
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_adaptive_avg_pool.py
  tests/layer_tests/pytorch_tests/test_adaptive_max_pool.py
  tests/layer_tests/pytorch_tests/test_add.py
  tests/layer_tests/pytorch_tests/test_batch_norm.py
  tests/layer_tests/pytorch_tests/test_convolution.py
  tests/layer_tests/pytorch_tests/test_remainder.py
Labels: category: Python API, category: CI, github_actions, category: PyTorch FE, Code Freeze, no-match-files

#23807 [core] Fix segfault in Constant when destroy not initialized string buffer
  src/common/transformations/include/ov_ops/gather_compressed.hpp
  src/core/dev_api/openvino/runtime/string_aligned_buffer.hpp
  src/core/include/openvino/op/constant.hpp
  src/core/src/runtime/string_aligned_buffer.cpp
  src/core/tests/constant.cpp
  src/core/tests/string_align_buffer_test.cpp
Labels: category: Core, category: transformations, category: CPP API

#23817 [IE TESTS] Threshold propagation in Base test class
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/utils/calculate_thresholds.hpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/functional/shared_test_classes/src/base/utils/calculate_thresholds.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/ov_tensor_utils.hpp
  src/tests/test_utils/common_test_utils/src/ov_tensor_utils.cpp
Labels: category: IE Tests, conformance

#23753 Revert "Update Selector Tool version 2022.3.2 (#23694)"
  docs/articles_en/get-started/install-openvino.rst
  docs/sphinx_setup/_static/selector-tool/assets/selector-327a166e.js
  docs/sphinx_setup/_static/selector-tool/selector-c398038.html
Labels: category: docs

#23696 [template] Remove half-byte precision from Template plugin Tile test
  src/plugins/template/tests/functional/op_reference/tile.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
Labels: category: TEMPLATE

#23837 PagedAttention experimental operation
  src/bindings/python/src/openvino/runtime/op/__init__.py
  src/bindings/python/src/pyopenvino/graph/ops/paged_attention_extension.cpp
  src/bindings/python/src/pyopenvino/graph/ops/paged_attention_extension.hpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
Labels: category: Python API, Code Freeze

#23840 [CPU] FC executor config fix for INT8 case
  src/plugins/intel_cpu/src/nodes/executors/fullyconnected_implementations.cpp
Labels: bug, category: CPU, Code Freeze

#23863 [DOCS] Update supported pytorch ops list for 24.1
  docs/articles_en/about-openvino/compatibility-and-support/supported-operations-framework-frontend.rst
Labels: category: docs

#23839 Remove npu and vpux from files name
  src/plugins/intel_npu/src/compiler/include/driver_compiler_adapter.hpp
  src/plugins/intel_npu/src/compiler/include/graph_transformations.hpp
  src/plugins/intel_npu/src/compiler/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/plugin/include/backends.hpp
  src/plugins/intel_npu/src/plugin/include/compiler.hpp
  src/plugins/intel_npu/src/plugin/include/metrics.hpp
  src/plugins/intel_npu/src/plugin/include/plugin.hpp
  src/plugins/intel_npu/src/plugin/src/backends.cpp
  src/plugins/intel_npu/src/plugin/src/compiler.cpp
  src/plugins/intel_npu/src/plugin/src/metrics.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: Code Freeze, no-match-files, category: NPU

#23872 [DOCS] Port Add MS Windows version for NPU to 23.3
  docs/articles_en/about_openvino/system_requirements.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/NPU.rst
Labels: category: docs

#23845 [GPU] Strideslice revert
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/strided_slice_ref.cl
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: GPU, Code Freeze

#23767 [Ref_Impl] Fix Atanh reference implementation
  src/core/reference/include/openvino/reference/atanh.hpp
Labels: category: Core

#23867 Added NPU maintainers
  .github/CODEOWNERS
  .github/components.yml
  .github/labeler.yml
Labels: category: CI

#23768 [Op][string] Update arithmetic ops type validation to disallow string type
  src/core/src/op/util/binary_elementwise_arithmetic.cpp
  src/core/src/op/util/unary_elementwise_arithmetic.cpp
  src/core/tests/type_prop/arithmetic_ops.hpp
  src/core/tests/type_prop/binary_elementwise.cpp
  src/core/tests/type_prop/unary_elementwise.cpp
Labels: category: Core

#23871 [DOCS] Port Add MS Windows version for NPU
  docs/articles_en/about-openvino/system-requirements.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
Labels: category: docs

#23869 [DOCS] Add specific MS Windows version for NPU
  docs/articles_en/about-openvino/system-requirements.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
Labels: category: docs

#23709 [CI][GHA] Custom compressed cache action
  .github/actions/cache/.eslintignore
  .github/actions/cache/.node-version
  .github/actions/cache/.prettierignore
  .github/actions/cache/.prettierrc.json
  .github/actions/cache/__tests__/cleanup.test.js
  .github/actions/cache/__tests__/restore.test.js
  .github/actions/cache/__tests__/save.test.js
  .github/actions/cache/action.yml
  .github/actions/cache/cleanup/action.yml
  .github/actions/cache/dist/cleanup-only/index.js
  .github/actions/cache/dist/restore-only/index.js
  .github/actions/cache/dist/restore/index.js
  .github/actions/cache/dist/save-only/index.js
  .github/actions/cache/dist/save/index.js
  .github/actions/cache/linters/.eslintrc.yml
  .github/actions/cache/linters/.markdown-lint.yml
  .github/actions/cache/linters/.yaml-lint.yml
  .github/actions/cache/package-lock.json
  .github/actions/cache/package.json
  .github/actions/cache/restore/action.yml
  .github/actions/cache/save/action.yml
  .github/actions/cache/src/cleanup.js
  .github/actions/cache/src/cleanupImpl.js
  .github/actions/cache/src/restore.js
  .github/actions/cache/src/restoreImpl.js
  .github/actions/cache/src/save.js
  .github/actions/cache/src/saveImpl.js
  .github/actions/cache/src/utils.js
  .github/workflows/linux_riscv.yml
  .gitignore
Labels: category: CI, github_actions, no-match-files

#23849 [CPU] Do not assign Numa id to a node with zero shape input
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.h
Labels: category: CPU, Code Freeze

#23857 Symbols equality fix
  src/core/src/symbol.cpp
  src/core/tests/dimension.cpp
Labels: category: Core, Code Freeze

#23850 [TF FE] Add layer test for RaggedTensorToSparse
  src/frontends/tensorflow/src/checkpoint_utils.cpp
  src/frontends/tensorflow/src/checkpoint_utils.hpp
  src/frontends/tensorflow/src/checkpoint_v1_reader.cpp
  src/frontends/tensorflow/src/checkpoint_v1_reader.hpp
  src/frontends/tensorflow/src/graph_iterator_meta.cpp
  src/frontends/tensorflow/src/graph_iterator_meta.hpp
  src/frontends/tensorflow/src/graph_iterator_saved_model.cpp
  src/frontends/tensorflow/src/graph_iterator_saved_model.hpp
  src/frontends/tensorflow/src/op/tensor_array_operations.cpp
  src/frontends/tensorflow/src/proto/google/protobuf/any.proto
  src/frontends/tensorflow/src/proto/google/protobuf/wrappers.proto
  src/frontends/tensorflow/src/proto/ov_tensorflow/saved_model.proto
  src/frontends/tensorflow/src/proto/ov_tensorflow/saved_object_graph.proto
  src/frontends/tensorflow/src/proto/ov_tensorflow/saved_tensor_slice.proto
  src/frontends/tensorflow/src/proto/ov_tensorflow/saver.proto
  src/frontends/tensorflow/src/proto/ov_tensorflow/struct.proto
  src/frontends/tensorflow/src/proto/ov_tensorflow/tensor_bundle.proto
  src/frontends/tensorflow/src/proto/ov_tensorflow/trackable_object_graph.proto
  src/frontends/tensorflow/src/tf_utils.hpp
  src/frontends/tensorflow/src/transformations/switch_merge_resolve.hpp
  src/frontends/tensorflow/src/variables_index.cpp
  src/frontends/tensorflow/src/variables_index.hpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_conv_with_dynamic_input_channel.py
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_metagraph_variables.py
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_broadcast_issue.py
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_intermediate_output.py
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_multi-graph.py
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_parameter_result.py
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_program-only.py
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_variables.py
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_with_gather.py
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_saved_model_with_numerical_names.py
  src/frontends/tensorflow_common/src/op/clip_by_value.cpp
  tests/layer_tests/tensorflow_tests/test_tf_RaggedTensorToSparse.py
Labels: category: TF FE, category: TFL FE

#23814 [NPU] - Port plugin changes for dynamic shapes support
  src/plugins/intel_npu/src/al/include/intel_npu/al/icompiler.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/al/prefix.hpp
  src/plugins/intel_npu/src/al/include/sync_infer_request.hpp
  src/plugins/intel_npu/src/al/src/sync_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
Labels: Code Freeze, no-match-files, category: NPU

#23770 [Tmpl test] Clamp: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/clamp.cpp
Labels: category: TEMPLATE

#23846 [PT FE] Fix GHA model tests
  tests/constraints.txt
  tests/model_hub_tests/pytorch/hf_transformers_models
  tests/model_hub_tests/pytorch/requirements.txt
  tests/model_hub_tests/pytorch/test_gfpgan.py
Labels: category: dependency_changes, category: PyTorch FE

#23847 [releases/2022/3] Update tools package
  src/plugins/intel_myriad/myriad_dependencies.cmake
Labels: WIP

#22000 [ONNX] Extend ONNX Frontend with `com.microsoft.Pad`
  src/frontends/onnx/frontend/src/op/com.microsoft/pad.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/pad.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/tests/models/com.microsoft/pad_1d.prototxt
  src/frontends/onnx/tests/models/com.microsoft/pad_2d.prototxt
  src/frontends/onnx/tests/onnx_import_com_microsoft.in.cpp
Labels: ExternalPR, category: ONNX FE

#23202 [CPU] [ARM64] jit tanh
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_emitter.cpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm

#23878 [TF FE] Recommend openvino-tokenizers for some operations in case failed conversion
  src/frontends/tensorflow/docs/check_supported_ops.py
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow/src/op_table.hpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_string_lower.py
Labels: category: docs, category: TF FE

#23834 [PT FE] Fix coverity issues
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/input_model.cpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op/if.cpp
  src/frontends/pytorch/src/op/lstm.cpp
  src/frontends/pytorch/src/op/max_poolnd.cpp
  src/frontends/pytorch/src/op/roll.cpp
  src/frontends/pytorch/src/op/scatter.cpp
  src/frontends/pytorch/src/transforms.cpp
  src/frontends/pytorch/src/transforms.hpp
  src/frontends/pytorch/src/transforms/aten_index_put_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_index_replacer.cpp
  src/frontends/pytorch/src/transforms/dict_resolver.cpp
  src/frontends/pytorch/src/transforms/prim_list_unpack_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_unpack_parameter_replacer.cpp
  src/frontends/pytorch/src/transforms/remove_packing_ops.cpp
  src/frontends/pytorch/src/transforms/softmax_reshape_elimination.cpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/utils.cpp
  tests/layer_tests/pytorch_tests/test_dict.py
Labels: category: PyTorch FE

#23891 [DOCS] Remove pre-release note
  docs/dev/pypi_publish/pre-release-note.md
  docs/dev/pypi_publish/pypi-openvino-dev.md
  docs/dev/pypi_publish/pypi-openvino-rt.md
Labels: category: docs

#23889 Bump GHA refs to releases/2024/1
  .github/workflows/coverity.yml
  .github/workflows/linux.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/linux_sanitizers.yml
  .github/workflows/windows.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#23480 [TF FE] Increased HF nightly scope.
  tests/model_hub_tests/tensorflow/model_lists/nightly_hf
Labels: category: TF FE

#23896 [DOCS] Typo fix in Conversion Parameters article for 2024.1
  docs/articles_en/openvino-workflow/model-preparation/conversion-parameters.rst
Labels: category: docs

#23884 [DOCS] Typo fix in Conversion Parameters article for 2024
  docs/articles_en/openvino-workflow/model-preparation/conversion-parameters.rst
Labels: category: docs

#23893 [TF FE] Recommend openvino-tokenizers for some operations in case failed conversion
  src/frontends/tensorflow/docs/check_supported_ops.py
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow/src/op_table.hpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_string_lower.py
Labels: category: docs, category: TF FE

#23890 Update OV version to 2024.2 on master
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/core/include/openvino/core/version.hpp
Labels: category: Core, category: build, category: CPP API, category: packaging

#23894 [GHA] Cleanup ccache shares
  .github/workflows/cleanup_caches.yml
  .github/workflows/linux_riscv.yml
Labels: category: CI, github_actions

#23864 [DOCS] Typo fix in Conversion Parameters article for master
  docs/articles_en/openvino-workflow/model-preparation/conversion-parameters.rst
Labels: category: docs

#23835 Move driver version to backend and create getDriverExtVersion method
  src/plugins/intel_npu/src/al/include/npu.hpp
  src/plugins/intel_npu/src/al/src/npu.cpp
  src/plugins/intel_npu/src/backend/include/zero_backend.hpp
  src/plugins/intel_npu/src/backend/include/zero_device.hpp
  src/plugins/intel_npu/src/backend/include/zero_init.hpp
  src/plugins/intel_npu/src/backend/src/zero_backend.cpp
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
  src/plugins/intel_npu/src/backend/src/zero_init.cpp
  src/plugins/intel_npu/src/plugin/include/backends.hpp
  src/plugins/intel_npu/src/plugin/include/metrics.hpp
  src/plugins/intel_npu/src/plugin/src/backends.cpp
  src/plugins/intel_npu/src/plugin/src/metrics.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#23897 Recommend to set LD_LIBRARY_PATH to point to conda libraries
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
Labels: category: docs

#23906 [DOCS] Recommend to set LD_LIBRARY_PATH to point to conda libraries porting to 2024.1
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
Labels: category: docs

#23888 [GPU] Enable dynamic int4 FC testing on dGPU
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#23749 [DOCS] Tokenizer article
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
  docs/articles_en/learn-openvino/llm_inference_guide/ov-tokenizers.rst
  docs/sphinx_setup/_static/images/tokenization.svg
Labels: category: docs

#23900 [GHA] Place values correctly in queries in metrics script
  .github/scripts/collect_github_metrics.py
  .github/workflows/send_workflows_to_opentelemetry.yml
Labels: category: CI, github_actions

#23907 [GHA] Risc-V pipeline ccache fixes
  .github/workflows/cleanup_caches.yml
  .github/workflows/linux_riscv.yml
Labels: category: CI, github_actions

#23919 Add links to NPU plugin in OpenVINO docs
  CONTRIBUTING.md
  README.md
  src/plugins/README.md
Labels: category: docs

#23141 [CPU] [ARM64] jit swish
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm

#23914 [Tmpl test] Correct abs_threshold setting
  src/plugins/template/tests/functional/op_reference/base_reference_test.cpp
Labels: category: TEMPLATE

#23898 [PT FE] Resolve issue with If test
  src/frontends/pytorch/include/openvino/frontend/pytorch/node_context.hpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/op/if.cpp
  src/frontends/pytorch/src/translate_session.cpp
  tests/layer_tests/pytorch_tests/test_convnd.py
Labels: category: CPP API, category: PyTorch FE

#23747 [OV JS] Add more InferRequest tests and validation
  src/bindings/js/node/CMakeLists.txt
  src/bindings/js/node/include/helper.hpp
  src/bindings/js/node/include/type_validation.hpp
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/src/infer_request.cpp
  src/bindings/js/node/src/type_validation.cpp
  src/bindings/js/node/tests/infer_request.test.js
Labels: category: build, category: JS API

#23929 Add links to NPU plugin in OpenVINO docs
  CONTRIBUTING.md
  README.md
  src/plugins/README.md
Labels: category: docs

#23936 Fixed RISC-V build
  .github/workflows/android_arm64.yml
  .github/workflows/linux_riscv.yml
Labels: category: CI, github_actions

#23946 [TF FE] Support StringHashBucketFast operation
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/op_table.cpp
  tests/layer_tests/tensorflow_tests/test_tf_StringToHashBucketFast.py
Labels: category: docs, category: TF FE

#23870 [CI] [GHA] Introduce GPU job
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#23933 [DOCS] old fix for yolo article 23.3
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/convert_model_tutorials/Convert_YOLO_From_Tensorflow.rst
Labels: category: docs

#23937 [DOCS] old fix for yolo article 24.0
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-yolo.rst
Labels: category: docs

#23938 [DOCS] old fix for yolo article 24.0
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-yolo.rst
Labels: category: docs

#23861 [Tmpl test] Convert: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/conversion.hpp
  src/plugins/template/tests/functional/op_reference/convert.cpp
  src/plugins/template/tests/functional/op_reference/convert_like.cpp
Labels: category: TEMPLATE

#23939 [DOCS] old fix for yolo article master
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-yolo.rst
Labels: category: docs

#23921 [TF FE] Add layer test for Round operation
  tests/layer_tests/tensorflow_tests/test_tf_Round.py
Labels: ExternalPR, category: TF FE

#23959 [GHA] Possible workaround for the latest h5py issue on arm
  .github/workflows/linux_arm64.yml
Labels: category: CI, github_actions

#23958 Docs new home page for 2024 1 port
  docs/home.rst
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/css/homepage_style.css
  docs/sphinx_setup/_static/images/home_begin_tile_01.png
  docs/sphinx_setup/_static/images/home_begin_tile_02.png
  docs/sphinx_setup/_static/images/home_begin_tile_03.png
  docs/sphinx_setup/_static/images/home_begin_tile_04.png
  docs/sphinx_setup/_static/images/home_begin_tile_05.png
  docs/sphinx_setup/_static/images/home_begin_tile_06.png
  docs/sphinx_setup/_static/images/home_key_feature_01.png
  docs/sphinx_setup/_static/images/home_key_feature_02.png
  docs/sphinx_setup/_static/images/home_key_feature_03.png
  docs/sphinx_setup/_static/images/home_key_feature_04.png
  docs/sphinx_setup/_static/images/openvino-overview-diagram.jpg
  docs/sphinx_setup/_static/images/ov_homepage_diagram.png
  docs/sphinx_setup/_static/js/custom.js
Labels: category: docs

#23956 Docs new home page
  docs/home.rst
  docs/sphinx_setup/_static/css/homepage_style.css
Labels: category: docs

#23858 [GPU] fix scatter_update in case of mixed input with dynamic and static
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_update_kernel_ref.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/scatter_update_gpu_test.cpp
Labels: category: GPU

#23927 [GPU] Use 8 subgroup block read /write functions on dynamic model
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/softmax_gpu_bf.cl
Labels: category: GPU

#23397 [Spec]: Specification of ROIAlignRotated
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset14.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/detection/roi-align-rotated-14.rst
Labels: category: docs

#23957 Docs new home page for master port
  docs/home.rst
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/css/homepage_style.css
  docs/sphinx_setup/_static/images/home_begin_tile_01.png
  docs/sphinx_setup/_static/images/home_begin_tile_02.png
  docs/sphinx_setup/_static/images/home_begin_tile_03.png
  docs/sphinx_setup/_static/images/home_begin_tile_04.png
  docs/sphinx_setup/_static/images/home_begin_tile_05.png
  docs/sphinx_setup/_static/images/home_begin_tile_06.png
  docs/sphinx_setup/_static/images/home_key_feature_01.png
  docs/sphinx_setup/_static/images/home_key_feature_02.png
  docs/sphinx_setup/_static/images/home_key_feature_03.png
  docs/sphinx_setup/_static/images/home_key_feature_04.png
  docs/sphinx_setup/_static/images/openvino-overview-diagram.jpg
  docs/sphinx_setup/_static/images/ov_homepage_diagram.png
  docs/sphinx_setup/_static/js/custom.js
Labels: category: docs

#23925 [GPU] gemm issue on dgpu
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
Labels: category: GPU

#23928 [GPU] Change acceptable filter x size of convolution_bfyx_gemm_like kernel to avoid kernel build error and slower performance than ref kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_gemm_like_fp16.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_gemm_like.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/convolution.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#23769 [Tmpl test] Bucketize: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/bucketize.cpp
Labels: category: TEMPLATE

#23952 [DOCS] Fix highlighting issues in code blocks
  docs/sphinx_setup/conf.py
Labels: category: docs

#23972 (port #23959) [GHA] Possible workaround for the latest h5py issue on arm
  .github/workflows/linux_arm64.yml
Labels: category: CI, github_actions

#23918 [Tmpl test] DetectionOutput: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/detection_output.cpp
Labels: category: TEMPLATE

#23954 [FX] Remove unused code from FX decoder
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/compile.py
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/model_hub_tests/pytorch/torch_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: MO, category: Python API, category: PyTorch FE

#23966 [Tmpl test] FloorMod: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/floor_mod.cpp
Labels: category: TEMPLATE

#23796 [GPU] Disable predict_preallocation_shape for blocked format
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/shape_predictor.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/src/plugin/variable_state.cpp
  src/plugins/intel_gpu/src/runtime/shape_predictor.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/shape_predictor_test.cpp
Labels: category: GPU

#23895 [GPU] Return false when dynamic shape in check_allocatable() to aviod asstion by big upper bound
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
  src/plugins/intel_gpu/tests/functional/dynamic_tests/gpu_dyn_huge_input_range.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/softmax.cpp
Labels: category: GPU

#23622 [GPU] Add only necessary LOOP unroll params for jit constants
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_direct_10_12_16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_gemm_like.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.cpp
Labels: category: GPU

#23968 [Tmpl test] Elu: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/elu.cpp
Labels: category: TEMPLATE

#23996 [Tmpl test] Maximum: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/maximum.cpp
Labels: category: TEMPLATE

#23989 [JS API]::CMakeLists: Added ov_cpack_add_component
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/bindings/js/node/CMakeLists.txt
Labels: category: build, category: packaging, category: JS API

#24000 Docs carousel changing mode
  docs/sphinx_setup/_static/css/homepage_style.css
  docs/sphinx_setup/_static/js/custom.js
  docs/sphinx_setup/_static/js/graphs_ov_tf.js
  docs/sphinx_setup/conf.py
Labels: category: docs

#24004 Docs carousel upgrade for 2024 1
  docs/sphinx_setup/_static/css/homepage_style.css
  docs/sphinx_setup/_static/js/custom.js
  docs/sphinx_setup/_static/js/graphs_ov_tf.js
  docs/sphinx_setup/conf.py
Labels: category: docs

#23953 [core] Split autobroadcast_binop function to dedicated functions
  src/core/reference/include/openvino/reference/autobroadcast_binop.hpp
Labels: category: Core

#24001 Docs carousel upgrade for master PORT
  docs/sphinx_setup/_static/css/homepage_style.css
  docs/sphinx_setup/_static/js/custom.js
  docs/sphinx_setup/_static/js/graphs_ov_tf.js
Labels: category: docs

#24005 [TF FE] Remove MO legacy deps for TF FE layer tests
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/windows.yml
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_add.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_elu.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_maximum.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_minimum.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_multiply.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_relu.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_softmax.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_softplus.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_subtract.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_swish.py
  tests/layer_tests/tensorflow_tests/test_tf_Pooling.py
  tests/layer_tests/tensorflow_tests/test_tf_ReLU6.py
  tests/layer_tests/tensorflow_tests/test_tf_Resample_pattern_new.py
Labels: category: CI, category: TF FE, github_actions

#23987 [JS API]::CMakeLists: Added ov_cpack_add_component
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/bindings/js/node/CMakeLists.txt
Labels: category: build, category: packaging, category: JS API

#24012 [Python][Wheel] Added RISCV64 support for wheel setup
  src/bindings/python/wheel/setup.py
Labels: category: Python API, platform: risc-v

#23881 [TF FE]: Support MatrixInverse operation for TensorFlow
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/matrix_inverse.cpp
  tests/layer_tests/tensorflow_tests/test_tf_MatrixInverse.py
Labels: category: docs, ExternalPR, category: TF FE, category: TFL FE

#24009 [GPU] Only add reorder between MVN and Conv when MVN is default format
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
Labels: category: GPU

#23886 [GPU] Remove some unused code
  src/plugins/intel_gpu/include/intel_gpu/plugin/program_builder.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/ops/condition.cpp
  src/plugins/intel_gpu/src/plugin/ops/loop.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/program_builder.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/src/plugin/usm_host_tensor.cpp
Labels: category: GPU

#23967 [Tmpl test] Reshape: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/reshape.cpp
Labels: category: TEMPLATE

#23975 [Tmpl test] GenerateProposals: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/generate_proposals.cpp
Labels: category: TEMPLATE

#23977 [GPU] Implement primitive_node method to check runtime skippable
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/include/reorder_inst.h
  src/plugins/intel_gpu/src/graph/include/reshape_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#23648 Added get_versions method in NodeJS api with the basic test.
  src/bindings/js/node/include/core_wrap.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/tests/basic.test.js
Labels: ExternalPR, category: JS API

#23997 [Tmpl test] NonZero: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/nonzero.cpp
Labels: category: TEMPLATE

#23842 [Op] Add RMSNorm op core class
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/op/rms_norm.hpp
  src/core/shape_inference/include/rms_norm_shape_inference.hpp
  src/core/src/op/rms_norm.cpp
  src/core/tests/type_prop/rms_norm.cpp
  src/core/tests/visitors/op/rms_norm.cpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/rms_norm_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API, category: Opset

#23993 [Tmpl test] GRN: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/grn.cpp
Labels: category: TEMPLATE

#23960 [Opset] Initialization of OV Opset15
  docs/sphinx_setup/api/ie_python_api/api.rst
  src/bindings/python/src/openvino/runtime/opset15/__init__.py
  src/bindings/python/src/openvino/runtime/opset15/ops.py
  src/bindings/python/tests/test_transformations/test_pattern_ops.py
  src/core/include/openvino/opsets/opset.hpp
  src/core/include/openvino/opsets/opset15.hpp
  src/core/include/openvino/opsets/opset15_tbl.hpp
  src/core/src/opsets/opset.cpp
  src/core/tests/op.cpp
  src/core/tests/opset.cpp
  src/frontends/common/include/openvino/frontend/extension/op.hpp
  src/plugins/template/src/plugin.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: Python API, category: docs, category: TEMPLATE, category: extensions, category: CPP API

#23879 [PT FE] Support aten::aminmax for pytorch models
  src/frontends/pytorch/src/op/min_max.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_aminmax.py
Labels: category: PyTorch FE

#23860 [GPU] Add per operation precision check for query_model
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/src/plugin/common_utils.cpp
  src/plugins/intel_gpu/src/plugin/program_builder.cpp
Labels: category: GPU

#23962 [GHA] Freeze h5py version
  src/frontends/tensorflow/tests/requirements.txt
Labels: category: dependency_changes, category: TF FE

#23712 [PyOV] Add node name to autogenerated nodes by default
  src/bindings/python/src/openvino/runtime/opset13/ops.py
  src/bindings/python/src/openvino/runtime/utils/decorators.py
  src/bindings/python/src/openvino/runtime/utils/types.py
  src/bindings/python/tests/test_graph/test_affix_ops.py
Labels: category: Python API

#24031 [DOCS] Tokenizer article for 2024.1
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
  docs/articles_en/learn-openvino/llm_inference_guide/ov-tokenizers.rst
  docs/sphinx_setup/_static/images/tokenization.svg
Labels: category: docs

#23810 [core] Constant use element iterator
  src/core/dev_api/openvino/core/type/element_iterator.hpp
  src/core/include/openvino/op/constant.hpp
  src/core/src/op/constant.cpp
  src/core/src/runtime/itensor.cpp
  src/core/src/type/element_iterator.cpp
  src/core/tests/constant.cpp
  src/core/tests/nf4.cpp
  src/inference/src/dev/make_tensor.cpp
Labels: category: inference, category: Core, category: CPP API

#23848 [OV JS] Support add_extension method
  src/bindings/js/node/include/core_wrap.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/tests/core.test.js
Labels: category: JS API

#23991 [GPU] fix kernel new axis mode
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/strided_slice_ref.cl
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: GPU

#24010 [TF FE] Switch TF2 Keras layer tests to precommit mark
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/windows.yml
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_activation.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_activity_regularization.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_alpha_dropout.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_avg_pool_2D.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_batch_normalization.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_1d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_1d_transpose.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_2d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_2d_transpose.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_3d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_3d_transpose.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_lstm_2d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_cropping_1d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_cropping_2d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_cropping_3d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_dense.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_depthwiseconv2D.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_elu.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_embedding.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_gru.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_gru_cell.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_layer_normalization.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_lstm.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_maxpool2D.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_multiheadattention.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_rnn.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_roll.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_separableconv2d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_simplernn.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_spatialdropout1d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_spatialdropout2d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_spatialdropout3d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_stackedrnncells.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_text_vectorization.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_upsampling2d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_zeropadding2d.py
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_map_fn.py
Labels: category: CI, category: TF FE, github_actions

#23995 [Tmpl test] MaxPool: enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/max_pool.cpp
Labels: category: TEMPLATE

#24022 [Tmpl test] PriorBox(Clustered): enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/prior_box.cpp
  src/plugins/template/tests/functional/op_reference/prior_box_clustered.cpp
Labels: category: TEMPLATE

#24029 [tests] Fix build of extensions test for FEs if FEs disabled
  src/frontends/tests/frontend/shared/test_builtin_extensions/builtin_extensions.cpp
  src/inference/tests/functional/caching_test.cpp
  src/inference/tests/functional/ov_extension_test.cpp
Labels: category: inference, category: IE Tests

#23689 [CPU] fix gen_pattern::AttrAny::equal_to
  src/plugins/intel_cpu/src/utils/gen_pattern.hpp
Labels: bug, category: CPU

#23437 [CPU] Introduce empty undefined memory descriptor
  src/plugins/intel_cpu/src/cpu_memory.cpp
  src/plugins/intel_cpu/src/cpu_memory.h
  src/plugins/intel_cpu/src/cpu_shape.cpp
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/memory_desc/cpu_blocked_memory_desc.cpp
  src/plugins/intel_cpu/src/memory_desc/cpu_blocked_memory_desc.h
  src/plugins/intel_cpu/src/memory_desc/cpu_memory_desc.h
  src/plugins/intel_cpu/src/memory_desc/cpu_memory_desc_utils.cpp
  src/plugins/intel_cpu/src/memory_desc/cpu_memory_desc_utils.h
  src/plugins/intel_cpu/src/memory_desc/dnnl_blocked_memory_desc.cpp
  src/plugins/intel_cpu/src/memory_desc/dnnl_blocked_memory_desc.h
  src/plugins/intel_cpu/src/memory_desc/empty_memory_desc.h
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/src/nodes/common/arbitrary_order_desc_creator.cpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_convolution_primitive.cpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected.hpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected_primitive.cpp
  src/plugins/intel_cpu/src/nodes/executors/fullyconnected_implementations.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.h
  src/plugins/intel_cpu/src/nodes/memory.cpp
  src/plugins/intel_cpu/src/nodes/non_max_suppression.cpp
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/tests/unit/memory_desc/empty_memory_desc.cpp
Labels: category: CPU, Stale

#24035 [DOCS] Fix a typo
  docs/home.rst
Labels: category: docs

#23892 [CPU] JIT Emitters documentation
  src/plugins/intel_cpu/src/emitters/README.md
Labels: category: CPU, category: docs

#24025 [VISUALIZE_TREE] Skip visualizing symbols on static dimensions
  src/core/src/pass/visualize_tree.cpp
Labels: category: Core

#24047 [DOCS] Release Policy + torch.compile updates for 2024.1
  docs/articles_en/about-openvino.rst
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/about-openvino/release-notes-openvino/release-policy.rst
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-brew.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conan.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
  docs/articles_en/get-started/install-openvino/install-openvino-vcpkg.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/learn-openvino/openvino-samples/get-started-demos.rst
  docs/articles_en/openvino-workflow/torch-compile.rst
Labels: category: docs

#24050 [DOCS] Port typo fix
  docs/home.rst
Labels: category: docs

#22881 [DOCS] Release Policy + torch.compile updates for master
  docs/articles_en/about-openvino.rst
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/about-openvino/release-notes-openvino/release-policy.rst
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-brew.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conan.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
  docs/articles_en/get-started/install-openvino/install-openvino-vcpkg.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/learn-openvino/openvino-samples/get-started-demos.rst
  docs/articles_en/openvino-workflow/torch-compile.rst
Labels: category: docs, WIP

#24036 [GPU] Add shape check condition for need_output_update in SyncInferRequest::wait()
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/tests/functional/behavior/infer_request.cpp
Labels: category: GPU

#23905 Supported Ubuntu 24.04
  .github/workflows/android_arm64.yml
  cmake/packaging/debian.cmake
  install_build_dependencies.sh
  scripts/install_dependencies/install_openvino_dependencies.sh
  src/frontends/tensorflow_lite/src/graph_iterator_flatbuffer.hpp
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
  src/plugins/intel_npu/thirdparty/CMakeLists.txt
Labels: category: CPU, category: build, category: CI, category: dependency_changes, category: packaging, github_actions, category: TFL FE, no-match-files, category: NPU

#23874 [CPU] Avoid printing mbind errno message to stderr
  src/plugins/intel_cpu/src/cpu_memory.cpp
Labels: category: CPU

#23734 [GPU] Extend gemm to fuse unsqueeze layer
  src/plugins/intel_gpu/include/intel_gpu/op/gemm.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/gemm.hpp
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_base.h
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/gemm.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/indirect_gemm.cpp
  src/plugins/intel_gpu/src/plugin/transformations/unsqueeze_broadcast_reshape_matmul_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/unsqueeze_broadcast_reshape_matmul_fusion.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/unsqueeze_broadcast_reshape_matmul_fusion_test.cpp
Labels: category: GPU

#24063 DOCS-removeGNA-link-from-dev-doc 24.1
  src/plugins/README.md
Labels: category: docs

#24007 [GPU] Multi kernel gemm for TILE_K_NOT_DIVISIBLE and TILE_N_NOT_DIVISIBLE
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_tiled_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.h
Labels: category: GPU

#23911 Add check for squeeze input numbers
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/tests/common_optimizations/nop_elimination.cpp
Labels: category: transformations
