Repository openvinotoolkit/openvino, pull requests merged in 2024-07, with the labels that each got.

#25208 [SPDA][Spec] ScaledDotProductAttention spec alignments
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/scaled-dot-product-attention.rst
Labels: category: docs

#25229 [core] Fix Coverity issues in core
  src/core/include/openvino/core/model.hpp
  src/core/include/openvino/pass/pattern/op/label.hpp
  src/core/include/openvino/pass/pattern/op/pattern.hpp
  src/core/reference/include/openvino/reference/ctc_loss.hpp
  src/core/reference/include/openvino/reference/detection_output.hpp
  src/core/src/axis_vector.cpp
  src/core/src/constant_fold_utils.cpp
  src/core/src/graph_util.cpp
  src/core/src/opsets/opset.cpp
  src/core/src/pass/graph_rewrite.cpp
  src/core/src/pass/low_latency.cpp
  src/core/src/pass/make_stateful.cpp
  src/core/src/pass/sdpa_to_paged_attention.cpp
  src/core/src/pass/serialize.cpp
  src/core/src/pattern/op/pattern.cpp
  src/core/src/preprocess/preprocess_impls.cpp
  src/core/src/preprocess/preprocess_steps_impl.cpp
  src/core/src/runtime/itensor.cpp
  src/core/src/strides.cpp
  src/core/src/symbol.cpp
  src/core/src/tensor_util.cpp
  src/core/src/validation_util.cpp
  src/core/tests/graph_rewrite.cpp
Labels: category: Core, category: transformations, category: CPP API

#25213 [SDPA][Tests] ScaledDotProductAttention tests to cover attention mask input broadcast
  src/core/tests/type_prop/scaled_dot_product_attention.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/scaled_attn.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/scaled_dot_product_attention_shape_inference_test.cpp
  tests/layer_tests/pytorch_tests/test_scaled_dot_product_attention.py
Labels: category: Core, category: CPU, category: PyTorch FE

#25215 [GPU] Asr fixes
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/ops/loop.cpp
  src/plugins/intel_gpu/tests/unit/passes/test_module_fusing_reorder.cpp
Labels: category: GPU

#25282 Docs update benchmarks for 24 2
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
  docs/sphinx_setup/_static/benchmarks_files/OVMS-benchmark-data.csv
Labels: category: docs

#25275 [CPU] All smoke_roialign tests disabled
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#25301 [DOCS] Port Update benchmark files for 24 2
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.2-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
  docs/sphinx_setup/_static/benchmarks_files/OVMS-benchmark-data.csv
Labels: category: docs

#19721 [CPU] Add test case for precision fp16
  src/inference/dev_api/openvino/runtime/system_conf.hpp
  src/inference/src/system_conf.cpp
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/convolution.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/matmul.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/pooling.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/pooling.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/softmax.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/softmax.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/pooling.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/softmax.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/convolution.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/convolution_backprop_data.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/matmul.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/pooling.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/softmax.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/pad.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/concat_const_inplace.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/conv_sum_broadcast.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/fullyconnected_strided_inputs_outputs.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/inplace_edge.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/input_noreorder_eltwise_bf16.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/interaction.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/matmul_strided_inputs_outputs.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/remove_convert.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/utils/arm/filter_cpu_info.cpp
  src/plugins/intel_cpu/tests/functional/utils/cpu_test_utils.cpp
  src/plugins/intel_cpu/tests/functional/utils/cpu_test_utils.hpp
  src/plugins/intel_cpu/tests/functional/utils/filter_cpu_info.hpp
  src/plugins/intel_cpu/tests/functional/utils/x64/filter_cpu_info.cpp
Labels: category: inference, category: CPU

#25272 [OV JS] Fix hardcoded error msg
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/src/type_validation.cpp
  src/bindings/js/node/tests/basic.test.js
  src/bindings/js/node/tests/read_model.test.js
Labels: category: JS API

#25306 [DOCS] fixed footer file
  docs/sphinx_setup/_static/html/footer.html
Labels: category: docs

#24410 [Commit Slider] AC / e2e compatibility
  src/plugins/intel_cpu/tools/commit_slider/tests/commit_slider_test.py
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_manager.py
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_samples/AC_for_CI.json
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_samples/bm_output.json
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_samples/e2e_for_CI.json
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
Labels: category: CPU

#25302 [DOCS] tiny fix for benchmarks master
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/navbar-nav.html
  docs/sphinx_setup/_static/download/llm_models.csv
Labels: category: docs

#25291 [DOCS] Build speedup 2024.2
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/requirements.txt
Labels: category: docs, category: dependency_changes

#25064 [PT FE] Support setting types/shapes for nested structures
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/bindings/python/src/pyopenvino/frontend/input_model.cpp
  src/frontends/common/include/openvino/frontend/input_model.hpp
  src/frontends/common/src/input_model.cpp
  src/frontends/onnx/frontend/src/input_model.cpp
  src/frontends/onnx/frontend/src/input_model.hpp
  src/frontends/paddle/src/input_model.cpp
  src/frontends/paddle/src/input_model.hpp
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/input_model.cpp
  src/frontends/pytorch/src/input_model.hpp
  src/frontends/pytorch/src/place.cpp
  src/frontends/pytorch/src/place.hpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/input_model.hpp
  src/frontends/tensorflow_lite/src/input_model.cpp
  src/frontends/tensorflow_lite/src/input_model.hpp
  tests/layer_tests/ovc_python_api_tests/test_pytorch.py
  tools/ovc/openvino/tools/ovc/convert_impl.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pipeline.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: MO, category: Core, category: Python API, category: ONNX FE, category: PDPD FE, category: TF FE, category: CPP API, category: PyTorch FE, category: TFL FE

#24656 [GPU] Micro sdpa
  src/plugins/intel_gpu/include/intel_gpu/plugin/plugin.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/transformations_pipeline.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/device_info.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/kernel_args.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/generic_vector_ops.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/sdpa_utils.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/tile_ops.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/vec_typedefs.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_micro.cl
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.h
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/micro_utils.hpp
  src/plugins/intel_gpu/src/kernel_selector/primitive_db.cpp
  src/plugins/intel_gpu/src/kernel_selector/primitive_db.h
  src/plugins/intel_gpu/src/kernel_selector/primitive_db_gen.py
  src/plugins/intel_gpu/src/plugin/ops/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_wrapper.hpp
  src/plugins/intel_gpu/tests/common/subgraphs_builders.hpp
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: GPU, category: build, under_perf_check

#25307 [GPU] Fix SD1.5 2.1 dynamic failure.
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
Labels: category: GPU

#25308 [DOCS] tiny fix for benchmarks 24.2
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/openvino_sphinx_theme/openvino_sphinx_theme/templates/navbar-nav.html
  docs/sphinx_setup/_static/download/llm_models.csv
Labels: category: docs

#25125 [DOCS] GPU driver update for 24.2
  docs/dev/build_linux.md
  docs/dev/build_windows.md
Labels: category: docs

#25324 [GHA] Temporarily remove GPU tests from mandatory
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#25313 [DOCS] Fixed footer file no3
  docs/articles_en/about-openvino/additional-resources.rst
  docs/sphinx_setup/_static/html/footer.html
Labels: category: docs

#25303 [CI] [GHA] Use Dockerfiles for fedora and webassembly workflows
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/fedora_33/Dockerfile
  .github/dockerfiles/ov_build/webassembly/Dockerfile
  .github/workflows/fedora.yml
  .github/workflows/webassembly.yml
Labels: category: CI, github_actions, category: dockerfiles

#25321 [DOCS] port to 24 2
  docs/articles_en/about-openvino/additional-resources.rst
  docs/sphinx_setup/_static/html/footer.html
Labels: category: docs

#25230 [Snippets][Coverity] Fixed 139702 and 140933
  src/common/snippets/include/snippets/lowered/loop_manager.hpp
  src/common/snippets/src/lowered/loop_manager.cpp
  src/common/snippets/src/lowered/pass/validate_expanded_loops.cpp
Labels: category: CPU

#25319 [GPU] Serialize micro kernel settings
  src/plugins/intel_gpu/include/intel_gpu/graph/serialization/cl_kernel_data_serializer.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
  src/plugins/intel_gpu/src/kernel_selector/micro_utils.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU

#25338 [CI] [GHA] Port WASM & Fedora Dockerfile and workflows to 2024/2
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/fedora_33/Dockerfile
  .github/dockerfiles/ov_build/webassembly/Dockerfile
  .github/workflows/fedora.yml
  .github/workflows/webassembly.yml
Labels: category: CI, github_actions, category: dockerfiles

#25270 [GPU] Fuse more 'type conversion only' reorders
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/select.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/broadcast_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/generic_eltwise_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/select_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/broadcast/broadcast_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/broadcast/broadcast_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/select/select_kernel_ref.h
  src/plugins/intel_gpu/tests/unit/fusions/eltwise_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/gather_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/select_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/broadcast_gpu_test.cpp
Labels: category: GPU

#25160 [Python-API] Feature/add new overload for get result index
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/tests/test_runtime/test_model.py
Labels: category: Python API, ExternalPR

#24931 [Op] Extend CPU Plugin with `Col2Im` reference implementation
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/nodes/col2im.cpp
  src/plugins/intel_cpu/src/nodes/col2im.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/col2im.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/col2im.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/col2im.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/col2im.cpp
Labels: category: CPU

#25337 Revert "[GHA] Temporarily remove GPU tests from mandatory"
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#25281 [TRANSFORMATIONS][CPU][GPU] Backport RoPE related optimizations to OV 2024.2
  src/common/transformations/include/ov_ops/rotary_positional_embeddings.hpp
  src/common/transformations/include/transformations/common_optimizations/fuse_rotary_positional_embeddings.hpp
  src/common/transformations/include/transformations/utils/gen_pattern.hpp
  src/common/transformations/src/ov_ops/rotary_positional_embeddings.cpp
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/tests/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/nodes/rope.cpp
  src/plugins/intel_cpu/src/nodes/rope.h
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/rope.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/rope.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/causal_mask_preprocess_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/rope_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/rope_fusion.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/stateful_sdpa_fusion.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/causal_mask_preprocess.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/rotary_pos_emb.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/rotary_pos_emb.cpp
  src/plugins/intel_cpu/tests/unit/transformations/convert_to_rope.cpp
  src/plugins/intel_cpu/tests/unit/transformations/state_concat_sdpa.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/rope.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/rope.cpp
  src/plugins/intel_gpu/src/graph/include/rope_inst.h
  src/plugins/intel_gpu/src/graph/rope.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rope_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_selector.h
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/ops/rope.cpp
  src/plugins/intel_gpu/src/plugin/transformations/utils.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/rotary_pos_emb.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/rotary_pos_emb.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/rotary_pos_emb.hpp
  src/tests/functional/shared_test_classes/src/subgraph/rotary_pos_emb.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: transformations

#24864 [core] Check if model file exists on read model
  src/common/util/include/openvino/util/file_util.hpp
  src/core/tests/frontend/frontend_manager.cpp
  src/frontends/common/include/openvino/frontend/frontend.hpp
  src/frontends/common/src/frontend.cpp
  src/frontends/ir/src/frontend.cpp
  src/frontends/ir/tests/CMakeLists.txt
  src/frontends/ir/tests/frontend_test_basic.cpp
  src/frontends/onnx/frontend/src/frontend.cpp
  src/frontends/onnx/onnx_common/src/parser.cpp
  src/frontends/onnx/tests/load_from.cpp
  src/frontends/onnx/tests/tests_python/test_frontend_onnx.py
  src/frontends/paddle/src/frontend.cpp
  src/frontends/paddle/src/input_model.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/graph_iterator_meta.hpp
  src/frontends/tensorflow/src/graph_iterator_proto.hpp
  src/frontends/tensorflow/src/graph_iterator_proto_txt.hpp
  src/frontends/tensorflow/src/graph_iterator_saved_model.cpp
  src/frontends/tensorflow_lite/src/graph_iterator_flatbuffer.hpp
  src/frontends/tensorflow_lite/tests/convert_unsupported.cpp
  src/frontends/tests/frontend/shared/src/basic_api.cpp
  src/inference/tests/unit/core.cpp
  tests/layer_tests/mo_python_api_tests/test_mo_convert_pytorch.py
  tests/layer_tests/ovc_python_api_tests/test_pytorch.py
  tools/mo/unit_tests/moc_tf_fe/conversion_incorrect_models_test.py
Labels: category: inference, category: MO, category: Core, category: IE Tests, category: build, category: IR FE, category: ONNX FE, category: PDPD FE, category: TF FE, category: CPP API, category: TFL FE

#25195 [Snippets] Extract loop invariants
  src/common/snippets/include/snippets/lowered/loop_info.hpp
  src/common/snippets/include/snippets/lowered/loop_manager.hpp
  src/common/snippets/include/snippets/lowered/pass/extract_loop_invariants.hpp
  src/common/snippets/include/snippets/utils.hpp
  src/common/snippets/src/lowered/loop_info.cpp
  src/common/snippets/src/lowered/loop_manager.cpp
  src/common/snippets/src/lowered/pass/define_buffer_clusters.cpp
  src/common/snippets/src/lowered/pass/extract_loop_invariants.cpp
  src/common/snippets/src/lowered/pass/init_loops.cpp
  src/common/snippets/src/lowered/pass/load_movebroadcast_to_broadcastload.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/utils.cpp
  src/common/snippets/tests/include/lir_test_utils.hpp
  src/common/snippets/tests/src/lir_comparator.cpp
  src/common/snippets/tests/src/lir_test_utils.cpp
  src/common/snippets/tests/src/lowered/pass/extracted_loop_invariants.cpp
Labels: category: CPU

#25255 [Snippets] Disabled tokenization of MHA pattern with dynamic ops
  src/common/snippets/include/snippets/pass/tokenization.hpp
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/common/snippets/tests/include/utils.hpp
  src/common/snippets/tests/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/arm/snipptes_mark_skipped.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/fake_quantize_tokenization_test.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/snipptes_mark_skipped.cpp
Labels: bug, category: CPU

#25351 Docs footer update x4
  docs/sphinx_setup/_static/html/footer.html
Labels: category: docs

#25283 Update OpenVINO GenAI guide
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
Labels: category: docs

#25331 [DOCS] Fixes for user docs - master
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/compiled-model.rst
  docs/articles_en/documentation/openvino-extensibility/transformation-api.rst
  docs/articles_en/openvino-workflow/deployment-locally/local-distribution-libraries.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/filter-pruning.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/quantization-aware-training-tensorflow.rst
  docs/articles_en/openvino-workflow/model-optimization.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-tensorflow.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  docs/articles_en/openvino-workflow/torch-compile.rst
Labels: category: docs

#25332 [DOCS] Fixes for user docs - 24.2
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/compiled-model.rst
  docs/articles_en/documentation/openvino-extensibility/transformation-api.rst
  docs/articles_en/openvino-workflow/deployment-locally/local-distribution-libraries.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/filter-pruning.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/quantization-aware-training-tensorflow.rst
  docs/articles_en/openvino-workflow/model-optimization.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-tensorflow.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  docs/articles_en/openvino-workflow/torch-compile.rst
Labels: category: docs

#24070 [Reference] RandomUniform seed alignment
  src/bindings/python/src/openvino/runtime/opset8/ops.py
  src/core/include/openvino/op/random_uniform.hpp
  src/core/include/openvino/op/util/attr_types.hpp
  src/core/reference/include/openvino/reference/random_uniform.hpp
  src/core/reference/include/openvino/reference/utils/phillox_converter.hpp
  src/core/reference/include/openvino/reference/utils/phillox_generator.hpp
  src/core/reference/src/op/random_uniform.cpp
  src/core/reference/src/utils/phillox_converter.cpp
  src/core/reference/src/utils/phillox_generator.cpp
  src/core/src/op/random_uniform.cpp
  src/core/src/op/util/attr_types.cpp
  src/core/tests/visitors/op/random_uniform.cpp
  src/plugins/intel_cpu/src/nodes/random_uniform.cpp
  src/plugins/template/tests/functional/op_reference/random_uniform.cpp
Labels: category: Core, category: CPU, category: Python API, category: TEMPLATE, category: CPP API

#25148 [subgraph_dumper] Fix defines and fails with const range
  src/tests/functional/plugin/conformance/subgraphs_dumper/CMakeLists.txt
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/model.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/node.cpp
  src/tests/test_utils/functional_test_utils/layer_tests_summary/conformance_helper_tools/find_models_for_subgraphs_dumper.py
  src/tests/test_utils/functional_test_utils/layer_tests_summary/data/default_re_to_exclude_modes.lst
Labels: category: IE Tests, category: build

#25358 [DOCS] port for footer fix to master
  docs/sphinx_setup/_static/html/footer.html
Labels: category: docs

#25357 [Docs] footer fix
  docs/sphinx_setup/_static/html/footer.html
Labels: category: docs

#25108 Sanitizers will use RelWithDebInfo build type instead of Release
  .github/workflows/linux_sanitizers.yml
Labels: category: CI, github_actions

#25355 [GPU] Add CoreThreadingTest.smoke_QueryModel test to skip config
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: GPU

#25352 [GPU]optimize id() and get_kernel_name() by returning reference to const
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#24991 [GPU] Horizontal fusion for FC
  src/core/reference/src/op/concat.cpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/plugin/transformations/fc_horizontal_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/fc_horizontal_fusion.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/dynamic_fc_horizontal_fusion.cpp
  src/plugins/intel_gpu/tests/unit/transformations/horizontal_fc_fusion_test.cpp
Labels: category: Core, category: GPU

#25249 [GPU] Skip fc fake alignment when fused desc has full tensor input
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/tests/unit/fake_alignment/fc_fake_alignment_test.cpp
Labels: category: GPU

#25340 [GPU] Fix CVS-145082
  src/plugins/intel_gpu/include/intel_gpu/primitives/rope.hpp
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_base.h
  src/plugins/intel_gpu/src/plugin/transformations/op/sdpa.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU

#25356 [GPU][unittest]: Fixed mem leak in roi align rotated unittests.
  src/plugins/intel_gpu/tests/unit/test_cases/roi_align_rotated_gpu_test.cpp
Labels: category: GPU

#25365 [PT FE]: update layer norm for support non-static normalized shape
  src/frontends/pytorch/src/op/layer_norm.cpp
  tests/layer_tests/pytorch_tests/test_layer_norm.py
Labels: category: PyTorch FE

#25371 [DOCS] port sidebar menu arrows to master
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/js/custom.js
  docs/sphinx_setup/_static/js/open_sidebar.js
Labels: category: docs

#25304 [GPU] Convert multiple StridedSlices to single VariadicSplit after fused QKV FC
  src/plugins/intel_gpu/src/plugin/transformations/convert_stridedslices_to_variadicsplit.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_stridedslices_to_variadicsplit.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/unit/transformations/convert_stridedslices_to_variadicsplit_test.cpp
Labels: category: GPU

#25370 Docs Unify behavior of side menu arrows
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/js/custom.js
  docs/sphinx_setup/_static/js/open_sidebar.js
Labels: category: docs

#25279 Add unique models to precommit PA tests
  .github/workflows/job_pytorch_models_tests.yml
  tests/model_hub_tests/pytorch/models/hf-tiny-random-models-precommit
  tests/model_hub_tests/pytorch/requirements.txt
  tests/model_hub_tests/pytorch/test_pa_transformation.py
Labels: category: CI, category: dependency_changes, github_actions, category: PyTorch FE

#25311 [OV JS] Allow partial shape creation without parameter
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/partial_shape_wrap.cpp
  src/bindings/js/node/tests/partial_shape.test.js
Labels: category: JS API

#25285 [DOCS] Running inference comments
  docs/articles_en/assets/snippets/compile_model_npu.cpp
  docs/articles_en/assets/snippets/compile_model_npu.py
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application.rst
Labels: category: docs

#25347 Roll Linux X86 oneTBB back to 2021.2.4
  cmake/dependencies.cmake
Labels: category: build, Code Freeze

#25235 [Snippets] Implement runtime loop info serialization in netron graphs
  src/common/snippets/include/snippets/lowered/linear_ir_builder.hpp
  src/common/snippets/include/snippets/lowered/pass/serialize_control_flow.hpp
  src/common/snippets/src/lowered/linear_ir_builder.cpp
  src/common/snippets/src/lowered/pass/serialize_control_flow.cpp
Labels: category: CPU

#25379 [DOCS] Breadcrumbs alignment fix
  docs/sphinx_setup/_static/css/custom.css
Labels: category: docs

#25374 [GPU] Added more uses of const references
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/tensor.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/src/runtime/shape_predictor.cpp
Labels: category: GPU

#24143 [CPU] Fix RNN node isSupported check
  src/plugins/intel_cpu/src/nodes/rnn.cpp
Labels: category: CPU

#25380 [DOCS] PORT to master with Breadcrumbs fix
  docs/sphinx_setup/_static/css/custom.css
Labels: category: docs

#25376 [PT FE] Support aten::col2im
  src/frontends/pytorch/src/op/col2im.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_col2im.py
  tests/layer_tests/pytorch_tests/test_im2col.py
  tests/model_hub_tests/pytorch/timm_models
Labels: category: PyTorch FE

#25383 [GHA] Fixed tokenizers build
  .github/workflows/job_tokenizers.yml
Labels: category: CI, github_actions

#25150 Stateful to Stateless Transformation for LLMs
  .github/workflows/job_pytorch_models_tests.yml
  src/bindings/python/src/openvino/_offline_transformations/__init__.py
  src/bindings/python/src/pyopenvino/core/offline_transformations.cpp
  src/core/include/openvino/pass/stateful_to_stateless.hpp
  src/core/src/pass/stateful_to_stateless.cpp
  tests/model_hub_tests/pytorch/models/tiny-set-stateful-models-precommit
  tests/model_hub_tests/pytorch/test_stateful_to_stateless_transformation.py
Labels: category: Core, category: Python API, category: transformations, pr: needs tests, category: CI, category: CPP API, github_actions, category: PyTorch FE

#25381 [GPU] Add TensorOffset support key in adaptive pooling ref kernel
  src/plugins/intel_gpu/src/kernel_selector/kernels/adaptive_pooling/adaptive_pooling_kernel_ref.cpp
Labels: category: GPU

#25224 [HETERO] Support splitting new graph pattern for pipeline parallel and correct the number of submodels
  src/inference/src/dev/iplugin.cpp
  src/inference/tests/unit/query_model_test.cpp
  src/plugins/hetero/src/compiled_model.cpp
  src/plugins/hetero/src/plugin.cpp
  src/plugins/hetero/src/plugin.hpp
Labels: category: inference, category: HETERO

#24726 [AUTO] Disable CPU model cache for fallback
  src/plugins/auto/src/auto_schedule.cpp
  src/plugins/auto/tests/unit/startup_fallback_property_test.cpp
Labels: category: AUTO

#25350 [core] Fix Coverity issues in common CC and util
  src/common/conditional_compilation/include/openvino/cc/factory.h
  src/common/util/src/common_util.cpp
  src/common/util/src/file_util.cpp
Labels: category: Core

#25345 [GPU]Fix layout count comparison by using actual byte value in realloc_if_needed
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/memory_realloc_test.cpp
Labels: category: GPU

#25242 [GPU] Use onednn reorder for byxf format
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#25377 [GPU] fixed to update dispatchData.blockWidth instead of jit constant
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16_1x1.cpp
Labels: category: GPU

#25344 [CPU] Disable avx2 asymmetric dynamic quantization
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected_primitive.cpp
Labels: category: CPU

#25391 [LayerTests] Added handling of a boolean results
  tests/layer_tests/common/layer_test_class.py
Labels: no-match-files

#25395 Revert "[GPU] update shape for fused prims (#25363)"
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#25227 Added wstring support to save_model.
  src/core/include/openvino/core/graph_util.hpp
  src/core/src/graph_util.cpp
  src/core/src/pass/serialize.cpp
  tests/layer_tests/ovc_python_api_tests/test_onnx.py
  tests/layer_tests/ovc_python_api_tests/test_paddle.py
  tests/layer_tests/ovc_python_api_tests/test_tf.py
Labels: category: MO, category: Core, category: CPP API

#25060 [GPU] Enable runtime buffer fusing for crop
  src/plugins/intel_gpu/src/graph/crop.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.h
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/reshape_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Labels: category: GPU

#25328 [core] Improve Constant bf16 -> f16, f32 casting performance
  src/core/reference/include/openvino/reference/convert.hpp
  src/core/reference/src/op/convert.cpp
  src/core/reference/src/op/jit_generator.cpp
  src/plugins/template/tests/functional/op_reference/convert_like.cpp
Labels: category: Core, category: TEMPLATE

#25212 [CPU][ARM] Fix Reduce NHWC conversion
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_reduce.hpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_utils.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/arm/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/reduce.cpp
Labels: category: CPU, platform: arm

#25221 [GoodFirstIssue][OP CONFORMANCE][TEMPLATE] Added u64 support for the indices of Gather
  src/plugins/template/backend/ops/gather.cpp
Labels: ExternalPR, category: TEMPLATE

#25151 Fixed behavior of a seed interpretation when it is float
  src/frontends/common/src/random_normal_helper.cpp
  src/frontends/onnx/frontend/src/op/multinomial.cpp
  src/frontends/onnx/frontend/src/op/random_uniform.cpp
  src/frontends/onnx/frontend/src/op/random_uniform_like.cpp
  src/frontends/onnx/frontend/src/utils/common.hpp
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/tests_python/test_ops_random.py
Labels: category: Core, category: ONNX FE

#25315 [Inference] Resolve static analysis issues
  src/inference/src/dev/threading/cpu_streams_executor.cpp
Labels: category: inference

#25401 [GPU] Reduce the number of set_arguments() and update_impl() calls
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU, Code Freeze

#25419 [GPU] Stable Diffusion failure using sdpa_kernel_opt.
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_opt.cpp
Labels: category: GPU, Code Freeze

#25248 [core] Improve speed of Constant::cast_vector for f16, bf16 -> f32
  src/core/include/openvino/op/constant.hpp
  src/core/src/op/constant.cpp
Labels: category: Core, category: CPP API

#25408 [DOCS] Remove outdated content
  docs/articles_en/assets/images/quantized_convolution.png
  docs/articles_en/assets/images/quantized_model_example.png
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/advanced-guides/quantized-models.rst
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/advanced-guides/quantized-models/low-precision-model-representation.rst
Labels: category: docs

#25430 Port Update OpenVINO GenAI guide
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
Labels: category: docs

#25428 [DOCS] minor tweaks in model conversion port 24.2
  docs/articles_en/openvino-workflow/model-preparation.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-to-ir.rst
Labels: category: docs

#25409 [DOCS] minor tweaks in model conversion
  docs/articles_en/openvino-workflow/model-preparation.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-to-ir.rst
Labels: category: docs

#25426 [TF] Layer tests has a GPU mismatch
  tests/layer_tests/tensorflow_tests/test_tf_ApproximateEqual.py
  tests/layer_tests/tensorflow_tests/test_tf_BinaryOps.py
Labels: category: TF FE

#25394 [Core] Resolve static analysis issues
  src/core/shape_inference/include/convolution_shape_inference_util.hpp
  src/core/shape_inference/include/deformable_convolution_shape_inference.hpp
  src/core/shape_inference/include/extract_image_patches_shape_inference.hpp
Labels: category: Core

#25427 Docs revert column visibility in datatable to 24 2
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/sphinx_setup/_static/css/jquery.dataTables.min.css
  docs/sphinx_setup/_static/css/openVinoDataTables.css
  docs/sphinx_setup/_static/download/llm_models.csv
  docs/sphinx_setup/_static/js/jquery.dataTables.min.js
  docs/sphinx_setup/_static/js/openVinoDataTables.js
  docs/sphinx_setup/_templates/layout.html
Labels: category: docs

#25433 [DOCS] Port DX changes
  docs/articles_en/assets/snippets/compile_model_npu.cpp
  docs/articles_en/assets/snippets/compile_model_npu.py
  docs/articles_en/openvino-workflow/running-inference.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/auto-device-selection.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device/performance-hint-and-thread-scheduling.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

#25296 [GPU] Reinterpret from 1 dim mem to 0 dim mem instead of allocating 0 bytes layout to OpenCL
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/loop_gpu_test.cpp
Labels: category: GPU, Code Freeze

#25442 [DOCS] Removing Ubuntu 24.04 from 24.2
  docs/articles_en/get-started/configurations/configurations-intel-gpu.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
  docs/articles_en/openvino-workflow/deployment-locally.rst
Labels: category: docs

#25154 NPU: Updates to the "W" extension
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/config.hpp
  src/plugins/intel_npu/src/plugin/npuw/accuracy/comparator.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/logging.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/graph.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/group.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/utils/utils.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/avoid.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
Labels: category: NPU

#25439 [DOCS] Update deployment with Conda Forge
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
Labels: category: docs

#25432 [GPU] Fix for micro SDPA to avoid page fault
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_micro.cl
Labels: category: GPU, Code Freeze

#25159 [IR] Changed RT Info nodes naming (compatible with an old)
  src/core/src/pass/serialize.cpp
  src/core/tests/pass/serialization/rt_info_serialization.cpp
  src/frontends/ir/src/ir_deserializer.cpp
  src/frontends/ir/tests/rt_info_deserialization.cpp
  tools/mo/openvino/tools/mo/utils/ir_engine/ir_engine.py
Labels: category: MO, category: Core, category: IR FE

#25437 [DOCS] Adding Ubuntu 24.04 for master
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
  docs/articles_en/get-started/install-openvino.rst
Labels: category: docs

#25339 [PT FE] Convert all modules with parameters and buffers in patching
  src/bindings/python/src/openvino/frontend/pytorch/patch_model.py
Labels: category: Python API, category: PyTorch FE

#25438 [GPU] Fix resample type infer
  src/plugins/intel_gpu/src/graph/resample.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/resample_si_test.cpp
Labels: category: GPU

#25444 [DOCS] tweaks in footer and menu
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/_static/html/footer.html
Labels: category: docs

#25403 [CORE] [GPU] nan to inf bug repro test
  src/bindings/python/tests/test_graph/test_constant.py
Labels: category: Python API

#25258 [JS OV] Add Core.importModel()
  src/bindings/js/node/include/core_wrap.hpp
  src/bindings/js/node/include/helper.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/tests/basic.test.js
Labels: category: JS API

#25417 [GPU] GroupNormalization opt kernels
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/group_normalization.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/group_normalization.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/group_normalization_gpu_b_fs_yx_fsv16.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/group_normalization_gpu_bfyx_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_b_fs_yx_fsv16.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_bfyx_opt.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_selector.cpp
  src/plugins/intel_gpu/src/plugin/transformations/group_norm_composition.cpp
  src/plugins/intel_gpu/src/plugin/transformations/group_norm_composition.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/group_normalization_gpu_test.cpp
Labels: category: GPU, Code Freeze

#25447 [NPUW] Change sorting order in online partitioning
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
Labels: category: NPU

#25410 [GPU] update shape when current node is the fused prim of user and it…
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU, Code Freeze

#25152 [GPU] Add fusing false condition for fs_b_yx_fsv32_network at eltwise and quantize pattern
  src/plugins/intel_gpu/src/graph/graph_optimizer/fuse_primitives_with_layout.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/tests/unit/passes/fuse_primitives_with_layout.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/quantize_gpu_test.cpp
Labels: category: GPU

#25128 [GPU] int4 scalar zp support
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/plugin/ops/fully_connected.cpp
  src/plugins/intel_gpu/tests/unit/fusions/fully_connected_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU, Code Freeze

#25310 [NPUW] Properties for npuw::CompiledModel are split to private and public
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#25309 [NPUW] Fix distribution statistics
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
Labels: category: NPU

#25390 [OV JS] Add readModel(model:str, weights: Tensor) sync&async
  src/bindings/js/node/include/helper.hpp
  src/bindings/js/node/include/model_wrap.hpp
  src/bindings/js/node/include/read_model_args.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/async_reader.cpp
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/src/model_wrap.cpp
  src/bindings/js/node/tests/read_model.test.js
Labels: category: JS API

#25440 [OP][Spec] Update ScatterNDUpdate-15 duplicated indices behavior
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/scatter-nd-update-15.rst
Labels: category: docs, category: Opset

#23582 [CPU] Add `MaxPool-14` and `AvgPool-14`
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/src/transformations/op_conversions/convert_avgpool_downgrade.cpp
  src/common/transformations/src/transformations/op_conversions/convert_maxpool_downgrade.cpp
  src/common/transformations/tests/op_conversions/convert_maxpool_downgrade_test.cpp
  src/core/src/pass/serialize.cpp
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/nodes/pooling.cpp
  src/plugins/intel_cpu/src/nodes/pooling.h
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/snippets_mark_skipped.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/pooling.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/pooling.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/pooling.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/pooling.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/avg_pool_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/max_pool_shape_inference_test.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/utils/ranges.hpp
Labels: category: Core, category: IE Tests, category: CPU, category: transformations, Code Freeze, no_stale

#25436 [CPU] Avoid Reorder->Reshape->Transpose fusion in case of non optimized Reorder
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/graph_optimizer.h
  src/plugins/intel_cpu/src/nodes/reorder.cpp
  src/plugins/intel_cpu/tests/unit/graph/merge_transpose_reorder_test.cpp
Labels: bug, category: CPU, Code Freeze

#25375 [COVERITY] Fix RandomUniform coverity issues
  src/core/reference/include/openvino/reference/utils/phillox_converter.hpp
  src/core/reference/src/op/random_uniform.cpp
  src/core/reference/src/utils/phillox_converter.cpp
Labels: category: Core

#24723 [GPU] Add NMS_Gather ops
  src/plugins/intel_gpu/include/intel_gpu/primitives/non_max_suppression.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/register.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/register.hpp
  src/plugins/intel_gpu/src/graph/include/non_max_suppression_inst.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/plugin/ops/non_max_suppression.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/non_max_suppression_test.cpp
Labels: category: GPU

#25452 [GPU] fixed onednn_concat to save and load primitive_impl's info when it has no _prim
  src/plugins/intel_gpu/include/intel_gpu/primitives/fully_connected.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
Labels: category: GPU, Code Freeze

#25276 [ONNX] Added support of FP8
  src/frontends/onnx/frontend/src/core/tensor.cpp
  src/frontends/onnx/frontend/src/core/tensor.hpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/onnx_common/src/utils.cpp
  src/frontends/onnx/tests/models/float8e4m3fn_constant.prototxt
  src/frontends/onnx/tests/models/float8e4m3fn_input.prototxt
  src/frontends/onnx/tests/models/float8e5m2_constant.prototxt
  src/frontends/onnx/tests/models/float8e5m2_input.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/runtime.py
  src/tests/test_utils/common_test_utils/src/data_utils.cpp
  src/tests/test_utils/common_test_utils/src/test_case.cpp
Labels: category: IE Tests, category: ONNX FE

#25469 [DOCS] fix wording around 500 models port24
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
Labels: category: docs

#25333 [core] Constant `vector_cast` validation data is optional (default disabled)
  src/core/include/openvino/op/constant.hpp
  src/core/src/op/constant.cpp
Labels: category: Core, priority: high, category: CPP API, Code Freeze

#24272 [Op][CPU] ScatterNDUpdate-15 CPU-Plugin implementation
  src/plugins/intel_cpu/src/nodes/scatter_update.cpp
  src/plugins/intel_cpu/src/nodes/scatter_update.h
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/scatter_ND_update.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/scatter_nd_update.cpp
  src/plugins/template/tests/functional/op_reference/scatter_nd_update.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/scatter_ND_update.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/scatter_ND_update.hpp
  src/tests/functional/shared_test_classes/src/single_op/scatter_ND_update.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: TEMPLATE, Code Freeze, category: Opset

#25468 [DOCS] fix wording around 500 models
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
Labels: category: docs

#25386 [GPU] Skipping reorder with spatial 1x1
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/layout_test.cpp
Labels: category: GPU, priority: high, Code Freeze

#25457 [GPU] Fix coverity issues.
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_base.h
Labels: category: GPU, priority: high, Code Freeze

#25445 [REFACTOR] Refactor to match correct naming of Philox Algorithm
  src/core/include/openvino/op/multinomial.hpp
  src/core/include/openvino/op/random_uniform.hpp
  src/core/include/openvino/op/util/attr_types.hpp
  src/core/reference/include/openvino/reference/multinomial.hpp
  src/core/reference/include/openvino/reference/random_uniform.hpp
  src/core/reference/include/openvino/reference/utils/phillox_converter.hpp
  src/core/reference/include/openvino/reference/utils/philox_converter.hpp
  src/core/reference/include/openvino/reference/utils/philox_generator.hpp
  src/core/reference/src/op/random_uniform.cpp
  src/core/reference/src/utils/philox_converter.cpp
  src/core/reference/src/utils/philox_generator.cpp
  src/core/src/op/random_uniform.cpp
  src/core/src/op/util/attr_types.cpp
  src/core/tests/visitors/op/random_uniform.cpp
  src/plugins/intel_cpu/src/nodes/random_uniform.cpp
  src/plugins/template/tests/functional/op_reference/random_uniform.cpp
Labels: category: Core, category: CPU, category: TEMPLATE, category: CPP API

#25465 Updated filename for HF dependency check
  docs/dev/ov_dependencies.txt
Labels: category: docs

#25366 [GPU] fix faster_rcnn with dynamic shapes
  src/plugins/intel_gpu/src/graph/experimental_detectron_roi_feature_extractor.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU, priority: high, Code Freeze

#25448 [DOC][CC] Only IR model is supported by CC for now, other model format need to convert to IR first for enabling CC
  docs/dev/conditional_compilation.md
Labels: category: docs, Code Freeze

#25362 Deprecate v0::LSTMSequence
  src/bindings/python/src/openvino/runtime/opset1/ops.py
  src/core/include/openvino/op/lstm_sequence.hpp
  src/core/include/openvino/opsets/opset1.hpp
  src/core/include/openvino/opsets/opset2.hpp
  src/core/include/openvino/opsets/opset3.hpp
  src/core/shape_inference/include/lstm_sequence_shape_inference.hpp
  src/core/src/op/lstm_sequence.cpp
  src/core/src/opsets/opset.cpp
  src/core/src/pass/low_latency.cpp
  src/core/tests/type_prop/lstm_sequence.cpp
  src/core/tests/type_prop/rnn_seq_base.cpp
  src/core/tests/visitors/op/lstm_sequence.cpp
  src/frontends/onnx/frontend/src/op/lstm.cpp
  src/plugins/template/backend/evaluates_map.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/ops/sequences.cpp
  src/tests/functional/shared_test_classes/src/base/utils/compare_results.cpp
Labels: category: Core, category: IE Tests, category: Python API, category: TEMPLATE, category: ONNX FE, category: CPP API, Code Freeze

#25472 [DOCS] Deprecation Note for Multi for 24.2
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/articles_en/assets/snippets/compile_model_cpu.cpp
  docs/articles_en/assets/snippets/compile_model_cpu.py
  docs/articles_en/assets/snippets/compile_model_gpu.cpp
  docs/articles_en/assets/snippets/compile_model_gpu.py
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/documentation/legacy-features/multi-device.rst
  docs/articles_en/get-started.rst
  docs/articles_en/openvino-workflow/deployment-locally.rst
  docs/articles_en/openvino-workflow/deployment-locally/local-distribution-libraries.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/auto-device-selection.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/query-device-properties.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-throughput.rst
Labels: category: docs

#25462 [DOCS] Deprecation Note for Multi for master
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/articles_en/assets/snippets/compile_model_cpu.cpp
  docs/articles_en/assets/snippets/compile_model_cpu.py
  docs/articles_en/assets/snippets/compile_model_gpu.cpp
  docs/articles_en/assets/snippets/compile_model_gpu.py
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/documentation/legacy-features/multi-device.rst
  docs/articles_en/get-started.rst
  docs/articles_en/openvino-workflow/deployment-locally.rst
  docs/articles_en/openvino-workflow/deployment-locally/local-distribution-libraries.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/auto-device-selection.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/query-device-properties.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-throughput.rst
Labels: category: docs

#24773 TorchFX Dynamic Shapes Additional Support
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/op_support.py
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/src/op/arange.cpp
  src/frontends/pytorch/src/op/expand.cpp
  src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op/reshape.cpp
  src/frontends/pytorch/src/op/slice.cpp
  src/frontends/pytorch/src/op/slice_scatter.cpp
  src/frontends/pytorch/src/op/split.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/pytorch_tests/test_expand.py
Labels: category: Python API, category: CPP API, category: PyTorch FE, Code Freeze

#25454 [GPU] Minor fixes for regression from runtime buffer fusing for crop
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
Labels: category: GPU

#25421 [Coverity] Fix AUTO plugin issues
  src/plugins/auto/src/auto_compiled_model.cpp
  src/plugins/auto/src/auto_schedule.cpp
  src/plugins/auto/src/cumulative_schedule.cpp
Labels: category: AUTO

#25476 [GPU] Minor fix for missing or wrong debug info for memalloc
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#25456 [GHA] Update dependecies
  .github/actions/cache/package-lock.json
Labels: category: CI

#25467 Align the behavior of CEIL_TORCH workaround subgraph with previous PT FE implementation
  src/common/transformations/src/transformations/op_conversions/convert_maxpool_downgrade.cpp
  src/common/transformations/tests/op_conversions/convert_maxpool_downgrade_test.cpp
Labels: category: transformations

#24231 [GPU] Use output buffer as intermediate buffer in softmax_gpu_bf kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/softmax_gpu_bf.cl
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/softmax.cpp
Labels: category: GPU

#25464 [NPU] Update tools
  src/plugins/intel_npu/tools/compile_tool/main.cpp
  src/plugins/intel_npu/tools/single-image-test/main.cpp
Labels: category: NPU

#25481 [DOCS] Add LLM output
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
Labels: category: docs

#25475 [OV JS] Add note about usage in development of Electron applications
  src/bindings/js/node/README.md
Labels: category: docs, category: JS API

#25482 [DOCS] Fix API items in menu
  docs/sphinx_setup/api/api_reference.rst
Labels: category: docs

#25458 [COVERITY] Fix COPY_INSTEAD_OF_MOVE in core
  src/core/include/openvino/pass/pattern/op/pattern.hpp
  src/core/shape_inference/include/convolution_backprop_shape_inference.hpp
  src/core/shape_inference/include/reverse_sequence_shape_inference.hpp
  src/core/src/graph_util.cpp
  src/core/src/node.cpp
  src/core/src/opsets/opset.cpp
  src/core/src/partial_shape.cpp
  src/core/src/pass/stateful_to_stateless.cpp
  src/core/src/rt_info.cpp
Labels: category: Core, category: transformations, category: CPP API

#25488 [Op][Spec] Squeeze - additional notes for behavior clarification
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/shape/squeeze-1.rst
Labels: category: docs

#25489 [DOCS] Minor fixes for docs
  docs/articles_en/about-openvino.rst
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/dev/index.md
Labels: category: docs

#25490 [DOCS] Minor fixes for docs - for 2024.2
  docs/articles_en/about-openvino.rst
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/dev/index.md
Labels: category: docs

#25450 [build] Fix ENABLE_FASTER_BUILD build in core and snippets
  src/common/snippets/tests/src/lowered/pass/loop.cpp
  src/common/snippets/tests/src/pass/gn_decomposition.cpp
  src/common/snippets/tests/src/pass/gn_tokenization.cpp
  src/common/snippets/tests/src/pass/softmax_decomposition.cpp
  src/core/dev_api/openvino/core/type/float_util.hpp
  src/core/src/op/constant.cpp
  src/core/src/type/float4_e2m1.cpp
  src/core/src/type/float8_e4m3.cpp
  src/core/src/type/float8_e8m0.cpp
Labels: category: Core, category: CPU

#25487 [CPU] Revert "[CPU] Round towards zero for ReduceMean (#25217)"
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/reduce.cpp
Labels: bug, category: CPU, Code Freeze

#25486 [GPU] Fix micro sdpa with head size 256
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/tile_ops.cl
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/scaled_dot_product_attention.cpp
Labels: category: GPU, Code Freeze
