Repository openvinotoolkit/openvino, pull requests merged in 2024-01, with the labels that each got.

#21890 [CPU] fix gen_pattern::AttrAny::equal_to
  src/plugins/intel_cpu/src/utils/gen_pattern.hpp
Labels: category: CPU

#21920 [TF Hub] Mark up tests failing with error "No signature found"
  tests/model_hub_tests/tf_hub_tests/nightly_models
Labels: category: TF FE

#21904 missing 'return' and "libva" is available in the mingw(windows) environment.
  src/inference/include/openvino/runtime/intel_gpu/ocl/dx.hpp
  src/inference/include/openvino/runtime/intel_gpu/ocl/va.hpp
Labels: category: inference, category: CPP API

#21832 [CPU]Fix shape mismatch after model reshape with range dim.
  src/plugins/intel_cpu/docs/debug_capabilities/graph_serialization.md
  src/plugins/intel_cpu/src/graph_dumper.cpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/conv_sum_broadcast.cpp
Labels: category: CPU, category: docs

#21903 [ONNX] Frontend refactoring
  .github/workflows/linux.yml
  src/frontends/onnx/frontend/src/core/attribute.cpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/core/model.cpp
  src/frontends/onnx/frontend/src/core/tensor.hpp
  src/frontends/onnx/frontend/src/core/transform.cpp
  src/frontends/onnx/frontend/src/core/value_info.hpp
  src/frontends/onnx/frontend/src/editor.cpp
  src/frontends/onnx/frontend/src/frontend.cpp
  src/frontends/onnx/frontend/src/input_model.cpp
  src/frontends/onnx/frontend/src/onnx.cpp
  src/frontends/onnx/frontend/src/op/constant.cpp
  src/frontends/onnx/frontend/src/op/constant_fill.cpp
  src/frontends/onnx/frontend/src/op/dropout.cpp
  src/frontends/onnx/frontend/src/op/loop.cpp
  src/frontends/onnx/frontend/src/op/lstm.cpp
  src/frontends/onnx/frontend/src/op/scan.cpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/onnx_common/include/onnx_common/onnx_model_validator.hpp
  src/frontends/onnx/onnx_common/include/onnx_common/parser.hpp
  src/frontends/onnx/onnx_common/include/onnx_common/utils.hpp
  src/frontends/onnx/onnx_common/src/onnx_model_validator.cpp
  src/frontends/onnx/onnx_common/src/parser.cpp
  src/frontends/onnx/onnx_common/src/utils.cpp
  src/frontends/onnx/tests/onnx_test_util.cpp
  src/frontends/onnx/tests/onnx_test_util.hpp
Labels: category: CI, category: ONNX FE, github_actions

#21382 [Snippets] Added PassConfig and PositionedPasses for PassPipeline
  src/common/snippets/include/snippets/lowered/pass/pass.hpp
  src/common/snippets/include/snippets/lowered/pass/pass_config.hpp
  src/common/snippets/include/snippets/op/subgraph.hpp
  src/common/snippets/include/snippets/pass/manager.hpp
  src/common/snippets/include/snippets/pass/positioned_pass.hpp
  src/common/snippets/src/lowered/pass/pass.cpp
  src/common/snippets/src/lowered/pass/pass_config.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/manager.cpp
  src/common/snippets/src/pass/positioned_pass.cpp
  src/common/snippets/tests/include/lowered/pass/buffer_allocation.hpp
  src/common/snippets/tests/include/lowering_utils.hpp
  src/common/snippets/tests/src/lowered/pass/buffer_allocation.cpp
  src/common/snippets/tests/src/lowered/pass/loop.cpp
  src/common/snippets/tests/src/lowering_utils.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/lowered/buffer_allocation.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/mul_add_to_fma.cpp
Labels: category: CPU

#21545 [CPU][ARM] Set `arm64-v8.2-a` as a default architecture
  .github/workflows/job_python_unit_tests.yml
  src/frontends/tensorflow/tests/compilation.cpp
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/nodes/reorder.cpp
  tests/layer_tests/tensorflow_lite_tests/test_tfl_Binary.py
  tests/layer_tests/tensorflow_lite_tests/test_tfl_RFFT2D.py
  tests/layer_tests/tensorflow_tests/test_tf_Bucketize.py
  tests/layer_tests/tensorflow_tests/test_tf_CropAndResize.py
  tests/layer_tests/tensorflow_tests/test_tf_RandomUniform.py
  tests/layer_tests/tensorflow_tests/test_tf_UnaryOps.py
Labels: category: CPU, category: build, platform: arm, category: CI, category: TF FE, github_actions, category: TFL FE

#21933 [CI][ONNX] Disable backend tests
  src/frontends/onnx/tests/tests_python/test_backend.py
Labels: category: ONNX FE

#21936 [TF Hub] Markup models failing due to inference results mismatch
  tests/model_hub_tests/tf_hub_tests/nightly_models
Labels: category: TF FE

#21847 [CPU] Refactor graph transformations interface
  src/plugins/intel_cpu/src/edge.cpp
  src/plugins/intel_cpu/src/edge.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/graph_optimizer.h
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/tests/unit/graph/merge_transpose_reorder_test.cpp
  src/plugins/intel_cpu/tests/unit/nodes/reorder_node_test.cpp
Labels: category: CPU

#21945 [CPU] Fix ARM build
  src/plugins/intel_cpu/src/graph.cpp
Labels: category: CPU

#21865 [AUTO Batching Plugin][Func Test] clean AUTO Batching functional tests
  src/plugins/auto_batch/tests/functional/behavior/executable_network/exec_net_base.cpp
  src/plugins/auto_batch/tests/functional/behavior/infer_request/callback.cpp
  src/plugins/auto_batch/tests/functional/behavior/infer_request/multithreading.cpp
  src/plugins/auto_batch/tests/functional/behavior/infer_request/perf_counters.cpp
  src/plugins/auto_batch/tests/functional/behavior/infer_request/wait.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_executable_network/exec_net_base.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_executable_network/properties.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/callback.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/cancellation.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/io_tensor.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/multithreading.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/perf_counters.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_infer_request/wait.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_plugin/auto_batching_tests.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_plugin/configuration_tests.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_plugin/properties_tests.cpp
  src/plugins/auto_batch/tests/functional/behavior/ov_plugin/remote.cpp
  src/plugins/auto_batch/tests/functional/behavior/plugin/auto_batching_tests.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/auto_batching_tests.hpp
Labels: category: IE Tests, category: AUTO BATCH

#21951 calculate concat/slicing using output layout instead of layout in memory
  src/plugins/intel_gpu/src/graph/loop.cpp
Labels: category: GPU

#21887 [GPU] Fix issue for skipping gather
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#21931 [ONNX] Frontend refactoring
  .github/workflows/linux_arm64.yml
  src/frontends/onnx/frontend/include/onnx_import/core/node.hpp
  src/frontends/onnx/frontend/include/onnx_import/core/null_node.hpp
  src/frontends/onnx/frontend/src/core/attribute.cpp
  src/frontends/onnx/frontend/src/core/attribute.hpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/core/graph.hpp
  src/frontends/onnx/frontend/src/core/node.cpp
  src/frontends/onnx/frontend/src/core/null_node.cpp
  src/frontends/onnx/frontend/src/onnx_framework_node.hpp
  src/frontends/onnx/frontend/src/op/if.cpp
  src/frontends/onnx/frontend/src/op/loop.cpp
  src/frontends/onnx/frontend/src/op/scan.cpp
Labels: category: CI, category: ONNX FE, category: CPP API, github_actions

#21860 Port and clean `behavior/` shared tests #1
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/ov_plugin/version.cpp
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/plugin/version.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/plugin/version.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/executable_network/locale.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/version.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/plugin/version.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_plugin/version.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/plugin/version.cpp
  src/tests/functional/plugin/shared/include/behavior/executable_network/locale.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/preprocessing.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/set_preprocess.hpp
  src/tests/functional/plugin/shared/src/behavior/executable_network/locale.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: TEMPLATE, category: AUTO

#21955 [GPU] Fix minus axis case for kv cache primitive buffer fusing
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
Labels: category: GPU

#21959 [CPU] fix debug build
  src/plugins/intel_cpu/src/graph.cpp
Labels: category: CPU

#21958 Fix minus axis case for kv cache primitive buffer fusing
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
Labels: category: GPU

#21965 [CPU] Ensure uniqueness of a parent edge child port
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
Labels: category: CPU

#21975 [TF Hub] Markup models failing with error "Model references undeclared parameters"
  tests/model_hub_tests/tf_hub_tests/nightly_models
Labels: category: TF FE

#21964 [ONNX] Frontend refactoring
  cmake/developer_package/ncc_naming_style/openvino.style
  src/frontends/onnx/frontend/include/onnx_import/core/null_node.hpp
  src/frontends/onnx/frontend/src/core/graph_cache.cpp
  src/frontends/onnx/frontend/src/core/graph_cache.hpp
  src/frontends/onnx/frontend/src/op/aten.cpp
  src/frontends/onnx/frontend/src/op/clip.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/attention.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/embed_layer_normalization.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/fusedgemm.cpp
  src/frontends/onnx/frontend/src/op/constant_of_shape.cpp
  src/frontends/onnx/frontend/src/op/conv.cpp
  src/frontends/onnx/frontend/src/op/dequantize_linear.cpp
  src/frontends/onnx/frontend/src/op/dft.cpp
  src/frontends/onnx/frontend/src/op/dropout.cpp
  src/frontends/onnx/frontend/src/op/gru.cpp
  src/frontends/onnx/frontend/src/op/loop.cpp
  src/frontends/onnx/frontend/src/op/lstm.cpp
  src/frontends/onnx/frontend/src/op/non_max_suppression.cpp
  src/frontends/onnx/frontend/src/op/pad.cpp
  src/frontends/onnx/frontend/src/op/qlinear_conv.cpp
  src/frontends/onnx/frontend/src/op/resize.cpp
  src/frontends/onnx/frontend/src/op/scan.cpp
  src/frontends/onnx/frontend/src/op/slice.cpp
  src/frontends/onnx/frontend/src/op/stft.cpp
  src/frontends/onnx/frontend/src/op/trilu.cpp
  src/frontends/onnx/frontend/src/utils/dft.cpp
  src/frontends/onnx/frontend/src/utils/onnx_internal.cpp
  src/frontends/onnx/frontend/src/utils/recurrent.cpp
Labels: category: build, category: ONNX FE, category: CPP API

#21916 [CAPI] remove legacy CAPI source code and document
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/windows.yml
  docs/articles_en/documentation/openvino_legacy_features/api_2_0_transition_guide/common_inference_pipeline.rst
  docs/snippets/ie_common.c
  docs/snippets/ov_preprocessing_migration.c
  docs/snippets/ov_properties_migration.c
  src/bindings/c/README.md
  src/bindings/c/docs/api_overview.md
  src/bindings/c/include/c_api/ie_c_api.h
  src/bindings/c/include/openvino/c/ov_model.h
  src/bindings/c/include/openvino/c/ov_tensor.h
  src/bindings/c/src/CMakeLists.txt
  src/bindings/c/src/ie_c_api.cpp
  src/bindings/c/tests/CMakeLists.txt
  src/bindings/c/tests/ie_c_api_test.cpp
Labels: category: build, category: C API, category: CI, category: docs, github_actions, category: docs_snippets

#21917 [CAPI] Fix windows issue
  .github/workflows/windows.yml
  src/bindings/c/tests/test_model_repo.cpp
Labels: category: C API, category: CI, github_actions

#21871 Delete `ngraph` #1
  src/bindings/python/src/compatibility/pyngraph/coordinate.cpp
  src/bindings/python/src/compatibility/pyngraph/dict_attribute_visitor.cpp
  src/bindings/python/src/compatibility/pyngraph/dimension.cpp
  src/bindings/python/src/compatibility/pyngraph/discrete_type_info.cpp
  src/bindings/python/src/compatibility/pyngraph/node_factory.cpp
  src/bindings/python/src/compatibility/pyngraph/partial_shape.cpp
  src/core/include/ngraph/attribute_adapter.hpp
  src/core/include/ngraph/attribute_visitor.hpp
  src/core/include/ngraph/coordinate.hpp
  src/core/include/ngraph/dimension.hpp
  src/core/include/ngraph/distributed.hpp
  src/core/include/ngraph/file_util.hpp
  src/core/include/ngraph/log.hpp
  src/core/include/ngraph/ngraph.hpp
  src/core/include/ngraph/ngraph_visibility.hpp
  src/core/include/ngraph/node.hpp
  src/core/include/ngraph/op/util/attr_types.hpp
  src/core/include/ngraph/op/util/variable.hpp
  src/core/include/ngraph/partial_shape.hpp
  src/core/include/ngraph/pass/graph_rewrite.hpp
  src/core/include/ngraph/rank.hpp
  src/core/include/ngraph/rt_info.hpp
  src/core/include/ngraph/shape_util.hpp
  src/core/include/ngraph/type.hpp
  src/core/include/ngraph/visibility.hpp
  src/core/src/distributed.cpp
  src/core/src/file_util.cpp
  src/core/src/log.cpp
  src/core/src/opsets/opset.cpp
  src/core/src/shape_util.cpp
  src/core/src/validation_util.cpp
  src/core/tests/specialize_function.cpp
  src/frontends/onnx/frontend/include/onnx_import/onnx_importer_visibility.hpp
  src/frontends/onnx/frontend/src/editor.cpp
  src/frontends/onnx/frontend/src/onnx_framework_node.hpp
  src/frontends/onnx/frontend/src/op/com.microsoft/attention.cpp
  src/frontends/onnx/frontend/src/op/pad.cpp
  src/frontends/onnx/frontend/src/utils/onnx_internal.cpp
  src/frontends/onnx/frontend/src/utils/reshape.cpp
  src/frontends/onnx/frontend/src/utils/tensor_external_data.cpp
  src/frontends/onnx/onnx_common/src/utils.cpp
  src/tests/ov_helpers/ov_lpt_models/src/assign_and_read_value.cpp
  src/tests/ov_helpers/ov_lpt_models/src/multiply.cpp
  src/tests/ov_helpers/ov_lpt_models/src/multiply_partial_function.cpp
Labels: category: Core, category: IE Tests, category: Python API, category: ONNX FE, category: CPP API

#21988 Replace legacy config in stress_tests/ with Properties
  tests/stress_tests/common/ie_pipelines/pipelines.cpp
  tests/stress_tests/common/infer_api/infer_api.cpp
  tests/stress_tests/common/infer_api/infer_api.h
  tests/stress_tests/memcheck_tests/tests.cpp
Labels: no-match-files

#21994 [MO][TF FE] Remove informative messages about API1.0 and TF FE limitations
  docs/articles_en/about_openvino/additional_resources/tensorflow_frontend.rst
  docs/articles_en/documentation/openvino_legacy_features.rst
  docs/articles_en/documentation/openvino_legacy_features/api_2_0_transition_guide.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/supported_model_formats/Convert_Model_From_TensorFlow.rst
  docs/articles_en/openvino_workflow/model_preparation.rst
  docs/articles_en/openvino_workflow/model_preparation/Convert_Model_IR.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/integrate_with_your_application.rst
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/utils/get_ov_update_message.py
  tools/mo/unit_tests/moc_tf_fe/check_info_messages_test.py
Labels: category: MO, category: docs

#21523 [MO][TF FE] Switch off fallback to legacy FE
  src/frontends/tensorflow/src/op/tensor_array_operations.cpp
  src/frontends/tensorflow/src/tf_utils.cpp
  src/frontends/tensorflow/src/tf_utils.hpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow_common/include/helper_ops/block_lstm.hpp
  src/frontends/tensorflow_common/include/helper_ops/enter.hpp
  src/frontends/tensorflow_common/include/helper_ops/exit.hpp
  src/frontends/tensorflow_common/include/helper_ops/fifo_queue.hpp
  src/frontends/tensorflow_common/include/helper_ops/gru_block_cell.hpp
  src/frontends/tensorflow_common/include/helper_ops/hash_table.hpp
  src/frontends/tensorflow_common/include/helper_ops/iterator.hpp
  src/frontends/tensorflow_common/include/helper_ops/loop_cond.hpp
  src/frontends/tensorflow_common/include/helper_ops/merge.hpp
  src/frontends/tensorflow_common/include/helper_ops/next_iteration.hpp
  src/frontends/tensorflow_common/include/helper_ops/sparse_fill_empty_rows.hpp
  src/frontends/tensorflow_common/include/helper_ops/sparse_segment_ops.hpp
  src/frontends/tensorflow_common/include/helper_ops/string_constant.hpp
  src/frontends/tensorflow_common/include/helper_ops/switch.hpp
  src/frontends/tensorflow_common/include/helper_ops/tensor_array.hpp
  src/frontends/tensorflow_common/include/tf_framework_node.hpp
  tests/layer_tests/tensorflow_tests/test_tf_TensorArrayOps.py
  tools/mo/openvino/tools/mo/convert_impl.py
Labels: category: MO, category: TF FE, category: TFL FE

#21996 [GHA] Increase CPU func tests timeout in Windows CC
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#21985 [GPU] Remove 1.0 API support from GPU plugin
  src/inference/include/ie/gpu/details/gpu_context_helpers.hpp
  src/inference/include/ie/gpu/gpu_config.hpp
  src/inference/include/ie/gpu/gpu_context_api_dx.hpp
  src/inference/include/ie/gpu/gpu_context_api_ocl.hpp
  src/inference/include/ie/gpu/gpu_context_api_va.hpp
  src/inference/include/ie/gpu/gpu_ocl_wrapper.hpp
  src/inference/include/ie/gpu/gpu_params.hpp
  src/inference/include/ie/ie_plugin_config.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/legacy_api_helper.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/legacy_remote_blob.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/legacy_remote_context.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/plugin.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/remote_context.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/sync_infer_request.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/legacy_api_helper.cpp
  src/plugins/intel_gpu/src/plugin/ops/cum_sum.cpp
  src/plugins/intel_gpu/src/plugin/ops/dft.cpp
  src/plugins/intel_gpu/src/plugin/ops/interpolate.cpp
  src/plugins/intel_gpu/src/plugin/ops/mvn.cpp
  src/plugins/intel_gpu/src/plugin/ops/result.cpp
  src/plugins/intel_gpu/src/plugin/ops/scatter_elements_update.cpp
  src/plugins/intel_gpu/src/plugin/ops/shuffle_channels.cpp
  src/plugins/intel_gpu/src/plugin/ops/softmax.cpp
  src/plugins/intel_gpu/src/plugin/ops/split.cpp
  src/plugins/intel_gpu/src/plugin/ops/unique.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/remote_tensor_tests/cldnn_remote_blob_tests.cpp
  src/plugins/intel_gpu/tests/functional/remote_tensor_tests/dx11_remote_ctx_test.cpp
  src/plugins/intel_gpu/tests/functional/remote_tensor_tests/helpers.hpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/executable_network/exec_net_base.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/executable_network/get_metric.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/infer_request/io_blob.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/callback.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/io_tensor.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/multithreading.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/wait.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_threading_tests.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/plugin/configuration_tests.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/plugin/core_integration.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/plugin/core_threading_tests.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/plugin/auto_batching_tests.hpp
  src/tests/functional/plugin/shared/include/behavior/plugin/core_integration.hpp
Labels: category: inference, category: IE Tests, category: GPU, category: CPP API

#21987 Fix exception message when querying for unsupported property
  src/plugins/intel_cpu/src/plugin.cpp
Labels: category: CPU

#21730 [TF FE] Support Div operation for TensorFlow
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/div.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Div.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#20103 【Hackathon 5th No.94】add paddle partial_op
  src/frontends/paddle/src/op/partial_ops.cpp
  src/frontends/paddle/src/op/partial_ops.hpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_partial_concat.py
  src/frontends/paddle/tests/test_models/gen_scripts/generate_partial_sum.py
Labels: ExternalPR, category: PDPD FE, PaddlePaddle Hackathon, Stale

#20486 Liubo/enable srf avx2 bf16 fp16
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_bf16_emitters.hpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_load_store_emitters.cpp
  src/plugins/intel_cpu/src/nodes/conv.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/interpolate.cpp
  src/plugins/intel_cpu/src/nodes/mvn.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/utils/precision_support.cpp
Labels: category: CPU

#21984 [ONNX] Removed ONNX transformations for Less/GreaterOrEqual
  src/frontends/onnx/frontend/src/core/transform.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/tests/models/greater_or_equal_float.prototxt
  src/frontends/onnx/tests/models/greater_or_equal_int.prototxt
  src/frontends/onnx/tests/onnx_transformations.cpp
Labels: category: ONNX FE

#21923 [DOCS] Describe dict support
  docs/articles_en/openvino_workflow/model_preparation/Convert_Model_From_PyTorch.rst
Labels: category: docs

#21961 [DOCS] Update supported ops by PT FE
  docs/articles_en/about_openvino/compatibility_and_support/supported_operations_framework_frontend.rst
Labels: category: docs

#21992 [ONNX] Frontend refactoring
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/core/model.cpp
  src/frontends/onnx/frontend/src/detail/subgraph_extraction.cpp
  src/frontends/onnx/frontend/src/edge_mapper.cpp
  src/frontends/onnx/frontend/src/frontend.cpp
  src/frontends/onnx/frontend/src/input_model.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/attention.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/bias_gelu.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/embed_layer_normalization.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/fusedgemm.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/skip_layer_normalization.cpp
  src/frontends/onnx/frontend/src/op/constant.cpp
  src/frontends/onnx/frontend/src/op/conv.cpp
  src/frontends/onnx/frontend/src/op/depth_to_space.cpp
  src/frontends/onnx/frontend/src/op/dequantize_linear.cpp
  src/frontends/onnx/frontend/src/op/greater_or_equal.cpp
  src/frontends/onnx/frontend/src/op/if.cpp
  src/frontends/onnx/frontend/src/op/image_scaler.cpp
  src/frontends/onnx/frontend/src/op/less_or_equal.cpp
  src/frontends/onnx/frontend/src/op/log_softmax.cpp
  src/frontends/onnx/frontend/src/op/lp_pool.cpp
  src/frontends/onnx/frontend/src/op/mod.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/detection_output.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/generate_proposals_single_image.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/group_norm.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/normalize.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/prior_box.cpp
  src/frontends/onnx/frontend/src/op/pow.cpp
  src/frontends/onnx/frontend/src/op/quantize_linear.cpp
  src/frontends/onnx/frontend/src/op/reduce.cpp
  src/frontends/onnx/frontend/src/op/reverse_sequence.cpp
  src/frontends/onnx/frontend/src/op/roi_align.cpp
  src/frontends/onnx/frontend/src/op/softmax.cpp
  src/frontends/onnx/frontend/src/op/space_to_depth.cpp
  src/frontends/onnx/frontend/src/op/topk.cpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/frontend/src/ops_bridge.hpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/frontend/src/utils/pooling_factory.cpp
  src/frontends/onnx/frontend/src/utils/recurrent.cpp
  src/frontends/onnx/frontend/src/utils/reshape.cpp
Labels: category: ONNX FE

#21941 Add link to Intel DevHub Discord to GFI template and docs
  .github/ISSUE_TEMPLATE/good_first_issue.yml
  CONTRIBUTING.md
  README.md
Labels: category: CI, category: docs

#22004 [TF FE] Check documented supported operations
  src/frontends/tensorflow/CMakeLists.txt
  src/frontends/tensorflow/docs/check_supported_ops.py
  src/frontends/tensorflow/docs/supported_ops.md
Labels: category: build, category: docs, category: TF FE

#21885 [DOCS] Update of Debian9 arm64 to Ubuntu 18.04 arm64 for master
  docs/articles_en/about_openvino/system_requirements.rst
  docs/articles_en/get_started/installing-openvino-overview/installing-openvino-linux-header/installing-openvino-from-archive-linux.rst
Labels: category: docs

#21939 Fix `INFER_NOT_STARTED` infer status code
  src/inference/dev_api/openvino/runtime/iasync_infer_request.hpp
  src/inference/src/dev/converter_utils.cpp
  src/tests/functional/plugin/shared/include/behavior/infer_request/callback.hpp
  src/tests/functional/plugin/shared/include/behavior/infer_request/wait.hpp
Labels: category: inference, category: IE Tests, do_not_merge

#21935 [DOCS] Update of Debian9 arm64 to Ubuntu 18.04 arm64 for 23.3
  docs/articles_en/about_openvino/system_requirements.rst
  docs/articles_en/get_started/installing-openvino-overview/installing-openvino-linux-header/installing-openvino-from-archive-linux.rst
Labels: category: docs

#21944 [CPU] Update Node constant type when adding or removing parent edges
  src/plugins/intel_cpu/src/edge.cpp
  src/plugins/intel_cpu/src/edge.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/input.cpp
Labels: category: CPU

#22010 [TF Hub] Mark up models failing with InvalidArgumentError and AttributeError
  tests/model_hub_tests/tf_hub_tests/nightly_models
Labels: category: TF FE

#22012 Ported changes from master to 2023.3
  .github/CODEOWNERS
  .github/components.yml
  .github/labeler.yml
  .github/workflows/linux_arm64.yml
Labels: category: CI, github_actions

#22014 [CAPI] fixed ov_infer_request_wait_for return value issue
  src/bindings/c/src/ov_infer_request.cpp
Labels: category: C API, ported to master

#21983 [CPU] Support group beam search
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.h
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/sdpa.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/sdpa_group_beam_search.cpp
Labels: category: CPU

#21993 Cmake Python build option flags should be added to the command in ste…
  docs/dev/build_windows.md
Labels: category: docs, ExternalPR, port to 2023.3

#21898 [CI] [GHA] Introduce JS API as a part of the existing workflows
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/job_openvino_js.yml
  .github/workflows/linux.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/windows.yml
  cmake/developer_package/packaging/npm.cmake
Labels: category: build, category: CI, category: packaging, github_actions

#22009 [CAPI] tiny issues fixings
  src/bindings/c/README.md
  src/bindings/c/docs/api_overview.md
  src/bindings/c/src/ov_infer_request.cpp
Labels: category: C API, category: docs

#21962 [DOCS] Update supported ops by PT FE
  docs/articles_en/about_openvino/compatibility_and_support/supported_operations_framework_frontend.rst
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/scripts/get_supported_ops.py
Labels: category: docs, category: PyTorch FE

#22016 remove old py api from python snippets and docs
  docs/articles_en/documentation/openvino_legacy_features/api_2_0_transition_guide/common_inference_pipeline.rst
  docs/articles_en/documentation/openvino_legacy_features/api_2_0_transition_guide/configure_devices.rst
  docs/articles_en/documentation/openvino_legacy_features/api_2_0_transition_guide/graph_construction.rst
  docs/articles_en/documentation/openvino_legacy_features/api_2_0_transition_guide/preprocessing.rst
  docs/snippets/__init__.py
  docs/snippets/ie_common.py
  docs/snippets/main.py
  docs/snippets/ngraph_snippet.py
  docs/snippets/ov_auto.py
  docs/snippets/ov_preprocessing_migration.py
  docs/snippets/ov_properties_migration.py
  docs/snippets/utils.py
  docs/sphinx_setup/api/ie_python_api/api.rst
  docs/sphinx_setup/api/ie_python_api/compatibility.rst
  src/bindings/python/README.md
Labels: category: Python API, category: docs, category: docs_snippets

#21927 S_ISDIR is already defined and std::ifstream<wchar_t> is not supporte…
  src/common/util/src/file_util.cpp
  src/frontends/paddle/src/input_model.cpp
  src/frontends/tensorflow/src/graph_iterator_proto.hpp
  src/frontends/tensorflow/src/graph_iterator_proto_txt.hpp
  src/frontends/tensorflow_lite/src/graph_iterator_flatbuffer.hpp
Labels: category: Core, category: PDPD FE, category: TF FE, category: TFL FE

#21846 [GPU] Refactor
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/dft.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/generate_proposals.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/lstm_sequence.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/rdft.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/utils/ranges.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/activation.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/dft.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/generate_proposals.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/rdft.hpp
  src/tests/functional/shared_test_classes/src/base/utils/compare_results.cpp
  src/tests/functional/shared_test_classes/src/single_op/activation.cpp
  src/tests/functional/shared_test_classes/src/single_op/dft.cpp
  src/tests/functional/shared_test_classes/src/single_op/generate_proposals.cpp
  src/tests/functional/shared_test_classes/src/single_op/rdft.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/data_utils.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/ov_tensor_utils.hpp
  src/tests/test_utils/common_test_utils/src/node_builders/activation.cpp
  src/tests/test_utils/common_test_utils/src/ov_tensor_utils.cpp
Labels: category: IE Tests, category: GPU

#21981 [CPU Plugin][Functional Test] upgrade infer request related to 2.0
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/callback.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/cancellation.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/io_blob.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/memory_states.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/multitheading.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/perf_counters.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/set_blob_by_type.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/set_io_blob_precision.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/infer_request/wait.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/batched_tensors.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/callback.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/cancellation.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/infer_consistency.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/infer_request_dynamic.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/inference.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/inference_chaining.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/io_tensor.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/iteration_chaining.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/multithreading.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/properties_tests.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/wait.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/properties_tests.hpp
Labels: category: IE Tests, category: CPU

#21788 [apiConformance] Move from Relu to double Concat function in import_export tests
  src/tests/functional/plugin/shared/include/behavior/compiled_model/import_export.hpp
Labels: category: IE Tests

#21954 [CPU] Support group beam search
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.h
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/sdpa.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/sdpa_group_beam_search.cpp
Labels: category: CPU

#22042 [BUG]Try to skip access violation issue
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#22052 Add link to the Awesome OpenVINO repository to README.md
  README.md
Labels: category: docs

#22048 Remove duplicated files
  src/tests/ov_helpers/ov_models/src/ov_builder/broadcast.cpp
  src/tests/ov_helpers/ov_models/src/ov_builder/split.cpp
Labels: category: IE Tests

#22050 [TF Hub] Mark up models failing with timeout error
  tests/model_hub_tests/tf_hub_tests/nightly_models
Labels: category: TF FE

#22024 [TF FE] Implement native support of string tensors for TensorFlow models
  src/frontends/tensorflow/src/decoder_proto.cpp
  src/frontends/tensorflow/src/op/var_handle.cpp
  src/frontends/tensorflow/src/op/variable.cpp
  src/frontends/tensorflow/src/tf_utils.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow_common/include/helper_ops/string_constant.hpp
  src/frontends/tensorflow_common/src/op/const.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/graph_comparator.hpp
  tests/layer_tests/common/utils/common_utils.py
  tests/layer_tests/tensorflow_tests/test_tf_Placeholder.py
  tests/layer_tests/tensorflow_tests/test_tf_Shape.py
Labels: category: IE Tests, category: TF FE, category: TFL FE, no-match-files

#22025 [GPU] Fix debug config setup position prior to allocate memories.
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
Labels: category: GPU

#21804 [GPU] Add unit-test for optimized slice_mem for loop primitive
  src/plugins/intel_gpu/tests/unit/test_cases/loop_gpu_test.cpp
Labels: category: GPU

#22032 move kvcache_precision into VariableStateKVcache
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.h
Labels: category: CPU

#22007 [CPU][apiConformance] support LOG_LEVEL
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/behavior/ov_plugin/properties.cpp
Labels: category: CPU

#22039 [GPU] fix Crop (Gather) in case of negative indices
  src/plugins/intel_gpu/src/plugin/ops/gather.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
Labels: category: GPU

#21980 [CPU][DEBUG]Fix "getData" throw exception issue in print of debug log.
  src/plugins/intel_cpu/src/utils/debug_capabilities.cpp
Labels: category: CPU

#22051 Compatibility with newer OpenCL versions
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.cpp
Labels: category: GPU, ported to master

#21285 update model prefer threads for g3
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Labels: category: CPU

#22021 [ONNX] Frontend refactoring
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/core/sparse_tensor.hpp
  src/frontends/onnx/frontend/src/core/tensor.cpp
  src/frontends/onnx/frontend/src/core/tensor.hpp
  src/frontends/onnx/frontend/src/core/value_info.hpp
  src/frontends/onnx/frontend/src/editor.cpp
  src/frontends/onnx/frontend/src/node_context.cpp
  src/frontends/onnx/frontend/src/op/blackmanwindow.cpp
  src/frontends/onnx/frontend/src/op/cast.cpp
  src/frontends/onnx/frontend/src/op/constant.cpp
  src/frontends/onnx/frontend/src/op/constant_of_shape.cpp
  src/frontends/onnx/frontend/src/op/eye_like.cpp
  src/frontends/onnx/frontend/src/op/hammingwindow.cpp
  src/frontends/onnx/frontend/src/op/hannwindow.cpp
  src/frontends/onnx/frontend/src/op/hardmax.cpp
  src/frontends/onnx/frontend/src/op/random_normal.cpp
  src/frontends/onnx/frontend/src/op/random_normal_like.cpp
  src/frontends/onnx/frontend/src/op/random_uniform.cpp
  src/frontends/onnx/frontend/src/op/random_uniform_like.cpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/frontend/src/utils/common.hpp
Labels: category: ONNX FE

#22044 [ONNX] Frontend refactoring: operations
  src/frontends/onnx/frontend/src/op/com.microsoft/attention.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/bias_gelu.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/embed_layer_normalization.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/fused_conv.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/fusedgemm.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/skip_layer_normalization.cpp
Labels: category: ONNX FE

#22054 M_PI(math.h) using fix & dirent.h is existed in MinGW
  samples/cpp/common/utils/src/args_helper.cpp
  src/frontends/onnx/frontend/src/op/blackmanwindow.cpp
  src/frontends/onnx/frontend/src/op/hammingwindow.cpp
  src/frontends/onnx/frontend/src/op/hannwindow.cpp
Labels: category: samples, ExternalPR, category: ONNX FE

#22035 [OV JS] Activate validation for mac x86
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
Labels: category: CI, github_actions

#21967 [GHA] [DOCS] Runners document
  docs/dev/ci/github_actions/overview.md
  docs/dev/ci/github_actions/reusable_workflows.md
  docs/dev/ci/github_actions/runners.md
Labels: category: docs

#22058 Removed the single..
  src/bindings/python/requirements.txt
  src/bindings/python/requirements_test.txt
Labels: category: Python API, category: dependency_changes

#22064 [ONNX] Frontend refactoring
  src/frontends/onnx/frontend/src/frontend.cpp
  src/frontends/onnx/frontend/src/input_model.cpp
  src/frontends/onnx/frontend/src/input_model.hpp
  src/frontends/onnx/frontend/src/onnx_framework_node.cpp
  src/frontends/onnx/frontend/src/onnx_framework_node.hpp
  src/frontends/onnx/frontend/src/utils/arg_min_max_factory.cpp
  src/frontends/onnx/frontend/src/utils/arg_min_max_factory.hpp
  src/frontends/onnx/frontend/src/utils/conv_factory.cpp
  src/frontends/onnx/frontend/src/utils/conv_factory.hpp
  src/frontends/onnx/frontend/src/utils/onnx_internal.cpp
Labels: category: ONNX FE

#22060 [GPU] Exclude gather_compressed in shape_of subgraph
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_shape_of_subgraphs.cpp
  src/plugins/intel_gpu/tests/unit/passes/mark_shape_of_subgraphs_test.cpp
Labels: category: GPU

#22013 [SCRIPTS] Introduce `setupvars` for Powershell
  .github/workflows/windows.yml
  scripts/CMakeLists.txt
  scripts/setupvars/setupvars.ps1
Labels: category: build, category: CI, category: dependency_changes, github_actions

#22057 set minimal tbb version on arm64 ubuntu22
  cmake/features.cmake
  src/cmake/ov_parallel.cmake
Labels: category: inference, category: build

#21974 Refactor GPU shared beh tests
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/executable_network/exec_graph_info.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/infer_request/callback.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/infer_request/config.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/infer_request/multithreading.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/infer_request/perf_counters.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/infer_request/set_blob_by_type.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/infer_request/wait.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/exec_graph_info.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/exec_net_base.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties_tests.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/auto_batching_tests.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/plugin/auto_batching_tests.cpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/auto_batching_tests.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_executable_network/exec_graph_info.cpp
Labels: category: IE Tests, category: GPU

#22067 [ONNX] Frontend refactoring: operations
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/detection_output.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/detection_output.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/generate_proposals_single_image.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/generate_proposals_single_image.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/prior_grid_generator.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/prior_grid_generator.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/roi_feature_extractor.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/roi_feature_extractor.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/topk_rios.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/experimental_detectron/topk_rios.hpp
Labels: category: ONNX FE

#22080 [PyOV] Add `get_then_body` to If operator
  src/bindings/python/src/pyopenvino/graph/ops/if.cpp
  src/bindings/python/tests/test_graph/test_if.py
Labels: category: Python API

#21536 【Paddle Hackathon 5th No.93】add paddle pool3d op
  src/frontends/paddle/src/op/pool3d.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_pool3d.py
Labels: ExternalPR, category: PDPD FE

#22056 [CAPI] avoid random timeout issue in test cases
  src/bindings/c/tests/ov_infer_request_test.cpp
Labels: category: C API, port to 2023.3

#22086 [CAPI] port fixing of test timeout issue
  src/bindings/c/tests/ov_infer_request_test.cpp
Labels: category: C API

#21829 collect inplace consumers with LOOK_UP case
  src/plugins/intel_cpu/src/edge.cpp
  src/plugins/intel_cpu/tests/unit/graph/dummy_node.hpp
  src/plugins/intel_cpu/tests/unit/graph/resolve_edge_conflicts_test.cpp
Labels: category: CPU

#22065 [DOCS] graph.js bf16 precisson
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
  docs/sphinx_setup/_static/js/graphs.js
Labels: category: docs

#22022 [Core] implement BGR2RGB for postprocess
  src/core/include/openvino/core/preprocess/output_model_info.hpp
  src/core/include/openvino/core/preprocess/postprocess_steps.hpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/src/preprocess/preprocess_impls.cpp
  src/core/src/preprocess/preprocess_impls.hpp
  src/core/src/preprocess/preprocess_steps_impl.cpp
  src/core/src/preprocess/preprocess_steps_impl.hpp
  src/core/tests/preprocess.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/preprocess.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/preprocess.cpp
  src/plugins/template/tests/functional/subgraph_reference/preprocess.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/preprocess.hpp
  src/tests/functional/shared_test_classes/src/subgraph/postprocess.cpp
  src/tests/ov_helpers/ov_models/include/ov_models/preprocess/preprocess_builders.hpp
Labels: category: Core, category: IE Tests, category: GPU, category: CPU, category: TEMPLATE, category: CPP API

#22061 [GHA] [DOCS] Docker images document
  docs/dev/ci/github_actions/docker_images.md
Labels: category: docs

#21946 [LPT] [GPU] MVN fp16 fix
  src/common/low_precision_transformations/src/mvn.cpp
  src/common/low_precision_transformations/tests/mvn_transformation.cpp
  src/common/low_precision_transformations/tests/normalize_l2_transformation.cpp
Labels: category: LP transformations

#21998 [api conformance] Add tests for wrong rw properties
  src/tests/functional/plugin/conformance/test_runner/api_conformance_runner/src/ov_plugin/properties.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/properties_tests.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
  src/tests/test_utils/functional_test_utils/layer_tests_summary/skip_configs/CPU/expected_failures_API.csv
Labels: category: IE Tests

#22059 [core] Remove ngraph shape utils
  src/core/include/ngraph/ngraph.hpp
  src/core/include/ngraph/shape_util.hpp
  src/core/src/shape_util.cpp
  src/core/tests/partial_shape.cpp
Labels: category: Core, category: CPP API

#22101 [PyOV] clean up after legacy python api removal
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/py_checks.yml
  .github/workflows/windows.yml
  src/bindings/python/CMakeLists.txt
  src/bindings/python/docs/test_examples.md
Labels: category: build, category: Python API, category: CI, category: docs, github_actions

#21978 [GPU] Skip redundant permute in stateful model
  src/plugins/intel_gpu/src/graph/graph_optimizer/dynamic_shape_gather_opts.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/permute.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
Labels: category: GPU

#22077 [GPU] Refactor
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/strided_slice.cpp
Labels: category: GPU

#22091 Update Discord links to permalinks
  .github/ISSUE_TEMPLATE/good_first_issue.yml
  CONTRIBUTING.md
  README.md
Labels: category: CI, category: docs

#22066 [Ref] Remove ngraph leftovers
  src/common/offline_transformations/src/pruning/init_const_mask.cpp
  src/common/offline_transformations/src/pruning/propagate_masks.cpp
  src/common/transformations/tests/offline_transformations/pruning_test.cpp
  src/core/reference/include/ngraph/runtime/reference/autobroadcast_binop.hpp
  src/core/reference/include/ngraph/runtime/reference/power.hpp
  src/core/reference/include/ngraph/runtime/reference/softmax.hpp
  src/core/reference/include/openvino/reference/utils/coordinate_transform.hpp
  src/core/reference/src/op/function.cpp
  src/core/reference/src/utils/coordinate_transform.cpp
  src/core/tests/coordinate.cpp
Labels: category: Core, category: transformations

#22108 [TF Hub] Move Notebooks tests to Kaggle links
  tests/model_hub_tests/tf_hub_tests/test_tf_hub_api_notebooks.py
Labels: category: TF FE

#22110 [GPU] Refactor
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/rnn_sequence.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/scatter_elements_update.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/scatter_elements_update.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/scatter_elements_update.hpp
  src/tests/functional/shared_test_classes/src/single_op/scatter_elements_update.cpp
Labels: category: IE Tests, category: GPU

#22117 [Discord] Update the left Discord link to permanent one
  README.md
Labels: category: docs

#22116 [DOCS] Fix images for notebooks
  docs/articles_en/learn_openvino/tutorials.rst
  docs/nbdoc/consts.py
  docs/openvino_sphinx_theme/openvino_sphinx_theme/directives/code.py
Labels: category: docs

#22094 Added missing cache_mode declarations for python and c API
  src/bindings/c/include/openvino/c/ov_property.h
  src/bindings/c/src/ov_property.cpp
  src/bindings/python/src/openvino/properties/__init__.py
  src/bindings/python/src/openvino/runtime/properties/__init__.py
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
Labels: category: Python API, category: C API

#22098 [GPU] New debug config ImplsCacheCapacity
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
Labels: category: GPU

#22121 [ONNX] Frontend refactoring: operations
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/deformable_conv_2d.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/deformable_conv_2d.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/detection_output.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/detection_output.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/fake_quantize.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/fake_quantize.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/generate_proposals.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/group_norm.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/group_norm.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/normalize.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/normalize.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/prior_box.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/prior_box.hpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/swish.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/swish.hpp
Labels: category: ONNX FE

#22107 [GPU] Fix convert_matmul_to_fc transformation pass for FC weights sharing case
  src/plugins/intel_gpu/src/plugin/transformations/convert_matmul_to_fc.cpp
  src/plugins/intel_gpu/tests/unit/transformations/convert_matmul_to_fc_test.cpp
Labels: category: GPU

#22123 [DOCS] fix npu and install
  docs/articles_en/get_started/installing-openvino-overview.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/NPU.rst
Labels: category: docs

#21556 Move SliceToStridedSlice conversion from MOC to Common transformations
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/common_optimizations/optimize_strided_slice.cpp
  src/common/transformations/tests/common_optimizations/optimize_strided_slice_test.cpp
Labels: category: transformations

#22112 Refactor shared beh tests to API 2.0
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/hetero_synthetic.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_executable_network/exec_graph_info.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_threading.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/hetero_synthetic.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_executable_network/exec_graph_info.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/io_tensor.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/hetero_synthetic.cpp
Labels: category: IE Tests, category: GPU, category: CPU

#22087 fix null event when retrieving profiling info from unfused subgraph
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_primitive_fusing_test.cpp
Labels: category: GPU

#22131 [DOCS] Fix images for notebooks for 23.3
  docs/articles_en/learn_openvino/tutorials.rst
  docs/nbdoc/consts.py
  docs/openvino_sphinx_theme/openvino_sphinx_theme/directives/code.py
Labels: category: docs

#22129 [DOCS] Fix images for notebooks for 23.2
  docs/articles_en/learn_openvino/tutorials.md
  docs/nbdoc/consts.py
  docs/openvino_sphinx_theme/openvino_sphinx_theme/directives/code.py
Labels: category: docs

#21966 [OV JS] Refactor GetClassConstructors and Inits
  src/bindings/js/node/include/addon.hpp
  src/bindings/js/node/include/compiled_model.hpp
  src/bindings/js/node/include/core_wrap.hpp
  src/bindings/js/node/include/infer_request.hpp
  src/bindings/js/node/include/model_wrap.hpp
  src/bindings/js/node/include/node_output.hpp
  src/bindings/js/node/include/partial_shape_wrap.hpp
  src/bindings/js/node/include/preprocess/pre_post_process_wrap.hpp
  src/bindings/js/node/include/tensor.hpp
  src/bindings/js/node/src/addon.cpp
  src/bindings/js/node/src/async_reader.cpp
  src/bindings/js/node/src/compiled_model.cpp
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/src/infer_request.cpp
  src/bindings/js/node/src/model_wrap.cpp
  src/bindings/js/node/src/node_output.cpp
  src/bindings/js/node/src/partial_shape_wrap.cpp
  src/bindings/js/node/src/preprocess/pre_post_process_wrap.cpp
  src/bindings/js/node/src/preprocess/preprocess.cpp
  src/bindings/js/node/src/tensor.cpp
Labels: category: JS API

#21725 [CONFORMANCE] Pre-commit migration over new version
  .github/workflows/linux.yml
  src/tests/test_utils/functional_test_utils/layer_tests_summary/data/models.lst
  src/tests/test_utils/functional_test_utils/layer_tests_summary/github/cache/CPU/test_cache_API.lst
  src/tests/test_utils/functional_test_utils/layer_tests_summary/github/cache/CPU/test_cache_OP.lst
  src/tests/test_utils/functional_test_utils/layer_tests_summary/github/skip_configs/CPU/expected_failures_API.csv
  src/tests/test_utils/functional_test_utils/layer_tests_summary/github/skip_configs/CPU/expected_failures_OP.csv
  src/tests/test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
  src/tests/test_utils/functional_test_utils/layer_tests_summary/skip_configs/CPU/expected_failures_API.csv
  src/tests/test_utils/functional_test_utils/layer_tests_summary/skip_configs/CPU/expected_failures_OP.csv
Labels: category: IE Tests, category: CI, github_actions

#22130 [GHA] Update MO deps
  .github/components.yml
Labels: category: CI, port to 2023.3

#22134 Updated build docs for Python API
  cmake/packaging/rpm.cmake
  docs/dev/build_linux.md
  docs/dev/build_raspbian.md
  docs/dev/build_windows.md
  src/bindings/python/CMakeLists.txt
Labels: category: build, category: Python API, category: docs, category: packaging

#22104 [DOCS] Removal of docs for deprecated POT
  docs/articles_en/documentation/openvino_legacy_features.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_api_reference.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_cli.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_cli/configuration_file_description.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_cli/simplified_mode.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_examples.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_examples/pot_api_examples.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_examples/pot_api_examples/pot_example_3d_segmentation.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_examples/pot_api_examples/pot_example_classification.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_examples/pot_api_examples/pot_example_face_detection.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_examples/pot_api_examples/pot_example_object_detection.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_examples/pot_api_examples/pot_example_segmentation.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_examples/pot_api_examples/pot_example_speech.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_examples/pot_cli_example.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/pot_faq.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/protecting_model.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/quantization_best_practices.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/quantization_best_practices/saturation_issue.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/quantizing_models.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/quantizing_models/default_quantization_algorithm.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/quantizing_models_with_accuracy.rst
  docs/articles_en/documentation/openvino_legacy_features/post_training_optimization_tool/quantizing_models_with_accuracy/accuracy_aware_algorithm.rst
  docs/articles_en/learn_openvino/openvino_samples/hello_classification.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/CPU.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/GNA.rst
  docs/sphinx_setup/_static/images/default_quantization_flow.svg
  docs/sphinx_setup/_static/images/workflow_simple.svg
Labels: category: docs

#22125 [DOCS] fix npu and install 23.3
  docs/articles_en/get_started/installing-openvino-overview.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/NPU.rst
Labels: category: docs

#22136 Fixed API validator search
  cmake/developer_package/OpenVINODeveloperScriptsConfig.cmake
  cmake/developer_package/api_validator/api_validator.cmake
Labels: category: build, port to 2023.3

#22139 [OV JS] Conditional enabling of JS API
  cmake/features.cmake
  src/bindings/js/CMakeLists.txt
  src/bindings/js/node/CMakeLists.txt
Labels: category: build, category: JS API, port to 2023.3

#22068 Delete `ngraph` opsets
  src/core/include/ngraph/opsets/opset1.hpp
  src/core/include/ngraph/opsets/opset10.hpp
  src/core/include/ngraph/opsets/opset10_tbl.hpp
  src/core/include/ngraph/opsets/opset11.hpp
  src/core/include/ngraph/opsets/opset11_tbl.hpp
  src/core/include/ngraph/opsets/opset1_tbl.hpp
  src/core/include/ngraph/opsets/opset2.hpp
  src/core/include/ngraph/opsets/opset4.hpp
  src/core/include/ngraph/opsets/opset4_tbl.hpp
  src/core/include/ngraph/opsets/opset5.hpp
  src/core/include/ngraph/opsets/opset5_tbl.hpp
  src/core/include/ngraph/opsets/opset6.hpp
  src/core/include/ngraph/opsets/opset6_tbl.hpp
  src/core/include/ngraph/opsets/opset7.hpp
  src/core/include/ngraph/opsets/opset7_tbl.hpp
  src/core/include/ngraph/opsets/opset8.hpp
  src/core/include/ngraph/opsets/opset8_tbl.hpp
  src/core/include/ngraph/opsets/opset9.hpp
  src/core/include/ngraph/opsets/opset9_tbl.hpp
  src/frontends/onnx/frontend/src/op/gather.hpp
  src/frontends/onnx/frontend/src/op/if.cpp
  src/frontends/onnx/frontend/src/op/lstm.cpp
  src/frontends/onnx/frontend/src/op/mean_variance_normalization.cpp
  src/frontends/onnx/frontend/src/op/qlinear_conv.cpp
  src/frontends/onnx/frontend/src/op/qlinear_matmul.cpp
  src/frontends/onnx/frontend/src/op/random_uniform.cpp
  src/frontends/onnx/frontend/src/op/random_uniform_like.cpp
  src/frontends/onnx/frontend/src/op/roi_align.cpp
  src/frontends/onnx/frontend/src/op/softsign.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/concat_reorder_inplace.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/depth_to_space.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/gather_elements.cpp
  src/tests/functional/plugin/shared/include/behavior/plugin/hetero_query_network.hpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/depth_to_space_transformation.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/grn.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/memory.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/prior_box.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/prior_box_clustered.hpp
  src/tests/functional/shared_test_classes/src/single_layer/adaptive_pooling.cpp
  src/tests/functional/shared_test_classes/src/single_layer/eye.cpp
  src/tests/functional/shared_test_classes/src/single_layer/memory.cpp
  src/tests/functional/shared_test_classes/src/single_layer/reverse.cpp
  src/tests/functional/shared_test_classes/src/single_layer/roi_align.cpp
  src/tests/functional/shared_test_classes/src/subgraph/parameter_shapeof_result.cpp
Labels: category: Core, category: IE Tests, category: GPU, category: CPU, category: ONNX FE, category: CPP API

#22135 Avoid DOWNLOAD_EXTRACT_TIMESTAMP warning
  CMakeLists.txt
Labels: category: build, port to 2023.3

#21564 [GPU] Intial update for CTCGreedyDecoderSeqLen dynamic shape and mutiple outputs support
  src/plugins/intel_gpu/include/intel_gpu/primitives/ctc_greedy_decoder.hpp
  src/plugins/intel_gpu/src/graph/ctc_greedy_decoder.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/ctc_greedy_decoder.cpp
  src/plugins/intel_gpu/src/graph/include/ctc_greedy_decoder_inst.h
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/ctc_greedy_decoder_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/ctc_greedy_decoder/ctc_greedy_decoder_kernel_base.cpp
  src/plugins/intel_gpu/src/plugin/ops/ctc_greedy_decoder.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/ctc_greedy_decoder_seq_len.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/ctc_greedy_decoder.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/ctc_greedy_decoder_seq_len.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/ctc_greedy_decoder_seq_len_si_test.cpp
Labels: category: GPU

#22128 [GPU] Fixed mem alloc size and pad propagation for kv cache opt
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
Labels: category: GPU

#22132 [Snippets] Fixed access by expired reference
  src/common/snippets/src/lowered/pass/allocate_buffers.cpp
Labels: bug, category: CPU

#22037 [CPU] optimize SDPA's shape inference
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/shape_inference/custom/scaled_attn.cpp
  src/plugins/intel_cpu/src/shape_inference/custom/scaled_attn.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/op/sdpa.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/custom_shape_infer/custom_shape_infer.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/custom_shape_infer/scaled_attn.cpp
Labels: category: CPU

#21915 [CPU Plugin][Extension] upgrade ie::extension to ov::extension
  cmake/developer_package/plugins/create_plugins_hpp.cmake
  cmake/developer_package/plugins/plugins.cmake
  cmake/developer_package/plugins/plugins.hpp.in
  src/core/include/openvino/core/extension.hpp
  src/inference/dev_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/compiled_model.h
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/src/extension.h
  src/plugins/intel_cpu/src/extension_mngr.cpp
  src/plugins/intel_cpu/src/extension_mngr.h
  src/plugins/intel_cpu/src/graph_context.h
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/if.h
  src/plugins/intel_cpu/src/nodes/tensoriterator.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/plugin.h
  src/plugins/intel_cpu/src/serialize.cpp
  src/plugins/intel_cpu/src/serialize.h
  src/plugins/intel_cpu/src/utils/ngraph_transformation.hpp
  src/plugins/intel_cpu/tests/unit/graph/memory_state.cpp
  src/plugins/intel_cpu/tests/unit/graph/merge_transpose_reorder_test.cpp
  src/plugins/intel_cpu/tests/unit/graph/resolve_edge_conflicts_test.cpp
  src/plugins/intel_cpu/tests/unit/nodes/reorder_node_test.cpp
Labels: category: inference, category: Core, category: CPU, category: build, category: extensions, category: CPP API

#22043 [DOCS] torchvision and optimization section
  docs/articles_en/openvino_workflow/model_preparation.rst
  docs/articles_en/openvino_workflow/model_preparation/pytorch_vision.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide/dldt_deployment_optimization_tput.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide/dldt_deployment_optimization_tput_advanced.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide/precision_control.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide/preprocessing_overview.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide/preprocessing_overview/torchvision_preprocessing_converter.rst
  docs/dev/get_started.md
Labels: category: docs

#22142 [DOCS] torchvision and optimization section port 23.3
  docs/articles_en/openvino_workflow/model_preparation.rst
  docs/articles_en/openvino_workflow/model_preparation/pytorch_vision.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide/dldt_deployment_optimization_tput.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide/dldt_deployment_optimization_tput_advanced.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide/precision_control.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide/preprocessing_overview.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/dldt_deployment_optimization_guide/preprocessing_overview/torchvision_preprocessing_converter.rst
  docs/dev/get_started.md
Labels: category: docs

#21907 [tests] resolve HF models 4th batch
  tests/model_hub_tests/torch_tests/hf_transformers_models
  tests/model_hub_tests/torch_tests/test_hf_transformers.py
Labels: category: PyTorch FE

#22095 Keep compressed constants produced by FW
  src/common/transformations/include/transformations/fp16_compression/mark_decompression_convert_constant_folding.hpp
  src/common/transformations/src/transformations/fp16_compression/mark_decompression_convert_constant_folding.cpp
  src/common/transformations/tests/common_optimizations/compress_float_constants_test.cpp
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow_lite/src/frontend.cpp
  tests/layer_tests/ovc_python_api_tests/test_pytorch.py
  tests/layer_tests/ovc_python_api_tests/test_tf.py
Labels: bug, category: MO, category: transformations, category: TF FE, category: PyTorch FE, category: TFL FE

#22159 Fixed GHSA-h5c8-rqwp-cp95
  docs/requirements.txt
Labels: category: docs, category: dependency_changes, port to 2023.3

#22155 Additional API1.0 removal from CPU tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/parameter_result.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/concat_multiple_query_sdp.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/concat_transpose_sdp_transpose.cpp
  src/plugins/intel_cpu/tests/functional/subgraph_tests/src/param_result_custom_blob.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/parameter_result.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/parameter_result.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/parameter_result.hpp
  src/tests/functional/shared_test_classes/src/subgraph/parameter_result.cpp
Labels: category: IE Tests, category: GPU, category: CPU

#22160 [Core] remove ie_system_conf.hpp
  cmake/developer_package/cross_compile/cross_compiled_disp_gen.cmake
  cmake/developer_package/cross_compile/cross_compiled_func.cmake
  src/inference/dev_api/ie_system_conf.h
  src/inference/src/blob_transform.cpp
  src/inference/tests/functional/task_executor_tests.cpp
  src/inference/tests/unit/cpu_map_parser/cache_parser_linux.cpp
  src/inference/tests/unit/cpu_map_parser/freq_parser_linux.cpp
  src/inference/tests/unit/cpu_map_parser/parser_macos.cpp
  src/inference/tests/unit/cpu_map_parser/parser_windows.cpp
  src/inference/tests/unit/cpu_map_parser/valid_proc_check.cpp
  src/inference/tests/unit/cpu_reserve_test.cpp
  src/inference/tests/unit/cpu_stream_info_test.cpp
  src/inference/tests/unit/update_executor_config_test.cpp
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/plugin/configuration_tests.cpp
  src/plugins/auto/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/plugin/configuration_tests.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/transpose_matmul.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/enable_ht_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/scheduling_core_type_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_e2e_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
Labels: category: inference, category: CPU, category: build, category: AUTO

#22137 [DOCS] Removal of docs for MxNet Caffe Kaldi
  docs/articles_en/documentation/openvino_legacy_features.rst
  docs/articles_en/documentation/openvino_legacy_features/--installing-model-dev-tools.rst
  docs/articles_en/documentation/openvino_legacy_features/mo_ovc_transition/legacy_conversion_api/model_optimizer_faq.rst
  docs/articles_en/documentation/openvino_legacy_features/mxnet_caffe_kaldi.rst
  docs/articles_en/documentation/openvino_legacy_features/mxnet_caffe_kaldi/aspire_tdnn_model.rst
  docs/articles_en/documentation/openvino_legacy_features/mxnet_caffe_kaldi/convert_gluoncv_models.rst
  docs/articles_en/documentation/openvino_legacy_features/mxnet_caffe_kaldi/convert_model_from_caffe.rst
  docs/articles_en/documentation/openvino_legacy_features/mxnet_caffe_kaldi/convert_model_from_kaldi.rst
  docs/articles_en/documentation/openvino_legacy_features/mxnet_caffe_kaldi/convert_model_from_mxnet.rst
  docs/articles_en/documentation/openvino_legacy_features/mxnet_caffe_kaldi/convert_style_transfer_from_mxnet.rst
  docs/articles_en/get_started/installing-openvino-overview/installing-openvino-linux-header/installing-openvino-apt.rst
  docs/articles_en/get_started/installing-openvino-overview/installing-openvino-linux-header/installing-openvino-from-archive-linux.rst
  docs/articles_en/get_started/installing-openvino-overview/installing-openvino-linux-header/installing-openvino-yum.rst
  docs/articles_en/get_started/installing-openvino-overview/installing-openvino-macos-header/installing-openvino-from-archive-macos.rst
  docs/articles_en/get_started/installing-openvino-overview/installing-openvino-shared/installing-openvino-conda.rst
  docs/articles_en/get_started/installing-openvino-overview/installing-openvino-windows-header/installing-openvino-from-archive-windows.rst
  docs/articles_en/learn_openvino/openvino_samples.rst
  docs/articles_en/learn_openvino/openvino_samples/automatic_speech_recognition.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/GNA.rst
Labels: category: docs

#22156 Fix TSUnary transformation
  src/common/transformations/src/transformations/transpose_sinking/ts_general.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_utils.cpp
  src/common/transformations/tests/transpose_sinking/ts_unary_test.cpp
Labels: category: transformations

#21075 [TF FE] Set single output tensor name for TF1 formats.
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/tests/convert_saved_model.cpp
  src/frontends/tensorflow_common/src/op/identity.cpp
  src/frontends/tensorflow_common/src/utils.cpp
  tests/layer_tests/common/tf_layer_test_class.py
  tests/layer_tests/ovc_python_api_tests/test_complex_params.py
  tests/layer_tests/ovc_python_api_tests/test_tf.py
Labels: category: MO, category: TF FE, category: TFL FE, no-match-files

#22072 [api conformance] Move log level to optional properties
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Labels: category: IE Tests, category: AUTO

#22079 [GHA] [DOCS] Custom actions document
  docs/dev/ci/github_actions/custom_actions.md
Labels: category: docs

#22133 [GPU] Reclaim memory for dynamic shape
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#21950 [GPU] Add right-alignment for broadcastable check of eltwise NUMPY
  src/plugins/intel_gpu/src/graph/eltwise.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
Labels: category: GPU

#22151 [CAPI][TEST] take account with cancel after the infer finished
  src/bindings/c/tests/ov_infer_request_test.cpp
Labels: category: C API, port to 2023.3

#22138 [PT FE]: support aten::index_add
  src/frontends/pytorch/src/op/index_add.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/pytorch_tests/test_index_add.py
Labels: category: PyTorch FE

#22141 [TF FE] Add testing model with tokenizer to precommit
  tests/model_hub_tests/models_hub_common/test_convert_model.py
  tests/model_hub_tests/tf_hub_tests/precommit_models
Labels: category: TF FE, category: PyTorch FE

#22158 [Core] pass loaded_from_cache to import_model
  src/inference/src/dev/core_impl.cpp
  src/plugins/hetero/src/compiled_model.cpp
  src/plugins/hetero/src/compiled_model.hpp
  src/plugins/hetero/src/plugin.cpp
  src/plugins/intel_cpu/src/compiled_model.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/caching_tests.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/caching_tests.cpp
  src/plugins/template/src/plugin.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_plugin/caching_tests.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/caching_tests.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/caching_tests.cpp
Labels: category: inference, category: IE Tests, category: GPU, category: CPU, category: HETERO, category: TEMPLATE

#21779 [GPU] Add try catch error for expected cl::error
  src/plugins/intel_gpu/src/runtime/ocl/ocl_common.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_event.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_user_event.cpp
Labels: category: GPU

#22168 Update GPU and shared tests to api 2.0
  src/plugins/intel_gpu/tests/functional/concurrency/gpu_concurrency_tests.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/get_metric.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/constant_result.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/reduce_eltwise.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/scale_shift.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/constant_result.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/constant_result_legacy.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/reduce_eltwise.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/scaleshift.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/constant_result.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/reduce_eltwise.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/scaleshift.hpp
  src/tests/functional/shared_test_classes/src/subgraph/constant_result.cpp
  src/tests/functional/shared_test_classes/src/subgraph/reduce_eltwise.cpp
  src/tests/functional/shared_test_classes/src/subgraph/scale_shift.cpp
Labels: category: IE Tests, category: GPU

#22100 [JS OV] Extend `Core` class with `getAvailableDevices`
  src/bindings/js/node/include/core_wrap.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/tests/basic.test.js
Labels: category: JS API

#22157 [CPU] [ARM32] bit: test disabling
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU
