Repository openvinotoolkit/openvino, pull requests merged in 2024-02, with the labels that each got.

#22394 [core] Remove ngraph/op API
  src/core/include/ngraph/op/concat.hpp
  src/core/include/ngraph/op/divide.hpp
  src/core/include/ngraph/op/parameter.hpp
  src/core/include/ngraph/op/split.hpp
  src/core/include/ngraph/op/util/attr_types.hpp
  src/core/include/ngraph/op/util/op_types.hpp
  src/core/include/ngraph/partial_shape.hpp
  src/core/include/ngraph/validation_util.hpp
  src/core/src/specialize_function.cpp
  src/core/src/validation_util.cpp
  src/frontends/onnx/frontend/src/op/scan.cpp
  src/frontends/onnx/frontend/src/op/upsample.cpp
  src/frontends/onnx/tests/onnx_editor.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/range.cpp
  src/tests/functional/shared_test_classes/src/single_layer/random_uniform.cpp
  src/tests/ov_helpers/ov_lpt_models/include/ov_lpt_models/pad.hpp
  src/tests/ov_helpers/ov_lpt_models/src/align_concat_quantization_parameters.cpp
  src/tests/ov_helpers/ov_lpt_models/src/avg_pool.cpp
  src/tests/ov_helpers/ov_lpt_models/src/concat.cpp
  src/tests/ov_helpers/ov_lpt_models/src/convolution_backprop_data.cpp
  src/tests/ov_helpers/ov_lpt_models/src/elementwise.cpp
  src/tests/ov_helpers/ov_lpt_models/src/fake_quantize.cpp
  src/tests/ov_helpers/ov_lpt_models/src/fake_quantize_and_convolution.cpp
  src/tests/ov_helpers/ov_lpt_models/src/fake_quantize_precision_selection.cpp
  src/tests/ov_helpers/ov_lpt_models/src/markup_avg_pool_precisions.cpp
  src/tests/ov_helpers/ov_lpt_models/src/max_pool.cpp
  src/tests/ov_helpers/ov_lpt_models/src/move_dequantization_after.cpp
  src/tests/ov_helpers/ov_lpt_models/src/normalize_dequantization.cpp
  src/tests/ov_helpers/ov_lpt_models/src/pad.cpp
  src/tests/ov_helpers/ov_lpt_models/src/recurrent_cell.cpp
  src/tests/ov_helpers/ov_lpt_models/src/shuffle_channels.cpp
  src/tests/ov_helpers/ov_lpt_models/src/transformations_after_split.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: ONNX FE, category: CPP API

#22563 [GHA] Disable export in timm tests until problem with timeout is solved
  tests/model_hub_tests/torch_tests/test_timm.py
Labels: category: PyTorch FE

#22527 [GPU] Add get_shape_info_dependencies() to shape_of_node
  src/plugins/intel_gpu/src/graph/include/shape_of_inst.h
Labels: category: GPU

#22416 Delete `hetero` and `multi` configs + `ie_exception.hpp`
  src/inference/include/ie/details/ie_exception.hpp
  src/inference/include/ie/hetero/hetero_plugin_config.hpp
  src/inference/include/ie/ie_plugin_config.hpp
  src/inference/include/ie/multi-device/multi_device_config.hpp
  src/inference/src/compilation_context.cpp
  src/plugins/auto/tests/unit/ctput_test.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_infer_request/memory_states.cpp
Labels: category: inference, category: CPU, category: AUTO, category: CPP API

#22576 [Core] Remove ngraph/evaluator.hpp
  src/core/include/ngraph/validation_util.hpp
  src/core/src/evaluator.hpp
  src/core/src/model.cpp
  src/core/src/validation_util.cpp
Labels: category: Core, category: CPP API

#22526 [Deprecated API] Removed deprecated ctors for StreamSerialize and Serialize
  src/core/include/openvino/pass/serialize.hpp
  src/core/src/pass/serialize.cpp
  src/inference/src/cnn_network_ngraph_impl.cpp
Labels: category: inference, category: Core, category: CPP API

#22174 [CPU]SDPA uses brgemm to support bf16 multi query in 1st token
  cmake/developer_package/compile_flags/os_flags.cmake
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/softmax.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/softmax.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/softmax_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.hpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/stateful_sdpa_fusion.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/scaled_attn.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/concat_multiple_query_sdp.cpp
  src/plugins/intel_cpu/tests/unit/CMakeLists.txt
  src/plugins/intel_cpu/tests/unit/brgemm_executor_test.cpp
Labels: category: CPU, category: build

#22553 [ONNX] Frontend refactoring: operations
  src/frontends/onnx/frontend/src/op/tan.hpp
  src/frontends/onnx/frontend/src/op/tanh.hpp
  src/frontends/onnx/frontend/src/op/thresholded_relu.cpp
  src/frontends/onnx/frontend/src/op/tile.cpp
  src/frontends/onnx/frontend/src/op/tile.hpp
  src/frontends/onnx/frontend/src/op/topk.cpp
  src/frontends/onnx/frontend/src/op/topk.hpp
  src/frontends/onnx/frontend/src/op/transpose.cpp
  src/frontends/onnx/frontend/src/op/trilu.cpp
  src/frontends/onnx/frontend/src/op/unique.cpp
  src/frontends/onnx/frontend/src/op/unsqueeze.cpp
  src/frontends/onnx/frontend/src/op/upsample.cpp
  src/frontends/onnx/frontend/src/op/where.hpp
  src/frontends/onnx/frontend/src/op/xor.hpp
Labels: category: ONNX FE

#22575 [GPU] Refactor: TopK
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/topk.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/topk.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/topk.hpp
  src/tests/functional/shared_test_classes/src/single_op/topk.cpp
Labels: category: IE Tests, category: GPU

#21679 Fix documentation typo
  docs/articles_en/openvino_workflow/model_optimization_guide/ptq_introduction/basic_quantization_flow.rst
Labels: category: docs, ExternalPR

#22590 [DOCS] Port docs patches for 23.3
  docs/articles_en/openvino_workflow/model_optimization_guide/ptq_introduction/basic_quantization_flow.rst
  docs/dev/build_linux.md
  docs/dev/build_windows.md
Labels: category: docs

#22548 Fixed and added prompt window in the README file
  tests/samples_tests/smoke_tests/README.md
Labels: category: samples, category: docs, ExternalPR

#22169 [CPU][ARM] Disable f16 eltwise fusing
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/nodes/deconv.cpp
  src/plugins/intel_cpu/src/nodes/reference.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.h
Labels: category: CPU, platform: arm

#22571 [DOCS] Specify number of jobs in build docs
  docs/dev/build_linux.md
  docs/dev/build_windows.md
Labels: category: docs, ExternalPR

#22532 DOCS Fixed empty json file on baner load
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/html/banner_data.json
  docs/sphinx_setup/_static/js/hide_banner.js
Labels: category: docs

#22564 Add raw data comparison into test utils
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/matrix_nms.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/multiclass_nms.cpp
  src/plugins/template/tests/functional/op_reference/base_reference_test.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/infer_correctness.cpp
  src/tests/functional/shared_test_classes/src/single_op/generate_proposals.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/data_utils.hpp
Labels: category: IE Tests, category: GPU, category: TEMPLATE

#22572 Removed API 1.0 ONNX FE headers install
  src/frontends/onnx/frontend/CMakeLists.txt
Labels: category: build, category: ONNX FE

#22577 [GHA] Testing solution for GitHub Actions workflows telemetry
  .github/workflows/send_workflows_to_opentelemetry.yml
Labels: category: CI, github_actions

#22583 [AUTO plugin] auto minor cleanup
  src/plugins/auto/src/auto_compiled_model.cpp
  src/plugins/auto/tests/unit/compile_model_metric_test.cpp
Labels: category: AUTO

#22542 Prefix OpenVINO thirdparty targets with openvino::
  docs/dev/build_mac_arm.md
  docs/dev/build_mac_intel_cpu.md
  install_build_dependencies.sh
  src/frontends/paddle/tests/CMakeLists.txt
  src/frontends/tests/frontend/shared/CMakeLists.txt
  tests/fuzz/src/CMakeLists.txt
  thirdparty/cnpy/CMakeLists.txt
  thirdparty/zlib/CMakeLists.txt
Labels: category: IE Tests, category: build, category: samples, category: docs, category: PDPD FE, no-match-files

#22528 Ported several PRs from master to 2023.3
  .github/actions/setup_python/action.yml
  .github/workflows/android_arm64.yml
  .github/workflows/build_doc.yml
  .github/workflows/coverity.yml
  .github/workflows/fedora.yml
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/job_debian_packages.yml
  .github/workflows/job_onnx_models_tests.yml
  .github/workflows/job_onnx_runtime.yml
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/job_pytorch_models_tests.yml
  .github/workflows/job_samples_tests.yml
  .github/workflows/job_tensorflow_hub_models_tests.yml
  .github/workflows/linux.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/linux_riscv.yml
  .github/workflows/mo.yml
  .github/workflows/webassembly.yml
  .github/workflows/windows.yml
  .github/workflows/windows_conditional_compilation.yml
  src/plugins/intel_gpu/CMakeLists.txt
  thirdparty/dependencies.cmake
Labels: category: GPU, category: build, category: CI, category: dependency_changes, ported to master, github_actions

#22309 Clean `LayerTestsUtils::LayerTestsCommon`
  src/tests/functional/plugin/shared/include/single_layer_tests/activation.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/random_uniform.hpp
  src/tests/functional/shared_test_classes/src/base/layer_test_utils.cpp
  src/tests/functional/shared_test_classes/src/single_layer/random_uniform.cpp
Labels: category: IE Tests, category: transformations

#22543 [GPU] Fixes for Gemm and FC
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bf_tiled.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/fully_connected_gpu_bf_tiled_common.cl
  src/plugins/intel_gpu/tests/unit/fusions/gemm_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#22586 [PT FE] Add support for PackedSequence for aten::lstm
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/helper_ops/packed_sequence.hpp
  src/frontends/pytorch/src/op/lstm.cpp
  src/frontends/pytorch/src/op/pack_sequence.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/transforms/remove_packing_ops.cpp
  src/frontends/pytorch/src/transforms/remove_packing_ops.hpp
  tests/layer_tests/pytorch_tests/test_lstm.py
Labels: category: PyTorch FE

#22546 remove flake8-commas requirement
  src/bindings/python/requirements_test.txt
Labels: category: Python API, category: dependency_changes, port to 2023.3

#22605 [DOCS] Update 2023.3.0 Selector Tool
  docs/articles_en/get_started/installing-openvino-overview.rst
  docs/sphinx_setup/_static/selector-tool/assets/selector-20fd1edb.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-c365ac1e.css
  docs/sphinx_setup/_static/selector-tool/assets/selector-cd878436.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-d827f194.css
  docs/sphinx_setup/_static/selector-tool/selector-6ad56e0.html
Labels: category: docs

#22591 [ONNX] Frontend refactoring: operations
  src/frontends/onnx/frontend/src/default_opset.hpp
  src/frontends/onnx/frontend/src/op/bitwise_not.cpp
  src/frontends/onnx/frontend/src/op/clip.cpp
Labels: category: ONNX FE

#22593 [ONNX] Frontend refactoring
  src/frontends/onnx/frontend/include/onnx_import/core/node.hpp
  src/frontends/onnx/frontend/include/onnx_import/onnx.hpp
  src/frontends/onnx/frontend/include/onnx_import/onnx_importer_visibility.hpp
  src/frontends/onnx/frontend/include/onnx_import/onnx_utils.hpp
  src/frontends/onnx/frontend/src/editor.hpp
  src/frontends/onnx/frontend/src/frontend.cpp
  src/frontends/onnx/frontend/src/onnx.cpp
  src/frontends/onnx/tests/onnx_import_org_openvino.in.cpp
  src/frontends/onnx/tests/onnx_tensor_names.cpp
  src/frontends/onnx/tests/op_extension.cpp
Labels: category: ONNX FE, category: CPP API

#22472 [Core] Remove ngraph coordinate_diff and enum_names
  src/core/include/ngraph/coordinate_diff.hpp
  src/core/include/ngraph/enum_names.hpp
  src/core/include/ngraph/validation_util.hpp
  src/frontends/onnx/frontend/src/op/conv_transpose.cpp
  src/frontends/onnx/frontend/src/op/quant_conv.cpp
  src/frontends/onnx/frontend/src/utils/convpool.cpp
  src/frontends/onnx/frontend/src/utils/convpool.hpp
  src/frontends/onnx/frontend/src/utils/pooling_factory.cpp
Labels: category: Core, category: ONNX FE, category: CPP API

#22606 [CI] [GHA] Preinstall `tzdata` and `gpg-agent` packages in the setup Python action
  .github/actions/setup_python/action.yml
Labels: category: CI, port to 2023.3

#22177 [Core] remove ie_memcpy.h and precision_utils.h
  src/inference/dev_api/blob_factory.hpp
  src/inference/dev_api/ie_memcpy.h
  src/inference/dev_api/precision_utils.h
  src/inference/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  src/inference/src/ie_memcpy.cpp
  src/inference/src/precision_utils.cpp
  src/inference/tests/unit/precision_utils_test.cpp
  src/inference/tests/unit/saturated_cast_test.cpp
  src/plugins/intel_cpu/src/nodes/gather_elements.cpp
  src/plugins/intel_cpu/src/nodes/gather_nd.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/fuse_split_concat_pair_to_interpolate.cpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
Labels: category: inference, category: IE Tests, category: CPU

#22582 [Core] Remove legacy ie::Version and replaced by ov::Version
  cmake/developer_package/version.cmake
  src/cmake/openvino.cmake
  src/inference/CMakeLists.txt
  src/inference/dev_api/cpp_interfaces/interface/ie_iplugin_internal.hpp
  src/inference/include/ie/ie_core.hpp
  src/inference/include/ie/ie_version.hpp
  src/inference/src/cpp_interfaces/interface/ie_iplugin_internal.cpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/core_impl_ie.cpp
  src/inference/src/ie_core.cpp
  src/inference/src/ie_version.cpp
Labels: category: inference, category: build, category: CPP API

#22592 Fix issue with older torch not having export
  tools/ovc/openvino/tools/ovc/convert_impl.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: MO

#22423 add lock for static variable operation
  src/plugins/intel_cpu/src/nodes/conv.cpp
Labels: category: CPU, port to 2023.3

#21440 [CPU] Run with FP32 when compress fp16 is disabled in Ngraph.
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/convert_matmul_to_fc.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/rope_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/stateful_sdpa_fusion.cpp
  src/plugins/intel_cpu/src/utils/debug_capabilities.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/execution_graph_tests/disable_lowering_precision.cpp
  src/tests/functional/plugin/shared/include/execution_graph_tests/disable_lowering_precision.hpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/disable_lowering_precision.cpp
Labels: category: IE Tests, category: CPU, no_stale

#22601 [ONNX] Update ONNX models commit for tests
  .github/workflows/job_onnx_models_tests.yml
  src/frontends/onnx/frontend/src/op/acos.hpp
  src/frontends/onnx/tests/tests_python/model_zoo_preprocess.ps1
  src/frontends/onnx/tests/tests_python/model_zoo_preprocess.sh
Labels: category: CI, category: ONNX FE, github_actions

#22616 Added latency to default view
  docs/sphinx_setup/_static/js/graphs.js
Labels: category: docs

#22608 Removed blob_copy, AddPreprocessing
  src/inference/CMakeLists.txt
  src/inference/dev_api/blob_transform.hpp
  src/inference/dev_api/remote_utils.hpp
  src/inference/src/blob_transform.cpp
  src/inference/src/cpu_x86_sse42/blob_transform_sse42.cpp
  src/inference/src/cpu_x86_sse42/blob_transform_sse42.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/make_tensor.cpp
  src/inference/src/dev/preprocessing/preprocessing.cpp
  src/inference/src/dev/preprocessing/preprocessing.hpp
  src/inference/tests/unit/add_preprocessing.cpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
Labels: category: inference, category: IE Tests, category: build

#22149 [CPU] fix TensorIterator issue - a static node with dynamic subgraph,…
  src/plugins/intel_cpu/src/nodes/tensoriterator.cpp
  src/plugins/intel_cpu/src/nodes/tensoriterator.h
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/loop.cpp
Labels: bug, category: CPU

#22432 [Common optimizations][ReduceMerge] Align shapes and types before merging reduce nodes
  src/common/transformations/src/transformations/common_optimizations/reduce_merge.cpp
  src/common/transformations/tests/common_optimizations/reduce_merge.cpp
Labels: category: transformations

#22433 Add support for FakeConvert in CompressQuantizeWeights
  src/common/offline_transformations/include/compress_quantize_weights.hpp
  src/common/offline_transformations/src/compress_quantize_weigths.cpp
  src/common/transformations/tests/utils/compress_quantize_weights.cpp
  src/core/include/openvino/op/constant.hpp
  src/core/src/pass/serialize.cpp
Labels: category: Core, category: transformations, category: CPP API

#22574 [Op] FakeConvert update to use ov::element::Type
  src/bindings/python/tests/test_graph/test_fake_convert.py
  src/core/include/openvino/op/fake_convert.hpp
  src/core/reference/include/openvino/reference/fake_convert.hpp
  src/core/reference/src/op/fake_convert.cpp
  src/core/src/op/fake_convert.cpp
  src/core/tests/eval.cpp
Labels: category: Core, category: Python API, category: CPP API

#22555 [FP8] Enable FP8 Constant constructor with std::vector<ov::float8_e4m3/ov::float_e5m2>
  src/core/include/openvino/op/constant.hpp
  src/core/tests/constant.cpp
Labels: category: Core, category: CPP API

#22594 [PyOV] Update imports for properties
  docs/snippets/ov_preprocessing.py
  src/bindings/python/src/openvino/__init__.py
  src/bindings/python/src/openvino/properties/__init__.py
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  tools/benchmark_tool/openvino/__init__.py
  tools/mo/openvino/__init__.py
  tools/openvino_dev/src/openvino/__init__.py
  tools/ovc/openvino/__init__.py
Labels: category: MO, category: Python API, category: tools, category: packaging, category: docs_snippets

#22534 [OV JS] Activate win validation js api
  .github/workflows/windows.yml
  src/bindings/js/node/include/infer_request.hpp
  src/bindings/js/node/src/infer_request.cpp
  src/bindings/js/node/tests/infer_request.test.js
Labels: category: CI, github_actions, category: JS API

#21458 [PADDLE FE] Support get_element_type in interface
  src/frontends/paddle/src/input_model.cpp
  src/frontends/paddle/src/input_model.hpp
Labels: ExternalPR, category: PDPD FE

#22609 [Core] Remove ngraph specialize_function
  src/core/src/specialize_function.cpp
  src/tests/ov_helpers/ov_models/src/utils/ov_helpers.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/specialize_function.hpp
  src/tests/test_utils/common_test_utils/src/specialize_function.cpp
  src/tests/test_utils/common_test_utils/tests/specialize_function.cpp
Labels: category: Core, category: IE Tests

#22604 [Core] Remove ngraph validation util (part 2/2)
  src/core/include/ngraph/validation_util.hpp
  src/core/src/validation_util.cpp
Labels: category: Core, category: CPP API

#22248 Fixes in node builders
  src/CMakeLists.txt
  src/core/tests/CMakeLists.txt
  src/core/tests/build_graph.cpp
  src/core/tests/type_prop/tensor_iterator.cpp
  src/core/tests/visitors/op/tensor_iterator.cpp
  src/frontends/onnx/frontend/CMakeLists.txt
  src/frontends/onnx/frontend/src/op/com.microsoft/attention.cpp
  src/frontends/onnx/frontend/src/op/compress.cpp
  src/frontends/onnx/frontend/src/op/conv.cpp
  src/frontends/onnx/frontend/src/op/conv_transpose.cpp
  src/frontends/onnx/frontend/src/op/flatten.cpp
  src/frontends/onnx/frontend/src/op/gemm.cpp
  src/frontends/onnx/frontend/src/op/gru.cpp
  src/frontends/onnx/frontend/src/op/hardmax.cpp
  src/frontends/onnx/frontend/src/op/layer_normalization.cpp
  src/frontends/onnx/frontend/src/op/log_softmax.cpp
  src/frontends/onnx/frontend/src/op/lp_norm.cpp
  src/frontends/onnx/frontend/src/op/lp_pool.cpp
  src/frontends/onnx/frontend/src/op/lstm.cpp
  src/frontends/onnx/frontend/src/op/pad.cpp
  src/frontends/onnx/frontend/src/op/quantize_linear.cpp
  src/frontends/onnx/frontend/src/op/rnn.cpp
  src/frontends/onnx/frontend/src/op/softmax.cpp
  src/frontends/onnx/frontend/src/op/split.cpp
  src/frontends/onnx/frontend/src/op/transpose.cpp
  src/frontends/onnx/frontend/src/utils/conv_factory.cpp
  src/frontends/onnx/frontend/src/utils/norm.cpp
  src/frontends/onnx/frontend/src/utils/norm.hpp
  src/frontends/onnx/frontend/src/utils/recurrent.cpp
  src/frontends/onnx/frontend/src/utils/reshape.cpp
  src/frontends/onnx/frontend/src/utils/reshape.hpp
  src/frontends/onnx/frontend/src/utils/split.cpp
  src/frontends/onnx/frontend/src/utils/split.hpp
  src/tests/ov_helpers/ov_models/CMakeLists.txt
  src/tests/ov_helpers/ov_models/ov_builders/CMakeLists.txt
  src/tests/ov_helpers/ov_models/ov_builders/include/ov_models/ov_builders/broadcast.hpp
  src/tests/ov_helpers/ov_models/ov_builders/include/ov_models/ov_builders/reshape.hpp
  src/tests/ov_helpers/ov_models/ov_builders/src/reshape.cpp
  src/tests/test_utils/common_test_utils/CMakeLists.txt
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/broadcast.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/reshape.hpp
  src/tests/test_utils/common_test_utils/src/node_builders/broadcast.cpp
  src/tests/test_utils/common_test_utils/src/node_builders/reshape.cpp
Labels: category: Core, category: IE Tests, category: build, category: ONNX FE

#22633 [GHA] CPU tests to merge queue validation
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/job_cxx_unit_tests.yml
Labels: category: CI, github_actions

#22625 [CPU] Fix sparse compression weights check
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected_primitive.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
Labels: bug, category: CPU

#22585 [core] Remove ngraph shape related API
  src/core/include/ngraph/partial_shape.hpp
  src/core/include/ngraph/rank.hpp
  src/core/include/ngraph/shape.hpp
  src/core/include/ngraph/strides.hpp
  src/core/src/evaluator.hpp
  src/frontends/onnx/frontend/src/core/sparse_tensor.hpp
  src/frontends/onnx/frontend/src/core/tensor.hpp
  src/frontends/onnx/frontend/src/core/transform.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/attention.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/embed_layer_normalization.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/fused_conv.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/fusedgemm.cpp
  src/frontends/onnx/frontend/src/op/com.microsoft/skip_layer_normalization.cpp
  src/frontends/onnx/frontend/src/op/compress.cpp
  src/frontends/onnx/frontend/src/op/constant.cpp
  src/frontends/onnx/frontend/src/op/conv_transpose.cpp
  src/frontends/onnx/frontend/src/op/crop.cpp
  src/frontends/onnx/frontend/src/op/dynamic_quantize_linear.cpp
  src/frontends/onnx/frontend/src/op/expand.cpp
  src/frontends/onnx/frontend/src/op/gemm.cpp
  src/frontends/onnx/frontend/src/op/global_average_pool.cpp
  src/frontends/onnx/frontend/src/op/global_max_pool.cpp
  src/frontends/onnx/frontend/src/op/group_normalization.cpp
  src/frontends/onnx/frontend/src/op/gru.cpp
  src/frontends/onnx/frontend/src/op/hard_sigmoid.cpp
  src/frontends/onnx/frontend/src/op/hardmax.cpp
  src/frontends/onnx/frontend/src/op/leaky_relu.cpp
  src/frontends/onnx/frontend/src/op/log_softmax.cpp
  src/frontends/onnx/frontend/src/op/lp_pool.cpp
  src/frontends/onnx/frontend/src/op/lstm.cpp
  src/frontends/onnx/frontend/src/op/non_max_suppression.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/generate_proposals.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/normalize.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/prior_box.cpp
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/swish.cpp
  src/frontends/onnx/frontend/src/op/quant_conv.cpp
  src/frontends/onnx/frontend/src/op/quantize_linear.cpp
  src/frontends/onnx/frontend/src/op/random_normal.cpp
  src/frontends/onnx/frontend/src/op/random_normal_like.cpp
  src/frontends/onnx/frontend/src/op/reciprocal.cpp
  src/frontends/onnx/frontend/src/op/reduce.cpp
  src/frontends/onnx/frontend/src/op/size.cpp
  src/frontends/onnx/frontend/src/op/slice.cpp
  src/frontends/onnx/frontend/src/op/stft.cpp
  src/frontends/onnx/frontend/src/utils/arg_min_max_factory.cpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/frontend/src/utils/convpool.cpp
  src/frontends/onnx/frontend/src/utils/convpool.hpp
  src/frontends/onnx/frontend/src/utils/pooling_factory.cpp
  src/frontends/onnx/frontend/src/utils/recurrent.cpp
  src/frontends/onnx/frontend/src/utils/reshape.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/range.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/specialize_function.hpp
  src/tests/test_utils/common_test_utils/tests/specialize_function.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: ONNX FE, category: CPP API

#22619 Removed LegacyOpExtension
  src/core/dev_api/legacy_op_extension.hpp
  src/core/src/legacy_op_extension.cpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/frontend.cpp
  src/frontends/onnx/frontend/src/utils/legacy_conversion_extension.hpp
  src/frontends/onnx/frontend/src/utils/onnx_internal.hpp
  src/inference/src/dev/converter_utils.cpp
  src/inference/src/ie_network_reader.cpp
Labels: category: inference, category: Core, category: ONNX FE

#22445 [CPU][LLM] Compressed embeddings support for gather
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/graph_optimizer.h
  src/plugins/intel_cpu/src/nodes/gather.cpp
  src/plugins/intel_cpu/src/nodes/gather.h
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/snippets_mark_skipped.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/transformations/utils.cpp
  src/plugins/intel_cpu/src/transformations/utils.hpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/gather_weights_decompression.cpp
Labels: category: CPU

#22635 Delete IE functional tests
  src/inference/tests/functional/async_infer_request_test.cpp
  src/inference/tests/functional/cnn_network_test.cpp
  src/inference/tests/functional/core_threading.cpp
  src/inference/tests/functional/data_test.cpp
  src/inference/tests/functional/executable_network.cpp
  src/inference/tests/functional/ie_precision_test.cpp
  src/inference/tests/functional/ov_extension_test.cpp
  src/inference/tests/functional/ov_infer_request_test.cpp
  src/inference/tests/functional/pre_allocator_test.cpp
  src/inference/tests/functional/tensor_desc_test.cpp
  src/inference/tests/functional/variable_state.cpp
  src/inference/tests/unit/system_allocator_test.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/execution_graph_tests/disable_lowering_precision.cpp
Labels: category: inference, category: CPU

#22596 [CAPI] port pr 22579
  src/bindings/c/src/ov_remote_context.cpp
Labels: category: C API, ported to master

#22638 [GHA][Model Hub Tests] Use openvino-tokenizers in model hub tests
  .github/components.yml
  .github/workflows/job_pytorch_models_tests.yml
  .github/workflows/job_tensorflow_hub_models_tests.yml
  .github/workflows/linux.yml
  tests/model_hub_tests/models_hub_common/test_convert_model.py
Labels: category: CI, category: TF FE, github_actions, category: PyTorch FE

#22646 [Deprecated API] Remove API set_adding_above() & tensor() with name
  src/core/include/openvino/core/descriptor/tensor.hpp
  src/core/include/openvino/op/util/convolution_base.hpp
  src/core/include/openvino/op/util/max_pool_base.hpp
  src/core/src/descriptor/tensor.cpp
Labels: category: Core, category: CPP API

#22637 Minor update
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_plugin/properties.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
Labels: category: IE Tests, category: CPU

#22523 [GPU] Add SwiGLU internal op, related transformation, primitive, and kernel for SwiGLU decomposition fusion
  src/plugins/intel_gpu/include/intel_gpu/op/swiglu.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/swiglu.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/swiglu.cpp
  src/plugins/intel_gpu/src/graph/include/swiglu_inst.h
  src/plugins/intel_gpu/src/graph/swiglu.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/swiglu_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/swiglu/swiglu_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/swiglu/swiglu_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/swiglu/swiglu_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/swiglu/swiglu_kernel_selector.h
  src/plugins/intel_gpu/src/plugin/ops/swiglu.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/swiglu.cpp
  src/plugins/intel_gpu/src/plugin/transformations/swiglu_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/swiglu_fusion.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/swiglu_fusion.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/swiglu_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/swiglu_fusion_test.cpp
Labels: category: GPU

#22539 [Spec] Align order of scaling formula in FakeConvert spec
  docs/articles_en/documentation/openvino_ir/operation_sets/operations_specifications/quantization/FakeConvert_13.rst
Labels: category: docs

#22615 [CPU] SDPA supports Mixtral
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/stateful_sdpa_fusion.cpp
  src/plugins/intel_cpu/tests/unit/transformations/state_concat_sdpa.cpp
Labels: category: CPU

#22293 [CPU]protect import model with header check
  src/plugins/intel_cpu/src/serialize.cpp
  src/tests/functional/plugin/shared/src/behavior/compiled_model/import_export.cpp
Labels: category: IE Tests, category: CPU

#22414 Change parameters of executor config into private
  src/inference/dev_api/openvino/runtime/internal_properties.hpp
  src/inference/dev_api/openvino/runtime/threading/istreams_executor.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/executor_manager.cpp
  src/inference/src/dev/threading/istreams_executor.cpp
  src/inference/src/dev/threading/thread_affinity.cpp
  src/inference/src/dev/threading/thread_affinity.hpp
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/system_conf.cpp
  src/inference/tests/unit/executor_config_test.cpp
  src/inference/tests/unit/make_default_multi_threaded_test.cpp
  src/inference/tests/unit/update_executor_config_test.cpp
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.hpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/plugin.h
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_e2e_test.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/tests/unit/passes/kernels_cache_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/multiple_streams_gpu_test.cpp
  src/plugins/template/src/compiled_model.cpp
  src/plugins/template/src/config.cpp
  src/plugins/template/src/config.hpp
  src/plugins/template/src/plugin.cpp
Labels: category: inference, category: GPU, category: CPU, category: TEMPLATE

#22627 Add test instantiations for template plugin
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_infer_request/memory_states.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_infer_request/properties_tests.cpp
  src/plugins/template/tests/functional/shared_tests_instances/behavior/ov_plugin/hetero_synthetic.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/hetero_synthetic.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/hetero_synthetic.cpp
Labels: category: IE Tests, category: TEMPLATE

#22647 [TF Hub] Update test for MUSE model
  tests/model_hub_tests/tf_hub_tests/precommit_models
Labels: category: TF FE

#22657 Remove `ie_*` includes
  src/common/low_precision_transformations/tests/eltwise_transformation_is_broadcasted_test.cpp
  src/common/low_precision_transformations/tests/precision_details_test.cpp
  src/common/low_precision_transformations/tests/unit/calclulate_levels_test.cpp
  src/common/low_precision_transformations/tests/unit/data_precision_check.cpp
  src/common/low_precision_transformations/tests/unit/layer_transformation_get_data_precision.cpp
  src/common/low_precision_transformations/tests/unit/reshape_test.cpp
  src/common/low_precision_transformations/tests/unit/update_reshape_values.cpp
  src/core/tests/type_relaxed_copy.cpp
  src/frontends/paddle/tests/read_paddle_model_test.cpp
  src/inference/tests/functional/matmul_sr_tests.cpp
  src/plugins/auto_batch/tests/unit/async_infer_request_test.cpp
  src/plugins/intel_cpu/tests/unit/nodes/eltwise_node_test.cpp
  src/plugins/intel_cpu/tests/unit/nodes/reorder_node_test.cpp
  src/plugins/intel_cpu/tests/unit/transformations/state_concat_sdpa.cpp
  src/plugins/intel_cpu/tests/unit/transformations/x64/convert_to_interaction.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/ctc_greedy_decoder_seq_len.cpp
  src/plugins/template/tests/functional/op_reference/if.cpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/disable_lowering_precision.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/depth_to_space_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/squeeze_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/unsqueeze_transformation.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/utils/compare_results.hpp
  src/tests/functional/shared_test_classes/src/base/low_precision_transformations/layer_transformation.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/functional/shared_test_classes/src/subgraph/quantized_convolution_backprop_data.cpp
  src/tests/functional/shared_test_classes/src/subgraph/split_conv_concat.cpp
  src/tests/test_utils/common_test_utils/src/graph_comparator.cpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
  src/tests/test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
  src/tests/test_utils/unit_test_utils/mocks/openvino/runtime/mock_icore.hpp
Labels: category: inference, category: Core, category: IE Tests, category: GPU, category: CPU, category: LP transformations, category: TEMPLATE, category: PDPD FE, category: AUTO BATCH

#22664 [GHA] Reset Linux riscv cache
  .github/workflows/linux_riscv.yml
Labels: category: CI, github_actions

#22465 [Op][Ref][CPU] Extend Gather op with String support
  src/bindings/python/tests/test_graph/test_gather.py
  src/core/include/openvino/op/gather.hpp
  src/core/src/op/gather.cpp
  src/core/src/op/util/gather_base.cpp
  src/core/tests/eval.cpp
  src/plugins/intel_cpu/src/nodes/gather.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
  src/plugins/template/tests/functional/op_reference/base_reference_test.cpp
  src/plugins/template/tests/functional/op_reference/base_reference_test.hpp
  src/plugins/template/tests/functional/op_reference/gather.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/gather.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/gather.hpp
  src/tests/functional/shared_test_classes/src/single_op/gather.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/ov_tensor_utils.hpp
  src/tests/test_utils/common_test_utils/src/ov_tensor_utils.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: Python API, category: TEMPLATE, category: CPP API

#22665 [GPU] Distributed kv cache allocatio to prevent memory peak
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/include/kv_cache_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#22525 [Core] fix user plugins.xml path issue
  src/inference/src/core.cpp
  src/inference/tests/functional/ov_core_test.cpp
Labels: category: inference, port to 2023.3

#22658 [Core] Remove deprecated leftovers
  src/core/docs/api_details.md
  src/core/include/openvino/core/core.hpp
  src/core/include/openvino/core/node.hpp
  src/core/include/openvino/core/type.hpp
  src/core/include/openvino/op/interpolate.hpp
  src/core/include/openvino/op/util/variable_value.hpp
  src/core/include/openvino/opsets/opset.hpp
  src/core/include/openvino/pass/pass.hpp
  src/core/include/openvino/pass/pass_config.hpp
  src/core/include/openvino/pass/serialize.hpp
  src/core/shape_inference/include/pooling_shape_inference_util.hpp
  src/core/shape_inference/include/utils.hpp
  src/core/src/op/experimental_detectron_topkrois.cpp
  src/core/src/op/max_pool.cpp
  src/core/src/op/non_max_suppression.cpp
  src/core/src/op/proposal.cpp
  src/core/src/op/reduce_logical_and.cpp
  src/core/src/op/util/gather_base.cpp
  src/core/src/op/util/variable_value.cpp
  src/core/src/pass/manager.cpp
  src/core/src/pass/serialize.cpp
  src/core/src/pass/visualize_tree.cpp
  src/core/src/pattern/matcher.cpp
  src/core/tests/type_prop/batch_to_space.cpp
  src/core/tests/type_prop/depth_to_space.cpp
  src/core/tests/type_prop/variadic_split.cpp
  src/core/tests/visitors/visitors.hpp
Labels: category: Core, category: docs, category: CPP API, Code Freeze

#22634 [GHA] Remove push trigger from workflows running in full scope in merge queue
  .github/workflows/android_arm64.yml
  .github/workflows/fedora.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/webassembly.yml
Labels: category: CI, github_actions

#22662 LP Transformation tests decrease thresholds
  src/tests/functional/plugin/shared/src/low_precision_transformations/add_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/batch_to_space_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/clamp_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/concat_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/concat_with_child_and_output.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/concat_with_different_precision_on_children.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/concat_with_intermediate_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/concat_with_neighbors_graph_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/concat_with_split_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_backprop_data_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_qdq_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_with_incorrect_weights.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/eliminate_fake_quantize_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fake_quantize_and_avg_pool_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fake_quantize_and_max_pool_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fake_quantize_and_two_output_branches_with_convolution.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fake_quantize_precision_selection_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fake_quantize_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fake_quantize_with_dq_not_optimal_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fully_connected_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fuse_convert_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fuse_dequantize_to_fake_quantize_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fuse_fake_quantize_and_scale_shift_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/gemm_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/group_convolution_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/groupconvolution_qdq_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_with_constant_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_with_optimized_constant_fq.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/move_fake_quantize_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/multiply_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/multiply_with_one_parent_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/mvn_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/normalize_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_concat.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_concat_multi_channel.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/pad_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/pull_reshape_through_dequantization_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/recurrent_cell_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/reduce_max_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/reduce_mean_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/reduce_min_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/reduce_sum_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/relu_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/shuffle_channels_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/space_to_batch_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/split_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/squeeze_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/strided_slice_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/subtract_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/transpose_after_matmul_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/unsqueeze_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/variadic_split_transformation.cpp
Labels: category: IE Tests, conformance

#22415 disable unstable proposal testcase
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_generate_proposal_v2.py
Labels: category: PDPD FE

#22652 [GPU] Add new weights formats
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/fetch_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_weights.cl
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.h
  src/plugins/intel_gpu/src/runtime/format.cpp
Labels: category: GPU

#22648 [GPU] Resolved function test issue.
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/core_integration_sw.hpp
Labels: category: IE Tests, category: GPU

#22653 Cleaning and refactoring test utils
  src/common/transformations/tests/common_optimizations/fq_mul_fusion_test.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/concat_const_inplace.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/execution_graph_tests/add_output.cpp
  src/plugins/intel_gpu/tests/functional/concurrency/gpu_concurrency_tests.cpp
  src/plugins/intel_gpu/tests/functional/remote_tensor_tests/gpu_remote_tensor_tests.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir.cpp
  src/tests/functional/plugin/shared/include/base/behavior_test_utils.hpp
  src/tests/functional/plugin/shared/include/base/ov_behavior_test_utils.hpp
  src/tests/functional/plugin/shared/include/behavior/compiled_model/compiled_model_base.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/batched_tensors.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/infer_request_dynamic.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/inference.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/inference_chaining.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/iteration_chaining.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/memory_states.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_infer_request/properties_tests.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/auto_batching_tests.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/caching_tests.hpp
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/version.hpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/batched_tensors.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_infer_request/memory_states.cpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/num_inputs_fusing_bin_conv.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_qdq_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/convolution_with_incorrect_weights.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/depth_to_space_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fake_quantize_and_two_output_branches_with_convolution.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fully_connected_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/fuse_convert_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/gemm_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/group_convolution_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/groupconvolution_qdq_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_with_optimized_constant_fq.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/move_fake_quantize_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/multiply_to_group_convolution_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/mvn_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/normalize_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_concat.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_concat_multi_channel.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/output_layers_handling_in_transformations.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/pull_reshape_through_dequantization_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/recurrent_cell_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/shuffle_channels_transformation.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/transpose_after_matmul_transformation.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/layer_test_utils.hpp
  src/tests/functional/shared_test_classes/src/base/low_precision_transformations/layer_transformation.cpp
  src/tests/functional/shared_test_classes/src/subgraph/perm_conv_perm_concat.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/data_utils.hpp
  src/tests/test_utils/common_test_utils/src/data_utils.cpp
  src/tests/test_utils/common_test_utils/tests/utils_tests.cpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/blob_utils.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/plugin_cache.hpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/precision_utils.hpp
  src/tests/test_utils/functional_test_utils/src/plugin_cache.cpp
  src/tests/test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
  src/tests/test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.hpp
Labels: category: IE Tests, category: GPU, category: CPU, category: transformations

#22673 [GPU] get layout from prim_inst output layout instead of cldnn::memory
  src/plugins/intel_gpu/src/graph/loop.cpp
Labels: category: GPU

#22685 [CPU] Disable ExportImportTest for AMX platforms
  src/plugins/intel_cpu/tests/functional/custom/behavior/export_import.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#22541 Fuse Loop with LSTMCell to LSTMSequence
  src/common/transformations/include/transformations/op_conversions/convert_ti_to_sequences.hpp
  src/common/transformations/src/transformations/op_conversions/convert_ti_to_sequences.cpp
  src/common/transformations/tests/op_conversions/convert_ti_to_sequences_test.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, category: CPU, category: transformations, Code Freeze

#22519 [LPT] Dequantization movement helpers: fixed incorrect calls in transformations, added asserts
  src/common/low_precision_transformations/include/low_precision/layer_transformation.hpp
  src/common/low_precision_transformations/include/low_precision/network_helper.hpp
  src/common/low_precision_transformations/src/batch_to_space.cpp
  src/common/low_precision_transformations/src/gather.cpp
  src/common/low_precision_transformations/src/interpolate.cpp
  src/common/low_precision_transformations/src/layer_transformation.cpp
  src/common/low_precision_transformations/src/max_pool.cpp
  src/common/low_precision_transformations/src/move_fake_quantize.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/low_precision_transformations/src/pad.cpp
  src/common/low_precision_transformations/src/relu.cpp
  src/common/low_precision_transformations/src/reshape.cpp
  src/common/low_precision_transformations/src/shuffle_channels.cpp
  src/common/low_precision_transformations/src/space_to_batch.cpp
  src/common/low_precision_transformations/src/squeeze.cpp
  src/common/low_precision_transformations/src/strided_slice.cpp
  src/common/low_precision_transformations/src/transparent_base_transformation.cpp
  src/common/low_precision_transformations/src/transpose.cpp
  src/common/low_precision_transformations/src/unsqueeze.cpp
  src/common/low_precision_transformations/tests/low_precision_transformations_test.cpp
  src/common/low_precision_transformations/tests/lpt_avoid_shapeof_propagation_test.cpp
  src/common/low_precision_transformations/tests/move_dequantization_after_transformation.cpp
  src/tests/ov_helpers/ov_lpt_models/include/ov_lpt_models/move_dequantization_after.hpp
  src/tests/ov_helpers/ov_lpt_models/src/move_dequantization_after.cpp
Labels: category: IE Tests, category: LP transformations

#22698 [CI] [GHA] Add logs showing and uploading for Coverity
  .github/workflows/coverity.yml
Labels: category: CI, github_actions

#22692 [GPU] Do not use oneDNN impls with dynamic paddings
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
Labels: category: GPU

#22488 [GPU] Fix issues from unexecuted func tests
  src/plugins/intel_gpu/src/graph/impls/ocl/strided_slice.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/strided_slice.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/common_utils.hpp
Labels: category: IE Tests, category: GPU

#18865 [CPU] Share reorders
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/graph_optimizer.h
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/utils/debug_capabilities.cpp
  src/plugins/intel_cpu/src/utils/debug_capabilities.h
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/include/fuse_transpose_reorder.hpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/fuse_transpose_reorder.cpp
  src/plugins/intel_cpu/tests/unit/graph/merge_transpose_reorder_test.cpp
Labels: category: CPU

#22578 [Core][IR FE] Support (de)serialization of string type Constant
  src/core/dev_api/openvino/runtime/string_aligned_buffer.hpp
  src/core/src/op/constant.cpp
  src/core/src/pass/serialize.cpp
  src/core/src/runtime/string_aligned_buffer.cpp
  src/core/tests/models/ir/const_string.bin
  src/core/tests/models/ir/const_string.xml
  src/core/tests/pass/serialization/serialize.cpp
  src/core/tests/visitors/op/constant.cpp
  src/core/tests/visitors/visitors.hpp
  src/frontends/ir/src/ir_deserializer.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/graph_comparator.hpp
  src/tests/test_utils/common_test_utils/src/graph_comparator.cpp
Labels: category: Core, category: IE Tests, category: IR FE, Code Freeze

#22655 [PyTorch FE] Common prefix in PyTorch exceptions.
  src/frontends/pytorch/src/op/add.cpp
  src/frontends/pytorch/src/op/arange.cpp
  src/frontends/pytorch/src/op/as_strided.cpp
  src/frontends/pytorch/src/op/as_tensor.cpp
  src/frontends/pytorch/src/op/avg_poolnd.cpp
  src/frontends/pytorch/src/op/batch_norm.cpp
  src/frontends/pytorch/src/op/cat.cpp
  src/frontends/pytorch/src/op/conv_transposend.cpp
  src/frontends/pytorch/src/op/elu.cpp
  src/frontends/pytorch/src/op/embedding_bag.cpp
  src/frontends/pytorch/src/op/expand.cpp
  src/frontends/pytorch/src/op/eye.cpp
  src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op/gelu.cpp
  src/frontends/pytorch/src/op/get_attr.cpp
  src/frontends/pytorch/src/op/getitem.cpp
  src/frontends/pytorch/src/op/grid_sampler.cpp
  src/frontends/pytorch/src/op/if.cpp
  src/frontends/pytorch/src/op/im2col.cpp
  src/frontends/pytorch/src/op/index.cpp
  src/frontends/pytorch/src/op/layer_norm.cpp
  src/frontends/pytorch/src/op/linspace.cpp
  src/frontends/pytorch/src/op/list_construct.cpp
  src/frontends/pytorch/src/op/list_unpack.cpp
  src/frontends/pytorch/src/op/loop.cpp
  src/frontends/pytorch/src/op/lstm.cpp
  src/frontends/pytorch/src/op/multinomial.cpp
  src/frontends/pytorch/src/op/native_multi_head_attention.cpp
  src/frontends/pytorch/src/op/norm.cpp
  src/frontends/pytorch/src/op/pad.cpp
  src/frontends/pytorch/src/op/pythonop.cpp
  src/frontends/pytorch/src/op/quantized_convnd.cpp
  src/frontends/pytorch/src/op/quantized_linear.cpp
  src/frontends/pytorch/src/op/rand.cpp
  src/frontends/pytorch/src/op/scatter.cpp
  src/frontends/pytorch/src/op/slice.cpp
  src/frontends/pytorch/src/op/to.cpp
  src/frontends/pytorch/src/op/tuple_index.cpp
  src/frontends/pytorch/src/op/upsample.cpp
  src/frontends/pytorch/src/op/where.cpp
  src/frontends/pytorch/src/translate_session.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/ovc_python_api_tests/telemetry/test_pytorch_telemetry.py
Labels: category: MO, category: PyTorch FE

#22690 [LPT] debug info support
  src/common/low_precision_transformations/src/layer_transformation.cpp
  src/common/low_precision_transformations/src/mat_mul.cpp
  src/core/src/node.cpp
Labels: category: Core, category: LP transformations

#22697 Fix names aka locations of operations in TFLite FrontEnd
  src/frontends/tensorflow_lite/src/graph_iterator_flatbuffer.cpp
  src/frontends/tensorflow_lite/src/op/op_translation_utils.hpp
Labels: category: TFL FE

#22544 [TRANSFORMATIONS] Exclude Gather from Mixed prc propagation
  src/common/transformations/src/transformations/fp16_compression/mark_subgraphs_to_keep_in_mixed_precision.cpp
Labels: category: transformations

#22656 Allow OPENVINO_FRAMEWORK_MAP for PyTorch
  src/frontends/common/include/openvino/frontend/extension/op.hpp
Labels: category: Core, category: extensions, category: CPP API

#22263 Added NPU plugin to wheel
  src/bindings/python/wheel/setup.py
Labels: category: Python API, category: dependency_changes, category: packaging

#22409 [CPU] Pastkv cache of SDPA supports int8 type
  cmake/developer_package/cross_compile/cross_compiled_disp_gen.cmake
  cmake/developer_package/cross_compile/cross_compiled_func.cmake
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/src/memory_state.h
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_memcpy.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/softmax_kernel.hpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.h
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/utils/plain_tensor.hpp
Labels: category: CPU, category: build

#22705 Fix hash inconsistency: ignore friendly names for hash calculation
  src/common/transformations/tests/common_optimizations/low_latency_v2_test.cpp
  src/common/transformations/tests/resolve_names_collisions.cpp
  src/core/include/openvino/core/node.hpp
  src/core/src/node.cpp
  src/core/src/pass/serialize.cpp
Labels: bug, category: Core, category: transformations, category: CPP API

#22599 [OV JS] Fix infer async windows compilation
  src/bindings/js/node/README.md
  src/bindings/js/node/include/infer_request.hpp
  src/bindings/js/node/src/infer_request.cpp
  src/bindings/js/node/tests/infer_request.test.js
Labels: category: docs, category: JS API, Code Freeze

#22712 Don't use NPU in Debian / RPM logic
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
Labels: category: build, category: packaging

#22699 [PT FE]: fix aten::sum for uint8 input
  src/frontends/pytorch/src/op/sum.cpp
  tests/layer_tests/pytorch_tests/test_sum.py
Labels: category: PyTorch FE

#22096 Keep compressed constants produced by FW #22095
  src/common/transformations/include/transformations/fp16_compression/mark_decompression_convert_constant_folding.hpp
  src/common/transformations/src/transformations/fp16_compression/mark_decompression_convert_constant_folding.cpp
  src/common/transformations/tests/common_optimizations/compress_float_constants_test.cpp
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow_lite/src/frontend.cpp
  tests/layer_tests/ovc_python_api_tests/test_pytorch.py
  tests/layer_tests/ovc_python_api_tests/test_tf.py
Labels: bug, category: MO, category: transformations, ported to master, category: TF FE, category: PyTorch FE, category: TFL FE

#22617 [GPU] Fix gemm_ref and gemm_tiled_opt
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_tiled_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Labels: category: GPU

#22419 [GPU] Support dynamic for LSTMCell
  src/plugins/intel_gpu/src/graph/lstm_elt.cpp
  src/plugins/intel_gpu/src/plugin/ops/rnn.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/lstmcell.cpp
Labels: category: GPU

#22524 [GPU] Skip if the node type is cpu impl.
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/stateful_model.cpp
Labels: category: GPU

#22669 [GPU] Skip redundant strided slice in stateful model
  src/plugins/intel_gpu/include/intel_gpu/primitives/strided_slice.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/strided_slice_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
Labels: category: GPU

#22716 [GPU] Fix of the processing of negative indices in Gather in dynamic case
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_kernel_ref.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gather_gpu_test.cpp
Labels: category: GPU

#22691 [COMMON] VisualizeTree: constant values reading is more stable
  src/core/src/pass/visualize_tree.cpp
Labels: category: Core

#22703 [GPU] Don't increase rank by reorder before RDFT
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/unit/passes/add_required_reorders_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/reorder_inputs_test.cpp
Labels: category: GPU

#22620 Added extra flatc variables used by NPU
  thirdparty/dependencies.cmake
  thirdparty/flatbuffers/CMakeLists.txt
Labels: category: build, category: dependency_changes

#22717 Deprecated functions to operate with legacy port names
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/op_conversions/convert_matrix_nms_to_matrix_nms_ie.cpp
  src/common/transformations/src/transformations/op_conversions/convert_maxpool_downgrade.cpp
  src/common/transformations/src/transformations/op_conversions/convert_multiclass_nms_to_multiclass_nms_ie.cpp
  src/common/transformations/src/transformations/op_conversions/convert_nms9_to_nms_ie_internal.cpp
  src/common/transformations/src/transformations/op_conversions/convert_nms_rotated_to_nms_ie_internal.cpp
  src/common/transformations/src/transformations/op_conversions/convert_nms_to_nms_ie_internal.cpp
  src/inference/src/dev/icompiled_model.cpp
  src/inference/src/model_reader.cpp
Labels: category: inference, category: transformations, Code Freeze

#22718 [CPU] FuseConvolutionSum: fixed a mistake in dynamic bcast pattern check
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/conv_sum_broadcast.cpp
Labels: bug, category: CPU

#22727 [DOCS] Update to Additional Resources folder for master
  docs/articles_en/about_openvino/additional_resources/Legal_Information.rst
  docs/articles_en/about_openvino/additional_resources/glossary.rst
Labels: category: docs

#22680 [Core] Protect ov::Exception constructor
  src/core/include/openvino/core/except.hpp
  src/core/src/except.cpp
  src/plugins/auto/tests/unit/compile_model_property_test.cpp
  src/plugins/auto/tests/unit/ctput_test.cpp
  src/plugins/auto/tests/unit/include/auto_unit_test.hpp
  src/plugins/auto/tests/unit/parse_meta_device_test.cpp
  src/plugins/auto/tests/unit/release_helper_test.cpp
  src/plugins/auto/tests/unit/runtime_fallback_test.cpp
  src/plugins/auto/tests/unit/select_device_failed_test.cpp
Labels: category: Core, category: AUTO, category: CPP API, Code Freeze

#21934 [Snippets] Fixed iterator comparison from different lists
  src/common/snippets/include/snippets/lowered/loop_manager.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_tail_loop.hpp
  src/common/snippets/src/lowered/loop_manager.cpp
  src/common/snippets/src/lowered/pass/fuse_loops.cpp
  src/common/snippets/src/lowered/pass/init_loops.cpp
  src/common/snippets/src/lowered/pass/insert_buffers.cpp
  src/common/snippets/src/lowered/pass/insert_loops.cpp
  src/common/snippets/src/lowered/pass/insert_tail_loop.cpp
  src/common/snippets/src/lowered/pass/move_result_out_of_loop.cpp
  src/common/snippets/src/lowered/pass/split_loops.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_blocking.cpp
Labels: category: CPU

#22722 Xuejun/set element type private
  .github/workflows/code_snippets.yml
  docs/snippets/CMakeLists.txt
  src/common/snippets/src/op/subgraph.cpp
  src/common/transformations/include/ov_ops/type_relaxed.hpp
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/control_flow/unroll_tensor_iterator.cpp
  src/common/transformations/src/transformations/symbolic_transformations/symbolic_optimizations.cpp
  src/core/dev_api/openvino/core/descriptor_tensor.hpp
  src/core/include/openvino/core/descriptor/tensor.hpp
  src/core/src/descriptor/tensor.cpp
  src/core/src/graph_util.cpp
  src/core/src/node.cpp
  src/core/src/node_output.cpp
  src/core/src/op/type_relaxed.cpp
  src/core/src/preprocess/preprocess_impls.cpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/insert_convert_after_extension.cpp
  src/tests/functional/shared_test_classes/src/subgraph/memory_LSTMCell.cpp
  src/tests/functional/shared_test_classes/src/subgraph/multiple_LSTMCell.cpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_simple.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: build, category: transformations, category: CI, category: ONNX FE, category: CPP API, github_actions, category: docs_snippets

#22538 [Commit slider] Benchmark result validation
  src/plugins/intel_cpu/tools/commit_slider/tests/commit_slider_test.py
  src/plugins/intel_cpu/tools/commit_slider/tests/test_data.py
  src/plugins/intel_cpu/tools/commit_slider/tests/test_util.py
  src/plugins/intel_cpu/tools/commit_slider/tests/tests_res/fbv_bm_no_deg_main.cpp
  src/plugins/intel_cpu/tools/commit_slider/tests/tests_res/fbv_bm_stable_main.cpp
  src/plugins/intel_cpu/tools/commit_slider/tests/tests_res/fbv_bm_unstable_dev_main.cpp
  src/plugins/intel_cpu/tools/commit_slider/tests/tests_res/fbv_bm_unstable_main.cpp
  src/plugins/intel_cpu/tools/commit_slider/tests/tests_res/tests_res.json
  src/plugins/intel_cpu/tools/commit_slider/utils/break_validator.py
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg.json
  src/plugins/intel_cpu/tools/commit_slider/utils/common_mode.py
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
  src/plugins/intel_cpu/tools/commit_slider/utils/log_parser.py
  src/plugins/intel_cpu/tools/commit_slider/utils/map_builder.py
  src/plugins/intel_cpu/tools/commit_slider/utils/modes.py
Labels: category: CPU

#22735 [GHA] Increase timeout for Conformance tests
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#22728 Removed AddOldApiMapToParameters during FP16 weights compression
  src/common/transformations/include/transformations/common_optimizations/compress_float_constants.hpp
  src/common/transformations/src/transformations/common_optimizations/compress_float_constants.cpp
Labels: category: transformations, Code Freeze

#22611 remove flake8-commas requirement
  src/bindings/python/requirements_test.txt
Labels: category: Python API, category: dependency_changes, ported to master

#22565 [DOCS] port and fix reviews for 22356 and 22410
  docs/articles_en/about_openvino/performance_benchmarks.rst
  docs/articles_en/documentation/openvino_ir/operation_sets/operations_specifications.rst
  docs/articles_en/documentation/openvino_ir/operation_sets/operations_specifications/infrastructure/Assign_6.rst
  docs/articles_en/documentation/openvino_ir/operation_sets/operations_specifications/infrastructure/ReadValue_6.rst
  docs/articles_en/documentation/openvino_ir/operation_sets/operations_specifications/sort/MulticlassNonMaxSuppression_9.rst
  docs/articles_en/openvino_workflow/gen_ai.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/Device_Plugins/CPU.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/inference_modes_overview/auto_device_selection.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/model_state_intro.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/model_state_intro/lowlatency2.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/stateful_models_intro.rst
  docs/articles_en/openvino_workflow/running_inference_with_openvino/stateful_models_intro/ways_to_get_stateful_model.rst
  docs/snippets/ov_model_with_state_infer.cpp
  docs/snippets/ov_stateful_models_intro.cpp
  docs/sphinx_setup/_static/images/make_stateful_detailed.png
  docs/sphinx_setup/_static/images/make_stateful_simple.svg
  docs/sphinx_setup/_static/images/stateful_model_example.svg
  docs/sphinx_setup/_static/images/stateful_model_init_subgraph.svg
Labels: category: docs, category: docs_snippets

#22711 Enable benchmark_app tests
  .github/workflows/job_samples_tests.yml
  .github/workflows/windows.yml
  tests/samples_tests/smoke_tests/README.md
  tests/samples_tests/smoke_tests/common/common_utils.py
  tests/samples_tests/smoke_tests/common/samples_common_test_class.py
  tests/samples_tests/smoke_tests/test_benchmark_app.py
Labels: category: samples, category: CI, category: docs, github_actions

#22743 [GPU] Fix crash of strided_slice when input shape data is INT_MAX
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
Labels: category: GPU

#22721 [GPU] Exclude gemm from async compilation if the primimtive's dynamic impl is optimized kernel.
  src/plugins/intel_gpu/src/graph/compilation_context.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#22755 [DOCS] tiny fix for ovms linking
  docs/articles_en/openvino_workflow/running_inference_with_openvino/stateful_models_intro.rst
Labels: category: docs

#22706 LPT tests relax skiped tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: IE Tests, category: CPU, conformance

#22756 [DOCS] tiny fix for ovms linking port
  docs/articles_en/openvino_workflow/running_inference_with_openvino/stateful_models_intro.rst
Labels: category: docs

#22752 [TF FE] Fixed reading of string attributes in TF Decoder
  src/bindings/python/src/openvino/frontend/tensorflow/node_decoder.py
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  tests/model_hub_tests/tf_hub_tests/precommit_models
Labels: category: Python API, category: TF FE

#22686 [Op][String][Ref] Extend Concat op reference to support string type
  src/core/reference/include/openvino/reference/concat.hpp
  src/core/reference/src/op/concat.cpp
  src/core/src/op/concat.cpp
  src/core/tests/eval.cpp
  src/plugins/intel_cpu/src/nodes/concat.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/concat.cpp
  src/plugins/template/tests/functional/op_reference/concat.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/concat.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_op/concat.hpp
  src/tests/functional/shared_test_classes/src/single_op/concat.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: TEMPLATE, Code Freeze

#22744 Move test_sync_benchmark and test_throughput_benchmark
  .github/workflows/job_samples_tests.yml
  .github/workflows/windows.yml
  tests/samples_tests/smoke_tests/README.md
  tests/samples_tests/smoke_tests/common/common_comparations.py
  tests/samples_tests/smoke_tests/common/samples_common_test_class.py
  tests/samples_tests/smoke_tests/common/specific_samples_parsers.py
  tests/samples_tests/smoke_tests/common/threshold_utils.py
  tests/samples_tests/smoke_tests/conftest.py
  tests/samples_tests/smoke_tests/requirements.txt
  tests/samples_tests/smoke_tests/test_benchmark_app.py
  tests/samples_tests/smoke_tests/test_classification_sample_async.py
  tests/samples_tests/smoke_tests/test_hello_query_device.py
  tests/samples_tests/smoke_tests/test_model_creation_sample.py
  tests/samples_tests/smoke_tests/test_sync_benchmark.py
  tests/samples_tests/smoke_tests/test_throughput_benchmark.py
Labels: category: samples, category: CI, category: docs, category: dependency_changes, github_actions

#22763 [DOCS] Porting selector tool update and describing dict support
  docs/articles_en/get_started/installing-openvino-overview.rst
  docs/articles_en/openvino_workflow/model_preparation/Convert_Model_From_PyTorch.rst
  docs/sphinx_setup/_static/selector-tool/assets/icons-regular-7c563649.woff2
  docs/sphinx_setup/_static/selector-tool/assets/intelone-bodytext-font-family-medium-a08af450.woff2
  docs/sphinx_setup/_static/selector-tool/assets/intelone-bodytext-font-family-regular-8fde65a1.woff2
  docs/sphinx_setup/_static/selector-tool/assets/selector-20fd1edb.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-5c3f26d1.css
  docs/sphinx_setup/_static/selector-tool/assets/selector-a91b1d3d.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-c365ac1e.css
  docs/sphinx_setup/_static/selector-tool/selector-6ad56e0.html
Labels: category: docs

#22759 [IE] Throw if empty context on model import
  src/inference/src/dev/core_impl.cpp
  src/inference/tests/functional/import_model.cpp
Labels: category: inference

#22734 [PyOV] Add missing is_shared flag in memory sharing scenarios
  src/bindings/python/src/openvino/runtime/utils/data_helpers/data_dispatcher.py
  src/bindings/python/tests/test_utils/test_data_dispatch.py
  src/bindings/python/tests/utils/helpers.py
Labels: bug, category: Python API, Code Freeze

#22748 [GPU] Allow cpu impl to be skipped
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/stateful_model.cpp
Labels: category: GPU

#22769 [GPU] Use explicit output indexes in the tr_matmul_tr transformation pass
  src/plugins/intel_gpu/src/plugin/transformations/transpose_matmul_fusion.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#22746 Remove property with string for 1.0
  samples/cpp/benchmark_app/utils.cpp
  src/inference/src/dev/core_impl.cpp
Labels: category: inference, category: samples

#22768 [GPU] Fix rms not to be fused if the size of target dimension is > WGS
  src/plugins/intel_gpu/src/graph/impls/ocl/rms.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_bfyx_opt.h
  src/plugins/intel_gpu/src/plugin/transformations/rms_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/rms_fusion.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/unit/transformations/rms_norm_decomposition_test.cpp
Labels: category: GPU

#22774 Unset HAVE_ZLIB which can be set by external projects
  thirdparty/protobuf/CMakeLists.txt
Labels: category: build

#22772 [TF FE] Report uninitialised variable in case TFVariable remains
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/variable.hpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/tests/convert_tricky_models.cpp
  src/frontends/tensorflow/tests/convert_unsupported.cpp
  src/frontends/tensorflow/tests/test_models/gen_scripts/generate_unitialized_variablev2.py
  src/frontends/tensorflow/tests/tf_utils.cpp
  src/frontends/tensorflow/tests/tf_utils.hpp
Labels: category: TF FE, category: CPP API, Code Freeze

#22776 Fixed performance of CPU ShapeInferFallback case
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
Labels: category: CPU, Code Freeze

#22766 tests/samples_tests/smoke_tests: enable multiprocessing testing
  .github/workflows/job_samples_tests.yml
  .github/workflows/windows.yml
  samples/cpp/model_creation_sample/README.md
  samples/python/classification_sample_async/README.md
  samples/python/model_creation_sample/README.md
  tests/samples_tests/smoke_tests/README.md
  tests/samples_tests/smoke_tests/common/common_utils.py
  tests/samples_tests/smoke_tests/common/samples_common_test_class.py
  tests/samples_tests/smoke_tests/conftest.py
  tests/samples_tests/smoke_tests/env_config.yml
  tests/samples_tests/smoke_tests/requirements.txt
  tests/samples_tests/smoke_tests/test_benchmark_app.py
  tests/samples_tests/smoke_tests/test_classification_sample_async.py
  tests/samples_tests/smoke_tests/test_hello_classification.py
  tests/samples_tests/smoke_tests/test_hello_nv12_input_classification.py
  tests/samples_tests/smoke_tests/test_hello_query_device.py
  tests/samples_tests/smoke_tests/test_hello_reshape_ssd.py
  tests/samples_tests/smoke_tests/test_model_creation_sample.py
  tests/samples_tests/smoke_tests/test_sync_benchmark.py
  tests/samples_tests/smoke_tests/test_throughput_benchmark.py
Labels: category: samples, category: CI, category: docs, category: dependency_changes, github_actions

#22777 [CPU][Snippets] Fixed thread count per stream in tokenization config
  src/inference/dev_api/openvino/runtime/threading/istreams_executor.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: inference, category: CPU, Code Freeze

#22778 [TF FE] Support Gather for string tensors
  tests/layer_tests/common/layer_test_class.py
  tests/layer_tests/common/utils/common_utils.py
  tests/layer_tests/tensorflow_tests/test_tf_Gather.py
Labels: category: TF FE, no-match-files

#22679 [Op][String][Ref]Extend Reshape op reference to support string type
  src/core/reference/include/openvino/reference/reshape.hpp
  src/core/src/op/reshape.cpp
  src/core/tests/eval.cpp
  src/plugins/template/tests/functional/op_reference/reshape.cpp
Labels: category: Core, category: TEMPLATE, Code Freeze

#22764 [PT FE]: support boolean input in aten::all
  src/frontends/pytorch/src/op/all.cpp
  tests/layer_tests/pytorch_tests/test_all.py
Labels: category: PyTorch FE

#22781 [OVC] Removed wrong text from extension parameter description.
  tools/ovc/openvino/tools/ovc/convert.py
  tools/ovc/openvino/tools/ovc/help.py
Labels: category: MO

#22789 Disable numprocesses for Linux because jobs for d9714ee failed
  .github/workflows/job_samples_tests.yml
  tests/samples_tests/smoke_tests/common/samples_common_test_class.py
Labels: category: samples, category: CI, github_actions

#22762 [GHA] Add common status for OVC pipeline
  .github/workflows/ovc.yml
Labels: category: CI, github_actions

#22790 [OVC] Removed not needed checks of extension parameter.
  tools/ovc/openvino/tools/ovc/cli_parser.py
  tools/ovc/openvino/tools/ovc/convert_impl.py
  tools/ovc/openvino/tools/ovc/help.py
  tools/ovc/openvino/tools/ovc/moc_frontend/check_config.py
  tools/ovc/unit_tests/ovc/utils/cli_parser_test.py
Labels: category: MO, Code Freeze

#22672 [CPU] Slice & Interpolate preprocess optimization
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/permute_slice_n_interpolation.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/permute_slice_n_interpolation.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/unit/transformations/permute_slice_n_interpolation.cpp
Labels: category: CPU

#22359 [OV JS] Download binaries
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
  src/bindings/js/node/scripts/download_runtime.js
Labels: category: JS API

#22567 [GPU] Update dft to use ngraph shape inference
  src/plugins/intel_gpu/include/intel_gpu/primitives/dft.hpp
  src/plugins/intel_gpu/src/graph/dft.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/dft.cpp
  src/plugins/intel_gpu/src/graph/include/dft_inst.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/dft/dft_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/ops/dft.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/dft.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/dft_si_test.cpp
Labels: category: GPU

#22798 [GPU] Fixes for gemm and border
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/border_gpu_ref.cl
  src/plugins/intel_gpu/src/plugin/transformations/transpose_matmul_fusion.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/border_gpu_test.cpp
Labels: category: GPU
