Repository openvinotoolkit/openvino, pull requests merged in 2024-03, with the labels that each got.

#23161 Map configuration to API 2.0 properties
  docs/articles_en/documentation/openvino_legacy_features/api_2_0_transition_guide/configure_devices.rst
Labels: category: docs

#23023 Fix use of `OPENVINO_ASSERT`
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/eltwise/eltwise_kernel_blocked_opt.cpp
  src/plugins/intel_gpu/src/plugin/ops/scatter_elements_update.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reshape_gpu_test.cpp
Labels: category: GPU, category: Python API

#23171 [DOCS] Adding npm distribution to install guides for 24.0
  docs/articles_en/get-started/install-openvino/install-openvino-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-npm.rst
  docs/articles_en/get-started/install-openvino/install-openvino-windows.rst
  docs/sphinx_setup/api/nodejs_api/nodejs_api.rst
Labels: category: docs

#23116 Fix timm filter and run timm models in parallel
  .github/workflows/job_pytorch_models_tests.yml
  tests/model_hub_tests/pytorch/hf_transformers_models
  tests/model_hub_tests/pytorch/test_aliked.py
  tests/model_hub_tests/pytorch/test_detectron2.py
  tests/model_hub_tests/pytorch/test_edsr.py
  tests/model_hub_tests/pytorch/test_gfpgan.py
  tests/model_hub_tests/pytorch/test_hf_transformers.py
  tests/model_hub_tests/pytorch/test_speech-transformer.py
  tests/model_hub_tests/pytorch/test_timm.py
  tests/model_hub_tests/pytorch/test_torchbench.py
  tests/model_hub_tests/pytorch/test_torchvision_models.py
  tests/model_hub_tests/pytorch/test_tpsmm.py
  tests/model_hub_tests/pytorch/timm_models
Labels: category: CI, github_actions, category: PyTorch FE

#23096 Add information about ONNX backend to the docs
  docs/articles_en/openvino-workflow/model-optimization-guide/quantizing-models-post-training/quantizing-with-accuracy-control.rst
  docs/optimization_guide/nncf/ptq/code/ptq_aa_onnx.py
Labels: category: docs

#22988 [PyAPI][Opset14] Python API ConvertPromoteTypes-14
  src/bindings/python/src/openvino/runtime/opset14/__init__.py
  src/bindings/python/src/openvino/runtime/opset14/ops.py
  src/bindings/python/tests/test_graph/test_convert_promote_types.py
Labels: category: Python API, category: Opset

#23187 [DOCS] Linkfix for Get Started section + removal of GPU drivers table in configurations for 2024
  docs/articles_en/get-started.rst
  docs/articles_en/get-started/configurations/configurations-intel-gpu.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-brew.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conan.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
  docs/articles_en/get-started/install-openvino/install-openvino-vcpkg.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
Labels: category: docs

#23188 [DOCS] 2024 linking and adjustments
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operations-specifications/infrastructure/assign-6.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operations-specifications/infrastructure/read-value-6.rst
  docs/articles_en/openvino-workflow/generative-ai-models-guide.rst
  docs/articles_en/openvino-workflow/running-inference.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/auto-device-selection.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models/obtaining-stateful-openvino-model.rst
  docs/articles_en/openvino-workflow/running-inference/string-tensors.rst
  docs/articles_en/openvino-workflow/torch-compile.rst
  docs/home.rst
Labels: category: docs

#23197 [TF FE] Switch on layer test for LookupTableFindV2 with string key
  tests/layer_tests/tensorflow_tests/test_tf_LookupTableFind.py
Labels: category: TF FE

#23175 Fix includes in dev api for conan integration
  src/inference/src/dev/make_tensor.cpp
Labels: category: inference

#23101 [GPU] update layout.compatible() to check false conditions first
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/layout_test.cpp
Labels: category: GPU

#23168 Enable skipped tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
Labels: category: CPU, category: TEMPLATE

#23085 [TF FE] Support complex type for Inv
  src/frontends/tensorflow_common/src/op/inv.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Inv.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#23106 [Coverity] In IStreamsExecutor::Config use move instead copy
  src/inference/dev_api/openvino/runtime/threading/istreams_executor.hpp
Labels: category: inference

#22938 Fix performance regression of conformance tests
  .github/workflows/linux.yml
  src/inference/src/dev/threading/istreams_executor.cpp
  src/inference/tests/unit/make_default_multi_threaded_test.cpp
Labels: category: inference, category: CI, github_actions

#23156 add get_streams_info_table() test cases for 4 cores and 8 cores CPUs
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
Labels: category: CPU

#23186 [DOCS][OV JS] Update JS API readme (#23138)
  samples/js/node/README.md
  samples/js/node/classification_sample_async/README.md
  samples/js/node/hello_classification/README.md
  samples/js/node/hello_reshape_ssd/README.md
  src/bindings/README.md
  src/bindings/js/README.md
  src/bindings/js/docs/README.md
  src/bindings/js/node/.npmignore
  src/bindings/js/node/README.md
  src/bindings/js/node/package-lock.json
Labels: category: samples, category: docs, category: JS API

#22935 [GPU]: Slice op supports dynamic shapes
  src/plugins/intel_gpu/src/graph/impls/ocl/slice.cpp
  src/plugins/intel_gpu/src/graph/include/slice_inst.h
  src/plugins/intel_gpu/src/graph/slice.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/slice_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/slice/slice_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/slice/slice_kernel_ref.h
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/slice.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/slice_gpu_test.cpp
Labels: category: GPU

#23048 [Ref] Concat op reference implementation code improvements
  src/core/reference/include/openvino/reference/concat.hpp
  src/core/reference/src/op/concat.cpp
  src/core/src/op/concat.cpp
Labels: category: Core

#23052 [TEMPLATE] GridSample in template plugin supports more precisions
  src/core/reference/include/openvino/reference/grid_sample.hpp
  src/plugins/template/backend/ops/grid_sample.cpp
  src/plugins/template/tests/functional/op_reference/grid_sample.cpp
Labels: category: Core, category: TEMPLATE

#23185 [OV JS] Fix typescript method definition
  src/bindings/js/node/lib/addon.ts
Labels: category: JS API

#23196 [DOCS] Add information about ONNX backend to the docs for 2024
  docs/articles_en/openvino-workflow/model-optimization-guide/quantizing-models-post-training/quantizing-with-accuracy-control.rst
  docs/optimization_guide/nncf/ptq/code/ptq_aa_onnx.py
Labels: category: docs

#23242 [DOCS] Linking issues fix in Legacy Features for 24.0
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-onnx-faster-r-cnn.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-onnx-gpt-2.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-onnx-mask-r-cnn.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-bert-ner.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-cascade-rcnn-r-101.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-f3-net.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-quartz-net.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-rcan.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-rnn-t.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-yolact.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-attention-ocr.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-bert.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-crnn.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-deep-speech.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-language-1b.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-ncf.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-object-detection.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-slim-library.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-xlnet.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-yolo.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensroflow-wide-and-deep-family.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-convert-paddle.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-convert-tensorflow.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-model-optimizer-extensibility/[legacy]-extending-model-optimizer-with-caffe-python-layers.rst
Labels: category: docs

#23257 [DOCS] Fixing incorrect references and phrases for 24.0
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-wide-and-deep-family.rst
  docs/articles_en/documentation/openvino-ecosystem.rst
  docs/articles_en/documentation/openvino-ecosystem/datumaro.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-training-extensions.rst
  docs/articles_en/documentation/openvino-extensibility/frontend-extensions.rst
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/plugin.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/troubleshooting-install-config.rst
  docs/articles_en/learn-openvino/openvino-samples/benchmark-tool.rst
  docs/articles_en/learn-openvino/openvino-samples/get-started-demos.rst
Labels: category: docs

#23259 [DOCS] Linkfix for Sample Applications (Python & C++) & Generative AI Optimization and Deployment sections for 2024
  docs/articles_en/learn-openvino/openvino-samples/hello-classification.rst
  docs/articles_en/learn-openvino/openvino-samples/hello-nv12-input-classification.rst
  docs/articles_en/learn-openvino/openvino-samples/hello-reshape-ssd.rst
  docs/articles_en/learn-openvino/openvino-samples/image-classification-async.rst
  docs/articles_en/learn-openvino/openvino-samples/sync-benchmark.rst
  docs/articles_en/learn-openvino/openvino-samples/throughput-benchmark.rst
  docs/articles_en/openvino-workflow/generative-ai-models-guide.rst
Labels: category: docs

#23200 [PT FE] Support aten::log_sigmoid
  src/frontends/pytorch/src/op/log.cpp
  src/frontends/pytorch/src/op/reciprocal.cpp
  src/frontends/pytorch/src/op/rsqrt.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/pytorch_tests/test_erf.py
  tests/layer_tests/pytorch_tests/test_erfc.py
  tests/layer_tests/pytorch_tests/test_expm1.py
  tests/layer_tests/pytorch_tests/test_log.py
  tests/layer_tests/pytorch_tests/test_relu6.py
  tests/layer_tests/pytorch_tests/test_selu.py
  tests/layer_tests/pytorch_tests/test_silu.py
  tests/layer_tests/pytorch_tests/test_unary_ops.py
Labels: category: PyTorch FE

#23262 [DOCS] Change install links
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conan.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
Labels: category: docs

#23260 Update Selector Tool NPM installation instructions link
  docs/articles_en/get-started/install-openvino.rst
  docs/sphinx_setup/_static/selector-tool/assets/selector-327a166e.js
  docs/sphinx_setup/_static/selector-tool/selector-c398038.html
Labels: category: docs

#22002 [ONNX] Extend ONNX Frontend with Function `Celu-12`
  src/frontends/onnx/frontend/src/core/transform.hpp
  src/frontends/onnx/frontend/src/op/celu.cpp
  src/frontends/onnx/frontend/src/op/celu.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/tests/models/celu_float.prototxt
  src/frontends/onnx/tests/models/celu_float_alpha.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Labels: ExternalPR, category: ONNX FE

#23153 [CPU]Remove unsupport clang option.
  src/plugins/intel_cpu/CMakeLists.txt
Labels: category: CPU, category: build

#23268 [CPU] RoPE added to extension list.
  src/plugins/intel_cpu/src/extension.cpp
Labels: category: CPU

#23271 [DOCS] Update distribution comparison table for 24.0
  docs/articles_en/get-started/install-openvino.rst
Labels: category: docs

#23255 Removed usage of matrix param in TF models tests job.
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#23273 [DOCS] Update link to API for 24.0
  docs/articles_en/get-started/install-openvino/install-openvino-npm.rst
Labels: category: docs

#23146 [core] Optimize ScatterElementsUpdate reference implementation binary size
  src/core/reference/include/openvino/reference/scatter_elements_update.hpp
  src/plugins/template/tests/functional/op_reference/scatter_elements_update.cpp
Labels: category: Core, category: TEMPLATE

#23277 [DOCS] Update distribution comparison for 24.0
  docs/articles_en/get-started/install-openvino.rst
Labels: category: docs

#23278 [DOCS] Fixes for OpenVINO Workflow for 2024
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/filter-pruning.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-paddle.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/multi-device.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-latency.rst
Labels: category: docs

#23051 Delete check that ReadValue/Assign operations have to be in pair in ov::Model
  src/core/src/model.cpp
Labels: category: Core

#23258 [DOCS] 2024 release notes
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/about-openvino/system-requirements.rst
Labels: category: docs

#23280 [DOCS] 2024 benchmark fix
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
Labels: category: docs, WIP

#23254 [CPU] Fix segfault in `dump_graph_as_ie_ngraph_net()`
  src/plugins/intel_cpu/src/graph_dumper.cpp
Labels: category: CPU

#23144 [GPU] Internal Convolution op and asymmetric quantization fusion pass
  src/plugins/intel_gpu/include/intel_gpu/op/convolution.hpp
  src/plugins/intel_gpu/include/intel_gpu/op/placeholder.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
  src/plugins/intel_gpu/src/plugin/ops/placeholder.cpp
  src/plugins/intel_gpu/src/plugin/program_builder.cpp
  src/plugins/intel_gpu/src/plugin/transformations/bcast_and_pad_zp_buffers.cpp
  src/plugins/intel_gpu/src/plugin/transformations/bcast_and_pad_zp_buffers.hpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_convolution.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_convolution.hpp
  src/plugins/intel_gpu/src/plugin/transformations/op/convolution.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/placeholder.cpp
  src/plugins/intel_gpu/src/plugin/transformations/utils.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/low_precision_transformations/convolution_qdq_transformation.cpp
  src/plugins/intel_gpu/tests/unit/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_quantization.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/bcast_and_pad_zp_buffers_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/convert_convolution_test.cpp
Labels: category: GPU

#23282 [TF FE] Switch on layer tests for StringSplitV2
  tests/layer_tests/tensorflow_tests/test_tf_StringSplitV2.py
Labels: category: TF FE

#23284 [PyOV] convert ExecutionMode enum to any
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/tests/test_runtime/test_core.py
Labels: bug, category: Python API, port to 2023.3

#23275 [CI] [GHA] Transition to `gcc-10` in the Linux ARM workflow
  .github/workflows/linux_arm64.yml
Labels: category: CI, github_actions

#23294 DOCS temporary benchmark update for 2024.0
  docs/sphinx_setup/_static/js/graphs.js
Labels: category: docs

#23295 [DOCS] final release polishing
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
Labels: category: docs

#22841 Test acutal model
  .github/workflows/job_samples_tests.yml
  samples/cpp/classification_sample_async/main.cpp
  samples/cpp/hello_classification/main.cpp
  samples/python/classification_sample_async/classification_sample_async.py
  tests/samples_tests/smoke_tests/common/common_utils.py
  tests/samples_tests/smoke_tests/common/samples_common_test_class.py
  tests/samples_tests/smoke_tests/test_benchmark_app.py
  tests/samples_tests/smoke_tests/test_classification_sample_async.py
  tests/samples_tests/smoke_tests/test_hello_classification.py
  tests/samples_tests/smoke_tests/test_hello_nv12_input_classification.py
  tests/samples_tests/smoke_tests/test_hello_reshape_ssd.py
  tests/samples_tests/smoke_tests/test_sync_benchmark.py
  tests/samples_tests/smoke_tests/test_throughput_benchmark.py
Labels: category: samples, category: CI, github_actions

#22626 [HETERO] Remove ConstantFolding of model in hetero
  src/plugins/hetero/src/compiled_model.cpp
  src/plugins/hetero/tests/unit/subgraph_collector.cpp
Labels: category: HETERO

#23290 Support dyn shapes in BatchNormDecomposition transformation
  src/common/transformations/src/transformations/op_conversions/batch_norm_decomposition.cpp
  src/common/transformations/tests/op_conversions/batch_norm_decomposition_test.cpp
Labels: bug, category: transformations

#23299 [TF FE] Remove paraphrase model from precommit
  tests/model_hub_tests/tensorflow/model_lists/precommit
Labels: category: TF FE

#23296 [PyOV] Cherry-picked convert ExecutionMode enum to any
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/tests/test_runtime/test_core.py
Labels: bug, category: Python API, ported to master

#23174 [Fix] Unexpected exception information of BATCH plugin
  src/inference/src/dev/device_id_parser.cpp
  src/inference/tests/unit/core.cpp
Labels: category: inference, ExternalPR

#23081 Fix the issue caused by the changed tensor names after complex transformation
  src/inference/src/dev/isync_infer_request.cpp
  src/inference/tests/unit/iplugin_test.cpp
Labels: category: inference, port to 2023.3

#23270 [GPU] Skip Depth To Space fusing when dynamic shape and skip broadcastable check in select typed_primitive_inst() when new shape infer
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/select.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/select.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_primitive_fusing_test.cpp
Labels: category: GPU

#23092 [DOCS] LLMS docs update
  docs/articles_en/learn-openvino.rst
  docs/articles_en/learn-openvino/large-language-models/llm-inference-hf.rst
  docs/articles_en/learn-openvino/large-language-models/llm-inference-native-ov.rst
  docs/articles_en/learn-openvino/large-language-models/ov-api-vs-optimum.rst
  docs/articles_en/openvino-workflow/generative-ai-models-guide.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models-intro.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models-intro/obtaining-stateful-openvino-model.rst
  docs/home.rst
Labels: category: docs

#22977 [GPU] Improve memory pool access performance
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory_pool.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/basic_memory_dependencies.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/runtime/memory_pool.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/skip_redundant_reorder_at_runtime.cpp
Labels: category: GPU

#23071 Add check to the validity of device name in `ov::Core{}.compile_model`
  src/inference/src/dev/core_impl.cpp
  src/inference/tests/unit/core.cpp
Labels: category: inference

#23341 Updated LLM guide
  docs/articles_en/learn-openvino/large-language-models/llm-inference-hf.rst
Labels: category: docs

#23300 [DOCS] Fixing references to articles
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-convert-models-as-python-objects.rst
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/advanced-guides/low-precision-transformations/step3-main.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models.rst
Labels: category: docs

#23339 Update port name checking logic to 2023.3
  src/inference/src/dev/isync_infer_request.cpp
  src/inference/tests/unit/iplugin_test.cpp
Labels: category: inference, ported to master

#23335 [TF FE] Switch on layer test for RaggedTensorToTensor
  tests/layer_tests/tensorflow_tests/test_tf_RaggedTensorToTensor.py
Labels: category: TF FE

#23305 [OV JS] Fix package.json files (#23304)
  samples/js/node/package-lock.json
  samples/js/node/package.json
  src/bindings/js/node/package.json
Labels: category: samples, category: JS API

#22978 [PT FE] aten::dot operation
  src/frontends/pytorch/src/op/dot.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_dot.py
Labels: ExternalPR, category: PyTorch FE

#23347 [DOCS] Link fix for Automatic Device Selection for 2024
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/auto-device-selection.rst
Labels: category: docs

#23350 Revert "Delete opset headers from transformations/utils"
  src/common/offline_transformations/src/compress_quantize_weigths.cpp
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/common_optimizations/eliminate_unsqueeze_gather.cpp
  src/common/transformations/src/transformations/common_optimizations/fold_subgraph_empty_inputs.cpp
  src/common/transformations/src/transformations/common_optimizations/gelu_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/mark_precision_sensitive_shapeof_subgraphs.cpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/src/transformations/common_optimizations/pull_through_reduce.cpp
  src/common/transformations/src/transformations/common_optimizations/reduce_reshape_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/skip_gather_before_transpose_and_reshape.cpp
  src/common/transformations/src/transformations/common_optimizations/strides_optimization.cpp
  src/common/transformations/src/transformations/common_optimizations/transpose_sinking.cpp
  src/common/transformations/src/transformations/flush_fp32_subnormals_to_zero.cpp
  src/common/transformations/src/transformations/op_conversions/convert_nms_rotated_to_nms_ie_internal.cpp
  src/common/transformations/src/transformations/op_conversions/convert_ti_to_sequences.cpp
  src/common/transformations/src/transformations/op_conversions/group_normalization_decomposition.cpp
  src/common/transformations/src/transformations/symbolic_transformations/dereshape_matmul.cpp
  src/common/transformations/src/transformations/symbolic_transformations/reshape_optimizations.cpp
  src/common/transformations/src/transformations/utils/utils.cpp
  src/common/transformations/tests/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/tests/common_optimizations/gelu_fusion.cpp
  src/common/transformations/tests/common_optimizations/nop_elimination.cpp
  src/common/transformations/tests/op_conversions/convert_subtract.cpp
  src/common/transformations/tests/symbolic_transformations/dereshape_matmul.cpp
  src/common/transformations/tests/transpose_sinking/ts_reset_no_sinking_attribute.cpp
  src/core/tests/pass/constant_folding.cpp
  src/frontends/tensorflow_common/src/helper_transforms/embedding_segments_feature_fusing.cpp
  src/frontends/tensorflow_common/src/helper_transforms/gru_block_cell_replacer.cpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/tests/unit/dynamic_output_test.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/src/nodes/split.cpp
  src/plugins/intel_cpu/src/nodes/tensoriterator.cpp
  src/plugins/intel_cpu/src/transformations/utils.cpp
  src/plugins/intel_cpu/src/utils/ngraph_utils.hpp
  src/plugins/intel_cpu/tests/unit/transformations/arm/convert_group_conv.cpp
  src/plugins/intel_cpu/tests/unit/transformations/arm/convert_group_conv1d.cpp
  src/plugins/intel_gpu/src/plugin/ops/eltwise.cpp
  src/plugins/intel_gpu/src/plugin/ops/loop.cpp
  src/plugins/intel_gpu/src/plugin/ops/unary.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_fc_to_compressed.cpp
  src/plugins/intel_gpu/src/plugin/transformations/indirect_kv_cache.cpp
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_fusion.cpp
  src/plugins/intel_gpu/tests/unit/transformations/clamp_fp16_output_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/convert_binary_conv_to_conv_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/indirect_kv_cache_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/kv_cache_fusion_test.cpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_mha.cpp
Labels: category: Core, category: IE Tests, category: GPU, category: CPU, category: transformations, category: AUTO, category: TF FE, category: TFL FE

#23285 [CPU] [ARM64] jit subtract
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
Labels: category: CPU

#23084 Get rid of `ov_models`
  src/tests/functional/plugin/shared/CMakeLists.txt
  src/tests/functional/plugin/shared/include/single_layer_tests/softmax.hpp
  src/tests/ov_helpers/CMakeLists.txt
  src/tests/ov_helpers/ov_models/CMakeLists.txt
  src/tests/ov_helpers/ov_models/include/ov_models/preprocess/preprocess_builders.hpp
  src/tests/ov_helpers/ov_models/include/ov_models/utils/data_utils.hpp
  src/tests/ov_helpers/ov_models/src/precomp.hpp
  src/tests/ov_helpers/ov_models/src/preprocess_builders.cpp
Labels: category: IE Tests, category: build

#23307 [CPU] Reduce overhead of the executor storage
  src/plugins/intel_cpu/src/nodes/executors/executor_factory.hpp
Labels: category: CPU

#23367 [DOCS] Fix of home tab title for 2023.3
  docs/home.rst
Labels: category: docs

#23348 [DOCS] port llm articles merged into old master pr1
  docs/articles_en/learn-openvino.rst
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
  docs/articles_en/openvino-workflow/generative-ai-models-guide.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models/obtaining-stateful-openvino-model.rst
  docs/home.rst
Labels: category: docs

#23143 Fix convert_to_supported_precision for TypeRelaxed types
  src/core/dev_api/openvino/core/constant_fold_utils.hpp
  src/core/src/constant_fold_utils.cpp
  src/core/src/pass/constant_folding.cpp
  src/core/tests/pass/constant_folding.cpp
Labels: category: Core

#22845 [GPU] Defer updating memory of reshape after execution if it is static-shaped and its input memory is null
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reshape_gpu_test.cpp
Labels: category: GPU

#23333 [DOCS] Fixing formatting and reference issues for 24.0
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-gnmt.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-model-optimizer-extensibility/[legacy]-model-optimizer-extensions/[legacy]-graph-transformation-extensions.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
  docs/articles_en/documentation/openvino-extensibility/custom-gpu-operations.rst
  docs/articles_en/documentation/openvino-extensibility/custom-openvino-operations.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/augru-cell.md
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/augru-cell.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/augru-sequence.md
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/augru-sequence.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/depth-to-space-1.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/space-to-depth-1.rst
  docs/articles_en/get-started/configurations/configurations-intel-gpu.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/openvino-workflow/running-inference/changing-input-shape.rst
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application.rst
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application/model-representation.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-latency.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models/obtaining-stateful-openvino-model.rst
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Core.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CoreConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/SupportedTypedArray.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/elementTypeString.rst
Labels: category: docs

#23195 [DOCS] Add Node.js docs to API for master
  docs/sphinx_setup/api/api_reference.rst
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/nodejs_api.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Core.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CoreConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/SupportedTypedArray.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/elementTypeString.rst
Labels: category: docs

#23398 [DOCS] Update distribution comparison table
  docs/articles_en/get-started/install-openvino.rst
Labels: category: docs

#23317 [GPU] Implement bias on internal FC op
  src/plugins/intel_gpu/include/intel_gpu/op/fully_connected.hpp
  src/plugins/intel_gpu/include/intel_gpu/op/fully_connected_compressed.hpp
  src/plugins/intel_gpu/src/plugin/ops/fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_fc_to_compressed.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_matmul_to_fc.cpp
  src/plugins/intel_gpu/src/plugin/transformations/fc_convert_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/move_fc_reshape_to_weights.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/fully_connected.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/fully_connected_compressed.cpp
  src/plugins/intel_gpu/tests/unit/transformations/convert_fc_to_compressed_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/convert_matmul_to_fc_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/fc_convert_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/move_fc_reshape_to_weights.cpp
Labels: category: GPU

#23405 [DOCS] Fixing formatting and reference issues
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-convert-models-as-python-objects.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-tensorflow-gnmt.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-model-optimizer-extensibility/[legacy]-model-optimizer-extensions/[legacy]-graph-transformation-extensions.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
  docs/articles_en/documentation/openvino-extensibility/custom-gpu-operations.rst
  docs/articles_en/documentation/openvino-extensibility/custom-openvino-operations.rst
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/advanced-guides/low-precision-transformations/step3-main.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/augru-cell.md
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/augru-cell.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/augru-sequence.md
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/augru-sequence.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/depth-to-space-1.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/space-to-depth-1.rst
  docs/articles_en/get-started/configurations/configurations-intel-gpu.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/openvino-workflow/running-inference/changing-input-shape.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application.rst
  docs/articles_en/openvino-workflow/running-inference/integrate-openvino-with-your-application/model-representation.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-latency.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models/obtaining-stateful-openvino-model.rst
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Core.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CoreConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/SupportedTypedArray.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/elementTypeString.rst
Labels: category: docs

#23417 [DOCS] Fix face-detection-retail-0004 reference
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
Labels: category: docs

#23421 [DOCS] Fix face-detection-retail-0004 reference
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
Labels: category: docs

#23424 [DOCS] PORT Fix llms article format
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
Labels: category: docs

#23410 [TF FE] Test RaggedTensorToTensor for rowids format and Equal for string tensors
  tests/layer_tests/tensorflow_tests/test_tf_Equal.py
  tests/layer_tests/tensorflow_tests/test_tf_RaggedTensorToTensor.py
Labels: category: TF FE

#23414 CAPI requires GPU plugin
  .github/components.yml
Labels: category: CI

#23058 [Transformations] Make ov::ModelPass transformations execute recursively
  src/common/low_precision_transformations/include/low_precision/propagate_shared_value.hpp
  src/common/snippets/src/pass/propagate_precision.cpp
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/common_optimizations/fused_names_cleanup.cpp
  src/common/transformations/src/transformations/common_optimizations/optimize_strided_slice.cpp
  src/common/transformations/src/transformations/common_optimizations/reverse_shape_and_type_infer.cpp
  src/common/transformations/src/transformations/common_optimizations/shared_ops_optimization.cpp
  src/common/transformations/src/transformations/control_flow/unroll_tensor_iterator.cpp
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/src/transformations/fp16_compression/align_mixed_fp32_fp16_types.cpp
  src/common/transformations/src/transformations/init_node_info.cpp
  src/common/transformations/src/transformations/smart_reshape/lstm_states_broadcast.cpp
  src/common/transformations/src/transformations/symbolic_transformations/label_optimization.cpp
  src/common/transformations/src/transformations/symbolic_transformations/symbolic_optimizations.cpp
  src/common/transformations/src/transformations/utils/utils.cpp
  src/core/src/pass/constant_folding.cpp
  src/core/src/pass/low_latency.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/enforce_precision.cpp
  src/plugins/intel_cpu/src/utils/print_model.hpp
Labels: category: Core, category: CPU, category: transformations, category: LP transformations

#23357 [TF FE] Supported complex tensors for Size operations
  src/frontends/tensorflow_common/src/op/size.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Size.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#23415 Build AUTO when CPU/GPU changes
  .github/components.yml
Labels: category: CI

#23178 Adding ADDV2 operation for complex numbers
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/binary_op.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Add.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#23409 Update GFI template and docs with information about linking PRs to issues
  .github/ISSUE_TEMPLATE/good_first_issue.yml
  CONTRIBUTING.md
  CONTRIBUTING_PR.md
Labels: category: CI, category: docs

#23306 [GPU] reorder_data supports fusing two or more activations
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#23115 [CPU] [ARM64] jit prelu
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
Labels: category: CPU

#23363 [GPU] Move event completion wait to first of execute_impl
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
Labels: category: GPU

#23331 [GPU] Skip broadcast when input and output shapes are identical
  src/plugins/intel_gpu/src/graph/broadcast.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/broadcast_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#23403 [DOCS] Python API version fix
  docs/CMakeLists.txt
Labels: category: build, category: docs

#23364 [DOCS] postrelease adjustments
  docs/articles_en/about-openvino/compatibility-and-support.rst
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/getting-performance-numbers.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started.rst
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  docs/home.rst
  docs/sphinx_setup/_static/css/benchmark-banner.css
  docs/sphinx_setup/_static/download/OV_2022_models_supported.pdf
  docs/sphinx_setup/_static/download/OV_2023_models_supported.pdf
Labels: category: docs

#23394 Make RandomUniform to not require precision conversion
  src/core/src/constant_fold_utils.cpp
  src/core/src/pass/constant_folding.cpp
  src/core/tests/pass/constant_folding.cpp
Labels: category: Core

#23016 [Snippets][AMX] Perform amx_tile_configure only when necessary
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_kernel_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_kernel_emitter.hpp
  src/tests/functional/plugin/shared/src/snippets/max_num_params_eltwise.cpp
  src/tests/ov_helpers/ov_snippets_models/include/subgraph_simple.hpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_simple.cpp
Labels: category: IE Tests, category: CPU

#23423 [CPU] Fix caching executors in factory
  src/plugins/intel_cpu/src/nodes/executors/executor_factory.hpp
  src/plugins/intel_cpu/src/nodes/executors/executor_implementation.hpp
Labels: category: CPU

#22942 [Snippets][CPU] Adjusted BF16 | INT8 MHA tokenization condition
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU

#23372 Added python3-packaging dependency for debian package
  cmake/packaging/debian.cmake
Labels: category: build, category: packaging

#23332 [PT FE] Support elu, celu, mish, shuffle ops
  src/frontends/pytorch/src/op/celu.cpp
  src/frontends/pytorch/src/op/elu.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/transforms/aten_stack_list_construct_replacer.cpp
  src/frontends/pytorch/src/utils.cpp
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
  tests/layer_tests/pytorch_tests/test_celu.py
  tests/layer_tests/pytorch_tests/test_elu.py
  tests/layer_tests/pytorch_tests/test_pixel_shuffle.py
  tests/layer_tests/pytorch_tests/test_unary_ops.py
Labels: category: PyTorch FE

#23438 Added propogation of OpenVINO's _GLIBCXX_USE_CXX11_ABI
  cmake/developer_package/target_flags.cmake
  src/cmake/openvino.cmake
Labels: category: inference, category: build

#23345 Avoid stripping of debug info in wheels
  src/bindings/python/wheel/setup.py
Labels: category: Python API, category: dependency_changes, category: packaging, port to 2023.3

#23379 [PT FE] Support aten.reflection_pad{1,2,3}d.default
  src/frontends/pytorch/src/op/pad.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_pad.py
  tests/model_hub_tests/pytorch/torch_utils.py
Labels: category: PyTorch FE

#23155 Fix functional tests exception handling from threads
  src/inference/src/dev/iasync_infer_request.cpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
Labels: category: inference, category: IE Tests

#23386 [GPU] Remove use of legacy names
  src/plugins/intel_gpu/include/intel_gpu/plugin/graph.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/program_builder.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/sync_infer_request.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/ops/parameter.cpp
  src/plugins/intel_gpu/src/plugin/ops/result.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/plugin/program_builder.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
Labels: category: GPU

#23330 Enhance sanitizer build
  cmake/developer_package/compile_flags/sanitizer.cmake
  tests/asan/ignore.txt
  tests/asan/suppressions.supp
  tests/lsan/suppressions.txt
Labels: category: build, no-match-files

#23457 [DOCS] sysreq fix 2024
  docs/articles_en/about-openvino/system-requirements.rst
Labels: category: docs

#23452 [CAPI][TEST] fix ov_infer_request_test test error
  src/bindings/c/tests/ov_infer_request_test.cpp
Labels: category: C API

#23458 [DOCS] sysreq fix master
  docs/articles_en/about-openvino/system-requirements.rst
Labels: category: docs

#21895 [Snippets] Added dynamism support to lowered passes
  src/common/snippets/include/snippets/lowered/expression.hpp
  src/common/snippets/include/snippets/lowered/loop_manager.hpp
  src/common/snippets/include/snippets/lowered/pass/clean_repeated_ptr_shifts.hpp
  src/common/snippets/include/snippets/lowered/pass/fuse_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/init_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_broadcastmove.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_load_store.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/propagate_layout.hpp
  src/common/snippets/include/snippets/lowered/pass/validate.hpp
  src/common/snippets/include/snippets/lowered/pass/validate_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/validate_shapes.hpp
  src/common/snippets/include/snippets/shape_inference/shape_inference.hpp
  src/common/snippets/include/snippets/utils.hpp
  src/common/snippets/src/lowered/loop_manager.cpp
  src/common/snippets/src/lowered/pass/clean_repeated_ptr_shifts.cpp
  src/common/snippets/src/lowered/pass/define_buffer_clusters.cpp
  src/common/snippets/src/lowered/pass/fuse_loops.cpp
  src/common/snippets/src/lowered/pass/init_loops.cpp
  src/common/snippets/src/lowered/pass/insert_broadcastmove.cpp
  src/common/snippets/src/lowered/pass/insert_load_store.cpp
  src/common/snippets/src/lowered/pass/insert_loops.cpp
  src/common/snippets/src/lowered/pass/insert_specific_iterations.cpp
  src/common/snippets/src/lowered/pass/iter_handler.cpp
  src/common/snippets/src/lowered/pass/mark_loops.cpp
  src/common/snippets/src/lowered/pass/optimize_domain.cpp
  src/common/snippets/src/lowered/pass/propagate_layout.cpp
  src/common/snippets/src/lowered/pass/reduce_decomposition.cpp
  src/common/snippets/src/lowered/pass/solve_buffer_memory.cpp
  src/common/snippets/src/lowered/pass/split_loops.cpp
  src/common/snippets/src/lowered/pass/validate.cpp
  src/common/snippets/src/lowered/pass/validate_loops.cpp
  src/common/snippets/src/lowered/pass/validate_shapes.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/shape_inference/shape_infer_instances.cpp
  src/common/snippets/src/utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_kernel_emitter.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
Labels: category: CPU

#23182 [Snippets][CPU] Fixed isSuitableChildForFusingMatMul
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/snippets_mark_skipped.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/snippets_mark_skipped.hpp
Labels: bug, category: CPU

#23446 [PT FE]: support aten::floor_divide_ and aten::movedim
  src/frontends/pytorch/src/op/transpose.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_floor_divide.py
  tests/layer_tests/pytorch_tests/test_transpose.py
Labels: category: PyTorch FE

#23420 [Transformations] BroadcastTransition: fix segfault
  src/common/transformations/src/transformations/common_optimizations/broadcast_transition.cpp
  src/common/transformations/tests/common_optimizations/broadcast_transition_test.cpp
Labels: category: transformations

#22796 [Core] Add MaxPool-14 and AvgPool-14
  src/core/include/openvino/op/avg_pool.hpp
  src/core/include/openvino/op/max_pool.hpp
  src/core/include/openvino/op/util/attr_types.hpp
  src/core/include/openvino/opsets/opset14_tbl.hpp
  src/core/shape_inference/include/avg_pool_shape_inference.hpp
  src/core/shape_inference/include/max_pool_shape_inference.hpp
  src/core/shape_inference/include/pooling_shape_inference_util.hpp
  src/core/src/op/avg_pool.cpp
  src/core/src/op/max_pool.cpp
  src/core/src/op/util/attr_types.cpp
  src/core/tests/op_version_tbl.hpp
  src/core/tests/type_prop/avg_pool.cpp
  src/core/tests/type_prop/max_pool.cpp
  src/core/tests/visitors/op/avg_pool.cpp
  src/core/tests/visitors/op/max_pool.cpp
  src/plugins/template/backend/ops/avg_pool.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/opset_int_tbl.hpp
  src/plugins/template/tests/functional/op_reference/avg_pool.cpp
  src/plugins/template/tests/functional/op_reference/max_pool.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: TEMPLATE, category: CPP API

#23411 Don't bind more and more event listeners
  docs/sphinx_setup/_static/js/graphs.js
Labels: category: docs

#23429 [ONNX] Reduce* refactoring
  src/frontends/onnx/frontend/src/op/reduce.cpp
  src/frontends/onnx/frontend/src/op/reduce.hpp
  src/frontends/onnx/tests/models/reduce_wrong_type_v1.prototxt
  src/frontends/onnx/tests/models/reduce_wrong_type_v2.prototxt
  src/frontends/onnx/tests/onnx_import_exceptions.cpp
Labels: category: ONNX FE

#23304 [OV JS] Fix package.json files
  samples/js/node/package-lock.json
  samples/js/node/package.json
  src/bindings/js/node/package.json
Labels: category: samples, category: JS API

#23374 [ONNX] Added telemetry for reporting unsupported ops
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/frontend.hpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/core/model.hpp
  src/frontends/onnx/frontend/src/frontend.cpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/frontend/src/utils/common.hpp
  src/frontends/onnx/tests/convert_tests.cpp
  src/frontends/onnx/tests/telemetry.cpp
  src/frontends/onnx/tests/tests_python/test_backend.py
Labels: category: ONNX FE, category: CPP API

#23035 [CPU Plugin] Clean legacy name
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/infer_request.h
  src/plugins/intel_cpu/src/nodes/if.cpp
  src/plugins/intel_cpu/src/nodes/tensoriterator.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/insert_convert_after_extension.cpp
  src/plugins/intel_cpu/src/utils/ngraph_utils.hpp
Labels: category: CPU

#23467 [DOCS] Added off on click for 2023.3
  docs/sphinx_setup/_static/js/graphs.js
Labels: category: docs

#23464 [DOCS] Added off on click for 2024.0
  docs/sphinx_setup/_static/js/graphs.js
Labels: category: docs

#23286 [CPU] [ARM64] jit divide
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
Labels: category: CPU, platform: arm

#21925 [ARM CPU] Fix AUGRU layer in dien.xml model
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_ie_scheduler.cpp
  src/plugins/intel_cpu/src/nodes/rnn.cpp
Labels: category: CPU, platform: arm

#23272 [CPU] Fix primitive attributes creation for 1x1 Convolution as FC executor
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_convolution_primitive.cpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_convolution_primitive.hpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected.hpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_utils.hpp
  src/plugins/intel_cpu/src/nodes/executors/executor.hpp
  src/plugins/intel_cpu/src/nodes/executors/fullyconnected_implementations.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/matmul.cpp
Labels: bug, category: CPU

#23460 Ported patch from vcpkg related to protobuf search
  thirdparty/dependencies.cmake
Labels: category: build, category: dependency_changes, port to 2023.3

#23419 [PT FE] Support dtype in full-like ops for FX
  src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_full.py
Labels: category: PyTorch FE

#23383 [CONFORMANCE] Add new flags for conformance + add interapted tests to `fix_priority`
  src/tests/functional/plugin/conformance/test_runner/README.md
  src/tests/test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
  src/tests/test_utils/functional_test_utils/layer_tests_summary/run_parallel.py
Labels: category: IE Tests, category: docs, conformance

#22842 Enabled LTO for ARM64
  cmake/developer_package/OpenVINODeveloperScriptsConfig.cmake
  cmake/developer_package/features.cmake
Labels: category: build

#22926 Deleted InferenceEngineDeveloperPackageConfig.cmake generation
  .github/workflows/code_style.yml
  .github/workflows/coverage.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  cmake/extra_modules.cmake
Labels: category: build, category: CI, github_actions

#23086 [CPU] [ARM64] jit clamp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm

#23267 enable CMAKE_COMPILE_WARNING_AS_ERROR on windows
  .github/workflows/windows.yml
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/features.cmake
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
  src/tests/functional/plugin/shared/include/behavior/ov_plugin/auto_batching_tests.hpp
  thirdparty/dependencies.cmake
Labels: category: IE Tests, category: GPU, category: build, category: CI, category: dependency_changes, github_actions

#22923 [GPU] Fix several errors
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/activation.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/broadcast.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/concat.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/proposal.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/range.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/reorder.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/scatter_update.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/select.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/shape_of.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/tile.cpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_gather_to_compressed.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/gather_weights_decompression.cpp
Labels: category: GPU

#22770 [PT FE][Opset14] Replace PT FE AlignTypes with opset14 ConvertPromoteTypes
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/core/src/op/convert_promote_types.cpp
  src/core/src/op/mish.cpp
  src/core/tests/type_prop/convert_promote_types.cpp
  src/frontends/common/include/openvino/frontend/decoder.hpp
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/helper_ops/align_types.hpp
  src/frontends/pytorch/src/op/add.cpp
  src/frontends/pytorch/src/op/bitwise.cpp
  src/frontends/pytorch/src/op/cross.cpp
  src/frontends/pytorch/src/op/distance.cpp
  src/frontends/pytorch/src/op/div.cpp
  src/frontends/pytorch/src/op/erfc.cpp
  src/frontends/pytorch/src/op/floor_divide.cpp
  src/frontends/pytorch/src/op/fmod.cpp
  src/frontends/pytorch/src/op/gcd.cpp
  src/frontends/pytorch/src/op/log.cpp
  src/frontends/pytorch/src/op/min_max.cpp
  src/frontends/pytorch/src/op/outer.cpp
  src/frontends/pytorch/src/op/pow.cpp
  src/frontends/pytorch/src/op/reciprocal.cpp
  src/frontends/pytorch/src/op/remainder.cpp
  src/frontends/pytorch/src/op/rsqrt.cpp
  src/frontends/pytorch/src/op/rsub.cpp
  src/frontends/pytorch/src/op/sub.cpp
  src/frontends/pytorch/src/op/where.cpp
  src/frontends/pytorch/src/transforms/align_types_removal.cpp
  src/frontends/pytorch/src/transforms/align_types_removal.hpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Labels: category: Core, category: Python API, category: CPP API, category: PyTorch FE, category: Opset

#23433 [TF FE] Support TF Keras TextVectorization and initialize HashTable
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/graph_iterator_meta.hpp
  src/frontends/tensorflow/src/graph_iterator_saved_model.hpp
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/input_model.hpp
  src/frontends/tensorflow/src/op/hash_table.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow/src/variables_index.cpp
  src/frontends/tensorflow/src/variables_index.hpp
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_text_vectorization.py
Labels: category: TF FE

#23318 [TF FE] Fixed memory sharing for HF models.
  docs/articles_en/openvino-workflow/model-preparation/conversion-parameters.rst
  docs/articles_en/openvino-workflow/model-preparation/convert-model-tensorflow.rst
  src/bindings/python/src/openvino/frontend/tensorflow/node_decoder.py
  tests/model_hub_tests/models_hub_common/test_convert_model.py
  tests/model_hub_tests/tensorflow/model_lists/precommit
Labels: category: Python API, category: docs, category: TF FE, category: PyTorch FE

#22372 [CPU] Optimize infer request outputs memory sharing
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/inplace_resolve_io.cpp
  src/plugins/intel_cpu/tests/unit/graph/dummy_node.hpp
  src/plugins/intel_cpu/tests/unit/graph/inplace_resolve_io.cpp
Labels: category: CPU, no_stale

#18999 [CPU] MergeTransposeReorder extending
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/utils/utils.cpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/graph_optimizer.h
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/fuse_transpose_reorder.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/merge_transpose_reorder.cpp
  src/plugins/intel_cpu/tests/unit/graph/merge_transpose_reorder_test.cpp
Labels: bug, category: CPU, category: transformations, no_stale

#23385 Move NopStridedSlice to Common transformation and disable it on GPU
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, category: transformations

#23472 [GPU] Refactor
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/experimental_detectron_prior_grid_generator.cpp
  src/tests/functional/plugin/shared/include/single_layer_tests/experimental_detectron_prior_grid_generator.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/single_layer/experimental_detectron_prior_grid_generator.hpp
  src/tests/functional/shared_test_classes/src/single_layer/experimental_detectron_prior_grid_generator.cpp
Labels: category: IE Tests, category: GPU

#22628 [CI] [GHA] Enable sanitizers
  .github/workflows/linux_sanitizers.yml
  cmake/developer_package/compile_flags/sanitizer.cmake
  tests/lsan/suppressions.txt
Labels: category: build, category: CI, github_actions, no-match-files

#23388 [TF FE]: Support complex tensors for PadV2 operations (#22955)
  src/frontends/tensorflow_common/src/op/pad.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Pad.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#23484 Script to send workflow metrics to a database
  .github/dependency_review.yml
  .github/scripts/collect_github_metrics.py
  .github/scripts/requirements.txt
  .github/workflows/dependency_review.yml
  .github/workflows/send_workflows_to_opentelemetry.yml
Labels: category: CI, category: dependency_changes, github_actions

#23485 [DOCS][Layer Tests] Update layer test documentation
  tests/layer_tests/README.md
Labels: category: docs

#23418 [TF FE] Support Bincount operation
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/bincount.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Bincount.py
Labels: category: docs, ExternalPR, category: TF FE, category: TFL FE

#23351 [TF FE] Support ApproximateEqual operation for TensorFlow
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/approximate_equal_op.cpp
  tests/layer_tests/tensorflow_tests/test_tf_ApproximateEqual.py
Labels: category: docs, ExternalPR, category: TF FE, category: TFL FE

#23279 [core] Low precision element iterator and `u2, u3, u6` types
  cmake/developer_package/ncc_naming_style/openvino.style
  src/core/dev_api/openvino/core/type/element_iterator.hpp
  src/core/include/openvino/core/type/element_type.hpp
  src/core/include/openvino/core/type/element_type_traits.hpp
  src/core/include/openvino/op/constant.hpp
  src/core/src/pass/visualize_tree.cpp
  src/core/src/type/element_type.cpp
  src/core/tests/element_iterator_test.cpp
  src/plugins/intel_cpu/src/nodes/executors/type_mask.hpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
Labels: category: Core, category: GPU, category: CPU, category: build, category: CPP API

#23366 [OV JS] Expose export_model()/import_model()
  src/bindings/js/node/include/compiled_model.hpp
  src/bindings/js/node/include/core_wrap.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/compiled_model.cpp
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/tests/basic.test.js
Labels: category: JS API

#23510 [DOCS] Updated file
  docs/sphinx_setup/_static/js/custom.js
Labels: category: docs

#23093 Add 'pad' operator support for ov::preprocess::PrePostProcessor
  src/core/include/openvino/core/core.hpp
  src/core/include/openvino/core/preprocess/padding_mode.hpp
  src/core/include/openvino/core/preprocess/preprocess_steps.hpp
  src/core/src/preprocess/pre_post_process.cpp
  src/core/src/preprocess/preprocess_steps_impl.cpp
  src/core/src/preprocess/preprocess_steps_impl.hpp
  src/core/tests/preprocess.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/subgraph_builders/preprocess_builders.hpp
Labels: category: Core, category: IE Tests, ExternalPR, category: CPP API

#23123 [API][AUTO] Fail to get PERF_COUNT from compiled_model
  src/plugins/auto/src/auto_compiled_model.cpp
  src/plugins/auto/src/cumulative_compiled_model.cpp
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  src/plugins/auto/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
Labels: category: AUTO
