Repository openvinotoolkit/openvino, pull requests merged in 2024-08, with the labels that each got.

#25753 [GPU] group_normalization for bfzyx
  src/plugins/intel_gpu/src/graph/impls/ocl/group_normalization.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/group_normalization_gpu_b_fs_yx_fsv16.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/group_normalization_gpu_bfyx_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/group_normalization_gpu_test.cpp
Labels: category: GPU

#25737 [GPU] Rollback whlie-loop structure for 2nd stage of optimize all crops
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
Labels: category: GPU

#25822 [OVJS] Update openvino-node package version to 2024.3.0
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
Labels: category: JS API

#25835 [DOCS] rn fixes and model table
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/sphinx_setup/_static/download/supported_models.csv
Labels: category: docs

#25851 [DOCS] add benchmark results for phi (#25838)
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.3-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
Labels: category: docs

#25616 [GSOC][CPU][ARM] Add NEON implementation for attention softmax
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/softmax_kernel.hpp
Labels: category: CPU, ExternalPR

#25860 [DOCS] supportedmodels table fix 24.3
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/sphinx_setup/_static/download/supported_models.csv
Labels: category: docs

#25662 [Core][CPU]markup rope's sin/cos generation with f32
  src/common/transformations/include/transformations/common_optimizations/mark_rope_input_to_keep_in_mixed_precision.hpp
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/common_optimizations/mark_rope_input_to_keep_in_mixed_precision.cpp
  src/common/transformations/src/transformations/utils/utils.cpp
  src/common/transformations/tests/common_optimizations/mark_rope_input_to_keep_in_mixed_precision_test.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU, category: transformations

#25818 [DOCS] supportedmodels table fix 24.3
  docs/articles_en/about-openvino/compatibility-and-support/supported-models.rst
  docs/sphinx_setup/_static/download/supported_models.csv
Labels: category: docs

#25859 Added version for OpenVINO developer package local version
  cmake/extra_modules.cmake
Labels: category: build

#25854 [CPU][ARM] MLAS transpose executor deprioritised
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_transpose.hpp
  src/plugins/intel_cpu/src/nodes/executors/transpose_list.cpp
Labels: category: CPU, platform: arm

#25823 [OVJS] Update openvino-node binaries to 2024.3 in master
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
Labels: category: JS API

#25856 [CI] [GHA] Gather statistics on newly added Ubuntu workflows
  .github/workflows/send_workflows_to_opentelemetry.yml
Labels: category: CI, github_actions

#25714 [OV JS] Add vision-background-removal sample notebook
  samples/js/node/README.md
  samples/js/node/notebooks/vision-background-removal.nnb
Labels: category: samples, category: docs, ExternalPR

#25862 [CI] [GHA] Get VCPKG version from repository
  .github/workflows/android_arm64.yml
Labels: category: CI, github_actions

#25863 [DOCS] CODEOWNER update for master
  .github/CODEOWNERS
Labels: category: CI

#25848 [Tests] Commented out debug prints in input range generation
  src/tests/test_utils/common_test_utils/include/common_test_utils/ov_tensor_utils.hpp
Labels: category: IE Tests

#25635 [PyOV] Add more ov.Model constructors
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/tests/test_runtime/test_model.py
Labels: category: Python API

#25867 Allow to override CPACK_ARCHIVE_COMPONENT_INSTALL
  cmake/developer_package/packaging/archive.cmake
Labels: category: build, category: packaging

#25679 [NPUW] Introduce new passes to online partitioning
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/group.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/group.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/repeated.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/repeated.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/utils/utils.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/utils/utils.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/avoid.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/avoid.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/compute.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/compute.hpp
Labels: category: NPU, category: NPUW

#25850 [GPU] Add crop check in optimize check of buffer fusing
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
Labels: category: GPU

#25865 [DOCS] CODEOWNER update for 24.3
  .github/CODEOWNERS
Labels: category: CI

#25872 Changed dependency types-setuptools
  src/bindings/python/requirements_test.txt
Labels: category: Python API, category: dependency_changes

#25878 Changed dependency types-setuptools (#25872)
  src/bindings/python/requirements_test.txt
Labels: category: Python API, category: dependency_changes

#25840 [GPU] Use parallel sum reduction in MVN BFYX OPT kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/mvn_gpu_bfyx_opt.cl
Labels: category: GPU

#25855 [PT FE] Move sending telemetry to stage after conversion is done
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/translate_session.cpp
Labels: category: PyTorch FE

#25651 Add folder parameter for reference blobs in SIT
  src/plugins/intel_npu/tools/single-image-test/main.cpp
Labels: category: NPU

#25866 [CPU][ARM] Added debug logs to ACL Interpolate executor
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_interpolate.cpp
Labels: category: CPU, platform: arm

#24937 [CPU] Align cpu execution order before/after ResolveComplexInplaceConflicts()
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph_dumper.cpp
  src/plugins/intel_cpu/tests/unit/graph/resolve_edge_conflicts_test.cpp
Labels: category: CPU

#25880 [DOCS] ovms llm data master
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/sphinx_setup/_static/download/llm_models_ovms.csv
Labels: category: docs

#25868 [PT FE] Update GHA tests
  tests/model_hub_tests/pytorch/hf_transformers_models
  tests/model_hub_tests/pytorch/test_hf_transformers.py
  tests/model_hub_tests/pytorch/test_llm.py
  tests/model_hub_tests/pytorch/timm_models
Labels: category: PyTorch FE

#25877 [TF FE] Extend UnsortedSegmentSum for ND indices
  src/frontends/tensorflow_common/src/op/unsorted_segment_sum.cpp
  tests/layer_tests/tensorflow_tests/test_tf_UnsortedSegmentSum.py
Labels: category: TF FE, category: TFL FE

#25745 [Snippets][CPU] Added Brgemm FP32 blocking support by dynamic K, N dimensions
  src/common/snippets/include/snippets/lowered/pass/brgemm_blocking.hpp
  src/common/snippets/include/snippets/lowered/pass/iter_handler.hpp
  src/common/snippets/include/snippets/op/brgemm.hpp
  src/common/snippets/src/lowered/pass/brgemm_blocking.cpp
  src/common/snippets/src/lowered/pass/iter_handler.cpp
  src/common/snippets/src/op/brgemm.cpp
  src/common/snippets/src/runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_cpu.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_cpu.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_cpu_blocking.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_cpu_blocking.hpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/op/brgemm.cpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/op/brgemm.hpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/pass/lowered/brgemm_tpp_blocking.cpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/pass/lowered/brgemm_tpp_blocking.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/lowered/brgemm_blocking.cpp
Labels: category: CPU

#25836 [GPU] Fix Crop->Reshape (Squeeze/Unsqueeze modes) buffer optimization
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.h
  src/plugins/intel_gpu/src/graph/include/reshape_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rope_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/rope/rope_kernel_base.cpp
  src/plugins/intel_gpu/src/plugin/ops/reshape.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/reshape_si_test.cpp
Labels: category: GPU

#25884 [TF FE][SDL] Fix performance inefficiencies
  src/frontends/tensorflow_common/src/helper_transforms/tensor_list_ops_resolver.cpp
  src/frontends/tensorflow_common/src/op/tensor_list_operations.cpp
Labels: category: TF FE, category: TFL FE

#25881 [DOCS] ovms llm data 24.3
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/sphinx_setup/_static/download/llm_models_ovms.csv
Labels: category: docs

#25760 Implemented getOutputElementType
  src/bindings/js/node/include/model_wrap.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/model_wrap.cpp
  src/bindings/js/node/tests/unit/model.test.js
Labels: ExternalPR, category: JS API

#25899 Fixed compatibility with new version of 'wheel'
  src/bindings/python/wheel/CMakeLists.txt
Labels: category: build, category: Python API, category: packaging, port to 2023.3

#25724 [PyOV] Replace `std::stringstream` with `std::fstream` in `import_model`
  src/bindings/python/src/pyopenvino/core/core.cpp
Labels: category: Python API

#25594 [CPU] Add score output for PagedAttention
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa_common.hpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/nodes/paged_attn.h
  src/plugins/intel_cpu/src/shape_inference/custom/paged_attn.cpp
  src/plugins/intel_cpu/src/shape_inference/custom/paged_attn.hpp
Labels: category: CPU

#25905 [CPU][ARM] Enable ACL MVN executor for `initAcrossChannels` option in NHWC layout
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_mvn.hpp
Labels: category: CPU, platform: arm

#25875 [ONNX] Aligned behavior for ReduceProd-11,13,18
  src/frontends/onnx/frontend/src/op/reduce.cpp
  src/frontends/onnx/tests/models/reduce_prod_18.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/tests_python/test_backend.py
Labels: category: ONNX FE

#25292 [JAX FE] Add translation for more operations.
  src/bindings/python/src/openvino/frontend/jax/jaxpr_decoder.py
  src/bindings/python/src/openvino/frontend/jax/passes.py
  src/bindings/python/src/openvino/frontend/jax/utils.py
  src/frontends/jax/include/openvino/frontend/jax/node_context.hpp
  src/frontends/jax/src/node_context.cpp
  src/frontends/jax/src/op/broadcast_in_dim.cpp
  src/frontends/jax/src/op/convolution.cpp
  src/frontends/jax/src/op/dot_general.cpp
  src/frontends/jax/src/op/reduce_window.cpp
  src/frontends/jax/src/op/reshape.cpp
  src/frontends/jax/src/op/rsqrt.cpp
  src/frontends/jax/src/op/slice.cpp
  src/frontends/jax/src/op/squeeze.cpp
  src/frontends/jax/src/op/transpose.cpp
  src/frontends/jax/src/op_table.cpp
  src/frontends/jax/src/utils.hpp
  tests/layer_tests/jax_tests/test_broadcast_in_dim.py
  tests/layer_tests/jax_tests/test_conv_general_dilated.py
  tests/layer_tests/jax_tests/test_copy.py
  tests/layer_tests/jax_tests/test_dot_general.py
  tests/layer_tests/jax_tests/test_reduce_window_max.py
  tests/layer_tests/jax_tests/test_reduce_window_sum.py
  tests/layer_tests/jax_tests/test_reshape.py
  tests/layer_tests/jax_tests/test_rsqrt.py
  tests/layer_tests/jax_tests/test_slice.py
  tests/layer_tests/jax_tests/test_squeeze.py
  tests/layer_tests/jax_tests/test_transpose.py
Labels: category: Python API, category: TF FE, category: JAX FE

#25912 Removed GHA WA for older ONNX versions
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/ubuntu_24_04_x64/Dockerfile
Labels: category: CI, category: dockerfiles

#25910 [DOCS] tiny article name changes
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
  docs/articles_en/learn-openvino/llm_inference_guide/ov-tokenizers.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/hetero-execution.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimize-preprocessing/torchvision-preprocessing-converter.rst
  docs/sphinx_setup/_static/download/llm_models_ovms.csv
Labels: category: docs

#25911 [DOCS] tiny article name change
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
  docs/articles_en/learn-openvino/llm_inference_guide/ov-tokenizers.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/hetero-execution.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimize-preprocessing/torchvision-preprocessing-converter.rst
  docs/sphinx_setup/_static/download/llm_models_ovms.csv
Labels: category: docs

#25901 DOCS-update-benchmark-csv-file
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
Labels: category: docs

#25895 Revert "[GPU] Avoid crop buffer fusing when dynamic shape and squeeze/unsqueeze reshape mode"
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
Labels: category: GPU

#25913 DOCS Added button to select number of rows
  docs/sphinx_setup/_static/js/openVinoDataTables.js
Labels: category: docs

#25915 fix for confused input with output in assert error message
  src/inference/src/cpp/compiled_model.cpp
Labels: category: inference

#25886 [GPU] Dynamic pipeline host opt
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/impls/ocl/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/include/fully_connected_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_type.h
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/include/read_value_inst.h
  src/plugins/intel_gpu/src/graph/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/graph/strided_slice.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/kv_cache.cpp
  src/plugins/intel_gpu/tests/unit/fake_alignment/fc_fake_alignment_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU

#25874 [GPU][TRANSFORMATIONS] Disable per pass validation in some cases
  src/common/transformations/src/transformations/fp16_compression/mark_subgraphs_to_keep_in_mixed_precision.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, category: transformations

#24401 [Transformations] Extend MoveEltwiseUpThroughData pass with per channel case
  src/common/transformations/include/transformations/common_optimizations/move_eltwise_up_data_movement.hpp
  src/common/transformations/src/transformations/common_optimizations/move_eltwise_up_data_movement.cpp
  src/common/transformations/tests/common_optimizations/move_eltwise_up_data_movement_test.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU, category: transformations

#25882 [GPU] Runtime weights fix and reorder_kernel_bfyx_to_blocked_format kernel fix
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel_bfyx_to_blocked_format.cpp
Labels: category: GPU

#25920 [DOCS] Updated the benchmark csv file
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
Labels: category: docs

#25908 [DOCS] Dependencies and Building for OpenVINO GenAI article for master
  docs/articles_en/get-started/configurations.rst
  docs/articles_en/get-started/configurations/genai-dependencies.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
Labels: category: docs

#25921 [DOCS] Dependencies and Building for OpenVINO GenAI article for 24.3
  docs/articles_en/get-started/configurations.rst
  docs/articles_en/get-started/configurations/genai-dependencies.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
Labels: category: docs

#25514 Change index precision from `i64` to `i32` in MaxPool14 to MaxPool8 downgrade transformation
  src/common/transformations/src/transformations/op_conversions/convert_maxpool_downgrade.cpp
  src/common/transformations/tests/op_conversions/convert_maxpool_downgrade_test.cpp
Labels: category: transformations

#25922 [DOCS] Corrected build guides in docs.
  docs/dev/build_linux.md
  docs/dev/build_windows.md
Labels: category: docs

#25873 Port fix to release branch
  src/inference/src/dev/core_impl.cpp
Labels: category: inference

#25903 [NPU] Disable MCL in case of UD28
  src/inference/include/openvino/runtime/intel_npu/level_zero/level_zero.hpp
  src/plugins/intel_npu/src/backend/src/zero_init.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
Labels: category: inference, category: CPP API, category: NPU

#25782 [GPU] Bugfix reorder for byfx format
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reorder_data.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel_base.cpp
  src/plugins/intel_gpu/tests/unit/fusions/gemm_fusion_test.cpp
Labels: category: GPU

#25924 [GPU] Fixed moving a temporary object
  src/plugins/intel_gpu/src/graph/kv_cache.cpp
Labels: category: GPU

#25925 NPUW: Removing unnecessary std::moves from the decompression patterns
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.cpp
Labels: category: NPU, category: NPUW

#25763 [OV JS] Expose Model.clone to Node.js Api
  src/bindings/js/node/include/model_wrap.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/model_wrap.cpp
  src/bindings/js/node/tests/unit/model.test.js
Labels: ExternalPR, category: JS API

#25935 DOCS Highlight selected option
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/js/open_sidebar.js
Labels: category: docs

#25939 DOCS Port Added button to select number of rows to master
  docs/sphinx_setup/_static/js/openVinoDataTables.js
Labels: category: docs

#25684 [NPU] Free serialized model earlier to reduce peak mem
  src/plugins/intel_npu/src/compiler/include/zero_compiler_in_driver.hpp
  src/plugins/intel_npu/src/compiler/src/zero_compiler_in_driver.cpp
Labels: category: NPU

#25919 NPUW: Handle fp16 in constant fusion routines
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
Labels: category: NPU, category: NPUW

#25601 [dGPU] avoid strided_slice to be executed in cpu
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_shape_of_subgraphs.cpp
Labels: category: GPU

#25864 Fix docs code snippets
  .github/workflows/code_snippets.yml
  docs/articles_en/assets/snippets/gpu/context_sharing.cpp
  docs/articles_en/assets/snippets/gpu/context_sharing_va.cpp
  docs/articles_en/assets/snippets/gpu/context_sharing_va_c.cpp
  docs/articles_en/assets/snippets/gpu/preprocessing_nv12_single_plane.cpp
  docs/articles_en/assets/snippets/gpu/preprocessing_nv12_to_gray.cpp
  docs/articles_en/assets/snippets/gpu/preprocessing_nv12_two_planes.cpp
  docs/articles_en/assets/snippets/gpu/preprocessing_nv12_two_planes_c.cpp
  docs/articles_en/assets/snippets/gpu/queue_sharing.cpp
  docs/articles_en/assets/snippets/gpu/remote_objects_creation.cpp
  docs/articles_en/assets/snippets/gpu/remote_objects_creation_c.cpp
  docs/articles_en/assets/snippets/multi_threading.cpp
  docs/articles_en/assets/snippets/npu_remote_objects_creation.cpp
  docs/articles_en/assets/snippets/ov_dynamic_shapes.c
  docs/articles_en/assets/snippets/ov_patterns.cpp
  docs/articles_en/assets/snippets/ov_sparse_weights_decompression.cpp
  docs/snippets/CMakeLists.txt
Labels: category: build, category: CI, category: docs, github_actions, category: docs_snippets

#25896 [GPU] Use parallel sum reduction in RMS BFYX OPT kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rms_gpu_bfyx_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_bfyx_opt.cpp
Labels: category: GPU

#25937 Fix ONNX frontend code generation
  src/frontends/onnx/frontend/CMakeLists.txt
Labels: category: build, category: ONNX FE

#25907 [GPU] Minor refactoring
  src/plugins/intel_gpu/include/intel_gpu/primitives/implementation_desc.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/non_max_suppression.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/unique.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/device.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/engine.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_optimize_weights.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing_through.cpp
  src/plugins/intel_gpu/src/graph/impls/common/condition.cpp
  src/plugins/intel_gpu/src/graph/impls/common/loop.cpp
  src/plugins/intel_gpu/src/graph/impls/common/wait_for_events.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/activation.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/assign.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/broadcast.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/concat.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/proposal.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/range.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/read_value.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/reduce.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/reorder.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/scatter_update.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/select.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/shape_of.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/tile.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/multi_stage_primitive.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/eltwise_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/pooling_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/reduction_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/reorder_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/registry/implementation_map.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/include/to_string_utils.h
  src/plugins/intel_gpu/src/graph/input_layout.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/graph/multinomial.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/runtime/engine.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device_detector.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/device_test.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/weights_reorder_factory_test.cpp
Labels: category: GPU

#25936 [DOCS] Port for Highlight selected option to 2024 3
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/js/open_sidebar.js
Labels: category: docs

#25791 [DOCS] CMakeLists update for master
  docs/articles_en/assets/snippets/gpu/compile_model_gpu.cpp
  docs/articles_en/assets/snippets/gpu/compile_model_gpu.py
  docs/articles_en/assets/snippets/gpu/custom_kernels_api.cpp
  docs/articles_en/assets/snippets/gpu/custom_kernels_api.py
  docs/articles_en/assets/snippets/gpu/dynamic_batch.cpp
  docs/articles_en/assets/snippets/gpu/dynamic_batch.py
  docs/articles_en/assets/snippets/gpu/preprocessing_nv12_two_planes.py
  docs/articles_en/documentation/openvino-extensibility/custom-gpu-operations.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device/remote-tensor-api-gpu-plugin.rst
Labels: category: docs

#25948 [DOCS] Update local distribution docs
  docs/articles_en/assets/images/deployment_full.svg
  docs/articles_en/assets/images/deployment_simplified.svg
  docs/articles_en/openvino-workflow/deployment-locally/local-distribution-libraries.rst
Labels: category: docs

#25946 [TPP][GHA] Renamed workflow
  .github/workflows/dev_cpu_linux_snippets_libxsmm.yml
Labels: category: CI, github_actions

#25952 [DOCS] Update local distribution docs for 2024.3
  docs/articles_en/assets/images/deployment_full.svg
  docs/articles_en/assets/images/deployment_simplified.svg
  docs/articles_en/openvino-workflow/deployment-locally/local-distribution-libraries.rst
Labels: category: docs

#25638 [Snippets][CPU] Added Kernel Executor table caching with binary code
  src/common/snippets/include/snippets/generator.hpp
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/common/snippets/include/snippets/lowered/linear_ir.hpp
  src/common/snippets/include/snippets/op/subgraph.hpp
  src/common/snippets/include/snippets/runtime_configurator.hpp
  src/common/snippets/src/generator.cpp
  src/common/snippets/src/kernel_executor_table.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/x64/subgraph_caching.cpp
Labels: category: CPU

#25889 [GPU] Fix selection of preferred formats for onednn for weights
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#25891 [GPU] Match concat input format
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
Labels: category: GPU

#25938 NPUW: Adding a new dcoff pattern
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.hpp
Labels: category: NPU, category: NPUW

#25606 Add `StringTensorUnpack-15` and `StringTensorPack-15` to Core
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/type/string-tensor-pack-15.rst
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/op/string_tensor_pack.hpp
  src/core/include/openvino/op/string_tensor_unpack.hpp
  src/core/shape_inference/include/string_tensor_pack_shape_inference.hpp
  src/core/shape_inference/include/string_tensor_unpack_shape_inference.hpp
  src/core/src/op/string_tensor_pack.cpp
  src/core/src/op/string_tensor_unpack.cpp
  src/core/tests/type_prop/string_tensor_pack.cpp
  src/core/tests/type_prop/string_tensor_unpack.cpp
  src/core/tests/visitors/op/string_tensor_pack.cpp
  src/core/tests/visitors/op/string_tensor_unpack.cpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/string_tensor_pack_shape_inference_test.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/string_tensor_unpack_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: docs, category: CPP API

#25707 [core] Improve bound evaluation by skip nodes which have bounds
  src/common/transformations/src/transformations/common_optimizations/reshape_sequence_fusion.cpp
  src/core/src/bound_evaluate.cpp
  src/core/src/op/constant.cpp
  src/core/tests/constant.cpp
Labels: category: Core, category: transformations

#25926 Fixed "NPU_USE_NPUW" : "NO" case
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU, category: NPUW

#25236 Added MockNPU/CPU, FakeNPU/CPU and functional tests
  src/plugins/intel_npu/tests/functional/CMakeLists.txt
  src/plugins/intel_npu/tests/functional/behavior/npuw/behavior_tests.cpp
  src/plugins/intel_npu/tests/functional/behavior/npuw/behavior_tests.hpp
  src/plugins/intel_npu/tests/functional/behavior/npuw/mocks/mock_plugins.cpp
  src/plugins/intel_npu/tests/functional/behavior/npuw/mocks/mock_plugins.hpp
  src/plugins/intel_npu/tests/functional/behavior/npuw/mocks/register_in_ov.cpp
  src/plugins/intel_npu/tests/functional/behavior/npuw/mocks/register_in_ov.hpp
Labels: category: build, category: NPU, category: NPUW

#25885 [IE-MDK] Remove redundant skip rule
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: NPU

#25847 [CORE][CACHE_DIR] xsputn parallel optimization
  src/core/CMakeLists.txt
  src/core/src/pass/serialize.cpp
Labels: category: Core, category: build

#25931 [CPU][ARM] Fix indices in ACL Interpolate executor
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_interpolate.cpp
Labels: category: CPU, platform: arm

#25928 [GPU] Do not throw exception during profiling
  src/plugins/intel_gpu/src/runtime/ocl/ocl_event.cpp
Labels: category: GPU

#25930 [CPU] Fix MLP segment fault if a new larger scratch created
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_kernel.cpp
  src/plugins/intel_cpu/src/nodes/llm_mlp.cpp
  src/plugins/intel_cpu/src/nodes/qkv_proj.cpp
Labels: category: CPU

#25960 [SPEC][Op] BitwiseLeftShift & BitwiseRightShift specification
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/bitwise/bitwise-left-shift-15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/bitwise/bitwise-right-shift-15.rst
Labels: category: docs, category: Opset

#25883 [GPU] Add IncreasePositionIdsPrecision transformation to improve LLM accuracy in fp16
  src/plugins/intel_gpu/src/plugin/transformations/increase_position_ids_precision.cpp
  src/plugins/intel_gpu/src/plugin/transformations/increase_position_ids_precision.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/unit/transformations/increase_position_ids_precision_test.cpp
Labels: category: GPU

#24953 [CPU] LSTM s8 transformations fix
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/convert_fq_rnn_to_quantized_rnn.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/convert_to_cpu_specific_opset.hpp
Labels: category: CPU

#25879 [ONNX] Aligned behavior for ReduceLogSumExp-11,13,18
  src/frontends/onnx/frontend/src/op/reduce.cpp
  src/frontends/onnx/tests/models/reduce_log_sum_exp_18.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/tests_python/test_backend.py
Labels: category: ONNX FE

#25956 [CPU] Remove weights clone WA for FullyConnected with not aligned size
  src/plugins/intel_cpu/src/nodes/input.cpp
Labels: category: CPU, do_not_merge

#25977 [DOC] Updating Quantization Scheme Diagram
  docs/articles_en/assets/images/quantization_scheme.svg
Labels: category: docs

#25973 [TF FE] Fix conversion of body graph from memory
  src/frontends/tensorflow/src/input_model.cpp
  src/frontends/tensorflow/src/translate_session.cpp
  src/frontends/tensorflow_common/include/place.hpp
  src/frontends/tensorflow_common/src/place.cpp
  tests/model_hub_tests/tensorflow/model_lists/precommit_convert_model
Labels: category: TF FE, category: TFL FE

#25974 [DOCS] Updating Benchmark Tool Article
  docs/articles_en/learn-openvino/openvino-samples/benchmark-tool.rst
Labels: category: docs

#25755 [PyOV] Extend Python API with ROIAlignRotated-15
  src/bindings/python/src/openvino/runtime/opset15/__init__.py
  src/bindings/python/src/openvino/runtime/opset15/ops.py
  src/bindings/python/tests/test_graph/test_create_op.py
Labels: category: Python API, ExternalPR, category: Opset

#25962 Static build with both oneDNNs from CPU and GPU
  cmake/features.cmake
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_gpu/CMakeLists.txt
Labels: category: GPU, category: CPU, category: build

#25982 Updated OpenVINO build docs
  docs/dev/cmake_options_for_custom_compilation.md
  docs/dev/static_libaries.md
Labels: category: docs

#25987 Fixed static build for gcc
  src/core/reference/include/openvino/reference/scatter_elements_update.hpp
  src/plugins/intel_gpu/tests/unit/test_cases/scatter_elements_update_gpu_test.cpp
Labels: category: Core, category: GPU

#25979 [DOCS] Updating Quantization Scheme Diagram for 2024.3
  docs/articles_en/assets/images/quantization_scheme.svg
Labels: category: docs

#25909 [ONNX] Aligned ReduceL1 behavior #20559
  src/frontends/onnx/frontend/src/op/reduce.cpp
  src/frontends/onnx/tests/models/reduce_l1_18.prototxt
  src/frontends/onnx/tests/models/reduce_l1_18_axes_as_input.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/frontends/onnx/tests/tests_python/test_backend.py
Labels: ExternalPR, category: ONNX FE

#25959 Fix `output_size` dynamic dimensions support for `Col2Im-15` for CPU `StaticShape`
  src/core/shape_inference/include/col2im_shape_inference.hpp
  src/core/tests/type_prop/col2im.cpp
  src/plugins/intel_cpu/src/nodes/col2im.cpp
  tests/model_hub_tests/pytorch/hf_transformers_models
  tests/model_hub_tests/pytorch/test_timm.py
  tests/model_hub_tests/pytorch/timm_models
Labels: category: Core, category: CPU, category: PyTorch FE

#25975 [DOCS] cheatsheet fix mstr
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/_static/download/OpenVINO_Quick_Start_Guide.pdf
Labels: category: docs

#25996 [CI] [GHA] Add `Unable to make request: ECONNRESET` to errors to look for in workflow rerunner
  .github/scripts/workflow_rerun/errors_to_look_for.json
Labels: category: CI

#25990 [GPU] Revert changes for fake alignment
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/include/fully_connected_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_type.h
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/fake_alignment/fc_fake_alignment_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
Labels: category: GPU

#25998 Update hello-classification.rst
  docs/articles_en/learn-openvino/openvino-samples/hello-classification.rst
Labels: category: docs

#26002 [NPUW] Fix instability in online partitioning
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
Labels: category: NPU, category: NPUW

#25971 [NPU] Adding support for the import_model path with remote context
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/functional/behavior/remote_tensor_tests/remote_run.hpp
Labels: category: NPU

#25994 [DOCS] Updating Benchmark Tool Article for 24.3
  docs/articles_en/learn-openvino/openvino-samples/benchmark-tool.rst
Labels: category: docs

#25992 Supported more newer OS versions
  .github/dockerfiles/docker_tag
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  scripts/install_dependencies/install_openvino_dependencies.sh
Labels: category: CI, category: docs, category: dependency_changes, category: docker_env, category: dockerfiles

#26001 Unset OV_OPTIONS on each cmake run
  cmake/developer_package/options.cmake
Labels: category: build

#25857 [Op] Add BitwiseRightShift and BitwiseLeftShift to OV and enable related TF ops
  src/core/include/openvino/op/bitwise_left_shift.hpp
  src/core/include/openvino/op/bitwise_right_shift.hpp
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/opsets/opset15_tbl.hpp
  src/core/reference/include/openvino/reference/bitwise_left_shift.hpp
  src/core/reference/include/openvino/reference/bitwise_right_shift.hpp
  src/core/src/op/bitwise_left_shift.cpp
  src/core/src/op/bitwise_right_shift.cpp
  src/core/tests/op_version_tbl.hpp
  src/core/tests/opset.cpp
  src/core/tests/type_prop/bitwise_and.cpp
  src/core/tests/type_prop/bitwise_left_shift.cpp
  src/core/tests/type_prop/bitwise_ops.hpp
  src/core/tests/type_prop/bitwise_or.cpp
  src/core/tests/type_prop/bitwise_right_shift.cpp
  src/core/tests/type_prop/bitwise_xor.cpp
  src/core/tests/visitors/op/bitwise_left_shift.cpp
  src/core/tests/visitors/op/bitwise_rigth_shift.cpp
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/src/op/binary_op.cpp
  src/plugins/template/backend/ops/bitwise_left_shift.cpp
  src/plugins/template/backend/ops/bitwise_right_shift.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/opset_int_tbl.hpp
  src/plugins/template/tests/functional/op_reference/bitwise.hpp
  src/plugins/template/tests/functional/op_reference/bitwise_left_shift.cpp
  src/plugins/template/tests/functional/op_reference/bitwise_right_shift.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
  tests/layer_tests/tensorflow_tests/test_tf_BitwiseShift.py
Labels: category: Core, category: IE Tests, category: docs, category: TEMPLATE, category: TF FE, category: CPP API, category: TFL FE, category: Opset

#25772 [Snippets] Added generic check for broadcasting
  src/common/snippets/include/snippets/generator.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_broadcastmove.hpp
  src/common/snippets/include/snippets/pass/analyze_broadcastable_inputs.hpp
  src/common/snippets/include/snippets/pass/manager.hpp
  src/common/snippets/include/snippets/runtime_configurator.hpp
  src/common/snippets/src/generator.cpp
  src/common/snippets/src/lowered/linear_ir.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/analyze_broadcastable_inputs.cpp
  src/common/snippets/src/pass/manager.cpp
  src/common/snippets/src/runtime_configurator.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.h
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/exp.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/mha.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/transpose.cpp
Labels: category: CPU

#25388 [NPU]Fix npu plugin log usage
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/common.hpp
  src/plugins/intel_npu/src/al/include/npu.hpp
  src/plugins/intel_npu/src/backend/include/zero_backend.hpp
  src/plugins/intel_npu/src/backend/include/zero_device.hpp
  src/plugins/intel_npu/src/backend/src/zero_backend.cpp
  src/plugins/intel_npu/src/backend/src/zero_executor.cpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_init.cpp
  src/plugins/intel_npu/src/compiler/include/driver_compiler_adapter.hpp
  src/plugins/intel_npu/src/compiler/include/zero_compiler_in_driver.hpp
  src/plugins/intel_npu/src/compiler/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler/src/zero_compiler_in_driver.cpp
  src/plugins/intel_npu/src/plugin/include/compiler.hpp
  src/plugins/intel_npu/src/plugin/include/plugin.hpp
  src/plugins/intel_npu/src/plugin/src/backends.cpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/compiler.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/src/utils/src/logger/logger.cpp
Labels: category: NPU

#25967 [GPU] updated not to set OneDNN related variables for cldnn layers
  src/plugins/intel_gpu/src/graph/program_node.cpp
Labels: category: GPU

#25570 [GPU] Bugfix mis-match axes size in ConvertMatMulToFullyConnected
  src/plugins/intel_gpu/src/plugin/transformations/convert_matmul_to_fc.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/matmul_conversion.cpp
  src/plugins/intel_gpu/tests/unit/transformations/convert_matmul_to_fc_test.cpp
Labels: category: GPU

#25961 [CPU][ARM] Enable f16 Interpolate on ARM
  src/plugins/intel_cpu/src/nodes/interpolate.cpp
Labels: category: CPU, platform: arm

#26026 [DOCS] telemetry text in readme 24.3
  README.md
Labels: category: docs

#26011 [TF FE] Stabilize Conv2DBackpropInput tests on all platforms
  tests/layer_tests/tensorflow_tests/test_tf_Conv2DBackprop.py
  tests/layer_tests/tensorflow_tests/test_tf_Conv2DBackpropInput.py
Labels: category: TF FE

#24248 [NPU] Switching the I/O identification convention to indices
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/execution_graph_tests/duplicate_inputs_outputs_names.cpp
  src/plugins/intel_npu/src/al/include/intel_npu/al/icompiler.hpp
  src/plugins/intel_npu/src/al/include/sync_infer_request.hpp
  src/plugins/intel_npu/src/al/src/icompiler.cpp
  src/plugins/intel_npu/src/al/src/sync_infer_request.cpp
  src/plugins/intel_npu/src/backend/include/zero_executor.hpp
  src/plugins/intel_npu/src/backend/include/zero_infer_request.hpp
  src/plugins/intel_npu/src/backend/include/zero_memory.hpp
  src/plugins/intel_npu/src/backend/include/zero_pipeline.hpp
  src/plugins/intel_npu/src/backend/src/zero_executor.cpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_init.cpp
  src/plugins/intel_npu/src/backend/src/zero_memory.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
  src/plugins/intel_npu/src/compiler/include/zero_compiler_in_driver.hpp
  src/plugins/intel_npu/src/compiler/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler/src/graph_transformations.cpp
  src/plugins/intel_npu/src/compiler/src/zero_compiler_in_driver.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/execution_graph_tests/duplicate_inputs_outputs_names.cpp
  src/tests/functional/plugin/shared/include/execution_graph_tests/duplicate_inputs_outputs_names.hpp
  src/tests/functional/plugin/shared/src/execution_graph_tests/duplicate_inputs_outputs_names.cpp
Labels: category: IE Tests, category: CPU, category: NPU

#26022 [DOCS] telemetry text in readme mstr
  README.md
Labels: category: docs

#26004 [DOCS] Dynamic Quantization update in user docs - master
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-hf.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/precision-control.rst
Labels: category: docs

#26024 Fix -DENABLE_FASTER_BUILD
  src/common/transformations/src/transformations/common_optimizations/lstm_cell_fusion.cpp
Labels: category: transformations

#25991 [DOCS] cheatsheet fix 24.3
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/_static/download/OpenVINO_Quick_Start_Guide.pdf
Labels: category: docs

#25999 [DOCS] Addition of the pre-release to the release policy page for master
  docs/articles_en/about-openvino/release-notes-openvino/release-policy.rst
Labels: category: docs

#25927 [NPUW] Introduce weights bank
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.hpp
Labels: category: NPU, category: NPUW

#26030 [PT FE] Retry hf related tests
  tests/model_hub_tests/pytorch/test_hf_transformers.py
  tests/model_hub_tests/pytorch/test_timm.py
  tests/model_hub_tests/transformation_tests/test_pa_transformation.py
  tests/model_hub_tests/transformation_tests/test_stateful_to_stateless_transformation.py
Labels: category: TF FE, category: PyTorch FE

#26029 Fixed TBB usage inside openvino wheel
  src/bindings/python/wheel/setup.py
Labels: category: Python API, category: dependency_changes, category: packaging

#26025 [GPU] Enable b_fs_yx_fsv16 format for shape-agnostic quantize and reorder kernels
  src/plugins/intel_gpu/src/graph/graph_optimizer/compile_graph.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/quantize.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reorder.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/quantize_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#26036 Update ci workflow with onecore toolchain
  .github/workflows/windows_conditional_compilation.yml
  cmake/toolchains/mt.runtime.win32.toolchain.cmake
  samples/cpp/CMakeLists.txt
Labels: category: build, category: samples, category: CI, github_actions

#25929 [Py OV] Create ov.experimental submodule
  src/bindings/python/src/openvino/__init__.py
  src/bindings/python/src/openvino/experimental/__init__.py
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/experimental/experimental.cpp
  src/bindings/python/src/pyopenvino/experimental/experimental.hpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_runtime/test_experimental.py
  tools/benchmark_tool/openvino/__init__.py
  tools/ovc/openvino/__init__.py
Labels: category: build, category: Python API, category: tools, category: OVC

#24123 [ARM CPU] Add ACL FC executor for FP32/FP16 precision
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_common_executor.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_common_executor.hpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_eltwise.hpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_fullyconnected.hpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_utils.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_utils.hpp
  src/plugins/intel_cpu/src/nodes/executors/debug_messages.hpp
  src/plugins/intel_cpu/src/nodes/executors/executor.hpp
  src/plugins/intel_cpu/src/nodes/executors/fullyconnected_implementations.cpp
  src/plugins/intel_cpu/src/nodes/executors/implementation_utils.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/matmul.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/arm/matmul.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/matmul_decompress_convert.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/reshape_fc.cpp
Labels: category: CPU, platform: arm, no_stale

#26037 Remove installation of cnpy, zlib as part of samples
  thirdparty/dependencies.cmake
Labels: category: build, category: dependency_changes

#25841 GenAI: Add a draft for NPU doc
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
Labels: category: docs

#26043 {DOCS] Graphs update in Model Caching article + removal of home.rst file for 24.3
  docs/articles_en/assets/images/caching_enabled.svg
  docs/articles_en/assets/images/caching_times.svg
  docs/home.rst
Labels: category: docs

#26045 [DOCS] GenAI: Add a draft for NPU doc for 24.3
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
Labels: category: docs

#26044 DOCS Merge SelectAll button into datatable
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/css/openVinoDataTables.css
  docs/sphinx_setup/_static/js/openVinoDataTables.js
Labels: category: docs

#25725 Add support for the NPU remote tensor feature in the benchmark app
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  samples/cpp/benchmark_app/remote_tensors_filling.cpp
  samples/cpp/benchmark_app/remote_tensors_filling.hpp
Labels: category: samples

#26042 [DOCS] Graphs update in Model Caching article for master
  docs/articles_en/assets/images/caching_enabled.svg
  docs/articles_en/assets/images/caching_times.svg
Labels: category: docs

#25647 [CPU][GHA] PR trigger added
  .github/workflows/dev_cpu_linux_snippets_libxsmm.yml
Labels: category: CI, github_actions

#25756 [GPU] Add an ability to reuse single kernel between multiple implementations
  src/inference/include/openvino/runtime/intel_gpu/properties.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/kernel.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/custom_primitive.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/multi_stage_primitive.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_type_base.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_kernel.hpp
  src/plugins/intel_gpu/tests/unit/passes/kernels_cache_test.cpp
Labels: category: inference, category: GPU, category: CPP API

#25950 Fix docs code snippets (#25864)
  .github/workflows/code_snippets.yml
  docs/articles_en/assets/snippets/gpu/context_sharing.cpp
  docs/articles_en/assets/snippets/gpu/context_sharing_va.cpp
  docs/articles_en/assets/snippets/gpu/context_sharing_va_c.cpp
  docs/articles_en/assets/snippets/gpu/preprocessing_nv12_single_plane.cpp
  docs/articles_en/assets/snippets/gpu/preprocessing_nv12_to_gray.cpp
  docs/articles_en/assets/snippets/gpu/preprocessing_nv12_two_planes.cpp
  docs/articles_en/assets/snippets/gpu/preprocessing_nv12_two_planes_c.cpp
  docs/articles_en/assets/snippets/gpu/queue_sharing.cpp
  docs/articles_en/assets/snippets/gpu/remote_objects_creation.cpp
  docs/articles_en/assets/snippets/gpu/remote_objects_creation_c.cpp
  docs/articles_en/assets/snippets/multi_threading.cpp
  docs/articles_en/assets/snippets/ov_dynamic_shapes.c
  docs/articles_en/assets/snippets/ov_patterns.cpp
  docs/articles_en/assets/snippets/ov_sparse_weights_decompression.cpp
  docs/snippets/CMakeLists.txt
Labels: category: build, category: CI, category: docs, github_actions, category: docs_snippets

#26049 [DOCS] Merge SelectAll button into datatable to 24-3
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/css/openVinoDataTables.css
  docs/sphinx_setup/_static/js/openVinoDataTables.js
Labels: category: docs

#25802 [DOCS] CMakeLists update for 24.3
  docs/articles_en/assets/snippets/gpu/compile_model_gpu.cpp
  docs/articles_en/assets/snippets/gpu/compile_model_gpu.py
  docs/articles_en/assets/snippets/gpu/custom_kernels_api.cpp
  docs/articles_en/assets/snippets/gpu/custom_kernels_api.py
  docs/articles_en/assets/snippets/gpu/dynamic_batch.cpp
  docs/articles_en/assets/snippets/gpu/dynamic_batch.py
  docs/articles_en/assets/snippets/gpu/preprocessing_nv12_two_planes.py
  docs/articles_en/documentation/openvino-extensibility/custom-gpu-operations.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device/remote-tensor-api-gpu-plugin.rst
Labels: category: docs

#26003 [CI] [GHA] Introduce Windows Debug build
  .github/workflows/job_build_windows.yml
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/send_workflows_to_opentelemetry.yml
  .github/workflows/windows_vs2019_debug.yml
  .github/workflows/windows_vs2019_release.yml
  src/frontends/tests/frontend/shared/src/convert_model.cpp
Labels: category: IE Tests, category: CI, github_actions
