Repository openvinotoolkit/openvino, pull requests merged in 2024-05, with the labels that each got.

#24329 [GPU] Fix transposed shape calculation for static model
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
Labels: category: GPU

#24111 [intel-npu] Adding property to query PCI information of npu device
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_npu/src/al/include/npu.hpp
  src/plugins/intel_npu/src/al/src/npu.cpp
  src/plugins/intel_npu/src/backend/include/zero_device.hpp
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
  src/plugins/intel_npu/src/plugin/include/metrics.hpp
  src/plugins/intel_npu/src/plugin/src/metrics.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: inference, category: Python API, category: CPP API, category: NPU

#24213 Dynamic kernel recompilation infrastructure
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/common/snippets/include/snippets/lowered/pass/serialize_base.hpp
  src/common/snippets/include/snippets/target_machine.hpp
  src/common/snippets/tests/include/lowering_utils.hpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_emitter.cpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_kernel_executor_table.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_kernel_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/verbose.cpp
  src/plugins/intel_cpu/src/emitters/tpp/x64/jit_tpp_emitter.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
Labels: category: CPU

#24326 Use latest Windows SDK by default
  CMakeLists.txt
  cmake/developer_package/OpenVINODeveloperScriptsConfig.cmake
Labels: category: build

#24336 Port SDPA to PagedAttention transformation
  src/bindings/python/src/openvino/_offline_transformations/__init__.py
  src/bindings/python/src/pyopenvino/core/offline_transformations.cpp
  src/bindings/python/src/pyopenvino/graph/ops/paged_attention_extension.cpp
  src/common/transformations/include/transformations/sdpa_to_paged_attention/position_ids_replacer.hpp
  src/common/transformations/include/transformations/sdpa_to_paged_attention/prev_sequence_length_pattern.hpp
  src/common/transformations/include/transformations/sdpa_to_paged_attention/state_management_pattern.hpp
  src/common/transformations/include/transformations/sdpa_to_paged_attention/total_sequence_length_pattern.hpp
  src/common/transformations/src/transformations/sdpa_to_paged_attention/position_ids_replacer.cpp
  src/common/transformations/src/transformations/sdpa_to_paged_attention/prev_sequence_length_pattern.cpp
  src/common/transformations/src/transformations/sdpa_to_paged_attention/state_management_pattern.cpp
  src/common/transformations/src/transformations/sdpa_to_paged_attention/total_sequence_length_pattern.cpp
  src/core/dev_api/openvino/op/paged_attention.hpp
  src/core/include/openvino/pass/sdpa_to_paged_attention.hpp
  src/core/src/op/paged_attention.cpp
  src/core/src/pass/sdpa_to_paged_attention.cpp
Labels: category: Core, category: Python API, category: transformations, category: CPP API

#24303 [DOCS] Update nodejs_api with new methods
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Core.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CoreConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/SupportedTypedArray.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/elementTypeString.rst
Labels: category: docs

#24339 [DOCS] Fix links to components
  README.md
  docs/dev/index.md
Labels: category: docs

#24037 [CPU] Reduce overhead of moving to a numa node
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/node.h
Labels: category: CPU

#24332 [TF FE] Move GRUBlockCell conversion to loaders stage
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/op/gru_block_cell.cpp
  src/frontends/tensorflow_common/include/helper_transforms/gru_block_cell_replacer.hpp
  src/frontends/tensorflow_common/src/helper_transforms/gru_block_cell_replacer.cpp
  src/frontends/tensorflow_common/tests/gru_block_cell_replacer.cpp
  tests/layer_tests/tensorflow_tests/test_tf_GRUBlockCell.py
Labels: category: TF FE, category: TFL FE

#24343 Manually define CMAKE_VS_WINDOWS_TARGET_PLATFORM_VERSION
  cmake/developer_package/api_validator/api_validator.cmake
Labels: category: build, port to 2023.3

#24338 Fix h5py issue in GHA test jobs
  src/bindings/python/constraints.txt
  src/frontends/tensorflow/tests/requirements.txt
  tests/constraints.txt
  tools/constraints.txt
  tools/mo/requirements_tf.txt
  tools/mo/requirements_tf2.txt
Labels: category: MO, category: Python API, category: tools, category: dependency_changes, category: TF FE

#24350 Run dependency review workflow on merge group event
  .github/workflows/dependency_review.yml
Labels: category: CI, github_actions

#24271 [common_test_utils] Add map with possible tensor value ranges based on type
  src/tests/test_utils/common_test_utils/include/common_test_utils/type_ranges.hpp
Labels: category: IE Tests, conformance

#24348 [CI] [GHA] Make GPU job required
  .github/workflows/linux.yml
Labels: category: CI, github_actions

#24324 CMake: reading definitions from COMPILE_DEFINITIONS property
  cmake/developer_package/target_flags.cmake
Labels: bug, category: build

#24142 [op conformance] Update ImportExport tests to check only parameters/results without model's body
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  src/tests/functional/shared_test_classes/src/base/ov_subgraph.cpp
  src/tests/functional/shared_test_classes/src/single_op/memory.cpp
Labels: category: IE Tests, conformance

#24325 [GPU]Memory pool optimization
  src/plugins/intel_gpu/include/intel_gpu/graph/serialization/set_serializer.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory_pool.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/runtime/memory_pool.cpp
Labels: category: GPU

#24330 [GPU] Optimize update dispatch data for few primitives
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/handle_reshape.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_shape_of_subgraphs.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/adaptive_pooling.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/broadcast.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/ctc_greedy_decoder.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/dft.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
  src/plugins/intel_gpu/src/graph/impls/ocl/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/range.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/softmax.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/runtime/format.cpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
Labels: category: GPU

#23970 [CPU] Fix issue on depthwise fusion for Reduce node
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/src/nodes/reduce.h
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/reduce.cpp
Labels: bug, category: CPU

#24353 [GHA] Support merge group event for dependency review workflow
  .github/workflows/dependency_review.yml
Labels: category: CI, github_actions

#24281 openSUSE in System Requirements
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
  docs/articles_en/get-started/install-openvino/install-openvino-linux.rst
Labels: category: docs, ExternalPR

#24367 [TF FE] Get back tests switched off by mistake
  tests/layer_tests/tensorflow_tests/test_tf_AddN.py
  tests/layer_tests/tensorflow_tests/test_tf_DynamicPartition.py
  tests/layer_tests/tensorflow_tests/test_tf_IsFinite.py
  tests/layer_tests/tensorflow_tests/test_tf_IsInf.py
  tests/layer_tests/tensorflow_tests/test_tf_IsNan.py
  tests/layer_tests/tensorflow_tests/test_tf_L2Loss.py
  tests/layer_tests/tensorflow_tests/test_tf_ParallelDynamicStitch.py
  tests/layer_tests/tensorflow_tests/test_tf_SegmentSum.py
  tests/layer_tests/tensorflow_tests/test_tf_Select.py
  tests/layer_tests/tensorflow_tests/test_tf_SelectV2.py
  tests/layer_tests/tensorflow_tests/test_tf_UnaryOps.py
  tests/layer_tests/tensorflow_tests/test_tf_Unique.py
  tests/layer_tests/tensorflow_tests/test_tf_UnsortedSegmentSum.py
Labels: category: TF FE

#23789 Revert "Revert "Use only Java API, Custom ops in contrib build""
  .github/workflows/coverity.yml
  .github/workflows/linux.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/windows.yml
Labels: category: CI, github_actions

#24342 [DOCS] Update nodejs_api with new methods - port to master
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Core.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CoreConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/SupportedTypedArray.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/elementTypeString.rst
Labels: category: docs

#24266 [JS API] Simplify infer_dispatch() method
  src/bindings/js/node/src/infer_request.cpp
  src/bindings/js/node/tests/infer_request.test.js
Labels: category: JS API

#24308 [GPU] Disabling use OneDNN for FC with zero_point_scalar and group size that is not a power of two
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#23804 [GPU] Remove redundant usage of memory pool
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory_pool.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/memory_pool.cpp
Labels: category: GPU, do not merge

#24376 Disable add_output_performance test
  src/core/tests/model.cpp
Labels: category: Core

#24357 [GPU] Merge deformable conv into regular conv primitive
  src/plugins/intel_gpu/include/intel_gpu/primitives/convolution.hpp
  src/plugins/intel_gpu/src/graph/deformable_convolution.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/post_optimize_weights.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/select_preferred_formats.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/deformable_convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/include/deformable_convolution_inst.h
  src/plugins/intel_gpu/src/graph/include/layout_optimizer.h
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/deformable_convolution_gpu_bfyx_conv.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/deformable_convolution_gpu_bfyx_interp.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/deformable_convolution_gpu_bfyx_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_selector.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_params.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/deformable_convolution_kernel_bfyx_conv.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/deformable_convolution_kernel_bfyx_interp.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/deformable_convolution_kernel_bfyx_interp.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/deformable_convolution_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/deformable_convolution_kernel_bfyx_opt.h
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
Labels: category: GPU

#24377 [Op] fix ROIAlign op Coverity issue
  src/core/include/openvino/op/roi_align.hpp
Labels: category: Core, category: CPP API

#24361 [GPU] Update kernel with multiple output to new approach
  src/plugins/intel_gpu/src/graph/impls/ocl/adaptive_pooling.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/arg_max_min.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/ctc_greedy_decoder.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/experimental_detectron_detection_output.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/experimental_detectron_generate_proposals_single_image.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/generate_proposals.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/matrix_nms.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/multiclass_nms.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/non_max_suppression.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/pooling.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/adaptive_pooling_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/arg_max_min_axis.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/ctc_greedy_decoder_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/experimental_detectron_detection_output_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/experimental_detectron_generate_proposals_single_image_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/generate_proposals_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/matrix_nms_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/multiclass_nms_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/non_max_suppression_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/adaptive_pooling/adaptive_pooling_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_axis.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/ctc_greedy_decoder/ctc_greedy_decoder_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/ed_do/detection_output_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/ed_gpsi/generate_proposals_single_image_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/generate_proposals/generate_proposals_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/matrix_nms/matrix_nms_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/multiclass_nms/multiclass_nms_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_max_suppression/non_max_suppression_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_max_suppression/non_max_suppression_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/pooling/pooling_kernel_base.cpp
Labels: category: GPU

#24381 [DOCS] Homepage css files cleanup
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/css/homepage_style.css
  docs/sphinx_setup/conf.py
  docs/sphinx_setup/index.rst
Labels: category: docs

#24101 [Core] Remove RandomUniform state mutex
  src/core/include/openvino/op/random_uniform.hpp
  src/core/src/op/random_uniform.cpp
Labels: category: Core, category: CPP API

#23312 [GPU][CPU][Transformations] Reuse MoveEltwiseUpThroughDataMov transform
  src/common/transformations/include/transformations/common_optimizations/move_eltwise_up_data_movement.hpp
  src/common/transformations/src/transformations/common_optimizations/move_eltwise_up_data_movement.cpp
  src/common/transformations/tests/common_optimizations/move_eltwise_up_data_movement_test.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/move_eltwise_up_data_movement.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/move_eltwise_up_data_movement.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, category: CPU, category: transformations

#24371 Port PR 24018 to release/2023/3
  src/inference/src/dev/core_impl.cpp
  src/plugins/proxy/tests/proxy_tests.cpp
Labels: category: inference, category: PROXY

#24018 Pass empty cache_dir to plugin which supports it
  src/inference/src/dev/core_impl.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/proxy/tests/proxy_tests.cpp
Labels: category: inference, category: PROXY, category: NPU

#24390 [DOCS] Enabling GPU for inference on systems with conda-forge
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
Labels: category: docs

#24397 [DOCS] Fixed undefined units
  docs/sphinx_setup/_static/benchmarks_files/OVMS-benchmark-data.csv
Labels: category: docs

#24392 [DOCS] Enabling GPU for inference on systems with conda-forge - port to 24.1
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
Labels: category: docs

#24119 [Snippets] Added ExpandedLoopInfo and UnifiedLoopInfo support
  src/common/snippets/include/snippets/lowered/loop_info.hpp
  src/common/snippets/include/snippets/lowered/loop_manager.hpp
  src/common/snippets/include/snippets/lowered/loop_port.hpp
  src/common/snippets/include/snippets/lowered/pass/fuse_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/init_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_buffers.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_specific_iterations.hpp
  src/common/snippets/include/snippets/lowered/pass/normalize_loop_ids.hpp
  src/common/snippets/include/snippets/lowered/pass/propagate_subtensors.hpp
  src/common/snippets/include/snippets/lowered/pass/split_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/validate_expanded_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/validate_unified_loops.hpp
  src/common/snippets/include/snippets/lowered/specific_loop_iter_handlers.hpp
  src/common/snippets/include/snippets/lowered/specific_loop_iter_types.hpp
  src/common/snippets/src/generator.cpp
  src/common/snippets/src/lowered/linear_ir.cpp
  src/common/snippets/src/lowered/loop_info.cpp
  src/common/snippets/src/lowered/loop_manager.cpp
  src/common/snippets/src/lowered/loop_port.cpp
  src/common/snippets/src/lowered/pass/clean_repeated_ptr_shifts.cpp
  src/common/snippets/src/lowered/pass/fuse_loops.cpp
  src/common/snippets/src/lowered/pass/init_loops.cpp
  src/common/snippets/src/lowered/pass/insert_buffers.cpp
  src/common/snippets/src/lowered/pass/insert_loops.cpp
  src/common/snippets/src/lowered/pass/insert_specific_iterations.cpp
  src/common/snippets/src/lowered/pass/iter_handler.cpp
  src/common/snippets/src/lowered/pass/normalize_loop_ids.cpp
  src/common/snippets/src/lowered/pass/propagate_subtensors.cpp
  src/common/snippets/src/lowered/pass/reduce_decomposition.cpp
  src/common/snippets/src/lowered/pass/split_loops.cpp
  src/common/snippets/src/lowered/pass/validate.cpp
  src/common/snippets/src/lowered/pass/validate_expanded_loops.cpp
  src/common/snippets/src/lowered/pass/validate_loops.cpp
  src/common/snippets/src/lowered/pass/validate_unified_loops.cpp
  src/common/snippets/src/lowered/specific_loop_iter_handlers.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/tests/src/lowered/pass/buffer_allocation.cpp
  src/common/snippets/tests/src/lowered/pass/loop.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_blocking.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/lowered/buffer_allocation.cpp
Labels: category: CPU

#24409 [DOCS] New RC2 benchmark files for 24.1
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
  docs/sphinx_setup/_static/benchmarks_files/OVMS-benchmark-data.csv
Labels: category: docs

#24402 [GPU] Update of the shortcut in layout::transfrom for 3D layouts
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/layout_test.cpp
Labels: category: GPU

#24394 [Core] Optimize MaxPool reference implementation binary size
  src/core/reference/include/openvino/reference/avg_pool.hpp
  src/core/reference/include/openvino/reference/max_pool.hpp
Labels: category: Core

#23381 [Transformations] Add downgrade transformation for `AvgPool-14` and `MaxPool-14`
  src/common/transformations/include/transformations/op_conversions/convert_avgpool_downgrade.hpp
  src/common/transformations/include/transformations/op_conversions/convert_maxpool_downgrade.hpp
  src/common/transformations/src/transformations/common_optimizations/common_optimizations.cpp
  src/common/transformations/src/transformations/op_conversions/convert_avgpool_downgrade.cpp
  src/common/transformations/src/transformations/op_conversions/convert_maxpool_downgrade.cpp
  src/common/transformations/tests/op_conversions/convert_avgpool_downgrade.cpp
  src/common/transformations/tests/op_conversions/convert_maxpool_downgrade_test.cpp
  src/plugins/template/src/plugin.cpp
Labels: category: transformations, category: TEMPLATE

#24403 [PyOV] remove deprecated add_openvino_libs
  src/bindings/python/src/openvino/utils.py
Labels: category: Python API

#24407 [`EISW-109425`] [`NPU plugin`] [`ov::execution_devices`] Fix bad execution devices value for NPU plugin
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#24396 Check the first dimension each time for any layout
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
Labels: category: NPU

#23721 [Fronted]: Add mmdeploy.ROIAlignRotated
  src/frontends/onnx/frontend/src/op/mmdeploy_roi_align_rotated.cpp
  src/frontends/onnx/frontend/src/op/mmdeploy_roi_align_rotated.hpp
  src/frontends/onnx/frontend/src/ops_bridge.cpp
  src/frontends/onnx/tests/models/mmdeploy_roi_align_rotated.prototxt
  src/frontends/onnx/tests/onnx_import.in.cpp
Labels: category: ONNX FE

#24405 [core] Fix Coverity copy instead of move in core source
  src/core/src/attribute_visitor.cpp
  src/core/src/axis_set.cpp
  src/core/src/bound_evaluate.cpp
  src/core/src/coordinate_diff.cpp
  src/core/src/layout.cpp
Labels: category: Core

#24176 [OV JS] Support element string type
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/src/preprocess/input_tensor_info.cpp
  src/bindings/js/node/src/preprocess/output_tensor_info.cpp
  src/bindings/js/node/src/tensor.cpp
Labels: category: JS API

#24425 [DOCS] Change links to install lts
  docs/install_guides/installing-model-dev-tools.md
  docs/install_guides/installing-openvino-conda.md
  docs/install_guides/installing-openvino-from-archive-linux.md
  docs/install_guides/installing-openvino-from-archive-macos.md
  docs/install_guides/installing-openvino-from-archive-windows.md
  docs/install_guides/installing-openvino-pip.md
  docs/install_guides/installing-openvino-raspbian.md
  docs/install_guides/pypi-openvino-dev.md
Labels: category: docs

#24424 Add Selector Tool 2022.3.2 version
  docs/articles_en/get-started/install-openvino.rst
  docs/sphinx_setup/_static/selector-tool/assets/selector-8f39cd2e.js
  docs/sphinx_setup/_static/selector-tool/selector-1c16038.html
Labels: category: docs

#24399 [TEMPLATE] Fix some Coverity issue in Template plugin
  src/plugins/template/src/compiled_model.cpp
  src/plugins/template/src/config.cpp
  src/plugins/template/src/plugin.cpp
  src/plugins/template/src/sync_infer_request.cpp
Labels: category: TEMPLATE

#24434 [DOCS] Adding 2022.3.2 release to Selector Tool
  docs/articles_en/get-started/install-openvino.rst
  docs/sphinx_setup/_static/selector-tool/assets/selector-327a166e.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-8f39cd2e.js
  docs/sphinx_setup/_static/selector-tool/selector-1c16038.html
Labels: category: docs

#24433 [NPU] Update caching properties with batch mode
  src/plugins/intel_npu/src/plugin/include/metrics.hpp
Labels: category: NPU

#24089 [CPU] [ARM] JIT HSwish
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm

#24400 Deduce the number of KV heads and head_size from the model
  src/common/transformations/src/transformations/sdpa_to_paged_attention/state_management_pattern.cpp
  src/core/src/op/paged_attention.cpp
Labels: category: Core, category: transformations

#24437 Update README.md
  README.md
Labels: category: docs

#24341 [CI] [GHA] Add errors to look for in rerunner
  .github/scripts/workflow_rerun/errors_to_look_for.json
Labels: category: CI

#24391 [GPU] Add additional support format in onednn_gemm transpose_format()
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
Labels: category: GPU

#24428 Added support of MUSL Linux
  .github/dockerfiles/docker_tag
  CMakeLists.txt
  cmake/dependencies.cmake
  cmake/developer_package/target_flags.cmake
  install_build_dependencies.sh
  src/bindings/python/wheel/CMakeLists.txt
  src/cmake/install_tbb.cmake
  src/common/util/include/openvino/util/pp.hpp
  src/common/util/src/file_util.cpp
  src/plugins/intel_gpu/src/plugin/program_builder.cpp
  src/plugins/intel_gpu/src/runtime/kernels_cache.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/test_tools.hpp
Labels: category: inference, category: Core, category: IE Tests, category: GPU, category: build, category: Python API, category: CI, category: packaging, category: docker_env, category: dockerfiles

#24450 [TFL FE] Remove useless wrappers for some translators
  src/frontends/tensorflow_lite/src/op/arg_min_max.cpp
  src/frontends/tensorflow_lite/src/op/batch_matmul.cpp
  src/frontends/tensorflow_lite/src/op/cast.cpp
  src/frontends/tensorflow_lite/src/op/depth_to_space.cpp
  src/frontends/tensorflow_lite/src/op/gelu.cpp
  src/frontends/tensorflow_lite/src/op/leaky_relu.cpp
  src/frontends/tensorflow_lite/src/op/mirror_pad.cpp
  src/frontends/tensorflow_lite/src/op/one_hot.cpp
  src/frontends/tensorflow_lite/src/op/pack.cpp
  src/frontends/tensorflow_lite/src/op/range.cpp
  src/frontends/tensorflow_lite/src/op/resize.cpp
  src/frontends/tensorflow_lite/src/op/reverse_sequence.cpp
  src/frontends/tensorflow_lite/src/op/shape.cpp
  src/frontends/tensorflow_lite/src/op/space_to_depth.cpp
  src/frontends/tensorflow_lite/src/op/split.cpp
  src/frontends/tensorflow_lite/src/op/squeeze.cpp
  src/frontends/tensorflow_lite/src/op/strided_slice.cpp
  src/frontends/tensorflow_lite/src/op/unpack.cpp
  src/frontends/tensorflow_lite/src/op_table.cpp
  src/frontends/tensorflow_lite/src/op_table.hpp
Labels: category: TFL FE

#24232 [Op] RMSNorm reference implementation
  src/core/include/openvino/opsets/opset15_tbl.hpp
  src/core/reference/include/openvino/reference/rms_norm.hpp
  src/core/tests/opset.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/ops/rms_norm.cpp
  src/plugins/template/backend/opset_int_tbl.hpp
  src/plugins/template/tests/functional/op_reference/rms_norm.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: TEMPLATE, category: CPP API, category: Opset

#24430 [core] Fix Coverity auto cause copy in core sources
  src/core/shape_inference/include/variadic_split_shape_inference.hpp
  src/core/src/evaluator.hpp
  src/core/src/layout.cpp
  src/core/src/op/adaptive_avg_pool.cpp
  src/core/src/op/batch_to_space.cpp
  src/core/src/op/broadcast.cpp
  src/core/src/op/concat.cpp
  src/core/src/op/ctc_loss.cpp
  src/core/src/op/depth_to_space.cpp
  src/core/src/op/gather_tree.cpp
  src/core/src/op/loop.cpp
  src/core/src/op/max_pool.cpp
  src/core/src/op/paged_attention.cpp
  src/core/src/op/reverse.cpp
  src/core/src/op/reverse_sequence.cpp
  src/core/src/op/roll.cpp
  src/core/src/op/scaled_dot_product_attention.cpp
  src/core/src/op/shape_of.cpp
  src/core/src/op/shuffle_channels.cpp
  src/core/src/op/slice.cpp
  src/core/src/op/space_to_batch.cpp
  src/core/src/op/space_to_depth.cpp
  src/core/src/op/strided_slice.cpp
  src/core/src/op/tensor_iterator.cpp
  src/core/src/op/unique.cpp
  src/core/src/op/util/broadcast_base.cpp
  src/core/src/op/util/gather_base.cpp
  src/core/src/op/util/multi_subgraph_base.cpp
  src/core/src/op/util/scatter_elements_update_base.cpp
  src/core/src/partial_shape.cpp
  src/core/src/pass/constant_folding.cpp
  src/core/src/pass/low_latency.cpp
  src/core/src/pass/serialize.cpp
  src/core/src/pass/visualize_tree.cpp
  src/core/src/preprocess/preprocess_impls.cpp
  src/core/src/runtime/string_aligned_buffer.cpp
  src/core/template_extension/identity.cpp
  src/core/tests/visitors/visitors.hpp
Labels: category: Core

#24452 [NPU] Set default value for batch mode property
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/common.hpp
Labels: category: NPU

#24449 Add copyright headers to Python scripts in the github folder
  .github/actions/handle_docker/get_images_to_build.py
  .github/actions/handle_docker/helpers.py
  .github/actions/handle_docker/images_api.py
  .github/actions/smart-ci/smart_ci.py
  .github/actions/smart-ci/smart_ci_test.py
  .github/dockerfiles/docker_tag
  .github/scripts/collect_github_metrics.py
  .github/scripts/external_pr_labeller.py
  .github/scripts/workflow_rerun/argument_parser.py
  .github/scripts/workflow_rerun/constants.py
  .github/scripts/workflow_rerun/log_analyzer.py
  .github/scripts/workflow_rerun/log_collector.py
  .github/scripts/workflow_rerun/rerunner.py
  .github/scripts/workflow_rerun/tests/integration_test.py
  .github/scripts/workflow_rerun/tests/log_analyzer_test.py
  .github/scripts/workflow_rerun/tests/log_collector_test.py
Labels: category: CI, category: docker_env, category: dockerfiles

#24453 Dropped old macro usage
  cmake/developer_package/OpenVINODeveloperScriptsConfig.cmake
  docs/Doxyfile.config
  src/cmake/ov_parallel.cmake
  src/core/template_extension/CMakeLists.txt
Labels: category: inference, category: Core, category: build, category: docs

#24068 [GPU] implement additional debug features to dump runtime memory pool
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/debug_configuration.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/memory_pool.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/debug_configuration.cpp
  src/plugins/intel_gpu/src/runtime/memory_pool.cpp
Labels: category: GPU, under_perf_check

#24280 [GPU] Support implicit crop in simple format.
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/crop_gpu_test.cpp
Labels: category: GPU

#24318 [GPU][Doc] doc update
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  src/bindings/c/include/openvino/c/ov_property.h
  src/inference/include/openvino/runtime/properties.hpp
Labels: category: inference, category: GPU, category: C API, category: docs, category: CPP API

#24458 [GPU] Enable fakequantize fusion in dynamic model
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#24302 [PyOV] Add upperbound to flake8
  .github/dependency_review.yml
  src/bindings/python/requirements_test.txt
Labels: category: Python API, category: CI, category: dependency_changes

#24441 [DOCS] Update nodejs_api with support for string element type
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/elementTypeString.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

#24464 [DOCS] Update addon in nodejs_api for 2024.1
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Core.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CoreConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/SupportedTypedArray.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/elementTypeString.rst
Labels: category: docs

#24456 [OV JS] Join conversion functions for ov::Any
  src/bindings/js/node/include/helper.hpp
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/tests/basic.test.js
Labels: category: JS API

#24316 [TF FE] Move conversion of BlockLSTM to loader stage
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/src/op/block_lstm.cpp
  src/frontends/tensorflow_common/include/helper_transforms/block_lstm_replacer.hpp
  src/frontends/tensorflow_common/src/helper_transforms/block_lstm_replacer.cpp
  src/frontends/tensorflow_common/tests/block_lstm_replacer.cpp
  tests/layer_tests/tensorflow_tests/test_tf_BlockLSTM.py
Labels: category: TF FE, category: TFL FE

#24467 update dependencies for MO, ONNX and TEMPLATE
  .github/components.yml
Labels: category: CI

#24295 fix doc for NPU Debug log env
  src/plugins/intel_npu/README.md
Labels: category: docs, ExternalPR, category: NPU

#24321 [GPU] Enable Indirect gemm for non-batch gather axis support
  src/plugins/intel_gpu/include/intel_gpu/op/indirect_gemm.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/gemm.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gemm.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kv_cache.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/beam_table_update_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_tiled_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/beam_table_update/beam_table_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/beam_table_update/beam_table_update_kernel_ref.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/src/plugin/ops/matmul.cpp
  src/plugins/intel_gpu/src/plugin/transformations/indirect_kv_cache.cpp
  src/plugins/intel_gpu/src/plugin/transformations/op/indirect_gemm.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/hash_key_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/indirect_kv_cache_test.cpp
Labels: category: GPU

#24347 Support "mask" parameter passed as 4th input of `DeformableConv2D` node.
  src/frontends/onnx/frontend/src/op/org.openvinotoolkit/deformable_conv_2d.cpp
  src/frontends/onnx/tests/models/org.openvinotoolkit/deformable_conv_2d_with_mask.prototxt
  src/frontends/onnx/tests/onnx_import_org_openvino.in.cpp
  src/frontends/onnx/tests/runtime/interpreter/unit_test.manifest
Labels: ExternalPR, category: ONNX FE

#24472 [TFL FE] Clean up op_table
  src/frontends/tensorflow_lite/src/op_table.cpp
Labels: category: TFL FE

#24480 [NPU] Fix coverity issues
  src/plugins/intel_npu/src/al/src/config/config.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
Labels: category: NPU

#24439 [intel-npu] Implementing DEVICE_GOPS metric
  src/plugins/intel_npu/src/al/include/npu.hpp
  src/plugins/intel_npu/src/al/src/npu.cpp
  src/plugins/intel_npu/src/backend/include/zero_device.hpp
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
  src/plugins/intel_npu/src/plugin/include/metrics.hpp
  src/plugins/intel_npu/src/plugin/src/metrics.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#24469 [GPU] Fixed eltwise fusing check in onednn case
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU

#24473 [CPU] [Snippets] Update the state of current_loop_info after loop fusion
  src/common/snippets/src/lowered/pass/fuse_loops.cpp
Labels: bug, category: CPU

#23728 [GPU] Add i32 output type for FC
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bfyx_ref.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/matmul.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#24197 [Op] Add `Col2Im-15` implementation to Core
  src/core/include/openvino/op/col2im.hpp
  src/core/include/openvino/op/ops.hpp
  src/core/shape_inference/include/col2im_shape_inference.hpp
  src/core/src/op/col2im.cpp
  src/core/tests/type_prop/col2im.cpp
  src/core/tests/visitors/op/col2im.cpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/col2im_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#24162 [OP CONFORMANCE][TEMPLATE] Convolution tests are failed in opset conformance
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/include/utils/generate_static_shapes.hpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/utils/generate_static_shapes.cpp
Labels: category: IE Tests, ExternalPR, conformance

#24463 [CPU] Fix alloc-size-larger-than warning.
  src/plugins/intel_cpu/src/cpu_memory.cpp
Labels: category: CPU

#24404 [OV JS] Add test of installation openvino-node package
  .github/workflows/windows.yml
Labels: category: CI, do not merge, github_actions

#24423 Update meta-plugin revalidate list
  .github/components.yml
Labels: category: CI

#23265 [BATCH] support ov::enable_profiling
  src/plugins/auto_batch/src/plugin.cpp
  src/plugins/auto_batch/tests/unit/plugin_get_property_test.cpp
Labels: ExternalPR, category: AUTO BATCH

#24514 Fix PagedAttention PrevSequenceLengthPattern pattern
  src/common/transformations/src/transformations/sdpa_to_paged_attention/prev_sequence_length_pattern.cpp
  src/core/src/pass/sdpa_to_paged_attention.cpp
Labels: category: Core, category: transformations

#24107 [CPU] PagedAttention supports dynamic-split fuse
  cmake/developer_package/cross_compile/cross_compiled_func.cmake
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa_common.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa_common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/softmax_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/transpose_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.hpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/nodes/paged_attn.h
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/src/shape_inference/custom/paged_attn.cpp
  src/plugins/intel_cpu/src/shape_inference/custom/paged_attn.hpp
Labels: category: CPU, category: build

#24455 Added Alpine Linux dependencies to install list
  install_build_dependencies.sh
Labels: ExternalPR, category: docker_env

#24427 [PyOV] Missed API for Node
  src/bindings/python/src/pyopenvino/graph/node.cpp
  src/bindings/python/tests/test_graph/test_basic.py
  src/bindings/python/tests/test_graph/test_loop.py
  src/bindings/python/tests/test_graph/test_node_factory.py
Labels: category: Python API

#24522 [PyOV] add set/add_names to Output
  src/bindings/python/src/pyopenvino/graph/node_output.cpp
  src/bindings/python/tests/test_runtime/test_output_const_node.py
  src/bindings/python/tests/test_runtime/test_output_node.py
Labels: category: Python API

#24503 [Snippets] TPP build fix
  src/plugins/intel_cpu/src/transformations/tpp/x64/pass/lowered/set_tpp_leading_dim.cpp
Labels: category: CPU

#24406 Docs long build fix
  .github/workflows/build_doc.yml
  docs/requirements.txt
  docs/sphinx_setup/conf.py
Labels: category: CI, category: docs, category: dependency_changes, github_actions

#24512 Made MO deprecation message more explicit.
  tools/mo/openvino/tools/mo/convert_impl.py
  tools/mo/openvino/tools/mo/front/caffe/detection_output_ext.py
  tools/mo/openvino/tools/mo/front/kaldi/extractors/convolutional_1d_component_ext.py
  tools/mo/openvino/tools/mo/front/kaldi/replace_lstm_nonlinearity.py
  tools/mo/openvino/tools/mo/middle/MXNetSplitMultiLayers.py
  tools/mo/openvino/tools/mo/middle/StridedSliceNormalizer.py
  tools/mo/openvino/tools/mo/ops/one_hot.py
  tools/mo/openvino/tools/mo/utils/get_ov_update_message.py
  tools/mo/openvino/tools/mo/utils/logger.py
Labels: category: MO

#24507 [SAMPLES] Get the correct batch size when running with pre-compiled models
  samples/cpp/benchmark_app/main.cpp
Labels: category: samples

#23844 [CPU]: Added ROIAlignRotated basic impl.
  src/core/include/openvino/opsets/opset14_tbl.hpp
  src/core/tests/opset.cpp
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/nodes/roi_align_rotated.cpp
  src/plugins/intel_cpu/src/nodes/roi_align_rotated.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: build, category: ONNX FE, category: CPP API, Code Freeze

#24504 [CPU] Created BrgemmCompiledKernel to cache palette with kernel
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
Labels: bug, category: CPU

#24524 [intel-npu] implementing EXECUTION_MODE_HINT property
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/compiler.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/al/config/config.hpp
  src/plugins/intel_npu/src/al/src/config/compiler.cpp
  src/plugins/intel_npu/src/al/src/config/config.cpp
  src/plugins/intel_npu/src/compiler/src/zero_compiler_in_driver.cpp
  src/plugins/intel_npu/src/plugin/include/metrics.hpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#24513 Remove update version reminder.
  tools/ovc/openvino/tools/ovc/convert_impl.py
  tools/ovc/openvino/tools/ovc/get_ov_update_message.py
Labels: category: MO

#24519 OpenVINO at the openSUSE Factory - cabelo@opensuse.org
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
Labels: category: docs, ExternalPR

#24530 [intel-npu] Implementing DEVICE_TYPE property
  src/plugins/intel_npu/src/al/include/npu.hpp
  src/plugins/intel_npu/src/al/src/npu.cpp
  src/plugins/intel_npu/src/backend/include/zero_device.hpp
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
  src/plugins/intel_npu/src/plugin/include/metrics.hpp
  src/plugins/intel_npu/src/plugin/src/metrics.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#24283 [GPU] Fix execution order corrupted issue on dGPU
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reorder.cpp
  src/plugins/intel_gpu/src/graph/include/reorder_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/skip_redundant_reorder_at_runtime.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
Labels: category: GPU

#24165 [CPU] [ARM] JIT HSigmoid: Min & Max
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
Labels: category: CPU, platform: arm

#24297 cpu_convert enable u4/i4 ->f32,bf16,i8,u8
  samples/cpp/benchmark_app/inputs_filling.cpp
  src/plugins/intel_cpu/src/nodes/common/cpu_convert.cpp
  src/plugins/intel_cpu/src/nodes/gather.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/conversion.cpp
  tools/benchmark_tool/openvino/tools/benchmark/utils/inputs_filling.py
Labels: category: CPU, category: samples, category: tools, Code Freeze

#24478 [ TRANSFORMATIONS TESTS POC] Extending conformance tools to work with transformed graphs
  src/tests/functional/plugin/conformance/subgraphs_dumper/include/matchers/subgraph/fused_names.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/fused_names.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/include/utils/generate_static_shapes.hpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/read_ir/read_ir.cpp
  src/tests/test_utils/functional_test_utils/layer_tests_summary/conformance_helper_tools/compare_subgraph_dir.py
Labels: category: IE Tests, conformance

#24536 [DOCS] fix openvino_custon_sphinx_sitemap installation
  .github/workflows/build_doc.yml
  docs/documentation_build_instructions.md
  docs/requirements.txt
Labels: category: CI, category: docs, category: dependency_changes, github_actions

#24132 [transpose sinking] fix SIGSEGV TSDataMovement
  src/common/transformations/include/transformations/transpose_sinking/ts_base.hpp
  src/common/transformations/include/transformations/transpose_sinking/ts_utils.hpp
  src/common/transformations/src/transformations/transpose_sinking/ts_base.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_binary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_concat.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_cumsum.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_data_movement.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_gather.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_interpolate.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_reduction.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_shape_of.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_slice.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_split.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_squeeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_tile.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unary.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_unsqueeze.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_utils.cpp
  src/common/transformations/tests/transpose_sinking/ts_binary_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_common_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_unary_test.cpp
Labels: category: transformations

#24389 Fix the error of splitting chatglm, qwen-7b-chat and baichuan-13b
  src/inference/src/dev/iplugin.cpp
  src/plugins/hetero/src/subgraph_collector.cpp
  src/plugins/hetero/tests/unit/subgraph_collector.cpp
Labels: category: inference, category: HETERO, Code Freeze

#23947 [Opset15][Spec] Col2Im-15 specification
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/col2im-15.rst
Labels: category: docs, category: Opset

#24538 [CPU][Core] PageAttention supports new interface
  src/common/transformations/include/transformations/sdpa_to_paged_attention/position_ids_replacer.hpp
  src/common/transformations/include/transformations/sdpa_to_paged_attention/state_management_pattern.hpp
  src/common/transformations/src/transformations/sdpa_to_paged_attention/position_ids_replacer.cpp
  src/common/transformations/src/transformations/sdpa_to_paged_attention/state_management_pattern.cpp
  src/core/src/node_output.cpp
  src/core/src/op/paged_attention.cpp
  src/core/src/pass/sdpa_to_paged_attention.cpp
  src/core/tests/model.cpp
  src/core/tests/replace_node.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa_common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/softmax_kernel.hpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/nodes/paged_attn.h
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.h
Labels: category: Core, category: CPU, category: transformations

#24100 fix regression model orca
  src/plugins/intel_cpu/src/nodes/gather.cpp
  src/plugins/intel_cpu/src/nodes/gather.h
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/gather_weights_decompression.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/gather_weights_decompression.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/gather_weights_decompression.hpp
  src/tests/functional/shared_test_classes/src/subgraph/gather_weights_decompression.cpp
Labels: category: IE Tests, category: GPU, category: CPU, Code Freeze

#24359 Use custom TBB even on Linux
  .github/dockerfiles/docker_tag
  .github/workflows/fedora.yml
  .github/workflows/linux.yml
  .github/workflows/linux_conditional_compilation.yml
  cmake/features.cmake
  scripts/install_dependencies/install_openvino_dependencies.sh
  tests/lib/CMakeLists.txt
Labels: category: build, category: CI, category: dependency_changes, github_actions, category: docker_env, category: dockerfiles

#24484 update onetbb2021.2.5 for linux arm64 and mac arm64
  cmake/dependencies.cmake
Labels: category: build, Code Freeze

#24210 [CPU] [ARM] JIT Elu
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm

#24549 [Docs] port benchmark files RC2 to master
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.1-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-benchmark-data.csv
  docs/sphinx_setup/_static/benchmarks_files/OVMS-benchmark-data.csv
Labels: category: docs

#24543 [GPU] Reduce binary size by disabling unused isa
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: GPU, category: build

#24470 [DOCS] Update the document of HETERO pipeline parallelism
  docs/articles_en/assets/snippets/ov_hetero.cpp
  docs/articles_en/assets/snippets/ov_hetero.py
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/hetero-execution.rst
Labels: category: docs

#24395 [CI] [GHA] Use Dockerfiles in Linux CC workflow
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/ubuntu_22_04_x64_cc/Dockerfile
  .github/workflows/linux_conditional_compilation.yml
Labels: category: CI, github_actions, category: dockerfiles

#24553 [PT FE] Support torch.any and torch.all on both FX and TS side
  src/frontends/pytorch/src/op/all.cpp
  src/frontends/pytorch/src/op/any.cpp
  src/frontends/pytorch/src/op/upsample.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_all.py
  tests/layer_tests/pytorch_tests/test_any.py
  tests/layer_tests/pytorch_tests/test_isfinite.py
  tests/layer_tests/pytorch_tests/test_isinf.py
  tests/layer_tests/pytorch_tests/test_isnan.py
Labels: category: PyTorch FE, Code Freeze

#24550 [Commit slider] bm template extended
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_manager.py
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_samples/bm_perf_for_CI.json
Labels: category: CPU

#24443 [CORE] Change get_input_const_data_as return type from std::unique_ptr to ov::optional
  src/core/shape_inference/include/fft_base_shape_inference.hpp
  src/core/shape_inference/include/fft_common_validation.hpp
  src/core/shape_inference/include/interpolate_shape_inference.hpp
  src/core/shape_inference/include/irdft_shape_inference.hpp
  src/core/shape_inference/include/rdft_shape_inference.hpp
  src/core/shape_inference/include/reduce_shape_inference.hpp
  src/core/shape_inference/include/rms_norm_shape_inference.hpp
  src/core/shape_inference/include/roll_shape_inference.hpp
  src/core/shape_inference/include/strided_slice_shape_inference.hpp
  src/core/shape_inference/include/transpose_shape_inference.hpp
  src/core/shape_inference/include/utils.hpp
Labels: category: Core

#24527 [Tmpl test] Enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/region_yolo.cpp
  src/plugins/template/tests/functional/op_reference/roi_pooling.cpp
  src/plugins/template/tests/functional/op_reference/select.cpp
  src/plugins/template/tests/functional/op_reference/squared_difference.cpp
  src/plugins/template/tests/functional/op_reference/unique.cpp
Labels: category: TEMPLATE

#24539 [Op] Common RMS operation - corrected author
  src/common/transformations/include/ov_ops/rms.hpp
  src/common/transformations/include/transformations/common_optimizations/rms_fusion.hpp
  src/common/transformations/src/ov_ops/rms.cpp
  src/common/transformations/src/transformations/common_optimizations/rms_fusion.cpp
  src/common/transformations/tests/common_optimizations/rms_norm_decomposition_test.cpp
  src/plugins/intel_gpu/src/plugin/ops/rms.cpp
  src/plugins/intel_gpu/src/plugin/transformations/rms_fusion.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, category: transformations

#24555 [Tmpl test] Range: Drop legacy comparison
  src/plugins/template/tests/functional/op_reference/range.cpp
Labels: category: TEMPLATE

#24118 [CPU] Support inference_precision::undefined in CPU and use it in ExecutionMode::ACCURACY
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_plugin/properties.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/include/undefined_et.hpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/classes/undefined_et.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/undefined_et.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/core_config.cpp
Labels: category: CPU

#24174 [CPU] [ARM] HardSigmoid decompoition & JIT exec
  src/common/transformations/include/transformations/op_conversions/hard_sigmoid_decomposition.hpp
  src/common/transformations/src/transformations/op_conversions/hard_sigmoid_decomposition.cpp
  src/plugins/intel_cpu/src/transformations/defs.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, category: transformations, platform: arm

#23955 [GPU]: Added ROIAlignRotated basic impl
  src/frontends/onnx/tests/onnx_import.in.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/roi_align.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/roi_align.cpp
  src/plugins/intel_gpu/src/graph/roi_align.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/roi_align_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/roi_align/roi_align_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/roi_align/roi_align_kernel_ref.h
  src/plugins/intel_gpu/src/plugin/ops/roi_align_rotated.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/roi_align_rotated_gpu_test.cpp
  src/plugins/template/tests/functional/op_reference/roi_align_rotated.cpp
  src/tests/test_utils/unit_test_utils/tests_data/roi_align_rotated_data.h
Labels: category: IE Tests, category: GPU, category: TEMPLATE, category: ONNX FE, Code Freeze

#24129 Remove specific plugin names in shared test case
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Labels: category: IE Tests

#24431 Force default locale for cache model write/read
  src/inference/src/cache_manager.hpp
  src/inference/tests/functional/local_test.cpp
Labels: category: inference, Code Freeze

#23843 Expose Model.get_output_shape() method to Node.js API
  src/bindings/js/node/include/model_wrap.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/model_wrap.cpp
  src/bindings/js/node/tests/model.test.js
Labels: ExternalPR, category: JS API

#23730 [CPU] Fix sporadic SIGFAULT in GridSample. (#15009)
  src/plugins/intel_cpu/src/nodes/grid_sample.cpp
  src/plugins/intel_cpu/src/nodes/kernels/grid_sample.cpp
  src/plugins/intel_cpu/src/nodes/kernels/jit_kernel_base.cpp
  src/plugins/intel_cpu/src/nodes/kernels/jit_kernel_base.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/single_layer_tests/grid_sample.cpp
Labels: category: CPU

#24451 [GPU] Fix NMS cpu impl
  src/plugins/intel_gpu/src/graph/impls/cpu/non_max_suppression.cpp
Labels: category: GPU

#23826 [GPU] Avoid force exit for out of resource exception if device is lost
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/runtime/ocl/ocl_common.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_stream.cpp
Labels: category: GPU

#24354 [PT FE] Support inplace aten::sqrt, aten::rsqrt, aten::clamp_{min, max}
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_clamp.py
  tests/layer_tests/pytorch_tests/test_unary_ops.py
Labels: category: PyTorch FE, Code Freeze

#24482 [PT FE] Support converting 16bit models by patching
  src/bindings/python/src/openvino/frontend/pytorch/patch_model.py
  src/frontends/pytorch/src/op/linear.cpp
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Labels: category: Python API, category: PyTorch FE, Code Freeze

#24071 [Reference][CPU] Inverse correctly computes adjoint
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/matrix/inverse-14.rst
  src/core/reference/include/openvino/reference/inverse.hpp
  src/core/reference/src/op/inverse.cpp
  src/plugins/intel_cpu/src/nodes/inverse.cpp
  src/plugins/intel_cpu/src/nodes/inverse.hpp
  src/plugins/template/tests/functional/op_reference/inverse.cpp
Labels: category: Core, category: CPU, category: docs, category: TEMPLATE, Code Freeze

#24380 [GPU] Unit test fixes
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/grid_sample_ref.cl
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#24117 [CPU] Shared compressed weights support
  src/common/transformations/tests/op_conversions/convert_gather_to_compressed_test.cpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/convert_to_power_static.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/matmul_decompress_convert.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/matmul_weights_decompression.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/gather_weights_decompression.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/shared_matmul_gather_weights_decompression.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/shared_matmul_weights_decompression.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/gather_weights_decompression.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/gather_weights_decompression.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/shared_matmul_gather_weights_decompression.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/shared_matmul_weights_decompression.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/weights_decompression_builders.hpp
  src/tests/functional/shared_test_classes/src/subgraph/gather_weights_decompression.cpp
  src/tests/functional/shared_test_classes/src/subgraph/shared_matmul_gather_weights_decompression.cpp
  src/tests/functional/shared_test_classes/src/subgraph/shared_matmul_weights_decompression.cpp
  src/tests/functional/shared_test_classes/src/subgraph/weights_decompression_builders.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: transformations

#24222 [CPU] [ARM] JIT Mish
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/transformations/defs.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm

#24442 fix AUTO wrong device selection logic if dynamic stateful model
  src/plugins/auto/src/auto_schedule.cpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/tests/unit/stateful_model_test.cpp
Labels: category: AUTO, Code Freeze

#24580 fix compilation issue on ubuntu24
  src/plugins/auto/CMakeLists.txt
Labels: category: build, category: AUTO

#24531 [intel-npu] Adding EXECUTION_DEVICES read-only property
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#24565 Libxsmm licensing
  licensing/runtime-third-party-programs.txt
Labels: category: licensing

#24589 Docs update main page for master
  docs/sphinx_setup/_static/css/custom.css
Labels: category: docs
