Repository openvinotoolkit/openvino, pull requests merged in 2024-11, with the labels that each got.

#27367 [TF FE] Run string ops tests on ARM
  tests/layer_tests/tensorflow_tests/test_tf_LookupTableFind.py
  tests/layer_tests/tensorflow_tests/test_tf_RaggedTensorToSparse.py
  tests/layer_tests/tensorflow_tests/test_tf_RaggedTensorToTensor.py
  tests/layer_tests/tensorflow_tests/test_tf_StaticRegexReplace.py
  tests/layer_tests/tensorflow_tests/test_tf_StringLower.py
  tests/layer_tests/tensorflow_tests/test_tf_StringSplitV2.py
  tests/layer_tests/tensorflow_tests/test_tf_StringToHashBucketFast.py
Labels: category: TF FE

#27359 [ONNX] Disabled constant folding for Subtract branch of DequantizeLinear-21
  src/frontends/onnx/frontend/src/op/dequantize_linear.cpp
Labels: category: ONNX FE

#27357 Broadcast: symbol propagation
  src/core/include/openvino/op/util/broadcast_base.hpp
  src/core/src/op/util/broadcast_base.cpp
Labels: category: Core, category: CPP API

#27368 [ONNX] Updated a required version of ONNXRuntime for layer tests
  tests/layer_tests/requirements.txt
Labels: category: dependency_changes

#27373 [NPU] Add zero_api when zero functions are used
  src/plugins/intel_npu/src/compiler_adapter/src/driver_graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_graph.cpp
Labels: category: NPU

#27383 [DOCS] unhide columns in datatable 24.4
  docs/sphinx_setup/_static/js/openVinoDataTables.js
  docs/sphinx_setup/index.rst
Labels: category: docs

#27233 [DOCS] Updating system requirements for OpenVINO
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-brew.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conan.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-npm.rst
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
  docs/articles_en/get-started/install-openvino/install-openvino-vcpkg.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
Labels: category: docs

#27380 [CI] [GHA] Use an internal image for `docker buildx` setup
  .github/actions/handle_docker/action.yml
  .github/dockerfiles/docker_tag
Labels: category: CI, category: docker_env, category: dockerfiles

#27361 [GPU] Enable bf16 state conversions
  src/plugins/intel_gpu/src/plugin/common_utils.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
Labels: category: GPU, Code Freeze

#27388 [DOCS] unhide columns fix mstr
  docs/sphinx_setup/index.rst
Labels: category: docs

#27386 [Fix][STFT] OPENVINO_OP macro for STFT with opset15
  src/core/include/openvino/op/stft.hpp
Labels: category: Core, category: CPP API

#27389 [DOCS] unhide columns - fix 24.4
  docs/sphinx_setup/_static/js/openVinoDataTables.js
  docs/sphinx_setup/index.rst
Labels: category: docs

#27362 [GPU] Fix unexpected runtime skip permute
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/skip_permutes_at_runtime.cpp
Labels: category: GPU

#27363 [GPU] Remove unused crop layer.
  src/plugins/intel_gpu/src/plugin/ops/split.cpp
Labels: category: GPU, Code Freeze

#27376 [GPU] Fix issue for Flux.1 int4 WC model memory overuse.
  src/plugins/intel_gpu/src/plugin/transformations/convert_fc_to_compressed.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/matmul_weights_decompression.cpp
Labels: category: GPU, Code Freeze

#27377 [GPU] Model cache segfault fix
  src/plugins/intel_gpu/src/graph/impls/ocl/activation.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/arg_max_min.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/border.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/broadcast.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/concatenation.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/crop.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/cum_sum.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/dynamic_quantize.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/fully_connected.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gather_elements.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/gather_nd.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/group_normalization.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/mvn.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/non_zero.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/permute.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/quantize.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/range.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reorder.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/rms.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/rope.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_nd_update.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_update.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/select.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/slice.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/softmax.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/strided_slice.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/swiglu.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/tile.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/unique.cpp
Labels: category: GPU, Code Freeze

#27393 [MERGE][CI] [GHA] Use an internal image for `docker buildx` setup (#27380)
  .github/actions/handle_docker/action.yml
  .github/dockerfiles/docker_tag
Labels: category: CI, category: docker_env, category: dockerfiles

#27206 [OV JS] Simplify run js samples
  samples/js/node/.gitignore
  samples/js/node/README.md
  samples/js/node/classification_sample_async/README.md
  samples/js/node/classification_sample_async/classification_sample_async.js
  samples/js/node/fetch-samples-assets.js
  samples/js/node/hello_classification/README.md
  samples/js/node/hello_classification/hello_classification.js
  samples/js/node/hello_reshape_ssd/README.md
  samples/js/node/hello_reshape_ssd/hello_reshape_ssd.js
  samples/js/node/helpers.js
  samples/js/node/image.js
  samples/js/node/notebooks/hello-detection.nnb
  samples/js/node/notebooks/hello-segmentation.nnb
  samples/js/node/notebooks/hello-world.nnb
  samples/js/node/notebooks/optical-character-recognition.nnb
  samples/js/node/notebooks/pose-estimation.nnb
  samples/js/node/notebooks/question-answering.nnb
  samples/js/node/notebooks/tokenizer_bert.js
  samples/js/node/notebooks/vision-background-removal.nnb
  samples/js/node/optical_character_recognition/README.md
  samples/js/node/optical_character_recognition/optical-character-recognition.js
  samples/js/node/package-lock.json
  samples/js/node/package.json
  samples/js/node/vision_background_removal/README.md
  samples/js/node/vision_background_removal/vision_background_removal.js
Labels: category: samples, category: docs

#27374 [TF FE] Provide better support for TopKV2 and stabilize test
  src/frontends/tensorflow_common/src/op/top_k.cpp
  tests/layer_tests/tensorflow_tests/test_tf_TopKV2.py
Labels: category: TF FE, category: TFL FE

#27397 [DOCS] unhide columns one more change 24.4
  docs/sphinx_setup/_static/js/openVinoDataTables.js
Labels: category: docs

#27340 [Transformations][CPU] LoraFusion: convert on states support
  src/common/transformations/src/transformations/common_optimizations/lora_subgraph_fusion.cpp
  src/common/transformations/tests/common_optimizations/lora_subgraph_fusion.cpp
  src/common/util/include/openvino/util/weights_path.hpp
  src/plugins/intel_cpu/src/nodes/lora.cpp
  src/plugins/intel_cpu/src/nodes/lora.h
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/lora_pattern.cpp
Labels: bug, category: Core, category: CPU, category: transformations, Code Freeze

#27396 [DOCS] unhide columns one more change mstr
  docs/sphinx_setup/_static/js/openVinoDataTables.js
Labels: category: docs

#26914 Added E2E LLM test
  tests/llm/accuracy_conformance.py
  tests/llm/requirements.txt
Labels: category: dependency_changes, no-match-files

#27252 Use pyOv tests requirements
  .github/workflows/job_python_unit_tests.yml
Labels: category: CI, github_actions

#27330 [core] Remove LSTM sequence v0
  src/bindings/python/src/openvino/runtime/opset1/__init__.py
  src/bindings/python/src/openvino/runtime/opset1/ops.py
  src/bindings/python/src/openvino/runtime/opset2/__init__.py
  src/bindings/python/src/openvino/runtime/opset3/__init__.py
  src/bindings/python/src/openvino/runtime/opset4/__init__.py
  src/bindings/python/tests/test_graph/test_create_op.py
  src/core/include/openvino/op/lstm_sequence.hpp
  src/core/include/openvino/opsets/opset1.hpp
  src/core/include/openvino/opsets/opset1_tbl.hpp
  src/core/include/openvino/opsets/opset2.hpp
  src/core/include/openvino/opsets/opset2_tbl.hpp
  src/core/include/openvino/opsets/opset3.hpp
  src/core/include/openvino/opsets/opset3_tbl.hpp
  src/core/reference/include/openvino/reference/sequences.hpp
  src/core/shape_inference/include/lstm_sequence_shape_inference.hpp
  src/core/src/op/lstm_sequence.cpp
  src/core/src/pass/low_latency.cpp
  src/core/tests/opset.cpp
  src/core/tests/type_prop/lstm_sequence.cpp
  src/core/tests/type_prop/rnn_seq_base.cpp
  src/core/tests/visitors/op/lstm_sequence.cpp
  src/frontends/onnx/frontend/src/op/lstm.cpp
  src/frontends/onnx/tests/models/lstm_bdir_short_input_seq.prototxt
  src/frontends/onnx/tests/models/lstm_fwd_with_clip_peepholes.prototxt
  src/frontends/onnx/tests/onnx_import_rnn.in.cpp
  src/frontends/onnx/tests/runtime/ie/unit_test.manifest
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/rnn_sequences_optimization.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/lstm_seq_shape_inference_test.cpp
  src/plugins/template/backend/evaluates_map.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/ops/sequences.cpp
  src/plugins/template/backend/opset_int_tbl.hpp
  src/plugins/template/tests/functional/op_reference/lstm_sequence.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: Python API, category: TEMPLATE, category: ONNX FE, category: CPP API

#27307 [core] Remove legacy tensor name
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/control_flow/unroll_if.cpp
  src/common/transformations/src/transformations/control_flow/unroll_tensor_iterator.cpp
  src/common/transformations/src/transformations/convert_precision.cpp
  src/common/transformations/src/transformations/op_conversions/convert_maxpool_downgrade.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_utils.cpp
  src/common/transformations/tests/control_flow/unroll_tensor_iterator_test.cpp
  src/common/transformations/tests/utils/convert_precision.cpp
  src/core/dev_api/openvino/core/descriptor_tensor.hpp
  src/core/include/openvino/core/descriptor/tensor.hpp
  src/core/src/descriptor/tensor.cpp
  src/core/src/graph_util.cpp
  src/core/src/node.cpp
  src/core/src/node_output.cpp
  src/core/src/preprocess/preprocess_impls.cpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/plugins/intel_cpu/src/utils/serialize.cpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_simple.cpp
Labels: category: Core, category: IE Tests, category: CPU, category: transformations, category: ONNX FE, category: CPP API

#27384 [GHA] Set commit action versions
  .github/actions/handle_docker/action.yml
  .github/actions/setup_python/action.yml
  .github/actions/smart-ci/action.yml
  .github/dockerfiles/docker_tag
Labels: category: CI, category: docker_env, category: dockerfiles

#27385 [GHA] Switch coverity pipeline to internal docker image
  .github/workflows/coverity.yml
Labels: category: CI, github_actions

#27375 [TF FE] Check OV and FW outputs shapes and types in layer tests
  src/frontends/tensorflow_common/src/op/tensor_list_operations.cpp
  src/frontends/tensorflow_common/src/op/tobool.cpp
  src/frontends/tensorflow_common/src/op/unique_with_counts.cpp
  tests/layer_tests/common/tf_layer_test_class.py
  tests/layer_tests/tensorflow_tests/test_tf_Equal.py
  tests/layer_tests/tensorflow_tests/test_tf_ToBool.py
Labels: category: TF FE, category: TFL FE, no-match-files

#27333 [core] Remove deprecated element Type ctor
  src/core/include/openvino/core/type/element_type.hpp
  src/core/src/type/element_type.cpp
Labels: category: Core, category: CPP API

#27412 Bump OV version 2025.0
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/core/include/openvino/core/version.hpp
Labels: category: Core, category: build, category: CPP API, category: packaging

#27339 [core] Remove deprecated members of Concat operator
  src/core/include/openvino/op/concat.hpp
Labels: category: Core, category: CPP API

#27355 [docs] Update LSTM sequence specification (version update)
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset1.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset10.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset11.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset12.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset13.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset14.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset15.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset2.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset3.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset5.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset6.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset7.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset8.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/available-opsets/opset9.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/lstm-sequence-5.rst
Labels: category: docs

#27403 [GPU] clean oneDNN cache by release memory method
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
Labels: category: GPU, Code Freeze

#27417 [GPU] Disable crop fusing
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU, Code Freeze

#27414 [GHA] Changed android runner
  .github/workflows/android_x64.yml
Labels: category: CI, github_actions

#27408 [GPU] clean oneDNN cache by release memory method
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
Labels: category: GPU, Code Freeze

#27320 [PyOV] Test for export-import via file
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/tests/test_graph/test_custom_op.py
  src/bindings/python/tests/test_graph/test_manager.py
  src/bindings/python/tests/test_runtime/test_compiled_model.py
  src/bindings/python/tests/test_runtime/test_core.py
  src/bindings/python/tests/test_runtime/test_model.py
  src/bindings/python/tests/test_transformations/test_compression.py
  src/bindings/python/tests/test_transformations/test_offline_api.py
  src/bindings/python/tests/test_transformations/test_public_transformations.py
  src/bindings/python/tests/utils/helpers.py
Labels: category: Python API

#27425 [DOCS] Remove pre-release note
  docs/dev/pypi_publish/pre-release-note.md
  docs/dev/pypi_publish/pypi-openvino-dev.md
  docs/dev/pypi_publish/pypi-openvino-rt.md
Labels: category: docs

#27300 [Snippets] Fixed LoopManager::update_loop_ports
  src/common/snippets/include/snippets/lowered/pass/init_loops.hpp
  src/common/snippets/include/snippets/lowered/pass/validate_unified_loops.hpp
  src/common/snippets/include/snippets/utils/loop_utils.hpp
  src/common/snippets/src/lowered/loop_manager.cpp
  src/common/snippets/src/lowered/pass/init_loops.cpp
  src/common/snippets/src/lowered/pass/validate_unified_loops.cpp
  src/common/snippets/src/utils/loop_utils.cpp
Labels: category: CPU

#26404 [GPU] Added convolution_gpu_b_fs_zyx_fsv16_imad shape agnostic kernel
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/convolution.hpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_b_fs_zyx_fsv16_imad.cl
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_zyx_fsv16_imad.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_zyx_fsv16_imad.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.h
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU, no_stale

#27419 [GPU] Disable crop fusing
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
Labels: category: GPU, Code Freeze

#27405 [NPU] Fix compiler clang build
  src/plugins/intel_npu/src/al/include/intel_npu/prefix.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_types.hpp
Labels: category: NPU

#27429 [PyOV] Use `python -m build` only for old `pip` versions
  src/bindings/python/wheel/CMakeLists.txt
Labels: category: build, category: Python API, category: packaging

#27422 [GHA] WA parallel make issue
  .github/workflows/android_arm64.yml
  .github/workflows/android_x64.yml
  .github/workflows/coverity.yml
  .github/workflows/dev_cpu_linux_snippets_libxsmm.yml
  .github/workflows/job_build_linux.yml
  .github/workflows/job_build_windows.yml
  .github/workflows/job_onnx_runtime.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/linux_riscv.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#27434 [NPU] Fix clang issue
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_types.hpp
Labels: category: NPU

#27436 [GPU] Fix accuracy issue in PagedAttention kernel for large prompts
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
Labels: category: GPU, Code Freeze

#27433 [GPU] Fix accuracy issue in PagedAttention kernel for large prompts
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
Labels: category: GPU, Code Freeze

#27435 Backport NPU wheel build fix for Windows
  src/bindings/python/wheel/CMakeLists.txt
Labels: category: build, category: Python API, category: packaging

#27437 [NPUW] Support i16/u16 constants during partitioning
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
Labels: category: NPU, category: NPUW

#27445 [GHA] Coverity build regression fix
  .github/workflows/coverity.yml
Labels: category: CI, github_actions

#27444 [GPU] Enable KV-cache compression by default for non-systolic platforms
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/dynamic_quantize_gpu_kv_cache.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/dynamic_quantize/dynamic_quantize_kernel_opt_kv_cache.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache_sdpa.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/dynamic_quantize_gpu_test.cpp
Labels: category: GPU, Code Freeze

#27410 [GPU] Enable KV-cache compression by default for non-systolic platforms
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/dynamic_quantize_gpu_kv_cache.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/dynamic_quantize/dynamic_quantize_kernel_opt_kv_cache.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache_sdpa.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/dynamic_quantize_gpu_test.cpp
Labels: category: GPU, Code Freeze

#27175 [Snippets] Added dynamic memory sharing support
  src/common/snippets/include/snippets/lowered/expressions/buffer_expression.hpp
  src/common/snippets/include/snippets/lowered/loop_info.hpp
  src/common/snippets/include/snippets/lowered/pass/define_buffer_clusters.hpp
  src/common/snippets/include/snippets/lowered/pass/mark_invariant_shape_path.hpp
  src/common/snippets/include/snippets/lowered/pass/set_buffer_reg_group.hpp
  src/common/snippets/include/snippets/utils/utils.hpp
  src/common/snippets/src/lowered/expression.cpp
  src/common/snippets/src/lowered/expressions/buffer_expression.cpp
  src/common/snippets/src/lowered/loop_info.cpp
  src/common/snippets/src/lowered/pass/allocate_buffers.cpp
  src/common/snippets/src/lowered/pass/define_buffer_clusters.cpp
  src/common/snippets/src/lowered/pass/mark_invariant_shape_path.cpp
  src/common/snippets/src/lowered/pass/set_buffer_reg_group.cpp
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/pass/lowered/set_tpp_leading_dim.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/lowered/buffer_allocation.cpp
Labels: category: CPU

#27447 [CPU] Roll back deconv 3rd rank layout order for non AMX
  src/plugins/intel_cpu/src/nodes/deconv.cpp
Labels: bug, category: CPU, Code Freeze

#27446 [CPU] Roll back deconv 3rd rank layout order for non AMX
  src/plugins/intel_cpu/src/nodes/deconv.cpp
Labels: bug, category: CPU

#27449 [GHA] Increase timeout for PyTorch Models tests in precommit
  .github/workflows/job_pytorch_models_tests.yml
Labels: category: CI, github_actions

#27450 [GHA][Coverity] Disable sccache
  .github/workflows/coverity.yml
Labels: category: CI, github_actions

#27413 [PT FE] Inherit signature from forward while patching
  src/bindings/python/src/openvino/frontend/pytorch/patch_model.py
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Labels: category: Python API, category: PyTorch FE

#26957 Sns enable lp kn blocking
  src/common/snippets/src/lowered/loop_port.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_kernel_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/adjust_brgemm_copy_b_loop_ports.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/adjust_brgemm_copy_b_loop_ports.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_cpu_blocking.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_cpu_blocking.hpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/lowered/brgemm_blocking.cpp
Labels: category: CPU

#27463 [GHA] Enable Fedora trigger in post-commit
  .github/workflows/fedora_29.yml
Labels: category: CI, github_actions

#27402 [GPU] Add check to fallback to permute_ref if different format for oneDNN
  src/plugins/intel_gpu/src/kernel_selector/kernels/permute/permute_kernel_f_y_axes.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/permute_gpu_test.cpp
Labels: category: GPU, ExternalIntelPR

#27442 [GPU] Fix one hot seg fault when the second input node is not a Constant node
  src/plugins/intel_gpu/include/intel_gpu/primitives/one_hot.hpp
  src/plugins/intel_gpu/src/graph/include/one_hot_inst.h
  src/plugins/intel_gpu/src/graph/one_hot.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/ops/one_hot.cpp
Labels: category: GPU, ExternalPR

#27460 [Benchmark App] Reject -nireq > -niter when using sync API
  samples/cpp/benchmark_app/main.cpp
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: category: samples, category: tools

#27443 [GPU] Don't select add_fusing_type::sum when dependency is input_layout in loop body network
  src/plugins/intel_gpu/src/graph/program_helpers.cpp
Labels: category: GPU

#27424 [DOCS] benchmark data tweaks
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
  docs/sphinx_setup/_static/benchmarks_files/graph-config.json
  docs/sphinx_setup/_static/download/supported_models.csv
  docs/sphinx_setup/index.rst
Labels: category: docs

#27461 Docs benchmark data tweaks 24.4
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
  docs/sphinx_setup/_static/benchmarks_files/graph-config.json
  docs/sphinx_setup/_static/download/supported_models.csv
  docs/sphinx_setup/index.rst
Labels: category: docs

#27472 Docs benchmark data tweaks 24.5
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
  docs/sphinx_setup/_static/benchmarks_files/graph-config.json
  docs/sphinx_setup/_static/download/supported_models.csv
  docs/sphinx_setup/index.rst
Labels: category: docs

#27458 [Opset] Opset16 initialization
  docs/sphinx_setup/api/ie_python_api/api.rst
  src/bindings/python/src/openvino/runtime/opset16/__init__.py
  src/bindings/python/src/openvino/runtime/opset16/ops.py
  src/bindings/python/tests/test_transformations/test_pattern_ops.py
  src/core/include/openvino/opsets/opset.hpp
  src/core/include/openvino/opsets/opset16.hpp
  src/core/include/openvino/opsets/opset16_tbl.hpp
  src/core/src/opsets/opset.cpp
  src/core/tests/op.cpp
  src/core/tests/opset.cpp
  src/frontends/common/include/openvino/frontend/extension/op.hpp
  src/plugins/template/src/plugin.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: Python API, category: docs, category: TEMPLATE, category: extensions, category: CPP API

#27453 [NPU] Use level zero init structure/ Follow same code design
  src/plugins/intel_npu/src/backend/include/zero_device.hpp
  src/plugins/intel_npu/src/backend/include/zero_host_tensor.hpp
  src/plugins/intel_npu/src/backend/include/zero_infer_request.hpp
  src/plugins/intel_npu/src/backend/include/zero_pipeline.hpp
  src/plugins/intel_npu/src/backend/include/zero_profiling.hpp
  src/plugins/intel_npu/src/backend/include/zero_remote_tensor.hpp
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
  src/plugins/intel_npu/src/backend/src/zero_host_tensor.cpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
  src/plugins/intel_npu/src/backend/src/zero_profiling.cpp
  src/plugins/intel_npu/src/backend/src/zero_remote_tensor.cpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/remote_tensor.hpp
  src/plugins/intel_npu/src/common/src/remote_tensor.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
  src/plugins/intel_npu/src/plugin/include/remote_context.hpp
  src/plugins/intel_npu/src/plugin/src/remote_context.cpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_wrappers.hpp
  src/plugins/intel_npu/src/utils/src/zero/zero_wrappers.cpp
Labels: category: NPU

#27478 [GHA] Exclude AND conditions in the allowed licenses list
  .github/dependency_review.yml
Labels: category: CI

#27485 [GHA] Enable Ubuntu 20 arm in postcommits
  .github/workflows/linux_arm64.yml
Labels: category: CI, github_actions

#26716 [Ref][Core][Opset16] Identity operation
  src/core/include/openvino/op/identity.hpp
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/opsets/opset.hpp
  src/core/include/openvino/opsets/opset16_tbl.hpp
  src/core/reference/include/openvino/reference/identity.hpp
  src/core/src/op/identity.cpp
  src/core/tests/opset.cpp
  src/core/tests/type_prop/identity.cpp
  src/core/tests/visitors/op/identity.cpp
  src/plugins/template/backend/ops/identity.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/opset_int_tbl.hpp
  src/plugins/template/tests/functional/op_reference/identity.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
  src/tests/functional/plugin/shared/include/single_op_tests/identity.hpp
Labels: category: Core, category: IE Tests, category: TEMPLATE, category: CPP API

#27486 [NPUW] Fix bank weak_ptr
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
Labels: Code Freeze, Pre-release, category: NPU, category: NPUW

#27448 Updated NNCF Weight Compression README
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
Labels: category: docs

#26922 [DOCS] Use `gpg` instead of `apt-key add` to add the GPG key to APT keyrings directory
  .github/workflows/job_debian_packages.yml
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
Labels: category: CI, category: docs, ExternalPR, github_actions, Stale

#26518 [EISW-136980][NPU] Remove use_elf_compiler_backend option
  src/plugins/intel_npu/src/al/include/intel_npu/config/compiler.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npu_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/compiler.cpp
  src/plugins/intel_npu/src/plugin/include/metrics.hpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/functional/behavior/ov_plugin/internal_properties_tests.cpp
  src/plugins/intel_npu/tests/functional/internal/overload/compiled_model/property.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/compiled_model/properties.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/ov_plugin/caching_tests.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: NPU

#27428 [PT FE] Optimize memory usage of patch_model
  src/bindings/python/src/openvino/frontend/pytorch/patch_model.py
Labels: category: Python API, category: PyTorch FE

#27399 [opset1::Reshape] Deduce symbol relation based on op spec
  src/core/shape_inference/include/reshape_shape_inference.hpp
  src/core/tests/type_prop/reshape.cpp
  src/plugins/intel_cpu/src/shape_inference/custom/reshape.cpp
Labels: category: Core, category: CPU

#27471 [GPU] Fix SDPA shape inference issue
  src/plugins/intel_gpu/src/graph/scaled_dot_product_attention.cpp
Labels: category: GPU

#27488 [NPUW] Fix bank weak_ptr
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
Labels: category: NPU, category: NPUW

#27491 [TF FE] Support Expm1 operation
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/expm1.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Expm1.py
Labels: category: docs, category: TF FE, category: TFL FE

#27466 [CPU][ARM] Fix performance issues in deconvolution layer
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_deconv.cpp
Labels: category: CPU, platform: arm

#27455 [NPU] Adjust wording to avoid confusion when running benchmarks
  src/plugins/intel_npu/src/backend/src/zero_profiling.cpp
Labels: category: NPU

#27439 Implement runtime scatter update skippable
  src/plugins/intel_gpu/include/intel_gpu/graph/kernel_impl_params.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_runtime_skippable_nodes.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/include/program_node.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/scatter_elements_update.cpp
  src/plugins/intel_gpu/src/graph/scatter_nd_update.cpp
  src/plugins/intel_gpu/src/graph/scatter_update.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/skip_scatter_update_at_runtime.cpp
Labels: category: GPU

#27456 [CI] [GHA] Set pip cache directory correctly on Windows
  .github/actions/setup_python/action.yml
  .github/workflows/job_build_windows.yml
  .github/workflows/job_pytorch_layer_tests.yml
  .github/workflows/job_tensorflow_layer_tests.yml
  .github/workflows/job_tokenizers.yml
  .github/workflows/windows_vs2019_release.yml
Labels: category: CI, github_actions

#26718 [Spec] Identity operation
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/activation/identity-16.rst
Labels: category: docs

#27505 [Range] Symbol propagation for range from 0 to A
  src/core/shape_inference/include/range_shape_inference.hpp
  src/core/tests/type_prop/range.cpp
Labels: category: Core

#25641 [TF Quant Models] Prepares GroupConvolution weights
  src/common/transformations/src/transformations/common_optimizations/fq_reshape_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/pull_transpose_through_fq.cpp
  src/common/transformations/tests/common_optimizations/fq_reshape_fusion.cpp
Labels: category: transformations

#27496 update notebooks list in README
  README.md
Labels: category: docs

#26798 update latency configuration for multi numa nodes on one socket
  src/inference/src/os/cpu_map_info.hpp
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser/update_proc_table.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
Labels: category: inference, category: CPU

#26944 update document for latency configuration for multi numa nodes on one socket
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device/performance-hint-and-thread-scheduling.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/high-level-performance-hints.rst
Labels: category: docs

#27519 [TF FE] Remove unused vars for DepthwiseConv2d operation
  src/frontends/tensorflow_common/src/op/depthwise_conv_2d.cpp
Labels: category: TF FE, category: TFL FE

#27465 [OV JS] Make download binaries script universal
  src/bindings/js/node/package.json
  src/bindings/js/node/scripts/download-runtime.js
  src/bindings/js/node/scripts/download_runtime.js
  src/bindings/js/node/scripts/lib/binary-manager.js
  src/bindings/js/node/scripts/lib/utils.js
  src/bindings/js/node/tests/unit/utils.js
Labels: category: JS API

#27451 [PyOV] Improve import_model memory consumption
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/frontend/frontend.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
Labels: category: Python API

#27524 [DOCS] Refactor two y-axis graph scripts
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/_static/js/graphs.js
  docs/sphinx_setup/_static/js/graphsLLM.js
  docs/sphinx_setup/conf.py
Labels: category: docs

#27454 [CPU] Enable u8 kv cache by default
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/concat_transpose_sdp_transpose.cpp
Labels: category: CPU

#27474 [PyOV] Remove `py` package (#27248)
  .github/workflows/code_snippets.yml
  .github/workflows/job_python_unit_tests.yml
  src/bindings/python/constraints.txt
  src/bindings/python/requirements_test.txt
  src/bindings/python/wheel/CMakeLists.txt
  tests/constraints.txt
  tests/model_hub_tests/torch_tests/requirements.txt
  tools/constraints.txt
  tools/mo/requirements_dev.txt
Labels: category: MO, category: build, category: Python API, category: CI, category: tools, category: dependency_changes, category: packaging, github_actions, category: PyTorch FE

#27529 [GHA]: use Azure docker images
  .github/workflows/fedora.yml
  .github/workflows/webassembly.yml
Labels: category: CI, github_actions

#26820 Add parameter to execute inference requests at a fixed frequency
  docs/articles_en/learn-openvino/openvino-samples/benchmark-tool.rst
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  tests/samples_tests/smoke_tests/test_benchmark_app.py
  tools/benchmark_tool/openvino/tools/benchmark/benchmark.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Labels: category: samples, category: docs, category: tools, ExternalIntelPR

#27407 Enable weightless caching with compile_model() API without providing weights_path property
  src/inference/src/dev/core_impl.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/tests/functional/behavior/model_cache.cpp
Labels: category: inference, category: GPU, ExternalIntelPR

#27523 [OV JS] Make download binaries script universal (Port of #27465)
  src/bindings/js/node/package.json
  src/bindings/js/node/scripts/download-runtime.js
  src/bindings/js/node/scripts/download_runtime.js
  src/bindings/js/node/scripts/lib/binary-manager.js
  src/bindings/js/node/scripts/lib/utils.js
  src/bindings/js/node/tests/unit/utils.js
Labels: category: JS API

#27379 [Templ test] GroupConvolutionBackpropData: Enable whole Tensor comparison
  src/plugins/template/tests/functional/op_reference/group_convolution_backprop.cpp
Labels: category: TEMPLATE

#27508 [GPU] Minor state fixes
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/plugin/common_utils.cpp
Labels: category: GPU

#27464 [TRANSFORMATIONS | GPU] Add a Validate pass after MoveEltwiseUpThroughDataMovScalar for element type resolution
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU

#27531 [DOCS] Fixing reference in documentation
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-onnx-faster-r-cnn.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-onnx-gpt-2.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-quartz-net.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-rnn-t.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-convert-tensorflow.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-model-optimizer-extensibility.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-training-extensions.rst
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/advanced-guides/low-precision-transformations.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/infrastructure/loop-5.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/gru-cell-3.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/gru-sequence-5.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/lstm-sequence-5.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/rnn-sequence-5.rst
  docs/articles_en/get-started/configurations/configurations-intel-gpu.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yocto.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
  docs/articles_en/learn-openvino/llm_inference_guide/ov-tokenizers.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/filter-pruning.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-throughput/advanced_throughput_options.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models.rst
  docs/articles_en/openvino-workflow/running-inference/string-tensors.rst
  docs/articles_en/openvino-workflow/torch-compile.rst
Labels: category: docs

#27533 [DOCS] Fixing references in docs for 2024.5
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-onnx-faster-r-cnn.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-onnx-gpt-2.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-quartz-net.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-conversion-tutorials/convert-pytorch-rnn-t.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-conversion-api/[legacy]-supported-model-formats/[legacy]-convert-tensorflow.rst
  docs/articles_en/documentation/legacy-features/transition-legacy-conversion-api/legacy-model-optimizer-extensibility.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-security-add-on.rst
  docs/articles_en/documentation/openvino-ecosystem/openvino-training-extensions.rst
  docs/articles_en/documentation/openvino-extensibility/openvino-plugin-library/advanced-guides/low-precision-transformations.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/infrastructure/loop-5.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/gru-cell-3.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/gru-sequence-5.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/lstm-sequence-1.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/rnn-sequence-5.rst
  docs/articles_en/get-started/configurations/configurations-intel-gpu.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yocto.rst
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
  docs/articles_en/learn-openvino/llm_inference_guide/ov-tokenizers.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/filter-pruning.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-throughput/advanced_throughput_options.rst
  docs/articles_en/openvino-workflow/running-inference/stateful-models.rst
  docs/articles_en/openvino-workflow/running-inference/string-tensors.rst
  docs/articles_en/openvino-workflow/torch-compile.rst
Labels: category: docs

#27535 [DOCS] Updating NNCF Weight Compression
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
Labels: category: docs

#27430 [CI][GHA] Manylinux x86 build
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/manylinux2014_x86_64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_x64_docker/Dockerfile
  .github/workflows/manylinux_2014.yml
Labels: category: CI, github_actions, category: dockerfiles

#27539 [DOCS] Port for ordering and preselection to 24.5
  docs/sphinx_setup/_static/html/modal.html
  docs/sphinx_setup/_static/html/modalLLM.html
  docs/sphinx_setup/_static/js/graphs.js
Labels: category: docs

#27542 [DOCS] fixed get_cmake_path import instructions
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
Labels: category: docs

#27534 [core] On Linux try return not used memory to system on compile model destructor
  src/inference/src/cpp/compiled_model.cpp
Labels: category: inference

#27518 NPUW: Support NF4 DCOFF for CW models
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.hpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
Labels: category: CPU, category: NPU, category: NPUW

#27394 [DOCS] Security best practices for GitHub Actions workflows development
  docs/dev/ci/github_actions/overview.md
  docs/dev/ci/github_actions/security.md
Labels: category: docs

#27487 [NPUW] Add a pass to convert convolutions to matmul
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.hpp
  src/plugins/intel_npu/src/plugin/npuw/util.hpp
Labels: category: NPU, category: NPUW

#27536 [GPU] Fix memory leak
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.h
Labels: category: GPU

#27549 [DOCS] Update import get_cmake_path instruction
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
Labels: category: docs

#27530 [DOCS] version cleanup for 24.5
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/compatibility-and-support/supported-operations.rst
  docs/articles_en/about-openvino/contributing.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/configurations/genai-dependencies.rst
  docs/articles_en/get-started/install-openvino.rst
  docs/dev/ov_dependencies.txt
  docs/sphinx_setup/_static/html/banner_data.json
  docs/sphinx_setup/conf.py
  docs/sphinx_setup/index.rst
Labels: category: docs

#27543 [TF FE] Stabilize layer tests for Keras GRU layer on all platforms
  .github/workflows/job_tensorflow_layer_tests.yml
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_gru.py
Labels: category: CI, category: TF FE, github_actions

#27462 [CPU]fix rope mark up to skip shapeof
  src/common/transformations/src/transformations/common_optimizations/mark_rope_input_to_keep_in_mixed_precision.cpp
Labels: category: transformations

#27544 Fixed OVC app name in telemetry.
  tools/ovc/openvino/tools/ovc/__init__.py
  tools/ovc/openvino/tools/ovc/__main__.py
  tools/ovc/openvino/tools/ovc/convert_impl.py
  tools/ovc/openvino/tools/ovc/ovc.py
  tools/ovc/openvino/tools/ovc/telemetry_utils.py
Labels: category: OVC

#27540 [GHA] Manylinux added CI tags and manifest
  .github/actions/common/constants.py
  .github/workflows/manylinux_2014.yml
Labels: category: CI, github_actions

#27553 [GPU] Change weights_path mutabilibity to RW
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: GPU, ExternalIntelPR

#27489 [DOCS] Updating NPU GenAI docs
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
Labels: category: docs

#27569 [DOCS Added new hierarchical field for Coveo
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/sphinx_setup/conf.py
Labels: category: docs

#27467 fix TSUnsqueezeBackward Reshape does nothing
  src/common/transformations/src/transformations/transpose_sinking/ts_unsqueeze.cpp
  src/common/transformations/tests/transpose_sinking/ts_common_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_general_test.cpp
Labels: category: transformations

#27570 [DOCS] changes for port to 24.4
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/sphinx_setup/conf.py
Labels: category: docs

#27575 [DOCS] Port for New hierarchical field for Coveo to 24.5
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
  docs/sphinx_setup/conf.py
Labels: category: docs

#27432 [DOCS] Updating Weight Compression Article
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression/4-bit-weight-quantization.rst
Labels: category: docs

#27585 [DOCS] Updating Weight Compression article for 24.5
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression/4-bit-weight-quantization.rst
Labels: category: docs

#27551 [GPU] Consider the node which is shape_of subgraph and ocl_impl in update_shape()
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/update_shape_test.cpp
Labels: category: GPU

#27578 [TF FE] Stabilize tf.keras.layers.Conv2DTranspose layer test on all platforms
  tests/layer_tests/tensorflow2_keras_tests/test_tf2_keras_conv_2d_transpose.py
Labels: category: TF FE

#27588 [DOCS] aipc model table update 24.5
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_9-288V.csv
Labels: category: docs

#27559 [docs] Align LSTMSequence specification attributes order with constructor
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/lstm-sequence-5.rst
Labels: category: docs

#27586 [DOCS] aipc model table update mstr
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_9-288V.csv
Labels: category: docs

#27591 Remove streamer from whisper sample
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide/genai-use-cases.rst
Labels: category: docs

#27593 [TESTS] PermConvPermConcat: adjust abs_threshold for f32 case
  src/tests/functional/shared_test_classes/src/subgraph/perm_conv_perm_concat.cpp
Labels: category: IE Tests

#27598 [DOCS] Updating Nodejs API docs for 24.5
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/nodejs_api.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Core.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CoreConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/OVAny.rst
Labels: category: docs

#27279 [Commit Slider] Multimodel support
  src/plugins/intel_cpu/tools/commit_slider/commit_slider.py
  src/plugins/intel_cpu/tools/commit_slider/tests/commit_slider_test.py
  src/plugins/intel_cpu/tools/commit_slider/tests/test_data.py
  src/plugins/intel_cpu/tools/commit_slider/tests/test_util.py
  src/plugins/intel_cpu/tools/commit_slider/tests/tests_res/tests_res.json
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg.json
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_manager.py
  src/plugins/intel_cpu/tools/commit_slider/utils/cfg_samples/bm_arm_mac.json
  src/plugins/intel_cpu/tools/commit_slider/utils/common_mode.py
  src/plugins/intel_cpu/tools/commit_slider/utils/helpers.py
  src/plugins/intel_cpu/tools/commit_slider/utils/modes.py
Labels: category: CPU

#27148 [OV JS]: Expose ov.saveModel() functionality
  src/bindings/js/node/include/addon.hpp
  src/bindings/js/node/include/type_validation.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/addon.cpp
  src/bindings/js/node/src/type_validation.cpp
  src/bindings/js/node/tests/unit/basic.test.js
  src/bindings/js/node/tests/unit/utils.js
Labels: ExternalPR, category: JS API

#27557 [CPU] Matmul node support quantized outputs for f16 bias to avoid unnecessary reorder following
  src/plugins/intel_cpu/src/nodes/executors/fullyconnected_implementations.cpp
Labels: category: CPU

#27605 [DOCS] Adding OVAny type to Nodejs API
  docs/sphinx_setup/api/nodejs_api/addon.rst
  docs/sphinx_setup/api/nodejs_api/nodejs_api.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/element.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/enums/resizeAlgorithm.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CompiledModel.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Core.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/CoreConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InferRequest.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputModelInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/InputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Model.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Output.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/OutputTensorInfo.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShape.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PartialShapeConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PrePostProcessorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/PreProcessSteps.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/Tensor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/interfaces/TensorConstructor.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/Dimension.rst
  docs/sphinx_setup/api/nodejs_api/openvino-node/types/OVAny.rst
Labels: category: docs

#27573 [GPU] Add support for i16, u16, and u32 element types in remote tensors
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/reorder/reorder_kernel.cpp
  src/plugins/intel_gpu/src/plugin/common_utils.cpp
  src/plugins/intel_gpu/src/plugin/ops/parameter.cpp
  src/plugins/intel_gpu/src/plugin/ops/result.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/tests/functional/remote_tensor_tests/gpu_remote_tensor_tests.cpp
Labels: category: GPU

#27561 [NPUW] Extend ConvToMatmul pattern
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
Labels: category: NPU, category: NPUW

#27495 [GHA][MO][openvino-dev] Remove tests for legacy openvino-dev from GHA
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/coverage.yml
  .github/workflows/job_onnx_models_tests.yml
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/mo.yml
  .github/workflows/windows_vs2019_release.yml
  tests/CMakeLists.txt
  tests/layer_tests/common/mo_convert_test_class.py
  tests/layer_tests/common/utils/common_utils.py
  tests/layer_tests/ovc_python_api_tests/test_complex_params.py
  tests/layer_tests/ovc_python_api_tests/test_pytorch.py
  tests/requirements_onnx
Labels: category: build, category: CI, github_actions, no-match-files, category: OVC

#27595 [DOCS] release notes 2024.5
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
Labels: category: docs

#27590 [GHA] Increase timeout for C++ unit tests in precommit
  .github/workflows/job_cxx_unit_tests.yml
Labels: category: CI, github_actions

#27409 [CPU] Test changes for e2e
  src/plugins/intel_cpu/src/graph_optimizer.cpp
Labels: category: CPU

#27398 Support for model reshape in protopipe
  src/plugins/intel_npu/tools/protopipe/README.md
  src/plugins/intel_npu/tools/protopipe/src/parser/config.cpp
  src/plugins/intel_npu/tools/protopipe/src/scenario/inference.hpp
  src/plugins/intel_npu/tools/protopipe/src/simulation/ov_layers_reader.cpp
  src/plugins/intel_npu/tools/protopipe/src/simulation/simulation.cpp
Labels: category: docs, ExternalPR, category: NPU

#27608 [DOCS] benchmark data 24.5
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.4-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.4-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.4-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.5-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.5-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.5-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
Labels: category: docs
