Repository openvinotoolkit/openvino, pull requests merged in 2025-01, with the labels that each got.

#28213 fix coverity scan issue CID 1537543
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Labels: category: CPU

#28076 [CPU] enable brdgmm_dw_conv kernels with non f32 bias
  src/plugins/intel_cpu/src/nodes/conv.cpp
Labels: category: CPU

#28239 Enables operator || and && for pass predicates
  src/core/include/openvino/pass/pattern/op/pattern.hpp
  src/core/src/pattern/op/pattern.cpp
  src/core/tests/pattern.cpp
  src/plugins/intel_gpu/src/plugin/transformations/clamp_fp16_output.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_convolution.cpp
  src/plugins/intel_gpu/src/plugin/transformations/optimize_subsequent_reshapes.cpp
Labels: category: Core, category: GPU, category: transformations, category: CPP API

#28231 [Snippets] [ARM]:Enable Comparison ops tokenization in CPU Plugin
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/cpu_generator.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU, platform: arm, ExternalPR

#28154 NPUW: Enable PREFILL/GENERATE configs in LLMCompiledModel
  src/plugins/intel_npu/src/al/include/intel_npu/npuw_private_properties.hpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.hpp
Labels: category: NPU, category: NPUW

#27763 [GPU] Implement per-token FC dyn-quan
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/fully_connected_gpu_bf_tiled.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#28244 update fix for coverity scan issue 1568450
  src/inference/src/os/lin/lin_system_conf.cpp
Labels: category: inference

#28209 [GPU] fix property overwritten issue
  src/plugins/intel_gpu/include/intel_gpu/runtime/execution_config.hpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
Labels: category: GPU

#28240 [JAX FE]: add support for jax.lax.logistic
  src/frontends/jax/src/op_table.cpp
  tests/layer_tests/jax_tests/test_logistic.py
Labels: ExternalPR, category: TF FE, category: JAX FE

#28263 [DOCS] Port for Enabled button for GenAI benchmarks
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/conf.py
Labels: category: docs

#28262 [DOCS] Enabled button for GenAI benchmarks
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/conf.py
Labels: category: docs

#28249 [DOCS] update pypi to 2025 and text adjustment for two PRs
  docs/articles_en/openvino-workflow/model-preparation/convert-model-pytorch.rst
  docs/articles_en/openvino-workflow/torch-compile.rst
  docs/dev/pypi_publish/pypi-openvino-rt.md
  docs/sphinx_setup/_static/html/footer.html
Labels: category: docs

#28248 [DOCS] updating links to GenAI
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/_static/conformance_files/pytorch_ops.csv
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#28254 Fix coverity scan issue CID 1566608
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/insert_brgemm_copy_buffers.cpp
Labels: category: CPU

#28241 Fixed build with system level-zero
  src/plugins/intel_npu/src/utils/src/zero/CMakeLists.txt
  thirdparty/dependencies.cmake
Labels: bug, category: build, category: dependency_changes, category: NPU

#28267 Refactoring LLMCompiledModel according to review comments in GenAI static_llm::StatefulLLMPipeline
  src/plugins/intel_npu/src/al/include/intel_npu/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: category: NPU, category: NPUW

#28252 [GPU] Add check of multiple axis broadcasting in is_valid_fusion() when dynamic shape
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/dynamic_unfusion.cpp
Labels: category: GPU

#28270 [GPU] Fix many unittest failures due to the zero byte allocation of ocl memory
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/src/graph/loop.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.cpp
Labels: category: GPU

#28223 [Snippets] [ARM]: Fixed bug in PReLU emitter, enabled PReLU, Sqrt, Round tokenization
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/cpu_generator.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm, ExternalPR

#28189 [CPU] Fuse SDPA and Concat as early as possible
  src/common/transformations/include/transformations/utils/gen_pattern.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/stateful_sdpa_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/stateful_sdpa_fusion.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/pass/sdpa_fuse_transpose_reshape.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/concat_multiple_query_sdp.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/concat_transpose_sdp_transpose.cpp
Labels: category: CPU, category: transformations

#28277 Update vcpkg.json
  vcpkg.json
Labels: category: dependency_changes

#28255 NPUW: Fix cases when FOLDing is not enabled
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/unfold_sync_infer_request.cpp
Labels: category: NPU, category: NPUW

#28282 [NPUW] Weights bank operate with UIDs
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.hpp
Labels: Code Freeze, category: NPU, category: NPUW

#28210 Hunyuan-3b model support kvcache and gqa fusion
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/unsqueeze_broadcast_reshape_sdpa_fusion.cpp
Labels: category: GPU

#28013 [GPU] Improve sdpa_opt kernel performance with flashattn2 softmax tricks.
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
Labels: category: GPU

#28266 Fix coverity scan issue CID 1546910
  src/plugins/intel_cpu/src/nodes/unique.cpp
Labels: category: CPU

#28294 Fix medium severity issues reported in CPU plugin
  src/plugins/intel_cpu/src/nodes/kernels/x64/rms_kernel.cpp
  src/plugins/intel_cpu/src/nodes/llm_mlp.cpp
  src/plugins/intel_cpu/src/nodes/qkv_proj.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
Labels: category: CPU

#28243 [CMAKE] Fix warnings in CPU cmake code
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/cross_compile/cross_compiled_disp_gen.cmake
  cmake/developer_package/cross_compile/cross_compiled_func.cmake
  src/plugins/intel_cpu/CMakeLists.txt
Labels: category: CPU, category: build

#28273 Migration to C++17 as default standart
  cmake/developer_package/compile_flags/os_flags.cmake
  docs/snippets/CMakeLists.txt
  samples/cpp/CMakeLists.txt
  src/cmake/openvino.cmake
  src/core/template_extension/CMakeLists.txt
  src/plugins/intel_cpu/CMakeLists.txt
  tests/memory_tests/CMakeLists.txt
  tests/stress_tests/CMakeLists.txt
  tests/time_tests/CMakeLists.txt
  thirdparty/dependencies.cmake
Labels: category: inference, category: Core, category: CPU, category: build, category: samples, category: dependency_changes, category: docs_snippets

#28293 [CMAKE] Fix to Api validator for older cmake versions
  cmake/developer_package/api_validator/api_validator.cmake
  cmake/developer_package/features.cmake
  cmake/features.cmake
  src/common/util/CMakeLists.txt
Labels: category: Core, category: build

#28297 [NPUW] Fix for weights bank UIDs
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.hpp
Labels: Code Freeze, category: NPU, category: NPUW

#28291 Fix performance inefficiencies coverity scan issues in CPU plugin
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/cpu_memory.cpp
  src/plugins/intel_cpu/src/cpu_memory.h
  src/plugins/intel_cpu/src/edge.cpp
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph_context.cpp
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/memory_control.cpp
  src/plugins/intel_cpu/src/nodes/composite.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/llm_mlp.cpp
  src/plugins/intel_cpu/src/nodes/pad.cpp
  src/plugins/intel_cpu/src/nodes/reorder.cpp
  src/plugins/intel_cpu/src/nodes/rms_norm.h
  src/plugins/intel_cpu/src/nodes/rnn.cpp
  src/plugins/intel_cpu/src/nodes/string_tensor_pack.cpp
  src/plugins/intel_cpu/src/nodes/string_tensor_unpack.cpp
  src/plugins/intel_cpu/src/partitioned_mem_blk.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/proxy_mem_blk.cpp
  src/plugins/intel_cpu/src/proxy_mem_blk.h
  src/plugins/intel_cpu/src/shape_inference/custom/rms_norm.hpp
Labels: category: CPU

#28298 Added UNFOLD + DQ in default configs for LLMCompiledModel
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: Code Freeze, category: NPU, category: NPUW

#27992 [CPU]PageAttn with 4bit-quantization
  src/bindings/python/src/openvino/runtime/properties/__init__.py
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.hpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_plugin/properties.cpp
Labels: category: inference, category: CPU, category: Python API, category: CPP API

#28168 [core] Result node may uses inputs names on creation
  src/common/transformations/tests/utils/convert_precision.cpp
  src/core/include/openvino/op/result.hpp
  src/core/src/model.cpp
  src/core/src/node_vector.cpp
  src/core/src/op/result.cpp
  src/core/tests/preprocess.cpp
  src/core/tests/type_prop/result.cpp
  src/frontends/ir/src/ir_deserializer.cpp
  src/frontends/onnx/frontend/src/input_model.cpp
Labels: category: Core, category: transformations, category: IR FE, category: ONNX FE, category: CPP API

#28280 [Snippets] Fixed SplitDimensionM pass for Subgraphs with dynamic params
  src/common/snippets/src/pass/split_dimension_m.cpp
  src/common/snippets/tests/src/pass/mha_tokenization.cpp
Labels: category: CPU

#28284 [GPU] remove code duplication in mvn_gpu_bfyx_opt kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/mvn_gpu_bfyx_opt.cl
Labels: category: GPU

#28296 [Py OV] Initialize op and opset*/ops.py explicitly
  src/bindings/python/src/openvino/__init__.py
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/openvino/runtime/op/__init__.py
  src/bindings/python/src/openvino/runtime/opset1/__init__.py
  src/bindings/python/src/openvino/runtime/opset10/__init__.py
  src/bindings/python/src/openvino/runtime/opset11/__init__.py
  src/bindings/python/src/openvino/runtime/opset12/__init__.py
  src/bindings/python/src/openvino/runtime/opset13/__init__.py
  src/bindings/python/src/openvino/runtime/opset14/__init__.py
  src/bindings/python/src/openvino/runtime/opset15/__init__.py
  src/bindings/python/src/openvino/runtime/opset16/__init__.py
  src/bindings/python/src/openvino/runtime/opset2/__init__.py
  src/bindings/python/src/openvino/runtime/opset3/__init__.py
  src/bindings/python/src/openvino/runtime/opset4/__init__.py
  src/bindings/python/src/openvino/runtime/opset5/__init__.py
  src/bindings/python/src/openvino/runtime/opset6/__init__.py
  src/bindings/python/src/openvino/runtime/opset7/__init__.py
  src/bindings/python/src/openvino/runtime/opset8/__init__.py
  src/bindings/python/src/openvino/runtime/opset9/__init__.py
  tools/benchmark_tool/openvino/__init__.py
  tools/ovc/openvino/__init__.py
Labels: category: Python API, category: tools, category: OVC

#28265 [CPU][ARM] Fixed cvt_copy fast path for mha_single_token_kernel
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/arm/concat_sdp.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/concat_sdp.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/x64/concat_sdp.cpp
Labels: category: CPU, platform: arm

#28142 [GHA][CPU] xuantie toolchain build
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/ubuntu_22_04_riscv_xuantie/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_22_04_riscv_xuantie/Dockerfile
  .github/workflows/dev_cpu_linux_riscv.yml
  .github/workflows/linux_riscv_xuantie_dev_cpu.yml
Labels: category: CI, github_actions, category: dockerfiles

#28300 Fix msvc version to cover v143 toolset
  cmake/developer_package/compile_flags/os_flags.cmake
Labels: category: build

#28258 [CPU][ARM]: Implemented CPU plugin just-in-time emitter for Negative operation
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm, ExternalPR

#28207 identify arm cpu isa and update model prefer threads for tput
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Labels: category: CPU

#28305 Don't include developer package multiple times
  cmake/templates/OpenVINODeveloperPackageConfig.cmake.in
  cmake/templates/OpenVINODeveloperPackageConfigRelocatable.cmake.in
Labels: category: build

#28134 [benchmark] Do not check nireq if sync and time is specified
  samples/cpp/benchmark_app/main.cpp
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: category: samples, category: tools

#28295 [PT FE] Support dynamic shapes torch.export
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/decoder.hpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/node_context.hpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/op/as_strided.cpp
  src/frontends/pytorch/src/op/cat.cpp
  src/frontends/pytorch/src/op/expand.cpp
  src/frontends/pytorch/src/op/full.cpp
  src/frontends/pytorch/src/op/index.cpp
  src/frontends/pytorch/src/op/repeat.cpp
  src/frontends/pytorch/src/op/repeat_interleave.cpp
  src/frontends/pytorch/src/op/reshape.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/translate_session.hpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/model_hub_tests/pytorch/test_timm.py
  tests/model_hub_tests/pytorch/test_torchvision_models.py
  tests/model_hub_tests/pytorch/timm_models
  tests/model_hub_tests/pytorch/torch_utils.py
Labels: category: Python API, category: CPP API, category: PyTorch FE

#28330 [Py OV] Revert changes regarding runtime deprecation
  src/bindings/python/src/openvino/__init__.py
  src/bindings/python/src/openvino/_ov_api.py
  src/bindings/python/src/openvino/frontend/frontend.py
  src/bindings/python/src/openvino/frontend/jax/jaxpr_decoder.py
  src/bindings/python/src/openvino/frontend/jax/utils.py
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/backend.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/backend_utils.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/compile.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/execute.py
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/utils.py
  src/bindings/python/src/openvino/frontend/tensorflow/node_decoder.py
  src/bindings/python/src/openvino/frontend/tensorflow/utils.py
  src/bindings/python/src/openvino/helpers/packing.py
  src/bindings/python/src/openvino/opset1/ops.py
  src/bindings/python/src/openvino/opset10/ops.py
  src/bindings/python/src/openvino/opset11/ops.py
  src/bindings/python/src/openvino/opset12/ops.py
  src/bindings/python/src/openvino/opset13/ops.py
  src/bindings/python/src/openvino/opset14/ops.py
  src/bindings/python/src/openvino/opset15/ops.py
  src/bindings/python/src/openvino/opset16/ops.py
  src/bindings/python/src/openvino/opset2/ops.py
  src/bindings/python/src/openvino/opset3/ops.py
  src/bindings/python/src/openvino/opset4/ops.py
  src/bindings/python/src/openvino/opset5/ops.py
  src/bindings/python/src/openvino/opset6/ops.py
  src/bindings/python/src/openvino/opset7/ops.py
  src/bindings/python/src/openvino/opset8/ops.py
  src/bindings/python/src/openvino/opset9/ops.py
  src/bindings/python/src/openvino/package_utils.py
  src/bindings/python/src/openvino/preprocess/torchvision/preprocess_converter.py
  src/bindings/python/src/openvino/preprocess/torchvision/torchvision_preprocessing.py
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/src/openvino/runtime/opset_utils.py
  src/bindings/python/src/openvino/runtime/opset_utils/__init__.py
  src/bindings/python/src/openvino/runtime/utils/__init__.py
  src/bindings/python/src/openvino/runtime/utils/broadcasting/__init__.py
  src/bindings/python/src/openvino/runtime/utils/data_helpers/data_dispatcher/__init__.py
  src/bindings/python/src/openvino/runtime/utils/data_helpers/wrappers/__init__.py
  src/bindings/python/src/openvino/runtime/utils/decorators/__init__.py
  src/bindings/python/src/openvino/runtime/utils/input_validation/__init__.py
  src/bindings/python/src/openvino/runtime/utils/node_factory/__init__.py
  src/bindings/python/src/openvino/runtime/utils/reduction/__init__.py
  src/bindings/python/src/openvino/runtime/utils/types/__init__.py
  src/bindings/python/src/openvino/utils/__init__.py
  src/bindings/python/src/openvino/utils/broadcasting.py
  src/bindings/python/src/openvino/utils/data_helpers/__init__.py
  src/bindings/python/src/openvino/utils/data_helpers/data_dispatcher.py
  src/bindings/python/src/openvino/utils/data_helpers/wrappers.py
  src/bindings/python/src/openvino/utils/decorators.py
  src/bindings/python/src/openvino/utils/input_validation.py
  src/bindings/python/src/openvino/utils/node_factory.py
  src/bindings/python/src/openvino/utils/reduction.py
  src/bindings/python/src/openvino/utils/types.py
  tools/benchmark_tool/openvino/__init__.py
  tools/ovc/openvino/__init__.py
Labels: category: Python API, category: tools, category: TF FE, category: PyTorch FE, category: JAX FE, category: OVC

#28332 [CPU]Fix float16 cvt_copy
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
Labels: category: CPU

#28260 [GPU]Improve sdpa_opt kernel by skipping computes of causal mask
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache_sdpa.cpp
Labels: category: GPU

#28313 [Py OV] Fix openvino.Model mocked object parameters
  src/bindings/python/src/openvino/_ov_api.py
  src/bindings/python/tests/test_runtime/test_model.py
Labels: category: Python API

#28328 [PT FE] Allow setting kwargs for tracing in TS decoder
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
Labels: category: Python API, category: PyTorch FE

#28276 [Snippets][CPU] Enabled dynamic INT8,BF16,FP16 MHA tokenization
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU

#28333 [GPU] Fix deconvolution unit tests issue.
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_b_fs_zyx_fsv16_imad.cl
Labels: category: GPU

#28264 [PDPD] support expand_as_v2 and less_equal
  src/frontends/paddle/src/op/elementwise_ops.cpp
  src/frontends/paddle/src/op/expand_as_v2.cpp
  src/frontends/paddle/src/op/expand_v2.cpp
  src/frontends/paddle/src/op_table.cpp
  src/frontends/paddle/tests/op_fuzzy.cpp
  src/frontends/paddle/tests/test_models/gen_scripts/generate_elementwise_ops.py
  src/frontends/paddle/tests/test_models/gen_scripts/generate_expand_v2.py
Labels: ExternalPR, category: PDPD FE

#28309 [GPU] Add different rank case in is_valid_fusion() for gemm - eltwise unfusing
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/dynamic_unfusion.cpp
Labels: category: GPU

#27088 Add cache rotation inputs and CPU kernel implementation for cache rotation
  .github/workflows/job_cxx_unit_tests.yml
  CMakeLists.txt
  src/bindings/python/src/pyopenvino/core/offline_transformations.cpp
  src/common/transformations/include/transformations/sdpa_to_paged_attention/state_management_pattern.hpp
  src/common/transformations/src/transformations/sdpa_to_paged_attention/state_management_pattern.cpp
  src/core/include/openvino/pass/sdpa_to_paged_attention.hpp
  src/core/src/op/paged_attention.cpp
  src/core/src/pass/sdpa_to_paged_attention.cpp
  src/core/tests/type_prop/paged_attention.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/cache_rotation.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa_common.hpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/tests/unit/CMakeLists.txt
  src/plugins/intel_cpu/tests/unit/vectorized/CMakeLists.txt
  src/plugins/intel_cpu/tests/unit/vectorized/paged_attn_cache_rotation.cpp
  src/plugins/intel_cpu/tests/unit/vectorized/stub.cpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/paged_attention.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/paged_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_base.h
  src/plugins/intel_gpu/src/plugin/ops/paged_attention.cpp
  tests/model_hub_tests/transformation_tests/generate_ref_diffs.py
  tests/model_hub_tests/transformation_tests/sdpa2pa_ref_diff.py
  tests/model_hub_tests/transformation_tests/test_pa_transformation.py
Labels: category: Core, category: GPU, category: CPU, category: build, category: Python API, category: transformations, category: CI, category: TF FE, category: CPP API, github_actions, category: PyTorch FE, category: JAX FE

#28292 [CPU] Fix potential integer overflow coverity scan issue in subgraph implementation
  src/plugins/intel_cpu/src/nodes/executors/x64/subgraph.cpp
Labels: category: CPU

#28341 [Py OV] Update samples with import from openvino directly
  samples/python/benchmark/bert_benchmark/bert_benchmark.py
  samples/python/benchmark/sync_benchmark/sync_benchmark.py
  samples/python/benchmark/throughput_benchmark/throughput_benchmark.py
  samples/python/model_creation_sample/model_creation_sample.py
Labels: category: samples

#28354 [GHA] Use upload-artifact with tag in Build Doc
  .github/workflows/build_doc.yml
Labels: category: CI, github_actions

#28342 [PyOV] Remove `six` package
  src/bindings/python/constraints.txt
  src/frontends/paddle/tests/requirements.txt
Labels: category: Python API, category: dependency_changes, category: PDPD FE

#28278 Add MSVC Support For UTF-8
  cmake/developer_package/compile_flags/os_flags.cmake
Labels: category: build

#28311 DOCS: updated link to GenAI to point to release 2024.6 branch
  docs/notebooks/multilora-image-generation-with-output.rst
Labels: category: docs

#28164 [GPU] Skip state initializer subgraphs of cross attention for decoder stateful model
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_state_init_subgraphs.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/read_value.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/unit/passes/mark_state_init_subgraphs_test.cpp
Labels: category: GPU

#28336 [GPU]: Fix perf counter segment fault issue on nodes without event ptr.
  src/plugins/intel_gpu/src/plugin/graph.cpp
Labels: category: GPU

#28317 [DOCS] close issue with base ov genai guide 24.6
  docs/articles_en/learn-openvino/llm_inference_guide/llm-inference-native-ov.rst
Labels: category: docs

#27841 Aarch64 paged attention enablement
  cmake/developer_package/compile_flags/os_flags.cmake
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/brgemm_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/brgemm_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/transpose_kernel.hpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/nodes_factory.cpp
Labels: category: CPU, category: build, platform: arm, ExternalPR

#28323 [DOCS] Updated link to image generation models
  docs/notebooks/latent-consistency-models-image-generation-with-output.rst
  docs/notebooks/multilora-image-generation-with-output.rst
Labels: category: docs

#28358 [PyOV] Add npu properties
  src/bindings/python/src/openvino/properties/intel_npu/__init__.py
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/src/pyopenvino/core/properties/properties.hpp
  src/bindings/python/tests/test_runtime/test_properties.py
Labels: category: Python API

#28325 [DOCS] minor adjustments preparing for 2025
  docs/articles_en/about-openvino/compatibility-and-support/supported-devices.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/assets/images/openvino-overview-diagram.jpg
  docs/articles_en/documentation.rst
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/learn-openvino/llm_inference_guide.rst
  docs/articles_en/learn-openvino/openvino-samples/benchmark-tool.rst
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#28344 [Op][GLU] Fix missing attrs in GLU visit_attributes
  src/common/transformations/include/ov_ops/glu.hpp
  src/common/transformations/src/ov_ops/glu.cpp
  src/core/tests/visitors/op/glu.cpp
Labels: category: Core, category: transformations

#28346 NPUW: Fix non-NPU execution in the new pipeline
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: category: NPU, category: NPUW

#28366 [DOCS] fix typo in npu llm inference guide and update wwb link port
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
Labels: category: docs

#27832 [GPU] Added horizontal fusion for LoRA
  src/plugins/intel_gpu/src/plugin/transformations/lora_horizontal_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/lora_horizontal_fusion.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/dynamic_fc_horizontal_fusion.cpp
  src/plugins/intel_gpu/tests/unit/transformations/lora_horizontal_fusion.cpp
Labels: category: GPU

#28356 [OVC] Update imports
  tools/ovc/openvino/tools/ovc/cli_parser.py
  tools/ovc/openvino/tools/ovc/convert.py
  tools/ovc/openvino/tools/ovc/convert_impl.py
  tools/ovc/openvino/tools/ovc/main.py
  tools/ovc/openvino/tools/ovc/moc_frontend/analysis.py
  tools/ovc/openvino/tools/ovc/moc_frontend/extractor.py
  tools/ovc/openvino/tools/ovc/moc_frontend/layout_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/moc_emit_ir.py
  tools/ovc/openvino/tools/ovc/moc_frontend/offline_transformations.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pipeline.py
  tools/ovc/openvino/tools/ovc/moc_frontend/preprocessing.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/shape_utils.py
  tools/ovc/openvino/tools/ovc/moc_frontend/type_utils.py
  tools/ovc/openvino/tools/ovc/telemetry_utils.py
  tools/ovc/openvino/tools/ovc/version.py
  tools/ovc/unit_tests/moc_tf_fe/conversion_basic_models_test.py
  tools/ovc/unit_tests/moc_tf_fe/utils.py
  tools/ovc/unit_tests/ovc/convert/import_from_mo_test.py
  tools/ovc/unit_tests/ovc/convert/meta_data_test.py
  tools/ovc/unit_tests/ovc/convert/meta_data_test_actual.py
  tools/ovc/unit_tests/ovc/utils/cli_parser_test.py
Labels: category: OVC

#28337 [DOCS] Fixing links
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yocto.rst
  docs/articles_en/openvino-workflow/running-inference/changing-input-shape.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/hetero-execution.rst
Labels: category: docs

#28371 [CI] [GHA] Simplify cache info display for `setup-python` action
  .github/actions/setup_python/action.yml
Labels: bug, category: CI

#28365 [DOCS] fix typo in npu llm inference guide and update wwb link
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide-npu.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
Labels: category: docs

#28370 [GPU] Fix wrong reference unit-test case in ubuntu24.04 latest driver.
  src/plugins/intel_gpu/tests/unit/fusions/mvn_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reduce_gpu_test.cpp
Labels: category: GPU

#28310 [Snippets] Added type support to LoopPort
  src/common/snippets/include/snippets/lowered/loop_info.hpp
  src/common/snippets/include/snippets/lowered/loop_port.hpp
  src/common/snippets/include/snippets/lowered/pass/insert_buffers.hpp
  src/common/snippets/src/lowered/expressions/buffer_expression.cpp
  src/common/snippets/src/lowered/loop_info.cpp
  src/common/snippets/src/lowered/loop_manager.cpp
  src/common/snippets/src/lowered/loop_port.cpp
  src/common/snippets/src/lowered/pass/brgemm_blocking.cpp
  src/common/snippets/src/lowered/pass/clean_repeated_ptr_shifts.cpp
  src/common/snippets/src/lowered/pass/define_buffer_clusters.cpp
  src/common/snippets/src/lowered/pass/extract_loop_invariants.cpp
  src/common/snippets/src/lowered/pass/fuse_loops.cpp
  src/common/snippets/src/lowered/pass/init_loops.cpp
  src/common/snippets/src/lowered/pass/insert_buffers.cpp
  src/common/snippets/src/lowered/pass/insert_loops.cpp
  src/common/snippets/src/lowered/pass/insert_specific_iterations.cpp
  src/common/snippets/src/lowered/pass/mha_parallel_wa_optimizer.cpp
  src/common/snippets/src/lowered/pass/propagate_subtensors.cpp
  src/common/snippets/src/lowered/pass/set_buffer_reg_group.cpp
  src/common/snippets/src/lowered/pass/split_loops.cpp
  src/common/snippets/src/lowered/pass/validate.cpp
  src/common/snippets/src/lowered/pass/validate_unified_loops.cpp
  src/common/snippets/src/utils/loop_utils.cpp
  src/common/snippets/tests/src/lir_comparator.cpp
  src/common/snippets/tests/src/lowered/pass/extracted_loop_invariants.cpp
  src/common/snippets/tests/src/lowered/pass/loop.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_base.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/adjust_brgemm_copy_b_loop_ports.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_cpu_blocking.cpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/pass/lowered/set_tpp_leading_dim.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/lowered/brgemm_blocking.cpp
Labels: category: CPU

#28385 [NPUW] Polished GENERATE_HINT
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: category: NPU, category: NPUW

#27915 [NPUW] Serialization
  src/plugins/intel_npu/src/al/include/intel_npu/config/config.hpp
  src/plugins/intel_npu/src/al/src/config/config.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.hpp
  src/plugins/intel_npu/src/plugin/npuw/spatial.hpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.hpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: Code Freeze, category: NPU, category: NPUW

#28361 [GPU] Reuse kv cache mem if it is not changed from previous infer
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
Labels: category: GPU

#28381 [GHA] More detailed message for docker tag update
  .github/actions/handle_docker/get_images_to_build.py
  .github/dockerfiles/docker_tag
Labels: category: CI, category: docker_env, category: dockerfiles

#28399 [GPU] Skip several failed func tests with the latest driver
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/strided_slice.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/dynamic_fc_horizontal_fusion.cpp
Labels: category: GPU

#28314 [intel-npu] Adding new read-only property: NPU_COMPILER_VERSION
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/include/openvino/runtime/intel_npu/properties.hpp
  src/plugins/intel_npu/README.md
  src/plugins/intel_npu/src/al/include/intel_npu/icompiler.hpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/icompiler_adapter.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/driver_compiler_adapter.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/plugin_compiler_adapter.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_compiler_adapter.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_init.hpp
  src/plugins/intel_npu/src/utils/src/zero/zero_init.cpp
Labels: category: inference, category: Python API, category: docs, category: CPP API, category: NPU

#27980 [NPU] Use zero tensor to get correct data
  src/plugins/intel_npu/src/backend/include/zero_infer_request.hpp
  src/plugins/intel_npu/src/backend/include/zero_pipeline.hpp
  src/plugins/intel_npu/src/backend/include/zero_remote_tensor.hpp
  src/plugins/intel_npu/src/backend/include/zero_tensor.hpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
  src/plugins/intel_npu/src/backend/src/zero_tensor.cpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/remote_tensor.hpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/sync_infer_request.hpp
  src/plugins/intel_npu/src/common/src/remote_tensor.cpp
  src/plugins/intel_npu/src/common/src/sync_infer_request.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.hpp
  src/plugins/intel_npu/tests/functional/internal/overload/ov_infer_request/io_tensor.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/ov_infer_request/io_tensor.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: NPU

#28374 [CI] [GHA] Add another error message for artefact downloading to the rerunner
  .github/scripts/workflow_rerun/errors_to_look_for.json
Labels: category: CI

#28382 [NPUW] Fix memory consumption with bank uids
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.hpp
Labels: Code Freeze, category: NPU, category: NPUW

#28324 [PyOV] Remove bytes padding in `fill_tensor_from_bytes`
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/tests/test_runtime/test_string_infer.py
  src/bindings/python/tests/test_runtime/test_tensor_string.py
Labels: category: Python API, Code Freeze

#28398 [PT FE] Support None in example
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/utils.py
  tests/layer_tests/ovc_python_api_tests/test_pytorch.py
  tools/ovc/openvino/tools/ovc/moc_frontend/pytorch_frontend_utils.py
Labels: category: Python API, category: PyTorch FE, category: OVC

#28384 Update links to genai samples
  docs/articles_en/learn-openvino/llm_inference_guide/ov-tokenizers.rst
  docs/articles_en/openvino-workflow/running-inference/string-tensors.rst
  docs/notebooks/openvino-tokenizers-with-output.rst
Labels: category: docs

#28376 Override the default `isExecutable()` method in `StringTensorPack-15`
  src/plugins/intel_cpu/src/nodes/string_tensor_pack.cpp
  src/plugins/intel_cpu/src/nodes/string_tensor_pack.h
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/string_tensor_pack.cpp
  src/plugins/template/tests/functional/op_reference/string_tensor_pack.cpp
Labels: category: CPU, category: TEMPLATE, Code Freeze

#28158 [ONNX OP] DynamicQuantizeMatMul
  src/frontends/onnx/frontend/src/op/com.microsoft/dynamic_quantize_matmul.cpp
  src/frontends/onnx/tests/models/com.microsoft/dynamic_quantize_matmul.prototxt
  src/frontends/onnx/tests/models/com.microsoft/dynamic_quantize_matmul_bias.prototxt
  src/frontends/onnx/tests/onnx_import_com_microsoft.in.cpp
Labels: ExternalPR, category: ONNX FE

#28423 [GPU] Skip failed func test with the latest driver.
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/dynamic_fc_horizontal_fusion.cpp
Labels: category: GPU

#28362 [ONNX] Fix errors in FusedMatMul from com.microsoft domain
  src/frontends/onnx/frontend/src/op/com.microsoft/fusedmatmul.cpp
Labels: ExternalPR, category: ONNX FE

#27664 [PyOV] OpExtension
  src/bindings/python/src/openvino/__init__.py
  src/bindings/python/src/openvino/_ov_api.py
  src/bindings/python/src/openvino/frontend/__init__.py
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/core/extension.cpp
  src/bindings/python/src/pyopenvino/frontend/extension.cpp
  src/bindings/python/src/pyopenvino/graph/discrete_type_info.cpp
  src/bindings/python/src/pyopenvino/graph/discrete_type_info.hpp
  src/bindings/python/src/pyopenvino/graph/node.cpp
  src/bindings/python/src/pyopenvino/graph/op.cpp
  src/bindings/python/src/pyopenvino/graph/op.hpp
  src/bindings/python/src/pyopenvino/graph/op_extension.cpp
  src/bindings/python/src/pyopenvino/graph/op_extension.hpp
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
  src/bindings/python/tests/test_graph/test_custom_op.py
  tools/benchmark_tool/openvino/__init__.py
  tools/ovc/openvino/__init__.py
Labels: category: Python API, category: tools, Code Freeze, category: OVC

#28417 Update reqs: remove fastjsonschema, networkx and new version of flake8-pytest-style
  src/bindings/python/requirements_test.txt
  src/bindings/python/tests/test_graph/test_create_op.py
  tests/constraints.txt
  tests/stress_tests/scripts/requirements.txt
  tools/constraints.txt
Labels: category: Python API, category: tools, category: dependency_changes

#27905 [PyOV] Create constant from Tensor with shared_memory
  src/bindings/python/src/openvino/opset13/ops.py
  src/bindings/python/src/pyopenvino/graph/ops/constant.cpp
  src/bindings/python/tests/test_graph/test_constant.py
Labels: category: Python API, Code Freeze

#28250 [DOCS] updating links to GenAI
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/learn-openvino/llm_inference_guide/genai-guide.rst
  docs/sphinx_setup/_static/conformance_files/pytorch_ops.csv
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
Labels: category: docs

#28245 Support multiple streams in one core
  src/inference/dev_api/openvino/runtime/threading/istreams_executor.hpp
  src/inference/src/dev/threading/istreams_executor.cpp
  src/inference/tests/unit/executor_config_test.cpp
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
Labels: category: inference, category: GPU, category: CPU, priority: medium, Code Freeze

#28302 [CPU] fix custom strideslice shape infer issue when using continuous new axis mask
  src/plugins/intel_cpu/src/shape_inference/custom/strided_slice.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/custom_shape_infer/strided_slice.cpp
Labels: category: CPU, Code Freeze

#28339 [GPU] group normalization optimization to reduce 5 kernels to 3 kernels
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/group_normalization_gpu_b_fs_yx_fsv16.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/group_normalization_gpu_bfyx_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_bfyx_opt.cpp
Labels: category: GPU, ExternalIntelPR, Code Freeze

#27954 OV file path definition
  src/common/util/include/openvino/util/cpp_version.hpp
  src/common/util/include/openvino/util/file_path.hpp
  src/common/util/include/openvino/util/filesystem.hpp
  src/core/include/openvino/core/graph_util.hpp
  src/core/include/openvino/core/visibility.hpp
  src/core/include/openvino/pass/serialize.hpp
  src/core/tests/file_util.cpp
  src/core/tests/frontend/frontend_manager.cpp
  src/core/tests/pass/serialization/deterministicity.cpp
  src/core/tests/pass/serialization/serialize.cpp
  src/frontends/common/include/openvino/frontend/frontend.hpp
  src/frontends/tests/frontend/shared/src/conversion.cpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/tests/functional/ov_core_test.cpp
  src/inference/tests/functional/ov_extension_test.cpp
Labels: category: inference, category: Core, category: IE Tests, category: transformations, category: CPP API

#28288 [ONNX] Added QLinear add and mul from com.microsoft domain
  src/frontends/onnx/frontend/src/op/com.microsoft/qlinear_ops.cpp
  src/frontends/onnx/tests/models/com.microsoft/q_linear_add.prototxt
  src/frontends/onnx/tests/models/com.microsoft/q_linear_mul.prototxt
  src/frontends/onnx/tests/onnx_import_com_microsoft.in.cpp
Labels: ExternalPR, category: ONNX FE

#28232 [GPU] Paged attention cache rotation
  src/core/src/op/paged_attention.cpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/paged_attention.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_kv_cache_rotate_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/common_types.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_kv_cache_rotate_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_kv_cache_rotate_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_selector.h
  src/plugins/intel_gpu/src/plugin/ops/paged_attention.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/paged_attention_gpu_test.cpp
Labels: category: Core, category: GPU, Code Freeze

#28307 [AUTO] refine the logic of checking if target device is virtual device
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/tests/unit/core.cpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/src/plugin.hpp
  src/plugins/auto/tests/unit/include/gmock_plugin.hpp
  src/plugins/auto/tests/unit/meta_device_check_test.cpp
Labels: category: inference, priority: high, category: AUTO, Code Freeze

#28421 [GPU] Fix conv kernel to select opt kernel even though filter size is large
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/convolution_gpu_bfyx_os_iyx_osv16.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_os_iyx_osv16.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU, Code Freeze

#28377 [GPU] Temporary disabling LoRAHorizontalFusion for BMG
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, Code Freeze

#28406 [IE-MDK] Cleanup debug error logs
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.cpp
  src/plugins/intel_npu/tests/functional/behavior/remote_tensor_tests/remote_run.cpp
  src/plugins/intel_npu/tests/functional/behavior/work_with_devices.cpp
  src/plugins/intel_npu/tests/functional/internal/overload/compiled_model/property.cpp
  src/plugins/intel_npu/tests/functional/internal/overload/ov_plugin/core_integration.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/npu_test_tool.cpp
Labels: category: NPU

#28326 [GPU] Fix scale and zp calculation as inf/nan for dynamic_quantize_gpu_kv_cache kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/dynamic_quantize_gpu_kv_cache.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/dynamic_quantize_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/dynamic_quantize/dynamic_quantize_kernel_ref.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/dynamic_quantize_gpu_test.cpp
Labels: category: GPU, Code Freeze

#28368 [Snippets][Docs] Fix broken links
  src/common/snippets/docs/debug_capabilities/README.md
  src/common/snippets/docs/debug_capabilities/perf_count.md
  src/common/snippets/docs/mha_optimization_guide.md
  src/common/snippets/docs/snippets_design_guide.md
Labels: category: CPU, category: docs

#27265 [GPU] activations scaling to resolve accuracy issues for infer precision of f16
  src/common/low_precision_transformations/include/low_precision/layer_transformation.hpp
  src/common/low_precision_transformations/src/add.cpp
  src/common/low_precision_transformations/src/layer_transformation.cpp
  src/common/low_precision_transformations/src/multiply_partial.cpp
  src/common/low_precision_transformations/src/network_helper.cpp
  src/common/transformations/include/transformations/common_optimizations/activations_scaling.hpp
  src/common/transformations/include/transformations/rt_info/dequantization_node.hpp
  src/common/transformations/src/transformations/common_optimizations/activations_scaling.cpp
  src/common/transformations/src/transformations/rt_info/dequantization_node.cpp
  src/common/transformations/tests/common_optimizations/activations_scaling_test.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/permute_f_y_axes.cl
  src/plugins/intel_gpu/src/plugin/transformations/clamp_fp16_output.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/activations_scaling.cpp
  src/plugins/intel_gpu/tests/unit/transformations/clamp_fp16_output_test.cpp
Labels: category: GPU, category: transformations, category: LP transformations, Code Freeze

#28420 [NPUW] Serialize LLMCompiledModel config
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.cpp
Labels: Code Freeze, category: NPU, category: NPUW

#28415 Add OMZ config for NPU tools
  src/plugins/intel_npu/tools/omz_version.json
Labels: category: NPU

#28343 [NPUW] Update compiler DQ query in LLMCompiledModel
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: Code Freeze, category: NPU, category: NPUW

#28429 a fix of CB pipeline break with GPU
  src/core/src/op/paged_attention.cpp
  src/plugins/intel_gpu/src/plugin/ops/paged_attention.cpp
Labels: category: Core, category: GPU, Code Freeze

#28340 NPUW: Optimize KV-cache copy for npuw::LLMInferRequest
  src/plugins/intel_npu/src/plugin/CMakeLists.txt
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/util_xarch.cpp
  src/plugins/intel_npu/src/plugin/npuw/util_xarch.hpp
Labels: category: build, Code Freeze, category: NPU, category: NPUW

#28419 [TF FE] Add support for TensorScatterAdd in TF FE
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/tensor_scatter_add.cpp
  tests/layer_tests/tensorflow_tests/test_tf_TensorScatterAdd.py
Labels: category: docs, ExternalPR, category: TF FE, category: TFL FE

#28393 [TRANSFORMATIONS] Add special handling for Alibi Slopes in Baichuan2 13b
  src/common/transformations/src/transformations/sdpa_to_paged_attention/state_management_pattern.cpp
  src/common/transformations/tests/op_conversions/sdpa_to_paged_attention_test.cpp
Labels: category: transformations, Code Freeze

#28308 NPUW: Add new option to dump representative subset
  src/plugins/intel_npu/src/al/include/intel_npu/npuw_private_properties.hpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.hpp
Labels: category: NPU, category: NPUW

#28443 [NPUW] Remove extra detach
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
Labels: Code Freeze, category: NPU, category: NPUW

#28412 [GPU] False mark shapeof subgraph when shapeof has multiple user
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_shape_of_subgraphs.cpp
Labels: category: GPU, Code Freeze

#28435 [GPU] Enable eltwise primitive fusion to RMS
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rms_gpu_bfyx_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rms_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_bfyx_opt.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_ref.h
  src/plugins/intel_gpu/tests/unit/fusions/rms_fusion_test.cpp
Labels: category: GPU, Code Freeze

#28437 fix stoi issue for specific platform
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser/cache_parser_linux.cpp
Labels: bug, category: inference, Code Freeze

#28373 [PyAPI] Fix string truncation when special \u0000 is inside string
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/tests/test_runtime/test_tensor_string.py
Labels: category: Python API, Code Freeze

#27290 [AUTO] Fix the timing issue in AUTO inference
  src/plugins/auto/src/schedule.cpp
  src/plugins/auto/tests/unit/dynamic_output_test.cpp
  src/plugins/auto/tests/unit/release_helper_test.cpp
  src/plugins/auto/tests/unit/runtime_fallback_test.cpp
Labels: priority: medium, category: AUTO, Code Freeze

#28401 [CPU] Transpose insertion before FC in ConvertMatMulToFC
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/convert_matmul_to_fc.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/matmul_decompress_convert.cpp
  src/plugins/intel_cpu/tests/unit/transformations/convert_matmul_test.cpp
Labels: category: CPU, Code Freeze

#28430 [GPU] Fix SD3 hybrid static failure.
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, Code Freeze

#28434 [NPU] fix segfault in compile_tool
  src/plugins/intel_npu/src/compiler_adapter/include/compiler_adapter_factory.hpp
Labels: category: NPU

#27159 [NPU] Add plugin metadata to compiled model
  src/plugins/intel_npu/src/common/include/intel_npu/common/igraph.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/driver_graph.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/plugin_graph.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_graph.cpp
  src/plugins/intel_npu/src/plugin/include/metadata.hpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/metadata.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/unit/CMakeLists.txt
  src/plugins/intel_npu/tests/unit/npu/metadata_version.cpp
Labels: category: build, priority: high, Code Freeze, category: NPU

#28287 [ONNX] Added QLinear Sigmoid and LeakyRelu from com.microsoft domain
  src/frontends/onnx/frontend/src/op/com.microsoft/qlinear_activation.cpp
  src/frontends/onnx/tests/models/com.microsoft/q_linear_leaky_relu.prototxt
  src/frontends/onnx/tests/models/com.microsoft/q_linear_sigmoid.prototxt
  src/frontends/onnx/tests/onnx_import_com_microsoft.in.cpp
Labels: ExternalPR, category: ONNX FE

#28453 [Docs] Apply OpenVINO RTTI in Docs
  docs/articles_en/assets/snippets/lpt_intel_cpu_plugin.cpp
  docs/articles_en/assets/snippets/ov_model_snippets.cpp
  docs/articles_en/assets/snippets/ov_stateful_models_intro.cpp
  docs/articles_en/assets/snippets/template_model_transformation.hpp
  docs/articles_en/assets/snippets/template_pattern_transformation.cpp
  docs/articles_en/assets/snippets/template_pattern_transformation.hpp
Labels: category: docs_snippets

#28202 [ONNX]: Added Range from com.microsoft domain
  src/frontends/onnx/frontend/src/op/com.microsoft/range.cpp
  src/frontends/onnx/tests/models/com.microsoft/range_with_delta.prototxt
  src/frontends/onnx/tests/models/com.microsoft/range_without_delta.prototxt
  src/frontends/onnx/tests/onnx_import_com_microsoft.in.cpp
Labels: ExternalPR, category: ONNX FE

#28438 [NPU] Re-create zero tensor for internal usage if it was shared with user
  src/plugins/intel_npu/src/backend/include/zero_tensor.hpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_tensor.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.hpp
Labels: priority: high, Code Freeze, category: NPU

#28459 [PT FE] Support negative orders in aten::permute
  src/frontends/pytorch/src/op/permute.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/transforms/listconstruct_replacer.cpp
  tests/layer_tests/pytorch_tests/test_permute.py
Labels: category: PyTorch FE

#28463 [Snippets][CPU] Fix RTTI for SerializationNode
  src/common/snippets/include/snippets/op/serialization_node.hpp
Labels: category: CPU

#28442 [NPUW] Serialization fixes
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.hpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: priority: high, Code Freeze, category: NPU, category: NPUW

#27694 [Py OV] Add deprecation warning for runtime module
  src/bindings/python/src/openvino/__init__.py
  src/bindings/python/src/openvino/package_utils.py
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/tests/test_runtime/test_deprecated_runtime.py
  tools/benchmark_tool/openvino/__init__.py
  tools/ovc/openvino/__init__.py
Labels: category: Python API, category: tools, Code Freeze, category: OVC

#28444 Add scalar case if "then" and "else" subgraph output are scalar.
  src/core/src/op/if.cpp
  src/core/tests/type_prop/if.cpp
Labels: category: Core

#28316 [intel-npu] Adding NPU_DYNAMIC_QUANTIZATION property
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/npu-device.rst
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/include/openvino/runtime/intel_npu/properties.hpp
  src/plugins/intel_npu/README.md
  src/plugins/intel_npu/src/al/include/intel_npu/config/compiler.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/icompiler.hpp
  src/plugins/intel_npu/src/al/src/config/compiler.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/plugin/include/metrics.hpp
  src/plugins/intel_npu/src/plugin/include/plugin.hpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/functional/internal/overload/compiled_model/property.cpp
Labels: category: inference, category: Python API, priority: high, category: docs, category: CPP API, Code Freeze, category: NPU

#28457 Use quotes include instead of brackets include
  src/core/include/openvino/op/util/symbolic_info.hpp
Labels: category: Core, ExternalPR, category: CPP API

#28473 NPUW: Fix BF16 tensor collision in weight bank in new LLM pipeline
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: Code Freeze, category: NPU, category: NPUW

#28478 Added missed space in error message
  src/core/src/pass/sdpa_to_paged_attention.cpp
Labels: category: Core

#28451 [DOCS] add images to testdrive article
  docs/articles_en/assets/images/TestDrive_geti_download.gif
  docs/articles_en/assets/images/TestDrive_llm_import.gif
  docs/articles_en/assets/images/TestDrive_llm_metrics.gif
  docs/articles_en/assets/images/TestDrive_llm_model_chat.gif
  docs/articles_en/documentation/openvino-ecosystem/openvino-test-drive.rst
Labels: category: docs

#28449 [GPU] allow to read activations scale factor from rt_info for non-LLMs
  src/plugins/intel_gpu/include/intel_gpu/runtime/execution_config.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
Labels: category: GPU, Code Freeze

#28447 Fix RopeFusion transformation after applying SDPA to PagedAttention conversion
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/tests/common_optimizations/fuse_rotary_positional_embeddings.cpp
Labels: category: transformations, Code Freeze

#28004 [GPU] KV-cache compression micro_sdpa kernel
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kv_cache.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/graph/include/kv_cache_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/dynamic_quantize_gpu_kv_cache.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/dynamic_quantize_gpu_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/sdpa_utils.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_micro.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
  src/plugins/intel_gpu/src/kernel_selector/micro_utils.hpp
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_compression.cpp
  src/plugins/intel_gpu/src/plugin/transformations/kv_cache_compression.hpp
  src/plugins/intel_gpu/src/plugin/transformations/op/kv_cache.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/dynamic_quantize_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/transformations/kv_cache_compression.cpp
Labels: category: GPU, priority: high, Code Freeze

#28422 [GPU] prevent too long sort in experimental detectron generate proposals single image
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/experimental_detectron_generate_proposals_single_image_ref.cl
Labels: category: GPU, Code Freeze

#27321 Reserving CPU resource in CPU inference
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  src/inference/dev_api/openvino/runtime/system_conf.hpp
  src/inference/dev_api/openvino/runtime/threading/cpu_streams_executor.hpp
  src/inference/dev_api/openvino/runtime/threading/istreams_executor.hpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/istreams_executor.cpp
  src/inference/src/os/cpu_map_info.hpp
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/src/system_conf.cpp
  src/inference/tests/unit/cpu_map_parser/update_proc_table.cpp
  src/inference/tests/unit/executor_config_test.cpp
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/compiled_model.h
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/cpu_map_scheduling.cpp
  src/plugins/intel_cpu/src/cpu_map_scheduling.hpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.hpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_plugin/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/compiled_model/cpu_reservation_test.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/cpu_pinning_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_e2e_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/update_proc_table_test.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/functional/concurrency/gpu_reservation_test.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/behavior/ov_plugin/properties_tests.cpp
Labels: category: inference, category: GPU, category: CPU, category: docs, category: CPP API

#28495 Bump cache-apt-pkgs-action in documentation workflow
  .github/workflows/build_doc.yml
Labels: category: CI, github_actions
