Repository openvinotoolkit/openvino, pull requests merged in 2025-06, with the labels that each got.

#29802 Fix typos in multiple files
  src/common/transformations/include/transformations/op_conversions/convert_reduce_to_pooling.hpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/utils/fused_ops_jitter.hpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/src/kernel_selector/jitter.h
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/util_xarch.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tools/single-image-test/main.cpp
Labels: category: GPU, category: transformations, ExternalPR, category: NPU, category: NPUW

#30327 [Snippets][CPU] Supported bf16, fp16 MHA on LNL
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/enforce_precision.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/remove_converts.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/remove_converts.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/x64/mha.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/fully_connected.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/mha_wo_transpose.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/transpose_matmul.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/utils.hpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_matmul.cpp
Labels: category: IE Tests, category: CPU

#30751 [DOCs] Add link to llm_bench
  docs/articles_en/about-openvino/performance-benchmarks/getting-performance-numbers.rst
Labels: category: docs

#30787 [CI] [GHA] Move `apt update/install` from workflows to Dockerfiles
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/ubuntu_20_04_arm64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_20_04_x64/Dockerfile
  .github/dockerfiles/ov_build/ubuntu_22_04_x64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_20_04_arm64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_20_04_x64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_20_04_x64_py313/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_22_04_x64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_24_04_x64/Dockerfile
  .github/workflows/job_onnx_runtime.yml
  .github/workflows/job_openvino_js.yml
  .github/workflows/job_samples_tests.yml
Labels: category: CI, github_actions, category: dockerfiles

#30829 [CI][RV64] Disable samples build on RISC-V with Xuantie
  .github/workflows/linux_riscv_xuantie_dev_cpu.yml
Labels: category: CI, platform: risc-v, github_actions

#30811 [DOCs] Correct OpenVINO install links for Docker and Conan
  docs/articles_en/get-started/install-openvino/install-openvino-linux.rst
Labels: category: docs, ExternalPR

#30831 [DOCS] reqs fix
  docs/requirements.txt
Labels: category: docs, category: dependency_changes

#30830 [GHA] Increase timeout for C++ unit tests on Windows in precommit
  .github/workflows/windows_vs2022_release.yml
Labels: category: CI, github_actions

#30731 [GPU] updates group_normalization_fsv16 to use SIMD32
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/group_normalization_fsv16.cl
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/group_normalization_fsv16.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/group_normalization_gpu_test.cpp
Labels: category: GPU

#30691 [CI] [GHA] Use self-hosted runner for `build_doc` workflow
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/ubuntu_22_04_x64/Dockerfile
  .github/workflows/build_doc.yml
  .github/workflows/workflow_rerunner.yml
Labels: category: CI, github_actions, category: dockerfiles

#30835 [PT FE] Support PyTorch Group Query Attention for SDPA
  src/frontends/pytorch/src/op/scaled_dot_product_attention.cpp
  tests/layer_tests/pytorch_tests/test_scaled_dot_product_attention.py
Labels: category: PyTorch FE

#30820 [`intel-npu`] [`Functional Shared Behavior Tests`] Activate skipped core threading tests
  src/plugins/intel_npu/tests/functional/behavior/compiled_model/blob_compatibility.cpp
  src/plugins/intel_npu/tests/functional/behavior/compiled_model/import_export.cpp
  src/plugins/intel_npu/tests/functional/behavior/ov_plugin/internal_properties_tests.cpp
  src/plugins/intel_npu/tests/functional/common/npu_test_env_cfg.hpp
  src/plugins/intel_npu/tests/functional/common/utils.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_threading_tests.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests.xml
Labels: category: NPU

#30482 fix LLMPipeline Non deterministic CPU inference issue
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
Labels: category: CPU

#30817 [CPU] Apply 'cppcoreguidelines-init-variables' clang-tidy remarks
  src/plugins/intel_cpu/src/.clang-tidy
  src/plugins/intel_cpu/src/cpu_map_scheduling.cpp
  src/plugins/intel_cpu/src/dnnl_extension_utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_base.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/verbose.cpp
  src/plugins/intel_cpu/src/emitters/tpp/common/kernel_executors/brgemm.cpp
  src/plugins/intel_cpu/src/nodes/adaptive_pooling.cpp
  src/plugins/intel_cpu/src/nodes/bin_conv.cpp
  src/plugins/intel_cpu/src/nodes/color_convert.cpp
  src/plugins/intel_cpu/src/nodes/common/cpu_convert.cpp
  src/plugins/intel_cpu/src/nodes/def_conv.cpp
  src/plugins/intel_cpu/src/nodes/depth_to_space.cpp
  src/plugins/intel_cpu/src/nodes/detection_output.cpp
  src/plugins/intel_cpu/src/nodes/dft.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_ie_scheduler.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_mvn.cpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_convolution_primitive.cpp
  src/plugins/intel_cpu/src/nodes/executors/interpolate.cpp
  src/plugins/intel_cpu/src/nodes/executors/mlas/mlas_transpose.cpp
  src/plugins/intel_cpu/src/nodes/fake_quantize.cpp
  src/plugins/intel_cpu/src/nodes/gather_tree.cpp
  src/plugins/intel_cpu/src/nodes/interpolate.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa_common.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_utils.cpp
  src/plugins/intel_cpu/src/nodes/llm_mlp.cpp
  src/plugins/intel_cpu/src/nodes/multiclass_nms.cpp
  src/plugins/intel_cpu/src/nodes/mvn.cpp
  src/plugins/intel_cpu/src/nodes/non_max_suppression.cpp
  src/plugins/intel_cpu/src/nodes/priorbox.cpp
  src/plugins/intel_cpu/src/nodes/proposal.cpp
  src/plugins/intel_cpu/src/nodes/psroi_pooling.cpp
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/src/nodes/region_yolo.cpp
  src/plugins/intel_cpu/src/nodes/reverse_sequence.cpp
  src/plugins/intel_cpu/src/nodes/rms_norm.cpp
  src/plugins/intel_cpu/src/nodes/roi_align.cpp
  src/plugins/intel_cpu/src/nodes/roi_pooling.cpp
  src/plugins/intel_cpu/src/nodes/rope.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scatter_update.cpp
  src/plugins/intel_cpu/src/nodes/shuffle_channels.cpp
  src/plugins/intel_cpu/src/nodes/space_to_depth.cpp
  src/plugins/intel_cpu/src/nodes/topk.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/causal_mask_preprocess_fusion.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_cpu_blocking.cpp
  src/plugins/intel_cpu/src/transformations/tpp/common/pass/lowered/brgemm_tpp_blocking.cpp
  src/plugins/intel_cpu/src/utils/node_dumper.cpp
Labels: category: CPU

#30721 [GPU] fix - running only one kernel when scatter_element_update is dynamic
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_elements_update_kernel_ref.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/scatter_elements_update_gpu_test.cpp
Labels: category: GPU

#30863 [GHA] Code style check fix
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/lora.cpp
Labels: category: GPU

#30778 NPUW: Lift logging levels and fix Scalar matching
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/traits.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/traits.hpp
Labels: do_not_merge, category: NPU, category: NPUW

#30018 [NPUW] added high precision flag for specific ADD layer input during SDPA unroll
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model_utils.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.hpp
  src/plugins/intel_npu/tests/unit/npuw/transpose_vt.cpp
Labels: category: NPU, category: NPUW

#30846 Enable precompiled headers for some targets.
  .github/workflows/android_arm64.yml
  .github/workflows/android_x64.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/linux_riscv.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/manylinux_2014.yml
  .github/workflows/ubuntu_20.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_24.yml
  .github/workflows/windows_conditional_compilation.yml
  .github/workflows/windows_vs2022_debug.yml
  .github/workflows/windows_vs2022_release.yml
  cmake/developer_package/faster_build.cmake
  src/common/snippets/tests/CMakeLists.txt
  src/common/snippets/tests/src/precomp.hpp
  src/common/transformations/CMakeLists.txt
  src/common/transformations/src/precomp.hpp
  src/common/util/include/openvino/pch/precomp_core.hpp
  src/core/CMakeLists.txt
  src/core/reference/CMakeLists.txt
  src/core/reference/src/precomp.hpp
  src/core/src/precomp.hpp
  src/frontends/onnx/frontend/src/precomp.hpp
  src/inference/CMakeLists.txt
  src/inference/src/precomp.hpp
  src/plugins/intel_npu/src/compiler_adapter/CMakeLists.txt
  src/plugins/intel_npu/src/compiler_adapter/src/precomp.hpp
  src/tests/functional/plugin/shared/CMakeLists.txt
  src/tests/functional/plugin/shared/src/precomp.hpp
  src/tests/functional/shared_test_classes/CMakeLists.txt
  src/tests/functional/shared_test_classes/src/precomp.hpp
  src/tests/ov_helpers/ov_lpt_models/CMakeLists.txt
  src/tests/ov_helpers/ov_lpt_models/src/precomp.hpp
  src/tests/ov_helpers/ov_snippets_models/CMakeLists.txt
  src/tests/ov_helpers/ov_snippets_models/src/precomp.hpp
  src/tests/test_utils/common_test_utils/CMakeLists.txt
  src/tests/test_utils/common_test_utils/src/all_close_f.cpp
  src/tests/test_utils/common_test_utils/src/common_utils.cpp
  src/tests/test_utils/common_test_utils/src/data_utils.cpp
  src/tests/test_utils/common_test_utils/src/file_utils.cpp
  src/tests/test_utils/common_test_utils/src/float_util.cpp
  src/tests/test_utils/common_test_utils/src/graph_comparator.cpp
  src/tests/test_utils/common_test_utils/src/ov_tensor_utils.cpp
  src/tests/test_utils/common_test_utils/src/precomp.hpp
  src/tests/test_utils/common_test_utils/src/test_common.cpp
  src/tests/test_utils/common_test_utils/src/test_control.cpp
  src/tests/test_utils/functional_test_utils/CMakeLists.txt
  src/tests/test_utils/functional_test_utils/src/precomp.hpp
Labels: category: inference, category: Core, category: IE Tests, category: CPU, category: build, category: transformations, category: CI, category: ONNX FE, github_actions, category: NPU

#30679 [CPU] Fix CNNs compilation time
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_convolution_primitive.cpp
Labels: category: CPU

#30890 [CPU] Convolution fixes combined
  src/plugins/intel_cpu/src/nodes/executors/convolution_config.hpp
  src/plugins/intel_cpu/src/nodes/executors/convolution_implementations.cpp
  src/plugins/intel_cpu/src/nodes/executors/debug_messages.hpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_convolution_primitive.cpp
  src/plugins/intel_cpu/src/nodes/executors/fullyconnected_config.hpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/x64/conv_u8s8f32.cpp
Labels: category: CPU

#30848 [Coverity] Not use move in is_type_any_of
  src/core/include/openvino/core/type.hpp
Labels: category: Core, category: CPP API

#30803 [CPU] support E3950 on Linux
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/tests/unit/cpu_map_parser/cache_parser_linux.cpp
Labels: category: inference

#30834 update default number of streams for throughput mode on single XEON CPU
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
Labels: category: CPU

#30886 [DOCS] Release notes
  docs/articles_en/about-openvino/release-notes-openvino.rst
Labels: category: docs

#30843 [Core][Unicode] read_model supports std::filesystem::path initialized with type std::wstring
  src/inference/include/openvino/runtime/core.hpp
  src/inference/tests/functional/ov_core_test.cpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/test_model/test_model.hpp
  src/tests/test_utils/functional_test_utils/src/test_model/test_model.cpp
Labels: category: inference, category: IE Tests, category: CPP API

#30887 [DOCS] Add docker link
  docs/articles_en/get-started/install-openvino/configurations/configurations-intel-gpu.rst
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
Labels: category: docs

#30706 [RISCV64]: Implement CPU plugin just-in-time emitter for LogicalXor
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_uni_eltwise_generic.cpp
Labels: category: CPU, ExternalPR, platform: risc-v

#30661 The option "--disable-stateful" is no longer required to export Whisp…
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
Labels: category: docs

#30910 [DOCS] Release version update in docs
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/configurations/genai-dependencies.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conan.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

#30915 [DOCS] Option "--disable-stateful" note
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
Labels: category: docs

#30849 [PyOV] Add default names to add_outputs method
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/tests/test_runtime/test_model.py
Labels: category: Python API

#30764 [CPU][REF][GatherND]: Support negative indices.
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/movement/gather-nd-8.rst
  src/plugins/intel_cpu/src/nodes/gather_nd.cpp
  src/plugins/intel_cpu/src/nodes/gather_nd.h
  src/plugins/template/tests/functional/op_reference/gather_nd.cpp
  src/tests/functional/shared_test_classes/src/single_op/gather_nd.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/node_builders/gather_nd.hpp
  src/tests/test_utils/common_test_utils/src/node_builders/gather_nd.cpp
Labels: category: IE Tests, category: CPU, category: docs, category: TEMPLATE

#30926 [DOCs] Change what's new
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
Labels: category: docs

#30714 [GPU] Match sliding window calculation between pagedAttention and SDPA
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/tests/unit/test_cases/paged_attention_gpu_test.cpp
Labels: category: GPU, ExternalIntelPR

#30921 Disable sporadicaly failing test on Windows
  src/inference/tests/functional/ov_core_threading.cpp
Labels: category: inference

#30891 [GPU] add scatter_nd_update_opt kernel
  src/plugins/intel_gpu/src/graph/impls/ocl/register.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/register.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scatter_nd_update.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/scatter_nd_update.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/scatter_nd_update.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/scatter_nd_update_copy.cl
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/scatter_nd_update_opt.cl
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/scatter_nd_update_ref.cl
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/registry/registry.hpp
  src/plugins/intel_gpu/src/graph/registry/scatter_nd_update_impls.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_nd_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_nd_update_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_nd_update_kernel_selector.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_nd_update_kernel_selector.h
  src/plugins/intel_gpu/tests/unit/dynamic_execution/skip_scatter_update_at_runtime.cpp
  src/plugins/intel_gpu/tests/unit/fusions/scatter_nd_update_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/scatter_nd_update_si_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/scatter_nd_update_gpu_test.cpp
Labels: category: GPU

#30918 [Py OV] [DOCS] Remove use of openvino-nightly PyPI module
  docs/documentation_build_instructions.md
  docs/scripts/install_appropriate_openvino_version.py
Labels: category: docs

#30948 [DOCS] rebrand Geti
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project.rst
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project/openvino-test-drive.rst
Labels: category: docs

#30513 [NPU] Single Image Test - Add possibility to pass input files using input layer names
  src/plugins/intel_npu/tools/single-image-test/main.cpp
Labels: ExternalPR, category: NPU

#30919 Enable precompiled headers for CPU and GPU plugins
  cmake/developer_package/cross_compile/cross_compiled_func.cmake
  cmake/developer_package/faster_build.cmake
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/nodes/executors/deconv.cpp
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
  src/plugins/intel_cpu/tests/unit/CMakeLists.txt
  src/plugins/intel_gpu/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/cpu/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/ocl/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/CMakeLists.txt
  src/plugins/intel_gpu/src/graph/impls/onednn/CMakeLists.txt
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/CMakeLists.txt
  src/plugins/intel_gpu/tests/functional/CMakeLists.txt
  src/plugins/intel_gpu/tests/unit/CMakeLists.txt
Labels: category: GPU, category: CPU, category: build

#30877 Add EQUAL_ELTWISE support for eltwise test and kernel
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_uni_eltwise_generic.cpp
Labels: category: CPU, ExternalPR, platform: risc-v

#30950 [GPU] Some code cleanup for debug config
  src/plugins/intel_gpu/include/intel_gpu/runtime/internal_properties.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/options.inl
  src/plugins/intel_gpu/src/graph/network.cpp
Labels: category: GPU

#30945 [GPU] Set multiple groups input preload only if groups > 1
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU

#30601 Avoid using recursion for search to prevent stack overflow
  src/frontends/ir/src/ir_deserializer.cpp
Labels: category: IR FE, ExternalPR

#30974 [Snippets] Use 'ov::is_type_any_of' where applicable
  src/common/snippets/src/generator.cpp
  src/common/snippets/src/lowered/linear_ir.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.cpp
Labels: category: CPU

#30959 [OV JS] Dependency update and fix for brace-expansion from 1.1.11 to 1.1.12 in /src/bindings/js/node
  samples/js/node/package-lock.json
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
Labels: category: samples, category: JS API

#30902 Implement CPU plugin just-in-time emitter for LogicalNot operation
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_uni_eltwise_generic.hpp
Labels: category: CPU, ExternalPR, platform: risc-v

#30978 [PyOV] Enable free-threaded python build
  cmake/developer_package/cross_compile/python_helpers.cmake
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/frontend_module.cmake
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
Labels: category: build, category: Python API

#30984 Update optimum-intel for validation
  tests/requirements_pytorch
Labels: category: PyTorch FE

#30792 [NPU][IE-MDK] Remove Legacy Skip Filters & Add Documentation
  src/plugins/intel_npu/tests/functional/CMakeLists.txt
  src/plugins/intel_npu/tests/functional/README.md
  src/plugins/intel_npu/tests/functional/common/npu_test_env_cfg.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/npu_skip_func_tests.xml
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: build, category: docs, category: NPU

#30967 [Protopipe] Move version from cmake file to header file but keep sha in cmake file
  src/plugins/intel_npu/tools/protopipe/CMakeLists.txt
  src/plugins/intel_npu/tools/protopipe/version.hpp.in
Labels: category: build, category: NPU

#30983 [CPU] [ARM64] jit erf emitter
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm, ExternalPR

#30938 [Core][Unicode] Refactor model path handling for read_model
  src/inference/include/openvino/runtime/core.hpp
  src/inference/tests/functional/ov_core_test.cpp
  src/inference/tests/functional/ov_extension_test.cpp
  src/tests/test_utils/common_test_utils/src/file_utils.cpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/test_model/test_model.hpp
  src/tests/test_utils/functional_test_utils/src/test_model/test_model.cpp
Labels: category: inference, category: IE Tests, category: CPP API, port to 2025.2

#31001 DOCS - Release Notes Edits
  docs/articles_en/about-openvino/release-notes-openvino.rst
Labels: category: docs

#30785 [OV JS] Expose Model.reshape
  src/bindings/js/node/include/helper.hpp
  src/bindings/js/node/include/model_wrap.hpp
  src/bindings/js/node/include/partial_shape_wrap.hpp
  src/bindings/js/node/include/type_validation.hpp
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/src/helper.cpp
  src/bindings/js/node/src/model_wrap.cpp
  src/bindings/js/node/src/partial_shape_wrap.cpp
  src/bindings/js/node/src/type_validation.cpp
  src/bindings/js/node/tests/unit/model.test.js
  src/bindings/js/node/tests/unit/test_models/add_model.xml
  src/bindings/js/node/tests/unit/test_models/add_model_with_var.xml
  src/bindings/js/node/tests/utils.js
Labels: category: JS API

#30856 [GPU][GatherElements]: Support negative indices.
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gather_elements_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_elements_kernel_ref.cpp
  src/tests/functional/shared_test_classes/src/single_op/gather_elements.cpp
Labels: category: IE Tests, category: GPU

#30625 [NPUW] Support avoids for no partitioning case
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/group.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/utils/utils.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/utils/utils.hpp
  src/plugins/intel_npu/tests/unit/npuw/online_partitioning.cpp
Labels: category: NPU, category: NPUW

#30828 [OV JS] Add async benchmark
  samples/js/node/benchmark/README.md
  samples/js/node/benchmark/asynchronous_benchmark.js
Labels: category: samples, category: docs

#31027 [DOCS] change date
  docs/articles_en/about-openvino/release-notes-openvino.rst
Labels: category: docs

#31019 [Snippets][CPU] Fix uninitialized value jump reported by valgrind
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
Labels: category: CPU

#31010 [CPU] [ARM64] jit hsigmoid emitter
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/transformations/defs.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, platform: arm, ExternalPR

#31022 [GPU] Extended stored values ​​for program_node serialization
  src/plugins/intel_gpu/src/graph/program_node.cpp
Labels: category: GPU

#30416 [GPU] Fix MVN fusion accuracy issue
  src/plugins/intel_gpu/src/kernel_selector/kernels/mvn/mvn_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/mvn_gpu_test.cpp
Labels: category: GPU

#30939 [GPU] Add bzyxf input format for tensor transform in reorder calc output layout
  src/plugins/intel_gpu/src/graph/reorder.cpp
  src/plugins/intel_gpu/tests/unit/passes/reorder_inputs_test.cpp
Labels: category: GPU

#30944 [GPU] enable dynamic shape conv on compile graph pass
  src/plugins/intel_gpu/src/graph/registry/convolution_impls.cpp
Labels: category: GPU

#30980 [GPU] Resolve invalid padding for simple format convolution
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/col2im.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_opt_bilinear_zeros.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_padding_test.cpp
Labels: category: GPU

#31016 [GPU] Fixed memory dependencies for empty LoRA
  src/plugins/intel_gpu/src/graph/graph_optimizer/basic_memory_dependencies.cpp
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
Labels: category: GPU

#31032 [GPU] Fix issue regarding PA's update_dispatch_data for prefill
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
Labels: category: GPU, backport, port to 2025.2

#30972 Added U2 precision parsers for compile_tool
  samples/cpp/common/utils/src/args_helper.cpp
  src/plugins/intel_npu/tools/compile_tool/main.cpp
Labels: category: samples, category: NPU

#30639 [NPUW][NPU] Add NPUW caching properties
  src/plugins/intel_npu/src/al/include/intel_npu/config/npuw.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/common/src/filtered_config.cpp
  src/plugins/intel_npu/src/plugin/include/properties.hpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/src/plugin/src/properties.cpp
Labels: category: NPU, category: NPUW

#30953 [CLANG-TIDY] Add cmake option to automatically apply clang-tidy remarks if possible
  cmake/developer_package/features.cmake
  cmake/developer_package/plugins/plugins.cmake
Labels: category: build

#30659 Rewrite SDPAFusion transformation
  src/common/transformations/include/transformations/common_optimizations/sdpa_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/moc_transformations.cpp
  src/common/transformations/src/transformations/common_optimizations/sdpa_fusion.cpp
  src/common/transformations/tests/common_optimizations/sdpa_fusion_test.cpp
Labels: category: transformations

#30992 [NPU][IE-MDK] Delete Legacy Skip Config
  src/plugins/intel_npu/tests/functional/CMakeLists.txt
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests.xml
Labels: category: build, category: NPU

#31065 Resolve invalid padding for simple format convolution
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/col2im.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_opt_bilinear_zeros.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_padding_test.cpp
Labels: category: GPU

#31058 [RISCV64]: Implement CPU plugin just-in-time emitter for LessEqual operation
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_uni_eltwise_generic.cpp
Labels: category: CPU, ExternalPR, platform: risc-v

#30860 [Snippets][CPU] Implement reduction emitters and fix fill emitter required for softmax operation support
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_fill_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_horizon_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_horizon_emitters.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#31077 [DOCS] Requirements temp fix
  docs/requirements.txt
Labels: category: docs, category: dependency_changes

#31078 [PyOV] Bump pytest to `8.4.1`
  tests/e2e_tests/requirements.txt
Labels: category: dependency_changes

#31018 [DOCS] Port release docs to master
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/configurations/configurations-intel-gpu.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-docker-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/cpu-device/performance-hint-and-thread-scheduling.rst
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  docs/articles_en/openvino-workflow/running-inference/inference-request/python-api-advanced-inference.rst
  docs/sphinx_setup/_static/download/benchmarking_OV_platform_list.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_system_info_detailed.xlsx
  docs/sphinx_setup/_static/selector-tool/assets/selector-C9h-51AS.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-CcNjdshX.js
  docs/sphinx_setup/_static/selector-tool/selector-e4b375c.html
Labels: category: docs

#31079 [TRANSFORMATIONS] Extended PositionIDsReplacerQwen pattern to optionally match Convert and Reshape nodes
  src/common/transformations/src/transformations/sdpa_to_paged_attention/position_ids_replacer.cpp
  src/common/transformations/tests/op_conversions/sdpa_to_paged_attention_test.cpp
Labels: category: transformations

#31088 Bump product version 2025.2.1
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/core/include/openvino/core/version.hpp
Labels: category: Core, category: build, category: CPP API, category: packaging

#31067 [GPU] Fix runtime error when mvn requires alignment
  src/plugins/intel_gpu/src/graph/graph_optimizer/add_required_reorders.cpp
  src/plugins/intel_gpu/tests/unit/passes/add_required_reorders_test.cpp
Labels: category: GPU

#31092 [DOCS] Change version for nightly
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/configurations/genai-dependencies.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conan.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
  docs/sphinx_setup/_static/html/banner_data.json
  docs/sphinx_setup/index.rst
Labels: category: docs

#31094 [CPU] Remove extra `[nodiscard]`
  src/plugins/intel_cpu/src/shape_inference/static_shape.hpp
  src/plugins/intel_cpu/src/utils/plain_tensor.hpp
Labels: category: CPU

#31040 [Core][Unicode] Unicode path support
  src/inference/include/openvino/runtime/core.hpp
  src/inference/tests/functional/ov_core_test.cpp
  src/inference/tests/functional/ov_extension_test.cpp
  src/tests/test_utils/common_test_utils/src/file_utils.cpp
  src/tests/test_utils/functional_test_utils/include/functional_test_utils/test_model/test_model.hpp
  src/tests/test_utils/functional_test_utils/src/test_model/test_model.cpp
Labels: category: inference, category: IE Tests, category: CPP API

#31091 [GPU] Fix sdpa_opt single token kernel to support scalar input for scale
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_ref.cl
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/scaled_dot_product_attention.cpp
Labels: category: GPU, backport, port to 2025.2

#31103 [Snippets] Simplify subgraph tests body
  src/common/snippets/tests/src/pass/collapse_subgraph.cpp
  src/common/snippets/tests/src/pass/mha_tokenization.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/aarch64/snipptes_mark_skipped.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/snipptes_mark_skipped.cpp
  src/tests/ov_helpers/ov_snippets_models/include/snippets_helpers.hpp
Labels: category: IE Tests, category: CPU

#30855 Disable /guard:cf compiled option for dynamic build
  cmake/developer_package/compile_flags/sdl.cmake
  cmake/toolchains/mt.runtime.win32.toolchain.cmake
Labels: category: build

#31095 Disable sdl compile options
  cmake/developer_package/compile_flags/sdl.cmake
  cmake/toolchains/mt.runtime.win32.toolchain.cmake
Labels: category: build

#31029 [GPU][TRANSFORMATIONS] RoPE fusion for GLM-4-9B Hugging Face
  src/common/transformations/include/ov_ops/rotary_positional_embeddings.hpp
  src/common/transformations/include/transformations/common_optimizations/fuse_rotary_positional_embeddings.hpp
  src/common/transformations/src/ov_ops/rotary_positional_embeddings.cpp
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/tests/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/rope.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/rope_opt.cl
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/rope_opt.cpp
  src/plugins/intel_gpu/src/graph/rope.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/rotary_pos_emb.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/rotary_pos_emb.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/rotary_pos_emb.hpp
  src/tests/functional/shared_test_classes/src/subgraph/rotary_pos_emb.cpp
Labels: category: IE Tests, category: GPU, category: CPU, category: transformations

#31096 [GPU] Add canonicalization for attention mask shape with rank less than 4
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/scaled_dot_product_attention.cpp
Labels: category: GPU

#31024 [Snippets][CPU] Used Plugin Reorder for weights repacking
  src/common/snippets/src/pass/fuse_transpose_brgemm.cpp
  src/plugins/intel_cpu/src/emitters/snippets/cpu_runtime_configurator.hpp
  src/plugins/intel_cpu/src/emitters/snippets/input_repacker.cpp
  src/plugins/intel_cpu/src/emitters/snippets/input_repacker.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_base.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.hpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_utils.cpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_utils.hpp
  src/plugins/intel_cpu/src/nodes/executors/executor.hpp
  src/plugins/intel_cpu/src/nodes/executors/x64/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/executors/x64/subgraph.hpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.h
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/eliminate_brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/eliminate_brgemm_copy_b.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/adjust_brgemm_copy_b_loop_ports.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/expressions/brgemm_copy_b_buffer_expressions.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/init_repacked_constant_inputs.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/init_repacked_constant_inputs.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/repack_matmul_weights.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/repack_matmul_weights.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/fully_connected.cpp
Labels: category: CPU

#30873 [GPU] Fix mismatched transpose order in transpose fusion of transformation
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/transpose_matmul_fusion.cpp
Labels: category: GPU

#31076 [GHA] Increase timeout for Pytorch layer tests
  .github/workflows/job_pytorch_layer_tests.yml
Labels: category: CI, github_actions

#31127 [Snippets] Replace deprecated ov::Model ctor in tests
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/fuse_brgemm_cpu_postops.cpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_mha.cpp
Labels: category: IE Tests, category: CPU

#31129 Update TfLite schema.fbs for StableHlo ops
  src/frontends/tensorflow_lite/src/schema/schema.fbs
Labels: category: TFL FE

#31122 [OV JS] Fix compileModel() return type
  src/bindings/js/node/src/compiled_model.cpp
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/tests/unit/basic.test.js
Labels: category: JS API

#31082 [GPU] Add plain format support in reduce onednn impl manager
  src/plugins/intel_gpu/src/graph/impls/onednn/reduce_onednn.hpp
  src/plugins/intel_gpu/tests/unit/fusions/reduce_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reduce_gpu_test.cpp
Labels: category: GPU

#31126 [GPU] fix warnings from _convert_as_bfloat16_float and _convert_bfloat16_as_ushort
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/bf16_utils.cl
Labels: category: GPU

#30987 [ONNX] Fixed type casting issue in SimplifiedLayerNormalization
  src/frontends/onnx/frontend/src/op/com.microsoft/simplified_layer_normalization.cpp
Labels: ExternalIntelPR, category: ONNX FE

#31149 [NPU] Hotfix after clang-format-18 changes
  src/plugins/intel_npu/src/plugin/src/properties.cpp
Labels: category: NPU
