Repository openvinotoolkit/openvino, pull requests merged in 2025-08, with the labels that each got.

#31538 [OV JS] Bump @eslint/plugin-kit
  src/bindings/js/node/package-lock.json
Labels: category: JS API

#31543 Enable 3-model pipeline by default
  src/plugins/intel_npu/src/al/include/intel_npu/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npuw_private_properties.hpp
Labels: category: NPU, category: NPUW

#31555 [CPU] jit_uni_eltwise_generic: exception messages are extended
  src/plugins/intel_cpu/src/nodes/kernels/x64/jit_uni_eltwise_generic.cpp
Labels: category: CPU

#31561 [CORE][TESTS] Replace 'std::tie' with structured bindings where possible
  src/common/low_precision_transformations/tests/align_concat_quantization_parameters_transformation.cpp
  src/common/low_precision_transformations/tests/avg_pool_transformation.cpp
  src/common/low_precision_transformations/tests/avg_pool_with_child_transformation.cpp
  src/common/low_precision_transformations/tests/fake_quantize_precision_selection_transformation.cpp
  src/common/low_precision_transformations/tests/fake_quantize_transformation.cpp
  src/common/low_precision_transformations/tests/fake_quantize_with_dq_not_optimal_transformation.cpp
  src/common/low_precision_transformations/tests/fake_quantize_with_dynamic_intervals_transformation.cpp
  src/common/low_precision_transformations/tests/get_dequantization_below_transformation.cpp
  src/common/low_precision_transformations/tests/get_dequantization_test.cpp
  src/common/low_precision_transformations/tests/get_dequantization_transformation.cpp
  src/common/low_precision_transformations/tests/markup_avg_pool_precisions_transformation.cpp
  src/common/low_precision_transformations/tests/markup_bias_transformation.cpp
  src/common/low_precision_transformations/tests/mat_mul_transformation.cpp
  src/common/low_precision_transformations/tests/mat_mul_with_constant_transformation.cpp
  src/common/low_precision_transformations/tests/normalize_l2_transformation.cpp
  src/common/low_precision_transformations/tests/separate_in_standalone_branch_transformation.cpp
  src/common/snippets/tests/src/lowered/pass/buffer_allocation.cpp
  src/common/snippets/tests/src/pass/fuse_transpose_brgemm.cpp
  src/common/snippets/tests/src/pass/gn_decomposition.cpp
  src/common/snippets/tests/src/pass/gn_tokenization.cpp
  src/common/snippets/tests/src/pass/precision_propagation.cpp
  src/common/snippets/tests/src/pass/softmax_decomposition.cpp
  src/common/snippets/tests/src/utils/broadcast_merge_dim.cpp
  src/common/transformations/tests/common_optimizations/broadcast_transition_test.cpp
  src/common/transformations/tests/common_optimizations/convert_pagedattn_inputs.cpp
  src/common/transformations/tests/common_optimizations/fq_mul_fusion_test.cpp
  src/common/transformations/tests/common_optimizations/pad_fusion.cpp
  src/common/transformations/tests/op_conversions/convert_pad_to_group_conv.cpp
  src/common/transformations/tests/op_conversions/eye_decomposition_test.cpp
  src/common/transformations/tests/op_conversions/fake_convert_decomposition_test.cpp
  src/common/transformations/tests/op_conversions/fq_decomposition_test.cpp
  src/common/transformations/tests/symbolic_transformations/dereshape_matmul.cpp
  src/common/transformations/tests/transpose_sinking/ts_binary_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_concat_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_split_test.cpp
  src/common/transformations/tests/transpose_sinking/ts_test_case.cpp
  src/common/transformations/tests/transpose_sinking/ts_unary_test.cpp
  src/common/transformations/tests/utils/compress_quantize_weights.cpp
  src/core/tests/copy.cpp
  src/core/tests/ov_tensor_test.cpp
  src/core/tests/pass/serialization/const_compression.cpp
  src/core/tests/pass/serialization/custom_ops.cpp
  src/core/tests/pass/serialization/tensor_iterator.cpp
  src/core/tests/pass_config.cpp
  src/core/tests/type_prop/split.cpp
  src/core/tests/type_prop/squeeze.cpp
  src/core/tests/type_prop/unsqueeze.cpp
  src/core/tests/type_prop/variadic_split.cpp
  src/frontends/tests/frontend/shared/src/convert_model.cpp
  src/frontends/tests/frontend/shared/src/op_fuzzy.cpp
  src/frontends/tests/frontend/shared/src/partial_shape.cpp
  src/inference/tests/unit/query_model_test.cpp
Labels: category: inference, category: Core, category: IE Tests, category: CPU, category: transformations, category: LP transformations

#31280 Added OV-2025_2_AI-PC_10_TPS
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-155H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-255H.csv
  docs/sphinx_setup/_static/benchmarks_files/llm_models_7-258V.csv
  docs/sphinx_setup/_static/download/benchmarking_genai_platform_list.pdf
Labels: category: docs, ExternalIntelPR

#31586 [PyOV] Skip some tests failing on experimental free-threaded Python
  src/bindings/python/tests/test_graph/test_custom_op.py
  src/bindings/python/tests/test_runtime/test_async_infer_request.py
  src/bindings/python/tests/test_runtime/test_deprecated_runtime.py
  src/bindings/python/wheel/fdupes_check.cmake
Labels: category: build, category: Python API, category: packaging

#31592 [GHA] Use strict download patterns
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/job_gpu_tests.yml
  .github/workflows/job_jax_layer_tests.yml
  .github/workflows/job_jax_models_tests.yml
  .github/workflows/job_keras3_backend.yml
  .github/workflows/job_onnx_models_tests.yml
  .github/workflows/job_python_api_tests.yml
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/job_pytorch_fx_layer_tests.yml
  .github/workflows/job_pytorch_layer_tests.yml
  .github/workflows/job_pytorch_models_tests.yml
  .github/workflows/job_samples_tests.yml
  .github/workflows/job_tensorflow_layer_tests.yml
  .github/workflows/job_tensorflow_models_tests.yml
  .github/workflows/linux_riscv_xuantie_dev_cpu.yml
  .github/workflows/windows_vs2022_release.yml
Labels: category: CI, github_actions

#31581 [RV64] Set of fixes for JIT Eltwise emitters
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.hpp
Labels: category: CPU

#31598 [CPU][TESTS] Replace deprecated 'undefined' element type
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/arm/matmul_weights_decompression.cpp
Labels: category: CPU, platform: arm

#31576 [GPU][Qwen3-8B] Fuse type conversion only reorders to previous RMS nodes
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/graph/rms.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_bfyx_opt.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/rms/rms_kernel_ref.h
  src/plugins/intel_gpu/tests/unit/fusions/rms_fusion_test.cpp
Labels: category: GPU

#31468 Added weightless cache attributes for intel GPU plugin.
  src/plugins/intel_gpu/include/intel_gpu/graph/program.hpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/plugin.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/data.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/internal_properties.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/options.inl
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/graph.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: GPU, ExternalIntelPR

#31573 [Snippets] Enable desired clang-tidy checks not requiring additional changes
  src/common/snippets/.clang-tidy
Labels: category: CPU

#31452 [GPU] Fix misaligment issue in onednn.
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU

#31570 [Snippets] Replace manual RTTI implementations with `OPENVINO_RTTI_BASE`
  src/common/snippets/include/snippets/lowered/expression.hpp
  src/common/snippets/include/snippets/lowered/loop_info.hpp
  src/common/snippets/include/snippets/lowered/pass/pass.hpp
  src/common/snippets/include/snippets/runtime_configurator.hpp
Labels: category: CPU

#31594 [NPU] Unskip func behavior tests after driver update
  src/plugins/intel_npu/tests/functional/shared_tests_instances/npu_skip_func_tests.xml
Labels: category: NPU

#31609 [NPUW] Fix 3-model pipeline deserialization
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: category: NPU, category: NPUW

#31628 [NPUW] Update NPUW AoT caching docs
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
Labels: category: docs

#31614 [GPU] Suppress unnecessary warning and fix crash on python benchmark app
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
Labels: category: GPU

#31621 [CPU] Use std::make_unique instead of custom make_unique
  src/plugins/intel_cpu/src/cpu_memory.cpp
  src/plugins/intel_cpu/src/dnnl_scratch_pad.h
  src/plugins/intel_cpu/src/memory_control.cpp
  src/plugins/intel_cpu/src/nodes/executors/shl/shl_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/memory.cpp
  src/plugins/intel_cpu/src/utils/general_utils.h
Labels: category: CPU

#31471 [doc] Update memory optimization doc
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-memory-usage.rst
Labels: category: docs

#31607 [CI] [GHA] Update `mac_arm64` workflow to mac-14, store artefacts
  .github/actions/common/constants.py
  .github/workflows/mac_arm64.yml
Labels: category: CI, github_actions

#31415 Transformations Infrastructure: pattern::Block
  src/core/include/openvino/pass/pattern/op/block.hpp
  src/core/include/openvino/pass/pattern/op/block_util.hpp
  src/core/src/pattern/op/block.cpp
  src/core/tests/pattern_block.cpp
Labels: category: Core, category: transformations, category: CPP API

#31378 [TRANSFORMATIONS] Rewrite CausalMaskPreprocess using new Symbolic approach
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/src/transformations/utils/utils.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/causal_mask_preprocess_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/causal_mask_preprocess_fusion.hpp
Labels: category: CPU, category: transformations

#31585 [GPU] apply scales_port to save/load/hash/compare functions in resample
  src/plugins/intel_gpu/include/intel_gpu/primitives/resample.hpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/interpolate.cpp
Labels: category: GPU

#31655 [CPU] Optimize CPU convert: replace movdqu with uni_vmovdqu for better SIMD compatibility
  src/plugins/intel_cpu/src/nodes/common/cpu_convert.cpp
Labels: category: CPU

#31660 [CLANG-TIDY] Add tool discovery logging in CMake configuration
  cmake/developer_package/clang_tidy/clang_tidy.cmake
Labels: category: build

#31535 [NPUW] Extend HOST_GATHER with an additional case
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.cpp
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.hpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.hpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.hpp
Labels: category: NPU, category: NPUW

#31602 [GPU] Set key_by_channel mode as default key quantization mode
  src/plugins/intel_gpu/include/intel_gpu/runtime/options.inl
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/pa_kv_cache_update_ref.cl
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/sdpa/paged_attention_opt.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/update_shape_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/mark_shape_of_subgraphs_test.cpp
Labels: category: GPU

#31336 [NPUW] Enable quantized host gather by default
  src/plugins/intel_npu/src/al/include/intel_npu/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.hpp
Labels: category: NPU, category: NPUW

#31667 Removed extra 'prepare_for_new_conversation()' from 'infer_whole_prefill()'
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.cpp
Labels: Code Freeze, category: NPU, category: NPUW

#31432 [CPU]Add bf16saturation for powerStatic gamma
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.h
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/x64/powerstatic_bf16_saturation.cpp
Labels: bug, category: CPU

#31565 [AUTO][HETERO][TESTS] Replace 'std::tie' with structured bindings where possible
  src/plugins/auto/tests/functional/behavior/infer_consistency_test.hpp
  src/plugins/auto/tests/functional/behavior/infer_schedule_test.cpp
  src/plugins/auto/tests/functional/behavior/io_tensor.hpp
  src/plugins/auto/tests/unit/compile_model_metric_test.cpp
  src/plugins/auto/tests/unit/compile_model_property_test.cpp
  src/plugins/auto/tests/unit/ctput_test.cpp
  src/plugins/auto/tests/unit/default_perf_hint_test.cpp
  src/plugins/auto/tests/unit/dynamic_output_test.cpp
  src/plugins/auto/tests/unit/get_device_list.cpp
  src/plugins/auto/tests/unit/infer_request_schedule_policy_test.cpp
  src/plugins/auto/tests/unit/key_network_priority_test.cpp
  src/plugins/auto/tests/unit/log_utils_test.cpp
  src/plugins/auto/tests/unit/meta_device_check_test.cpp
  src/plugins/auto/tests/unit/parse_meta_device_test.cpp
  src/plugins/auto/tests/unit/release_helper_test.cpp
  src/plugins/auto/tests/unit/runtime_fallback_test.cpp
  src/plugins/auto/tests/unit/select_device_failed_test.cpp
  src/plugins/auto/tests/unit/select_device_test.cpp
  src/plugins/auto/tests/unit/set_log_level_test.cpp
  src/plugins/auto/tests/unit/startup_fallback_property_test.cpp
  src/plugins/auto/tests/unit/stateful_model_test.cpp
  src/plugins/auto_batch/tests/unit/async_infer_request_test.cpp
  src/plugins/auto_batch/tests/unit/compile_model_create_infer_request_test.cpp
  src/plugins/auto_batch/tests/unit/compile_model_get_property_test.cpp
  src/plugins/auto_batch/tests/unit/compile_model_set_property_test.cpp
  src/plugins/auto_batch/tests/unit/parse_batch_device_test.cpp
  src/plugins/auto_batch/tests/unit/parse_meta_device_test.cpp
  src/plugins/auto_batch/tests/unit/plugin_compile_model_test.cpp
  src/plugins/auto_batch/tests/unit/plugin_get_property_test.cpp
  src/plugins/auto_batch/tests/unit/plugin_query_model_test.cpp
  src/plugins/auto_batch/tests/unit/plugin_set_property_test.cpp
  src/plugins/auto_batch/tests/unit/sync_infer_request_test.cpp
  src/plugins/hetero/tests/functional/shared_tests_instances/behavior/ov_infer_request/gpu_dyn_batch_shape_tests.cpp
  src/plugins/hetero/tests/unit/subgraph_collector.cpp
Labels: category: HETERO, category: AUTO, category: AUTO BATCH

#31580 [CPU] Model cache. Add PagedAttentionExtension to enable deserialization of the model
  src/core/dev_api/openvino/op/paged_attention.hpp
  src/plugins/intel_cpu/src/extension.cpp
Labels: category: Core, category: CPU

#31627 [CI] [GHA] Split `download-artifact` step into separate for each artefact
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/job_gpu_tests.yml
  .github/workflows/job_jax_layer_tests.yml
  .github/workflows/job_jax_models_tests.yml
  .github/workflows/job_keras3_backend.yml
  .github/workflows/job_onnx_models_tests.yml
  .github/workflows/job_python_api_tests.yml
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/job_pytorch_fx_layer_tests.yml
  .github/workflows/job_pytorch_layer_tests.yml
  .github/workflows/job_pytorch_models_tests.yml
  .github/workflows/job_samples_tests.yml
  .github/workflows/job_tensorflow_layer_tests.yml
  .github/workflows/job_tensorflow_models_tests.yml
  .github/workflows/job_tokenizers.yml
  .github/workflows/linux_riscv_xuantie_dev_cpu.yml
  .github/workflows/mac.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/windows_vs2022_release.yml
Labels: category: CI, github_actions

#31675 [CPU] Enable `performance-for-range-copy.WarnOnAllAutoCopies` parameter in clang-tidy
  src/plugins/intel_cpu/src/.clang-tidy
  src/plugins/intel_cpu/src/edge.cpp
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.h
Labels: category: CPU

#31683 Align name of the LM head model with prefill and kvcache
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: Code Freeze, category: NPU, category: NPUW

#31150 Fix Coverity DIVIDE_BY_ZERO in single-image-test
  src/plugins/intel_npu/tools/single-image-test/main.cpp
Labels: category: NPU

#31674 [Snippets][Core] Enable `performance-for-range-copy.WarnOnAllAutoCopies` parameter in clang-tidy
  src/common/snippets/.clang-tidy
  src/common/snippets/src/lowered/linear_ir_builder.cpp
  src/core/include/openvino/core/node_output.hpp
  src/core/src/node_output.cpp
Labels: category: Core, category: CPU, category: CPP API

#30909 [GPU][QWen2/2.5-VL] improve SDPA performance with cu_seqlens and cu_window_seqlens
  src/common/transformations/include/ov_ops/vl_sdpa.hpp
  src/common/transformations/src/ov_ops/vl_sdpa.cpp
  src/common/transformations/tests/common_optimizations/sdpa_to_vlsdpa_test.cpp
  src/core/include/openvino/pass/sdpa_to_vlsdpa.hpp
  src/core/src/pass/sdpa_to_vlsdpa.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/primitives_list.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/vl_sdpa.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/utils.hpp
  src/plugins/intel_gpu/src/graph/impls/cm/cm_sdpa_vlen.cm
  src/plugins/intel_gpu/src/graph/impls/cm/include/cm_sdpa_common.hpp
  src/plugins/intel_gpu/src/graph/impls/cm/vl_sdpa_opt.cpp
  src/plugins/intel_gpu/src/graph/impls/cm/vl_sdpa_opt.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/graph/include/vl_sdpa_inst.h
  src/plugins/intel_gpu/src/graph/registry/registry.hpp
  src/plugins/intel_gpu/src/graph/registry/vl_sdpa_impls.cpp
  src/plugins/intel_gpu/src/graph/vl_sdpa.cpp
  src/plugins/intel_gpu/src/plugin/ops/vl_sdpa.cpp
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/vlsdpa.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/ctc_loss_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/dft_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/permute_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/roll_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/sdpa_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/unique_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/vlsdpa_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.h
  src/plugins/intel_gpu/tests/unit/transformations/transpose_vlsdpa_fusion_test.cpp
Labels: category: Core, category: GPU, category: transformations, priority: high, category: CPP API, Code Freeze

#31656 [GPU] Fix unet-2d ACC regression because of missing whitelist.
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU, priority: high, Code Freeze

#30925 [ONNX] Aligned SplitOP's expected behavior between ONNX and OpenVINO
  src/frontends/onnx/frontend/src/op/split.cpp
  src/frontends/onnx/frontend/src/utils/split.cpp
  src/frontends/onnx/tests/__init__.py
  src/frontends/onnx/tests/tests_python/test_backend.py
Labels: category: ONNX FE

#31636 [Snippets][CPU] Fix handling negative numbers in Gemm executor, adjust its testing scenarios
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/kernel_executors/gemm.cpp
  src/tests/functional/plugin/shared/include/snippets/matmul.hpp
  src/tests/functional/plugin/shared/src/snippets/matmul.cpp
Labels: category: IE Tests, category: CPU, platform: arm

#31684 [PT FE] Support aten.nonzero and short strides for convolution
  src/frontends/pytorch/src/op/convolution.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_convnd.py
  tests/layer_tests/pytorch_tests/test_nonzero.py
Labels: category: PyTorch FE

#31685 [NPU] Check if set shape is out of bounds
  src/plugins/intel_npu/src/common/src/sync_infer_request.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_dynamic.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_dynamic.hpp
Labels: Code Freeze, category: NPU

#31687 NPUW: Automatically align MAX_PROMPT_LENGTH to CHUNK_SIZE
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: priority: high, Code Freeze, category: NPU, category: NPUW

#31631 Add tbb new interface set_core_types() call which support P cores and E cores binding on PTL
  cmake/dependencies.cmake
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/parallel_custom_arena.hpp
Labels: category: inference, category: build, priority: high, Code Freeze

#31601 [Snippets][CPU] Fix stride issues in jit_gemm_copy_b_emitter
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/kernel_executors/gemm_copy_b.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/kernel_executors/gemm_copy_b.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#31653 [IE-MDK][NPU] Enable canRun3RequestsConsistently tests
  src/plugins/intel_npu/tests/functional/shared_tests_instances/npu_skip_func_tests.xml
Labels: category: NPU

#31705 Fix "Overflowed integer argument (INTEGER_OVERFLOW)" Coverity remarks
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.cpp
Labels: category: CPU

#31711 [CI] [GHA] Add `OperationStopped:` to known errors
  .github/scripts/workflow_rerun/errors_to_look_for.json
  .github/scripts/workflow_rerun/log_analyzer.py
  .github/scripts/workflow_rerun/tests/integration_test.py
Labels: category: CI

#31654 [GPU] Fix nan values in SoftPlus
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/kernel_selector/jitter.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/activation/activation_kernel_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/activation_simple_gpu_test.cpp
  tests/llm/accuracy_conformance.py
Labels: category: GPU, priority: high, Code Freeze, no-match-files

#31706 [Snippets][CPU] Enable Matmul with transposed B matrix tests
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
Labels: category: CPU, platform: arm

#31713 [Protopipe] Add output clamping option for OpenVINO models
  src/plugins/intel_npu/tools/opencv_version.json
  src/plugins/intel_npu/tools/protopipe/README.md
  src/plugins/intel_npu/tools/protopipe/src/parser/config.cpp
  src/plugins/intel_npu/tools/protopipe/src/scenario/inference.hpp
  src/plugins/intel_npu/tools/protopipe/src/simulation/simulation.cpp
  src/plugins/intel_npu/tools/protopipe/version.hpp.in
Labels: category: docs, category: NPU

#31737 Bump product version 2025.4
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/core/include/openvino/core/version.hpp
Labels: category: Core, category: build, category: CPP API, category: packaging

#31733 [GPU] Added max_alloc_mem_size property to api
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/gpu-device.rst
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/bindings/python/tests/test_runtime/test_properties.py
  src/inference/include/openvino/runtime/intel_gpu/properties.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: inference, category: GPU, category: Python API, category: docs, category: CPP API

#31725 Test accuracy_conformance fix
  tests/llm/accuracy_conformance.py
  tests/llm/conftest.py
Labels: Code Freeze, no-match-files

#31632 [ONNX FE] fix data location tag */_ORT_MEM_ADDR_/* for ORT in memory data
  src/frontends/onnx/frontend/src/core/tensor.cpp
  src/frontends/onnx/frontend/src/core/tensor.hpp
  src/frontends/onnx/frontend/src/utils/tensor_external_data.cpp
  src/frontends/onnx/frontend/src/utils/tensor_external_data.hpp
  src/frontends/onnx/tests/onnx_reader_external_data.cpp
Labels: ExternalIntelPR, category: ONNX FE

#31776 [NPU] Fix the logger verbosity level used within the compiler adapter
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#31785 [GPU] Implicit int fix
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/paged_attention_opt.cl
Labels: category: GPU

#31727 [GPU][BUG] Incomplete conditions for sdpa prefill and head_size
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/sdpa/sdpa_opt.cpp
Labels: category: GPU, backport

#31747 [Snippets][ARM] Fixed GemmCopyB execution after kernel recompilation
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_gemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/kernel_executors/gemm_copy_b.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/kernel_executors/gemm_copy_b.hpp
  src/plugins/intel_cpu/src/transformations/snippets/aarch64/op/gemm_utils.cpp
  src/plugins/intel_cpu/src/transformations/snippets/aarch64/op/gemm_utils.hpp
  src/plugins/intel_cpu/src/transformations/snippets/aarch64/pass/lowered/expressions/gemm_copy_b_buffer_expressions.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
Labels: category: CPU

#31762 [GPU] Fix implicit onednn concat for 64 byte misalignment regression.
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU

#31613 [GHA] Build clang-tidy only if files under checks are changed
  .github/workflows/clang_tidy.yml
Labels: category: CI, github_actions

#31804 [GPU][BUG] fix incorrect transpose_order
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/sdpa/sdpa_base.cpp
Labels: category: GPU

#31816 [DOCS] Make Android build instructions cross-platform compatible
  docs/dev/build_android.md
Labels: platform: android, category: docs

#31779 Enable build with TBB on Android
  cmake/features.cmake
Labels: category: build, platform: android

#31798 Add condition for Matmul and Select in ClampFP16OutputSoftmaxMatcher
  src/plugins/intel_gpu/src/plugin/transformations/clamp_fp16_output.cpp
  src/plugins/intel_gpu/tests/unit/transformations/clamp_fp16_output_test.cpp
Labels: category: GPU

#31800 [Py OV] Declare TensorVector after Tensor
  src/bindings/python/src/pyopenvino/pyopenvino.cpp
Labels: category: Python API

#31813 [port, core] Open compiled model as file stream when MMAP disabled.
  src/inference/src/cache_manager.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/tests/functional/caching_test.cpp
  src/plugins/intel_cpu/src/utils/serialize.cpp
  src/plugins/template/src/plugin.cpp
Labels: category: inference, category: CPU, priority: high, category: TEMPLATE, Code Freeze

#31803 [GPU][BUG] Fix macro multiple registered and micro kernel block size issue
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/sdpa/paged_attention_opt.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/sdpa/sdpa_base.cpp
Labels: category: GPU, priority: high, Code Freeze

#31782 [GPU] Resolve accuracy issue by implicit concat
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU, priority: high, Code Freeze

#31809 [GPU] adding a missed block_read related include
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/pa_kv_cache_update_ref.cl
Labels: category: GPU

#31807 [GPU] Enable int8 oneDNN 3D convolution in dynamic model.
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
Labels: category: GPU, Code Freeze

#31810 [GPU] Fix reorder format mismatch in convolution weights.
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/tests/unit/onednn/utils_test.cpp
Labels: category: GPU

#31774 [core] Open compiled model as file stream when MMAP disabled.
  src/inference/src/cache_manager.hpp
  src/inference/src/dev/core_impl.cpp
  src/inference/tests/functional/caching_test.cpp
  src/plugins/intel_cpu/src/utils/serialize.cpp
  src/plugins/template/src/plugin.cpp
Labels: category: inference, category: CPU, category: TEMPLATE

#31825 NPUW: Condition RoPE caching to the cases where it is really required
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: Code Freeze, category: NPU, category: NPUW

#31806 [GPU][MTL] fix ambiguous data type for fmax in gemv
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_gemv.cpp
Labels: category: GPU

#31832 [ONNX] Disabled tests for upcoming update to 1.18.0
  src/frontends/onnx/tests/__init__.py
  src/frontends/onnx/tests/tests_python/test_backend.py
Labels: category: ONNX FE

#31791 [NPU] Remove support for IMD backend
  src/plugins/intel_npu/cmake/features.cmake
  src/plugins/intel_npu/src/plugin/CMakeLists.txt
  src/plugins/intel_npu/src/plugin/include/backends_registry.hpp
  src/plugins/intel_npu/src/plugin/src/backends_registry.cpp
  src/plugins/intel_npu/tests/functional/README.md
  src/plugins/intel_npu/tests/functional/shared_tests_instances/npu_skip_func_tests.xml
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: build, category: docs, category: NPU

#31611 [JS] Add build NodeJS bindings into Manylinux 2_28
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_test/ubuntu_22_04_x64/Dockerfile
  .github/workflows/job_openvino_js.yml
  .github/workflows/manylinux_2_28.yml
Labels: category: CI, github_actions, category: dockerfiles

#31862 [NPU] Fix Turbo option
  src/plugins/intel_npu/src/compiler_adapter/include/ze_graph_ext_wrappers.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
Labels: category: NPU

#31863 [NPU] Fix Turbo option
  src/plugins/intel_npu/src/compiler_adapter/include/ze_graph_ext_wrappers.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
Labels: Code Freeze, category: NPU

#31844 [GPU] fix pa internal buffer issue
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/sdpa/paged_attention_opt.cpp
Labels: category: GPU

#31852 update onetbb package
  cmake/dependencies.cmake
Labels: category: build

#31751 [GHA] Enable macOS workflows
  .github/workflows/mac_arm64.yml
Labels: platform: arm, platform: macOS, category: CI, github_actions

#31874 [GPU] adding a missed block_read related include
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/pa_kv_cache_update_ref.cl
Labels: category: GPU

#31682 [GPU] Use local memory for arg_max_min for dynamic shape
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/arg_max_min_axis.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_axis.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_axis.h
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/top_k.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/arg_max_gpu_test.cpp
Labels: category: GPU

#31818 [NPU][WS] Use the "ONE_SHOT" weights separation version as default when the compiler-in-plugin is used
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_compiler_adapter.cpp
Labels: category: NPU

#31865 [GHA] Enable real-time output for Python unit tests
  .github/workflows/job_python_unit_tests.yml
Labels: category: CI, github_actions

#31840 [NPU] Fixes install include directories in NPU Plugin for OpenVINO Developer Package installation
  src/plugins/intel_npu/src/al/CMakeLists.txt
  src/plugins/intel_npu/src/common/CMakeLists.txt
  src/plugins/intel_npu/src/utils/src/logger/CMakeLists.txt
  src/plugins/intel_npu/src/utils/src/zero/CMakeLists.txt
Labels: category: build, ExternalPR, category: NPU

#31139 [GPU] Fixed the issue with incorrect Gather+Eltwise results.
  src/plugins/intel_gpu/src/kernel_selector/kernels/gather/gather_kernel_ref.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/eltwise_fusion.cpp
Labels: category: GPU

#31910 [GHA] Disable Intel DPC++ Compiler build in pre-commits
  .github/workflows/ubuntu_22_dpcpp.yml
Labels: category: CI, github_actions
