Repository openvinotoolkit/openvino, pull requests merged in 2025-09, with the labels that each got.

#31927 Add Selector Tool 2025.3 release
  docs/articles_en/get-started/install-openvino.rst
  docs/sphinx_setup/_static/selector-tool/assets/selector-CcNjdshX.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-Qc7j91nk.js
  docs/sphinx_setup/_static/selector-tool/selector-1812816.html
Labels: category: docs

#31930 [DOCS] change docs version for 25.3
  docs/articles_en/get-started/install-openvino.rst
  docs/articles_en/get-started/install-openvino/configurations/genai-dependencies.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-brew.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conan.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

#31745 [CI] [GHA] Add errors to rerunner and increase the timeout for PyTorch Models Tests
  .github/scripts/workflow_rerun/errors_to_look_for.json
  .github/workflows/job_pytorch_models_tests.yml
Labels: category: CI, github_actions

#31867 [TRANSFORMATIONS] Mark all inputs of RandomUniform's consumers in the MarkRandomUniform transformation
  src/common/transformations/src/transformations/fp16_compression/mark_subgraphs_to_keep_in_mixed_precision.cpp
  src/common/transformations/tests/common_optimizations/mark_subgraph_to_keep_in_mixed_precision_test.cpp
Labels: category: transformations

#31846 [CPU] Add IsInf as TypeRelaxed to CPU extensions
  src/plugins/intel_cpu/src/extension.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/compiled_model/import_export.cpp
Labels: category: CPU

#31918 [Snippets][CPU] Enable MHA tokenization in transformation pipeline
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU

#31869 [DOCS] Release notes 25.3
  docs/articles_en/about-openvino/release-notes-openvino.rst
Labels: category: docs

#31690 [GPU] Enable 3d compressed FC
  src/core/src/op/transpose.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_fc_to_compressed.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_matmul_to_fc.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_matmul_to_fc.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/matmul_weights_decompression.cpp
  src/plugins/intel_gpu/tests/unit/transformations/convert_matmul_to_fc_test.cpp
Labels: category: Core, category: GPU

#31933 [CI] [GHA] Skip OV Python API & TF Lite Layer tests on mac ARM64
  .github/workflows/job_python_unit_tests.yml
Labels: category: CI, github_actions

#31884 [GHA] Aligned Android GitHub Actions workflows with unified Android guidelines
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/ubuntu_22_04_android/Dockerfile
  .github/workflows/android.yml
  .github/workflows/android_arm64.yml
  .github/workflows/workflows_to_track.txt
  docs/dev/build_android.md
  docs/dev/ci/github_actions/overview.md
Labels: platform: android, category: CI, category: docs, github_actions, category: dockerfiles

#31736 [ONNX] Create a native translator for SoftmaxCrossEntropyLoss
  src/frontends/onnx/docs/supported_ops.md
  src/frontends/onnx/frontend/src/core/transform.hpp
  src/frontends/onnx/frontend/src/op/neg_log_like_loss.cpp
  src/frontends/onnx/frontend/src/op/softmax_cro_ent_loss.cpp
  src/frontends/onnx/tests/tests_python/test_backend.py
Labels: category: docs, ExternalPR, category: ONNX FE

#31876 [NPUW] Update NPUW caching properties
  src/plugins/intel_npu/src/al/include/intel_npu/config/npuw.hpp
  src/plugins/intel_npu/src/plugin/include/properties.hpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/src/plugin/src/properties.cpp
Labels: category: NPU

#31180 [GPU] Use the same flags as the whole buffer when creating an OCL subbuffer
  src/plugins/intel_gpu/src/runtime/ocl/ocl_engine.cpp
Labels: category: GPU

#31950 [Snippets][CPU] Implement perf count chrono emitters for ARM64
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_binary_call_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_binary_call_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_perf_count_chrono_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_perf_count_chrono_emitters.hpp
Labels: category: CPU, platform: arm

#31978 [NPU] Set CIP default compiler
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#31972 [Protopipe] Workaround for INT64 input type
  src/plugins/intel_npu/tools/protopipe/src/parser/config.cpp
  src/plugins/intel_npu/tools/protopipe/src/utils/utils.cpp
Labels: category: NPU

#31958 [NPU][IE-MDK] Refine Batching and Random test failure logging
  src/plugins/intel_npu/tests/functional/behavior/batched_tensors_tests/batched_run.hpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.hpp
Labels: category: NPU

#31786 [Op][SDPA] Extend SDPA op with sink input
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/sequence/scaled-dot-product-attention.rst
  src/core/include/openvino/op/scaled_dot_product_attention.hpp
  src/core/reference/include/openvino/reference/scaled_dot_product_attention.hpp
  src/core/shape_inference/include/scaled_dot_product_attention_shape_inference.hpp
  src/core/src/op/scaled_dot_product_attention.cpp
  src/core/tests/type_prop/scaled_dot_product_attention.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/scaled_dot_product_attention_shape_inference_test.cpp
  src/plugins/template/backend/ops/scaled_dot_product_attention.cpp
  src/plugins/template/tests/functional/op_reference/scaled_dot_product_attention.cpp
Labels: category: Core, category: CPU, category: docs, category: TEMPLATE, category: CPP API

#31959 [Snippets][TESTS] SplitLoops lowered pass is covered with tests
  src/common/snippets/include/snippets/lowered/pass/split_loops.hpp
  src/common/snippets/tests/include/lir_test_utils.hpp
  src/common/snippets/tests/src/lir_comparator.cpp
  src/common/snippets/tests/src/lir_test_utils.cpp
  src/common/snippets/tests/src/lowered/pass/split_loops.cpp
Labels: category: CPU

#32012 [DOCS] Benchmarks + previous releases title for 25.3
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/sphinx_setup/_static/download/benchmarking_OV_platform_list.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_system_info_detailed.xlsx
Labels: category: docs

#31882 [NPU] Fix importing deallocation issue
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.hpp
Labels: category: NPU

#31974 [GPU] padding propagation for reshape
  src/plugins/intel_gpu/src/graph/include/reshape_inst.h
  src/plugins/intel_gpu/tests/unit/fusions/gemm_fusion_test.cpp
Labels: category: GPU

#31957 [`NPU`] Move `allocate_tensor` and `create_tensor` into `ZeroInferRequest` class
  src/plugins/intel_npu/src/backend/include/zero_infer_request.hpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/sync_infer_request.hpp
  src/plugins/intel_npu/src/common/src/sync_infer_request.cpp
Labels: category: NPU

#32015 [GPU] Fix Yolo8, Yolo11 failure.
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: WIP

#31993 [CPU] Fix CNN regression on RISC-V
  src/plugins/intel_cpu/src/nodes/executors/convolution_implementations.cpp
Labels: category: CPU, platform: risc-v

#31880 [NPU] Use the correct path for dynamic batching
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.hpp
Labels: category: NPU

#32031 [Snippets][DEBUG_CAPS][CPU] Enable InsertPerfCountVerbose pass on ARM64
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
Labels: category: CPU, platform: arm

#31931 Write rerunner trigger events to the database
  .github/scripts/workflow_rerun/rerunner.py
  .github/workflows/workflow_rerunner.yml
Labels: category: CI, github_actions

#32032 [Snippets][DEBUG_CAPS] Fix PerfCountEnd op param cloning
  src/common/snippets/include/snippets/op/perf_count.hpp
  src/common/snippets/src/op/perf_count.cpp
Labels: category: CPU

#32025 [NPUW] Extend remote memory check in set_tensor() with sliced tensor case
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
Labels: category: NPU, category: NPUW

#31948 [GPU] fix torchvisionRaft fails on last tensor check issue
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_shape_of_subgraphs.cpp
  src/plugins/intel_gpu/tests/unit/passes/mark_shape_of_subgraphs_test.cpp
Labels: category: GPU

#32068 [NPU][WS] Fix for the multiple init schedules & a single thread scenario
  src/plugins/intel_npu/src/compiler_adapter/src/weightless_graph.cpp
Labels: category: NPU

#32088 [GHA] Add GitPython dependency to Smart CI
  .github/actions/smart-ci/requirements.txt
Labels: category: CI, category: dependency_changes

#32091 [CI] [GHA] Pin GitPython in the `handle_docker` action
  .github/actions/handle_docker/requirements.txt
  .github/dockerfiles/docker_tag
Labels: category: CI, category: dependency_changes, category: docker_env, category: dockerfiles

#32062 [GPU] fix performance drop for crop in yolo11 model
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#31662 [CI] Extract snippets from CPU category in GitHub configuration
  .github/components.yml
  .github/labeler.yml
  .github/workflows/dev_cpu_linux_snippets_libxsmm.yml
  .github/workflows/job_cxx_unit_tests.yml
Labels: category: CI, github_actions

#32067 [GPU] fix - change nms gather output calculation
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#32026 [Snippets][DEBUG_CAPS] Add final Linear IR dump capability with subgraph naming
  src/common/snippets/docs/debug_capabilities/linear_ir_passes_serialization.md
  src/common/snippets/include/snippets/lowered/linear_ir.hpp
  src/common/snippets/include/snippets/utils/debug_caps_config.hpp
  src/common/snippets/include/snippets/utils/linear_ir_pass_dumper.hpp
  src/common/snippets/src/lowered/linear_ir_builder.cpp
  src/common/snippets/src/op/subgraph.cpp
Labels: category: CPU, category: docs

#32089 [NPU][WS] Use the "ONE_SHOT" weights separation version as default when the compiler-in-plugin is used
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_compiler_adapter.cpp
Labels: category: NPU

#32108 [DOCS] Sysreqs support change
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
Labels: category: docs

#31866 [DOCS] Remove newsletter button
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/html/footer.html
  docs/sphinx_setup/_static/html/newsletter.html
  docs/sphinx_setup/_static/js/newsletter.js
  docs/sphinx_setup/conf.py
Labels: category: docs

#32107 [Snippets] Add softmax axis normalization helper
  src/common/snippets/include/snippets/utils/utils.hpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/common/snippets/src/pass/mlp_seq_tokenization.cpp
  src/common/snippets/src/pass/softmax_decomposition.cpp
  src/common/snippets/src/pass/softmax_reshape_elimination.cpp
  src/common/snippets/src/pass/validate.cpp
  src/common/snippets/src/utils/utils.cpp
Labels: category: snippets

#31907 [GPU] update the gops calculation
  src/plugins/intel_gpu/include/intel_gpu/runtime/device_info.hpp
  src/plugins/intel_gpu/src/runtime/device.cpp
Labels: category: GPU

#31986 update auto doc for loading stateful model
  docs/articles_en/openvino-workflow/running-inference/inference-devices-and-modes/auto-device-selection.rst
Labels: category: docs

#32121 [NPU] 1.5 graph ext version is the first one that must be supported
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
Labels: category: NPU

#32105 [Snippets][CPU][TESTS] Make Convert tests platform independent
  src/plugins/intel_cpu/tests/functional/CMakeLists.txt
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/convert.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/x64/convert.cpp
Labels: category: CPU, category: build

#31877 [GPU][BUG] fix ocl_v2 dispatch data update issue
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#32142 [GPU] Fix an issue with reorder+permute buffer fusing
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/reorder.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Labels: category: GPU

#32126 [GPU] Fix onednn FC quantize for input range based.
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/unit/fusions/fully_connected_fusion_test.cpp
Labels: category: GPU

#32131 [OV JS]: Add BigInt64/Uint64 support to Tensor and InferRequest
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/tests/unit/infer_request.test.js
Labels: ExternalPR, category: JS API

#32100 [NPUW] Fixed oob in case of permute_021 int4 and num_channels > 1
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
  src/plugins/intel_npu/tests/unit/npuw/permute.cpp
  src/tests/test_utils/common_test_utils/src/ov_tensor_utils.cpp
Labels: category: IE Tests, category: NPU, category: NPUW

#32120 [TESTS] Provide fp32 inference precision hint for tests
  src/tests/test_utils/common_test_utils/src/test_case.cpp
Labels: category: IE Tests

#32166 [Snippets] Introduced Expression::get_input_expr_ptr
  src/common/snippets/include/snippets/lowered/expression.hpp
  src/common/snippets/src/lowered/expression.cpp
  src/common/snippets/src/lowered/pass/assign_registers.cpp
  src/common/snippets/src/lowered/pass/clean_repeated_ptr_shifts.cpp
  src/common/snippets/src/lowered/pass/extract_loop_invariants.cpp
  src/common/snippets/src/lowered/pass/load_movebroadcast_to_broadcastload.cpp
  src/common/snippets/src/lowered/pass/mha_parallel_wa_optimizer.cpp
  src/common/snippets/src/lowered/pass/move_result_out_of_loop.cpp
  src/common/snippets/src/lowered/pass/serialize_data_flow.cpp
  src/common/snippets/src/lowered/pass/validate.cpp
  src/common/snippets/src/utils/utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_loop_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_memory_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_loop_base_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_memory_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_reg_spill_emitters.cpp
  src/plugins/intel_cpu/src/transformations/snippets/aarch64/op/gemm_utils.cpp
  src/plugins/intel_cpu/src/transformations/snippets/aarch64/pass/lowered/expressions/gemm_copy_b_buffer_expressions.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/brgemm_cpu_blocking.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/expressions/brgemm_copy_b_buffer_expressions.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/insert_brgemm_copy_buffers.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/parallelize_gated_mlp_n_loops.cpp
Labels: category: CPU, category: snippets

#32146 [DOCS] Remove newsletter button port
  docs/sphinx_setup/_static/css/custom.css
  docs/sphinx_setup/_static/html/footer.html
  docs/sphinx_setup/_static/html/newsletter.html
  docs/sphinx_setup/_static/js/newsletter.js
  docs/sphinx_setup/conf.py
Labels: category: docs

#32168 [CPU][RV64] Optimize jit_round_half_away_from_zero_emitter
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.cpp
Labels: category: CPU, platform: risc-v

#32188 brief explanation of Activations Scaling
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/precision-control.rst
Labels: category: docs

#32082 [C API] Add log-callback setup
  src/bindings/c/include/openvino/c/openvino.h
  src/bindings/c/include/openvino/c/ov_util.h
  src/bindings/c/src/ov_util.cpp
  src/bindings/c/tests/ov_util_test.cpp
Labels: category: C API

#32227 [DOCS] sys reqs for lts changes
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
Labels: category: docs

#32207 [NPU] Fix test to not align tensor for import
  src/plugins/intel_npu/tests/functional/common/utils.hpp
  src/plugins/intel_npu/tests/functional/internal/overload/ov_plugin/life_time.hpp
Labels: category: NPU

#32226 [GPU] doc update for dyn_quan_gs_max
  src/inference/include/openvino/runtime/intel_gpu/properties.hpp
Labels: category: inference, category: GPU, category: CPP API

#32235 Disable b_fs_zyx_fsv16 not to use cldnn ref kernel
  src/plugins/intel_gpu/src/graph/registry/reorder_impls.cpp
Labels: category: GPU

#32230 [Snippets] Set names for subgraph passes on create
  src/common/snippets/include/snippets/pass/extract_constants.hpp
  src/common/snippets/include/snippets/pass/extract_unsupported_transposes.hpp
  src/common/snippets/include/snippets/pass/split_dimension_m.hpp
  src/common/snippets/include/snippets/pass/subgraph_pass.hpp
Labels: category: snippets

#32231 [LPT] MoveFakeConvertUpThroughKVCacheConcat matcher extending
  src/common/low_precision_transformations/src/move_fake_convert_up_through_kv_cache_concat.cpp
  src/common/low_precision_transformations/tests/kv_cache_static_quantization.cpp
Labels: category: LP transformations

#32241 [NPU] Move serialize functions to ir_serializer
  src/plugins/intel_npu/src/compiler_adapter/include/driver_compiler_adapter.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/ir_serializer.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/ze_graph_ext_wrappers.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/ir_serializer.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
Labels: category: NPU

#32252 [NPU] Set the stype for the ze_init_driver_type_desc_t as well
  src/plugins/intel_npu/src/utils/src/zero/zero_init.cpp
Labels: category: NPU
