Repository openvinotoolkit/openvino, pull requests merged in 2025-03, with the labels that each got.

#28931 Add "Load model ram used (KB)" metric for BAPP
  docs/articles_en/get-started/learn-openvino/openvino-samples/benchmark-tool.rst
  samples/cpp/benchmark_app/main.cpp
  tests/samples_tests/smoke_tests/test_benchmark_app.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: category: samples, category: docs, category: tools

#29206 typo fix
  src/plugins/intel_cpu/src/utils/cpu_utils.hpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_e2e_test.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_bfyx_gemm_like.cpp
  thirdparty/flatbuffers/CMakeLists.txt
Labels: category: GPU, category: CPU, category: build

#28981 [CPU][ACL] LPT transformations are enabled + FQ decomposition
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/graph_optimizer.cpp
  src/plugins/intel_cpu/src/graph_optimizer.h
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.h
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.h
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/stateful_init_graph.cpp
Labels: category: CPU, platform: arm

#29197 [CPU][DEBUG_CAPS] Create directory for input/output blobs automatically
  src/plugins/intel_cpu/src/utils/node_dumper.h
Labels: category: CPU

#29148 [GPU] release of dynamic layout from memory pool
  src/plugins/intel_gpu/docs/memory_allocation_gpu_plugin.md
  src/plugins/intel_gpu/src/graph/include/pass_manager.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_elements_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/scatter_update/scatter_elements_update_kernel_ref.h
  src/plugins/intel_gpu/src/runtime/memory_pool.cpp
Labels: category: GPU, category: docs, category: accuracy

#28911 [RTTI] Add helper macro for OV RTTI definition in base classes
  src/core/include/openvino/core/extension.hpp
  src/core/include/openvino/core/model.hpp
  src/core/include/openvino/core/rtti.hpp
  src/core/include/openvino/core/runtime_attribute.hpp
  src/core/include/openvino/op/op.hpp
  src/core/tests/node_test.cpp
Labels: category: Core, category: extensions, category: CPP API

#28387 [TRANSFORMATIONS][GPU] Add GroupNormalization fusion to common optimizations
  src/common/transformations/include/transformations/common_optimizations/group_normalization_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/group_normalization_fusion.cpp
  src/common/transformations/tests/common_optimizations/group_normalization_fusion_tests.cpp
  src/plugins/intel_gpu/src/plugin/transformations/group_norm_composition.cpp
  src/plugins/intel_gpu/src/plugin/transformations/group_norm_composition.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/group_normalization_fusion.cpp
  src/tests/functional/plugin/shared/include/snippets/mha.hpp
  src/tests/functional/plugin/shared/include/subgraph_tests/group_normalization_fusion.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/base/ov_subgraph.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/group_normalization_fusion.hpp
  src/tests/functional/shared_test_classes/src/subgraph/group_normalization_fusion.cpp
Labels: category: IE Tests, category: GPU, category: transformations, ExternalIntelPR

#29000 [NPUW] Extend npuw::LLMInferRequest to support LM from VLMs
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.hpp
Labels: category: NPU, category: NPUW

#29088 [CPU][DEBUG_CAPS] Disable .bin file dump on exec graph serialization
  src/plugins/intel_cpu/src/graph_dumper.cpp
  src/plugins/intel_cpu/src/utils/ngraph_transformation.hpp
  src/plugins/intel_cpu/src/utils/platform.h
Labels: category: CPU

#29236 [CPU]Fix conflict between CommonOptimizations and ConvertPagedAttnInputs
  src/common/transformations/src/transformations/common_optimizations/convert_pagedattn_inputs.cpp
Labels: category: transformations

#29146 [Snippets] Use ov::is_type_any_of for ov::is_type chains
  src/common/snippets/src/lowered/linear_ir.cpp
  src/common/snippets/src/lowered/pass/assign_registers.cpp
  src/common/snippets/src/lowered/pass/fuse_loops.cpp
  src/common/snippets/src/lowered/pass/init_live_ranges.cpp
  src/common/snippets/src/lowered/pass/insert_broadcastmove.cpp
  src/common/snippets/src/lowered/pass/insert_buffers.cpp
  src/common/snippets/src/lowered/pass/insert_loops.cpp
  src/common/snippets/src/lowered/pass/mark_invariant_shape_path.cpp
  src/common/snippets/src/lowered/pass/mark_loops.cpp
  src/common/snippets/src/lowered/pass/propagate_subtensors.cpp
  src/common/snippets/src/lowered/pass/validate.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/common/snippets/src/pass/collapse_subgraph.cpp
  src/common/snippets/src/pass/mha_tokenization.cpp
  src/common/snippets/src/pass/transform_convert.cpp
  src/common/snippets/src/pass/validate.cpp
  src/common/snippets/src/shape_inference/shape_inference.cpp
  src/common/snippets/src/utils/tokenization_utils.cpp
Labels: category: CPU

#29134 [Snippets] Fix uncaught exception coverity issues
  src/common/snippets/include/snippets/pass/propagate_precision.hpp
  src/common/snippets/src/pass/propagate_precision.cpp
Labels: category: CPU

#29174 Enable PDB files for both dynamic and static builds
  .github/workflows/coverage.yml
  .github/workflows/dev_cpu_linux_snippets_libxsmm.yml
  .github/workflows/job_build_linux.yml
  .github/workflows/job_build_windows.yml
  .github/workflows/job_tokenizers.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/linux_sanitizers.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/manylinux_2014.yml
  .github/workflows/windows_conditional_compilation.yml
  .github/workflows/windows_vs2022_debug.yml
  .github/workflows/windows_vs2022_release.yml
  cmake/developer_package/OpenVINODeveloperScriptsConfig.cmake
  cmake/developer_package/add_target_helpers.cmake
  cmake/developer_package/compile_flags/functions.cmake
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/features.cmake
  cmake/developer_package/frontends/frontends.cmake
  cmake/developer_package/packaging/packaging.cmake
  cmake/developer_package/plugins/plugins.cmake
  docs/dev/build_windows.md
  samples/cpp/CMakeLists.txt
  src/bindings/c/src/CMakeLists.txt
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/frontend_module.cmake
  src/bindings/python/src/pyopenvino/test_utils/CMakeLists.txt
  src/cmake/openvino.cmake
  src/common/transformations/CMakeLists.txt
  src/common/transformations/tests/CMakeLists.txt
  src/core/CMakeLists.txt
  src/inference/CMakeLists.txt
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
  src/plugins/intel_gpu/thirdparty/copy_pdb.cmake
  tests/appverifier_tests/CMakeLists.txt
  tests/lib/src/reshape_utils.cpp
  tests/stress_tests/CMakeLists.txt
  tests/stress_tests/common/CMakeLists.txt
  tests/stress_tests/common/ie_pipelines/pipelines.cpp
  tests/stress_tests/common/managers/task_manager.h
  tests/stress_tests/common/managers/thread_manager.h
  tests/stress_tests/common/tests_utils.cpp
  tests/stress_tests/common/tests_utils.h
  tests/stress_tests/memcheck_tests/tests.cpp
  tests/stress_tests/memcheck_tests/tests_utils.h
  tests/stress_tests/memleaks_tests/tests.cpp
  tests/stress_tests/unittests/tests_pipelines/tests_pipelines.cpp
  thirdparty/dependencies.cmake
  thirdparty/level_zero/CMakeLists.txt
Labels: category: inference, category: Core, category: GPU, category: build, category: Python API, category: C API, category: transformations, category: samples, category: CI, category: docs, category: dependency_changes, category: packaging, github_actions, no-match-files

#29214 [NPUW] Extend SliceOut pattern
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
Labels: category: NPU, category: NPUW

#29137 [GPU] Use sdpa-micro kernel for prefill processing in PagedAttention
  src/plugins/intel_gpu/src/graph/impls/ocl/multi_stage_primitive.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/graph/include/paged_attention_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/include/batch_headers/tile_ops.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_micro.cl
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_common.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_axis.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_b_fs_zyx_fsv16_imad.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/convolution_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/convolution/deformable_convolution_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/cum_sum/cum_sum_kernel_partial_sum.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/detection_output/detection_output_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/dft/dft_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/ed_do/detection_output_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/ed_gpsi/generate_proposals_single_image_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/generate_proposals/generate_proposals_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_b_fs_yx_fsv16.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_bfyx_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/group_normalization/group_normalization_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/lstm/cm/lstm_seq_cm.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/matrix_nms/matrix_nms_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/multiclass_nms/multiclass_nms_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/mvn/mvn_kernel_b_fs_yx_fsv16_imad.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/mvn/mvn_kernel_bs_fs_yx_bsv32.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/non_max_suppression/non_max_suppression_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/resample/resample_kernel_pil_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_kv_cache_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/softmax/softmax_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/unique/unique_kernel_ref.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/paged_attention_gpu_test.cpp
Labels: category: GPU

#29245 [GPU] condition prim - set memory changed flag
  src/plugins/intel_gpu/src/graph/impls/common/condition.cpp
Labels: category: GPU

#28878 [PyAPI] improvements of memory consumption
  src/bindings/python/src/openvino/_ov_api.py
  src/bindings/python/src/pyopenvino/core/compiled_model.cpp
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/bindings/python/tests/test_runtime/test_compiled_model.py
  src/bindings/python/tests/test_runtime/test_core.py
Labels: category: Python API

#28367 [GPU]: STFT optimization(s)
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/stft_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/stft/stft_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/stft/stft_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/stft/stft_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/stft/stft_kernel_opt.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/stft/stft_kernel_selector.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/stft_gpu_benchamrk.cpp
Labels: category: GPU

#29248 [GPU] PagedAttention improvements and fixes
  src/plugins/intel_gpu/include/intel_gpu/primitives/paged_attention.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_base.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/plugin/ops/paged_attention.cpp
  src/plugins/intel_gpu/src/plugin/transformations/increase_position_ids_precision.cpp
  src/plugins/intel_gpu/tests/unit/transformations/increase_position_ids_precision_test.cpp
Labels: category: GPU

#29265 [GHA] VS 14.42 toolset
  .github/workflows/job_build_windows.yml
  .github/workflows/job_samples_tests.yml
  .github/workflows/windows_conditional_compilation.yml
Labels: category: CI, github_actions

#29271 [CPU][ARM] Change KleidiAI repo source
  .gitmodules
Labels: platform: arm, category: dependency_changes

#29241 Fix mem_peak_usage on macos
  samples/cpp/benchmark_app/main.cpp
  tests/samples_tests/smoke_tests/test_benchmark_app.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
Labels: category: samples, category: tools

#29260 [GPU] Removed local_block_io queries as those are not used
  src/plugins/intel_gpu/include/intel_gpu/runtime/device_info.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_base_opencl.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.h
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
Labels: category: GPU

#28151 Extend Einsum Core and common transformation to support broadcasting, repeated labels and ellipsis
  src/common/transformations/src/transformations/common_optimizations/transpose_reshape_elimination_for_matmul.cpp
  src/common/transformations/src/transformations/op_conversions/einsum_decomposition.cpp
  src/common/transformations/tests/common_optimizations/transpose_reshape_elimination_for_matmul.cpp
  src/common/transformations/tests/op_conversions/einsum_decomposition_test.cpp
  src/core/reference/src/op/einsum.cpp
  src/core/shape_inference/include/einsum_shape_inference.hpp
  src/core/src/op/einsum.cpp
  src/core/tests/type_prop/einsum.cpp
  src/frontends/onnx/tests/__init__.py
  src/frontends/onnx/tests/tests_python/test_backend.py
  src/plugins/template/tests/functional/op_reference/einsum.cpp
  tests/model_hub_tests/pytorch/hf_transformers_models
Labels: category: Core, category: transformations, category: TEMPLATE, category: ONNX FE, category: PyTorch FE

#29112 [GPU] Update gemm_tiled_opt dynamic support
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/gemm_tiled_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/gemm/gemm_kernel_tiled_opt.cpp
  src/plugins/intel_gpu/tests/unit/fusions/gemm_fusion_test.cpp
Labels: category: GPU, ExternalIntelPR

#29240 [core] Fix element type enum value <-> string conversion
  src/core/src/type/element_type.cpp
  src/core/tests/models/ir/dynamic_variable.xml
  src/core/tests/pass/serialization/deterministicity.cpp
Labels: bug, category: Core

#29264 [DOCS] Benchmark files update
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms-genai.json
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms.json
  docs/sphinx_setup/_static/download/benchmarking_OV_performance-data.xlsx
  docs/sphinx_setup/_static/download/benchmarking_OV_platform_list.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_system_info_detailed.xlsx
Labels: category: docs

#28879 [PT FE] Improve torch.export with version 2.6.0
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/decompositions.py
  src/frontends/pytorch/include/openvino/frontend/pytorch/node_context.hpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/op/bucketize.cpp
  src/frontends/pytorch/src/op/embedding_bag.cpp
  src/frontends/pytorch/src/op/max_poolnd.cpp
  src/frontends/pytorch/src/op/norm.cpp
  src/frontends/pytorch/src/op/scaled_dot_product_attention.cpp
  src/frontends/pytorch/src/op/var_mean.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/pytorch_layer_test_class.py
  tests/layer_tests/pytorch_tests/test_any.py
  tests/layer_tests/pytorch_tests/test_bitwise_ops.py
  tests/layer_tests/pytorch_tests/test_bucketize.py
  tests/layer_tests/pytorch_tests/test_chunk.py
  tests/layer_tests/pytorch_tests/test_deformable_convolution.py
  tests/layer_tests/pytorch_tests/test_distance.py
  tests/layer_tests/pytorch_tests/test_embedding_bag.py
  tests/layer_tests/pytorch_tests/test_fp16.py
  tests/layer_tests/pytorch_tests/test_grid_sampler.py
  tests/layer_tests/pytorch_tests/test_hadsigmoid.py
  tests/layer_tests/pytorch_tests/test_im2col.py
  tests/layer_tests/pytorch_tests/test_layer_norm.py
  tests/layer_tests/pytorch_tests/test_leaky_relu.py
  tests/layer_tests/pytorch_tests/test_linear.py
  tests/layer_tests/pytorch_tests/test_logsumexp.py
  tests/layer_tests/pytorch_tests/test_masked_fill.py
  tests/layer_tests/pytorch_tests/test_matmul.py
  tests/layer_tests/pytorch_tests/test_narrow.py
  tests/layer_tests/pytorch_tests/test_or.py
  tests/layer_tests/pytorch_tests/test_pooling.py
  tests/layer_tests/pytorch_tests/test_prelu.py
  tests/layer_tests/pytorch_tests/test_pythonop.py
  tests/layer_tests/pytorch_tests/test_roi_align.py
  tests/layer_tests/pytorch_tests/test_sign.py
  tests/layer_tests/pytorch_tests/test_softplus.py
  tests/layer_tests/pytorch_tests/test_split.py
  tests/layer_tests/pytorch_tests/test_square.py
  tests/layer_tests/pytorch_tests/test_squeeze.py
  tests/layer_tests/pytorch_tests/test_stack.py
  tests/layer_tests/pytorch_tests/test_strided_const.py
  tests/layer_tests/pytorch_tests/test_tile.py
  tests/layer_tests/pytorch_tests/test_topk.py
  tests/layer_tests/pytorch_tests/test_trilu.py
  tests/layer_tests/pytorch_tests/test_unbind.py
  tests/layer_tests/pytorch_tests/test_var_mean.py
  tests/layer_tests/pytorch_tests/test_xor.py
Labels: category: Python API, category: CPP API, category: PyTorch FE

#28751 [GHA] [CPU] Extend nightly scope for CPU func. tests
  .github/workflows/debian_10_arm.yml
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/ubuntu_22.yml
  src/plugins/intel_cpu/tests/functional/custom/extension/extension.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/compiled_model/cpu_reservation_test.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: CI, github_actions

#29195 [GPU] Invalidate cache if it contains patchtoken binaries and driver version changed
  src/plugins/intel_gpu/src/graph/impls/ocl/kernels_cache.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: GPU

#29273 [CI] [GHA] [WIN] Separately build contrib, use Python 3.11 as the default one after building additional wheels
  .github/workflows/job_build_windows.yml
  .github/workflows/windows_vs2022_debug.yml
  .github/workflows/windows_vs2022_release.yml
Labels: category: CI, github_actions

#29276 Fixed GPU plugin debug build
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
Labels: category: GPU, category: build

#29261 Build: tune size of release builds after PDB are enabled
  .github/workflows/job_build_windows.yml
  .github/workflows/job_samples_tests.yml
  .github/workflows/linux_conditional_compilation.yml
  .github/workflows/windows_conditional_compilation.yml
  .github/workflows/windows_vs2022_release.yml
  cmake/developer_package/compile_flags/os_flags.cmake
  src/plugins/intel_gpu/thirdparty/CMakeLists.txt
Labels: category: GPU, category: build, category: CI, github_actions

#27691 [AUTO] Refine the logic of creating HW plugins in AUTO
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/plugin.cpp
  src/inference/src/dev/plugin.hpp
  src/plugins/auto/src/auto_schedule.cpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/tests/functional/behavior/auto_func_test.cpp
  src/plugins/auto/tests/unit/auto_unit_test.cpp
  src/plugins/auto/tests/unit/compile_model_property_test.cpp
  src/plugins/auto/tests/unit/ctput_test.cpp
  src/plugins/auto/tests/unit/default_perf_hint_test.cpp
  src/plugins/auto/tests/unit/dynamic_output_test.cpp
  src/plugins/auto/tests/unit/get_device_list.cpp
  src/plugins/auto/tests/unit/parse_meta_device_test.cpp
Labels: category: inference, category: AUTO, no_stale

#29263 [GPU] Update internal buffers interface
  src/plugins/intel_gpu/src/graph/impls/common/wait_for_events.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/border.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/multi_stage_primitive.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/impls/sycl/primitive_sycl_base.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU

#29099 [GPU] Integer abs support for activation
  src/plugins/intel_gpu/src/graph/activation.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/activation/activation_kernel_opt.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/activation_simple_gpu_test.cpp
Labels: category: GPU

#29144 [GPU]add cpu_reset in ~CompiledModel in GPU plugin
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/compiled_model/cpu_reservation_test.cpp
  src/plugins/intel_gpu/include/intel_gpu/plugin/compiled_model.hpp
  src/plugins/intel_gpu/tests/functional/concurrency/gpu_reservation_test.cpp
Labels: category: GPU, category: CPU

#29258 [GPU] Improve micro_sdpa perf for PA case
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
Labels: category: GPU

#29190 [DOCS] adjust LTS disclaimer
  docs/articles_en/get_started/installing-openvino-overview.rst
Labels: category: docs

#29212 [TRANSFORMATIONS] don't allow AddAddFusion to work with f64
  src/common/transformations/src/transformations/common_optimizations/lin_op_sequence_fusion.cpp
  src/common/transformations/tests/common_optimizations/lin_op_sequence_fusion_test.cpp
Labels: category: transformations

#29092 [transformations][core] Resolve tensor names collision to be unique
  src/common/transformations/src/transformations/resolve_names_collisions.cpp
  src/common/transformations/tests/resolve_names_collisions.cpp
  src/core/dev_api/openvino/core/descriptor_tensor.hpp
  src/core/include/openvino/core/node.hpp
Labels: category: Core, category: transformations, category: CPP API

#28945 [core] Tensor names sync on change not after Result node validation
  src/core/dev_api/openvino/core/descriptor_tensor.hpp
  src/core/src/descriptor/shared_tensor.cpp
  src/core/src/descriptor/tensor.cpp
  src/core/src/op/result.cpp
  src/core/tests/descriptor_tensor_test.cpp
  src/core/tests/ov_tensor_test.cpp
  src/core/tests/tensor.cpp
  src/frontends/ir/src/ir_deserializer.cpp
Labels: category: Core, category: IR FE

#29191 Update GLM RopeFusion pattern to support GLM4 with PagedAttention
  src/common/transformations/include/transformations/utils/gen_pattern.hpp
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/tests/common_optimizations/fuse_rotary_positional_embeddings.cpp
Labels: category: transformations

#29266 [DOCS] yocto disclaimer removal
  docs/articles_en/about-openvino/performance-benchmarks/generative-ai-performance.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yocto.rst
Labels: category: docs

#28958 [NPUW] added unit-tests for transpose vtensors optimisation
  .github/workflows/job_cxx_unit_tests.yml
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/tests/unit/CMakeLists.txt
  src/plugins/intel_npu/tests/unit/npuw/transpose_vt.cpp
Labels: category: build, category: CI, github_actions, category: NPU, category: NPUW

#29278 [GPU] skip onednn impl when transpose out has bxfy format
  src/plugins/intel_gpu/src/graph/impls/onednn/gemm_onednn.hpp
Labels: category: GPU

#29289 [GPU] Improve BufferDescriptor API for internal buffers
  src/plugins/intel_gpu/src/graph/impls/ocl/border.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/multi_stage_primitive.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/primitive_base.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/include/paged_attention_inst.h
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
Labels: category: GPU

#29296 [DOCS] adjust LTS disclaimer fix
  docs/articles_en/get_started/installing-openvino-overview.rst
Labels: category: docs

#29244 [PT FE] Allow ModuleExtension to be conditionally applicable
  src/bindings/python/src/openvino/frontend/pytorch/module_extension.py
  src/bindings/python/src/openvino/frontend/pytorch/patch_model.py
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Labels: category: Python API, category: PyTorch FE

#29077 [NPUW] Serialization tests
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.hpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/unit/CMakeLists.txt
  src/plugins/intel_npu/tests/unit/npuw/model_generator/model_generator.cpp
  src/plugins/intel_npu/tests/unit/npuw/model_generator/model_generator.hpp
  src/plugins/intel_npu/tests/unit/npuw/online_partitioning.cpp
  src/plugins/intel_npu/tests/unit/npuw/serialization.cpp
Labels: category: build, category: NPU, category: NPUW

#29209 [CI] [GHA] Use self-hosted runners for Conformance
  .github/workflows/ubuntu_22.yml
  src/tests/test_utils/functional_test_utils/layer_tests_summary/run_conformance.py
Labels: category: IE Tests, category: CI, github_actions

#29292 [NPU] Optimize findCommandQueueGroupOrdinal method and get only once device properties
  src/plugins/intel_npu/src/backend/include/zero_host_tensor.hpp
  src/plugins/intel_npu/src/backend/include/zero_infer_request.hpp
  src/plugins/intel_npu/src/backend/include/zero_pipeline.hpp
  src/plugins/intel_npu/src/backend/include/zero_remote_tensor.hpp
  src/plugins/intel_npu/src/backend/src/zero_device.cpp
  src/plugins/intel_npu/src/backend/src/zero_host_tensor.cpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
  src/plugins/intel_npu/src/backend/src/zero_remote_tensor.cpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/igraph.hpp
  src/plugins/intel_npu/src/common/src/igraph.cpp
  src/plugins/intel_npu/src/compiler_adapter/include/ze_graph_ext_wrappers.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_utils.hpp
Labels: category: NPU

#29192 [NPUW] Fix LazyTensor import
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.cpp
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.hpp
Labels: category: NPU, category: NPUW

#29188 [GPU] Fix SD1.5 hybrid accuracy issue.
  src/plugins/intel_gpu/src/graph/graph_optimizer/reorder_inputs.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/unit/fusions/fully_connected_fusion_test.cpp
Labels: category: GPU

#28544 CPU reservation is false on mac
  src/inference/dev_api/openvino/runtime/system_conf.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/system_conf.cpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/cpu_map_scheduling.cpp
  src/plugins/intel_cpu/src/cpu_map_scheduling.hpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/compiled_model/cpu_reservation_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/cpu_pinning_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_e2e_test.cpp
Labels: category: inference, category: CPU

#28979 Extend CPU Plugin with `SegmentMax-16` reference implementation
  src/core/reference/include/openvino/reference/segment_max.hpp
  src/plugins/intel_cpu/src/cpu_types.cpp
  src/plugins/intel_cpu/src/cpu_types.h
  src/plugins/intel_cpu/src/nodes/segment_max.cpp
  src/plugins/intel_cpu/src/nodes/segment_max.h
  src/plugins/intel_cpu/src/nodes_factory.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/segment_max.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/segment_max.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/segment_max.cpp
Labels: category: Core, category: CPU

#29153 [Snippets][CPU]Process transposed_b=true of MatMuls via BrgemmCopyB
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/op/brgemm_utils.hpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/eliminate_brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/expressions/brgemm_copy_b_buffer_expressions.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.hpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#29310 fix installation path and add tbb_dev to cpack
  src/cmake/install_tbb.cmake
Labels: category: inference, category: build

#29262 Docs-Update benchmarks ov ovms
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms-genai.json
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms.json
  docs/sphinx_setup/_static/download/benchmarking_OV_performance-data.xlsx
  docs/sphinx_setup/_static/download/benchmarking_OV_platform_list.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_system_info_detailed.xlsx
Labels: category: docs

#28999 [PyOV] Extend Python API with `SegmentMax-16`
  src/bindings/python/src/openvino/opset16/__init__.py
  src/bindings/python/src/openvino/opset16/ops.py
  src/bindings/python/src/openvino/runtime/opset16/__init__.py
  src/bindings/python/src/openvino/runtime/opset16/ops/__init__.py
  src/bindings/python/tests/test_graph/test_segment_max.py
Labels: category: Python API

#29096 Remove warnings emitted by CM JIT
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/lstm/cm/lstm_seq_cm.cpp
Labels: category: GPU

#29311 [CI] [GHA] Remove usage of `sudo` from workflows
  .github/workflows/job_pytorch_models_tests.yml
  .github/workflows/ubuntu_22.yml
Labels: category: CI, github_actions

#29313 [PT FE] Support F8 constants
  src/bindings/python/src/openvino/frontend/pytorch/patch_model.py
  src/bindings/python/src/openvino/frontend/pytorch/utils.py
  tests/layer_tests/py_frontend_tests/test_torch_decoder.py
Labels: category: Python API, category: PyTorch FE

#29176 [PT FE] Support aten::rms_norm
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/decompositions.py
  src/frontends/pytorch/src/op/norm.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_norm.py
Labels: category: Python API, category: PyTorch FE

#29275 [CPU][ARM] Update kleidiai licence
  licensing/third-party-programs.txt
Labels: platform: arm, category: licensing

#29299 [PT FE] Make patched matmuls fp32
  src/frontends/pytorch/src/op/linear.cpp
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Labels: category: PyTorch FE

#29251 [CPU][LPT] Do `foldConvert` in `FuseMultiplyToFakeQuantizeTransformation` unconditionally
  src/common/low_precision_transformations/src/fuse_multiply_to_fake_quantize.cpp
  src/common/low_precision_transformations/src/fuse_subtract_to_fake_quantize.cpp
  src/common/low_precision_transformations/tests/fuse_multiply_to_fake_quantize_transformation.cpp
  src/common/low_precision_transformations/tests/fuse_subtract_to_fake_quantize_transformation.cpp
  src/common/low_precision_transformations/tests/layer_transformation.cpp
  src/common/low_precision_transformations/tests/layer_transformation.hpp
  src/tests/ov_helpers/ov_lpt_models/include/ov_lpt_models/common/fake_quantize_on_data.hpp
  src/tests/ov_helpers/ov_lpt_models/src/common/fake_quantize_on_data.cpp
  src/tests/ov_helpers/ov_lpt_models/src/fuse_multiply_to_fake_quantize.cpp
  src/tests/ov_helpers/ov_lpt_models/src/fuse_subtract_to_fake_quantize.cpp
Labels: category: IE Tests, category: LP transformations

#29290 [GPU] Enable KV-cache compression in PagedAttention OCL kernel
  src/common/transformations/include/transformations/common_optimizations/convert_pagedattn_inputs.hpp
  src/common/transformations/src/transformations/common_optimizations/convert_pagedattn_inputs.cpp
  src/common/transformations/tests/common_optimizations/convert_pagedattn_inputs.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/paged_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_kv_cache_rotate_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_kv_cache_update_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_kv_cache_rotate_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_kv_cache_rotate_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_kv_cache_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/paged_attention_gpu_test.cpp
Labels: category: GPU, category: CPU, category: transformations

#29023 [CPU]PageAttn & SDPA support quantize key cache by channel with u8 preicison
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/internal_properties.hpp
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/src/memory_state.h
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/mha_single_token.hpp
  src/plugins/intel_cpu/src/nodes/memory.cpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/nodes/paged_attn.h
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.h
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/concat_transpose_sdp_transpose.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: build

#29320 CPACK: added C API component to JS component
  cmake/developer_package/packaging/npm.cmake
Labels: category: build, category: packaging

#28665 [JS API] Fix inference for outputs with missing names
  src/bindings/js/node/CMakeLists.txt
  src/bindings/js/node/src/async_reader.cpp
  src/bindings/js/node/src/core_wrap.cpp
  src/bindings/js/node/tests/setup.js
  src/bindings/js/node/tests/unit/infer_request.test.js
  src/bindings/js/node/tests/utils.js
Labels: category: build, category: JS API

#29167 [CPU] Improve compilation time of fp8 LLM
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.h
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/x64/matmul_weights_decompression.cpp
Labels: category: CPU

#28998 [CPU] Fix empty memory creation
  src/plugins/intel_cpu/src/cpu_memory.cpp
Labels: category: CPU

#29312 [GPU] Add missing nullptr check in weightless cache manager
  src/plugins/intel_gpu/include/intel_gpu/primitives/data.hpp
Labels: category: GPU

#29295 [TRANSFORMATIONS] change eltwise_fold to make_try_fold
  src/common/transformations/include/transformations/utils/utils.hpp
  src/common/transformations/src/transformations/common_optimizations/lin_op_sequence_fusion.cpp
  src/common/transformations/src/transformations/common_optimizations/weights_dequantize_to_fake_quantize.cpp
  src/plugins/intel_gpu/src/plugin/transformations/convert_fc_to_compressed.cpp
Labels: category: GPU, category: transformations

#29138 [PT FE] Support complex constants
  src/bindings/python/src/openvino/frontend/pytorch/ts_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/utils.py
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/frontend/pytorch/decoder.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/frontends/common/include/openvino/frontend/decoder.hpp
  src/frontends/common_translators/src/op/complex.cpp
  src/frontends/pytorch/src/node_context.cpp
  src/frontends/pytorch/src/op/complex.cpp
  src/frontends/pytorch/src/op/get_attr.cpp
  src/frontends/pytorch/src/op/to.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/py_frontend_tests/test_torch_decoder.py
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
  tests/layer_tests/pytorch_tests/test_complex.py
  tests/layer_tests/pytorch_tests/test_to.py
Labels: category: Core, category: Python API, category: CPP API, category: PyTorch FE, no-match-files

#29156 [NPUW] Cut empty KV tensors from prefill model
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: category: NPU, category: NPUW

#29309 [RV64][License] Added licensing for Xbyak_riscv
  licensing/third-party-programs.txt
Labels: category: licensing

#29164 [NPUW] Add FakeConvert/Quantize compute passes
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/compute.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/compute.hpp
Labels: category: NPU, category: NPUW

#29333 NPUW: Introduce a knob to properly enable dynamic prompt
  src/plugins/intel_npu/src/al/include/intel_npu/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: category: NPU, category: NPUW

#29332 intel_npu: compile_tool: fix typo in help message
  src/plugins/intel_npu/tools/compile_tool/main.cpp
Labels: ExternalPR, category: NPU

#29331 [GPU] no transpose scale when it has 1 shape size
  src/plugins/intel_gpu/src/plugin/transformations/convert_fc_to_compressed.cpp
Labels: category: GPU

#29316 [GPU] Skip CM check on windows
  src/plugins/intel_gpu/src/graph/impls/ocl/kernel_selector_helper.cpp
Labels: category: GPU

#29351 [PT FE] Support complex aten::abs and aten::exp
  src/bindings/python/src/openvino/frontend/pytorch/utils.py
  src/frontends/common/include/openvino/frontend/complex_type_mark.hpp
  src/frontends/common/src/complex_type_mark.cpp
  src/frontends/pytorch/src/op/abs.cpp
  src/frontends/pytorch/src/op/exp.cpp
  src/frontends/pytorch/src/op_table.cpp
  src/frontends/pytorch/src/utils.hpp
  src/frontends/tensorflow_common/src/op/complex_abs.cpp
  tests/layer_tests/pytorch_tests/test_unary_ops.py
Labels: category: Core, category: Python API, category: TF FE, category: CPP API, category: PyTorch FE, category: TFL FE

#29061 [GPU] Update RemoteTensor support for dynamic model
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/skip_redundant_reorder_at_runtime.cpp
Labels: category: GPU

#29328 [GPU] Enable KV-cache compression for systolic platforms by default
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
Labels: category: GPU

#29363 [NPU] Create event pool only when needed
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
Labels: Code Freeze, category: NPU

#29321 Extend Gelu pattern to support Mul
  src/common/transformations/src/transformations/common_optimizations/gelu_fusion.cpp
  src/common/transformations/tests/common_optimizations/gelu_fusion.cpp
Labels: category: transformations

#29376 Revert "[GHA] [CPU] Extend nightly scope for CPU func. tests"
  .github/workflows/debian_10_arm.yml
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/mac.yml
  .github/workflows/mac_arm64.yml
  .github/workflows/ubuntu_22.yml
  src/plugins/intel_cpu/tests/functional/custom/extension/extension.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/compiled_model/cpu_reservation_test.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, category: CI, github_actions

#29106 Delayed constant serialization
  src/bindings/python/src/openvino/__init__.py
  src/bindings/python/src/openvino/_op_base.py
  src/bindings/python/src/openvino/_ov_api.py
  src/bindings/python/src/openvino/utils/__init__.py
  src/bindings/python/src/openvino/utils/postponed_constant.py
  src/bindings/python/tests/test_utils/test_utils.py
  src/core/src/pass/serialize.cpp
  src/core/tests/pass/serialization/custom_ops.cpp
  tools/benchmark_tool/openvino/__init__.py
  tools/ovc/openvino/__init__.py
Labels: category: Core, category: Python API, category: tools, category: OVC

#29391 [GHA] Update latest artifacts link from openvino builds only
  .github/actions/store_artifacts/store_artifacts.py
Labels: bug, category: CI

#29378 Set allocated for empty constant byte to zero
  src/core/src/op/constant.cpp
  src/core/tests/pass/serialization/const_compression.cpp
Labels: category: Core, Code Freeze

#28655 [GPU] use vector operation in quantize kernel if possible
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/quantize_gpu_scale_shift_vload8_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/quantize/quantize_kernel_scale_shift_vload8_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/quantize/quantize_kernel_scale_shift_vload8_opt.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/quantize/qunatize_kernel_selector.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/quantize_gpu_test.cpp
Labels: category: GPU, Code Freeze

#26760 fix custom tbb build issue
  src/cmake/install_tbb.cmake
Labels: category: inference, category: build

#29365 [GPU] More sum post op
  src/plugins/intel_gpu/src/graph/program_helpers.cpp
  src/plugins/intel_gpu/tests/unit/passes/add_onednn_optimization_attributes_test.cpp
Labels: category: GPU, Code Freeze

#29390 [GPU] Relaxing check for valid fusion in OneDNN case
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
Labels: category: GPU, Code Freeze

#29375 [GPU] Support weightless blob when ov::Model is passed to compile_model
  src/common/util/include/openvino/util/weights_path.hpp
  src/common/util/src/weights_path.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/data.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/options.inl
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_gpu/tests/functional/behavior/model_cache.cpp
Labels: category: inference, category: Core, category: GPU, Code Freeze

#28827 [Common][Transformations] eliminated no needed split & concat
  src/common/transformations/include/transformations/common_optimizations/nop_elimination.hpp
  src/common/transformations/src/transformations/common_optimizations/nop_elimination.cpp
  src/common/transformations/tests/common_optimizations/nop_elimination.cpp
  src/core/src/op/strided_slice.cpp
Labels: category: Core, category: transformations

#29380 [PT FE] Support aten::repeat_interleave when repeats are tensor
  src/frontends/pytorch/src/op/repeat_interleave.cpp
  tests/layer_tests/pytorch_tests/test_repeat_interleave.py
Labels: category: PyTorch FE

#29318 [ISTFT][CPU] Improve performance of ISTFT for CPU by reusage RDFT jit Executor
  src/plugins/intel_cpu/src/nodes/istft.cpp
  src/plugins/intel_cpu/src/nodes/istft.h
Labels: category: CPU

#27069 NPUW: F16 interconnect
  src/plugins/intel_npu/src/al/include/intel_npu/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
Labels: category: NPU, category: NPUW

#29388 Bump Cmake min version for npu tools & time tests
  src/plugins/intel_npu/tools/compile_tool/CMakeLists.txt
  src/plugins/intel_npu/tools/protopipe/CMakeLists.txt
  src/plugins/intel_npu/tools/single-image-test/CMakeLists.txt
  tests/time_tests/CMakeLists.txt
Labels: category: build, category: NPU

#29406 Rename runners (smallworker -> aks-linux-small)
  .github/workflows/cleanup_caches.yml
  .github/workflows/export_workflow_metrics.yml
  .github/workflows/mac.yml
  .github/workflows/workflow_rerunner.yml
Labels: category: CI, github_actions

#29338 update oneTBB 2021.13.0 for mac os
  cmake/dependencies.cmake
Labels: category: build, Code Freeze

#29413 [CPU] Remove empty catch blocks in jit_kernel.h
  src/plugins/intel_cpu/src/.clang-tidy
  src/plugins/intel_cpu/src/nodes/kernels/x64/jit_kernel.hpp
Labels: category: CPU

#28670 [gpu]: GridSample optimization
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/grid_sample_opt_bilinear_zeros.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_base.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_base.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_opt_bilinear_zeros.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_opt_bilinear_zeros.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_ref.hpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/grid_sample/grid_sample_kernel_selector.cpp
Labels: category: GPU

#29372 Do not use -fno-var-tracking-assignments flag for sanitizer build if clang-tidy is enabled
  cmake/developer_package/compile_flags/sanitizer.cmake
Labels: category: build

#29423 [TESTS] Skip RMSNorm tests on older torch
  tests/layer_tests/pytorch_tests/test_norm.py
Labels: category: PyTorch FE

#29425 [Py FE] Try folding slice axis
  src/frontends/pytorch/src/op/slice.cpp
Labels: category: PyTorch FE

#29407 [DOCS] update supported models
  docs/articles_en/documentation/compatibility-and-support/supported-models.rst
  docs/sphinx_setup/_static/download/supported_models.csv
Labels: category: docs

#29424 [DOCS] update supported models 25.0
  docs/articles_en/documentation/compatibility-and-support/supported-models.rst
  docs/sphinx_setup/_static/download/supported_models.csv
Labels: category: docs

#29433 [DOCS] Update OpenVINO Test Drive article for 25.0
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project/openvino-test-drive.rst
  docs/articles_en/assets/images/TestDrive_image_generation.gif
  docs/articles_en/assets/images/TestDrive_rag_1.gif
  docs/articles_en/assets/images/TestDrive_rag_2.gif
  docs/articles_en/assets/images/TestDrive_rag_base.gif
  docs/articles_en/assets/images/TestDrive_st_import.gif
  docs/articles_en/assets/images/TestDrive_ts_video.gif
  docs/articles_en/assets/images/TestDrive_vlm_1.gif
  docs/articles_en/assets/images/TestDrive_vlm_2.gif
Labels: category: docs

#29426 Update OMZ version for NPU tools 25ww11
  src/plugins/intel_npu/tools/omz_version.json
Labels: category: NPU

#29421 Add GeluFusion to PreProcessing transformations pipeline
  src/core/src/preprocess/pre_post_process.cpp
  src/core/tests/preprocess.cpp
Labels: category: Core

#29175 Mmaped tensors
  src/core/dev_api/openvino/runtime/shared_buffer.hpp
  src/core/include/openvino/runtime/tensor.hpp
  src/core/src/runtime/tensor.cpp
  src/core/tests/tensor_utils.cpp
Labels: category: Core, category: CPP API, Code Freeze

#29432 [PT FE] Support converting f8 compressed models
  src/bindings/python/src/openvino/frontend/pytorch/patch_model.py
  src/common/transformations/include/transformations/fp16_compression/mark_decompression_convert_constant_folding.hpp
  src/common/transformations/src/transformations/fp16_compression/mark_decompression_convert_constant_folding.cpp
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/op/embedding.cpp
  src/frontends/pytorch/src/op/linear.cpp
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Labels: category: Python API, category: transformations, category: PyTorch FE

#28610 Use C++ RTTI on Android
  src/core/include/openvino/core/type.hpp
Labels: category: Core, category: CPP API

#29436 [PyOV] Throw error if model is created without arguments
  src/bindings/python/src/openvino/_ov_api.py
  src/bindings/python/tests/test_runtime/test_model.py
Labels: bug, category: Python API, Code Freeze

#29429 [GPU] Extend OptimizeSubsequentReshapes pass to support any cases with a single dynamic dimension
  src/plugins/intel_gpu/src/plugin/transformations/optimize_subsequent_reshapes.cpp
  src/plugins/intel_gpu/tests/unit/transformations/optimize_subsequent_reshapes_test.cpp
Labels: category: GPU, priority: high, Code Freeze

#29428 [SI] Removes unpredictable rt_info copying from partial value propagation
  src/common/transformations/src/transformations/symbolic_transformations/dereshape_matmul.cpp
  src/common/transformations/src/transformations/transpose_sinking/ts_slice.cpp
  src/core/src/bound_evaluate.cpp
Labels: category: Core, category: transformations

#29434 [DOCS] Fixing missing RMS operation article
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/rms.rst
Labels: category: docs

#29387 [NPU] Update blob compatibility flexibility
  src/plugins/intel_npu/src/al/include/intel_npu/config/runtime.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npu_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/runtime.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/plugin/include/metadata.hpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/metadata.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/unit/npu/metadata_version.cpp
Labels: priority: high, Code Freeze, category: NPU

#29403 [core] Fix regex out of memory error
  src/frontends/ir/src/ir_deserializer.cpp
  src/frontends/ir/tests/frontend_test_basic.cpp
Labels: category: IR FE, priority: high, Code Freeze

#29445 [GPU] Extend shape_of subgraphs markup logic to include PagedAttention input
  src/plugins/intel_gpu/src/graph/graph_optimizer/mark_shape_of_subgraphs.cpp
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/unit/passes/mark_shape_of_subgraphs_test.cpp
Labels: category: GPU, priority: high, Code Freeze

#29452 [NPU] Changing func test config for CoreThreadingTest
  src/plugins/intel_npu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_threading_tests.cpp
Labels: category: NPU

#29056 [NPU][IE-MDK] Load testing skip config at runtime
  src/plugins/intel_npu/tests/functional/CMakeLists.txt
  src/plugins/intel_npu/tests/functional/common/npu_test_env_cfg.cpp
  src/plugins/intel_npu/tests/functional/common/npu_test_env_cfg.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests.xml
  src/plugins/intel_npu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: build, category: NPU

#29450 [GPU] Ignore SDPAScaleFusion pass when output of Q & V scales have different element types from the corresponding SDPA inputs
  src/common/transformations/src/transformations/common_optimizations/sdpa_scale_fusion.cpp
  src/common/transformations/tests/common_optimizations/sdpa_scale_fusion_test.cpp
Labels: category: transformations, ExternalIntelPR, Code Freeze

#29416 [GPU] typo in debug option
  src/plugins/intel_gpu/include/intel_gpu/runtime/options.inl
Labels: category: GPU

#29239 [CPU]Gather node executed with f16/bf16 precision
  src/common/transformations/include/transformations/op_conversions/convert_gather_to_compressed.hpp
  src/common/transformations/src/transformations/op_conversions/convert_gather_to_compressed.cpp
  src/common/transformations/tests/op_conversions/convert_gather_to_compressed_test.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/gather_weights_decompression.cpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/gather_weights_decompression.hpp
  src/tests/functional/shared_test_classes/src/subgraph/gather_weights_decompression.cpp
Labels: category: IE Tests, category: CPU, category: transformations

#28441 [CPU] Add dumping of the memory statistcs
  src/plugins/intel_cpu/docs/debug_capabilities/README.md
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/compiled_model.h
  src/plugins/intel_cpu/src/cpu_memory.cpp
  src/plugins/intel_cpu/src/cpu_memory.h
  src/plugins/intel_cpu/src/dnnl_scratch_pad.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/graph_context.cpp
  src/plugins/intel_cpu/src/memory_control.cpp
  src/plugins/intel_cpu/src/memory_control.hpp
  src/plugins/intel_cpu/src/utils/debug_capabilities.cpp
  src/plugins/intel_cpu/src/utils/debug_capabilities.h
  src/plugins/intel_cpu/src/utils/debug_caps_config.cpp
  src/plugins/intel_cpu/src/utils/debug_caps_config.h
  src/plugins/intel_cpu/src/utils/memory_stats_dump.cpp
  src/plugins/intel_cpu/src/utils/memory_stats_dump.hpp
  src/plugins/intel_cpu/src/weights_cache.cpp
  src/plugins/intel_cpu/src/weights_cache.hpp
Labels: category: CPU, category: docs

#29449 Make mmap an option for read_tensor_data
  src/core/include/openvino/runtime/tensor.hpp
  src/core/src/runtime/tensor.cpp
  src/core/tests/tensor_utils.cpp
Labels: category: Core, category: CPP API

#29419 [TF] Support Erfc operation
  src/frontends/common_translators/include/common_translators.hpp
  src/frontends/common_translators/src/op/erfc.cpp
  src/frontends/pytorch/src/op/erfc.cpp
  src/frontends/tensorflow/docs/supported_ops.md
  src/frontends/tensorflow/src/op_table.cpp
  src/frontends/tensorflow_common/include/common_op_table.hpp
  src/frontends/tensorflow_common/src/op/erfc.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Erfc.py
Labels: category: docs, category: TF FE, category: PyTorch FE, category: TFL FE, no-match-files

#29300 [CPU] Remove redundant NOLINT comments
  src/plugins/intel_cpu/src/.clang-tidy
  src/plugins/intel_cpu/src/emitters/snippets/cpu_kernel_executor_table.hpp
  src/plugins/intel_cpu/src/memory_state.h
  src/plugins/intel_cpu/src/nodes/input.cpp
  src/plugins/intel_cpu/src/nodes/memory.hpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference_cpu.hpp
Labels: category: CPU

#29404 [PyOV] small improvements
  src/bindings/python/src/pyopenvino/core/tensor.cpp
  src/bindings/python/src/pyopenvino/graph/op.cpp
  src/bindings/python/tests/test_graph/test_custom_op.py
Labels: category: Python API

#29455 [DOCS] align the new APT-YUM references
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/generation/random-uniform-8.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
Labels: category: docs

#29451 Skip Constant data copy during partial value propagation
  src/core/src/op/constant.cpp
Labels: category: Core

#29466 [NPU] Get value or default value in case of std::optional is not set
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/plugin/src/remote_context.cpp
Labels: category: NPU

#29330 [DOCS] Fix missing RMS operation page
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/rms.rst
Labels: category: docs

#29459 [TRANSFORMATIONS] Fix RoPEFusion pattern for GLM4 model on GPU
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/tests/common_optimizations/fuse_rotary_positional_embeddings.cpp
Labels: category: transformations

#29435 Update README.md
  README.md
Labels: category: docs

#29463 Bump product version 2025.2
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/core/include/openvino/core/version.hpp
Labels: category: Core, category: build, category: CPP API, category: packaging

#29477 [CPU][DEBUG_CAPS] Hotfix for env vars handling
  src/plugins/intel_cpu/src/utils/debug_caps_config.cpp
Labels: category: CPU

#29478 Fix types in debug caps on Apple Clang
  src/plugins/intel_cpu/src/memory_control.cpp
Labels: category: CPU, platform: arm, platform: macOS

#29471 [NPU] Get value or default value in case of std::optional is not set
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/plugin/src/remote_context.cpp
Labels: category: NPU

#29448 [DOCS] genAI adjustments
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
  docs/articles_en/openvino-workflow-generative.rst
  docs/articles_en/openvino-workflow.rst
  docs/articles_en/openvino-workflow/model-preparation.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

#29518 [DOCS] genAI adjustments
  docs/articles_en/get-started/install-openvino/install-openvino-pip.rst
  docs/articles_en/openvino-workflow-generative.rst
  docs/articles_en/openvino-workflow.rst
  docs/articles_en/openvino-workflow/model-preparation.rst
  docs/sphinx_setup/index.rst
Labels: category: docs

#29522 [DOCS] Fixing missing RMS operation article
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/internal/rms.rst
Labels: category: docs

#29496 [JAX FE] Test JAX support against latest version
  tests/requirements_jax
Labels: no-match-files

#29472 [GPU] Fix shape infer optimziation of shape_of subgraphs in case of data input usage
  src/plugins/intel_gpu/src/graph/input_layout.cpp
  src/plugins/intel_gpu/tests/unit/dynamic_execution/update_shape_test.cpp
Labels: category: GPU

#29511 [PT] Fix aten::add decomposition for i4 weights
  src/frontends/pytorch/src/op/add.cpp
  src/frontends/pytorch/src/op/sub.cpp
  tests/layer_tests/py_frontend_tests/test_torch_frontend.py
Labels: category: PyTorch FE
