Repository openvinotoolkit/openvino, pull requests merged in 2025-02, with the labels that each got.

#28773 [TF FE] feat: implement complex type support for selectv2
  src/frontends/tensorflow_common/src/op/select.cpp
  tests/layer_tests/tensorflow_tests/test_tf_SelectV2.py
Labels: ExternalPR, category: TF FE, category: TFL FE

#28654 [GPU] add convert precision for converting bool to u8
  src/plugins/intel_gpu/include/intel_gpu/plugin/transformations_pipeline.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/conversion.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/conversion.hpp
Labels: category: GPU

#28763 [GPU] Fix incorrect broadcast axis for static SDPA case
  src/plugins/intel_gpu/src/graph/impls/ocl/scaled_dot_product_attention.cpp
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/scaled_dot_product_attention.cpp
Labels: category: GPU

#28781 Bump cache-apt-pkgs-action in documentation workflow (#28495)
  .github/workflows/build_doc.yml
Labels: category: CI, github_actions

#28674 Fix support of "inputs_embeds" input of VLMs in SDPAToPA transformation
  src/common/transformations/tests/op_conversions/sdpa_to_paged_attention_test.cpp
  src/core/src/pass/sdpa_to_paged_attention.cpp
Labels: category: Core, category: transformations

#28700 [CPU][ARM64] Enable FakeQuantize tokenization and decomposition
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/fake_quantize_decomposition_test.cpp
  src/tests/functional/plugin/shared/src/snippets/fake_quantize_decomposition_test.cpp
Labels: category: IE Tests, category: CPU, platform: arm, ExternalPR

#28735 [DOCS] pdf update retry 24.6
  .gitattributes
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.6-Performance-Data.xlsx
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.6-platform_list.pdf
  docs/sphinx_setup/_static/benchmarks_files/OV-2024.6-system-info-detailed.xlsx
  docs/sphinx_setup/_static/benchmarks_files/llm_models_platform_list_.pdf
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
  docs/sphinx_setup/_static/download/OpenVINO_Quick_Start_Guide.pdf
Labels: category: docs, no-match-files

#28784 [DOCS] 2025.0 install guide update
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
  docs/articles_en/openvino-workflow-generative.rst
Labels: category: docs

#28782 [TF FE] Support Squeeze for string tensors
  src/frontends/tensorflow_common/src/op/squeeze.cpp
Labels: category: TF FE, category: TFL FE

#28783 [DOCS] 2025.0 release notes start 25.0
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/weight-compression/4-bit-weight-quantization.rst
  docs/articles_en/openvino-workflow/model-optimization.rst
Labels: category: docs

#28779 [DOCS] Update benchamark files for ov to 2025.0
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
  docs/sphinx_setup/_static/download/benchmarking_OV_performance-data.xlsx
  docs/sphinx_setup/_static/download/benchmarking_OV_platform_list.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_system_info_detailed.xlsx
Labels: category: docs

#28747 [CPU][DEBUG_CAPS] Enable verbose mode for ov data types
  src/plugins/intel_cpu/src/dnnl_extension_utils.cpp
  src/plugins/intel_cpu/src/dnnl_extension_utils.h
  src/plugins/intel_cpu/src/utils/verbose.cpp
Labels: category: CPU

#28786 [DOCS] ecosystem restructuring 25.0
  docs/articles_en/about-openvino.rst
  docs/articles_en/about-openvino/openvino-ecosystem.rst
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-adoptions.rst
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-integrations.rst
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project.rst
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project/datumaro.rst
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project/openvino-security-add-on.rst
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project/openvino-test-drive.rst
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project/openvino-training-extensions.rst
  docs/articles_en/assets/images/deploy_encrypted_model.svg
  docs/articles_en/documentation.rst
  docs/articles_en/documentation/compatibility-and-support/supported-devices.rst
  docs/articles_en/documentation/openvino-security.rst
Labels: category: docs

#28787 [DOCS] 2025.0 install guide update port mstr
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-linux.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-macos.rst
  docs/articles_en/get-started/install-openvino/install-openvino-archive-windows.rst
  docs/articles_en/get-started/install-openvino/install-openvino-conda.rst
  docs/articles_en/get-started/install-openvino/install-openvino-genai.rst
  docs/articles_en/get-started/install-openvino/install-openvino-yum.rst
  docs/articles_en/get-started/install-openvino/install-openvino-zypper.rst
  docs/articles_en/openvino-workflow-generative.rst
Labels: category: docs

#28793 Add 2025.0 Selector Tool
  docs/articles_en/get-started/install-openvino.rst
  docs/sphinx_setup/_static/selector-tool/assets/selector-C_bHXmvJ.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-DiE3WrtX.js
  docs/sphinx_setup/_static/selector-tool/assets/selector-DwLwwkWa.css
  docs/sphinx_setup/_static/selector-tool/selector-dbd55b5.html
Labels: category: docs

#28626 [CPU][ARM] Pooling: support `i32` indices output and `NHWC` indices layout
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_pooling.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_pooling.hpp
  src/plugins/intel_cpu/src/nodes/pooling.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/arm/pooling.cpp
Labels: category: CPU, platform: arm

#28749 [CPU] Moved jit_uni_eltwise_generic x64 to another files
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.h
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.hpp
  src/plugins/intel_cpu/src/nodes/kernels/jit_eltwise_call_args_ptrs.hpp
  src/plugins/intel_cpu/src/nodes/kernels/jit_eltwise_common.cpp
  src/plugins/intel_cpu/src/nodes/kernels/jit_eltwise_common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/jit_uni_eltwise_generic.hpp
  src/plugins/intel_cpu/tests/unit/nodes/eltwise_node_test.cpp
Labels: category: CPU

#28757 [GPU] updates to use ConcatTransformation of LPT for activations scaling
  src/common/transformations/include/transformations/common_optimizations/activations_scaling.hpp
  src/common/transformations/src/transformations/common_optimizations/activations_scaling.cpp
  src/common/transformations/tests/common_optimizations/activations_scaling_test.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, category: transformations

#28764 [GPU] allow scalar eltwise primitive fusion with gemm
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/fusions/gemm_fusion_test.cpp
Labels: category: GPU

#28795 [DOCS] 25.0 polishing 25.0
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/install-openvino/configurations.rst
Labels: category: docs

#28671 [GPU] Dynamic paddings support for mixed kernel mode execution of PagedAttention
  src/plugins/intel_gpu/src/graph/paged_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
  src/plugins/intel_gpu/tests/unit/test_cases/paged_attention_gpu_test.cpp
Labels: category: GPU

#28466 [GPU] merging multiple scalar multiply layers connected to horizontal fused fc
  src/plugins/intel_gpu/src/plugin/transformations/fc_horizontal_fusion.cpp
  src/plugins/intel_gpu/tests/unit/transformations/horizontal_fc_fusion_test.cpp
Labels: category: GPU

#28672 [GPU] Fix crop primitive execution with dynamic paddings input
  src/plugins/intel_gpu/src/graph/impls/ocl/crop.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/crop_gpu_test.cpp
Labels: category: GPU

#28768 [DOCS] Banner_data update for 2024.6
  docs/sphinx_setup/_static/html/banner_data.json
Labels: category: docs

#28802 [GPU] Update PagedAttention creation logic
  src/plugins/intel_gpu/src/plugin/ops/paged_attention.cpp
Labels: category: GPU

#28809 [DOCS] 25.0 polishing mstr
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/install-openvino/configurations.rst
Labels: category: docs

#28806 DOCS OV Benchmark update v3
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
Labels: category: docs

#28775 [GPU] Insert scratchpad memory in concat when it's not null
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.cpp
Labels: category: GPU

#28823 [DOCS] 25.0 final touches
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/generation/random-uniform-8.rst
Labels: category: docs

#28816 CMAKE: fixed GPU plugin build within vcpkg infra
  cmake/developer_package/compile_flags/os_flags.cmake
  src/cmake/ov_parallel.cmake
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/CMakeLists.txt
  vcpkg.json
Labels: category: inference, category: GPU, category: build, category: dependency_changes

#28822 [GHA] Bump actions/cache to 4.2.0
  .github/workflows/build_doc.yml
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/ovc.yml
  .github/workflows/windows_conditional_compilation.yml
  .github/workflows/windows_vs2019_release.yml
Labels: category: CI, github_actions

#28378 [Snippets] Add debug caps for dumping snippets parameters
  src/common/snippets/docs/debug_capabilities/parameters_dump.md
  src/common/snippets/include/snippets/lowered/pass/insert_perf_count_verbose.hpp
  src/common/snippets/include/snippets/op/perf_count.hpp
  src/common/snippets/include/snippets/utils/debug_caps_config.hpp
  src/common/snippets/include/snippets/utils/utils.hpp
  src/common/snippets/src/lowered/expression.cpp
  src/common/snippets/src/lowered/pass/insert_perf_count_verbose.cpp
  src/common/snippets/src/lowered/pass/validate.cpp
  src/common/snippets/src/op/perf_count.cpp
  src/common/snippets/src/utils/debug_caps_config.cpp
  src/common/snippets/src/utils/utils.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
Labels: category: CPU, category: docs

#28825 CMAKE: fixed GPU plugin build within vcpkg infra
  cmake/developer_package/compile_flags/os_flags.cmake
  src/cmake/ov_parallel.cmake
  src/plugins/intel_gpu/src/graph/CMakeLists.txt
  src/plugins/intel_gpu/src/runtime/CMakeLists.txt
Labels: category: inference, category: GPU, category: build

#28814 [CI] [GHA] Add sccache server startup error to rerunner
  .github/scripts/workflow_rerun/errors_to_look_for.json
Labels: category: CI

#28828 [GPU] Add support of per-head mask for sdpa_micro kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_micro.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_micro.cpp
Labels: category: GPU

#28811 [CI] [GHA] Update workflow list in rerunner and statistics collection workflows
  .github/workflows/export_workflow_metrics.yml
  .github/workflows/windows_vs2022_debug.yml
  .github/workflows/windows_vs2022_release.yml
  .github/workflows/workflow_rerunner.yml
Labels: category: CI, github_actions

#28813 [GPU] Apply extra buffer for onednn asymmetric Conv.
  src/plugins/intel_gpu/include/intel_gpu/runtime/format.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
Labels: category: GPU

#28833 [DOCS] port benchmarks to master
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/articles_en/about-openvino/performance-benchmarks/model-accuracy-int8-fp32.rst
  docs/articles_en/about-openvino/performance-benchmarks/performance-benchmarks-faq.rst
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
  docs/sphinx_setup/_static/benchmarks_files/graph-config.json
  docs/sphinx_setup/_static/download/benchmarking_OV_performance-data.xlsx
  docs/sphinx_setup/_static/download/benchmarking_OV_platform_list.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_system_info_detailed.xlsx
Labels: category: docs

#28462 [CORE] OV file utils file_size use std file path
  src/common/util/include/openvino/util/file_path.hpp
  src/common/util/include/openvino/util/file_util.hpp
  src/common/util/include/openvino/util/wstring_convert_util.hpp
  src/common/util/src/file_path.cpp
  src/common/util/src/file_util.cpp
  src/common/util/src/wstring_convert_util.cpp
  src/core/tests/file_util.cpp
Labels: category: Core

#28831 [DOCS] benchmark polishing and details 25.0
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ov.json
  docs/sphinx_setup/_static/benchmarks_files/graph-config.json
Labels: category: docs

#28606 [Op] ISTFT op class, shape infer and reference
  src/core/include/openvino/op/istft.hpp
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/opsets/opset16_tbl.hpp
  src/core/reference/include/openvino/reference/istft.hpp
  src/core/reference/src/op/istft.cpp
  src/core/shape_inference/include/istft_shape_inference.hpp
  src/core/src/op/istft.cpp
  src/core/tests/opset.cpp
  src/core/tests/type_prop/istft.cpp
  src/core/tests/visitors/op/istft.cpp
  src/plugins/template/backend/ops/istft.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/opset_int_tbl.hpp
  src/plugins/template/tests/functional/op_reference/istft.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: TEMPLATE, category: CPP API

#28838 [DOCS] remove models from release notes 25.0
  docs/articles_en/about-openvino/release-notes-openvino.rst
Labels: category: docs

#28851 [DOCS] post-release polishing
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project.rst
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/openvino-workflow/deployment-locally.rst
  docs/sphinx_setup/_static/download/OpenVINO_Quick_Start_Guide.pdf
  docs/sphinx_setup/index.rst
Labels: category: docs

#28517 [ARM][CPU] Fix ARM arch for WoA systems
  src/plugins/intel_cpu/thirdparty/ACLConfig.cmake
Labels: category: CPU, category: build, platform: arm, platform: win32, no_stale

#28848 [OV JS] Update openvino-node package version to 2025.0.0
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
Labels: category: JS API

#28855 [DOCS] post-release polishing - porting to master
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project.rst
  docs/articles_en/about-openvino/release-notes-openvino/system-requirements.rst
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs.rst
  docs/articles_en/get-started/install-openvino/install-openvino-apt.rst
  docs/articles_en/openvino-workflow/deployment-locally.rst
  docs/sphinx_setup/_static/download/OpenVINO_Quick_Start_Guide.pdf
  docs/sphinx_setup/index.rst
Labels: category: docs

#28660 Add nncf.strip call
  tools/ovc/openvino/tools/ovc/convert_impl.py
Labels: category: OVC

#28859 [OV JS] Update openvino-node package version to 2025.0.0
  samples/js/node/package-lock.json
  samples/js/node/package.json
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
Labels: category: samples, category: JS API

#28867 [ONNX] Extended NodeContext interface
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/node_context.hpp
  src/frontends/onnx/frontend/src/node_context.cpp
Labels: category: ONNX FE, category: CPP API

#28044 [Torch frontend] aten._unsafe_index.Tensor support
  src/frontends/pytorch/src/op_table.cpp
Labels: category: PyTorch FE, Stale

#28596 [Snippets][CPU] Fix int8 handling and disable snippets for unhandled types in callbacks
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU

#28862 NPUW: Fix SPATIAL execution mode
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/util.cpp
Labels: category: NPU, category: NPUW

#28834 Use OV RTTI for ConversionExtensions
  cmake/developer_package/compile_flags/os_flags.cmake
  cmake/developer_package/ncc_naming_style/openvino.style
  src/cmake/openvino.cmake
  src/core/include/openvino/core/extension.hpp
  src/core/include/openvino/core/op_extension.hpp
  src/core/include/openvino/core/preprocess/input_tensor_info.hpp
  src/core/include/openvino/core/rtti.hpp
  src/core/include/openvino/core/shape.hpp
  src/core/include/openvino/core/type.hpp
  src/core/include/openvino/op/util/precision_sensitive_attribute.hpp
  src/core/include/openvino/op/util/symbolic_info.hpp
  src/core/src/op/util/precision_sensitive_attribute.cpp
  src/core/src/op/util/symbolic_info.cpp
  src/core/src/preprocess/pre_post_process.cpp
  src/frontends/common/include/openvino/frontend/extension/conversion.hpp
  src/frontends/ir/src/frontend.cpp
  src/frontends/jax/include/openvino/frontend/jax/extension/conversion.hpp
  src/frontends/jax/src/extensions.cpp
  src/frontends/jax/src/frontend.cpp
  src/frontends/onnx/frontend/include/openvino/frontend/onnx/extension/conversion.hpp
  src/frontends/onnx/frontend/src/core/graph.cpp
  src/frontends/onnx/frontend/src/extensions.cpp
  src/frontends/onnx/frontend/src/frontend.cpp
  src/frontends/paddle/include/openvino/frontend/paddle/extension/conversion.hpp
  src/frontends/paddle/src/extensions.cpp
  src/frontends/paddle/src/frontend.cpp
  src/frontends/paddle/tests/conversion.cpp
  src/frontends/pytorch/include/openvino/frontend/pytorch/extension/conversion.hpp
  src/frontends/pytorch/src/extensions.cpp
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/tensorflow/include/openvino/frontend/tensorflow/extension/conversion.hpp
  src/frontends/tensorflow/src/extension/conversion.cpp
  src/frontends/tensorflow/src/frontend.cpp
  src/frontends/tensorflow/tests/conversion.cpp
  src/frontends/tensorflow_lite/include/openvino/frontend/tensorflow_lite/extension/conversion.hpp
  src/frontends/tensorflow_lite/src/extension/conversion.cpp
  src/frontends/tensorflow_lite/src/frontend.cpp
  src/frontends/tensorflow_lite/tests/conversion.cpp
Labels: category: inference, category: Core, category: build, category: IR FE, category: ONNX FE, category: PDPD FE, category: TF FE, category: extensions, category: CPP API, category: PyTorch FE, category: TFL FE, category: JAX FE

#28829 [CPU] Enabled float (fp32/fp16/bf16) to nf4 precision conversion
  src/plugins/intel_cpu/src/node.cpp
  src/plugins/intel_cpu/src/nodes/common/cpu_convert.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/conversion.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/conversion.hpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/common/conversion.cpp
Labels: category: CPU

#28890 [HETERO] Exclude nightly test cases in smoke
  .github/workflows/coverage.yml
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/linux_sanitizers.yml
Labels: category: CI, github_actions

#28877 [C-API] Add extern to C API symbols to solve linker issue using C compiler
  samples/c/hello_classification/CMakeLists.txt
  samples/c/hello_classification/infer_result_util.c
  samples/c/hello_classification/infer_result_util.h
  samples/c/hello_classification/main.c
  src/bindings/c/include/openvino/c/ov_common.h
Labels: bug, category: build, category: C API, category: samples

#28864 [GPU] support 64 alignment for 8bit weights layout
  src/plugins/intel_gpu/src/graph/fully_connected.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/fully_connected_gpu_test.cpp
Labels: category: GPU

#28872 [CPU] Replace OPENVINO_ASSERT macros usage in nodes with CPU_NODE_ASSERT
  src/plugins/intel_cpu/src/nodes/composite.cpp
  src/plugins/intel_cpu/src/nodes/concat.cpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/fake_quantize.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/nodes/gather.cpp
  src/plugins/intel_cpu/src/nodes/if.cpp
  src/plugins/intel_cpu/src/nodes/lora.cpp
  src/plugins/intel_cpu/src/nodes/matmul.cpp
  src/plugins/intel_cpu/src/nodes/memory.cpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/nodes/qkv_proj.cpp
  src/plugins/intel_cpu/src/nodes/rope.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scatter_update.cpp
  src/plugins/intel_cpu/src/nodes/shapeof.cpp
  src/plugins/intel_cpu/src/nodes/split.cpp
  src/plugins/intel_cpu/src/nodes/tensoriterator.cpp
Labels: category: CPU

#28887 [PT FE] Implement numerically stable logsumexp support
  src/frontends/pytorch/src/op/log.cpp
Labels: category: PyTorch FE

#28114 [GPU] Fix: Coverity issues 1552155 , 1563152 , 1563150 , 1509644 , 1509910
  src/plugins/intel_gpu/src/graph/impls/ocl/kernels_cache.cpp
Labels: category: GPU, ExternalPR

#28818 [Docs] Update NNCF QAT docs
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/quantization-aware-training-pytorch.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/quantization-aware-training-tensorflow.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/quantization-aware-training.rst
  docs/optimization_guide/nncf/code/qat_tf.py
  docs/optimization_guide/nncf/code/qat_torch.py
Labels: category: docs

#28847 [NPU] Move compatibility check skip before reading metadata
  src/plugins/intel_npu/src/plugin/include/metadata.hpp
  src/plugins/intel_npu/src/plugin/src/metadata.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#28899 GPU: fixed build with oneDNN from vcpkg - part 2
  src/plugins/intel_gpu/src/kernel_selector/CMakeLists.txt
Labels: category: GPU, category: build

#28808 [GPU] Set cache encryption callbacks as write-only and fix is_mutable()
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: inference, category: GPU, category: CPP API

#28896 [PyOV] Fix passing Model as argument
  src/bindings/python/src/pyopenvino/graph/passes/model_pass.cpp
  src/bindings/python/tests/test_transformations/test_model_pass.py
  src/bindings/python/tests/test_transformations/test_public_transformations.py
Labels: bug, category: Python API

#28721 Enable GIT_TRACE for clone step in Fedora 29 workflow
  .github/workflows/job_build_linux.yml
Labels: category: CI, github_actions

#28754 [Snippets][CPU] Fix loop ports replacement in LIR
  src/common/snippets/src/lowered/linear_ir.cpp
Labels: category: CPU

#28860 [PYTHON] add __deepcopy__, __copy__ for Tensor
  src/bindings/python/src/pyopenvino/core/tensor.cpp
  src/bindings/python/tests/test_runtime/test_tensor.py
Labels: category: Python API

#28846 [Snippets][CPU] Enable verbose perf count insertion pass conditionally
  src/common/snippets/include/snippets/lowered/linear_ir.hpp
  src/common/snippets/include/snippets/op/subgraph.hpp
  src/common/snippets/include/snippets/utils/linear_ir_pass_dumper.hpp
  src/common/snippets/src/lowered/pass/insert_perf_count_verbose.cpp
  src/common/snippets/src/op/subgraph.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
Labels: category: CPU

#28906 [GHA] OV provider: fixed upload condition for JS artifacts
  .github/workflows/job_build_windows.yml
Labels: category: CI, github_actions

#28183 [GPU] sink reshape for reorder+reshape+permute pattern opt
  src/plugins/intel_gpu/src/plugin/transformations/sink_reshape.cpp
  src/plugins/intel_gpu/src/plugin/transformations/sink_reshape.hpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/tests/unit/transformations/sink_reshape_test.cpp
Labels: category: GPU

#28871 Fix performance regression on EMR
  src/inference/dev_api/openvino/runtime/system_conf.hpp
  src/inference/dev_api/openvino/runtime/threading/cpu_streams_executor_internal.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/cpu_streams_executor_internal.cpp
  src/inference/src/system_conf.cpp
  src/inference/tests/unit/cpu_stream_info_test.cpp
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/graph_context.cpp
Labels: category: inference, category: CPU

#28909 [DOCS] Update NNCF QAT docs (#28818)
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/quantization-aware-training-pytorch.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/quantization-aware-training-tensorflow.rst
  docs/articles_en/openvino-workflow/model-optimization-guide/compressing-models-during-training/quantization-aware-training.rst
  docs/optimization_guide/nncf/code/qat_tf.py
  docs/optimization_guide/nncf/code/qat_torch.py
Labels: category: docs

#28832 [Snippets][CPU] Remove deprecation warnings ignore
  src/common/snippets/CMakeLists.txt
  src/common/snippets/include/snippets/kernel_executor_table.hpp
  src/plugins/intel_cpu/CMakeLists.txt
  src/plugins/intel_cpu/src/transformations/cpu_opset/common/pass/fc_bias_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/pass/mlp_fusion.cpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/pass/qkv_proj_fusion.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/eliminate_brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/pass/brgemm_to_brgemm_tpp.cpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/pass/eltwise_to_eltwise_tpp.cpp
  src/plugins/intel_cpu/src/transformations/tpp/x64/pass/scalar_to_scalar_tpp.cpp
Labels: category: CPU, category: build

#28907 Python API: is_mutable() fix
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/inference/include/openvino/runtime/properties.hpp
Labels: category: inference, category: Python API, category: CPP API

#28668 [GPU] Prevent concat different formats for onednn
  src/plugins/intel_gpu/src/graph/impls/onednn/concatenation_onednn.hpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
Labels: category: GPU, ExternalIntelPR

#28898 [DOCS] put pdf in LFS
  .gitattributes
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
  docs/sphinx_setup/_static/download/OpenVINO_Quick_Start_Guide.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_performance-data.xlsx
  docs/sphinx_setup/_static/download/benchmarking_OV_platform_list.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_system_info_detailed.xlsx
  docs/sphinx_setup/_static/download/benchmarking_genai_platform_list.pdf
Labels: category: docs, no-match-files

#28595 [core][IR FE] Add support to (de)serialize Result output names
  src/core/dev_api/openvino/core/descriptor_tensor.hpp
  src/core/src/descriptor/shared_tensor.cpp
  src/core/src/pass/serialize.cpp
  src/core/tests/pass/serialization/tensor_names.cpp
  src/frontends/ir/src/ir_deserializer.cpp
  src/frontends/ir/tests/frontend_test_basic.cpp
Labels: category: Core, category: IR FE

#28908 [GHA] Increase timeout for PyTorch Models tests in precommit
  .github/workflows/job_pytorch_models_tests.yml
Labels: category: CI, github_actions

#28924 [DOCS Sitemaps generation update
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
Labels: category: docs

#28424 Fixed dump of spatial inputs/outputs
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Labels: category: NPU, category: NPUW

#28528 NPUW: Fixed coverity issues of Low impact
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.hpp
Labels: category: NPU, category: NPUW

#28926 [DOCS Port for sitemap google
  docs/openvino_custom_sphinx_sitemap/openvino_custom_sphinx_sitemap/__init__.py
Labels: category: docs

#28427 Fix "Total()" is called for dynamic pad
  src/plugins/intel_gpu/src/kernel_selector/kernels/fully_connected/fully_connected_kernel_bf_tiled.cpp
  src/plugins/intel_gpu/src/kernel_selector/tensor_type.h
Labels: category: GPU

#28461 [GPU] Fix reverse_sequence for 4 dims inputs
  src/plugins/intel_gpu/include/intel_gpu/primitives/reverse_sequence.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl/reverse_sequence.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/reverse_sequence_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/reverse_sequence/reverse_sequence_kernel_ref.cpp
  tests/layer_tests/tensorflow_tests/test_tf_Reverse.py
Labels: category: GPU, ExternalIntelPR, category: TF FE

#28928 [TRANSFORMATIONS] Set proper of VLM's "inputs_embeds" input
  src/common/transformations/tests/op_conversions/sdpa_to_paged_attention_test.cpp
  src/core/src/pass/sdpa_to_paged_attention.cpp
Labels: category: Core, category: transformations

#28923 [GPU] Enable gather in rope kernel
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/rope_opt.cl
Labels: category: GPU

#28810 [LPT TRANSFORMATIONS] Enable MarkDequantization & KeepConstPrecision to process more complex patterns
  src/common/low_precision_transformations/tests/mark_dequantization_subgraph_transformation.cpp
  src/common/transformations/include/transformations/low_precision/mark_dequantization_subgraph.hpp
  src/common/transformations/src/transformations/low_precision/mark_dequantization_subgraph.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU, category: CPU, category: transformations, category: LP transformations

#28935 [NPUW] Add new compute pattern
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/compiler.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/compute.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/compute.hpp
Labels: category: NPU, category: NPUW

#28930 Fix standalone gflags search
  src/plugins/intel_npu/tools/compile_tool/cmake/standalone.cmake
  src/plugins/intel_npu/tools/protopipe/cmake/standalone.cmake
  src/plugins/intel_npu/tools/single-image-test/cmake/standalone.cmake
Labels: category: build, category: NPU

#28938 [GHA] Get rid of Ubuntu 20 runners
  .github/workflows/build_doc.yml
  .github/workflows/py_checks.yml
Labels: category: CI, github_actions

#28338 vtensors transpose for llama3
  src/core/src/pattern/matcher.cpp
  src/plugins/intel_npu/src/al/include/intel_npu/config/npuw.hpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/src/metrics.cpp
Labels: category: Core, category: NPU, category: NPUW

#28279 [GPU] Optimize sdpa_opt_finalization_stage
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_opt.cpp
Labels: category: GPU

#28937 [CPU][DEBUG_CAPS] Fix OV_CPU_VERBOSE missing shapes
  src/plugins/intel_cpu/src/utils/verbose.cpp
Labels: category: CPU

#28947 [DOC] Fix typos in documentation
  docs/notebooks/flux.1-image-generation-with-output.rst
  docs/notebooks/hugging-face-hub-with-output.rst
  docs/notebooks/internvl2-with-output.rst
  docs/notebooks/llava-multimodal-chatbot-genai-with-output.rst
  docs/notebooks/llava-multimodal-chatbot-optimum-with-output.rst
  docs/notebooks/llava-next-multimodal-chatbot-with-output.rst
  docs/notebooks/minicpm-v-multimodal-chatbot-with-output.rst
  docs/notebooks/modelscope-to-openvino-with-output.rst
  docs/notebooks/nano-llava-multimodal-chatbot-with-output.rst
  docs/notebooks/outetts-text-to-speech-with-output.rst
  docs/notebooks/phi-3-vision-with-output.rst
  docs/notebooks/pixtral-with-output.rst
  docs/notebooks/qwen2-vl-with-output.rst
  docs/notebooks/sana-image-generation-with-output.rst
Labels: category: docs

#28103 Add specification for `SegmentMax-16`
  docs/articles_en/documentation/openvino-ir-format/operation-sets/operation-specs/arithmetic/segment-max-16.rst
Labels: category: docs

#28901 [DOCS] put pdf in LFS
  .gitattributes
  docs/sphinx_setup/_static/download/GenAI_Quick_Start_Guide.pdf
  docs/sphinx_setup/_static/download/OpenVINO_Quick_Start_Guide.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_performance-data.xlsx
  docs/sphinx_setup/_static/download/benchmarking_OV_platform_list.pdf
  docs/sphinx_setup/_static/download/benchmarking_OV_system_info_detailed.xlsx
  docs/sphinx_setup/_static/download/benchmarking_genai_platform_list.pdf
Labels: category: docs, no-match-files

#28952 GHA: temporary disable GenAI build on Android x64
  .github/workflows/android_x64.yml
Labels: category: CI, github_actions

#28955 [DOCS] NPU update for whisper port
  docs/articles_en/openvino-workflow-generative/inference-with-genai.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
Labels: category: docs

#28904 [DOCS] NPU update for whisper
  docs/articles_en/openvino-workflow-generative/inference-with-genai.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
Labels: category: docs

#28922 Fixed issue with LLM accuracy tests
  tests/llm/accuracy_conformance.py
Labels: no-match-files

#28905 [Py OV] Change simplefilter to filterwarnings in ov.runtime
  src/bindings/python/src/openvino/runtime/__init__.py
Labels: category: Python API

#28253 [DOCS] Add weightless caching docs
  docs/articles_en/assets/snippets/ov_caching.cpp
  docs/articles_en/assets/snippets/ov_caching.py
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-latency/model-caching-overview.rst
Labels: category: docs, category: docs_snippets

#28698 Add `SegmentMax-16` to Core
  src/core/include/openvino/op/ops.hpp
  src/core/include/openvino/op/segment_max.hpp
  src/core/include/openvino/op/util/attr_types.hpp
  src/core/shape_inference/include/segment_max_shape_inference.hpp
  src/core/src/op/segment_max.cpp
  src/core/src/op/util/attr_types.cpp
  src/core/tests/type_prop/segment_max.cpp
  src/core/tests/visitors/op/segment_max.cpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/plugins/intel_cpu/tests/unit/shape_inference_test/segment_max_shape_inference_test.cpp
Labels: category: Core, category: CPU, category: CPP API

#28850 [GPU] applying activations scaling only to layers whose 1st input precision is the same as infer precision.
  src/plugins/intel_gpu/src/plugin/transformations/increase_position_ids_precision.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU

#28620 Update RopeFusion to support Qwen model after SDPA to PA conversion.
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/common/transformations/tests/common_optimizations/fuse_rotary_positional_embeddings.cpp
  src/plugins/intel_cpu/src/nodes/rope.cpp
Labels: category: CPU, category: transformations

#28951 [NPU] If context is already destroyed it will not return success
  src/plugins/intel_npu/src/common/include/intel_npu/common/igraph.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_graph.cpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_api.hpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_init.hpp
  src/plugins/intel_npu/src/utils/src/zero/zero_api.cpp
  src/plugins/intel_npu/src/utils/src/zero/zero_init.cpp
Labels: category: NPU

#28854 [CORE] Ov file path util part2
  src/common/util/include/openvino/util/file_util.hpp
  src/common/util/src/file_util.cpp
  src/core/tests/check.cpp
  src/core/tests/file_util.cpp
  src/core/tests/frontend/frontend_manager.cpp
  src/core/tests/pass/serialization/deterministicity.cpp
  src/core/tests/pass/serialization/serialize.cpp
  src/core/tests/pass/visualize_tree.cpp
  src/frontends/onnx/frontend/src/utils/onnx_internal.cpp
  src/frontends/onnx/frontend/src/utils/tensor_external_data.cpp
  src/frontends/onnx/tests/lib_close.cpp
  src/frontends/onnx/tests/load_from.cpp
  src/frontends/onnx/tests/onnx_import_convpool.in.cpp
  src/frontends/onnx/tests/onnx_import_quant.in.cpp
  src/frontends/onnx/tests/onnx_importer_test.cpp
  src/frontends/onnx/tests/onnx_utils.cpp
  src/frontends/onnx/tests/op_extension.cpp
  src/frontends/paddle/tests/lib_close.cpp
  src/frontends/tensorflow/src/graph_iterator_saved_model.cpp
  src/frontends/tensorflow/src/variables_index.cpp
  src/frontends/tests/frontend/shared/gtest_main_manifest/main.cpp
  src/inference/src/cpp/core.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/cache/cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/cache/graph_cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/cache/op_cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/main.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/utils/cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/cache/cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/cache/graph_cache.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/cache/meta.cpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/tests/cache/op_cache.cpp
  src/tests/test_utils/common_test_utils/src/file_utils.cpp
Labels: category: inference, category: Core, category: IE Tests, category: ONNX FE, category: PDPD FE, category: TF FE

#28970 Update README.md
  tools/benchmark_tool/README.md
Labels: category: docs, category: tools

#28895 [CPU]avx512 target use evex encoded instructions in load store emitters
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_load_store_emitters.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU

#28469 [NPUW] Weightless serialization
  src/plugins/intel_npu/src/al/include/intel_npu/config/runtime.hpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.cpp
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.hpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.hpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU, category: NPUW

#28797 [GPU] Check if fused op has dynamic shape in GetParamsKey()
  src/plugins/intel_gpu/src/kernel_selector/kernel_selector_params.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/permute_gpu_test.cpp
Labels: category: GPU

#28915 [CPU] fix qkv_proj/mlp jit kernel's win32 support
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_kernel.hpp
  src/plugins/intel_cpu/src/nodes/qkv_proj.cpp
Labels: category: CPU

#28990 [DOCS] Add weightless caching docs - porting 28253
  docs/articles_en/assets/snippets/ov_caching.cpp
  docs/articles_en/assets/snippets/ov_caching.py
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/optimizing-latency/model-caching-overview.rst
Labels: category: docs, category: docs_snippets

#28900 Make custom ThreadLocal implementation copyable
  src/inference/dev_api/openvino/runtime/threading/thread_local.hpp
Labels: category: inference

#28989 [CPU][ARM64] Implemented JIT Emitter for Eltwise Squared Difference Operation
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/eltwise.cpp
Labels: category: CPU, platform: arm, ExternalPR

#28974 [CI] Update reviewdog to not used deprecated option and check all files
  .github/workflows/code_style.yml
  src/frontends/onnx/frontend/src/utils/onnx_internal.cpp
  src/frontends/onnx/tests/onnx_import_convpool.in.cpp
  src/frontends/tensorflow/src/graph_iterator_saved_model.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_loop_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_loop_emitters.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_loop_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_loop_emitters.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_reg_spill_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_reg_spill_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/aarch64/jit_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_kernel.hpp
  thirdparty/itt_collector/sea_itt_lib/IttNotifyStdSrc.cpp
Labels: category: CPU, category: CI, category: ONNX FE, category: dependency_changes, category: TF FE, github_actions

#28870 [CPU][ACL] int8 MatMul support
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/low_precision_transformations/aarch64/mat_mul_transformation.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/tests/functional/plugin/shared/src/low_precision_transformations/mat_mul_transformation.cpp
Labels: category: IE Tests, category: CPU, platform: arm

#28997 [NPUW] Fix weights_path property
  src/plugins/intel_npu/src/al/include/intel_npu/config/runtime.hpp
  src/plugins/intel_npu/src/al/src/config/runtime.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
Labels: category: NPU

#28973 [CORE] Fix tensor is_continuous method
  src/core/src/runtime/itensor.cpp
  src/core/tests/ov_tensor_test.cpp
  src/plugins/intel_npu/tests/functional/behavior/remote_tensor_tests/remote_run.hpp
Labels: category: Core, category: NPU

#28425 Executorch initial support
  src/bindings/python/src/openvino/frontend/pytorch/fx_decoder.py
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/op_support.py
  src/frontends/pytorch/src/op_table.cpp
  tests/layer_tests/pytorch_tests/test_as_strided.py
  tests/layer_tests/pytorch_tests/test_expand.py
  tests/layer_tests/pytorch_tests/test_permute.py
  tests/layer_tests/pytorch_tests/test_select.py
  tests/layer_tests/pytorch_tests/test_split.py
  tests/layer_tests/pytorch_tests/test_squeeze.py
  tests/layer_tests/pytorch_tests/test_unsqueeze.py
  tests/layer_tests/pytorch_tests/test_view.py
Labels: category: Python API, category: PyTorch FE, Code Freeze

#29004 [Transformations] Hotfix for clang-format remarks
  src/common/transformations/tests/op_conversions/scaled_dot_product_decomposition_test.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU, category: transformations

#28428 [HETERO] Add CPU and GPU plugins to tests dependencies if exists
  src/plugins/hetero/tests/functional/CMakeLists.txt
Labels: category: HETERO, category: build

#28652 remove cpu_reset in destruction of CPUStreamsExecutor
  src/inference/src/dev/threading/cpu_streams_executor.cpp
Labels: category: inference

#28778 [Layer][GPU][TF FE] test_segment_sum failed with get_shape was called…
  src/plugins/intel_gpu/src/graph/impls/ocl/embedding_bag.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/embedding_bag_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/embedding_bag/embedding_bag_kernel_ref.cpp
  src/plugins/intel_gpu/src/plugin/ops/embedding_bag.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/embedding_bag_gpu_test.cpp
  tests/layer_tests/tensorflow_tests/test_tf_SegmentSum.py
  tests/layer_tests/tensorflow_tests/test_tf_SparseSegmentMean.py
  tests/layer_tests/tensorflow_tests/test_tf_UnsortedSegmentSum.py
Labels: category: GPU, ExternalIntelPR, category: TF FE

#28995 [NPU] Fix SDL issues
  src/plugins/intel_npu/src/al/src/config/config.cpp
  src/plugins/intel_npu/src/backend/include/zero_tensor.hpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_profiling.cpp
  src/plugins/intel_npu/src/backend/src/zero_remote_tensor.cpp
  src/plugins/intel_npu/src/backend/src/zero_tensor.cpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/igraph.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/ir_serializer.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/src/utils/src/zero/zero_init.cpp
Labels: category: NPU

#28446 [NPU] Add CLI option to directly pass reference files when running tests
  src/plugins/intel_npu/tools/single-image-test/main.cpp
Labels: good first issue, ExternalPR, category: NPU

#28982 [DOCS] fix typos links and formatting
  README.md
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project.rst
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/openvino-workflow-generative.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
  docs/dev/pypi_publish/pypi-openvino-rt.md
  samples/c/hello_classification/README.md
  samples/c/hello_nv12_input_classification/README.md
  samples/cpp/benchmark/sync_benchmark/README.md
  samples/cpp/benchmark/throughput_benchmark/README.md
  samples/cpp/benchmark_app/README.md
  samples/cpp/classification_sample_async/README.md
  samples/cpp/hello_classification/README.md
  samples/cpp/hello_nv12_input_classification/README.md
  samples/cpp/hello_query_device/README.md
  samples/cpp/hello_reshape_ssd/README.md
  samples/cpp/model_creation_sample/README.md
  samples/python/benchmark/bert_benchmark/README.md
  samples/python/benchmark/sync_benchmark/README.md
  samples/python/benchmark/throughput_benchmark/README.md
  samples/python/classification_sample_async/README.md
  samples/python/hello_classification/README.md
  samples/python/hello_query_device/README.md
  samples/python/hello_reshape_ssd/README.md
  samples/python/model_creation_sample/README.md
  src/plugins/intel_gpu/docs/gpu_plugin_driver_troubleshooting.md
  tools/benchmark_tool/README.md
Labels: category: GPU, category: samples, category: docs, category: tools, WIP

#29002 [NPUW] Fix DQ not applying due to reference
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
Labels: category: NPU, category: NPUW

#29022 [Snippets][CPU] Fix overflowed integer argument coverity issues
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.cpp
Labels: category: CPU

#26028 [GHA] CPU sanitizers for functional tests.
  .github/workflows/linux_sanitizers.yml
Labels: category: CI, github_actions

#28481 [CI] [GHA] HuggingFace cache
  .github/workflows/job_jax_layer_tests.yml
  .github/workflows/job_jax_models_tests.yml
  .github/workflows/job_onnx_models_tests.yml
  .github/workflows/job_pytorch_layer_tests.yml
  .github/workflows/job_pytorch_models_tests.yml
  .github/workflows/job_tensorflow_layer_tests.yml
  .github/workflows/job_tensorflow_models_tests.yml
  tests/model_hub_tests/jax/test_hf_transformers.py
  tests/model_hub_tests/models_hub_common/constants.py
  tests/model_hub_tests/performance_tests/test_tf_hub_performance_model.py
  tests/model_hub_tests/pytorch/test_edsr.py
  tests/model_hub_tests/pytorch/test_hf_transformers.py
Labels: category: CI, category: TF FE, github_actions, category: PyTorch FE, category: JAX FE

#29001 [DOCS] Fixing typos, links and formatting - porting 28982
  README.md
  docs/articles_en/about-openvino/openvino-ecosystem/openvino-project.rst
  docs/articles_en/documentation/legacy-features.rst
  docs/articles_en/openvino-workflow-generative.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
  docs/dev/pypi_publish/pypi-openvino-rt.md
  samples/c/hello_classification/README.md
  samples/c/hello_nv12_input_classification/README.md
  samples/cpp/benchmark/sync_benchmark/README.md
  samples/cpp/benchmark/throughput_benchmark/README.md
  samples/cpp/benchmark_app/README.md
  samples/cpp/classification_sample_async/README.md
  samples/cpp/hello_classification/README.md
  samples/cpp/hello_nv12_input_classification/README.md
  samples/cpp/hello_query_device/README.md
  samples/cpp/hello_reshape_ssd/README.md
  samples/cpp/model_creation_sample/README.md
  samples/python/benchmark/bert_benchmark/README.md
  samples/python/benchmark/sync_benchmark/README.md
  samples/python/benchmark/throughput_benchmark/README.md
  samples/python/classification_sample_async/README.md
  samples/python/hello_classification/README.md
  samples/python/hello_query_device/README.md
  samples/python/hello_reshape_ssd/README.md
  samples/python/model_creation_sample/README.md
  src/plugins/intel_gpu/docs/gpu_plugin_driver_troubleshooting.md
  tools/benchmark_tool/README.md
Labels: category: GPU, category: samples, category: docs, category: tools, WIP

#29028 [CPU] Fix Windows build issues
  src/common/snippets/include/snippets/op/perf_count.hpp
  src/tests/functional/plugin/conformance/subgraphs_dumper/src/matchers/subgraph/manager.cpp
Labels: category: IE Tests, category: CPU

#29031 License whitelist for dependency checker update
  .github/dependency_review.yml
Labels: category: CI

#28788 Add `SegmentMax-16` reference implementation
  src/core/include/openvino/op/util/attr_types.hpp
  src/core/include/openvino/opsets/opset16_tbl.hpp
  src/core/reference/include/openvino/reference/segment_max.hpp
  src/core/shape_inference/include/segment_max_shape_inference.hpp
  src/core/tests/opset.cpp
  src/core/tests/type_prop/segment_max.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/ops/segment_max.cpp
  src/plugins/template/backend/opset_int_tbl.hpp
  src/plugins/template/tests/functional/op_reference/segment_max.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: TEMPLATE, category: CPP API

#28977 Fix install_tbb cmake to correctly copy custom archive
  src/cmake/install_tbb.cmake
Labels: category: inference, category: build

#28673 [GPU] Use FP32 accumulator for QK multiplication for 2nd+ token calculation in PagedAttention
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
Labels: category: GPU

#27358 [RtInfo/IR] Serialize non RuntimeAttribute rt_info entries of Node and Tensor
  src/core/src/pass/serialize.cpp
  src/core/tests/pass/serialization/rt_info_serialization.cpp
  src/frontends/ir/src/ir_deserializer.cpp
  src/frontends/ir/tests/rt_info_custom.cpp
Labels: category: MO, category: Core, category: IR FE, no_stale

#29037 Revert "Add `SegmentMax-16` reference implementation"
  src/core/include/openvino/op/util/attr_types.hpp
  src/core/include/openvino/opsets/opset16_tbl.hpp
  src/core/reference/include/openvino/reference/segment_max.hpp
  src/core/shape_inference/include/segment_max_shape_inference.hpp
  src/core/tests/opset.cpp
  src/core/tests/type_prop/segment_max.cpp
  src/plugins/template/backend/ops/ops_evaluates.hpp
  src/plugins/template/backend/ops/segment_max.cpp
  src/plugins/template/backend/opset_int_tbl.hpp
  src/plugins/template/tests/functional/op_reference/segment_max.cpp
  src/tests/functional/plugin/conformance/test_runner/op_conformance_runner/src/op_impl_check/single_op_graph.cpp
Labels: category: Core, category: IE Tests, category: TEMPLATE, category: CPP API

#29036 Revert "[RtInfo/IR] Serialize non RuntimeAttribute rt_info entries of Node and Tensor"
  src/core/src/pass/serialize.cpp
  src/core/tests/pass/serialization/rt_info_serialization.cpp
  src/frontends/ir/src/ir_deserializer.cpp
  src/frontends/ir/tests/rt_info_custom.cpp
Labels: category: Core, category: IR FE

#28865 [GPU] Use usm_device for output buffer for BMG
  src/plugins/intel_gpu/include/intel_gpu/plugin/common_utils.hpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/sync_infer_request.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/broadcast_si_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/broadcast_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/deconvolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/depth_to_space_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/dynamic_quantize_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gather_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/group_normalization_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/permute_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/pooling_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reshape_gpu_test.cpp
Labels: category: GPU

#28916 [GPU] Add new_shape_infer support in deconvolution
  src/plugins/intel_gpu/src/graph/deconvolution.cpp
  src/plugins/intel_gpu/src/plugin/ops/convolution.cpp
  src/plugins/intel_gpu/tests/unit/fusions/deconvolution_fusion_test.cpp
Labels: category: GPU

#28286 Update access modifiers for CPU impls
  src/plugins/intel_gpu/include/intel_gpu/runtime/device.hpp
  src/plugins/intel_gpu/src/graph/impls/cpu/broadcast.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/concat.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/fake_convert.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/gather.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/range.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/reorder.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/scatter_update.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/select.cpp
  src/plugins/intel_gpu/src/graph/impls/cpu/tile.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.cpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_device.hpp
  src/plugins/intel_gpu/src/runtime/ocl/ocl_memory.hpp
  src/plugins/intel_gpu/tests/unit/module_tests/device_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/activation_simple_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/concatenation_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/crop_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gather_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/shape_of_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/strided_slice_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/tile_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/test_utils.h
Labels: category: GPU

#29016 [CORE][CACHE][HASH] DYNAMIC_CODE_POLICY check on Windows
  src/core/src/runtime/compute_hash.cpp
Labels: category: Core

#28713 [ONNX] Added BiasAdd from com.microsoft domain
  src/frontends/onnx/frontend/src/op/com.microsoft/bias_add.cpp
  src/frontends/onnx/tests/models/com.microsoft/bias_add.prototxt
  src/frontends/onnx/tests/onnx_import_com_microsoft.in.cpp
Labels: ExternalPR, category: ONNX FE

#29041 Fix clang-tidy executable path
  cmake/developer_package/plugins/plugins.cmake
Labels: category: build

#29026 [NPU] Update NF4 precision conversions in NPU plugin
  samples/cpp/benchmark_app/inputs_filling.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_utils.hpp
Labels: category: samples, category: NPU

#28507 [GPU] static strided_sliced crop to use tensor
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/stridedslice_eltwise.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/tests/functional/plugin/shared/include/subgraph_tests/stridedslice_eltwise.hpp
  src/tests/functional/shared_test_classes/include/shared_test_classes/subgraph/stridedslice_eltwise.hpp
  src/tests/functional/shared_test_classes/src/subgraph/stridedslice_eltwise.cpp
Labels: category: IE Tests, category: GPU

#29048 Bump product version to 2024.5.1
  cmake/packaging/debian.cmake
  cmake/packaging/rpm.cmake
  src/core/include/openvino/core/version.hpp
Labels: category: Core, category: build, category: CPP API, category: packaging
