Repository openvinotoolkit/openvino, pull requests merged in 2025-07, with the labels that each got.

#30928 [NPUW] Fix coverity issues
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/logging.cpp
  src/plugins/intel_npu/src/plugin/npuw/logging.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/graph.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/graph.hpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/snapshot.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/partitioning.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/dcoff.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/patterns/opt.hpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.hpp
Labels: ExternalIntelPR, category: NPU, category: NPUW

#30850 [GPU] added missing interpolate TEST_P
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/interpolate.cpp
Labels: category: GPU

#30857 [CPU] Disable sporadically failing ARM func tests
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, platform: arm

#31168 SDPAFusion: bug fix and testing
  src/common/transformations/src/transformations/common_optimizations/sdpa_fusion.cpp
  src/common/transformations/tests/common_optimizations/sdpa_fusion_test.cpp
Labels: category: transformations

#31185 Revert "[GPU] enable dynamic shape conv on compile graph pass (#30944)"
  src/plugins/intel_gpu/src/graph/registry/convolution_impls.cpp
Labels: category: GPU

#31176 [CI] [GHA] Add product mappings for `manylinux2014/2_28` to provider
  .github/actions/common/constants.py
Labels: category: CI

#31169 [NPU] Support Turbo config with offline compilation
  src/plugins/intel_npu/src/al/include/intel_npu/config/options.hpp
  src/plugins/intel_npu/src/common/src/filtered_config.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
Labels: category: NPU

#31117 [TRANSFORMATIONS] SDPAToPA: Add PositionIDsReplacerCodeGen2
  src/common/transformations/include/transformations/sdpa_to_paged_attention/position_ids_replacer.hpp
  src/common/transformations/include/transformations/sdpa_to_paged_attention/total_sequence_length_pattern.hpp
  src/common/transformations/src/transformations/sdpa_to_paged_attention/position_ids_replacer.cpp
  src/common/transformations/src/transformations/sdpa_to_paged_attention/total_sequence_length_pattern.cpp
  src/common/transformations/tests/op_conversions/sdpa_to_paged_attention_test.cpp
  src/core/include/openvino/pass/pattern/op/wrap_type.hpp
  src/core/src/pass/sdpa_to_paged_attention.cpp
  src/core/src/pattern/op/wrap_type.cpp
  src/core/tests/type_prop/read_value.cpp
Labels: category: Core, category: transformations, category: CPP API

#31112 [Snippets][CPU] Support runtime offsets in ARM load/store emitters
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_memory_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_memory_emitters.hpp
  src/plugins/intel_cpu/src/emitters/snippets/jit_snippets_call_args.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/softmax.cpp
  src/tests/functional/plugin/shared/include/snippets/softmax.hpp
  src/tests/functional/plugin/shared/src/snippets/softmax.cpp
  src/tests/ov_helpers/ov_snippets_models/include/subgraph_softmax.hpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_softmax.cpp
Labels: category: IE Tests, category: CPU, platform: arm

#31193 [NPU] Fix coverity issue
  src/plugins/intel_npu/src/plugin/include/metadata.hpp
Labels: category: NPU

#30957 [GPU] Avoid memory allocation for any node can reuse previous memory
  src/plugins/intel_gpu/src/graph/include/program_helpers.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/graph/program.cpp
  src/plugins/intel_gpu/src/graph/program_helpers.cpp
Labels: category: GPU, ExternalIntelPR

#31199 [NPU] Do not throw if driver doesn't support turbo
  src/plugins/intel_npu/src/compiler_adapter/src/graph.cpp
Labels: category: NPU

#30988 [ONNX] Added RotaryEmbedding from com.microsoft domain
  src/frontends/onnx/docs/supported_ops.md
  src/frontends/onnx/frontend/src/op/com.microsoft/rotary_embedding.cpp
  src/frontends/onnx/tests/models/com.microsoft/rotary_embedding.prototxt
  src/frontends/onnx/tests/onnx_import_com_microsoft.in.cpp
Labels: category: docs, ExternalIntelPR, category: ONNX FE

#31162 [GHA] Use clang formatter 18.1.8 instead of 18.1.3
  .github/workflows/code_style.yml
  src/bindings/js/node/src/preprocess/input_info.cpp
  src/bindings/js/node/src/preprocess/input_model_info.cpp
  src/bindings/js/node/src/preprocess/input_tensor_info.cpp
  src/bindings/js/node/src/preprocess/output_info.cpp
  src/bindings/js/node/src/preprocess/output_tensor_info.cpp
  src/bindings/js/node/src/preprocess/preprocess_steps.cpp
  src/common/snippets/src/shape_inference/shape_inference.cpp
  src/common/transformations/include/transformations/common_optimizations/simplify_shape_of_sub_graph.hpp
  src/core/include/openvino/pass/pattern/op/optional.hpp
  src/core/reference/src/utils/philox_generator.cpp
  src/core/src/pattern/op/predicate.cpp
  src/core/src/type/float4_e2m1.cpp
  src/core/src/type/float8_e5m2.cpp
  src/core/src/type/float8_e8m0.cpp
  src/frontends/paddle/src/op/lstm.cpp
  src/frontends/tensorflow_lite/src/tensor_lite_place.hpp
  src/plugins/intel_cpu/src/cpu_memory.h
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/cpu_generator.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/cpu_generator.cpp
  src/plugins/intel_cpu/src/nodes/kernels/kai/kleidi_kernel.hpp
  src/plugins/intel_cpu/src/shape_inference/shape_inference.cpp
  src/tests/test_utils/unit_test_utils/tests_data/istft_data.h
  src/tests/test_utils/unit_test_utils/tests_data/roi_align_rotated_data.h
  src/tests/test_utils/unit_test_utils/tests_data/scaled_dot_product_attention_data.h
  src/tests/test_utils/unit_test_utils/tests_data/search_sorted_data.h
  src/tests/test_utils/unit_test_utils/tests_data/stft_data.h
Labels: category: Core, category: IE Tests, category: CPU, category: transformations, category: CI, category: PDPD FE, category: CPP API, github_actions, category: TFL FE, category: JS API

#31050 [GPU] Use 3D shape for onednn 1D convolution
  src/plugins/intel_gpu/src/graph/impls/onednn/convolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/deconvolution_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/impls/onednn/reorder_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/src/runtime/layout.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/deconvolution_gpu_test.cpp
Labels: category: GPU, under_perf_check

#31170 [PT FE] Support list concatenation in Loop
  src/frontends/pytorch/src/frontend.cpp
  src/frontends/pytorch/src/transforms/append_list_unpack_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_cat_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_getitem_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_index_put_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_index_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_stack_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/aten_stack_list_construct_replacer.hpp
  src/frontends/pytorch/src/transforms/einsum_list_construct.cpp
  src/frontends/pytorch/src/transforms/min_max_prim_list_construct_replacer.cpp
  src/frontends/pytorch/src/transforms/prim_list_construct_pad.cpp
  src/frontends/pytorch/src/transforms/prim_list_unpack_replacer.cpp
  src/frontends/pytorch/src/transforms/tuple_unpack_replacer.cpp
  src/frontends/pytorch/src/utils.cpp
  src/frontends/pytorch/src/utils.hpp
  tests/layer_tests/pytorch_tests/test_cat.py
Labels: category: PyTorch FE

#31208 [CI] [GHA] Increase timeout for the Nvidia job
  .github/workflows/ubuntu_22.yml
Labels: category: CI, github_actions

#31217 [CPU][RV64][TESTS] Enable RISC-V specific tests on -DENABLE_CPU_SPECIFIC_TARGET_PER_TEST=ON
  src/plugins/intel_cpu/tests/functional/cmake/target_per_test.cmake
Labels: category: CPU, category: build, platform: risc-v

#31206 [GPU] Add func test for implicit padding in dynamic convolution
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/convolution.cpp
Labels: category: GPU

#31164 Added OV_FORCE_ADHOC_SIGN to force enable adhoc signature if needed
  src/CMakeLists.txt
Labels: category: build, platform: arm

#31216 [LPT] Adapt LPT pipeline for FakeConvert ops
  src/common/low_precision_transformations/include/low_precision/layer_transformation.hpp
  src/common/low_precision_transformations/include/low_precision/low_precision.hpp
  src/common/low_precision_transformations/src/layer_transformation.cpp
  src/common/low_precision_transformations/src/low_precision.cpp
  src/common/low_precision_transformations/tests/is_function_quantized_transformation.cpp
Labels: category: LP transformations

#31156 fix 'get_partial_shape().same_scheme(value.get_shape())' failed at src/core/src/descriptor/tensor.cpp:165
  src/core/src/op/broadcast.cpp
  src/core/tests/type_prop/broadcast.cpp
Labels: category: Core

#31227 [GHA] Deleted Ubuntu 20 x86 workflow
  .github/workflows/ubuntu_20.yml
Labels: category: CI, github_actions

#31044 [GPU] Disable crop buffer fusing for better perf
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
Labels: category: GPU

#31228 [GPU] Handle runtime scale value with scalar attention mask and scale input for SDPA
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/sdpa_ref.cl
  src/plugins/intel_gpu/tests/functional/single_layer_tests/dynamic/scaled_dot_product_attention.cpp
Labels: category: GPU

#31021 Fix missing default partition_id in openvino_execute
  src/bindings/python/src/openvino/frontend/pytorch/torchdynamo/execute.py
Labels: category: Python API, ExternalPR, category: PyTorch FE

#31181 [core] Change u2 values packing in byte
  src/core/dev_api/openvino/core/type/element_iterator.hpp
  src/core/src/op/constant.cpp
  src/core/tests/constant.cpp
  src/core/tests/element_iterator_test.cpp
  src/plugins/template/tests/functional/op_reference/convert_like.cpp
Labels: category: Core, category: TEMPLATE

#29322 [CPU] Add test case of setting model_distribution_policy to TENSOR_PARALLEL
  src/inference/dev_api/openvino/runtime/threading/istreams_executor.hpp
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.hpp
  src/plugins/intel_cpu/src/infer_request.cpp
  src/plugins/intel_cpu/src/internal_properties.hpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/custom/behavior/ov_plugin/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/mat_mul.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/subgraph_tests/shared_matmul_weights_decompression.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/shared_matmul_weights_decompression.cpp
  src/tests/functional/plugin/shared/include/shared_test_classes/single_op/mat_mul.hpp
  src/tests/functional/plugin/shared/include/shared_test_classes/subgraph/shared_matmul_weights_decompression.hpp
  src/tests/functional/plugin/shared/src/subgraph/shared_matmul_weights_decompression.cpp
Labels: category: inference, category: IE Tests, category: CPU

#30634 [CPU]Optmize MatMul with small spatial dimension
  src/plugins/intel_cpu/src/nodes/executors/matmul.hpp
  src/plugins/intel_cpu/src/nodes/executors/x64/matmul_small.cpp
  src/plugins/intel_cpu/src/nodes/executors/x64/matmul_small.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/jit_matmul_small.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/jit_matmul_small.hpp
  src/plugins/intel_cpu/src/nodes/matmul.cpp
  src/plugins/intel_cpu/src/nodes/matmul.h
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/instances/x64/matmul.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/single_layer_tests/mat_mul.cpp
Labels: category: CPU

#31210 [GPU] Add binary_div post-op for oneDNN
  src/plugins/intel_gpu/include/intel_gpu/graph/fused_primitive_desc.hpp
  src/plugins/intel_gpu/src/graph/impls/onednn/primitive_onednn_base.h
  src/plugins/intel_gpu/src/graph/include/to_string_utils.h
  src/plugins/intel_gpu/src/graph/program_node.cpp
  src/plugins/intel_gpu/tests/unit/fusions/convolution_fusion_test.cpp
Labels: category: GPU

#30924 [GPU] Fix create reshape op to avoid different input/output rank of onednn weight reorder
  src/plugins/intel_gpu/src/plugin/ops/reshape.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/reshape_group_convolution.cpp
Labels: category: GPU

#31238 [GHA] Removed setup variables workaround
  .github/workflows/debian_10_arm.yml
  .github/workflows/fedora_29.yml
  .github/workflows/job_build_linux.yml
  .github/workflows/job_cpu_functional_tests.yml
  .github/workflows/job_cxx_unit_tests.yml
  .github/workflows/job_debian_packages.yml
  .github/workflows/job_gpu_tests.yml
  .github/workflows/job_jax_layer_tests.yml
  .github/workflows/job_jax_models_tests.yml
  .github/workflows/job_keras3_backend.yml
  .github/workflows/job_onnx_models_tests.yml
  .github/workflows/job_onnx_runtime.yml
  .github/workflows/job_openvino_js.yml
  .github/workflows/job_python_api_tests.yml
  .github/workflows/job_python_unit_tests.yml
  .github/workflows/job_pytorch_fx_layer_tests.yml
  .github/workflows/job_pytorch_layer_tests.yml
  .github/workflows/job_pytorch_models_tests.yml
  .github/workflows/job_samples_tests.yml
  .github/workflows/job_tensorflow_layer_tests.yml
  .github/workflows/job_tensorflow_models_tests.yml
  .github/workflows/job_tokenizers.yml
  .github/workflows/linux_arm64.yml
  .github/workflows/manylinux_2014.yml
  .github/workflows/manylinux_2_28.yml
  .github/workflows/ubuntu_22.yml
  .github/workflows/ubuntu_22_dpcpp.yml
  .github/workflows/ubuntu_24.yml
  .github/workflows/windows_vs2022_release.yml
Labels: category: CI, github_actions

#31222 [Snippets][TESTS] Refactor movebroadcast and codegen_gelu tests
  src/common/snippets/tests/include/pass/movebroadcast.hpp
  src/common/snippets/tests/src/pass/movebroadcast.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/codegen_gelu.cpp
  src/tests/functional/plugin/shared/src/snippets/codegen_gelu.cpp
  src/tests/ov_helpers/ov_snippets_models/include/subgraph_gelu.hpp
  src/tests/ov_helpers/ov_snippets_models/include/subgraph_movebroadcast.hpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_gelu.cpp
  src/tests/ov_helpers/ov_snippets_models/src/subgraph_movebroadcast.cpp
Labels: category: IE Tests, category: CPU

#31247 [GHA] Switch cleanup_caches to medium runners & Ubuntu 24 base image
  .github/workflows/cleanup_caches.yml
Labels: category: CI, github_actions

#31248 [GHA] Nightly build with latest OneDNN to Ubuntu 22
  .github/workflows/job_build_linux.yml
Labels: category: CI, github_actions

#31165 [Logger] Add log callback setup
  src/common/util/include/openvino/util/log.hpp
  src/common/util/src/log.cpp
  src/core/dev_api/openvino/core/log_util.hpp
  src/core/include/openvino/core/log.hpp
  src/core/src/log.cpp
  src/core/tests/logger.cpp
  src/frontends/paddle/src/input_model.cpp
  src/inference/dev_api/openvino/runtime/plugin_config.hpp
  src/inference/src/dev/plugin_config.cpp
  src/plugins/auto/src/utils/log.hpp
  src/plugins/intel_npu/src/plugin/npuw/logging.hpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/logger/logger.hpp
  src/plugins/intel_npu/src/utils/src/logger/logger.cpp
Labels: category: inference, category: Core, category: AUTO, category: PDPD FE, category: CPP API, category: NPU, category: NPUW

#31207 [CPU][PA]Fix block_num calculation for vLLM
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/x64/paged_attn.cpp
Labels: category: CPU

#31202 [NPUW] Fix empty output if the app set output tensor before infer
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/base_sync_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/just_sync_infer_request.hpp
Labels: category: NPU, category: NPUW

#31220 [Snippets][CPU][TESTS] Refactor BufferAllocation test to reduce code duplication
  src/common/snippets/tests/CMakeLists.txt
  src/common/snippets/tests/include/lowered/pass/buffer_allocation.hpp
  src/common/snippets/tests/src/lowered/pass/buffer_allocation.cpp
  src/plugins/intel_cpu/tests/unit/snippets_transformations/x64/lowered/buffer_allocation.cpp
Labels: category: CPU, category: build

#31260 [GHA][CLANG-TIDY] Add `-k 0` flag for build commands
  .github/workflows/clang_tidy.yml
Labels: category: CI, github_actions

#31267 Ovms 2025.2 new results
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms-genai.json
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms.json
Labels: category: docs, ExternalIntelPR

#31258 [LPT] BroadcastTransformation: broadcast with 2 inputs support
  src/common/low_precision_transformations/src/broadcast.cpp
  src/common/low_precision_transformations/tests/broadcast_transformation.cpp
  src/tests/ov_helpers/ov_lpt_models/src/broadcast.cpp
Labels: category: IE Tests, category: LP transformations

#30744 [PyOV] Migrate from pre-commit git hook to automatic PR for stubs generation
  .github/actions/validate_pyi_files/action.yml
  .github/actions/validate_pyi_files/compare_pyi_files.py
  .github/workflows/job_python_api_tests.yml
  .github/workflows/update_pyapi_stubs.yml
  src/bindings/python/CMakeLists.txt
  src/bindings/python/docs/stubs.md
  src/bindings/python/scripts/stub_generation_precommit.yaml
Labels: category: build, category: Python API, category: CI, category: docs, github_actions

#30636 [PyOV][25.3] Remove deprecated binary operations Node API
  src/bindings/python/src/openvino/runtime/__init__.py
  src/bindings/python/tests/test_runtime/test_deprecated_runtime.py
  src/bindings/python/tests/test_transformations/test_replacement_api.py
Labels: category: Python API

#31265 [GPU] Added optimized LoRA kernels for small prompts
  src/plugins/intel_gpu/src/kernel_selector/kernels/lora/lora_kernel_opt.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/lora_pattern.cpp
Labels: category: GPU

#31273 [PyOV][GHA] Change stubgen runner to Azure
  .github/workflows/update_pyapi_stubs.yml
Labels: category: CI, github_actions

#31276 [Protopipe] Add seed option to random generator
  src/plugins/intel_npu/tools/protopipe/README.md
  src/plugins/intel_npu/tools/protopipe/src/parser/config.cpp
  src/plugins/intel_npu/tools/protopipe/src/utils/data_providers.cpp
  src/plugins/intel_npu/tools/protopipe/src/utils/data_providers.hpp
Labels: category: docs, category: NPU

#31278 [GPU] Added optimized LoRA kernels for small prompts
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/lora.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/subgraph_tests/lora_pattern.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/dynamic_fc_horizontal_fusion.cpp
Labels: category: GPU

#31229 typehint leftovers
  .github/actions/handle_docker/images_api.py
  .github/dockerfiles/docker_tag
  setup.py
  src/bindings/python/src/openvino/package_utils.py
Labels: category: Python API, category: CI, category: dependency_changes, category: docker_env, category: dockerfiles

#31285 [CI] [GHA] Remove usage of the `deadsnakes` action
  .github/actions/setup_python/action.yml
Labels: category: CI

#31293 [CPU] Apply 'readability-const-return-type' clang-tidy remarks
  src/common/snippets/.clang-tidy
  src/plugins/intel_cpu/src/.clang-tidy
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/def_conv.cpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_convolution_primitive.hpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_fullyconnected_primitive.hpp
  src/plugins/intel_cpu/src/nodes/executors/dnnl/dnnl_matmul_primitive.hpp
  src/plugins/intel_cpu/src/nodes/executors/executor.hpp
  src/plugins/intel_cpu/src/nodes/executors/executor_implementation.hpp
  src/plugins/intel_cpu/src/nodes/eye.h
  src/plugins/intel_cpu/src/nodes/fake_quantize.h
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.hpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.h
  src/plugins/intel_cpu/src/utils/ngraph_utils.hpp
Labels: category: CPU

#31263 [GHA] Switch ARM64 Docker image base to Ubuntu 22.04
  .github/actions/common/constants.py
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/ubuntu_22_04_arm64/Dockerfile
  .github/dockerfiles/ov_test/ubuntu_22_04_arm64/Dockerfile
  .github/workflows/clang_tidy.yml
  .github/workflows/linux_arm64.yml
Labels: category: CI, github_actions, category: dockerfiles

#31281 Revert "[GPU] Fix create reshape op to avoid different input/output r…
  src/plugins/intel_gpu/src/plugin/ops/reshape.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/reshape_group_convolution.cpp
Labels: category: GPU

#31286 [bug][GPU]: RandomUniform inference results do not match TF ones on GPU
  tests/layer_tests/tensorflow_tests/test_tf_RandomUniform.py
Labels: category: TF FE

#31121 Update doc for using sync api with performance hints
  docs/articles_en/openvino-workflow/running-inference/optimize-inference/high-level-performance-hints.rst
Labels: category: docs

#31307 [CPU] Get rid of relative include directives
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_eltwise.hpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_reduce.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_utils.cpp
  src/plugins/intel_cpu/src/utils/verbose.cpp
Labels: category: CPU

#31326 [Snippets][CPU] Fixed coverities <compares unsigned to 0>
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.cpp
Labels: category: CPU

#31319 [CPU][DEBUG CAPS] Fix Windows build w/ debug caps
  src/plugins/intel_cpu/src/utils/debug_capabilities.cpp
Labels: category: CPU, platform: win32

#31322 Add note about models on Hugging Face
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
Labels: category: docs

#31069 [CPU] Added rank check in CPU/DNNL BlockedMemoryDesc constructors
  src/plugins/intel_cpu/src/memory_desc/cpu_blocked_memory_desc.cpp
  src/plugins/intel_cpu/src/memory_desc/dnnl_blocked_memory_desc.cpp
Labels: category: CPU

#31259 [TRANSFORMATIONS] Rewrite QKVProjFusion & QKVProjFusion2 using new Symbolic approach
  src/core/include/openvino/pass/pattern/op/wrap_type.hpp
  src/plugins/intel_cpu/src/transformations/cpu_opset/x64/pass/qkv_proj_fusion.cpp
Labels: category: Core, category: CPU, category: transformations, category: CPP API

#31318 [NPUW] Add output size into interconnect meta
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/group.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/repeated.cpp
  src/plugins/intel_npu/src/plugin/npuw/partitioning/online/repeated.hpp
Labels: category: NPU, category: NPUW

#31329 [GPU] Update preferred format selection for dynamic onednn convolution for VLMs
  src/plugins/intel_gpu/src/graph/layout_optimizer.cpp
Labels: category: GPU

#31144 [CPU] Fix the select OP parameter convert wrong value issue
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/nodes/kernels/jit_eltwise_common.cpp
Labels: category: CPU

#31243 [TRANSFORMATIONS] Rewrite RoPEFusionIOSlicing using new Symbolic approach
  src/common/transformations/src/transformations/common_optimizations/fuse_rotary_positional_embeddings.cpp
Labels: category: transformations

#27084 [NPU] Weights separation: reduce the size of the compiled model blob by removing most weights from it
  src/inference/include/openvino/runtime/properties.hpp
  src/plugins/intel_npu/README.md
  src/plugins/intel_npu/src/al/include/intel_npu/config/options.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/icompiler.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/network_metadata.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npu_private_properties.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/prefix.hpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/icompiler_adapter.hpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/igraph.hpp
  src/plugins/intel_npu/src/common/src/sync_infer_request.cpp
  src/plugins/intel_npu/src/compiler_adapter/include/driver_compiler_adapter.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/graph.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/mem_usage.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/plugin_compiler_adapter.hpp
  src/plugins/intel_npu/src/compiler_adapter/include/weightless_graph.hpp
  src/plugins/intel_npu/src/compiler_adapter/src/driver_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/mem_usage.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/plugin_compiler_adapter.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/weightless_graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
  src/plugins/intel_npu/src/plugin/include/metadata.hpp
  src/plugins/intel_npu/src/plugin/include/plugin.hpp
  src/plugins/intel_npu/src/plugin/include/properties.hpp
  src/plugins/intel_npu/src/plugin/src/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/src/metadata.cpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/src/plugin/src/properties.cpp
  src/plugins/intel_npu/src/utils/src/zero/zero_remote_tensor.cpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/npu_skip_func_tests.xml
  src/plugins/intel_npu/tests/unit/npu/metadata_version.cpp
  src/tests/functional/base_func_tests/include/behavior/compiled_model/compiled_model_base.hpp
Labels: category: inference, category: IE Tests, category: docs, category: CPP API, no_stale, category: NPU

#30810 [CPU][OMP] Fix for MVN performance
  cmake/features.cmake
  src/core/include/openvino/core/parallel.hpp
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/nodes/mvn.cpp
Labels: category: Core, category: CPU, category: build, category: CPP API

#31339 [GHA][CLANG-TIDY] Make workflow log less verbose in Ubuntu 22.04 scenarios
  .github/workflows/clang_tidy.yml
Labels: category: CI, github_actions

#31240 [OV JS] Migrate eslint to v9.x
  src/bindings/js/.eslintrc-global.js
  src/bindings/js/.eslintrc.js
  src/bindings/js/node/.eslintrc.js
  src/bindings/js/node/.gitignore
  src/bindings/js/node/.prettierrc
  src/bindings/js/node/CONTRIBUTING.md
  src/bindings/js/node/README.md
  src/bindings/js/node/eslint.config.js
  src/bindings/js/node/lib/addon.ts
  src/bindings/js/node/lib/index.ts
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
  src/bindings/js/node/scripts/download-runtime.js
  src/bindings/js/node/scripts/lib/binary-manager.js
  src/bindings/js/node/scripts/lib/utils.js
  src/bindings/js/node/tests/e2e/demo-electron-app/index.js
  src/bindings/js/node/tests/e2e/electron-app.test.js
  src/bindings/js/node/tests/setup.js
  src/bindings/js/node/tests/unit/basic.test.js
  src/bindings/js/node/tests/unit/compiled_model.test.js
  src/bindings/js/node/tests/unit/core.test.js
  src/bindings/js/node/tests/unit/infer_request.test.js
  src/bindings/js/node/tests/unit/model.test.js
  src/bindings/js/node/tests/unit/partial_shape.test.js
  src/bindings/js/node/tests/unit/pre_post_processor.test.js
  src/bindings/js/node/tests/unit/read_model.test.js
  src/bindings/js/node/tests/unit/tensor.test.js
  src/bindings/js/node/tests/utils.js
  src/bindings/js/node/tsconfig.json
Labels: category: docs, category: JS API

#31068 [CPU] fix int8 models crash issue during inference on the GNR platform with fp16 inference_precision
  src/plugins/intel_cpu/src/nodes/executors/convolution_implementations.cpp
Labels: category: CPU

#31287 Fix SDPAFusion: attention mask rank > inputs ranks
  src/common/transformations/src/transformations/common_optimizations/sdpa_fusion.cpp
  src/common/transformations/tests/common_optimizations/sdpa_fusion_test.cpp
Labels: category: transformations

#31219 [Snippets] Optimize register assignment linear scan algorithm
  src/common/snippets/src/lowered/pass/assign_registers.cpp
Labels: category: CPU

#31066 [GPU] Fix customer model(mobileSAM) crash issue.
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_quantization.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/eltwise_merge.cpp
Labels: category: GPU

#31369 [NPU] Fix the compiler build after merging the "weights separation" changes
  src/plugins/intel_npu/src/al/include/intel_npu/icompiler.hpp
Labels: category: NPU

#29039 [NPUW] Make weights memory allocation sequential and ordered
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.cpp
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.hpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.hpp
Labels: category: NPU, category: NPUW

#31356 [GPU] Support new infra fused ops in dynamic case
  src/plugins/intel_gpu/src/graph/common_utils/jitter.cpp
  src/plugins/intel_gpu/src/graph/common_utils/jitter.hpp
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/utils/fused_ops_jitter.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl_v2/utils/fused_ops_jitter.hpp
  src/plugins/intel_gpu/tests/unit/fusions/lora_fusion_test.cpp
Labels: category: GPU

#31268 [CPU][RV64] Implement jit_elu_emitter
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, ExternalPR, platform: risc-v

#31380 [PyOV] Use nightly OV wheels for auto stubs generation
  .github/workflows/update_pyapi_stubs.yml
Labels: category: CI, github_actions

#31314 [OV JS] Update openvino-node version to 2025.3.0
  samples/js/node/README.md
  samples/js/node/package-lock.json
  samples/js/node/package.json
  src/bindings/js/node/package-lock.json
  src/bindings/js/node/package.json
  src/bindings/js/node/scripts/lib/binary-manager.js
Labels: category: samples, category: docs, category: JS API

#31373 Change plugin::import_model to get constant ov::Tensor
  src/inference/dev_api/openvino/runtime/iplugin.hpp
  src/inference/src/dev/iplugin.cpp
  src/inference/src/dev/plugin.cpp
  src/inference/src/dev/plugin.hpp
  src/inference/tests/functional/caching_test.cpp
  src/plugins/auto/src/plugin.cpp
  src/plugins/auto/src/plugin.hpp
  src/plugins/auto/tests/functional/behavior/auto_func_test.cpp
  src/plugins/auto_batch/src/plugin.cpp
  src/plugins/auto_batch/src/plugin.hpp
  src/plugins/auto_batch/tests/unit/mock_common.hpp
  src/plugins/hetero/src/plugin.cpp
  src/plugins/hetero/src/plugin.hpp
  src/plugins/hetero/tests/functional/hetero_tests.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/src/plugin.h
  src/plugins/intel_gpu/include/intel_gpu/plugin/plugin.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
  src/plugins/intel_npu/src/plugin/include/plugin.hpp
  src/plugins/intel_npu/src/plugin/src/plugin.cpp
  src/plugins/intel_npu/tests/functional/behavior/npuw/mocks/mock_plugins.hpp
  src/plugins/proxy/src/plugin.cpp
  src/plugins/proxy/src/plugin.hpp
  src/plugins/proxy/tests/proxy_tests.cpp
  src/plugins/template/src/plugin.cpp
  src/plugins/template/src/plugin.hpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/file_utils.hpp
  src/tests/test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.cpp
  src/tests/test_utils/unit_test_utils/mocks/mock_engine/mock_plugin.hpp
  src/tests/test_utils/unit_test_utils/mocks/openvino/runtime/mock_iplugin.hpp
Labels: category: inference, category: IE Tests, category: GPU, category: CPU, category: HETERO, category: TEMPLATE, category: AUTO, category: AUTO BATCH, category: PROXY, category: NPU, category: NPUW

#31381 [GPU] Disable LoRA_HorizontalFusion tests for Linux
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/dynamic_fc_horizontal_fusion.cpp
Labels: category: GPU

#31371 [GPU] Handle 3D tensors by expanding to 4D in onednn reduce
  src/plugins/intel_gpu/src/graph/impls/onednn/reduce_onednn.cpp
Labels: category: GPU

#31364 [CPU][RV64] Implement jit_hsigmoid_emitter and jit_hswish_emitter
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, ExternalPR, platform: risc-v

#31394 [Snippets] Fix address sanitizer errors reported on PortConnector usage
  src/common/snippets/src/lowered/pass/init_live_ranges.cpp
  src/common/snippets/src/lowered/pass/reduce_decomposition.cpp
Labels: category: CPU

#31421 Added note that recent OpenVINO releases currently unavailable via Homebrew
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-brew.rst
Labels: category: docs

#31422 Added note that recent OpenVINO releases currently unavailable via Homebrew
  docs/articles_en/about-openvino/release-notes-openvino.rst
  docs/articles_en/get-started/install-openvino/install-openvino-brew.rst
Labels: category: docs

#30923 [NPU] Dynamic batching via BatchMode::PLUGIN
  src/plugins/intel_npu/src/backend/include/zero_infer_request.hpp
  src/plugins/intel_npu/src/backend/include/zero_pipeline.hpp
  src/plugins/intel_npu/src/backend/src/zero_infer_request.cpp
  src/plugins/intel_npu/src/backend/src/zero_pipeline.cpp
  src/plugins/intel_npu/src/common/include/intel_npu/common/igraph.hpp
  src/plugins/intel_npu/src/common/src/igraph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/graph.cpp
  src/plugins/intel_npu/src/compiler_adapter/src/ze_graph_ext_wrappers.cpp
  src/plugins/intel_npu/src/utils/include/intel_npu/utils/zero/zero_utils.hpp
  src/plugins/intel_npu/tests/functional/behavior/batched_tensors_tests/batched_run.cpp
  src/plugins/intel_npu/tests/functional/behavior/batched_tensors_tests/batched_run.hpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.cpp
  src/plugins/intel_npu/tests/functional/behavior/infer_request_run.hpp
  src/plugins/intel_npu/tests/functional/shared_tests_instances/npu_skip_func_tests.xml
Labels: category: NPU

#31407 [CLANG-TIDY] Suppress unknown warning options
  cmake/developer_package/plugins/plugins.cmake
Labels: category: build

#31301 [CPU] Apply 'bugprone-narrowing-conversions' and 'cppcoreguidelines-narrowing-conversions' clang-tidy remarks
  src/plugins/intel_cpu/src/.clang-tidy
  src/plugins/intel_cpu/src/dnnl_postops_composer_legacy.cpp
  src/plugins/intel_cpu/src/emitters/plugin/x64/jit_dnnl_ext_emitters.hpp
  src/plugins/intel_cpu/src/graph_dumper.cpp
  src/plugins/intel_cpu/src/memory_control.cpp
  src/plugins/intel_cpu/src/memory_desc/blocked_memory_desc.cpp
  src/plugins/intel_cpu/src/nodes/bin_conv.cpp
  src/plugins/intel_cpu/src/nodes/common/cpu_convert.cpp
  src/plugins/intel_cpu/src/nodes/ctc_greedy_decoder.cpp
  src/plugins/intel_cpu/src/nodes/ctc_loss.cpp
  src/plugins/intel_cpu/src/nodes/def_conv.cpp
  src/plugins/intel_cpu/src/nodes/detection_output.cpp
  src/plugins/intel_cpu/src/nodes/executors/interpolate.cpp
  src/plugins/intel_cpu/src/nodes/experimental_detectron_detection_output.cpp
  src/plugins/intel_cpu/src/nodes/experimental_detectron_detection_output.h
  src/plugins/intel_cpu/src/nodes/experimental_detectron_generate_proposals_single_image.cpp
  src/plugins/intel_cpu/src/nodes/experimental_detectron_priorgridgenerator.cpp
  src/plugins/intel_cpu/src/nodes/experimental_detectron_priorgridgenerator.h
  src/plugins/intel_cpu/src/nodes/experimental_detectron_roifeatureextractor.cpp
  src/plugins/intel_cpu/src/nodes/extract_image_patches.cpp
  src/plugins/intel_cpu/src/nodes/fake_quantize.cpp
  src/plugins/intel_cpu/src/nodes/gather.cpp
  src/plugins/intel_cpu/src/nodes/generate_proposals.cpp
  src/plugins/intel_cpu/src/nodes/interpolate.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_kernel.cpp
  src/plugins/intel_cpu/src/nodes/log_softmax.cpp
  src/plugins/intel_cpu/src/nodes/lrn.cpp
  src/plugins/intel_cpu/src/nodes/matrix_nms.cpp
  src/plugins/intel_cpu/src/nodes/multiclass_nms.cpp
  src/plugins/intel_cpu/src/nodes/mvn.cpp
  src/plugins/intel_cpu/src/nodes/non_max_suppression.cpp
  src/plugins/intel_cpu/src/nodes/one_hot.cpp
  src/plugins/intel_cpu/src/nodes/priorbox.cpp
  src/plugins/intel_cpu/src/nodes/priorbox_clustered.cpp
  src/plugins/intel_cpu/src/nodes/psroi_pooling.cpp
  src/plugins/intel_cpu/src/nodes/random_uniform.cpp
  src/plugins/intel_cpu/src/nodes/rdft.cpp
  src/plugins/intel_cpu/src/nodes/roi_align.cpp
  src/plugins/intel_cpu/src/nodes/roi_pooling.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/scatter_update.cpp
  src/plugins/intel_cpu/src/nodes/shuffle_channels.cpp
  src/plugins/intel_cpu/src/nodes/tensoriterator.cpp
  src/plugins/intel_cpu/src/utils/codec_xor.cpp
Labels: category: CPU

#31346 [Snippets][CPU] Fixed out_offset calculation for separate input repacking
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/snippets/matmul.cpp
Labels: category: CPU

#31363 [CPU][RV64] Implement jit_mish_emitter
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, ExternalPR, platform: risc-v

#31411 [CPU] fix segment fault issue during model Compile
  src/plugins/intel_cpu/src/graph_optimizer.cpp
Labels: category: CPU

#31413 Update SDPA softmax axis pattern to -1 or (ranksize -1)
  src/common/transformations/src/transformations/common_optimizations/sdpa_fusion.cpp
  src/common/transformations/tests/common_optimizations/sdpa_fusion_test.cpp
Labels: category: transformations

#31410 [GPU] Support pci_info / device_id metric
  src/plugins/intel_gpu/include/intel_gpu/runtime/internal_properties.hpp
  src/plugins/intel_gpu/src/plugin/plugin.cpp
Labels: category: GPU

#31417 Bump minimum cmake version
  CMakeLists.txt
Labels: category: build

#31355 Fix TransposeMatmulTranspose fusion for cases where Matmul is connected to more than one node.
  src/plugins/intel_gpu/src/plugin/transformations/transpose_fusion.cpp
  src/plugins/intel_gpu/tests/unit/transformations/transpose_matmul_fusion_test.cpp
Labels: category: GPU, ExternalPR

#31456 [Docs] Fix genai typo and add npu note
  docs/articles_en/openvino-workflow-generative/inference-with-genai.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai/inference-with-genai-on-npu.rst
Labels: category: docs

#31334 [GPU] Fix GPU Plugin for Leaky Relu with 1D Slope Input Parameter
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
Labels: category: GPU, ExternalIntelPR

#31442 Fix typo in inference-with-genai.rst
  docs/articles_en/openvino-workflow-generative/inference-with-genai.rst
Labels: category: docs, ExternalPR

#31451 [GPU] Set ExecutionFlags::SHAPE_CHANGED to true when subgraph input changes
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/scatter_nd_update_gpu_test.cpp
Labels: category: GPU

#31412 [Snippets][CPU] Extend supported types in BroadcastMove and BroadcastLoad operations on ARM
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_memory_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_memory_emitters.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, platform: arm

#31311 [PyOV] Performance improvement for free-threaded python
  src/bindings/python/src/openvino/opset9/ops.py
  src/bindings/python/src/pyopenvino/core/async_infer_queue.cpp
  src/bindings/python/src/pyopenvino/core/common.cpp
  src/bindings/python/src/pyopenvino/core/compiled_model.cpp
  src/bindings/python/src/pyopenvino/core/core.cpp
  src/bindings/python/src/pyopenvino/core/infer_request.cpp
  src/bindings/python/src/pyopenvino/core/remote_context.cpp
  src/bindings/python/src/pyopenvino/frontend/extension.cpp
  src/bindings/python/src/pyopenvino/graph/model.cpp
  src/bindings/python/src/pyopenvino/graph/op.cpp
  src/bindings/python/src/pyopenvino/graph/op_extension.cpp
  src/bindings/python/src/pyopenvino/graph/preprocess/pre_post_process.cpp
  src/bindings/python/src/pyopenvino/utils/utils.cpp
  src/bindings/python/src/pyopenvino/utils/utils.hpp
  src/bindings/python/tests/test_graph/test_custom_op.py
Labels: category: Python API

#31460 NPUW: Three-model pipeline
  src/plugins/intel_npu/src/al/include/intel_npu/config/npuw.hpp
  src/plugins/intel_npu/src/al/include/intel_npu/npuw_private_properties.hpp
  src/plugins/intel_npu/src/al/src/config/npuw.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.hpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.hpp
Labels: category: NPU, category: NPUW

#31134 Fix sdl compile options
  cmake/developer_package/compile_flags/sdl.cmake
  cmake/toolchains/mt.runtime.win32.toolchain.cmake
  src/core/CMakeLists.txt
  src/inference/CMakeLists.txt
Labels: category: inference, category: Core, category: build

#31423 [GPU] Disable onednn FC dynamic quantization for 4D FC
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
Labels: category: GPU

#31343 [GPU] Enable by_channel mode for key cache compression
  src/inference/dev_api/openvino/runtime/internal_properties.hpp
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/internal_properties.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/common/concat_transpose_sdp_transpose.cpp
  src/plugins/intel_gpu/include/intel_gpu/primitives/paged_attention.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/options.inl
  src/plugins/intel_gpu/src/graph/impls/ocl/paged_attention.cpp
  src/plugins/intel_gpu/src/graph/paged_attention.cpp
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_kv_cache_update_ref.cl
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/pa_sdpa_opt.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_kv_cache_update_kernel_ref.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_kv_cache_update_kernel_ref.h
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/pa_sdpa_kernel_opt.cpp
  src/plugins/intel_gpu/src/kernel_selector/kernels/sdpa/sdpa_kernel_base.h
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
  src/plugins/intel_gpu/src/plugin/ops/paged_attention.cpp
  src/plugins/intel_gpu/src/plugin/transformations_pipeline.cpp
  src/plugins/intel_gpu/src/runtime/execution_config.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/paged_attention_gpu_test.cpp
Labels: category: inference, category: GPU, category: CPU

#31104 [ONNX] Added QuantizeLinear-21 operator with blocksize support
  src/frontends/onnx/docs/supported_ops.md
  src/frontends/onnx/frontend/src/op/quantize_linear.cpp
  src/frontends/onnx/frontend/src/utils/common.cpp
  src/frontends/onnx/frontend/src/utils/common.hpp
  src/frontends/onnx/tests/models/quantization/quantize_linear_blocksize.prototxt
  src/frontends/onnx/tests/onnx_import_quant.in.cpp
Labels: category: docs, category: ONNX FE

#31431 [CPU][RV64] Suppress SHL library warnings
  src/plugins/intel_cpu/thirdparty/CMakeLists.txt
Labels: category: CPU, category: build

#31489 Ovms 2025.2 new results (#31267)
  docs/articles_en/about-openvino/performance-benchmarks.rst
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms-genai.json
  docs/sphinx_setup/_static/benchmarks_files/data/graph-data-ovms.json
Labels: category: docs

#31493 [NPUW] Fix importing weightless blob with bf16 constants
  src/plugins/intel_npu/src/plugin/CMakeLists.txt
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.hpp
  src/plugins/intel_npu/tests/unit/CMakeLists.txt
  src/plugins/intel_npu/tests/unit/npuw/serialization.cpp
Labels: category: build, category: NPU, category: NPUW

#31398 [GPU] Use tensor value_type int64_t.
  src/plugins/intel_gpu/include/intel_gpu/primitives/roll.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/layout.hpp
  src/plugins/intel_gpu/include/intel_gpu/runtime/tensor.hpp
  src/plugins/intel_gpu/src/graph/debug_helper.cpp
  src/plugins/intel_gpu/src/graph/experimental_detectron_topk_rois.cpp
  src/plugins/intel_gpu/src/graph/gemm.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_buffer_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_padding.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/prepare_primitive_fusing.cpp
  src/plugins/intel_gpu/src/graph/graph_optimizer/remove_redundant_reorders.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/eltwise.cpp
  src/plugins/intel_gpu/src/graph/impls/ocl/roll.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.cpp
  src/plugins/intel_gpu/src/graph/impls/onednn/utils.hpp
  src/plugins/intel_gpu/src/graph/include/sliding_window_utils.hpp
  src/plugins/intel_gpu/src/graph/matrix_nms.cpp
  src/plugins/intel_gpu/src/graph/multiclass_nms.cpp
  src/plugins/intel_gpu/src/graph/prior_box.cpp
  src/plugins/intel_gpu/src/graph/reduce.cpp
  src/plugins/intel_gpu/src/graph/reshape.cpp
  src/plugins/intel_gpu/src/plugin/multi_tensor_variable_state.cpp
  src/plugins/intel_gpu/src/plugin/ops/batch_to_space.cpp
  src/plugins/intel_gpu/src/plugin/ops/constant.cpp
  src/plugins/intel_gpu/src/plugin/ops/roll.cpp
  src/plugins/intel_gpu/src/plugin/ops/space_to_batch.cpp
  src/plugins/intel_gpu/src/plugin/ops/strided_slice.cpp
  src/plugins/intel_gpu/src/plugin/variable_state.cpp
  src/plugins/intel_gpu/tests/unit/fusions/convolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/fusions/deconvolution_fusion_test.cpp
  src/plugins/intel_gpu/tests/unit/module_tests/layout_test.cpp
  src/plugins/intel_gpu/tests/unit/passes/test_module_fusing_reorder.cpp
  src/plugins/intel_gpu/tests/unit/shape_infer/reshape_si_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/border_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/convolution_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/depth_concatenate_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/dft_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eltwise_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/eye.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/gemm_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/group_normalization_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/permute_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reorder_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/reshape_gpu_test.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/roll_gpu_test.cpp
Labels: category: GPU

#31054 [CPU][PA]Enable SageAttn for PagedAttn
  src/plugins/intel_cpu/src/config.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/internal_properties.hpp
  src/plugins/intel_cpu/src/memory_state.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/brgemm_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/brgemm_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/attn_quant_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/cache_rotation.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa_common.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/paged_attn_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/sage_attn.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/brgemm_kernel.hpp
  src/plugins/intel_cpu/src/nodes/paged_attn.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
  src/plugins/intel_cpu/src/utils/plain_tensor.hpp
  src/plugins/intel_cpu/tests/functional/custom/subgraph_tests/src/x64/paged_attn.cpp
  src/plugins/intel_cpu/tests/unit/brgemm_executor_test.cpp
Labels: category: CPU

#31401 [GPU] remove outdated comment
  src/plugins/intel_gpu/src/graph/impls/onednn/fully_connected_onednn.cpp
Labels: category: GPU

#31500 [GHA][PyOV] Create automatic stubs generation PRs only in the original repo
  .github/workflows/update_pyapi_stubs.yml
Labels: category: CI, github_actions

#31357 [CPU] Return static empty brgemm_desc object for Snippets debug mode
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm.hpp
Labels: category: CPU

#31502 [DOC] Export Keras 3 Model to OpenVINO IR
  docs/articles_en/openvino-workflow/model-preparation/convert-model-keras.rst
Labels: category: docs, ExternalPR

#31505 [Snippets][CPU] Apply 'google-readability-casting' clang-tidy remarks
  src/common/snippets/.clang-tidy
  src/common/snippets/src/lowered/pass/optimize_domain.cpp
  src/common/snippets/src/lowered/pass/reduce_decomposition.cpp
  src/plugins/intel_cpu/src/.clang-tidy
  src/plugins/intel_cpu/src/emitters/snippets/x64/kernel_executors/brgemm_copy_b.cpp
  src/plugins/intel_cpu/src/graph_dumper.cpp
  src/plugins/intel_cpu/src/nodes/bin_conv.cpp
  src/plugins/intel_cpu/src/nodes/common/cpu_convert.cpp
  src/plugins/intel_cpu/src/nodes/common/permute_kernel.cpp
  src/plugins/intel_cpu/src/nodes/common/softmax.cpp
  src/plugins/intel_cpu/src/nodes/def_conv.cpp
  src/plugins/intel_cpu/src/nodes/executors/kleidiai/kleidiai_mm.cpp
  src/plugins/intel_cpu/src/nodes/experimental_detectron_roifeatureextractor.cpp
  src/plugins/intel_cpu/src/nodes/extract_image_patches.cpp
  src/plugins/intel_cpu/src/nodes/fake_quantize.cpp
  src/plugins/intel_cpu/src/nodes/interaction.cpp
  src/plugins/intel_cpu/src/nodes/interpolate.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.hpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_generator.hpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_uni_eltwise_generic.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/dft_uni_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/gather_uni_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/grid_sample.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/jit_kernel_base.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/jit_matmul_small.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/jit_uni_eltwise_generic.hpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/mlp_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/x64/rdft_kernel.hpp
  src/plugins/intel_cpu/src/nodes/mvn.cpp
  src/plugins/intel_cpu/src/nodes/normalize.cpp
  src/plugins/intel_cpu/src/nodes/pad.cpp
  src/plugins/intel_cpu/src/nodes/reduce.cpp
  src/plugins/intel_cpu/src/nodes/region_yolo.cpp
  src/plugins/intel_cpu/src/nodes/roi_align.cpp
  src/plugins/intel_cpu/src/nodes/roi_pooling.cpp
  src/plugins/intel_cpu/src/nodes/topk.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/expressions/brgemm_copy_b_buffer_expressions.cpp
  src/plugins/intel_cpu/src/transformations/snippets/x64/pass/lowered/external_repacking_adjuster.cpp
  src/plugins/intel_cpu/src/utils/cpu_utils.hpp
Labels: category: CPU

#31528 [GPU] Added make_jit_constant override for CM kernels
  src/plugins/intel_gpu/src/graph/impls/cm/primitive_cm_base.hpp
Labels: category: GPU

#31515 [GPU] Fix memory reallocation logic for optimized out concat
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/tests/unit/passes/prepare_buffer_fusing_test.cpp
  src/plugins/intel_gpu/tests/unit/test_utils/primitive_inst_test_helper.h
Labels: category: GPU

#31526 [GPU] arg max min use internal buffer for large result buffer
  src/plugins/intel_gpu/src/kernel_selector/cl_kernels/arg_max_min_axis.cl
  src/plugins/intel_gpu/src/kernel_selector/kernels/arg_max_min/arg_max_min_kernel_axis.cpp
  src/plugins/intel_gpu/tests/unit/test_cases/arg_max_gpu_test.cpp
Labels: category: GPU

#31480 Add -no_warmup option to benchmark_app
  docs/articles_en/get-started/learn-openvino/openvino-samples/benchmark-tool.rst
  samples/cpp/benchmark_app/benchmark_app.hpp
  samples/cpp/benchmark_app/main.cpp
  tests/samples_tests/smoke_tests/test_benchmark_app.py
  tools/benchmark_tool/openvino/tools/benchmark/main.py
  tools/benchmark_tool/openvino/tools/benchmark/parameters.py
Labels: category: samples, category: docs, ExternalPR, category: tools

#31514 [CPU] Revive aarch64 clang-tidy checks
  .github/dockerfiles/docker_tag
  .github/dockerfiles/ov_build/ubuntu_22_04_arm64/Dockerfile
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_gemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_gemm_copy_b_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_gemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_gemm_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_memory_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_memory_emitters.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_snippets_emitters.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/kernel_executors/gemm_copy_b.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_deconv.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_eltwise.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_ie_scheduler.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_interpolate.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_mvn.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_pooling.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_pooling.hpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_transpose.cpp
  src/plugins/intel_cpu/src/nodes/executors/acl/acl_transpose.hpp
  src/plugins/intel_cpu/src/nodes/executors/convolution_implementations.cpp
  src/plugins/intel_cpu/src/nodes/executors/eltwise_stateful_executor.cpp
  src/plugins/intel_cpu/src/nodes/executors/kleidiai/kleidiai_mm.cpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/brgemm_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/aarch64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/src/nodes/kernels/acl/gemm_kernel.cpp
  src/plugins/intel_cpu/src/nodes/kernels/acl/gemm_kernel.hpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa_common.cpp
  src/plugins/intel_cpu/src/nodes/scaled_attn.cpp
  src/plugins/intel_cpu/src/nodes/subgraph.cpp
  src/plugins/intel_cpu/src/transformations/transformation_pipeline.cpp
Labels: category: CPU, category: CI, category: dockerfiles

#31519 [CLANG-TIDY] Make ENABLE_CLANG_TIDY flag fatal on clang-tidy detection failures
  cmake/developer_package/clang_tidy/clang_tidy.cmake
Labels: category: build

#31533 [NPU] Enabling inferences on weightless compiled models when older drivers are used
  src/plugins/intel_npu/src/compiler_adapter/src/weightless_graph.cpp
Labels: category: NPU

#31189 [NPU] add undefined type test for npu driver compatibility
  src/core/tests/pass/serialization/serialize.cpp
  src/plugins/intel_npu/tests/functional/behavior/compile_and_infer_different_element_type.cpp
  src/plugins/intel_npu/tests/functional/behavior/compile_and_infer_different_element_type.hpp
Labels: category: Core, category: NPU

#31325 [CPU]Fix code reported by coverity
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/executor_pa.cpp
  src/plugins/intel_cpu/src/nodes/kernels/scaled_attn/paged_attn_kernel.hpp
Labels: category: CPU

#31327 ov::Core::import_model(ov::Tensor ...)
  src/inference/dev_api/openvino/runtime/icore.hpp
  src/inference/dev_api/openvino/runtime/iplugin.hpp
  src/inference/include/openvino/runtime/core.hpp
  src/inference/src/cpp/core.cpp
  src/inference/src/dev/core_impl.cpp
  src/inference/src/dev/core_impl.hpp
  src/inference/src/dev/iplugin.cpp
  src/inference/tests/functional/caching_test.cpp
  src/plugins/auto/tests/functional/shared_tests_instances/skip_tests_config.cpp
  src/plugins/auto_batch/tests/functional/skip_tests_config.cpp
  src/plugins/hetero/tests/functional/skip_tests_config.cpp
  src/plugins/template/tests/functional/skip_tests_config.cpp
  src/tests/functional/base_func_tests/include/behavior/compiled_model/compiled_model_base.hpp
  src/tests/test_utils/unit_test_utils/mocks/openvino/runtime/mock_icore.hpp
Labels: category: inference, category: IE Tests, category: HETERO, category: TEMPLATE, category: AUTO, category: CPP API, category: AUTO BATCH

#31352 [TRANSFORMATIONS] Rewrite SDPAScaleFusion using new Symbolic approach
  src/common/transformations/include/transformations/common_optimizations/sdpa_scale_fusion.hpp
  src/common/transformations/src/transformations/common_optimizations/sdpa_scale_fusion.cpp
Labels: category: transformations

#31375 [Snippets][CPU] Support static and dynamic offsets in JIT Gemm and GemmCopyB emitters
  src/plugins/intel_cpu/src/emitters/plugin/aarch64/jit_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_gemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_gemm_copy_b_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_gemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/jit_gemm_emitter.hpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/aarch64/utils.hpp
  src/plugins/intel_cpu/src/emitters/snippets/utils/utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/utils/utils.hpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_copy_b_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/jit_brgemm_emitter.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/utils.cpp
  src/plugins/intel_cpu/src/emitters/snippets/x64/utils.hpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/skip_tests_config.cpp
Labels: category: CPU, platform: arm

#31474 [NPUW] Reduce memory consumption during import using WEIGHTS_PATH
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/compiled_model.hpp
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.cpp
  src/plugins/intel_npu/src/plugin/npuw/lazy_tensor.hpp
  src/plugins/intel_npu/src/plugin/npuw/llm_compiled_model.cpp
  src/plugins/intel_npu/src/plugin/npuw/llm_infer_request.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.cpp
  src/plugins/intel_npu/src/plugin/npuw/serialization.hpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.cpp
  src/plugins/intel_npu/src/plugin/npuw/weights_bank.hpp
  src/plugins/intel_npu/tests/unit/npuw/serialization.cpp
Labels: category: NPU, category: NPUW

#31541 [CPU] [RISCV64] Just-in-time emitter for GeluErf operation
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.cpp
  src/plugins/intel_cpu/src/emitters/plugin/riscv64/jit_eltwise_emitters.hpp
  src/plugins/intel_cpu/src/nodes/executors/jit/eltwise.cpp
  src/plugins/intel_cpu/src/nodes/kernels/riscv64/jit_uni_eltwise_generic.cpp
  src/plugins/intel_cpu/tests/functional/custom/single_layer_tests/classes/activation.cpp
Labels: category: CPU, ExternalPR, platform: risc-v

#31546 [PyOV] Rename free threaded Python CMake option
  cmake/developer_package/cross_compile/python_helpers.cmake
  cmake/features.cmake
  src/bindings/python/src/pyopenvino/CMakeLists.txt
  src/bindings/python/src/pyopenvino/frontend/frontend_module.cmake
Labels: category: build, category: Python API

#31547 [TESTS] LLM builders are moved from GPU to common builders
  src/plugins/intel_gpu/tests/common/subgraphs_builders.hpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache.cpp
  src/plugins/intel_gpu/tests/functional/subgraph_tests/dynamic/kv_cache_sdpa.cpp
  src/plugins/intel_gpu/tests/unit/transformations/sdpa_opt_test.cpp
  src/tests/test_utils/common_test_utils/include/common_test_utils/subgraph_builders/llm_builders.hpp
  src/tests/test_utils/common_test_utils/src/subgraph_builders/llm_builders.cpp
Labels: category: IE Tests, category: GPU
